<%= form_for(@process_data_line) do |f| %>
  <% if @process_data_line.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@process_data_line.errors.count, "error") %> prohibited this process_data_line from being saved:</h2>

      <ul>
      <% @process_data_line.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="span4">
    <strong>Event</strong>
  </div>
  <div class="span1">
    <strong>Reception</strong>
  </div>
  <div class="span3">
    <strong>Optional relation previous event ID</strong>
  </div>
  <div class="span2">
    <strong>Optional document</strong>
  </div>    
</div>

<div class="row">
  <div class="span4">
    <%= f.hidden_field :process_data_id %>
    <%= f.hidden_field :user_id %>
    <%= f.hidden_field :status %>
    <%= f.select :process_data_sub_event_id, options_for_select(@events.collect{|e|["#{e.process_data_event.name} - #{e.name}",e.id]},:process_data_sub_event_id),{},{:class => 'span4'} %>
  </div>
  <div class="span1">
    <%= f.number_field :reception_id ,:class => 'span1'%>
  </div>
  <div class="span3 input-append">
    <%= f.number_field :relation_line_id ,:class => 'span1'%>
    <%= f.select :type_relation, options_for_select(ProcessDataLine.line_relations,:type_relation),{:include_blank => true},{:class => 'span2',:data => {:placeholder => 'relation type'}} %>
  </div>
  <div class="span3">
    <%= f.number_field :document_id,:class => 'span3' %>
  </div>
</div>

<div class="row">
  <div class="span11">
    <strong>Log forward</strong>
  </div>
</div>

<div class="row">
  <div class="span11">
    <%= f.text_area :log_forward,:class => 'span11',:rows => 5 %>
  </div>
</div>

<div class="row">
  <div class="span11">
    <strong>Log backward</strong>
  </div>
</div>

<div class="row">
  <div class="span11">
    <%= f.text_area :log_backward,:class => 'span11',:rows => 5 %>
  </div>
</div>
  <div class="actions">
    <%= f.submit "Save",:class => 'btn btn-primary' %>
  </div>
<% end %>

<script type="text/javascript">
  $('#process_data_line_process_data_sub_event_id').chosen()
  $('#process_data_line_type_relation').chosen()
</script>