<h1>Listing process_data_lines</h1>

<table>
  <tr>
    <th>Process data</th>
    <th>Process data sub event</th>
    <th>Reception</th>
    <th>User</th>
    <th>Relation line</th>
    <th>Type relation</th>
    <th>Log forward</th>
    <th>Log backward</th>
    <th>Document</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @process_data_lines.each do |process_data_line| %>
  <tr>
    <td><%= process_data_line.process_data_id %></td>
    <td><%= process_data_line.process_data_sub_event_id %></td>
    <td><%= process_data_line.reception_id %></td>
    <td><%= process_data_line.user_id %></td>
    <td><%= process_data_line.relation_line_id %></td>
    <td><%= process_data_line.type_relation %></td>
    <td><%= process_data_line.log_forward %></td>
    <td><%= process_data_line.log_backward %></td>
    <td><%= process_data_line.document_id %></td>
    <td><%= process_data_line.status %></td>
    <td><%= link_to 'Show', process_data_line %></td>
    <td><%= link_to 'Edit', edit_process_data_line_path(process_data_line) %></td>
    <td><%= link_to 'Destroy', process_data_line, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Process data line', new_process_data_line_path %>
