<p id="notice"><%= notice %></p>

<p>
  <b>Process data:</b>
  <%= @process_data_line.process_data_id %>
</p>

<p>
  <b>Process data sub event:</b>
  <%= @process_data_line.process_data_sub_event_id %>
</p>

<p>
  <b>Reception:</b>
  <%= @process_data_line.reception_id %>
</p>

<p>
  <b>User:</b>
  <%= @process_data_line.user_id %>
</p>

<p>
  <b>Relation line:</b>
  <%= @process_data_line.relation_line_id %>
</p>

<p>
  <b>Type relation:</b>
  <%= @process_data_line.type_relation %>
</p>

<p>
  <b>Log forward:</b>
  <%= @process_data_line.log_forward %>
</p>

<p>
  <b>Log backward:</b>
  <%= @process_data_line.log_backward %>
</p>

<p>
  <b>Document:</b>
  <%= @process_data_line.document_id %>
</p>

<p>
  <b>Status:</b>
  <%= @process_data_line.status %>
</p>


<%= link_to 'Edit', edit_process_data_line_path(@process_data_line) %> |
<%= link_to 'Back', process_data_lines_path %>
