<%= form_for(@allocation_exception) do |f| %>
  <% if @allocation_exception.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@allocation_exception.errors.count, "error") %> prohibited this allocation_exception from being saved:</h2>

      <ul>
      <% @allocation_exception.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :conversion_id %><br />
    <%= f.number_field :conversion_id %>
  </div>
  <div class="field">
    <%= f.label :exception_type %><br />
    <%= f.text_field :exception_type %>
  </div>
  <div class="field">
    <%= f.label :scope %><br />
    <%= f.text_field :scope %>
  </div>
  <div class="field">
    <%= f.label :removed_yn %><br />
    <%= f.check_box :removed_yn %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
