<h1>Listing allocation_exceptions</h1>

<table>
  <tr>
    <th>Conversion</th>
    <th>Exception type</th>
    <th>Scope</th>
    <th>Removed yn</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @allocation_exceptions.each do |allocation_exception| %>
  <tr>
    <td><%= allocation_exception.conversion_id %></td>
    <td><%= allocation_exception.exception_type %></td>
    <td><%= allocation_exception.scope %></td>
    <td><%= allocation_exception.removed_yn %></td>
    <td><%= link_to 'Show', allocation_exception %></td>
    <td><%= link_to 'Edit', edit_allocation_exception_path(allocation_exception) %></td>
    <td><%= link_to 'Destroy', allocation_exception, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Allocation exception', new_allocation_exception_path %>
