<p id="notice"><%= notice %></p>

<p>
  <b>Conversion:</b>
  <%= @allocation_exception.conversion_id %>
</p>

<p>
  <b>Exception type:</b>
  <%= @allocation_exception.exception_type %>
</p>

<p>
  <b>Scope:</b>
  <%= @allocation_exception.scope %>
</p>

<p>
  <b>Removed yn:</b>
  <%= @allocation_exception.removed_yn %>
</p>


<%= link_to 'Edit', edit_allocation_exception_path(@allocation_exception) %> |
<%= link_to 'Back', allocation_exceptions_path %>
