<div class="row">
  <div class="span1">
    <div class="btn-group">
      <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
        Action
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to({:controller => :continents, :action => 'show', :id => continent.id}) do %>
          <i class="icon-info-sign"></i>&nbsp;show
          <% end %>
        </li>
        <li>
          <%= link_to({:controller => :continents, :action => 'edit', :id => continent.id}) do %>
          <i class="icon-edit"></i>&nbsp;edit
          <%  end %>
        </li>
      </ul>
    </div>
  </div>  
  <div class="span3"><%= continent.name %>&nbsp;</div>
  <div class="span1"><%= continent.continent_code %>&nbsp;</div>
  <div class="span1">
    <% if continent.isactive 
      active_icon_class = 'icon-check'
    else 
      active_icon_class = 'icon-minus'
    end %>
    <i class="icon <%=  active_icon_class %>">&nbsp;</i>
  </div>
</div>