<%= form_for(@continent) do |f| %>
  <% if @continent.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@continent.errors.count, "error") %> prohibited this country from being saved:</h4>
      <ul>
        <% @continent.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="span9 bounded">
      <div class="row">
        <div class="span3"><strong>Name</strong></div>
        <div class="span1"><strong>Code-3</strong></div>
        <div class="span1"><strong>Dakota ID</strong>&nbsp;<i class="icon icon-refresh" style="color:#008AFF" title="Generate latest ID" id="generateDakotaId"></i></div>
        <div class="span1"><strong>Population</strong></div>
        <div class="span1"><strong>Active</strong></div>
        <div class="span2"><strong>Ignore as DS region</strong></div>
      </div>
      <div class="row">
        <div class="span3"><%= f.text_field :name,:class => 'span3',:placeholder => "Name of Area" %></div>
        <div class="span1"><%= f.text_field :continent_code,:class => 'span1',:placeholder => "3-Code" %></div>
        <div class="span1"><%= f.number_field :dakota_id,:class => 'span1',:placeholder => "Dakota ID" %></div>
        <div class="span1"><%= f.text_field :population,:class => 'span1',:placeholder => "Population number" %></div>
        <div class="span1"><%= f.check_box :isactive %></div>
        <div class="span1"><%= f.check_box :ignore_ds_regions_yn %></div>
      </div>
      <div class="row">
        <div class="span8"><strong>Description</strong></div>
      </div>
      <div class="row">
        <div class="span8"><%= f.text_area :description,:class => 'span8',:rows => '3' %></div>
      </div>
      <div id="country-alias" class="hidden">
        <div class="row">
          <div class="offset7 span1"><strong>ISO-3</strong></div>
          <div class="span1"><strong>ISO-2</strong></div>
        </div>
        <div class="row">
          <%=  f.hidden_field :ruby_type %>
          <div class="offset7 span1"><%= f.text_field :country_iso_code,:class => 'span1',:placeholder => "ISO-2" %></div>
          <div class="span1"><%= f.text_field :country_iso3_code,:class => 'span1',:placeholder => "ISO-3" %></div>
        </div>
      </div>

      <div class="row">
        <div class="actions span3">
          <%= f.submit 'Save',:class => 'btn' %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $('#generateDakotaId').hover(function() {
    $(this).css('cursor','pointer');
  });

  $("#generateDakotaId").click(function(){
    $.get( "<%= url_for(:action => :generate_dakota_id) %>", function( data ) {
      $( "#continent_dakota_id" ).val( data );
    });
  })
</script>