<% if @regions.empty? %>
	<%= select_tag "regions", [], {:size => 5, :width => 30, :style => "width: 300px"} %>
<% else %>
	<%= select_tag "regions", options_for_select (@regions.collect {|c| [c.id.to_s + " - "+c.name + " - "+AreaType.find(c.display_type_id).name] }), {:size => 5, :width => 30, :style => "width: 300px", :ondblclick => "fill_option_tag(value)"} %>
<% end %>
