<h4>New continent</h4>
<%= render 'form_fields' %>

<div class="row">
  <div class="span12">
    <%= link_to(:back, :class => 'btn', :title => "back") do %>
      <i class="icon-arrow-left" title="back"></i>
    <% end %>
    &nbsp;
    <%= link_to(regions_path, :class => 'btn', :title => 'Regions overview') do %>
      <i class="icon-arrow-up" title="overview"></i>
    <% end %>
  </div>
</div>