<div class="row" id="row_show_<%= customer_content.id %>">
  <div class="span1">
      <div class="btn-group">
        <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
          Action
        <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to customer_content_path(customer_content, production_orderline_id: @production_orderline_id) do %>
            <i class="icon-info-sign"></i>&nbsp;show
            <% end %>
          </li>
          <li>
            <%= link_to customer_targets_path(customer_content_id: customer_content.id, production_orderline_id: @production_orderline_id) do %>
            <i class="icon-info-sign"></i>&nbsp;show output targets
            <% end %>
          </li>
          <% if customer_content.allow_editing? %>
            <li>
              <%= link_to edit_customer_content_path(customer_content, production_orderline_id: @production_orderline_id) do %>
              <i class="icon-edit"></i>&nbsp;edit
              <% end %>
            </li>
          <% end %>
          <li>
            <%= link_to customer_content_path(customer_content, production_orderline_id: @production_orderline_id), method: :delete do %>
            <i class="icon-ban-circle"></i>&nbsp;destroy
            <% end %>
          </li>          
        </ul>
      </div>    
  </div>
  <div class="span2"><%= customer_content.customer_content_specification.name %>&nbsp;</div>
  <div class="span3"><%= customer_content.customer_targets.collect{|s| CustomerContentDefinition.outputarray[s.output_target]}.join(", ") %>&nbsp;</div>
  <div class="span4"><%= customer_content.value.to_s.length <= 80 ? customer_content.value : customer_content.value[0, 80] + "..." %>&nbsp;</div>
  <% unless @production_orderline_id || @product_id %>
    <div class="span2"><%= customer_content.production_orderline.product_id %>&nbsp;</div>
  <% end %>
</div>