<h4><%= @heading %></h4>

<% if @customer_content.errors.any? %>
  <ul>
  <% @customer_content.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>

<%= form_for(@customer_content) do |f| %>
  <%= hidden_field_tag :production_orderline_id, @production_orderline_id %>
  <%= hidden_field_tag :product_id, @product_id %>
  <div class="row">
    <div class="span2"><strong>Specification</strong></div>
    <div class="span2">
      <% if @customer_content.customer_content_specification %>
        <%= @customer_content.customer_content_specification.name %>
      <% else %>
        <%= select :customer_content, :customer_content_specification_id, [''] + CustomerContentSpecification.active.collect {|s| [s.name, s.id]},{},
            {class: 'span2', id: 'chosen_customer_content_specification', data: { placeholder: "Select specification" } } %>
      <% end %>
    </div>
    <div class="span2"><strong>Product</strong></div>
    <div class="span2">
      <% if @customer_content.production_orderline %>
        <%= @customer_content.production_orderline.product_id %>
      <% elsif @customer_content.product %>
        <%= @customer_content.product_id %>
      <% else %>
        <%= select :customer_content, :production_orderline_id, [''] + ProductionOrderLine.all.collect {|s| [s.product_id, s.id]},{},
            {class: 'span2', id: 'chosen_production_orderline', data: { placeholder: "Select production orderline" } } %>
      <% end %>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="span2"><strong>Description</strong></div>
    <div class="span10">
      <%= simple_format @customer_content.customer_content_specification.description.to_s if @customer_content.customer_content_specification %>&nbsp;
    </div>
  </div>
  <div class="row">
    <div class="span2"><strong>Content</strong></div>
    <div class="span10">
      <% if !@customer_content.customer_content_specification %>
        Select and save a specification first.
      <% elsif @customer_content.customer_content_specification.use_selection_list? %>
        <%= select :customer_content, :value, [''] + CustomerContentValue.where(customer_content_specification_id: @customer_content.customer_content_specification_id).collect { |s| ["#{s.customer_version} - #{s.received_date} #{'(' + s.value  + ')' if @customer_content.customer_content_specification.show_content_in_index?}", s.value]}, {}, {class: 'span4', id: 'chosen_value', data: { placeholder: "Select a value" } } %>
      <% elsif @customer_content.customer_content_specification.edit_hash? || @customer_content.customer_content_specification.edit_text? %>
        <%= f.text_area :value, rows: 8, class: "span10" %>
      <% elsif @customer_content.customer_content_specification.edit_string? %>
        <%= f.text_field :value, class: "span10" %>
      <% else %>
        <%= @customer_content.value %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="span3">
      <%= f.submit "Save", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<script>
  $('#chosen_customer_content_specification').chosen();
  $('#chosen_production_orderline').chosen();
  $('#chosen_value').chosen();
  $('#customer_content_received_date').datepicker({
    format: 'dd-mm-yyyy'
  });
</script>
