<% @heading = "Editing Customer Content #{@customer_content.customer_content_specification.name}" %>
<%= render 'form' %>
|
<%= link_to customer_content_path(@customer_content, production_orderline_id: @production_orderline_id, product_id: @product_id) do %>
  <i class="icon-eye-open" title="show">&nbsp;</i>
<% end %>
|
<%= link_to :back do %>
<i class="icon-arrow-left" title="back">&nbsp;</i>
<% end %>
|
<% if @production_orderline_id %>
  <%= link_to customer_contents_path(production_orderline_id: @production_orderline_id, product_id: @product_id) do %>
    <i class="icon-arrow-up" title="overview">&nbsp;</i>
  <% end %>
<% elsif @product_id %>
  <%= link_to edit_product_path(id: @product_id) do %>
    <i class="icon-arrow-up" title="overview">&nbsp;</i>
  <% end %>
<% else %>
  <%= link_to customer_contents_path do %>
    <i class="icon-arrow-up" title="overview">&nbsp;</i>
  <% end %>
<% end %>
|
