<div class="container">
  
  <div class="navbar secondnav">
    <div class="navbar-inner">
      <div class="span6">
        <h4>
          Customer contents <%= ProductionOrderline.find(@production_orderline_id).product_id if @production_orderline_id %>
        </h4>
      </div>
      <div class="span6">
        <%= form_tag customer_contents_path, method: 'get' do %>
          <%= hidden_field_tag :production_orderline_id, params[:production_orderline_id] %>
          <%= hidden_field_tag :product_id, params[:product_id] %>
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <div class="input-prepend input-append">
            <%= text_field_tag :search, params[:search], placeholder: " search",class: "span3" %>
            <%= button_tag "Search", name: nil, type: :submit, class: "btn" %>
            <%= button_tag "Reset", name: 'reset',class: "btn",type: :submit %>
          </div>   
        <% end %>                  
      </div>
    </div>  
  </div>
  
  <div id="endless">
    <div class="row">
      <div class="offset1 span2"><strong><%= sortable 'customer_content_specifications.name', 'Specification' %></strong></div>
      <div class="span3"><strong>Output target</strong></div>
      <div class="span4"><strong><%= sortable 'customer_contents.value', 'Value' %></strong></div>
      <% unless @production_orderline_id || @product_id %>
        <div class="span2"><strong><%= sortable 'production_orderlines.product_id', 'Product' %></strong></div>
      <% end %>
    </div>
    <%= render(partial: "customer_content", collection: @customer_contents) %>  
  </div>
  <%= will_paginate(@customer_contents) %>
  <%= pageless(@customer_contents.total_pages, customer_contents_path, "#endless") %>
</div>
