<div class="row">
  <div class="span7">
    <h4>Customer content <%= @customer_content.customer_content_specification.name %></h4>
  </div>
</div>
<div class="row">
  <div class="span12 bounded">
    <div class="row">
      <div class="span2"><strong>Specification</strong></div>
      <div class="span2"><%= @customer_content.customer_content_specification.name %>&nbsp;</div>
      <div class="span2 offset 2"><strong>Product</strong></div>
      <div class="span2"><%= @customer_content.product_id %>&nbsp;</div>
    </div>
    <br />

    <div class="row">
      <div class="span8"><strong>Value</strong></div>
    </div>
    <div class="row">
      <div class="span11 bounded">
        <% if @customer_content.customer_content_specification.hash? && ! @customer_content.value.blank? %>
          <iframe scrollbars="auto"  width=850 height=300 src="<%= url_for action: :render_value, id: @customer_content.id.to_s, format:'json' %>"></iframe>
        <% else %>
          <%= @customer_content.value %>&nbsp;
        <% end %>
      </div>
    </div>
  </div>
</div>
<br />
<div class="row">
  <div class="span2"><strong>Output</strong></div>
  <div class="span2"><strong>Label</strong></div>
  <div class="span2"><strong>Target</strong></div>
</div>
<% @customer_content.customer_targets.each do |target| %>
  <div class="row" id="content_target_show_<%= target.id %>">
    <div class="span1 offset1">
      <div class="btn-group">
        <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
          Action <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to customer_target_path(target, customer_content_id: @customer_content.id, production_orderline_id: @production_orderline_id) do %>
              <i class="icon-info-sign"></i>&nbsp;show
            <% end %>
          </li>
          <li>
            <%= link_to edit_customer_target_path(target, customer_content_id: @customer_content.id, production_orderline_id: @production_orderline_id) do %>
              <i class="icon-info-sign"></i>&nbsp;edit
            <% end %>
          </li>
          <li>
            <%=  link_to customer_target_path(target, customer_content_id: @customer_content.id, production_orderline_id: @production_orderline_id), method: :delete do %>
              <i class="icon-ban-circle"></i>&nbsp;destroy
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <div class="span2"><%= target.label %>&nbsp;</div>
    <div class="span2"><%= CustomerContentDefinition.outputarray[target.output_target] %>&nbsp;</div>
  </div>
<% end %>

|
<%= link_to edit_customer_content_path(@customer_content, production_orderline_id: @production_orderline_id, product_id: @product_id) do %>
  <i class="icon-edit" title="edit">&nbsp;</i>
<% end %>
|
<%= link_to :back do %>
  <i class="icon-arrow-left" title="back">&nbsp;</i>
<% end %>
|
<% if @production_orderline_id %>
  <%= link_to customer_contents_path(production_orderline_id: @production_orderline_id, product_id: @product_id) do %>
    <i class="icon-arrow-up" title="overview">&nbsp;</i>
  <% end %>
<% elsif @product_id %>
  <%= link_to edit_product_path(id: @product_id) do %>
    <i class="icon-arrow-up" title="overview">&nbsp;</i>
  <% end %>
<% else %>
  <%= link_to customer_contents_path do %>
    <i class="icon-arrow-up" title="overview">&nbsp;</i>
  <% end %>
<% end %>
|

<script type="text/javascript">
  $('[id^=content_target_show_]').children().hover(function(){
    if(typeof $(this).find('a')[0] === 'undefined'){
      $(this).css( 'cursor', 'pointer' );
      var rid = $(this).parent()[0].id.replace(/[^0-9]/g, '');
      var production_orderline = '<%= raw("&production_orderline_id=#{@production_orderline_id}") if @production_orderline_id %>'
      $(this).click(function(){window.location.href = '<%= url_for controller: "customer_targets" %>'+'/'+rid + 
                    '?customer_content_id=<%=@customer_content.id %>' + production_orderline
                     ;
                  })
    }
  });
</script>
