<div class="row" id="row-<%= failed_packing_job.id %>">
  <div class="span1">
    <div class="btn-group">
      <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
        Action
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to(failed_packing_job) do %>
          <i class="icon-info-sign"></i>&nbsp;show
          <% end %>
        </li>
        <li>
          <%= link_to(edit_packing_job_path(failed_packing_job)) do %>
          <i class="icon-edit"></i>&nbsp;edit
          <%  end %>
        </li>
        <% if failed_packing_job.status < Job::STATUS_CANCELLED %>
          <li>
            <%= link_to cancel_packing_job_path(failed_packing_job, {:lock_version => failed_packing_job.lock_version.to_s}), method: :post  do %>
            <i class="icon-off"></i>&nbsp;cancel
            <%  end %>
          </li>
         <% end  %>
      </ul>
    </div>
    <input type="checkbox" name="checked" value="<%= failed_packing_job.id %>" class="pull-right" id="chk-<%= failed_packing_job.id %>"/>
  </div>

  <div class="span1">
    <%= failed_packing_job.id %>
  </div>

  <div class="span1">
    <%= failed_packing_job.status_str %>
  </div>

  <div class="span5">
      <%= "#{failed_packing_job.packing.id} | #{failed_packing_job.packing.filename}" %>
  </div>

  <div class="span1">
    <%= link_to failed_packing_job.packing.outbound_order_id,failed_packing_job.packing.outbound_order,:target => '_blank' %>
  </div>

  <div class="span1">
    <%= failed_packing_job.run_server %>&nbsp;
  </div>

  <div class="span1 no-wrap" >
    <%= failed_packing_job.start_time.strftime("%d-%m-%y %H:%M") if failed_packing_job.start_time %>&nbsp;
  </div>

  <div class="span1 no-wrap">
    <%= failed_packing_job.finish_time.strftime("%d-%m-%y %H:%M") if failed_packing_job.finish_time %>&nbsp;
  </div>
</div>

<script type="text/javascript">
  $("[id^=chk-]").change(function(){
  toggleButton(this);
  });
</script>