<%= form_for(@packing_job) do |f| %>
<%= f.hidden_field :lock_version %>
<%= f.hidden_field :project_id %>
  <div class="row">
    <div class="span5">
      <h4><%= @heading %></h4>
    </div>
  </div>


  <% if @packing_job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@packing_job.errors.count, "error") %> prohibited this packing_job from being saved:</h2>

      <ul>
      <% @packing_job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="span12 bounded">
      <div class="row">
        <div class="span1">
          <strong>Server</strong>
        </div>
        <div class="span2">
          <%= f.select :run_server , Server.allocated_to(session[:project_id]).where(active: true).order(:server_id).collect {|c| [c.server_id,c.server_name]},{include_blank: true}, :class => 'span2',:data => {:placeholder => 'Choose server manually'} %>
        </div>
        <div class="span6 offset3">
          <h5>Schedule options</h5>
        </div>
      </div>
      <div class="row">
        <div class="span2 offset6">
          <strong>Cores</strong>
        </div>
        <div class="span1">
          <%= f.number_field :schedule_cores, class: 'span1' %>
        </div>
        <div class="span2">
          <strong>Schedule manual</strong>
        </div>
        <div class="span1">
          <%= f.check_box :schedule_manual %>
        </div>
      </div>
      <div class="row">
        <div class="offset6 span2">
          <strong>Memory (MB)</strong>
        </div>
        <div class="span1">
          <%= f.number_field :schedule_memory, class: 'span1' %>
        </div>
        <div class="span2">
          <strong>Exclusive server usage</strong>
        </div>
        <div class="span1">
          <%= f.check_box :schedule_exclusive %>
        </div>
      </div>
      <div class="row">
        <div class="span1">
          <strong>Log</strong>
        </div>
        <div class="offset5 span2">
          <strong>Disk space (MB)</strong>
        </div>
        <div class="span1">
          <%= f.number_field :schedule_diskspace, class: 'span1' %>
        </div>
        <div class="span2">
          <strong>Can be run on virtual server</strong>
        </div>
        <div class="span1">
          <%= f.check_box :schedule_allow_virtual %>
        </div>
      </div>
      <div class="row">
        <div class="span12">
          <pre style="overflow-y:scroll;height:150px"><%= @packing_job.stdout_log %></pre>
        </div>
      </div>
      <div class="row">
        <div class="span2">
          <strong>Script</strong>
        </div>
      </div>
      <div class="row">
        <div class="span12">
          <%= f.text_area :run_script, rows: 15, class: 'span12' %>
        </div>
      </div>
      <p>
        <%= f.submit "Execute", class: "btn btn-primary" %>
        <%= f.submit "Schedule", class: "btn btn-primary" %>
        <%= f.submit "Save", class: "btn btn-primary" %>
      </p>
    </div>
  </div>
<% end %>

<script>
  $('#packing_job_run_server').chosen({allow_single_deselect:true});
</script>
