<div class="row" id="row_show_<%= packing_job.id %>">
  <div class="span1">
    <div class="btn-group">
      <%= conversion_database_action_link(packing_job) %>
      <ul class="dropdown-menu">
        <li>
          <%= link_to(packing_job) do %>
          <i class="icon-info-sign"></i>&nbsp;show
          <% end %>
        </li>
        <li>
          <%= link_to(edit_packing_job_path(packing_job)) do %>
          <i class="icon-edit"></i>&nbsp;edit
          <%  end %>
        </li>
        <% if packing_job.status < Job::STATUS_CANCELLED %>
          <li>
            <%= link_to cancel_packing_job_path(packing_job, {:lock_version => packing_job.lock_version.to_s}), method: :post  do %>
            <i class="icon-off"></i>&nbsp;cancel
            <%  end %>
          </li>
         <% end  %>
      </ul>
    </div>
  </div>

  <div class="span1">
    <%= packing_job.id %>
  </div>

  <div class="span1">
    <%= packing_job.status_str %>
  </div>

  <div class="span5">
      <%= "#{packing_job.packing.id} | #{packing_job.packing.filename}" %>
  </div>

  <div class="span1">
    <%= link_to packing_job.packing.outbound_order_id,packing_job.packing.outbound_order,:target => '_blank' %>
  </div>

  <div class="span1">
    <%= packing_job.run_server %>&nbsp;
  </div>

  <div class="span1 no-wrap" >
    <%= packing_job.start_time.strftime("%d-%m-%y %H:%M") if packing_job.start_time %>&nbsp;
  </div>

  <div class="span1 no-wrap">
    <%= packing_job.finish_time.strftime("%d-%m-%y %H:%M") if packing_job.finish_time %>&nbsp;
  </div>
</div>
