<% @heading = "Editing Packing Job " + @packing_job.id.to_s %>
<%= render 'form' %>
|
<%= link_to :back do %>
<i class="icon-arrow-left" title="back">&nbsp;</i>
<% end %>
|
<%= link_to @packing_job do %>
  <i class="icon-eye-open" title="show">&nbsp;</i>
<% end %>
|
<%= link_to packing_jobs_path do %>
  <i class="icon-arrow-up" title="overview">&nbsp;</i>
<% end %>
|
