<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand"><strong>Packing Jobs</strong></div>
      <div class="span">
        <%= form_tag packing_jobs_path, method: 'get' do %>
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <div class="input-prepend input-append">
            <%= select_tag("search_status", options_for_select(PackingJob.status_hash,params[:search_status]), include_blank: true, class: 'span2', data: {placeholder: 'Status'}) %>
            <%= text_field_tag :search, params[:search], placeholder: " search", class: "span3", size: "16" %>
            <%= button_tag "Search", name: nil, type: :submit, class: "btn" %>
            <%= button_tag "Reset", name: 'reset',class: "btn", type: :submit %>
          </div>
          <% end %>
       </div>
    </div>
  </div>
</div>

<div id="endless">
  <div class="row">
    <div class="offset1 span1"><strong><%=  sortable "jobs.id", 'id' %></strong></div>
    <div class="span1"><strong><%= sortable "jobs.status","Status" %></strong></div>
    <div class="span5"><strong><%= sortable "packings.id", "Pack" %></strong></div>
    <div class="span1"><strong><%= sortable "packings.outbound_order_id","Order" %></strong></div>
    <div class="span1"><strong><%= sortable "jobs.run_server","Server" %></strong></div>
    <div class="span1"><strong><%= sortable "jobs.start_time","Started" %></strong></div>
    <div class="span1"><strong><%= sortable "jobs.finish_time", 'Finished' %></strong></div>
  </div>

  <%= render(partial: "packing_job", collection: @packing_jobs) %>
</div>

<%= will_paginate(@packing_jobs) %>
<%= pageless(@packing_jobs.total_pages, packing_jobs_path, "#endless", params) %>

<footer class="subnav subnav-fixed" style="bottom:0;top:auto;margin-bottom: 0px;">
  &nbsp;
</footer>

<script type="text/javascript">
  $('#search_status').chosen({allow_single_deselect:true})
</script>