<% f=formfields_edit_new %>
<%= f.hidden_field :product_release_note_id %>
<div class="row">
  <div class="span12 bounded bounded-headered">
    <div class="row bounded-header">
      <div class="span3">
        <h4>Edit content</h4>
        <h5><%= @content_release_note.product_release_note.production_order.name %></h5>
      </div>
    </div>
    <div class="row">
      <div class="span5">
        <strong>Title</strong>
      </div>
    </div>
    <div class="row">
      <div class="span5">
        <%= f.text_field :title, :class => "span4" %>
      </div>
      <div class="span5">
        <label class="checkbox">
          <%= f.check_box :product_list %>Product list
        </label>
        <label class="checkbox">
          <%= f.check_box :start_on_new_page %>Start on new page
        </label>
      </div>
    </div>
    <% if @content_release_note.allow_jira_import_yn %>
      <div class="row">
        <div class="span12"><strong>Jira Import selection</strong></div>
      </div>
      <%= render :partial => 'jira_import_select' %>
    <% end %>
    <div class="row">
      <div class="span5">
        <strong>Content</strong>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <%= f.text_area :content,rows:12,:style => "width:99%" %>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <%= f.submit 'Update', class:"btn pull-right" %>
        </div>
      </div>
    </div>
  </div>
