<div class="row">
  <div class="span2" >
    <%= select_tag("search_project", options_for_select(JiraIssue.projects.collect{|x|[x]}.compact,params[:search_supplier]),:include_blank=>true,:class => 'span2',:data=>{:placeholder => 'Project'}) %>
  </div>
  <div class="span2" >
    <%= select_tag("search_status", options_for_select(JiraIssue.statuses.collect{|x|[x]}.compact,params[:search_status]),:include_blank=>true,:class => 'span2',:data=>{:placeholder => 'Status'}) %>
  </div>
  <div id="region_versions">
    <%= render :partial => 'select_versions_and_regions_for_project' %>
  </div>
  <div class="span2">
    <%= button_tag "Import", :id => 'import_btn', :onclick => 'get_jira_release_note_content();return false', :class => "btn",:style => "margin-top:0px" %>
  </div>
</div>

<script type="text/javascript">
$("#search_project").change(function(){

    var selected = $('#search_project').val();
    $('#search_project').select2('disable');
    $('#search_region').select2('disable');
    $('#search_status').select2();
    $('#import_btn').addClass('disabled')
    $('#import_btn').prop("disabled",true);
    $('#search_fixversion').select2('disable');
    $('#bar-spinner-message').html("Waiting for Jira");
    jQuery.get('<%= url_for get_versions_and_regions_for_project_content_release_notes_path %>'+'?project_key=' + selected, function(data){
    $("#region_versions").html(data)
    $('#search_region').select2({allowClear:true});
    $('#search_region').select2('enable');
    $("#search_fixversion").change(function(){
    $('#import_btn').removeClass('disabled')
    $('#import_btn').prop("disabled",false);
      });
    $('#search_fixversion').select2({allowClear:true})
    $('#search_fixversion').select2('enable')
    $('#search_project').select2('enable');
  })

    return false;
  });


  $("#search_project").select2({allowClear:true})
  $('#search_region').select2({allowClear:true})
  $('#search_fixversion').select2({allowClear:true})
  $('#search_region').select2('disable')
  $('#search_fixversion').select2('disable')
  $('#import_btn').addClass('disabled')
  $('#import_btn').prop("disabled",true);

  function get_jira_release_note_content()
  {
    var project = $('#search_project').val();
    var region  = $('#search_region').val();
    var status  = $('#search_status').val();
    var fixversion  = $('#search_fixversion').val();
    $('#import_btn').addClass('disabled')
    $('#import_btn').prop("disabled",true);

    $('#bar-spinner-message').html("Retrieving ticket information from Jira");
    jQuery.get('<%= url_for get_jira_release_note_content_release_notes_path %>'+'?project_key=' + project + '&region=' + region + '&fixversion=' + fixversion + '&status=' + status , function(data){
      if (data == ''){
        flash_on_demand("info","Ticket information","No ticket information available in Jira.")
        $('#import_btn').removeClass('disabled')
        $('#import_btn').prop("disabled",false);
      }else{
        flash_on_demand("success","Ticket information","Import successfull")
        $("#content_release_note_content").val(data)
        $('#import_btn').removeClass('disabled')
        $('#import_btn').prop("disabled",false);
      }
    })
}
</script>