<div class="span2">
  <%= select_tag("search_region", options_for_select(JiraIssue.regions(params[:project_key]).collect{|c| [c]}.flatten.uniq.compact.sort, params[:search_region]), :include_blank=>true, :class => 'span2', :data => { :placeholder => 'Region' }) %>
</div>
<div class="span3">
  <%= select_tag("search_fixversion", options_for_select(JiraIssue.fixversions(params[:project_key]).collect{|dt|[dt]},params[:search_fixversion]),:include_blank=>true,:class => 'span3',:data=>{:placeholder => 'Type'}) %>
</div>




