<%= form_for(@content_release_note) do |f| %>
<% if @content_release_note.errors.any? %>
  <div class="alert alert-error">
    <% @content_release_note.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
  </div>
<% end %>
  <%= render :partial => 'formfields_edit_new' ,:object => f %>
<% end %>
<%= link_to 'Back', :back,{:class => 'btn',:title => 'Back'} %>