<% @content.each do |issue| %>
<%= issue["key"]%><%= issue.key %> <%= issue.summary %>
<% rni = issue.get_value("Release notes information") -%>
<%  if rni.to_s.size > 0 -%>
<%= rni.chomp %>
<% end -%>
<%= "-" %>
<% end -%>
