<h1>Listing content_release_notes</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Product release note</th>
    <th>User</th>
    <th>Status</th>
    <th>Rank</th>
  </tr>

<% @content_release_notes.each do |content_release_note| %>
  <tr>
    <td><%=h content_release_note.title %></td>
    <td><%=h content_release_note.content %></td>
    <td><%=h content_release_note.product_release_note_id %></td>
    <td><%=h content_release_note.user_id %></td>
    <td><%=h content_release_note.status %></td>
    <td><%=h content_release_note.rank %></td>
    <td><%= link_to 'Show', content_release_note %></td>
    <td><%= link_to 'Edit', edit_content_release_note_path(content_release_note) %></td>
    <td><%= link_to 'Destroy', content_release_note, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New content_release_note', new_content_release_note_path %>