<div id="Resizer" style="padding:10px; max-width:60%;">
  <div class="ui-widget-header ui-corner-top ui-helper-clearfix">
    &nbsp;New content for release note for 
    <%= @content_release_note.product_release_note.production_order ? @content_release_note.product_release_note.production_order.name : @content_release_note.product_release_note.production_orderline.product_id %>
  </div> 
<%= form_for(@content_release_note) do |f| %>
<% if @content_release_note.errors.any? %>
  <div class="alert alert-error">
    <% @content_release_note.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
  </div>
<% end %>
  <%= render :partial => 'formfields_edit_new' ,:object => f %>
  <%= f.submit 'Create' %>
<% end %>

<%= link_to 'Back', :back,{:class => 'ui-icon ui-icon-circle-triangle-w',:title => 'Back'} %>
</div>  