<p>
  <b>Title:</b>
  <%=h @content_release_note.title %>
</p>

<p>
  <b>Content:</b>
  <%=h @content_release_note.content %>
</p>

<p>
  <b>Product release note:</b>
  <%=h @content_release_note.product_release_note_id %>
</p>

<p>
  <b>User:</b>
  <%=h @content_release_note.user_id %>
</p>

<p>
  <b>Status:</b>
  <%=h @content_release_note.status %>
</p>

<p>
  <b>Rank:</b>
  <%=h @content_release_note.rank %>
</p>


<%= link_to 'Edit', edit_content_release_note_path(@content_release_note) %> |
<%= link_to 'Back', content_release_notes_path %>