<h3>Listing data media</h3>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for data_medium in @data_media %>
  <tr>
    <td><%=h data_medium.name %></td>
    <td><%= link_to 'Show', data_medium %></td>
    <td><%= link_to 'Edit', edit_data_medium_path(data_medium) %></td>
    <td><%= link_to 'Destroy', data_medium, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New data_medium', new_data_medium_path %>
