<h1>New data_medium</h1>

<% if @data_medium.errors.any? %>
  <div class="alert alert-error">
    <% @data_medium.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
  </div>
<% end %>

<%= form_for(@data_medium) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', data_media_path %>
