<% if @invoice.errors.any? %>
  <ul>
    <% @invoice.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for(@invoice) do |f| %>
  <%= f.hidden_field :shipping_order_id %>
  <%= hidden_field_tag 'unpaid_invoices_overview', @unpaid_invoices_overview %>
  <div class="row">
    <div class="span2"><strong>Invoice number</strong></div>
    <div class="span1"><strong>Status</strong></div>
    <div class="span1"><strong>Customer</strong></div>
    <div class="span1"><strong>PO</strong></div>
  </div>
  <div class="row">
    <div class="span2"><%= f.text_field :reference, class: 'span2', placeholder: "Auto generated" %></div>
    <div class="span1"><%= @invoice.status_string %></div>
    <div class="span1"><%= @invoice.shipping_order.invoicing_customer_depot.supplier_code %>&nbsp;</div>
    <div class="span1"><%= @invoice.shipping_order.po_reference %>&nbsp;</div>
  </div>

  <div class="row">&nbsp;</div>

  <div class="row">
    <div class="span2"><strong>Remarks</strong></div>
  </div>
  <div class="row">
    <div class="span8"><%= f.text_area :remarks, class: 'span8', rows: 4 %></div>
  </div>
  <hr />
  <div class="row">
    <div class="span1"><strong>Lines:</strong></div>
    <div class="span2"><input id="include_all" name="include_all" type="checkbox"/><label class="checkbox inline" for="include_all"><strong>Include all</strong></label></div>
    <div class="span2"><strong>Article</strong></div>
    <div class="span1"><strong>Deliver</strong></div>
    <div class="span1"><strong>Quantity</strong></div>
    <div class="span1"><strong>Total</strong></div>
  </div>
  <% @invoicable_shipping_orderlines.each do |shipping_orderline| %>
    <div class="row">
      <div class="offset1 span2">
        <%= check_box_tag "invoice[shipping_orderline_ids][]", shipping_orderline.id, true, class: "include_shipping_orderline" %>
        <%= label_tag 'shipping_orderline_ids', shipping_orderline.extern_reference, {class: "checkbox inline",id: 'shipping_orderline_ids'} %>
      </div>
      <div class="span2"><%= shipping_orderline.article.customer_reference %>&nbsp;</div>
      <div class="span1"><%= shipping_orderline.delivery_date.strftime( '%d-%m-%Y' ) %>&nbsp;</div>
      <div class="span1"><%= shipping_orderline.amount %>&nbsp;</div>
      <div class="span1"><%= number_to_currency(shipping_orderline.amount * shipping_orderline.article.price, unit: shipping_orderline.article.currency) %></div>
    </div>
  <% end %>
  <hr />
  <div class="row">
    <div class="span2">
      <button class="btn btn-primary" id="save" name="save">Save</button>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $('#include_all').on('click', function() {
    $('.include_shipping_orderline').attr('checked', $(this).is(':checked'));
  })
  $("#save").click(function() {
    document.forms[0].submit();
  })
</script>
