<div class="row"id="row_show_<%= invoice.id %>">
  <div class="span1">
      <div class="btn-group">
        <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
          Action
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to invoice_path(invoice, unpaid_invoices_overview: @unpaid_invoices_overview) do %>
              <i class="icon-info-sign"></i>&nbsp;show
            <% end %>
          </li>
          <% if !invoice.status || invoice.status < 50 %>
            <li>
              <%= link_to(edit_invoice_path(invoice, unpaid_invoices_overview: @unpaid_invoices_overview)) do %>
                <i class="icon-edit"></i>&nbsp;edit
              <% end %>
            </li>
          <% end %>

          <% if invoice.status && invoice.status < 50 %>
            <li>
              <%= link_to invoice_invoice_path(invoice, format: 'pdf'), method: :post do %>
                <i class="icon-print"></i>&nbsp;print
              <% end %>
            </li>
          <% end %>
          <% if invoice.status && invoice.status >= 50 %>
            <li>
              <%= link_to print_invoice_path(invoice, format: 'pdf') do %>
                <i class="icon-print"></i>&nbsp;print copy
              <% end %>
            </li>
          <% end %>
          <% if invoice.status && invoice.status == 50 %>
            <li>
              <%= link_to paid_invoice_path(invoice, unpaid_invoices_overview: @unpaid_invoices_overview), method: :post do %>
                <i class="icon-ok"></i>&nbsp;paid
              <% end %>
            </li>
          <% end %>

          <% if invoice.status && invoice.status <= 50 %>
            <li>
              <%= link_to(invoice_path(invoice, unpaid_invoices_overview: @unpaid_invoices_overview), method: :delete, data: { confirm: 'Are you sure?' }) do %>
                <i class="icon-trash"></i>&nbsp;delete
              <% end %>
            </li>
          <% end %>

          <% if invoice.status && invoice.status >= 50 && !invoice.parent && !invoice.credit %>
            <li>
              <%= link_to({:action => :credit_invoice, :id =>invoice.id} , {:data => { confirm: 'Are you sure?' }}) do %>
                <i class="icon-trash"></i>&nbsp;Create credit invoice
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
  </div>
    <div class="span2"><%= invoice.reference %>&nbsp;</div>
    <div class="span1"><%= invoice.status_string %>&nbsp;</div>
    <div class="span1"><%= invoice.shipping_order.invoicing_customer_depot.supplier_code %>&nbsp;</div>
    <div class="span2"><%= invoice.shipping_order.po_reference %>&nbsp;</div>
    <div class="span2"><%= invoice.due_date.strftime("%d %B %Y") if invoice.due_date %>&nbsp;</div>
    <div class="span1"><%= number_to_currency(invoice.total + invoice.vat, unit: invoice.currency) %>&nbsp;</div>
</div>
