<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand"><strong><%= "Unpaid " if params["status"] == "50" %>Invoices</strong></div>
      <div class="span">
        <%= form_tag invoices_path, :method => 'get' do %>
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <%= hidden_field_tag :status, params[:status] %>
          <div class="input-append">
            <%= text_field_tag :search, params[:search],:class => 'span2',:placeholder => 'search text' %>
            <%= button_tag "Search", :name => nil, :type => :submit, :class => "btn" %>
            <%= button_tag "Reset", :name => 'reset',:class=>"btn",:type=>:submit %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="endless">
  <div class="row">
    <div class="offset1 span2"><strong><%= sortable "reference" %></strong></div>
    <div class="span1"><strong><%= sortable "status" %></strong></div>
    <div class="span1"><strong><%= sortable "customer" %></strong></div>
    <div class="span2"><strong><%= sortable "PO ref" %></strong></div>
    <div class="span2"><strong><%= sortable "due_date" %></strong></div>
    <div class="span1"><strong><%= sortable "total" %></strong></div>
  </div>
  <%= render(:partial => "invoice", :collection => @invoices) %>
</div>
<%= will_paginate(@invoices) %>
<%= pageless(@invoices.total_pages, invoices_path, "#endless", params) %>
