<h4><%= "New invoice for shipping order #{@invoice.shipping_order.po_reference} (customer: #{@invoice.shipping_order.ordering_customer_depot.label})" %></h4>
<div class="row">
  <div class="span8 bounded">
    <%= render 'form' %>
  </div>
</div>

|
<%= link_to :back do %>
  <i class="icon-arrow-left" title="back">&nbsp;</i>
<% end %>
|
<%= link_to invoices_path do %>
  <i class="icon-arrow-up" title="overview">&nbsp;</i>
<% end %>
|
