<%= wicked_pdf_stylesheet_link_tag "pdf/pdf" %>
<% po = 'N/A' %>
<% if @invoice.reference.to_s != ""
   po = @invoice.shipping_order.po_reference
   end %>

<div class="PDF" style="float:left;color:gray"><%= wicked_pdf_image_tag("mapscapelogo4docs.png", :height => '35px') %><br>www.mapscape.eu</div>
<div style="float:right"><h1 class="PDF">Invoice</h1>
<br><br><br><br><br>  <!-- space for window envelope -->
  <table class="noborder">
    <tr>
      <td>Invoice number:</td>
      <td><%= @invoice.reference %></td>
    </tr>
    <tr>
      <td>Date:</td>
      <td><%= @invoice.date.strftime("%d-%m-%Y") %></td>
    </tr>
    <tr>
      <td colspan="2"><i style="font-size: smaller">The reference must appear<br>on all related correspondence,<br>shipping papers, and invoices.</i></td>
    </tr>
  </table>
</div>
<br><br><br><br><br><br><br><br><br> <!-- space for window envelope -->
<p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= @invoice.shipping_order.invoicing_customer_depot.name %><br>
<% if @invoice.shipping_order.invoicing_customer_depot.contact_name.to_s != "" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= @invoice.shipping_order.invoicing_customer_depot.constact_salutation %>&nbsp;
<%= @invoice.shipping_order.invoicing_customer_depot.contact_name %><br>
<% end %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%  if @invoice.shipping_order.invoicing_customer_depot.street_name.to_s != "" %>
  <%= "#{@invoice.shipping_order.invoicing_customer_depot.street_name}" %>&nbsp;<%= "#{@invoice.shipping_order.invoicing_customer_depot.house_number}" %>
<% end %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<% if @invoice.shipping_order.invoicing_customer_depot.postal_code.to_s != "" %>
<%= "#{@invoice.shipping_order.invoicing_customer_depot.postal_code}" %>
<% end %>
<%= @invoice.shipping_order.invoicing_customer_depot.city %><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= @invoice.shipping_order.invoicing_customer_depot.country %></p>
<br /><br />
<br /><hr />

<table class="noborder-small-single" style="width: 100%">
  <tr>
    <td>Supplier code:</td>
    <td><%= @invoice.shipping_order.invoicing_customer_depot.supplier_code %></td>
    <td>Customer code:</td>
    <td><%=  @invoice.shipping_order.invoicing_customer_depot.customer_code %></td>

  </tr>
  <tr>
    <td>Contact:</td>
    <td><%= @mapscape.contact_name %></td>
    <td>Contact name:</td>
    <td><%= @invoice.shipping_order.ordering_customer_depot.constact_salutation + ' ' if @invoice.shipping_order.ordering_customer_depot.constact_salutation %><%=  @invoice.shipping_order.ordering_customer_depot.contact_name %></td>

  </tr>
  <tr>
    <td>Telephone:</td>
    <td><%= @mapscape.contact_phone %></td>

    <td>Contact telephone:</td>
    <td><%=  @invoice.shipping_order.ordering_customer_depot.contact_phone %></td>
    <td>Shipped to:</td>
    <td><%= @invoice.shipping_order.shipping_customer_depot.name %></td>
  </tr>
  <tr>
    <td>E-mail:</td>
    <td><%= @mapscape.contact_email %></td>

    <td>VAT-identification:</td>
    <td><%=h @invoice.shipping_order.shipping_customer_depot.vat_identification %></td>
    <td>Unloading point:</td>
    <td><%= @invoice.shipping_order.shipping_customer_depot.unloading_point %></td>
  </tr>
</table>
<hr />
<br />
<table class="noborder">
  <tr>
    <td><strong>Purchase order:</strong></td>
    <td><%= po %></td>
  </tr>
</table>
<br>
<% if @invoice.remarks != "" %>
  <pre><%= @invoice.remarks %></pre>
<br />
<% end %>
<table class="linetable">
  <tr>
    <th>transport reference</th>
    <th>delivery date</th>
    <th>article</th>
    <th style="text-align:right;">quantity</th>
    <th style="text-align:right;">price</th>
    <th style="text-align:right;">total</th>
  </tr>
  <% @invoice.all_shipping_orderlines.each do |shipping_orderline| %>
    <tr>
      <td><%= shipping_orderline.transport_reference %></td>
      <td><%= shipping_orderline.delivery_date.strftime("%d %B %Y") %></td>
      <td><%= shipping_orderline.article.customer_reference %></td>
      <% price = amount_to_currency(shipping_orderline.article.price, shipping_orderline.article.currency) %>
      <% if !@invoice.credit_invoice_parent_id.blank? %>
        <% subtotal = amount_to_currency(shipping_orderline.amount * shipping_orderline.article.price * -1, shipping_orderline.article.currency)  %>
        <% amount = (shipping_orderline.amount * -1)  %>
      <% else %>
        <% subtotal =amount_to_currency(shipping_orderline.amount * shipping_orderline.article.price, shipping_orderline.article.currency)  %>
        <% amount = shipping_orderline.amount  %>
      <% end %>
      <td style="text-align:right;"><%= amount %>&nbsp;piece(s)</td>
      <td style="text-align:right;white-space:nowrap;"><%= price %></td>
      <td style="text-align:right;white-space:nowrap;"><%= subtotal %></td>
    </tr>
  <% end %>
  <tr>
    <td colspan="4">&nbsp;</td>
    <td colspan="2"><hr /></td>
  </tr>
  <tr>
    <td colspan="5">&nbsp;</td>
    <td style="text-align:right;"><%= amount_to_currency( @invoice.total, @invoice.currency) %></td>
  </tr>
 <tr>
    <td colspan="4"><pre><%= @invoice.shipping_order.shipping_customer_depot.vat_statement %></pre></td>
    <td style="text-align:right;white-space:nowrap;">VAT&nbsp;<%= @invoice.vat_percentage.to_s %> %</td>
    <td style="text-align:right;white-space:nowrap;"><%= amount_to_currency( @invoice.vat, @invoice.currency) %></td>
  </tr>
  <tr>
    <td colspan="4">&nbsp;</td>
    <td colspan="2"><hr /></td>
  </tr>
  <tr>
    <td colspan="5">&nbsp;</td>
    <td style="text-align:right;"><%= amount_to_currency(@invoice.total + @invoice.vat, @invoice.currency) %></td>
  </tr>
</table>
<br />
<div>
  <p style="font-size: smaller">Please fulfill payment before <b><%=h @invoice.due_date.strftime("%d %B %Y") %></b> on our bank account.<br /></p>
    <%=h simple_format(@invoice.shipping_order.invoicing_customer_depot.payment_statement.content,:class => "label") if  @invoice.shipping_order.invoicing_customer_depot.payment_statement %>
</div>
