<% credit = '' %>
<% credit = 'Credit ' if !@invoice.credit_invoice_parent_id.blank? %>

<h4><%= credit %>Invoice <%= @invoice.reference %></h4>
<div class="row">
  <div class="span7 bounded">
    <div class="row">
      <div class="span2"><strong>Reference</strong></div>
      <div class="span1"><strong>Status</strong></div>
      <div class="span1"><strong>Customer</strong></div>
      <div class="span1"><strong>PO</strong></div>
      <div class="span2"><strong>Due date</strong></div>
    </div>

    <div class="row">
      <div class="span2"><%= @invoice.reference %>&nbsp;</div>
      <div class="span1"><%= @invoice.status_string %>&nbsp;</div>
      <div class="span1"><%= @invoice.shipping_order.invoicing_customer_depot.supplier_code %>&nbsp;</div>
      <div class="span1"><%= @invoice.shipping_order.po_reference %>&nbsp;</div>
      <div class="span2"><%= @invoice.due_date.strftime("%d %B %Y") if @invoice.due_date %>&nbsp;</div>
    </div>

    <div class="row">&nbsp;</div>

    <div class="row">
      <div class="span2"><strong>Remarks</strong></div>
    </div>
    <div class="row">
      <div class="span7"><%= @invoice.remarks %></div>
    </div>

    <div class="row">
      &nbsp;
    </div>

    <div class="row">
      <div class="span7"><strong>Shipping orderlines</strong></div>
    </div>
    <div class="row">
      <div class="span2"><strong>Reference</strong></div>
      <div class="span2"><strong>Article</strong></div>
      <div class="span1"><strong>Deliver</strong></div>
      <div class="span1"><strong>Quantity</strong></div>
      <div class="span1"><strong>Total</strong></div>
    </div>
    <% @invoice.all_shipping_orderlines.each do |shipping_orderline| %>
      <div class="row">
        <div class="span2"><%= shipping_orderline.extern_reference %>&nbsp;</div>
        <div class="span2"><%= shipping_orderline.article.customer_reference %>&nbsp;</div>
        <div class="span1"><%= shipping_orderline.delivery_date.strftime( '%d-%m-%Y' ) %>&nbsp;</div>
        <div class="span1">
          <% if !@invoice.credit_invoice_parent_id.blank? %>
          <%= shipping_orderline.amount * -1 %>
          <% total = amount_to_currency(shipping_orderline.amount * shipping_orderline.article.price * -1, shipping_orderline.article.currency)  %>
          <% else %>
          <%= shipping_orderline.amount %>
          <% total = amount_to_currency(shipping_orderline.amount * shipping_orderline.article.price, shipping_orderline.article.currency)  %>
          <% end %>
          &nbsp;
        </div>
        <div class="span1"><%= total %> &nbsp;</div>
      </div>
    <% end %>
    <div class="row">
      <div class="span1 offset5"><strong>VAT&nbsp;<%= @invoice.vat_percentage.to_s %> %</strong></div>
      <div class="span1"><%= number_to_currency(@invoice.vat, unit: @invoice.currency) %></div>
    </div>
    <hr />
    <div class="row">
      <div class="span5">
        <div class="invoiced" style="display:none">
          <%= link_to print_invoice_path(@invoice, format: 'pdf') do %>
            <button type="button" class="btn btn-info">Print copy</button>
          <% end %>
        </div>
        <div class="draft" style="display:none">
          <%= form_for(@invoice, url: invoice_invoice_path(@invoice, format:'pdf'), method: :post) do |i| %>
            <%= hidden_field(:invoice, :status) %>
            <button id="print-invoice" type="button" class="btn btn-info">Print invoice</button>
          <% end %>
        </div>
      </div>
      <div class="span1"><strong>Total</strong></div>
      <div class="span1"><%= number_to_currency(@invoice.total + @invoice.vat, unit: @invoice.currency) %></div>
    </div>
    <div class="row">
      &nbsp;
    </div>
  </div>
</div>
<div class="draft" style="display:none">
  |
  <%= link_to edit_invoice_path @invoice, unpaid_invoices_overview: @unpaid_invoices_overview do %>
    <i class="icon-edit" title="edit">&nbsp;</i>
  <% end %>
  |
  <%= link_to invoices_path(unpaid_invoices_overview: @unpaid_invoices_overview) do %>
    <i class="icon-arrow-up" title="overview">&nbsp;</i>
  <% end %>
  |
</div>
<div class="invoiced" style="display:none">
  |
  <%= link_to invoices_path(unpaid_invoices_overview: @unpaid_invoices_overview) do %>
    <i class="icon-arrow-up" title="overview">&nbsp;</i>
  <% end %>
  |
</div>


<script type="text/javascript">
  $('#include_all').on('click', function() {
    $('.include_shipping_orderline').attr('checked', $(this).is(':checked'));
  })
  $("#save").click(function() {
    document.forms[0].submit();
  })
  $("#print").click(function() {
    document.forms[0].action += ".pdf";
    document.forms[0].submit();
  })
  if ($('#invoice_status').val() < 50)
  {
    $(".draft").show()
  }
  else
  {
    $(".invoiced").show();
  }
  $("#print-invoice").click(function() {
    $('#invoice_status').val(50)
    document.forms[0].submit();
  })
</script>
