<h3>Editing shipment type</h3>

<% if @shipment_type.errors.any? %>
  <div class="alert alert-error">
    <% @shipment_type.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
  </div>
<% end %>

<%= form_for(@shipment_type) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @shipment_type %> |
<%= link_to 'Back', shipment_types_path %>
