<h3>Listing shipment types</h3>

<table>
  <tr>
    <th>Name</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>

<% for shipment_type in @shipment_types %>
  <tr>
    <td><%=h shipment_type.name %></td>
    <td><%= link_to 'Show', shipment_type %></td>
    <td><%= link_to 'Edit', edit_shipment_type_path(shipment_type) %></td>
    <td><%= link_to 'Destroy', shipment_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New shipment_type', new_shipment_type_path %>
