<% if @test_plan.errors.any? %>
  <div class="row">
    <div class="span7">
      <div class="alert alert-error">
        <ul>
          <% @test_plan.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>

<%= form_for(@test_plan) do |f| %>
  <% f.hidden_field :status %>
  <div class="row">
    <div class="span3"><strong>Name</strong></div>
    <div class="span0_5"></div>
    <div class="span3"><strong>Product line</strong></div>
  </div>
  <div class="row">
    <div class="span3"><%= f.text_field :name, :class => "span3 validate",:required => "required" %></div>
    <div class="span0_5"></div>
    <div class="span3"><%= f.select :product_line_id,ProductLine.option_list,{:include_blank => true}, {:class => "span3"} %></div>
  </div>
  <div id="planDetails">
  <%= render :partial => "test_cases_form" ,:object => @plan_details %>
  </div>
  <div class="row">
    <div class="span7">
      <%= f.submit "Save test plan",{:class => "btn pull-right"} %>
    </div>
  </div>
  <% end %>

<script type="text/javascript">
  $("#test_plan_product_line_id").select2({placeholder:"Optional Product line",allowClear:true})
</script>
