<%= render(:partial => "shared/versioned_object_warning", :object => @test_plan) %>
<div class="row">
  <div class="span7 bounded bounded-headered">
    <div class="row bounded-header">
      <h4>Test plan: <%= @test_plan.name %></h4>
      Version <%= @test_plan.version %>.&nbsp;&nbsp;Status: <%= @test_plan.status %>
    </div>
    <div class="row">
      <div class="span3"><strong>Name</strong></div>
      <div class="span0_5"></div>
      <div class="span3"><strong>Product line</strong></div>
    </div>

    <div class="row">
      <div class="span3"><%= @test_plan.name %></div>
      <div class="span0_5"></div>
      <div class="span3"><%= @test_plan.product_line.name if @test_plan.product_line %></div>
    </div>
    <div class="row">
      <div class="span7"><br /><h4>Test cases</h4></div>
    </div>
    <div class="row">
      <div class="span7">
        <table class="table table-condensed table-hover">
          <tr>
            <th>Test case</th>
            <th>Parameter name</th>
            <th>Parameter value</th>
          </tr>

          <% JSON.parse(@test_plan.plan_details).sort_by { |hsh| hsh["test_case"] }.each do |dt| %>
            <tr id="row_<%= dt["test_case"] %>">
              <td><%= dt["test_case"] %></td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <% dt["parameters"].each do |ph| %>
              <tr id="row_<%= ph["parameter_name"] %>__<%= dt["test_case"] %>">
                <td>&#8869;</td>
                <td><%= ph["parameter_name"] %></td>
                <td><%= ph["parameter_value"] %></td>
              </tr>
            <% end %>
          <% end %>

        </table>
      </div>
    </div>
  </div>
</div>