<div class="row">
    <div class="span1">
      <div class="btn-group">
        <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
          Action
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to(:action => 'show',:controller => :test_plans,:id => test_plan.id) do %>
              <i class="icon-info-sign"></i>&nbsp;show
            <% end %>
          </li>
          <% if env_production? %>
            <li>
              <%= link_to(:action => 'handle',:controller => :test_plans,:id => test_plan.id) do %>
                <i class="icon-tasks"></i>&nbsp;handle
              <% end %>
            </li>
            <li>
              <%= link_to(:action => 'edit',:controller => :test_plans,:id => test_plan.id) do %>
                <i class="icon-edit"></i>&nbsp;edit
              <% end %>
            </li>
            <li>
              <%= link_to(:action => 'clone',:controller => :test_plans,:id => test_plan.id) do %>
                <i class="icon-copy"></i>&nbsp;clone
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="span1"><%= test_plan.id %></div>
    <div class="span3"><%= test_plan.name %></div>
    <div class="span3"><%= test_plan.product_line.name if test_plan.product_line %></div>
    <div class="span1"><%= test_plan.status %></div>
</div>