<input type="hidden" id="test_plan_plan_details" name="test_plan[plan_details]" value="<%= @plan_details.to_json %>"></input>
<div class="row">
    <div class="span7"><br /><h4>Test cases</h4></div>
  </div>

<div class="row">
  <div class="span7">
    <table class="table table-condensed table-hover">
      <tr>
        <th><button class="btn btn-mini" type="button" title="create a new test case" id="newTestCase"><i class="icon-asterisk"></i></button></th>
        <th>Test case</th>
        <th>Parameter name</th>
        <th>Parameter value</th>
        <th>&nbsp;</th>
      </tr>
      <% if !@plan_details.empty? %>
    <% @plan_details.sort_by { |hsh| hsh["test_case"] }.each do |dt| %>
    <tr id="row_<%= dt["test_case"] %>">
      <td>
        <button class="btn btn-mini" type="button" title="delete test case" id="del_test_case_<%= dt["test_case"] %>"><i class="icon-trash"></i></button>
        <button class="btn btn-mini" type="button" title="add new parameter for test case" id="add_param_<%= dt["test_case"] %>"><i class="icon-plus"></i></button>
      </td>
      <td><%= dt["test_case"] %></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td
    </tr>
      <% dt["parameters"].each do |ph| %>
    <tr id="row_<%= ph["parameter_name"] %>__<%= dt["test_case"] %>">
      <td>&nbsp;</td>
      <td>&#8869;</td>
        <td><%= ph["parameter_name"] %></td>
        <td><%= ph["parameter_value"] %></td>
      <td>
        <button class="btn btn-mini" type="button" title="edit parameter" id="edit_param_<%= ph["parameter_name"] %>__<%= dt["test_case"] %>__<%= ph["parameter_value"] %>"><i class="icon-pencil"></i></button>
        <button class="btn btn-mini" type="button" title="delete parameter" id="del_param_<%= ph["parameter_name"] %>__<%= dt["test_case"] %>"><i class="icon-minus"></i></button>
      </td>
    </tr>
      <% end %>
    <% end %>
<% end %>
    </table>
  </div>
</div>

<div id="testcaseModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="testcaseModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="testcaseModalLabel">Test case</h3>
  </div>
  <div class="modal-body" id="testcaseModalBody">
    <div class="row"><div class="span3"><strong>Test case name</strong></div></div>
    <div class="row">
      <div class="span4">
        <%= select_tag("modal_test_case_name", options_for_select(@test_plan.test_case_option_list(@plan_details)),{:include_blank => true, :id => "testcaseModalInput",:class => "span4"}) %>
      </div>
    </div>
    <br /><br />
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" type="button" id="testcaseModalSave">Save</button>
  </div>
</div>

<div id="parameterModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="parameterModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="parameterModalLabel">Test case parameter</h3>
  </div>
  <div class="modal-body" id="parameterModalBody">
    <div class="row">
      <div class="span3"><strong>Parameter name</strong></div>
      <div class="span1"><strong>Value</strong></div>
    </div>
    <div class="row">
      <div class="span4">
        <input type="text" name="modal_parameter_name" id="parameter_nameModalInput" class="span3"></input>
        <input type="text" name="modal_parameter_val" id="parameter_valueModalInput" class="span1"></input>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" type="button" id="parameterModalSave">Save</button>
  </div>
</div>



<script type="text/javascript">
  function clearTestcaseModal(){
     //$( "[name='modal_test_case_name']" ).attr("id","testcaseModalInput").val('').select2("destroy")
     $( "[name='modal_test_case_name']" ).find('option').remove().select2("destroy")
  }

  function clearParameterModal(){
    $( "[name='modal_parameter_name']" ).attr("id","parameter_nameModalInput").val('')
    $( "[name='modal_parameter_val']" ).attr("id","parameter_valueModalInput").val('')
  }

  $("[id^=del_test_case_]").click(function(){
    var vTestcase = $(this).attr('id').split('del_test_case_')[1];
    if (confirm('Are you sure to delete this test case?')) {
    $.post('<%= url_for(:action => :delete_test_case) %>',{test_case_name:vTestcase,details:'<%= raw @plan_details.to_json %>'})
    .done(function(data){
      $("#planDetails").html(data);
    })}
  });

  $("[id^=edit_test_case_]").click(function(){
    var vTestcase = $(this).attr('id').split('edit_test_case_')[1];
    var newId = "testcaseModalInput_" + vTestcase
    $("#testcaseModalInput").attr('id',newId).append(new Option(vTestcase,vTestcase, true, true)).val(vTestcase).select2();
    $("#testcaseModal").modal("show");

    $("#testcaseModalSave").click(function(){
      var vNewTestcase = $("#"+newId).val()
      $.post('<%= url_for(:action => :update_test_case) %>',{test_case_name:vTestcase,new_test_case_name:vNewTestcase,details:'<%= raw @plan_details.to_json %>'})
      .done(function(data){
        
        $("#testcaseModal").modal("hide");
        clearTestcaseModal();
        $("#planDetails").html(data);
      })
    });
  });

  $("[id^=newTestCase]").click(function(){
    var vOptions = { <%= raw (@test_plan.test_case_option_list(@plan_details).collect{|tc|"'#{tc[0]}':'#{tc[0]}'"}).join(',') %> }

    var vTestcase = $(this).attr('id').split('new_test_case_')[1];
    var newId = "testcaseModalInput_" + vTestcase
    $("#testcaseModalInput").attr('id',newId).find('option').remove().select2("destroy")
    $.each(vOptions, function(val, text) {
      $("#"+newId).append(new Option(text,val));
    });

    $("#testcaseModalInput").attr('id',newId)
    $("#"+newId).select2();
    $("#testcaseModal").modal("show");

    $("#testcaseModalSave").click(function(){
      var vNewTestcase = $("#"+newId).val()
      $.post('<%= url_for(:action => :create_test_case) %>',{test_case_name:vNewTestcase,details:'<%= raw @plan_details.to_json %>'})
      .done(function(data){

        $("#testcaseModal").modal("hide");
        clearTestcaseModal();
        $("#planDetails").html(data);
      })
    });
  });

  $("[id^=add_param_]").click(function(){
    var vTestcase = $(this).attr('id').split('add_param_')[1];
    $("#parameterModal").modal("show");

    $("#parameterModalSave").click(function(){
      var vParameterName = $("#parameter_nameModalInput").val();
      var vParameterVal = $("#parameter_valueModalInput").val();
      $.post('<%= url_for(:action => :add_update_parameter) %>',{test_case_name:vTestcase,parameter_name:vParameterName,parameter_value:vParameterVal,details:'<%= raw @plan_details.to_json %>'})
      .done(function(data){

        $("#parameterModal").modal("hide");
        clearParameterModal();
        $("#planDetails").html(data);
      })
    })
  });

  $("[id^=edit_param_]").click(function(){
    var cleanId = $(this).attr('id').split('edit_param_')[1];
    var vTestcase = cleanId.split('__')[1];
    var vOldParamName = cleanId.split('__')[0];
    var vOldParamVal = cleanId.split('__')[2];
    $("#parameter_nameModalInput").val(vOldParamName);
    $("#parameter_valueModalInput").val(vOldParamVal);

    $("#parameterModal").modal("show");

    $("#parameterModalSave").click(function(){
      var vParameterName = $("#parameter_nameModalInput").val();
      var vParameterVal = $("#parameter_valueModalInput").val();
      $.post('<%= url_for(:action => :add_update_parameter) %>',{test_case_name:vTestcase,old_parameter_name:vOldParamName,parameter_name:vParameterName,parameter_value:vParameterVal,details:'<%= raw @plan_details.to_json %>'})
      .done(function(data){

        $("#parameterModal").modal("hide");
        clearParameterModal();
        $("#planDetails").html(data);
      })
    })
  });

  $("[id^=del_param_]").click(function(){
    var cleanId = $(this).attr('id').split('del_param_')[1];
    var vTestcase = cleanId.split('__')[1];
    var vParamname = cleanId.split('__')[0];
    if (confirm('Are you sure to delete this parameter?')) {
    $.post('<%= url_for(:action => :delete_parameter) %>',{test_case_name:vTestcase,parameter_name:vParamname,details:'<%= raw @plan_details.to_json %>'})
    .done(function(data){
      $("#planDetails").html(data);
    })}
  });

  $('#testcaseModal').on('hidden', function () {
    clearTestcaseModal()
  })
</script>