<%= render "show_data" %>
<div class="row">
  <div class="span7">
   <% HandleVersioning.manual_statuses.each do |status| %>
    <%= link_to "Set to #{status}",{:action => :change_status, :id => @test_plan.id, :status => status}, {:class => "btn disabled",:id => "btn-#{status}"} %>
   <% end %>
   <%= link_to "Clone test plan",{:action => 'clone', :controller => :test_plans,:id => @test_plan.id},{:class => "btn"} %>
  </div>
</div>
<div class="row"><br /></div>
<div class="row">
  <div class="span7">
    <%= link_to :back, :class => "btn",:title => "back" do %>
      <i class="icon-arrow-left"></i>
    <% end %>
    <%= link_to test_plans_path, :class => "btn",:title => "overview" do %>
      <i class="icon-arrow-up"></i>
    <% end %>
    <%= link_to @test_plan, :class => "btn", :title => "show" do %>
      <i class="icon-eye-open"></i>
    <% end %>
    <%= link_to(edit_test_plan_path(@test_plan), :class => "btn", :title => "edit") do %>
      <i class="icon-edit"></i>
    <% end %>
    <%= next_prev_button("prev") %>
    <%= next_prev_button("next") %>
  </div>
</div>

<script type="text/javascript">
  <% HandleVersioning.manual_statuses.each do |status| %>
  <% if @test_plan.allowed_status?(status, current_user.user_name,session[:project_id]) && ( !@test_plan.versions.empty? && @test_plan.version == @test_plan.versions.last.version ) %>
    $("#btn-<%= status %>").removeClass("disabled")
  <% end %>
    <% end %>
</script>
