<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand">
        <strong>
          Test plans
        </strong>
      </div>
        <%= form_tag test_plans_path, :method => 'get' do %>
        <div class="span">
          <div class="input-bar">
          <label class="checkbox">
            <%= check_box_tag :obsolete, 0, params[:obsolete],{:data => {"text-label" => "obsolete","off-label" => "","on-label" => "Include",:size => "normal",:on => "success",:off => "default","off-label" => "excluded"}} %>
          </label>
          </div>
      </div>
      <div class="span">
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <div class="input-prepend input-append">
            <%= link_to("New",new_test_plan_path,{:class => 'btn btn-info'}) %>
            <%= select_tag("search_status", options_for_select(HandleVersioning.statusarray.compact,params[:search_status]), include_blank: true, class: 'span2', data: {placeholder: 'Status'}) %>
            <%= text_field_tag :search, params[:search], :placeholder=>" search" %>
            <%= button_tag "Search", :name => nil, :type => :submit, :class => "btn" %>
            <%= button_tag "Reset", :name => 'reset',:class=>"btn",:type=>:submit %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div id="endless">
  <div class="row">
    <div class="offset1 span1"><strong><%= sortable "test_plans.id", "Id" %></strong></div>
    <div class="span3"><strong><%= sortable "test_plans.name", "Name" %></strong></div>
    <div class="span3"><strong><%= sortable "product_lines.name", "Product line" %></strong></div>
    <div class="span1"><strong><%= sortable "test_plans.status", "Status" %></strong></div>
  </div>
    <%= render(:partial => "test_plan", :collection => @test_plans) %>
</div>
<%= will_paginate(@test_plans) %>
<%= pageless(@test_plans.total_pages, test_plans_path, "#endless") %>

<script type="text/javascript">
    $("#obsolete").bootstrapSwitch();
    $('#search_status').chosen({allow_single_deselect:true})
</script>