  <div class="row">
    <div class="span7 bounded bounded-headered">
      <div class="row bounded-header">
        <h4> <%= controller.action_name.humanize %> Test plan</h4>
      </div>
      <%= render :partial => "form_fields", :object => @test_plan %>
    </div>
  </div>

<div class="row">
  <div class="span7">
    <%= link_to :back, :class => "btn",:title => "back" do %>
      <i class="icon-arrow-left"></i>
    <% end %>
    <%= link_to test_plans_path, :class => "btn",:title => "overview" do %>
      <i class="icon-arrow-up"></i>
    <% end %>
  </div>
</div>