<%= render "show_data" %>

<div class="row">
  <div class="span7">
    <%= link_to :back, :class => "btn",:title => "back" do %>
      <i class="icon-arrow-left"></i>
    <% end %>
    <%= link_to test_plans_path, :class => "btn",:title => "overview" do %>
      <i class="icon-arrow-up"></i>
    <% end %>
    <%= link_to(handle_test_plan_path(@test_plan), :class => "btn", :title => "handle",:id => "handleBtn") do %>
      <i class="icon-tasks"></i>
    <% end %>
    <%= link_to(edit_test_plan_path(@test_plan), :class => "btn", :title => "edit",:id => "editBtn") do %>
      <i class="icon-edit"></i>
    <% end %>
    <%= next_prev_button("prev") %>
    <%= next_prev_button("next") %>  
  </div>
</div>

<script type="text/javascript">
<% if !@test_plan.versions.empty? && @test_plan.version != @test_plan.versions.last.version %>
  $("#editBtn").addClass("disabled");
  $("#handleBtn").addClass("disabled");
<% end %>
</script>