<% if conversiontool.isactive == true
  attext='Deactivate'
  atclass='icon-thumbs-down'
else
  attext='Activate'
  atclass='icon-thumbs-up'
end %>

<div class="row" id="row_show_<%=  conversiontool.id %>">
  <div class="span1">
    <div class="btn-group">
      <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
        Action
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to conversiontool_path(conversiontool) do %>
            <i class="icon-info-sign"></i>&nbsp;show
          <% end %>
        </li>
        <li>
          <%= link_to edit_conversiontool_path(conversiontool) do %>
            <i class="icon-edit"></i>&nbsp;edit
          <% end %>
        </li>
        <li>
          <%= link_to toggle_isactive_conversiontool_path(conversiontool), :method => :post do %>
          <i class="<%= atclass %>"></i>&nbsp;<%= attext %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <div class="span1"><%= conversiontool.id %></div>
  <div class="span2"><%= conversiontool.code %>&nbsp;</div>
  <div class="span2"><%= conversiontool.description %>&nbsp;</div>
  <div class="span2"><%= conversiontool.release %>&nbsp;</div>
  <div class="span1"><%= conversiontool.tool_type %>&nbsp;</div>
  <div class="span1"><%= bootstrap_boolean(conversiontool.isactive) %></div>
  <div class="span1"><%= bootstrap_boolean(conversiontool.prod_released_yn) %></div>
</div>