<%= form_for(@conversiontool) do |f| %>
  <% if @conversiontool.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@conversiontool.errors.count, "error") %> prohibited this conversiontool from being saved:</h4>
      <ul>
      <% @conversiontool.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="span7 bounded bounded-headered">
      <div class="row bounded-header">
        <h4><%= controller.action_name.humanize %> Conversion tool: <%= @conversiontool.code %></h4>
      </div>
      <div class="row">
        <div class="span2">
          <strong>Code (release)</strong>
        </div>
        <div class="span4">
          <%= f.text_field :code, :class => 'span4' %>
        </div>
      </div>
      <div class="row">
        <div class="span2">
          <strong>Description</strong>
        </div>
      </div>
      <div class="row">
        <div class="span6">
          <%= f.text_field :description, :class => 'span6' %>
        </div>
      </div>

      <div class="row">
        <div class="span2">
          <strong>Remarks</strong>
        </div>
      </div>
      <div class="row">
        <div class="span6">
          <%= f.text_area :remarks, :class => 'span6', :rows => 7 %>
        </div>
      </div>

      <div class="row">
        <div class="span2">
          <%= f.check_box :isactive %> Active
        </div>
      </div>
      <div class="row">
        <div class="span2">
          <%= f.check_box :prod_released_yn %> Production released
        </div>
      </div>
      <div class="row">
        <div class="span pull-right">
          <%= f.submit 'Save conversiontool', :class => 'btn' %>
        </div>
      </div>
    </div>
  </div>
<% end %>