<%= render 'form' %>
<div class="row">
  <div class="span7">
    <%= link_to @conversiontool, :class => "btn", :title => "show" do %>
      <i class="icon-eye-open"></i>
    <% end %>
    &nbsp;
    <%= link_to :back, :class => "btn", :title => "back" do %>
      <i class="icon-arrow-left"></i>
    <% end %>
    &nbsp;
    <%= link_to conversiontools_path, :class => "btn",:title => "overview" do %>
      <i class="icon-arrow-up"></i>
    <% end %>
  </div>
</div>
