<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand"><strong>Conversion tools</strong></div>
      <div class="span">
        <%= form_tag conversiontools_path, :method => :get do %>
          <div class="span">
            <div class="input-bar">
              <%= link_to new_conversiontool_path, :class => 'btn btn-info' do %>
                <i class="icon-plus">&nbsp;</i>new
              <% end %>
              <%= link_to(sync_conversiontools_path(:direction => params[:direction], :sort => params[:sort], :search => params[:search], :inclinactive => params[:inclinactive]), :class => 'btn btn-info', :title => 'Synchronize with filesystem without toolspec import', :method => :post) do %>
                <i class="icon-refresh">&nbsp;</i>sync
              <% end %>
            </div>
          </div>
          <div class="span">
            <label class="checkbox">
              <%= check_box_tag 'inclinactive', "1", @include_inactive,{:data => {"text-label" => "inactive","off-label" => "","on-label" => "Include",:size => "normal",:on => "success",:off => "default","off-label" => "excluded"}} %>
            </label>
          </div>&nbsp;
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <div class="input-append input-prepend">
            <%= select_tag :search, options_for_select({"choose type" => "", "dev" => "dev" , "alpha" => "alpha", "prod" => "prod" }, params[:search]) %>
            <%= button_tag "Search", :name => nil, :type => :submit, :class => "btn" %>
            <%= button_tag "Reset", :name => 'reset',:class=>"btn",:type=>:submit %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="endless">  
  <div class="row">
    <div class="span1 offset1"><strong>&nbsp;<%= sortable "id", 'Id' %></strong></div>
    <div class="span2"><strong><%= sortable "code" %></strong></div>
    <div class="span2"><strong><%= sortable "description" %></strong></div>
    <div class="span2"><strong><%= sortable "conversiontools.release", "release" %></strong></div>
    <div class="span1"><strong><%= sortable "tool_type", 'Type' %></strong></div>
    <div class="span1"><strong><%= sortable "isactive",'Active' %></strong></div>
    <div class="span1"><strong><%= sortable "prod_released_yn", 'Released' %></strong></div>
  </div>
  <%= render(:partial => "conversiontool", :collection => @conversiontools) %>
</div>
<%= will_paginate(@conversiontools) %>
<%= pageless(@conversiontools.total_pages, conversiontools_path, "#endless",params) %>

<script>
  $("#inclinactive").bootstrapSwitch();
  $('#search').chosen({allow_single_deselect:true});
</script>


