<%= render 'form' %>
<div class="row">
  <div class="span7">
    <%= link_to :back, :class => "btn", :title => "back" do %>
      <i class="icon-arrow-left" title="back"></i>
    <% end %>
    &nbsp;
    <%= link_to conversiontools_path, :class => "btn",:title => "overview" do %>
      <i class="icon-arrow-up" title="overview"></i>
    <% end %>
  </div>
</div>
