<h3><%= controller.action_name.capitalize %> Conversion tool</h3>
<div class="row">
  <div class="bounded span12">
    <div class="row">
      <div class="span3"><strong>Code (release)</strong></div>
      <div class="span8"><strong>Description</strong></div>
    </div>
    <div class="row">
      <div class="span3"><%= @conversiontool.code %></div>
      <div class="span8"><%= @conversiontool.description %></div>
    </div>

    <div class="row">
      <div class="span11"><strong>Remarks</strong></div>
    </div>
    <div class="row">
      <div class="span11"><pre><%= @conversiontool.remarks %></pre></div>
    </div>

    <br/>

    <div class="row">
      <div class="span11"><h5>Bundles belonging to this conversiontool</h5></div>
    </div>
    <div class="row">
      <div class="span1"><strong>id</strong></div>
      <div class="span2"><strong>name</strong></div>
      <div class="span7"><strong>remarks</strong></div>
      <div class="span1"><strong>active</strong></div>
    </div>
    <% @conversiontool.cvtool_bundle_releases.active.each do |cvtool_bundle_release| %>
      <% cvtool_bundle = cvtool_bundle_release.cvtool_bundle %>
      <div class="row">
        <div class="span1"><%= link_to cvtool_bundle.id, cvtool_bundle %></div>
        <div class="span2"><%= cvtool_bundle.name %></div>
        <div class="span7"><%= cvtool_bundle.remarks %></div>
        <div class="span1"><%= bootstrap_boolean(cvtool_bundle.active_yn) %></div>
      </div>
    <% end %>
    <br/>
    <div class="row">
      <div class="span11">
        <div class="accordion" id="accordion1">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse">
                Conversions requested with this tool
              </a>
            </div>
            <div id="collapse" class="accordion-body collapse">
              <div class="accordion-inner">
                <table>
                  <tr>
                    <th>ID</th>
                    <th>Region</th>
                    <th>In / Out</th>
                    <th>CV Bundle</th>
                    <th>Product ID</th>
                  </tr>
                  <% @conversiontool.conversions.each do |conversion| %>
                    <tr>
                      <td>
                        <%= link_to conversion.id, conversion %>
                      </td>
                      <td><%= conversion.region.name if conversion.region %></td>
                      <td><%= conversion.input_format %>2<%= conversion.output_format %></td>
                      <td><%= conversion.cvtool_bundle.name if conversion.cvtool_bundle %></td>
                      <td><%= conversion.productid %></td>
                    </tr>
                  <% end %>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="span11">
        <% if @conversiontool.isactive == true %>
          <span class="label label-info">Active</span>
        <% else %>
          <span class="label label-important">Inactive</span>
        <% end %>



        <% if @conversiontool.prod_released_yn == true %>
          <span class="label label-info">Released</span>
        <% else %>
          <span class="label label-important">Not released</span>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="span11">
    <%= link_to edit_conversiontool_path(@conversiontool), :class => "btn",:title => "edit" do %>
      <i class="icon-edit" title="edit"></i>
    <% end %>
    &nbsp;
    <%= link_to :back, :class => "btn", :title => "back" do %>
      <i class="icon-arrow-left" title="back"></i>
    <% end %>
    &nbsp;
    <%= link_to conversiontools_path, :class => "btn",:title => "overview" do %>
      <i class="icon-arrow-up" title="overview"></i>
    <% end %>
  </div>
</div>