<div class="container">
<% @product_release_note.content_release_notes.order('subrank,rank desc').each do |c|%>
  <% ending = false %>
  <% subclass = '' %>
  <% if !c.subrank.nil? %>
    <%  subclass = 'subclass' %>
  <% end %>
  <div class="row">
    <div class="span5 <%= subclass %>">
      <h5>
      <%=h c.rank %>.<%=h c.subrank %>&nbsp;<%= c.title %>

          <div class="btn-toolbar">
      <div class="btn-group">
        <%= link_to({:controller => :content_release_notes, :action => :edit, :id => c.id}, {:class => "btn btn-mini btn-primary"}) do%>
          <i class="icon-edit" title="edit item"></i>
        <% end %>        
        <% if !c.subrank.nil? %>
          <button onclick="moveDirection('left',<%= c.id %>,<%=  @product_release_note.id %>)" class="btn btn-mini" id="left-<%= c.id %>" type="button" title="indent left"><i class="icon-arrow-left"></i></button>
        <% end %>
        <% if c.subrank.nil? %>
        <button onclick="moveDirection('up',<%= c.id %>,<%=  @product_release_note.id %>)" class="btn btn-mini" id="up-<%= c.id %>"><i class="icon-arrow-down"></i></button>
        <button onclick="moveDirection('down',<%= c.id %>,<%=  @product_release_note.id %>)" class="btn btn-mini" id="down-<%= c.id %>" type="button" title="move up"><i class="icon-arrow-up"></i></button>
        <button onclick="moveDirection('right',<%= c.id %>,<%=  @product_release_note.id %>)" class="btn btn-mini" id="right-<%= c.id %>" type="button" title="indent right"><i class="icon-arrow-right"></i></button>
        <% end %>
      </div>
    </div>      
      <% if c.product_list %>
        <small><i>&nbsp;(product list included)</i></small>
      <% end %>
      <% if c.start_on_new_page %>
        <small><i>&nbsp;(starts on a new page)</i></small>
      <% end %>
      </h5>  
    </div>
  </div>
  <div class="row">
    <div class="span10 <%= subclass %>">
      <pre class="real-pre"><%=h c.content %></pre>
    </div>
  </div>
  
<% end %>
</div>

<script type="text/javascript">
  function moveDirection($dir,$id,$pid) {
   if(($dir == 'right')||($dir == 'left')){
     var action = 'move_leftright'
   } else { var action = 'move_updown'}

   $.get('<%=h url_for(:controller => 'product_release_notes') %>'+'//' + $pid + '/' + action + '?direction=' + $dir + '&content_release_note_id=' + $id , function(data){$("#content_release_notes").html(data)})
  }
</script>