<div class="ui-state-highlight ui-corner-all" style="width: 50px;padding: 5px;text-align: center;float: left">
  <%= @product_release_note.status_string %>
</div>
<div style="padding: 5px;"><h1>&nbsp;Editing release note for <%= @product_release_note.production_order ? @product_release_note.production_order.name : @product_release_note.production_orderline_id %></h1></div>
<br>


<%= form_for(@product_release_note) do |f| %>

  <p>
    <% if @product_release_note.production_orderline %>
      <b>Production Orderline Id</b><br />
      <%= f.text_field :production_orderline_id %>
    <% else %>
      <b>Production Order Id</b><br />
      <%= f.text_field :production_order_id %>
    <% end %>
  </p>
  <p>
    <b>User Id</b><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <b>Status</b><br />
    <%= f.text_field :status %>
  </p>  
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @product_release_note %> |
<%= link_to 'Back', product_release_notes_path %>