<%= stylesheet_link_tag 'release_notes_pdf.css', :media => "all"  %>
<div class="pdf-div"><h1>Release notes <%=  @product_release_note.productset.name %></h1>
<br>
<h2>Product overview</h2>
<p>Set code: <%=  @product_release_note.productset.setcode %></p>
<br>
<table>
  <th>Product ID</th>
  <th>Product name</th>
<% @product_release_note.productset.products.each do |product| %>
  <tr>
    <td><%=h product.volumeid %></td>
    <td><%=h product.name %></td>
  </tr>
<% end %>
</table>  
<br><br>
<% @product_release_note.content_release_notes.each do |content| %>
  <h2><%=h content.title %></h2>
  <pre><%= content.content %></pre>
  <br><br>
<% end %>
  
<% if @product_release_note.production_order.documents.size > 0 %>    
<h2>Appendix(es)</h2>
<table>
  <th>Description</th>
  <th>Directory</th>  
  <th>File name</th>

<% @product_release_note.production_order.documents.each do |doc| %>
  <tr>
    <td><%=h doc.document_object_id %></td>
    <td>/<%=h doc.package_directory %></td>
    <td><%=h doc.filename %></td>
  </tr>
<% end %>  
</table> 
<% end %>
<br>
</div>