<h3>Listing product_release_notes</h3>

<table>
  <tr>
  </tr>

<% @product_release_notes.each do |product_release_note| %>
  <tr>
    <td><%= link_to 'Show', product_release_note %></td>
    <td><%= link_to 'Edit', edit_product_release_note_path(product_release_note) %></td>
    <td><%= link_to 'Destroy', product_release_note, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New product_release_note', new_product_release_note_path,{:class => "ui-icon ui-icon-plusthick", :title => "New product release note"} %>