<span class="label label-info"><%= @product_release_note.status_string %></span>

<div class="row">
  <div class="span12">
    <div class="well well-small">
      <h4>Release note Editor</h4>

      <div class="row">
        <div class="span5">
          <strong>Document attachments</strong>
        </div>
        <div class="span6">
          <strong>Topics & Content</strong>
        </div>
      </div>
      <div class="row">
        <div class="span5">
          <ul>
            <li>
              <%= link_to({:action => :new, :controller => :documents, 
                  :production_order_id => @product_release_note.production_order_id,
                  :production_orderline_id => @product_release_note.production_orderline_id,
                  :returncontroller => controller.controller_name, :returnaction => controller.action_name,
                  :returnid => @product_release_note.id }) do  %>
                <i class="icon-plus-sign">&nbsp;</i>attach document
              <% end %>
            </li>
            <% documents = @product_release_note.production_order ? @product_release_note.production_order.documents : @product_release_note.production_orderline.documents %>
            <% documents.each do |doc| %>
              <li>
                <%= link_to(:action => :edit, :controller => :documents, 
                  :production_order_id => @product_release_note.production_order_id,
                  :production_orderline_id => @product_release_note.production_orderline_id,
                  :returncontroller => controller.controller_name, :returnaction => controller.action_name,
                  :returnid => @product_release_note.id, :id => doc.id) do %>
                  <i class="icon-edit">&nbsp;</i>
                <% end  %>
                <% if doc.binary_data.nil? && doc.mandatory_yn %>
                  <i class="icon-warning-sign" title="attachment is marked as required, and should be manualy filled to completed the release notes."></i>
                <% end %>
                <%= link_to({:action => 'delete', :controller => :documents,
                    :id => doc.id,
                    :production_order_id => @product_release_note.production_order_id,
                    :production_orderline_id => @product_release_note.production_orderline_id, 
                    :returncontroller => controller.controller_name, :returnaction => controller.action_name,
                    :returnid => @product_release_note.id },
                  {:title => 'delete document',:confirm => 'Are you sure to permanently delete this document?'}) do %>
                  <i class="icon-trash">&nbsp;</i>
                <% end %>
                <%= doc.package_directory %>/<%= doc.filename %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="span6">
          <ul>
            <% @unused_static_release_note_titles.each do |srt| %>
              <li>
                <%= link_to({:action => :edit, :controller => :content_release_notes, 
                    :product_release_note_id => @product_release_note.id, :id => srt.id }) do %>
                  <i class="icon-pencil" title="Fill topic"></i>
                <% end %>
                <%=h srt.title %>
                <% if srt.addition_required_yn %>
                  <i class="icon-warning-sign" title="topic is marked as required, and should be manualy filled to completed the release notes."></i>
                <% end %>
              </li>
            <% end %>
            <li>
              <%= link_to({:action => :new, :controller => :content_release_notes, 
                  :product_release_note_id => @product_release_note.id}, {:class => 'ui-icon ui-icon-circle-plus',:title => 'new content'}) do  %>
                <i class="icon-plus-sign">&nbsp;</i>new content
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>  
</div> 
<div class="row">
  <div class="span12">
    <div class="bounded">
      <h4>
        <%= link_to(product_release_note_path(@product_release_note, :format => 'pdf')) do %>
          <i class="icon-print" title="Generate test-pdf">&nbsp;</i>
        <% end %>
        Release note for <%= @product_release_note.production_order ? @product_release_note.production_order.name : @product_release_note.production_orderline_id %>
      </h4>

      <div id="content_release_notes">
        <%= render :partial => "content_release_notes" ,:object => @product_release_note %>
      </div>
    </div> 
  </div>

</div>
<%= link_to({:controller => :production_orders, :action => :manage, :id => @product_release_note.production_order ? @product_release_note.production_order.id : @product_release_note.production_orderline.production_order_id }) do %>
  <i class="icon-arrow-left">&nbsp;</i>back
<% end %>