<% f = formfields %>
<table>
  <tr>
    <td><span id="drfmsid_s" class="popup_link"><b>Reference id</b></span></td>
    <td><%= f.text_field :drfmsid %></td>
  </tr>

  <tr>
    <td><span id="mediatype_s" class="popup_link"><b>Mediatype</b></span></td>
    <td><%= f.select :mediatype, ['DVD','CD'].collect {|c| [c, c]}<< @inbound_orderline.mediatype %></td>
    <!--<td><%= f.select :mediatype, Mediatype.all.collect {|c| [c.name, c.name ]} %></td>-->
  </tr>
  <tr>
    <td><span id="data_release_name_s" class="popup_link"><b>Data release</b></span></td>
    <td><%= f.text_field :data_release_name  %></td>
  </tr>
  <tr>
    <td><span id="area_s" class="popup_link"><b>Area</b></span></td>
    <td><%= f.select :area,  Region.find_all_for_module("WebMIS").collect {|c| [c.name,c.name]}, :include_blank => true %>
  </tr>
  <tr>
    <td><span id="data_type_id_s" class="popup_link"><b>Data type</b></span></td>
    <td><%= f.select :data_type_id, DataType.all.collect {|c| [c.description, c.id]}  %></td>
  </tr>

  <tr>
    <td><span id="dbversion_s" class="popup_link"><b>Part & Content descr.</b></span></td>
    <td><%= f.text_field :dbversion %></td>
  </tr>
  <tr>
    <td><span id="arrival_date_s" class="popup_link"><b>Arrival date</b></span></td>
    <td><%= f.date_select :arrival_date %></td>
  </tr>
</table>
