<h1>Editing Received Media</h1>

<% if @inbound_orderline.errors.any? %>
  <div class="alert alert-error">
    <% @inbound_orderline.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
  </div>
<% end %>

<%= form_for(@inbound_orderline) do |f| %>
  <%= render :partial => 'formfields',:object => f %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @inbound_orderline %> |
<%= link_to 'Back', inbound_orderlines_path %><br><br>
<% if @result_previous %>
<%=link_to '<= Previous Record', :action => 'edit', :id => @previous%>
<% end %>
<% if @result_next %>
<%=link_to 'Next Record =>', :action => 'edit', :id => @next%>
<% end %>


