<div id=generic_pop class="popup popup_draghandle">
  <h3>Received Media</h3>
</div>
<%= javascript_tag "new Popup('generic_pop','generic')" %>
<%= form_tag({:action => 'index'}, :method => 'get') %>

<%= text_field_tag 'c', params[:c]    %>
<%= submit_tag "Free filter" %>&nbsp;&nbsp;
<%= link_to image_tag('icons/document-new.png', :border =>0, :alt => "Receive new Medium" , :title => "Receive new Medium"), :action => 'new'%>
</form>

<%= grid(@inbound_orderlines) do |g|
    
      g.column :column_name => 'Id' , :attribute_name => 'id',:no_filter => true do |ps|
        ps.id
      end    
  
      g.column :column_name => 'Reference id' , :attribute_name => 'drfmsid' do |ps|
        ps.drfmsid
      end
      
      g.column :column_name => 'Reception Ref' , :attribute_name => 'drfmsid' do |ps|
        like = "%".concat(ps.drfmsid.to_s.concat("%"))
        reception_ref = Reception.where(["`references` like ?", like]).first
        reception_ref.id if reception_ref
      end
      
      g.column :column_name => 'Media type' , :attribute_name => 'mediatype' do |ps|
        ps.mediatype
      end
      
      g.column :column_name => 'Area' , :attribute_name => 'area' do |ps|
        ps.area
      end

      g.column :column_name => 'Release' , :attribute_name => 'data_release_name' do |ps|
        ps.data_release_name
      end

      g.column :column_name => 'Data type' , :attribute_name => 'data_type_id' do |ps|
        DataType.find(ps.data_type_id).name
      end

      g.column :column_name => 'Part & Content descr.' , :attribute_name => 'dbversion' do |ps|
        ps.dbversion
      end

      g.column do |ps|
        link_to image_tag('icons/emblem-notice.png', :border =>0, :alt => "show" , :title => "show"), :action => 'show' , :id => ps.id
      end

      g.column do |ps|
        link_to image_tag('icons/document-edit.png', :border =>0, :alt => "edit" , :title => "edit"), :action => 'edit' , :id => ps.id
      end

end %>

<br />
<%= link_to image_tag('icons/document-new.png', :border =>0, :alt => "Receive new Medium" , :title => "Receive new Medium"), :action => 'new'   %>
<br /><br />