<h1>New Received Media</h1>

<% if @inbound_orderline.errors.any? %>
  <div class="alert alert-error">
    <% @inbound_orderline.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
  </div>
<% end %>

<%= form_for(@inbound_orderline) do |f| %>
  <%= render :partial => "formfields" ,:object => f %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', inbound_orderlines_path %>
