<p>
  <b>Id:</b>
  <%=h @inbound_orderline.id %>
</p>
<p>
  <b>Referenceid:</b>
  <%=h @inbound_orderline.drfmsid %>
</p>

<p>
  <b>Mediatype:</b>
  <%=h @inbound_orderline.mediatype %>
</p>

<p>
  <b>Area:</b>
  <%=h @inbound_orderline.area %>
</p>

<p>
  <b>Data release:</b>
  <%=h @inbound_orderline.data_release_name %>
</p>


<p>
  <b>Dbversion:</b>
  <%=h @inbound_orderline.dbversion %>
</p>

<p>
  <b>Arrival date:</b>
  <%=h @inbound_orderline.arrival_date %>
</p>


<%= link_to 'Edit', edit_inbound_orderline_path(@inbound_orderline) %> |
<%= link_to 'Back', inbound_orderlines_path %>
