  <div class="row">
    <div class="span1">
      <div class="btn-group">
        <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
        Action
        <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to(asset) do %>
            <i class="icon-info-sign"></i>&nbsp;show
            <% end %>
          </li>
          <li>
            <%= link_to(:action => 'edit' , :id => asset.id) do %>
            <i class="icon-edit"></i>&nbsp;edit
            <% end %>
          </li>          
        </ul>
      </div>      
    </div>
    <div class="span1">
      <%=h asset.ref_id if !asset.document%>
      <% if asset.document %>
        <% last = asset.document.versions.last %> 
        <%=h link_to(asset.ref_id.to_s, { :action => 'download', 
          :controller => 'documents' , 
          :id => asset.document.id.to_s , 
          :ver => last.version.to_s }, 
         {:title => "download latest version: #{asset.document.filename}" }) %>
      <% end %>
    </div>
    <div class="span5"><%=h asset.title %></div>
    <div class="span2"><%=h asset.assettype %></div>
    <div class="span2"><%=h asset.requested_by %></div>
    <div class="span2"><%=h asset.created_at.strftime('%Y-%m-%d %H:%M') %></div>
  </div>