<h3>Editing asset</h3>

<% if @asset.errors.any? %>
  <ul>
    <% @asset.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for(@asset) do |f| %>
  <p>
    <span id="assettype_s" class="popup_link"><b>Asset type:</b></span>
    <%= @asset.assettype %>
  </p>
  <p>
    <span id="ref_id_s" class="popup_link"><b>Ref:</b></span>
    <%= @asset.ref_id %>
  </p>

  <p>
    <span id="requested_by_s" class="popup_link"><b>Requested by:</b></span>
    <%= @asset.requested_by %>
  </p>
  <p>
    <span id="suffix_s" class="popup_link"><b>Suffix:</b></span><br />
    <%= f.text_field :suffix,:class => 'span1' %>
  </p>
  <p>
    <span id="title_s" class="popup_link"><b>Title:</b></span><br/>
    <%= f.text_field :title ,:class => 'span6' %>
  </p>

  <p>
    <span id="remarks_s"><b>Description</b></span><br />
    <%= f.text_field :remarks ,:class => 'span6' %>
  </p>
  <% if @current_user.docrole != 'Others' %>
 <p>
   <span id="extend_view_s" class="popup_link"><b>Limited visibility</b></span><br />
    <%= check_box_tag 'extend_view', 'off', params[:extend_view]    %>
  </p>
  <% end  %>

  <p>
    <%= f.submit "Update", :class => 'btn btn-primary' %>
  </p>
<% end %>

<%= link_to 'Show', @asset %> |
<%= link_to 'Back', assets_path %>