<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand"><strong>Document registration</strong></div>
      <div class="span">
        <%= form_tag assets_path, :method => 'get' do %>
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <div class="input-append">
            <%= select_tag 'asset_type', options_for_select(['All'] + AssetType.all.order('name').collect{|x| [x.name,x.name]},params[:asset_type])   %>
            <%= text_field_tag :search, params[:search], :placeholder=>" search",:class=>"span3",:size=>"16" %>
            <%= button_tag "Search", :name => nil, :type => :submit, :class => "btn" %>
            <%= button_tag "Reset", :name => 'reset',:class=>"btn",:type=>:submit %>
            <%= link_to(:controller => 'asset_types', :action => 'create_number' , :id => 1, :class => 'btn') do %>
              <i class="icon-search">&nbsp;</i>Create new Document ID
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="endless">
  <div class="row">
    <div class="span1 offset1"><strong><%= sortable 'id','Doc. ID' %></strong></div>
    <div class="span5"><strong><%= sortable 'title' %></strong></div>
    <div class="span2"><strong><%= sortable 'assettype','Type' %></strong></div>
    <div class="span2"><strong><%= sortable 'requested_by','Requester' %></strong></div>
    <div class="span1"><strong><%= sortable 'created_at','Date' %></strong></div>
  </div>
  <%= render(:partial => "asset", :collection => @assets) %>
</div>
<%= will_paginate(@assets) %>
<%= pageless(@assets.total_pages, assets_path, "#endless") %>
