<h3>New asset</h3>
<% if @asset.errors.any? %>
  <ul>
    <% @asset.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<div class="row">
  <%= form_for(@asset) do |f| %>
    <div class="span2"><strong>Asset type</strong></div>
    <div class="span2"><strong>Ref</strong></div>
    <div class="span2"><strong>Requester</strong></div>
  </div>
  <div class="row">
    <div class="span2"><%= f.select :assettype, AssetType.all.order('name').collect{|a|[a.name,a.name]},{:include_blank => true}, {:class => 'span2'} %></div>
    <div class="span2"><%= f.text_field :ref_id , :class => 'span2' %></div>
    <div class="span2"><%= f.text_field :requested_by , :class => 'span2' %></div>    
  </div>
  <div class="row">
    <div class="span2"><strong>Remarks</strong></div>
  </div>
  <div class="row">
    <div class="span6">
      <%= f.text_field :remarks, :class => 'span6' %>
    </div>
  </div>
  <p>
    <%= f.submit "Create", :class => 'btn btn-primary' %>
  </p>
<% end %>

<%= link_to 'Back', assets_path %>