<h3>Document registration</h3>
<div class="row">
  <div class="span10 well">
    <div class="row">
      <div class="span1"><strong>ID</strong></div>
      <div class="span1"><%=h @asset.ref_id %></div>
      <div class="span1"><strong>Title</strong></div>
      <div class="span7"><%=h @asset.title %></div>
    </div>
    <div class="row">
      <div class="span1"><strong>Suffix</strong></div>
      <div class="span1"><%=h @asset.suffix %>&nbsp;</div>
      <div class="span1"><strong>Description</strong></div>
      <div class="span7"><%=h @asset.remarks %>&nbsp;</div>
    </div>
    <div class="row">
      <div class="span1"><strong>Type</strong></div>
      <div class="span1"><%=h @asset.assettype %>&nbsp;</div>
      <div class="span1"><strong>Requester</strong></div>
      <div class="span7"><%=h @asset.requested_by %>&nbsp;</div>
    </div>  
  </div>
</div>
<% if @asset.document %>
  <% c = 1 %>
  <% @asset.document.versions.each do |version| %>
    <div class="row">
      <div class="span10">
        <ul class="thumbnails">
          <li class="span4">
            <div class="thumbnail">
              <h6><%= version.description %></h6>
              <p><%= link_to(:action => 'download', :controller => 'documents' , :id => @asset.document.id.to_s , :ver => c.to_s) do %>
                  <i class="icon-download-alt">&nbsp;</i><%= "version #{c.to_s}" %>
                 <% end %>
                 <%  if @asset.document.user_id %>
                   by <%= User.find(@asset.document.user_id).user_name %>
                 <% end %>
              </p>
              <% c = c + 1 %>
            </div>
          </li>
        </ul>
      </div>
    </div>
  <% end %>
  <% last = @asset.document.versions.last %> 
    <div class="row">
      <div class="span10">
        <ul class="thumbnails">
          <li class="span4">
            <div class="thumbnail">
              <h6><%= last.description %></h6>
              <p><%= link_to(:action => 'download', :controller => 'documents' , :id => @asset.document.id.to_s , :ver => last.version.to_s) do %>
                  <i class="icon-download-alt">&nbsp;</i>latest version
                 <% end %>
                 <%  if @asset.document.user_id %>
                   by <%= User.find(@asset.document.user_id).user_name %>
                 <% end %>
              </p>
              <% c = c + 1 %>
            </div>
          </li>
        </ul>
      </div>
    </div>
<% end %>

<%= link_to(assets_path) do %>
  <i class="icon-circle-arrow-left" title="overview">&nbsp;</i>
<% end %>
<%= link_to(edit_asset_path(@asset)) do %>
  <i class="icon-edit" title="edit">&nbsp;</i>
<% end %>

