<% if data_type.status == 'obsolete' %>
 <% obsolete_class = 'deleted' %>
<%end%>
  <div class="row">
    <div class="span1">
      <%= render(:partial => "shared/versioned_object", :object => data_type) %>
    </div>
    <div class="span2 <%= obsolete_class %>"><%= data_type.name %>&nbsp;</div>
    <div class="span1 <%= obsolete_class %>"><%= bootstrap_boolean(data_type.isactive, title='yes or no') %></div>
    <div class="span4 <%= obsolete_class %>"><%= data_type.description %>&nbsp;</div>
  
    <div class="span1 <%= obsolete_class %>"><%= data_type.latest_approved.version if data_type.latest_approved %>&nbsp;</div>
    <div class="span1 <%= obsolete_class %>"><%= data_type.version %>&nbsp;</div>
    <div class="span1 <%= obsolete_class %>"><%= data_type.status %>&nbsp;</div>
  </div>
