<%= select_tag 'filling_select', options_for_select(@fillings_for_select.collect{|f|[f.name,f.id]}),:include_blank => true,:class => 'span3' %>

<script type="text/javascript">
    function fillingFields(){
    var return_str = "0";
    $('[id^="filling_field"]').each(function() {
      return_str += ',' + $(this).val();
    });
    return return_str
  }

  $("#filling_select").change(function(){
    var new_filling_set_str = fillingFields() + ',' + $(this).val();
    $.post('<%= url_for(:action => :add_filling_to_list) %>',{ filling_ids: new_filling_set_str })
  });
</script>