<span class="label label-inverse" id="Label<%= filling.id %>">
  <%= hidden_field_tag "filling[field-#{filling.id}]", filling.id, :id => "filling_field-#{filling.id}" %>
  <% if controller.action_name != 'show' && controller.action_name != 'handle' %>
    <i id="<%= filling.id %>" class="icon-trash " title="remove filling from data set"> </i>
  <% end %>
  &nbsp;<%= filling.name %>
</span>&nbsp;

<script type="text/javascript">
  $(".icon-trash").hover(function(){
  $(this).css( 'cursor', 'pointer' );
});

$(".icon-trash").click(function(){
  var label = "Label" + $(this).attr("id")
  $("#"+label).remove();
  var new_filling_set_str = fillingFields();
  $.post('<%= url_for(:action => :remove_filling_from_list) %>',{ filling_ids: new_filling_set_str })
});
</script>