<% if @data_type.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@data_type.errors.count, "error") %> prohibited this data type from being saved:</h2>

    <ul>
      <% @data_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@data_type, :html => {:id => 'data_type'}) do |f| %>
  <div class="row">
    <div class="span12 bounded bounded-headered">
      <div class="row bounded-header">
        <div class="span8">
          <h4><%= @heading %></h4>
        </div>
        <div class="span1 headertext">
          <strong>Revision</strong> <%= @data_type.version.to_i + 1 %>
        </div>
        <div class="span1 headertext">
          <strong>Status</strong>
        </div>
        <div class="span2 headertext">
          <%= @data_type.status %>
        </div>
        <%= f.hidden_field :bug_tracker_id %>
        <%= f.hidden_field :comment %>
      </div>
      <div class="row">
        <div class="span12">
          <div class="row">
            <div class="span2"><strong>Name</strong></div>
            <div class="span3"><%= f.text_field :name, :class => 'span3' %></div>
              <div class="span1"><strong>Active?</strong></div>
              <div class="span1"><%= f.check_box :isactive %></div>
              <div class="span2"><strong>Validate automatically?</strong></div>
              <div class="span1"><%= f.check_box :automatic_validation_yn %></div>
              <div class="span1"><strong>Intermediate?</strong></div>
              <div class="span1"><%= f.check_box :is_intermediate %></div>
            </div>
            <div class="row">
              <div class="span2"><strong>Description</strong></div>
              <div class="span9"><%= f.text_area :description, rows: 3, :class => "span9" %></div>
              </div>
              <div class="row">
                <div class="span2"><strong>Validation executable</strong></div>
                <div class="span3"><%= f.text_field :validation_executable, :class => "span3" %></div>
              </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12 bounded">
      <h5>Fillings</h5>
      <div class="row">
        <div class="span3" id="fillingSelect">
          <%= render :partial => "filling_select", :object => @fillings_for_select %>
        </div>
        <div class="span9" id="fillingList">
          <%= render :partial => "filling", :collection => @data_type.fillings %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12 bounded">
      <h5>Validation scheduling data</h5>
      <div class="row">
        <div class="span2">
          <strong>Schedule only manual</strong>
        </div>
        <div class="span4">
          <%= f.check_box :schedule_manual %>
        </div>
        <div class="span3">
          <strong>Base memory (MB)</strong>
        </div>
        <div class="span3">
          <%= f.number_field :schedule_memory_base, :class => "span1" %>
        </div>
      </div>
      <div class="row">
        <div class="span2">
          <strong>Use machine exclusively</strong>
        </div>
        <div class="span4">
          <%= f.check_box :schedule_exclusive %>
        </div>
        <div class="span3">
          <strong>Memory times size input files</strong>
        </div>
        <div class="span3">
          <%= f.number_field :schedule_memory_times_input, :class => "span1" %>
        </div>
      </div>
      <div class="row">
        <div class="span2">
          <strong>Virtual machine allowed</strong>
        </div>
        <div class="span4">
          <%= f.check_box :schedule_allow_virtual %>
        </div>
        <div class="span3">
          <strong>Base disk space (MB)</strong>
        </div>
        <div class="span3">
          <%= f.number_field :schedule_diskspace_base, :class => "span1" %>
        </div>
      </div>
      <div class="row">
        <div class="span2">
          <strong>Number of cores</strong>
        </div>
        <div class="span4">
          <%= f.number_field :schedule_cores, :class => "span1" %>
        </div>
        <div class="span3">
          <strong>Disk space times size input files</strong>
        </div>
        <div class="span3">
          <%= f.number_field :schedule_diskspace_times_input, :class => "span1" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <button class="btn btn-primary pull-right" id="form-submit" type="button">Save</button>
    </div>
  </div>
<% end %>


<script type="text/javascript">
  $("#filling_select").select2({placeholder: "Select a filling to add"});
  $('#status').chosen();
  $('#form-submit').click(function(){
    $("#data_type").submit();
  });
</script>
