<div class="row">
  <div class="span12 bounded">
    <div class="accordion" id="accordion1">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion1" name="history" href="#history-object"><h5>History</h5></a>
      <div id="history-object" class="accordion-body collapse">
        <div class="accordion-inner">
          <%= javascript_include_tag 'json-diff' %>
          <%= javascript_include_tag 'jsond' %>
          <%= stylesheet_link_tag "json-diff", :media=> "all" %>
          <% require 'DifferHistory' %>
          <% Differ.format = DifferHistory %>

          <div class="row">
            <div class="span2"><strong>Revision</strong></div>
            <div class="span2"><strong>Updated by</strong></div>
            <div class="span2"><strong>Updated at</strong></div>
            <div class="span1"><strong>Jira</strong></div>
            <div class="span4"><strong>Save comment</strong></div>
          </div>

          <% old_name = "" %>
          <% old_automatic_validation_yn = nil %>
          <% old_manual_yn = nil %>
          <% old_description = "" %>
          <% old_validation_executable = "" %>
          <% old_schedule_manual = true.to_s %>
          <% old_schedule_exclusive = "" %>
          <% old_schedule_allow_virtual = "" %>
          <% old_schedule_cores = "" %>
          <% old_schedule_memory_base = "" %>
          <% old_schedule_memory_times_input = "" %>
          <% old_schedule_diskspace_base = "" %>
          <% old_schedule_diskspace_times_input = "" %>

          <% @data_type.versions.each do |data_type_version| %>
            <hr>
            <div class="row">
              <div class="span2"><%= "#{data_type_version.version} (#{data_type_version.status})" %>&nbsp;</div>
              <div class="span2"><%= data_type_version.updated_by %>&nbsp;</div>
              <div class="span2"><%= data_type_version.updated_at.to_s %>&nbsp;</div>
              <div class="span1"><%= link_to_if(data_type_version.bug_tracker_id, data_type_version.bug_tracker_id, "#{ConfigParameter.get("cr_tool_url")}#{data_type_version.bug_tracker_id}") %>&nbsp;</div>
              <div class="span4"><%= data_type_version.comment %>&nbsp;</div>
            </div>

            <div class="row history">
              <div class="offset1 span2"><strong>Name</strong></div>
              <% new_name = data_type_version.name %>
              <div class="span8 <%= history_class old_name, new_name %>">
                <%= history_string old_name, new_name %>
              </div>
              <% old_name = new_name %>
            </div>

            <div class="row history">
              <div class="offset1 span2"><strong>Validate automatically?</strong></div>
              <% new_automatic_validation_yn = data_type_version.automatic_validation_yn %>
              <div class="span8 <%= history_class old_automatic_validation_yn, new_automatic_validation_yn %>">
                <%= history_string old_automatic_validation_yn, new_automatic_validation_yn %>
              </div>
              <% old_automatic_validation_yn = new_automatic_validation_yn %>
            </div>

            <div class="row history">
              <div class="offset1 span2"><strong>Description</strong></div>
              <% new_description = data_type_version.description.to_s %>
              <div class="span8">
                <%= simple_format raw Differ.diff_by_word(new_description, old_description) %>
              </div>
              <% old_description = new_description %>
            </div>

            <div class="row history">
              <div class="offset1 span2"><strong>Validation executable</strong></div>
              <% new_validation_executable = data_type_version.validation_executable.to_s %>
              <div class="span8 <%= history_class old_validation_executable, new_validation_executable %>">
                <%= history_string old_validation_executable, new_validation_executable %>
              </div>
              <% old_validation_executable = new_validation_executable %>
            </div>

            <hr>
            <div class="row">
              <div class="span9"><strong>Automatic scheduling data</strong></div>
            </div>

            <div class="row history">
              <div class="offset1 span2"><strong>Schedule only manual</strong></div>
              <% new_schedule_manual = data_type_version.schedule_manual.to_s %>
              <div class="span8 <%=  history_class old_schedule_manual, new_schedule_manual %>">
                <%= history_string old_schedule_manual, new_schedule_manual %>
              </div>
              <% old_schedule_manual = new_schedule_manual %>
            </div>

            <div class="row history">
              <div class="offset1 span2"><strong>Use machine exclusively</strong></div>
              <% new_schedule_exclusive = data_type_version.schedule_exclusive %>
              <div class="span8 <%=  history_class old_schedule_exclusive, new_schedule_exclusive %>">
                <%= history_string old_schedule_exclusive, new_schedule_exclusive %>
              </div>
              <% old_schedule_exclusive = new_schedule_exclusive %>
            </div>

            <div class="row history">
              <div class="offset1 span2"><strong>Virtual machine allowed</strong></div>
              <% new_schedule_allow_virtual = data_type_version.schedule_allow_virtual %>
              <div class="span8 <%=  history_class old_schedule_allow_virtual, new_schedule_allow_virtual %>">
                <%= history_string old_schedule_allow_virtual, new_schedule_allow_virtual %>
              </div>
              <% old_schedule_allow_virtual = new_schedule_allow_virtual %>
            </div>

            <div class="row history">
              <div class="offset1 span2"><strong>Number of cores</strong></div>
              <% new_schedule_cores = data_type_version.schedule_cores %>
              <div class="span8 <%=  history_class old_schedule_cores, new_schedule_cores %>">
                <%= history_string old_schedule_cores, new_schedule_cores %>
              </div>
              <% old_schedule_cores = new_schedule_cores %>
            </div>

            <div class="row history">
              <div class="offset1 span2"><strong>Base memory (MB)</strong></div>
              <% new_schedule_memory_base = data_type_version.schedule_memory_base %>
              <div class="span8 <%=  history_class old_schedule_memory_base, new_schedule_memory_base %>">
                <%= history_string old_schedule_memory_base, new_schedule_memory_base %>
              </div>
              <% old_schedule_memory_base = new_schedule_memory_base %>
            </div>

            <div class="row history">
              <div class="offset1 span2"><strong>Memory times size input files</strong></div>
              <% new_schedule_memory_times_input = data_type_version.schedule_memory_times_input %>
              <div class="span8 <%=  history_class old_schedule_memory_times_input, new_schedule_memory_times_input %>">
                <%= history_string old_schedule_memory_times_input, new_schedule_memory_times_input %>
              </div>
              <% old_schedule_memory_times_input = new_schedule_memory_times_input %>
            </div>

            <div class="row history">
              <div class="offset1 span2"><strong>Base diskspace (MB)</strong></div>
              <% new_schedule_diskspace_base = data_type_version.schedule_diskspace_base %>
              <div class="span8 <%=  history_class old_schedule_diskspace_base, new_schedule_diskspace_base %>">
                <%= history_string old_schedule_diskspace_base, new_schedule_diskspace_base %>
              </div>
              <% old_schedule_diskspace_base = new_schedule_diskspace_base %>
            </div>

            <div class="row history">
              <div class="offset1 span2"><strong>Diskspace times size input files</strong></div>
              <% new_schedule_diskspace_times_input = data_type_version.schedule_diskspace_times_input %>
              <div class="span8 <%=  history_class old_schedule_diskspace_times_input, new_schedule_diskspace_times_input %>">
                <%= history_string old_schedule_diskspace_times_input, new_schedule_diskspace_times_input %>
              </div>
              <% old_schedule_diskspace_times_input = new_schedule_diskspace_times_input %>
            </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>