<%= render(:partial => "shared/versioned_object_warning", :object => @data_type) %>
<div class="row">
  <div class="span12 bounded bounded-headered">
    <div class="row bounded-header">
      <div class="span8">
        <h4>DataType <%= @data_type.name %></h4>
      </div>
      <div class="span1 headertext">
        <strong>Revision</strong> <%= @data_type.version %>
      </div>
      <div class="span1 headertext">
        <strong>Status</strong>
      </div>
      <div class="span2 headertext">
        <%= @data_type.status %>
      </div>
    </div>

    <div class="row">
      <div class="span12">
        <div class="row">
          <div class="span2"><strong>Name</strong></div>
          <div class="span4"><%= @data_type.name %>&nbsp;</div>
          <div class="span2"><strong>Validate automatically?</strong></div>
          <div class="span1"><%= bootstrap_boolean(@data_type.automatic_validation_yn, title="yes or no") %></div>
          <div class="span2"><strong>Intermediate?</strong></div>
          <div class="span1"><%= bootstrap_boolean(@data_type.is_intermediate, title="yes or no") %></div>
        </div>
        <div class="row">
          <div class="span2"><strong>Description</strong></div>
          <% if @data_type.description.blank? %>
            <div class="span9"><%= bootstrap_boolean(false) %></div>
          <% else %>
            <div class="span9"><%= simple_format @data_type.description %></div>
          <% end %>
        </div>
        <div class="row">
          <div class="span2"><strong>Validation executable</strong></div>
          <div class="span4"><%= @data_type.validation_executable %>&nbsp;</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12 bounded">
    <h5>Fillings</h5>
    <div class="row">
      <div class="span12" id="fillingList">
        <% if @data_type.fillings.empty? %>
        <i>No fillings defined.</i>
        <% else %>
          <%= render :partial => "filling", :collection => @data_type.fillings %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <% if @data_type.automatic_validation_yn %>
      <div class="row">
        <div class="span12 bounded">
          <h5>Validation scheduling data</h5>
          <div class="row">
            <div class="span2">
              <strong>Schedule only manual</strong>
            </div>
            <div class="span3">
              <%= bootstrap_boolean(@data_type.schedule_manual,title='yes or no') %>
            </div>
            <div class="span3">
              <strong>Base memory (MB)</strong>
            </div>
            <div class="span2">
              <%= @data_type.schedule_memory_base %>
            </div>
          </div>
          <div class="row">
            <div class="span2">
              <strong>Use machine exclusively</strong>
            </div>
            <div class="span3">
              <%= bootstrap_boolean(@data_type.schedule_exclusive, title='yes or no') %>
            </div>
            <div class="span3">
              <strong>Memory times size input files</strong>
            </div>
            <div class="span2">
              <%= @data_type.schedule_memory_times_input %>
            </div>
          </div>
          <div class="row">
            <div class="span2">
              <strong>Virtual machine allowed</strong>
            </div>
            <div class="span3">
              <%= bootstrap_boolean(@data_type.schedule_allow_virtual,title='yes or no') %>
            </div>
            <div class="span3">
              <strong>Base disk space (MB)</strong>
            </div>
            <div class="span2">
              <%= @data_type.schedule_diskspace_base %>
            </div>
          </div>
          <div class="row">
            <div class="span2">
              <strong>Number of cores</strong>
            </div>
            <div class="span3">
              <%= @data_type.schedule_cores %>&nbsp;
            </div>
            <div class="span3">
              <strong>Disk space times size input files</strong>
            </div>
            <div class="span2">
              <%= @data_type.schedule_diskspace_times_input %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= render 'history' %>