$("#filling_select").select2("destroy");
$("#fillingSelect").html('<%= escape_javascript(render :partial => "filling_select", :object => @fillings_for_select) %>');
$("#fillingList").html('<%= escape_javascript(render :partial => "filling", :collection => @data_type_fillings) %>');
$("#filling_select").select2({placeholder: "Select a filling to add"});