<%= render 'show_data' %>

<div class="row">
  <div class="span12">
    <%= link_to "Set to draft", [:draft, @data_type], { :class => "btn #{@data_type.allowed_status?("draft", @current_user.user_name) && can?(:draft, @data_type) ? 'enabled' : 'disabled'}", :method => :post } %>&nbsp;
    <%= link_to "Request review", [:review, @data_type], { :class => "btn #{@data_type.allowed_status?("review", @current_user.user_name) && can?(:review, @data_type) ? 'enabled' : 'disabled'}", :id => "request_review", :method => :post } %>&nbsp;
    <%= link_to "Approve", [:approve, @data_type], { :class => "btn #{@data_type.allowed_status?("approved", @current_user.user_name,session[:project_id]) && can?(:approve, @data_type) ? 'enabled' : 'disabled'}", :method => :post } %>&nbsp;
    <%= link_to "Revert to latest approved", [:revert, @data_type], {:class => "btn #{@data_type.status != "approved" && @data_type.latest_approved && can?(:revert, @data_type) ? 'enabled' : 'disabled'}", :method => :post } %>&nbsp;
    <%= link_to "Mark as obsolete", [:obsolete, @data_type], {:class => "btn #{@data_type.allowed_status?("obsolete", @current_user.user_name) && can?(:obsolete, @data_type) ? 'enabled' : 'disabled'}", :method => :post } %>&nbsp;
  </div>
</div>
<div class="row"><div class="span12"><hr /></div></div>
<div class="row">
  <div class="span11">
    <%= link_to @data_type, :class => "btn", :title => "show" do %>
      <i class="icon-eye-open"></i>
    <% end %>
    &nbsp;
    <%= link_to edit_data_type_path(@data_type), :class => "btn",:title => "edit" do %>
      <i class="icon-edit"></i>
    <% end %>
    &nbsp;
    <%= link_to :back, :class => "btn", :title => "back" do %>
      <i class="icon-arrow-left"></i>
    <% end %>
    &nbsp;
    <%= link_to data_types_path, :class => "btn",:title => "overview" do %>
      <i class="icon-arrow-up"></i>
    <% end %>
  </div>
</div>

<script>
  $('a.disabled').click(function(e) {
    // Disable links for disabled buttons
    e.preventDefault();
    return false
  });
  review_request_sent = false;
  $('#request_review').click(function(e) {
    if(review_request_sent){
      e.preventDefault();
      return false;
    } else {
      review_request_sent = true;
      $('#request_review').removeClass('enabled');
      $('#request_review').addClass('disabled');
    }
  });
</script>
