<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand"><strong>Data types</strong></div>
      <div class="span">
        <%= form_tag data_types_path, :method => 'get' do %>
          <div class="span">                    <label class="checkbox">
            <%= check_box_tag 'inactive', "1", @inactive,{:data => {"text-label" => "inactive","off-label" => "","on-label" => "Include",:size => "normal",:on => "success",:off => "default","off-label" => "excluded"}} %>
            
            </label></div>&nbsp;
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>&nbsp;
          <div class="input-append input-prepend">
            <%= link_to 'New', {:action => :new,:controller => :data_types},{:class => 'btn btn-info'} if env_production? %>
            <%= select_tag("search_status", options_for_select(HandleVersioning.statusarray.compact,params[:search_status]), include_blank: true, class: 'span2', data: {placeholder: 'Status'}) %>
            <%= text_field_tag :search, params[:search], :placeholder=>" search",:class=>"span3",:size=>"16" %>
            <%= button_tag "Search", :name => nil, :type => :submit, :class => "btn" %>
            <%= button_tag "Reset", :name => 'reset',:class=>"btn",:type=>:submit %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="endless">
  <div class="row">
    <div class="offset1 span2"><strong><%= sortable "data_types.name", "Name" %></strong></div>
    <div class="span1"><strong><%= sortable "data_types.isactive", "Active" %></strong></div>
    <div class="span4"><strong><%= sortable "data_types.description", "Description" %></strong></div>
    <div class="span1"><strong><%= sortable "latest_approved", "Latest Approved" %></strong></div>
    <div class="span1"><strong><%= sortable "data_types.version", "Latest Revision" %></strong></div>
    <div class="span1"><strong><%= sortable "data_types.status", "Latest Status" %></strong></div>
  </div>
    <%= render(:partial => "data_type", :collection => @data_types) %>
</div>
<%= will_paginate(@data_types) %>
<%= pageless(@data_types.total_pages, data_types_path, "#endless") %>

<script type="text/javascript">
  $("#inactive").bootstrapSwitch();
    $('#search_status').chosen({allow_single_deselect:true})
</script>
