<% @heading = "New data type" %>
<%= render 'form' %>
<div class="row">
  <div class="span7">
    <%= link_to :back, :class => "btn", :title => "back" do %>
      <i class="icon-arrow-left"></i>
    <% end %>
    <%= link_to data_types_path, :class => "btn", :title => "overview" do %>
      <i class="icon-arrow-up"></i>
    <% end %>
  </div>
</div>
