<%= javascript_include_tag "dashboard_grids/jquery.flot.min" %>
<%= javascript_include_tag "dashboard_grids/jquery.flot.pie.min" %>

<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand">
        <strong>
          Tagged failed jobs report
        </strong>
      </div>
        <%= form_tag tagged_failed_jobs_report_jobs_path, :method => 'get' do %>
      <div class="span">
          <div class="input-prepend input-bar input-append">
            <%= text_field_tag :date_range_a, params[:date_range_a], :placeholder =>"Date range A",:style => "width:95px" %>
            <%= text_field_tag :date_range_b, params[:date_range_b], :placeholder =>"Date range B",:style => "width:95px" %>
            <%= button_tag "Generate", :name => nil, :type => :submit, :class => "btn" %>
            <%= button_tag "Reset", :name => 'reset',:class=>"btn",:type=>:submit %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div id="endless">
  <% @jobs.group(:type).count.each do |job_type,count| %>
    <% data_hash = @jobs.where(:type => job_type).order(:fail_category).group(:fail_category).count %>
    <div class="row">
      <div class="span10 bounded bounded-headered flat-roof">
        <div class="row bounded-header">
          <div class="span9">
            <h4>
            <%= job_type.tableize.humanize %>:&nbsp;
            <%= link_to count, {:controller => job_type.tableize, :fail_category => "all", :date_range_a => params[:date_range_a], :date_range_b => params[:date_range_b]} ,{:target => "_blank"}%>
            </h4>
          </div>
          <div class="span1">
            <%= link_to({:controller => :jobs, :action => :tagged_failed_jobs_report, :date_range_a => params[:date_range_a], :date_range_b => params[:date_range_b], 
                :rtype => job_type, :format => :csv},{:class => "btn pull-right",:title => "Export CSV file"}) do %>
              <i class="icon icon-th-list"></i>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="span10">
            <div class="span5">
              <% data_hash.each do |category,amount| %>
                <div class="row">
                  <div class="span3">
                    <strong><%= category %></strong>
                  </div>
                  <div class="span1">
                    <%= link_to amount, {:controller => job_type.tableize, :fail_category => category, :date_range_a => params[:date_range_a], :date_range_b => params[:date_range_b]},{:target => "_blank"} %>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="span5">
              <div id="<%= job_type %>" style="height:180px"></div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <%= content_tag :script, :type => "text/javascript" do -%>
      $.plot($("#<%= job_type %>"), eval('(<%= raw data_hash.map{|k,v|{"label"=>k,"data"=>v}}.to_json %>)'),
        {
          series: {
            pie: {
              show: true
            }
          },
          grid: {
            hoverable: false,
            clickable: false
          },
          legend: {
            show: true
          },
          colors: ["#4BB1CF","#336600","orange","red","#00CC33","blue","#FF6600" ]
        });
    <% end %>
  <% end %>

  <div class="row">
    <div class="span12">
      <%= link_to :back, :class => 'btn',:title => 'back to previous page' do %>
        <i class="icon icon-arrow-left"></i>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#date_range_a').datepicker({ format: 'dd-mm-yyyy'});
  $('#date_range_b').datepicker({format: 'dd-mm-yyyy'});
</script>