<%= form_for(@purchase_orderline) do |f| %>
  <% if @purchase_orderline.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase_orderline.errors.count, "error") %> prohibited this purchase_orderline from being saved:</h2>

      <ul>
      <% @purchase_orderline.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :purchase_order_id %><br />
    <%= f.number_field :purchase_order_id %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :unit_price %><br />
    <%= f.text_field :unit_price %>
  </div>
  <div class="field">
    <%= f.label :item_description %><br />
    <%= f.text_area :item_description %>
  </div>
  <div class="field">
    <%= f.label :item_reference %><br />
    <%= f.text_field :item_reference %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
