<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="span1"><h4>Purchase orderlines</h4></div>
    <div class="span7" style="margin-left: 75px">
      <%= form_tag receptions_path, :method => 'get' do %>
        <%= hidden_field_tag :direction, params[:direction] %>
        <%= hidden_field_tag :sort, params[:sort] %>
        <div class="input-append">
          <%= text_field_tag :search, params[:search],:class => 'span2',:placeholder => 'Free search' %>
          <%= button_tag "Search", :name => nil, :type => :submit, :class => "btn" %>
          <%= button_tag "Reset", :name => 'reset',:class=>"btn",:type=>:submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<table>
  <tr>
    <th>Purchase order</th>
    <th>Quantity</th>
    <th>Unit price</th>
    <th>Item description</th>
    <th>Item reference</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @purchase_orderlines.each do |purchase_orderline| %>
  <tr>
    <td><%= purchase_orderline.purchase_order_id %></td>
    <td><%= purchase_orderline.quantity %></td>
    <td><%= purchase_orderline.unit_price %></td>
    <td><%= purchase_orderline.item_description %></td>
    <td><%= purchase_orderline.item_reference %></td>
    <td><%= link_to 'Show', purchase_orderline %></td>
    <td><%= link_to 'Edit', edit_purchase_orderline_path(purchase_orderline) %></td>
    <td><%= link_to 'Destroy', purchase_orderline, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Purchase orderline', new_purchase_orderline_path %>
