<p id="notice"><%= notice %></p>

<p>
  <b>Purchase order:</b>
  <%= @purchase_orderline.purchase_order_id %>
</p>

<p>
  <b>Quantity:</b>
  <%= @purchase_orderline.quantity %>
</p>

<p>
  <b>Unit price:</b>
  <%= @purchase_orderline.unit_price %>
</p>

<p>
  <b>Item description:</b>
  <%= @purchase_orderline.item_description %>
</p>

<p>
  <b>Item reference:</b>
  <%= @purchase_orderline.item_reference %>
</p>


<%= link_to 'Edit', edit_purchase_orderline_path(@purchase_orderline) %> |
<%= link_to 'Back', purchase_orderlines_path %>
