<% packing_release = @outbound_order.packings.size > 0 %>
<p>Dear customer,</p>
<p>Please be advised that
  <% if packing_release %>
    map release "<%= @outbound_order.product_title %>" is
  <% elsif @outbound_order.outbound_orderlines.size > 1 %>
    map releases "<%= @outbound_order.outbound_orderlines.collect{|ol|ol.product.productsets.collect {|ps|ps.name} if ol.product}.compact.join(' & ') if @outbound_order.outbound_orderlines.where('product_id is not null').size > 0 %>" 
        (formatted: "<%= @outbound_order.outbound_orderlines.collect {|ol|ol.product_location.product_format if ol.product_location}.compact.uniq.join(' & ') %>") are
  <% else %>
    map release "<%= @outbound_order.outbound_orderlines.first.product.productsets.collect {|ps|ps.name}.compact.join(' & ') unless @outbound_order.outbound_orderlines.empty? || @outbound_order.outbound_orderlines.first.product.nil? %>" (formatted: "<%= @outbound_order.outbound_orderlines.first.product_location.product_format unless @outbound_order.outbound_orderlines.empty? || @outbound_order.outbound_orderlines.first.product_location.nil? %>") is
  <% end %>
   now available for downloading from our server.
   <span id="new-rn-txt" class="hidden"><br />Please note that the release notes will follow as soon as possible.</span>
</p>
<% unless @outbound_order.mailing_remarks.blank? %>
  <p><%= simple_format @outbound_order.mailing_remarks %></p>
<% end %>

<br />
<p><strong>PACKAGE DETAILS</strong></p>
<p>The map data download package includes following product<%= "s" if (packing_release && (@outbound_order.packings.count > 1 || @outbound_order.packings.first.outbound_orderlines.count > 1)) || (!packing_release && @outbound_order.outbound_orderlines.count > 1) %>:</p>
<% if packing_release %>
  <table>
    <% s = 0 %>
    <% @outbound_order.packings.shipped.each do |packing| %>
      <% packing.outbound_orderlines.each do |ol| %>
        <% s = s + 1 %>
        <tr>
          <td><%= s %></td>
          <td><%= ol.product_id %></td>
          <td><%= ol.product_name %></td>
          <td>&nbsp;</td>
          <td><%= packing.filename %></td>
          <td>&nbsp;</td>
          <td><%= "MD5 Checksum: #{packing.md5_checksum}" if !packing.md5_checksum.blank? %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
<% else %>
  <table width=100%>
    <% s = 0 %>
    <tr>
      <th>&nbsp;</th>
      <th>Product ID</th>
      <th>Name</th>
      <th>File name</th>
      <th>MD5 Checksum</th>
    </tr>
    <% @outbound_order.outbound_orderlines.each do |ol| %>
      <% s += 1 %>
      <tr>
        <td><b><%= s %></b></td>
        <td><%= ol.product_id %></td>
        <td><%= ol.product.name if ol.product %></td>
        <td><%= ol.filename %></td>
        <td><%= ol.product_location.checksum_storage_file if ol.product_location %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<p><br /></p>
<p><strong>DOWNLOADING DETAILS</strong></p>
<p>Method 1, using a secure ftp client:</p>
You can download using a secure ftp client by connecting to:
<ul>
  <li>Connection type: SFTP (port 22)</li>
  <li>Server: <%= @outbound_order.file_transfer_account.address if @outbound_order.file_transfer_account %></li>
  <li>Username:  <%= @outbound_order.file_transfer_account.user_name if @outbound_order.file_transfer_account %></li>
  <% if @outbound_order.packings.size > 0 %>
    <% @outbound_order.packings.each do |packing| %>
    <li>Directory: <%= packing.destination_path %>/</li>
    <% end %>
  <% else %>
    <% @outbound_order.outbound_orderlines.each do |ol| %>
      <li>Directory: /outgoing/<%= @outbound_order.sftp_subdirectory + "/" unless @outbound_order.sftp_subdirectory.blank? %><%= ol.product_location.product_id + "/" if ol.product_location %><%= ol.filename %></li>
    <% end %>
  <% end %>
</ul>

<p>Method 2, using any internet browser:</p>
Alternatively you can download using any internet browser by visiting following URL:
<ul>
  <% if @outbound_order.packings.size > 0 %>
    <% @outbound_order.packings.each do |packing| %>
      <li><%= packing.download_path %></li>
    <% end %>
  <% else %>
    <% @outbound_order.outbound_orderlines.each do |ol| %>
      <li>https://<%= @outbound_order.file_transfer_account.address if @outbound_order.file_transfer_account %>/<%= @outbound_order.file_transfer_account.user_name if @outbound_order.file_transfer_account %>/<%= @outbound_order.sftp_subdirectory + "/" unless @outbound_order.sftp_subdirectory.blank? %><%= ol.product_location.product_id + "/" if ol.product_location %><%= ol.filename %></li>
    <% end %>
  <% end %>
    <li>Username: <%= @outbound_order.file_transfer_account.user_name if @outbound_order.file_transfer_account %></li>
</ul>
<p>Both methods use the same account credentials, the required password should be known.</p>
<p>In case of technical issues with the download, please reply to this e-mail address.<br />
  For all other questions please contact your regular contact at Mapscape.<br />
  Looking forward to receiving your successful download confirmation.</p>

<br />
<% if @outbound_order.distribution_list_member_id %>
  <p><i>This e-mail has been sent to following addresses:</i>
  <table>
    <% distribution_list = @outbound_order.distribution_list || @outbound_order.distribution_list_member.distribution_list %>
    <% distribution_list.distribution_list_members.each do |member|%>
      <tr>
        <% ec = member.external_contact %>
        <td><i><%= ec.first_name  %>&nbsp;<%= ec.last_name  %>&nbsp;-&nbsp;<%= ec.company.name %></i></td>
      </tr>
    <% end %>
  </table></p>
<% end %>
--
<div id="signature">
  <p class="MsoNormal" style="color: rgb(0, 0, 0); font-family:
     monospace; font-size: medium; font-style: normal; font-variant:
     normal; font-weight: normal; letter-spacing: normal; line-height:
     normal; orphans: auto; text-align: start; text-indent: 0px;
     text-transform: none; white-space: normal; widows: auto;
     word-spacing: 0px; -webkit-text-stroke-width: 0px;
     background-color: rgb(255, 255, 255);"><b><span style="font-size:
             10pt; font-family: Arial, sans-serif; color: rgb(122, 122,
             122);">With best regards,<span class="Apple-converted-space">&nbsp;</span></span><br>
      <span style="font-size: 10pt; font-family: Arial, sans-serif;
            color: rgb(122, 122, 122);">Delivery Team<span
          class="Apple-converted-space">&nbsp;</span></span></b><b><span
        style="font-size: 10pt; font-family: Arial, sans-serif; color:
        rgb(249, 0, 0);">Map</span></b><b><span style="font-size:
                             10pt; font-family: Arial, sans-serif; color: rgb(0, 0, 27);">scape</span></b><span
      style="font-family: Arial, sans-serif; color: rgb(31, 73, 125);"></span></p>
  <p class="MsoNormal" style="color: rgb(0, 0, 0); font-family:
     monospace; font-size: medium; font-style: normal; font-variant:
     normal; font-weight: normal; letter-spacing: normal; line-height:
     normal; orphans: auto; text-align: start; text-indent: 0px;
     text-transform: none; white-space: normal; widows: auto;
     word-spacing: 0px; -webkit-text-stroke-width: 0px;
     background-color: rgb(255, 255, 255);"><span style="font-size:
          10pt; font-family: Arial, sans-serif; color: rgb(118, 118,
          118);">Luchthavenweg 34</span><b><span style="font-size:
                                           10pt; font-family: Arial, sans-serif; color: rgb(31, 73,
                                           125);">&nbsp;&nbsp;</span></b><b><span style="font-size: 7.5pt;
                                      font-family: Arial, sans-serif; color: rgb(191, 191, 191);">|</span></b><span
      style="font-size: 10pt; font-family: Arial, sans-serif; color:
      rgb(118, 118, 118);">&nbsp;&nbsp;5657 EB &nbsp;Eindhoven</span><b><span
        style="font-size: 10pt; font-family: Arial, sans-serif; color:
        rgb(31, 73, 125);">&nbsp;&nbsp;</span></b><b><span style="font-size:
      7.5pt; font-family: Arial, sans-serif; color: rgb(191, 191,
                                        191);">|</span></b><span style="font-size: 10pt; font-family:
                        Arial, sans-serif; color: rgb(118, 118, 118);">&nbsp;&nbsp;The Netherlands<br>
    </span><span style="font-size: 10pt; font-family: Arial,
                 sans-serif; color: blue;"></span><span style="font-size: 10pt;
                 font-family: Arial, sans-serif; color: rgb(118, 118, 118);">Phone
      &nbsp;Phone +31 (0)40 711 3500 | Fax +31 (0)40 711 3599</span><b><span
        style="font-size: 10pt; font-family: Arial, sans-serif; color:
        rgb(31, 73, 125);">&nbsp;</span></b><span style="font-size: 10pt;
                             font-family: Arial, sans-serif; color: red;"></span></p>
  <p class="MsoNormal" style="color: rgb(0, 0, 0); font-family:
     monospace; font-size: medium; font-style: normal; font-variant:
     normal; font-weight: normal; letter-spacing: normal; line-height:
     normal; orphans: auto; text-align: start; text-indent: 0px;
     text-transform: none; white-space: normal; widows: auto;
     word-spacing: 0px; -webkit-text-stroke-width: 0px;
     background-color: rgb(255, 255, 255);"><span style="font-size:
          10pt; font-family: Arial, sans-serif; color: rgb(54, 95, 145);"><a
        moz-do-not-send="true" href="http://www.mapscape.eu/"
        target="_blank" title="This external link will open in a new
        window"><span style="color: rgb(54, 95, 145);">www.mapscape.eu</span></a></span><span
      style="font-size: 7.5pt; font-family: Arial, sans-serif; color:
      gray;" lang="EN-GB"><br>
      Mapscape B.V. is ISO9001:2008 certified</span><span
      style="font-size: 7.5pt; font-family: Arial, sans-serif; color:
      rgb(31, 73, 125);" lang="EN-GB">.<span
        class="Apple-converted-space">&nbsp;</span></span><span
      style="font-size: 7.5pt; font-family: Arial, sans-serif; color:
      gray;" lang="EN-GB"><br>
      This e-mail and any attachment may contain corporate proprietary
      information and may only be read, copied and used by the
      intended recipient. If you have received it by mistake, please
      notify us immediately by reply e-mail and delete this e-mail and
      its attachments from your system. We believe but do not warrant
      that this message and any attachments are virus free. Mapscape
      B.V. is registered at the Kamer van Koophandel Oost-Brabant
      located in Eindhoven, The Netherlands number 17210210.</span></p>
</div>

