<% @orderlines =  ProductionOrderline.where(:production_order_id => @po.id) %>

<table>
  <tr>
    <td colspan="2"><p>Production-order is set to "<%= @status %>"&nbsp;by&nbsp;<%= @po.requestor %>.<br></p><br></td>
  </tr>
  <tr>
    <td><b>Baseline commitment:</b></td>
    <td><%= @po.baseline_commitment_date.strftime("%d-%m-%Y CW %W") if @po.baseline_commitment_date %></td>
  </tr>
  <tr>
    <td><b>Modified commitment:</b></td>
    <td><%= @po.modified_commitment_date.strftime("%d-%m-%Y CW %W") if @po.modified_commitment_date %></td>
  </tr>
</table>

<% if @po.productset %>
  <table>
    <tr>
      <td>
        <p>The following product(s) are included in the requested productset:<br><b><%= @po.productset.setcode.to_s %></b><p>
      </td>
    </tr>
  </table>
<% end %>

<% if @orderlines && !@po.ordertype.no_pds_yn %>
<table>
  <th>Product id</th>
  <th>Product name</th>
  <th>Status</th>
<% @orderlines.each do |o| %>
  <% p = o.product %>
  <tr>
    <td><%= p.volumeid if p %></td>
    <td><%= p.name if p %></td>
    <td><%= o.bp_name %></td>
  </tr>
<% end %>
</table>
<% end %>

<% if @orderlines && @po.ordertype.no_pds_yn == true %>
  <table class="bordered">
    <th class="bordered">Conversion step</th>
    <th class="bordered">Main data</th>
    <th class="bordered">Status</th>
    <th class="bordered">Conversion</th>
    <% @orderlines.each do |o| %>
      <% line_details = JSON.parse(o.product_design)["conversion_steps"][o.design_sequence] %>
      <tr>
        <td class="bordered">
          <abbr title="<%= line_details["description"] %>">
            <%=  line_details["name"] %>
          </abbr>
        </td>
        <td class="bordered">
          <% major_idx = 0 %>
          <% line_details["input"].each_with_index.collect {|i,index|major_idx = index if i["major_dataset"] == 1} %>
          <% input = line_details["input"][major_idx] %>
          <%=  input["supplier"] %> <%=  input["area"] %> <%=  input["release"] %>
        </td>
        <td class="bordered"><%= o.bp_name %></td>
        <td class="bordered"><%= link_to o.chosen_conversion.id, url_for(:action=>'show',
            :controller => 'conversions',
            :id => o.chosen_conversion.id,
            :only_path => false,
            :protocol => 'http',
            :host => "#{ENV['host']}") if o.chosen_conversion.id  %>
        </td>
      </tr>
    <% end %>  
  </table>
<% end %>

