
<style type="text/css">
table {
	border-width: 1px;
	border-spacing: 0px;
	border-style: outset;
	border-color: gray;
	border-collapse: collapse;
}
table td {
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: gray;
}

.darkrow, .darkrow td, .darkrow th {
    background-color: #C32A1F;
    color: white;
}

.grayrow, .grayrow td, .grayrow th {
    background-color: gray;
    color: white;
}
</style>

<p>CARiN Release note Request for <%= @psc.setcode %>.</p>
<p><pre><%= @remarks %></pre></p>

<table>
  <tr class="darkrow"><td colspan="4"><h4><%= @psc.setcode %></h4></td></tr>
<% @current.each do |c|%>
  <% @stock = Stock.find(c) %>
  <% product = Product.find_by_volumeid(@stock.product_ref) %>
  <% if product.nil? %>
  <% pname= @stock.commercial_name %>
  <% else %>
  <% pname= product.name %>
  <% end %>
<tr>
  <td><%= @stock.product_ref %></td>

  <td><%= pname %></td>
  <td><%= @stock.medium_number %></td>
  <td><%= @stock.databasename %></td>
</tr>
<% end%>

<% if @pse.to_s != "" %>
<tr><td colspan="4" border="0">&nbsp;</td></tr>
  <tr class="grayrow"><td colspan="4"><h4><%= @pse.setcode %></h4></td></tr>
<% @equivalent.each do |e|%>
  <% @stock = Stock.find(e) %>
<tr>
  <td><%= @stock.product_ref %></td>
  <td><%= @stock.commercial_name %></td>
  <td><%= @stock.medium_number %></td>
  <td><%= @stock.databasename %></td>
</tr>  
<% end %>
<% end %>
  </table>
<br />

<p>
productset|product_id|product_name|medium_number|database_name<br />
<% @current.each do |c|%>
  <% @stock = Stock.find(c) %>
  <% if @stock.commercial_name.to_s.strip == ""  %>
  <% product_name =  @stock.product_name %>
  <% else %>
  <% product_name =  @stock.commercial_name %>
  <% end %>
    <%= @psc.setcode %>|<%= @stock.product_ref %>|<%= @stock.commercial_name %>|<%= @stock.medium_number %>|<%= @stock.databasename %><br />
<% end%>
</p>
<% if @pse.to_s != "" %>
<p>
productset|product_id|product_name|medium_number|database_name<br />
<% @equivalent.each do |e|%>
  <% @stock = Stock.find(e) %>
  <% if @stock.commercial_name.to_s.strip == ""  %>
  <% product_name =  @stock.product_name %>
  <% else %>
  <% product_name =  @stock.commercial_name %>
  <% end %>
    <%= @pse.setcode %>|<%= @stock.product_ref %>|<%= product_name %>|<%= @stock.medium_number %>|<%= @stock.databasename %><br />

<% end%>
<% else %>
  <p><b>No predecessor</b></p>
<% end %>
</p>

