<div class="header">
<% if @resend %>
    <h3 style="color:#0088CC">UPDATE ON PREVIOUS NOTIFICATION</h3>    
<% end %>
    <h4>Reception Notification <%= @reception.id.to_s %> <%= @reception.data_type.description %></h4>
</div>    
<div class="content">     
    <table>
        <% if @reception.product_id %>
          <% if (@reception.product_id != "")%>
                <tr>
                    <td>Product ID</td>
                    <td><%= @reception.product_id %></td>
                </tr>
            <% end %>
        <% end %>
      <tr>
        <td><b>Supplier</b></td>
        <td><%=  @reception.data_release.company_abbr.name %></td>
      </tr>
      <tr>
        <td><b>Area</b></td>
        <td><%=  @reception.region.name %></td>
      </tr>
      <tr>
        <td><b>Data Release</b></td>
        <td><%=  @reception.data_release.name %></td>
      </tr>
      <tr>
        <td><b>Usability</b></td>
        <td><%=  @reception.purpose %></td>
      </tr>
      <tr>
        <td><b>Data Type</b></td>
        <td><%=  @reception.data_type.name %></td>
      </tr>
      <tr>
        <td><b>Data Version</b></td>
        <td><%=  @reception.dataversion %></td>
      </tr>
    </table>
  <table>
      <tr>
        <td><b>Remarks:</b></td>
      </tr>
      <tr>
        <td><pre><%=  @reception.remarks %></pre></td>
      </tr>
      <tr>
        <td><b>Stored at:</b></td>
      </tr>
      <tr>
        <td><pre><%= @reception.storage_location %></pre></td>
      </tr>
 <% recept = Reception.new %>
  <% if recept.find_related_conversion(@reception.id)%>
      <tr>
        <td>Related Conversion id:</td>
        <td><%= recept.find_related_conversion(@reception.id).id %></td>
    
      </tr>
    <% end %>
    <% @parents = @reception.parents %>
<% @parents.each do |parent| %>
  <tr>
    <td>Related Reception:</td>
    <td><%=  parent.parent_reception_id %>&nbsp;<%=  parent.parent_reception.referenceid.to_s %>      
    &nbsp;(<%=  parent.type %>&nbsp;
    <%=  parent.parent_reception.data_type.name.to_s %>&nbsp;
    <%=  parent.parent_reception.data_release.company_abbr.name.to_s if parent.reception.data_release.company_abbr %>
    &nbsp;<%=  parent.parent_reception.data_release.name.to_s %>
    <%=  parent.parent_reception.region_name.to_s %>)</td>
  </tr>
<% end %>
</table>
</div>
    <div class="footer">
      <% if !@reception.requested_by.blank? %>
      Reception requested by <%= @reception.requested_by %>.<br />
      <% end %>
      Reception completed by <%= @reception.user_name %>.<br />
      View details:
      <%= link_to  'WebMIS', :controller => 'receptions', :action => 'show', :id => @reception.id.to_s,:host => "#{ENV['host']}" %>
    </div>
