<% @database = ConversionDatabase.present.where(:conversion_id => @conversion.id) %>
<% @results = @database.collect {|x|x.path_and_file} %>
<%  if @conversion.reception_reference && @conversion.reception_reference.size > 0
      r = Reception.find(@conversion.reception_reference)
      if r
        @conversion.reception_reference = r.id
        if @results.empty? && @conversion.reception_reference.to_s != ""
            @results = Reception.find(@conversion.reception_reference).storage_location.to_s
        end
      end
    end %>
<% if @results.empty?
     @results = 'n.a.'
   end %>
<% ctype = "Conversion request" %>
<% ctype = "Patch conversion request" if @conversion.patch_request_yn %>
<div class='header'>
  <h4><%= ctype %> <%=  @conversion.id %></h4>
</div>
<div class="content">   
<table>
  <tr>
    <td>
      <b>Product ID:</b>
    </td>
    <td>
      <% if @conversion.productid %>
        <%= @conversion.productid %>
      <% else %>
        n.a.
      <% end %>
    </td>
  </tr>
  
  <tr>
    <td><b>Purpose:</b></td>
    <td><%= @conversion.purpose %></td>
  </tr>
  
  <tr>
    <td><b>Area:</b></td>
    <td><%= @conversion.region_name %></td>
  </tr>
  
  <tr><td colspan="2">&nbsp;</td></tr>
  
  <tr>
    <td><b>Requester:</b></td>
    <td><%= @conversion.request_by %></td>   
  </tr>
  
  <tr>
    <td><b>Conversion tool:</b></td>
    <td><%= "#{@conversion.conversiontool.code}/#{@conversion.cvtool_bundle.name}" %></td>
  </tr>
    
</table>

<table>
  <tr>
    <td><b>Additional Info:</b></td>
  </tr>
  <tr>
    <td><pre><%= @conversion.additional_info %></pre></td>
  </tr>
</table>
</div>  
<div class='footer'>Find more details in <%= link_to 'WebMIS', :controller => 'conversions', :host => "#{ENV['host']}" , :action => 'show', :id => @conversion.id.to_s %></div>
