<div class="header">
  <h4>Validation Job <%= @validation_job.id.to_s %> </h4>
  <h4>Conversion Database <%= @validation_job.conversion_database.id.to_s %> </h4>
  <h4>Conversion Database Status<%= @validation_job.conversion_database.status_str %> </h4>
</div>    
<div class="content">
  Validation Job <%= @validation_job.id.to_s %> failed or crashed, please check details in WebMIS
</div>

<div class="footer">
  View details:
  <%= link_to  'WebMIS', :controller => 'validation_jobs', :action => 'show', :id => @validation_job.id.to_s,:host => "#{ENV['host']}" %>
</div>
