<%  if @conversion.reception_reference && @conversion.reception_reference.size > 0
  r = Reception.find(@conversion.reception_reference)
  if r
    @conversion.reception_reference = r.id
  end
end %>

<div class="header">
  <% if @resend %>
    <h3 style="color:#0088CC">UPDATE OF PREVIOUS RESULT</h3>
  <% end %>
  <% ctype = "Conversion request" %>
  <% ctype = "Patch conversion request" if @conversion.patch_request_yn %>
  <h4><%= ctype %> <%=  @conversion.id %> in status <%=  @conversion.status_str %>, outcome <%=  @conversion.outcome %>.</h4>
</div>    
<div class="content">
  <table>
    <tr>
      <td>
        <b>Product ID</b>
      </td>
      <td>
        <% if @conversion.productid %>
          <%= @conversion.productid %>
        <% else %>
          n.a.
        <% end %>
      </td>
    </tr>
    <tr>
      <td><b>Requester</b></td>
      <td><%= @conversion.request_by %></td>
    </tr>
    <tr>
      <td><b>Purpose</b></td>
      <td><%= @conversion.purpose %></td>
    </tr>

    <% if @conversion.size_bytes %>
      <tr>
        <td><b>Database Size</b></td>
        <td><%= @conversion.size_bytes.to_s %> bytes = <%= @conversion.size_mb.to_s %> Megabytes</td>
      </tr>
    <% end %>

    <tr><td colspan="2">&nbsp;</td></tr>

    <tr>
      <td><b>Converter</b></td>
      <td><%= @conversion.converter %></td>
    </tr>

    <tr>
      <td><b>Conversion tool</b></td>
      <td><%= @conversion.conversion_tool_release %></td>
    </tr>

    <tr>
      <td><b>CV Environment</b></td>
      <td><%= @conversion.cvtoolenv %></td>
    </tr>

    <tr>
      <td><b>CV Template</b></td>
      <td>
        <% if !@conversion.template_filename.blank? %>
          <%= @conversion.template_filename %>
        <% else %>
          n.a.
        <% end %>
      </td>
    </tr>

  </table>

  <table>
    <tr>
      <td><b>Remarks:</b></td>
    </tr>
    <tr>
      <td><pre><%= @conversion.remarks %></pre></td>
    </tr>
    <tr>
      <td><br/><b>Result file(s):</b></td>
    </tr>
    <tr>
      <td><pre>
          <% @conversion.conversion_databases.available.each do |db| %>
            <%  if db.path_and_file != '' %>
              <%= "#{db.path_and_file}" %>
            <% else %>
            n.a.
            <% end %>
          <% end %>
        </pre>
      </td>
    </tr>
    <tr>
      <td colspan="2"><hr/></td>
    </tr>
  </table>

  <table>
    <tr>
      <td colspan="3"><b>Registered conversion database(s):</b><br/><br/></td>
    </tr>
    <tr>
      <td><b>Id</b></td>
      <td><b>Coverage</b></td>
      <td><b>Database</b></td>
      <td><b>Process data input</b></td>
    </tr>
    <% @conversion.conversion_databases.available.each do |db| %>
      <tr>
        <td><%= db.id %></td>
        <td><%= db.coverage %></td>
        <td><%= db.shortest %></td>
        <td>
          <% db.used_data_sets.each do |k,v| %>
            <%=  v['id'].to_s %>&nbsp;
            Version <%= v['version'] %>&nbsp;
            <%= ProcessData.find(v['id']).name %>
            <% if db.used_data_sets.size > 1 %>
              <br/>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<div class='footer'>Converted by <%= @conversion.converter %>.<br/>Find more details in <%= link_to 'WebMIS', :controller => 'conversions', :host => "#{ENV['host']}" , :action => 'show', :id => @conversion.id.to_s %></div>



