<div class="header"><h3><%= @data_set.label %></h3></div>
<div class="content">
<h3>Data set review result</h3>
<p>Dear <%= @request_user.full_name %>,</p>
<p><%= @review_user.full_name %> <%= @str_subj_result %> data set <%= @data_set.label(true) %> after review.<br /><br />
<pre><%= @data_set.review_result %></pre><br /><br />
You can view the details of this data set by following this 
<%= link_to 'link', url_for(:action=>'show',
  :controller => 'data_sets',
  :id => @data_set.id,
  :only_path => false,
  :protocol => 'http',
  :host => "#{ENV['host']}") %>.</p>
<h4>Coverage</h4>
<%= @data_set.coverage.coverages_regions.collect{|c|c.region.name}.join(', ') %>
<h4>Directory structure</h4>
<pre class="logging"><%= @data_set.process_data_elements.active.order(:directory).collect{|el|el.directory}.join("\n") %></pre>
</div>
<div class="footer">
<%= link_to 'Details WebMIS', url_for(:action=>'show',
  :controller => 'data_sets',
  :id => @data_set.id,
  :only_path => false,
  :protocol => 'http',
  :host => "#{ENV['host']}") %>
</div>