<div class="header">
    <h4>Data intake request <%= @reception.id.to_s %> <%= @reception.data_type.description %></h4>
</div>

<div class="content">
    <p>
      <%= DateTime.now.strftime('%m-%d-%Y %H:%M') %><br />
      Please perform Data Intake procedure for the following data:
    </p>
    <table>
      <tr>
        <td><b>Reception Id</b></td>
        <td><%=  @reception.id.to_s %></td>
      </tr>
      <tr>
        <td><b>Reference</b></td>
        <td><%=  @reception.referenceid %></td>
      </tr>
      <tr>
        <tr>
          <td><b>Usability</b></td>
          <td><%=  @reception.formatted_purpose %></td>
        </tr>
        <tr>
          <td><b>Medium</b></td>
          <td><%=  @reception.data_medium.name %></td>
        </tr>
        <tr>
          <td><b>Data Type</b></td>
          <td><%=  @reception.data_type.name %></td>
        </tr>
        <tr>
          <td><b>Supplier</b></td>
          <td><%=  @reception.data_release.company_abbr.name %></td>
        </tr>
        <tr>
          <td><b>Data Release</b></td>
          <td><%=  @reception.data_release.name %></td>
        </tr>

        <tr>
          <td><b>Data Version</b></td>
          <td><%=  @reception.dataversion %></td>
        </tr>
      </tr>
      <tr>
        <td><b>Area</b></td>
        <td><%=  @reception.region.name %></td>
      </tr>
    </table>
    <table>
      <tr>
        <td><b>Remarks</b></td>
      </tr>
      <tr>
        <td><pre><%=  @reception.remarks %></pre></td>
      </tr>
      <tr>
        <td><b>Stored at</b></td>
      </tr>
      <tr>
        <td><pre><%= @reception.storage_location %></pre></td>
      </tr>
    </table>
    <table>
      <tr>
        <td><b>Reception completed by</b></td>
        <td><%= @reception.user_name %></td>
      </tr>

    </table>
</div>

<div class="footer">
    <p>
      When finished, please report results using this link:
      <%= link_to 'WebMIS', :controller => 'receptions' , :host => "#{ENV['host']}" , :action => 'edit_intake_results', :id => @reception.id.to_s %>

    </p>
</div>


