<div class="header"><h3><%= @data_set.label %></h3></div>
<div class="content">
<h3>Data set review request</h3>
<p>Dear <%= @review_user.full_name %>,</p>
<p><%= @request_user.full_name %> requested a review of data set <%= @data_set.label(true) %>.<br />
Please review this data set, and submit your results by following this 
<%= link_to 'link', url_for(:action=>'handle',
  :controller => 'data_sets',
  :id => @data_set.id,
  :only_path => false,
  :protocol => 'http',
  :host => "#{ENV['host']}") %>.</p>
<h4>Coverage</h4>
<%= @data_set.coverage.coverages_regions.collect{|c|c.region.name}.join(', ') %>
<h4>Directory structure</h4>
<pre class="logging"><%= @data_set.process_data_elements.active.order(:directory).collect{|el|el.directory}.join("\n") %></pre>  
</div>
<div class="footer">
<%= link_to 'Details WebMIS', url_for(:action=>'handle',
  :controller => 'data_sets',
  :id => @data_set.id,
  :only_path => false,
  :protocol => 'http',
  :host => "#{ENV['host']}") %>
</div>