<div class="header">Dit is de optionele header</div>
<div class="content">
  <h1>H1 header</h1>
  <h2>H2 header</h2>
  <h3>H3 header</h3>
    <h4>H4 header</h4>
      <h5>H5 header</h5>
        <h6>H6 header</h6>
<p>paragraph</p>
<p><a href="#">Een link</a></p>

Een tabel
<table>
  <tr>
  <th>kol1</th>
  <th>kol2</th>
  <th>kol3</th>
  </tr>
  <tr>
    <td>val 1/1</td>
    <td>val 2/1</td>
    <td>val 3/1</td>
  </tr>
  <tr>
    <td>val 1/2</td>
    <td>val 2/2</td>
    <td>val 3/2</td>
  </tr>  
</table>
  
</div>
<div class="footer">Dit is de optionele footer <a href="#">Een link</a> </div>