<div class="content">
  <p>Production order <%= link_to @production_order.id, :controller => 'production_orders', :action => 'show', :id => @production_order.id, :host => "#{ENV['host']}", :only_path => false %> (<%= @production_order.name %>) will expire on <%= @production_order.expiry_date.strftime('%d-%m-%Y') %>.
Once expired all non-persistent conversion databases generated under this production order will be removed from the filesystem and the order will be set to 'DELETED'.</p>

  <p>If you want to extend the expiry date, please edit the production order before this date.</p>
</div>