<div class="header">
  <h4 style="color:red">Internal server error</h4>
  <h4><%= @str_subj %></h4>
</div>

<div class="content">
  <table>
    <tr>
      <td><pre><%= @details %></pre></td>
    </tr>
    <tr>
      <td><pre><%= @trace %></pre></td>
    </tr>
  </table>
</div>

<div class="footer">
  Action was handled by <%= @user_name %>
</div>
