<div class="header">
  <h4><%= @job.class.model_name.human %> <%= @job.id.to_s %> <%= @job.status_str %></h4>
</div>
<div class="content">
  <table>
    <tr>
      <td colspan="4" style="color:red"><%= @conversion_job.fail_reason %></td>
    </tr>
    <tr>
      <td colspan="4"><hr /></td>
    </tr>
    <tr>
      <td><b>Conversion ID</b></td>
      <td><b>Conversion Server</b></td>
      <td><b>Started at</b></td>
      <td><b>Finished at</b></td>
    </tr>
    <tr>
      <td><%= @conversion_job.conversion_id %></td>
      <td><%= @conversion_job.run_server %></td>
      <td><%= @conversion_job.start_time.localtime.strftime("%d %b %Y %T")  if @conversion_job.start_time  %></td>
      <td><%= @conversion_job.finish_time.localtime.strftime("%d %b %Y %T") if @conversion_job.finish_time %></td>
    </tr>
  </table>
</div>

<div class="footer">
  View details:
  <%= link_to  'WebMIS', :controller => 'conversion_jobs', :action => 'show', :id => @conversion_job.id.to_s,:host => "#{ENV['host']}" %>
</div>
