
<div style="border-width:thin;border-style:solid"><h3>&nbsp;Medium Request <%=@stock.id%>
<% if ((@medium_number) || (@medium_number.to_s != '')) %>&nbsp;performed with medium id:
  <%= @medium_number%>
  <% end %>
  </h3></div>
<br />
<div style="border-width:thin;border-style:solid">  
  <table >
    <tr>
      <td><b>Product ID:</b></td>
      <td><%=h  @stock.product_ref if @stock.product_ref %></td>
    </tr>
    <tr>
      <td><b>Commecial Name:</b></td>
      <td><%=h @stock.commercial_name %></td>
    </tr>
    <tr>
      <td><b>Area:</b></td>
      <td><%=h Region.find_by_id(@stock.region_id).name if (@stock.region_id != '')%></td>
    </tr>
    <tr>
      <td><b>Main supplier:</b></td>
      <td><%=h CompanyAbbr.find_by_id(@stock.supplier_id).name if (@stock.supplier_id.to_s != '')%></td>
    </tr>
    <tr>
      <td><b>Data release:</b></td>
      <td><%=h DataRelease.find_by_id(@stock.data_release_id).name if (@stock.data_release_id != '') %></td>
    </tr>
    <tr>
      <td><b>End Customer:</b></td>
      <td><%=h @stock.end_customer_name.to_s %></td>
    </tr>
    <tr>
      <td><b>Conversion ID:</b></td>
      <td><%=h @stock.conversion_id %></td>
    </tr>
    <tr>
      <td><b>Database name:</b></td>
      <td><span><%=h @stock.databasename %></span></td>
    </tr>
    <tr>
      <td VALIGN="top"><b>TPD Path:</b></td>
      <td><span><%=h @stock.tpd_phase_2_description %></span></td>
    </tr>
    <tr>
      <td><b>Medium Type: </b></td>
      <td><%=h @stock.cd_type.to_s %></td>
    </tr>
    <tr>
      <td><b>Recognition file: </b></td>
      <td><%=h @stock.recognition_file.to_s %></td>
    </tr>
    <tr>
      <td><b>Requested Amount:</b></td>
      <% amount = 'see distribution list'%>
      <% amount = @stock.nr_of_copies_request.to_s if (@stock.nr_of_copies_request != 0)%>
      <td><%=h amount %></td>
    </tr>
    <tr>
      <td><b>Requested Delivery date:</b></td>
      <td><%=h @stock.requested_delivery_date.to_s %></td>
    </tr>
    <tr>
      <td VALIGN="top"><b>Additional Features / Notes:</b></td>
      <td><span><%=h @stock.request_notes %></span></td>
    </tr>
  </table>
</div>
<br />
<div align="center" style="border-width:thin;border-style:solid">
  Requested by <%=h @stock.requested_by%>
</div>
