
<p>Dear <%= @asset.requested_by %>,</p>

<p>You are the creator of the <%= @asset.assettype %> with ID: <%= @asset.ref_id %> (<%= @asset.title %>).
This document is changed because <%= @new_user.first_name + " " + @new_user.last_name %> has submitted a new document named
"<%= @doc.filename %>".</p>

<p>If you like to verify this change and download the submitted document, please follow <%= link_to "this",
  :action => 'download',
  :controller => 'documents' ,
  :id => @doc.id.to_s,
  :ver => @doc.version,
  :host => "#{ENV['host']}"  %> link.</p

<p>Link to the WebMIS record: <%= link_to "#{@asset.assettype} #{@asset.title}",
  :action => 'show',
  :controller => 'assets' ,
  :id => @asset.id.to_s,
  :host => "#{ENV['host']}"  %></p>

<p><i>[This is a Automatic generated e-mail, so you cannot reply.]</i></p>

