<div class="header">
  <h4>Packing Job <%= @packing_job.id.to_s %> <%= @packing_job.status_str %></h4>
</div>    
<div class="content">
  <table>
    <tr>
      <td colspan="4"><b><%= @packing_job.packing.filename %></b></td>
    </tr>
    <tr>
      <td colspan="4" style="color:red"><%= @packing_job.fail_reason %></td>
    </tr>
     <tr>
      <td colspan="4"><hr /></td>
    </tr>
    <tr>
      <td><b>Outbound order ID</b></td>
      <td><b>Run server</b></td>
      <td><b>Started at</b></td>
      <td><b>Finished at</b></td>
    </tr>
    <tr>
      <td><%= @packing_job.outbound_order.id %></td>
      <td><%= @packing_job.run_server %></td>
      <td><%= @packing_job.start_time.localtime.strftime("%d %b %Y %T")  if @packing_job.start_time  %></td>
      <td><%= @packing_job.finish_time.localtime.strftime("%d %b %Y %T") if @packing_job.finish_time %></td>
    </tr>
  </table>
</div>

<div class="footer">
  View details:
  <%= link_to  'WebMIS', :controller => 'packing_jobs', :action => 'show', :id => @packing_job.id.to_s,:host => "#{ENV['host']}" %>
</div>
