<div class="header">
  <h4>Production Order <%= @po.id %>&nbsp;<%= @po.name %></h4>
</div>
<div class="content">
  <table class="noborder">
    <tr>
      <td><b>Name:</b></td>
      <td><%= @po.name %></td>
    </tr>
    <tr>
      <td><b>Updated at</b></td>
      <td colspan="3"><%= @po.updated_at.strftime("%d-%m-%Y %H:%M")  %> hour</td>
    </tr>
    <tr>
      <td><b>Status:</b></td>
      <td><%= @status %></td>
    </tr>
  </table>
  <% if MailEvent.find_by_name("po_status_#{@status.gsub(' ','_')}") %>
    <% begin %>
      <%= render :partial => "po_status_#{@status.gsub(' ','_')}", :locals => {:po => @po, :status => @status} %>
    <% rescue %>
    <% end %>
  <% end %>
</div>
<div class="footer">
<%= link_to 'show production-order', url_for(:action=>'show',
  :controller => 'production_orders',
  :id => @po.id,
  :only_path => false,
  :protocol => 'http',
  :host => "#{ENV['host']}") %>
<br />
<%= link_to 'manage production-order', url_for(:action=>'manage',
  :controller => 'production_orders',
  :id => @po.id,
  :only_path => false,
  :protocol => 'http',
  :host => "#{ENV['host']}") %>
</div>
