<div class="header">
  <h4>Process data "<%= @process_data.id.to_s.rjust(4,"0") %> <%= @process_data.name %>" version <%= @process_data.version %><br>now in status <%=  @process_data.status_string %>.</h4>
  
</div>
<div class="content">
  <p>Dear user,</p>
  <p>This process data-set is changed to status <%=  @process_data.status_string %> and can be found at:</p>
  <p><%=  @process_data.storage_location %></p>
</div>
<div class="footer">Find more details in <a href="<%= url_for(:controller => 'process_data', :action => 'show', :id =>  @process_data.id, :host => "#{ENV['host']}") %>">WebMIS</a></div>