WebMIS Production Order update at <%= Time.now %>

Production order id : <%= @po.id %> for productset <%= @po.setname %>
The status was changed : <%= @event %>

Details : http://backoffice.mapscape.nl/production_orders/<%= @po.id.to_s %>
