<div class="header">
  <h4>Product design <%= @product_design.id.to_s %> with status <%= @product_design.status %></h4>
</div>    
<div class="content">
  <table>
    <tr>
      <td colspan="2"><b><%= @product_design.name %></b></td>
    </tr>
     <tr>
      <td colspan="4"><hr /></td>
    </tr>
    <tr>
      <td><b>Description</b></td>
      <td><b>Revision</b></td>
    </tr>
    <tr>
      <td><%= @product_design.description %></td>
      <td><%= @product_design.version %></td>
    </tr>
  </table>
</div>

<div class="footer">
  View details:
  <%= link_to  'WebMIS', :controller => 'product_designs', :action => 'show', :id => @product_design.id.to_s,:host => "#{ENV['host']}" %>
</div>
