<div class="header">Force editing of product <%= @product.volumeid %></div>
<div class="content">
  <p>Dear <%= @production_order.requestor %>,</p>
  <p>Currently your production order "<%= @production_order.name %>" is producing product <%= @product.volumeid %> - <%= @product.name %>.</p>
  <p>This e-mail is to notify you that <%= @user.full_name %> forced a edit of the product specification of this order.</p>
  <p>
    <strong>Production order:</strong>&nbsp;<%= @production_order.name %><br/>
    <strong>Status:</strong>&nbsp;<%= @production_order.status %><br/>
    <strong>WebMIS URL:</strong>&nbsp;<%= link_to 'Production order ' + @production_order.id.to_s, :controller => 'production_orders', :action => 'show', :id => @production_order.id.to_s,:host => "#{ENV['host']}" %>
  </p>
</div>
<div class="footer">
<%= link_to 'Order ' + @production_order.id.to_s, :controller => 'production_orders', :action => 'show', :id => @production_order.id.to_s,:host => "#{ENV['host']}" %>&nbsp;
<%= link_to 'Product ' + @product.id.to_s, :controller => 'products', :action => 'show', :id => @product.id.to_s,:host => "#{ENV['host']}" %>
</div>