<p>
  Reception Request Id <%= @reception.id.to_s %>
</p>
<table>
  <tr>
    <td>Receptions Id</td>
    <td><%=  @reception.id.to_s %></td>
  </tr>
  <tr>
    <td>Reference</td>
    <td><%=  @reception.referenceid %></td>
  </tr>
  <tr>
    <td>Requested by</td>
    <td><%=  @reception.requested_by.to_s %></td>
  </tr>
 
  <tr>
    <td>Priority</td>
    <td><%=  @reception.priority %></td>
  </tr>
  <tr>
    <td>Usability</td>
    <td><%=  @reception.formatted_purpose %></td>
  </tr>
  <tr>
    <td>Data Type</td>
    <td><%=  @reception.data_type.name %></td>
  </tr>
  <tr>
    <td>Supplier</td>
    <td><%=  @reception.data_release.company_abbr.name %></td>
  </tr>
    <tr>
    <td>Data Release</td>
    <td><%=  @reception.data_release.name %></td>
  </tr>

  <tr>
    <td>Data Version</td>
    <td><%=  @reception.dataversion %></td>
  </tr>
  </tr>
    <tr>
    <td>Area</td>
    <td><%=  @reception.region.name %></td>
  </tr>
  <tr>
    <td>Remarks</td>
    <td><%=  @reception.request_remarks %></td>
  </tr>

</table>
<p>
<%= link_to  'View details', :controller => 'receptions', :action => 'show_request', :id => @reception.id.to_s, :only_path => false,:host => "#{ENV['host']}"  %><br>
<%= link_to  'Perform reception (set to status INPROGRESS)', :controller => 'receptions', :action => 'edit', :id => @reception.id.to_s, :only_path => false,:host => "#{ENV['host']}"  %>
</p>

