<html>
<body><p>
  Reception Request with Id <%= @reception.id.to_s %> is rejected due to the following reason(s): 
</p>
<p><%=  @reception.rejection_remark %></p>
<table>
  <tr>
    <td>Reception Id</td>
    <td><%=  @reception.id %></td>
  </tr>
  <tr>
    <td>Reference</td>
    <td><%=  @reception.referenceid %></td>
  </tr>
  <tr>
    <td>Requested by</td>
    <td><%=  @reception.requested_by.to_s %></td>
  </tr>
 
  <tr>
    <td>Priority</td>
    <td><%=  @reception.priority %></td>
  </tr>
  <tr>
    <td>Usability</td>
    <td><%=  @reception.formatted_purpose %></td>
  </tr>
  <tr>
    <td>Medium</td>
    <td><%=  @reception.data_medium.name %></td>
  </tr>
  <tr>
    <td>Data Type</td>
    <td><%=  @reception.data_type.name %></td>
  </tr>
  <% if @reception.data_release %>
  <tr>
    <td>Supplier</td>
    <td><%=  @reception.data_release.company_abbr.name %></td>
  </tr>
    <tr>
    <td>Data Release</td>
    <td><%=  @reception.data_release.name %></td>
  </tr>
  <% end %>
  <tr>
    <td>Data Version</td>
    <td><%=  @reception.dataversion %></td>
  </tr>
    <tr>
    <td>Area</td>
    <td><%=  @reception.region.name %></td>
  </tr>
  <tr>
    <td>Remarks</td>
    <td><%=  @reception.request_remarks %></td>
  </tr>

</table>
</body>
</html>
