<b>Conversion Request REJECTED</b><br>
<p>Dear requester,</p>
<p>Your conversion request is rejected due to the following reason:</p>

<pre><%=  @conversion.rejection_remark %></pre>
<hr>
<br>
<b>Orginal Request:</b>
<p><b>ID: </b>
<%= link_to  @conversion.id.to_s, :controller => 'conversions', :action => 'show', :id => @conversion.id.to_s, :host => "#{ENV['host']}" %></p>  
<table border="0">
<tr>
  <td><b>Product ID:</b></td> 
<td><%= @conversion.productid %></td>
</tr>
<tr>
  <td><b>Data supplier:</b></td>
<td><%= @conversion.data_release.company_abbr.name.to_s %></td>
</tr>
<tr>
<td><b>Area:</b></td>
<td><%= @conversion.region_name %></td>
<tr>
<% if !@conversion.tpd %> 
  <td colspan="2"><i>No TPD product needed.</i></td>
<% else %>
  <td colspan="2">TPD product IS needed.</td>
<% end %>
</tr>
  </table>