<div class="header">
<b>Test <%=  @test_request.status %>
    <%= @test_request.test_type.name %> -     
    <% if  @test_request.product %>
        <%= @test_request.product.volumeid %>
        <%= @test_request.product.productsets.collect {|ps|ps.setcode.to_s + " "}.join(', ') %>
    <% end  %></b>
</div>
<div class="content">
<pre><%= @test_request.request_remarks %></pre>

<table>
  <tr>
    <td style="min-width: 200px">Requested by:</td>
    <td><%=  "#{@test_request.request_user.first_name.to_s}  #{@test_request.request_user.last_name.to_s}" %></td>
  </tr>
  <tr>
    <td>Assigned to:</td>
    <td><%=  "#{@test_request.assigned_user.first_name.to_s} #{@test_request.assigned_user.last_name.to_s}" %></td>
  </tr>
  <tr>
    <td>Test period:</td>
    <td><%= @test_request.start_date.strftime("%d-%m-%Y till ") + @test_request.finish_date.strftime("%d-%m-%Y") %></td>
  </tr>
  <tr>
    <td>Test Database:</td>
    <td><%= @test_request.test_db.path_and_file %></td>
  </tr>    
<% if @test_request.ref_db %>
  <tr>
    <td>Reference Database:</td>
    <td><%= @test_request.ref_db.path_and_file %></td>
  </tr>
<% end %>
</table>
<hr />
<table>
  <tr>
    <td style="min-width: 200px">Actual test period:</td>
    <td>
      <% if @test_request.actual_start_date && @test_request.actual_start_date != "" %>
        <%= @test_request.actual_start_date.strftime("%d-%m-%Y") %>
    <% end %>
    <% if @test_request.actual_finish_date && @test_request.actual_finish_date != "" %>
        <%= @test_request.actual_finish_date.strftime(" till %d-%m-%Y") %>
    <% end %>
    </td>
  </tr>
</table>
<pre><%= @test_request.result_remarks %></pre>
<div class="footer">     
<%= link_to "show request", test_request_url(@test_request),:host => "#{ENV['host']}" %>
</div>