<div class="header">
  <h4>Review request <%= @class_name %> <%= @obj.name.to_s %> (id: <%= @obj.id.to_s %>)</h4>
</div>
<div class="content">
<p>The following <%= @class_name %> requires a review:</p>
<p><%= link_to 'WebMIS', :controller => @class_name.underscore.pluralize, :action => @action_name, :id => @obj.id.to_s, :host => "#{ENV['host']}" %></p>
<p>Request made by: <%= @obj.updated_by %></p>
