<div class="header">
  <h4>Shipment request <%= @production_orderlines.first.production_order.name %></h4>
</div>
<div class="content">
  <table>
    <th>Product ID</th>
    <th>Name</th>
<% if amount = @production_orderlines.first.production_order.distribution_list.amount_hard_copies rescue nil %>
    <th>Hard copies</th>
<% end %>
<% @production_orderlines.each do |orderline| %>
    <% p = orderline.product %>
    <tr>
      <td><%= p.volumeid if p %></td>
      <td><%= p.name if p %></td>
      <td><%= amount %></td>
    </tr>
<% end %>
  </table>
</div>
<div class="footer">
<%= link_to 'show request', url_for(:action=>'show_shipment_request',:controller=>'production_orderlines',
  :id=>@production_orderlines.first.id, :only_path => false, :protocol => 'http',  :host => "#{ENV['host']}") %>
</div>
