<div class="header">
  <% if @resend %>
    <b style="color:#0088CC">Update Test request</b>
  <% else %>
    <b>Test request</b>
  <% end %>
  <% if  @test_request.product %>
    <br /><b>
      <%= @test_request.product.volumeid %>
      <%= @test_request.product.productsets.collect {|ps|ps.setcode.to_s + " "}.join(', ') %>
    <% end  %></b>
</div>
<div class="content">
<pre style="
     font-family: sans-serif;
     font-size: 12px"><%= @test_request.request_remarks %></pre>
<table>
  <tr>
    <td style="min-width: 200px"><b>Requested by:</b></td>
    <td><%=  @test_request.request_user.first_name.to_s + " " + @test_request.request_user.last_name.to_s %></td>
  </tr>
  <tr>
    <td><b>Assigned to:</b></td>
    <td><%=  @test_request.assigned_user.first_name.to_s + " " + @test_request.assigned_user.last_name.to_s %></td>
  </tr>
  <tr>
    <td><b>Test period:</b></td>
    <td><%= @test_request.start_date.strftime("%d-%m-%Y till ") + @test_request.finish_date.strftime("%d-%m-%Y") %></td>
  </tr>
  <tr>
    <td style="vertical-align: text-top"><b>Test Database:</b></td>
    <td><%= @test_request.test_db.path_and_file %></td>
  </tr>    

  <tr>
    <td style="vertical-align: text-top"><b>Reference Database:</b></td>
    <td><%= @test_request.ref_db ? @test_request.ref_db.path_and_file : 'N/A'  %></td>
  </tr>

</table>
</div>
<div class='footer'>
<%= link_to 'show request', url_for(:action=>'show',:controller=>'test_requests',
  :id=>@test_request.id, :only_path => false, :protocol => 'http',  :host => "#{ENV['host']}") %>
</div>