<div class="header">
    <h4>TPD Request <%= @conversion.productid %></h4>
</div>

<div class="content">
  <table>
    <tr>
      <td><b>Product ID</b></td>
      <td><%= @conversion.productid %></td>
    </tr>
     <tr>
      <td><b>Area</b></td>
      <td><%= @conversion.region.region_code %></td>
    </tr>
    <tr>
      <td><b>Conversion ID</b></td>
      <td><%= @conversion.id.to_s %></td>
    </tr>
    <tr>
      <td><b>Outcome</b></td>
      <td><%= @conversion.outcome %></td>
    </tr>
    <tr>
      <td><b>Conversion tool</b></td>
      <td><%= "#{@conversion.conversiontool.code}/#{@conversion.cvtool_bundle.name}" %></td>
    </tr>

  </table>

  <table>
    <tr><td><b>Database(s):</b></td></tr>
    <% @conversion.conversion_databases.available.each do |db| %>
    <tr><td><%= db.path_and_file %></td></tr>
    <% end %>
  </table>

  <table>
    <tr>
      <td><b>Conversion remarks:</b></td>
    </tr>
    <tr>
      <td><pre><%= @conversion.remarks %></pre></td>
    </tr>
  </table>
</div>

<div class="footer">
  <%= DateTime.now.strftime('%d-%m-%y %H:%M:%S') %><br />
  <b>Conversion engineer:</b>&nbsp;<%= @conversion.converter %>
</div>



