<div class="header">
    <h4>TPD Notification <%= @conversion.productid %></h4>
</div>

<div class="content">
  <table>
    <tr>
      <td><b>Product ID</b></td>
      <td><%= @conversion.productid %></td>
    </tr>
    <tr>
      <td><b>Supplier</b></td>
      <td><%= @conversion.data_release.company_abbr.name %></td>
    </tr>
    <tr>
      <td><b>Area</b></td>
      <td><%= @conversion.region.name %></td>
    </tr>
    <tr>
      <td><b>Conversion ID</b></td>
      <td><%= @conversion.id.to_s %></td>
    </tr>
  </table>

  <table>
    <tr>
      <td><b>TPD Product:</b></td>
    </tr>
    <tr>
      <td><pre><%= @conversion.tpd_products %></pre></td>
    </tr>
  </table>
<% if @conversion.tpd_rejected? %>
  <table>
    <tr>
      <td><b>Rejected TPD:</b></td>
    </tr>
    <tr>
      <td><pre><%= @conversion.tpd_rejected %></pre></td>
    </tr>
  </table>
<% end %>
<% if @conversion.tpd_rejection_remark? %>
  <table>
    <tr>
      <td><b>Cause rejection:</b></td>
    </tr>
    <tr>
      <td><pre><%= @conversion.tpd_rejection_remark %></pre></td>
    </tr>
  </table>
<% end %>
</div>

<div class="footer">
  Result send by: <%= @conversion.tpd_result_sender %>
</div>

