<h1>Editing mail_event</h1>
<% if @mail_event.errors.any? %>
  <ul>
    <% @mail_event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for(@mail_event) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @mail_event %> |
<%= link_to 'Back', mail_events_path %>
