<h1>Overview mailevents</h1>

<table>
  <tr>
    <th>Name</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>

<% for mail_event in @mail_events %>
  <tr>
    <td><%=h mail_event.name %></td>
    <td><%= link_to 'Show subscribers', :action => 'show_sub', :id => mail_event.id%></td>
    <td><%= link_to 'Destroy', mail_event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New mailevent', new_mail_event_path %>
