<h3>New mail_event</h3>

<% if @mail_event.errors.any? %>
  <div class="alert alert-error">
    <% @mail_event.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
  </div>
<% end %>

<%= form_for(@mail_event) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', mail_events_path %>
