<div class="row">
  <div class="span5 bounded bounded-headered">
    <div class="row bounded-header">
      <h4>Subscribed users: <%= @mail_event.name %></h4>
    </div>
    <div class="row">
      <div class="span1">
        <strong>ID</strong>
      </div>
      <div class="span3">
        <strong>User name</strong>
      </div>
    </div>
    <% @mail_event.users.order(:user_name).each do |user| %>
    <div class="row">
      <div class="span1">
        <%= link_to(user.id,user,target:"_blank") %>
      </div>
      <div class="span3">
        <%= user.user_name %>
      </div>
    </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="span5">
    <%= link_to edit_mail_event_path(@mail_event), :class => "btn",:title => "edit" do %>
      <i class="icon-edit" title="edit"></i>
    <% end %>
    <%= link_to :back, :class => "btn", :title => "back" do %>
      <i class="icon-arrow-left" title="back"></i>
    <% end %>
    <%= link_to mail_events_path, :class => "btn",:title => "overview" do %>
      <i class="icon-arrow-up" title="overview"></i>
    <% end %>
  </div>
</div>
