<%= form_for(@test_tool_release) do |f| %>
  <% if @test_tool_release.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_tool_release.errors.count, "error") %> prohibited this test_tool_release from being saved:</h2>

      <ul>
        <% @test_tool_release.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="span7 bounded bounded-headered">
      <div class="row bounded-header">
        <div class="field">
          <%= f.label :release_name %>
          <%= f.text_field :release_name %>
        </div>
        <div class="field">
          <%= f.label :active %>
          <%= f.check_box :active_yn %>
        </div>

        <div class="actions">
          <br/>
          <%= f.submit :class => 'btn'%>
        </div>

      </div>
    </div>
  </div>
<% end %>


