<% if test_tool_release.active_yn == true
  attext='Deactivate'
  atclass='icon-thumbs-down'
else
  attext='Activate'
  atclass='icon-thumbs-up'
end %>


<div class="row">
  <div class="span1">
    <div class="btn-group">
      <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
        Action
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to test_tool_release_path(test_tool_release) do %>
            <i class="icon-info-sign"></i>&nbsp;show
          <% end %>
        </li>
        <li>
          <%= link_to edit_test_tool_release_path(test_tool_release) do %>
            <i class="icon-edit"></i>&nbsp;edit
          <% end %>
        </li>
        <li>
          <%= link_to toggle_isactive_test_tool_release_path(test_tool_release), :method => :post do %>
            <i class="<%= atclass %>"></i>&nbsp;<%= attext %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <div class="span1"><%=  test_tool_release.id %></div>
  <div class="span1"><%= test_tool_release.release_name %></div>
  <div class="span1"><%= bootstrap_boolean(test_tool_release.active_yn) %></div>
</div>

