

<%= render 'form' %>

<div class="row">
  <div class="span11">
    <%= link_to edit_test_tool_release_path(@test_tool_release), :class => "btn",:title => "edit" do %>
      <i class="icon-edit" title="edit"></i>
    <% end %>
    &nbsp;
    <%= link_to :back, :class => "btn", :title => "back" do %>
      <i class="icon-arrow-left" title="back"></i>
    <% end %>
    &nbsp;
    <%= link_to({:action => 'index'}, {:class => "btn", :title => "overview"}) do %>
      <i class="icon-arrow-up" title="overview"></i>
    <% end %>

  <%= next_prev_button("prev") %>
  <%= next_prev_button("next") %>
  </div>
</div>