<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand"><strong>Test Tool Releases</strong></div>
      <div class="span">
        <%= form_tag test_tool_releases_path, :method => :get do %>
          <div class="span">
            <div class="input-bar">
              <%= link_to new_test_tool_release_path, :class => 'btn btn-info' do %>
                <i class="icon-plus">&nbsp;</i>new
              <% end %>
              <%= link_to(sync_test_tool_releases_path(:direction => params[:direction], :sort => params[:sort], :search => params[:search], :inclinactive => params[:inclinactive]), :class => 'btn btn-info', :title => 'Synchronize with filesystem', :method => :post) do %>
                <i class="icon-refresh">&nbsp;</i>sync
              <% end %>
            </div>
          </div>
          <%= text_field_tag :search, params[:search] %>

          <div class="span">
            
            <label class="checkbox">
              <%= check_box_tag 'inclinactive', "1", @include_inactive,{:data => {"text-label" => "inactive","off-label" => "","on-label" => "Include",:size => "normal",:on => "success",:off => "default","off-label" => "excluded"}} %>
            </label>
          </div>&nbsp;
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <div class="input-append input-prepend">
            <%= button_tag "Search", :name => nil, :type => :submit, :class => "btn" %>
            <%= button_tag "Reset", :name => 'reset',:class=>"btn",:type=>:submit %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="endless">
  <div class="row">
    <div class="span1 offset1"><strong><%= sortable "id", 'Id' %></strong></div>
     <div class="span1"><strong><%= sortable "release_name" %></strong></div>
     <div class="span1"><strong><%= sortable "active_yn",'Active' %></strong></div>
  </div>
  <%= render(:partial => "test_tool_release", :collection => @test_tool_releases) %>
</div>

<%= will_paginate(@test_tool_releases) %>
<%= pageless(@test_tool_releases.total_pages, test_tool_releases_path, "#endless",params) %>

<br />

<script>
  $("#inclinactive").bootstrapSwitch();
  $('#search').chosen({allow_single_deselect:true});
</script>