
<span class="label label-info"><%= @shipping_orderline.status_str %></span>
<h3>Shipping/PO order:&nbsp;<%= @shipping_orderline.shipping_order.po_reference %></h3>
<% f=form_fields %>
<%= f.hidden_field :shipping_order_id %>

<div class="row">
  <div class="span3">
    <div class="row">
      <div class="span3"><strong>Article</strong></div>
    </div>
    <div class="row">
      <div class="span3"><%= f.select :article_id, Article.where(:active => true).collect {|a|[a.name.to_s + ' - ' + a.customer_reference,a.id]}, :include_blank => true,:class => 'span3' %></div>
    </div>
    <div class="row">
      <div class="span3"><strong>External reference (LAB)</strong></div>
    </div>
    <div class="row">
      <div class="span3"><%= f.text_field :extern_reference %></div>
    </div>
    <div class="row">
      <div class="span3"><strong>Transport reference</strong></div>
    </div>

    <div class="row">
      <div class="span3"><%= f.text_field :transport_reference %></div>
    </div>
    <div class="row">
      <div class="span3"><strong>Delivery date</strong></div>
    </div>
    <div class="row">
      <div class="span3 date-select"><%= f.date_select :delivery_date, :include_blank => true %></div>
    </div>
    <div class="row">
      <div class="span3"><strong>Quantity</strong></div>
    </div>
    <div class="row">
      <div class="span3 date-select"><%= f.text_field :amount, :class => 'span1' %></div>
    </div>    
  </div>
  <div class="span4">
    <div class="row">
      <div class="span3"><strong>Remarks</strong></div>
    </div>
    <div class="row">
      <div class="span4"><%= f.text_area :remarks,:rows => "13",:class => 'span4' %></div>
    </div>
  </div>
</div>
