<div class="row" id="row_show_<%= shipping_orderline.id %>">
  <div class="span1">
    <div class="btn-group">
      <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
      Action
      <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to(:action => 'show',:controller => :shipping_orderlines,:id => shipping_orderline.id) do %>
          <i class="icon-info-sign"></i>&nbsp;show
          <% end %>
        </li>
        <% if shipping_orderline.edit_allowed?  %>
        <li>
          <%= link_to(:action => 'edit',:controller => :shipping_orderlines,:id => shipping_orderline.id) do %>
          <i class="icon-info-sign"></i>&nbsp;edit line
          <% end %>
        </li>
        <li>
          <%= link_to(:action => 'edit',:controller => :shipping_orders,:id => shipping_orderline.shipping_order_id) do %>
          <i class="icon-info-sign"></i>&nbsp;edit order
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="span1"><strong><%= shipping_orderline.status_str %></strong></div>
  <div class="span2"><%= shipping_orderline.shipping_order.ordering_customer_depot.label if shipping_orderline.shipping_order %></div>
  <div class="span2"><%= shipping_orderline.article.customer_reference  if shipping_orderline.article %>&nbsp;</div>
  <div class="span1"><%= shipping_orderline.shipping_order.po_reference %>&nbsp;</div>
  <div class="span1"><%= shipping_orderline.extern_reference %>&nbsp;</div>
  <div class="span1">&nbsp;
    <%= shipping_orderline.amount %>
    <% if shipping_orderline.article && shipping_orderline.article.non_stockable %>
      <i class="icon-hdd" title="non stockable article">&nbsp;</i>
    <%  end %>
  </div>
  <div class="span1"><%= shipping_orderline.call_off_reference %>&nbsp;</div>
  <div class="span1"><%= shipping_orderline.transport_reference %>&nbsp;</div>
  <div class="span1"><%= shipping_orderline.invoice_id ? shipping_orderline.invoice.reference : shipping_orderline.invoice_reference %>&nbsp;</div>
  <div class="span1"><%= shipping_orderline.delivery_date.strftime("%d/%m/%Y") %></div>
</div>
