<% shipping_orderline = shipping_orderline_uninvoiced%>
<div class="row" id="row_show_<%= shipping_orderline.id %>">
  <div class="span1">
    <div class="btn-group">
      <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
      Action
      <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to(:action => 'show',:controller => :shipping_orderlines,:id => shipping_orderline.id) do %>
          <i class="icon-info-sign"></i>&nbsp;show
          <% end %>
        </li>
        <li>
          <%= link_to(:action => 'invoice',:controller => :shipping_orderlines,:id => shipping_orderline.id) do %>
          <i class="icon-print"></i>&nbsp;invoice and print
          <% end %>
        </li>     
      </ul>
    </div>    
  </div>
  <div class="span2"><%= shipping_orderline.shipping_order.ordering_customer_depot.label if shipping_orderline.shipping_order %></div>
  <div class="span2"><%= shipping_orderline.article.customer_reference %>&nbsp;</div>
  <div class="span1"><%= shipping_orderline.shipping_order.po_reference %>&nbsp;</div>
  <div class="span1"><%= shipping_orderline.extern_reference %>&nbsp;</div>
  <div class="span1"><%= shipping_orderline.amount %>&nbsp;</div>
  <div class="span1"><%= shipping_orderline.call_off_reference %>&nbsp;</div>
  <div class="span1"><%= shipping_orderline.transport_reference %>&nbsp;</div>
  <div class="span1"><%= shipping_orderline.delivery_date.strftime("%d/%m/%Y") %></div>
</div>
