<% if params[:shipping_order_id] != "" %>
  <%= form_for(@shipping_orderline, :url => url_for(:action => 'perform_retroaction')) do |f| %>
  <% if @shipping_orderline.errors.any? %>
      <div class="alert alert-error">
        <% @shipping_orderline.errors.full_messages.each do |msg| %>
          <%= msg %>
        <% end %>
      </div>
 <% end %>
<%=  f.hidden_field :article_id %>
<%=  f.hidden_field :shipping_order_id %>

<div class="row">
  <div class="span3"><strong>Delivery date</strong></div>
  <div class="span1"><strong>Quantity</strong></div>
  <div class="span3"><strong>Transport reference</strong></div>
  <div class="span3"><strong>External reference</strong></div>
</div>

<div class="row">
  <div class="span3 date-select"><%= f.date_select :delivery_date, :include_blank => true,:order => [:day,:month,:year] %></div>
  <div class="span1"><%= f.text_field :amount_requested, :class => 'span1' %></div>
  <div class="span3"><%= f.text_field :transport_reference,:class => 'span3' %></div>
  <div class="span3"><%= f.text_field :extern_reference,:class => 'span3' %></div>
</div>

<div class="row">
  <div class="span3"><strong>Remarks</strong></div>
</div>

<div class="row">
  <div class="span10"><%= f.text_area :remarks,:rows => 5, :class => "span10" %></div>
</div>
<p><%= f.submit 'Create' ,:class => 'btn btn-primary'%></p>
  <% end %>
<% end %>