<h1>External reference (LAB): </b><%=h @shipping_orderline.extern_reference %></h1>
<table class="noborder">
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td><b>Delivery date: </b><%=h @shipping_orderline.delivery_date %></td>
    <td><b>Quantity: </b><%=h @shipping_orderline.amount %></td>
  </tr>
</table>

<%= form_for([@shipping_orderline], :url => {:action => 'allocation',:id => @shipping_orderline.id}) do |f| %>
<% if @shipping_orderline.errors.any? %>
  <div class="alert alert-error">
    <% @shipping_orderline.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
  </div>
<% end %>  
    <%= f.hidden_field :shipping_order_id %>
    <%= hidden_field_tag 'return_to', @return_to if @return_to %>
<table> 
  <tr>      
    <td><b><%= f.label :call_off_reference %></b></td>
    <td colspan="2"><%= f.text_field :call_off_reference %><%= f.submit 'Allocate' %></td>  
  <tr>
  <tr>
    <td><%= f.label :stock_order_id %></td>
    <td colspan="2"><%= f.select :stock_order_id, WarehouseStock.all.collect {|w|[w.stock_order.purchase_reference,w.stock_order_id]}.uniq, :include_blank => true %></td>
  </tr> 
  
</table>  
<% end %>