<h1>Listing allocated/received shipping orderlines till <b><%= @t.strftime("%d-%m-%Y") %></b>.</h1>

<%= grid(@shipping_orderlines_grid, :show_filters => :always  ) do |g|

    g.row_attributes do |po|    
        #conditional row formats
    end
    
    g.column :column_name => "Status", :attribute_name => "status" ,
        :custom_filter => [['Allocated','30'],['Received','10']],:auto_reload => true do |sol|
        line = sol.status_str
        link_to line, sol,{:class=>'clickable', :title => 'Status'}
    end
    
    g.column :column_name => 'Company/Plant', :model_class => 'ShippingOrder', :attribute_name => 'customer_depot_id',
      :custom_filter => CustomerDepot.all.order(:label).collect{|c|[c.label,c.id]}, :auto_reload => true do |sol|
      line = sol.shipping_order.customer_depot.label if sol.shipping_order
        link_to line, sol,{:class=>'clickable', :title => 'Status'}
    end
    
    g.column :column_name => 'Article', :model_class => 'Article', :attribute_name => 'customer_reference',:custom_filter => :auto, :auto_reload => true do |sol|
      line = sol.article.customer_reference if sol.article_id
        link_to line, sol,{:class=>'clickable', :title => 'Status'}
    end  
  
    g.column :column_name => 'Order', :model_class => 'ShippingOrder', :attribute_name => 'po_reference',:auto_reload => false do |sol|
      line = "-"
      line = sol.shipping_order.po_reference if sol.shipping_order_id
        link_to line, sol,{:class=>'clickable', :title => 'Status'}
    end
    
     g.column :column_name => 'External reference (LAB)', :attribute_name => "extern_reference", :auto_reload => false do |sol|
        line = sol.extern_reference
        link_to line, sol,{:class=>'clickable', :title => 'Status'}
    end
    
    g.column :column_name => "Quantity", :attribute_name => "amount", :no_filter => true do |sol|
        line = sol.amount
        link_to line, sol,{:class=>'clickable', :title => 'Status'}
    end
    
    g.column :column_name => "Call-off reference", :attribute_name => "call_off_reference" do |sol|
        line = "-"
        line = sol.call_off_reference if sol.call_off_reference
        link_to line, sol,{:class=>'clickable', :title => 'call-off'}
    end  
    
    g.column :column_name => "Delivery date", :attribute_name => "delivery_date", :no_filter => true do |sol|
        line = sol.delivery_date
        link_to line, sol,{:class=>'clickable', :title => 'Status'}
    end
    
    g.column do |sol|
        link_to  image_tag('icons/allocate.png', :border =>0, :alt => "allocate" , :title => "allocate order"), :controller => 'shipping_orderlines',  :action => 'allocate', :id => sol.id.to_s, :shipping_order_id => sol.shipping_order.id, :return_to => controller.action_name if sol.status == 10
    end
    
    g.column do |sol|
        link_to  image_tag('icons/pdf_button.png', :border =>0, :alt => "print call-off" , :title => "call of shipment document"), :controller => 'shipping_orderlines',  :action => 'html_to_pdf_call_of', :id => sol.id.to_s, :shipping_order_id => sol.shipping_order.id, :return_to => controller.action_name if sol.status == 30
    end
    
    g.column do |sol|
        link_to  image_tag('icons/shipping.png', :border =>0, :alt => "shipconfirmed" , :title => "shipconfirmed"), :controller => 'shipping_orderlines',  :action => 'ship', :id => sol.id.to_s, :shipping_order_id => sol.shipping_order.id  if sol.status == 30
    end   
  
end %>


  


