<%= wicked_pdf_stylesheet_link_tag "pdf/pdf" %>
<% po = 'N/A' %>
<% co = '' %>
<% if @shipping_order.po_reference.to_s != ""
   po = @shipping_order.po_reference
   end %>
<% if @shipping_orderline.extern_reference.to_s != ""
    co = " / #{@shipping_orderline.extern_reference}"
   end %>

<div class="PDF" style="float:left;color:gray"><%= wicked_pdf_image_tag("mapscapelogo4docs.png", :height => '35px') %><br>www.mapscape.eu</div>
<div style="float:right"><h1 class="PDF">Invoice</h1>
<br><br><br><br><br>  <!-- space for window envelope -->
  <table class="noborder">
    <tr>
      <td>Invoice number:</td>
      <td><%= @shipping_orderline.invoice_reference %></td>
    </tr>
    <tr>
      <td>Date:</td>
      <td><%= Time.now().strftime("%d-%m-%Y") %></td>
    </tr>
    <tr>
      <td colspan="2"><i style="font-size: smaller">The reference must appear<br>on all related correspondence,<br>shipping papers, and invoices.</i></td>
    </tr>
  </table>
</div>
<br><br><br><br><br><br><br><br><br> <!-- space for window envelope -->
<p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= @shipping_order.invoicing_customer_depot.name %><br>
<% if @shipping_order.invoicing_customer_depot.contact_name.to_s != "" %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= @shipping_order.invoicing_customer_depot.constact_salutation %>&nbsp;
<%= @shipping_order.invoicing_customer_depot.contact_name %><br>
<% end %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%  if @shipping_order.invoicing_customer_depot.street_name.to_s != "" %>
  <%= "#{@shipping_order.invoicing_customer_depot.street_name}" %>&nbsp;<%= "#{@shipping_order.invoicing_customer_depot.house_number}" %>
<% end %><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<% if @shipping_order.invoicing_customer_depot.postal_code.to_s != "" %>
<%= "#{@shipping_order.invoicing_customer_depot.postal_code}" %>
<% end %>
<%= @shipping_order.invoicing_customer_depot.city %><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= @shipping_order.invoicing_customer_depot.country %></p>
<br><br>
<br><hr>

<table class="noborder-small-single" style="width: 100%">
  <tr>
    <td>Supplier code:</td>
    <td><%= @shipping_order.invoicing_customer_depot.supplier_code %></td>
        <td>Customer code:</td>
    <td><%= @shipping_order.invoicing_customer_depot.customer_code %></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>

  </tr>
  <tr>
    <td>Contact:</td>
    <td><%= @mapscape.contact_name %></td>
<td>Contact name:</td>
    <td><%= @shipping_order.ordering_customer_depot.constact_salutation + ' ' if @shipping_order.ordering_customer_depot.constact_salutation %><%= @shipping_order.ordering_customer_depot.contact_name %></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    
  </tr>
  <tr>
    <td>Telephone:</td>
    <td><%= @mapscape.contact_phone %></td>
        <td>Contact telephone:</td>
    <td><%= @shipping_order.ordering_customer_depot.contact_phone %></td>

    <td>Shipped to:</td>
    <td><%= @shipping_order.shipping_customer_depot.name %></td>

  </tr>
  <tr>
    <td>E-mail:</td>
    <td><%= @mapscape.contact_email %></td>
        <td>VAT-identification:</td>
    <td><%= @shipping_order.shipping_customer_depot.vat_identification %></td>

    <td>Unloading point:</td>
    <td><%= @shipping_order.shipping_customer_depot.unloading_point %></td>

  </tr>
</table>
<hr>
<br>
<table class="noborder">
  <tr>
    <td><strong>Purchase order:</strong></td>
    <td><%= po %><%= co %></td>
  </tr>
  <tr>
    <td>Article description:</td>
    <td><%= @wstock.article.description if @wstock %></td>
  </tr>
  <tr>
    <td>Article reference:</td>
    <td><%= @wstock.article.customer_reference if @wstock %></td>
  </tr>
  <tr>
</table>
<br>
<% if @shipping_orderline.invoice_remarks != "" %>
  <pre><%=h @shipping_orderline.invoice_remarks %></pre>
<br>
<% end %>
<table class="linetable">
  <tr>
    <th>transport reference</th>
    <th>delivery date</th>
    <th>article</th>
    <th style="text-align:right;">quantity</th>
    <th style="text-align:right;">price</th>
    <th style="text-align:right;">total</th>
  </tr>
  <tr>
    <td><%= @shipping_orderline.transport_reference %></td>
    <td><%= @shipping_orderline.delivery_date.strftime("%d %B %Y") %></td>
    <td><%= @wstock.article.customer_reference if @wstock %></td>
    <td style="text-align:right;"><%= @shipping_orderline.amount %>&nbsp;piece(s)</td>
    <td style="text-align:right;"><%= amount_to_currency(@shipping_orderline.article.price, @shipping_orderline.article.currency) %></td>
    <td style="text-align:right;"><%= amount_to_currency(@s_total_i, @shipping_orderline.article.currency) %></td>
  </tr>
  <tr><td colspan="6">&nbsp;</td></tr>
 <tr>
    <td colspan="4"><pre><%= @vat_desc %></pre></td>
    <td style="text-align:right;">VAT&nbsp;<%= @percentage_i.to_s %>%</td>
    <td style="text-align:right;"><%= amount_to_currency(@vat_i, @shipping_orderline.article.currency) %></td>
  </tr>
  <tr>
    <td colspan="4">&nbsp;</td>
    <td colspan="2"><hr></td>
  </tr>
  <tr>
    <td colspan="5">&nbsp;</td>
    <td style="text-align:right;"><%= amount_to_currency(@total_i, @shipping_orderline.article.currency) %></td>
  </tr>
</table>
<br>
<div>
  <p style="font-size: smaller">Please fullfill payment before <b><%=h @shipping_orderline.payment_due_date.strftime("%d %B %Y") if @shipping_orderline.payment_due_date %></b> on our bank account.<br></p>
  <%=h simple_format(@shipping_order.shipping_customer_depot.payment_statement.content,:class => "label") if  @shipping_order.shipping_customer_depot.payment_statement %>
</div>
