<div class="PDF" style="float:left;color:gray"><%= wicked_pdf_image_tag("mapscapelogo4docs.png", :height => '35px') %><br>www.mapscape.eu</div>
<div style="float:right"><h1 class="PDF">Shipping order</h1>
  <table class="noborder">
    <tr>
      <td><b>SO Reference:</b></td>
      <td><%=  @shipping_orderline.call_off_reference %></td>
    </tr>
    <tr>
      <td><b>SO Date:</b></td>
      <td><%= Time.now().strftime("%d-%m-%Y") %></td>
    </tr>
    <tr>
      <td colspan="2"><i style="font-size: smaller">The reference must appear<br>on all related correspondence,<br>shipping papers, and invoices.</i></td>
    </tr>
  </table>
</div>
<br><br><br><br>
<p><%=  @wstock.stock_depot.contact_name %><br>
<%= @wstock.stock_depot.name %><br>
<%= "#{@wstock.stock_depot.street_name}<br>"   if @wstock.stock_depot.street_name.to_s != "" %>
<%= "#{@wstock.stock_depot.postal_code}&nbsp;" if @wstock.stock_depot.postal_code.to_s != "" %>
<%= @wstock.stock_depot.city_name %><br>
<%= @wstock.stock_depot.country_name %></p>
<br><br>
<br><hr>

<table class="noborder-small" align="left" >
  <tr>
    <td>Invoice to:</td>
    <td>Submitted by:</td>
  </tr>
  
  <tr>
    <td>
      Mapscape BV<br>
      Margo van Ooijen<br>
      Luchthavenweg 34<br>
      5657 EB Eindhoven<br>
      The Netherlands<br>
      invoices@mapscape.eu
    </td>

    <td>
      Mapscape BV <br>
      <%= @cu.full_name %><br>
      Luchthavenweg 34<br>
      5657 EB Eindhoven<br>
      The Netherlands<br>
      orders@mapscape.eu
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  
</table>
<br>
<hr>
<br><br>
<table class="noborder">
    <td><b>Customer PO:</b></td>
    <% po = 'N/A' %>
    <% if @shipping_order.po_reference.to_s != ""
       po = @shipping_order.po_reference
    end %>    
    <td><%= po %>&nbsp;
    <% co = '' %>
    <% if @shipping_orderline.extern_reference.to_s != ""
        co = "/ #{@shipping_orderline.extern_reference}"
    end %>
    <%= co %></td>
  </tr>
  <tr>
    <td><b>Delivery date:</b></td>
    <td><%=  @shipping_orderline.delivery_date %></td>
  </tr>
  <tr>
    <td><b>Destination:</b></td>
    <td><%=  @shipping_order.customer_depot.name %></td>
  </tr>   
  <tr>
    <td><b>Quantity:</b></td>
    <td><%=  @shipping_orderline.amount %></td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>  
  <tr>
    <td><b>Article description:</b></td>
    <td><%= @wstock.article.description %></td>
  </tr>
  <tr>
    <td><b>Article reference:</b></td>
    <td><%= @wstock.article.customer_reference %></td>    
  </tr>
  <tr>
    <td><b>PO Reference:</b></td>
    <td><%= @wstock.stock_orderline.stock_reference %></td>
  </tr>
  <tr>
    <td><b>Mapscape Reference:</b></td>
    <td><%= @wstock.stock_order.purchase_reference %></td>
  </tr>  
</table>
<br><br>
<table class="linetable">
  <tr>
    <th>Shipping address</th>
  </tr>
  <% if @shipping_order.customer_depot_id %>
  <tr>
  <td>
    <%=h @shipping_order.customer_depot.name %><br>
    <%=h @shipping_order.customer_depot.street_name %>&nbsp;
    <%=h @shipping_order.customer_depot.house_number %><br>
    <%=h @shipping_order.customer_depot.postal_code %><br>
    <%=h @shipping_order.customer_depot.city %><br>
    <%=h @shipping_order.customer_depot.country %><br>
  </td>
  </tr>
  <% if @shipping_order.customer_depot.unloading_point.to_s != "" %>
  <tr>
    <td>Unloading Point:&nbsp;<%=h @shipping_order.customer_depot.unloading_point %></td>
  </tr>
  <% end %>
<% if @shipping_order.customer_depot.contact_name.to_s != "" %>
  <tr>
    <td>Contact:&nbsp;<%=h @shipping_order.customer_depot.constact_salutation %>&nbsp;
    <%=h @shipping_order.customer_depot.contact_name %>&nbsp;&nbsp;
    <%=h @shipping_order.customer_depot.contact_phone %>
    </td>
  </tr>
  <% end %>    
<% end %>  
</table>  




