<%= wicked_pdf_stylesheet_link_tag "pdf/pdf" %>
<% po = 'N/A' %>
<% co = '' %>
<% if @shipping_order.po_reference.to_s != ""
   po = @shipping_order.po_reference
   end %>
<% if @shipping_orderline.extern_reference.to_s != ""
    co = " / #{@shipping_orderline.extern_reference}"
   end %>

<div class="PDF" style="float:left;color:gray"><%= wicked_pdf_image_tag("mapscapelogo4docs.png", :height => '35px') %><br>www.mapscape.eu</div>
<div style="float:right"><h1 class="PDF">Invoice</h1>
<br><br><br>  <!-- space for window envelope -->
  <table class="noborder">
    <tr>
      <td><b>Invoice number:</b></td>
      <td><%=  @shipping_orderline.invoice_reference %></td>
    </tr>
    <tr>
      <td><b>Date:</b></td>
      <td><%= Time.now().strftime("%d-%m-%Y") %></td>
    </tr>
    <tr>
      <td colspan="2"><i style="font-size: smaller">The reference must appear<br>on all related correspondence,<br>shipping papers, and invoices.</i></td>
    </tr>
  </table>
</div>
<br><br><br><br><br><br><br>  <!-- space for window envelope -->
<p>
<%= @shipping_order.invoicing_customer_depot.name %><br>
<% if @shipping_order.invoicing_customer_depot.contact_name.to_s != "" %>
<%= @shipping_order.invoicing_customer_depot.constact_salutation %>&nbsp;
<%= @shipping_order.invoicing_customer_depot.contact_name %><br>
<% end %>
<%  if @shipping_order.invoicing_customer_depot.street_name.to_s != "" %>
  <%= "#{@shipping_order.invoicing_customer_depot.street_name}" %>&nbsp;<%= "#{@shipping_order.invoicing_customer_depot.house_number}" %><br>
<% end %>
<% if @shipping_order.invoicing_customer_depot.postal_code.to_s != "" %>
<%= "#{@shipping_order.invoicing_customer_depot.postal_code}" %>
<% end %>
<%= @shipping_order.invoicing_customer_depot.city %><br>
<%= @shipping_order.invoicing_customer_depot.country %></p>
<br><br>
<br><hr>

<table class="noborder-small-single">
  <tr>
    <td>Supplier code:</td>
    <td><%=  @shipping_order.invoicing_customer_depot.supplier_code %></td>
  </tr>
  <tr>
    <td>Contact:</td>
    <td><%= @mapscape.contact_name %></td>
  </tr>
  <tr>
    <td>Telephone:</td>
    <td><%= @mapscape.contact_phone %></td>
  </tr>
  <tr>
    <td>e-mail:</td>
    <td><%= @mapscape.contact_email %></td>
  </tr>
</table>
<hr>
<br><br>
<table class="noborder">
  <tr>
    <td><b>Shipped to:</b></td>
    <td><%=  @shipping_order.shipping_customer_depot.name %></td>
  </tr>
  <tr>
    <td><b>Unloading point:</b></td>
    <td><%=  @shipping_order.shipping_customer_depot.unloading_point %></td>
  </tr>
  <tr>
    <td><b>Customer code:</b></td>
    <td><%=  @shipping_order.invoicing_customer_depot.customer_code %></td>
  </tr>
  <tr>
    <td><b>Contact name:</b></td>
    <td><%=  @shipping_order.ordering_customer_depot.contact_name %></td>
  </tr>
  <tr>
    <td><b>Contact telephone:</b></td>
    <td><%=  @shipping_order.ordering_customer_depot.contact_phone %></td>
  </tr>
  <tr>
    <td><b>VAT-identification:</b></td>
    <td><%=h @shipping_order.shipping_customer_depot.vat_identification %></td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td><b>Purchase Order:</b></td>
    <td><%=h po %><%=h co %></td>
  </tr>
  <tr>
    <td><b>Article description:</b></td>
    <td><%= @wstock.article.description if @wstock %></td>
  </tr>
  <tr>
    <td><b>Article reference:</b></td>
    <td><%= @wstock.article.customer_reference if @wstock %></td>
  </tr>
  <tr>
</table>
<br>
<% if @shipping_orderline.invoice_remarks != "" %>
  <pre><%=h @shipping_orderline.invoice_remarks %></pre>
<% end %>
<br>
<table class="linetable">
  <tr>
    <th>transport reference</th>
    <th>delivery date</th>
    <th>article</th>
    <th>quantity</th>
    <th>price</th>
    <th>total</th>
  </tr>
  <tr>
    <td><%=h @shipping_orderline.transport_reference %></td>
    <td><%=h @shipping_orderline.delivery_date.strftime("%d %B %Y") %></td>
    <td><%= @wstock.article.customer_reference if @wstock %></td>
    <td><%=h @shipping_orderline.amount %>&nbsp;piece(s)</td>
    <td><%=h number_to_currency(@shipping_orderline.article.price, :unit => @shipping_orderline.article.currency) %></td>
    <td><%=h number_to_currency(@s_total_i, :unit => @shipping_orderline.article.currency) %></td>
  </tr>
  <tr><td colspan="6">&nbsp;</td></tr>
 <tr>
    <td colspan="3">&nbsp;</td>
    <td colspan="2"><b>VAT <pre><%= @vat_desc %></pre></b></td>
    <td><%=h number_to_currency(@vat_i, :unit => @shipping_orderline.article.currency) %></td>
  </tr>
  <tr>
    <td colspan="4">&nbsp;</td>
    <td colspan="2"><hr></td>
  </tr>
  <tr>
    <td colspan="5">&nbsp;</td>
    <td><b><%= number_to_currency(@total_i, :unit => @shipping_orderline.article.currency) %></b></td>
  </tr>
</table>
<br>
<div>
  <p style="font-size: smaller">Please fulfill payment before <b><%=h @shipping_orderline.payment_due_date.strftime("%d %B %Y") if @shipping_orderline.payment_due_date %></b> on our bank account  .<br></p>
  <%=h simple_format(@shipping_order.shipping_customer_depot.payment_statement.content,:class => "label") if  @shipping_order.shipping_customer_depot.payment_statement %>

</div>
