<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="span4"><h4>Delivery overview (Shipping orderlines)</h4></div>
    <div class="span6">
      <%= form_tag shipping_orderlines_path, :method => 'get' do %>
        <%= hidden_field_tag :direction, params[:direction] %>
        <%= hidden_field_tag :sort, params[:sort] %>
        <div class="input-append">
          <%= text_field_tag :search, params[:search], :placeholder=>" search",:class=>"span3",:size=>"16" %>
          <%= button_tag "Search", :name => nil, :type => :submit, :class => "btn" %>
          <%= button_tag "Reset", :name => 'reset',:class=>"btn",:type=>:submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div id="endless">
  <div class="row">
    <div class="offset1 span1"><strong><%= sortable 'shipping_orderlines.status','Status' %></strong></div>
    <div class="span2"><strong><%= sortable 'customer_depots.label','Cust. depot' %></strong></div>
    <div class="span2"><strong><%= sortable 'articles.customer_reference','Cust. ref' %></strong></div>
    <div class="span1"><strong><%= sortable 'shipping_orders.po_reference','PO ref' %></strong></div>
    <div class="span1"><strong><%= sortable 'extern_reference','Ext. ref' %></strong></div>
    <div class="span1"><strong><%= sortable 'amount' %></strong></div>
    <div class="span1"><strong><%= sortable 'call_off_reference','Call of ref' %></strong></div>
    <div class="span1"><strong><%= sortable 'transport_reference','Transp. ref' %></strong></div>
    <div class="span1"><strong><%= sortable 'invoice_reference','Invoice ref' %></strong></div>
    <div class="span1"><strong><%= sortable 'delivery_date','Delivery' %></strong></div>
  </div>
  <%= render :partial => 'shipping_orderline',:collection => @shipping_orderlines %>
</div>
<%= will_paginate(@shipping_orderlines) %>
<%= pageless(@shipping_orderlines.total_pages, shipping_orderlines_path, "#endless") %>
