<%= form_for([@shipping_orderline], :url => {:action => 'create_invoice',:id => @shipping_orderline.id}) do |f| %>
  <% if @shipping_orderline.errors.any? %>
    <div class="alert alert-error">
      <% @shipping_orderline.errors.full_messages.each do |msg| %>
        <%= msg %>
      <% end %>
    </div>
  <% end %>

  <h4>
    <%=h @shipping_orderline.shipping_order.id %>.&nbsp;
    <%=h @shipping_orderline.shipping_order.ordering_customer_depot.label %>&nbsp;
    <%=h @shipping_orderline.shipping_order.po_reference %>&nbsp;/&nbsp;
    <%=h @shipping_orderline.extern_reference %>
  </h4>

<div class="row">
  <div class="span5 well">
    <div class="row">
      <div class="span2"><strong>Invoice reference</strong></div>
      <div class="span2"><%= f.text_field :invoice_reference, :class=>'span2' %></div>
    </div>
    <div class="row">
      <div class="span1"><strong>Remarks</strong></div>
    </div>
    <div class="row">
      <div class="span5"><%= f.text_area :invoice_remarks, :class => 'span5', :rows => 4 %></div>
    </div>
    
    <div class="row">
      <% if@shipping_orderline.status < 60  %>
      <div class="span2"><%= f.submit 'Create Invoice', :class=> 'btn btn-primary' %></div>
      <% else %>
      <div class="span2">
        <%= link_to :controller => 'shipping_orderlines',  :action => 'html_to_pdf_invoice', :id => @shipping_orderline.id.to_s, :shipping_order_id => @shipping_orderline.shipping_order.id,:format => 'pdf' do %>
          <button type="button" class="btn btn-info">Print invoice</button>
        <% end %>
      </div>
      <% end %>
    </div>
    <% end %>
    <%= link_to :controller => 'shipping_orderlines',  :action => 'uninvoiced_shipped_list' do %>
      <i class="icon-arrow-left"></i>&nbsp;back
    <% end %>
  </div>
</div>
  

