<%= form_for(@shipping_orderline) do |f| %>
<% if @shipping_orderline.errors.any? %>
  <div class="alert alert-error">
    <% @shipping_orderline.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
  </div>
<% end %>
    <%= render :partial => 'form_fields' ,:object => f %>
  <p>
    <%= f.submit 'Create',:class => 'btn btn-primary' %>
  </p>
<% end %>