
<h4>New shipment order (retroaction)</h4>
  <% if @shipping_orderline.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shipping_orderline.errors.count, "error") %> prohibited this shipment order from being saved:</h2>

      <ul>
      <% @shipping_orderline.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="span3"><strong>Shipping order</strong></div>
</div>
<div class="row">
  <div class="span6">
    <%= select_tag "shipping_order_id", options_for_select([''] + @shipping_orders_select,params[:shipping_order_id]),{:class=>'span4'}  %></div>
</div>



<div class="ui-widget-content ui-corner-all" style="padding: 5px;margin-top: 1em;" id="shipping-order-div">

</div>

</div>

<script type="text/javascript">
  $("#shipping_order_id").observe_field(1, function( ) {
    var selected = this.value;
    jQuery.get('<%=h url_for(:action => 'start_retroaction',:controller => "shipping_orderlines") %>' + '?shipping_order_id=' + selected, function(data){
      $("#shipping-order-div").html(data);
    });});

  <% if !params[:shipping_order_id].blank? %>
    jQuery.get('<%=h url_for(:action => 'start_retroaction',:controller => "shipping_orderlines") %>' + '?shipping_order_id=' + '<%=  params[:shipping_order_id] %>', function(data){
      $("#shipping-order-div").html(data);});
<% end %>

  $("#shipping_order_id").chosen();
</script>
