<h1>External reference (LAB): </b><%=h @shipping_orderline.extern_reference %></h1>
<table class="noborder">
  <tr>
    <td><b>Delivery date: </b><%=h @shipping_orderline.delivery_date %></td>
    <td><b>Quantity: </b><%=h @shipping_orderline.amount %></td>
    <td><b>Call off reference: </b><%=h @shipping_orderline.call_off_reference %></td>
  </tr>
</table>

<%= form_for([@shipping_orderline], :url => {:action => 'shipping',:id => @shipping_orderline.id}) do |f| %>
  <%= f.error_messages %>
    <%= f.hidden_field :shipping_order_id %>
<table> 
  <tr>      
    <td><b><%= f.label :transport_reference %></b></td>
    <td colspan="2"><%= f.text_field :transport_reference %><%= f.submit 'Shipped' %></td>  
  <tr>
  
</table>  
<% end %>