<br />
<div class="row">
  <div class="span8 well">
    <div class="row">
      <div class="span2"><span class="label label-info"><%= @shipping_orderline.shipping_order.status_str %></span></div>
    </div>
    <div class="row">
      <div class="span8">
        <strong>        <%=h @shipping_orderline.shipping_order.id %>.&nbsp;
        <%=h @shipping_orderline.shipping_order.ordering_customer_depot.name %>&nbsp;
        <%=h @shipping_orderline.shipping_order.source %>&nbsp;<%=h @shipping_orderline.shipping_order.po_reference %></strong>
      </div>
    </div>
    <div class="row">
      <div class="span2"><strong>Article:</strong></div>
      <div class="span7"><%=h @shipping_orderline.shipping_order.article.name %>&nbsp;</div>
    </div>
    <div class="row">
      <div class="span2"><strong>Initiated by:</strong></div>
      <div class="span7"><%=h @shipping_orderline.shipping_order.init_user.full_name %>&nbsp;</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="span8 bounded">
    <div class="row">
      <div class="span2"><span class="label label-info"><%=h @shipping_orderline.status_str %></span></div>
    </div>
    <div class="row">
      <div class="span4">
        <div class="row">
          <div class="span2"><strong>Delivery date</strong></div>
          <div class="span2"><%=h @shipping_orderline.delivery_date.strftime( '%d-%m-%Y' ) %></div>
        </div>
        <div class="row">
          <div class="span2"><strong>Article</strong></div>
          <div class="span2"><%=h @shipping_orderline.article.customer_reference if @shipping_orderline.article %></div>
        </div>
        <div class="row">
          <div class="span2"><strong>Quantity</strong></div>
          <div class="span2"><%=h @shipping_orderline.amount %></div>
        </div>
      </div>
      <div class="span4">
        <div class="row">
          <div class="span4"><strong>Remarks</strong></div>
        </div>
        <div class="row">
          <div class="span4"><pre class="real-pre"><%=h @shipping_orderline.remarks %></pre></div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="span11">
    <%= link_to(:back,:title => "back",:class => "btn") do %>
      <i class="icon-arrow-left"></i>
    <%  end %>
    <%= link_to(shipping_orderlines_path,:title => "overview",:class => "btn") do %>
      <i class="icon-arrow-up"></i>
    <%  end %>
    <%= link_to(edit_shipping_orderline_path(@shipping_orderline),:class => "btn disabled", :title => "edit", :id => "edit") do %>
    <i class="icon-edit"></i>
    <%  end %>
    <%= link_to({:action => 'edit', :controller => 'shipping_orders', :id => @shipping_orderline.shipping_order.id}, {:class => "btn disabled", :title => "edit shipping order", :id => "editLine"}) do %>
    <i class="icon-pencil"></i>
    <%  end %>
    <%= next_prev_button("prev") %>
    <%= next_prev_button("next") %>
  </div>
</div>

<script type="text/javascript">
  <% if @shipping_orderline.edit_allowed? %>
    $('#edit').removeClass("disabled");
    $('#editLine').removeClass("disabled");
  <% end %>
</script>