<script type="text/javascript">
  function invoice(id){
    jQuery.get('<%=h url_for(:controller => 'shipping_orderlines',:action => 'invoice_from_list') %>' + id, function(){
        var url = "/shipping_orderlines/html_to_pdf_invoice/" + id;
        var tmp_elem = document.createElement("iframe");  
        tmp_elem.src = url;  
        tmp_elem.style.display = "none";  
        document.body.appendChild(tmp_elem);

    })
    .success( (jQuery("body").load("dummy")) )
  }
</script>
<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="span3"><h4>Uninvoiced orders</h4></div>
    <div class="span7">
      <%= form_tag url_for(:action => 'uninvoiced_shipped_list'), :method => 'get' do %>
        <%= hidden_field_tag :direction, params[:direction] %>
        <%= hidden_field_tag :sort, params[:sort] %>
        <div class="input-append">
          <%= text_field_tag :search, params[:search], :placeholder=>" search",:class=>"span3",:size=>"16" %>
          <%= button_tag "Search", :name => nil, :type => :submit, :class => "btn" %>
          <%= button_tag "Reset", :name => 'reset',:class=>"btn",:type=>:submit %>
        </div>   
      <% end %>                  
    </div>
  </div>  
</div>

<div style="padding-top: 4em;margin-bottom: 55px" id="endless">
  <div class="row">
    <div class="offset1 span2"><strong><%= sortable 'shipping_orders.ordering_customer_depot_id','Cust. depot' %></strong></div>
    <div class="span2"><strong><%= sortable 'articles.customer_reference','Cust. ref' %></strong></div>
    <div class="span1"><strong><%= sortable 'shipping_orders.po_reference','PO ref' %></strong></div>
    <div class="span1"><strong><%= sortable 'extern_reference','Ext. ref' %></strong></div>
    <div class="span1"><strong><%= sortable 'amount' %></strong></div>
    <div class="span1"><strong><%= sortable 'call_off_reference','Call of ref' %></strong></div>
    <div class="span1"><strong><%= sortable 'transport_reference','Transp. ref' %></strong></div>
    <div class="span1"><strong><%= sortable 'delivery_date','Delivery' %></strong></div>
  </div>
  <%= render :partial => 'shipping_orderline_uninvoiced',:collection => @shipping_orderlines %>
</div>
<%= will_paginate(@shipping_orderlines) %>
<%= pageless(@shipping_orderlines.total_pages, url_for(:action => 'uninvoiced_shipped_list'), "#endless") %>
