<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="span3"><h4>Unpaid invoiced orders</h4></div>
    <div class="span7">
      <%= form_tag url_for(:action => :unpaid_shipped_list), :method => 'get' do %>
        <%= hidden_field_tag :direction, params[:direction] %>
        <%= hidden_field_tag :sort, params[:sort] %>
        <div class="input-append">
          <%= text_field_tag :search, params[:search], :placeholder=>" search",:class=>"span3",:size=>"16" %>
          <%= button_tag "Search", :name => nil, :type => :submit, :class => "btn" %>
          <%= button_tag "Reset", :name => 'reset',:class=>"btn",:type=>:submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div style="padding-top: 4em;margin-bottom: 55px" id="endless">
<%= form_tag(:action => 'process_unpaid_to_paid') do -%>
  <div class="row">
    <fieldset>
    <div class="span1"><input type="checkbox" id="checkall"><small>Check all</small></div>
    <div class="span1"><strong><%= sortable 'payment_due_date','Due date' %></strong></div>
    <div class="span2"><strong><%= sortable 'customer_depots.label','Cust. depot' %></strong></div>
    <div class="span2"><strong><%= sortable 'articles.customer_reference','Cust. ref' %></strong></div>
    <div class="span1"><strong><%= sortable 'shipping_orders.po_reference','PO ref' %></strong></div>
    <div class="span2"><strong><%= sortable 'extern_reference','Ext. ref' %></strong></div>
    <div class="span1"><strong><%= sortable 'amount' %></strong></div>
    <div class="span1"><strong><%= sortable 'call_off_reference','Call of ref' %></strong></div>
    <div class="span1"><strong><%= sortable 'transport_reference','Transp. ref' %></strong></div>
    <div class="span1"><strong><%= sortable 'invoice_reference','Invoice ref' %></strong></div>
  </div>


<% @shipping_orderlines.each do |shipping_orderline| %>
   <div class="row">
    <div class="span1"><input type="checkbox" name="unpaid_orderline[<%= shipping_orderline.id %>]" id ="<%= shipping_orderline.id %>" value="<%= shipping_orderline.id %>"></div>

    <div class="span1"><%=  shipping_orderline.payment_due_date.strftime( '%d-%m-%Y' ) if shipping_orderline.payment_due_date %>&nbsp;</div>
    <div class="span2"><%= shipping_orderline.shipping_order.ordering_customer_depot.label if shipping_orderline.shipping_order %></div>
    <div class="span2"><%= shipping_orderline.article.customer_reference %>&nbsp;</div>
    <div class="span1"><%= shipping_orderline.shipping_order.po_reference %>&nbsp;</div>
    <div class="span2"><%= shipping_orderline.extern_reference %>&nbsp;</div>
    <div class="span1"><%= shipping_orderline.amount %>&nbsp;</div>
    <div class="span1"><%= shipping_orderline.call_off_reference %>&nbsp;</div>
    <div class="span1"><%= shipping_orderline.transport_reference %>&nbsp;</div>
    <div class="span1"><%= shipping_orderline.invoice_id ? shipping_orderline.invoice.reference : shipping_orderline.invoice_reference %>&nbsp;</div>
   </div>
<% end %>
  <br>
     </fieldset>
  <%= submit_tag 'Selected to Paid',:class => 'btn btn-danger' %>
<% end -%>
</div>

<script type="text/javascript">
    $('#checkall').click(function () {
        $(this).parents('form').find(':checkbox').attr('checked', this.checked);
    });
</script>
