<% f = form_fields %>

<div class="row">
  <div class="span2"><strong>Conversion Database</strong></div>
  <div class="span6"><strong>Name</strong></div>
  <div class="span1"><strong>Count</strong></div>
</div>
<div class="row">
  <div class="span2">
    <%= f.select :conversion_database_id, ConversionDatabase.where(:status => ConversionDatabase::STATUS_HAS_ERRORS).collect { |cd| [cd.id.to_s,cd.id] }, { :include_blank => true }, { :class => 'span2' } %>
  </div>
  <div class="span6">
    <%= f.text_field :name, :class => 'span6' %>
  </div>
  <div class="span1">
     <%= f.number_field :count, :class => 'span1' %>
  </div>
</div>
<div class="row">
  <div class="span2"><strong>Copied to crash dir?</strong></div>
  <div class="span1"><strong>Resolved?</strong></div>
  <div class="span1"><strong>Ticket nr</strong></div>
</div>
<div class="row">
  <div class="span2">
    <%= f.check_box :copied_to_crash_yn %>
  </div>
  <div class="span1">
    <%= f.check_box :resolved_yn %>
  </div>
  <div class="span1">
     <%= f.number_field :ticket_nr, :class => 'span1' %>
  </div>
</div>