<h3>Editing validation error</h3>

<% if @validation_error.errors.any? %>
  <div class="alert alert-error">
    <% @validation_error.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
  </div>
<% end %>

<%= form_for @validation_error do |f| %>
  <%= render :partial => 'form_fields', :object => f %>

  <div class="row">
    <div class="span2">
      <%= f.submit "Update", :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>
<br />

<div class="row">
  <div class="span12">
    <%= link_to @validation_error, :class => 'btn', :title => "show" do %>
      <i class="icon icon-eye-open"></i>
    <% end %>
    <%= link_to validation_errors_path, :class => 'btn', :title => "back" do %>
      <i class="icon icon-arrow-up" to index></i>
    <% end %>
  </div>
</div>
