<div class="row">
  <div class="span4">
   <h3>Listing validation errors</h3>
  </div>
  <div class="span1">
    <%= link_to new_validation_error_path, :class => 'btn btn-danger btn-mini' do %>New<% end %>
  </div>
</div>

<div class="row">
  <div class="offset1 span1">Conv.db</div>
  <div class="span6">Name</div>
  <div class="span1">Count</div>
  <div class="span1">To crashdir?</div>
  <div class="span1">Resolved yn</div>
  <div class="span1">Ticket nr</div>
</div>

<% @validation_errors.each do |validation_error| %>
  <div class="row">
    <div class="span1">
      <div class="btn-group">
        <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
          Action
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to validation_error do %>
              <i class="icon-info-sign"></i>&nbsp;show
            <% end %>
          </li>
          <li>
            <%= link_to edit_validation_error_path(validation_error) do %>
              <i class="icon-edit"></i>&nbsp;edit
            <% end %>
          </li>
          <li>
            <%= link_to(validation_error, :method => :delete, :data => { :confirm => 'Are you sure?' } ) do %>
              <i class="icon-destroy"></i>&nbsp;destroy
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <div class="span1"><%= validation_error.conversion_database_id %>&nbsp;</div>
    <div class="span6"><%= validation_error.name %>&nbsp;</div>
    <div class="span1"><%= validation_error.count %>&nbsp;</div>
    <div class="span1"><%= validation_error.copied_to_crash_yn %>&nbsp;</div>
    <div class="span1"><%= bootstrap_boolean(validation_error.resolved_yn) %></div>
    <div class="span1"><%= validation_error.ticket_nr %>&nbsp;</div>
  </div>
<% end %>
