<div class="row">
  <div class="span12 bounded bounded-headered">
    <div class="row bounded-header">
      <div class="span12"><h4>Validation error <%= @validation_error.id %></h4></div>
    </div>
    <div class="row">
      <div class="span2"><strong>Conversion Database</strong></div>
      <div class="span6"><strong>Name</strong></div>
      <div class="span1"><strong>Count</strong></div>
    </div>
    <div class="row">
      <div class="span2"><%= @validation_error.conversion_database_id %>&nbsp;</div>
      <div class="span6"><%= @validation_error.name %>&nbsp;</div>
      <div class="span1"><%= @validation_error.count %>&nbsp;</div>
    </div>
    <div class="row">
      <div class="span2"><strong>Copied to crash dir?</strong></div>
      <div class="span1"><strong>Resolved?</strong></div>
      <div class="span1"><strong>Ticket nr</strong></div>
    </div>
    <div class="row">
      <div class="span2"><%= bootstrap_boolean(@validation_error.copied_to_crash_yn) %>&nbsp;</div>
      <div class="span1"><%= bootstrap_boolean(@validation_error.resolved_yn) %></div>
      <div class="span1"><%= @validation_error.ticket_nr %>&nbsp;</div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <%= link_to edit_validation_error_path(@validation_error), :class => 'btn',:title => "edit" do %>
      <i class="icon icon-edit"></i>
    <% end %>
    <%= link_to validation_errors_path, :class => 'btn',:title => "overview" do %>
      <i class="icon icon-arrow-up"></i>
    <% end %>
  </div>
</div>
