<dl>
<dt><label>Conversion Tool</label></dt>
<dd><%= select :record, :conversiontool_name, Conversiontool.order(:major_release).select('distinct major_release').collect {|c| [ c.major_release, c.major_release ] }  ,{}, {:class => "text-input", :onchange =>"showIcon('img_record[#{column.name}]');"}     %> <%= @record.conversiontool_name if params[:action] == 'edit' %> <span id=<%= "img_record[#{column.name}]" %> style="display:none"><img alt="Field was changed" src="/webmis/images/exclamation.gif" /></span></dd>

