<dl>
<dt><label>Customer!!!</label></dt>
<dd>
<%= select :record, :customer_id, Manufacturer.all.order(:name).collect {|c| [ c.abbr , c.id ] },{},{:onchange => "showIcon('img_record[#{column.name}]');"}  %>  <%= @record.customer_name if params[:action] == 'edit' %> <span id=<%= "img_record[#{column.name}]" %> style="display:none"><img alt="Field was changed" src="/webmis/images/exclamation.gif" /></dd>
</dd>
</dl>
