<dl>
<dt><label for="record_datarelease_name">Data Release Name</label></dt>
<%  releases = [] %>
<%  CompanyAbbr.find_all_for_module("WebMIS").each do |ds| 
       releases = releases +   ds.data_releases 
 end %>
<dd ><table ><tr><td width=50px style="padding:0.0em"><%= select_tag :datasource_id, options_for_select([""] + CompanyAbbr.find_all_for_module("WebMIS").collect {|c| [c.name, c.id] }) %></td>
<td nowrap><div id="datarelease_div" style="width:45px"><%= select :record, :datarelease_id, releases.collect {|c| [ c.company_abbr.name + " " + c.name.to_s  , c.id ] }, {:include_blank => true }, {:onchange => "showIcon('img_record[#{column.name}]');",:class => "text-input"} %></div></td><td> <%= text_field :record , :datasource_extrainfo, :style => 'border:1px solid black'   %> <%= @record.datarelease_name if params[:action] == 'edit' %>  <span id=<%= "img_record[#{column.name}]" %> style="display:none"><img alt="Field was changed" src="/webmis/images/exclamation.gif" /></span></td></table></dd>


</dl>

<%=  observe_field("datasource_id", :url => {:controller => :productsets, :action => :get_datareleases}, :update => "datarelease_div", :with => "'id=' + escape(value)") %>


