 <%= select_tag "record[datarelease_id]",
        options_for_select([""] + @dr.collect {|c| [ c.company_abbr.name + " " + c.name.to_s  , c.id ] }, {:include_blank => true }),{:onchange => "showIcon('img_record[data_release_id]');",:class => "text-input"} %> 
<%= link_to "New", "/webmis/data_releases", :target => "_blank"   %> <span id=<%= "img_record[data_release_id]" %> style="display:none"><img alt="Field was changed" src="/webmis/images/exclamation.gif" /></span>




