<div class="row">
  <div class="span5">
    <%  if @productset.removed_yn %>
    <div class="row">
      <div class="span2"><strong>Removed</strong></div>
      <div class="span3"><%= formfields.check_box :removed_yn %></div>
    </div>
    <% end %>
    <div class="row">
      <div class="span2"><strong>Version Major/Minor</strong></div>
      <div class="span3">
        <%= formfields.text_field :set_release_major,:placeholder => 'major', :class => 'input-single' %>
        <%= formfields.text_field :set_release_minor,:placeholder => 'minor', :class => 'input-single' %>
      </div>    
    </div>
    <div class="row">
      <div class="span2"><strong>Purpose</strong></div>
      <div class="span3"><%= formfields.select :settype, ['PRODUCTION','SAMPLE'] %></div>
    </div>
    <div class="row">
      <div class="span2"><strong>Status</strong></div>
      <% statusarray =  {20 => :Approved,  5 => :Draft,   10 => :Proposal, 50 =>:Hold }.collect {|c| [ c[1] , c[0].to_s ] } %>
      <div class="span3"><%= select :productset, :status, statusarray,{},{:class => "text-input", :onchange =>"showIcon('img_record[status]');"} %></div>
    </div>      
    <div class="row">
      <div class="span2"><strong>Product category</strong></div>
      <div class="span3"><%= formfields.select :product_category_id, ProductCategory.all.collect{|x|[x.abbreviation,x.id]} %></div>
    </div>
    <div class="row">
      <div class="span2"><strong>Output format Extra info</strong></div>
      <div class="span3"><%= formfields.text_field :output_format_extrainfo %></div>
    </div>    
    <div class="row">
      <div class="span2"><strong>Customer</strong></div>
      <div class="span3"><%= formfields.text_field :customer_name  %></div>
    </div>
    <div class="row">
      <div class="span2"><strong>Data format</strong></div>
      <div class="span3"><%= formfields.select :output_format, DataType.all.collect {|c| ["#{c.name} - #{c.description}", "#{c.name}"] } %></div>
    </div>
    <div class="row">
      <div class="span2"><strong>Set code</strong></div>
      <div class="span3"><%= formfields.text_field :setcode %></div>      
    </div>
    <div class="row">
      <div class="span2"><strong>Name</strong></div>
      <div class="span3"><%= formfields.text_field :name %></div>
    </div>
    <div class="row">
      <div class="span2"><strong>Coverage</strong></div>
      <div class="span3"><%= formfields.text_field :area_name %></div>
    </div>
    <div class="row">
      <div class="span2"><strong>Continent</strong></div>
      <div class="span3"><%= formfields.text_field :contabbr %></div>
    </div>
    <div class="row">
      <div class="span2"><strong>Main Data supplier</strong></div>

      <% activeabbrs =  CompanyAbbr.where(:is_active => true).collect {|c| [c.company_name, c.id] } %>
      <% activeabbrs = activeabbrs << [CompanyAbbr.find(@productset.company_abbr_id).company_name, @productset.company_abbr_id] if @productset.company_abbr_id %>
      <% activeabbrs.uniq! %>
      
      <div class="span3"><%= formfields.select :company_abbr_id, activeabbrs %></div>
    </div>      
    <div class="row">
      <div class="span2"><strong>Data Release</strong></div>
      <div class="span3" id="datarelease_div"><% if @productset.datarelease_name %>
       <% releases = DataRelease.where("(name = '#{@productset.datarelease_name}') or (production = 1 and company_abbr_id = '#{@productset.company_abbr_id.to_s}' and data_releases.name is not null)").order('data_releases.updated_at desc').uniq %>
         <%= formfields.select :datarelease_name , releases.collect {|c| [c.name.to_s,c.name] }, :include_blank => true %>
       <% else %>
         <%= formfields.select :datarelease_name , [] %>
     <% end %>
      </div>
    </div>
    <div class="row">
      <div class="span2"><strong>Dataset desc.</strong></div>
      <div class="span3"><%= formfields.text_field :data_set_description %></div>
    </div>
    <div class="row">
      <div class="span2"><strong>Dataset desc.</strong></div>
      <div class="span3"><%= formfields.text_field :data_set_description %></div>
    </div>
    <div class="row">
      <div class="span2"><strong>Release Extra Info</strong></div>
      <div class="span3"><%= formfields.text_field :datasource_extrainfo %></div>
    </div>
    <div class="row">
      <div class="span2"><strong>Conversion tool</strong></div>
      <div class="span3"><%= formfields.select :conversiontool_name,['','dev','prod','alpha'] %></div>
    </div>
    <div class="row">
      <div class="span2"><strong>Predecessor</strong></div>
      <div class="span3"><%= formfields.text_field :predecessor %></div>
    </div>
    <div class="row">
      <div class="span2"><strong>Approval text</strong></div>
      <div class="span3"><%= formfields.text_area :approval_text, :rows => '2' %></div>
    </div>     
  </div>
  <div class="span7">
    <div class="row">
      <div class="span1"><strong>Remarks</strong></div>
      <div class="span6"><%= formfields.text_area :remarks, :style => 'width:100%', :rows => '17' %></div>
    </div>
    <div class="row">
      <div class="span1"><strong>Settings</strong></div>
      <div class="span6"><%= formfields.text_area :conversion_settings, :style => 'width:100%', :rows => '13' %></div>      
    </div>
  </div>

</div>
<br>

<script type="text/javascript">
  jQuery(function($) {
  $("#productset_company_abbr_id").change(function() {
    var selected = $('select#productset_company_abbr_id :selected').val();
    if(selected == "") selected="0";
    jQuery.get('<%=h url_for(:controller => 'productsets',:action => 'get_datareleases_by_company_abbr_id') %>'+'?did=' + selected, function(data){
        $("#datarelease_div").html(data);
    })
    return false;
  });
})
</script>