<dl>
<dt><label>Medium</label></dt>
<dd><%= select :record, :medium_name, DataMedium.DataMedium.all.order(:name).collect {|c| [ c.name, c.name ] } ,{}, {:class => "text-input", :onchange =>"showIcon('img_record[#{column.name}]');"}  %><span id=<%= "img_record[#{column.name}]" %> style="display:none"><img alt="Field was changed" src="/webmis/images/exclamation.gif" /></span><%= link_to ' New' , :controller => 'data_medium', :action => 'index' %></dd>
</dl>
