<% action_color_class = "btn-info" %>
<% if productset.status == "2"
     action_color_class = "btn-danger"
end %>

<div class="row" id="row_show_<%= productset.id %>">
    <div class="span1">
      <div class="btn-group">
        <a class="btn btn-mini dropdown-toggle <%= action_color_class %>" data-toggle="dropdown" href="#">
        Action
        <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to(:action => 'show',:controller => :productsets,:id => productset.id) do %>
            <i class="icon-info-sign"></i>&nbsp;show
            <% end %>
          </li>
          <% if env_production? %>
          <li>
            <%= link_to(:action => 'handle',:controller => :productsets,:id => productset.id) do %>
            <i class="icon-tasks"></i>&nbsp;handle
            <% end %>
          </li>
          <li>
            <%= link_to(:action => 'edit',:controller => :productsets, :action => 'edit',:id => productset.id) do %>
              <i class="icon-edit"></i>&nbsp;edit
            <% end %>
          </li>
          <li>
            <% if @favorites.collect{|x|x.id}.include?(productset.id) %>
              <%= link_to(:controller => :productsets, :action => :remove_tag,:id => productset.id) do %>
                <i class="icon-star-empty"></i>&nbsp;remove as favorite
              <% end %>
            <% else %>
              <%= link_to(:action => 'edit',:controller => :productsets, :action => :favorite,:id => productset.id) do %>
                <i class="icon-star"></i>&nbsp;add as favorite
                <% end %>
            <% end %>
          </li>
          <% if !productset.removed_yn %>
          <li>
            <%= link_to(:action => 'disable',:controller => :productsets,:id => productset.id) do %>
              <i class="icon-remove-circle"></i>&nbsp;delete
            <% end %>
          </li>
          <% end %>
          <% if productset.products && !productset.products.where("detailedcoverage is null or detailedcoverage = ''").empty? %>
          <li>
            <%= link_to(:action => 'clone_set',:controller => :productsets,:id => productset.id) do %>
              <i class="icon-repeat"></i>&nbsp;Clone product-set
            <% end %>
          </li>
          <% end %>
          <% end %>
          <li>
            <%= link_to(:action => :check,:controller => :production_orders, :productset_id => productset.id) do %>
              <i class="icon-barcode"></i>&nbsp;Check production order
            <% end %>
          </li>            
          <li>
            <%= link_to(:action => :new,:controller => :production_orders, :productset_id => productset.id) do %>
              <i class="icon-barcode"></i>&nbsp;New production order
            <% end %>
          </li>            
        </ul>
      </div>
    </div> 
    <div class="span1"><%= Productset.statushash[productset.status.to_i] %>&nbsp;</div>
    <div class="span1"><%= productset.product_category.abbreviation if productset.product_category_id %>&nbsp;</div>
    <div class="span3"><%= productset.setcode %>&nbsp;</div>
    <div class="span2"><%= productset.company_abbr.company_name.to_s if productset.company_abbr %>&nbsp;</div>
    <div class="span2"><%= productset.products.first.product_line.abbr if productset.products.first && productset.products.first.product_line %>&nbsp;</div>
    <div class="span2">
          <% if !productset.production_orders.empty? %>
            <%= link_to(:action => :index, :controller => :production_orders,:productset_id => productset.id) do %>
              <i class="icon-barcode" title = "<%= (productset.production_orders.collect{|po|po.name}).join(' - ') %>"></i>&nbsp;
            <% end %>
          <% end %>
    </div>
  </div>