<dl>
<dt><label>Area</label></dt>
<dd ><%= select :record, :region_id, Region.find_all_for_module("PPF").collect {|c| [ c.name.to_s + " " + c.type.to_s  , c.id ] }, {:include_blank => true } %> <%= @record.area_name if params[:action] == 'edit' %> <%= link_to "New" , "/dsm/places" %></dd>
</dl>
