<div class="row">
  <div class="span6 well">
    <span class="label label-info"><%=   Productset.statushash[@record.status.to_i] %></span><br><br>
    <div class="row">
      <div class="span2"><strong>WebMIS Version</strong></div>
      <div class="span1"><%=  @record.set_release_major.to_s + "." + @record.set_release_minor.to_s %></div>
    </div>

    <div class="row">
      <div class="span2"><strong>Product category</strong></div>
      <div class="span1"><%= @record.product_category.abbreviation if @record.product_category %></div>
    </div>

    <div class="row">
      <div class="span2"><strong>Output format</strong></div>
      <div class="span4"><%= @record.output_format %>&nbsp;<%= @record.output_format_extrainfo %></div>
    </div>
<% if !@record.medium_name.blank? %>
    <div class="row">
      <div class="span2"><strong>Medium</strong></div>
      <div class="span5"><%= @record.medium_name %></div>
    </div>
<% end %>
    <div class="row">
      <div class="span2"><strong>Name</strong></div>
      <div class="span4"><%= @record.name %></div>
    </div>

    <div class="row">
      <div class="span2"><strong>Set code</strong></div>
      <div class="span3"><%= @record.setcode %></div>
    </div>

    <div class="row">
      <div class="span2"><strong>Predecessor</strong></div>
      <div class="span3">
        <% pdr = @record.predecessor_obj %>
        <% if !pdr %>
        <%= @record.predecessor %>
        <% else %>
        <%= link_to pdr.setcode, pdr,{:target => '_blank'} %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="span2"><strong>Successor</strong></div>
      <div class="span3">
        <% @record.successor_objs.each do |suc| %>
          <%= link_to suc.setcode, suc,{:target => '_blank'} %>
          <%= raw("<br/>") if suc != @record.successor_objs.last %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="span2"><strong>Description</strong></div>
      <div class="span3"><%= @record.description.to_s.gsub("\n","<br/>") %></div>
    </div>
    <hr />

     <div class="row">
      <div class="span2"><strong>Coverage</strong></div>
      <div class="span3"><%= @record.area_name %></div>
    </div>

    <div class="row">
      <div class="span2"><strong>Dataset description</strong></div>
      <div class="span3"><%= @record.data_set_description %></div>
    </div>

    <div class="row">
      <div class="span2"><strong>Data release</strong></div>
      <div class="span3"><%= @record.datarelease_name %></div>
    </div>
    <hr />

    <div class="row">
      <div class="span2"><strong>Customer name</strong></div>
      <div class="span3"><%= @record.customer_name %></div>
    </div>

    <div class="row">
      <div class="span2"><strong>Approval customer</strong></div>
      <div class="span3"><%= @record.approval_text.to_s.gsub("\n","<br/>") %></div>
    </div>
    <hr />
<% if !@record.underconstructiondate.blank? %>
    <div class="row">
      <div class="span2"><strong>Under construction date</strong></div>
      <div class="span5"><%= @record.underconstructiondate %></div>
    </div>
<% end %>
    <div class="row">
      <div class="span2"><strong>Specification(s)</strong></div>
      <div class="span4">
        <%= raw @record.nds_name.to_s.gsub(',','<br />') %><br />
        <%= @record.products.collect{|p|p.poi_mapping_layout.definition_version if p.poi_mapping_layout}.join("\n") %>
      </div>
    </div>

    <div class="row">
      <div class="span2"><strong>Production order(s)</strong></div>

      <div class="span4">
        <% @record.production_orders.order('id desc').each do |po| %>
          <% style = '' %>
          <% case po.bp_name  %>
          <% when 'COMPLETE'
             style='color:mediumseagreen' %>
          <% when 'CANCELLED'
             style='color:darkgrey'%>
          <% end %>
      <%= link_to po.name,{:controller => :production_orders,:action => :trace, :id => po.id},{:style=>"#{style}",:title=>po.bp_name} %><br />

        <% end %>
      </div>
    </div>

    <% if @record.platform_name && @record.platform_name.size > 0 %>
      <div class="row">
        <div class="span2"><strong>Product line</strong></div>
        <div class="span4"><%= @record.platform_name %></div>
      </div>
    <% end %>

    <% if @record.conversiontool_name && @record.conversiontool_name.size > 0 %>
       <div class="row">
        <div class="span2"><strong>Conversion tool</strong></div>
        <div class="span4"><%= @record.conversiontool_name %></div>
      </div>
    <% end %>

    <% if @record.conversion_settings && @record.conversion_settings.size > 0 %>
       <div class="row">
        <div class="span2"><strong>Conversion settings</strong></div>
        <div class="span4"><%= raw @record.conversion_settings.to_s.gsub("\n","<br/>") %></div>
      </div>
    <% end %>

  </div>

  <div class="span6">
    <%= raw @record.remarks.to_s.gsub("\n","<br/>") %>
  </div>
</div>

<% if @record.includedproductsetdocuments.size > 0 %>
<h6>Related documents for productset <%=  @record.setcode %></h6>
<div class="row">
  <div class="span6 well">
    <div class="row">
      <div class="span2"><strong>Name</strong></div>
      <div class="span1"><strong>Version</strong></div>
      <div class="span3"><strong>Description</strong></div>
    </div>
    <% @record.includedproductsetdocuments.each do |doc| %>
    <% if doc.document %>
    <div class="row">
      <div class="span2">
          <%= link_to doc.document.filename.to_s , :controller => 'documents', :action => 'download',:id => doc.document.id, :ver => doc.document.version%>
      </div>
      <div class="span1">
        <%=  link_to doc.document.version.to_s, :action => 'show', :controller =>'documents', :id =>  doc.document.id %>
      </div>
      <div class="span3">
        <%=  doc.document.description.to_s  %>
      </div>

    </div>
    <% end %>
    <% end %>
  </div>
</div>
<% end %>

<h6>Product overview</h6>
<div class="row">
  <% @hdrs.each do |th| %>
    <% if th.to_s.split('_')[1] == 'Name'
      span = 'span3'
    elsif
      th.to_s.split('_')[1] == 'Exceptions/remarks:'
      span = 'span2'
    else
      span = 'span2'
    end %>
  <div class="<%= span %>"><strong><%= th.to_s.split('_')[1]%></strong></div>
  <%end%>
</div>
<% products = Includedproduct.where("productset_id = #{@record.id} and link_product_id is null") %>
<% products.each do |product| %>
<div class="row">

   <% if @hdrs.select{|a| a =~ /^0\_/}.size > 0 %>
     <div class="span2" name="id">
       <%= link_to product.product.volumeid, product.product, {:target => "_blank",:title => "show product details"} %><br />
       <span class="label"><%= product.product.statusstr %></span>
     </div>
   <% end %>

  <% if @hdrs.select{|a| a =~ /^1\_/}.size > 0 %>
    <div class="span3" name="name"><%= product.product.name %>&nbsp;</div>
  <% end %>

  <% if @hdrs.select{|a| a =~ /^2\_/}.size > 0 %>
    <div class="span2" name="dtcoverage">
      <%= raw product.product.detailedcoverage.to_s.gsub("\n",", ") %>&nbsp;<br /><hr />
      <i title="" class="icon-info-sign" data-original-title="<b>Matched normalized:</b><br /><%= raw product.product.primary_coverage_regions.collect {|pc|pc.name}.join(' - ') if product.product.primary_coverage_regions %>">Matched coverage&nbsp;</i>
    </div>
  <% end %>

  <% if @hdrs.select{|a| a =~ /^3\_/}.size > 0 %>
    <div class="span2" name="hwcoverage">
      <%= raw product.product.hwncoverage.to_s.gsub("\n","<br/>") %>&nbsp;<br /><hr />
      <i title="" class="icon-info-sign" data-original-title="<b>Matched normalized:</b><br /><%= raw product.product.secondary_coverage_regions.collect {|pc|pc.name}.join(' - ') if product.product.secondary_coverage_regions  %>">Matched coverage&nbsp;</i>
    </div>
  <% end %>

  <% if @hdrs.select{|a| a =~ /^4\_/}.size > 0 %>
    <div class="span2" name="tmc"><%= product.product.tmclocation %>&nbsp;</div>
  <% end %>

  <% if @hdrs.select{|a| a =~ /^5\_/}.size > 0 %>
    <div class="span2" name="tpd1"><%= raw product.product.thirdpartydata1.to_s.gsub("\n","<br/>") %>&nbsp;</div>
  <% end %>

  <% if @hdrs.select{|a| a =~ /^6\_/}.size > 0 %>
    <div class="span2" name="tpd2"><%= raw product.product.thirdpartydata2.to_s.gsub("\n","<br/>") %>&nbsp;</div>
  <% end %>

  <% if @hdrs.select{|a| a =~ /^7\_D/}.size > 0 %>
    <% @dsi = [] %>
    <div class="span2" name="dataset">
      <% @dsi = ProductDataSetInfo.where(product_id:product.product.id) %>
      <% @dsi.each do |x| %>
        <%= x.name %>
        <br />
        <%= x.area_name %>
        <%= x.data_release %>
        <br />
        <%= x.remarks %>
        <br />
      <% end %>
    &nbsp;</div>
  <% end %>
  <% if @hdrs.select{|a| a =~ /^8\_/}.size > 0 %>
    <div class="span2" name="remarks"><%= raw product.product.remarks.to_s.gsub("\n","<br/>") %>&nbsp;</div>
  <% end %>
 </div>
  <hr />

<% end %>
<br />
<p class="form-footer">
  <%= link_to 'TMC Sheet', :action => 'show_tmc' , :id => @record.id if !@record.tmc_file.blank? %>
</p>

<% products = Includedproduct.where("productset_id = #{@record.id} and link_product_id is null") %>



<div id="vh" class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-all ui-accordion-content-active" style="display:none" >
  <table style="font-size: 1em" width="100%" class="noborder">
    <th>Changed At</th>
    <th>Spec. Version</th>
    <th>Changes Description</th>
    <th>Field changes</th>
    <th>WebMIS Version</th>

    <% i = 1 %>
    <% old = nil %>
    <% ProductsetVersion.diff :exclude =>['lock_version', 'major','minor','version','lock_version','changes','dateeffective','updated_at','created_at'] %>
    <% vhistory  = ProductsetVersion.where("productset_id = #{@record.id}") %>
    <% vhistory.each do |productset| %>
        <% if i.modulo(2) == 0 %>
        <tr class="record even-record">
      <% else %>
        <tr class="record odd-record">
        <% end %>
        <% i = i + 1 %>
        <td><%= productset.created_at.strftime('%d-%m-%y %H:%M:%S') if productset.created_at %></td>
        <td><%= productset.set_release_major.to_s + "." + productset.set_release_minor.to_s %></td>
        <td><%= productset.changes %></td>
        <td><%= old.diff(productset).inspect.gsub("]}","").gsub("{","").gsub("=>["," was changed : ").gsub("\r\n","<BR/>").gsub("\\n","<BR/>").gsub("],","<BR/>") if old &&  old.diff(productset).keys.size > 0%></td>

                <% old = productset %>
         <td><%= productset.major.to_s  + "." + productset.minor.to_s %></td>

      </tr>
    <% end %>
  </table>
</div>

<script type="text/javascript">
  $('.icon-info-sign').tooltip({html: true,placement: 'top'})
</script>
