<dl>
<dt><label for="record_status">Status</label></dt>
<dd><%= select :record, :status, Productset.statushash.collect {|c| [ c[1] , c[0].to_s ] },{},{:class => "text-input", :onchange =>"showIcon('img_record[status]');"} %><span id=<%= "img_record[#{column.name}]" %> style="display:none"><img alt="Field was changed" src="/webmis/images/exclamation.gif" /></span></dd>
</dl>
