<dl>
<dt><label>Data Supplier</label></dt>
<dd><%= select :record, :supplier_id, Supplier.find_all.collect {|c| [ c.name[0..30]+"..", c.id ] }, {:include_blank => true} , {:class => "text-input",:onchange =>"showIcon('img_record[supplier_id]');"}    %>  <%= @record.supplier_name if params[:action] == 'edit'   %><span id=<%= "img_record[#{column.name}]" %> style="display:none"><img alt="Field was changed" src="/webmis/images/exclamation.gif" /></span></dd>
</dl>
