 <%= link_to :action => :index, :controller => :productsets  do %>
   <i class="icon-arrow-left">&nbsp;</i>back
 <% end %>
<h3>Edit Product set</h3>

<% if @productset.errors.any? %>
  <ul>
    <% @productset.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<%= form_for(@productset, :html => {:class => "form-horizontal"}) do |f| %>
  <%= render :partial => 'formfields' ,:object => f %>
 <%= f.submit "Save", :class => 'btn btn-primary' %>

<hr />

<div class="container">  
  <div class="well span9">
    <h4>Related products</h4>
  <div class="row">
    <div class="span2 offset1"><strong>Product ID</strong></div>
    <div class="span4"><strong>Name</strong></div>
  </div>
  <% @productset.includedproducts.each do |product| %>
   <div class="row">
    <div class="span1">
      <%= link_to({ :action => :destroy_link, :link_id => product.id , :id => @productset.id}, {:confirm => "This will remove product #{product.product.volumeid} #{product.product.name} from productset #{@productset.setcode}. \nAre you sure?",:title => 'remove relation'}) do %>
      <i class="icon-trash">&nbsp;</i>
      <% end %>  

      <%= link_to({ :action => :edit, :controller => 'products', :set_id => @productset.id , :id => product.product.id},{:title => 'edit product'}) do %>
        <i class="icon-edit">&nbsp;</i>
      <% end %>
    </div>     
    <div class="span2"><%=  product.product.volumeid  %></div>
    <div class="span4"><%=  product.product.name  %></div>
  </div>
  <% end %>


  
    <%=link_to({:controller => 'products', :action => 'new', :layout => true, :link_id => @productset.id}, {:class => "btn btn-info btn-small"}) do %>
      <i class="icon-plus">&nbsp;</i>New product
    <% end %>
    <%=link_to({:controller => 'products' , :action => 'index', :layout => true, :link_id => @productset.id}, {:class => "btn btn-success btn-small"}) do %>
      <i class="icon-plus">&nbsp;</i>Existing product
    <% end %>  
  </div>

</div>

<div class="container">  
  <div class="well span9">  
    <h4>Related documents</h4>
    <div class="row">
      <div class="span1 offset1"><strong>Doc. ID</strong></div>
      <div class="span1"><strong>Version</strong></div>
      <div class="span3"><strong>Name</strong></div>
      <div class="span3"><strong>Description</strong></div>
    </div>
    <% @productset.includedproductsetdocuments.each do |doc| %>
      <% if doc.document %>
      <div class="row">
        <div class="span1">
          <%= link_to({ :action => :destroy_link_document, :id => doc.id , :productset_id => @productset.id, :set_id => params[:set_id]}, {:confirm => "This will remove document #{doc.document.filename} from producset #{@productset.setcode}. \nAre you sure?",:title => 'remove relation'}) do %>
          <i class="icon-trash">&nbsp;</i>
          <% end %>
        </div>
        <div class="span1">
          <%=  doc.document.id.to_s %>
        </div>
        <div class="span1">
          <%=  doc.document.version.to_s %>
        </div>
        <div class="span3">
          <%=  doc.document.filename.to_s %>
        </div>
        <div class="span3">
          <%=  doc.document.description.to_s %>
        </div>
      </div>
      <% end %>
    <% end %>
  <p>
    <%= link_to({:controller => 'documents', :action => 'new', :returncontroller => 'productsets', :returnaction => 'edit', :returnid => @productset.id}, {:class => "btn btn-info btn-small"}) do %>
    <i class="icon-plus">&nbsp;</i>New document
    <% end %>
    <%= link_to({:controller => 'documents', :action => 'index', :productset_id => @productset.id}, {:class => "btn btn-success btn-small"}) do %>
    <i class="icon-plus">&nbsp;</i>Existing document
    <% end %>

  </p>



<% end %>
</div>
 </div>
