<div class="row">
  <div class="span10"><h4>Handle Product set <%= @record.setcode %></h4></div>
</div>
<% if env_production? %>
<div class="row">
  <div class="span3">
    <%=  link_to(:back,:class => 'btn',:title => "back") do %>
      <i class="icon-arrow-left"></i>
    <% end %>
    <%=  link_to(productsets_path,:class => 'btn',:title => "back") do %>
      <i class="icon-arrow-up"></i>
    <% end %>
    <%= link_to(@record,:class => 'btn',:title => "show") do %>
      <i class="icon-eye-open"></i>
    <% end %>
    <%=  link_to(edit_productset_path(@record),:class => 'btn',:title => "edit") do %>
      <i class="icon-edit"></i>
    <% end %>
    <%= next_prev_button("prev") %>
    <%= next_prev_button("next") %> 
  </div>
  <div class="span7">
    <% if !@record.removed_yn %>
      <%= link_to({:action => 'disable',:controller => :productsets,:id => @record.id},{:class => 'btn'}) do %>
        <i class="icon-trash"></i>&nbsp;delete
      <% end %>
    <% end %>
    <% if @record.products && !@record.products.where("detailedcoverage is null or detailedcoverage = ''").empty? %>
      <%= link_to({:action => 'clone_set',:controller => :productsets,:id => @record.id},{:class => 'btn'}) do %>
        <i class="icon-repeat"></i>&nbsp;Clone product-set
      <% end %>
    <% end %>
    <%= link_to({:action => :check,:controller => :production_orders, :productset_id => @record.id},{:class => 'btn'}) do %>
      <i class="icon-barcode"></i>&nbsp;Check production order
    <% end %>
    <%= link_to({:action => :new,:controller => :production_orders, :productset_id => @record.id},{:class => 'btn'}) do %>
      <i class="icon-barcode"></i>&nbsp;New production order
    <% end %>

  </div>
</div>
<% end %>
<div class="row">
  <div class="span12">
  <hr />
  </div>
</div>
<%= render "show_data" %>
<div class="row">
  <div class="span10">
    <%=  link_to(:back,:class => 'btn',:title => "back") do %>
      <i class="icon-arrow-left"></i>
    <% end %>
    <%=  link_to(productsets_path,:class => 'btn',:title => "back") do %>
      <i class="icon-arrow-up"></i>
    <% end %>
    <%= link_to(@record,:class => 'btn',:title => "show") do %>
      <i class="icon-eye-open"></i>
    <% end %>
    <% if env_production? %>
      <%= link_to(edit_productset_path(@record),:class => 'btn',:title => "edit") do %>
        <i class="icon-edit"></i>
      <% end %>
    <% end %>
    <%= next_prev_button("prev") %>
    <%= next_prev_button("next") %>
  </div>
</div>