<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand"><strong>Product sets</strong></div>
      <%= form_tag productsets_path, :method => 'get' do %>
        <div class="span">
          <div class="input-bar">
            <label class="checkbox">
              <%= check_box_tag :removed, params[:removed], params[:removed],{:data => {"text-label" => "removed","off-label" => "","on-label" => "Include",:size => "normal",:on => "success",:off => "default","off-label" => "excluded"}} %>
            </label>
          </div>
        </div>
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <div class="input-prepend input-append">
            <%= select_tag :product_line, options_for_select([''] + ProductLine.all.collect{|x|[x.abbr,x.id]}.sort, params[:product_line]), :placeholder=>"Select Product line", :class =>'span2' %>
            <%= text_field_tag :search, params[:search], :placeholder=>" search" %>
            <%= submit_tag "Search", :name => nil, :class => 'btn' %>
            <%= submit_tag "Reset", :name => 'reset', :class => 'btn' %>
          </div>
        </div>
        <% end %>
      </div>
</div>

<div id="endless">
  <div class="row">
    <div class="span1 offset1"><strong><%= sortable "productsets.status","Status" %></strong></div>
    <div class="span1"><strong><%= sortable "productsets.product_category_id","Category" %></strong></div>
    <div class="span3"><strong><%= sortable "productsets.setcode","Set code" %></strong></div>
    <div class="span2"><strong><%= sortable "productsets.company_abbr_id","Supplier" %></strong></div>
    <div class="span2"><strong><%= sortable "product.product_line_id","Product Line" %></strong></div>
  </div>
  <% if @favorites.size > 0 %>
    <% @favorites.each do |fav| %>
  <div class="row">
    <div class="span1">
      <div class="btn-group">
        <a class="btn btn-mini dropdown-toggle btn-warning" data-toggle="dropdown" href="#">
        Action
        <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><i class="icon-star"></i>Favorite</li>
          <li>
            <%= link_to(:action => 'show',:controller => :productsets, :action => 'show',:id => fav.id) do %>
            <i class="icon-info-sign"></i>&nbsp;show
            <% end %>
          </li>
          <li>
            <%= link_to(:action => 'edit',:controller => :productsets, :action => 'edit',:id => fav.id) do %>
              <i class="icon-edit"></i>&nbsp;edit
            <% end %>
          </li>
          <li>
            <%= link_to(:action => 'edit',:controller => :productsets, :action => :remove_tag,:id => fav.id) do %>
              <i class="icon-star-empty"></i>&nbsp;remove as favorite
            <% end %>
          </li>          
        </ul>
      </div>
    </div> 
    <div class="span1"><%= Productset.statushash[fav.status.to_i] %>&nbsp;</div>
    <div class="span1"><%= fav.product_category.abbreviation if fav.product_category_id %>&nbsp;</div>
    <div class="span3"><%= fav.setcode %>&nbsp;</div>
    <div class="span2"><%= fav.company_abbr.company_name.to_s if fav.company_abbr %>&nbsp;</div>
    <div class="span1"><%= fav.datarelease_name.to_s %>&nbsp;</div>
    <div class="span2"><%= fav.products.first.product_line.name.to_s if fav.products.first.product_line %>&nbsp;</div>
  </div>
    <% end %>
  <% end %>

  <%= render(:partial => "productset", :collection => @productsets) %>  
</div>  
<%= will_paginate(@productsets) %>
<%= pageless(@productsets.total_pages, productsets_path, "#endless") %>

<script type="text/javascript">
  $("#product_line").chosen({allow_single_deselect:true,search_contains:true,placeholder_text_single:'Select Product line'});
  $("#removed").bootstrapSwitch();
</script>