<h2>Product Specification for : <%= @ps.setcode %></h2>
<br/>
<br/>

<table>
<%= link_to "Product Specification" ,"ppf.pdf" %>
<% @files.each do |k,v| %>
<tr>
 <td><%= link_to k, v %></td>
</tr>
<% end %>
</table>
