<h3>Create new Productset</h3>
<% if @productset.errors.any? %>
  <ul>
    <% @productset.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for(@productset) do |f| %>
  <%= render :partial => 'formfields' ,:object => f %>
  <%= f.submit "Create", :class => 'btn btn-primary' %>
<% end %>
