<div class="row">
  <div class="span4 hidden bounded" id="pbar">
    <strong>MS Excel</strong>
    <%= image_tag("loader_arrows.gif") %>
    <strong>WebMIS</strong><br /><br />
  </div>
</div>
<h3>Import MS-Excel PDS into WebMIS</h3>
<div id="cat_name"></div>
<div id="cats">
  <% @product_categories.each do |pc| %>
    <div class="row">
      <div class="span3">
        <%= link_to pc.abbreviation.to_s + ' - ' + pc.description.to_s, 
          {:controller => 'product_categories'}, {:title => pc.pds_import_file} %>
      </div>
      <div class="span1">
        <% if ((pc.pds_import_file != "") && (pc.pds_import_file)) %>
          <button id="<%=h pc.id %>" onclick="importPDS(this)" name="<%=h pc.id %>" class="btn btn-mini">import</button>
        <% else %>
          <i class="icon-ban-circle">&nbsp;</i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  function importPDS(pcid){
    showBar();
    showCategory(pcid)
    $.get('<%=h url_for(:controller => :productsets, :action => :start_import ) %>'+'?cat_id='+pcid.id, function(data) {
      $('#cats').html(data);
      hideBar()
      alert('Import proccess finished.');
    });
  }

  function showBar(){
    $('#pbar').removeClass('hidden');
    $(":input").addClass('disabled');
    $('#cats').addClass('hidden');
  }

  function hideBar(){
    $('#pbar').addClass('hidden');
    $(":input").removeClass('disabled');
    $('#cats').removeClass('hidden');
  }

  function showCategory(pcid){
    $.get('<%=h url_for(:controller => :productsets, :action => :show_import_category_name ) %>'+'?cat_id='+pcid.id, function(data) {
      $('#cat_name').html(data);
    });
  }
</script>
