<div class="row">
  <div class="span10"><h4>Product set <%= @record.setcode %></h4></div>
</div>
<div class="row">
  <div class="span10">
    <%=  link_to(:back,:class => 'btn',:title => "back") do %>
      <i class="icon-arrow-left"></i>
    <% end %>
    <%=  link_to(productsets_path,:class => 'btn',:title => "overview") do %>
      <i class="icon-arrow-up"></i>
    <% end %>
    <% if env_production? %>  
      <%=  link_to(handle_productset_path(@record),:class => 'btn',:title => "handle") do %>
        <i class="icon-tasks"></i>
      <% end %>
      <%=  link_to(edit_productset_path(@record),:class => 'btn',:title => "edit") do %>
        <i class="icon-edit"></i>
      <% end %>
    <% end %>
    <%= next_prev_button("prev") %>
    <%= next_prev_button("next") %> 
  </div>
</div>
<div class="row">
  <div class="span12">
  <hr />
  </div>
</div>
<%= render "show_data" %>
<div class="row">
  <div class="span10">
    <%=  link_to(:back,:class => 'btn',:title => "back") do %>
      <i class="icon-arrow-left"></i>
    <% end %>
    <%=  link_to(productsets_path,:class => 'btn',:title => "back") do %>
      <i class="icon-arrow-up"></i>
    <% end %>
    <% if env_production? %>
      <%=  link_to(handle_productset_path(@record),:class => 'btn',:title => "handle") do %>
        <i class="icon-tasks"></i>
      <% end %>
      <%=  link_to(edit_productset_path(@record),:class => 'btn',:title => "edit") do %>
        <i class="icon-edit"></i>
      <% end %>
    <% end %>
    <%= next_prev_button("prev") %>
    <%= next_prev_button("next") %>
  </div>
</div>