<h1>Listing distribution_list_members</h1>

<table>
  <tr>
    <th>Distribution list</th>
    <th>External contact</th>
    <th>Electronic delivery yn</th>
    <th>Hard copy delivery yn</th>
    <th>Hard copy amount</th>
    <th>Transfer method</th>
  </tr>

<% @distribution_list_members.each do |distribution_list_member| %>
  <tr>
    <td><%=h distribution_list_member.distribution_list_id %></td>
    <td><%=h distribution_list_member.external_contact_id %></td>
    <td><%=h distribution_list_member.electronic_delivery_yn %></td>
    <td><%=h distribution_list_member.hard_copy_delivery_yn %></td>
    <td><%=h distribution_list_member.hard_copy_amount %></td>
    <td><%=h distribution_list_member.transfer_method %></td>
    <td><%= link_to 'Show', distribution_list_member %></td>
    <td><%= link_to 'Edit', edit_distribution_list_member_path(distribution_list_member) %></td>
    <td><%= link_to 'Destroy', distribution_list_member, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New distribution_list_member', new_distribution_list_member_path %>