<p>
  <b>Distribution list:</b>
  <%=h @distribution_list_member.distribution_list_id %>
</p>

<p>
  <b>External contact:</b>
  <%=h @distribution_list_member.external_contact_id %>
</p>

<p>
  <b>Electronic delivery yn:</b>
  <%=h @distribution_list_member.electronic_delivery_yn %>
</p>

<p>
  <b>Hard copy delivery yn:</b>
  <%=h @distribution_list_member.hard_copy_delivery_yn %>
</p>

<p>
  <b>Hard copy amount:</b>
  <%=h @distribution_list_member.hard_copy_amount %>
</p>

<p>
  <b>Transfer method:</b>
  <%=h @distribution_list_member.transfer_method %>
</p>


<%= link_to 'Edit', edit_distribution_list_member_path(@distribution_list_member) %> |
<%= link_to 'Back', distribution_list_members_path %>