<div class="row">
  <div class="col-md-5">
    <% if @product_category.errors.any? %>
      <div id="error_explanation">
        <h4><%= pluralize(@product_category.errors.count, "error") %> prohibited this filling from being saved:</h4>
        <ul>
          <% @product_category.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>

<%= form_for(@product_category) do |f| %>

  <div class="row">
    <div class="col-md-5">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-5"><h4><%= params[:action].humanize %> product category</h4></div>
            <div class="col-md-3 pull-right"><%= f.check_box :active, :data => {"off-text" => "Inactive","on-text" => "Active"} %></div>
          </div>
        </div>
        <div class="panel-body">
          <div class="form-group col-md-2">
            <%= f.label :abbreviation %>
            <%= f.text_field :abbreviation, :class => 'form-control' %>
          </div>
          <div class="form-group col-md-10">
            <%= f.label :description %>
            <%= f.text_field :description, :class => 'form-control' %>
          </div>
          <div class="form-group col-md-7">
            <%= f.label :pds_import_file %>
            <%= f.text_field :pds_import_file, :class => 'form-control' %>
          </div>
          <div class="form-group col-md-5">
            <label>&nbsp;</label>
            <%= f.check_box :attach_pds_in_rn_yn, :data => {"off-text" => "N/A","on-text" => "Attach", "label-text" => "PDS in release note","label-width" => "200"} %>
          </div>
          <div class="row">
            <div class="col-md-12">
              <%= f.submit "Save",:class => 'btn btn-default pull-right' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>

<script type="text/javascript">
  $("#product_category_active").bootstrapSwitch();
  $("#product_category_attach_pds_in_rn_yn").bootstrapSwitch();
</script>