<tr <%=h product_category.active ? '' : "class=danger" %>>
  <td>
    <div class="btn-group">
      <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Action <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="action-<%= product_category.id %>">
        <li>
          <%= link_to({:controller => :product_categories,:action => 'show',:id => product_category.id}) do %>
            <span class="glyphicon glyphicon-info-sign"></span>&nbsp;show
          <% end %></li>
        <li>
          <%= link_to({:controller => :product_categories,:action => 'edit',:id => product_category.id}) do %>
            <span class="glyphicon glyphicon-edit"></span>&nbsp;edit
          <% end %>
        </li>
      </ul>
    </div>
  </td>
  <td><%=h link_to product_category.id, product_category %></td>
  <td><%= product_category.abbreviation %></td>
  <td><%= product_category.description %></td>
  <td><%= bootstrap_boolean(product_category.attach_pds_in_rn_yn) %></td>
  <td><%= bootstrap_boolean(product_category.active) %></td>
</tr>
