<%= render 'form' %>

<div class="row">
  <div class="col-md-12">
    <%= link_to :back, :class => 'btn btn-default',:title => 'back to previous page' do %>
      <span class="glyphicon glyphicon-arrow-left"></span>
    <% end %>
    <%= link_to product_categories_path, :class => 'btn btn-default',:title => 'back to overview' do %>
      <span class="glyphicon glyphicon-arrow-up"></span>
    <% end %>
    <%= link_to product_category_path(@product_category),:class => 'btn btn-default',:title => "show" do %>
      <span class="glyphicon glyphicon-eye-open"></span>
    <% end %>
    <%= next_prev_button("prev") %>
    <%= next_prev_button("next") %>
  </div>
</div>