<%= render :partial => 'shared/search_bar', :object => @search_opts %>

<div id="index" class="table-responsive">
  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th class="id"><%= column_sort("id","ID",true) %></th>
        <th><%= column_sort("abbreviation","Abbreviation",true) %></th>
        <th><%= column_sort("description","Description",true) %></th>
        <th><%= column_sort("attach_pds_in_rn_yn","Attach in PDS") %></th>
        <th><%= column_sort("active","Active") %></th>
      </tr>
    </thead>
    <tbody id="endless">
      <%= render(:partial => "product_category", :collection => @product_categories) %>
    </tbody>
  </table>
</div>

<%= will_paginate(@product_categories) %>
<%= pageless(@product_categories.total_pages, url_for(product_categories_path(:params => params)), "#endless") %>