<div class="row">
  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-8"><h4><span class="badge"><%= @product_category.id %></span> <%= params[:action].humanize %> product category</h4></div>
          <div class="col-md-4">
            <h5>Active <%= bootstrap_boolean(@product_category.active) %></h5>
            <h5>Attach PDS in Release notes <%= bootstrap_boolean(@product_category.attach_pds_in_rn_yn) %></h5>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-2">
            <strong>Abbreviation</strong>
          </div>
          <div class="col-md-10">
            <strong>Description</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <%= @product_category.abbreviation %>
          </div>
          <div class="col-md-10">
            <%= @product_category.description %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <strong>PDS Import file</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%=h @product_category.pds_import_file %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= link_to :back, :class => 'btn btn-default',:title => 'back to previous page' do %>
      <span class="glyphicon glyphicon-arrow-left"></span>
    <% end %>
    <%= link_to product_categories_path, :class => 'btn btn-default',:title => 'back to overview' do %>
      <span class="glyphicon glyphicon-arrow-up"></span>
    <% end %>
    <%= link_to edit_product_category_path(@product_category),:class => 'btn btn-default',:title => "edit" do %>
      <span class="glyphicon glyphicon-edit"></span>
    <% end %>
    <%= next_prev_button("prev") %>
    <%= next_prev_button("next") %>
  </div>
</div>




