 <%= select_tag "distribution_list_member[external_contact_id_#{@distribution_list_member.id.to_s}]",
         options_for_select([""] + @contacts.collect {|c| [ c.first_name.to_s + " " + c.last_name.to_s  , c.id.to_s ] }) %> 


