<% f = formfields %>

<div class="row">
  <div class="span4">
    <div class="row">
      <div class="span4"><strong>Name</strong></div>
    </div>
    <div class="row">
      <div class="span4"><%= f.text_field :name, :class => 'span4' %></div>
    </div>
    <div class="row">
      <div class="span3"><strong>Product category</strong></div>
    </div>
    <div class="row">
      <div class="span3"><%= f.select :product_category_id, 
                           ProductCategory.where(:active => true).order(:abbreviation).collect {|c| [ c.abbreviation, c.id ]},{}, {:class => 'span3'} %></div>
      <div class="span1"><label><%= f.check_box :active_yn %>&nbsp;Active</label></div>
    </div>   
  </div>

  <div class="span8">
    <div class="row">
      <div class="span5"><strong>Remarks</strong></div>
    </div>
    <div class="row">
      <div class="span8"><%= f.text_area :remarks, :rows => 4, :class=> 'span8' %></div>
    </div>  
  </div>
</div>  

<div class="row">
  <div class="span3"><h4>Members</h4></div>
</div>

  <div class="row">
    <div class="offset1 span2"><strong>Name</strong></div>
    <div class="span3"><strong>Company</strong></div>
    <div class="span2"><strong>Transfer method</strong></div>
    <div class="span1"><strong>Electronic</strong></div>
    <div class="span1"><strong>Hard copy</strong></div>
    <div class="span2"><strong>Amount hard copies</strong></div>
  </div>

  <% @members.each do |m| %>
    <div class="row">
      <div class="span1">
        <div class="btn-group">
          <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
            Edit
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to({ :controller => "distribution_list_members", :action => "destroy",:id => m.id} ,:confirm => 'Are you sure?',:method => :delete) do %>
                <i class="icon-trash"></i>&nbsp;delete
              <% end %>
            </li>
            <li>
              <a href="#edit-member-<%= m.id %>Modal" role="button" data-toggle="modal"><i class="icon-edit"></i>&nbsp;edit</a>
            </li>
          </ul>
        </div>    
      </div>
      <div class="span2"><%= ExternalContact.where(:id => m.external_contact_id).collect{|x|[x.first_name.to_s + " " + x.last_name.to_s]}.join %>&nbsp;</div>
      <div class="span3"><%=  m.external_contact.company.name.to_s if m.external_contact && m.external_contact.company %>&nbsp;</div>
      <div class="span2"><%= m.transfer_method %>&nbsp;</div>
      <div class="span1"><%= check_box_tag(m.electronic_delivery_yn.to_s,m.electronic_delivery_yn.to_s,m.electronic_delivery_yn,:disabled => 'disabled') %></div>
      <div class="span1"><%= check_box_tag(m.hard_copy_delivery_yn.to_s,m.hard_copy_delivery_yn.to_s,m.hard_copy_delivery_yn,:disabled => 'disabled') %></div>
      <div class="span2">
        <% if m.hard_copy_delivery_yn == true %>
          <%= m.hard_copy_amount %>
        <% else %>
          -
        <% end %>  &nbsp;
      </div>
    </div>
  
  
    <div class="modal hide fade" id="edit-member-<%= m.id %>Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Edit member</h3>
      </div>
      <div class="modal-body">
        <% @distribution_list_member = DistributionListMember.find(m.id)%>
        <% @company = ExternalContact.find(m.external_contact_id)%>
        <% @contacts = ExternalContact.find_all_dist("first") %>
  
        <%= form_for(@distribution_list_member) do |f| %>
          <% if @distribution_list_member.errors.any? %>
            <div class="alert alert-error">
              <% @distribution_list_member.errors.full_messages.each do |msg| %>
                <%= msg %>
              <% end %>
            </div>
          <% end %>
          <%= render :partial => "formfields_members", :object => f,:controller => 'distribution_lists', :action => 'update'%>
    
        </div>
        <div class="modal-footer">
          <button class="btn btn-large" data-dismiss="modal" aria-hidden="true">Close</button>
          <%= f.submit 'Update',:name => 'members', :id => "dlm_#{@distribution_list_member.id.to_s}", :class => 'btn btn-primary btn-large'%>
        <% end %>
      </div>
    </div>
  
  <% end %>

  <div class="row">
    <div class="span2">
      <a href="#new-memberModal" role="button" class="btn btn-mini btn-inverse" data-toggle="modal"><strong>&nbsp;New&nbsp;&nbsp;</strong></a>
    </div>
  </div>



<div class="modal hide fade" id="new-memberModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">New member</h3>
  </div>
  <div class="modal-body">
    <%= form_for(@distribution_list) do |nf| %>
      <% if @distribution_list.errors.any? %>
        <div class="alert alert-error">
        <% @distribution_list.errors.full_messages.each do |msg| %>
          <%= msg %>
       <% end %>
       </div>
      <% end %>
      <%= render :partial => "formfields_new_members", :object => @new_distribution_list_member, :action => 'update'%>
    
  </div>
  <div class="modal-footer">
    <button class="btn btn-large" data-dismiss="modal" aria-hidden="true">Close</button>
    <%= nf.submit 'Save',:name => 'members',:class => 'btn btn-large btn-primary' %>
      <% end %>
  </div>

</div>