<% f = formfields_members %>

<div class="row">
  <div class="span5"><strong>Name</strong></div>
</div>
<div class="row">
  <div class="span5">
    <% @selected = ExternalContact.find(@distribution_list_member.external_contact_id) %>
    <%= f.select :external_contact_id , ExternalContact.active.collect {|c| [ c.first_name.to_s + " " + c.last_name.to_s + " - " + "#{c.company.name if c.company}".to_s , c.id.to_s ]},{:include_blank => true}, {:class => 'span5'} %>
  </div>
</div>

<div class="row">
  <div class="span2"><strong>Kind delivery</strong></div>
  <div class="span1"><strong>Hard copies</strong></div>
  <div class="span2"><strong>Shipping method</strong></div>
</div>

<div class="row">
  <div class="span2 input-prepend input-append">
    <label class="checkbox inline"><%= f.check_box :electronic_delivery_yn %>Electronic</label>
    <label class="checkbox inline"><%= f.check_box :hard_copy_delivery_yn %>Hardcopy</label>
  </div>  
  <div class="span1">
    <%= select_tag 'distribution_list_member[hard_copy_amount]', options_for_select(@amount.collect{|x| [x.to_s, x.to_s]}, @distribution_list_member.hard_copy_amount.to_s),:class => 'span1' %>
  </div>
  <div class="span2">
    <%= f.select :transfer_method,['Courier','Post','FTP'],{},{:class => 'span2'} %>
    <%= f.hidden_field :distribution_list_id %>
  </div>   
</div>

