<% nf = formfields_new_members %>

<div class="row">
  <div class="span5"><strong>Name</strong></div>
</div>
<div class="row">
  <div class="span5">
    <%= select_tag "new_distribution_list_member[external_contact_id]" , options_for_select(@contacts.collect {|c| [ c.first_name.to_s + " " + c.last_name.to_s + " - " + "#{c.company.name if c.company}" , c.id.to_s ]}), :include_blank => true, :class => 'span5',:data => {:placeholder => 'Select member'} %>
  </div>
</div>

<div class="row">
  <div class="span2"><strong>Kind delivery</strong></div>
  <div class="span1"><strong>Hard copies</strong></div>
  <div class="span2"><strong>Shipping method</strong></div>
</div>

<div class="row">
  <div class="span2 input-prepend input-append">
    <label class="checkbox inline"><%= check_box "new_distribution_list_member",:electronic_delivery_yn %>Electronic</label>
    <label class="checkbox inline" ><%= check_box 'new_distribution_list_member',:hard_copy_delivery_yn%>Hardcopy</label>
  </div>  
  <div class="span1" id="new_hardcopy">
    <%if @new_distribution_list_member.hard_copy_delivery_yn %>
    <%= select_tag 'new_distribution_list_member[hard_copy_amount]','new_distribution_list_member[hard_copy_amount]',
                    options_for_select(@amount.collect{|x| [x.to_s, x.to_s]}),:class=>'span1' %>
    <% else %>
     <select class="span1 uneditable-input"></select>
    <% end %>&nbsp;
  </div>
  <div class="span2">
    <%= select "new_distribution_list_member",:transfer_method,['FTP','Courier','Post'],{},{:class => 'span2'} %>

  </div>
</div>   

      <%#= observe_field('new_distribution_list_member_hard_copy_delivery_yn',
                                        :url => { :action=> 'select_new_hard_copies' },
                                        :update => 'new_hardcopy',
                                        :with => "'new_company_id=' + escape(value)" )%>
<div style="min-height: 200px" id="filler">
  &nbsp;
</div>
<script type="text/javascript"> 
    $("#new_distribution_list_member_hard_copy_delivery_yn").change(function() {
    if ($(this).is(":checked")) {
      jQuery.get("<%= url_for(:action =>'select_new_hard_copies' ) %>", function(data){
        $("#new_hardcopy").html(data);
      })
    }
    return false;
  });

  $("#new_distribution_list_member_external_contact_id").chosen()
</script>