<h3>Editing distribution list</h3>

<%= form_for(@distribution_list) do |f| %>
  <% if @distribution_list.errors.any? %>
    <div class="alert alert-error">
      <% @distribution_list.errors.full_messages.each do |msg| %>
        <%= msg %>
      <% end %>
    </div>
  <% end %>
  
  <div class="container">
    <%= render :partial => "formfields", :object => f%>
    <hr>

    <%= f.submit 'Save',:class => 'btn btn-primary' %>

  </div>
 
  
<% end %>



<%= link_to distribution_lists_path do %>
 <i class="icon-arrow-left" title="back"></i>&nbsp;
<% end %> |
<%= link_to @distribution_list do %>
 <i class="icon-eye-open" title="show"></i>&nbsp;
<% end %>