<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand"><strong>Distribution lists</strong></div>
      <div class="span">
        <%= form_tag distribution_lists_path, :method => 'get' do %>
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <div class="input-append input-prepend">
            <%= link_to "New",new_distribution_list_path, {:class => 'btn btn-info'} %>
            <%= text_field_tag :search, params[:search], :placeholder=>" search name, product category and remarks",:class=>"span4" %>
            <%= button_tag "Search", :name => nil, :type => :submit, :class => "btn" %>
            <%= button_tag "Reset", :name => 'reset',:class=>"btn",:type=>:submit %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row" style="padding-top: 55px">
  <div class="span3 offset1"><strong>Name</strong></div>
  <div class="span1"><strong>Product category</strong></div>
  <div class="span1"><strong>DVD/CD copies</strong></div>
  <div class="span1"><strong>Electronic copies</strong></div>
  <div class="span4"><strong>Members</strong></div>
</div>  
<%  @distribution_lists.each do |dl| %> 
<div class="row" id="row_show_<%= dl.id %>">
  <div class="span1">
    <div class="btn-group">
      <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
      Action
      <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to(:action => 'show',:controller => :distribution_lists,:id => dl.id) do %>
          <i class="icon-info-sign"></i>&nbsp;show
          <% end %>
        </li>
        <li>
          <%= link_to(:action => 'edit',:controller => :distribution_lists,:id => dl.id) do %>
          <i class="icon-edit"></i>&nbsp;edit
          <% end %>
        </li>     
        <li>
          <%= link_to({:action => 'delete_y',:controller => :distribution_lists,:id => dl.id},:confirm => 'Are you sure?') do %>
          <i class="icon-trash"></i>&nbsp;delete
          <% end %>
        </li>
        <li>
          <%= link_to(:controller => :outbound_orders,:action => :new,:bulk => true,:distribution_list_id => dl.id) do %>
          <i class="icon-gift">&nbsp;</i>create bulk shipment
        <% end %>
        </li>           
      </ul>
    </div>
  </div>
  <div class="span3"><strong><%= dl.name %>&nbsp;</strong></div>
  <div class="span1"><%= dl.product_category.abbreviation.to_s if dl.product_category %>&nbsp;</div>
  <div class="span1"><%= dl.distribution_list_members.sum(:hard_copy_amount).to_s %></div>
  <div class="span1"><%= dl.distribution_list_members.where(:electronic_delivery_yn => true).count %></div>
  <div class="span4"><small>
    <%= raw(dl.external_contacts.collect{|c|"#{c.first_name} #{c.last_name} "+ " - " +" #{c.company.name} "+"<br \>"}.join) %>
    </small></div>  
</div>  
<% end %>