<h3>New distribution list</h3>




<%= form_for(@distribution_list) do |f| %>
<% if @distribution_list.errors.any? %>
  <div class="alert alert-error">
    <% @distribution_list.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
  </div>
<% end %>
<% @distribution_list.active_yn = true %>

<div class="row">
  <div class="span4">
    <div class="row">
      <div class="span4"><strong>Name</strong></div>
    </div>
    <div class="row">
      <div class="span4"><%= f.text_field :name, :class => 'span4' %></div>
    </div>
    <div class="row">
      <div class="span3"><strong>Product category</strong></div>
    </div>
    <div class="row">
      <div class="span3"><%= f.select :product_category_id, 
                           ProductCategory.where(:active => true).order(:abbreviation).collect {|c| [ c.abbreviation, c.id ]},{}, {:class => 'span3'} %></div>   
      <div class="span1"><label><%= f.check_box :active_yn %>&nbsp;Active</label></div>
    </div>   
  </div>

  <div class="span8">
    <div class="row">
      <div class="span5"><strong>Remarks</strong></div>
    </div>
    <div class="row">
      <div class="span8"><%= f.text_area :remarks, :rows => 4, :class=> 'span8' %></div>
    </div>  
  </div>
</div> 

<%= f.submit 'Create', :class => 'btn btn-primary' %>

<% end %>

