<h3>Distribution list: <%=h @distribution_list.name %></h3>
<%if @distribution_list.active_yn != true %>
  <h5>NOT ACTIVE</h5>
<% end %>
<i><%=h @distribution_list.remarks %></i><br /><br />

<table class="table table-striped">
  <th colspan="4">Name</th>
  <th>Company</th>
  <th>Street name</th>
  <th>Postal code</th>
  <th>City</th>
  <th colspan="2">State/Country</th>
  <th>Hard copies</th>
  <th>Electronic</th>
  <th>Shipping method</th>
    <% count_hard = 0 %>
    <% count_soft = 0 %>
    <% ec_mail = [] %>
    <% @distribution_list.distribution_list_members.each do |m| %>
      <% ec = ExternalContact.find(m.external_contact_id)%>
      <% ec_mail << ec.email if ec.email.to_s != "" %>
    <tr>
        <td>
        <% if ec.title %>
          <%= ec.title %>
        <% else %>
          <%= ec.salutation %>
        <% end %>
      </td>
      <td>&nbsp;</td>
      <td><%= ec.first_name %></td>
      <td><%= ec.last_name %></td>
      <td><%= ec.company.name %></td>
      <td><%= ec.primary_address_street %></td>
      <td align="center"><%= ec.primary_address_postalcode %></td>
      <td><%= ec.primary_address_city %></td>
      <td><%= ec.primary_address_state %></td>
      <td><%= ec.primary_address_country %></td>
      <td align="center"><% if m.hard_copy_delivery_yn == true %>
            <%= m.hard_copy_amount %>
            <% count_hard = count_hard + m.hard_copy_amount %>
        <% else %>
          -
        <% end %></td>
      <td align="center"><% if m.electronic_delivery_yn == true %>
         1
         <% count_soft = count_soft + 1 %>
         <% else %>
           -
           <% end %>
      <td align="center"><%=h m.transfer_method %></td>
    </tr>
    <% end %>
    
</table>
<table>
  <tr>
    <td>Amount hard copies:</td>
    <td><%= count_hard %></td>
  </tr>
  <tr>
    <td>Amount electronic deliveries:</td>
    <td><%= count_soft %></td>
  </tr>
  <tr>
    <td><a href="mailto: ?subject=Mapscape delivery: &bcc=<%= ec_mail.join(';') %>"><i class="icon-envelope">&nbsp;</i>member e-mail addresses</a></td>
  </tr>
    <tr>
    <td><%= link_to(:controller => :outbound_orders,:action => :new,:bulk => true,:distribution_list_id => @distribution_list.id) do %>
          <i class="icon-gift">&nbsp;</i>create bulk shipment
        <% end %>
    </td>
  </tr>
  </table>

<%= link_to 'Back', distribution_lists_path %>