<div class="row" id="row_show_<%= test_request_job.id %>">
  <div class="span1">
    <div class="btn-group">
      <%= conversion_database_action_link(test_request_job) %>
      <ul class="dropdown-menu">
        <li>
          <%= link_to(test_request_job) do %>
          <i class="icon-info-sign"></i>&nbsp;show
          <% end %>
        </li>
        <% if test_request_job.allow_edit? %>
        <li>
          <%= link_to(edit_test_request_job_path(test_request_job)) do %>
          <i class="icon-edit"></i>&nbsp;edit
          <%  end %>
        </li>
        <% end %>
        <% if test_request_job.allow_reschedule? && !test_request_job.allow_edit? %>
        <li>
          <%= link_to edit_new_copy_test_request_job_path(test_request_job), :method => :post do %>
          <i class="icon-edit"></i>&nbsp;edit new copy
          <% end %>
        </li>
        <% end %>
        <% if test_request_job.allow_cancel? %>
          <li>
            <%= link_to cancel_test_request_job_path(test_request_job, {:lock_version => test_request_job.lock_version.to_s}), :method => :post  do %>
            <i class="icon-off"></i>&nbsp;cancel
            <%  end %>
          </li>
         <% end  %>
      </ul>
    </div>
  </div>

  <div class="span1">
    <%= test_request_job.id %>
  </div>
  <div class="span1">
    <%= test_request_job.reference_id %>
  </div>
  <div class="span2">
    <%= test_request_job.status_str %>
  </div>

  <div class="span2">
    <%= test_request_job.test_case_name.to_s %>
  </div>

  <div class="span1">
    <%= test_request_job.run_server %>
  </div>

  <div class="span1 no-wrap" >
    <%= test_request_job.start_time.strftime("%d-%m-%y %H:%M") if test_request_job.start_time %>&nbsp;
  </div>

  <div class="span1 no-wrap">
    <%= test_request_job.finish_time.strftime("%d-%m-%y %H:%M") if test_request_job.finish_time %>&nbsp;
  </div>
</div>
