<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand"><strong>Test Request Jobs</strong></div>
      <div class="span">
        <%= form_tag test_request_jobs_path, method: 'get' do %>
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <div class="input-prepend input-append">
            <%= select_tag("search_status", options_for_select(TestRequestJob.status_hash,params[:search_status]), include_blank: true, class: 'span2', data: {placeholder: 'Status'}) %>
            <%= text_field_tag :search, params[:search], placeholder: " search", class: "span3", size: "16" %>
            <%= button_tag "Search", name: nil, type: :submit, class: "btn" %>
            <%= button_tag "Reset", name: 'reset',class: "btn", type: :submit %>
          </div>
          <% end %>
       </div>
    </div>
  </div>
</div>

<div id="endless">
  <div class="row">
    <div class="offset1 span1"><strong><%=  sortable "id" %></strong></div>
    <div class="span1"><strong><%=  sortable "reference_id" %></strong></div>

    <div class="span2"><strong><%= sortable "status","Status" %></strong></div>
    <div class="span2"><strong><%= sortable "test_case_name", "Test case name" %></strong></div>
    <div class="span1"><strong><%= sortable "run_server","Server" %></strong></div>
    <div class="span1"><strong><%= sortable "start_time","Started" %></strong></div>
    <div class="span1"><strong><%= sortable "finish_time", 'Finished' %></strong></div>
  </div>

  <%= render(partial: "test_request_job", collection: @test_request_jobs) %>
</div>

<%= will_paginate(@test_request_jobs) %>
<%= pageless(@test_request_jobs.total_pages, test_request_jobs_path, "#endless", params) %>

<footer class="subnav subnav-fixed" style="bottom:0;top:auto;margin-bottom: 0px;">
  &nbsp;
</footer>

<script type="text/javascript">
  $('#search_status').chosen({allow_single_deselect:true})
</script>