<div class="row" data-logging_level=<%= checklog.loglevel %>>
  <div class="span<%= 9 -level %> offset<%= level %> lead">
    <%= heading %>
  </div>
  <div class="span3 lead">
    Result: <%= checklog.result %>
  </div>
</div>
<% checklog.attributes.each do |attribute| %>
  <div class="row" data-logging_level=<%= attribute.loglevel %>>
    <div class="span2 offset<%= level %>">
      <strong><%= attribute.attr_name %></strong>
    </div>
    <div class="span<%= 10 - level %>">
      <% if attribute.attr_value.to_s.blank? %>
        <i class="icon icon-minus">&nbsp;</i>
      <% elsif attribute.attr_remark.to_s.blank? %>
        <pre class="real-pre" style="padding-bottom: 0px; margin-bottom: 0px;"><%= attribute.attr_value %></pre>
      <% else %>
        <%= attribute.attr_value %>&nbsp;<%= "(#{attribute.attr_remark})" %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="span<%= 12 - level %> offset<%= level %>">
    <% checklog.output.each do |output| %>
      <div data-logging_level=<%= output.loglevel %>>
        <%= simple_format output.line %>
      </div>
    <% end %>
  </div>
</div>

<% checklog.sub_checklog.each do |subheading, sub_checklog| %>
  <%= render(:partial => "checked_production_order", :locals => {:heading => subheading, :checklog => sub_checklog, :level => level+1}) %>
<% end %>
