<div class="span">
  <% @coverage_regions.each do |region| %>
      <% if @data_set.nil? %>
        <%= hidden_field_tag "parameters_json[#{region.id}]" %>
        <%= hidden_field_tag "do_not_process[#{region.id}]"  %>
      <% else %>
        <%= hidden_field_tag "parameters_json[#{region.id}]",@data_set.parameter_settings_by_region_id(region.id) %>
        <%= hidden_field_tag "do_not_process[#{region.id}]",@data_set.do_not_process_value_by_region_id(region.id) %>
      <% end %>

    <span class="label" id="<%= region.id %>">
      <i class="icon-trash btn btn-link" id="<%= region.id %>" title="remove area from coverage"></i>
      <%= region.name %>&nbsp;(<%= region.region_code %>)
      <i class="icon-wrench btn btn-link" id="<%= region.id %>" title="configure regional settings"></i>
    </span>
  <script type="text/javascript">
    $('#region_selector option[value="<%= region.id %>"]').remove();
    if (($('#parameters_json_<%= region.id %>').val() != "")&&($('#parameters_json_<%= region.id %>').val() != "[]")&&($('#do_not_process_<%= region.id %>').val() != "true")){
      $("#<%= region.id %>").addClass('label-inverse');
    }

    if ($('#do_not_process_<%= region.id %>').val() == "true"){
      $("#<%= region.id %>").removeClass('label-inverse');
      $("#<%= region.id %>").addClass('label-important');
    }
  </script>
  <% end %>
</div>
<%= render "region_settings_modal" %>

<script type="text/javascript">
  $("#region_selector").val('').trigger('liszt:updated');
  function removeItem(idx){
    var region_id = $("[id^=current_region_id_]").attr('id').replace ( /[^\d.]/g, '' );
    var json_field_id = 'parameters_json_' + region_id;
    var jsonVal = $('#'+json_field_id).val();
    var jsonObj = JSON.parse(jsonVal);
    jsonObj.splice(idx,1);
    $('#'+json_field_id).val(JSON.stringify(jsonObj));
    jsontoForm(region_id);
  }
 
  function jsontoForm(region_id){
    var elementId = "parameters_json_" + region_id
    var jsonVal = $("#"+elementId).val();
    $('#parameter_modal_body').html('<div id="current_region_id_'+region_id+'"></div>');
    if (jsonVal != ''){
      var jsonObj = JSON.parse(jsonVal);
      $.each( jsonObj, function( key, value ) {
        var fields_template = ''
        fields_template += '<input id="parameter_name_'+key+'" value="'+value.parameter_name+'" type="hidden"></input>'
        fields_template += '<span class="input-large uneditable-input">'+value.parameter_name+'</span>&nbsp;'
        fields_template += '<input class="input-small" id="parameter_value_'+key+'" value="'+value.parameter_value+'" type="hidden"></input>'
        fields_template += '<div class="input-append"><span class="input-small input uneditable-input">'+value.parameter_value+'</span>'
        fields_template += '<button type="button" class="btn btn-medium" id="parameter_button_'+key+'"><i class="icon-trash"></i></button></div>'
        $('#parameter_modal_body').append(fields_template);
      });
      $("[id^=parameter_button_]").click(function(){
        var idx = parseInt( $(this).attr('id').replace ( /[^\d.]/g, '' ) );
        removeItem(idx);
      });
    }
    $('#parameter_placeholder').html('');
    $('#parameters').select2({placeholder:"Choose parameter"});
    generate_do_not_processCheckbox();
    $('#do_not_process_checkbox').change(function(){
      var elid = "do_not_process_" + $("[id^=current_region_id_]").attr('id').replace ( /[^\d.]/g, '' );
      if ($(this).attr("checked") == 'checked'){
        $('#'+elid).val("true");
      } else {
        $('#'+elid).val('');
      }
    });
    $('#regional_settings_modal').modal('show');    
  }
  
  $('#regional_settings_modal').on('hidden', function () {
    var region_id = $("[id^=current_region_id_]").attr('id').replace ( /[^\d.]/g, '' );


   if ( ($('#parameters_json_'+region_id).val() != "[]")&&($('#parameters_json_'+region_id).val() != "")&&($('#parameters_json_'+region_id).val() != "false")){
      $("#"+region_id).addClass('label-inverse');
    }else{
      $("#"+region_id).removeClass('label-inverse');
    }

    if ($('#do_not_process_'+region_id).val() == "true"){
      $("#"+region_id).removeClass('label-inverse');
      $("#"+region_id).addClass('label-important');
    }else{
      $("#"+region_id).removeClass('label-important');
    }
    
    $('#parameter_modal_body').html('');
    $('#parameter_placeholder').html('');
    $('#do_not_process_placeholder').html('');
  });

  $('[class^="icon-trash"]').click(function(){
    updateCoverageregions('remove',$(this).attr('id'))
  });

  $('[class^="icon-wrench"]').click(function(){
    var regionId = $(this).attr('id')
    jsontoForm(regionId);
  });

  $('#closemodal').click(function(){
    $('#regional_settings_modal').modal('hide');
  });
</script>