  <div class="row">
    <div class="span1">
      <div class="btn-group">
        <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
          Action
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to(:action => 'show',:controller => :data_sets,:id => data_set.id) do %>
              <i class="icon-info-sign"></i>&nbsp;show
            <% end %>
          </li>
        <% if env_production? %>
          <li>
            <%= link_to(:action => 'handle',:controller => :data_sets,:id => data_set.id) do %>
              <i class="icon-tasks"></i>&nbsp;handle
            <% end %>
          </li>
          <li>
            <%= link_to(:action => 'edit',:controller => :data_sets,:id => data_set.id) do %>
              <i class="icon-edit"></i>&nbsp;edit
            <% end %>
          </li>
          <li>
            <%= link_to(:action => 'edit_process_data_elements',:controller => :data_sets,:id => data_set.id) do %>
              <i class="icon-pencil"></i>&nbsp;data set files
            <% end %>
          </li>
          <li>
            <%= link_to(:action => 'clone',:controller => :data_sets,:id => data_set.id) do %>
              <i class="icon-copy"></i>&nbsp;clone
            <% end %>
          </li>
        <% end %>
        <% if data_set.allow_production_order? %>
          <% if (env_production? && data_set.status != DataSet::STATUS_TEST ) || (!env_production?) %>
          <li>
            <%= link_to(:action => 'check_production_order',:controller => :data_sets,:id => data_set.id) do %>
              <i class="icon-random"></i>&nbsp;create production order
            <% end %>
          </li>
          <% end %>
        <% end %>
        </ul>
      </div>
    </div>
    <div class="span0_5"><%= data_set.id %></div>
    <div class="span2"><%= data_set.name %></div>
    <div class="span2"><%= data_set.company_abbr.company_name if data_set.company_abbr %></div>
    <div class="span1"><%= data_set.data_release.name if data_set.data_release %></div>
    <div class="span2"><%= data_set.region.name if data_set.region %></div>
    <div class="span1"><%= data_set.data_type.name if data_set.data_type %></div>
    <div class="span1"><%= data_set.filling.name if data_set.filling %></div>
    <div class="span1"><%= data_set.status_string %></div>
  </div>