<div class="row">
  <div class="span12">
    <strong>Data sets</strong>
  </div>
</div>

<div class="row">
  <% @candidates.each do |step,datasets| %>
  <div class="span3">
    <select id="sel-<%= step %>" class="span3" data-placeholder="<%= step %>">
      <option value=""></option>
      <% datasets.each do |ds| %>
      <option value="<%= ds.id %>"><%= ds.label(true) %></option>
      <% end %>
    </select>
  </div>
  <script type="text/javascript">
    $("#sel-<%= step %>").select2();
  </script>
  <% end %>
</div>

<div class="row">
    <% @preselection.each do |step,datasets| %>
     <% executable = Executable.find_by_name(step) %>
     <% ignore_ds_regions_yn = false %>
     <% ignore_ds_regions_yn = executable.ignore_ds_regions_yn if executable %>


     <div class="span3" id="stepDiv-<%= step %>">
       <% datasets.each do |dataset| %>
          <%  addional_css_class = '' %>
         <% if dataset.region_id != @data_set.region_id || dataset.company_abbr.id != @data_set.company_abbr.id || dataset.data_release_id != @data_set.data_release_id %>
          <%  addional_css_class = 'label-important' %>
         <% end %>
         <% if dataset.data_type_id != @data_set.data_type_id %>
         <span class="label <%= addional_css_class %>" id="Dataset-<%= dataset.id %>">
           <i class="icon-trash" id="delDataset-<%= dataset.id %>-<%= step %>" title="remove dataset for processing"></i>
         <% elsif !ignore_ds_regions_yn %>
         <span class="label label-info" id="Dataset-<%= dataset.id %>">
           <i class="icon-globe" id="covDataset-<%= dataset.id %>" title="change coverage for dataset"></i>
         <% else %>
         <span class="label label-info" id="Dataset-<%= dataset.id %>" title="due to executable specifications coverage can not be changed">
         <% end %>
         <%= dataset.label(true) %>
         <input id="org-<%= dataset.id %>" type="hidden" value="<%= dataset.processable_regions.collect{|r|r.region.region_code}.join(',') %>"></input>
         <input id="field-<%= dataset.id %>" name="datasets[<%= dataset.id %>]" type="hidden" value="<%= dataset.processable_regions.collect{|r|r.region.region_code}.join(',') %>"></input>
       </span>
       <% end %>
    </div>
    <% end %>
</div>

<div id="covModal" class="modal hide fade large" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="covModalLabel">Manipulate order coverage</h3>
  </div>
  <div class="modal-body" id="covModalBody">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" type="button" id="covModalSave">Save changes</button>
  </div>
</div>

