<% if !@data_set %>
  <% obj_id = "" %>
<% else %>
  <% obj_id = "#{@data_set.filling_id}" %>
<% end %>
<%= select_tag "data_set_filling_id", options_for_select(@datatype_fillings,obj_id),{:include_blank => true,:class => 'span2 validate',:data=>{:placeholder=>"Filling"},:name => "data_set[filling_id]",:required => 'required' } %>
