<div class="row">
  <%= form_for(@data_set) do |f| %>
    <div class="span12 bounded bounded-headered">
      <div class="row bounded-header">
        <h4><%= params[:action].humanize %> Data set v. <%= @data_set.version %></h4>
      </div>
      <div class="row">
        <div class="span12">
          <% if @data_set.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@data_set.errors.count, "error") %> prohibited this data_set from being saved:</h2>

              <ul>
                <% @data_set.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="span3"><strong>Name</strong></div>
        <div class="span2"><strong>Supplier</strong></div>
        <div class="span2"><strong>Release</strong></div>
        <div class="span2"><strong>Coverage</strong></div>
        <div class="span1"><strong>Data type</strong></div>
        <div class="span2"><strong>Filling</strong></div>
      </div>
      <div class="row">
        <div class="span3"><%= f.text_field :name, :class => 'span3', :required => 'required' %></div>
        <div class="span2"><%= f.select :company_abbr_id, CompanyAbbr.active.collect{|c|["#{c.ms_abbr_3} - #{c.company_name}",c.id]},{:include_blank => true}, { :class => 'span2 validate', :required => 'required'} %></div>
        <div class="span2" id="releaseSelect">
          <%= render "release_select", :object => @company_abbr_data_releases = DataType.find_by_name(params[:data_type_val]).fillings.active.order(:name).collect {|f| [ "#{f.id}","#{f.name}" ] } if !params[:data_type_val].blank? %>
        </div>
        <div class="span2">
          <% if @data_set.region && !@data_set.region.active? %>
          <%= f.select :region_id, Region.active.collect {|r|["#{r.region_code} - #{r.name}","#{r.id}"]} << ["#{@data_set.region.region_code} - #{@data_set.region.name}","#{@data_set.region.id}"],{:include_blank => true}, {:class => 'span2 validate', :required => 'required'} %>
          <% else %>
          <%= f.select :region_id, Region.active.collect {|r|["#{r.region_code} - #{r.name}","#{r.id}"]},{:include_blank => true}, {:class => 'span2 validate', :required => 'required'} %>
          <% end %>
        </div>
        <div class="span1"><%= f.select :data_type_id, DataType.option_list,{:include_blank => true}, {:class => 'span1 validate', :required => 'required'} %></div>
        <div class="span2" id="fillingSelect">
          <% #render "filling_select", :object => @datatype_fillings = DataType.find(params[:data_type_val]).fillings.active.order(:name).collect {|f| [ "#{f.id}","#{f.name}" ] } %>
        </div>
      </div>
      <div class="row">
        <div class="span12"><strong>Description</strong></div>
      </div>
      <div class="row">
        <div class="span12"><%= f.text_area :description, :class => "span11",:rows => "2",:style => 'width:93%' %></div>
      </div>
      <div class="row">
        <div class="span12"><strong>Coverage</strong></div>
      </div>
      <div class="row">
        <div class="span3">
          <%= f.hidden_field :coverage_id %>
          <%= hidden_field_tag 'coverage_regions',@coverage_regions.collect {|r|r.id}.join(',')   %>
          <%= select_tag "region_selector",grouped_options_for_select(Region.product_coverage_select_tag),:include_blank => true,:class => 'span2_5',:data => {:placeholder => 'Select an Area for coverage'} %>
        </div>
        <div class="span4">
          <%= select_tag "data_set_defintion_selector", options_for_select(DataSet.order(:name).collect {|ds|[ds.name,ds.regions.collect{|r|r.id}.join(',')]}), {:include_blank => true,:class => 'span4',:data => {:placeholder=>'Import coverage from other data set defintion'}} %>
        </div>
      </div>
      <div class="row">
        <div id="coverage_list"><%= render 'coverage_regions' %></div>
      </div>
      <div class="row">
        <div class="span12"><strong>Remarks</strong></div>
      </div>
      <div class="row">
        <div class="span12"><%= f.text_area :remarks, :class => "span11",:rows => "2",:style => 'width:93%' %></div>
      </div>
      <% if params[:action] == 'new' %>
      <div class="row">
        <div class="span12">
          <%= select_tag 'data_set_group_id', options_for_select([['','']]+DataSetGroup.active.collect{|g|[g.name,g.id] if !@data_set.data_set_groups.collect{|dg|dg.id}.include?(g.id) }),:class => 'span4' %>
          <label class="checkbox pull-right">
          <%= check_box_tag 'create_group', '1' %> Generate a group
           </label>
        </div>
      </div>
      <% end %>
      <div class="row">
        <div class="span12">
          <%= f.submit 'Save data set', :class => 'btn  pull-right'  %>
          <div id="save"></div>
        </div>

      </div>
    </div>
  <% end %>
</div>


<script type="text/javascript">
  function renderFilling(data_type_val){
    $.post('<%= url_for(:action => 'filling_for_data_type',:id=>@data_set.id) %>',{data_type_val:data_type_val});
    $("select.validate").attr('style','display:block')
  }
  function renderRelease(company_abbr_val){
    $.post('<%= url_for(:action => 'release_for_company_abbr',:id=>@data_set.id) %>',{company_abbr_val:company_abbr_val});
    $("select.validate").attr('style','display:block')
  }
  renderFilling("<%= @data_set.data_type_id %>")
  renderRelease("<%= @data_set.company_abbr_id %>")

  $("#data_set_data_type_id").change(function(){
    var data_type_val = $(this).val();
    renderFilling(data_type_val);
    $("select.validate").attr('style','display:block')
  });

  $("#data_set_company_abbr_id").change(function(){
    var company_abbr_val = $(this).val();
    renderRelease(company_abbr_val)
    $("select.validate").attr('style','display:block')
  });

  $("#data_set_data_type_id").select2({allowClear:true});
  $("#data_set_company_abbr_id").select2({allowClear:true});
  $("#data_set_region_id").select2({allowClear:true});

  function updateCoverageregions(action,region_id){
    var newList = ''
    var sep = ','
    var oldList = $('#coverage_regions').val();
    if (oldList == ''){ sep = ''}

    switch (action) {
      case 'add':
        var newList = oldList + sep + region_id;
        break;
      case 'remove': {
        var newList = oldList.replace(region_id,'');
        break;
      }
    }
    $('#coverage_regions').val(newList.replace(',,',','));
    $('#save').html('');
    $('[id^=parameters_json_]').each(function() {
     var org_elid = $(this).attr('id');
     $(this).attr("id",'intermediate_'+org_elid);
     $('#save').append($(this));
    });
    jQuery.post('<%=h url_for(:controller => "data_sets",:action => "update_coverage_regions_list_view",:id => @data_set.id) %>',{coverage_regions:newList})

  }

  $('#region_selector').chosen();
  $('#region_selector').change(function(){
    updateCoverageregions('add',$(this).val())
  });

  $('#data_set_defintion_selector').chosen();
  $('#data_set_defintion_selector').change(function(){
    
    var regionsArr = $(this).val().split(',');
    $.each(regionsArr,function(key,region_id) {
      updateCoverageregions('add',region_id);
    });
    
  });

  $('[class^="icon-trash"]').click(function(){
    updateCoverageregions('remove',$(this).val())
  });

  $("#data_set_group_id").chosen({allow_single_deselect:true,placeholder_text_single:"Add data set to existing Group"});
</script>
