<div class="row">
  <div class="span12 bounded">
    <div class="row">
      <div class="span12">
        <% if params[:action] != 'show' %>
        <%= select_tag 'groups_select', options_for_select([['','']]+DataSetGroup.active.collect{|g|[g.name,g.id] if !@data_set.data_set_groups.collect{|dg|dg.id}.include?(g.id) }),:class => 'span4' %>
        <% if @data_set.data_set_groups.empty? %>
          <button id="createGroup" class="btn btn-medium btn_align_chosen" title="create new group based on data set attributes"><i class="icon-leaf">&nbsp;</i>Create new group</button>
        <% end %>
        <% else %>
        <h4>Available in group(s)</h4>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <% @data_set.data_set_groups.each do |group| %>
        <span class="label label-info"><%= group.name %>&nbsp;
          <% if params[:action] != 'show' %>
          <button id="rmGroup-<%= group.id %>" class="btn btn-link btn-mini" style="color:whitesmoke" title="delete relation"><i class="icon-trash"></i></button>
          <% end %>
        </span>
        <script type="text/javascript">
          $("#rmGroup-<%= group.id %>").click(function(){
            $.post('<%= url_for(remove_from_group_data_set_path(@data_set)) %>',{data_set_group_id:<%= group.id %>})
          });
        </script>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $("#groups_select").chosen({allow_single_deselect:true,placeholder_text_single:"Add data set to Group(s)"});
  $("#groups_select").change(function(){
    $.post('<%= url_for(add_to_group_data_set_path(@data_set)) %>',{data_set_group_id:$(this).val()})
  });
  $("#createGroup").click(function(){
    $.post('<%= url_for(create_group_data_set_path(@data_set)) %>',{data_set_group:<%= @data_set.id %>})
  });
  $('#groups_select').prop('disabled', true).trigger("liszt:updated");
  $('#createGroup').prop('disabled', true)
  <% if @data_set.allow_reception? %>
    $('#createGroup').prop('disabled', false);
    $('#groups_select').prop('disabled', false).trigger("liszt:updated");
  <% end %>
</script>
