<div class="row">
  <div class="span0_5"><strong>ID</strong></div>
  <div class="span1"><strong>Status</strong></div>
  <div class="span1"><strong>Coverage</strong></div>
  <div class="span0_5"><strong>DB ID</strong></div>
  <div class="span1"><strong>Database</strong></div>
</div>
<% @conversion_jobs.each do |job| %>
<div class="row">
  <div class="span0_5">
    <%= link_to(job.id,job,{:target => "_blank"}) %>
  </div>
  <div class="span1">
    <%=  job.status_str %>
  </div>
  <div class="span1">
    <%=  job.coverage_label %>
  </div>
  <div class="span0_5">
    <%=  raw job.conversion_databases.collect{|db|link_to(db.id,db,{:target => "_blank"})}.join("<br />") %>
  </div>
  <div class="span5">
    <%=  raw job.conversion_databases.collect{|db|db.filename}.join("<br />") %>
  </div>
</div>
<% end %>
