<div class="row">
  <div class="span3"><strong>Event</strong></div>
  <div class="offset4 span2"><strong>CR/PR reference ID</strong></div>
</div>
<div class="row">
  <div class="span3">
    <%= select_tag "process_data_sub_event_id", options_for_select(ProcessDataSubEvent.where(:status => 10).collect{|e|["#{e.process_data_event.name} - #{e.name}",e.id]}),{:class => 'span3',:id=>"process_data_sub_event_id"} %>
  </div>
  <div class="offset4 span2">
    <input type="text" class="span2" placeholder="Jira reference ID" name="cr_reference" id="cr_reference"></input>
  </div>
</div>
<div class="row">
  <div class="span9">
    <textarea placeholder='Action log' name="log_forward" id="log_forward" class="span9" rows="5"></textarea>
    <input type="hidden" name="process_data_element_id" id="process_data_element_id"></input>
  </div>
</div>

<script type="text/javascript">
  $("#submitLog").click(function(){
    $.post("<%= url_for(:action => :save_process_data_element_action_log,:id => @data_set.id) %>",{
      process_data_element_id:$("#process_data_element_id").val(),
      log_forward:$("#log_forward").val(),
      process_data_sub_event_id:$("#process_data_sub_event_id").val(),
      cr_reference:$("#cr_reference").val()
    },function ( data ){
      if (data.contains('ERROR:')){
        errorMessage(data);
      }
      else{
        errorMessage('');
        flash_on_demand("success","Log added",data);
      }
      $("#myModal").modal("hide");
    });
  });
</script>