<div class="row">
  <div class="span3"><strong>Related Reception Id</strong></div>
  <div class="span3"><strong>Process data specification</strong></div>
  <div class="span3"><strong>Split by value</strong></div>
</div>
<div class="row">
  <div class="span3">
    <input type="hidden" id="process_data_element_id" val=""></input>
    <input name="reception_id" class="select2-select span3" title="Reception is mandatory"></input>
  </div>
  <div class="span3">
    <%= select_tag :process_data_specification_id, options_for_select(ProcessDataSpecification.where(:active_yn => true).order(:name).collect{|p|[p.name,p.id]}),{:include_blank => true,:title => "Is mandatory",:class => "span3"} %>
  </div>
  <div class="span3">
    <%= select_tag :split_by_value,grouped_options_for_select(Region.splitby_area_grouped_for_select('region_code')),{:include_blank => true,:title => "Is mandatory",:class => "span3 disabled",:disabled=>"disabled"}  %>
  </div>
</div>
<br />

<script type="text/javascript">
  $('[name="process_data_specification_id"]').select2({placeholder: 'Select element spec.'});
  
  $('[name="split_by_value"]').select2({placeholder: 'Select split by'});

  $('[name="process_data_specification_id"]').bind("change", splitBy);
  function splitBy(){
    $.post("<%= url_for(:action => :get_split_by_key) %>", {element_specification_id: $(this).val()},(function ( data ){
      var key = data.split_by_key
      switch (key){
        case 'Region':
          $('[name="split_by_value"]').removeAttr('disabled').select2({placeholder: 'Select split by'});
          break;
        case 'SubRegion':
          $('[name="split_by_value"]').removeAttr('disabled').select2({placeholder: 'Select split by'});
          break;
        case 'ItemRegion':
          $('[name="split_by_value"]').removeAttr('disabled').select2({placeholder: 'Select split by'});
          break;
        default:
          $('[name="split_by_value"]').val('');
          $('[name="split_by_value"]').attr('disabled','disabled').select2({placeholder: 'Select split by'});
      }
    }));
  };
</script>