<tr>
  <td>
    <input type="hidden" value="<%= process_data_element.to_json %>" id="fieldAttributes-<%= process_data_element.id %>"></input>
    <button class="btn btn-mini" title="edit element specifications" id="btnEditEl-<%= process_data_element.id %>"><i class="icon-edit"></i></button>
    <button class="btn btn-mini" title="remove element" id="btnDeleteEl-<%= process_data_element.id%>"><i class="icon-trash"></i></button>
    <button class="btn btn-mini" title="add change log" id="btnLogEl-<%= process_data_element.id%>"><i class="icon-adjust"></i></button></td>
  <td>
    <%= process_data_element.reception_id %>
  </td>
  <td>
    <%= process_data_element.directory %>
  </td>
  <td>
    <%= process_data_element.split_by_value.to_s.downcase %>
  </td>
  <td>
    <%= process_data_element.process_data_specification.name if process_data_element.process_data_specification  %>
  </td>
</tr>