  <div class="span12">
    <div class="row">
       <div class="span3"><strong>Order type</strong></div>
       <div class="span3"><strong>CV-tool Release</strong></div>
       <div class="span3"><strong>CV-tool Bundle</strong> </div>
       <div class="span3"><strong>CVE</strong></div>
       </div>
    <div class="row">
      <div class="span3"><%= select_tag 'order_type_id', options_for_select(Ordertype.active.where(:is_frontend => true).collect{|ot|["#{ot.name}",ot.id]},params[:order_type_id]),:class => 'span3 validate', :required => 'required' %></div>
      <div class="span3"><%= select_tag 'conversiontool_id', options_for_select(Conversiontool.select_tag,params[:conversiontool_id]),:include_blank => true, :class => 'span3 validate', :required => 'required' %></div>
      <div class="span3" id="cvtool_bundle_div">
        <%= select_tag('cvtool_bundle_id',options_for_select(CvtoolBundle.select_tag,params[:cvtool_bundle_id]),:include_blank => true, :class => 'span3 validate',:required => :required,:data => {:placeholder => 'Select CV tool bundle'}) %>
      </div>
      <input type="hidden" id="fallback_cvtool_bundle_id"></input>
      <%= hidden_field_tag  "project_id", session[:project_id] %>
      <div class="span3"><%= select_tag 'conversion_environment_id', options_for_select(ConversionEnvironment.collection_for_select,params[:conversion_environment_id]),:class => 'span3' %></div>      
    </div>
    <div class="row">
      <div class="span3"><strong>Test Strategy</strong></div>
      <div class="span3"><strong>Dakota simulator</strong></div>
      <div class="span3"><strong>Use test versions</strong></div>
      <div class="span3"><strong>Product design</strong></div>
    </div>
    <div class="row">
      <div class="span3"><%= select_tag 'test_strategy' , options_for_select(['None', 'All', 'Final Result'], params[:test_strategy]),  :class => 'span3' %></div>
      <div class="span3"><%= check_box_tag 'simulate_dakota', "1",nil,{:data => {"text-label" => "Dakota Sim",:on => "success",:off => "default"}}  %></div>
      <div class="span3"><%= check_box_tag 'use_test_versions_yn', @use_test_versions, @use_test_versions,{:data => {"text-label" => "Test versions",:on => "success",:off => "default"}} %></div>   
      <div class="span3"><%= select_tag 'product_design_id', options_for_select(ProductDesign.frontend.where(:project_id => session[:project_id]).option_list,params[:product_design_id]),:class => 'span3 validate',:include_blank => true, :required => 'required' %></div>
    </div>
    <div id="datasets">
      <!-- filled by ajax -->
    </div>
    <div class="row"><br />
      <div class="span5 alert alert-error" id="form-val" style="display: none;"><strong>All fields</strong> are mandatory! Please select an option for the empty fields. </div>
      <div class="span6 pull-right"><br /><%= submit_tag "#{@submit_str}",:class => 'btn btn-primary pull-right' %></div>
    </div>
  </div>

<script type="text/javascript">
  $("#simulate_dakota").bootstrapSwitch();
  $("#use_test_versions_yn").bootstrapSwitch();
  $(".has-switch").css("min-width", "254px")

  function get_cvtool_bundles(conversiontool_id){
    jQuery.get('<%= url_for get_cvtool_bundles_cvtool_bundles_path %>'+'?conversiontool_id=' + conversiontool_id + "&cvtool_bundle_id=<%= params[:cvtool_bundle_id].to_s %>&tag=cvtool_bundle_id", function(data){
      $("#cvtool_bundle_div").html(data);
    })
    return false;
  }

  $("#conversiontool_id").change(function(){
    var selected = $('select#conversiontool_id :selected').val();
    if(selected == "") selected="0";
    get_cvtool_bundles(selected);
  });

  $('#product_design_id').select2({placeholder:"Select product design"});
  $('#order_type_id').select2();
  $('#conversiontool_id').select2({placeholder:"Select CV tool release"});
  $('#test_strategy').select2();

  $('#cvtool_bundle_id').select2();
  $('body').on('change',"#cvtool_bundle_id",function(){
    $("#fallback_cvtool_bundle_id").val($(this).val());
  })
  $("#conversion_environment_id option:first").attr('selected','selected');
  $("#conversion_environment_id").select2();


  function render_data_set_preselection(product_design_id){
    $.get( '<%= url_for(:action => :render_data_set_pre_selection,:controller => :data_sets,:id => @data_set.id) %>',{product_design_id:product_design_id},function(data){
      if (data.contains('ERROR:')){
        $("#datasets").html('')
        $('#form-val').html(data);
        $('#form-val').fadeIn();
        $('#product_design_id').select2('val','')
      } else {
        $('#form-val').css("display","none").html('');
        $("#datasets").html(data)
      }
    })}
    $('#product_design_id').change(function(){
      render_data_set_preselection($(this).val())
    });


  $('body').on('click',"[id^=covDataset-]",function(){
    var id = $(this).attr('id').match(/\d+/);
    $("[id^=covModalSave]").attr("id",$("[id^=covModalSave]").attr("id")+id)
    var regionCodes = $("#org-"+id).val().split(',')
    var selectedRegionCodes = $("#field-"+id).val().split(',')
    var html_string = '<div class="row">'
    html_string += '<ul class="thumbnails span">'
    $.each( regionCodes, function( idx,regioncode ) {
      html_string += '<li class="span1">'
      html_string += '<label class="checkbox control-label">'
      html_string += '<input type="checkbox" '
      if ($.inArray(regioncode, selectedRegionCodes) != -1){
        html_string += 'checked="checked"'
      }
      html_string += ' id="chk-'+id+'-'+regioncode+'" name="check['+id+']'+regioncode+'">'
      html_string += regioncode
      html_string += '</label>'
      html_string += '</li>'
    });
    html_string += '<li class="span2"><label class="checkbox control-label" style="color:red"><input type="checkbox" id="toggleSelect" '
    html_string += 'checked="checked'
    html_string += '">TOGGLE ALL</label></li>'
    html_string += '</ul>'
    $("#covModalBody").html(html_string);
    $("#covModal").modal("show");
    $("#toggleSelect").click(function(){
      var checkBoxes = $("[id^=chk-"+id+"]");
      checkBoxes.prop("checked", $(this).prop("checked"));
    });
  })

  $('body').on('click',"[id^=covModalSave]",function(){
    var id = $(this).attr('id').match(/\d+/);
    var checkBoxes = $("[id^=chk-"+id+"-]:checked");
    var values = [];

    if (checkBoxes.length == 0){
      flash_on_demand("error","No coverage selected","You need to select at least one region.")
      return false
    }

    $.map(checkBoxes, function(el){
      var gsub = "chk-"+id+"-"
      var regioncode = el.id.replace(gsub,'')
      values.push(regioncode)
    })
    $("#field-"+id).val(values.join(','));
    var regionCodes = $("#org-"+id).val().split(',');
    if (regionCodes.length != values.length){
      $("#Dataset-"+id).addClass("label-warning")
    } else {
      $("#Dataset-"+id).removeClass("label-warning")
    }
    $("#covModal").modal("hide");
    var resetid = $(this).attr('id').replace(id,'');
    $(this).attr('id',resetid);
  });

  $('body').on('click',"[id^=delDataset]",function(){
    var id = $(this).attr('id').match(/\d+/);
    var gsub = "delDataset-" + id + "-"
    var step = $(this).attr('id').replace(gsub,'')
    $("#sel-"+step).select2("destroy");
    $("#sel-"+step)
    .append($("<option></option>")
    .attr("value",id)
    .text($("#Dataset-"+id).text().trim())
  );
    $("#sel-"+step).select2();
    $("#Dataset-"+id).remove();
  });

  function fillRegionFields(data_set_id){
    $.get('<%= url_for(:action => :render_regions_for_input,:controller => :data_sets) %>',{data_set_id:data_set_id},function(data){
      $("#org-"+data_set_id).val(data);
      $("#field-"+data_set_id).val(data);
    });
  }

  $('body').on('change',"[id^=sel-]",function(){
    var step = $(this).attr('id').replace('sel-','')
    var datatype = '<%= @data_set.data_type.name %>'
    var txtSelect = "#sel-"+step+" option[value='"+$(this).val()+"']"
    var txt = $(txtSelect).text();
    var htmlstr = '<span class="label" id="Dataset-'+$(this).val()+'"><i class="icon-trash" id="delDataset-'+$(this).val()+'-'+step+'"  title="remove dataset for processing"></i>&nbsp;'+txt
    htmlstr += '<input id="org-'+$(this).val().trim()+'" type="hidden" value=""></input>'
    htmlstr += '<input id="field-'+$(this).val().trim()+'" type="hidden" value="" name="datasets['+$(this).val().trim()+']"></input>'
    htmlstr += '</span>'
    $("#stepDiv-"+step).append(htmlstr);
    fillRegionFields($(this).val());
    $(txtSelect).remove();
    $("#sel-"+step).select2("destroy")
    $("#sel-"+step).select2()
    console.log(htmlstr);
  });

  <% if @err || params[:error] %>
    $('#form-val').html('<%= @err.to_s + params[:error] %>')
    $('#form-val').fadeIn();
  <% end %>

  $('body').on('hover',"[id^=delDataset-]",function(){
    $(this).css( 'cursor', 'pointer' );
  });
  $('body').on('hover',"[id^=covDataset-]",function(){
    $(this).css( 'cursor', 'pointer' );
  });

</script>
