<div class="modal hide fade" id="regional_settings_modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Regional parameter settings</h3>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="span3">
        <div class="controls controls-row">
          <%= select_tag 'parameters', options_for_select(Executable.param_list.collect{|p|p['name']}.sort.uniq),{:include_blank => true,:class => 'input-xlarge'} %>
        </div>
      </div>
      <div id="do_not_process_placeholder" class="span2">
        
      </div>
    </div>
    <div class="row">
      <div class="span5" id="parameter_placeholder"></div>
    </div>
    <div class="row">
      <div id="parameter_modal_body" class="span5"></div>
    </div>
    
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" id="closemodal">Close</a>
  </div>
</div>

<script type="text/javascript">
  $('#parameters').change(function(){
    var fields_template = '<div class="form-inline">'
    fields_template += '<span class="input-large uneditable-input">'+$(this).val()+'</span>&nbsp;';
    fields_template += '<input id="new_parameter_name" value="'+$(this).val()+'" type="hidden"></input>'
    fields_template += '<div class="input-append"><input class="input-small" style="width:95px" id="new_parameter_value"></input>&nbsp;'
    fields_template += '&nbsp;<button type="button" class="btn btn-medium" id="new_parameter_button"><i class="icon-circle-arrow-down"></i></button></div></div>'
    $('#parameter_placeholder').html(fields_template);
    $(this).val('');

    $('#new_parameter_button').click(function(){
      var region_id = $("[id^=current_region_id_]").attr('id').replace ( /[^\d.]/g, '' );
      var json_field_id = 'parameters_json_' + region_id;
      var jsonVal = $('#'+json_field_id).val();
      var jsonObj = [];
      if (jsonVal != '') {var jsonObj = JSON.parse(jsonVal)}
      jsonObj.push( { "parameter_name":$('#new_parameter_name').val(),"parameter_value":$('#new_parameter_value').val() } );
      $('#'+json_field_id).val(JSON.stringify(jsonObj));
      jsontoForm(region_id);
    });
  });

  function generate_do_not_processCheckbox(){
    var elid = "do_not_process_" + $("[id^=current_region_id_]").attr('id').replace ( /[^\d.]/g, '' );
    var value = $('#'+elid).val();
    if  (value == "true"){ var tmpl = '<label class="checkbox"><input type="checkbox" id="do_not_process_checkbox" checked="checked" value="'+value+'"> Do not process</label>' } else
      { var tmpl = '<label class="checkbox"><input type="checkbox" value="'+value+'" id="do_not_process_checkbox"> Do not process</label>' }
    $('#do_not_process_placeholder').html(tmpl);

  
  }
</script>