<% if !@data_set %>
  <% obj_id = "" %>
<% else %>
  <% obj_id = "#{@data_set.data_release_id}" %>
<% end %>
<%= select_tag "data_set_data_release_id", options_for_select(@company_abbr_data_releases,obj_id),{:include_blank => true,:class => 'span2 validate',:required => 'required',:data=>{:placeholder=>"Release"},:name => "data_set[data_release_id]" } %>
