<% pde = show_process_data_element %>
<tr>
  <td><%= link_to(pde.reception.id,reception_path(pde.reception),:target => "_blank") if pde.reception %></td>
  <td><%= pde.directory %></td>
  <td><%= pde.split_by_value %></td>
  <td><%= pde.process_data_specification.name %></td>
  <td>
    <% pde.process_data_lines.order('created_at DESC').each do |log| %>

      <small class="muted condensed">
      <% if pde.process_data_lines.order('created_at DESC').first != log %>
      <br />
      <% end %>
      -- <%= log.created_at.time.strftime("%b %d %Y, %I:%M %p") %> | <%= log.user.user_name if log.user %> --<br /></small>
      <% if log.cr_reference.to_s != "" %>
      <small><a href="<%= ConfigParameter.get("cr_tool_url") %><%=log.cr_reference.strip %>" target="_blank">Jira <%=log.cr_reference %></a><br /></small>
      <% end %>
      <small class="condensed"><%= log.log_forward %></small>
    <% end %>
  </td>
</tr>

