<div class="row hidden" id="reviewRow">
  <br />
    <div class="alert alert-info span5">
    <strong>Pending review !</strong> <span id="reviewerName"><%= @data_set.reviewer_name %></span> was requested to review this data set.
    </div> 
</div>
<div class="row hidden" id="errorRow">
  <div class="alert alert-error span5" id="errorMsg"></div>
</div>
<div class="row">
  <div class="span3"><strong>Name</strong></div>
  <div class="span2"><strong>Supplier</strong></div>
  <div class="span2"><strong>Release</strong></div>
  <div class="span2"><strong>Region&nbsp;code</strong></div>
  <div class="span1"><strong>Data type</strong></div>
  <div class="span2"><strong>Filling</strong></div>
</div>
<div class="row">
  <div class="span3"><%= @data_set.name %></div>
  <div class="span2"><%= @data_set.company_abbr.company_name if @data_set.company_abbr %></div>
  <div class="span2"><%= @data_set.data_release.name if @data_set.data_release %></div>
  <div class="span2"><%= @data_set.region.region_code if @data_set.region %></div>
  <div class="span1"><%= @data_set.data_type.name if @data_set.data_type %></div>
  <div class="span2"><%= @data_set.filling.name if @data_set.filling %></div>
</div>
<div class="row">
  <div class="span12"><strong>Description</strong></div>
</div>
<div class="row">
  <div class="span12"><pre class="real-pre"><%= @data_set.description %></pre></div>
</div>
<div class="row">
  <div class="span12"><strong>Coverage</strong></div>
</div>
<div class="row">
  <div class="span12">
    <% if @data_set.coverage %>
      <% @data_set.coverage.coverages_regions.each do |coverage_region| %>
      <% label_class = '' %>
        <% if ( !coverage_region.parameter_settings.blank? ) && ( coverage_region.parameter_settings != '[]' ) && coverage_region.do_not_process != true %>
          <% label_class = 'label-inverse' %>
        <% end %>
        <% if coverage_region.do_not_process == true %>
          <% label_class = 'label-important' %>
        <% end %>
        <% if coverage_region.region.ignore_ds_regions_yn == true %>
          <% label_class = 'label-warning' %>
        <% end %>
        <span class="label <%= label_class %>" id="<%= coverage_region.id %>">
          <%=  coverage_region.region.name %>&nbsp;(<%= coverage_region.region.region_code %>)
        </span>

      <% end %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="span2"><strong>Regional parameters</strong></div>
</div>
<% if @data_set.coverage  %>
<div class="row">
  <div class="span3"><%= raw @data_set.coverage.coverages_regions.where(:do_not_process => true).collect {|cr|"<strong>#{cr.region.name}</strong> will not be used for processing.<br />"}.join() %></div>
</div>

    <% @data_set.coverage.coverages_regions.each do |coverage_region| %>      
      <% if ( !coverage_region.parameter_settings.blank? ) && ( coverage_region.parameter_settings != '[]' ) && coverage_region.do_not_process != true %>
<div class="row">
  <div class="span2"><strong><%=  coverage_region.region.name  %>:</strong></div>
  <div class="span4">
     <%= raw JSON.parse(coverage_region.parameter_settings).collect{|x|"#{x['parameter_name']} #{x['parameter_value']}<br />"}.join() %>
  </div>
</div>
<% end %>
    <% end %>
<% end %>
<div class="row">
  <div class="span12"><strong>Remarks</strong></div>
</div>
<div class="row">
  <div class="span12"><pre class="real-pre"><%= @data_set.remarks %></pre></div>
</div>
<div class="row">
  <div class="span12">
    <strong>Files</strong><br />
    <button type="button" id="btnShowElements" title="show file log" class="btn btn-mini"><i class="icon-hdd"></i></button>
    <button type="button" id="btnBrowse" title="browse directory" class="btn btn-mini"><i class="icon-folder-open"></i></button>
    <button type="button" id="btnCollapse" title="toggle collapsing file list" class="btn btn-mini" data-toggle="collapse" data-target="#listElements"><i class=" icon-resize-small"></i></button>
  </div>
</div>

<div id="file_tree_modal"></div>
<div class="row collapse in" id="listElements">
  <div class="span12">    
    <pre class="mono"><%= @data_set.process_data_elements.active.order(:directory).collect{|el|el.directory}.join("\n") %></pre>
  </div>
</div>

<div class="row">
      <div class="span12"><strong>Documentation: </strong>
        <% @data_set.process_data_elements.active.order(:directory).each do |el| %>
    <% el.release_note_files.each do |k,v| %>
        &nbsp;<a href="#" id="rn-<%= k %>"><%= v %></a>&nbsp;
    <% end %>
        <% end %>
        <div class="row"><br /></div>
      </div>
</div>

<div id="elModal" class="modal large extra-large hide fade" tabindex="-1" role="dialog" aria-labelledby="elModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="elModalLabel">Data set files</h3>
  </div>
  <div class="modal-body" id="elModalBody">
    <table class="table table-striped table-condensed table-hover condensed">
        <th>Reception</th>
        <th>Directory</th>
        <th>Split by</th>
        <th>Specification</th>
        <th>Log</th>
        <tbody id="elementLines">
          <!-- will be rendered by ajax !-->
        </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<script type="text/javascript">
  $("#btnShowElements").click(function(){
    $.get('<%= url_for(show_process_data_elements_data_set_path(@data_set)) %>', function( data ) {
      $("#elementLines").html(data);
      $('#elModal').modal("show");
    });
  });
  $("#btnBrowse").click(function(){
    $.get('<%= url_for(browse_directory_data_set_path(@data_set)) %>', function( data ) {
      $("#file_tree_modal").html(data);
      $('#myModalFileTree').modal("show");
    });
  });
  
  $("[id^=rn-]").click(function(e){
    e.preventDefault();
    var file_path = $(this).attr("id").replace ( 'rn-', '' );
    var url = '<%= url_for(:action=>:download_file) %>?file_path=' + file_path + '&file_name=' + $(this).html();
    window.location.href = url
  });
</script>