<% if @conversion_steps && @conversion_steps.size > 0 %>

  <div id="force_details"><h4>Planned conversion steps</h4>
    <div class="row">
      <div class="span6 table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Step</th>
              <th>Main executable</th>
              <th>Filling</th>
              <th>Force create</th>

            </tr>
          </thead>
          <tbody>
            <% step = 0 %>
            <% @conversion_steps.each do |conv_step| %>
              <tr>
                <td><%= step.to_s %></td>
                <td><%= conv_step["name"]  %></td>
                <td><%= conv_step["connections"].collect{|x|x["filling"]}.join(" ") %></td>
                <%  if params["force_create_#{step}"] %>
                  <td><%= check_box_tag "force_create_#{step}", {},{ :checked => true}  %></td>
                <% else %>
                  <td><%= check_box_tag "force_create_#{step}"  %></td>
                <% end %>
                <% step = step + 1 %>
              </tr>
            <% end %>

          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
