<div class="container">
  <div class="row">
    <div class="span5">
      <h3>Order configuration</h3>
    </div>
  </div>
  <div class="row">
    <div class="span6 table-responsive">
      <form id="source_data_form">
        <%= render :partial => 'steps_list_force_create' %>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Type</th>
              <th>PackageId</th>

              <th>Filling</th>
              <th>Available</th>
              <th>Include</th>
              <th/>
            </tr>
          </thead>
          <tbody>

            <% params.each do |k,v| %>
              <% if !k.match(/force_create/) && !k.match(/include_checkbox/) %>
                <% if v.class.name == "String" %>
                  <%= hidden_field_tag k, v %>
                <% else %>
                  <%  v.each do |dataset_id,regions| %>
                     <%= hidden_field_tag k + "[#{dataset_id}]", regions %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
            <% if @matchreport %>
              <% @matchreport.matches.each do |match| %>
                <% if !match.found %>
                  <tr class="error">
                  <% else %>
                  <tr>
                  <% end %>
                  <td><%= match.type %></td>
                  <td><%= match.package_id %></td>
                  <td><%= match.filling %></td>
                  <td><%= if match.found then 'YES' else 'NO' end %></td>
                  <% if match.found  %>
                    <% if !params.keys.join.match(/_include_checkbox_/) || params["#{match.package_id}_include_checkbox_#{match.type}_#{match.filling}"] %>
                      <td><%= check_box_tag"#{match.package_id}_include_checkbox_#{match.type}_#{match.filling}",'true', match.found, {:class => 'include_checkbox'} %></td>
                    <% else %>
                      <td><%= check_box_tag"#{match.package_id}_include_checkbox_#{match.type}_#{match.filling}",'true', false, {:class => 'include_checkbox'} %></td>
                    <% end %>
                  <% else %>
                    <td><%= check_box_tag"#{match.package_id}_include_checkbox_#{match.type}_#{match.filling}",'true', false, {:class => 'include_checkbox', :disabled =>true} %></td>
                  <% end %>
                  <td><%= match.message %></td>
                </tr>
              <% end %>
            <% end %>


          </tbody>
        </table>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="span9">
      <h3>Checking production order</h3>
    </div>
    <div class="span1">
      <strong>Loglevel</strong>
    </div>
    <div class="span2">
      <%= select_tag "loglevel", options_for_select(Checklog.loglevel_hash, @checklog_level), :class => 'span2' %>
    </div>
  </div>

  <div class="row">
    <div class="span12 bounded">
      <%= render(:partial => "checked_production_order", :locals => {:heading => @heading, :checklog => @checklog, :level => 0}) %>
    </div>
  </div>


  <div class="row">
    <% if @matchreport && @matchreport.complete  %>
      <div id="error_explanation" class="span6" style="display: none;">
      <% else %>
        <div id="error_explanation" class="span6" >
        <% end %>
        <h6>Warning: Not all source data specified in the design will be included in this production order</h6>
        <h6>I understand the implications and want to go ahead anyway. <%= check_box_tag"overrule_missing",'false', false %></h6>
        <ul>
          <% [].each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="span6">
        <% if @matchreport && @matchreport.complete  %>
          <%= link_to({:action => 'create_production_order',:controller => :data_sets,:id => @data_set.id,:params => params}, {:id=>'create_action', :class=>'btn btn-primary',:method=>:post}) do %>
            <i class="icon-random"></i>&nbsp;Create production order
          <% end %>
          <%= link_to({:action => 'checked_production_order',:controller => :data_sets,:id => @data_set.id,:params => params}, {:id=>'check_action', :class=>'btn btn-primary',:method=>:post}) do %>
            <i class="icon-random"></i>&nbsp;Check production order
          <% end %>
        <% else %>
          <%= link_to({:action => 'create_production_order',:controller => :data_sets,:id => @data_set.id,:params => params, :disabled => true}, {:id=>'create_action', :class=>'btn btn-primary btn-disabled',:method=>:post}) do %>
            <i class="icon-random"></i>&nbsp;Create production order
          <% end %>
          <%= link_to({:action => 'checked_production_order',:controller => :data_sets,:id => @data_set.id,:params => params}, {:id=>'check_action', :class=>'btn btn-primary',:method=>:post}) do %>
            <i class="icon-random"></i>&nbsp;Check production order
          <% end %>

        <% end %>
        <%= link_to({:action => :index}, {:class => 'btn',:title=>'Back to process data'}) do %>
          <i class="icon icon-arrow-left"></i>
        <% end %>
      </div>
    </div>

  </div>

  <script>
    var complete = false
  <% if @matchreport %>
      complete = <%= @matchreport.complete %>
  <% end %>
    function data_complete()
    {
      complete = true
      $('.include_checkbox').each(function() {
        if (!$(this).prop('checked')) {
          complete = false

        }
      })
      return complete
    }

    function no_data_selected()
    {
      none = true
      $('.include_checkbox').each(function() {
        if ($(this).prop('checked')) {
          none = false
        }
      })
      return none
    }

    $('.include_checkbox').click(function(){
      if (data_complete()) {
        $("#error_explanation").fadeOut()
        $('#overrule_missing').attr('checked',false)
      }
      else
      {
        $("#error_explanation").show()
        $('#overrule_missing').attr('checked',false)
      }

    })


    function submit(action, method, values) {
      var form = $('<form/>', {
        action: action,
        method: method
      });
      console.log(values)
      $.each(values, function() {
        console.log($(this))
        form.append($('<input/>', {
          type: 'hidden',
          name: this.name,
          value: this.value
        }));
      });
      console.log(form)
      form.appendTo('body').submit();
    }

    function set_loglevel(loglevel) {
      $('div[data-logging_level]').each(function(){
        if ((parseInt($(this).attr('data-logging_level'))) > loglevel) {
          $(this).addClass('hidden')
        }
        else
        {
          $(this).removeClass('hidden')
        }
      })
    }


    $('#create_action').click(function(){
    
      if (!data_complete()) {
        if (!no_data_selected() && !$('#overrule_missing').prop('checked')) {
          alert('Please check that the implications are understood')
        }
        else
        {
          if (no_data_selected())
          {
            alert('Please select at least one process data item to be used')
          }
          else
          {
            submit("<%=  url_for({:action => 'create_production_order',:controller => :data_sets,:id => @data_set.id})%>" ,"POST",$('#source_data_form').serializeArray())
            return false;
          }
        }
      }
      else
      {
        submit("<%=  url_for({:action => 'create_production_order',:controller => :data_sets,:id => @data_set.id})%>" ,"POST",$('#source_data_form').serializeArray())
        return false;
      }
      return false
    })

    $('#check_action').click(function(){
      submit("<%=  url_for({:action => 'checked_production_order',:controller => :data_sets,:id => @data_set.id})%>" ,"POST",$('#source_data_form').serializeArray())
      return false;
    })

    $("#loglevel").select2();
    $("#loglevel").change(function(){
      var selected = parseInt($("#loglevel").val());
      set_loglevel(selected);
    })
    set_loglevel(parseInt($("#loglevel").val()));

  </script>

