<% @submit_str = "Check" %>
<div class="row">
  <div class="span12 bounded bounded-headered">
    <div class="row bounded-header">
      <div class="span7"><h4>Check production order for <%= @data_set.name %> in project <%= Project.find(session[:project_id]).name %></h4></div>
    </div>
    <div class="row">
      <%= form_tag(url_for(:action => :checked_production_order, :id => @data_set.id),{:id => 'create_order'}) do %>
        <%= render :partial => "production_order" %>
     <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="span1">
    <%= link_to({:action => :index},{:class => 'btn'}) do %>
      <i class="icon icon-arrow-left" title="Back to process data">&nbsp;</i>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  var myApp;
  myApp = myApp || (function () {
    var pleaseWaitDiv = $('<div class="modal hide" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false"><div class="modal-header"><h4>Processing...</h4></div><div class="modal-body"><div class="progress progress-striped active"><div class="bar" style="width: 100%;"></div></div></div></div>');
    return {
      showPleaseWait: function() {
        pleaseWaitDiv.modal();
      },
      hidePleaseWait: function () {
        pleaseWaitDiv.modal('hide');
      }
    };
  })();

  $("#create_order").submit(function( event ) {
    if ( $("#cvtool_bundle_id").val() == '' ){
      event.preventDefault();
      $('#form-val').html('Fails');
      $('#form-val').fadeIn();
      return false
    }
    myApp.showPleaseWait();
  });

  // When user is using "back" these depended select needs to be filled again
  if ($('#product_design_id').val() != ''){
    render_data_set_preselection($('#product_design_id').val())
  }
  if ($("#conversiontool_id").val() != ''){
    $("#conversiontool_id").trigger("change");
    $("#cvtool_bundle_id").select2("val",$("#fallback_cvtool_bundle_id").val());
  }
</script>