<div class="row">
  <%= form_for(@data_set, :url => duplicate_data_set_path(@data_set)) do |f| %>
    <div class="span7 bounded bounded-headered">
      <div class="row bounded-header">
        <div class="span7"><h4>Create new Data set based on "<%= @data_set.name %>"</h4></div>
      </div>
      <div class="row">
        <div class="span2"><strong>Supplier</strong></div>
        <div class="span2"><%= @data_set.company_abbr.company_name if @data_set.company_abbr %>
          <small>( <%= @data_set.company_abbr.ms_abbr_3 if @data_set.company_abbr %> )</small>
        </div>
      </div>
      <div class="row">
        <div class="span2"><strong>Coverage</strong></div>
        <div class="span2"><%= @data_set.region.name if @data_set.region %>
          <small>( <%= @data_set.region.region_code if @data_set.region %> )</small>
        </div>
      </div>
      <div class="row">
        <div class="span2"><strong>Data type</strong></div>
        <div class="span1"><%= @data_set.data_type.name if @data_set.data_type %></div>
        <div class="span2"><%= @data_set.filling.name if @data_set.filling %></div>
      </div>
      <div class="row">
        <div class="span7"><hr /></div>
      </div>
      <div class="row">
        <div class="span2"><strong>Choose new Release</strong></div>
      </div>
      <div class="row">
        <div class="span2">
            <%= f.select :data_release_id, options_for_select(@company_abbr_data_releases,'') ,{:include_blank => true},:class => 'span2 validate',:required => 'required',:data=>{:placeholder=>"Release" }%>
        </div>
        <div class="span1 pull-right">
          <%= f.submit 'Create DS', :class=>'btn' %>
        </div>
        <div class="span1 pull-right">
          <%= link_to 'Cancel', data_sets_path, :class => 'btn' %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $("#data_set_data_release_id").select2({allowClear:true});
  $("select.validate").attr('style','display:block');
</script>