<%= render 'form' %>
<div class="row">
  <div class="span12">
    <%= link_to :back, :class => 'btn',:title => 'back to previous page' do %>
      <i class="icon icon-arrow-left"></i>
    <% end %>

    <%= link_to data_sets_path, :class => 'btn',:title => 'back to overview' do %>
      <i class="icon icon-arrow-up"></i>
    <% end %>
    <%= link_to handle_data_set_path(@data_set),:class => 'btn', :title => "handle" do %>
      <i class="icon-tasks"></i>
    <% end %>
    <%= link_to edit_process_data_elements_data_set_path(@data_set),:class => 'btn',:title => "edit data set files" do %>
      <i class="icon-pencil"></i>
    <% end %>
    <%= link_to @data_set,:class => 'btn',:title => 'show' do %>
      <i class="icon icon-eye-open"></i>
    <% end %>
  </div>
</div>
