<div class="row">
  <div class="span12">
    <span class="label label-info"><%= @data_set.status_string %></span>
    <span class="label">Version <%= @data_set.version %></span>
    <small><%= @data_set.generate_directory %></small></div>
</div>
<div class="row">
  <div class="span12 bounded bounded-headered flat-roof">
    <div class="row bounded-header">
      <div class="row">
        <div class="span11"><h4>Edit data set files for <%= @data_set.label(true) %></h4></div>
      </div>
    </div>
    
    <div class="row">
      <div class="span12">
        <%= link_to(data_sets_path,:class => "btn", :title => "overview") do %>
        <i class="icon-arrow-up"></i>
        <% end %>
        <button type="button" class="btn" id="btnBrowse" title="Show files stored on file server"><i class="icon-folder-open">&nbsp;</i>Browse directory</button>
        <button type="button" class="btn" id="btnSync" title="Sync files with data set"><i class="icon-repeat">&nbsp;</i>Sync structure</button>
        <button type="button" class="btn" id="btnValidate" title="Validate the file structure"><i class="icon-ok-sign">&nbsp;</i>Validate structure</button>
        <button type="button" class="btn" id="btnNew" title="Add a new direcotry to the data set"><i class="icon-plus-sign">&nbsp;</i>New element</button>
        <%= select_tag "poi_mapping_layout_id",options_for_select(['','']+PoiMappingLayout.order(:source_filename).all.collect{|p|["#{p.source_filename}","#{p.id}"]},@data_set.poi_mapping_layout_id),{:class => 'span4 pull-right',:data=>{:placeholder=>"Front-end POI Mapping Layout file (Optional)"} } %>
      </div>
    </div>
    <div class="row hidden" id="errorMsg">
      <div class="span7">
        <div class="alert alert-error">
          error
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <table class="table table-striped table-condensed table-hover">
          <th style="color: gray"><span id="elementCounter"><%= @data_set.process_data_elements.active.size %></span> Element(s)</th>
          <th>Reception</th>
          <th>Directory</th>
          <th>Split by</th>
          <th>Specification</th>
          <tbody id="elementLines">
            <%= render :partial => "process_data_element", :collection => @data_set.process_data_elements.active.order(:directory) %>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>

<div id="myModal" class="modal large hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="myModalLabel">Modal header</h4>
  </div>
  <div class="modal-body" id="myModalBody" style="overflow:hidden;">
    <div class="row">
      <div class="span5">
        Model body
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" id="myModalSubmit" name="ModalSubmit">Submit</button>
  </div>
</div>

<div id="file_tree_modal"></div>

<div class="row">
  <div class="span12">
    <%= link_to :back, :class => "btn", :title => "back" do %>
     <i class="icon-arrow-left"></i>
    <% end %>
    <%= link_to(data_sets_path,:class => "btn", :title => "overview") do %>
      <i class="icon-arrow-up"></i>
    <% end %>
    <%= link_to(handle_data_set_path(@data_set),:class => "btn", :title => "handle") do %>
      <i class="icon-tasks"></i>
    <% end %>
    <%= link_to(edit_data_set_path(@data_set),:class => "btn", :title => "edit") do %>
      <i class="icon-edit"></i>
    <% end %>
    <%= link_to(@data_set,:class => "btn", :title => "show") do %>
      <i class="icon-eye-open"></i>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  $("#myModal").on('hidden', function () {
    // cleanup for next use
    $("#myModalLabel").html('');
    $("#myModalBody").html('');
    $("#myModal [name='ModalSubmit']").attr('id','myModalSubmit');
  });

  $("#poi_mapping_layout_id").select2({allowClear:true});
  $("#poi_mapping_layout_id").change(function(){
    $.post( '<%= url_for(:action => :save_poi_mapping_layout,:controller => :data_sets,:id => @data_set.id) %>', {
        poi_mapping_layout_id:$(this).val() }, function( data ) {
        if (data.contains('ERROR:')){
          errorMessage(data);
        } else {
          errorMessage('');
        }
      })
  });

  $("#btnBrowse").click(function(){
    $.get('<%= url_for(browse_directory_data_set_path(@data_set)) %>', function( data ) {
      $("#file_tree_modal").html(data);
      $('#myModalFileTree').modal("show");
    });
  });

  function selectListItems(obj) {
    if ( obj.region.country_iso3_code != null) {var countrylabel = obj.region.country_iso3_code}
    else {var countrylabel = obj.region.area_code }

    var dr = '<div class="row" style="background-color:#FBFBFC">';
    var cd = '</div>';
    var sp1 = '<div class="span1">';

    var markup = dr;
    markup += sp1 + '<strong>' + obj['id'] + '</strong>' + cd;
    markup += sp1 + '<strong>' + obj.data_type.name + '</strong>'  + cd;
    markup += sp1 + obj.data_release.company_abbr.company_name + cd;
    markup += sp1 + countrylabel + cd;
    markup += sp1 + obj.data_release.name + cd;
    markup += sp1 + obj.reception_date+ cd;
    markup += cd;

    return markup;
  }
  
  function selectedValue(obj) {
    return (obj.id);
  }

  function receptionsForSelect(){
    $('[name="reception_id"]').select2({
      placeholder: "Reception Id",
      allowClear: true,
      minimumInputLength: 3,
      ajax: { 
        url: "<%= escape_javascript(url_for(:action => 'receptions_for_select')) %>.json",
        dataType: 'json',
        quietMillis: 100,
        data: function (term, page) {

          return {
            q: term, // search term
            page_limit: 50,
            page: page
          };
        },
        results: function (data, page) {
          var more = (page * 50) < data.total;
            return {results: data, more: more};
        }
      },
      formatResult: selectListItems,
      formatSelection: selectedValue,
      dropdownCssClass: "bigdrop"

    });
    $('[id^=s2id_autogen] span:first').text($('[name="reception_id"]').val());
  }

  function errorMessage(msg){
    if (msg == ''){
      $("#errorMsg").addClass("hidden");
    } else {
      $("#errorMsg .alert-error").html(msg)
      $("#errorMsg").removeClass("hidden");
    }
  }
  
  $("#btnNew").click(function(){
    $("#myModalLabel").html('Add new element to data set');
    $("#myModal [name='ModalSubmit']").attr('id','submitElement');
    $("#myModalBody").html('<%= escape_javascript(render :partial => "modal_form_element") %>');
    $("#myModal").modal("show");
    receptionsForSelect();
  })

  $("#btnSync").click(function(){
    $.post( '<%= url_for(:action => :sync_with_directory_structure,:controller => :data_sets,:id => @data_set.id) %>', {
        }, function( data ) {
        if (data.contains('ERROR:')){
          errorMessage(data);
        } else {
          errorMessage('');
          $("#elementLines").html(data);
          $.get( '<%= url_for(:action => :element_counter,:controller => :data_sets,:id => @data_set.id) %>',function(data){
            $("#elementCounter").html(data)
          })
          
          flash_on_demand("success","Sync succesful","Element directories are now in sync with file system.");
        }
      })
  })

  $("#btnValidate").click(function(){
    $.get( '<%= url_for(:action => :validate_structure,:controller => :data_sets,:id => @data_set.id) %>',function(data){
      if (data.contains('ERROR:')){
        errorMessage(data);
      } else {
        errorMessage('');
        flash_on_demand("success","Validation",data);
      }
    })
  })

  $('body').on('click',"[id^=btnDeleteEl-]",function(){
    if (confirm('Are you sure to remove this element and its directory?')) {
      var id = $(this).attr('id').match(/\d+/);
      $.post( '<%= url_for(:action => :remove_process_data_element,:controller => :data_sets,:id => @data_set.id) %>', {
        process_data_element_id:id }, function( data ) {
        if (data.contains('ERROR:')){
          errorMessage(data);
        } else {
          errorMessage('');
          $("#elementLines").html(data);
          $("#elementCounter").html((parseInt($("#elementCounter").html()) - 1) + '')
        }
      })
    }
  });

 $('body').on('click',"[id^=btnEditEl-]",function(){
   var id = $(this).attr('id').match(/\d+/);
   $("#myModalLabel").html('Edit data set element');
   $("#myModal [name='ModalSubmit']").attr('id','submitElement');
   $("#myModalBody").html('<%= escape_javascript(render :partial => "modal_form_element") %>');
   var attrObj = jQuery.parseJSON( $("#fieldAttributes-"+id).val() );
   $("#process_data_element_id").val(attrObj.id);
   $('[name="reception_id"]').val(attrObj.reception_id)
   receptionsForSelect();
   $('[name="process_data_specification_id"]').val(attrObj.process_data_specification_id).select2("val",attrObj.process_data_specification_id);
   $('[name="split_by_value"]').val(attrObj.split_by_value);
   if ( $('[name="split_by_value"]').val() != '' ){
    $('[name="split_by_value"]').removeAttr('disabled').removeClass("disabled").select2("val",attrObj.split_by_value).select2("enable",true);
   }
   $("#myModal").modal("show");
 });

 $('body').on('click',"[id^=btnLogEl-]",function(){
   var id = $(this).attr('id').match(/\d+/);
   $("#myModalLabel").html('Add action log for data set element');
   $("#myModal [name='ModalSubmit']").attr('id','submitLog');
   $("#myModalBody").html('<%= escape_javascript(render :partial => "modal_form_element_action_log") %>');
   $("#myModal [name='process_data_element_id']").val(id);
   $('[name="process_data_sub_event_id"]').select2();
   $("#myModal").modal("show");
 });
 
  $('body').on('click',"#submitElement",function(){
    $.post("<%= url_for(:action => :save_process_data_element,:id => @data_set.id) %>",{
      process_data_element_id:$("#process_data_element_id").val(),
      reception_id:$('[name="reception_id"]').val(),
      process_data_specification_id:$('[name="process_data_specification_id"]').val(),
      split_by_value:$('[name="split_by_value"]').val()
    },function ( data ){
      $("#myModal").modal("hide");
      if (data.contains('ERROR:')){
        errorMessage(data);
      }
      else{
        errorMessage('');
        $("#elementLines").html(data);
        $("#myModal").modal("hide");
        if ( $("#process_data_element_id").val() == '' ){
          var element_count = (parseInt($("#elementCounter").html()) + 1) + ''
          $("#elementCounter").html(element_count);
        }
      }
    });
  });
</script>