<% if @datatype_fillings.empty? %>
  $("#fillingSelect").html('N/A');
<% else %>
  $("#fillingSelect").html('<%= escape_javascript(render :partial => 'filling_select', :object =>  [@datatype_fillings,@data_set]) %>');
  $("#data_set_filling_id").select2({allowClear:true});
  $("select.validate").attr('style','display:block');
<% end %>
