<div class="row">
  <div class="span12">
    <span class="label label-info"><%= @data_set.status_string %></span>
    <span class="label">Version <%= @data_set.version %></span>
    <small><%= @data_set.generate_directory %></small></div>
</div>
<div class="row">
    <div class="span12 bounded bounded-headered flat-roof">
      <div class="row bounded-header">
        <div class="span7"><h4>Handle Data set: <%= @data_set.name %></h4></div>
      </div>
      <%= render "show_data" %>
    
      <div class="row">
        <div class="span11">
          <% if @data_set.allow_remove? %>
            <%= link_to({:action => :change_status,:id => @data_set.id,:status => DataSet::STATUS_REMOVED},{:class => 'btn btn-danger',:id => "status_removed",:method => :post,:title => "remove data set",:confirm => "Are you sure to remove this data set?"}) do %>
              <i class="icon icon-trash">&nbsp;</i>Remove
            <% end %>
          <% end %>
          <% if @data_set.status == DataSet::STATUS_REMOVAL_CANDIDATE %>
            <%= link_to({:action => :change_status,:id => @data_set.id,:status => DataSet::STATUS_DRAFT},{:class => 'btn btn-success',:id => "status_draft",:method => :post,:title => "revert removal candidate",:confirm => "Are you sure to prevent removal of this data set?"}) do %>
              <i class="icon icon-step-backward">&nbsp;</i>Undo removal
            <% end %>
          <% else %>
            <%= link_to({:action => :change_status,:id => @data_set.id,:status => DataSet::STATUS_REMOVAL_CANDIDATE},{:class => 'btn btn-danger disabled',:id => "status_removal_candidate",:method => :post,:title => "disable data set en enable removal possibility",:confirm => "Are you sure to disable this data set?"}) do %>
              <i class="icon icon-trash">&nbsp;</i>Removal candidate
            <% end %>
          <% end %>
          <%= link_to({:action => :change_status,:id => @data_set.id,:status => DataSet::STATUS_WAITING_DELIVERY},{:class => 'btn disabled',:id => "status_waiting_delivery",:method => :post,:title => "change status for awaiting reception"}) do %>
            <i class="icon icon-time">&nbsp;</i>Waiting delivery
          <% end %>
          <%= link_to({:action => :new,:data_set_id => @data_set.id,:controller => :receptions},{:class => 'btn disabled',:id => "create_reception",:title => "create reception based on this data set"}) do %>
            <i class="icon icon-inbox">&nbsp;</i>Create reception
          <% end %>
          <button type="button" class="btn disabled" id="requestReviewBtn" title="select a user for reviewing this data set"><i class="icon icon-certificate">&nbsp;</i>Request review</button>
          <% if @data_set.allow_review? %>
            <button type="button" class="btn disabled" id="reviewBtn" title="approve or disapprove this data set"><i class="icon icon-certificate">&nbsp;</i>Review results</button>
          <% end %>
          <%= link_to({:action => :change_status,:id => @data_set.id,:status => DataSet::STATUS_PRODUCTION},{:class => 'btn disabled',:id => "status_production",:method => :post,:title => "set to production"}) do %>
            <i class="icon icon-ok-sign">&nbsp;</i>Set to production
          <% end %>
          <%= link_to({:action => 'check_production_order',:controller => :data_sets,:id => @data_set.id},:class => 'btn disabled',:title => "check and create production order",:id => "create_order") do %>
            <i class="icon-random"></i>&nbsp;Create production order
          <% end %>
        </div>
      </div>
    </div>
</div>

<div id="renderDsGroups">
<%= render :partial => "handle_ds_groups", :object => @data_set %>
</div>

<div class="row">
  <div class="span12">
    <%= link_to :back, :class => 'btn',:title => 'back' do %>
      <i class="icon icon-arrow-left"></i>
    <% end %>
    <%= link_to data_sets_path, :class => 'btn',:title => 'overview' do %>
      <i class="icon icon-arrow-up"></i>
    <% end %>
    <%= link_to @data_set,:class => 'btn',:title => 'show' do %>
      <i class="icon icon-eye-open"></i>
    <% end %>
    <%= link_to edit_data_set_path(@data_set),:class => 'btn',:title => "edit" do %>
      <i class="icon-edit"></i>
    <% end %>
    <%= link_to edit_process_data_elements_data_set_path(@data_set),:class => 'btn',:title => "edit data set files" do %>
      <i class="icon-pencil"></i>
    <% end %>
    <%= next_prev_button("prev") %>
    <%= next_prev_button("next") %>
  </div>
</div>

<div id="requestReviewModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="requestReviewModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="requestReviewModalLabel">Request review</h3>
  </div>
  <div class="modal-body" id="requestReviewModalBody">
    <% if !@data_set.review_user_id.blank? %>
    <p>A previous request is pending, are you sure to request a review?</p>
    <% end %>
    <div class="row">
      <div class="span5">
        <strong>Pick a user</strong>
      </div>
    </div>
    <div class="row">
      <div class="span5">
        <% DataSet.reviewers.collect{|u|[u.full_name,u.id]}.uniq.sort.each do |user| %>
          <% next if current_user.id == user[1] %>
          <label class="radio">
            <input type="radio" value="<%= user[1] %>" name="reviewers" id="<%= user[1] %>"/>
            <%= user[0] %>
          </label>
        <% end %>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" type="button" id="btnSendReview">Send request</button>
  </div>
</div>

<div id="ReviewResultModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="ReviewResultModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="ReviewResultModalLabel">Review result</h3>
  </div>
  <div class="modal-body" id="ReviewResultModalBody">
    <div class="row">
      <div class="span5">
        <textarea rows="10" class="input span5" placeholder="conclusion of your review" id="reviewRemark"></textarea>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" id="btnRejectReview" title="disapprove changes to data set"><i class="icon icon-thumbs-down"></i></button>
    <button type="button" class="btn btn-success" id="btnApproveReview" title="approve changes to data set"><i class="icon icon-thumbs-up"></i></button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<script type="text/javascript">
  <% if @data_set.allow_reception? %>
    $("#create_reception").removeClass("disabled");
  <% end %>
  <% if ( @data_set.status_allowed?(DataSet::STATUS_PRODUCTION) && Project.default?(session[:project_id]) ) || ( Rails.env != 'production' &&  @data_set.status != DataSet::STATUS_PRODUCTION )%>
    $('#status_production').removeClass("disabled");
  <% end %>
  <% if @data_set.status_allowed?(DataSet::STATUS_REMOVED) && Project.default?(session[:project_id]) %>
    $('#status_removed').removeClass("disabled");
  <% end %>
  <% if @data_set.status == DataSet::STATUS_PRODUCTION && Project.default?(session[:project_id]) %>
    $('#create_reception').removeClass("disabled");
  <% end %>
  <% if @data_set.allow_production_order? %>
    <% if (env_production? && @data_set.status != DataSet::STATUS_TEST ) || (!env_production?) %>
    $("#create_order").removeClass("disabled");
    <% end %>
  <% end %>
  <% if @data_set.allow_review? && Project.default?(session[:project_id]) %>
    $("#reviewRow").removeClass("hidden");
  <% end %>
  <% if @data_set.status_allowed?(DataSet::STATUS_WAITING_DELIVERY) %>
    $('#status_waiting_delivery').removeClass("disabled");
  <% end %>
  <% if @data_set.allow_removal_candidate? %>
    $('#status_removal_candidate').removeClass("disabled");
  <% end %>
  <% if @data_set.allow_review? && @data_set.review_user_id == current_user.id %>
    $("#reviewBtn").removeClass("disabled").addClass("btn-warning").click(function(){
      $("#ReviewResultModal").modal("show");
      $("#btnRejectReview").click(function(){
        var remark = $("#reviewRemark").val();
        $.post('<%= url_for(review_result_data_set_path(@data_set)) %>',{review_result:remark,result:"disapprove"},function(data){
        var msgType = data.split(':')[0];
        var msgBody = data.split(':')[1];
        $("#ReviewResultModal").modal("hide");
        flash_on_demand(msgType,"Data set disapproval",msgBody);
        location.reload();
        });
      });
      $("#btnApproveReview").click(function(){
        var remark = $("#reviewRemark").val();
        $.post('<%= url_for(review_result_data_set_path(@data_set)) %>',{review_result:remark,result:"approve"},function(data){
        var msgType = data.split(':')[0];
        var msgBody = data.split(':')[1];
        $("#ReviewResultModal").modal("hide");
        flash_on_demand(msgType,"Data set approval",msgBody);
        location.reload();
        });
      });
    });
  <% end %>
  <% if @data_set.allow_request_review? && Project.default?(session[:project_id]) %>
    $("#requestReviewBtn").removeClass("disabled").click(function(){      
      $("#requestReviewModal").modal("show");
      $("#btnSendReview").click(function(){
        var name = $('input[name=reviewers]:checked').val();
        $.post('<%= url_for(request_review_data_set_path(@data_set)) %>',{review_user_id:name},function(data){
          $("#requestReviewModal").modal("hide");
          if (data.contains('ERROR:')){
            $("#errorMsg").html("<strong>Review request aborted</strong><br />" + data);
            $("#errorRow").removeClass("hidden");
            $("#reviewRow").addClass("hidden");
          } else {
            $("#reviewerName").html(data);
            $("#errorRow").addClass("hidden");
            $("#reviewRow").removeClass("hidden");          
            location.reload();
          }
        });
      });
    });
  <% end %>
  // auto collapse files list in case of long list
  <% if @data_set.process_data_elements.active.size > 10 %>
   $(".collapse").collapse()
   $("#btnCollapse").addClass("btn-info")
  <% end %>
</script>