<div class="row">
  <div class="span9 bounded bounded-headered">
    <div class="row bounded-header">
      <div class="span8"><h4>Data set: <%= @data_set.name %> version <%= @data_set.version %>.</h4></div>
      <div class="span1 pull-right"><strong>Status:</strong> <%= @data_set.status_string %></div>
    </div>
    <div class="row">
      <div class="span7">
        <div class="alert alert-error">
          You are not allowed to edit this data set because the following <strong>active</strong> production order(s) are using this data set.<br />
          The orders should be finalized before editing is allowed.
        </div>
      </div>
    </div>
      <% @production_orders.each do |production_order| %>
      <div class="row">
        <div class="span1">
          <%= link_to production_order.id, production_order, :target => "_blank" %>
        </div>
        <div class="span5">
          <%= production_order.name %>
        </div>
        <div class="span2">
           <%= production_order.project.name %>
        </div>
      </div>
      <% end %>
    </div>
</div>

<div class="row">
  <div class="span9 bounded bounded-headered">
    <div class="row bounded-header">
      <div class="span8"><h4>Active conversion jobs</h4></div>
    </div>
    <% @data_set.conversion_jobs.outstanding.each do |job| %>
      <div class="row">
        <div class="span1">
          <%= link_to job.id, job, :target => "_blank" %>
        </div>
        <div class="span1">
          <%= job.status_str %>
        </div>
        <div class="span6">
          <%= job.label %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="span12">
    <%= link_to :back, :class => 'btn',:title => 'back to previous page' do %>
      <i class="icon icon-arrow-left"></i>
    <% end %>
    <%= link_to data_sets_path, :class => 'btn',:title => 'back to overview' do %>
      <i class="icon icon-arrow-up"></i>
    <% end %>
    <%= link_to @data_set,:class => 'btn', :title => "show" do %>
      <i class="icon-eye-open"></i>
    <% end %>
    <%= link_to handle_data_set_path(@data_set),:class => 'btn', :title => "handle" do %>
      <i class="icon-tasks"></i>
    <% end %>
    <%= link_to edit_data_set_path(@data_set),:class => 'btn',:title => "edit" do %>
      <i class="icon-edit"></i>
    <% end %>
    <%= link_to edit_process_data_elements_data_set_path(@data_set),:class => 'btn',:title => "edit data set files" do %>
      <i class="icon-pencil"></i>
    <% end %>
  </div>
</div>