<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand">
        <strong>
          Data sets
        </strong>
      </div>

        <%= form_tag data_sets_path, :method => 'get' do %>
        <div class="span">
          <div class="input-bar">
          <label class="checkbox">
            <%= check_box_tag :removed, "1", @removed,{ :data => { "text-label" => "removed", "on-label" => "Include", :size => "normal", :on => "success", :off => "default", "off-label" => "excluded"}} %>
          </label>
          </div>
      </div>
      <div class="span">
          <div class="input-bar">
            <label class="checkbox">
              <%= check_box_tag :removal, "1", @removal,{ :data => { "text-label" => "removals", "on-label" => "Include", :size => "normal", :on => "success", :off => "default", "off-label" => "excluded" } } %>
            </label>
          </div>
        </div>
      <div class="span">
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <div class="input-prepend input-append">
            <%= link_to("New",{:action => :new},{:class => 'btn btn-info'}) if env_production? %>
            <%= text_field_tag :search, params[:search], :placeholder=>" search" %>
            <%= button_tag "Search", :name => nil, :type => :submit, :class => "btn" %>
            <%= button_tag "Reset", :name => 'reset',:class=>"btn",:type=>:submit %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div id="endless">
  <div class="row">
    <div class="span1">&nbsp;</div>
    <div class="span0_5"><strong>&nbsp;<%= sortable "data_sets.id", 'ID',true, [], "exact.data_sets.id" %></strong></div>
    <div class="span2"><strong><%= sortable "data_sets.name", 'Name',true %></strong></div>
    <div class="span2"><strong><%= sortable "company_abbrs.company_name", 'Supplier', true, DataSet.all.collect{|d| [d.company_abbr.company_name,d.company_abbr_id] if d.company_abbr && d.company_abbr.company_name != nil}.uniq.compact.sort, "exact.company_abbrs.id" %></strong></div>
    <div class="span1"><strong><%= sortable "data_releases.name", 'Data release',true, DataSet.all.collect{|d| [d.data_release.name,d.data_release_id] if d.data_release && d.data_release.name != nil}.uniq.compact.sort, "exact.data_releases.id" %></strong></div>
    <div class="span2"><strong><%= sortable "regions.name", 'Coverage',true, DataSet.all.collect{|d| [d.region.name,d.region_id] if d.region && d.region.name != nil}.uniq.compact.sort, "exact.regions.id" %></strong></div>
    <div class="span1"><strong><%= sortable "data_types.name", 'Data type',true, DataSet.all.collect{|d| [d.data_type.name,d.data_type_id] if d.data_type && d.data_type.name != nil}.uniq.compact.sort, "exact.data_types.id" %></strong></div>
    <div class="span1"><strong><%= sortable "fillings.name", 'Filling',true, DataSet.all.collect{|d| [d.filling.name,d.filling_id] if d.filling && d.filling.name != nil}.uniq.compact.sort, "exact.fillings.id" %></strong></div>
    <div class="span1"><strong><%= sortable "data_sets.status", 'Status',true,DataSet.status_array, "exact.data_sets.status"  %></strong></div>
  </div>

  <%= render(:partial => "data_set", :collection => @data_sets,:params => params) %>
</div>
<%= will_paginate(@data_sets) %>
<%= pageless(@data_sets.total_pages, url_for(:controller => :data_sets,:action => :index,:params => params), "#endless") %>

<script type="text/javascript">
  $("#removed").bootstrapSwitch();
  $("#removal").bootstrapSwitch();
  $('select').filter(".column_search").chosen({allow_single_deselect:true});
  $("#removed").on('switch-change', function() {
    $("form:first").submit()
  });
  $("#removal").on('switch-change', function() {
    $("form:first").submit()
  });
</script>
