<div class="row">
  <div class="span12">
    <span class="label label-info"><%= @data_set.status_string %></span>
    <span class="label">Version <%= @data_set.version %></span>
    <small><%= @data_set.generate_directory %></small></div>
</div>
<div class="row">
    <div class="span12 bounded bounded-headered flat-roof">
      <div class="row bounded-header">
        <div class="span8"><h4><span class="badge badge-inverse"><%= @data_set.id %></span> Data set: <%= @data_set.name %></h4></div>
      </div>
      <%= render "show_data" %>
      <% if !@data_set.involved_receptions.empty? %>
      <div class="row">
        <div class="span12"><h4>Related Reception(s)</h4></div>
      </div>
      <% @data_set.involved_receptions.each do |reception| %>
      <div class="row">
      <div class="span1"><%= link_to(reception.id, {:action => :show, :controller => :receptions, :id => reception.id}, {:target => '_blank'}) %></div>
      <div class="span4"><%= reception.core_tags.join(' ') %></div>
      <div class="span3"><% if !reception.data_set_version.blank?  %>based on version <%= reception.data_set_version %><% end %></div>
      </div>
      <% end %>
      <% end %>    
    </div>
</div>

<%= render :partial => "handle_ds_groups", :object => @data_set %>

<div class="row">
  <div class="span12 bounded bounded-headered">
    <div class="row bounded-header">
      <h4>Conversion(s) with this data set</h4>
    </div>
    <div class="row">
      <div class="span0_5"><strong>ID</strong></div>
      <div class="span4"><strong>Label</strong></div>
      <div class="span2"><strong>Status</strong></div>
      <div class="span3"><strong>Conversion tool/bundle</strong></div>
      <div class="span2"><strong>Project name</strong></div>
    </div>
    <% @data_set.conversions.uniq.each do |conversion| %>
    <div class="row">
      <div class="span0_5"><%= link_to conversion.id, conversion,:target => '_blank' %></div>
      <div class="span4"><%= conversion.label %></div>
      <div class="span2"><%= conversion.status_str %></div>
      <div class="span3"><%= conversion.conversion_tool_release %></div>
      <div class="span2"><%= Project.find(conversion.project_id).name %></div>
      <div class="span1"><button id="showJobs-<%= conversion.id %>" class="btn btn-mini">Jobs</button></div>
    </div>
    <% end %>
  </div>
</div>

<!-- Jobs Modal -->
<div id="jobModal" class="modal large hide fade" tabindex="-1" role="dialog" aria-labelledby="jobModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="jobModalLabel">Modal header</h4>
  </div>
  <div class="modal-body" id="jobModalBody">
    <p>No jobs available…</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<div class="row">
    <div class="span12 bounded bounded-headered">
      <div class="row bounded-header">
        <h4>Product(s) using this data set</h4>
      </div>
      <% @data_set.products.each do |product| %>
        <div class="row">
          <div class="span0_5"><%= link_to product.id, product_path(product),:target => '_blank' %></div>
          <div class="span2"><%= product.volumeid %></div>
          <div class="span4"><%= product.name %></div>
          <div class="span3">based on version <%= product.product_data_set_infos.where(:data_set_id => @data_set.id).last.data_set_version %></div>
        </div>
      <% end %>
    </div>
</div>

<div class="row">
  <div class="span12">
    <%= link_to :back, :class => 'btn',:title => 'back to previous page' do %>
      <i class="icon icon-arrow-left"></i>
    <% end %>
    <%= link_to data_sets_path, :class => 'btn',:title => 'back to overview' do %>
      <i class="icon icon-arrow-up"></i>
    <% end %>
    <% if session[:project_id] == Project.default.id %>
      <%= link_to handle_data_set_path(@data_set),:class => 'btn', :title => "handle" do %>
        <i class="icon-tasks"></i>
      <% end %>
      <%= link_to edit_data_set_path(@data_set),:class => 'btn',:title => "edit" do %>
        <i class="icon-edit"></i>
      <% end %>
      <%= link_to edit_process_data_elements_data_set_path(@data_set),:class => 'btn',:title => "edit data set files" do %>
        <i class="icon-pencil"></i>
      <% end %>
    <% end %>
    <%= next_prev_button("prev") %>
    <%= next_prev_button("next") %>
  </div>
</div>

<script type="text/javascript">
  $("[id^=showJobs-]").click(function(){
    var conversionID = $(this).attr("id").match(/[\d]+$/)[0];
    $("#jobModalLabel").html("<h4>Jobs for conversion " + conversionID + "</h4>");
    $.get( '<%= url_for(show_jobs_modal_data_set_path(@data_set)) %>',{ conversion_id: conversionID }, function( data ) {
      $("#jobModalBody").html(data);
      $("#jobModal").modal("show");
    });
  })
</script>