$("#coverage_list").html('<%= escape_javascript(render "coverage_regions", :object => [@coverage_regions,@data_set] )%>')
$('[id^=intermediate_]').each(function() {
      var match_elid = $(this).attr('id').replace ( /intermediate_/g, '' );
      $('#'+match_elid).val($(this).val())
});
$('#data_set_defintion_selector').val('').trigger('liszt:updated');
$('#save').html('');