<h3>Document ID Generator</h3>
<%= form_tag(:action => "create_number") do |f| %>
<div class="row">
  <div class="span2"><strong>Document type</strong></div>
  <div class="span1"><strong>Suffix<small>&nbsp;(optional)</small></strong></div>
  <div class="span5"><strong>Title</strong></div>
</div>
<div class="row">
  <div class="span2"><%= select_tag :name , options_for_select([['',nil]] + @types.collect {|c| [c.name.to_s , c.name.to_s ]}),{:class=>'span2'}%></div>
  <div class="span1"><%= text_field_tag :suffix,"", {:class => 'span1'} %></div>
  <div class="span5"><%= text_field_tag :title,"", {:class => 'span3'} %></div>
</div>
<div class="row">
  <div class="span2"><strong>Description</strong></div>
</div>
<div class="row">
  <div class="span7">
    <%= text_field_tag :remarks,"", {:class => 'span6'} %>
  </div>
</div>

  <% if @current_user.docrole != 'Others' %>
  <p>
    <b>Limited visibility</b><br />
    <%= check_box_tag 'extend_view', 'off', params[:extend_view]    %>
  </p>
  <% end  %>

  <span id="productrelated" style="display:none" >
    <p>
      <b>Year</b><br />
      <%= select_tag :year ,  options_for_select(["05","06","07","08","09","10","11","12","13","14","15"])%>
    </p>
    <p>
      <b>Supplier</b><br />
      <%= select_tag :supplier ,  options_for_select(CompanyAbbr.where("relation_type = 'SUPPLIER'").collect {|c| [c.company_name.to_s , c.company_id.to_s ]})%>
    </p>
    <p>
      <b>Quarter</b><br />
      <%= select_tag :quarter ,  options_for_select(["Q1","Q2","Q3","Q4"])%>
    </p>
    <p>
      <b>Rangetype</b><br />
      <%= select_tag :rangetype ,  options_for_select(AssetTypeNumberRange.all.collect {|c| [c.name.to_s , c.name.to_s ]}) %>
    </p>
  </span>
  <p>
    <%= submit_tag "Get ID", :class => 'btn btn-primary' %>
  </p>
<% end %>

<% if @nextnumber %>
  <div class="modal hide fade" id="showidModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">ID Generated</h3>
  </div>
  <div class="modal-body">
    <strong>Your ID is :</strong> <%= @nextnumber.to_s %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
  <script>$('#showidModal').modal('show')</script>
<% end %>
