<h3>Asset types</h3>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

<% for asset_type in @asset_types %>
  <tr>
    <td><%=h asset_type.name %></td>
    <td><%=h asset_type.description %></td>
    <td>
      <%= link_to(asset_type) do %>
        <i class="icon-eye-open" title="show">&nbsp;</i>
      <% end %>
    </td>
    <td>
      <%= link_to(edit_asset_type_path(asset_type)) do %>
        <i class="icon-edit" title="edit">&nbsp;</i>
      <% end %>
    </td>
    <td>
      <%= link_to(asset_type, :confirm => 'Are you sure?', :method => :delete) do %>
        <i class="icon-trash" title="delete">&nbsp;</i>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to(new_asset_type_path, :class=>'btn btn-mini btn-danger') do %>
<i class="icon-plus-sign">&nbsp;</i>New asset-type
<% end %>
