<h1>New asset_type</h1>

<% if @asset_type.errors.any? %>
  <ul>
    <% @asset_type.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for(@asset_type) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Code</b><br />
    <%= f.text_area :gencode %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', asset_types_path %>
