<h3>Asset-type "<%=h @asset_type.name %>"</h3>
<p>
  <b>Description:</b>
  <%=h @asset_type.description %>
</p>

<div class="row">
  <div class="span6 well">
    <h4>Code</h4>
    <code>
      <%=h @asset_type.gencode %>
    </code>
  </div>
</div>
<%= link_to 'Edit', edit_asset_type_path(@asset_type) %> |
<%= link_to 'Back', asset_types_path %>
