<div class="row" style="padding:3px">
  <div class="span1"><%= assembly_picker.source %>&nbsp;</div>
  <div class="span3"><a id="<%= assembly_picker.id %>" data-placement="right" rel="tooltip" href="#" title="<%=h assembly_picker.remarks %>"><%= assembly_picker.referenceid %></a>&nbsp;</div>

  <div class="span2"><%= assembly_picker.data_release.company_abbr.company_name %>&nbsp;</div>
  <div class="span2"><%= assembly_picker.data_release.name %>&nbsp;</div>
  <div class="span1"><%= assembly_picker.datatype %>&nbsp;</div>

  <div class="span1"><%= assembly_picker.region.name %>&nbsp;</div>
  <div class="span1"><a href="#filesModal<%= assembly_picker.id%>" role="button" class="btn btn-info btn-mini" data-toggle="modal"><i class="icon-map-marker">&nbsp;</i>Select</a></div>


  <div class="modal hide fade" id="filesModal<%= assembly_picker.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel"><%= assembly_picker.source %>&nbsp;<%= assembly_picker.referenceid %></h3>
    </div>
    <div class="modal-body">
     
        <fieldset>
          <div><input type="checkbox" class="checkall"><span class="label label-warning">check all</span> </div>
          <%  assembly_picker.storage_location.to_s.split("\n").each do |file| %>
            <% if file.strip.scan(/\/.*\/(.*[[\.gz][.sq3]]$)/).join != '' %>
              <% str = file.strip.scan(/\/.*\/(.*[[\.gz][.sq3]]\z)/).join %>
            <% else %>
              <% str = file %>
            <% end %>
            <label><%=  check_box_tag(escape_javascript("kcheck_#{file.chomp.gsub("/","-")}_reception_#{assembly_picker.id}"),'on',false, :file_id => "#{file.chomp}_reception_#{assembly_picker.id}", :file_path =>  "#{file.chomp}") %><small><%= str %></small></label>
            
            
            <script> 
                  $(function ($) {
                      $('#<%= escape_javascript("kcheck_#{file.chomp.gsub("/","-")}_reception_#{assembly_picker.id}") %>').click(function () {
                         
                         file_id = $(this).attr('file_id')
                         file_path = $(this).attr('file_path')
                         
                         $(this).parent().fadeOut('slow', function() {
                            //lookup package id in current step and add file resources and visualize
                             for(var i3=0; i3< current_step.input.length; i3++) {
                                console.log(i3);
                                if (current_step.input[i3].package_id == selected_design_id)
                                {
                                  
                                  if (current_step.input[i3].file_resources == undefined)
                                  {
                                    current_step.input[i3].file_resources = []
                                  }
                                  fileObject = new Object()
                                  fileObject.file_id = file_id
                                  fileObject.file_path = file_path
                                  encodedfile = $.toJSON( fileObject );
                                  $.post('<%= url_for :controller => 'product_designs', :action => 'get_files' %>' + '?executable=' + current_step.name  ,encodedfile, function(data) {
                                      
                                      //fileObject = data
                                       for(var i2=0; i2<data.length; i2++) {
                                        fileObject = new Object()
                                        fileObject.file_id = data[i2]
                                        fileObject.file_path = data[i2]
                                        current_step.input[0].file_resources.push(fileObject)
                                        render_filecontent(fileObject)
                                        
                                      }
                                      sync()
                                      
                                  });
                                  
                                  
                                  
                                }
                             }
                         });
                         
                      });
                   });    
             </script>
            
          <% end %>
          <hr>      
          <button id="filesModalClose<%= assembly_picker.id %>" class="btn pull-right"  aria-hidden="true">Close</button>
          <button id="filesModalAdd<%= assembly_picker.id %>" class="btn btn-primary pull-right" type="submit" name="filesmodel">Add lines</button>
        </fieldset>      
       
    </div>
  </div>
  <script>
    $(function ($) {
          $('#filesModalClose<%= assembly_picker.id %>').click(function () {
            $('#filesModal<%= assembly_picker.id %>').modal("hide")
          });
        });
        
    
  </script>
</div>