<% f = assembly_line %>

<div class="row" id="<%= f.id %>" >
  <div class="span2"><small><%= f.reference_id %>-<%= f.data_release_name if f.data_release_name %></small></div>
  <div class="span2"><small><%= f.area %>&nbsp;</small></div>
  <div class="span7"><small><%= f.file_name %>&nbsp;</small></div>
  <div class="span1">
    <% if f.file_name.to_s != '' %>
      <% if f.file_name.to_s.scan(/\stag4mre/)[0] %>
        <%=  link_to({:action => 'edit', :line_id => f.id,  :id => 1},{:remote => true}) do %>
          <i class="icon-refresh" title="remove tag">&nbsp;</i>
        <% end %>
      <% else %>
          <%=  link_to({:action => 'edit', :line_id => f.id,  :id => 1},{:remote => true}) do %>
            <i class="icon-road" title="add tag4mre">&nbsp;</i>
          <% end %>
      <% end %>
     <% end %>


    <%=  link_to({:action => 'edit', :line_id => f.id,  :id => f.assembly_header_id},{:remote => true}) do %>
    <i class="icon-trash" title="remove line">&nbsp;</i>
    <% end %>
    <span class="" id="message-<%= f.id %>"></span>
  </div>
</div>

