<%= select_tag("product_design[data_release_id]",options_for_select(@data_releases.collect {|c| [ c.name.to_s  , c.id ] }),{:include_blank => true,:class => 'span2',:data => {:placeholder => 'Data release'}}) %>
<script type="text/javascript">
  $('#product_design_data_release_id').chosen({allow_single_deselect:true});
</script>



