<div class="row">
  <div class="span3">
    <span class=""><a class="accordion-toggle" data-toggle="collapse" data-target="#header-properties" href="#collapseOn" title="Show/Hide header properties"><i class="icon-wrench">&nbsp;</i></a> </span>
    <span class="label label-inverse">Rev. <%= @product_design.version + 1 %></span>
    <span class="label label-info"><%= @product_design.status %></span>
  </div>
</div>

<%= form_for(@product_design) do |f| %>
  <%= f.hidden_field :lock_version %>
  <div id="header-properties" class="accordion-body collapse">
    <div class="row">
      <div class="span9 bounded">
        <div class="row">
          <div class="span3">
            <div class="row"><div class="span2"><strong>Status</strong></div></div>
            <div class="row">
              <div class="span2">
                <%= @product_design.status %>
              </div>
            </div>
            <div class="row"><div class="span2"><strong>Bug tracker ID</strong></div></div>
            <div class="row">
              <div class="span2">
                <%= f.text_field :bug_tracker_id,  :class => "span2", :placeholder => 'bug tracker ticket' %>
              </div>
            </div>
          </div>

          <div class="span6">
            <div class="row"><div class="span2"><strong>Comment</strong></div></div>
            <div class="row">
              <div class="span6"><%= f.text_area :comment, :class => 'span6', :rows => "3" %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% if @product_design.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@product_design.errors.count, "error") %> prohibited this product_design from being saved:
      </h2>
      <ul>
        <% @product_design.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% @pf = ProductFeature.all.limit(100) %>
  <% @dt = DataType.where('(isactive = 1 )') -%>
  <% @sdt = DesignTag.data_types -%>
  <%= f.hidden_field :modelhash %>
  <% modelhash = JSON.parse @product_design.model %><% form_picker= render :partial => 'popover_select_list' %>

  <div class="row">
    <div class="span12 bounded bounded-headered">
      <div class="row bounded-header">
        <div class="span12"><h4><%= @heading %>&nbsp;<%= @product_design.id %></h4></div>
      </div>
      <div class="row">
        <div class="span3"><strong><p class="lead">General information</p></strong></div>
      </div>
      <div class="row">
        <div class="span2"><strong>Type</strong></div>
      </div>
      <div class="row">
        <div class="span2"><%= f.select :design_type, ['','backend', 'frontend']  %></div>
      </div>
      <div class="row">
        <div class="span3"><strong>Name</strong></div>
        <div class="span3"><strong>Optional Coverage</strong></div>
        <div class="span3"><strong>Optional Data supplier</strong></div>
        <div class="span2"><strong>Optional Data release</strong></div>
      </div>
      <div class="row">
        <div class="span3"><%= f.text_field :name,:class => 'span3' %></div>
        <div class="span3"><%= f.select :region_id, Region.real_area_grouped_for_select,{:include_blank => true},{:class => 'span3',:data => {:placeholder => 'Optional Coverage'}} %></div>
        <div class="span3"><%= f.select :company_abbr_id ,CompanyAbbr.all.order(:company_name).collect {|c| [ c.name, c.id ] },{:include_blank => true},{:class => 'span3',:data=>{:placeholder=>"Optional Supplier"} } %></div>
        <div class="span" id="datarelease_div">
          <%= f.select :data_release_id, @data_releases_for_select.collect {|c| [ c.name.to_s  , c.id ] },{:include_blank => true}, {:class => 'span2',:data => {:placeholder => 'Optional Data release'}  } %>
        </div>
      </div>
      <div class="row">
        <div class="span9"><strong>Description</strong></div>
      </div>
      <div class="row">
        <div class="span11"><%= f.text_area :description, :rows => 2,:class => 'span11' %></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12 bounded">
      <div class="row">
        <div class="span3">
          <strong><p class="lead">Platform</p></strong>
        </div>
      </div>
      <div class="row">
        <div class="span3"><strong>Target&nbsp;platform</strong><br />
          <%= select_tag("product_line_id", options_for_select(@product_line_selection_list, modelhash["product_line"] ? modelhash["product_line"]["id"] : nil), include_blank: true, :class => 'span3') %>
        </div>

        <div class="span8">
          <strong>Product features</strong><br />
                      <%= select_tag "features",
              options_for_select(ProductFeature.option_list_for_product_line(modelhash["product_line"] ? modelhash["product_line"]["id"] : nil,session[:project_id])), {include_blank: true,   "data-placeholder" => "Add feature...", multiple: false, class: 'span8'} %>
        </div>
        <div class="row">
          <div class="span11 offset3">
            <div id="features_list" style="padding-left: 37px;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12 bounded">
      <div class="row">
        <div class="span3">
          <strong><p class="lead">Data</p></strong>
        </div>
      </div>
      <div class="row">
        <div class="span2"><strong>Input data</strong></div>
        <div class="span3">
          <%= select_tag "in_datatypes",
                  options_for_select([''] + @sdt.collect {|c| [c.name.to_s + " " + c.extended_description.to_s , c.meta_string.to_s ] }, {:include_blank => true }),  'data-placeholder' => "Choose 1 or more Input DataFormats", :multiple => false,:class=>'span3' %>
        </div>
        <div class="span1">&nbsp;</div>
        <div class="span2"><strong>Output data</strong></div>
        <div class="span3">
              <%= select_tag "out_datatypes",
                  options_for_select(@dt.collect {|c| [ c.name.to_s + " " + c.description.to_s  , c.meta_string ] }, {:include_blank => true, }),  :multiple => false,:class => 'span3' %>
        </div>
      </div>
      <div class="row">
        <div class="span5"><div id="input_datatypes_list"></div></div>
        <div class="span5 offset1"><div id="output_datatypes_list"></div></div>
      </div>
    </div>
  </div>

  <div style="display:none">
    <div class="row well">
      <div class="span1">
        <b>Conversion Steps</b>
      </div>
    </div>
    <div class="row">
      <div class="span6">
        <div id="conversion_steps_list" class="sortable" >

        </div>
        <hr />
        <div class="row">
          <div class="span2">
            Add conversion step
          </div>
          <div class="span3">
            <%= select_tag "conversion_steps",
              options_for_select(Executable.where('status!="new" AND status !="deleted"').collect {|c| [ c.name  , c.meta_string ] }, {:include_blank => true, }), :include_blank => true, 'data-placeholder' => "Choose 1 or more Input DataFormats", :multiple => false %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="display:none">
      <div class="span1">
          <%= f.label :model %><br />
      </div>
      <div class="span5">
          <pre id="product_design_model" >
            <%= @product_design.model %>
          </pre>
      </div>
  </div>

  <div class="modal hide fade" id="newElementModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">
              Add new
          </h3>
      </div>
      <div class="modal-body">
          Add the new <span class="newfeaturelabel">design element</span> <br><br>
          Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= text_field_tag :name %><br>
          Description <%= text_field_tag :description %>
      </div>
      <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button> <button class="btn btn-primary" id="createbutton" name="createElement">Create</button>
      </div>
  </div>

  <div class="modal hide fade" id="newElementModalDataType" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">
        Add new
      </h3>
    </div>
    <div class="modal-body">
      Add the new <span class="newfeaturelabel">design element</span> <br /><br />
      Supplier &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= select_tag "supplier_for_datatypes",
        options_for_select([''] + DesignTag.suppliers.collect {|c| [c.name.to_s + " " + c.extended_description.to_s , c.id.to_s ] }, {:include_blank => true }),  'data-placeholder' => "Choose 1 or more Input DataFormats", :multiple => false %>
      <br />
      Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= text_field_tag :name_dt %><br />
      Description <%= text_field_tag :description_dt %>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button> <button class="btn btn-primary" id="createbutton_dt" name="createElement">Add</button>
    </div>
  </div>

  <button id="save_button" "type="button" class="btn btn-primary">Save</button>

  <div class="modal hide fade" id="editParameters" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">
        Edit parameters
      </h3>
    </div>
    <div class="modal-body">
      <div id="PROCESS_fields" >
        <div id="parameters_defined"  >
          <div class="span5" >Defined parameters</div>

        </div>
        <div class="span5">
          <hr/>
        </div>
        <div id="parameters_add" class="span5">
          Executable&nbsp;&nbsp;&nbsp; <%= select_tag :executable, options_for_select(Executable.all.collect{|x| [x.name, x.parameters]}), {:include_blank => true, :onchange => 'add_param_to_translation($(this).find("option:selected").text(), $(this).val(), "param_name_exe")'} %><br/>
          Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= select_tag :param_name_exe, [] %><br />
          Value &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= text_field_tag :param_value_exe %><br />
        </div>
        <button class="btn" id="add_parameter_button" name="createElement"  >Add parameter</button>
      </div>

    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button> <button class="btn btn-primary" id="save_param" name="save_param">Save</button>
      <div id="params_row" style="display:none" >
        <div class="span5">
        </div>
        <div class="span3">
          paramname
        </div>
        <div class="span2">
          <a href="#" class="icon-trash remove_param" >&nbsp;</a>
        </div>
      </div>
    </div>
  </div>

  <div id="result"></div>

  <script type="text/javascript">

        $("#status").chosen({search_contains: true, no_results_text: "No status found for "});
        stepsequence = 1

        json = $('#product_design_model').text();
        var modelobj = eval('(' + json + ')');
        var formdesign = 0;
        $("#supplier_for_datatypes").chosen({search_contains: true})
        $("#product_line_id").chosen({search_contains: true, no_results_text: "No result found for "});
        $("#in_datatypes").chosen({search_contains: true, no_results_text: "<a href='#newElementModalDataType' onclick=\x22setup_form(\x27in_datatypes\x27)\x22 role='button' class='btn btn-mini' data-toggle='modal'>Add</a> No result found for  " });
        $("#out_datatypes").chosen({search_contains: true, no_results_text: "<a href='#newElementModal' onclick=\x22setup_form(\x27out_datatypes\x27)\x22 role='button' class='btn btn-mini' data-toggle='modal'>Add</a> No result found for  " });
        $("#features").chosen({search_contains: true, no_results_text: "No result found for " });
        $("#conversion_steps").chosen({search_contains: true, no_results_text: "<a href='#newElementModal' onclick=\x22setup_form(\x27conversion_steps\x27)\x22 role='button' class='btn btn-mini' data-toggle='modal'>Add</a> No result found for  " });


        $("#features").popover({ html : true });

        $("#product_line_id").change(function () {
          modelobj.features = [];
          $("#features_list").empty();
          $.ajax({url:"<%= url_for action: 'get_matching_features'%>?product_line_id=" +
              $("#product_line_id").val(), success:function(result) {
              $('#features option:gt(0)').remove();
              $("#features").append(result).trigger("liszt:updated");
            }
          });
        });

        $("#out_datatypes").change(function () {

          $("#out_datatypes option:selected").each(function () {
            str = $(this).val()
            label = $(this).text()

          });

          if (modelobj.output_datatypes == undefined)
          {
            modelobj.output_datatypes = []
          }
          add_to_model(str, label, $('#output_datatypes_list'), modelobj, "output_datatypes")

        })

        $("#in_datatypes").change(function () {

          $("#in_datatypes option:selected").each(function () {
            str = $(this).val();
            label = $(this).text();
          });
          if (modelobj.input_datatypes == undefined)
          {
            modelobj.input_datatypes = []
          }
          add_to_model(str, label, $('#input_datatypes_list'), modelobj, "input_datatypes")
        })



        $("#features").change(function () {

          $("#features option:selected").each(function () {
            str = $(this).val();
            label = $(this).text();
          });
          if (modelobj.features == undefined)
          {
            modelobj.features = []
          }
          add_to_model(str, label, $('#features_list'), modelobj, "features")

          $("#features option[value=]").remove();
          $('#features option').each(function() {
            if ( $(this).val() == str ) {
              $(this).remove();

            }
          });
          $("#features").prepend("<option value=''></option>")
          $("#features").val('');
          $("#features").trigger("liszt:updated");
        })

        $("#conversion_steps").change(function () {
          $("#conversion_steps option:selected").each(function () {
            str = $(this).val();
            label = $(this).text();
          });
          if (modelobj.conversion_steps == undefined)
          {
            modelobj.conversion_steps = []
          }
          add_to_model_steps(str, label, $('#conversion_steps_list'), modelobj, "conversion_steps")

        })

        $('#in_datatypes').popover({ html : true });

        load_results();
        var ajax_load = 'LOADING';


        function save()
        {
          product_line = new Object()
          product_line.id = $("#product_line_id").val()
          modelobj.product_line = product_line

          $('#product_design_modelhash').val($.toJSON(modelobj));
          document.forms[0].submit()
        }

        $("#postit").click(function(){

          modelobj.name =  $("#product_design_name").val()
          modelobj.description =  $("#product_design_description").val()

          product_line = new Object()
          product_line.id = $("#product_line_id").val()
          modelobj.product_line = product_line

          encoded = $.toJSON( modelobj );
          modelobj.name = formdesign.product_design.name

          load_results()

          return false;
        });

        function load_results()
        {

          formdesign = $('.edit_product_design').formParams();
          modelobj.description = formdesign.product_design.description
          modelobj.name = formdesign.product_design.name
          var encoded = $.toJSON( modelobj );
            $('#product_design_model').html(ajax_load).load('<%= url_for :action => "update_model", :id => @product_design.id %>', {model: encoded},
            function() {
                json = $('#product_design_model').text();
                modelobj = eval('(' + json + ')');
                product_design_model = JSON.stringify(json,null,1)
                $('#product_design_model').text(product_design_model)
                $('#product_design_name').val(modelobj.name)
                $('#product_design_description').val(modelobj.description)

                 $.each(modelobj["features"],function(){
                  namearr = [];
                  $.each(this,function(i,v){
                    namearr.push(i+'='+v);
                  });
                  str = namearr.join('|');
                  $('#features option').each(function() {
                    if ( $(this).val() == str ) {
                      $('#features option[value="'+str+'"]').remove();
                      $("#features").trigger("liszt:updated");
                    }
                  });
                });
                render_list($('#output_datatypes_list'), modelobj, "output_datatypes")
                render_list($('#input_datatypes_list'), modelobj, "input_datatypes")
                render_list($('#features_list'), modelobj, "features")

                
                stepsequence = 1

            });
        }

        function add_tag(obj, name)
        {
        };

        function add_param_to_translation(executable,paramsjson,select)
        {
          //current_part.executable = executable
          $('#param_name').empty()
          if (paramsjson != "")
          {

            params = eval('(' + paramsjson + ')');
            for(var i=0; i<params.parameters.length; i++) {
                  paramname = params.parameters[i].name;

                  $('#' + select).append(
                        $('<option></option>').val(paramname).html(paramname)
                  );
            }
          }
        }

        function render_list_steps(destinationdiv, obj, elemname)
        {

          destinationdiv.html("")
          if (obj[elemname] == undefined)
          {
            return
          }
          for(var i=0; i<obj[elemname].length; i++) {
        	value = obj[elemname][i];
              append_to_list_steps(destinationdiv,  value ,obj, elemname)
          }
        }

        function render_list(destinationdiv, obj, elemname)
        {
          destinationdiv.html("")
          if (obj[elemname] == undefined)
          {
            return
          }
          for(var i=0; i<obj[elemname].length; i++) {
        	value = obj[elemname][i];
              append_to_list(destinationdiv,  value ,obj, elemname);            
          }
          
        }

        function decode_meta_string(meta_string)
        {
          //alert(meta_string)
            elems = meta_string.split("|")
            obj = {}
            for(var i=0; i<elems.length; i++) {
                keyval = elems[i].split("=")
                obj[keyval[0]] = keyval[1]
            }

            return obj;
        }

        function obj_to_string_compact(obj)
      {
          s = ""
          for(var prop in obj)
          {
            if (prop != "design_id")
            {
              s = s +  " " + obj[prop]
            }
          }

          return s
      }

        function obj_to_string(obj)
  {
      s = ""
      for(var prop in obj)
      {
        if (prop != "design_id" && prop != 'type')
        {
          if (typeof obj[prop] === 'object')
          {

            if (obj[prop] instanceof Array )
            {
              if (obj[prop].length == 0)
              {
                continue
              }
              else
              {
                 s = s + "<br/><div>" + prop + "</div><hr/>  <div>" +  obj_to_string(obj[prop]) + "<hr/></div>"
              }

            }
            else
            {
                 s = s + " <div>" + obj_to_string(obj[prop]) + "</div>"
            }
          }
          else
          {
            if (prop == "parameter_name")
            {
             s = s +  " " + obj[prop] + " = "
            }
            else if (prop == "parameter_value")
            {
               s = s + obj[prop] + "<br/> "
            }
            else
            {
               s = s + " " +prop + " = " + obj[prop] + "<br/> "
            }

          }
        }
      }
      return s
  }

        function rearrange_model()
        {
          newarr = []
          sequence = 0
          $("#conversion_steps_list .row").each(function(index, value) {
              sequence = sequence +1
              newarr.push(
              modelobj.conversion_steps[parseInt($(this).attr("sequence")-1)])
              $(this).attr("sequence", sequence)
              $(this).find("div").first().html($(this).find("div").first().html().replace(/[0-9] -/,sequence + " - "))
            }

          )
          modelobj.conversion_steps = newarr

        }

        function add_to_model_steps(name, text, destinationdiv, obj, elemname)
        {
          if (obj[elemname] == undefined)
          {
             obj[elemname] = []
          }
          objadd = decode_meta_string(name)

          obj[elemname].push(objadd)
          append_to_list_steps(destinationdiv,  objadd, obj, elemname)
        }

        function add_to_model(name, text, destinationdiv, obj, elemname)
        {
          if (obj[elemname] == undefined)
          {
             obj[elemname] = []
          }
          objadd = decode_meta_string(name)

          obj[elemname].push(objadd)
          append_to_list(destinationdiv,  objadd, obj, elemname)
        }

        function add_tag_to_model(name, text, destinationdiv, obj, elemname)
        {
          if (obj[elemname] == undefined)
          {
             obj[elemname] = []
          }

          obj[elemname] = name
        }

        function remove_from_model( obj,elemname, design_id)
        {
          //console.log("removing")
          //console.log(elemname)
          //console.log(design_id)
          //console.log(obj)
             $.each(obj["features"],function(){
                namearr = [];
                $.each(this,function(i,v){
                  namearr.push(i+'='+v);
                });
                str = namearr.join('|');
                if ( this["design_id"] == design_id ) {
                  $("#features").prepend("<option value='"+str+"'>"+this["code"]+' '+this["name"]+"</option>")
                  $("#features").trigger("liszt:updated");
                }

              });
          modelobj[elemname] = $.grep(modelobj[elemname], function(value) {
              return value.design_id != design_id
          });

          //console.log("after filter")
          //console.log(modelobj)
          //console.log("done")

          if (elemname == "conversion_steps")
          {
            sequence = 0
            $("#conversion_steps_list .row").each(function(index, value) {

              sequence = sequence +1
              $(this).attr("sequence", sequence)
              $(this).find("div").first().html($(this).find("div").first().html().replace(/[0-9] -/,sequence + " - "))
            })
            stepsequence = stepsequence - 1
          }

        }

        function append_to_list_steps(listdiv, objadd,obj, elemname)
        {
          alert("appending .. ");
          objstring = ""

          objstring  = obj_to_string(objadd)
          listrow = $('#rowtemplate2').clone()


          listrow.attr("id",objadd.design_id)
          listrow.attr("sequence", stepsequence)
          listrow.find("div").first().html(unescape(stepsequence + " - " + objstring))
          listdiv.append(listrow)
          unique_control_id = "select_tag_" + listdiv.attr('id') + objadd.design_id

          listrow.find("select").first().attr("id", unique_control_id)
          stepsequence = stepsequence + 1

          if (objadd["tags"] != undefined)
          {
            listrow.find("select").first().val(objadd["tags"])
          }

          listrow.find("select").first().chosen({allow_single_deselect: true})

          $("#" + objadd.design_id + " .remove").click(function(){
            // cleanup chosen objectmess
            $(this).parent().parent().find(".chzn-container-multi").first().fadeOut()
            $(this).parent().parent().find(".chzn-container-multi").first().remove()
            $(this).parent().parent().find("select").first().fadeOut()
            $(this).parent().parent().find("select").first().remove()


            $(this).parent().parent().fadeOut().fadeOut(300, function(){
             $(this).remove();


             remove_from_model(obj, elemname , objadd.design_id)
             //sync()
            });

            return false
          })


           $("#" + objadd.design_id + " .edit").click(function(){
            $('#parameters_defined').html("")
            executable = $(this).parent().parent().attr("id").replace("EXE_","")
            $("#param_name_exe").html("")
            $("#param_value_exe").val("")
            $("#executable option").each(function() {
              this.selected = (this.text == executable)
            });
            sequence = $(this).parent().parent().attr("sequence")
            current_step = jQuery.extend(true, {}, modelobj.conversion_steps[sequence-1])
            if (!(modelobj.conversion_steps[sequence-1].parameters == undefined))
            {

              for (var i=0;i<current_step.parameters.length;i++)
              {
                parameter =  current_step.parameters[i]
                listrow = $('#params_row').clone()
                listrow.attr("id",parameter.parameter_name)
                listrow.find("div:eq(1)").text(parameter.parameter_name+"=" +parameter.parameter_value + " ")
                $('#parameters_defined').append(listrow)

                $("#" + parameter.parameter_name + " .remove_param").click(function(){
                  // cleanup chosen objectmess
                  var param = parameter.parameter_name
                  $(this).parent().parent().fadeOut()
                    removeparam = $(this).parent().parent().attr("id");
                   current_step.parameters = $.grep(current_step.parameters, function(value) {

                    return value.parameter_name != removeparam
                 });
                  return false
                })
                listrow.show();
              }
            }



            add_param_to_translation(executable, $("#executable option:selected").val(), "param_name_exe")


            $("#editParameters").modal('show');

            return false
          })

          //register select handler for tags
          listrow.find("select").first().change(function () {

            str = $(this).val();
            label = $(this).text();
            add_tag_to_model(str, label, label, objadd, "tags")


          })

          $('.tag_popover').popover({ html : true })

        }

        function append_to_list(listdiv, objadd,obj, elemname)
        {
          //console.log( elemname)
          objstring = ""
          var listrow;
          if (elemname == "conversion_steps")
          {
            objstring  = obj_to_string(objadd)
            listrow = $('#rowtemplate2').clone()
          }
          else if (elemname == "features")
          {
            objstring  = obj_to_string_compact(objadd)
            listrow = $('#rowtemplate3').clone()

          }
          else
          {
            listrow = $('#rowtemplate').clone()
            objstring = obj_to_string_compact(objadd)
          }

          listrow.attr("id",objadd.design_id)
          listrow.attr("sequence", stepsequence)
          listrow.find("div").first().html(unescape(objstring))
          listdiv.append(listrow)
          var unique_control_id = "select_tag_" + listdiv.attr('id') + objadd.design_id



          listrow.find("select").first().attr("id", unique_control_id)
          //load list
          if (objadd.supplier != undefined)
          {
            $.ajax({url:"<%= url_for :action => 'get_relevant_design_tags'%>?supplier=" + objadd.supplier  + "&datatype=" + objadd.type ,success:function(result) {
              $("#" + unique_control_id).html(result)
              if (objadd["tags"] != undefined)
              {
                listrow.find("select").first().val(objadd["tags"])
              }
              listrow.find("select").first().chosen({search_contains: true, allow_single_deselect: true, no_results_text: "<a href='#newElementModalDataType' onclick=\x22setup_form(\x27in_datatypes\x27)\x22 role='button' class='btn btn-mini' data-toggle='modal'>Add</a> No result found for  " })
              listrow.fadeIn();
            }})
          }
          else
          {
           listrow.find("select").first().chosen({search_contains: true, allow_single_deselect: true})
           listrow.fadeIn();
          }
          stepsequence = stepsequence + 1




          $("#" + objadd.design_id + " .remove").click(function(){
            // cleanup chosen objectmess
            $(this).parent().parent().find(".chzn-container-multi").first().fadeOut()
            $(this).parent().parent().find(".chzn-container-multi").first().remove()
            $(this).parent().parent().find("select").first().fadeOut()
            $(this).parent().parent().find("select").first().remove()

            $(this).parent().parent().fadeOut().fadeOut(300, function(){
             $(this).remove();
             remove_from_model(obj, elemname , objadd.design_id)
            });

            return false
          })


           $("#" + objadd.design_id + " .edit").click(function(){
            $('#parameters_defined').html("")
            executable = $(this).parent().parent().attr("id").replace("EXE_","")
            $("#param_name_exe").html("")
            $("#param_value_exe").val("")
            $("#executable option").each(function() {
              this.selected = (this.text == executable)
            });
            sequence = $(this).parent().parent().attr("sequence")
            current_step = jQuery.extend(true, {}, modelobj.conversion_steps[sequence-1])
            if (!(modelobj.conversion_steps[sequence-1].parameters == undefined))
            {

              for (var i=0;i<current_step.parameters.length;i++)
              {
                parameter =  current_step.parameters[i]
                listrow = $('#params_row').clone()
                listrow.attr("id",parameter.parameter_name)
                listrow.find("div:eq(1)").text(parameter.parameter_name+"=" +parameter.parameter_value + " ")
                $('#parameters_defined').append(listrow)

                $("#" + parameter.parameter_name + " .remove_param").click(function(){
                  // cleanup chosen objectmess
                  var param = parameter.parameter_name
                  $(this).parent().parent().fadeOut()
                    removeparam = $(this).parent().parent().attr("id");
                   current_step.parameters = $.grep(current_step.parameters, function(value) {

                    return value.parameter_name != removeparam
                 });
                  return false
                })
                listrow.show();
              }
            }



            add_param_to_translation(executable, $("#executable option:selected").val(), "param_name_exe")


            $("#editParameters").modal('show');

            return false
          })


          listrow.find("select").first().change(function () {

            str = $(this).val();
            label = $(this).text();
            add_tag_to_model(str, label, label, objadd, "tags")


          })

          $('.tag_popover').popover({ html : true })
        }

        function add_output_datatype(model, name)
        {
          if (model.output_datatypes == undefined)
          {
             model.output_datatypes = []
          }
          model.output_datatypes.push({name:name})
          append_output_datatype(name)
        }

        function append_output_datatype(name)
        {

          listrow = $('#rowtemplate').clone().removeAttr("id")
          listrow.find("div").first().text(name)
          $('#output_datatypes_list').append(listrow)
        }

        function add_feature(model, name)
        {
          model.features.push({name:name})
          listrow = $('#rowtemplate').clone()
          listrow.find("div").first().text(name)
          $('#features_list').append(listrow)
          $('.tag_popover').popover({ html : true })
        }

        function setup_form(type)
        {
          alert('in' + type)
          $('.newfeaturelabel').text(type)

          $('#createbutton').unbind('click');

          if (type == 'features')
          {
            $('#name').val($('#features_chzn .chzn-search input').val())
            $("#createbutton").click(function(){
              $.post('<%= url_for :action => "create", :controller => 'product_features' , :format=>:json %>',
              {'product_feature[name]': $('#name').val(), 'product_feature[description]': $('#description').val()},
              function(data) {
                $('.result').html(data);
                $('#features').append(
                  $('<option></option>').val(data.meta_string).html(data.abbr_code + " " + data.name)
                );
                $('#features').trigger('liszt:updated')
                add_to_model(data.meta_string, data.abbr_code + " " + data.name, $('#features_list'), modelobj, "features")
              });

              $('#newElementModal').modal('hide')
              return false;
            });
          }
          else if (type == 'in_datatypes')
          {
            alert('do!')
            $("#createbutton_dt").click(function(){
              $.post('<%= url_for :action => "create", :controller => 'design_tags'  %>', {'design_tag[tag_type]': 'DataType', 'design_tag[parent_id]': $('#supplier_for_datatypes').val(), 'design_tag[name]': $('#name_dt').val(), 'design_tag[description]': $('#description_dt').val()});
              $('#newElementModalDataType').modal('hide')
              return false;
            });
          }
          else if (type == 'output_datatypes')
          {
            $("#createbutton").click(function(){
              $.post('<%= url_for :action => "create", :controller => 'data_types'  %>', {'data_type[name]': $('#name').val(), 'data_type[description]': $('#description').val()});
              $('#newElementModal').modal('hide')
              return false;
            });
          }

        }

        function show_tagpopover()
        {
          return true
        }

        function tag(name)
        {
        this.name= name
        }

        $("#save_param").click(function(){

            $('#editParameters').modal('hide')
            modelobj.conversion_steps[sequence-1] = current_step
            $("#postit").click()
            return false;
      });

      function handle_messages(messages)
      {
        $('#messagecontainer').html('')

        for(var i=0; i< messages.length; i++) {
          // handle sync event - todo
          if (messages[i].type == 'info')
          {
            $('#messagecontainer').append('<div class="alert alert-info fade in"><button class="close" data-dismiss="alert" type="button">×</button><strong>' + messages[i].text + '</strong></div>')
          }
          else if (messages[i].type == 'error')
          {
            $('#messagecontainer').append('<div class="alert alert-error fade in"><button class="close" data-dismiss="alert" type="button">×</button><strong>' + messages[i].text + '</strong></div>')
          }
          else if (messages[i].type == 'success')
          {
              $('#messagecontainer').append('<div class="alert alert-success fade in"><button class="close" data-dismiss="alert" type="button">×</button><strong>' + messages[i].text + '</strong></div>')
          }

        }
      }

     $("#add_parameter_button").click(function(){
            parameter = new Object()
            parameter.parameter_name = $('#param_name_exe').val();
            parameter.parameter_value = $('#param_value_exe').val();


            if (current_step.parameters == undefined)
            {
              current_step.parameters = []
            }
            listrow = $('#params_row').clone()
            listrow.attr("id",parameter.parameter_name)
            listrow.find("div:eq(1)").text(parameter.parameter_name+"=" +parameter.parameter_value + " ")
            //listrow.find("div:eq(2)").text("")
            $('#parameters_defined').append(listrow)
            listrow.fadeIn();
            current_step.parameters.push(parameter)
            $("#" + parameter.parameter_name + " .remove_param").click(function(){
              // cleanup chosen objectmess
              $(this).parent().parent().fadeOut()
              current_step.parameters = $.grep(current_step.parameters, function(value) {
                return value.parameter_name != parameter.parameter_name
              });
            return false
            })
            return false;
    });

      $(document).scroll(function(){
      $('#output_datatypes_list').height( $('#input_datatypes_list').height() );
      });

      $('#product_design_design_type').chosen({allow_single_deselect:true});

      $('#product_design_region_id').chosen({allow_single_deselect:true});
      $('#product_design_company_abbr_id').chosen({allow_single_deselect:true});
      $('#product_design_data_release_id').chosen({allow_single_deselect:true});

      $("#product_design_company_abbr_id").change(function() {
      var selected = $('select#product_design_company_abbr_id :selected').val();
      if(selected == "") selected="0";
      jQuery.get('<%=h url_for(:controller => 'product_designs',:action => 'get_datareleases') %>'+'?sid=' + selected, function(data){
        $("#datarelease_div").html(data);
      })
      return false;
      });


      $("#save_button").click(function(){
        save()
      })
</script>
  <% end %>

  <% form_picker= render :partial => 'popover_select_list' %>

  <span style="display:none">
    <div id="rowtemplate" style ="display:none" class="row" >
      <div class="span2" >
      </div>
      <div class="span3" >
        <% @tagid= @tagid.to_i + 1 %>
        <%= render :partial => 'popover_select_list' %>
        <a href="#" class="icon icon-trash remove" style="padding-bottom:15px" >&nbsp;</a>
      </div>

    </div>
    <div id="rowtemplate3" class="row">
      <div class="span8">

      </div>

      <div class="span1">
        <a href="#" class="icon icon-edit edit" style="display:none">&nbsp;</a>
        <a href="#" class="icon icon-trash remove" >&nbsp;</a>
      </div>


    </div>
  </span>

  <span style="display:none">
    <div id="rowtemplate2" class="span12 well row sortitem ">
      <div class="span2 btn btn-large fromdata">
        <%= render :partial => 'collapse_receptions' %>

      </div>
      <div class="span6 btn btn-large compiler">
        compiler
      </div>
      <div class="span1 btn btn-large todata">
        targetformat
      </div>

      <div class=" span1">
        <a href="#" class="icon icon-edit edit" >&nbsp;</a>
        <a href="#" class="icon icon-trash remove" >&nbsp;</a>
      </div>
    </div>
  </span>

<% link_to("#", :role => "button", :class => "btn btn-mini tag_popover btn-info", :onclick => 'show_tagpopover()', :title => "Add tags", "data-content" => "<b>#{form_picker}</b>") do %>&nbsp;Add tags <% end %>