<a class="accordion-toggle btn" data-toggle="collapse" data-parent="accordion2" name="history" href="#history-object" id="historyBtn">History</a>
    <div class="accordion" id="accordion2">
      
      <div id="history-object" class="accordion-body collapse">
<div class="row">
  <div class="span12 bounded">
          <%= javascript_include_tag 'json-diff' %>
          <%= javascript_include_tag 'jsond' %>
          <%= stylesheet_link_tag "json-diff", :media=> "all" %>

          <% old_name = "" %>
          <% old_description = "" %>
          <% old_model = "[{}]" %>
          <% old_version = 0 %>
          <% @product_design.versions.each do |product_design_version| %>
            <hr>
            <div class="row">
              <div class="span2"><%= "#{product_design_version.version} (#{product_design_version.status})" %>&nbsp;</div>
              <div class="span2"><%= product_design_version.updated_by %>&nbsp;</div>
              <div class="span2"><%= product_design_version.updated_at.to_s %>&nbsp;</div>
              <div class="span1"><%= link_to_if(product_design_version.bug_tracker_id, product_design_version.bug_tracker_id, "#{ConfigParameter.get("cr_tool_url")}#{product_design_version.bug_tracker_id}") %>&nbsp;</div>
              <div class="span4"><%= product_design_version.comment%>&nbsp;</div>
            </div>
            <div class="row history">
              <div class="offset1 span2"><strong>Name</strong></div>
              <% new_name = product_design_version.name %>
              <div class="span8 <%=  history_class old_name, new_name %>">
                <%= history_string old_name, new_name %>
              </div>
              <% old_name = new_name %>
            </div>
            <div class="row history">
              <div class="offset1 span2"><strong>Description</strong></div>
              <% new_description = product_design_version.description %>
              <div class="span8 <%=  history_class old_description, new_description %>">
                <%= history_string old_description, new_description %>
              </div>
              <% old_description = new_description %>
            </div>
            <div class="row history">
              <div class="offset1 span2"><strong>Model</strong></div>
              <% new_model = product_design_version.model %>
              <% new_version = product_design_version.version %>
              <div class="span8">
                <%= old_model == new_model ? "model unchanged" : raw("<button class='btn btn-warning' id='model_#{new_version}'>model changed</button>") %>
              </div>
              <script>
                $("#model_"+ '<%= new_version %>').click(function(){
                  $.get('<%= url_for :action => "show_diff", :id=> @product_design.id.to_s, :old_version => old_version, :new_version => new_version %>');
                  $('#action_modal').modal('show');
                });
              </script>
              <% old_model = new_model %>
              <% old_version = new_version %>
            </div>
          <% end %>

      </div>
    </div>
  </div>
</div>

<button class='btn' id='model_approved_vs_latest'>Compare with latest approved</button>

<script>
  $("#model_approved_vs_latest").click(function(){
    $.get('<%= url_for :action => "show_diff", :id=> @product_design.id.to_s, :old_version => @product_design_latest_approved.version.to_s, :new_version => @product_design.version.to_s %>');
    $('#action_modal').modal('show');
  });

  $("#historyBtn").appendTo("#buttons");
  $("#model_approved_vs_latest").appendTo("#buttons");
</script>

<div class="modal hide fade extra-large" id="action_modal">

</div>
