<script type="text/javascript">
  function toHTML(key,obj,opts,context,rendering) {
    var html='';
    //
    // Handle odd input
    try {
      if(typeof context == "undefined" || context == null) context = {counter:0, index:0, depth:0, stack:[]};
      context.counter += 1;
      context.rendering = (rendering) ? true : false;
      if(typeof key == "undefined" || key == null) return toHTML("",obj,opts,context);
      if(typeof key != "string") return toHTML(key.toString(),obj,opts,context);
      if(typeof obj == "undefined" || obj == null) return toHTML(key,"",opts,context);
      if(typeof opts == "undefined" || opts == null) return toHTML(key,obj,{},context);
      if(typeof opts != "object") return toHTML(key,obj,{},context);
    } catch(e) {
      html += '['+e.name+': '+e.message+']';
      return (html);
    }
    // Update context
    context.index += 1;
    context.depth += 1;
    context.parent = (context.stack.length)?context.stack[context.stack.length-1]:(key||"root");
    if(opts.debug) {
      html += '<!-- ';
      html += context.counter+':'+context.index+':'+context.depth+':'+context.parent+':'+context.stack;
      html += ' -->';
    }
    //
    // Custom render function
    if(opts.render) {
      var dio=opts.render.call(context,key,obj,opts,context);
      if(dio) {
        context.depth -= 1;
        if(typeof dio == "string") return(html+dio);
        return(dio);
      }
    }
    //
    // Smart type checking
    switch (Object.prototype.toString.call(obj)) {
      case "[object String]":
      case "[object Number]":
      case "[object Boolean]":
        if(key) {
          if(opts.label) html += '<label><strong>'+key+'</strong></label> ';
          if(opts.span) {
            if(opts.className) {
              html += '<span class="'+key+'">'+obj+'</span>';
            } else html += '<span>'+obj+'</span>';
          } else html += obj;
        } else {
          if(opts.span) {
            html += '<span>'+obj+'</span>';
          } else html += obj;
        }
        break;
      case "[object Array]":
        var i, p='';
        if(key && opts.className) {
          html += '<ol class="'+key+'">';
        } else html += '<ol>';
        if(opts.newline) html += "\n";
        for (i=0; i<obj.length; i++) {
          if(opts.className) {
            p=[];
            if(i==0) p.push("first");
            if(i==obj.length-1) p.push("last");
            if(i%2==0) {p.push("even");} else {p.push("odd");}
            p=p.join(" ");
            if(p) {
              html += '<li class="'+p+'">';
            } else html += '<li>';
          } else html += '<li>';
          context.stack.push(key);
          p='';
          html += toHTML(p,obj[i],opts,context);
          context.stack.pop();
          html += '</li>';
          if(opts.newline) html += "\n";
        }
        html += '</ol>';
        if(opts.newline) html += "\n";
        break;
      //
    case "[object RegExp]":
    case "[object Date]":
    case "[object Function]":
      html += toHTML(key,obj.toString(),opts,context);
      break;
    //
  default:
    switch (typeof obj) {
      case "string":
      case "number":
      case "boolean":
        if(key) {
          if(opts.label) html += '<label>'+key+'</label> ';
          if(opts.span) {
            if(opts.className) {
              html += '<span class="'+key+'">'+obj+'</span>';
            } else html += '<span>'+obj+'</span>';
          } else html += obj;
        } else {
          if(opts.span) {
            html += '<span>'+obj+'</span>';
          } else html += obj;
        }
        // if(opts.newline) html += "\n";
        break;
      case "function":
        html += toHTML(key,obj.toString(),opts,context);
        break;
      case "object":
      default:
        var p;
        if(key && opts.className) {
          html += '<ul class="'+key+'">';
        } else html += '<ul>';
        if(opts.newline) html += "\n";
        for (p in obj) {
          // TODO: Allow opts.render to say "skip this line item"
          // Assign a meaningful className to the line item
          if (opts.className) {
            html += '<li class="'+p+'">';
          } else html += '<li>';
          context.stack.push(key);
          html += toHTML(p,obj[p],opts,context);
          context.stack.pop();
          html += '</li>';
          if(opts.newline) html += "\n";
        }
        html += '</ul>';
        if(opts.newline) html += "\n";
        break;
    }
    break;
}
context.depth -= 1;
return (html);
}
</script>


<%= link_to({:action => 'render_model', :id => @product_design.id.to_s + '.json', :version => @product_design.version},{:target => '_blank',:class=>'btn',:id => "jsonBtn"}) do %>
  Model JSON
<% end %>&nbsp;
<a class="accordion-toggle btn" data-toggle="collapse" data-parent="accordion1" name="Model JSON" href="#ModelHTMLObject" id="htmlBtn">Model HTML</a>

<div class="accordion" id="accordion1">
  <div id="ModelHTMLObject" class="accordion-body collapse">

      <div class="row">
        <div class="span12 bounded">
          <div class="row">
            <div class="span4"><h4>Design model</h4></div>
          </div>
          <div class="row">
            <div class="span10" id="model-li">

            </div>
          </div>
        </div>
      </div>
  
  </div>
</div>

<script type="text/javascript">
  function generateList(){
    keys = "inline";
    opts = {label:true, className:false, debug:true, newline:true, span:true};
    jsn = $.get('<%= raw url_for :action => 'render_model', :id => @product_design.id.to_s + '.json', :version=> @product_design.version %>');
  }
  generateList();
  $( document ).ajaxStop(function() {
    $('#model-li').html(toHTML(keys,eval("("+jsn.responseText+")"),opts));
  });

  $("#jsonBtn").prependTo("#buttons");
  $("#htmlBtn").appendTo("#buttons");
</script>