<button id="editParameters-main" type="button" class="btn" data-dismiss="modal" aria-hidden="true">Parameters</button>


<script type="text/javascript">

  $("[id^=editParameters-]").click(function(){
    
    $("#parametersModalLabel").html("<h4>Parameters</h4>");
    $.get( '<%= url_for(edit_parameter_setting_path(@parameter_setting.id)) %>?product_design_id=<%= @product_design.id %> ',{}, function( data ) {
      $("#parameterModelBody").html(data);
      $("#parametersModal").modal("show");
    })
  })




</script>

  <div id="parametersModal" style="height:800px" class="modal extra-large hide fade" tabindex="-1" role="dialog" aria-labelledby="parametersModalLabel" aria-hidden="true">
    <div class="modal-header">
      <h4 id="parModalLabel">Parameter details</h4>
    </div>
    <div style="height:670px;overflow-y:auto;padding:5px;position:relative;" id="parameterModelBody">
      <p>No parameters available</p>
    </div>
    <div class="modal-footer">
      <button id="cancel_param_modal" type="button" class="btn" aria-hidden="true">Cancel</button>
      <button id="close_param_modal" type="button" class="btn" aria-hidden="true">Save</button>
    </div>
  </div>