
  
        <% @taglist = DesignTag.data_releases %>
        <%= select_tag "taggies",
        options_for_select([] , {:include_blank => true, }),  'data-placeholder' => "Choose 1 or more tags" , :multiple => true %> 
       
  
<script type="text/javascript">
  
</script>