<% if product_design.status == 'obsolete' %>
  <% obsolete_class = 'deleted' %>
<% end %>
  <div class="row" id="row_show_<%= product_design.id %>">
    <div class="span1">
      <%= render(partial: "shared/versioned_object", object: product_design) %>
    </div>
    <div class="span1 <%= obsolete_class %>"><%= product_design.id %>&nbsp;</div>
    <div class="span2 <%= obsolete_class %>"><%= product_design.design_type %>&nbsp;</div>
    <div class="span4 <%= obsolete_class %>"><%= product_design.name %>&nbsp;</div>
    <div class="span2 <%= obsolete_class %>"><%= product_design.latest_approved.version if product_design.latest_approved %>&nbsp;</div>
    <div class="span2 <%= obsolete_class %>"><%= product_design.status %>&nbsp;</div>
  </div>
