<% @related_designs = @product_design.in_use_active_product_designs %>
<% if !@related_designs.empty? %>
  <div class="row">
    <div class="span12 bounded">
      <div class="row">
        <div class="span5"><h5>Product design(s) using this design</h5></div>
      </div>
      <% @related_designs.each do |r_design| %>
        <div class="row">
          <div class="span1"><%= link_to r_design.id,r_design,:target => '_blank' %></div>
          <div class="span3"><%= r_design.name %></div>
          <div class="span2"><%= r_design.status %></div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>