 <div class="modal hide fade" id="allocateform2" style="padding:10px" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="row">
  <div id="design_id_label" class="span3"><h5>Input for Assembly</h5></div>
  
</div>

<hr/>
<div class="row">
<div class="span3"><h5>Tags used</h5></div>
<%= render :partial => 'popover_select_list' %>
</div>

<div class="row">
  <div class="span3"><h5>Use output of previous step</h5></div>
  <%= check_box_tag 'previous step' %>
</div>
  

  <div class="row">
  <div class="span12"><hr/></div>
</div> 
<div class="row">

  <div class="span8">
    <%= form_tag({:action => 'get_file_resources'}, :remote => true) do %>
      <%= hidden_field_tag :direction, params[:direction] %>
      <%= hidden_field_tag :sort, params[:sort] %>
      <div class="input-append">
        <%= select_tag("search_supplier", options_from_collection_for_select(CompanyAbbr.where(:is_active => true).order('company_name'),'ms_abbr_3','company_name',params[:search_supplier]),:include_blank=>true,:class => 'span2',:data=>{:placeholder => 'Supplier'}) %> 
        <%= select_tag("search_release", options_for_select(DataRelease.where(:production => true).order('name desc').collect{|r|[r.name,r.name]}.uniq,params[:search_release]),:include_blank=>true,:class => 'span2',:data=>{:placeholder => 'Release'}) %>        
        <%= select_tag("search_region", options_from_collection_for_select(Region.find_all_for_module("WebMIS").order('name'),'name','name',params[:search_region]),:include_blank=>true,:class => 'span2',:data=>{:placeholder => 'Region'}) %>           
        <%= select_tag("search_datatype",options_from_collection_for_select(DataType.order('name').all,"name","name",params[:search_datatype]),:include_blank => true, :class => 'input-small',:data=>{:placeholder => 'Type'}) %>
        <%= text_field_tag :search, params[:search], :placeholder=>"Free search receptions and conversions",:class=>"span3",:size=>"16" %>
        <%= submit_tag "Search", :name => nil,  :class => "btn" %>
        <%= button_tag "Reset", :name => 'reset' %>
        
      </div>   
    <% end %>   
  </div>

</div>

<div id="div_reception_matches" class="well well-small container">

<%= render :partial => 'reception_matches' %>
</div>

<div id="endless-shell" class="well well-small container" style="overflow: auto;max-height: 200px">
<div  id="endless" >
  <div class="row">
    <div class="span1"><strong><%= sortable 'source','Source' %></strong></div>
    <div class="span3"><strong><%= sortable 'view_receptions_and_conversiondbs.referenceid','Reference ID' %></strong></div>
    <div class="span2"><strong><%= sortable 'company_abbrs.company_name','Supplier' %></strong></div>
    <div class="span2"><strong><%= sortable 'data_releases.name','Release' %></strong></div>
    <div class="span1"><strong><%= sortable 'datatype','Type' %></strong></div>    
    <div class="span1"><strong><%= sortable 'regions.name','Coverage' %></strong></div>
  </div>
  <div id="reception_list_picker" >
    <%= render(:partial => "assembly_picker", :collection => @assembly_pickers) %>
  </div>
</div>
</div>
<%= will_paginate(@assembly_pickers) %>
<%= pageless(@assembly_pickers.total_pages,url_for(:action => :fetch_assembly_lines),"#endless-shell" ) %>
<h5>Content</h5>
<div class="row">
  <div id="assembly_lines" class="span12 well well-small" style="overflow: auto;max-height: 140px">
    <%= render :partial => "assembly_line" ,:collection => @assembly_lines %>
    <div class="row">
      <div class="span2">
         <%=  link_to(:remote => true, :update => { :success => "assembly_lines", :failure => "assembly_lines" },:url => {:action => 'add',   :header_id => 1}) do %>
           <%#*<i class="icon-plus-sign" title="add a new empty line">&nbsp;</i>%>
         <% end %>
      </div>
    </div>
  </div>
</div>  
<a href="#"  role="button" class="btn btn-danger btn-mini" onclick="remove_content()">Remove Content</a>
<hr>

 </div>

<script type="text/javascript">
  $('#search_region').  chosen({allow_single_deselect:true,search_contains: true})
  $('#search_supplier').chosen({allow_single_deselect:true})
  $('#search_datatype').chosen({allow_single_deselect:true})
  $('#search_release').chosen({allow_single_deselect:true,search_contains: true})
</script>