<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

  <div class="modal-body">
    <div id="PROCESS_fields" >
      <div id="parameters_defined"  >
        <div class="span5" >Parameters</div>
      </div>
      <div class="span5">
        Set parameter set for this process flow
        <hr/>
      </div>
      <div id="parameters_add" class="span5">
        Parameterset &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= select_tag :parameterset, options_for_select(ParameterSetting.where("product_line_id = #{@product_design.modelhash["product_line"]["id"]}").collect{|x| [x.name, x.name]}), {:include_blank => true} %><br/>
      </div>
      <% @parameter_setting = ProductLine.find_by_name(@product_design.modelhash["product_line"]["abbr"]).parameter_settings.first %>
      <% @parameter_setting_version = @parameter_setting.versions.last%>
      <%  @product_design_latest_approved = @product_design.latest_approved %>
      <%= render :partial => 'parameter_settings/show_data',  :id => @parameter_setting.id %>

    </div>

  </div>
