<%= render(:partial => "shared/versioned_object_warning", :object => @product_design) %>
<% if params[:synced] && params[:synced].to_i > 0%>
<div class="row">
  <div class="span6">
    <div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
        Number of related designs updated: <%= params[:synced].to_s %><br />
        <% @product_design.in_use_active_product_designs.each do |iu_pd| %>
          - <%= link_to(iu_pd.id,iu_pd,:target=>"_blank") %> <%= iu_pd.name %><br />
        <% end %>
    </div>
  </div>
</div>
<% end %>
<div class="row">
  <div class="span12 bounded bounded-headered">
    <div class="row bounded-header">
      <div class="span9">
        <h4>Product design <%= @product_design.name %></h4>
      </div>
      <div class="span">
        <strong>Revision</strong> <%= @product_design.version %>
      </div>
      <div class="span2">
        <strong>Status</strong> <%= @product_design.status %>
      </div>
    </div>
    <div class="row">
      <div class="span3"><strong>Optional Coverage</strong></div>
      <div class="span3"><strong>Optional Data supplier</strong></div>
      <div class="span3"><strong>Optional Data release</strong></div>
    </div>
    <div class="row">
      <div class="span3"><%= @product_design.region.name if @product_design.region %>&nbsp;</div>
      <div class="span3"><%= @product_design.company_abbr.company_name if @product_design.company_abbr %>&nbsp;</div>
      <div class="span3"><%= @product_design.data_release.name if @product_design.data_release %>&nbsp;</div>
    </div>
    <div class="row">
      <div class="span5"><strong>Description</strong></div>
    </div>
    <div class="row">
      <div class="span9"><%= @product_design.description %> </div>
    </div>
  </div>
</div>
<div id="Target"><!-- for functions in show_model partial --></div>
<div class="row">
  <div class="span12 bounded">
    <%= render 'show_model' %>
  </div>
</div>
<div class="row">
  <div class="span12 bounded">
    <div class="row">
      <div class="span4">
        <h5>Product Features</h5>
      </div>
    </div>
    <% product_features = @product_design.product_features %>
    <% if product_features.empty? %>
    <div class="row">
      <div class="span4"><i>No product features defined.</i></div>
    </div>
    <% end %>
    <% product_features.each do |pf| %>
    <div class="row">
      <div class="span4"><strong><%= pf.name %></strong></div>
    </div>
    <% pf.executables_with_parameters.each do |e,p| %>
    <div class="row">
      <div class="span2"><%= e %></div>
      <div class="span10"><pre class="raw"><%= raw p.join("<br />") %></pre></div>
    </div>
    <% end %>
    <div class="row"><div><hr /></div></div>
    <% end %>
    <% if ps = @product_design.product_line.parameter_setting(session[:project_id]) %>
    <div class="row">
      <div class="span6"><h5>Product line parameters: <%= @product_design.product_line.name %></h5></div>
    </div>
    <% parameter_setting = ParameterSetting.find_correct_version(ps.id, false) %>
    <% parameter_setting.executables_with_parameters.each do |e,p| %>
    <div class="row">
      <div class="span10"><pre class="raw"><%= raw p.join("<br />") %></pre></div>
    </div>    
    <% end %>
    <% end %>
  </div>
</div>

<%= render 'related_product_designs' %>
<div class="row">
  <div class="span12">
    <div id="buttons"></div>
  </div>
</div>
<%= render 'model_view' %>
