  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" area-hidden="true">&times;</button>
    <h4>Model changes between revision <%= old_version.version ? old_version.version : 0 %> and <%= new_version.version %></h4>
  </div>

  <div class="modal-body">
    <div class="row history">
      <div id="model_show_diff" class="span8">
        <div id="place_json_old">
          <script type="application/json">
          [<%= raw(old_version.model) %>]
          </script>
        </div>
        <div id="place_json_new">
          <script type="application/json">
          [<%= raw(new_version.model) %>]
          </script>
        </div>
        <script>
          json_old = $('#place_json_old script').text();
          model_old = JSON.parse(json_old);
          json_new = $('#place_json_new script').text();
          model_new = JSON.parse(json_new);
          diff_results = document.getElementById('model_show_diff');
          jsond.compare(model_old, model_new, "root", diff_results);
        </script>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" area-hidden="true">Close</button>
  </div>

