<script type="text/javascript">

function connect(div1, div2, color, thickness) {
    var off1 = getOffset(div1);
    var off2 = getOffset(div2);
    // bottom right
    var x1 = off1.left + off1.width;
    var y1 = off1.top + off1.height;
    // top right
    var x2 = off2.left + off2.width / 10;
    var y2 = off2.top + 2;
    // distance
    var length = Math.sqrt(((x2-x1) * (x2-x1)) + ((y2-y1) * (y2-y1)));
    // center
    var cx = ((x1 + x2) / 2) - (length / 2);
    var cy = ((y1 + y2) / 2) - (thickness / 2);
    // angle
    var angle = Math.atan2((y1-y2),(x1-x2))*(180/Math.PI);
    // make hr
    var htmlLine = "<div style='z-index:1; padding:0px; margin:0px; height:" + thickness + "px; background-color:" + color + "; line-height:1px; position:absolute; left:" + cx + "px; top:" + cy + "px; width:" + length + "px; -moz-transform:rotate(" + angle + "deg); -webkit-transform:rotate(" + angle + "deg);' />";
    //
    //$( htmlLine ).appendTo('#yield');
    //document.body.innerHTML += htmlLine
    document.getElementById('Target').innerHTML += htmlLine;
    //document.body.innerHTML = document.body.innerHTML + htmlLine;
}

function getOffset( el ) {
    var _x = 0;
    var _y = 0;
    if (el){
    var _w = el.offsetWidth|0;
    var _h = el.offsetHeight|0;}
    while( el && !isNaN( el.offsetLeft ) && !isNaN( el.offsetTop ) ) {
        _x += el.offsetLeft - el.scrollLeft;
        _y += el.offsetTop - el.scrollTop;
        el = el.offsetParent;
    }
    return { top: _y, left: _x , width: _w, height: _h };
}
  </script>
<div class="row">
  <div class="span10">
    <h5>Process flow</h5>
  </div>
</div>

<% if @product_design.init['conversion_steps'] && @product_design.has_conversion_steps? %>
  <% @product_design.init['conversion_steps'].compact.each do |step| %>
  <div class="row">
  <hr class="span12"/>
  </div>

  <% if step['used_product_design_md5'] %>
    <% rel_pd = ProductDesign.find_by_product_design_md5(step['used_product_design_md5']) %>
    <% if rel_pd %>
    <div class="row">
      <div class="span12">
        <h5><%= link_to("Imported product design: #{rel_pd.id}.",rel_pd,:target=>"_blank") %> "<%= rel_pd.name %>" Revision <%= step['used_product_design_version'] %></h5>
      </div>
    </div>
    <% end %>
  <% end %>

  <div class="row" id ="conversion_step-<%= step['uuid'] %>">
    <div class="span1">
      <%= raw(step['connections'].collect{|c|"<span id='s-#{c['source_id']}' class='label label-inverse'>#{(c['source_label'] ? c['source_label'] : c['source_id']).gsub(/process_data_.*/,"process_data")}</span>"}.join('<br />')) if step['connections'] %>
    </div>
    <div class="span2 bounded">
      <%= raw(step['connections'].collect{|c|"<span id='t-#{c['target_id']}' class='label'><br /><i>#{c['filling']}</i></span>"}.uniq.join('<br />')) if step['connections'] %>
    </div>
    <div class="span7 bounded">
      <div class="row">
        <div class="span2 well well-small"><%= raw(step['pre_improvement_steps'].collect{|c|"<span id='pi-#{c["id"]}' class='label label-info'>#{c['name']}</span>"}.join('<br />')) if step['pre_improvement_steps'] %></div>
        <div class="span2 well well-small" style="text-align: center"><strong><%=  step['name'] %></strong></div>
        <div class="span2 well well-small"><%= raw(step['post_improvement_steps'].collect{|c|"<span id='pi-#{c["id"]}' class='label label-info'>#{c['name']}</span>"}.join('<br />')) if step['post_improvement_steps'] %></div>
      </div>
      <% if !step['dedicated_parameterset'] %>
        <div class='dparam'style='position: absolute;bottom:0;right:0;margin-right:20px'>Dedicated parameterset: None</div>
      <% else %>
        <div class='dparam'style='position: absolute;bottom:0;right:0;margin-right:20px'>Dedicated parameterset: <%=  step['dedicated_parameterset'] %></div>
      <% end %>
  </div>
    <div class="span1">
      <%=  raw(step['output'].collect{|o|"<span class='label label-inverse'>#{o['label'] ? o['label'] : o['package_id']}</span>"}.uniq.join('<br />'))  %>
    </div>
  </div>

  <script type="text/javascript">
    <% if @product_design.has_conversion_steps? %>
      <% step['connections'].to_a.each do |connection| %>
      sourceobj = ($("#conversion_step-<%= step['uuid'] %>").find("#s-<%= connection['source_id'] %>"))[0]
      connect(sourceobj, document.getElementById('t-<%= connection['target_id'] %>'), "gray", 0.5);
      <% end %>
    <% end %>
  </script>

  <% end %>
<% else %>
  <div class="row">
    <div class="span11 alert alert-error">No steps defined.</div>
  </div>
<% end %>