<%= javascript_include_tag 'jeditable' %>
<%= form_for @product_design do |f| %>


<h4>Edit Process flow of product design "<%= @product_design.name %>"</h4>
  <%= render :partial => 'parameter_modal'  %>
  <div>
    <div id="stepcontainer"  style="position:absolute;font-size:13.6px">
      <div id="footer">
        <div  id="selectfooter" class="span10" style="position:absolute">
          Add step <%= select_tag "conversion_steps",
            options_for_select(Executable.compilers.collect {|c| [ c.name  , c.id.to_s ] }, {:include_blank => true, }), :include_blank => true, 'data-placeholder' => "Choose a compiler", :multiple => false %>
          Import design <%= select_tag "import_design",
            options_for_select(ProductDesign.frontend.where(:project_id => session[:project_id]).collect {|c| [ c.id.to_s + " " + c.name.to_s  , c.id.to_s ] if c.id != @product_design.id }, {:include_blank => true, }), :include_blank => true, 'data-placeholder' => "Choose a design", :multiple => false %>

          <% if params[:return_to_controller] %>

            <%= link_to  :controller => params[:return_to_controller].to_s, :action => params[:return_to_action].to_s, :id => params[:return_to_id].to_s do %>
              Back

            <% end  %>
          <% end %>
          <br />
          <div class="row">&nbsp;</div>
          <div class="row">
            <div class="span7">
              <%= f.hidden_field :lock_version %>
              <%= f.hidden_field :model %>
              <button type="button" id="save_button" class="btn btn-primary">Save</button>
            </div>
          </div>
          <div class="row">&nbsp;</div>
          <div class="row">
            <div class="span7">
              <%= link_to @product_design, :class => "btn", :title => "show" do %>
                <i class="icon-eye-open"></i>
              <% end %>
              &nbsp;
              <%= link_to handle_product_design_path(@product_design), :class => "btn",:title => "handle" do %>
                <i class="icon-tasks"></i>
              <% end %>
              &nbsp;
              <%= link_to :back, :class => "btn", :title => "back" do %>
                <i class="icon-arrow-left"></i>
              <% end %>
              &nbsp;
              <%= link_to product_designs_path, :class => "btn",:title => "overview" do %>
                <i class="icon-arrow-up"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>


<div id="dialog" title="Confirmation Required">
  Are you sure about this?
</div>

<div style="display:none">


  <div  class="w" id="DHIVE">DHIVE<div class="ep"></div></div>
  <div  class="w2" id="improvementprocess_div">IMP<div class="ep"></div></div>

  <div id="select_imp_div" class="impselect" >
    <%= select_tag "conversion_steps_c",
      options_for_select(Executable.improvements.option_list, {:include_blank => true}),  :include_blank => true, 'data-placeholder' => "Choose 1 or more Improvement processes", :multiple => false %>
  </div>

  <div id="select_imp_pre_div" class="preprocess_imp_select" >
    <%= select_tag "conversion_steps_pre_c",
      options_for_select(Executable.improvements.option_list, {:include_blank => true}),  :include_blank => true, 'data-placeholder' => "Choose 1 or more Improvement processes", :multiple => false %>
  </div>
</div>

<div style="display:none" id='product_design_model'></div>


<div class="modal hide fade" id="editParameters" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="editParametersLabel">
      Use dedicated parameterset
    </h3>
  </div>
  <div class="modal-body">
    <div id="PROCESS_fields" >
      <div id="parameters_defined"  >
        <div class="span5" >Defined parameters</div>  

      </div>
      <div class="span5">
        Set dedicated parameter set for this conversion step
        <hr/>
      </div>
      <div id="parameters_add" class="row">
        <div class="span1">
          Parameterset
        </div>
        <div class="span3">
          <%= select_tag :parameterset, options_for_select(ParameterSetting.options_for_select(session[:project_id])), {:include_blank => true,:class => 'span3'} %>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button> <button class="btn btn-primary" id="save_param" name="save_param">Save</button>
    <div id="params_row" style="display:none" >
      <div class="span5">
      </div>
      <div class="span3">
        paramname
      </div>
      <div class="span2">
        <a href="#" class="icon-trash remove_param" >&nbsp;</a>
      </div>
    </div>
  </div>
</div>

<div class="modal hide fade" id="allocateform" tabindex="-1" role="dialog" aria-labelledby="myModalLabelAD" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabelAD">
      Allocation Details
    </h3>
  </div>
  <div class="modal-body">


    <div id="PROCESS_fields" >
      <div id="alternative data"  >
        <div class="span5" >Alternatives</div>  
      </div>
      <div class="span5">
        <hr/>
      </div>
      <div id="tags_selected" class="span5">    
      </div>

    </div>

  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button> <button class="btn btn-primary" id="save_param" name="save_param">Save</button>
    <div id="params_row" style="display:none" >
      <div class="span5">
      </div>
      <div class="span3">
        paramname
      </div>
      <div class="span2">
        <a href="#" class="icon-trash remove_param" >&nbsp;</a>
      </div>
    </div>
  </div>

</div>

<div class="modal hide fade" id="create_productionorder" tabindex="-1" role="dialog" aria-labelledby="myModalLabelCPO" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabelCPO">
      Create production Order <span id="editid"></span>
    </h3>

  </div>
  <div class="modal-body">
    Productid &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= select_tag 'product_select', options_for_select(Product.all.collect{|x| [x.volumeid, x.volumeid]}) %><br />
    Comments&nbsp;&nbsp;&nbsp; <%= text_area_tag 'po_description' %><br />
    Conversiontool&nbsp;&nbsp;&nbsp; <%= select_tag :conversiontool_id ,options_for_select([''] + Conversiontool.find_active.collect {|c| [c.code,c.id] }, {:include_blank => true}), {:onchange => "alertDialogCVtool(this.value)"} %><br/>
    Conversion Bundle&nbsp;&nbsp;&nbsp;<%= select_tag :cvtool_bundle_id , options_for_select([''] + CvtoolBundle.active.collect {|c| [c.name,c.id] }, :include_blank => true) %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button> <button class="btn btn-primary" id="create_po_button" name="createElement">Create</button>
  </div>
</div>  

<div class="modal hide fade" id="specifyFilling" tabindex="-1" role="dialog" aria-labelledby="myModalLabelFilling" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabelFilling">
      Edit <span id="editid"></span>
    </h3>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="span5"><strong>Specify mandatory <span class="newfeaturelabel">Filling</span></strong></div>
    </div>
    <div class="row">
      <div class="span5" id="fillingSelect"><%= select_tag 'filling', options_for_select([''] + DesignTag.filling.collect{|x|x.name}),:class=>'span4' %></div>
    </div>
  </div>

  <div class="modal-footer">

    <button class="btn btn-primary" id="savefilling" name="createElement">Save</button>
  </div>
</div>

<script type="text/javascript">
  selected_design_id = ""
  current_step_obj = ""
  
      
  $("#dialog").dialog({
    autoOpen    : false,
    modal       : true
  })
    
  $(function() {
    $( ".sortable" ).sortable({
      revert: true,
      update : function(event,ui){
         
        rearrange_model()
      }
    });
    $( "#draggable" ).draggable({
      connectToSortable: "#sortable",
      helper: "clone",
      revert: "invalid"
    });
    $( "ul, li" ).disableSelection();

  });
    
    
    
    
    
   
  modelobj= new Object();
  current_step = new Object();
  sequence_step = -1
  value = new Object();
  selectedid = 0;
  selected_design = new Object()
  
  function update_labels(value, settings)
  {

    id = $(this).parent().first().attr("id")
    package_id= $(this).parent().first().attr("package_id")
    oldlabels = $("[package_id='" + package_id + "']")

    oldlabels.each(function() {
      if ($( this ).find(".ineditable").size > 0)
      {
        $( this ).find(".ineditable").html(value)
      }
      else
      {
        $( this ).html(value)
      }
    });
    id = id.split("_");
    seq = id[2]-1
    output_sequence = id[3]
    modelobj.conversion_steps[seq].output[output_sequence].label = value
    //update labels in connections
    for(var i3=0; i3<modelobj.conversion_steps.length; i3++)
    {
      if (modelobj.conversion_steps[i3].connections != undefined)
      {
        for(var i=0; i<modelobj.conversion_steps[i3].connections.length; i++) {
          if (modelobj.conversion_steps[i3].connections[i].source_id == package_id)
          {
            modelobj.conversion_steps[i3].connections[i].source_label = value
          }
        }
      }
    }
    return(value);
  }

    
  function load_model()
  {
       
    $('#product_design_model').html("LOADING").load('<%= url_for :action => "render_model", :id => params[:id], :source => params[:source] %>', {model: 'hi'},
    function() {
      json = $('#product_design_model').text();
      modelobj = eval('(' + json + ')');
      product_design_model = JSON.stringify(json,null,1)
      stepsequence = 1
                    
                    
      render_list_steps(modelobj, "conversion_steps")
      jsPlumbDemo.init();


      $(".inpeditable").editable(update_labels, {
        id   : 'elementid',
        name : 'newvalue',
        style:  'width:500px'
      });


    });
  }

  function activate_filling_modal(data_type_name){
    $.post("<%= url_for :controller => 'product_designs', :action => 'render_target_filling' %>"  ,{'data_type_name': data_type_name});
  }
      
  function add_input_stub(sequence, objadd, uuid)
  {
    caption = objadd.caption
    if (caption.length > 10)
    {
      caption = caption.substring(0,9)
    }
        
    inputspec = objadd.inputspec
    var common = {
      cssClass:"myCssClass"
    };
    //lookup div
    div = $("#step_" + sequence)
    //lookup inputoffset
    stubs= $("#step_" + sequence + " [id^='i_']").length
    element_id = "i" + uuid + "_" + caption + "_" + (stubs +1)
    inputoffset = stubs*8
    add_element(div, element_id ,caption, -7 , inputoffset,"i", inputspec)
    jsPlumb.makeTarget(jsPlumb.getSelector(".w"), {
      dropOptions:{ hoverClass:"dragHover" },
      paintStyle : {strokeStyle:"#42a62c",dashstyle:"2 4 4 2", lineWidth:1 },
      endpoint : ["Dot", {radius:2}]
    });
  }


  function add_output_stub(sequence, objadd)
  {
    i = 0

    caption = objadd.caption
    element_id = "o_" + caption + "_" + sequence + "_" + i
    value = objadd.name;
    caption = objadd.package_id;
    add_element(div, element_id,caption, 70.8 ,0,"d", objadd)
  }
      
            
  function render_list_steps( obj, elemname)
  {
    used_product_design_md5 = ""
    import_group_opened = false
   
    //destinationdiv.html("")
    if (obj[elemname] == undefined)
    {
      return
    }
    offset = 0
    outputs = []
    external = new Object()
    external.format = "ext"
    external.package_id = "ext"
    outputs.push(external)
        
    for(var i=0; i<obj[elemname].length; i++) {
      value = obj[elemname][i];
      if (value == undefined) continue
      org_value = value
      add_div_name = "stepcontainer"
      if (value.used_product_design_md5 != undefined)
      {
        if (used_product_design_md5 !=  value.used_product_design_md5)
        {
          used_product_design_md5 = value.used_product_design_md5
          // open group div
          groupdiv = $("<div >Imported design : " + value.design_name + " revision " + value.used_product_design_version + " <i class='icon-remove-sign remove_control'/></div>")
          groupdiv.attr("id", "group_" + used_product_design_md5);
          groupdiv.attr("md5", used_product_design_md5)
          groupdiv.addClass("imported_group")
          add_div_name = "group_" + used_product_design_md5
          $("#stepcontainer").append(groupdiv)


          groupdiv.find(" .remove_control").click(function(){

            md5clicked = $(this).parent().attr("md5")
            removediv = $(this).parent()
            if (confirm("Are you sure?")){
              newsteps = []
              clone = modelobj.conversion_steps.slice(0)
              for(var c1=0; c1< modelobj.conversion_steps.length; c1++) {
                if (modelobj.conversion_steps[c1] == undefined) continue
                if ((modelobj.conversion_steps[c1].used_product_design_md5 != undefined &&
                  !(modelobj.conversion_steps[c1].used_product_design_md5 == md5clicked))) {
                  newsteps.push(modelobj.conversion_steps[c1])
                }
                else if (modelobj.conversion_steps[c1].used_product_design_md5 == undefined)
                {
                  newsteps.push(modelobj.conversion_steps[c1])
                }
                else
                {
                  newsteps.push(undefined)
                }
              }
              removediv.fadeOut()
              modelobj.conversion_steps = newsteps
              //sync()
            }

          });
          import_group_opened = true
        }
        else
        {
          add_div_name = "group_" + used_product_design_md5
        }
      }
      else
      {
        add_div_name = "stepcontainer"
      }
      uuid = value.uuid
      //this is to support legacy designs
      if (uuid == undefined)
      {
        uuid = i+1
        uuid = "_" + uuid
      }

      offset= append_to_list_steps( value,  offset,i+1, add_div_name ,outputs, uuid)
      for(var u=0; u<org_value.output.length; u++)
      {
        org_value.output[u].sequence_generated = i

      }
      /*
      if (obj[elemname][i].post_improvement_steps != undefined)
      {
        for(var i2=0; i2<obj[elemname][i].post_improvement_steps.length; i2++) {
          value2 =  obj[elemname][i].post_improvement_steps[i2]
          if (value2.is_improvement_process == false && value2.input_has_output == false)
          {
            outputs = outputs.concat(value2.output)
          }
        }
      }
       */
      
      outputs = outputs.concat(org_value.output)
      outputs = uniques(outputs)
    }
          
  }
        
  function uniques(arr) {
    var a = [];
    for (var i=0, l=arr.length; i<l; i++)
      if (a.indexOf(arr[i]) === -1 && arr[i] !== '')
        a.push(arr[i]);
    return a;
  }
        
  function add_to_model_steps(objadd, text, destinationdiv, obj, elemname)
  {
   
    outputs = []
    external = new Object;
    external.format = "ext"
    external.package_id = "ext"
    outputs.push(external)

    
    for(var i=0; i<obj[elemname].length; i++) {
      value = obj[elemname][i];
      if (value == undefined) continue
      outputs = outputs.concat(value.output)
      /*
      if (obj[elemname][i].post_improvement_steps != undefined)
      {
          
        for(var i2=0; i2<obj[elemname][i].post_improvement_steps.length; i2++) {
          value2 = obj[elemname][i].post_improvement_steps[i2]
          if (value2.is_improvement_process == false && value2.input_has_output == false)
          {
            outputs = outputs.concat(value2.output)
          }
        }
      }
       */
    }
    
    objadd.uuid = ID()
    outputs = uniques(outputs)
    obj[elemname].push(objadd)
    append_to_list_steps(objadd, 0, modelobj.conversion_steps.length, destinationdiv, outputs, objadd.uuid)
    $(".inpeditable").editable(update_labels, {
      id   : 'elementid',
      name : 'newvalue',
      style:  'width:500px'
    });
  }
        
  function append_to_list_steps( objadd, offset,step, destinationdiv, outputobjects, uuid)
  {
    enable_ui = true
    newstep = ""
    if (objadd.used_product_design_md5 == undefined)
    {
      newstep = $("<div ><i class='icon-remove-sign remove_control'></i><div class='dparam'style='position: absolute;bottom:0;right:0;margin-right:20px'>Dedicated parameterset: None</div></div>")
    }
    else
    {
      newstep = $("<div></div>")

      enable_ui = false
    }

    newstep.attr("uuid", uuid)
    newstep.attr("id", "step_" + step);
    newstep.addClass("stepschema")
    //newstep.addClass("sortitem")
    newstep.attr("sequence", step)
    newstep.find(".dparam").attr("id", "paramset_label" + uuid)
    newstep.find(".dparam").css("cursor","pointer")
    if (objadd.dedicated_parameterset_id != undefined)
    {
      newstep.find("#paramset_label" + uuid).html("Dedicated parameterset: Yes")
    }
    newstep.find(" .remove_control").click(function(){
      sequence = $(this).parent().attr("sequence")
      removediv = $(this).parent()


      if (confirm("Are you sure?")){
        removediv.fadeOut('slow', function() {
          removediv.remove()
          //modelobj.conversion_steps.splice(sequence-1,1)
          modelobj.conversion_steps[sequence-1] = undefined
          //sync()
          jsPlumb.repaintEverything()
        }
      )}
    })

    newstep.find(" .dparam").click(function(){
      var parameterID = "ID"
      sequence = $(this).parent().attr("sequence")
      uuid = $(this).parent().attr("uuid")
      if (objadd.dedicated_parameterset_id != undefined) {
        var parameterID = objadd.dedicated_parameterset_id
      }
      if (objadd.dedicated_parameterset != undefined)
      {
        $("#parameterset").val(objadd.dedicated_parameterset)
      }
      else
      {
        $("#parameterset").val("")

      }
      
      $("#parametersModalLabel").html("<h4>Parameters</h4>");
      url = '<%= raw url_for(edit_parameter_setting_path('ID')) %>'
      url = url.replace('ID',parameterID)
      url = url + "?level=step&product_design_id=<%= @product_design.id %>"
      current_step_obj = objadd
      $.get( url, function( data ) {
        $("#parameterModelBody").html(data);
        $("#parametersModal").modal("show");
      })
    })
        
        
        
    //newstep.appendTo(destinationdiv.html());
    borderdiv = $("<div class='borderdiv'>")
    borderdiv.attr('id',"borderdiv_step_" + step)
    $("#" + destinationdiv).append(borderdiv);
    borderdiv.append(newstep  )
    newdiv = $("<div></div>")
    newdiv.html("step " + (step));
              
    newdiv.attr("id", "steplabel_" + step);
        
    // ###########!@!!!!!!!!!!!!!!!!!!!!!!NEED TO CHECK WHY THIS FUCKS UP JSPLUMB
    //newdiv.css("left", "1em");
    //newdiv.css("top", "1em");
    // preprocessing improvement steps!!!!!!!!!!!!!!!
   
    selectimprovement_pre_list = $('#select_imp_pre_div').clone();
    selectimprovement_pre_list.attr("id", "select_imp_pre_div_" + step);
    if (enable_ui)
    {
      selectimprovement_pre_list.append("<div id=stepcontainer_pre_i" + step + " class='sortable ui-sortable' style='z-index:5' ></div>")
    }
    else
    {
      selectimprovement_pre_list.append("<div id=stepcontainer_pre_i" + step + " style='z-index:5' ></div>")
    }

    selectimprovement_pre_list.find('select').attr("id", "select_imp_pre_process_" + step);
    selectimprovement_pre_list.find('select').attr("step", step)
    selectimprovement_pre_list.find('select').attr("name", "select_imp_pre_process_" + step)
        
    jsPlumb.draggable(jsPlumb.getSelector(".impselect"));
    jsPlumb.makeTarget(jsPlumb.getSelector(".impselect"), {
      dropOptions:{ hoverClass:"dragHover" },
      endpoint:["Rectangle", { width:5, height:5 }],
      //anchor:"Continuous"
      endpoint : ["Dot", {radius:2}],
      anchor:"LeftMiddle"
    });
    selectimprovement_pre_list.appendTo(newstep);
    

    newdiv.addClass("stepbox")
    //newdiv.appendTo(newstep);
    
    selectimprovement_list = $('#select_imp_div').clone();
    selectimprovement_list.attr("id", "select_imp_div_" + step);
    if (enable_ui)
    {
      selectimprovement_list.append("<div id=stepcontainer_i" + step + " class='sortable ui-sortable' style='z-index:5' ></div>")
    }
    else
    {
      selectimprovement_list.append("<div id=stepcontainer_i" + step + " style='z-index:5' ></div>")
    }
    selectimprovement_list.find('select').attr("id", "select_imp_process_" + step);
    selectimprovement_list.find('select').attr("step", step)
    selectimprovement_list.find('select').attr("name", "select_imp_process_" + step)
        
    jsPlumb.draggable(jsPlumb.getSelector(".impselect"));
    jsPlumb.makeTarget(jsPlumb.getSelector(".impselect"), {
      dropOptions:{ hoverClass:"dragHover" },
      endpoint:["Rectangle", { width:5, height:5 }],
      //anchor:"Continuous"
      endpoint : ["Dot", {radius:2}],
      anchor:"LeftMiddle"
    });
		
    selectimprovement_list.appendTo(newstep);
    
       
    // end preprocess
        
        
    // enable sorting
       
    $(function() {
      $( ".sortable" ).sortable({
        revert: true,
        update : function(event,ui){
          global_ui = ui

          // determine what part of design is changed


          targetted_seq = global_ui.item.parent().parent().parent().attr("uuid")
          ispost = global_ui.item.parent().parent().hasClass("impselect")
          orderprocs = []
          global_ui.item.parent().parent().find(".sortitem .w2").each(function () {
            orderprocs.push($(this).text())
          });

          rearrange_process_order_in_step(targetted_seq, ispost,orderprocs)
          //rearrange_model()
          
        }
      });
      $( "#draggable" ).draggable({
        connectToSortable: "#sortable",
        helper: "clone",
        revert: "invalid"
      });
      $( "ul, li" ).disableSelection();


    });


    div = newstep

    //add connectionpoints
    connectdiv = $("<div>Input</div>")
    processdata = new Object();
    processdata.format = "GENERIC"
    processdata.source_id = "process_data" + uuid
    processdata.package_id = "process_data" + uuid
    processdata.sequence_generated = step-1
    processdata.sequence = div.attr("sequence")

    foundconnects = 0
    inputoffset = offset //+ 2
    inputoffset = inputoffset  + 2
    for(var i=0; i<outputobjects.length; i++) {
      value = outputobjects[i];
      caption =  outputobjects[i].package_id;
      if (has_format(outputobjects[i].format, objadd))
      {
        newdiv = add_element(div,"connect" + uuid + "_" + caption, caption, -22 , inputoffset + (foundconnects*5),"p",outputobjects[i])
        newdiv.width("9em")
        outputobjects[i].drawn = true
        foundconnects = foundconnects +1
      }
      else
      {
        outputobjects[i].drawn = false
      }

    }

    newdiv = add_element(div,"connect" + uuid + "_process_data" + uuid, "Process data", -22 , inputoffset + (foundconnects*5),"p",processdata)
    newdiv.width("9em")
    //selectimprovement_list.find('select').addClass("impselect");
    if (enable_ui)
    {
      selectimprovement_list.find('select').chosen({allow_single_deselect:true,search_contains:true});
    }
    else
    {
      selectimprovement_list.find('select').hide()
    }

    selectimprovement_list.find('select').change(function () {
      $("#select_imp_process_" + step + " option:selected").each(function () {
        str = $(this).val();
        label = $(this).text();
      });
      //add_feature(modelobj,str);
      if (modelobj.conversion_steps == undefined)
      {
        modelobj.conversion_steps = []
      }
      encoded = $.toJSON( modelobj );
                    
      //$.getJSON('<%= url_for :controller => 'executables' %>/' + str + ".json" , function(data) {

      jQuery.ajax ({
        url: '<%= url_for :controller => 'product_designs', :action => 'add_conversion_step', :id => params[:id] %>/?name=' + label ,
        type: "POST",
        data: encoded,
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        success: function(data){
          
          if (modelobj.conversion_steps[step-1].post_improvement_steps == undefined)
          {
            modelobj.conversion_steps[step-1].post_improvement_steps = []
            improvement_sequence = 1
          }
          else
          {
            improvement_sequence = modelobj.conversion_steps[step-1].post_improvement_steps.length
          }
        
          // add step to model
          modelobj.conversion_steps[step-1].post_improvement_steps.push(data)
        
          // check whether output is impacted
          for(var c0=0; c0<data.input.length; c0++) {
            for(var c1=0; c1<modelobj.conversion_steps[step-1].output.length; c1++) {
              if (modelobj.conversion_steps[step-1].output[c1].datatype == data.input[c0].datatype &&
                data.input_has_output == false && data.is_improvement_process == false)
              {
                //output impacted - substitute output
                modelobj.conversion_steps[step-1].output = data.output

                for(var i3=0; i3<data["output"].length; i3++) {
                  outputstub = new Object()
                  outputstub.value
                  outputstub.caption =  data["output"][i3].package_id;
                  outputstub.package_id = data["output"][i3].package_id

                  if ((!data.is_improvement_process) && (!data.input_has_output))
                  {
                    add_output_stub(step, outputstub)
                  }
                }
                //sync
              }
            }

          }



          //modelobj["conversion_steps"].push(data)
          newstep = $("<div style='z-index:10' ></div>")
          newstep.attr("id", "step_" + improvement_sequence+1 +"i");
          if (enable_ui)
          {
            newstep.addClass("sortitem")
          }

          newstep.attr("sequence", improvement_sequence+1)
          //newstep.appendTo(destinationdiv.html());
          $("#stepcontainer_i" + step).append(newstep);
          value = label;
          compilerid = value + "_" + improvement_sequence+1
          add_element_improvement(newstep, compilerid ,value, 50 , 2*step, "POST", enable_ui)
        
          encoded = $.toJSON( modelobj );
          $("#select_imp_div_" + step).parent().height($("#select_imp_div_" + step).parent().height() + 20)
          for(var i3=0; i3<data["parameters_spec"].length; i3++) {
            inputstub = new Object()
            inputstub.caption =  data["parameters_spec"][i3].name;
            inputstub.inputspec = data["parameters_spec"][i3]
            if (data["parameters_spec"][i3].allocate == true)
            {
              add_input_stub(step, inputstub)
              inputoffset = inputoffset  + 2
              for(var i=0; i<outputobjects.length; i++) {
                value = outputobjects[i];
                caption =  outputobjects[i].package_id;
                if (has_format(outputobjects[i].format, inputstub))
                {
                  if (outputobjects[i].drawn == undefined || outputobjects[i].drawn == false)
                  {
                    add_element(div,"connect_" + step + "_" + caption, caption, -18 , inputoffset + (foundconnects*5),"p",outputobjects[i])
                    jsPlumbDemo.initEndpoints()
                  }
                  foundconnects = foundconnects +1
                }

              }
            }
          }

        
          
          //sync()
          jsPlumb.repaintEverything();
          
          
        }});
    })
        
        
    // pre stuff
    if (enable_ui)
    {
      selectimprovement_pre_list.find('select').chosen({allow_single_deselect:true,search_contains:true});
    }
    else
    {
      selectimprovement_pre_list.find('select').hide()
    }
    selectimprovement_pre_list.find('select').change(function () {
      $("#select_imp_pre_process_" + step + " option:selected").each(function ()
      {
        str = $(this).val();
        label = $(this).text();
      });
      //add_feature(modelobj,str);
      if (modelobj.conversion_steps == undefined)
      {
        modelobj.conversion_steps = []
      }
      encoded = $.toJSON( modelobj );


      jQuery.ajax ({
        url: '<%= url_for :controller => 'product_designs', :action => 'add_conversion_step', :id => params[:id] %>/?name=' + label ,
        type: "POST",
        data: encoded,
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        success: function(data){
                    
          //$.post('<%= url_for :controller => 'product_designs', :action => 'add_conversion_step', :id => params[:id] %>/?name=' + label,  "data=" + escape(encoded), function(data) {
          if (modelobj.conversion_steps[step-1].pre_improvement_steps == undefined)
          {
            modelobj.conversion_steps[step-1].pre_improvement_steps = []
            pre_improvement_sequence = 1
          }
          else
          {
            pre_improvement_sequence = modelobj.conversion_steps[step-1].pre_improvement_steps.length
          }
          
          modelobj.conversion_steps[step-1].pre_improvement_steps.push(data)
          //modelobj["conversion_steps"].push(data)
          newstep = $("<div style='z-index:10' ></div>")
          newstep.attr("id", "step_" + pre_improvement_sequence+1 +"i");
          if (enable_ui)
          {
            newstep.addClass("sortitem")
          }
          newstep.attr("sequence", pre_improvement_sequence+1)
          //newstep.appendTo(destinationdiv.html());
          $("#stepcontainer_pre_i" + step).append(newstep);
          value = label;
          compilerid = value + "_" + pre_improvement_sequence+1
          add_element_improvement(newstep, compilerid ,value, 50 , 2*step, "PRE",enable_ui)
          
          // check if allocation parameter is in
          
          for(var i3=0; i3<data["parameters_spec"].length; i3++) {
            inputstub = new Object()
            inputstub.caption =  data["parameters_spec"][i3].name;
            inputstub.inputspec = data["parameters_spec"][i3]
            inputstub.inputspec["exe"] = data["name"]
            if (data["parameters_spec"][i3].allocate == true)
            {
              add_input_stub(step, inputstub, uuid)
             
              jsPlumb.makeTarget(jsPlumb.getSelector(".w"), {
                dropOptions:{ hoverClass:"dragHover" },
                anchor:"Continuous",
                endpoint : ["Dot", {radius:2}]
              });
            }
          }
          encoded = $.toJSON( modelobj );
          $("#select_imp_pre_div_" + step).parent().height($("#select_imp_pre_div_" + step).parent().height() + 20)
          //sync()
          jsPlumb.repaintEverything();
          
          
        }});
    })
    // end pre
  

            
    //add input
    inputoffset = offset
    sequence = div.attr("sequence")
    for(var i=0; i<objadd["input"].length; i++) {
      inputstub = new Object()
      inputstub.caption =  objadd["input"][i].format
      inputstub.inputspec = objadd["input"][i]
      add_input_stub(sequence, inputstub, uuid)
    }
        
        
    if (objadd["parameters_spec"] != undefined)
    {
      for(var i2=0; i2<objadd["parameters_spec"].length; i2++) {
        inputstub = new Object()
        inputstub.caption =  objadd["parameters_spec"][i2].name;
        inputstub.inputspec = objadd["parameters_spec"][i2]
        inputstub.inputspec["exe"] = objadd["name"]
        if (objadd["parameters_spec"][i2].allocate == true)
        {
          add_input_stub(sequence, inputstub, uuid)
              
        }
      }
    }

    // add compiler
    value = objadd.name;
    compilerid = value + "_" + step
    add_element(div, compilerid ,value, 29 , offset,"c", objadd)
    // add output packages
    outputoffset = offset
    for(var i=0; i<objadd["output"].length; i++) {
      value = objadd["output"][i];
      caption = objadd["output"][i].format;
      sequence = div.attr("sequence")
      element_id = "o_" + caption + "_" + sequence + "_" + i
      value = objadd["output"][i];
      caption = objadd["output"][i].package_id;
      if (objadd["output"][i].label != undefined) {
        caption = objadd["output"][i].label
      }
      objadd["output"][i].element_id = element_id
      add_element(div, element_id,caption, 70.8 , 0,"o", objadd["output"][i])
      $('#' + element_id).width('200px')
      

      //outputoffset = outputoffset + ((i+1)*4)
    }
          
    // add connections
     
    var common = {
      cssClass:"myCssClass"
    };
        
    //visualization connections
    sequence = div.attr("sequence")
    element_id =  "select_imp_pre_div_" + sequence
    jsPlumb.connect({
      source:$('#' + element_id),
      target:$('#' + compilerid),
      connector:[ "Flowchart", common ],
      paintStyle : {strokeStyle:"#42a62c",dashstyle:"2 4 4 2", lineWidth:1 },
      endpoint : ["Dot", {radius:2}],
      overlays:[ ["Arrow", { location:1}], [ "Label", { label:"" }, {id:"myLabel", width:1} ]],
      anchor:["RightMiddle", "LeftMiddle"]
    });
    element_id =  "select_imp_div_" + sequence
    jsPlumb.connect({
      source:$('#' + compilerid),
      target:$('#' + element_id),
      connector:[ "Flowchart", common ],
      paintStyle : {strokeStyle:"#42a62c",dashstyle:"2 4 4 2", lineWidth:1 },
      endpoint : ["Dot", {radius:2}],
      overlays:[  ["Arrow", { location:1}], [ "Label", { location:1.2, label:"", location:0.2 }, {id:"myLabel"} ]],
      anchor:["RightMiddle", "LeftMiddle"]
    });
     
        
    for(var i=0; i>objadd["input"].length; i++) {
          
      value = objadd["input"][i];
      caption = objadd["input"][i].format;
      sequence = div.attr("sequence")
      element_id =  "i_" + caption + "_" + sequence + "_" + i
      jsPlumb.connect({
        source:$('#' + element_id),
        target:$('#' + compilerid),
        connector:[ "Bezier", { curviness:20 }, common ],
        paintStyle : {strokeStyle:"#42a62c", lineWidth:2 },
        endpoint : ["Dot", {radius:2}],
        overlays:[ ["Arrow", { location:1}], [ "Label", { location:0, label:"", location:0.25 }, {id:"myLabel"} ]],
        anchor:["RightMiddle", "LeftMiddle"]
      });
    }
        
        
    if (objadd["parameters_spec"] != undefined)
    {
      for(var i2=0; i2>objadd["parameters_spec"].length; i2++) {
          
        value = objadd["parameters_spec"][i2];
        caption =  objadd["parameters_spec"][i2].name;
        if (objadd["parameters_spec"][i2].allocate == true)
        {
          sequence = div.attr("sequence")
          element_id =  "param_" + step + "_" + caption
          jsPlumb.connect({
            source:$('#' + element_id),
            target:$('#' + compilerid),
            connector:[ "Bezier", { curviness:20 }, common ],
            paintStyle : {strokeStyle:"#42a62c", lineWidth:2 },
            endpoint : ["Dot", {radius:2}],
            overlays:[ ["Arrow", { location:1}], [ "Label", { location:2, label:"", location:0.25 }, {id:"myLabel"} ]],
            anchor:["RightMiddle", "LeftMiddle"]
          });
        }
      }
    }
          
    for(var i=0; i>objadd["output"].length; i++) {
      value = objadd["output"][i];
      caption = objadd["output"][i].format;
      sequence = div.attr("sequence")
      element_id = "o_" + caption + "_" + sequence + "_" + i
      jsPlumb.connect({
        source:$('#' + compilerid),
        target:$('#' + element_id),
        connector:[ "Bezier", { curviness:20 }, common ],
        paintStyle : {strokeStyle:"#42a62c", lineWidth:2 },
        endpoint : ["Dot", {radius:2}],
        overlays:[ ["Arrow", { location:1}], [ "Label", { location:1, label:"", location:0.25 }, {id:"myLabel"} ]],
        anchor:["RightMiddle", "LeftMiddle"]
                                  
      });
         
      if (value.format == "dHive")
      {
        if (false)
        {
          jsPlumb.connect({
            source:$('#' + "select_imp_div_" + step),
            target:$('#' + value.package_id),
            connector:[ "Bezier", { curviness:80 }, common ],
            paintStyle : {strokeStyle:"#42a62c", lineWidth:2 },
            endpoint : ["Dot", {radius:2}],
            overlays:[ ["Arrow", { location:1}], [ "Label", { location:2, label:"", location:0.25 }, {id:"myLabel"} ]],
            anchor:"BottomCenter"
          });


          jsPlumb.connect({
            target:$("#select_imp_div_" + step),
            source:$('#' + value.package_id),
            connector:[ "Bezier", { curviness:50 }, common ],
            paintStyle : {strokeStyle:"#42a62c", lineWidth:2 },
            endpoint : ["Dot", {radius:2}],
            overlays:[["Arrow", { location:1}], [ "Label", { location:1, label:"", location:0.25 }, {id:"myLabel"} ]],
            anchor:"TopCenter"
          });
        }
      }
      else
      {
        $("#select_imp_div_" + step).hide()
      }
          
    }
      
    // fill in improvement processes -- post
    if (objadd["post_improvement_steps"] != undefined)
    {
        
      for(var i=0; i<objadd["post_improvement_steps"].length; i++) {
        newstep = $("<div style='z-index:10' ></div>")
        newstep.attr("id", "step_" + i+1 +"i");
        if (enable_ui)
        {
          newstep.addClass("sortitem")
        }
        newstep.attr("sequence", i+1)
        //newstep.appendTo(destinationdiv.html());
        $("#stepcontainer_i" + step).append(newstep);
        value = objadd["post_improvement_steps"][i].name;
        compilerid = value + "_" + step
        add_element_improvement(newstep, compilerid ,value, 40 , 2*step, "POST", enable_ui)
        $("#select_imp_div_" + step).parent().height($("#select_imp_div_" + step).parent().height() + 20)
              
        data = objadd["post_improvement_steps"][i]
        for(var i3=0; i3<data["parameters_spec"].length; i3++) {
          inputstub = new Object()
          inputstub.caption =  data["parameters_spec"][i3].name;
          inputstub.inputspec = data["parameters_spec"][i3]
          inputstub.inputspec["exe"] = data["name"]
          if (data["parameters_spec"][i3].allocate == true)
          {
            add_input_stub(step, inputstub, uuid)
            jsPlumb.makeTarget(jsPlumb.getSelector(".w"), {
              dropOptions:{ hoverClass:"dragHover" },
              anchor:"Continuous",
              endpoint : ["Dot", {radius:2}]
            });
          }
        }
      }
    }
        
    // fill in improvement processes -- PRE
    if (objadd["pre_improvement_steps"] != undefined)
    {
          
      for(var i=0; i<objadd["pre_improvement_steps"].length; i++) {
        newstep = $("<div style='z-index:10' ></div>")
        newstep.attr("id", "step_" + i+1 +"i");
        newstep.addClass("sortitem")
        newstep.attr("sequence", i+1)
        //newstep.appendTo(destinationdiv.html());
        $("#stepcontainer_pre_i" + step).append(newstep);
        value = objadd["pre_improvement_steps"][i].name;
        compilerid = value + "_" + step
        add_element_improvement(newstep, compilerid ,value, 50 , 2*step, "PRE", enable_ui)
        $("#select_imp_div_" + step).parent().height($("#select_imp_div_" + step).parent().height() + 20)
            
        data = objadd["pre_improvement_steps"][i]
        for(var i3=0; i3<data["parameters_spec"].length; i3++) {
          inputstub = new Object()
          inputstub.caption =  data["parameters_spec"][i3].name;
          inputstub.inputspec = data["parameters_spec"][i3]
          inputstub.inputspec["exe"] = data["name"]
          if (data["parameters_spec"][i3].allocate == true)
          {
            add_input_stub(step, inputstub, uuid)
            jsPlumb.makeTarget(jsPlumb.getSelector(".w"), {
              dropOptions:{ hoverClass:"dragHover" },
              anchor:"Continuous",
              endpoint : ["Dot", {radius:2}]
            });
          }
        }
      }
    }

    // add input output connects
    //
    if (foundconnects > 0 || true)
    {
      jsPlumbDemo.initEndpoints();
      connectdiv.css("height", foundconnects*5  + 1.5 +  "em");
      connectdiv.addClass("connectbox")
      /*
      if (foundconnects > 6)
      {
        div.parent().css("height", foundconnects*7  + 2.5 +  "em")
      }
       */
      connectdiv.css("z-index", -100);
      sequence = div.attr("sequence")
      if (modelobj.conversion_steps[sequence-1].connections != undefined)
      {
        for(var i=0; i<modelobj.conversion_steps[sequence-1].connections.length; i++) {
          connection = modelobj.conversion_steps[sequence-1].connections[i]
          if (connection != undefined)
          {
            sourcedata_divs = $("[id^='i" + uuid + "']")
            for(var i2=0; i2<sourcedata_divs.length; i2++) {
              meta= eval("(" + sourcedata_divs[i2].attributes["meta"].value + ")")
              if (meta.name == connection.target_spec.name && meta.package_id == connection.target_spec.package_id)
              {
                inputdiv= sourcedata_divs[i2]

                element_id =  "connect" + uuid + "_" + connection.source_id
                target_id = inputdiv.id
                if (connection.filling != undefined)
                {
                  labelid = ""
                  if (connection.filling_labelid != undefined)
                  {
                    labelid = connection.filling_labelid
                  }
                  
                  $('#' + target_id).append("<div id='" + labelid + "'><small>" + connection.filling + "</small></div>")
                }
                ///patch needed for legacy designs not using uuid
                if ($('#' + element_id)[0] == undefined)
                {
                  newid = "connect" + uuid + "_process_data"
                  element_id =  $("[id^='" + newid + "']")[0].id
                }
                connectjsp = jsPlumb.connect({
                  source:$('#' + element_id ),
                  target:$('#' + target_id),
                  connector:[ "Bezier", { curviness:20 }, common ],
                  paintStyle : {strokeStyle:"#42a62c", lineWidth:1 },
                  endpoint : ["Dot", {radius:2}],
                  overlays:[ ["Arrow", { location:1}], [ "Label", { location:1, label:"", location:0.25 }, {id:"myLabel"} ]],
                  anchor:["Continuous", { faces:["right"] } ],
                  anchors:["Continuous", "Continuous", { faces:["left"] }]
                });
                connectjsp.filling = connection.filling
                connectjsp.filling_labelid = connection.filling_labelid

                add_binds(connectjsp)
                


              }

            }

          }


        }
      }
    }
    jsPlumb.repaintEverything();
    return offset
         
  }
        
  function add_param_to_translation(executable,paramsjson,select)
  {
    //current_part.executable = executable
    $('#param_name').empty()
    $('#' + select).html("")
    if (paramsjson != "")
    {

      params = eval('(' + paramsjson + ')');
      for(var i=0; i<params.parameters.length; i++) {
        paramname = params.parameters[i].name;

        $('#' + select).append(
        $('<option></option>').val(paramname).html(paramname)
      );
      }
    }
  }
        
        
  function add_element(div, id,caption, left, offset, type, objadd)
  {
    if (objadd.label != undefined)
    {
      caption = objadd.label
    }
    newdiv
    if (type == "c")
    {
      newdiv = $('#DHIVE').clone()
      newdiv.html(caption+"<div class='ep'></div>");

      newdiv.attr("id", id);
      newdiv.attr("meta", $.toJSON(objadd));
      newdiv.attr("package_id", objadd.package_id)
      newdiv.css("top", offset  + "em");
      newdiv.css("left", left + "em");
      newdiv.appendTo(div);
      newdiv.dblclick(function(){
        uuid = $(this).parent().attr("uuid")
        url = '<%= url_for(edit_parameter_setting_path("ID")) %>'
        if (objadd.dedicated_parameterset != undefined)
        {
          $("#parameterset").val(objadd.dedicated_parameterset)
        }
        else
        {
          $("#parameterset").val("ID")
        }
        if (objadd.dedicated_parameterset_id != undefined)
        {
          url = url.replace('ID',objadd.dedicated_parameterset_id)
        }
        url = url + "?level=step&product_design_id=<%= @product_design.id %>"
        $("#parametersModalLabel").html("<h4>Parameters</h4>");
        current_step_obj =  objadd
        $.get(url,{}, function( data ) {
          $("#parameterModelBody").html(data);
          $("#parametersModal").modal("show");
          $("#parameterset").val($("#parameter_setting_id").val())
          objadd.dedicated_parameterset_id = $("#parameter_setting_id").val()
          
        })

        return false;
      });
    }
    else if (type == "o")
    {

      newdiv = $('#DHIVE').clone()
      
      newdiv.html("<span id=caption_" + id + " class='inpeditable' style='width:300px'>" + caption + "</span>" +"<div class='ep'></div>");
      newdiv.attr("id", id);
      newdiv.css("top", offset  + "em");
      newdiv.css("left", left + "em");
      newdiv.attr("meta",  $.toJSON(objadd));
      newdiv.attr("package_id", objadd.package_id)
      newdiv.appendTo(div);
    }
    else
    {

      newdiv = $('#DHIVE').clone()
      newdiv.html( caption + "<div class='ep'></div>");
      newdiv.attr("id", id);
      newdiv.css("top", offset  + "em");
      newdiv.css("left", left + "em");
      newdiv.attr("meta",  $.toJSON(objadd));
      newdiv.attr("package_id", objadd.package_id)
      newdiv.appendTo(div);
    }
    
    div.height(div.height() + newdiv.height()*2)
    return newdiv
  }
      
      
  function add_element_improvement(div, id,caption, left, offset, type, enable_ui)
  {
        
    newdiv = $('#improvementprocess_div').clone()
    if (enable_ui)
    {
      newdiv.html(caption+"<div class='icon-remove-sign remove_control'></div>");
    }
    else
    {
      newdiv.html(caption);
    }


    newdiv.attr("id", id);
    newdiv.css("top", offset  + "em");
    newdiv.css("left", left + "em");
    newdiv.appendTo(div);

    newdiv.find(".remove_control").click(function(){
      sequence_step = $(this).parent().parent().parent().parent().parent().attr("sequence")
      sequence = $(this).parent().parent().attr("sequence")
      
      $(this).parent().remove()
      // remove related connections && stubs
      
      
      jsPlumb.repaintEverything()
      if (type == "POST")
      {
        exe =  modelobj.conversion_steps[sequence_step-1].post_improvement_steps[sequence-1].name
        modelobj.conversion_steps[sequence_step-1].post_improvement_steps.splice(sequence-1,1)
        
      }
      else
      {
        exe =  modelobj.conversion_steps[sequence_step-1].pre_improvement_steps[sequence-1].name
        $(".w").each(function () {
          str = $(this).attr("meta")
          if(str != undefined)
          {
            metaobj = eval("(" + str + ")")
            
            if (metaobj.exe == exe)
            {
              // remove related connections in model
              for(var i=0; i< modelobj.conversion_steps[sequence_step-1].connections.length; i++) {
                if (modelobj.conversion_steps[sequence_step-1].connections[i].target_spec.package_id == metaobj.package_id)
                {
                  modelobj.conversion_steps[sequence_step-1].connections.splice(i,1)
                }
              }
              modelobj.conversion_steps[sequence_step-1]
              $(this).remove()
              
            }
          }
        })
        modelobj.conversion_steps[sequence_step-1].pre_improvement_steps.splice(sequence-1,1)
      
      }

      //sync()

    });

  }


  $("#import_design").chosen();
  $("#conversion_steps").chosen({search_contains:true})

  $("#import_design").change(function () {
    $('html, body').css('cursor', 'wait');
    $("#import_design option:selected").each(function () {
      str = $(this).val();
      label = $(this).text();
      $("#import_design").val('').trigger("liszt:updated");
      
    });
    
    jQuery.ajax ({
      url: '<%= url_for :controller => 'product_designs', :action => 'import_design', :id => params[:id] %>/?id_to_import=' + str ,
      type: "POST",
      data: "",
      dataType: "json",
      contentType: "application/json; charset=utf-8",
      success: function(data){
        //$.getJSON('<%= url_for :controller => 'executables' %>/' + str + ".json" , function(data) {
        //$.post(' , "data=" + escape(encoded), function(data) {
        $('html, body').animate({
          scrollTop: $("#footer").offset().top - 75
        }, 500);
        window.location.reload(false);
        // init drag and drop areas for new zones
        jsPlumbDemo.initEndpoints()
        jsPlumb.makeTarget(jsPlumb.getSelector(".w"), {
          dropOptions:{ hoverClass:"dragHover" },
          anchor:["Continuous", { faces:["left"] } ],
          endpoint : ["Dot", {radius:2}]
        });
      }});
  });

  $("#conversion_steps").change(function () {
    $("#conversion_steps option:selected").each(function () {
      str = $(this).val();
      label = $(this).text();
      $("#conversion_steps").val('').trigger("liszt:updated");
        
    });
    //add_feature(modelobj,str);
    if (modelobj.conversion_steps == undefined)
    {
      modelobj.conversion_steps = []
    }
    encoded = $.toJSON( modelobj );
    jQuery.ajax ({
      url: '<%= url_for :controller => 'product_designs', :action => 'add_conversion_step', :id => params[:id] %>/?name=' + label ,
      type: "POST",
      data: encoded,
      dataType: "json",
      contentType: "application/json; charset=utf-8",
      success: function(data){
        $('html, body').animate({
          scrollTop: $("#footer").offset().top - 75
        }, 500);
        add_to_model_steps(data, label, 'stepcontainer', modelobj, "conversion_steps")
        //sync()
        // init drag and drop areas for new zones
        jsPlumbDemo.initEndpoints()
        jsPlumb.makeTarget(jsPlumb.getSelector(".w"), {
          dropOptions:{ hoverClass:"dragHover" },
          anchor:["Continuous", { faces:["left"] } ],
          endpoint : ["Dot", {radius:2}]
        });
      }});
  })
      
  function handle_messages(messages)
  {
    $('#messagecontainer').html('')
        
    for(var i=0; i< messages.length; i++) {
      // handle sync event - todo
      if (messages[i].type == 'info')
      {
        $('#messagecontainer').append('<div class="alert alert-info fade in"><button class="close" data-dismiss="alert" type="button">×</button><strong>' + messages[i].text + '</strong></div>')
      }
      else if (messages[i].type == 'error')
      {
        $('#messagecontainer').append('<div class="alert alert-error fade in"><button class="close" data-dismiss="alert" type="button">×</button><strong>' + messages[i].text + '</strong></div>')
      }
      else if (messages[i].type == 'success')
      {
        $('#messagecontainer').append('<div class="alert alert-success fade in"><button class="close" data-dismiss="alert" type="button">×</button><strong>' + messages[i].text + '</strong></div>')
      }
         
    }
  }
 
  function save()
  {
    modelobj.product_id = $("#product_select").val()
    modelobj.comment = $("#po_description").val()
    modelobj.conversion_steps = modelobj.conversion_steps.filter(function(n){ return n != undefined });
    if (modelobj.conversion_steps != undefined )
    {
      for(var i=0; i < modelobj.conversion_steps.length; i++)
      {
        if (modelobj.conversion_steps[i].connections != undefined )
        {
          modelobj.conversion_steps[i].connections = modelobj.conversion_steps[i].connections.filter(function(n){ return n != undefined });
        }
      }
    }
    $("#product_design_model").val($.toJSON(modelobj));
    document.forms[0].submit();
  }

  /*
  function sync()
  {
    modelobj.product_id = $("#product_select").val()
    modelobj.comment = $("#po_description").val()

    encoded = $.toJSON( modelobj );
    $.post("<%= url_for :controller => 'product_designs', :action => 'sync_model', :id => params[:id], :source => params[:source]  %>"  ,
    {lock_version: $("#product_design_lock_version").val(),model: encoded}, function(data) {
      modelobj = data
      $("#product_design_lock_version").val(modelobj.lock_version);
      delete modelobj.lock_version;
      encoded = $.toJSON( modelobj );
      if (data.process_message != undefined)
      {
        handle_messages(data.process_message)
      }
    }).fail(function() {
      alert( "error syncing design" );
    })
  }
  */
   
  var ID = function () {
    // Math.random should be unique because of its seeding algorithm.
    // Convert it to base 36 (numbers + letters), and grab the first 9 characters
    // after the decimal.
    return '_' + Math.random().toString(36).substr(2, 9);
  };
      
  function render_filecontent(fileObject)
  {
        
    escapedfile_id = fileObject.file_id.replace(/\//g,"").replace(/\./g,"").replace(/@/g,"")
    newdiv = $("<div class='row'></div>")
    newdiv.html('<div class="span1"><a id=removeContent' + escapedfile_id  + ' file_id=' + fileObject.file_id + ' href="#removeContent' + escapedfile_id + '" role="button" class="btn btn-danger btn-mini" data-toggle="modal">Remove</a></div><div class="span10">' + fileObject.file_path  + '</div>')

    newdiv.attr("id", "content_" + fileObject.file_id.replace(/\//g,"-"))
    newdiv.appendTo($('#assembly_lines'))
        
        
    $('#removeContent' + escapedfile_id).click(function(){
      $(this).parent().parent().fadeOut('slow', function() {
        //Wmodelobj.conversion_steps[sequence_step-1].post_improvement_steps.splice(sequence-1,1)
        //sync()
        for(var i=0; i< current_step.input.length; i++) {
          if (current_step.input[i].package_id == selected_design_id)
          {
            for(var i2=0; i2< current_step.input[i].file_resources.length; i2++) {
              file_id_to_remove = $(this).attr('file_id')

              if (current_step.input[i].file_resources[i2].file_id == file_id_to_remove)
              {
                current_step.input[i].file_resources.splice(i2,1)
                break
              }

            }
          }
        }
        //sync()
      })
           
          
    })
        
  }
      
  function remove_content()
  {
    $('#assembly_lines').html("")
    selected_design.file_resources = []
    //sync()
  }
      
      
  function has_format(format, obj)
  {
    formats = obj["input"]
    if (formats != undefined)
    {
      for(var i=0; i<formats.length; i++) {
          
        if (formats[i].format == format)
        {
          return true
        }
      }
    }
        
    if (obj.parameters_spec)
    {
      formats = obj.parameters_spec
      for(var i=0; i<formats.length; i++)
      {
        if (formats[i].allocate_tags == format)
        {
          return true
        }
      }
    }


    if (obj.inputspec)
    {

      if (obj.inputspec.allocate_tags == format)
      {
        return true
      }
    }

        
    if (obj.post_improvement_steps != undefined)
    {
      for(var i=0; i<obj.post_improvement_steps.length; i++)
      {
        objpost = obj.post_improvement_steps[i]
        if (objpost.parameters_spec)
        {
          formats = objpost.parameters_spec
          for(var i2=0; i2<formats.length; i2++)
          {
            if (formats[i2].allocate_tags == format)
            {
              return true
            }
          }
        }
      }
    }

    if (obj.pre_improvement_steps != undefined)
    {
      for(var i=0; i<obj.pre_improvement_steps.length; i++)
      {
        objpost = obj.pre_improvement_steps[i]
        if (objpost.parameters_spec)
        {
          formats = objpost.parameters_spec
          for(var i2=0; i2<formats.length; i2++)
          {
            if (formats[i2].allocate_tags == format)
            {
              return true
            }
          }
        }
      }
    }

    return false
  }

  function get_conversion_step_from_uuid(uuid)
  {
    cstep = null
    // function correct conversionstep by uuid
    for(var i=0; i< modelobj.conversion_steps.length; i++)
    {
      if (modelobj.conversion_steps[i].uuid == uuid) {
        cstep = modelobj.conversion_steps[i]
        break
      }
    }
    return cstep
  }

  function rearrange_process_order_in_step(uuid, ispost, proclist)
  {
    // function correct conversionstep by uuid
    for(var i=0; i< modelobj.conversion_steps.length; i++)
    {
      if (modelobj.conversion_steps[i].uuid == uuid) {
        if (ispost)
        {
          // post improvement list
          oldlist = modelobj.conversion_steps[i].post_improvement_steps
          newlist = []
          for(var i2=0; i2< proclist.length; i2++)
          {

            for(var i3=0; i3< oldlist.length; i3++)
            {
               
              if (oldlist[i3].name == proclist[i2])
              {
                newlist.push(oldlist[i3])
                break
              }
            }
          }
          modelobj.conversion_steps[i].post_improvement_steps = newlist
        }
        else
        {
          oldlist = modelobj.conversion_steps[i].pre_improvement_steps
          newlist = []
          for(var i2=0; i2< proclist.length; i2++)
          {
            for(var i3=0; i3< oldlist.length; i3++)
            {
              if (oldlist[i3].name == proclist[i2])
              {
                newlist.push(oldlist[i3])
                break
              }
            }
          }
          modelobj.conversion_steps[i].pre_improvement_steps = newlist
        }
      }
    }
  }
      
  function rearrange_model()
  {
    newarr = []
    sequence = 0
    $("#stepcontainer .stepschema").each(function(index, value) {
      sequence = index + 1
      newarr.push(
      modelobj.conversion_steps[parseInt($(this).attr("sequence")-1)])
      $(this).attr("sequence", sequence)

      //$(this).find("div").first().html($(this).find("div").first().html().replace(/[0-9]/,sequence))
    })
          
    modelobj.conversion_steps = newarr
    /// synchonize with server!!!
    encoded = $.toJSON( modelobj );

    
    //sync()
  }
      
        
        
  $("#add_parameter_button").click(function(){
    parameter = new Object()
    parameter.parameter_name = $('#param_name_exe').val();
    parameter.parameter_value = $('#param_value_exe').val();

            
    if (current_step.parameters == undefined)
    {
      current_step.parameters = []
    }
    listrow = $('#params_row').clone()
    listrow.attr("id",parameter.parameter_name)
    listrow.find("div:eq(1)").text(parameter.parameter_name+"=" +parameter.parameter_value + " ")
    //listrow.find("div:eq(2)").text("")
    $('#parameters_defined').append(listrow)
    listrow.fadeIn();
    current_step.parameters.push(parameter)
    $("#" + parameter.parameter_name + " .remove_param").click(function(){
      // cleanup chosen objectmess
      $(this).parent().parent().fadeOut()
      current_step.parameters = $.grep(current_step.parameters, function(value) {
        return value.parameter_name != parameter.parameter_name
      });
      return false
    })
    return false;
  });
    
  $("#create_po_button").click(function(){
    //sync()
    modelobj.product_id = $("#product_select").val()
    modelobj.comment = $("#po_description").val()
    encoded = $.toJSON( modelobj );
    $.post("<%= url_for :controller => 'product_designs', :action => 'create_production_order', :id => params[:id] %>"  ,{'conversiontool_id': $('#conversiontool_id').val(), 'cvtool_bundle_id': $('#cvtool_bundle_id').val(), 'product_id': $('#product_select').val(), 'comment': $('#po_description').val()}, function(data) {
      $('#create_productionorder').modal('hide')
      modelobj = data
          
      encoded = $.toJSON( modelobj );
      if (data.process_message != undefined)
      {
        $("html, body").animate({ scrollTop: 0 }, "slow");
        handle_messages(data.process_message)
           
      }
          
          
    })

  })
    
  $("#save_param").click(function(){
       
    $('#editParameters').modal('hide')
    get_conversion_step_from_uuid(uuid).dedicated_parameterset = $("#parameterset").val()
    $("#paramset_label" + uuid).html("Dedicated parametersettings: " + $("#parameterset").val())
    return false;
  });
  $("#taggies").chosen({search_contains: true, allow_single_deselect: true})
        
        
  $("#create_po").click(function(){
    $('#create_productionorder').modal('show')
    return false;
  });
  $("#product_select").chosen({search_contains: true, allow_single_deselect: true})

  $('#specifyFilling').on('hidden', function () {
    if ($("#filling").val() === ''){
      alert('Filling is required for this data type, please reconnect.');
      jsPlumb.detach(gcon.connection);
    }
  });

  $("#savefilling").click(function(){
    if ($("#filling").val() === ''){
      $('#specifyFilling').modal('hide');
    }else{
      connection.filling = $("#filling").val();
      labelid = 'connection_label' +  ID()
      connection.filling_labelid = labelid
      gcon.filling = connection.filling
      gcon.connection.filling = connection.filling
      gcon.filling_labelid = labelid
      gcon.connection.filling_labelid = labelid

      //sync()
      add_binds(gcon.connection)
      $('#specifyFilling').modal('hide')
      gcon.target.append("<div id='" + labelid + "'><small>" + $("#filling").val() + "</small></div>")
    }
    return false;
  });
  global_ui = ""

  $("#save_button").click(function(){
    save()
  })


 


$("#parameterset").select2({allowClear:true,placeholder:"select parameter set"});
</script>
