<%= render :partial => 'reception_matches' %>

<script>
    $(function ($) {
      $('.checkall').click(function () {
        $(this).parents('fieldset:eq(0)').find(':checkbox').attr('checked', this.checked);
      });
    });
</script>
