<%= render 'show_data' %>
<%= render 'history' %>

<div class="row">
  <div class="span12">
    <%= link_to "Set to draft", draft_product_design_path(@product_design, :lock_version => @product_design.lock_version), :class => "btn #{@product_design.allowed_status?("draft", @current_user.user_name) && can?(:draft, @product_design) ? 'enabled' : 'disabled'}", :method => :post %>&nbsp;
    <button type="button" id="request_review" class="btn" <%= @product_design.allowed_status?("review", @current_user.user_name) && @product_design.has_conversion_steps? ? 'enabled' : 'disabled' %>>Request review</button>
    <%= link_to "Approve", approve_product_design_path(@product_design, :lock_version => @product_design.lock_version), :class => "btn #{@product_design.approval_allowed?(@current_user,session[:project_id]) ? 'enabled' : 'disabled'}", :method => :post %>&nbsp;
    <%= link_to "Revert to latest approved", revert_product_design_path(@product_design, :lock_version => @product_design.lock_version), :class => "btn #{@product_design.status != "approved" && @product_design.latest_approved && can?(:revert, @product_design) ? 'enabled' : 'disabled'}", :method => :post %>&nbsp;
    <%= link_to "Mark as obsolete", obsolete_product_design_path(@product_design, :lock_version => @product_design.lock_version), :class => "btn #{@product_design.allowed_status?("obsolete", @current_user.user_name) && can?(:obsolete, @product_design) ? 'enabled' : 'disabled'}", :method => :post %>&nbsp;
    <%= link_to "Destroy", product_design_path(@product_design, :lock_version => @product_design.lock_version), :class => "btn #{(@product_design.status.nil? || @product_design.status == 'new') && can?(:destroy, @product_design) ? 'enabled' : 'disabled'}", :method => :delete %>
  </div>
</div>
<div class="row"><div class="span3">&nbsp;</div></div>
<div class="row">
  <div class="span7">
    <%= link_to @product_design, :class => "btn", :title => "show" do %>
      <i class="icon-eye-open"></i>
    <% end %>
    &nbsp;
    <%= link_to edit_product_design_path(@product_design), :class => "btn",  :title => "edit design header" do %>
      <i class="icon-edit"></i>
    <% end %>
    &nbsp;
    <%= link_to({:action => 'edit_model', :id => @product_design.id}, {:class => "btn", :title => "edit process flow"}) do %>
      <i class="icon-pencil"></i>
    <% end %>
    &nbsp;
    <%= link_to :back, :class => "btn", :title => "back" do %>
      <i class="icon-arrow-left"></i>
    <% end %>
    &nbsp;
    <%= link_to product_designs_path, :class => "btn", :title => "overview" do %>
      <i class="icon-arrow-up"></i>
    <% end %>
  </div>
</div>

<div class="modal hide fade" id="selectProjectmembers">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Select reviewer(s)</h4>
  </div>
  <div class="modal-body">
    <% if @product_design.product_line && !@product_design.product_line.users.empty? %>
      <% @product_design.product_line.users.each do |member| %>
      <% if session[:username] != member.user_name %>
      <label class="radio">
        <input type="radio" value="<%= member.id %>" name="reviewers[]" id="reviewer-<%= member.id %>"/>
        <%= member.full_name %>
      </label>
      <%= javascript_tag("$('#reviewer-#{member.id}').prop('checked', false);") %>
      <% end %>
      <% end %>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" id="submitReview" type="button" disabled="disabled">Request</button>
    </div>
    <% else %>
      <strong>Project members for review are not defined on Product line!</strong><br/>
      Please setup these members first.
      <% if @product_design.product_line %>
        <br />
        Product line: <%= link_to @product_design.product_line.abbr,product_line_path(@product_design.product_line) %>
      <% end %>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" id="failedReview" type="button" disabled="disabled">Request</button>
    </div>
    <% end %>

</div>

<script type="text/javascript">
  $('a.disabled').click(function(e) {
    // Disable links for disabled buttons
    e.preventDefault();
    return false;
  });
  review_request_sent = false;
  $('#request_review').click(function(e) {
    if(review_request_sent){
      e.preventDefault();
      return false;
    } else {
      review_request_sent = true;
      $('#request_review').removeClass('enabled');
      $('#request_review').addClass('disabled');
      // opens modal whith user when available
    }
  });
  $('#submitReview').click(function(){
    $('#selectProjectmembers').modal('hide');
    values = $("[id^=reviewer-]").map(function(){ 
      if ($(this).attr('checked') == 'checked') {return $(this).val()}
    }).get();
    $.post('<%= review_product_design_path(@product_design, :lock_version => @product_design.lock_version) %>',{'userids':values});
    location.reload();
  });

  $("[id^=reviewer-]").change(function(){
    if ( $("[id^=reviewer-]:checked").length > 0 ) {
      $('#submitReview').removeAttr('disabled');
    } else {$('#submitReview').attr('disabled','disabled');}
  });

  $("#request_review").click(function(){
    $('#selectProjectmembers').modal('show');
  });
</script>
