
<%= wicked_pdf_stylesheet_link_tag 'bootstrap.css', :media => "all" %>
<%= wicked_pdf_stylesheet_link_tag 'webmis.css', :media => "all" %>
<div class="PDF" style="float:left;color:gray"><%= image_tag(@imagepath, :height => '35px') %><br>www.mapscape.eu</div><br /><br />
<div class="row">
<div class="span12 bounded">
<%= render 'show_model' %>
</div>
</div>