
<div class="PDF" style="float:left;color:gray"><%= image_tag(@imagepath, :height => '35px') %><br>www.mapscape.eu</div><br /><br />
<div class="row">
  <div class="span12 bounded bounded-headered">
    <div class="row bounded-header">
      <div class="span9">
        <h4>Product design <%= @product_design.name %></h4>
      </div>
      <div class="span">
        <strong>Revision</strong> <%= @product_design.version %>
      </div>
      <div class="span2">
        <strong>Status</strong> <%= @product_design.status %>
      </div>
    </div>
    <div class="row">
      <div class="span5"><h5>Description</h5></div>
    </div>
    <div class="row">
      <div class="span9"><%= @product_design.description %> </div>
    </div>
  </div>
</div>
<div id="Target"></div>
<div class="row">

<div class="span12" style="margin-left: 40px;">
          
<%= render 'show_model' %>
</div>
</div>
