<% content_for :search_parameters do %>
<%= select_tag 'search_exe_name',   options_for_select(ProductDesign.used_executable_names, params[:search_exe_name]),  :include_blank => true, :class=>"span2",:data => {:placeholder => 'Executable'} %>
  <%= select_tag 'design_type', options_for_select({'Frontent' => 'frontend', 'Backend' => 'backend'}, params[:design_type]),  :include_blank => true, :class=>"span1",:data => {:placeholder => 'Type'} %>
    <script type="text/javascript">
      $('#search_exe_name').chosen({allow_single_deselect: true});
      $('#design_type').chosen({allow_single_deselect: true});
    </script>

<% end %>

<%= render(partial: "shared/versioned_objects", object: @product_designs, locals: {header: "Product designs", form_path: "product_designs_path"}) %>


<div id="endless">
  <div class="row">
    <div class="offset1 span1"><strong><%= sortable "id" %></strong></div>
    <div class="span2"><strong><%= sortable "design_type", "Design type" %></strong></div>
    <div class="span4"><strong><%= sortable "name", "Name" %></strong></div>
    <div class="span2"><strong><%= sortable "latest_approved", "Latest Approved" %></strong></div>
  </div>
    <%= render(:partial => "product_design", :collection => @product_designs) %>
</div>
<%= will_paginate(@product_designs) %>
<%= pageless(@product_designs.total_pages, product_designs_path, "#endless") %>
