$('#fillingSelect').html('<%= escape_javascript(render(:partial => "target_filling_select", :object => @fillings)) %>');
<% if !@fillings.empty? %>
  $('#specifyFilling').modal('show');
<% else %>
  sync();
<% end %>