
<%= render 'show_data' %>
<%= render 'history' %>
<div class="row">
  <div class="span7">
    <%= link_to({:action => :html2pdf_show,:format => :pdf}, {:class => "btn",:target => '_blank',:title => "print PDF"}) do %>
      <i class="icon-print"></i>
    <% end %>
    &nbsp;
    <%= link_to handle_product_design_path(@product_design), :class => "btn", :title => "handle" do %>
      <i class="icon-tasks"></i>
    <% end %>
    &nbsp;
    <%= link_to edit_product_design_path(@product_design), :class => "btn", :title => "edit design header" do %>
      <i class="icon-edit"></i>
    <% end %>
    &nbsp;
    <%= link_to({:action => 'edit_model', :id => @product_design.id}, {:class => "btn", :title => "edit process flow"}) do %>
      <i class="icon-pencil"></i>
    <% end %>
    &nbsp;
    <%= link_to :back, :class => "btn", :title => "back" do %>
      <i class="icon-arrow-left"></i>
    <% end %>
    &nbsp;
    <%= link_to product_designs_path, :class => "btn", :title => "overview" do %>
      <i class="icon-arrow-up"></i>
    <% end %>
  </div>
</div>
<div class="row"><br /></div>


