<%= form_for(@process_data_element) do |f| %>
  <% if @process_data_element.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@process_data_element.errors.count, "error") %> prohibited this process_data_element from being saved:</h2>

      <ul>
      <% @process_data_element.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :process_data_item_id %><br />
    <%= f.number_field :process_data_item_id %>
  </div>
  <div class="field">
    <%= f.label :reception_id %><br />
    <%= f.number_field :reception_id %>
  </div>
  <div class="field">
    <%= f.label :process_data_specification_id %><br />
    <%= f.number_field :process_data_specification_id %>
  </div>
  <div class="field">
    <%= f.label :remark %><br />
    <%= f.text_area :remark %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
