<h1>Listing process_data_elements</h1>

<table>
  <tr>
    <th>Process data item</th>
    <th>Reception</th>
    <th>Process data specification</th>
    <th>Remark</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @process_data_elements.each do |process_data_element| %>
  <tr>
    <td><%= process_data_element.process_data_item_id %></td>
    <td><%= process_data_element.reception_id %></td>
    <td><%= process_data_element.process_data_specification_id %></td>
    <td><%= process_data_element.remark %></td>
    <td><%= link_to 'Show', process_data_element %></td>
    <td><%= link_to 'Edit', edit_process_data_element_path(process_data_element) %></td>
    <td><%= link_to 'Destroy', process_data_element, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Process data element', new_process_data_element_path %>
