<p id="notice"><%= notice %></p>

<p>
  <b>Process data item:</b>
  <%= @process_data_element.process_data_item_id %>
</p>

<p>
  <b>Reception:</b>
  <%= @process_data_element.reception_id %>
</p>

<p>
  <b>Process data specification:</b>
  <%= @process_data_element.process_data_specification_id %>
</p>

<p>
  <b>Remark:</b>
  <%= @process_data_element.remark %>
</p>


<%= link_to 'Edit', edit_process_data_element_path(@process_data_element) %> |
<%= link_to 'Back', process_data_elements_path %>
