<script>
  parameterset = []
</script>
<% set = [] %>
<%= form_for(@parameter_setting, :id => 'paramslist_form') do |f| %>
  <%= hidden_field_tag :product_line_id, @product_line_id %>
  <%= hidden_field_tag :parameter_setting_parameterset, '' %>


  <%= f.hidden_field :id  %>

  <% if @parameter_setting.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@parameter_setting.errors.count, "error") %> prohibited this parameter_setting from being saved:
      </h2>

      <ul>
        <% @parameter_setting.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row" >

    <div class="span10 bounded">
      <% if params[:origin_setid] %>
        <button type="button" class="btn" id="lnk_to_back">Back</button>  <%= @parameter_setting.sync_template_name %> (<%= @parameter_setting.sync_template_release.to_s %>)
      <% end %>
      <% if @parameter_setting.parent_id %>
        <button type="button" class="btn" id="lnk_to_parent"><%= @parameter_setting.parameter_setting.name %></button>
      <% end %>
      <div> </div>
      <div class="field">
        <div style="height:250px;max-height:250px;overflow-y:auto;padding:15px;position:relative;" id="parameters_list"  class="well">

          <% set = JSON.parse(@parameter_setting.parameterset) if @parameter_setting.parameterset %>
          <% set.each do |param| %>
            <div id="group_<%= param["name"] %>" class="row">
              <div class="lab span4"><%= param["name"] %></div>
              <div class="span3"><%= text_field_tag "#{param['name']}",  "#{param['value']}", :class => 'span3', disabled: param['allocate'] %></div>
              <div class="span1">
                <span class="icon-trash remove_param" >&nbsp;</span>
              </div>
            </div>

            <script>
              $("#group_" + '<%= h param["name"] %>' + " .remove_param").click(function(){
                // cleanup chosen objectmess

                var param = '<%= h param["name"] %>'
                $(this).parent().parent().fadeOut()
                removeparam = '<%= h param["name"] %>'

                parameterset = $.grep(parameterset, function(value) {
                  console.log(value.name + " || " + removeparam)

                  return value.name != removeparam

                });
                return false
              })
            </script>
          <% end %>
        </div>
        <div id="paramlist_end"></div>

        <hr>
        <div class="row">
          <div class="span3">
            <b>Manual add parameters</b>
          </div>
          <div class="span4">
            <%= select_tag "parameters", options_for_select(Executable.param_list.collect {|c| [ c["label"]  , c.to_json ] }),:class => 'span4', :include_blank=>true,:data=>{:placeholder => "Choose a parameter..."} %>
          </div>
        </div>


        <div id="synced" class="row">
          <div class="span3">
            <%= check_box_tag :synced_check %>
            <b>Synced from template path</b>
          </div>
          <div class="span5">
            <%= f.text_field :sync_template_path, :class =>'span5' %>
          </div>

          <div class="span2"><button  id="sync_now" type="button" class="btn">Sync now</button></div>
        </div>
        <% if params[:level] == "step" %>
          <div id="synced" class="row">
            <div class="span3">
              <b>Sync from subscript</b>
            </div>
            <div class="span5">
              <%= text_field_tag :sync_subscript_path, "",:class =>'span5' %>
            </div>
            <div class="span2"><button  id="sync_subscript_now" type="button" class="btn">Sync now</button></div>
          </div>
        <% end  %>

        <div class="row">
          <div  class="highlight span3">
            Last sync at: <%= @parameter_setting.last_sync_at.strftime("%d-%m-%y %H:%M") if @parameter_setting.last_sync_at %>
          </div>
          <div class="highlight span5">
            Template release: <%= @parameter_setting.sync_template_release %>
            Subscript release: <span id="sync_subscript_release"></span>
          </div>
        </div>
      </div>


      <div style="display:none">
        <div id="param_template" class="row">
          <div class="lab span4">mapscape_id</div>
          <div class="span3"><%= text_field_tag 'param_value', :class => 'span3' %></div>
          <div class="span1">
            <button class="btn btn-small remove_param" type="button"><i class="icon-trash"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<script>
  $('#sync_subscript_path').val('')
  $('#sync_subscript_path').val(current_step_obj.sync_subscript_path)
  $('#sync_subscript_release').html(current_step_obj.sync_subscript_release)

  $("#sync_now").click(function(){
    $.post( '<%= url_for(sync_parameter_setting_path(@parameter_setting.id)) %>?&product_design_id=<%= params[:product_design_id] %>&level=<%=params[:level] %>&template_path=' + $('#parameter_setting_sync_template_path').val(),{}, function( data ) {
      $("#parameterModelBody").html(data);
      
    }).done(function() {
      $(".highlight").addClass("text-success")
      $(".highlight").removeClass("text-success")
    })
  })



<% if  @parameter_setting.parent_id %>
    $("#lnk_to_parent").click(function(){

      $("#parametersModalLabel").html("<h4>Parameters</h4>");
      $.get( '<%= url_for(edit_parameter_setting_path(@parameter_setting.parent_id)) %>' + "?origin_setid=<%= @parameter_setting.id%>",{}, function( data ) {
        $("#parameterModelBody").html(data);
        $("#parametersModal").modal("show");
      })
    })
<% end %>



<% if params[:origin_setid] %>
    $("#lnk_to_back").click(function(){
      save_params()
      $.ajax({url: '<%= url_for(parameter_setting_path(@parameter_setting.id)) %>', type: 'PUT',  data: $(".edit_parameter_setting").serialize(), success: function(data)
        {
          if (current_step_obj != undefined) {
            current_step_obj.dedicated_parameterset_id = $("#parameter_setting_id").val()
          }
        }}).fail(function() {
        alert( "error saving parameters" );
      });
    
      $("#parametersModalLabel").html("<h4>Parameters</h4>");

      $.get( '<%= url_for(edit_parameter_setting_path(params[:origin_setid])) %>' ,{}, function( data ) {
        $("#parameterModelBody").html(data);

        $("#parametersModal").modal("show");
      })
    })
<% end %>

  if ($('#parameter_setting_sync_template_path').val().length > 0)
  {
    $('#parameter_setting_sync_template_path').removeAttr("disabled");
    $('#parameter_setting_sync_template_path').removeClass("disabled")

    $('#parameters').attr("disabled", "disabled");
    $('#parameters').addClass("disabled")

    $('#parameters').trigger('liszt:updated');
    $('#synced_check').prop('checked', true);
  }
  $('#parameter_setting_parent_id').select2({allow_single_deselect: true});

<% if params[:level] == "step" %>
  $("#sync_subscript_now").click(function(){
    encoded = $.toJSON( modelobj );
    current_step_obj.sync_subscript_path = $('#sync_subscript_path').val()
    $.post('<%= url_for(syncsubscript_product_design_path(@product_design.id)) %>?uuid=' + current_step_obj.uuid + '&subscript_path=' + $('#sync_subscript_path').val(),{model: encoded}, function( data ) {

    }).done(function() {
      document.location = '<%= url_for(edit_model_product_design_path(@product_design.id)) %>'
    })
  })
<% end %>
  function save_params()
  {
    for(var i=0; i<parameterset.length; i++) {

      parameterset[i].value = $('#' + parameterset[i].name).val()
      console.log( parameterset[i].name + " // " + parameterset[i].value)
    }

    $('#parameter_setting_parameterset').val($.toJSON( parameterset ));
   
  }

  $("#close_param_modal").unbind( "click" );
  $("#close_param_modal").click(function(){
    url = '<%= raw url_for(edit_parameter_setting_path('ID')) %>'
    url = url.replace('ID',$("#parameter_setting_id").val())
    save_params()
<% if params[:level] == "step" %>
      
      if ($('#parameter_setting_sync_template_path').val().length > 0)
      {
        current_step_obj.sync_template_path = $('#parameter_setting_sync_template_path').val()
      }

      if ($('#sync_subscript_path').val().length > 0)
      {
        current_step_obj.sync_subscript_path = $('#sync_subscript_path').val()
      }
      else
      {
        current_step_obj.sync_subscript_path = ''
      }



<% end %>

    $.ajax({url: '<%= url_for(parameter_setting_path(@parameter_setting.id)) %>', type: 'PUT',  data: $(".edit_parameter_setting").serialize(), success: function(data)
      {
        $("#parametersModal").modal('hide')
        if (current_step_obj != undefined) {
          current_step_obj.dedicated_parameterset_id = $("#parameter_setting_id").val()
        }
      }}).fail(function() {
      alert( "error saving parameters" );
    });
  })

  $("#cancel_param_modal").unbind("click")
  $("#cancel_param_modal").click(function(){
    $("#parametersModal").modal('hide')
  })

<%  if @parameter_setting.parameterset %>
    json = unescape("<%=  escape_javascript(@parameter_setting.parameterset.html_safe) %>")
    parameterset = eval(json)
<% end %>


  $("#parameter_setting_status").chosen({search_contains: true, no_results_text: "No result found for " });
  $("#parameters").chosen({search_contains: true, no_results_text: "No result found for  " });
  $("#status").chosen({search_contains: true, no_results_text: "No status found for "})
  $("#parameter_setting_product_line_id").chosen({search_contains: true, no_results_text: "No platform found for "})

  $("#parameters").change(function () {
    $("#parameters option:selected").each(function () {
      json = $.parseJSON($(this).val());
      str = $(this).val();
      label = json.name;
    });

    console.log(eval('(' + str + ')'));
    list_entry = $('#param_template').clone();
    list_entry.attr("id", "group_" + label);
    list_entry.attr("json", str);
    list_entry.find(".lab").first().html(label);
    list_entry.addClass("VALUE");
    list_entry.find("#param_value").val("");
    list_entry.find("#param_value").attr("id", label);
    list_entry.find("input").addClass("span3");
    list_entry.find("input").prop('disabled',json.allocate);

    $("#parameters_list").append(list_entry);
    $("#parameters_list").animate({ scrollTop: $('#parameters_list')[0].scrollHeight}, 1000);
    parameterset.push(eval('(' + str + ')'));

    $("#group_" + label + " .remove_param").click(function(){
      // cleanup chosen objectmess

      var param = label;
      $(this).parent().parent().fadeOut();
      removeparam = label;
      parameterset = $.grep(parameterset, function(value) {
        return value.name != removeparam;
      });
      return false;
    });

    $('#parameters_chzn').find('a').addClass("chzn-default");
    $('#parameters_chzn').find("span").text($("#parameters").attr('data-placeholder'));
  });


  $("#synced_check").click(function(){

    if ($('#synced_check').is(':checked'))
    {
      $('#parameter_setting_sync_template_path').removeAttr("disabled");
      $('#parameter_setting_sync_template_path').removeClass("disabled")

      $('#parameters').attr("disabled", "disabled");
      $('#parameters').addClass("disabled")

      $('#parameters').trigger('liszt:updated');

    }
    else
    {
      $('#parameter_setting_sync_template_path').attr("disabled", "disabled");
      $('#parameter_setting_sync_template_path').addClass("disabled")

      $('#parameters').removeAttr("disabled");
      $('#parameters').removeClass("disabled")

      $('#parameters').trigger('liszt:updated');

    }

  })

</script>
