<div class="row">
  <div class="span12 bounded">
    <div class="accordion" id="accordion1">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion1" name="history" href="#history-object"><h5>History</h5></a>
      <div id="history-object" class="accordion-body collapse">
        <div class="accordion-inner">
          <%= javascript_include_tag 'json-diff' %>
          <%= javascript_include_tag 'jsond' %>
          <%= stylesheet_link_tag "json-diff", :media=> "all" %>

          <% old_name = "" %>
          <script>
            old_parameterset = JSON.parse("[]");
          </script>
          <% @parameter_setting.versions.each do |parameter_setting_version| %>
            <hr>
            <div class="row">
              <div class="span2"><%= "#{parameter_setting_version.version} (#{parameter_setting_version.status})" %>&nbsp;</div>
              <div class="span2"><%= parameter_setting_version.updated_by %>&nbsp;</div>
              <div class="span2"><%= parameter_setting_version.updated_at.to_s %>&nbsp;</div>
              <div class="span1"><%= link_to_if(parameter_setting_version.bug_tracker_id, parameter_setting_version.bug_tracker_id, "#{ConfigParameter.get("cr_tool_url")}#{parameter_setting_version.bug_tracker_id}") %>&nbsp;</div>
              <div class="span4"><%= parameter_setting_version.comment%>&nbsp;</div>
            </div>
            <div class="row history">
              <div class="offset1 span2"><strong>Name</strong></div>
              <% new_name = parameter_setting_version.name ? parameter_setting_version.name : "" %>
              <div class="span8 <%=  history_class old_name, new_name %>">
                <%= history_string old_name, new_name %>
              </div>
              <% old_name = new_name %>
            </div>
            <div class="row history">
              <div class="offset1 span2"><strong>Parameterset</strong></div>
              <div id ="parameterset_<%= parameter_setting_version.version %>" class="span8">
                <div id="place-json-<%= parameter_setting_version.version %>">
                  <script type="application/json">
                    [<%= raw(parameter_setting_version.parameterset) %>]
                  </script>
                </div>
                <script type="application/javascript">
                  new_parameterset_json = $('#place-json-<%= parameter_setting_version.version %> script').text();
                  new_parameterset = JSON.parse(new_parameterset_json);
                  results=document.getElementById('parameterset_<%= parameter_setting_version.version %>');
                  jsond.compare(old_parameterset, new_parameterset, "root", results);
                  old_parameterset = new_parameterset;
                </script>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
