<% if parameter_setting.status == 'obsolete' %>
 <% obsolete_class = 'deleted' %>
<%end%>
  <div class="row">
    <div class="span1">
      <%= render(partial: "shared/versioned_object", object: parameter_setting) %>
    </div>
    <div class="span2 <%= obsolete_class %>"><%= parameter_setting.name %>&nbsp;</div>
    <div class="span2 <%= obsolete_class %>"><%= parameter_setting.latest_approved.version if parameter_setting.latest_approved %>&nbsp;</div>
    <div class="span2 <%= obsolete_class %>"><%= parameter_setting.version %>&nbsp;</div>
    <div class="span2 <%= obsolete_class %>"><%= parameter_setting.status %>&nbsp;</div>
  </div>
