<%= render(:partial => "shared/versioned_object_warning", :object => @parameter_setting) %>
<div class="span7">
  <h4>
    Parameter setting <%= @parameter_setting.name %>
    <%= " for Product line " + ProductLine.find(@product_line_id).name if @product_line_id %>
  </h4>
</div>
<div class="span1">
  <strong>Revision</strong> <%= @parameter_setting_version.version %>
</div>
<div class="span2">
  <strong>Status</strong> <%= @parameter_setting_version.status %>
</div>
<div class="row">
  <div class="span10 bounded">

    <div class="row">
      <div class="span5"><strong>Name</strong></div>
    </div>
    <div class="row">
      <div class="span5"><%= @parameter_setting_version.name %> </div>
    </div>

    <div class="row">
      &nbsp;
    </div>

    <div class="row">
      <div class="span2"><strong>Parameterset</strong></div>
    </div>
    <%  params = JSON.parse(@parameter_setting_version.parameterset) %>
     <% params.each do |param| %>
    <div class="row">
      <div class="span6">
        <%= param["name"] %> <%= param["value"]  %>
      </div>
    </div>
    <%  end %>
  </div>
</div>
<%= render 'history' %>
