<%= render 'show_data' %>

<div class="row">
  <div class="span12">
    <%= link_to "Set to draft", draft_parameter_setting_path(@parameter_setting, :product_line_id => @product_line_id), { :class => "btn #{@parameter_setting.allowed_status?("draft", @current_user.user_name) && can?(:draft, @parameter_setting) ? 'enabled' : 'disabled'}", :method => :post } %>
    &nbsp;
    <%= link_to "Request review", review_parameter_setting_path(@parameter_setting, :product_line_id => @product_line_id), { :class => "btn #{@parameter_setting.allowed_status?("review", @current_user.user_name) && can?(:review, @parameter_setting) ? 'enabled' : 'disabled'}", :id => "request_review", :method => :post } %>
    &nbsp;
    <%= link_to "Approve", approve_parameter_setting_path(@parameter_setting, :product_line_id => @product_line_id), { :class => "btn #{@parameter_setting.allowed_status?("approved", @current_user.user_name,session[:project_id]) && can?(:approve, @parameter_setting) ? 'enabled' : 'disabled'}", :method => :post } %>
    &nbsp;
    <%= link_to "Revert to latest approved", revert_parameter_setting_path(@parameter_setting, :product_line_id => @product_line_id), {:class => "btn #{@parameter_setting.status != "approved" && @parameter_setting.latest_approved && can?(:revert, @parameter_setting) ? 'enabled' : 'disabled'}", :method => :post } %>
    &nbsp;
    <%= link_to "Mark as obsolete", obsolete_parameter_setting_path(@parameter_setting, :product_line_id => @product_line_id), {:class => "btn #{@parameter_setting.allowed_status?("obsolete", @current_user.user_name) && can?(:obsolete, @parameter_setting) ? 'enabled' : 'disabled'}", :method => :post } %>
    &nbsp;
    <%= link_to "Destroy", [@parameter_setting], {:class => "btn #{(@parameter_setting.status.nil? || @parameter_setting.status == 'new') && can?(:destroy, @parameter_setting) ? 'enabled' : 'disabled'}", :method => :delete } %>
  </div>
</div>
<div class="row"><div class="span12"><hr></div></div>
<div class="row">
  <div class="span7">
    <%= link_to parameter_setting_path(@parameter_setting, :product_line_id => @product_line_id), :class => "btn", :title => "show" do %>
      <i class="icon-eye-open"></i>
    <% end %>
    &nbsp;
    <%= link_to edit_parameter_setting_path(@parameter_setting, :product_line_id => @product_line_id), :class => "btn",:title => "edit" do %>
      <i class="icon-edit"></i>
    <% end %>
    &nbsp;
    <%= link_to :back, :class => "btn", :title => "back" do %>
      <i class="icon-arrow-left"></i>
    <% end %>
    &nbsp;
    <% if @product_line_id %>
      <%= link_to product_line_path(id:@product_line_id), :class => "btn",:title => "overview" do %>
        <i class="icon-arrow-up"></i>
      <% end %>  
    <% else %>
      <%= link_to parameter_settings_path, :class => "btn",:title => "overview" do %>
        <i class="icon-arrow-up"></i>
      <% end %>
    <% end %>
  </div>
</div>
<script>
  $('a.disabled').click(function(e) {
    // Disable links for disabled buttons
    e.preventDefault();
    return false
  });
  review_request_sent = false;
  $('#request_review').click(function(e) {
    if(review_request_sent){
      e.preventDefault();
      return false;
    } else {
      review_request_sent = true;
      $('#request_review').removeClass('enabled');
      $('#request_review').addClass('disabled');
    }
  });
</script>
