<%= render(partial: "shared/versioned_objects", object: @parameter_settings, locals: {header: "Parameter settings", form_path: "parameter_settings_path"}) %>

<div id="endless">
  <div class="row">
    <div class="offset1 span2"><strong><%= sortable "name", "Name" %></strong></div>
    <div class="span2"><strong><%= sortable "latest_approved", "Latest Approved" %></strong></div>
    <div class="span2"><strong><%= sortable "version", "Latest Revision" %></strong></div>
    <div class="span2"><strong><%= sortable "status", "Latest Status" %></strong></div>
  </div>
    <%= render(:partial => "parameter_setting", :collection => @parameter_settings) %>
</div>
<%= will_paginate(@parameter_settings) %>
<%= pageless(@parameter_settings.total_pages, parameter_settings_path, "#endless") %>
