<%= render 'show_data' %>
<div class="row">
  <div class="span7">
    <%= link_to handle_parameter_setting_path(@parameter_setting, :product_line_id => @product_line_id), :class => "btn",:title => "handle" do %>
      <i class="icon-tasks" title="handle"></i>
    <% end %>
    &nbsp;
    <%= link_to edit_parameter_setting_path(@parameter_setting, :product_line_id => @product_line_id), :class => "btn",:title => "edit" do %>
      <i class="icon-edit" title="edit"></i>
    <% end %>
    &nbsp;
    <%= link_to :back, :class => "btn", :title => "back" do %>
      <i class="icon-arrow-left" title="back"></i>
    <% end %>
    &nbsp;
    <% if @product_line_id %>
      <%= link_to product_line_path(id:@product_line_id), :class => "btn",:title => "overview" do %>
        <i class="icon-arrow-up" title="overview"></i>
      <% end %>  
    <% else %>
      <%= link_to parameter_settings_path, :class => "btn",:title => "overview" do %>
        <i class="icon-arrow-up" title="overview"></i>
      <% end %>
    <% end %>
  </div>
</div>
