<h1>Editing license</h1>

<%= error_messages_for :license %>

<%= form_for(@license) do |f| %>
  <p>
    <b>Licensenumber</b><br />
    <%= f.text_field :licensenumber %>
  </p>

  <p>
    <b>Purpose</b><br />
    <%= f.text_field :purpose %>
  </p>

  <p>
    <b>Active yn</b><br />
    <%= f.text_field :active_yn %>
  </p>

  <p>
    <b>Expiry date</b><br />
    <%= f.datetime_select :expiry_date %>
  </p>

  <p>
    <b>Comment</b><br />
    <%= f.text_area :comment %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @license %> |
<%= link_to 'Back', licenses_path %>
