<h1>Listing licenses</h1>

<table>
  <tr>
    <th>Licensenumber</th>
    <th>Purpose</th>
    <th>Active yn</th>
    <th>Expiry date</th>
    <th>Comment</th>
  </tr>

<% for license in @licenses %>
  <tr>
    <td><%=h license.licensenumber %></td>
    <td><%=h license.purpose %></td>
    <td><%=h license.active_yn %></td>
    <td><%=h license.expiry_date.strftime('%d-%m-%y') %></td>
   
    <td><%= link_to 'Show', license %></td>
    <td><%= link_to 'Edit', edit_license_path(license) %></td>
    <td><%= link_to 'Destroy', license, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New license', new_license_path %>
