<h1>New license</h1>

<%= error_messages_for :license %>

<%= form_for(@license) do |f| %>
  <p>
    <b>Licensenumber</b><br />
    <%= f.text_field :licensenumber %>
  </p>

  <p>
    <b>Purpose</b><br />
    <%= f.text_field :purpose %>
  </p>

  <p>
    <b>Active yn</b><br />
    <%= f.select :active_yn, ['YES','NO'] %>
  </p>

  <p>
    <b>Expiry date</b><br />
    <%= f.date_select :expiry_date %>
  </p>

  <p>
    <b>Comment</b><br />
    <%= f.text_area :comment %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', licenses_path %>
