<p>
  <b>Licensenumber:</b>
  <%=h @license.licensenumber %>
</p>

<p>
  <b>Purpose:</b>
  <%=h @license.purpose %>
</p>

<p>
  <b>Active yn:</b>
  <%=h @license.active_yn %>
</p>

<p>
  <b>Expiry date:</b>
  <%=h @license.expiry_date %>
</p>

<p>
  <b>Comment:</b>
  <%=h @license.comment %>
</p>


<%= link_to 'Edit', edit_license_path(@license) %> |
<%= link_to 'Back', licenses_path %>
