<div class="row">
  <div class="span1">
    <div class="btn-group">
      <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
        Action
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to(region) do %>
          <i class="icon-info-sign"></i>&nbsp;show
          <% end %>
        </li>
        <% if env_production? %>
        <li>
          <%= link_to({:controller => region.ruby_type.tableize, :action => 'edit', :id => region.id}) do %>
          <i class="icon-edit"></i>&nbsp;edit
          <%  end %>
        </li>
        <% end %>
        <% if region.real_region? %>
        <li>
          <%= link_to(test_area_configurations_region_path(region)) do %>
            <i class="icon-wrench"></i>&nbsp;Test area configuration
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>  
  <div class="span3"><%= region.name %>&nbsp;</div>
  <div class="span1"><%= region.region_code %>&nbsp;</div>
  <div class="span3"><%= region.parent.name if region.parent  %>&nbsp;</div>
  <div class="span1"><%= region.ruby_type.tableize.singularize.humanize %></div>
  <div class="span1"><%= bootstrap_boolean(region.isactive) %></div>
</div>