<div class="row">
  <div class="span5">
    <strong>Test areas:</strong>
  </div>
</div>
<div class="row">
  <div class="span5">
    <%= raw hash_to_html(@test_area_configuration.generate_areas,nil) %>
  </div>
</div>
<div class="row">
  <div class="span5">
    <strong>Exact script:</strong>
  </div>
</div>
<div class="row">
  <div class="span5">
    <pre class="real-pre"><small><%= raw  @test_area_configuration.generate_exact_script.html_safe %></small></pre>
  </div>
</div>
