<div class="row">
  <div class="span2">
    <%= tac.name %>
  </div>
  <div class="span1 text-center">
    <%= tac.amount_test_areas %>
  </div>
  <div class="span1 text-center">
    <%= tac.nr_of_test_areas_x %>
  </div>
  <div class="span1 text-center">
    <%= tac.nr_of_test_areas_y %>
  </div>
  <div class="span1">
    <%= tac.min_x %>
  </div>
  <div class="span1">
    <%= tac.min_y %>
  </div>
  <div class="span1">
    <%= tac.max_x %>
  </div>
  <div class="span1">
    <%= tac.max_y %>
  </div>
  <div class="span2">
    <%= tac.product_line.name if tac.product_line %>
  </div>
  <div class="span">
    <%= link_to({:action => :download_test_areas_exact_script,:test_area_configuration_id => tac.id },
      {:class => "btn btn-mini", :title => "download exact script"}) do %>
     <i class="icon-map-marker"></i>
    <% end %>
    <button id="btnGenerate-<%= tac.id %>" type="button" class="btn btn-mini" title="generate test areas"><i class="icon-screenshot"></i></button>
    <button id="btnEdit-<%= tac.id %>" type="button" class="btn btn-mini" title="edit configuration"><i class="icon-edit"></i></button>
    <%= link_to({:action => :delete_test_area_configuration,:test_area_configuration_id => tac.id },
      {:class => "btn btn-mini", :title => "delete configuration",:confirm => "Are you sure to delete this configuration permanently?"}) do %>
     <i class="icon-trash"></i>
    <% end %>
  </div>
</div>