<div class="row">
  <div class="span3">
    <strong>Name</strong>
  </div>
  <div class="span2">
    <strong>Product line</strong>
  </div>
</div>
<div class="row">
  <div class="span3">
    <%= text_field_tag :name, @test_area_configuration.name, :class => "span3" %>
  </div>
  <div class="span2_5">
    <%= select_tag :product_line_id, options_for_select(ProductLine.option_list,@test_area_configuration.product_line_id),:include_blank => true, :class => "span2" %>
  </div>
</div>
<div class="row">
  <div class="span2">
<div class="row">
  <div class="span1">
    <strong>amount X</strong>
  </div>
  <div class="span1">
    <strong>amount Y</strong>
  </div>
</div>
<div class="row">
  <div class="span1">
    <%= number_field_tag :nr_of_test_areas_x, @test_area_configuration.nr_of_test_areas_x, :class => "span1" %>
  </div>
  <div class="span1">
    <%= number_field_tag :nr_of_test_areas_y, @test_area_configuration.nr_of_test_areas_y, :class => "span1" %>
  </div>
</div>
<div class="row">
  <div class="span1">
    <strong>min X</strong>
  </div>
  <div class="span1">
    <strong>min Y</strong>
  </div>
</div>
<div class="row">
  <div class="span1">
    <%= text_field_tag :min_x, @test_area_configuration.min_x, :class => "span1" %>
  </div>
  <div class="span1">
    <%= text_field_tag :min_y, @test_area_configuration.min_y, :class => "span1" %>
  </div>
</div>
<div class="row">
  <div class="span1">
    <strong>max X</strong>
  </div>
  <div class="span1">
    <strong>max Y</strong>
  </div>
</div>
<div class="row">
  <div class="span1">
    <%= text_field_tag :max_x, @test_area_configuration.max_x, :class => "span1" %>
  </div>
  <div class="span1">
    <%= text_field_tag :max_y, @test_area_configuration.max_y, :class => "span1" %>
  </div>
</div>
    </div>
  <div class="span3">
    <br />
    <div class="alert alert-error hidden" id="myModalAlert">
    errors
    </div>
  </div>
  </div>

<script type="text/javascript">
  $("#product_line_id").select2({placeholder:"Product line",allowClear: true});

  function mandatory_filled_yn(){
    if ($("#name").val()  == ''){return false}
    if ($("#min_x").val() == '' || $("#min_x").val() == '0.0'){return false}
    if ($("#max_x").val() == '' || $("#max_x").val() == '0.0'){return false}
    if ($("#min_y").val() == '' || $("#min_y").val() == '0.0'){return false}
    if ($("#max_y").val() == '' || $("#max_y").val() == '0.0'){return false}
    return true
  }

  $("#myModal input").change(function(){
    if ( mandatory_filled_yn() == true ){
      $("#myModalbtn").removeClass("disabled")
    }
  })

  $("#product_line_id").change(function(){
    if ( mandatory_filled_yn() == true ){
      $("#myModalbtn").removeClass("disabled")
    }
  })

  $("#myModalbtn").click(function(){
    <% if @test_area_configuration.id %>
          $.post('<%= url_for(update_test_area_configuration_region_path(@region)) %>',$("#myModal :input").serialize() +
            "&test_area_configuration_id=<%= @test_area_configuration.id %>");
    <% else %>
          $.post('<%= url_for(create_test_area_configuration_region_path(@region)) %>',$("#myModal :input").serialize());
    <% end %>
  })

</script>