<% if @errors.blank? %>
  window.location.replace('<%= url_for(test_area_configurations_region_path(@region)) %>');
<% else %>
  $("#myModalAlert").html('<%= @errors %>').removeClass('hidden');
<% end %>
