<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand"><strong>All Regions</strong></div>
      <div class="span">
        <%= form_tag regions_path, :method => 'get' do %>
          <div class="span">
              <%= check_box_tag 'inactive', "1", @inactive,{:data => {"text-label" => "inactive","off-label" => "","on-label" => "Include",:size => "normal",:on => "success",:off => "default","off-label" => "excluded"}} %>
              &nbsp;
              <%= check_box_tag 'test_areas_only', "1", @test_areas_only,{:data => {"text-label" => "test areas","off-label" => "","on-label" => "Only",:size => "normal",:on => "success",:off => "default","off-label" => "unfiltered"}} %>
          </div>&nbsp;
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <div class="input-prepend input-append">
            <% if env_production? %>
            <div class="btn-group" style="vertical-align: top">
              <a class="btn btn-dropdown-toggle btn-info" data-toggle="dropdown" href="#">
                New
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to(new_area_path) do %>
                  <i class="icon-globe"></i>&nbsp;Area
                  <% end %>
                </li>
                <li>
                  <%= link_to(new_city_path) do %>
                  <i class="icon-globe"></i>&nbsp;City
                  <% end %>
                </li>
                <li>
                  <%= link_to(new_continent_path) do %>
                  <i class="icon-globe"></i>&nbsp;Continent
                  <% end %>
                </li>
                <li>
                  <%= link_to(new_country_path) do %>
                  <i class="icon-globe"></i>&nbsp;Country
                  <% end %>
                </li>
                <li>
                  <%= link_to(new_region_alias_path) do %>
                  <i class="icon-globe"></i>&nbsp;Region Alias
                  <% end %>
                </li>
                <li>
                  <%= link_to(new_state_path) do %>
                  <i class="icon-globe"></i>&nbsp;State
                  <% end %>
                </li>
                <li>
                  <%= link_to(new_update_region_path) do %>
                  <i class="icon-globe"></i>&nbsp;Update region
                  <% end %>
                </li>
              </ul>
            </div>
            <% end %>
            <%= text_field_tag :q, params[:q], :placeholder=>" search",:class=>"span3",:size=>"16" %>
            <%= select_tag :ruby_type,options_for_select(["Area", "City", "Continent", "Country", "Region alias", "State", "Update region"],params[:ruby_type]),:include_blank=>true,:class => 'span1_5' %>
            <%= button_tag "Search", :name => nil, :type => :submit, :class => "btn" %>
            <%= button_tag "Reset", :name => 'reset',:class=>"btn",:type=>:submit %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="endless">
  <div class="row">
    <div class="offset1 span3"><strong><%=  sortable "regions.name", "Name" %></strong></div>
    <div class="span1"><strong>Region&nbsp;code</strong></div>
    <div class="span3"><strong><%= sortable "parent_id","Parent" %></strong></div>
    <div class="span1"><strong><%= sortable "ruby_type","Type" %></strong></div>
    <div class="span3"><strong><%= sortable "isactive", 'Active' %></strong></div> 
  </div>

  <%= render(:partial => "region", :collection => @regions) %>
</div>
<%= will_paginate(@regions) %>
<%= pageless(@regions.total_pages, url_for(:controller => :regions, :action => :index), "#endless") %>
<footer class="subnav subnav-fixed" style="bottom:0;top:auto;margin-bottom: 0px;"></footer>

<script type="text/javascript">
  $("#inactive").bootstrapSwitch();
  $("#test_areas_only").bootstrapSwitch();
  $("#ruby_type").chosen({placeholder:"Type"});
</script>
