<% if @region.real_region? %>

<div class="row">
  <div class="span12 bounded bounded-headered">
    <div class="row bounded-header">
      <div class="span10"><h4>Test area Configuration(s) for region "<%= @region.name %>"</h4></div>
      <div class="span2"><button class="btn pull-right" id="btnNew">New configuration</button></div>
    </div>
    <div class="row">
      <div class="span2">
        <strong>Name</strong>
      </div>
      <div class="span1">
        <strong>Amount</strong>
      </div>
      <div class="span1">
        <strong>Amount X</strong>
      </div>
      <div class="span1">
        <strong>Amount Y</strong>
      </div>
      <div class="span1">
        <strong>min X</strong>
      </div>
      <div class="span1">
        <strong>min Y</strong>
      </div>
      <div class="span1">
        <strong>max X</strong>
      </div>
      <div class="span1">
        <strong>max Y</strong>
      </div>
      <div class="span2">
        <strong>Product line</strong>
      </div>
    </div>
    <div id="tacList">
      <%= render :partial => "tac", :collection => @test_area_configurations %>
    </div>
  </div>
</div>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="myModalLabel">Test area configuration</h4>
  </div>
  <div class="modal-body" id="modalBody">
    <!--- dynamic content via ajax --->
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary disabled" type="button" id="myModalbtn">Save</button>
  </div>
</div>


<script type="text/javascript">
  $("#btnNew").click(function(){
    $.get('<%= url_for(render_tac_frm_region_path(@region)) %>');
    $("#myModal").modal("show");
  });
  $("[id^=btnGenerate]").click(function(){
    var dbIdA = $(this).attr('id').match(/btnGenerate-([0-9]+)/);
    var dbId = dbIdA[1];
    $.get('<%= url_for(render_tac_generation_region_path(@region)) %>?test_area_configuration_id='+dbId);
    $("#myModal").modal("show");
  });
  $("[id^=btnEdit-]").click(function(){
    var dbIdA = $(this).attr('id').match(/btnEdit-([0-9]+)/);
    var dbId = dbIdA[1];
    $.get('<%= url_for(render_tac_frm_region_path(@region)) %>?test_area_configuration_id='+dbId);
    $("#myModal").modal("show");
  });
  $("[id^=btnDelete-]").click(function(){
    if (confirm('Are you sure to delete this configuration permanently?')) {
            alert("btn delete");
        }
  });

  $('#myModal').on('hidden', function () {
    $("#modalBody").html('');
    $("#myModalbtn").removeClass("hidden");
  })
</script>

<% else %>
  <div><h4>Test area configuration for "<%= @region.name %>" not available</h4></div>
  <div class="row">
    <div class="alert alert-info span5">
      This region is a <%= @region.ruby_type.underscore.humanize %>. For this type no test area configuration is possible.
    </div>
  </div>
<% end %>

<div class="row">
  <div class="span12">
    <%= link_to(:back,:class=>'btn',:title=>'back') do %>
      <i class="icon icon-arrow-left"></i>
    <% end %>
    <%= link_to(regions_path,:class=>'btn',:title=>'Regions overview') do %>
      <i class="icon icon-arrow-up"></i>
    <% end %>
    <%= next_prev_button("prev") %>
    <%= next_prev_button("next") %>
  </div>
</div>