<h1>Editing location</h1>

<% if @location.errors.any? %>
  <div class="alert alert-error">
    <% @location.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
  </div>
<% end %>


<%= form_for(@location) do |f| %>
  <p>
    <b>Location code</b><br />
    <%= f.text_field :location_code %>
  </p>

  <p>
    <b>Reference</b><br />
    <%= f.text_field :reference %>
  </p>

  <p>
    <b>Cd no</b><br />
    <%= f.text_field :cd_no %>
  </p>

  <p>
    <b>Cd type</b><br />
    <%= f.text_field :cd_type %>
  </p>

  <p>
    <b>Borrby</b><br />
    <%= f.text_field :borrby %>
  </p>

  <p>
    <b>Borron</b><br />
    <%= f.text_field :borron %>
  </p>

  <p>
    <b>Borrback</b><br />
    <%= f.text_field :borrback %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @location %> |
<%= link_to 'Back', locations_path %><br><br>
<% if @result_previous %>
<%=link_to '<= Previous Record', :action => 'edit', :id => @previous%>
<% end %>
<% if @result_next %>
<%=link_to 'Next Record =>', :action => 'edit', :id => @next%>
<% end %>

