<h1>Listing locations</h1>

<table>
  <tr>
    <th>Location code</th>
    <th>Reference</th>
    <th>Cd no</th>
    <th>Cd type</th>
    <th>Borrby</th>
    <th>Borron</th>
    <th>Borrback</th>
  </tr>

<% for location in @locations %>
  <tr>
    <td><%=h location.location_code %></td>
    <td><%=h location.reference %></td>
    <td><%=h location.cd_no %></td>
    <td><%=h location.cd_type %></td>
    <td><%=h location.borrby %></td>
    <td><%=h location.borron %></td>
    <td><%=h location.borrback %></td>
    <td><%= link_to 'Show', location %></td>
    <td><%= link_to 'Edit', edit_location_path(location) %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @locations %>
<br />

<%= link_to 'New location', new_location_path %>
