<p>
  <b>Location code:</b>
  <%=h @location.location_code %>
</p>

<p>
  <b>Reference:</b>
  <%=h @location.reference %>
</p>

<p>
  <b>Cd no:</b>
  <%=h @location.cd_no %>
</p>

<p>
  <b>Cd type:</b>
  <%=h @location.cd_type %>
</p>

<p>
  <b>Borrby:</b>
  <%=h @location.borrby %>
</p>

<p>
  <b>Borron:</b>
  <%=h @location.borron %>
</p>

<p>
  <b>Borrback:</b>
  <%=h @location.borrback %>
</p>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
