<div class="row">
  <div class="span1">
    <div class="btn-group">
      <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
        Action
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to(dashboard_grid) do %>
            <i class="icon-info-sign"></i>&nbsp;show
          <% end %>
        </li>
        <li>
          <%= link_to(edit_dashboard_grid_path(dashboard_grid)) do %>
            <i class="icon-edit"></i>&nbsp;edit
          <%  end %>
        </li>
        <li>
          <%= link_to(dashboard_grid, method: :delete, data: { confirm: 'Are you sure to delete your entire dashboard?' }) do %>
            <i class="icon-edit"></i>&nbsp;delete
          <%  end %>
        </li>
      </ul>
    </div>
  </div>
  <div class="span6">
    <%= dashboard_grid.name %>
  </div>
</div>
