<%= form_for(@dashboard_grid) do |f| %>
  <% if @dashboard_grid.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dashboard_grid.errors.count, "error") %> prohibited this dashboard_grid from being saved:</h2>

      <ul>
      <% @dashboard_grid.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="span4 bounded well-small">
      <fieldset>
        <label><strong>Name</strong></label>
        <%= f.hidden_field :user_id %>
        <%= f.text_field :name %>
        <span class="help-block">Name to recognize your dashboard in the menu.</span>
        <%= f.submit 'Save',{:class => 'btn'} %>
      </fieldset>
    </div>
  </div>
<% end %>
