<h1>Listing dashboard_grids</h1>

<table>
  <tr>
    <th>User</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dashboard_grids.each do |dashboard_grid| %>
  <tr>
    <td><%= dashboard_grid.user_id %></td>
    <td><%= dashboard_grid.name %></td>
    <td><%= link_to 'Show', dashboard_grid %></td>
    <td><%= link_to 'Edit', edit_dashboard_grid_path(dashboard_grid) %></td>
    <td><%= link_to 'Destroy', dashboard_grid, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dashboard grid', new_dashboard_grid_path %>
