<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="span4"><h4>Dashboards for <%= @name_user %></h4></div>
    <div class="span1">
      <%= link_to('New', new_dashboard_grid_path,{:class => 'btn btn-info',:style=>"margin-top:5px;"}) %>
    </div>
    
  </div>
</div>

<div id="endless">
  <div class="row">
    <div class="offset1 span6"><strong>Name</strong></div>
  </div>

  <%= render(:partial => "dashboard_grid", :collection => @dashboard_grids) %>

</div>
<%= will_paginate(@dashboard_grids) %>
<%= pageless(@dashboard_grids.total_pages, url_for(:controller => :dashboard_grids, :action => :my_dashboards), "#endless") %>