<%= javascript_include_tag 'dashboard_grids/jquery-ui.1.11.4.custom.min' %>

<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="row" style="padding-top: 5px;">
      <div class="span3"><h5><%= @dashboard_grid.name %></h5></div>
      <div class="span3 offset6">
        <input id="unused_widgets" class="span3"></input>
      </div>
    </div>
  </div>
</div>

<div class="span12" id="content" style="padding-top: 4em;">
  <div class="row-fluid sortable" id="widgets">
    <%  @dashboard_widgets.each do|widget| %>
      <script type="text/javascript">
        $.get('<%=url_for(:action => :render_widget, :controller => :dashboard_widgets, :id => widget.id.to_s)%>', function(data){
          $('#widgets').append(data);
        });
      </script>
    <%= refresh_widget(widget.id,widget.refresh_time.to_s) %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  select_unused_widgets();


  $('.sortable').sortable({
    cursor: "move",
    opacity: 0.5,
    revert:true,
    cancel:'.btn,.box-content,.nav-header',
    update:function(event,ui){
      $.post('<%= url_for(:action => :save_position, :controller => :dashboard_grid_widgets) %>',{
        'widgets': $(this).sortable('toArray'),
        dashboard_grid_id: "<%= @dashboard_grid.id %>"})
    }
  });


function select_unused_widgets(){

  $('#unused_widgets').select2({
      placeholder : 'Add Widgets',
      allowClear: false,
      minimumInputLength: 0,
      ajax: {
        url: "<%= escape_javascript(url_for(:action => 'unused_widgets')) %>.json",
        dataType: 'json',
        quietMillis: 100,
        data: function (term, page) {

          return {
            q: term, // search term
            page_limit: 500,
            page: page
          };
        },
        results: function (data, page) {
          if (data != null){
          var more = (page * 500) < data.total;
          return {results: data, more: more};}
        }
      },
      formatResult: selectListItems,
      formatSelection: selectedValue,
      dropdownCssClass: "bigdrop"

    });
  }

  function selectListItems(obj) {
    var dr = '<div class="row" style="background-color:#FBFBFC">';
    var cd = '</div>';
    var sp1 = '<div class="span3">';

    var markup = dr;
     markup += sp1 + '<strong>' + obj['name'] + '</strong>' + cd;
    markup += cd;

    return markup;
  }

  function selectedValue(obj) {
    return (obj.id);
  }

  $('#unused_widgets').change(function(){
    $.get('<%=url_for(:action => :render_widget, :controller => :dashboard_widgets)%>?dashboard_grid_id=<%=@dashboard_grid.id%>&new_widget=true&id='+$(this).select2("val"), function(data){
          $('#widgets').append(data);
        });
    select_unused_widgets();
    $('.select2-choice span:first').text("Add widgets");
  });
</script>