<h4>City</h4>
<div class="row">
  <div class="span10 bounded">
  <div class="row">
    <div class="span3"><strong>Name</strong></div>
    <div class="span1"><strong>ISO-3</strong></div>
    <div class="span1"><strong>Population</strong></div>
    <div class="span1"><strong>Dakota ID</strong></div>
    <div class="span2"><strong>Country</strong></div>
    <div class="span1"><strong>Active</strong></div>
  </div>
  <div class="row">
    <div class="span3"><span class="input-xlarge uneditable-input span3"><%= @city.name %></span></div>
    <div class="span1"><span class="input-xlarge uneditable-input span1"><%= @city.city_iso_code %></span></div>
    <div class="span1"><span class="input-xlarge uneditable-input span1"><%= @city.population %></span></div>
    <div class="span1"><span class="input-xlarge uneditable-input span1"><%= @city.dakota_id %></span></div>
    <div class="span2"><span class="input-xlarge uneditable-input span2"><%= @city.parent.name if @city.parent_id %></span></div>
    <div class="span1"><%= bootstrap_boolean(@city.isactive) %></div>
  </div>
<div class="row">
  <div class="span8"><strong>Description</strong></div>
  <div class="span2"><strong>Ignore as DS region</strong></div>
</div>
<div class="row">
  <div class="span8"><pre><%= @city.description %></pre></div>
  <div class="span1"><%= bootstrap_boolean(@city.ignore_ds_regions_yn) %></div>
</div>
</div>
 </div>

<div class="row">
  <div class="span12">
    <%= link_to edit_city_path(@city), :class => "btn",:title => "edit" do %>
      <i class="icon-edit"></i>
    <% end %>
    &nbsp;
    <%= link_to(:back,:class=>'btn',:title=>'back') do %>
      <i class="icon icon-arrow-left"></i>
    <% end %>
    &nbsp;
    <%= link_to(regions_path,:class=>'btn',:title=>'Regions overview') do %>
      <i class="icon icon-arrow-up"></i>
    <% end %>
  </div>
</div>
