<div class="row" id="row_show_<%= article_license.id %>">
  <div class="span1">
    <div class="btn-group">
      <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
        Action
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to({:controller => :article_licenses, :action => 'show', :id => article_license.id}) do %>
          <i class="icon-info-sign"></i>&nbsp;show
          <% end %>
        </li>
        <li>
          <%= link_to({:controller => :article_licenses, :action => 'edit', :id => article_license.id}) do %>
          <i class="icon-edit"></i>&nbsp;edit
          <%  end %>
        </li>
      </ul>
    </div>
  </div>
  <div class="span4"><%= article_license.external_contact.company.name %></div>
  <div class="span2"><%= article_license.label %></div>
  <div class="span1"><%= article_license.high_level_bom.internal_reference if article_license.high_level_bom %></div>
  <div class="span1"><%= number_to_currency(article_license.fee, unit: article_license.currency) %></div>
</div>
