<div class="row">
  <div class="span8 bounded">
    <% if @article_license.errors.any? %>
      <ul>
        <% @article_license.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>

    <%= form_for(@article_license) do |f| %>
      <div class="row">
        <div class="span1"><%= f.label :active_yn %></div>
        <div class="span1"><%= f.check_box :active_yn %></div>
      </div>

      <div class="row">
        <div class="span1"><%= f.label :label %></div>
        <div class="span3"><%= f.text_field :label %></div>
        <div class="span1"><%= f.label :description %></div>
        <div class="span3"><%= f.text_field :description, class: "span3" %></div>
      </div>

      <div class="row">
        <div class="span1"><%= f.label :high_level_bom_id %></div>
        <div class="span3"><%= f.select :high_level_bom_id, HighLevelBom.released.collect {|hl|[hl.internal_reference,hl.id]}, include_blank: true %></div>
        <div class="span1"><%= f.label :fee %></div>
        <div class="span1"><%= f.text_field :currency, class: "span1" %></div>
        <div class="span2"><%= f.text_field :fee, class: "span2" %></div>
      </div>

      <div class="row">
        &nbsp;
      </div>

      <div class="row">
        <div class="span1"><%= f.label :external_contact_id %></div>
        <div class="span4"><%= f.select :external_contact_id, ExternalContact.find_all_dist.collect {|c|["#{c.last_name} #{c.first_name} - #{c.company.name if c.company}",c.id]}, {include_blank: true}, {class: "span4"} %></div>
      </div>
      <hr>
      <div class="row">
        <div class="span2">
          <button class="btn btn-primary" id="save" name="save">Save</button>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $("#save").click(function() {
    document.forms[0].submit();
  })
  $('#article_license_high_level_bom_id').chosen({allow_single_deselect:true});
  $('#article_license_external_contact_id').chosen({allow_single_deselect:true});
</script>
