<div class="row">
  <div class="offset1 span2"><%= license_fee_report.article.customer_reference %></div>
  <div class="span3"><%= license_fee_report.article.name %> </div>
  <div class="span1"><%= license_fee_report.transport_reference %></div>
  <div class="span1"><%= license_fee_report.delivery_date %></div>
  <div class="span1"><%= license_fee_report.amount %></div>
  <div class="span1"><%= number_to_currency((license_fee_report.amount * license_fee_report.article.high_level_bom.article_licenses.first.fee), unit: license_fee_report.article.high_level_bom.article_licenses.first.currency) %></div>
</div>
