<h4>Edit article license</h4>
<%= render 'form' %>

|
<%= link_to(@article_license) do %>
  <i class="icon-eye-open" title="show">&nbsp;</i>
<% end %>
|
<%= link_to :back do %>
  <i class="icon-arrow-left" title="back">&nbsp;</i>
<% end %>
|
<%= link_to article_licenses_path do %>
  <i class="icon-arrow-up" title="overview">&nbsp;</i>
<% end %>
|
