<%= wicked_pdf_stylesheet_link_tag "pdf/pdf" %>

<div class="PDF" style="float:left;color:gray"><%= image_tag(@imagepath, :height => '35px') %><br>www.mapscape.eu</div>
<div style="float:right"><h1 class="PDF">Purchase Order</h1>
<br><br><br><br><br>  <!-- space for window envelope -->
  <table class="noborder">
    <tr>
      <td>PO Number:</td>
      <td><%= params[:po_reference] %></td>
    </tr>
    <tr>
      <td>Date:</td>
      <td><%= Time.now().strftime("%d-%m-%Y") %></td>
    </tr>
    <tr>
      <td colspan="2"><i style="font-size: smaller">The P.O. number must appear<br>on all related correspondence,<br>shipping papers, and invoices.</i></td>
    </tr>
  </table>
</div>
<br><br><br><br><br><br><br><br><br> <!-- space for window envelope -->
<p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= @external_contact.company.name %><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= @external_contact.salutation.to_s + ' ' if @external_contact.salutation %>
<%= @external_contact.first_name %>&nbsp;<%=h @external_contact.last_name%><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= @external_contact.primary_address_street %><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= @external_contact.primary_address_postalcode %>&nbsp;
<%= @external_contact.primary_address_city %><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= @external_contact.primary_address_country %></p>
<br><br>
<br><hr>

<table class="noborder-small" align="center" >
  <tr>
    <td style="width:60pt;">INVOICE TO:</td>
    <td style="width:80pt;">Mapscape BV</td>
    <td style="width:40pt;">BUYER:</td>
    <td>Mapscape BV</td>
    <td>Telephone:</td>
    <td>+31(0)40 711500</td>
  </tr>
  <tr>
    <td />
    <td>Margo van Ooijen</td>
    <td />
    <td><%= @cu.full_name %></td>
    <td />
    <td />
  </tr>
  <tr>
    <td />
    <td>Luchthavenweg 34</td>
    <td />
    <td>Luchthavenweg 34</td>
    <td>Supplier contact:</td>
    <td><%= @external_contact.email %></td>
  </tr>
  <tr>
    <td/>
    <td>5657 EB Eindhoven</td>
    <td/>
    <td>5657 EB Eindhoven</td>
    <td>Invoice contact:</td>
    <td>invoices@mapscape.eu</td>
  </tr>
  <tr>
    <td/>
    <td>The Netherlands</td>
    <td/>
    <td>The Netherlands</td>
    <td>Buyer contact:</td>
    <td>orders@mapscape.eu</td>
  </tr>
</table>
<hr>
<br>
<table class="linetable">
  <tr>
    <th>item description</th>
    <th>supplier item code</th>
    <th style="text-align:right;">quantity</th>
    <th style="text-align:right;">unit price</th>
    <th style="text-align:right;">total</th>
  </tr>
  <% total_sum = 0 %>
  <% @article_licenses.each do |ac| %>
    <% subtotal_amount = @license_fee_reports.where("articles.high_level_bom_id = ?", ac.high_level_bom_id).sum("amount") %>
    <% unless (subtotal_amount == 0) %>
      <tr>
        <td style="vertical-align: top">Licence fee <%= ac.description.to_s %><br><%= @date.strftime("%B %Y") %></td>
        <td style="vertical-align: top"><%= simple_format(@license_fee_reports.where("articles.high_level_bom_id = ?", ac.high_level_bom_id).collect {|so|so.article.customer_reference}.uniq.join("\n")) %></td>
        <% subtotal_sum = subtotal_amount * ac.fee %>
        <% total_sum += subtotal_sum %>

        <td style="vertical-align: top;text-align:right;"><%=h subtotal_amount %></td>
        <td style="vertical-align: top;text-align:right;"><%=h amount_to_currency(ac.fee, ac.currency) %></td>
        <td style="vertical-align: top;text-align:right;"><%=h amount_to_currency(subtotal_sum, ac.currency) %></td>
      </tr>
    <% end %>
  <% end %>
  <tr>
    <td colspan="4">&nbsp;</td>
    <td><hr></td>
  </tr>
  <tr>
    <td colspan="4">&nbsp;</td>
    <td style="text-align:right"><%= amount_to_currency(total_sum, @article_licenses ? @article_licenses.first.currency : "€") %></td>
  </tr>
</table>

<% if params[:remarks] != "" %>
  <br><br>
  <b>Remarks</b><br>
  <pre><%=  params[:remarks] %></pre><br>
<% else %>
  <br><br>
<% end %>
<br><br><br>
<table class="linetable">
  <tr>
    <td style="vertical-align:top; font-size: xx-small; width: 203pt;">The general purchase conditions of Mapscape,<br>as specified on our website; www.mapscape.eu<br> apply to this purchase.<br><br></td>
    <td style="vertical-align: top;border: 1px solid lightgray;">Authorized signature(s)<br>&nbsp;<br>&nbsp;<br>&nbsp;</td>
  </tr>
</table>


