<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand"><strong>Article Licenses</strong>
      </div>
      <div class="span">
        <%= form_tag article_licenses_path, :method => 'get' do %>
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <div class="input-append input-prepend">
            <%= button_tag "New", :name => 'new',:class=>"btn btn-info",:type=>:button,:id => 'btn_new' %>
            <%= select_tag("search_company", options_for_select(@external_contacts,params[:search_company]),:include_blank=>true,:class => 'span2',:data=>{:placeholder => 'Company'}) %>
            <%= select_tag("search_label", options_from_collection_for_select(ArticleLicense.active,'label','label',params[:search_label]),:include_blank=>true,:class=>'span2',:data=>{:placeholder => 'Label'}) %>
            <%= text_field_tag :search, params[:search],:class => 'span2', :placeholder => 'Free search'%>
            <%= button_tag "Search", :name => nil, :type => :submit, :class => "btn" %>
            <%= button_tag "Reset", :name => 'reset', :class=>"btn",:type=>:submit %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="endless">
  <div class="row">
    <div class="offset1 span4"><strong><%=  sortable "external_contact","Company" %></strong></div>
    <div class="span2"><strong><%= sortable "label", 'Label' %></strong></div>
    <div class="span1"><strong><%= sortable "high_level_boms.internal_reference", 'HL BOM' %></strong></div>
    <div class="span1"><strong><%= sortable "fee", 'Fee' %></strong></div>
  </div>

  <%= render(:partial => "article_license", :collection => @article_licenses) %>
</div>
<%= will_paginate(@article_licenses) %>
<%= pageless(@article_licenses.total_pages, article_licenses_path, "#endless") %>

<footer class="subnav subnav-fixed" style="bottom:0;top:auto;margin-bottom: 0px;">
  &nbsp;
</footer>

<script>
  $('#btn_new').click(function(){
    window.location.href="<%= url_for(:action => :new) %>";
  })
  $('#search_company').chosen({allow_single_deselect:true})
  $('#search_label').chosen({allow_single_deselect:true})
</script>

