<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand"><strong>License Fee Report</strong>
      </div>
      <div class="span">
        <%= form_tag({:action => "license_fee_report"}, {:method => 'get'}) do %>
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <div class="input-append">
            <%= select_tag("search_company", options_for_select(@external_contacts,params[:search_company]),:include_blank=>false,:class=>'span2') %>
            <%= select_tag("search_label", options_from_collection_for_select(ArticleLicense.active,'label','label',params[:search_label]),:include_blank=>true, :class=>'span2',:data=>{:placeholder => 'Label'}) %>
            <%= select_month(params[:search_date], { :prefix => 'search' }, { :class => 'span2', :name => 'search_month' }) %>
            <%= select_year(params[:search_date], { :prefix => 'search', :start_year => 2011, :end_year => (Date.current + 1.years).strftime("%Y").to_i }, { :class => 'span1', :name => 'search_year' }) %>
            <%= button_tag "Search", :name => nil, :type => :submit, :class => "btn" %>
            <%= button_tag "Reset", :name => 'reset', :class=>"btn", :type=>:submit %>
            <a href="#printModal" role="button" class="btn btn-danger" data-toggle="modal">Generate PO</a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row-div" style="padding-top:5em;">
  License fee report "<%= @external_contacts.key(params[:search_company]) %>"
</div>
<div class="row-div">
  Period: <%= params[:search_date].strftime("%B %Y") %>
</div>
  <div>
    <div class="row">
      <div class="span1"><strong>Label</strong></div>
      <div class="span5"><strong>Article</strong></div>
      <div class="span1"><strong>Transport</strong></div>
      <div class="span1"><strong>Ship date</strong></div>
      <div class="span1"><strong>Quantity</strong></div>
      <div class="span1"><strong>Fee</strong></div>
    </div>
    <% @article_licenses.each do |ac| %>
     <div class="row">
      <div class="span2"><%= ac.label %></div>
      <div class="span2"><%= "License fee: #{number_to_currency(ac.fee, :unit => ac.currency)}"%> </div>
    </div>
      <%= render(:partial => "license_fee_report", :collection => @license_fee_reports.where("articles.high_level_bom_id = ?", ac.high_level_bom_id)) %>
    <div class="row">
      <div class="offset7 span3"><hr /></div>
    </div>
    <div class="row">
      <div class="offset7 span1"><strong>Total</strong></div>
      <% total_amount = @license_fee_reports.where("articles.high_level_bom_id = ?", ac.high_level_bom_id).sum("amount") %>
      <div class="span1"><strong><%= total_amount %></strong></div>
      <div class="span1"><strong><%= number_to_currency((total_amount * ac.fee), :unit => ac.currency)%> </strong></div>
    </div>
    <% end %>
  </div>

<div class="modal hide fade" id="printModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Generate License fee PO</h3>
  </div>
  <div class="modal-body">
<%= form_tag({:action => :html2pdf_license_fee_po, :format => :pdf},{:id => 'pdf'}) do %>
  <b>PO reference</b>
    <%= text_field_tag "po_reference" %><br /><br />
  <b>(Optional remarks)</b>
    <%= text_area_tag "remarks","", {:cols => 50, :rows => 8} %>

    <%= hidden_field_tag "company", params[:search_company] %>
    <%= hidden_field_tag "label", params[:search_label] %>
    <%= hidden_field_tag "date", params[:search_date] %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" name="print-dialog" type="submit" id="create-po">Create & Store PO</button>
  </div>
<% end %>
</div>

<footer class="subnav subnav-fixed" style="bottom:0;top:auto;margin-bottom: 0px;">
  &nbsp;
</footer>

<script>
  $('#search_company').chosen({allow_single_deselect:false})
  $('#search_label').chosen({allow_single_deselect:true})
  $('#search_year').chosen({allow_single_deselect:false})
  $('#search_month').chosen({allow_single_deselect:false})
      $('#printModal').on('hidden', function () {
      location.reload();
    })
  $('#create-po').click(function(){
    $('#po_reference').addClass('uneditable-input');
    $('#remarks').addClass('uneditable-input');
  });
</script>
