<h4>New article license</h4>
<%= render 'form' %>

|
<%= link_to :back do %>
  <i class="icon-arrow-left" title="back">&nbsp;</i>
<% end %>
|
<%= link_to article_licenses_path do %>
  <i class="icon-arrow-up" title="overview">&nbsp;</i>
<% end %>
|
