<% label_class = @article_license.active_yn ? 'label-success' : 'label-important' %>
<% label_text = @article_license.active_yn ? 'Active' : 'Inactive' %>

<div class="row">
  <div class="span6">
    <label class="label <%= label_class %>" title="active"><%= label_text %></label>
  </div>
</div>
<div class="row">
  <div class="span6 bounded bounded-headered flat-roof">
    <div class="row bounded-header">
      <h4>Article License <%= @article_license.label %></h4>
    </div>
    <div class="row">
      <div class="span2"><strong>Description</strong></div>
      <div class="span3"><%= @article_license.description %></div>
    </div>

    <div class="row">
      <div class="span2"><strong>High Level BOM</strong></div>
      <div class="span3"><%= link_to @article_license.high_level_bom.internal_reference, :action => :show, :controller => :high_level_boms, :id =>  @article_license.high_level_bom_id %></div>
    </div>

    <div class="row">
      <div class="span2"><strong>Fee</strong></div>
      <div class="span3"><%= number_to_currency(@article_license.fee, unit: @article_license.currency) %></div>
    </div>
    <div class="row">&nbsp;</div>

    <div class="row">
      <div class="span2"><strong>Company</strong></div>
      <div class="span2"><%= link_to @article_license.external_contact.company.name, @article_license.external_contact.company, :target => "_blank" if @article_license.external_contact && @article_license.external_contact.company %></div>
    </div>

    <div class="row">
      <div class="span2"><strong>Address</strong></div>
      <div class="span2"><%= @article_license.external_contact.primary_address_street %></div>
    </div>

    <div class="row">
      <div class="span2"><strong>Postal code</strong></div>
      <div class="span2"><%= @article_license.external_contact.primary_address_postalcode %></div>
    </div>

    <div class="row">
      <div class="span2"><strong>City</strong></div>
      <div class="span2"><%= @article_license.external_contact.primary_address_city %></div>
    </div>

    <div class="row">
      <div class="span2"><strong>Country</strong></div>
      <div class="span2"><%= @article_license.external_contact.primary_address_country %></div>
    </div>

    <div class="row"><td colspan="2">&nbsp;</td></div>

    <div class="row">
      <div class="span2"><strong>Contact</strong></div>
      <div class="span2"><%= @article_license.external_contact.salutation %>
          <% if @article_license.external_contact.salutation.to_s != "" %>&nbsp;<% end %>
          <%= @article_license.external_contact.first_name %>&nbsp;
          <%= link_to @article_license.external_contact.last_name, @article_license.external_contact, :target => "_blank" if @article_license.external_contact %></div>
    </div>

    <div class="row">
      <div class="span2"><strong>Phone</strong></div>
      <div class="span2"><%= @article_license.external_contact.phone_work %></div>
    </div>

    <div class="row">
      <div class="span2"><strong>E-mail</strong></div>
      <div class="span2"><%= @article_license.external_contact.email %></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span7">
    <%= link_to edit_article_license_path(@article_license), :class => 'btn', :title => "edit" do %>
      <i class="icon-edit"></i>
    <% end %>
    <%= link_to :back, :class => 'btn', :title => "back"  do %>
      <i class="icon-arrow-left"></i>
    <% end %>
    <%= link_to article_licenses_path, :class => 'btn', :title => "overview"  do %>
      <i class="icon-arrow-up"></i>
    <% end %>
    <%= next_prev_button("prev") %>
    <%= next_prev_button("next") %>
  </div>
</div>


