<tr id="<%= "member-row-#{edit_project_member.id}" %>">
  <td><%=  select_tag "member-id-#{edit_project_member.id}", options_for_select([["#{edit_project_member.full_name}","#{edit_project_member.id}"]],"#{edit_project_member.id}"),{:class=>"span2 disabled"} %></td>
  <td><%=  select_tag "member-roles-#{edit_project_member.id}", options_for_select(Role.select_tag,edit_project_member.roles_users.where(:project_id => @project.id).collect{|r|r.role_id}),{:class=>"span8",:multiple=>"true",:required => "required"} %></td>
  <td width="15%"><button class="btn btn-medium" id="<%= "del-member-#{edit_project_member.id}" %>" type="button"><i class="icon-trash">&nbsp;</i> del member</button></td>
<script type="text/javascript">
  $('<%= "#member-id-#{edit_project_member.id}" %>').attr("disabled","disabled").select2();
  $('<%= "#member-roles-#{edit_project_member.id}" %>').select2();
  jQuery('#newMemberId option[value="<%= edit_project_member.id %>"]').remove();
</script>
</tr>

