<% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
<% end %>

<div class="row">
  <%= form_for(@project) do |f| %>
    <div class="span12 bounded bounded-headered">
      <div class="row bounded-header">
        <div class="span5"><h4><%= params[:action].humanize %> project</h4></div>
        <div class="span pull-right"> <span class="label"><%= @project.status_str %></span></div>
      </div>
      <div class="row">
        <div class="span3">
          <strong>Name</strong>
        </div>
        <div class="span8">
          <strong>Description</strong>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <%= f.text_field :name, :class => "span3",:required => "required" %>
        </div>
        <div class="span8">
          <%= f.text_area :description, :class => "span8",:rows => 1,:style=>"width:112%" %>
        </div>
      </div>
      <div class="row"><div class="span12"><hr/></div></div>
      <div class="row">
        <div class="span3">
          <strong>Members</strong>
        </div>
      </div>
      <div class="row">
        <div class="span12">
          <table class="table table-condensed" id="memberTable">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Role(s)</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody id="memberTableBody">
                <tr id="newMemberRow">
                  <td><%= select_tag "newMemberId", options_for_select(User.active.collect{|u|[u.full_name,u.id]}),{:include_blank => true, :class=>"span2", :data => {:placeholder => "select member"}} %></td>
                  <td><%= select_tag "newMemberRoles", options_for_select(Role.select_tag),{:class=>"span8",:multiple=>"true"} %></td>
                  <td width="15%"><button class="btn btn-medium disabled" id="btnAddMember" type="button"><i class="icon-user"></i> add member</button></td>
                  <%= render :partial => "edit_project_member", :collection => @project.users.active %>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
      <div class="row">
        <div class="span12">
          <%= f.submit 'Save', :class => "btn pull-right" %>
        </div>
      </div>
    </div>
</div>
<% end %>

<script type="text/javascript">
  $("#newMemberId").select2();
  $("#newMemberRoles").select2();

  $("#btnAddMember").click(function(){
    var memberId = $("#newMemberId").val();
    $("#newMemberRoles").select2("destroy");
    $("#newMemberRow").clone().appendTo("#memberTableBody").attr("id","member-row-"+memberId);
    $("#member-row-"+memberId + " #newMemberId").attr("id","member-id-"+memberId).val(memberId).attr("disabled","disabled");
    $("#member-row-"+memberId + " #newMemberRoles").attr("id","member-roles-"+memberId).val($("#newMemberRoles").val());
    $("#member-row-"+memberId + " #btnAddMember").attr("id","del-member-"+memberId).html('<i class="icon-trash">&nbsp;</i> del member');
    jQuery('#newMemberId option[value="'+memberId+'"]').remove();
    $("#newMemberId").val('').trigger('liszt:updated').select2();
    $("#newMemberRoles").val('').trigger('liszt:updated').select2();
    $("#member-roles-"+memberId).select2();

    $("[id^=del-member-]").click(function(){
      var memberId = $(this).attr('id').replace(/\D/g,'');
      $("#member-row-"+memberId).remove();
    });
    ToggleAddMemberBtn();
  });

  $("[id^=newMember]").change(function(){
    ToggleAddMemberBtn();
  });

  function ToggleAddMemberBtn(){
    if( $("#newMemberId").val() === '' || $("#newMemberRoles").val() === null ){
      $("#btnAddMember").addClass("disabled");
    }else {
      $("#btnAddMember").removeClass("disabled");
    }
  }

  $("[id^=del-member-]").click(function(){
      var memberId = $(this).attr('id').replace(/\D/g,'');
      $("#member-row-"+memberId).remove();
    });

  function postFormPost(){
    var returnarr = {}
    $("[id^=member-id-]").each(function() {
      var memberId = $(this).attr('id').replace(/\D/g,'');
      var roleids = $("#member-roles-"+memberId).val();
      var roles = '';
      if (roleids != null){roles = roleids.join(",")}
      returnarr["[member_roles]["+memberId+']'] = roles
    });
    console.log(returnarr);
    return returnarr
      }
      
    $("form").first().submit( function(e) {
      e.preventDefault();
      var my_context = '#form-content'
      var extra_data = jQuery.param( postFormPost() );
      var target = $(this).attr('action')
      $.ajax({
        url: target,
        type: $(this).attr('method'),
        dataType: "html",
        data : $(this).serialize() + '&' +extra_data ,
        context: $(my_context),
        success: function(data) {
          //document.write(data).delay(700);
            location.href=target;
         
        }
      });
    });

</script>

