<% if project.id != Project.default.id # Production not editable, should be handled via normal UI %>
  <div class="row">
    <div class="span1">
      <div class="btn-group">
        <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
          Action
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to(project) do %>
              <i class="icon-info-sign"></i>&nbsp;show
            <% end %>
          </li>
          <% if project.project_member?(session[:user_id]) %>
            <li>
              <%= link_to(handle_project_path(project)) do %>
                <i class="icon-tasks"></i>&nbsp;handle
              <% end %>
            </li>
            <li>
              <%= link_to(edit_project_path(project)) do %>
                <i class="icon-edit"></i>&nbsp;edit
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="span1"><%= project.id %></div>
    <div class="span3"><%= project.name %></div>
    <div class="span1"><%= project.status_str %></div>
  </div>
<% end %>