
<div class="row bounded-header">
  <div class="span5"><h4>Project <%= @project.name %></h4></div>
  <div class="span pull-right"> <span class="label"><%= @project.status_str %></span></div>
</div>
<div class="row">
  <div class="span3">
    <strong>Name</strong>
  </div>
  <div class="span8">
    <strong>Description</strong>
  </div>
</div>
<div class="row">
  <div class="span3">
    <%= @project.name %>
  </div>
  <div class="span8">
    <pre class="real-pre"><%= @project.description %></pre>
  </div>
</div>
<div class="row"><div class="span12"><hr/></div></div>
<div class="row">
  <div class="span3">
    <strong>Members</strong>
  </div>
</div>
<div class="row">
  <div class="span12">
    <table class="table table-condensed" id="memberTable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Role(s)</th>
        </tr>
      </thead>
      <tbody id="memberTableBody">
        <% @project.users.each do |member| %>
          <tr>
            <td><%= member.full_name %></td>
            <td>
              <% member.roles_by_project(@project.id).each do |role| %>
                <span class="label"><%= role.title %></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

