<div class="row">
  <div class="span12 bounded bounded-headered">
    <%= render "show_data" %>
    <div class="row">
      <div class="span12">
        <%= link_to({:action => :change_status, :id => @project.id,:status => Project::STATUS_ACTIVE}, {:id => 'btn_status_active', :class => 'btn disabled', :title => "activate", :method => :post}) do %>
          <li class="icon icon-ok">&nbsp;</li>Activate project
        <% end %>
        <%= link_to({:action => :change_status, :id => @project.id,:status => Project::STATUS_OBSOLETE}, {:id => 'btn_status_obsolete',:class => 'btn disabled', :title => "obsolete", :method => :post}) do %>
          <li class="icon icon-stop">&nbsp;</li>Disable project
        <% end %>
        <%= link_to({:action => :change_status, :id => @project.id,:status => Project::STATUS_REMOVED}, {:id => 'btn_status_removed',:class => 'btn disabled', :title => "obsolete", :method => :post}) do %>
          <li class="icon icon-trash">&nbsp;</li>Remove project
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="span12">
    <%= link_to(:back,:class =>'btn',:title=>"back") do %>
      <li class="icon icon-arrow-left"></li>
    <% end %>
    <%= link_to(projects_path,:class =>'btn',:title=>"overview") do %>
      <li class="icon icon-arrow-up"></li>
    <% end %>
    <%= link_to(@project,:class =>'btn',:title=>"show") do %>
      <li class="icon icon-eye-open"></li>
    <% end %>
    <%= link_to(edit_project_path(@project),:class =>'btn',:title=>"edit") do %>
      <li class="icon icon-edit"></li>
    <% end %>
    <%= next_prev_button("prev") %>
    <%= next_prev_button("next") %>
  </div>
</div>

<script>
<% if @project.allow_status?(Project::STATUS_ACTIVE) %>
  $("#btn_status_active").removeClass("disabled");
<% end %>
<% if @project.allow_status?(Project::STATUS_OBSOLETE) %>
  $("#btn_status_obsolete").removeClass("disabled");
<% end %>
<% if @project.allow_status?(Project::STATUS_REMOVED) %>
  $("#btn_status_removed").removeClass("disabled");
<% end %>
</script>