<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand"><strong>Projects</strong></div>
      <div class="span">
          <%= form_tag projects_path, method: 'get' do %>
          <div class="input-bar">
          <label class="checkbox">
            <%= check_box_tag :removed, "1", params[:removed],{:data => {"text-label" => "obsoletes","off-label" => "","on-label" => "Include",:size => "normal",:on => "success",:off => "default","off-label" => "excluded"}} %>
          </label>
          </div>
          </div>
          <div class="span">
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <div class="input-prepend input-append">
            <%= link_to("New",{:action => :new},{:class => 'btn btn-info'}) %>
            <%= text_field_tag :search, params[:search], :placeholder=>" search" %>
            <%= button_tag "Search", :name => nil, :type => :submit, :class => "btn" %>
            <%= button_tag "Reset", :name => 'reset',:class=>"btn",:type=>:submit %>
          </div>
         <% end %>
     </div>
   </div>
 </div>
</div>

<div id="endless">
  <div class="row">
    <div class="offset1 span1"><strong><%=  sortable "projects.id","Id" %></strong></div>
    <div class="span3"><strong><%= sortable "projects.name","Name" %></strong></div>
    <div class="span1"><strong><%= sortable "projects.status","Status" %></strong></div>
  </div>

  <%= render(partial: "project", collection: @projects) %>
</div>

<%= will_paginate(@projects) %>
<%= pageless(@projects.total_pages, projects_path, "#endless", params) %>

<footer class="subnav subnav-fixed" style="bottom:0;top:auto;margin-bottom: 0px;">
  &nbsp;
</footer>

<script type="text/javascript">
  $("#removed").bootstrapSwitch();
</script>