<div class="row">
  <div class="span12 bounded bounded-headered">
    <%= render "show_data" %>
  </div>
</div>
<div class="row">
  <div class="span12">
    <%= link_to(:back,:class =>'btn',:title=>"back") do %>
      <li class="icon icon-arrow-left"></li>
    <% end %>
    <%= link_to(projects_path,:class =>'btn',:title=>"overview") do %>
      <li class="icon icon-arrow-up"></li>
    <% end %>
    <%= link_to handle_project_path(@project),:class => 'btn disabled',:title => "handle" do %>
      <i class="icon-tasks"></i>
    <% end %>
    <%= link_to(edit_project_path(@project),:class =>'btn disabled',:title=>"edit") do %>
      <li class="icon icon-edit"></li>
    <% end %>
    <%= next_prev_button("prev") %>
    <%= next_prev_button("next") %>
  </div>
</div>

<script type="text/javascript">
<% if @project.project_member?(session[:user_id]) %>
    $(".disabled").removeClass("disabled");
<% end %>
</script>