<%  
# this partial renders a tabnav, you can call it in your views with:
#   <%= tabnav :main % > (just the tabnav) 
# or, if you want a boxed tabnav:
#   <% tabnav :main do % >
#     your html here
#   <% end % >
# (remove the space between % and >, we don't want to mess up your brand new tabnav :-))
#
# you can pass render_tabnav a few options:
#   :generate_css => true|false #=> generates a default inline css for the tabnav, defaults to false
#   :html => aHash #=> sets html options for the tabnav's div (es :html => {:class=> 'myCssClass', :id=>'myCssId'}) 
#     
render_tabnav :main, 
              :generate_css => true do 
    
  # this generates a tab for every controller in your app
  # you'll probably want to delete this and
  # add tabs one by one as shown below
  #controller_names.each do |name|
  #  add_tab do |t|
  #    t.named name.camelize
  #    t.titled "Go to #{name.camelize}"
  #    t.links_to :controller => name
  #  end
  #end 
         
  add_tab do |t|
    t.named 'Menu'
    t.titled 'Menu'
    t.links_to :controller => 'main'
  end 
  add_tab do |t|
    t.named 'Receptions'
    t.titled 'Receptions'
    t.links_to :controller => 'receptions'
  end 

  add_tab do |t|
    t.named 'Conversions'
    t.titled 'Conversions'
    t.links_to :controller => 'conversions'
  end 
  add_tab do |t|
    t.named 'Archive'
    t.titled 'Archive'
    t.links_to :controller => 'main', :action => 'archive'
  end 
  add_tab do |t|
    t.named 'Administration'
    t.titled 'Administration'
    t.links_to :controller => 'main', :action => 'administration'
  end 

  #  
  # you can use restful routes with:
  #
  #add_tab do |t|
  #  t.named 'Users'
  #  t.links_to hash_for_users_path
  #end
  #
  #add_tab do |t|
  #  t.named 'Customers'
  #  t.links_to :controller => 'customers'
  #end
  #  
  # # A tab can be initialized with a Hash like this:
  # 
  # add_tab :name => 'welcome', :link => {:controller=>'welcome'}
  #
  # # You can have a dynamic name or link 
  # # (this partial is evaluated in the page context, so it sees every helper or instance variable)
  #  
  # add_tab do |t|
  #   t.named "#{current_user} details"
  #   t.links_to :controller => 'users', :action => 'show', :id => current_user.id
  # end
  #
  # # You can have an image inside 
  #
  # add_tab do |t|
  #   t.named image_tag('test')
  #   t.links_to :controller => 'users', :action => 'show', :id => current_user.id
  # end
end 
%>
