<%  
# this partial renders a tabnav, you can call it in your views with:
#   <%= tabnav :ppf % > (just the tabnav) 
# or, if you want a boxed tabnav:
#   <% tabnav :ppf do % >
#     your html here
#   <% end % >
# (remove the space between % and >, we don't want to mess up your brand new tabnav :-))
#
# you can pass render_tabnav a few options:
#   :generate_css => true|false #=> generates a default inline css for the tabnav, defaults to false
#   :html => aHash #=> sets html options for the tabnav's div (es :html => {:class=> 'myCssClass', :id=>'myCssId'}) 
#     
render_tabnav :ppf, 
              :generate_css => false do 
    
  # this generates a tab for every controller in your app
  # you'll probably want to delete this and
  # add tabs one by one as shown below
#  controller_names.each do |name|
#    add_tab do |t|
#      t.named name.camelize
#      t.titled "Go to #{name.camelize}"
#      t.links_to :controller => name
#    end
#  end 
         
  add_tab do |t|
    t.named 'Productsets'
    t.titled 'Productsets'
    t.links_to :controller => 'productsets'
  end 
  add_tab do |t|
    t.named 'Products'
    t.titled 'Products'
    t.links_to :controller => 'products'
  end 

  add_tab do |t|
    t.named 'Media types'
    t.titled 'Media types'
    t.links_to :controller => 'data_media'
  end

  add_tab do |t|
    t.named 'Company Abbreviations'
    t.titled 'Company Abbrviations'
    t.links_to :controller => 'company_abbrs'
  end

  add_tab do |t|
    t.named 'Product Documents'
    t.titled 'Product Documents'
    t.links_to :controller => 'documents'
  end

   add_tab do |t|
    t.named 'Product Categories'
    t.titled 'Product Categories'
    t.links_to :controller => 'product_categories'
  end

  add_tab do |t|
    t.named 'Production Orders'
    t.titled 'Production Orders'
    t.links_to :controller => 'production_orders'
  end
  
  add_tab do |t|
    t.named 'Business Processes'
    t.titled 'Business processes for Production orders'
    t.links_to :controller => 'business_processes'
  end
  
  #add_tab do |t|
    #t.named 'My Work'
    #t.titled 'My Work'
    #t.links_to :controller => 'production_orders', :action => 'my_work', :id => 1
  #end

  #add_tab do |t|
  #  t.named 'Dataset Info'
  #  t.titled 'Dataset Info'
  #  t.links_to :controller => 'product_data_set_infos'
  #end

 


  #  
  # you can use restful routes with:
  #
  #add_tab do |t|
  #  t.named 'Users'
  #  t.links_to hash_for_users_path
  #end
  #
  #add_tab do |t|
  #  t.named 'Customers'
  #  t.links_to :controller => 'customers'
  #end
  #  
  # # A tab can be initialized with a Hash like this:
  # 
  # add_tab :name => 'welcome', :link => {:controller=>'welcome'}
  #
  # # You can have a dynamic name or link 
  # # (this partial is evaluated in the page context, so it sees every helper or instance variable)
  #  
  # add_tab do |t|
  #   t.named "#{current_user} details"
  #   t.links_to :controller => 'users', :action => 'show', :id => current_user.id
  # end
  #
  # # You can have an image inside 
  #
  # add_tab do |t|
  #   t.named image_tag('test')
  #   t.links_to :controller => 'users', :action => 'show', :id => current_user.id
  # end
end 
%>
