<tr class="<%=h !filling.active_yn && !filling.removed_yn ? "warning" : filling.removed_yn ? "danger" : '' %>">
  <td>
    <div class="btn-group">
      <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Action <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="action-<%= filling.id %>">
        <li>
          <%= link_to({:controller => :fillings, :action => 'show', :id => filling.id}) do %>
            <i class="glyphicon glyphicon-info-sign"></i>&nbsp;show
          <% end %>
        </li>
        <li>
          <%= link_to({:controller => :fillings, :action => 'handle', :id => filling.id}) do %>
            <i class="glyphicon glyphicon-tasks"></i>&nbsp;handle
          <% end %>
        </li>
        <li>
        <% if env_production? %>
          <%= link_to({:controller => :fillings, :action => 'edit', :id => filling.id}) do %>
            <i class="glyphicon glyphicon-edit"></i>&nbsp;edit
          <%  end %>
        <% end %>
        </li>
      </ul>
    </div>
  </td>
  <td><%= link_to filling.id, filling %></td>
  <td><%= filling.name %></td>
  <td><%= filling.data_types.order(:name).collect{|dt|dt.name}.compact.join(' | ') %></td>
  <td><%= bootstrap_boolean(filling.active_yn) %></td>
</tr>
