<div class="row">
  <div class="col-md-3">
    <% if @filling.errors.any? %>
      <div id="error_explanation">
        <h4><%= pluralize(@filling.errors.count, "error") %> prohibited this filling from being saved:</h4>
        <ul>
          <% @filling.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= controller.action_name.humanize %> Filling: <%= @filling.name %></h3>
      </div>
      <div class="panel-body">
        <%= form_for(@filling,:class => "") do |f| %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, :class => 'form-control' %>
        </div>
        <div class="checkbox">
          <label title="Activation only via handle action">
            <%= f.check_box :active_yn, :disabled => "disabled" %>
            Active
          </label>
        </div>
        <div class="checkbox">
          <label title="Removal only via handle action">
            <%= f.check_box :removed_yn, :disabled => "disabled" %>
            Removed
          </label>
        </div>
        <%= f.submit 'Save filling', {:class => 'btn btn-primary pull-right'} %>
        <% end %>
      </div>
    </div>
  </div>
</div>