<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="badge"><%= @filling.id %></span> <%= controller.action_name.humanize %> Filling: <%= @filling.name %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12 show-label">
            Name
          </div>
          <div class="col-md-12">
            <%= @filling.name %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= bootstrap_boolean(@filling.active_yn) %>
            Active
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= bootstrap_boolean(@filling.removed_yn) %>
            Removed
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Related data types</h3>
      </div>
      <div class="panel-body">
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            <% @filling.data_types.each do |dt| %>
            <tr>
              <td><%= link_to dt.id, dt %></td>
              <td><%= dt.name %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>