<%= render 'form' %>
<div class="row">
  <div class="col-md-12">
    <%= link_to @filling, :class => "btn btn-default", :title => "show" do %>
      <span class="glyphicon glyphicon-eye-open"></span>
    <% end %>

    <%= link_to handle_filling_path(@filling), :class => "btn btn-default",:title => "handle" do %>
      <span class="glyphicon glyphicon-tasks" title="handle"></span>
    <% end %>
    
    <%= link_to :back, :class => "btn btn-default", :title => "back" do %>
      <span class="glyphicon glyphicon-arrow-left"></span>
    <% end %>

    <%= link_to fillings_path, :class => "btn btn-default",:title => "overview" do %>
      <span class="glyphicon glyphicon-arrow-up"></span>
    <% end %>
  </div>
</div>
