<%= render "show_data" %>

<div class="row">
  <div class="col-md-3">
    <% if !@filling.removed_yn %>
      <%= link_to remove_filling_path(@filling), :class => "btn btn-danger", :title => "remove", :method => :post do %>
        <span class="glyphicon glyphicon-trash"></span>&nbsp;Remove
      <% end %>
    <% else %>
      <%= link_to restore_filling_path(@filling), :class => "btn btn-primary", :title => "restore", :method => :post do %>
        <span class="glyphicon glyphicon-share"></span>&nbsp;Restore
      <% end %>
    <% end %>
    <% if @filling.active_yn %>
      <%= link_to deactivate_filling_path(@filling), :class => "btn btn-warning", :title => "deactivate", :method => :post do %>
        <span class="glyphicon glyphicon-folder-close"></span>&nbsp;Deactivate
      <% end %>
    <% else %>
      <%= link_to activate_filling_path(@filling), :class => "btn btn-primary",:title => "activate", :method => :post do %>
        <span class="glyphicon glyphicon-folder-open"></span>&nbsp;Activate
      <% end %>
    <% end %><br /><br />
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= link_to @filling, :class => "btn btn-default", :title => "show" do %>
      <span class="glyphicon glyphicon-eye-open" title="handle"></span>
    <% end %>

    <%= link_to edit_filling_path(@filling), :class => "btn btn-default",:title => "edit" do %>
      <span class="glyphicon glyphicon-edit" title="edit"></span>
    <% end %>

    <%= link_to :back, :class => "btn btn-default", :title => "back" do %>
      <span class="glyphicon glyphicon-arrow-left" title="back"></span>
    <% end %>

    <%= link_to fillings_path, :class => "btn btn-default",:title => "overview" do %>
      <span class="glyphicon glyphicon-arrow-up" title="overview"></span>
    <% end %>
    <%= next_prev_button("prev") %>
    <%= next_prev_button("next") %>
  </div>
</div>