<%= render :partial => 'shared/search_bar', :object => @search_opts %>
<div id="index" class="table-responsive">
  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th class="id">&nbsp;</th>
        <th class="id"><%= column_sort("fillings.id","ID",true) %></th>
        <th><%= column_sort("fillings.name", "Name",true) %></th>
        <th><%= column_sort("data_types.name", 'Data types',true) %></th>
        <th><%= column_sort("fillings.active_yn", 'Active') %></th>
      </tr>
    </thead>
    <tbody id="endless">
      <%= render(:partial => "filling", :collection => @fillings) %>
    </tbody>
  </table>
</div>
<%= will_paginate(@fillings) %>
<%= pageless(@fillings.total_pages, url_for(:controller => :fillings, :action => :index), "#endless") %>