<%= render 'form' %>
<div class="row">
  <div class="col-md-12">
    <%= link_to :back, :class => "btn btn-default", :title => "back" do %>
      <i class="glyphicon glyphicon-arrow-left" title="back"></i>
    <% end %>
    <%= link_to fillings_path, :class => "btn btn-default",:title => "overview" do %>
      <i class="glyphicon glyphicon-arrow-up" title="overview"></i>
    <% end %>
  </div>
</div>
