<%= render "show_data" %>

<div class="row">
  <div class="col-md-12">
    <%= link_to handle_filling_path(@filling), :class => "btn btn-default",:title => "handle" do %>
      <span class="glyphicon glyphicon-tasks" title="handle"></span>
    <% end %>

    <%= link_to edit_filling_path(@filling), :class => "btn btn-default",:title => "edit" do %>
      <span class="glyphicon glyphicon-edit" title="edit"></span>
    <% end %>

    <%= link_to :back, :class => "btn btn-default", :title => "back" do %>
      <span class="glyphicon glyphicon-arrow-left" title="back"></span>
    <% end %>

    <%= link_to fillings_path, :class => "btn btn-default",:title => "overview" do %>
      <span class="glyphicon glyphicon-arrow-up" title="overview"></span>
    <% end %>
    <%= next_prev_button("prev") %>
    <%= next_prev_button("next") %>
  </div>
</div>
