<%= form_for(@state) do |f| %>
  <% if @state.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@state.errors.count, "error") %> prohibited this state from being saved:</h4>
      <ul>
        <% @state.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="span9 bounded">
      <div class="row">
        <div class="span3"><strong>Name</strong></div>
        <div class="span1"><strong>State Code</strong></div>
        <div class="span1"><strong>Population</strong></div>
        <div class="span1"><strong>Dakota ID</strong>&nbsp;<i class="icon icon-refresh" style="color:#008AFF" title="Generate latest ID" id="generateDakotaId"></i></div>
        <div class="span2"><strong>Country</strong></div>
        <div class="span1"><strong>Active</strong></div>
      </div>
      <div class="row">
        <div class="span3"><%= f.text_field :name,:class => 'span3',:placeholder => "Name of Area" %></div>
        <div class="span1"><%= f.text_field :state_code,:class => 'span1',:placeholder => "2-Code" %></div>
        <div class="span1"><%= f.text_field :population,:class => 'span1',:placeholder => "Population number" %></div>
        <div class="span1"><%= f.number_field :dakota_id,:class => 'span1',:placeholder => "Dakota ID" %></div>
        <div class="span2"><%= f.select :parent_id, Country.where(:isactive => true).collect{|c|[c.name,c.id]},{:include_blank => true},{:class => 'span2',:data => {:placeholder => "Country"}} %></div>
        <div class="span1"><%= f.check_box :isactive %></div>
      </div>
      <div class="row">
        <div class="span8"><br/><strong>Description</strong></div>
        <div class="span1"><strong class="pull-right">Ignore as DS region</strong></div>
      </div>
      <div class="row">
        <div class="span8"><%= f.text_area :description,:class => 'span8',:rows => '3' %></div>
        <div class="span1"><%= f.check_box :ignore_ds_regions_yn %></div>
      </div>
      <div class="row">
        <div class="actions span3">
          <%= f.submit 'Save',:class => 'btn' %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $('#state_parent_id').chosen();

  $('#generateDakotaId').hover(function() {
    $(this).css('cursor','pointer');
  });

  $("#generateDakotaId").click(function(){
    $.get( "<%= url_for(:action => :generate_dakota_id) %>", function( data ) {
      $( "#state_dakota_id" ).val( data );
    });
  })
</script>