<h4>Editing state</h4>
<%= render 'form_fields' %>

<div class="row">
  <div class="span12">
    <%= link_to(@state, :class => "btn", :title => "show") do %>
      <i class="icon-eye-open"></i>
    <% end %>
    &nbsp;
    <%= link_to(:back, :class => 'btn', :title => "back") do %>
      <i class="icon-arrow-left"></i>
    <% end %>
    &nbsp;
    <%= link_to(regions_path, :class => 'btn', :title => 'regions overview') do %>
      <i class="icon-arrow-up"></i>
    <% end %>
  </div>
</div>