<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand"><strong>States</strong></div>
      <div class="span7">
        <%= form_tag states_path, :method => 'get' do %>
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <div class="input-append input-prepend">
            <%= link_to 'New', {:action => :new,:controller => :states},{:class => 'btn btn-info'} %>
            <%= text_field_tag :q, params[:q], :placeholder=>" search",:class=>"span3",:size=>"16" %>
            <%= button_tag "Search", :name => nil, :type => :submit, :class => "btn" %>
            <%= button_tag "Reset", :name => 'reset',:class=>"btn",:type=>:submit %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="endless">
  <div class="row">
    <div class="offset1 span3"><strong><%=  sortable "name" %></strong></div>
    <div class="span1"><strong><%= sortable "state_code","State code" %></strong></div>
    <div class="span3"><strong><%= sortable "regions.name","Country" %></strong></div>
    <div class="span1"><strong><%= sortable "isactive", 'Active' %></strong></div>
  </div>

  <%= render(:partial => "state", :collection => @states) %>
</div>
<%= will_paginate(@states) %>
<%= pageless(@states.total_pages, url_for(:controller => :states, :action => :index), "#endless") %>
<footer class="subnav subnav-fixed" style="bottom:0;top:auto;margin-bottom: 0px;">
  &nbsp;
</footer>
