<h4>State</h4>
<div class="row">
  <div class="span10 bounded">
  <div class="row">
    <div class="span3"><strong>Name</strong></div>
    <div class="span1"><strong>State&nbsp;Code</strong></div>
    <div class="span1"><strong>Population</strong></div>
    <div class="span1"><strong>Dakota&nbsp;id</strong></div>
    <div class="span2"><strong>Country</strong></div>
    <div class="span1"><strong>Active</strong></div>

  </div>
  <div class="row">
    <div class="span3"><span class="input-xlarge uneditable-input span3"><%= @state.name %></span></div>
    <div class="span1"><span class="input-xlarge uneditable-input span1"><%= @state.state_code %></span></div>
    <div class="span1"><span class="input-xlarge uneditable-input span1"><%= @state.population %></span></div>
    <div class="span1"><span class="input-xlarge uneditable-input span1"><%= @state.dakota_id %></span></div>
    <div class="span2"><span class="input-xlarge uneditable-input span2"><%= @state.parent.name if @state.parent_id %></span></div>
    <div class="span1"><%= bootstrap_boolean(@state.isactive) %></div>
  </div>
<div class="row">
  <div class="span8"><br /><strong>Description</strong></div>
  <div class="span1"><strong class="pull-right">Ignore as DS region</strong></div>
</div>
<div class="row">
  <div class="span8"><pre><%= @state.description %></pre></div>
  <div class="span1"><%= bootstrap_boolean(@state.ignore_ds_regions_yn) %></div>
</div>
</div>
 </div>

<div class="row">
  <div class="span12">
    <%= link_to edit_state_path(@state), :class => "btn",:title => "edit" do %>
      <i class="icon-edit"></i>
    <% end %>
    &nbsp;
    <%= link_to(:back,:class=>'btn',:title=>'back') do %>
      <i class="icon icon-arrow-left"></i>
    <% end %>
    &nbsp;
    <%= link_to(regions_path,:class=>'btn',:title=>'Regions overview') do %>
      <i class="icon icon-arrow-up"></i>
    <% end %>
  </div>
</div>
