<%= form_for(@poi_mapping_layout) do |f| %>
  <% if @poi_mapping_layout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@poi_mapping_layout.errors.count, "error") %> prohibited this poi_mapping_layout from being saved:</h2>

      <ul>
      <% @poi_mapping_layout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :supplier_company_abbr_id %><br />
    <%= f.number_field :supplier_company_abbr_id %>
  </div>
  <div class="field">
    <%= f.label :region_id %><br />
    <%= @poi_mapping_layout.regions.collect{|x| x.region_code}.join(',') %>
  </div>
  <div class="field">
    <%= f.label :customer_company_abbr_id %><br />
    <%= f.number_field :customer_company_abbr_id %>
  </div>
  <div class="field">
    <%= f.label :output_data_type_id %><br />
    <%= f.number_field :output_data_type_id %>
  </div>
  <div class="field">
    <%= f.label :input_data_type_id %><br />
    <%= f.number_field :input_data_type_id %>
  </div>
  <div class="field">
    <%= f.label :definition_version %><br />
    <%= f.text_field :definition_version %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :import_hash %><br />
    <%= f.text_area :import_hash %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
