<div class="row">
          <div class="span1">
        <div class="btn-group">
          <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
            <%= poi_mapping_layout.id %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to(:action => 'show',:id => poi_mapping_layout.id) do %>
                <i class="icon-info-sign"></i>&nbsp;show
              <% end %>
            </li>
            <li>
              <%= link_to(:action => :content_filter,:controller => :poi_mappings,:poi_mapping_layout_id => poi_mapping_layout.id) do %>
                <i class="icon-filter"></i>&nbsp;examine
              <% end %>
            </li>
            <li>
              <%= link_to(:action => 'export_csv',:id => poi_mapping_layout.id) do %>
                <i class="icon-download-alt"></i>&nbsp; Download as CSV-file
              <% end %>
            </li>
          </ul>
        </div>
      </div>
  <div class="span6"><%= poi_mapping_layout.definition_version %></div>
  <div class="span2"><%= poi_mapping_layout.supplier.company_name %></div>
  <div class="span2"><%= poi_mapping_layout.regions.collect{|x| x.region_code}.join(',') %></div>
  <div class="span1"><%= poi_mapping_layout.input_data_type.name %></div>
  <div class="span1"><%= poi_mapping_layout.output_data_type.name %></div>

</div>