<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand"><strong>POI&nbsp;Mapping&nbsp;Layouts</strong></div>
      <div class="span">
        <%= form_tag poi_mapping_layouts_path, :method => 'get' do %>
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <div class="input-append input-prepend">
            <%=  select_tag("[search][supplier_company_abbr_id]", options_for_select(PoiMappingLayout.select("distinct supplier_company_abbr_id").includes("supplier").map{|x| [x.supplier.name,x.supplier_company_abbr_id] if x.supplier && x.supplier.name != nil}.compact.sort,params[:search][:supplier_company_abbr_id]),:include_blank=>true,:class => 'span2',:data=>{:placeholder => 'Supplier'}) %>
            <%=  select_tag("[search][regions.id]", options_for_select(Region.active.map{|x| [x.region_code,x.id]}.compact.sort,params[:search][:region]),:include_blank=>true,:class => 'span2',:data=>{:placeholder => 'Region'}) %>
            <%=  select_tag("[search][input_data_type_id]", options_for_select(PoiMappingLayout.select("distinct input_data_type_id").includes("input_data_type").map{|x| [x.input_data_type.name,x.input_data_type_id] if x.input_data_type && x.input_data_type.name != nil}.compact.sort,params[:search][:input_data_type_id]),:include_blank=>true,:class => 'span1',:data=>{:placeholder => 'Input'}) %>
            <%=  select_tag("[search][output_data_type_id]", options_for_select(PoiMappingLayout.select("distinct output_data_type_id").includes("output_data_type").map{|x| [x.output_data_type.name,x.output_data_type_id] if x.output_data_type && x.output_data_type.name != nil}.compact.sort,params[:search][:output_data_type_id]),:include_blank=>true,:class => 'span1',:data=>{:placeholder => 'Output'}) %>

            <%= text_field_tag '[search][free]', params[:search][:free],:class => 'span2',:placeholder => 'Free search' %>
            <%= button_tag "Search", :name => nil, :type => :submit, :class => "btn" %>
            <%= button_tag "Reset", :name => 'reset',:class=>"btn",:type=>:submit %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="endless">
  <div class="row">
    <div class="span1"><strong><%= sortable "id", 'Id' %></strong></div>
    <div class="span6"><strong><%= sortable "definition_version", 'Version' %></strong></div>
    <div class="span2"><strong><%= sortable "company_abbrs.company_name", 'Supplier' %></strong></div>
    <div class="span2"><strong><%= sortable "regions.name", 'Region' %></strong></div>
    <div class="span1"><strong><%= sortable "input", 'Input' %></strong></div>
    <div class="span1"><strong><%= sortable "output", 'Output' %></strong></div>
  </div>
  <%= render(:partial => "poi_mapping_layout", :collection => @poi_mapping_layouts) %>
</div>

<%= will_paginate(@poi_mapping_layouts) %>
<%= pageless(@poi_mapping_layouts.total_pages, poi_mapping_layouts_path, "#endless",params) %>

<script type="text/javascript">
  $("select[id^=_search_]").chosen();
</script>