<br />
<div class="row">
  <div class="span12 well">
    <div class="row">
      <div class="span11"><h4>POI Mapping Layout <%= @poi_mapping_layout.id %></h4></div>
      <div class="span1">
        <%= link_to({:action => :export_csv, :id => @poi_mapping_layout.id},{:style => "border-bottom: none"}) do %>
          <i class="icon-download-alt" title="Download as CSV-file">&nbsp;</i>CSV
        <%  end %><br />
        <%= link_to({:controller => :poi_mappings, :action => :content_filter, :poi_mapping_layout_id => @poi_mapping_layout.id},{:style => "border-bottom: none"}) do %>
          <i class="icon-filter" title="Filter mapping">&nbsp;</i>Examine
        <%  end %>
      </div>
    </div>
    <div class="row">
      <div class="span1"><strong>Input data</strong></div>
      <div class="span1"><strong>Output data</strong></div>
      <div class="span1"><strong>Data&nbsp;supplier</strong></div>
      <div class="span1"><strong>Customer</strong></div>
      <div class="span1"><strong>Regions</strong></div>
      <div class="span6"><strong>(Definition) version</strong></div>
    </div>

    <div class="row">
      <div class="span1"><abbr title="<%= @poi_mapping_layout.input_data_type.description %>"><%= @poi_mapping_layout.input_data_type.name %></abbr></div>
      <div class="span1"><abbr title="<%= @poi_mapping_layout.output_data_type.description %>"><%= @poi_mapping_layout.output_data_type.name %></abbr></div>
      <div class="span1"><abbr title="<%= @poi_mapping_layout.supplier.name %>"><%= @poi_mapping_layout.supplier.ms_abbr_3 %></abbr></div>
      <div class="span1"><abbr title="<%= @poi_mapping_layout.customer.name if @poi_mapping_layout.customer %>"><%= @poi_mapping_layout.customer.ms_abbr_3 if @poi_mapping_layout.customer %></abbr>&nbsp;</div>
      <div class="span1"><%= @poi_mapping_layout.regions.collect{|x| x.region_code}.join(',') %></div>
      <div class="span6"><%= @poi_mapping_layout.definition_version %></div>
    </div>

    <div class="row">
      <div class="span12"><i><%= @poi_mapping_layout.description %></i></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12 bounded">
    <div class="row">
      <div class="span1"><strong>Id|Line</strong></div>
      <div class="span1"><strong>Output&nbsp;category</strong></div>
      <div class="span2"><strong>Output&nbsp;Description</strong></div>
      <div class="span1"><strong>Logical&nbsp;type</strong></div>
      <div class="span1"><strong>Filter&nbsp;type</strong></div>
      <div class="span2"><strong>Filter&nbsp;value</strong></div>
      <div class="span2"><strong>Input&nbsp;Description</strong></div>
    </div>
    <% seq = 0 %>
    <% @poi_mapping_layout.poi_mappings.each do |poi_mapping| %>
    <% seq = seq + 1 %>
    <div class="row">
      <div class="span1"><%= poi_mapping.id %>|<strong><%= seq %></strong></div>
      <div class="span1"><%= poi_mapping.output_category %>&nbsp;</div>
      <div class="span2"><%= poi_mapping.output_description %>&nbsp;</div>
      <div class="span1"><%= poi_mapping.logical_type %>&nbsp;</div>
      <div class="span1"><%= poi_mapping.map_or_filter_type %>&nbsp;</div>
      <div class="span2"><%= poi_mapping.map_or_filter_value %>&nbsp;</div>
      <div class="span2"><%= poi_mapping.input_description %>&nbsp;</div>
    </div>
    <% end %>
  </div>
</div>




<%= link_to 'Edit', edit_poi_mapping_layout_path(@poi_mapping_layout) %> |
<%= link_to 'Back', poi_mapping_layouts_path %>
