<div class="row">
  <div class="span7">
    <label class="label-info label" title="status"><%= @text_block.status_string %></label>
  </div>
</div>

<div class="row">
  <%= form_for(@text_block) do |f| %>
    <% if @text_block.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@text_block.errors.count, "error") %> prohibited this text_block from being saved:</h2>

        <ul>
          <% @text_block.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="span7 bounded bounded-headered flat-roof">
      <div class="row bounded-header">
        <h4><%= params[:action].humanize %> Text block</h4>
      </div>
      <div class="row">
        <div class="span3">
          <strong>Name</strong>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <%= f.text_field :name, :class => "span3 validate", :required => "required" %>
        </div>
      </div>
      <div class="row">
        <div class="span7">
          <strong>Content</strong>
        </div>
      </div>
      <div class="row">
        <div class="span7">
          <%= f.text_area :content, :class => "span7 validate", :required => "required" %>
        </div>
      </div>
      <div class="row">
        <div class="span7">
          <%= f.submit "Save", :class => "btn pull-right" %>
        </div>
      </div>
    </div>
  <% end %>
</div>


