<div class="row">
  <div class="span7">
    <label class="label-info label" title="status"><%= @text_block.status_string %></label>
  </div>
</div>

<div class="row">
  <div class="span7 bounded bounded-headered flat-roof">
    <div class="row bounded-header">
      <h4><%= params[:action].humanize %> Text block "<%= @text_block.name %>"</h4>
    </div>
    <div class="row">
      <div class="span3">
        <strong>Content</strong>
      </div>
    </div>
    <div class="row">
      <div class="span7">
        <pre class="real-pre"><%= @text_block.content %></pre>
      </div>
    </div>
  </div>
</div>
