<div class="row" id="rowId-<%= text_block.id %>">
  <div class="span1">
    <div class="btn-group">
      <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
        Action
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to(:action => 'show',:controller => :text_blocks,:id => text_block.id) do %>
            <i class="icon-info-sign"></i>&nbsp;show
          <% end %>
        </li>
        <li>
          <%= link_to(:action => 'handle',:controller => :text_blocks,:id => text_block.id) do %>
            <i class="icon-tasks"></i>&nbsp;handle
          <% end %>
        </li>
        <li>
          <%= link_to(:action => 'edit',:controller => :text_blocks,:id => text_block.id) do %>
            <i class="icon-edit"></i>&nbsp;edit
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <div class="span1"><%= text_block.id %>&nbsp;</div>
  <div class="span3"><%= text_block.name %>&nbsp;</div>
</div>


<script type="text/javascript">
  <% if text_block.status == TextBlock::STATUS_OBSOLETE %>
    $("#rowId-<%= text_block.id %> [class^='span']").wrapInner("<del>")
  <% end %>
</script>