<%= render 'form' %>
<div class="row">
  <div class="span12">
    <%= link_to :back, :class => 'btn',:title => 'back to previous page' do %>
      <i class="icon icon-arrow-left"></i>
    <% end %>
    <%= link_to text_blocks_path , :class => 'btn',:title => 'back to overview' do %>
      <i class="icon icon-arrow-up"></i>
    <% end %>
    <%= link_to handle_text_block_path(@text_block),:class => 'btn', :title => "handle" do %>
      <i class="icon-tasks"></i>
    <% end %>
    <%= link_to @text_block,:class => 'btn',:title => "show" do %>
      <i class="icon-eye-open"></i>
    <% end %>
    <%= next_prev_button("prev") %>
    <%= next_prev_button("next") %>
  </div>
</div>
