<%= render :partial => "show_data" %>
<div class="row">
  <div class="span7">
    <% if @text_block.remove_allowed? %>
      <%= link_to({:action => "change_status", :id => @text_block.id, :status => TextBlock::STATUS_OBSOLETE}, {:method => :post, :class => "btn",:confirm => "Are you sure to remove this text block?"}) do %>
        <i class="icon icon-trash">&nbsp;</i>Remove
      <% end %>
    <% else %>
      <%= link_to({:action => "change_status", :id => @text_block.id, :status => TextBlock::STATUS_ACTIVE},   {:method => :post, :class => "btn",:confirm => "Are you sure to restore this text block?"}) do %>
        <i class="icon icon-step-backward">&nbsp;</i>Restore
      <% end %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="span7"><hr /></div>
</div>
<div class="row">
  <div class="span12">
    <%= link_to :back, :class => 'btn',:title => 'back to previous page' do %>
      <i class="icon icon-arrow-left"></i>
    <% end %>
    <%= link_to text_blocks_path , :class => 'btn',:title => 'back to overview' do %>
      <i class="icon icon-arrow-up"></i>
    <% end %>
    <%= link_to edit_text_block_path(@text_block),:class => 'btn', :title => "edit" do %>
      <i class="icon-edit"></i>
    <% end %>
    <%= link_to @text_block,:class => 'btn', :title => "show" do %>
      <i class="icon-eye-open"></i>
    <% end %>
    <%= next_prev_button("prev") %>
    <%= next_prev_button("next") %>
  </div>
</div>
