<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand"><strong>Text blocks</strong></div>
      <div class="span11">
        <%= form_tag text_blocks_path, :method => 'get' do %>
          <div class="span">
            <div class="input-bar">
              <label class="checkbox">
                <%= check_box_tag :removed, "1", @removed,{
                  :data => {"text-label" => "removed","off-label" => "","on-label" => "Include",:size => "normal",
                    :on => "success",:off => "default","off-label" => "excluded"}} %>
              </label>
            </div>
          </div>
          <div class="span">
            <%= hidden_field_tag :direction, params[:direction] %>
            <%= hidden_field_tag :sort, params[:sort] %>
            <div class="input-append input-prepend">
              <%= link_to("New",new_text_block_path,{:class => 'btn btn-info'}) if env_production? %>
              <%= text_field_tag :search, params[:search], :placeholder=>" search",:class=>"span3",:size=>"16" %>
              <%= button_tag "Search", :name => nil, :type => :submit, :class => "btn" %>
              <%= button_tag "Reset", :name => 'reset',:class=>"btn",:type=>:submit %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="endless">
  <div class="row">
    <div class="offset1 span1"><strong><%= sortable 'text_blocks.id','ID',true %></strong></div>
    <div class="span3"><strong><%= sortable 'text_blocks.name','Name',true %></strong></div>
  </div>
  <%= render(:partial => "text_block", :collection => @text_blocks) %>
</div>
<%= will_paginate(@text_blocks) %>
<%= pageless(@text_blocks.total_pages, url_for(text_blocks_path(:params => params)), "#endless") %>

<script type="text/javascript">
  $("#removed").bootstrapSwitch();
</script>