<script type="text/javascript">
  jQuery(function() {
    jQuery( "a", ".btn1" ).button();
    jQuery( "a", ".btn1" ).click(function() { return true; });
  });
</script>
<% f = form_fields %>
<%= f.hidden_field :status %>
<span class="label label-info"><%= @stock_order.status_string %></span>
<span class="label label-info">Ordered: <%= @stock_order.date_ordered %></span>
<span class="label label-info">Confirmed: <%= @stock_order.confirmed_date %></span>
<div class="row">
  <div class="span2"><strong>Purchase reference</strong></div>
  <div class="span3"><strong>Depot</strong></div>
</div>
<div class="row">
  <div class="span2"><%= f.text_field :purchase_reference ,:class=>'span2'%></div>
  <div class="span3"><%= f.select :depot_id, StockDepot.all.collect {|d|[d.name,d.id]},{},{:class => 'span3'} %></div>
</div>
<div class="row">
  <div class="span5"><strong>Remarks</strong></div>
</div>
<div class="row">
  <div class="span5"><%= f.text_area :remarks, :rows => '2',:class => 'span5' %></div>
</div>


<% if controller.action_name != 'new' %>
  <h4>Details
    <% if @stock_order.status && @stock_order.status == 0  %>
      <%=h link_to "new", :controller => :stock_orderlines, :action => 'new', :stock_order_id => @stock_order.id %>
    <% end %>
  </h4>

  <div class="row">
    <div class="offset1 span1"><strong>Status</strong></div>
    <div class="span3"><strong>Article</strong></div>
    <div class="span1"><strong>Quantity Ordered</strong></div>
    <div class="span1"><strong>Quantity Confirmed</strong></div>
    <div class="span2"><strong>Stock reference</strong></div>
  </div>
  <% @stock_order.stock_orderlines.each do |sol| %>
    <div class="row">
      <div class="span1">
        <div class="btn-group">
          <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
            Action
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to(:action => 'edit',:controller => :stock_orderlines,:id => sol.id) do %>
                <i class="icon-edit"></i>&nbsp;edit
              <% end %>
            </li>
            <li>
              <%= link_to(:action => 'order',:controller => :stock_orderlines,:id => sol.id) do %>
                <i class="icon-shopping-cart"></i>&nbsp;order
              <% end %>
            </li>
            <li>
              <%= link_to(:action => 'confirm',:controller => :stock_orderlines,:id => sol.id) do %>
                <i class="icon-thumbs-up"></i>&nbsp;confirm order
              <% end %>
            </li>              
          </ul>
        </div>
      </div>
      <div class="span1"><%=h sol.status_str %></div>
      <div class="span3"><%=h "#{sol.article.customer_reference} - #{sol.article.name}" if sol.article %>&nbsp;</div>
      <div class="span1"><%=h sol.amount_order %></div>
      <div class="span1"><%=h sol.amount_confirmed %></div>
      <div class="span2"><%=h sol.stock_reference %></div>
    </div>
  <% end %>
<br><br>
<% end %>
