<h3>Editing stock order</h3>

<%= form_for(@stock_order) do |f| %>
  <% if @stock_order.errors.any? %>
    <div class="alert alert-error">
      <% @stock_order.errors.full_messages.each do |msg| %>
        <%= msg %>
      <% end %>
    </div>
  <% end %>
  <%= render :partial => 'form_fields' ,:object => f %>
  <p>
    <%= f.submit 'Update', :class => 'btn btn-primary' %>
  </p>
<% end %>
|
<%= link_to @stock_order do %>
  <i class="icon-eye-open">&nbsp;</i>show
<% end %>|
<%= link_to stock_orders_path do %>
  <i class="icon-arrow-left">&nbsp;</i>back
<% end %>|
<% if  @stock_order.status >= 30 %>
  <%= link_to :controller => :stock_orders, :action => 'html2pdf_stock_order', :id => @stock_order.id, :format => 'pdf' do %>
    <i class="icon-print">&nbsp;</i>print
  <% end %>
<% end %>