<%= wicked_pdf_stylesheet_link_tag "pdf/pdf" %>
<div class="PDF" style="float:left;color:gray"><%= wicked_pdf_image_tag("mapscapelogo4docs.png", :height => '35px') %><br>www.mapscape.eu</div>
<div style="float:right"><h1 class="PDF">Purchase Order</h1>
  <table class="noborder">
    <tr>
      <td>PO Number:</td>
      <td><%= @stock_order.purchase_reference %></td>
    </tr>
    <tr>
      <td>Date:</td>
      <td><%= Time.now().strftime("%d-%m-%Y") %></td>
    </tr>
    <tr>
      <td colspan="2"><i style="font-size: smaller">The P.O. number must appear<br>on all related correspondence,<br>shipping papers, and invoices.</i></td>
    </tr>
  </table>
</div>
<br><br><br><br><br><br><br><br><br> <!-- space for window envelope -->
<p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= @stock_order.stock_depot.name if @stock_order.depot_id %><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= @stock_order.stock_depot.contact_name if @stock_order.depot_id %><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= @stock_order.stock_depot.street_name if @stock_order.depot_id %><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= @stock_order.stock_depot.postal_code if @stock_order.depot_id %>&nbsp;
<%= @stock_order.stock_depot.city_name if @stock_order.depot_id %><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= @stock_order.stock_depot.country_name if @stock_order.depot_id %></p>
<br><br>
<br><hr>

<table class="noborder-small" align="center" >
  <tr>
    <td style="width:60pt;">INVOICE TO:</td>
    <td style="width:80pt;">Mapscape BV</td>
    <td style="width:40pt;">BUYER:</td>
    <td>Mapscape BV</td>
    <td>Telephone:</td>
    <td>+31(0)40 711500</td>
  </tr>
  <tr>
    <td />
    <td>Margo van Ooijen</td>
    <td />
    <td><%= @cu.full_name %></td>
    <td />
    <td />
  </tr>
  <tr>
    <td />
    <td>Luchthavenweg 34</td>
    <td />
    <td>Luchthavenweg 34</td>
    <td>Supplier contact:</td>
    <td><%= @stock_order.stock_depot.contact_email if @stock_order.depot_id %></td>
  </tr>
  <tr>
    <td />
    <td>5657 EB Eindhoven</td>
    <td />
    <td>5657 EB Eindhoven</td>
    <td>Invoice contact:</td>
    <td>invoices@mapscape.eu</td>
  </tr>
  <tr>
    <td />
    <td>The Netherlands</td>
    <td />
    <td>The Netherlands</td>
    <td>Buyer contact:</td>
    <td>orders@mapscape.eu</td>
  </tr>
</table>
<hr>
<br>
<table class="linetable">
  <tr>
    <th>product id</td>
    <th>article description</td>
    <th>part number</th>
    <th style="text-align:right;">quantity</th>
    <th style="text-align:right;">price</th>
    <th style="text-align:right;">total</th>
  </tr>
<% @lines.each do |ol| %>
  <tr>
    <td><%= ol.article.high_level_bom.product.volumeid  if ol.article.high_level_bom %>&nbsp;</td>
    <td><%= ol.article.name %></td>
    <td><%= ol.article.customer_reference %></td>
    <td style="text-align:right;"><%= ol.amount_order %></td>
    <td style="text-align:right;"><%= amount_to_currency(ol.article.purchase_price, ol.article.purchase_currency) %></td>
    <td style="text-align:right;"><%= amount_to_currency(ol.amount_order * ol.article.purchase_price, ol.article.purchase_currency) %></td>
  </tr>
<% end %>
  <tr>
    <td colspan="5">&nbsp;</td>
    <td><hr></td>
  </tr>
  <tr>
    <td colspan="5">&nbsp;</td>
    <td style="text-align:right;"><%= amount_to_currency(@lines.sum(:amount_order) * @lines.last.article.purchase_price, @lines.last.article.purchase_currency)  if @lines.size > 0 %></td>
  </tr>
</table>
<br><br>
<b>Details</b>
<ul>
  <% @lines.each do |ol| %>
    <li>Master file:<%=h ProductLocation.find(ol.article.high_level_bom.product_location_id).storage_path %></li>
  <% end %>
    <li><i>For specific requirements, please refer to the Bill of Material with simular id as "PO Number".</i></li>
</ul>
<% if @stock_order.remarks != "" %>
  <br><br>
  <b>Remarks</b><br>
  <pre><%=  @stock_order.remarks %></pre><br>
<% else %>
  <br><br>
<% end %>
<br><br><br>
<table class="linetable">
  <tr>
    <td style="vertical-align:top; font-size: xx-small;width: 203pt;">The general purchase conditions of Mapscape,<br>as specified on our website; www.mapscape.eu<br> apply to this purchase.<br><br></td>
    <td style="vertical-align: top;border: 1px solid lightgray;">Authorized signature(s)<br>&nbsp;<br>&nbsp;<br>&nbsp;</td>
  </tr>
</table>


