<h3>Listing Stock orders</h3>
<div class="row">
  <div class="offset1 span1"><strong>Purchase reference</strong></div>
  <div class="span1"><strong>Date ordered</strong></div>
  <div class="span1"><strong>Confirmed date</strong></div>
  <div class="span1"><strong>Status</strong></div>
  <div class="span4"><strong>Remarks</strong></div>
</div>

<% @stock_orders.each do |stock_order| %>
<div class="row" id="row_show_<%= stock_order.id %>">
  <div class="span1">
     <div class="btn-group">
        <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
        Action
        <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to(stock_order) do %>
            <i class="icon-info-sign"></i>&nbsp;show
            <% end %>
          </li>
          <li>
            <%= link_to(edit_stock_order_path(stock_order)) do %>
            <i class="icon-edit"></i>&nbsp;edit
            <% end %>
          </li>
          <% if  stock_order.status >= 30 %> 
          <li>
            <%= link_to(:controller => :stock_orders, :action => 'html2pdf_stock_order', :id => stock_order.id, :format => 'pdf') do %>
            <i class="icon-print"></i>&nbsp;print
            <% end %>
          </li>
          <% end %>
        </ul>
      </div>    
  </div>
  <div class="span1"><%=h stock_order.purchase_reference %>&nbsp;</div>
    <div class="span1"><%=h stock_order.date_ordered %>&nbsp;</div>
    <div class="span1"><%=h stock_order.confirmed_date %>&nbsp;</div>
    <div class="span1"><%=h stock_order.status_string %>&nbsp;</div>
    <div class="span4"><%=h stock_order.remarks %>&nbsp;</div>
</div>
<% end %>


<br />

<%= link_to  new_stock_order_path do %>
  <i class="icon-plus-sign">&nbsp;</i>new
<% end %>