<h3>New stock order</h3>

<%= form_for(@stock_order) do |f| %>
<% if @stock_order.errors.any? %>
  <div class="alert alert-error">
    <% @stock_order.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
  </div>
<% end %>
    <%= render :partial => 'form_fields' ,:object => f %>
  <p>
    <%= f.submit 'Add detail line(s)', :class => 'btn' %>
  </p>
<% end %>

<%= link_to 'Back', stock_orders_path %>