<div class="row">
  <div class="span4 bounded">
    <h4>Stock Order  <%= @stock_order.id %></h4>

    <div class="row">
      <div class="span2"><span class="label label-info"><%=h @stock_order.status_string %></span></div>
    </div>
    <div class="row">
      <div class="span2"><strong>Purchase reference</strong></div>
      <div class="span2"><%=h @stock_order.purchase_reference %></div>
    </div>
    <div class="row">
      <div class="span2"><strong>Date ordered</strong></div>
      <div class="span2"><%=h @stock_order.date_ordered %></div>
    </div>
    <div class="row">
      <div class="span2"><strong>Date confirmed</strong></div>
      <div class="span2"><%=h @stock_order.confirmed_date %></div>
    </div>
    <div class="row">
      <div class="span2"><strong>Purchase reference</strong></div>
      <div class="span2"><%=h @stock_order.purchase_reference %></div>
    </div>
    <div class="row">
      <div class="span4"><strong>Remarks:</strong></div>
    </div>
    <div class="row">
      <div class="span4"><pre class="real-pre"><%=h @stock_order.remarks %></pre></div>
    </div>
    <div class="row">
      <div class="span2"><strong>Deleted</strong></div>
      <div class="span2"><%=h bootstrap_boolean(@stock_order.purchase_reference) %></div>
    </div>
  </div>
</div>
|
<%= link_to(edit_stock_order_path(@stock_order)) do %>
<i class="icon-edit" title="edit">&nbsp;</i>
<%  end %>
|
<%= link_to(:back) do %>
<i class="icon-arrow-left" title="back">&nbsp;</i>
<%  end %>
|