<div class="row" id="rowId-<%= company.id %>">
  <div class="span1">
    <div class="btn-group">
      <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
        Action
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to(:action => 'show',:controller => :companies,:id => company.id) do %>
            <i class="icon-info-sign"></i>&nbsp;show
          <% end %>
        </li>
        <li>
          <%= link_to(:action => 'handle',:controller => :companies,:id => company.id) do %>
            <i class="icon-tasks"></i>&nbsp;handle
          <% end %>
        </li>
        <li>
          <%= link_to(:action => 'edit',:controller => :companies,:id => company.id) do %>
            <i class="icon-edit"></i>&nbsp;edit
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <div class="span0_5"><%= company.id %></div>
  <div class="span4"><%= company.name %></div>
  <div class="span1"><%= company.shipping_address_country %></div>
  <div class="span2"><%= company.shipping_address_city %></div>
  <div class="span2"><%= company.phone_office %></div>
  <div class="span2"><%= company.phone_fax %></div>
</div>

<script type="text/javascript">
<% if company.status == Company::STATUS_OBSOLETE %>
  $("#rowId-<%= company.id %> [class^='span']").wrapInner("<del>")
<% end %>
</script>
