<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="span7">
    <label class="label-info label"><%= @company.status_string %></label>
  </div>
</div>
  <div class="row">
    <div class="span7 bounded bounded-headered flat-roof">
        <div class="row bounded-header">
          <h4><%= params[:action].humanize %> company</h4>
        </div>
        <div class="row">
          <div class="span2"><strong>Name</strong></div>
          <div class="span2"><strong>Phone</strong></div>
          <div class="span2"><strong>Fax</strong></div>
        </div>
        <div class="row">
          <div class="span2"><%=  f.text_field :name, :class => "span2" %></div>
          <div class="span2"><%=  f.text_field :phone_office, :class => "span2" %></div>
          <div class="span2"><%=  f.text_field :phone_fax, :class => "span2" %></div>
        </div>
        <div class="row">
          <div class="span7">
          <ul class="nav nav-tabs" id="addressTab">
            <li class="active"><a href="#shipping_addres"  data-toggle="tab">Shipment address</a></li>
            <li><a href="#billing_address"  data-toggle="tab">Billing address</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="shipping_addres">
              <div class="row">
                <div class="span4"><strong>Address</strong></div>
                <div class="span2"><strong>Postal code</strong></div>
              </div>
              <div class="row">
                <div class="span4"><%=  f.text_field :shipping_address_street, :class => "span4" %></div>
                <div class="span2"><%=  f.text_field :shipping_address_postalcode, :class => "span2" %></div>
              </div>
              <div class="row">
                <div class="span2"><strong>City</strong></div>
                <div class="span2"><strong>State</strong></div>
                <div class="span2"><strong>Country</strong></div>
              </div>
              <div class="row">
                <div class="span2"><%=  f.text_field :shipping_address_city, :class => "span2" %></div>
                <div class="span2"><%=  f.text_field :shipping_address_state, :class => "span2" %></div>
                <div class="span2"><%=  f.text_field :shipping_address_country, :class => "span2" %></div>
              </div>
            </div>
            <div class="tab-pane" id="billing_address">
              <div class="row">
                <div class="span4"><strong>Address</strong></div>
                <div class="span2"><strong>Postal code</strong></div>
              </div>
              <div class="row">
                <div class="span4"><%=  f.text_field :billing_address_street, :class => "span4" %></div>
                <div class="span2"><%=  f.text_field :billing_address_postalcode, :class => "span2" %></div>
              </div>
              <div class="row">
                <div class="span2"><strong>City</strong></div>
                <div class="span2"><strong>State</strong></div>
                <div class="span2"><strong>Country</strong></div>
              </div>
              <div class="row">
                <div class="span2"><%=  f.text_field :billing_address_city, :class => "span2" %></div>
                <div class="span2"><%=  f.text_field :billing_address_state, :class => "span2" %></div>
                <div class="span2"><%=  f.text_field :billing_address_country, :class => "span2" %></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span7">
          <%= f.submit "Save", :class => "btn pull-right" %>
        </div>
      </div>
    </div>

  </div>
<% end %>

<script type="text/javascript">
  $('#addressTab a:first').tab('show');
      $('#myTab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
    })
</script>