<div class="row">
  <div class="span7">
    <label class="label-info label" title="status"><%= @company.status_string %></label>
    <% if !@company.external_id.blank? %><small><%= @company.external_id %></small><% end %>
  </div>
</div>
<div class="row">
  <div class="span7 bounded bounded-headered flat-roof">
    <div class="row bounded-header">
      <h4><%= params[:action].humanize %> company</h4>
    </div>
    <div class="row">
      <div class="span2"><strong>Name</strong></div>
      <div class="span2"><strong>Phone</strong></div>
      <div class="span2"><strong>Fax</strong></div>
    </div>
    <div class="row">
      <div class="span2"><%=  @company.name %></div>
      <div class="span2"><%=  @company.phone_office %></div>
      <div class="span2"><%=  @company.phone_fax %></div>
    </div>
    <div class="row">
      <div class="span7">
        <ul class="nav nav-tabs" id="addressTab">
          <li class="active"><a href="#shipping_addres"  data-toggle="tab">Shipment address</a></li>
          <li><a href="#billing_address"  data-toggle="tab">Billing address</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="shipping_addres">
            <div class="row">
              <div class="span4"><strong>Address</strong></div>
              <div class="span2"><strong>Postal code</strong></div>
            </div>
            <div class="row">
              <div class="span4"><%=  @company.shipping_address_street %></div>
              <div class="span2"><%=  @company.shipping_address_postalcode %></div>
            </div>
            <div class="row">
              <div class="span2"><strong>City</strong></div>
              <div class="span2"><strong>State</strong></div>
              <div class="span2"><strong>Country</strong></div>
            </div>
            <div class="row">
              <div class="span2"><%=  @company.shipping_address_city %></div>
              <div class="span2"><%=  @company.shipping_address_state %></div>
              <div class="span2"><%=  @company.shipping_address_country %></div>
            </div>
          </div>
          <div class="tab-pane" id="billing_address">
            <div class="row">
              <div class="span4"><strong>Address</strong></div>
              <div class="span2"><strong>Postal code</strong></div>
            </div>
            <div class="row">
              <div class="span4"><%=  @company.billing_address_street %></div>
              <div class="span2"><%=  @company.billing_address_postalcode %></div>
            </div>
            <div class="row">
              <div class="span2"><strong>City</strong></div>
              <div class="span2"><strong>State</strong></div>
              <div class="span2"><strong>Country</strong></div>
            </div>
            <div class="row">
              <div class="span2"><%=  @company.billing_address_city %></div>
              <div class="span2"><%=  @company.billing_address_state %></div>
              <div class="span2"><%=  @company.billing_address_country %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#addressTab a:first').tab('show');
  $('#myTab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  })
</script>
