<%= render :partial => "show_data" %>
<div class="row">
  <div class="span7">
    <% if @company.remove_allowed? %>
      <%= link_to({:action => "change_status", :id => @company.id, :status => Company::STATUS_OBSOLETE}, {:method => :post, :class => "btn",:confirm => "Are you sure to remove this company?"}) do %>
        <i class="icon icon-trash">&nbsp;</i>Remove
      <% end %>
    <% else %>
      <%= link_to({:action => "change_status", :id => @company.id, :status => Company::STATUS_ACTIVE}, {:method => :post, :class => "btn",:confirm => "Are you sure to restore this company?"}) do %>
        <i class="icon icon-step-backward">&nbsp;</i>Restore
      <% end %>
    <% end %>
  </div>
</div>

<div class="row"><br /></div>

<div class="row">
  <div class="span12">
    <%= link_to :back, :class => 'btn',:title => 'back to previous page' do %>
      <i class="icon icon-arrow-left"></i>
    <% end %>
    <%= link_to companies_path , :class => 'btn',:title => 'back to overview' do %>
      <i class="icon icon-arrow-up"></i>
    <% end %>
    <%= link_to edit_company_path(@company),:class => 'btn', :title => "handle" do %>
      <i class="icon-edit"></i>
    <% end %>
    <%= link_to @company,:class => 'btn',:title => "show" do %>
      <i class="icon-eye-open"></i>
    <% end %>
    <% link_to edit_company_path(@company),:class => 'btn',:title => "edit" do %>
      <i class="icon-edit"></i>
    <% end %>
    <%= next_prev_button("prev") %>
    <%= next_prev_button("next") %>
  </div>
</div>
