<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand">
        <strong>
          Companies
        </strong>
      </div>
      <%= form_tag companies_path, :method => 'get' do %>
        <div class="span">
          <div class="input-bar">
            <label class="checkbox">
              <%= check_box_tag :removed, "1", @removed,{
                :data => {"text-label" => "removed","off-label" => "","on-label" => "Include",:size => "normal",
                  :on => "success",:off => "default","off-label" => "excluded"}} %>
            </label>
          </div>
        </div>
        <div class="span">
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <div class="input-prepend input-append">
            <%= link_to("New",new_company_path,{:class => 'btn btn-info'}) if env_production? %>
            <%= text_field_tag :search, params[:search], :placeholder=>" search", :class => "span4" %>
            <%= button_tag "Search", :name => nil, :type => :submit, :class => "btn" %>
            <%= button_tag "Reset", :name => 'reset',:class=>"btn",:type=>:submit %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div id="endless">
  <div class="row">
    <div class="span1">&nbsp;</div>
    <div class="span0_5"><strong>&nbsp;<%= sortable "companies.id", 'ID',true %></strong></div>
    <div class="span4"><strong>&nbsp;<%= sortable "companies.name", 'Name',true %></strong></div>
    <div class="span1"><strong>&nbsp;<%= sortable "companies.shipping_address_country", 'Country',true %></strong></div>
    <div class="span2"><strong>&nbsp;<%= sortable "companies.shipping_address_city", 'City',true %></strong></div>
    <div class="span2"><strong>&nbsp;<%= sortable "companies.phone_office", 'Phone',true %></strong></div>
    <div class="span2"><strong>&nbsp;<%= sortable "companies.phone_fax", 'Fax',true %></strong></div>
  </div>
  <%= render(:partial => "company", :collection => @companies,:params => params) %>
</div>
<%= will_paginate(@companies) %>
<%= pageless(@companies.total_pages, url_for(:controller => :companies,:action => :index,:params => params), "#endless") %>

<script type="text/javascript">
  $("#removed").bootstrapSwitch();
</script>
