<%= render :partial => "show_data" %>
<div class="row">
  <div class="span7 bounded bounded-headered flat-roof">
    <div class="row bounded-header">
      <h4>External contacts</h4>
    </div>
    <% @company.external_contacts.active.each do |ec| %>
      <div class="row">
        <div class="span3">
          <%= link_to ec.full_name, ec, :target => "_blank" %>
        </div>
        <div class="span2">
          <%= ec.primary_address_city %>
        </div>
        <div class="span1_5">
          <%= ec.primary_address_country %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="span12">
    <%= link_to :back, :class => 'btn',:title => 'back to previous page' do %>
      <i class="icon icon-arrow-left"></i>
    <% end %>
    <%= link_to companies_path , :class => 'btn',:title => 'back to overview' do %>
      <i class="icon icon-arrow-up"></i>
    <% end %>
    <%= link_to edit_company_path(@company),:class => 'btn', :title => "handle" do %>
      <i class="icon-edit"></i>
    <% end %>
    <%= link_to handle_company_path(@company),:class => 'btn', :title => "handle" do %>
      <i class="icon-tasks"></i>
    <% end %>
    <% link_to edit_company_path(@company),:class => 'btn',:title => "edit" do %>
      <i class="icon-edit"></i>
    <% end %>
    <%= next_prev_button("prev") %>
    <%= next_prev_button("next") %>
  </div>
</div>
