<%= form_for(@job_fail_reason) do |f| %>
  <% if @job_fail_reason.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job_fail_reason.errors.count, "error") %> prohibited this job_fail_reason from being saved:</h2>

      <ul>
      <% @job_fail_reason.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="span6 bounded bounded-headered">
    <div class="row bounded-header">
      <div class="span5">
        <h5><%= controller.action_name.humanize %> <%= controller.controller_name.singularize.humanize %></h5>
      </div>
    </div>
    <div class="offset1 row">
      <div class="span2">
        <strong>Job type</strong>
      </div>
      <div class="span3">
        <strong>Reason</strong>
      </div>
    </div>
    <div class="row">
      <div class="span2">
        <%= f.select :job_type, options_for_select(JobFailReason.job_types_select,@job_fail_reason.job_type),{:include_blank => true},{:class=>'span2',:data=>{:placeholder=>'Select a type of job'}} %>
      </div>
      <div class="span3">
        <%= f.text_field :reason,:class=>'span3' %>
      </div>
    </div>
    <div class="row">
      <div class="span2">
        <strong>Description</strong>
      </div>
    </div>
    <div class="row">
      <%= f.text_area :description,:class=>'span5',:rows=>4 %>
    </div>
    <div class="row">
      <div class="span5">
        <%= f.submit 'Save',:class=>'btn' %>
      </div>
    </div>
  </div>
</div>
<% end %>

<script type="text/javascript">
  $("#job_fail_reason_job_type").chosen();
</script>