<%= render 'form' %>

<%= link_to @job_fail_reason, :title=>'show',:class=>'btn' do %>
<i class="icon icon-eye-open"></i>
<% end %>&nbsp;
<%= link_to job_fail_reasons_path ,:class=>'btn',:title=>'back to overview' do %>
<i class="icon icon-arrow-up"></i>
<% end %>
