<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand"><strong>Job fail Reasons</strong></div>
      <div class="span">
        <%= form_tag job_fail_reasons_path, :method => 'get' do %>
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <div class="input-prepend input-append">
            <%= link_to 'New', new_job_fail_reason_path,:class => 'btn btn-info' %>
            <%= text_field_tag :search, params[:search],:class => 'span2',:placeholder => 'search reason' %>
            <%= button_tag "Search", :name => nil, :type => :submit, :class => "btn" %>
            <%= button_tag "Reset", :name => 'reset',:class=>"btn",:type=>:submit %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="endless">
  <div class="row">
    <div class="offset1 span1"><strong><%= sortable "id" %></strong></div>
    <div class="span3"><strong><%= sortable "reason" %></strong></div>
    <div class="span2"><strong><%= sortable "job_type" %></strong></div>
  </div>
  <%= render(:partial => "job_fail_reason", :collection => @job_fail_reasons) %>
</div>
<%= will_paginate(@job_fail_reasons) %>
<%= pageless(@job_fail_reasons.total_pages, design_tags_path, "#endless") %>
