<div class="row">
  <div class="span6 bounded bounded-headered">
    <div class="row bounded-header">
      <div class="span5">
        <h5><%= controller.action_name.humanize %> <%= controller.controller_name.singularize.humanize %></h5>
      </div>
    </div>
    <div class="offset1 row">
      <div class="span2">
        <strong>Job type</strong>
      </div>
      <div class="span3">
        <strong>Reason</strong>
      </div>
    </div>
    <div class="row">
      <div class="span2">
        <%= @job_fail_reason.job_type.titleize %>
      </div>
      <div class="span3">
        <%= @job_fail_reason.reason %>
      </div>
    </div>
    <div class="row">
      <div class="span2">
        <strong>Description</strong>
      </div>
    </div>
    <div class="row">
      <pre class="real-pre"><%= @job_fail_reason.description %></pre>
    </div>
  </div>
</div>

<%= link_to edit_job_fail_reason_path(@job_fail_reason),:class => 'btn',:title=>'edit' do %>
<i class="icon icon-edit"></i>
<% end %>&nbsp;
<%= link_to job_fail_reasons_path, :class=>'btn',:title=>'back to overview' do %>
<i class="icon icon-arrow-up"></i>
<% end %>
