<div class="row" id="row_show_<%= conversion_job.id %>">
  <div class="span1">
    <div class="btn-group">
      <%= conversion_database_action_link(conversion_job) %>
      <ul class="dropdown-menu">
        <li>
          <%= link_to(conversion_job) do %>
          <i class="icon-info-sign"></i>&nbsp;show
          <% end %>
        </li>
        <% if conversion_job.allow_edit? %>
        <li>
          <%= link_to(edit_conversion_job_path(conversion_job)) do %>
          <i class="icon-edit"></i>&nbsp;edit
          <%  end %>
        </li>
        <% end %>
        <% if conversion_job.allow_reschedule? && !conversion_job.allow_edit? %>
        <li>
          <%= link_to(edit_new_copy_conversion_job_path(conversion_job)) do %>
          <i class="icon-edit"></i>&nbsp;edit new copy
          <%  end %>
        </li>
        <% end %>
        <% unless conversion_job.run_server.blank? %>
        <li>
          <%= link_to(terminal_conversion_job_path(conversion_job), :remote => true ) do %>
          <i class="icon-edit"></i>&nbsp;terminal
          <%  end %>
        </li>
        <% end %>
        <% if conversion_job.allow_cancel? %>
          <li>
            <%= link_to cancel_conversion_job_path(conversion_job, {:lock_version => conversion_job.lock_version.to_s}), method: :post  do %>
            <i class="icon-off"></i>&nbsp;cancel
            <%  end %>
          </li>
         <% end  %>
         <li>
          <%= link_to("http://#{"staging." if Rails.env == "staging" || Rails.env == "development" || !env_production?}dakotamon/conversions/index/search.job_id:#{conversion_job.id}/:search", :target => 'new') do %>
          <i class="icon-zoom-in"></i>&nbsp;dakotamon
          <%  end %>
        </li>
      </ul>
    </div>
  </div>

  <div class="span1">
    <%= conversion_job.id %>
  </div>

  <div class="span2">
    <%= conversion_job.status_str %>
  </div>

  <div class="span1">
    <%= link_to conversion_job.conversion_id,conversion_job.conversion,:target => '_blank' if conversion_job.conversion %>
  </div>

  <div class="span1">
    <%= link_to conversion_job.production_orderline.production_order.id,conversion_job.production_orderline.production_order,:target => '_blank' if conversion_job.production_orderline %>
  </div>

  <div class="span4">
    <% label = conversion_job.coverage_label + ' - ' %>
    <% label += conversion_job.taggings.collect{|t|t.tag.name if t.context == "context_core"}.compact.join().upcase + "|" %>
    <% label += conversion_job.conversion.input_format + " to " + conversion_job.conversion.output_format + "|" if conversion_job.conversion %>
    <% label += conversion_job.taggings.collect{|t|t.tag.name if t.context == "context_bundle_release"}.compact.join() %>
    <span title="<%= label %>"><%= truncate(label, length: 55) %></span>
  </div>

  <div class="span1">
    <%= conversion_job.run_server %>
  </div>

  <div class="span1 no-wrap" >
    <%= conversion_job.start_time.strftime("%d-%m-%y %H:%M") if conversion_job.start_time %>&nbsp;
  </div>

  <div class="span1 no-wrap">
    <%= conversion_job.finish_time.strftime("%d-%m-%y %H:%M") if conversion_job.finish_time %>&nbsp;
  </div>
</div>
