<div class="row" id="row-<%= failed_conversion_job.id %>">
  <div class="span1">
    <div class="btn-group">
      <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
        Action
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to(failed_conversion_job) do %>
          <i class="icon-info-sign"></i>&nbsp;show
          <% end %>
        </li>
        <li>
          <%= link_to(edit_conversion_job_path(failed_conversion_job)) do %>
          <i class="icon-edit"></i>&nbsp;edit
          <%  end %>
        </li>
        <li>
          <%= link_to(terminal_conversion_job_path(failed_conversion_job), :remote => true ) do %>
          <i class="icon-edit"></i>&nbsp;terminal
          <%  end %>
        </li>
        <% if failed_conversion_job.status == ConversionJob::STATUS_FAILED %>
          <li>
            <%= link_to cancel_conversion_job_path(failed_conversion_job, {:lock_version => failed_conversion_job.lock_version.to_s}), method: :post  do %>
            <i class="icon-off"></i>&nbsp;cancel
            <%  end %>
          </li>
         <% end  %>
         <li>
          <%= link_to("http://#{"staging." if Rails.env == "staging" || Rails.env == "development"}dakotamon/conversions/index/search.job_id:#{failed_conversion_job.id}/:search", :target => 'new') do %>
          <i class="icon-zoom-in"></i>&nbsp;dakotamon
          <%  end %>
        </li>
      </ul>
    </div>

      <input type="checkbox" name="checked" value="<%= failed_conversion_job.id %>" class="pull-right" id="chk-<%= failed_conversion_job.id %>"/>
  </div>

  <div class="span1">
    <%= failed_conversion_job.id %>
  </div>

  <div class="span2">
    <%= failed_conversion_job.status_str %>
  </div>

  <div class="span1">
    <%= link_to failed_conversion_job.conversion_id,failed_conversion_job.conversion,:target => '_blank' if failed_conversion_job.conversion %>
  </div>

  <div class="span1">
    <%= link_to failed_conversion_job.production_orderline.production_order.id,failed_conversion_job.production_orderline.production_order,:target => '_blank' if failed_conversion_job.production_orderline %>
  </div>

  <div class="span4">
    <%= failed_conversion_job.coverage_label %> -
    <%= failed_conversion_job.taggings.collect{|t|t.tag.name if t.context == "context_core"}.compact.join().upcase %> |
    <%= failed_conversion_job.conversion.input_format if failed_conversion_job.conversion %> to <%= failed_conversion_job.conversion.output_format if failed_conversion_job.conversion %>|
    <%= failed_conversion_job.taggings.collect{|t|t.tag.name if t.context == "context_bundle_release"}.compact.join() %>
  </div>

  <div class="span1">
    <%= failed_conversion_job.run_server %>
  </div>

  <div class="span1 no-wrap" >
    <%= failed_conversion_job.start_time.strftime("%d-%m-%y %H:%M") if failed_conversion_job.start_time %>&nbsp;
  </div>

  <div class="span1 no-wrap">
    <%= failed_conversion_job.finish_time.strftime("%d-%m-%y %H:%M") if failed_conversion_job.finish_time %>&nbsp;
  </div>
</div>

<script type="text/javascript">
  $("[id^=chk-]").change(function(){
  toggleButton(this);
  });
</script>