<% @heading = "Editing Conversion Job " + @conversion_job.id.to_s %>
<%= render 'form' %>

<div class="row">
  <div class="span8">
    <%= link_to :back, :class => 'btn', :title => 'back' do %>  
      <i class="icon-arrow-left"></i>
    <% end %>
    <%= link_to conversion_jobs_path, :class => 'btn', :title => 'overview' do %>
      <i class="icon-arrow-up"></i>
    <% end %>
    <%= link_to @conversion_job, :class => 'btn', :title => 'show' do %>
      <i class="icon-eye-open"></i>
    <% end %>
  </div>
</div>
