
<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand"><strong>Tagging Failed conversion jobs</strong></div>
      <div class="span">
          <%= form_tag url_for(:action=>:failures), method: 'get' do %>
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <div class="input-append">
          <%= select_tag "job_fail_reason", options_for_select(JobFailReason.where(:job_type => @conversion_jobs.last.class.name).collect{|f|f.reason}),{:include_blank => true,:data=>{:placeholder => "Assign reason"}} %>
            <button type="button" class="btn btn-danger" id="tagSelected" disabled="disabled">Tag selected</button>
         </div>
         <% end %>
     </div>
   </div>
 </div>
</div>
  <fieldset>
<div id="endless">
  
  <div class="row">
    <div class="span1"><strong>check all</strong><input type="checkbox" class="checkall pull-right"/></div>
    <div class="span1"><strong><%=  sortable "jobs.id", "ID" %></strong></div>
    <div class="span2"><strong><%= sortable "jobs.status","Status" %></strong></div>
    <div class="span1"><strong><%= sortable "jobs.conversion_id", "Conversion" %></strong></div>
    <div class="span1"><strong><%= sortable "production_orderlines.id","Order" %></strong></div>
    <div class="span4"><strong>Primary tags</strong></div>
    <div class="span1"><strong><%= sortable "jobs.run_server","Server" %></strong></div>
    <div class="span1"><strong><%= sortable "jobs.start_time","Started" %></strong></div>
    <div class="span1"><strong><%= sortable "jobs.finish_time", 'Finished' %></strong></div>
  </div>

  <%= render(partial: "failed_conversion_job", collection: @conversion_jobs) %>

</div>
  </fieldset>
<%= will_paginate(@conversion_jobs) %>
<%= pageless(@conversion_jobs.total_pages, url_for(:action=>:failures), "#endless", params) %>

<footer class="subnav subnav-fixed" style="bottom:0;top:auto;margin-bottom: 0px;">
  &nbsp;
</footer>

<script type="text/javascript">
  $('#job_fail_reason').chosen({allow_single_deselect:true})

  $(function () {
      $('.checkall').on('click', function () {
          $(this).closest('fieldset').find(':checkbox').prop('checked', this.checked);
          toggleButton($("[id^=chk-]")[0]);
      });
  });

$("#tagSelected").click(function(){
  var allVals = [];
  ($(document)).find("input:checkbox:checked").each(function() {
       allVals.push($(this).val());
     });
  $.post("<%= url_for(:action => :tagging_fail_reason) %>",{'fail_reason':$("#job_fail_reason").val(),'ids[]':allVals});
});


$("[id^=chk-]").change(function(){
toggleButton(this);
});

$("#job_fail_reason").change(function(){
toggleButton($("[id^=chk-]")[0]);
});

function toggleButton(el) {
    if($(el).closest('fieldset').find("input:checkbox:checked").length >= 1 && $("#job_fail_reason").val() != ''){
    $("#tagSelected").removeAttr("disabled");
  }else{
    $("#tagSelected").attr("disabled", "disabled");
  }
}
</script>