<div class="modal hide fade extra-large" id="action-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4><%= @conversion_job.working_dir  %></h4>
  </div>

  <div class="modal-body" id="zlog">
    <pre class="real-pre"></pre>
  </div>

  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<div class="row">
  <div class="span12">
    <div class="row">

      <div class="span3">Status &nbsp;<span class="label label-info"><%= @conversion_job.status_str %></span> <span class="label label-inverse"> <%=   @conversion_job.file_system_status_str %></span></div>
      <% if @conversion_job.original_job  %>
      <div class="span2">Original job&nbsp;<%= link_to @conversion_job.original_job_id, conversion_job_path(@conversion_job.original_job) %></div>
      <% end %>
      <% if @conversion_job.derived_job  %>
      <div class="span2">Derived job&nbsp;<%= link_to @conversion_job.derived_job.id, conversion_job_path(@conversion_job.derived_job) %></div>
      <% end %>
      <div class="span6 pull-right" style="text-align: right">Tags &nbsp;
        <% @conversion_job.tag_list.each do |tag| %>
          <span class="label"><%= tag %></span>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="span3"><h4>Conversion job <%= @conversion_job.id %></h4></div>
</div>

<% if @conversion_job.file_system_status != ConversionJob::FILE_SYSTEM_STATUS_FREE %>
  <div class="row">
    <div class="span1">
      <button class="btn btn-mini btn-info" type="button" id="tail-zlog">Tail Zlog</button>
    </div>
  </div>
<% end %>

<% if !@conversion_job.fail_reason.blank? && @conversion_job.status_str != "COMPLETE"%>
  <div class="row">
    <div class="alert alert-error span12" style="padding-right: 0px">
      <button type="button" class="close" data-dismiss="alert" style="right: 5px;top: -5px">&times;</button>
      <strong>Fail reason</strong><br />
      <%= @conversion_job.fail_reason %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="span12 bounded well-small">
    <div class="row">
      <div class="span1"><strong>Conversion&nbsp;ID</strong></div>
      <div class="span2"><strong>CVE&nbsp;Overrule</strong></div>
      <div class="span2"><strong>Conversion Server</strong></div>
      <div class="span2"><strong>Process ID (PID)</strong></div>
      <div class="span5"><strong>Run command</strong></div>
    </div>
    <div class="row">
      <div class="span1"><%= link_to @conversion_job.conversion_id, conversion_path(@conversion_job.conversion) if @conversion_job.conversion %>&nbsp;</div>
      <div class="span2"><%= @conversion_job.conversion_environment.name if @conversion_job.conversion_environment if @conversion_job.conversion %>&nbsp;</div>
      <div class="span2"><%= @conversion_job.run_server %>&nbsp;</div>
      <div class="span2"><%= @conversion_job.run_pid %>&nbsp;</div>
      <div class="span5"><%= @conversion_job.run_command %>&nbsp;</div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
      <div class="span1"><strong>Exit code</strong></div>
      <div class="span2"><strong>Bug&nbsp;tracker&nbsp;ID</strong></div>
      <div class="span2"><strong>Started at</strong></div>
      <div class="span2"><strong>Finished at</strong></div>
      <div class="span5"><strong>Work directory</strong></div>
    </div>
    <div class="row">
      <div class="span1"><%= @conversion_job.exitcode %>&nbsp;</div>
      <div class="span2"><%= link_to "#{@conversion_job.bug_tracker_id} ", "#{ConfigParameter.get("cr_tool_url")}#{@conversion_job.bug_tracker_id}",:target => "_blank" %></div>
      <div class="span2"><%= @conversion_job.start_time.localtime.strftime("%d %b %Y %T") if @conversion_job.start_time %>&nbsp;</div>
      <div class="span2"><%= @conversion_job.finish_time.localtime.strftime("%d %b %Y %T") if @conversion_job.finish_time %>&nbsp;</div>
      <div class="span5"><%= @conversion_job.working_dir %>&nbsp;</div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
      <div class="span3 well well-small">
        <div class="row">
          <div class="span2"><strong>Schedule options</strong></div>
        </div>
        <div class="row">
          <div class="span2"><small>Cores&nbsp;scheduled:</small></div>
          <div class="span1"><small><%= @conversion_job.schedule_cores %></small></div>
        </div>
        <div class="row">
          <div class="span2"><small>Memory&nbsp;scheduled:</small></div>
          <div class="span1"><small><%= @conversion_job.schedule_memory %></small></div>
        </div>
        <div class="row">
          <div class="span2"><small>Disk&nbsp;space&nbsp;scheduled:</small></div>
          <div class="span1"><small><%= @conversion_job.schedule_diskspace %></small></div>
        </div>
        <div class="row">
          <div class="span2"><small>Manual&nbsp;scheduled:</small></div>
          <div class="span1"><small><%= bootstrap_boolean(@conversion_job.schedule_manual) %></small></div>
        </div>
        <div class="row">
          <div class="span2"><small>Exclusive&nbsp;scheduled:</small></div>
          <div class="span1"><small><%= bootstrap_boolean(@conversion_job.schedule_exclusive) %></small></div>
        </div>
        <div class="row">
          <div class="span2"><small>Virtual&nbsp;scheduled:</small></div>
          <div class="span1"><small><%= bootstrap_boolean(@conversion_job.schedule_allow_virtual,'Allow virtual scheduling ?') %></small></div>
        </div>
        <div class="row">
          <div class="span2"><small>Estimated duration:</small></div>
          <div class="span1">
            <small>
              <% if  @conversion_job.estimated_duration && @conversion_job.estimated_duration > 0 %>
                <%= distance_of_time_in_words(Time.at(0), Time.at(@conversion_job.estimated_duration * 60)) %>
              <% else %>
                Not known
              <% end %>
            </small>
          </div>
        </div>
      </div>

      <div class="span9 pull-right" style="max-width: 850px">
        <pre class="pre-scrollable" style="height: 163px">
          <%= @conversion_job.stdout_log %>
        </pre>
      </div>
    </div>

    <div class="row">
      <div class="span12"><strong>Dakota script</strong>
        <pre class="pre-scrollable"><%= @conversion_job.job_script ? @conversion_job.job_script.to_script("CONVERSION_JOB_ID", @conversion_job.id) : @conversion_job.run_script %></pre>
      </div>
    </div>

    <div class="row">
      <div class="span12"><strong>Conversion databases</strong></div>
    </div>
    <% @conversion_job.conversion_databases.each do |database| %>
      <div class="row">
        <div class="span1">
          <%= link_to database.id, conversion_database_path(database) %>
        </div>
        <div class="span11">
          <%= database.path_and_file %>
        </div>
      </div>
    <% end %>
    <br />

    <div class="modal hide fade" id="bug_tracker_modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4>Moving to crash directory</h4>
      </div>

      <div class="modal-body">
        <p>Please register Jira reference, and optional a reason of failure.</p>
    <%= form_tag(:action => 'handle_crashed', :id => @conversion_job.id, :controller => 'conversion_jobs') do |f| %>
        <div class="row">
          <div class="span2"><strong>Bug tracker ID</strong></div>
          <div class="span3"><strong>Fail reason</strong></div>
        </div>
        <div class="row">
          <div class="span2">
            <%= text_field_tag "bug_tracker_id" ,@conversion_job.bug_tracker_id, :class => 'span2 reset_to_bootstrap' %>
            <%= hidden_field_tag "lock_version" ,@conversion_job.lock_version %>
          </div>
          <div class="span3"><%= select_tag "job_fail_reason", options_for_select(JobFailReason.where(:job_type => @conversion_job.class.name).collect{|f|f.reason}),{:include_blank => true,:data=>{:placeholder => "Assign reason"},:class => 'span3'} %></div>
        </div>
        <div class="row">
          <div class="span2"><strong>Move to crash dir</strong></div>
          <div class="span3"><%=  check_box_tag 'move_to_crash_dir', true, true %> (will only be done if Bug tracker ID specified)</div>
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn"  type="submit">Proceed</button>
    <% end %>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>

    <div class="row">
      <div class="span11">
        <%= link_to 'Cancel Job', cancel_conversion_job_path(@conversion_job,  :lock_version => @conversion_job.lock_version), :class => 'btn btn-small disabled',:id => 'cj_cancel', :method => :post %>

        <% link_to 'Handle crash', handle_crashed_conversion_job_path(@conversion_job, :lock_version => @conversion_job.lock_version), :class => 'btn btn-small disabled', :method => :post, :id => "cj_handle_crashed" %>
        <a href="#" class='btn btn-small disabled' id="cj_handle_crashed">Handle working dir of failed job</a>

        <%= link_to 'Edit new copy', edit_new_copy_conversion_job_path(@conversion_job), :class => 'btn btn-small disabled', :method => :post, :id => "cj_edit_new_copy" %>

        <%= link_to 'Reschedule', reschedule_conversion_job_path(@conversion_job, :lock_version => @conversion_job.lock_version), :class => 'btn btn-small disabled', :method=> :post, :id => "cj_reschedule" %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="span12">
    <%= link_to :back, :class => 'btn', :title => 'back' do %>
      <i class="icon-arrow-left"></i>
    <% end %>
    <%= link_to conversion_jobs_path,:class => 'btn', :title => 'overview' do %>
      <i class="icon-arrow-up"></i>
    <% end %>
    <% if @conversion_job.allow_edit? %>
      <%= link_to(edit_conversion_job_path(@conversion_job),{:class => 'btn', :title => 'edit'}) do %>
        <i class="icon-edit"></i>
      <% end %>
    <% end %>
    <a class="accordion-toggle btn" data-toggle="collapse" data-parent="#accordion2" href="#collapseLog" id="action-log">
      <i class="icon icon-list" title="Action log"></i>
    </a>
    <a class="accordion-toggle btn" data-toggle="collapse" data-parent="#accordion3" href="#collapseScheduleLog" id="scheduler-log">
      <i class="icon icon-hdd" title="Scheduler log"></i>
    </a>
    <%= next_prev_button("prev") %>
    <%= next_prev_button("next") %>
    <div id="collapseLog" class="accordion-body collapse">
      <div class="accordion-inner">
        <strong>Action log</strong>
        <pre class="real-pre"><%=  @conversion_job.action_log %></pre>
      </div>
    </div>
    <div id="collapseScheduleLog" class="accordion-body collapse">
      <div class="accordion-inner">
        <strong>Scheduler log</strong>
        <pre class="real-pre"><%= @conversion_job.scheduler_log %></pre>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">&nbsp;</div>
</div>

<script type="text/javascript">
  function get_zlog(){
    var inner = $('#zlog pre');
    if ( Math.abs(inner.offset().top) + $('#zlog').height() + $('#zlog').offset().top >= (inner.outerHeight() - 20) ) {
      $.get("<%= url_for(:action => :tail_z_log, :id => @conversion_job.id) %>", function(data){
        $( '#zlog pre' ).html( data );
        $( '#zlog' ).animate({scrollTop: $( '#zlog' ).prop("scrollHeight")}, 500);
      });
    }
  }

  var zlogLoop = '';
  function actionModal(){
    $('#action-modal').modal('show');
  
    get_zlog();
    zlogLoop = setTimeout(actionModal,2000);
  }

  $("#tail-zlog").click(function(){   
    actionModal();
  })

  $('#action-modal').on('hide', function () {
    clearTimeout(zlogLoop);
  })

<% if @conversion_job.allow_cancel? %>
    $('#cj_cancel').removeClass("disabled");
<% end %>
<% if @conversion_job.allow_cleanup? %>
    $('#cj_handle_crashed').removeClass("disabled");
    $("#cj_handle_crashed").click(function(){
      $('#bug_tracker_modal').modal('show');
    });
<% end %>
<% if @conversion_job.allow_reschedule? && !@conversion_job.allow_edit? %>
    $('#cj_edit_new_copy').removeClass("disabled");
    $('#cj_reschedule').removeClass("disabled");
<% end %>

  $('a.disabled').click(function(e) {
    // Disable links for disabled buttons
    e.preventDefault();
    return false
  });

  $("#collapseLog").on('shown', function () {
    $('html, body').animate({scrollTop:$(document).height()}, 'slow');
    return false;
  })

  $("#collapseScheduleLog").on('shown', function () {
    $('html, body').animate({scrollTop:$(document).height()}, 'slow');
    return false;
  })
  
</script>
