<%  @success_rows.each do |row| %>
  $("#row-"+<%= row %>).fadeOut(1300, function(){
    $(this).remove();
    $('#job_fail_reason').val("").trigger("liszt:updated");
    toggleButton($("[id^=chk-]")[0]);
  });
<% end %>