<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
 config.list.columns = [:volumeid, :name, :hwncoverage, :tmclocation, :thirdpartydata1, :thirdpartydata2, :remarks]

<%= grid(@products ,:show_filters => :always) do |g|
   g.column :column_name => 'VolumeId' , :attribute_name => 'volumeid', :model_class => 'Product' do |ps|
     ps.volumeid
   end

   g.column :column_name => 'Name' , :attribute_name => 'name', :model_class => 'Product' do |ps|
      ps.name
   end

   g.column :column_name => 'Hwncoverage' , :attribute_name => 'hwncoverage', :model_class => 'Product' do |ps|
      ps.hwncoverage
   end

   g.column :column_name => 'Tmc Location' , :attribute_name => 'tmclocation', :model_class => 'Product' do |ps|
      ps.tmclocation
   end

  g.column :column_name => 'Remarks' , :attribute_name => 'remarks', :model_class => 'Product' do |ps|
      ps.remarks
   end

   
   g.column do |ps|
        link_to 'Show', :action => :show , :id => ps.id
   end
   g.column do |ps|
        link_to 'Edit', :action => :edit , :id => ps.id
   end

end -%>

<%= link_to 'New product', :action => 'new' %><br>
<%= link_to 'Back to Main Menu', :controller => "main", :action => "index"%>