<%= stylesheet_link_tag    "jquery.handsontable.full.css", :media => "all" %>
<%= javascript_include_tag 'jquery.handsontable.full.js' %>

<div class="row">
  <div class="span9">
    <% if @product_content_specification.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@product_content_specification.errors.count, "error") %> prohibited this product_content_specification from being saved:</h2>
        <ul>
          <% @product_content_specification.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>

<%= form_for(@product_content_specification) do |f| %>
  <div class="row">
    <div class="span11 bounded bounded-headered">
      <div class="row bounded-header">
        <div class="span11">
          <div class="row">
            <h4><%= params[:action].humanize %> Product content Specification</h4>
          </div>
          <div class="row">
            <div class="span3">
              <strong>Name</strong>
            </div>
          </div>
          <div class="row">
            <div class="span3">
              <%= f.text_field :name, :class => 'span4' %>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="span11">
          <div class="row">
            <div class="span3">
              <strong>Mapping</strong>
            </div>
          </div>
          <div class="handsontable" id="grid"></div>
        </div>
      </div>
      <div class="row">
        <div class=" pull-right"><br />
          <%= hidden_field_tag :hidden_grid, @grid.to_s %>
          <%= f.submit 'Save',:class => 'btn' %>
        </div>
      </div>
    </div>
  </div>
<% end %>


<script type="text/javascript">
  $(document).ready(function () {
    data = eval('(' + $('#hidden_grid').val() + ')');

    $('#grid').handsontable({
      afterCreateRow: function(index) {
        data[index-1][2] = true
        data[index-1][3] = true
        
      },
      afterChange: function (changes, source) {
        console.log(changes)
        console.log(source)
        console.log(data)
        if (changes != undefined){
        console.log(changes[0][1])
        columnindexchanged = changes[0][1]
      }

        
        // batch update checkboxes for regional and incremental update
        if (changes != undefined && (columnindexchanged == 3 || columnindexchanged == 2) && data[changes[0][0]][1] != null)
        {
          updregion = data[changes[0][0]][1]
          console.log(updregion)
          newvalue = changes[0][3]
          console.log(newvalue)
          for (var i = data.length - 1; i >= 0; i--) {
            if (data[i][1] == updregion)
            {
              data[i][columnindexchanged] = newvalue
            }
           
          }
          console.log(data)
          
        }

        if (changes != undefined && (columnindexchanged == 1))
        {
          if (data[changes[0][0]][4] == '')
          {
            // incommented for now until file name conventions are clarified
            //data[changes[0][0]][4] = '(.*/' + data[changes[0][0]][1] + ")$"
          }
          
        }
        $('#grid').handsontable('render');

      },
      data: data,
      minSpareRows: 1,
      contextMenu: true,
      colHeaders: ["Source region code", "Update regioncode", "Incr. Update", "Regional update", "Identification RU", "Identification IU","Data type","Filling"],
      columns: [
        {
          type: {renderer: myAutocompleteRenderer, editor: Handsontable.AutocompleteEditor},
          options: {items: 10}, //`options` overrides `defaults` defined in bootstrap typeahead
          source: function (query, process) {
            $.ajax({
              url: '<%= url_for :action => "regions" %>',

              success: function (response) {
                console.log("response", response);
                response = eval('(' + response + ')');
                process(response);
              }
            });
          },
          strict: true
        }  ,
        {
          type: {renderer: myAutocompleteRenderer, editor: Handsontable.AutocompleteEditor},
          options: {items: 10}, //`options` overrides `defaults` defined in bootstrap typeahead
          source: function (query, process) {
            $.ajax({
              url: '<%= url_for :action => "update_regions" %>',

              success: function (response) {
                console.log("response", response);
                response = eval('(' + response + ')');
                process(response);
              }
            });
          },
          strict: true
        },
        {
          type: "checkbox",
          strict: true
        },
        {
          type: "checkbox",
          strict: true
        },
        {
          type: "text",
          strict: true
        },
        {
          type: "text",
          strict: true
        },
        {
          type: {renderer: myAutocompleteRenderer, editor: Handsontable.AutocompleteEditor},
          options: {items: 10}, //`options` overrides `defaults` defined in bootstrap typeahead
          source: function (query, process) {
            $.ajax({
              url: '<%= url_for :action => "data_types" %>',

              success: function (response) {
                console.log("response", response);
                response = eval('(' + response + ')');
                process(response);
              }
            });
          },
          strict: true
        },
        {
          type: {renderer: myAutocompleteRenderer, editor: Handsontable.AutocompleteEditor},
          options: {items: 10}, //`options` overrides `defaults` defined in bootstrap typeahead
          source: function (query, process) {
            $.ajax({
              url: '<%= url_for :action => "filling" %>',

              success: function (response) {
                console.log("response", response);
                response = eval('(' + response + ')');
                process(response);
              }
            });
          },
          strict: true
        } 
      ]

    });

    function bindDumpButton() {
      $('body').on('click', 'button[name=dump]', function () {
        var dump = $(this).data('dump');
        var $container = $(dump);
        console.log('data of ' + dump, $container.handsontable('getData'));
      });
    }
    bindDumpButton();
  });

  $('input[name=commit]').first().click(function(){
    $('#hidden_grid').val($.toJSON($('#grid').handsontable("getData")))
    document.forms[0].submit()
  });

  function myAutocompleteRenderer(instance, td, row, col, prop, value, cellProperties) {
    Handsontable.AutocompleteCell.renderer.apply(this, arguments);
    td.style.fontStyle = 'italic';
    td.title = 'Type to show the list of options';
  }
</script>