<div class="row">
  <div class="span1">
    <div class="btn-group">
      <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
        Action
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">

        <li>
          <%= link_to(product_content_specification) do %>
            <i class="icon-eye-open"></i>&nbsp; Show
          <% end %>
        </li>
        <li>
          <%= link_to(:action => 'edit',:id => product_content_specification.id) do %>
            <i class="icon-edit"></i>&nbsp; Edit
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <div class="span0_5"><%= product_content_specification.id %>&nbsp;</div>
  <div class="span3"><%= product_content_specification.name %>&nbsp;</div>

</div>