<div class="row">
  <div class="span1" id="details_link_<%= region_mapping.id %>"><a href="#" ><%= region_mapping.id %></a>|<strong><%= Hash[@all_mappings.map.with_index.to_a][region_mapping]+1 %></strong></div>
  <div class="span1"><%= region_mapping.data_type.name %>&nbsp;</div>
  <div class="span2"><%= region_mapping.data_release.name %>&nbsp;</div>
  <div class="span1"><%= region_mapping.region.name %>&nbsp;</div>
  <div class="span1"><%= region_mapping.destination_region_code %>&nbsp;</div>
  
</div>
