<div id="details_modal" class="modal hide fade extra-large">

</div>
<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="row">
      <div class="span2">
        <strong>POI Mapping Layout <%= @region_mapping_header.id %></strong><br />
        <abbr title="<%= @region_mapping_header.name %>"><%= @region_mapping_header.name %></abbr>
      </div>
    
      <%= form_tag url_for(:action => :content_filter, :region_mapping_header_id => @region_mapping_header.id), :method => 'get' do %>
        <div class="span4">
          <%= text_field_tag '[search][free]', params[:search][:free],:class => 'span4',:placeholder => 'Free search' %>
        </div>
      </div>
      <div class="row">
        <%= hidden_field_tag :direction, params[:direction] %>
        <%= hidden_field_tag :sort_line, params[:sort_line] %>
        <%= hidden_field_tag :region_mapping_header_id, params[:region_mapping_header_id] %>
        <div class="span1">
          <%=  select_tag('[search][region_mapping_lines.id]', options_from_collection_for_select(@all_mappings,'id','id',params[:search][:id]),:include_blank=>true,:class => 'span1',:data=>{:placeholder => 'ID|line'}) %>
        </div>
        <div class="span1">
          <%=  select_tag("[search][source_data_type_id]", options_for_select(@all_mappings.order(:source_data_type_id).collect{|oc|[oc.data_type.name,oc.source_data_type_id]}.uniq,params[:search][:source_data_type_id]),:include_blank=>true,:class => 'span1',:data=>{:placeholder => 'Source Data Type'}) %>
        </div>
        <div class="span2">
          <%=  select_tag("[search][source_data_release_id]", options_for_select(@all_mappings.order(:source_data_release_id).collect{|od|[od.data_release.name,od.source_data_release_id]}.uniq,params[:search][:source_data_release_id]),:include_blank=>true,:class => 'span2',:data=>{:placeholder => 'Source Data Release'}) %>
        </div>
        <div class="span1">
          <%=  select_tag("[search][source_region_code_id]", options_for_select(@all_mappings.order(:source_region_code_id).collect{|lt|[lt.region.name,lt.source_region_code_id]}.uniq,params[:search][:source_region_code_id]),:include_blank=>true,:class => 'span1',:data=>{:placeholder => 'Source Region'}) %>
        </div>
        <div class="span1">
          <%=  select_tag("[search][destination_region_code]", options_for_select(@all_mappings.order(:destination_region_code).collect{|ft|[ft.destination_region_code,ft.destination_region_code]}.uniq,params[:search][:destination_region_code]),:include_blank=>true,:class => 'span1',:data=>{:placeholder => 'Destination Region code'}) %>
        </div>
       
        <div class="span2">
          <%= button_tag "Reset", :name => 'reset',:class=>"btn pull-right",:type=>:submit %>
          <%= button_tag "Search", :name => nil, :type => :submit, :class => "btn pull-right" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div style="padding-top: 8em;margin-bottom: 55px" id="endless">
  <div class="row">
    <div class="span1"><strong><%= sortable "id", 'Id|Line' %></strong></div>
    <div class="span1"><strong><%= sortable "source_data_type_id", "Source data type" %></strong></div>
    <div class="span2"><strong><%= sortable "source_data_release_id", 'DataRelease' %></strong></div>
    <div class="span1"><strong><%= sortable "source_region_code_id", 'Source Region' %></strong></div>
    <div class="span1"><strong><%= sortable "destination_region_code", 'Destination Region code' %></strong></div>
  </div>
  <% @seq = 0 %>
  <%= render(:partial => "region_mapping", :collection => @mappings) %>
</div>
<%= will_paginate(@mappings) %>
<%= pageless(@mappings.total_pages, url_for(:action => :content_filter, :region_mapping_header_id => @region_mapping_header.id), "#endless",params) %>

