<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand"><strong>Product Content Spec</strong></div>
      <div class="span">
        <%= form_tag product_content_specifications_path, :method => 'get' do %>
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <div class="input-append input-prepend">
            <%= link_to 'New', {:action => :new},{:class => 'btn btn-info'} %>
            <%= text_field_tag '[search][free]', params[:search][:free],:class => 'span2',:placeholder => 'Free search' %>
            <%= button_tag "Search", :name => nil, :type => :submit, :class => "btn" %>
            <%= button_tag "Reset", :name => 'reset',:class=>"btn",:type=>:submit %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
 </div>

<div id="endless">
<div class="row">
    <div class="offset1 span0_5"><strong><%= sortable "id", 'Id' %></strong></div>
    <div class="span3"><strong><%= sortable "name", 'Name' %></strong></div>
    
  </div>
<%= render(:partial => "product_content_specification", :collection => @product_content_specifications) %>
</div>
<%= will_paginate(@product_content_specifications) %>
<%= pageless(@product_content_specifications.total_pages, product_content_specifications_path, "#endless",params) %>

<script type="text/javascript">
  $("select[id^=_search_]").chosen();
</script>