<h4>New region mapping header</h4>
<%= render 'form' %>
<div class="row">
  <div class="span9">
    <%=  link_to :back, :class => 'btn',:title => "back" do %>
    <i class="icon icon-arrow-left"></i>
    <% end %>
    <%=  link_to product_content_specifications_path, :class => 'btn',:title => "overview" do %>
    <i class="icon icon-arrow-up"></i>
    <% end %>
  </div>
</div>
