<div class="row">
  <div class="span11 bounded bounded-headered">
    <div class="row bounded-header">
      <div class="row">
        <div class="span11">
          <h4>Product Content Specification</h4>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <strong>Name</strong>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <%= @product_content_specification.name.to_s %> v.<%= @product_content_specification.version %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span3">
        <strong>Mapping</strong>
      </div>
    </div>
     <div class="row">
      <div class="span11">
        <table class="table table-condensed table-hover table-bordered table-striped">
          <thead>
            <tr>

              <th>Source Region Code</th>
              <th>Destination Region Code</th>
              <th>Incremental Update</th>
              <th>Regional Update</th>
              <th>Identification</th>
              <th>Identification IU</th>
              <th>Data type</th>
              <th>Filling</th>
            </tr>
          </thead>
          <tbody>
            <% @product_content_specification.product_content_items.each do |row| %>
            <tr>
              <td><%= row.region.name if row.region %></td>
              <td><%= row.destination_region_code %></td>
              <td><%= check_box_tag row.id, 'yes', row.incr_update_yn,  disabled: true  %></td>
              <td><%= check_box_tag row.id, 'yes', row.regional_update_yn,  disabled: true %></td>
              <td><%= row.resource_identification %></td>
              <td><%= row.resource_identification_iu %></td>
              <td><%= row.data_type.name if row.data_type %></td>
              <td><%= row.filling %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span9">
    <%=  link_to edit_product_content_specification_path(@product_content_specification), {:class => 'btn',:title => "edit"} do %>
    <i class="icon icon-edit"></i>
    <% end %>
    <%=  link_to(:back, {:class => 'btn',:title => "back"}) do %>
    <i class="icon icon-arrow-left"></i>
    <% end %>
    <%=  link_to(product_content_specifications_path, {:class => 'btn',:title=>"overview"}) do %>
    <i class="icon icon-arrow-up"></i>
    <% end %>
  </div>
</div>