<% if executable.status == 'obsolete' %>
 <% obsolete_class = 'deleted' %>
<%end%>
  <div class="row">
    <div class="span1">
      <%= render(partial: "shared/versioned_object", object: executable) %>
    </div>
    <div class="span2 <%= obsolete_class %>"><%= executable.name %>&nbsp;</div>
    <div class="span4 <%= obsolete_class %>"><%= (strip_tags(executable.description.strip)).truncate(60) if !executable.description.blank? %>&nbsp;</div>
  
    <div class="span1 <%= obsolete_class %>"><%= executable.latest_approved.version if executable.latest_approved %>&nbsp;</div>
    <div class="span1 <%= obsolete_class %>"><%= executable.version %>&nbsp;</div>
    <div class="span1 <%= obsolete_class %>"><%= executable.status %>&nbsp;</div>
  </div>
