<style type="text/css">
  .bounded-headered [class*="span"] input {
    margin-left: 0px;
  }
  .bounded-headered [class*="span"] textarea {
    margin-left: 0px;
  }
  .bounded-headered [class*="span"] select {
    margin-left: 0px;
  }
  .chzn-container-multi .chzn-choices .search-field input {
    height: 20px;
}
</style>

<% if @executable.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@executable.errors.count, "error") %> prohibited this executable from being saved:</h2>
    <ul>
      <% @executable.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@executable) do |f| %>
  <div class="row">
    <div class="span8">
      <span class="label label-info">Status <%= @executable.status %></span>
      <span class="label label-inverse">Revision <%= @executable.version + 1 %></span>
    </div>
  </div>
  <div class="row">
    <div class="span10 bounded bounded-headered">
      <div class="row bounded-header">
        <div class="span5"><h4><%= @heading %></h4></div>
      </div>
      <div class="row">
        <div class="span1"><strong>Comment</strong></div>
      </div>
      <div class="row">
        <div class="span9">
          <%= f.text_field :comment,:class => 'span9' %>
        </div>
      </div>
      <div class="row">
        <div class="span3"><strong>Description</strong></div>
      </div>
      <div class="row">
        <div class="span9"><%= f.text_area :description,:class => 'span9',:rows => 7 %></div>
      </div>
      <div class="row">
        <div class="span3"><strong>Input format(s)</strong></div>
        <div class="span3"><strong>Executable&nbsp;name</strong></div>
        <div class="span3"><strong>Output format(s)</strong></div>
      </div>
      <div class="row">
        <div class="span3">
          <%= hidden_field_tag "in_datatypes", @executable.input %>
          <% @dt = DataType.active %>
          <%= select_tag "in_datatypes_ui",
            options_for_select(@dt.collect {|c| [ c.name.to_s + " " + c.description.to_s  , c.name ] }.uniq, ''),   :multiple => true, :class => 'span3' %>
        </div>
        <div class="span3"><%= f.text_field :name, :class => 'span3' %></div>
        <div class="span3">
          <%= hidden_field_tag "out_datatypes", @executable.output %>
          <%= select_tag "out_datatypes_ui",
            options_for_select(@dt.collect {|c| [ c.name.to_s + " " + c.description.to_s  , c.name ] }.uniq, ''),   :multiple => true, :class => 'span3' %>
        </div>
      </div>
      <div class="row">
        <div class="span3"><strong>Source&nbsp;data definition type</strong></div>
        <div class="span3"><strong>Sub procs</strong></div>
        <div class="span3">&nbsp;</div>
      </div>
      <div class="row">
        <div class="span3"><%= f.select(:source_data_def_type, ['DIRECTORY', 'FILE'],{},{:class => 'span3'}) %></div>
        <div class="span3"><%= f.text_field :subprocs,:class => 'span3' %></div>
        <div class="span3">
          <label class="pull-right">Improvement process&nbsp; <%= f.check_box :is_improvement_process %></label>
          <label class="pull-right">Ignore&nbsp;DS&nbsp;regions&nbsp;<%= f.check_box :ignore_ds_regions_yn %></label>
          <label class="pull-right">Visible to customer&nbsp;<%= f.check_box :customer_visibility %></label>
        </div>
      </div>
      <div class="row">
        <div class="span3"><strong>Tagging logic</strong></div>
      </div>
      <div class="row">
        <div class="span9"><%= f.text_area :metalogic,:class => 'span9',:rows => 9 %></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span10 bounded bounded-headered">
      <div class="row bounded-header">
        <div class="span4"><h5>Automatic scheduling data</h5></div>
      </div>
      <div class="row">
        <div class="span2">
          <strong>Schedule only manual</strong>
        </div>
        <div class="span3">
          <%= f.check_box :schedule_manual %>
        </div>
        <div class="span2">
          <strong>Base memory (MB)</strong>
        </div>
        <div class="span2">
          <%= f.number_field :schedule_memory_base, :class => "span1" %>
        </div>
      </div>
      <div class="row">
        <div class="span2">
          <strong>Use machine exclusively</strong>
        </div>
        <div class="span3">
          <%= f.check_box :schedule_exclusive %>
        </div>
        <div class="span2">
          <strong>Memory times size input files</strong>
        </div>
        <div class="span2">
          <%= f.number_field :schedule_memory_times_input, :class => "span1" %>
        </div>
      </div>
      <div class="row">
        <div class="span2">
          <strong>Virtual machine allowed</strong>
        </div>
        <div class="span3">
          <%= f.check_box :schedule_allow_virtual %>
        </div>
        <div class="span2">
          <strong>Base diskspace (MB)</strong>
        </div>
        <div class="span2">
          <%= f.number_field :schedule_diskspace_base, :class => "span1" %>
        </div>
      </div>
      <div class="row">
        <div class="span2">
          <strong>Number of cores</strong>
        </div>
        <div class="span3">
          <%= f.number_field :schedule_cores, :class => "span1" %>
        </div>
        <div class="span2">
          <strong>Diskspace times size input</strong>
        </div>
        <div class="span2">
          <%= f.number_field :schedule_diskspace_times_input, :class => "span1" %>
        </div>
      </div>
    </div>
  </div>

  <span style="display:none">
    <div id="rowtemplate" class="row">
      <div class="span10">
        <div class="span2">
          <strong>-------------------------------------</strong>
        </div>
        <div class="span3">
          <% @tagid= @tagid.to_i + 1 %>
        </div>
        <div class="span0_5 offset1">
          <a href="#" class="icon-trash remove" >&nbsp;</a>
        </div>
        <div class="span0_5">
          <a href="#" class="icon-edit edit" >&nbsp;</a>
        </div>
        <div class="span9"><hr/></div>
      </div>
    </div>
  </span>

  <div class="row">
    <div class="span10 bounded bounded-headered">
      <div class="row bounded-header">
        <h5>Parameters</h5>
      </div>
      <div id="parameters_list"></div>
      <div class="row">
        <div class="span2">
          <%= f.hidden_field :parameters %>
          <button type="button" onclick="add_params()">Add Parameter</button>
        </div>
      </div>
    </div>
  </div>

<div class="row">
  <div class="span10"><%= f.submit 'Save Executable', :class => 'btn btn-primary pull-right' %></div>
</div>

  <div class="row">

    <div class="modal hide fade" id="newElementModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">
          Add new
        </h3>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="span2"><strong>Name</strong></div>
          <div class="span3">
            <div class="control-group">
            <span class="help-inline" id="paramNameError"></span>
            <%= text_field_tag :new_param_name, {},{:class => 'span3'} %>
          </div></div>
        </div>
        <div class="row">
          <div class="span2"><strong>Type</strong></div>
          <div class="span3"><%= select_tag 'param_datatype', options_for_select(['string', 'numeric', 'path']), {:class => 'span3'} %></div>
        </div>
        <div class="row">
          <div class="span2"><strong>Default value</strong></div>
          <div class="span3"><%= text_field_tag :param_default_value, {},{:class => 'span3'}  %></div>
        </div>
        <div class="row">
          <div class="span2"><strong>Description</strong></div>
          <div class="span3"><%= text_field_tag :param_description, {},{:class => 'span3'} %></div>
        </div>
        <div class="row">
          <div class="span2"><strong>Allocate</strong></div>
          <div class="span3"><%= select_tag 'param_allocate', options_for_select([''] + @dt.collect {|c| [c.name.to_s + " " + c.description.to_s, c.name ] }.uniq, nil), {:class => 'span3'} %></div>
        </div>
        <div class="row">
          <div class="span2"><strong>Visible for customer</strong></div>
          <div class="span3"><%= check_box_tag :param_visibility %></div>
        </div>
        <div class="row">
          <div class="span2"><strong>Mandatory</strong></div>
          <div class="span3"><%= check_box_tag :param_mandatory %></div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button> <button class="btn btn-primary" id="createbutton" name="createElement" >Add</button>
      </div>
    </div>

  </div>
<% end %>

    <div class="modal hide fade" id="inputPropertiesModal" tabindex="-1" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 id="myModalLabel">
          Editing properties for input <span id="current_datatype"></span>
        </h4>
      </div>
      <div class="modal-body">
        Mandatory&nbsp;&nbsp;&nbsp; <%=  check_box_tag 'mandatory_option' %><br>
        Script tag&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;<%=  text_field_tag 'script_tag' %><br>
      </div>
      <div class="modal-footer"class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button> <button class="btn btn-primary" id="savepropinput" name="createElement">Save</button>
      </div>
    </div>

    <div class="modal hide fade" id="outputPropertiesModal" tabindex="-1" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 id="myModalLabel">
          Editing properties for input <span id="current_datatype"></span>
        </h4>
      </div>
      <div class="modal-body">
        Identification&nbsp;&nbsp;&nbsp; <%=  text_field_tag 'output_identification' %><br>
      </div>
      <div class="modal-footer"class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button> <button class="btn btn-primary" id="savepropoutput" name="createElement">Save</button>
      </div>
    </div>
    <script type="text/javascript">
      $("#savepropinput").click(function(){
        current_datatype_object.attr('mandatory',$('#mandatory_option').is(':checked'))
        current_datatype_object.attr('script_tag',$('#script_tag').val())
        $('#inputPropertiesModal').modal('hide');
        return false;
      });
      
      $("#savepropoutput").click(function(){
        current_datatype_object.attr('identification',$('#output_identification').val())
        $('#outputPropertiesModal').modal('hide');
        return false;
      });

      $("#createbutton").click(function(){
        newparam = 0

        if (param.name == undefined)
        {
          newparam = 1
        }

        param.name = $('#new_param_name').val();
        param.datatype = $('#param_datatype').select2('val');
        param.default_value = $('#param_default_value').val();
        param.mandatory = $('#param_mandatory').is(':checked');
        param.allocate = ($('#param_allocate').select2('val') != '');
        param.visibility = $('#param_visibility').is(':checked');

        param.allocate_tags = $('#param_allocate').select2('val');

        param.description = $('#param_description').val();
        if (newparam == 1)
        {
          obj.parameters.push(param);
        }
        append_to_list($('#parameters_list'), param, "parameters" )
        $('#executable_parameters').val($.toJSON( obj ));
        $('#newElementModal').modal('hide');
        return false;
      });

      $("#in_datatypes_ui").chosen();
      $("#out_datatypes_ui").chosen();
      $("#param_datatype").select2();
      $("#param_allocate").select2({allowClear: true, placeholder: "Allocation datatype"});

      // INPUT initialize properties and click events
      jsoninput = $('#in_datatypes').val();
      if (jsoninput == "")
      {
        jsoninput = "[]"
      }
      var jsoninputobj = eval('(' + jsoninput + ')');
      arrtypes = []
      for (var i=0;i<jsoninputobj.length;i++)
      {  
        arrtypes.push(jsoninputobj[i]["datatype"])
      }
      $("#in_datatypes_ui").val(arrtypes)
      $("#in_datatypes_ui").trigger("liszt:updated");
      
      
      //output
      jsonoutput = $('#out_datatypes').val();
     
      if (jsonoutput == "")
      {
        
        jsonoutput = "[]"
      }
      
      
      var jsonoutputobj = eval('(' + jsonoutput + ')');
      arrtypes = []
      for (var i=0;i<jsonoutputobj.length;i++)
      {  
        arrtypes.push(jsonoutputobj[i]["datatype"])
      }
      
      $("#out_datatypes_ui").val(arrtypes)
      $("#out_datatypes_ui").trigger("liszt:updated");
      
      
      
      // add properties
      $("#in_datatypes_ui_chzn .search-choice").each(function() {
        datatype = $('#in_datatypes_ui option').get($(this).find(".search-choice-close").attr("rel")).value
        for (var i=0;i<jsoninputobj.length;i++)
        {  
          if (jsoninputobj[i]["datatype"] == datatype)
          {
            $(this).attr("mandatory", jsoninputobj[i]["mandatory"])
            $(this).attr("script_tag", jsoninputobj[i]["script_tag"])   
            $(this).attr("datatype", jsoninputobj[i]["datatype"])   
            
            $(this).click(function(evt) {
              current_datatype_object = $(this)
              current_input_index= $(this).find(".search-choice-close").attr('rel')
              current_datatype = $('#in_datatypes_ui option')[current_input_index].value
              $('#current_datatype').text(current_datatype)
              if (current_datatype_object.attr("mandatory") == "true")
              {
                $('#mandatory_option').prop('checked', true);
              }
              else
              {
                $('#mandatory_option').prop('checked', false)
              }
              
              $('#script_tag').val(current_datatype_object.attr("script_tag"))
              $('#inputPropertiesModal').modal('show')
              evt.stopPropagation()
            });
            
          }
        }
      })
      
      // add properties
      $("#out_datatypes_ui_chzn .search-choice").each(function() {
        datatype = $('#out_datatypes_ui option').get($(this).find(".search-choice-close").attr("rel")).value
        for (var i=0;i<jsonoutputobj.length;i++)
        {  
          if (jsonoutputobj[i]["datatype"] == datatype)
          {
            $(this).attr("identification", jsonoutputobj[i]["identification"])
            $(this).attr("datatype", jsonoutputobj[i]["datatype"])   

            $(this).click(function(evt) {
              current_datatype_object = $(this)
              current_output_index= $(this).find(".search-choice-close").attr('rel')
              current_datatype = $('#out_datatypes_ui option')[current_output_index].value
              $('#current_datatype_output').text(current_datatype)
              $('#output_identification').val(current_datatype_object.attr("identification"))
              $('#outputPropertiesModal').modal('show')
              evt.stopPropagation()
            });
            
          }
        }
      })
      
      $('input[value="Save Executable"]').click(function() {
        jsoninputobj = []
        jsonoutputobj = []
        $("#in_datatypes_ui_chzn .search-choice").each(function() {
         
          inputobj = new Object()
          inputobj.datatype =   $(this).attr("datatype")
          inputobj.mandatory =   $(this).attr("mandatory")
          inputobj.script_tag =  $(this).attr("script_tag")
          jsoninputobj.push(inputobj)
        })
        
        $("#out_datatypes_ui_chzn .search-choice").each(function() {
          outputobj = new Object()
          outputobj.identification =   $(this).attr("identification")  
          outputobj.datatype =   $(this).attr("datatype")
          jsonoutputobj.push(outputobj)
         
        })
       
        // serialize to field
        $('#in_datatypes').val(($.toJSON( jsoninputobj )))
        $('#out_datatypes').val(($.toJSON( jsonoutputobj )))
      });
      
      var obj;
      $(function(){
        objt = $('#executable_parameters').val();
        if (objt == "")
        {
          objt = "{parameters:[]}";
        }
        obj = eval('(' + objt + ')');

        render_list($('#parameters_list'), obj, "parameters");
      });

      function obj_to_string(obj)
      {
        s = ""
        for(var prop in obj)
        {
          if (prop != "design_id")
          {
            s = s +  obj[prop]
          }
        }

        return s
      }

      function add_params()
      {
        param = new Object()
        $('#new_param_name').val("");
        $('#param_datatype').select2('val', "");
        $('#param_default_value').val("");
        $('#param_mandatory').val("")
        $('#param_allocate').select2('val', "");
        $('#param_description').val("");
        $('#newElementModal').modal('show')
        $('#myModalLabel').html("Add parameter")
        $('#createbutton').html("Add")
        return false
      }


      function edit_param(name)
      {

        param = null;
        for (var i=0;i<obj.parameters.length;i++)
        {

          if (obj.parameters[i].name == name)
          {
            param = obj.parameters[i]
            break
          }
        }

        $('#new_param_name').val(param.name);
        $('#param_datatype').select2('val', param.datatype);
        $('#param_default_value').val(param.default_value);
        $('#param_mandatory').prop('checked', Boolean(param.mandatory));
        $('#param_visibility').prop('checked', Boolean(param.visibility));
        $('#param_allocate').select2('val', param.allocate_tags);

        $('#param_description').val(param.description);

        $('#myModalLabel').html("Edit parameter")
        $('#newElementModal').modal('show')
        $('#createbutton').html("Save")
        return false
      }

      function render_list(destinationdiv, obj, elemname)
      {
        destinationdiv.html("")
        if (obj[elemname] == undefined)
        {
          return
        }
        for(var i=0; i<obj[elemname].length; i++) {

          value = obj[elemname][i];
          append_to_list(destinationdiv,  value , obj)
        }
      }

      function remove_from_model(obj, elemname, design_id)
      {
        obj[elemname] = $.grep(obj[elemname], function(value) {
          return value != design_id
        })
        $('#executable_parameters').val($.toJSON( obj ))

      }

      function append_to_list(listdiv,  objadd, obj)
      {
        paramdetails= "<div class='span5'>"+
        "<table>"+
        "<tr><td class='span2'><b>type:</b></td><td>"+objadd.datatype+"</td></tr>"+
        "<tr><td><b>desc:</b></td><td>"+jQuery('<div />').text(objadd.description).html()+"</td></tr>"+
        "<tr><td><b>default:</b></td><td>"+objadd.default_value+"</td></tr>"+
        "<tr><td><b>mandatory:</b></td><td>"+objadd.mandatory+"</td></tr>"+
        "<tr><td><b>allocate:</b></td><td>"+objadd.allocate_tags+"</td></tr>"+
        "<tr><td><b>visibility:</b></td><td>"+objadd.visibility+"</td></tr>"+
        "</table>"+
        "</div>";

        //listdiv.find("div #objadd.name")
        if ($('#parameters_list #' + objadd.name).length > 0)
        {
          listrow = $('#parameters_list #' + objadd.name)
          listrow.find("div").first().find("div").first().text(unescape(objadd.name))
          listrow.find("div .span3").first().html(paramdetails)

        }
        else
        {
          listrow = $('#rowtemplate').clone()
          listrow.attr("id", unescape(obj_to_string( objadd.name)))
          listrow.find("div").first().find("div").first().text(unescape(objadd.name))
          listrow.find("div .span3").first().append(paramdetails)
          listdiv.append(listrow)
          $("#" +  objadd.name + " .remove").click(function(){
            $(this).parent().parent().fadeOut()
            remove_from_model(obj, "parameters",  objadd)
            return false
          })

          $("#" +  objadd.name + " .edit").click(function(){

            edit_param(objadd.name)
            return false
          })
        }

      }
      
      //event handler to initialize new added datatypes
      $('#in_datatypes_ui').change(function(){
        $("#in_datatypes_ui_chzn .search-choice").each(function() {
          if ($(this).attr("datatype") == undefined)
          {
            // new element added - initialize
            $(this).attr("mandatory", false)
            $(this).attr("script_tag", "")   
            $(this).attr("datatype",$('#in_datatypes_ui option').get($(this).find(".search-choice-close").attr("rel")).value)  
          }
        });
      });
      
      $('#out_datatypes_ui').change(function(){
        $("#out_datatypes_ui_chzn .search-choice").each(function() {
          if ($(this).attr("datatype") == undefined)
          {
            $(this).attr("datatype",$('#out_datatypes_ui option').get($(this).find(".search-choice-close").attr("rel")).value)  
            $(this).attr("identification","")
          }
        });
      });
  
  
      $('#in_datatypes_ui').change(function() {
        $('#in_datatypes_ui_chzn .search-choice').unbind()
        $('#in_datatypes_ui_chzn .search-choice').click(function(evt) {
          current_datatype_object = $(this)
          current_input_index= $(this).find(".search-choice-close").attr('rel')
          current_datatype = $('#in_datatypes_ui option')[current_input_index].value
          $('#current_datatype').text(current_datatype)
          $('#mandatory_option').val(current_datatype_object.attr("mandatory"))
          $('#script_tag').val(current_datatype_object.attr("script_tag"))
          $('#inputPropertiesModal').modal('show')
          evt.stopPropagation()
           
        });
      })
      
      $('#out_datatypes_ui').change(function() {
        $('#out_datatypes_ui_chzn .search-choice').unbind()
        $('#out_datatypes_ui_chzn .search-choice').click(function(evt) {
          current_datatype_object = $(this)
          current_input_index= $(this).find(".search-choice-close").attr('rel')
          current_datatype = $('#out_datatypes_ui option')[current_input_index].value
          $('#current_datatype').text(current_datatype)
          $('#output_identification').val(current_datatype_object.attr("identification"))
          $('#outputPropertiesModal').modal('show')
          evt.stopPropagation()
           
        });
    
      })
      $('#executable_source_data_def_type').chosen();

      $('#newElementModal').on('show',function (){
        // disable spaces as key input for parameter name
        $("#new_param_name").on("keydown", function (e) {
          return e.which !== 32;
        });
        $("#new_param_name").attr('required',true);
        $("#new_param_name").attr('pattern','[a-zA-Z0-9_]+');
        $("#new_param_name").change(function(){
          // check whitespace when value is pasted
          var whiteSpaceRegex = /\s/;
          if( whiteSpaceRegex.test($("#new_param_name").val()) ){
            $("#paramNameError").html("Space characters not allowed!");
            $("#createbutton").attr('disabled',true);
            
            $("#paramNameError").parent().addClass('error');
          }else{

            $("#createbutton").removeAttr('disabled');
            $("#paramNameError").html("");
            $("#paramNameError").parent().removeClass('error');
          }
        });
        
      });

      $('#newElementModal').on('hidden',function (){
        $("#new_param_name").removeAttr('required');
        $("#new_param_name").removeAttr('pattern');
      });
    </script>

