<div class="row">
  <div class="span12 bounded">
    <div class="accordion" id="accordion1">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion1" name="history" href="#history-object"><h5>History</h5></a>
      <div id="history-object" class="accordion-body collapse">
        <div class="accordion-inner">
          <%= javascript_include_tag 'json-diff' %>
          <%= javascript_include_tag 'jsond' %>
          <%= stylesheet_link_tag "json-diff", :media=> "all" %>

          <% old_name = "" %>
          <% old_description = "" %>
          <% old_schedule_manual = true.to_s %>
          <% old_schedule_exclusive = "" %>
          <% old_schedule_allow_virtual = "" %>
          <% old_schedule_cores = "" %>
          <% old_schedule_memory_base = "" %>
          <% old_schedule_memory_times_input = "" %>
          <% old_schedule_diskspace_base = "" %>
          <% old_schedule_diskspace_times_input = "" %>

          <script>
            old_input = JSON.parse("[[]]");
            old_output = JSON.parse("[[]]");
            old_parameters = JSON.parse("[]");
          </script>

          <% @executable.versions.order("id desc").limit(5).each do |executable_version| %>
            <div class="row">
              <div class="span2"><%= "#{executable_version.version} (#{executable_version.status})" %>&nbsp;</div>
              <div class="span2"><%= executable_version.updated_by %>&nbsp;</div>
              <div class="span2"><%= executable_version.updated_at.to_s %>&nbsp;</div>
              <div class="span1"><%= link_to_if(executable_version.bug_tracker_id, executable_version.bug_tracker_id, "#{ConfigParameter.get("cr_tool_url")}#{executable_version.bug_tracker_id}") %>&nbsp;</div>
              <div class="span4"><%= executable_version.comment%>&nbsp;</div>
            </div>

            <div class="row history">
              <div class="offset1 span2"><strong>Name</strong></div>
              <% new_name = executable_version.name %>
              <div class="span8 <%=  history_class old_name, new_name %>">
                <%= history_string old_name, new_name %>
              </div>
              <% old_name = new_name %>
            </div>

            <div class="row history">
              <div class="offset1 span2"><strong>Description</strong></div>
              <% new_description = executable_version.description %>
              <div class="span8 <%=  history_class old_description, new_description %>">
                <%= history_string old_description, new_description %>
              </div>
              <% old_description = new_description %>
            </div>

            <div class="row history">
              <div class="offset1 span2"><strong>Input</strong></div>
              <div id ="input_<%= executable_version.version %>" class="span8">
                <div id="place-json-input-<%= executable_version.version %>">
                  <script type="application/json">
                    [<%= raw(executable_version.input) %>]
                  </script>
                </div>
                <script type="application/javascript">
                  new_input_json = $('#place-json-input-<%= executable_version.version %> script').text();
                  new_input = JSON.parse(new_input_json);
                  results=document.getElementById('input_<%= executable_version.version %>');
                  jsond.compare(old_input, new_input, "root", results);
                  old_input = new_input;
                </script>
              </div>
            </div>

            <div class="row history">
              <div class="offset1 span2"><strong>Output</strong></div>
              <div id ="output_<%= executable_version.version %>" class="span8">
                <div id="place-json-output-<%= executable_version.version %>">
                  <script type="application/json">
                    [<%= raw(executable_version.output) %>]
                  </script>
                </div>
                <script type="application/javascript">
                  new_output_json = $('#place-json-output-<%= executable_version.version %> script').text();
                  new_output = JSON.parse(new_output_json);
                  results=document.getElementById('output_<%= executable_version.version %>');
                  jsond.compare(old_output, new_output, "root", results);
                  old_output = new_output;
                </script>
              </div>
            </div>

            <div class="row history">
              <div class="offset1 span2"><strong>Parameters</strong></div>
              <div id ="parameters_<%= executable_version.version %>" class="span8">
                <div id="place-json-parameters-<%= executable_version.version %>">
                  <script type="application/json">
                    [<%= raw(executable_version.parameters) %>]
                  </script>
                </div>
                <script type="application/javascript">
                  new_parameters_json = $('#place-json-parameters-<%= executable_version.version %> script').text();
                  new_parameters = JSON.parse(new_parameters_json);
                  results=document.getElementById('parameters_<%= executable_version.version %>');
                  jsond.compare(old_parameters, new_parameters, "root", results);
                  old_parameters = new_parameters;
                </script>
              </div>
            </div>

            <hr>
            <div class="row">
              <div class="span11"><strong>Automatic scheduling data</strong></div>
            </div>

            <div class="row history">
              <div class="offset1 span2"><strong>Schedule only manual</strong></div>
              <% new_schedule_manual = executable_version.schedule_manual.to_s %>
              <div class="span8 <%=  history_class old_schedule_manual, new_schedule_manual %>">
                <%= history_string old_schedule_manual, new_schedule_manual %>
              </div>
              <% old_schedule_manual = new_schedule_manual %>
            </div>

            <div class="row history">
              <div class="offset1 span2"><strong>Use machine exclusively</strong></div>
              <% new_schedule_exclusive = executable_version.schedule_exclusive %>
              <div class="span8 <%=  history_class old_schedule_exclusive, new_schedule_exclusive %>">
                <%= history_string old_schedule_exclusive, new_schedule_exclusive %>
              </div>
              <% old_schedule_exclusive = new_schedule_exclusive %>
            </div>

            <div class="row history">
              <div class="offset1 span2"><strong>Virtual machine allowed</strong></div>
              <% new_schedule_allow_virtual = executable_version.schedule_allow_virtual %>
              <div class="span8 <%=  history_class old_schedule_allow_virtual, new_schedule_allow_virtual %>">
                <%= history_string old_schedule_allow_virtual, new_schedule_allow_virtual %>
              </div>
              <% old_schedule_allow_virtual = new_schedule_allow_virtual %>
            </div>

            <div class="row history">
              <div class="offset1 span2"><strong>Number of cores</strong></div>
              <% new_schedule_cores = executable_version.schedule_cores %>
              <div class="span8 <%=  history_class old_schedule_cores, new_schedule_cores %>">
                <%= history_string old_schedule_cores, new_schedule_cores %>
              </div>
              <% old_schedule_cores = new_schedule_cores %>
            </div>

            <div class="row history">
              <div class="offset1 span2"><strong>Base memory (MB)</strong></div>
              <% new_schedule_memory_base = executable_version.schedule_memory_base %>
              <div class="span8 <%=  history_class old_schedule_memory_base, new_schedule_memory_base %>">
                <%= history_string old_schedule_memory_base, new_schedule_memory_base %>
              </div>
              <% old_schedule_memory_base = new_schedule_memory_base %>
            </div>

            <div class="row history">
              <div class="offset1 span2"><strong>Memory times size input files</strong></div>
              <% new_schedule_memory_times_input = executable_version.schedule_memory_times_input %>
              <div class="span8 <%=  history_class old_schedule_memory_times_input, new_schedule_memory_times_input %>">
                <%= history_string old_schedule_memory_times_input, new_schedule_memory_times_input %>
              </div>
              <% old_schedule_memory_times_input = new_schedule_memory_times_input %>
            </div>

            <div class="row history">
              <div class="offset1 span2"><strong>Base diskspace (MB)</strong></div>
              <% new_schedule_diskspace_base = executable_version.schedule_diskspace_base %>
              <div class="span8 <%=  history_class old_schedule_diskspace_base, new_schedule_diskspace_base %>">
                <%= history_string old_schedule_diskspace_base, new_schedule_diskspace_base %>
              </div>
              <% old_schedule_diskspace_base = new_schedule_diskspace_base %>
            </div>

            <div class="row history">
              <div class="offset1 span2"><strong>Diskspace times size input files</strong></div>
              <% new_schedule_diskspace_times_input = executable_version.schedule_diskspace_times_input %>
              <div class="span8 <%=  history_class old_schedule_diskspace_times_input, new_schedule_diskspace_times_input %>">
                <%= history_string old_schedule_diskspace_times_input, new_schedule_diskspace_times_input %>
              </div>
              <% old_schedule_diskspace_times_input = new_schedule_diskspace_times_input %>
            </div>
            <hr>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>