<%= render(:partial => "shared/versioned_object_warning", :object => @executable) %>
<div class="row">
  <div class="span12 bounded bounded-headered">
    <div class="row bounded-header">
      <div class="span5">
        <h4>Executable <%= @executable_version.name %></h4>
      </div>
      <div class="span2 pull-right">
        <strong>Revision</strong> <%= @executable_version.version %>&nbsp;
        <strong>Status</strong> <%= @executable_version.status %>
      </div>
    </div>
    <div class="row">
      <div class="span5"><strong>Description</strong></div>
    </div>
    <div class="row">
      <div class="span12"><%= sanitize(@executable.description, :tags => %w(table tr td p), :attributes => %w(xmlns id class )) %></div>
    </div>
    <div class="row">
      <div class="span2"><strong>Source Data Def Type</strong></div>
      <div class="span9"><%= @executable.source_data_def_type %></div>
    </div>
    <div class="row">
      <div class="span2">
        <strong>Improvement process</strong><br />
        <strong>Ignore DS regions</strong><br />
        <strong>Visible to customer</strong>
      </div>
      <div class="span1">
        <%= bootstrap_boolean(@executable.is_improvement_process,"Checked when executable is a improvoment process") %><br />
        <%= bootstrap_boolean(@executable.ignore_ds_regions_yn,"With this executable no checks on DS regions will be performed") %><br />
        <%= bootstrap_boolean(@executable.customer_visibility,"Allow executable information in release notes") %>
      </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
      <div class="span">&nbsp;</div>
      <div class="span5 well well-small">
        <div class="row">
          <div class="span1">
            <h5>Input</h5>
          </div>
        </div>
        <div class="row">
          <% @executable.input_hash.each do |input| %>
          <div class="span4">
            <% input.each do |k,v| %>
            <strong><%= k %></strong>&nbsp;<%= v %><br />
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
      <div class="span">&nbsp;</div>
      <div class="span">
        <h3><i class="icon-arrow-right"></i></h3>
      </div>
      <div class="span">&nbsp;</div>
      <div class="span5 well well-small">
        <div class="row">
          <div class="span1">
            <h5>Output</h5>
          </div>
        </div>
        <div class="row">
          <% @executable.output_hash.each do |output| %>
          <div class="span4">
            <% output.each do |k,v| %>
            <strong><%= k %></strong>&nbsp;<%= v %><br />
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12 bounded">
    <h5>Automatic scheduling data</h5>
    <div class="row">
      <div class="span2">
        <strong>Schedule only manual</strong>
      </div>
      <div class="span3">
        <%= bootstrap_boolean(@executable.schedule_manual) %>&nbsp;
      </div>
      <div class="span3">
        <strong>Base memory (MB)</strong>
      </div>
      <div class="span2">
        <%= @executable.schedule_memory_base %>
      </div>
    </div>
    <div class="row">
      <div class="span2">
        <strong>Use machine exclusively</strong>
      </div>
      <div class="span3">
        <%= bootstrap_boolean(@executable.schedule_exclusive) %>&nbsp;
      </div>
      <div class="span3">
        <strong>Memory times size input files</strong>
      </div>
      <div class="span2">
        <%= @executable.schedule_memory_times_input %>
      </div>
    </div>
    <div class="row">
      <div class="span2">
        <strong>Virtual machine allowed</strong>
      </div>
      <div class="span3">
        <%= bootstrap_boolean(@executable.schedule_allow_virtual) %>&nbsp;
      </div>
      <div class="span3">
        <strong>Base disk space (MB)</strong>
      </div>
      <div class="span2">
        <%= @executable.schedule_diskspace_base %>
      </div>
    </div>
    <div class="row">
      <div class="span2">
        <strong>Number of cores</strong>
      </div>
      <div class="span3">
        <%= @executable.schedule_cores %>&nbsp;
      </div>
      <div class="span3">
        <strong>Disk space times size input files</strong>
      </div>
      <div class="span2">
        <%= @executable.schedule_diskspace_times_input %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12 bounded">
    <h5>Parameters</h5>
    <% if !@executable.parameters.to_s.blank? %>
      <% JSON.parse(@executable.parameters).each do |parameter|%>
        <% keys = parameter[1][0].keys rescue Array.new %>
        <table class="table table-striped table-condensed">
          <tr>
            <% keys.each do |key| %>
              <th><%= key.humanize %></th>
            <% end %>
          </tr>
          <% parameter[1].each do |paramhash| %>
            <tr>
              <% keys.each do |key| %>
                <% value = paramhash[key] %>
                <% if key == 'name' %>
                  <td style="max-width: 220px"><%= value %></td>
                <% elsif key == 'description' %>
                  <td style="max-width: 330px">
                    <%= sanitize(value, :tags => %w(table tr td p), :attributes => %w(xmlns id class)) %>
                  </td>
                <% else %>
                  <td><%= value %></td>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        </table>
      <% end %>
    <% end %>
  </div>
</div>

<%= render 'history' %>

