<% @heading = "Editing Executable #{@executable.name}" %>
<%= render 'form' %>
<div class="row">
  <div class="span7">
    <%= link_to @executable, :class => "btn", :title => "show" do %>
      <i class="icon-eye-open"></i>
    <% end %>
    &nbsp;
    <%= link_to handle_executable_path(@executable), :class => "btn",:title => "handle" do %>
      <i class="icon-tasks"></i>
    <% end %>
    &nbsp;
    <%= link_to :back, :class => 'btn', :title => "back" do %>
      <i class="icon-arrow-left"></i>
    <% end %>
    &nbsp;
    <%= link_to executables_path, :class => 'btn',:title => "overview" do %>
      <i class="icon-arrow-up"></i>
    <% end %>
  </div>
</div>