<%= render 'show_data' %>

<div class="row">
  <div class="span12">
    <%= link_to "Set to draft", [:draft, @executable], { :class => "btn #{@executable.allowed_status?("draft", @current_user.user_name) && can?(:draft, @executable) ? 'enabled' : 'disabled'}", :method => :post } %>&nbsp;
    <%= link_to "Request review", [:review, @executable], { :class => "btn #{@executable.allowed_status?("review", @current_user.user_name) && can?(:review, @executable) ? 'enabled' : 'disabled'}", :id => "request_review", :method => :post } %>&nbsp;
    <%= link_to "Approve", [:approve, @executable], { :class => "btn #{@executable.allowed_status?("approved", @current_user.user_name,session[:project_id]) && can?(:approve, @executable) ? 'enabled' : 'disabled'}", :method => :post } %>&nbsp;
    <%= link_to "Revert to latest approved", [:revert, @executable], {:class => "btn #{@executable.status != "approved" && @executable.latest_approved && can?(:revert, @executable) ? 'enabled' : 'disabled'}", :method => :post } %>&nbsp;
    <%= link_to "Mark as obsolete", [:obsolete, @executable], {:class => "btn #{@executable.allowed_status?("obsolete", @current_user.user_name) && can?(:obsolete, @executable) ? 'enabled' : 'disabled'}", :method => :post } %>&nbsp;
    <%= link_to "Destroy", [@executable], {:class => "btn #{(@executable.status.nil? || @executable.status == 'new') && can?(:destroy, @executable) ? 'enabled' : 'disabled'}", :method => :delete } %>
  </div>
</div>
<div class="row"><div class="span12"><hr /></div></div>
<div class="row">
  <div class="span7">
    <%= link_to @executable, :class => "btn", :title => "show" do %>
      <i class="icon-eye-open"></i>
    <% end %>
    &nbsp;
    <%= link_to edit_executable_path(@executable), :class => "btn",:title => "edit" do %>
      <i class="icon-edit"></i>
    <% end %>
    &nbsp;
    <%= link_to :back, :class => 'btn', :title => "back" do %>
      <i class="icon-arrow-left"></i>
    <% end %>
    &nbsp;
    <%= link_to executables_path, :class => 'btn',:title => "overview" do %>
      <i class="icon-arrow-up"></i>
    <% end %>
  </div>
</div>
<script>
  $('a.disabled').click(function(e) {
    // Disable links for disabled buttons
    e.preventDefault();
    return false
  });
  review_request_sent = false;
  $('#request_review').click(function(e) {
    if(review_request_sent){
      e.preventDefault();
      return false;
    } else {
      review_request_sent = true;
      $('#request_review').removeClass('enabled');
      $('#request_review').addClass('disabled');
    }
  });
</script>
