<%= render(partial: "shared/versioned_objects", object: @executables, locals: {header: "Executables", form_path: "executables_path"}) %>

<div id="endless">
  <div class="row">
    <div class="offset1 span2"><strong><%= sortable "name", "Name" %></strong></div>
    <div class="span4"><strong><%= sortable "description", "Description" %></strong></div>
    <div class="span1"><strong><%= sortable "latest_approved", "Latest Approved" %></strong></div>
    <div class="span1"><strong><%= sortable "version", "Latest Revision" %></strong></div>
    <div class="span1"><strong><%= sortable "status", "Latest Status" %></strong></div>
  </div>
    <%= render(:partial => "executable", :collection => @executables) %>
</div>
<%= will_paginate(@executables) %>
<%= pageless(@executables.total_pages, executables_path, "#endless") %>
