<h1>Synchronize bundle debug input form</h1>
<%= form_tag({:action => 'synchronize_bundle'}, :multipart => true) do %>
<%= label_tag 'bundles' %> <%= text_field_tag 'bundles' %><br />
<%= label_tag 'bundle' %> <%= text_field_tag 'bundle' %><br />
<%= label_tag 'release' %> <%= text_field_tag 'release' %><br />
<%= label_tag 'contents' %> <%= file_field 'contents', 'file' %><br />
<%= submit_tag %>
<% end %>

