<h1>Synchronize tool debug input form</h1>
<%= form_tag({:action => 'synchronize_tool'}, :multipart => true) do %>
<%= label_tag 'name' %> <%= text_field_tag 'name' %><br />
<%= label_tag 'release' %> <%= text_field_tag 'release' %><br />
<%= label_tag 'contents' %> <%= file_field 'contents', 'file' %><br />
<%= submit_tag %>
<% end %>

