<% f = formfields  %>
<% if params[:return_to_controller] && params[:return_to_action] && params[:return_to_id] %>
  <%= hidden_field_tag "return_to_controller", params[:return_to_controller] %>
  <%= hidden_field_tag "return_to_action", params[:return_to_action] %>
  <%= hidden_field_tag "return_to_id", params[:return_to_id] %>
<% end %>
<div class="row">
  <div class="span4 input-append">
    <%= f.text_field :product_id , :class => 'span2'%>

    <button id="find-cv" class="btn btn-info" type="button">Find</button>

  </div>
</div>


  <div id="formdetails">
    <%=  render :partial => 'prod_details',:object => f %>
  </div>

<script>
  $('#product_location_product_id').keydown(function(event) {
        if (event.keyCode == 13) {
            findCV();
            return false;
         }
})
  
  $('#find-cv').click(function() {
    findCV()
  });

function findCV(){
    var productid = $('input#product_location_product_id').val();
    var conversionid = $('select#product_location_conversion_id').val();
    var receptionid = $('select#product_location_reception_id').val();
    jQuery.get('<%=h url_for(:controller => 'product_locations',:action => 'get_details_by_conversion') %>'+'?product_id=' + productid + '&conversion_id=' + conversionid + '&reception_id=' + receptionid,function(data){
      $("#formdetails").html(data);
    });
}

  
  $("#product_location_storage_path").change(function() {
    var storage_path = $('input#product_location_storage_path').val();
    jQuery.get('<%=h url_for(:controller => 'product_locations',:action => 'get_checksum_file_content') %>'+'?storage_path=' + storage_path, function(data){
      $('input#product_location_checksum_storage_file').val(data);
      
    });
  });
</script>