<% f = formfields  %>

  <tr>
    <td><b>Product Id</b></td>
    <td><%= f.text_field :product_id %></td>
    <td><b>Storage location</b></td>
    <td ROWSPAN="5"><%= f.text_area :storage_path, :rows => 5%></td>

  </tr>

  <tr>
    <td><b>Conversion Id</b><br />
    <td><%= f.text_field :conversion_id %></td>
  </tr>

  <p>
    <td><b>Product format</b></td>
    <td><%= f.text_field :product_format %></td>
  </p>

  <tr>
    <td><b>Area</b></td>
    <td><%= f.text_field :area %></td>
  </tr>

  <tr>
    <td>Supplier</td>
    <td><%= f.text_field :supplier %></td>
  </tr>

  <tr>
    <td><b>Data release</b></td>
    <td><%= f.text_field :data_release %></td>
    <td><b>Remarks</b></td>
    <td ROWSPAN="6"><%= f.text_area :remarks, :rows => 5 %></td>

  </tr>
  <tr>
    <td><b>Data path</b></td>
    <td><%= f.text_field :data_path %></td>
  </tr>

  <tr>
    <td><b>Conversiontool</b></td>
    <td><%= f.text_field :conversiontool %></td>
  </tr>

  <tr>
    <td><b>Registration date</b></td>
    <td><%= f.date_select :registration_date %></td>
  </tr>


  
</table>