  <div class="row">
    <div class="span1">
      <div class="btn-group">
        <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
        Action
        <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to(:action => 'show',:controller => :product_locations,:id => product_location.id) do %>
            <i class="icon-info-sign"></i>&nbsp;show
            <% end %>
          </li>
          <li>
            <%= link_to(:action => 'edit',:controller => :product_locations,:id => product_location.id) do %>
            <i class="icon-edit"></i>&nbsp;edit
            <% end %>
          </li>          
          <li>
            <%= link_to(:action => 'report',:controller => :product_locations,:id => product_location.id) do %>
            <i class="icon-th-list"></i>&nbsp;conversion report
            <% end %>
          </li>          
        </ul>
      </div>
    </div>
    <div class="span0_5"><%= product_location.id %>&nbsp;</div>
    <div class="span1"><%= product_location.product_id %>&nbsp;</div>
    <div class="span1"><%= product_location.conversion_id %>&nbsp;</div>
    <div class="span1"><%= product_location.product_format %>&nbsp;</div>
    <div class="span2"><%= product_location.area %>&nbsp;</div>
    <div class="span3"><%= product_location.supplier %>&nbsp;</div>
    <div class="span1"><%= product_location.data_release %>&nbsp;</div>
  </div>