<% if @rcs && @rcs.size == 0 %>
<% if @cvs && @cvs.size > 0 %>
  <div class="row">
    <div class="span3">
      <strong>Conversion</strong>
    </div>
  </div>
<% end %>
  <div class="row">
    <% if @cvs.size > 0 %>
    <div class="span3">
      <%= select_tag 'product_location[conversion_id]', options_for_select([""] + @cvs.collect{|x| [x.id.to_s, x.id.to_s]}, @product_location.conversion_id.to_s) %>
    </div>
    <% end %>
    <div class="span4">
        <% if @product_location.reception_id %>
    <%= link_to "Reception #{@product_location.reception_id}", :controller => "receptions", :action => "show", :id => @product_location.reception_id %>
  <%= hidden_field_tag 'product_location[reception_id]',@product_location.reception_id %>
    <% end %>
    </div>
  </div>  
<%end%>
  
  
<% if @gdc && @cvs && @cvs.size == 0 || @rcs && @rcs.size != 0 %>
  <div class="row">
    <div class="span3">
      <strong>Reception</strong>
    </div>
  </div>
  <div class="row">
    <div class="span3">
      <%= select_tag 'product_location[reception_id]', options_for_select([""] + @rcs.collect{|x| [x.id.to_s, x.id.to_s]}, @product_location.reception_id.to_s) %>
    </div>
  </div>  
  <% end %>
<hr>
<div class="row">
  <div name="left" class="span3">
    <div class="row">
      <div class="span3"><strong>Product format</strong></div>
    </div>
    <div class="row">
      <div class="span3"><%= text_field_tag 'product_location[product_format]', @product_location.product_format %></div>
    </div>    
    <div class="row">
      <div class="span3"><strong>Supplier</strong></div>
    </div>
    <div class="row">
      <div class="span3"><%= text_field_tag 'product_location[supplier]',@product_location.supplier %></div>
    </div>        
   
    <div class="row">  
      <div class="span3"><strong>Area</strong></div>
    </div>
    <div class="row">
      <div class="span3"><%= text_field_tag 'product_location[area]', @product_location.area %></div>
    </div>            
  </div>
    
  <div name="right" class="span5">
    <div class="row">
      <div class="span5"><strong>Data path</strong></div>
    </div>
    <div class="row">
      <div class="span5"><%= text_area_tag 'product_location[data_path]',@product_location.data_path, :class => 'span5',:rows => 3 %></div>
    </div>
    <div class="row">  
      <div class="span2"><strong>Data release</strong></div>
      <div class="span3"><strong>Conversion tool</strong></div>
    </div>
    <div class="row">
      <div class="span2"><%= text_field_tag 'product_location[data_release]', @product_location.data_release, :class => 'span2' %></div>
      <div class="span3"><%= text_field_tag 'product_location[conversiontool]', @product_location.conversiontool, :class => 'span3' %></div>
    </div>         
  </div>
</div>

  <hr>
        <div class="row">
        <div class="span3">  
          <div class="row">
            <div class="span3"><strong>Product type</strong></div>
          </div>
          <div class="row">
            <div class="span3"><%= select_tag 'product_location[product_type]', options_for_select(['Test Product','Product'], @product_location.product_type) %></div>
          </div>

          <div class="row">
            <div class="span3"><strong>Registration date</strong></div>
          </div>
          <div class="row">
            <div class="span3 date-select">
              <%= text_field_tag 'product_location[registration_date]',@product_location.registration_date.strftime('%d-%m-%Y'), {:placeholder => "dd-mm-yyyy"} %>
              <% datetime_select 'product_location[registration_date]',@product_location.registration_date %></div>
          </div>
        </div>

        <div class="span5">  
          <div class="row">
            <div class="span5"><strong>Remarks</strong></div>
          </div>
          <div class="row">
            <div class="span5">
              <%= text_area_tag 'product_location[remarks]', @product_location.remarks, :rows => 4, :class => 'span5' %>
            </div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="span8"><strong>Internal files</strong></div>
      </div>

      <div class="row">
        <div class="span8"><%= text_area_tag 'product_location[internal_storage_path]',@product_location.internal_storage_path,:rows => 3,:class => 'span8' %></div>
      </div>
      <div class="row">
        <div class="span7">
          <strong>Commercial product file</strong>
          <% if !@product_location.release_sequence.blank? %>
          <% iso3 = '*ISO3*' %>
          <% if Area.where("name LIKE \"#{@product_location.area}\"").first 
           iso = Area.where("name LIKE \"#{@product_location.area}\"").first.country_iso3_code.to_s.upcase
           iso3 = iso if iso != ""
          end %>
          &nbsp;<small>Advice:&nbsp;<%= "/data/product/#{@product_location.product_id}/R#{'%.2i' %@product_location.release_sequence}/#{@product_location.product_id.upcase.split('.')[0]}.#{@product_location.release_sequence}#{iso3}" + ".tar" %></small>
          <% end %>
        </div>       
      </div>
      <div class="row">
        <div class="span8">
          <%= text_field_tag 'product_location[storage_path]',@product_location.storage_path,:rows => 3,:class => 'span8' %>
        </div>
      </div>
  <div class="row">
            <div class="span1 offset4">
          <strong>Sequence</strong>
        </div>
    <div class="span3">
      <strong>Checksum string</strong>
    </div>
  </div>
  <div class="row">
        <div class="span1 offset4">
          <%= text_field_tag 'product_location[release_sequence]',@product_location.release_sequence,:class => 'span1' %>
        </div>
            <div class="span1">
          <%= text_field_tag 'product_location[checksum_storage_file]',@product_location.checksum_storage_file,:class => 'span3' %>
        </div> 
      </div>
  

<script>  
  $('#product_location_conversion_id').change(function() {
    var productid = $('input#product_location_product_id').val();
    var conversionid = $('select#product_location_conversion_id').val();
    jQuery.get('<%=h url_for(:controller => 'product_locations',:action => 'get_details_by_conversion') %>'+'?product_id=' + productid + '&conversion_id=' + conversionid, function(data){
      $("#formdetails").html(data);
      
    });
  });

  $('#product_location_registration_date').datepicker({
    format: 'dd-mm-yyyy'
  });
 

</script>