<h3>Editing Product Registration</h3>

<div class="container">
  <% if @product_location.errors.any? %>
    <div class="alert alert-error">
      <% @product_location.errors.full_messages.each do |msg| %>
        <%= msg %>
      <% end %>
    </div>
  <% end %>

  <%= form_for(@product_location) do |f| %>
    <% if @product_location.conversion_id.to_s == "" %>
      <%= render :partial => 'formfields',:object => f %>
    <% else %>
      <div class="row">
        <div class="span8 well well-small">
          <div class="row">
            <div class="span1"><strong>Product ID</strong></div>
            <div class="span1"><strong>Conversion</strong></div>
            <div class="span2"><strong>CV-tool</strong></div>
            <div class="span1"><strong>Format</strong></div>
            <div class="span2"><strong>Area</strong></div>
            <div class="span2"><strong>Supplier</strong></div>
            <div class="span2"><strong>Data release</strong></div>
          </div>
          <div class="row">
            <div class="span1"><%= @product_location.product_id %></div>
            <div class="span1"><%= @product_location.conversion_id.to_s %></div>
            <div class="span2"><%= @product_location.conversiontool.to_s %></div>
            <div class="span1"><%= @product_location.product_format %></div>
            <div class="span2"><%= @product_location.area %></div>
            <div class="span2"><%= @product_location.supplier %></div>
            <div class="span1"><%= @product_location.data_release %></div>
          </div>
          <div class="row">
            <div class="span2"><strong>Data storage</strong></div>
          </div>
          <div class="row">
            <div class="span8"><%= @product_location.data_path %></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="span3">  
          <div class="row">
            <div class="span3"><strong>Product type</strong></div>
          </div>
          <div class="row">
            <div class="span3"><%= select_tag 'product_location[product_type]', options_for_select(['Test Product','Product'], @product_location.product_type) %></div>
          </div>

          <div class="row">
            <div class="span3"><strong>Registration date</strong></div>
          </div>
          <div class="row">
            <div class="span3 date-select">
              <%= text_field_tag 'product_location[registration_date]',@product_location.registration_date.strftime('%d-%m-%Y'), {:placeholder => "dd-mm-yyyy"} %>
             <% date_select 'product_location[registration_date]',@product_location.registration_date %>
            </div>
          </div>
        </div>

        <div class="span5">  
          <div class="row">
            <div class="span5"><strong>Remarks</strong></div>
          </div>
          <div class="row">
            <div class="span5">
              <%= text_area_tag 'product_location[remarks]', @product_location.remarks, :rows => 4, :class => 'span5' %>
            </div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="span3">
          <strong>Commercial product files</strong>
        </div>
      </div>
      <div class="row">
        <div class="span8">
          <%= text_area_tag 'product_location[storage_path]',@product_location.storage_path,:rows => 3,:class => 'span8' %>
        </div></div>

      <div class="row">
        <div class="span8"><strong>Internal files</strong></div>
      </div>

      <div class="row">
        <div class="span8"><%= text_area_tag 'product_location[internal_storage_path]',@product_location.internal_storage_path,:rows => 3,:class => 'span8' %></div>
      </div>
      <% end %>
      <div>
        <%= f.submit "Update", :class => 'btn btn-primary' %>
      </div>

  <% end %>

</div>

<div class="row">
  <div class="span12">
    <%= link_to :back, {:class => 'btn', :title => 'back'} do %>
      <i class="icon-arrow-left"></i>
    <% end %>
    <%= link_to product_locations_path, {:class => 'btn', :title => 'registered products overview'} do %>
      <i class="icon-arrow-up"></i>
    <% end %>
    <%= link_to @product_location, {:class => 'btn', :title => 'show'} do %>
      <i class="icon-eye-open"></i>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  $('#product_location_registration_date').datepicker({
    format: 'dd-mm-yyyy'
  })
</script>