<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand"><strong>Registered Products</strong></div>
      <div class="span">
        <%= form_tag product_locations_path, :method => 'get' do %>
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <div class="input-prepend input-append">
            <%= link_to 'New', new_product_location_path, :class => 'btn btn-info' %>
            <%= text_field_tag :search, params[:search], :placeholder=>" search",:class=>"span3",:size=>"16" %>
            <%= button_tag "Search", :name => nil, :type => :submit, :class => "btn" %>
            <%= button_tag "Reset", :name => 'reset',:class=>"btn",:type=>:submit %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="endless">
  <div class="row">
    <div class="offset1 span0_5"><strong><%= sortable 'product_locations.id', "ID" %></strong></div>
    <div class="span1"><strong><%= sortable 'product_id' %></strong></div>
    <div class="span1"><strong><%= sortable 'conversion_id' %></strong></div>
    <div class="span1"><strong><%= sortable 'product_format','Format' %></strong></div>
    <div class="span2"><strong><%= sortable 'area' %></strong></div>
    <div class="span3"><strong><%= sortable 'supplier' %></strong></div>
    <div class="span1"><strong><%= sortable 'data_release','Release' %></strong></div>
  </div>
  <%= render(:partial => "product_location", :collection => @product_locations) %>
</div>
<%= will_paginate(@product_locations) %>
<%= pageless(@product_locations.total_pages, product_locations_path, "#endless") %>


<%= link_to 'Register new product', new_product_location_path %>








