<h1>New product registration</h1>

  <% if @product_location.errors.any? %>

    <div class="alert alert-error">
      <% @product_location.errors.full_messages.each do |msg| %>
        <%= msg %>
      <% end %>
    </div>
  <% end %>

<%= form_for(@product_location) do |f| %>
<%= render :partial => 'formfields',:object => f %>
<%= hidden_field_tag "production_orderline_id",params[:production_orderline_id] %>
 <div style="clear:both">
  <%= f.submit "Create", :class => 'btn btn-primary' %>
</div>
<% end %>

<%= link_to 'Back', product_locations_path %>
