<p>
  <b>Product Id</b>
  <%=h @product_location.product_id %>
</p>

<p>
  <b>Conversion Id</b>
  <%=h @product_location.conversion_id %>
</p>

<p>
  <b>Reception Id</b>
  <%=h @product_location.reception_id %>
</p>

<p>
  <b>Product format</b>
  <%=h @product_location.product_format %>
</p>
<p>
  <b>Supplier</b>
  <%=h @product_location.supplier %>
</p>

<p>
  <b>Data release</b>
  <%=h @product_location.data_release %>
</p>


<p>
  <b>Area</b>
  <%=h @product_location.area %>
</p>

<p>
  <b>Data path</b>
  <pre><%=h @product_location.data_path %></pre>
</p>

<p>
  <b>Conversiontool</b>
  <%=h @product_location.conversiontool %>
</p>

<p>
  <b>Internal Product files</b>
  <pre><%=h @product_location.internal_storage_path %></pre>
</p>

<p>
  <b>Commercial Product files</b>
  <pre><%=h @product_location.storage_path %></pre>
</p>

<p>
  <b>Product Type</b>
  <%=h @product_location.product_type %>
</p>

<p>
  <b>Registration date</b>
  <%=h @product_location.registration_date %>
</p>

<p>
  <b>Remarks</b>
  <%=h @product_location.remarks %>
</p>


<div class="row">
  <div class="span12">
    <%= link_to :back, {:class => 'btn', :title => 'back'} do %>
      <i class="icon-arrow-left"></i>
    <% end %>
    <%= link_to product_locations_path, {:class => 'btn', :title => 'registered products overview'} do %>
      <i class="icon-arrow-up"></i>
    <% end %>
    <%= link_to edit_product_location_path(@product_location), :class => 'btn', :title => 'edit' do %>
      <i class="icon-edit"></i>
    <% end %>
  </div>
</div>
