/*!
 * Custom style classes and overides for bootstrap.min-3.3.4
 * Layout: "application"
 */

body {
    padding-top: 60px; /* To the height of the menu navbar */
}

#index {
    padding-top: 50px; /* To the height of the search navbar in indexes */
    padding-bottom: 100px; /* To be able to expand action menu on last lines */
}

/* Overide location of font-files to meet the assets-pipeline */
@font-face { 
  font-family: 'Glyphicons Halflings'; 
  src: url('../public/glyphicons-halflings-regular.eot');
  src: url('../public/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../public/glyphicons-halflings-regular.woff2') format('woff2'), url('../public/glyphicons-halflings-regular.woff') format('woff'), url('../public/glyphicons-halflings-regular.ttf') format('truetype'), url('../public/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

/* Overide bootstrap pre to remove gray background rounded border box */
pre {
    background-color: transparent;
    border: none;
    padding: 0px;
}

/* Showing pre as normal body text */
pre.text-pre {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

/* Firefox has some awkward fieldset styling involving width that interferes
 * with the responsive table. This cannot be overriden without a Firefox-specific hack
 * https://stackoverflow.com/questions/17408815/fieldset-resizes-wrong-appears-to-have-unremovable-min-width-min-content/17863685#17863685
 */
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

/* Make the ID column in indexes smaller */
th.id {
    width: 130px;
}

/* Rotate a element e.g. a icon as spinner */
.animate-rotate {
	animation-name: rotateThis;
	animation-duration: .67s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes rotateThis {
	from { transform: scale( 1 ) rotate( 0deg );   }
	to   { transform: scale( 1 ) rotate( 360deg ); }
}

/* Flash message */
.flash-alert {
    margin-top: 10px;
    float:right;
    margin-right: 0px;
    position:absolute;
    right:0px;
    z-index: 1000
}

/* Secondary sticky bar for searching */
.nav-subhead {
    z-index:999;
    width: 100%;
}
#nav_secondary.sticky {
    top:51px;
    left:0;
}

/* avoid round left borders in column search selects icw select2 */
.column_search .select2-choice,select2-default {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

/* labels for show views */
.show-label {
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 6px;
}

.row.footer {
    padding-bottom: 15px;
}

