.history li > span, .history ul > span {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding-right: 5px;
	padding-left: 5px;
}

.history li {
	margin-top: 1px;
	padding-left: 15px;
}
.history ul {
	padding-left: 15px;
	margin-left: -15px;
	padding-top: 0px;
	margin-top: 0px;
	background: url(icons/open.png) no-repeat 2px 5px;
	list-style-type: none;
}
.history ul[closed="yes"] {
	background: url(icons/closed.png) no-repeat 2px 5px;
}
.history ul[closed="yes"] > * {
	display: none;
}
.history ul[closed="yes"] > *:first-child {
	display: block;
}
.history .typeName {
	color: gray;
}
.history .changed {
	background-color: #fcff7f;
}
.history .changed.key {
  background-color: #eee;
}

.history .added {
	background-color: #8bff7f;
}
.history .removed {
	background-color: #fd7f7f;
}
.history .equal {
}

