/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.

*/

body {
    /*  margin: 0;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 15px;
    color: #333333;
    background-color: #ffffff;
}

body .navbar.secondnav {
    line-height: normal;
}

.container {
    margin-left: 19px;
    margin-right: auto;
}

.navbar-inner form {
    margin: 0px;
}

.navbar-inner form:after {
    line-height: 0px;
}

.secondnav .navbar-inner{
    padding-top: 5px;
    height: auto;
}

.secondnav .navbar-inner h4{
    margin-top: 5px;
}

.navbar .brand {
    font-size: 14px;
    margin-left: -39px;
    text-align: left;
}

pre.real-pre {
    border: none;
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 20px;
    background-color: transparent;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 12px;
}

pre.mono {
    border: none;
    background-color: transparent;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 17px;
}

.bounded {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    margin: 15px 0 15px 30px;
    padding: 29px 19px 14px;
    position: relative;
    padding-right: 0px;
}

.bounded h4,h5 {
    margin-top: -10px;
}

.bounded-header h4,h5 {
    margin-top: 0px;
}

.bounded-small {
    padding: 1px;
    text-align: center;
}

.bounded.flat-roof {
    margin-top: 0px;
}

.subclass {
    padding-left: 30px;
}

.subclass h5 {
    font-size: 1.1em;
    color:navy;
}

.deleted {
    text-decoration: line-through;
}

.orgfile {
    display: none;
}

.fadediv {
    opacity : 0.4;
}

.well a.icon {
    border-bottom: none
}

.well a {
    color:#000;
    text-decoration:none;
    border-bottom:1px dotted black;
}

.well a.noborder {
    border-bottom:none
}


/*
 Datepicker for Bootstrap
*/
.datepicker {
  top: 0;
  left: 0;
  padding: 4px;
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; /*.dow { border-top: 1px solid #ddd !important; }*/
}
.datepicker:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute; top: -7px; left: 6px;
}
.datepicker:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute; top: -6px; left: 7px;
}
.datepicker > div { display: none; }
.datepicker table { width: 100%; margin: 0; }
.datepicker td, .datepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker td.day:hover {
  background: #eeeeee; cursor: pointer;
}
.datepicker td.old, .datepicker td.new
{
  color: #999999;
}
.datepicker td.active, .datepicker td.active:hover {
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(top, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td.active:hover, .datepicker td.active:hover:hover, .datepicker td.active:active, .datepicker td.active:hover:active, .datepicker td.active.active, .datepicker td.active:hover.active, .datepicker td.active.disabled, .datepicker td.active:hover.disabled, .datepicker td.active[disabled], .datepicker td.active:hover[disabled] {
  background-color: #0044cc;
}
.datepicker td.active:active, .datepicker td.active:hover:active, .datepicker td.active.active, .datepicker td.active:hover.active {
  background-color: #003399 \9;
}
.datepicker td span {
  display: block;
  width: 47px;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 2px;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker td span:hover {
  background: #eeeeee;
}
.datepicker td span.active {
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(top, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td span.active:hover, .datepicker td span.active:active, .datepicker td span.active.active, .datepicker td span.active.disabled, .datepicker td span.active[disabled] {
  background-color: #0044cc;
}
.datepicker td span.active:active, .datepicker td span.active.active {
  background-color: #003399 \9;
}
.datepicker td span.old {
  color: #999999;
}
.datepicker th.switch {
  width: 145px;
}
.datepicker th.next, .datepicker th.prev {
  font-size: 19.5px;
}
.datepicker thead tr:first-child th {
  cursor: pointer;
}
.datepicker thead tr:first-child th:hover {
  background: #eeeeee;
}
.input-append.date .add-on i, .input-prepend.date .add-on i {
  display: block;
  cursor: pointer;
  width: 16px;
  height: 16px;
}

#error_explanation {
  background-color: #F2DEDE;
    border-color: #EED3D7;
    color: #B94A48;
    border-radius: 4px 4px 4px 4px;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    max-width: 870px;
    margin-bottom:15px;
}

#error_explanation ul {
list-style-type:none;
}

#error_explanation h2 {
  font-size: 18px;
    line-height: 20px;
}

#error_explanation h4 {
  font-size: 18px;
    line-height: 20px;
}

.modal.large{
    width: 920px;
    margin-left: -450px; /* - width/2 */
}

.modal.extra-large{
    width: 1024px;
    margin-left: -512px; /* - width/2 */
}

.pagination em {
    position: relative;
    color: #999999;
}


/* Optimus Dashboard */
.box-small {
    display: block;
    margin: 20px;
    position: relative;
    text-align: center;
}
.box-small-link {
    background-color: #FAFAFA;
    background-image: linear-gradient(to bottom, #FAFAFA, #EFEFEF);
    border: 1px solid #DDDDDD;
    border-radius: 2px 2px 2px 2px;
    box-shadow: none;
    color: #646464;
    display: block;
    font-size: 26px;
    margin-bottom: -1px;
    padding: 30px 0;
    text-shadow: 0 1px 1px #FFFFFF;
}
.box-small-link:hover {
    background-color: #4E525D;
    background-image: linear-gradient(to bottom, #4E525D, #3C4049);
    border: 1px solid #3C4049;
    color: #FFFFFF;
    margin-bottom: -1px;
    padding: 30px 0;
    text-decoration: none;
    text-shadow: 0 1px 1px #000000;
}
.box-small-title {
    color: #AAAAAA;
    font-size: 16px;
    margin: 10px auto;
    text-align: center;
    text-shadow: 0 1px 1px #FFFFFF;
}
.box {
    margin: 15px 0;
}
.box-header {
    background-color: #FAFAFA;
    background-image: linear-gradient(to bottom, #FAFAFA, #EFEFEF);
    border: 1px solid #DDDDDD;
    border-radius: 2px 2px 0 0;
    box-shadow: none;
    height: 20px;
    margin-bottom: -1px;
    overflow: hidden;
    padding: 10px;
}
.box-header h2 {
    color: #646464;
    float: left;
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
    margin-top: 2px;
    text-shadow: 0 1px 0 #FFFFFF;
}
.box-header h2 i {
    margin: 1px 3px 0 5px;
    opacity: 0.4;
}
.box-header .break {
    border-left: 1px solid #FCFCFC;
    border-right: 1px solid #DDDDDD;
    margin: -12px 10px -10px;
    padding: 12px 0 10px;
}
.box-header .box-icon {
    float: right;
    margin-top: 1px;
}
.box-header .box-icon i {
    opacity: 0.4;
    transition: all 0.1s ease-in-out 0s;
}
.box-header .box-icon i:hover {
    opacity: 0.8;
}
.box-header .box-icon a {
    margin: 0 5px;
}
.box-content {
    background: none repeat scroll 0 0 #FCFCFC;
    border: 1px solid #DDDDDD;
    border-radius: 0 0 2px 2px;
    margin-top: -1px;
    padding: 10px;
    overflow-y: auto;
}

.server-off {
  color:red;
}

.server-schedule-on {
    color: #00A000;
}

.thumbnail.server {
  background-color: white;
  padding-top: 1px;
  padding: 0;
  margin-bottom: 1em;
  border: 1px solid #000000;
}

.thumbnail.server .row {
    padding-left: 3px;
    padding-right: 3px;
}

.server.server-inactive {
   background-color: #DDDDDD;
}

.span4 .server input {
    margin-bottom: 3px;
    margin-top: 2px;
        line-height: 10pt;
        height: 9pt;
        font-size: 8pt;
}

.span4 .server.server-inactive input {
    margin-bottom: 0px;
    background-color: #DDDDDD;
}

.server-header {
    background-color: #000000;
    color: #FFFFFF;

}

.server-header.server-header-other-project {
    background-color: #808080;
}

.server-header.server-header-inactive {
    color: red;
}

.server-header.server-header-schedulable {
    color: #00A000;
}

.headertext {
  line-height: 44px;
}

.headerselect {
  margin-top: 6px;
}

.no-wrap {
    white-space: nowrap;
}

/* Chosen adaption for sub-nav appends and prepends */
.chzn-container-single .chzn-single {
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
    margin-left: -1px;
}

.input-prepend .chzn-container-single .chzn-single {
    border-radius        : 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius   : 0 3px 3px 0;
    margin-right: -1px;
    margin-left: 1px;
}

.input-append .chzn-container-single .chzn-single {
    border-radius        : 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius   : 3px 0 0 3px;    
}

.input-append .chzn-container-single:last-child .chzn-single {
    border-radius: 0 3px 3px 0;
}

.input-append .add-on, .input-prepend .add-on, .input-append .chzn-single, .input-prepend .chzn-single {
  border-radius: 0 ;
}

.input-prepend.input-append .add-on:last-child, .input-prepend.input-append .chzn-single:last-child {
  border-radius: 3px 0 0 13px;
}

/* spinner upper right corner in menu-bar */
.bar-spinner {
    margin-top: 8px;
    width: 20px;
    height: 20px;
    position: fixed;
    right:0;
    float: right;
    margin-right: 15px;
}

.bar-spinner-message {
    color: white;
    margin-right: 10px;
    margin-top: 8px;
    position: fixed;
    float: right;
    right: 0;
    margin-right: 45px;
}

.container1 > div, .container2 > div, .container3 > div {
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;

  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.bar-spinner .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}

.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }

.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
/* End spinner upper right corner in menu-bar */


table div.rotated {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  writing-mode:tb-rl;
  white-space: nowrap;
}

thead th.vertical {
  vertical-align: top;
  width: 20px;
}

table .vertical {
  white-space: nowrap;
}

.table tbody tr.grayed > td {
    background-color: #F9F9F9;
}

.table tbody tr.grayed > th {
    background-color: #F9F9F9;
}

.bounded-headered {
    padding: 0px 0px 14px;
    padding-right: 18px;
}

.bounded-headered .bounded-header {
    background-color: #F5F5F5;
    border-bottom: 1px solid #E3E3E3;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    padding: 9px;
    margin-right: -18px;

}

.bounded-header.row {
    margin-top: 0px;
}

.bounded-headered .row{
    margin-left: 0px;
    padding-right: 19px;
}

.bounded-headered [class*="span"] {
    margin-left: 9px;
    line-height: 13px;
    padding-top: 9px;
    padding-right: 0px;
}

.bounded-headered [class*="span"] .btn {
    margin-top: -4px;
}

.bounded-headered [class*="span"] .bounded-headered-align .btn {
  margin-top: 0px;
}

.bounded-header [class*="span"] {
    margin-left: 0px;
    padding-top: 0px;
}

.bounded-headered input[class*="span"] {
    margin-left: 0px;
    padding-top: 4px;
}

.bounded-headered [class="span4"] {
    padding-right: 0px;;
}

.bounded-headered textarea[class*="span"] {
    margin-left: 0px;
}

.bounded-headered select[class*="span"] {
    margin-left: 0px;
}

.bounded-headered span[class*="uneditable-input"] {
    padding-top: 4px;
    padding-bottom: 5px;
    margin-left: 0px;
}

.select2-container[class*="span"] {
    padding-top: 0px;
    margin-left: 0px;
}

.input-bar .has-switch {
  vertical-align: top;
}
/*[class^="icon-"],
[class*=" icon-"] {
       background-image: url("/webmis/public/glyphicons-halflings.png");
}

.icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:focus > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > li > a:focus > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:focus > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"],
.dropdown-submenu:focus > a > [class*=" icon-"] {
   background-image: url("/webmis/public/glyphicons-halflings-white.png");
}*/

/*  Font Awesome
    the iconic font designed for use with Twitter Bootstrap
    -------------------------------------------------------
    The full suite of pictographic icons, examples, and documentation
    can be found at: http://fortawesome.github.com/Font-Awesome/

    License
    -------------------------------------------------------
    The Font Awesome webfont, CSS, and LESS files are licensed under CC BY 3.0:
    http://creativecommons.org/licenses/by/3.0/ A mention of
    'Font Awesome - http://fortawesome.github.com/Font-Awesome' in human-readable
    source code is considered acceptable attribution (most common on the web).
    If human readable source code is not available to the end user, a mention in
    an 'About' or 'Credits' screen is considered acceptable (most common in desktop
    or mobile software).

    Contact
    -------------------------------------------------------
    Email: dave@davegandy.com
    Twitter: http://twitter.com/fortaweso_me
    Work: Lead Product Designer @ http://kyruus.com

    */
@font-face {
  font-family: 'FontAwesome';
  src: url('/webmis/public/stylesheets/fontawesome-webfont.eot');
  src: url('/webmis/public/fontawesome-webfont.eot?#iefix'), url('/webmis/public/fontawesome-webfont.woff'), url('/webmis/public/fontawesome-webfont.ttf'), url('/webmis/public/fontawesome-webfont.svg#FontAwesome');
  font-weight: normal;
  font-style: normal;
}
/* sprites.less reset */
[class^="icon-"],
[class*=" icon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
}
li[class^="icon-"],
li[class*=" icon-"] {
  display: block;
}
/*  Font Awesome styles
    ------------------------------------------------------- */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
}
/* makes the font 33% larger relative to the icon container */
.icon-large:before {
  vertical-align: middle;
  font-size: 1.3333333333333333em;
}
.btn [class^="icon-"],
.nav-tabs [class^="icon-"],
.btn [class*=" icon-"],
.nav-tabs [class*=" icon-"] {
  /* keeps button heights with and without icons the same */

  line-height: .9em;
}
li [class^="icon-"],
li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
li .icon-large:before,
li .icon-large:before {
  /* 1.5 increased font size for icon-large * 1.25 width */

  width: 1.875em;
}
ul.icons {
  list-style-type: none;
  margin-left: 2em;
  text-indent: -0.8em;
}
ul.icons li [class^="icon-"],
ul.icons li [class*=" icon-"] {
  width: .8em;
}
ul.icons li .icon-large:before,
ul.icons li .icon-large:before {
  /* 1.5 increased font size for icon-large * 1.25 width */

  vertical-align: initial;
}
/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons */
.icon-glass:before {
  content: "\f000";
}
.icon-music:before {
  content: "\f001";
}
.icon-search:before {
  content: "\f002";
}
.icon-envelope:before {
  content: "\f003";
}
.icon-heart:before {
  content: "\f004";
}
.icon-star:before {
  content: "\f005";
}
.icon-star-empty:before {
  content: "\f006";
}
.icon-user:before {
  content: "\f007";
}
.icon-film:before {
  content: "\f008";
}
.icon-th-large:before {
  content: "\f009";
}
.icon-th:before {
  content: "\f00a";
}
.icon-th-list:before {
  content: "\f00b";
}
.icon-ok:before {
  content: "\f00c";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-zoom-in:before {
  content: "\f00e";
}
.icon-zoom-out:before {
  content: "\f010";
}
.icon-off:before {
  content: "\f011";
}
.icon-signal:before {
  content: "\f012";
}
.icon-cog:before {
  content: "\f013";
}
.icon-trash:before {
  content: "\f014";
}
.icon-home:before {
  content: "\f015";
}
.icon-file:before {
  content: "\f016";
}
.icon-time:before {
  content: "\f017";
}
.icon-road:before {
  content: "\f018";
}
.icon-download-alt:before {
  content: "\f019";
}
.icon-download:before {
  content: "\f01a";
}
.icon-upload:before {
  content: "\f01b";
}
.icon-inbox:before {
  content: "\f01c";
}
.icon-play-circle:before {
  content: "\f01d";
}
.icon-repeat:before {
  content: "\f01e";
}
/* \f020 is not a valid unicode character. all shifted one down */
.icon-refresh:before {
  content: "\f021";
}
.icon-list-alt:before {
  content: "\f022";
}
.icon-lock:before {
  content: "\f023";
}
.icon-flag:before {
  content: "\f024";
}
.icon-headphones:before {
  content: "\f025";
}
.icon-volume-off:before {
  content: "\f026";
}
.icon-volume-down:before {
  content: "\f027";
}
.icon-volume-up:before {
  content: "\f028";
}
.icon-qrcode:before {
  content: "\f029";
}
.icon-barcode:before {
  content: "\f02a";
}
.icon-tag:before {
  content: "\f02b";
}
.icon-tags:before {
  content: "\f02c";
}
.icon-book:before {
  content: "\f02d";
}
.icon-bookmark:before {
  content: "\f02e";
}
.icon-print:before {
  content: "\f02f";
}
.icon-camera:before {
  content: "\f030";
}
.icon-font:before {
  content: "\f031";
}
.icon-bold:before {
  content: "\f032";
}
.icon-italic:before {
  content: "\f033";
}
.icon-text-height:before {
  content: "\f034";
}
.icon-text-width:before {
  content: "\f035";
}
.icon-align-left:before {
  content: "\f036";
}
.icon-align-center:before {
  content: "\f037";
}
.icon-align-right:before {
  content: "\f038";
}
.icon-align-justify:before {
  content: "\f039";
}
.icon-list:before {
  content: "\f03a";
}
.icon-indent-left:before {
  content: "\f03b";
}
.icon-indent-right:before {
  content: "\f03c";
}
.icon-facetime-video:before {
  content: "\f03d";
}
.icon-picture:before {
  content: "\f03e";
}
.icon-pencil:before {
  content: "\f040";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-adjust:before {
  content: "\f042";
}
.icon-tint:before {
  content: "\f043";
}
.icon-edit:before {
  content: "\f044";
}
.icon-share:before {
  content: "\f045";
}
.icon-check:before {
  content: "\f046";
}
.icon-move:before {
  content: "\f047";
}
.icon-step-backward:before {
  content: "\f048";
}
.icon-fast-backward:before {
  content: "\f049";
}
.icon-backward:before {
  content: "\f04a";
}
.icon-play:before {
  content: "\f04b";
}
.icon-pause:before {
  content: "\f04c";
}
.icon-stop:before {
  content: "\f04d";
}
.icon-forward:before {
  content: "\f04e";
}
.icon-fast-forward:before {
  content: "\f050";
}
.icon-step-forward:before {
  content: "\f051";
}
.icon-eject:before {
  content: "\f052";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-plus-sign:before {
  content: "\f055";
}
.icon-minus-sign:before {
  content: "\f056";
}
.icon-remove-sign:before {
  content: "\f057";
}
.icon-ok-sign:before {
  content: "\f058";
}
.icon-question-sign:before {
  content: "\f059";
}
.icon-info-sign:before {
  content: "\f05a";
}
.icon-screenshot:before {
  content: "\f05b";
}
.icon-remove-circle:before {
  content: "\f05c";
}
.icon-ok-circle:before {
  content: "\f05d";
}
.icon-ban-circle:before {
  content: "\f05e";
}
.icon-arrow-left:before {
  content: "\f060";
}
.icon-arrow-right:before {
  content: "\f061";
}
.icon-arrow-up:before {
  content: "\f062";
}
.icon-arrow-down:before {
  content: "\f063";
}
.icon-share-alt:before {
  content: "\f064";
}
.icon-resize-full:before {
  content: "\f065";
}
.icon-resize-small:before {
  content: "\f066";
}
.icon-plus:before {
  content: "\f067";
}
.icon-minus:before {
  content: "\f068";
}
.icon-asterisk:before {
  content: "\f069";
}
.icon-exclamation-sign:before {
  content: "\f06a";
}
.icon-gift:before {
  content: "\f06b";
}
.icon-leaf:before {
  content: "\f06c";
}
.icon-fire:before {
  content: "\f06d";
}
.icon-eye-open:before {
  content: "\f06e";
}
.icon-eye-close:before {
  content: "\f070";
}
.icon-warning-sign:before {
  content: "\f071";
}
.icon-plane:before {
  content: "\f072";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-random:before {
  content: "\f074";
}
.icon-comment:before {
  content: "\f075";
}
.icon-magnet:before {
  content: "\f076";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-retweet:before {
  content: "\f079";
}
.icon-shopping-cart:before {
  content: "\f07a";
}
.icon-folder-close:before {
  content: "\f07b";
}
.icon-folder-open:before {
  content: "\f07c";
}
.icon-resize-vertical:before {
  content: "\f07d";
}
.icon-resize-horizontal:before {
  content: "\f07e";
}
.icon-bar-chart:before {
  content: "\f080";
}
.icon-twitter-sign:before {
  content: "\f081";
}
.icon-facebook-sign:before {
  content: "\f082";
}
.icon-camera-retro:before {
  content: "\f083";
}
.icon-key:before {
  content: "\f084";
}
.icon-cogs:before {
  content: "\f085";
}
.icon-comments:before {
  content: "\f086";
}
.icon-thumbs-up:before {
  content: "\f087";
}
.icon-thumbs-down:before {
  content: "\f088";
}
.icon-star-half:before {
  content: "\f089";
}
.icon-heart-empty:before {
  content: "\f08a";
}
.icon-signout:before {
  content: "\f08b";
}
.icon-linkedin-sign:before {
  content: "\f08c";
}
.icon-pushpin:before {
  content: "\f08d";
}
.icon-external-link:before {
  content: "\f08e";
}
.icon-signin:before {
  content: "\f090";
}
.icon-trophy:before {
  content: "\f091";
}
.icon-github-sign:before {
  content: "\f092";
}
.icon-upload-alt:before {
  content: "\f093";
}
.icon-lemon:before {
  content: "\f094";
}
.icon-phone:before {
  content: "\f095";
}
.icon-check-empty:before {
  content: "\f096";
}
.icon-bookmark-empty:before {
  content: "\f097";
}
.icon-phone-sign:before {
  content: "\f098";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-github:before {
  content: "\f09b";
}
.icon-unlock:before {
  content: "\f09c";
}
.icon-credit-card:before {
  content: "\f09d";
}
.icon-rss:before {
  content: "\f09e";
}
.icon-hdd:before {
  content: "\f0a0";
}
.icon-bullhorn:before {
  content: "\f0a1";
}
.icon-bell:before {
  content: "\f0a2";
}
.icon-certificate:before {
  content: "\f0a3";
}
.icon-hand-right:before {
  content: "\f0a4";
}
.icon-hand-left:before {
  content: "\f0a5";
}
.icon-hand-up:before {
  content: "\f0a6";
}
.icon-hand-down:before {
  content: "\f0a7";
}
.icon-circle-arrow-left:before {
  content: "\f0a8";
}
.icon-circle-arrow-right:before {
  content: "\f0a9";
}
.icon-circle-arrow-up:before {
  content: "\f0aa";
}
.icon-circle-arrow-down:before {
  content: "\f0ab";
}
.icon-globe:before {
  content: "\f0ac";
}
.icon-wrench:before {
  content: "\f0ad";
}
.icon-tasks:before {
  content: "\f0ae";
}
.icon-filter:before {
  content: "\f0b0";
}
.icon-briefcase:before {
  content: "\f0b1";
}
.icon-fullscreen:before {
  content: "\f0b2";
}
.icon-group:before {
  content: "\f0c0";
}
.icon-link:before {
  content: "\f0c1";
}
.icon-cloud:before {
  content: "\f0c2";
}
.icon-beaker:before {
  content: "\f0c3";
}
.icon-cut:before {
  content: "\f0c4";
}
.icon-copy:before {
  content: "\f0c5";
}
.icon-paper-clip:before {
  content: "\f0c6";
}
.icon-save:before {
  content: "\f0c7";
}
.icon-sign-blank:before {
  content: "\f0c8";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-list-ul:before {
  content: "\f0ca";
}
.icon-list-ol:before {
  content: "\f0cb";
}
.icon-strikethrough:before {
  content: "\f0cc";
}
.icon-underline:before {
  content: "\f0cd";
}
.icon-table:before {
  content: "\f0ce";
}
.icon-magic:before {
  content: "\f0d0";
}
.icon-truck:before {
  content: "\f0d1";
}
.icon-pinterest:before {
  content: "\f0d2";
}
.icon-pinterest-sign:before {
  content: "\f0d3";
}
.icon-google-plus-sign:before {
  content: "\f0d4";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-money:before {
  content: "\f0d6";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-caret-up:before {
  content: "\f0d8";
}
.icon-caret-left:before {
  content: "\f0d9";
}
.icon-caret-right:before {
  content: "\f0da";
}
.icon-columns:before {
  content: "\f0db";
}
.icon-sort:before {
  content: "\f0dc";
}
.icon-sort-down:before {
  content: "\f0dd";
}
.icon-sort-up:before {
  content: "\f0de";
}
.icon-envelope-alt:before {
  content: "\f0e0";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-undo:before {
  content: "\f0e2";
}
.icon-legal:before {
  content: "\f0e3";
}
.icon-dashboard:before {
  content: "\f0e4";
}
.icon-comment-alt:before {
  content: "\f0e5";
}
.icon-comments-alt:before {
  content: "\f0e6";
}
.icon-bolt:before {
  content: "\f0e7";
}
.icon-sitemap:before {
  content: "\f0e8";
}
.icon-umbrella:before {
  content: "\f0e9";
}
.icon-paste:before {
  content: "\f0ea";
}
.icon-user-md:before {
  content: "\f200";
}

#endless {
    padding-top: 4.5em;
    padding-bottom: 55px;
}

@media (min-width: 979px) and (max-width: 1198px) {
    #endless {
        padding-top: 11em;
    }
}

.label {
    margin-top: 1px;
}

.label, .badge {
    font-weight: normal;
}

.row {
    margin-left: -30px;
    margin-top: 0.7px;
}

.input-prepend .add-on, .input-prepend .btn {
    margin-right: -3px;
}

.span1_5 {
    width:100px;
    margin-right:52px;
}

.span0_5 {
    width:35px;
/*    margin-right:52px;*/
}

.offset0_5 {
    margin-left:90px;
}

.span_tiny {
    margin-right: -20px;
}

.deleted_text {
    text-decoration: line-through
}

.red_text {
    color: #C32A1F
}

.light_red_text {
    color: #F75D59;
}

.grey_text {
    color: #736F6E;
}

.btn_align_select2 {
    margin-top: 8px;
}

.btn_align_chosen {
    margin-top: -24px;
}

.centerspan {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

#bug_tracker_id {
    background-color: #FFFFFF;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
    height: 20px;
    margin-top: 0px;
}

.navbar .btn, .navbar .btn-group .input-bar {
    vertical-align: top;
    margin-top: 0px;
}

.column_search {
    width: 98%;
}

input,select[class^="column_search"]  {
/*    height: 18px;*/
    padding: 2px;
    border-color: #eeeeee;
    color: gray;
    font-size: 11px;
}

.tooltip-inner {
    max-width: 800px;
}

select[class*="validate"] {
  display: block;
  visibility: hidden;
  position: absolute;
  margin-top: 4px;
  margin-left: 4px;
  width: 190px;
  height: 20px;
 }

 .navbar .webmis-menu> li > a {
     padding-left: 10px;
     padding-right: 10px;
}

pre.raw {
    border: none;
    background: none;
    padding: 0px;
}

del.wavy {
   -moz-text-decoration-style: wavy;
}

del.dashed {
   -moz-text-decoration-style: dashed;
}

.important-icon {
    color: indianred;
}

small.condensed{
    line-height: 12px;
}

table.condensed td{
    line-height: 13px;
}

.chzn-container {
    font-size: 12px;
    font-weight: normal;
}

.chzn-container .chzn-results li {
    padding-left: 3px;
    padding-right: 3px;
    font-size: 11px;
    font-weight: normal;
    line-height: 12px;
}
.chzn-container-single .chzn-single span {
    margin-left: -3px;
    margin-right: 3px;
}

.chzn-container-single .chzn-single abbr {

        font-size: 11px;
}
