<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand"><strong>Countries</strong></div>
      <div class="span">
        <%= form_tag countries_path, :method => 'get' do %>
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <div class="input-append input-prepend">
            <%= link_to 'New', {:action => :new,:controller => :countries},{:class => 'btn btn-info'} %>
            <%= text_field_tag :q, params[:q], :placeholder=>" search",:class=>"span3",:size=>"16" %>
            <%= button_tag "Search", :name => nil, :type => :submit, :class => "btn" %>
            <%= button_tag "Reset", :name => 'reset',:class=>"btn",:type=>:submit %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="endless">
  <div class="row">
    <div class="offset1 span3"><strong><%=  sortable "name" %></strong></div>
    <div class="span1"><strong><%= sortable "country_iso_code","ISO-2" %></strong></div>
    <div class="span1"><strong><%= sortable "country_iso3_code","ISO-3" %></strong></div>
    <div class="span3"><strong><%= sortable "parent_id","Continent" %></strong></div>
    <div class="span3"><strong><%= sortable "isactive", 'Active' %></strong></div> 
  </div>

  <%= render(:partial => "country", :collection => @countries) %>
</div>
<%= will_paginate(@countries) %>
<%= pageless(@countries.total_pages, url_for(:controller => :countries, :action => :index), "#endless") %>
<footer class="subnav subnav-fixed" style="bottom:0;top:auto;margin-bottom: 0px;">
</footer>

