<h4>Country</h4>
<div class="row">
  <div class="span10 bounded">
  <div class="row">
    <div class="span3"><strong>Name</strong></div>
    <div class="span1"><strong>ISO-3</strong></div>
    <div class="span1"><strong>ISO-2</strong></div>
    <div class="span1"><strong>Population</strong></div>
    <div class="span1"><strong>Dakota ID</strong></div>
    <div class="span2"><strong>Continent</strong></div>
    <div class="span1"><strong>Active</strong></div>
  </div>
  <div class="row">
    <div class="span3"><span class="input-xlarge uneditable-input span3"><%= @country.name %></span></div>
    <div class="span1"><span class="input-xlarge uneditable-input span1"><%= @country.country_iso3_code %></span></div>
    <div class="span1"><span class="input-xlarge uneditable-input span1"><%= @country.country_iso_code %></span></div>
    <div class="span1"><span class="input-xlarge uneditable-input span1"><%= @country.population %></span></div>
    <div class="span1"><span class="input-xlarge uneditable-input span1"><%= @country.dakota_id %></span></div>
    <div class="span2"><span class="input-xlarge uneditable-input span2"><%= @country.parent.name if @country.parent_id %></span></div>
    <div class="span1"><%= bootstrap_boolean(@country.isactive) %></div>
  </div>
<div class="row">
  <div class="span9"><br /><strong>Description</strong></div>
  <div class="span1"><strong class="pull-right">Ignore as DS region</strong></div>
</div>
<div class="row">
  <div class="span9"><pre><%= @country.description %></pre></div>
  <div class="span1"><%= bootstrap_boolean(@country.ignore_ds_regions_yn) %></div>
</div>
</div>
 </div>

<div class="row">
  <div class="span12">
    <%= link_to edit_country_path(@country), :class => "btn",:title => "edit" do %>
      <i class="icon-edit"></i>
    <% end %>
    &nbsp;
    <%= link_to(:back,:class=>'btn',:title=>'back') do %>
      <i class="icon icon-arrow-left"></i>
    <% end %>
    &nbsp;
    <%= link_to(regions_path,:class=>'btn',:title=>'Regions overview') do %>
      <i class="icon icon-arrow-up"></i>
    <% end %>
  </div>
</div>
