
<div class="row">

<div class="span2">
  
  <%  if true || @prevtime != api_log.created_at.strftime("%d-%m-%Y %H:%M") %>
    <div><%= api_log.created_at.strftime("%d-%m-%Y %H:%M") %></div>
   <% end %>
  <% if @prev_ip != api_log.ip %>  
    <div> <%= api_log.ip %></div>
  <% end  %>
  <% if @prev_ip != api_log.ip %>         
    <div><%= api_log.level %></div>
  <% end %>
  <% if @prev_controller != api_log.controller %> 
    <div><%= api_log.controller %></div>
  <% end %>
  <% if @prev_action != api_log.action %> 
    <div><%= api_log.action %></div>
  <% end %>
  
  <% @prevtime = api_log.created_at.strftime("%d-%m-%Y %H:%M") %>
  <% @prev_ip = api_log.ip %>
  <% @prev_level = api_log.level %>
  <% @prev_controller = api_log.controller %>
  <% @prev_action = api_log.action %>
</div>
<div class="span10"><%= api_log.message %></div>

</div>