<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand"><strong>ApiLogs</strong></div>
      <div class="span7" style="margin-left: 75px">
        <%= form_tag api_logs_path, :method => 'get' do %>
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <div class="input-append">
            <%= text_field_tag :search, params[:search],:class => 'span2',:placeholder => 'Free search' %>
            <%= button_tag "Search", :name => nil, :type => :submit, :class => "btn" %>
            <%= button_tag "Reset", :name => 'reset',:class=>"btn",:type=>:submit %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="endless">
   <div class="row">
      <div class="span2"><strong><%= sortable "created_at", 'Time' %></strong></div>
      <div class="span1"><strong><%= sortable "Ip", 'Ip' %></strong></div>
      <div class="span1"><strong><%= sortable "Level" %></strong></div>
      <div class="span1"><strong><%= sortable "controller", 'Controller' %></strong></div>
      <div class="span2"><strong><%= sortable "action",'Action' %></strong></div>
      <div class="span4"><strong><%= sortable "message",'Message' %></strong></div>
  </div>
  
    
    <%=  render :partial => 'api_log',  :collection => @api_logs %>
    
 
</div>
<%= will_paginate(@api_logs) %>
<%= pageless(@api_logs.total_pages, url_for(:action => :index,:controller => :api_logs), "#endless") %>
<footer class="subnav subnav-fixed" style="bottom:0;top:auto;margin-bottom: 0px;">
  &nbsp;
</footer>

</table>

<br />
