<p id="notice"><%= notice %></p>

<p>
  <b>Ip:</b>
  <%= @api_log.ip %>
</p>

<p>
  <b>Session:</b>
  <%= @api_log.session %>
</p>

<p>
  <b>User:</b>
  <%= @api_log.user %>
</p>

<p>
  <b>Level:</b>
  <%= @api_log.level %>
</p>

<p>
  <b>Controller:</b>
  <%= @api_log.controller %>
</p>

<p>
  <b>Action:</b>
  <%= @api_log.action %>
</p>

<p>
  <b>Message:</b>
  <%= @api_log.message %>
</p>


<%= link_to 'Edit', edit_api_log_path(@api_log) %> |
<%= link_to 'Back', api_logs_path %>
