<%= form_for(@included_article_license_purchase_orderline) do |f| %>
  <% if @included_article_license_purchase_orderline.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@included_article_license_purchase_orderline.errors.count, "error") %> prohibited this included_article_license_purchase_orderline from being saved:</h2>

      <ul>
      <% @included_article_license_purchase_orderline.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :shipping_orderline_id %><br />
    <%= f.number_field :shipping_orderline_id %>
  </div>
  <div class="field">
    <%= f.label :article_license_id %><br />
    <%= f.number_field :article_license_id %>
  </div>
  <div class="field">
    <%= f.label :purchase_orderline_id %><br />
    <%= f.number_field :purchase_orderline_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
