<h1>Editing included_article_license_purchase_orderline</h1>

<%= render 'form' %>

<%= link_to 'Show', @included_article_license_purchase_orderline %> |
<%= link_to 'Back', included_article_license_purchase_orderlines_path %>
