<h1>Listing included_article_license_purchase_orderlines</h1>

<table>
  <tr>
    <th>Shipping orderline</th>
    <th>Article license</th>
    <th>Purchase orderline</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @included_article_license_purchase_orderlines.each do |included_article_license_purchase_orderline| %>
  <tr>
    <td><%= included_article_license_purchase_orderline.shipping_orderline_id %></td>
    <td><%= included_article_license_purchase_orderline.article_license_id %></td>
    <td><%= included_article_license_purchase_orderline.purchase_orderline_id %></td>
    <td><%= link_to 'Show', included_article_license_purchase_orderline %></td>
    <td><%= link_to 'Edit', edit_included_article_license_purchase_orderline_path(included_article_license_purchase_orderline) %></td>
    <td><%= link_to 'Destroy', included_article_license_purchase_orderline, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Included article license purchase orderline', new_included_article_license_purchase_orderline_path %>
