<p id="notice"><%= notice %></p>

<p>
  <b>Shipping orderline:</b>
  <%= @included_article_license_purchase_orderline.shipping_orderline_id %>
</p>

<p>
  <b>Article license:</b>
  <%= @included_article_license_purchase_orderline.article_license_id %>
</p>

<p>
  <b>Purchase orderline:</b>
  <%= @included_article_license_purchase_orderline.purchase_orderline_id %>
</p>


<%= link_to 'Edit', edit_included_article_license_purchase_orderline_path(@included_article_license_purchase_orderline) %> |
<%= link_to 'Back', included_article_license_purchase_orderlines_path %>
