  <div class="row">
  <div class="span1">
      <div class="btn-group">
        <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
        <%= design_tag.id %>
        <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to({:controller => :design_tags,:action => 'show',:id => design_tag.id}) do %>
            <i class="icon-info-sign"></i>&nbsp;show
            <% end %>
          </li>
          <li>
            <%= link_to(edit_design_tag_path(design_tag)) do %>
            <i class="icon-edit"></i>&nbsp;edit
            <% end %>
          </li>
     
          <li>
            <%= link_to(design_tag, method: :delete, data: { confirm: 'Are you sure?' }) do %>
            <i class="icon-trash"></i>&nbsp;delete
            <% end %>            
          </li>
        </ul>
      </div>
  </div>    
    <div class="span2"><%= design_tag.name %></div>
    <div class="span3">&nbsp;<%= design_tag.description %></div>
    <div class="span1">&nbsp;<%= design_tag.tag_type %></div>
    <div class="span4">&nbsp;
      <%= design_tag.extended_string %>
      <%  if design_tag.parent_id %>(<%= link_to design_tag.parent_id,:controller => :design_tags,:action => 'show',:id => design_tag.parent_id %>)<% end %>
    </div>
  </div>