<%= form_for(@design_tag) do |f| %>
  <% if @design_tag.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@design_tag.errors.count, "error") %> prohibited this design_tag from being saved:</h4>

      <ul>
      <% @design_tag.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="span2"><strong>Name</strong></div>
  <div class="span3"><strong>Description</strong></div>
</div>

<div class="row">
  <div class="span2"><%= f.text_field :name,:class => 'span2' %></div>
  <div class="span3"><%= f.text_field :description,:class => 'span3' %></div>
</div>

<div class="row">
  <div class="span5"><strong>Parent</strong></div>
</div>

<div class="row">
  <div class="span5"><%= f.select :parent_id, [''] + DesignTag.tagstrings,{:include_blank => true},{:data=>{:placeholder=>"Optional Parent tag"},:class => 'span5'} %></div>
</div>

<div class="row">
  <div class="span5"><strong>Tag Type</strong></div>
</div>

<div class="row">
  <div class="span5"><%= f.select :tag_type ,options_for_select(DesignTag.data_types_select),{:class => 'span5'} %></div>
</div>

<div class="row">
  &nbsp;
</div>

<div class="row">
  <div class="actions span3">
    <%= f.submit 'Save',:class => 'btn' %>
  </div>
</div>
<% end %>

<script type="text/javascript">
          $("#design_tag_parent_id").chosen({search_contains: true,allow_single_deselect: true});
</script>

<script type="text/javascript">
          $("#design_tag_tag_type").chosen({search_contains: true});
</script>