

  <%= content_tag :ul, :class => 'tree' do %>
    <% for child in current_tag.keys do %>
        <%= content_tag :li do %>
        <%= link_to  child.name, :action => 'edit', :id => child.id %>

        <%= render :partial => "tree", :locals => {:current_tag => current_tag[child] }%>
  <% end %>
      <% end %>
    <% end if current_tag.values.size > 0  %>


