<h4>Editing design tag</h4>
<div class="row">
  <div class="span5 bounded">
    <%= render 'form' %>
  </div>
</div>


|
<%= link_to(@design_tag) do %>
  <i class="icon-eye-open" title="show">&nbsp;</i>
<% end %>
|
<%= link_to(design_tags_path) do %>
  <i class="icon-arrow-left"  title="back">&nbsp;</i>
<% end %>|
