<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand"><strong>Design tags</strong></div>
      <div class="span">
        <%= form_tag design_tags_path, :method => 'get' do %>
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <div class="input-prepend input-append">
            <%= link_to 'New', new_design_tag_path,:class => 'btn btn-info' %>
            <%= text_field_tag :search, params[:search],:class => 'span2',:placeholder => 'search name or description' %>
            <%= button_tag "Search", :name => nil, :type => :submit, :class => "btn" %>
            <%= button_tag "Reset", :name => 'reset',:class=>"btn",:type=>:submit %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="endless">
  <div class="row">
    <div class="offset1 span2"><strong><%= sortable "name" %></strong></div>
    <div class="span3"><strong><%= sortable "description" %></strong></div>
    <div class="span1"><strong><%= sortable "tag_type" %></strong></div>
    <div class="span4"><strong><%= sortable "parent_id","Parent" %></strong></div>
  </div>
  <%= render(:partial => "design_tag", :collection => @design_tags) %>
</div>
<%= will_paginate(@design_tags) %>
<%= pageless(@design_tags.total_pages, design_tags_path, "#endless") %>