<h4>Listing design tags</h4>
<style type="text/css">
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
    background-image: url(<%=  Rails.application.config.assets.prefix + "page.png" %>);
    background-position: 0 1px;
    background-repeat: no-repeat;
    padding-left: 20px;
}
li.folder {
    background-image: url(<%=  Rails.application.config.assets.prefix + "folder.png" %>);
}

a {
    color: #000000;
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}</style>



<div class="tree">
  <ul class="tree">
<% @design_tags.each do |design_tag| %>
  <%= render :partial => "tree", :locals => {:current_tag => design_tag.hash_tree}%>
<% end %>
</ul>
</div>
<br />
<script type="javascript">
// Execute this after the site is loaded.
$(function() {
    // Find list items representing folders and
    // style them accordingly.  Also, turn them
    // into links that can expand/collapse the
    // tree leaf.
    $('li > ul').each(function(i) {
        // Find this list's parent list item.
        var parent_li = $(this).parent('li');

        // Style the list item as folder.
        parent_li.addClass('folder');

        // Temporarily remove the list from the
        // parent list item, wrap the remaining
        // text in an anchor, then reattach it.
        var sub_ul = $(this).remove();
        parent_li.wrapInner('<a/>').find('a').click(function() {
            // Make the anchor toggle the leaf display.
            sub_ul.toggle();
        });
        parent_li.append(sub_ul);
    });

    // Hide all lists except the outermost.
    $('ul ul').hide();
});
</script>

<%= link_to 'New Design tag', new_design_tag_path %>
