<h4>Listing supplier tags tree</h4>
<%= stylesheet_link_tag    "jquery.treeview", :media => "all" %>
<%= javascript_include_tag 'jquery.treeview' %> 

<div class="row">
<div class="tree bounded well-small span3">
	<div id="treecontrol" class="well well-small">
    <a title="Collapse the entire tree below" href="#"><i class="icon-minus-sign">&nbsp;</i></a>
<a title="Expand the entire tree below" href="#"><i class="icon-plus-sign">&nbsp;</i></a>&nbsp;
<small>Supplier&nbsp;<i class="icon-arrow-right">&nbsp;</i>Datatype&nbsp;<i class="icon-arrow-right">&nbsp;</i>Data release</small>
</div>
  <ul id="tree">
    <strong>Supplier</strong>
    <% @design_tags.each do |design_tag| %>
      <%= render :partial => "tree", :locals => {:current_tag => design_tag.hash_tree}%>
    <% end %>
  </ul>
</div>
  </div>
<div class="row">
  <div class="span2">
    <%= link_to(new_design_tag_path) do %>
    <i title="New Design tag" class="icon-plus">&nbsp;</i>New design tag
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $("#tree").treeview({collapsed: true,control: "#treecontrol"});
</script>