<h4>New design tag</h4>
<div class="row">
  <div class="span5 bounded">
    <%= render 'form' %>
  </div>
</div>

|
<%= link_to(design_tags_path) do %>
  <i class="icon-arrow-left" title="back">&nbsp;</i>
<% end %>
|