<p id="notice"><%= notice %></p>
<h4>Design tag <%= @design_tag.name %></h4>
<div class="row">
  <div class="span5 bounded">
    <div class="row">
      <div class="span2"><strong>Name</strong></div>
      <div class="span3"><strong>Description</strong></div>
    </div>

    <div class="row">
      <div class="span2"><%= @design_tag.name %></div>
      <div class="span3"><%= @design_tag.description %></div>
    </div>

    <div class="row">
      &nbsp;
    </div>    

    <div class="row">
      <div class="span5"><strong>Parent</strong></div>
    </div>

    <div class="row">
      <div class="span5">
        <%= @design_tag.extended_string %>
        <% if @design_tag.parent_id %>(<%= link_to @design_tag.parent_id,:controller => :design_tags,:action => 'show',:id => @design_tag.parent_id %>)<% end %>
      </div>
    </div>
    <div class="row">
      &nbsp;
    </div> 
  </div>
</div>

|
<%= link_to(edit_design_tag_path(@design_tag)) do %> 
  <i class="icon-edit" title="edit">&nbsp;</i>
<% end %>
|
<%= link_to(:back) do %>
  <i class="icon-arrow-left" title="back">&nbsp;</i>
<% end %>
|
