<h1>Editing assembly_line</h1>

<%= error_messages_for :assembly_line %>

<%= form_for(@assembly_line) do |f| %>
  <p>
    <b>Assembly header</b><br />
    <%= f.text_field :assembly_header_id %>
  </p>

  <p>
    <b>Reception</b><br />
    <%= f.text_field :reception_id %>
  </p>

  <p>
    <b>Reference</b><br />
    <%= f.text_field :reference_id %>
  </p>

  <p>
    <b>Company abbr</b><br />
    <%= f.text_field :company_abbr_id %>
  </p>

  <p>
    <b>Data release</b><br />
    <%= f.text_field :data_release_id %>
  </p>

  <p>
    <b>Area</b><br />
    <%= f.text_field :area %>
  </p>

  <p>
    <b>File name</b><br />
    <%= f.text_field :file_name %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @assembly_line %> |
<%= link_to 'Back', assembly_lines_path %>
