<h1>Listing assembly_lines</h1>

<table>
  <tr>
    <th>Assembly header</th>
    <th>Reception</th>
    <th>Reference</th>
    <th>Company abbr</th>
    <th>Data release</th>
    <th>Area</th>
    <th>File name</th>
  </tr>

<% for assembly_line in @assembly_lines %>
  <tr>
    <td><%=h assembly_line.assembly_header_id %></td>
    <td><%=h assembly_line.reception_id %></td>
    <td><%=h assembly_line.reference_id %></td>
    <td><%=h assembly_line.company_abbr_id %></td>
    <td><%=h assembly_line.data_release_id %></td>
    <td><%=h assembly_line.area %></td>
    <td><%=h assembly_line.file_name %></td>
    <td><%= link_to 'Show', assembly_line %></td>
    <td><%= link_to 'Edit', edit_assembly_line_path(assembly_line) %></td>
    <td><%= link_to 'Destroy', assembly_line, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New assembly_line', new_assembly_line_path %>
