<p>
  <b>Assembly header:</b>
  <%=h @assembly_line.assembly_header_id %>
</p>

<p>
  <b>Reception:</b>
  <%=h @assembly_line.reception_id %>
</p>

<p>
  <b>Reference:</b>
  <%=h @assembly_line.reference_id %>
</p>

<p>
  <b>Company abbr:</b>
  <%=h @assembly_line.company_abbr_id %>
</p>

<p>
  <b>Data release:</b>
  <%=h @assembly_line.data_release_id %>
</p>

<p>
  <b>Area:</b>
  <%=h @assembly_line.area %>
</p>

<p>
  <b>File name:</b>
  <%=h @assembly_line.file_name %>
</p>


<%= link_to 'Edit', edit_assembly_line_path(@assembly_line) %> |
<%= link_to 'Back', assembly_lines_path %>
