
h1,h2,h3  {
    padding: 2px 0 8px;
}

h1  {
    font: normal 1em sans-serif;
    /* color: #0070a3; */
}
h1 a {
    text-decoration: none;
}

h1 a:hover {
    text-decoration: underline;
}

h2 {
    font: normal 1.3em serif,sans-serif;
}

h3 {
    font: bold 1.2em serif,sans-serif;
}

tr.odd  {
	color: #000;
        text-decoration: none;
        font-weight: normal;
        
}

tr.even  {
	font-family: arial
        
}
a:link.odd{
    text-decoration: none;
        font-size: smaller;
}

/* used for server in serveroverview*/
.floatleft 
{
 float: left;
 width: 260px;
 height: 130px;
 margin:1px;
}

.server_header
{
background-color: #000;
color: white;
padding-left:3px;
}

.serverlist
{
height :62px;
margin :2px;
overflow:auto;
}

.serverlistsmall
{
 font-size: 0.8em;
 font-family: Arial
}


.containingbox
{
float:left;
width :810px;
overflow:auto;
height : 600px;
border-left: solid silver thin

}
/* end serveroverview */

.ppf_tabnav {
color: #000;
border-bottom: 1px solid gray;
margin: 13px 0px 0px 0px;
padding: 0px;
z-index: 1;
padding-left: 10px }

.ppf_tabnav ul {
margin: 0px;
padding: 0px;
}

.ppf_tabnav li {
display: inline;
overflow: hidden;
list-style-type: none; }

.ppf_tabnav li span.disabled {
color: #888888;
background: #FAFAFA;
border: 1px solid #DDDDDD;
border-bottom: none;
padding: 2px 5px 0px 5px;
margin: 0;
text-decoration: none;}

.ppf_tabnav a, ppf_tabnav a.active {
color: #000000;
background: #EEEEEE;
font-weight: bold;
border-top: 1px solid gray;
border-left: 1px solid gray;
border-right: 1px solid gray;
border-bottom: none;
padding: 2px 5px 1px 5px;
margin: 0;
text-decoration: none; }

.ppf_tabnav a.active {
background: #FFFFFF;
border-bottom: 3px solid #FFFFFF; }

.ppf_tabnav a:hover {
color: #FFFFFF;
background: #CCCCCC; }

.ppf_tabnav a:visited {
color: #000000; }

.ppf_tabnav a.active:hover {
background: #FFFFFF;
color: #000000; }

.ppf_tabnav_content {
background: #FFFFFF;
padding: 20px;
border: 1px solid gray;
border-top: none;
z-index: 2;
}

.wice_grid {
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
border-style: solid;
border-collapse: inherit;
border-color: #CCCCCC
}

table {
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
border-style: solid;
border-width: thin;
border-collapse: inherit;
border-color: #CCCCCC 
}

.popup{
    font-family: arial;
    font-size: smaller;
}

.popup pre {
    font-family: arial;
}

.noborder {
   border-style: none;
   border: none;
}

.noborder label {
  font-weight: bold;
  margin-right: 0.9em;
  min-width: 2em;
  margin-left: 1.5em;  
}

.noborder td {
  font-size: 13px
}

.wrapword{
     white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
     white-space: -pre-wrap;      /* Opera 4-6 */
     white-space: -o-pre-wrap;    /* Opera 7 */
     white-space: pre-wrap;       /* css-3 */
     word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.wrap-normal{
     white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
     white-space: -pre-wrap;      /* Opera 4-6 */
     white-space: -o-pre-wrap;    /* Opera 7 */
     white-space: normal;       /* css-3 */
     word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.clickable {
    text-decoration:none;
}

.toolTip {
    text-decoration:none;
    position: relative;
}

.ui-widget-header,.ui-accordion-header  {
    padding: 5px;
}

.ui-widget-content {
    font-family: arial;
}

ul#icons li {
		cursor: pointer;
		float: left;
		list-style: none outside none;
		margin: 2px;
		padding: 4px;
		position: relative;
}

.row-div { 
  clear: left; 
  padding: 2px; 
}
.row-div label{ 
  float: left; 
  width: 10em;
  font-weight: bold;
}

.extra-label{ 
  width: 10em;
  font-weight: bold;
  margin-left: 1em;
  margin-right: 1.5em;
}
.row-div .field-div { 
  display: block; 
  margin-left: 10em; 
}
.row-div .field-div input, .row-div .field-div select {
        width: 100%;
        box-sizing: border-box;
        -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -khtml-box-sizing: border-box;
}
.on-one-line{
  display: block;
  float: left;
  margin-left: 0em; 
}


