/* 
    Document   : pdf
    Created on : Jan 9, 2012, 1:04:00 PM
    Author     : jos.decallafon
    Description:
        Style for PDFKit document(s).
*/

body {
    font: 80% Arial;
}

pre {
   font: 90% Arial;
}


h1,h2,h3  {
    padding: 2px 0 8px;
}

table {

border-style: solid;
border-width: thin;
border-collapse: inherit;
border-color: #CCCCCC 
}

table,th,td {
    font-size: 10pt;
}

.PDF {
    font-family: Arial;
}

h1.PDF {
    font-size: 16pt;
    font-weight: bolder;
}

.noborder {
    border-style: none
}

.noborder-small {
    border-style: none;
    width: 100%;
}

.noborder-small td {
    font-size: x-small;
    font-family: Arial;
}

.noborder-small-single {
    border-style: none;
}

.noborder-small-single td {
    font-size: x-small;
    font-family: Arial;
}

.linetable {
    border:1px solid lightgray;
    border-collapse:collapse;
    width: 100%;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.linetable th {
    background-color: lightgray;
    padding: 5px;
    text-align: left;
    
}

.linetable tr td {
    font-size: smaller;
    background-color: white;
    padding: 5px;
}

.rn {
    font-family: Arial;
    font-size: 22pt;
}

h1.rn {
    font-size: 28pt;
    font-weight: bolder;
    text-align: center;
    color: #003DB8;
}

h2.rn {
    font-size: 25pt;
    font-weight: bolder;
}

.rn-content-bold {
    font-family: Arial;
    font-size: 22pt;
    font-weight: bold;
}

table.rn {
    border: none;
    border-collapse:collapse;
    padding: 0;
    margin: 0px;
}

th,td.rn {
    padding-right: 25px;
}
