/* 
    Document   : pdf
    Created on : Jan 9, 2012, 1:04:00 PM
    Author     : jos.decallafon
    Description:
        Style for PDFKit document(s).
*/

body {
    width: 110%;
    font-family: arial;
}

table {


}

.pdf-div {
    width: 600%;
}

h1 {
    
}

h2 {
  
    page-break-before: auto;
}

p {


}

pre {
    font-family: arial;
   
}