<div class="row">
  <div class="span1">
    <div class="btn-group">
      <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
        Action
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to(commitment_change_reason_path(commitment_change_reason)) do %>
            <i class="icon-info-sign"></i>&nbsp;show
          <% end %>
        </li>
        <li>
          <%= link_to(edit_commitment_change_reason_path(commitment_change_reason)) do %>
            <i class="icon-edit"></i>&nbsp;edit
          <% end %>
        </li>
        <li>
          <%= link_to(commitment_change_reason, method: :delete, data: { confirm: 'Are you sure?' }) do %>
            <i class="icon-trash"></i>&nbsp;delete
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <div class="span1">&nbsp;<%= commitment_change_reason.id %></div>
  <div class="span3">&nbsp;<%= commitment_change_reason.reason %></div>
  <div class="span2">&nbsp;<%= commitment_change_reason.commitment_type.titleize %></div>
</div>