<%= render 'form' %>

<%= link_to @commitment_change_reason, :title=>'show', :class => 'btn' do %>
  <i class="icon icon-eye-open"></i>
<% end %>&nbsp;
<%= link_to commitment_change_reasons_path, :class => 'btn', :title => 'back to overview' do %>
  <i class="icon icon-arrow-up"></i>
<% end %>
