<div class="row">
  <div class="span6 bounded bounded-headered">
    <div class="row bounded-header">
      <div class="span5">
        <h5><%= controller.action_name.humanize %> <%= controller.controller_name.singularize.humanize %></h5>
      </div>
    </div>
    <div class="offset1 row">
      <div class="span2">
        <strong>Commitment type</strong>
      </div>
      <div class="span3">
        <strong>Reason</strong>
      </div>
    </div>
    <div class="row">
      <div class="span2">
        <%= @commitment_change_reason.commitment_type.titleize %>
      </div>
      <div class="span3">
        <%= @commitment_change_reason.reason %>
      </div>
    </div>
    <div class="row">
      <div class="span2">
        <strong>Description</strong>
      </div>
    </div>
    <div class="row">
      <pre class="real-pre"><%= @commitment_change_reason.description %></pre>
    </div>
  </div>
</div>

<%= link_to edit_commitment_change_reason_path(@commitment_change_reason), :class => 'btn', :title => 'edit' do %>
  <i class="icon icon-edit"></i>
<% end %>&nbsp;
<%= link_to commitment_change_reasons_path, :class => 'btn', :title => 'back to overview' do %>
  <i class="icon icon-arrow-up"></i>
<% end %>
