<span class="label">
  Purchase reference: <%= @stock_orderline.stock_order.purchase_reference %>
</span>
<span class="label label-info">
  Status: <%= @stock_orderline.status_string %>
</span> 
<br><br>
<% f = form_fields %>
<div class="row">
  <%= f.hidden_field :stock_order_id %>
  <%= f.hidden_field :status %>
  <div class="span3"><strong>Article</strong></div>
  <div class="span1"><strong>Quantity</strong></div>
</div>
<div class="row">
  <div class="span3"><%= f.select :article_id, Article.where(:active => true,:non_stockable => false).collect {|a|[a.name.to_s + ' - ' + a.customer_reference,a.id]}, {:include_blank => true},{:class=>'span3'} %></div>
  <div class="span1"><%= f.text_field :amount_order, :class => 'span1' %></div>
</div>
<div class="row">
  <div class="span4"><strong>Remarks</strong></div>
</div>
<div class="row">
  <div class="span4"><%= f.text_area :remarks, :class => 'span4', :rows => '4' %></div>
</div>
  