<span class="label label-info"><%=h @stock_orderline.article.name %> - <%=  @stock_orderline.article.customer_reference %></span>
<span class="label label-important">ordered: <%=h @stock_orderline.amount_order %></span>
<h3>Confirm orderline for <%= @stock_order.purchase_reference %></h3>


<%= form_for([@stock_orderline], :url => { :action => 'confirmed', :id => @stock_orderline.id }  ) do |f| %>
<% if @stock_orderline.errors.any? %>
  <div class="alert alert-error">
    <% @stock_orderline.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
  </div>
<% end %>
  <%= f.hidden_field :stock_order_id %>
<div class="row">
  <div class="span1"><strong>Quantity</strong></div>
  <div class="span3"><strong>Reference</strong></div>
</div>
<div class="row">
  <div class="span1"><%= f.text_field :amount_confirmed, :size => '6', :value => @stock_orderline.amount_order,:class => 'span1' %></div>
  <div class="span3"><%= f.text_field :stock_reference,:class => 'span3' %></div>
</div>
<div class="row">
  <div class="span4"><strong>Remarks</strong></div>
</div>
<div class="row">
  <div class="span4"><%= f.text_area :remarks, :class => 'span4', :rows => '6' %></div>
</div>

  <p>
    <%= f.submit 'Confirm',:class => 'btn btn-primary' %>
  </p>
<% end %>  