<h1>Listing stock_orderlines</h1>

<table>
  <tr>
    <th>Stock order</th>
    <th>Article</th>
    <th>Amount order</th>
    <th>Amount confirmed</th>
    <th>Stock reference</th>
    <th>Remarks</th>
    <th>Status</th>
    <th>Deleted</th>
  </tr>

<% @stock_orderlines.each do |stock_orderline| %>
  <tr>
    <td><%=h stock_orderline.stock_order_id %></td>
    <td><%=h stock_orderline.article_id %></td>
    <td><%=h stock_orderline.amount_order %></td>
    <td><%=h stock_orderline.amount_confirmed %></td>
    <td><%=h stock_orderline.stock_reference %></td>
    <td><%=h stock_orderline.remarks %></td>
    <td><%=h stock_orderline.status %></td>
    <td><%=h stock_orderline.deleted %></td>
    <td><%= link_to 'Show', stock_orderline %></td>
    <td><%= link_to 'Edit', edit_stock_orderline_path(stock_orderline) %></td>
    <td><%= link_to 'Destroy', stock_orderline, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New stock_orderline', new_stock_orderline_path %>