<h3>New stock orderline</h3>

<%= form_for(@stock_orderline) do |f| %>
<% if @stock_orderline.errors.any? %>
  <div class="alert alert-error">
    <% @stock_orderline.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
  </div>
<% end %>
    <%= render :partial => 'form_fields' ,:object => f %>

 
  <p>
    <%= f.submit 'Create', :class => 'btn btn-primary' %>
  </p>
<% end %>

<%= link_to :back do %>
  <i class="icon-arrow-left">&nbsp;</i>back
<% end %>