<p>
  <b>Stock order:</b>
  <%=h @stock_orderline.stock_order_id %>
</p>

<p>
  <b>Article:</b>
  <%=h @stock_orderline.article_id %>
</p>

<p>
  <b>Amount order:</b>
  <%=h @stock_orderline.amount_order %>
</p>

<p>
  <b>Amount confirmed:</b>
  <%=h @stock_orderline.amount_confirmed %>
</p>

<p>
  <b>Stock reference:</b>
  <%=h @stock_orderline.stock_reference %>
</p>

<p>
  <b>Remarks:</b>
  <%=h @stock_orderline.remarks %>
</p>

<p>
  <b>Status:</b>
  <%=h @stock_orderline.status %>
</p>

<p>
  <b>Deleted:</b>
  <%=h @stock_orderline.deleted %>
</p>


<%= link_to 'Edit', edit_stock_orderline_path(@stock_orderline) %> |
<%= link_to 'Back', stock_orderlines_path %>