<div class="row" id="row_show_<%= article.id %>">
  <div class="span1">
    <div class="btn-group">
      <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
        Action
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to({ controller: :articles, action: 'show', id: article.id }) do %>
            <i class="icon-info-sign"></i>&nbsp;show
          <% end %>
        </li>
        <li>
          <%= link_to({ controller: :articles, action: 'edit', id: article.id }) do %>
            <i class="icon-edit"></i>&nbsp;edit
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <div class="span2"><%= article.customer_reference %></div>
  <div class="span3"><%= article.name %></div>
  <div class="span1"><%= article.high_level_bom.internal_reference %></div>
  <div class="span1"><%= number_to_currency(article.price, unit: article.currency) %></div>
  <div class="span1">
    <%= number_to_currency(article.purchase_price, unit: article.purchase_currency, precision: 3) %>
  </div>
  <div class="span1">
    <%= bootstrap_boolean(article.active,title='activated or disabled') %>
  </div>
  <div class="span1">
    <%= bootstrap_boolean(article.non_stockable,title='unlimited stock?') %>
  </div>
</div>
