<div class="row">
  <div class="span9 bounded">
    <% if @article.errors.any? %>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>

    <%= form_for(@article) do |f| %>
      <div class="row">
        <div class="span2"><%= f.label :customer_reference %></div>
        <div class="span3"><%= f.text_field :customer_reference, class: "span3" %></div>
        <div class="span1"><%= f.label :name %></div>
        <div class="span3"><%= f.text_field :name, class: "span3" %></div>
      </div>

      <div class="row">
        <div class="span2"><%= f.label :supplier_reference %></div>
        <div class="span3"><%= f.text_field :supplier_reference, class: "span3" %></div>
        <div class="span1"><%= f.label :weight %></div>
        <div class="span1"><%= f.text_field :weight, class: "span1" %></div>
        <div class="span2"><%= f.select :uom_weight, ['Kilogram','Gram','LBS'], { include_blank: true },  class: "span2" %>
        </div>
      </div>

      <div class="row">
        <div class="span2"><%= f.label :description %></div>
        <div class="span3"><%= f.text_field :description, class: "span3" %></div>
        <div class="span1"><%= f.label :volume %></div>
        <div class="span1"><%= f.text_field :volume, class: "span1" %></div>
        <div class="span2"><%= f.select :uom_volume, ['M3','IN3','FT3'], { include_blank: true }, class: "span2" %></div>
      </div>

      <div class="row">
        <div class="span2"><%= f.label :purchase_price %></div>
        <div class="span1"><%= f.text_field :purchase_currency, class: "span1" %></div>
        <div class="span2"><%= f.text_field :purchase_price, class: "span1" %></div>
        <div class="span1"><%= f.label :price %></div>
        <div class="span1"><%= f.text_field :currency, class: "span1" %></div>
        <div class="span1"><%= f.text_field :price, class: "span1" %></div>
        <div class="span1">&nbsp;<label class="checkbox inline"><%= f.check_box :non_stockable %><small>Non<br />Stockable</small></label></div>
      </div>

      <div class="row">
        <div class="span2"><%= f.label :high_level_bom_id %></div>
        <div class="span3"><%= f.select :high_level_bom_id, HighLevelBom.where(:active => true).collect {|bom|[bom.internal_reference,bom.id]}, { include_blank: true } , class: "span3" %></div>
        <div class="span1"><%= f.label :created_by_user_id, 'Created by' %></div>
        <div class="span2"><span class="span2 uneditable-input"><%= @article.create_user.full_name if @article.created_by_user_id %>&nbsp;</span></div>
        <div class="span1">&nbsp;<label class="checkbox inline"><%= f.check_box :active %><small>Active</small></label></div>
      </div>

      <hr />

      <div class="row">
        <div class="span2">
          <button class="btn btn-primary" id="save" name="save">Save</button>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $("#save").click(function() {
    document.forms[0].submit();
  })
  $('#article_high_level_bom_id').chosen({allow_single_deselect:true});
  $('#article_uom_weight').chosen({allow_single_deselect:true});
  $('#article_uom_volume').chosen({allow_single_deselect:true});
</script>
