<% f = form_fields %>
<div class="row">
  <div class="span2"><%= f.label :customer_reference %></div>
  <div class="span3"><%= f.text_field :customer_reference %></div>
  <div class="span1"><%= f.label :name %></div>
  <div class="span3"><%= f.text_field :name %></div>
</div>

<div class="row">
  <div class="span2"><%= f.label :supplier_reference %></div>
  <div class="span3"><%= f.text_field :supplier_reference %></div>
  <div class="span1"><%= f.label :weight %></div>
  <div class="span3 date-select"><%= f.text_field :weight %></div>
  <div class="span3 date-select"><i class="icon-arrow-left"></i><%= f.select :uom_weight, ['Kilogram','Gram','LBS'], :include_blank => true %></div>
</div>

<div class="row">
  <div class="span2"><%= f.label :description %></div>
  <div class="span3"><%= f.text_field :description %></div>
  <div class="span1"><%= f.label :volume %></div>
  <div class="span3 date-select"><%= f.text_field :volume %></div>
  <div class="span3 date-select"><i class="icon-arrow-left"></i><%= f.select :uom_volume, ['M3','IN3','FT3'], :include_blank => true  %></div>
</div>

<div class="row">
  <div class="span2"><%= f.label :purchase_price %></div>
  <div class="span3"><%= f.text_field :purchase_price %></div>  
  <div class="span1"><%= f.label :price %></div>
  <div class="span3"><%= f.text_field :price %></div>
  <div class="span3"></div>
</div>

<div class="row">
  <div class="span2"><%= f.label :high_level_bom_id %></div>
  <div class="span3"><%= f.select :high_level_bom_id, HighLevelBom.where(:active => true).collect {|bom|[bom.internal_reference,bom.id]}, :include_blank => true %></div>
  <div class="span1"><%= f.label :created_by_user_id, 'Created by' %></div>
  <div class="span3"><span class="input-large uneditable-input"><%= @article.create_user.full_name if @article.created_by_user_id %>&nbsp;</span></div>
  <div class="span3">&nbsp;<label class="checkbox inline"><%= f.check_box :active %>Active</label></div>
</div>
