<h4>Edit article</h4>

<%= render 'form' %>

|
<%= link_to(@article) do %>
  <i class="icon-eye-open" title="show">&nbsp;</i>
<% end %>
|
<%= link_to :back do %>
  <i class="icon-arrow-left" title="back">&nbsp;</i>
<% end %>
|
<%= link_to articles_path do %>
  <i class="icon-arrow-up" title="overview">&nbsp;</i>
<% end %>
|
