<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand"><strong>Articles</strong></div>
        <div class="span9">
          <%= form_tag articles_path, method: 'get' do %>
            <%= hidden_field_tag :direction, params[:direction] %>
            <%= hidden_field_tag :sort, params[:sort] %>
            <div class="input-append">
              <%= button_tag "New", name: 'new', class: "btn btn-info", type: :button, id: 'btn_new' %>
              <%= select_tag("search_bom", options_for_select(HighLevelBom.where(active: true).collect {|bom|[bom.internal_reference,bom.id]}, params[:search_bom]), include_blank: true, class: 'span2', data: { placeholder: 'BOM' }) %>
              <%= select_tag("search_active", options_for_select({"active" => 1, "inactive" => 0}, params[:search_active]), include_blank: true, class: 'span2', data: { placeholder: 'Active?'}) %>
              <%= text_field_tag :search, params[:search], class: 'span2', placeholder: 'Free search' %>
              <%= button_tag "Search", name: nil, type: :submit, class: "btn" %>
              <%= button_tag "Reset", name: 'reset', class: "btn", type: :submit %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>

<div id="endless">
  <div class="row">
    <div class="offset1 span2"><strong><%= sortable "customer_reference", "Customer reference" %></strong></div>
    <div class="span3"><strong><%= sortable "name", "Name" %></strong></div>
    <div class="span1"><strong><%= sortable "high_level_boms.internal_reference", "BOM" %></strong></div>
    <div class="span1"><strong><%= sortable "price", "Price" %></strong></div>
    <div class="span1"><strong><%= sortable "purchase_price", "Purchase" %></strong></div>
    <div class="span1"><strong><%= sortable "articles.active", "Active" %></strong></div>
    <div class="span1"><strong><%= sortable "articles.non_stockable", "Non-stockable" %></strong></div>
  </div>

  <%= render(partial: "article", collection: @articles) %>
</div>
<%= will_paginate(@articles) %>
<%= pageless(@articles.total_pages, articles_path, "#endless") %>

<footer class="subnav subnav-fixed" style="Bottom:0;top:auto;margin-bottom: 0px;">
  &nbsp;
</footer>

<script>
  $('#btn_new').click(function(){
    window.location.href="<%= url_for(action: :new) %>";
  })
  $('#search_bom').chosen({allow_single_deselect:true});
  $('#search_active').chosen({allow_single_deselect:true});
</script>
