<h4>New article</h4>
<%= render 'form' %>

|
<%= link_to :back do %>
  <i class="icon-arrow-left" title="back">&nbsp;</i>
<% end %>
|
<%= link_to articles_path do %>
  <i class="icon-arrow-up" title="overview">&nbsp;</i>
<% end %>
|
