<h4>
  <div class="span2">Article</div>
  <div class="span4">
    <% if @article.active %>
      <span style="color: green">(Active)
    <% else %>
      <span style="color: red">(Inactive)
    <% end %>
      <%= @article.customer_reference %>
    </span>
  </div>
</h4>
<div class="row">&nbsp;</div>

<div class="row">
  <div class="span9 bounded">
    <div class="row">
      <div class="span2"><strong>Customer reference</strong></div>
      <div class="span3"><%= @article.customer_reference %></div>
      <div class="span1"><strong>Name</strong></div>
      <div class="span3"><%= @article.name %></div>
    </div>

    <div class="row">
      <div class="span2"><strong>Supplier reference</strong></div>
      <div class="span3"><%= @article.supplier_reference %></div>
      <div class="span1"><strong>Weight</strong></div>
      <div class="span3"><%= "#{@article.weight} #{@article.uom_weight}" %></div>
    </div>

    <div class="row">
      <div class="span2"><strong>Description</strong></div>
      <div class="span3"><%= @article.description %></div>
      <div class="span1"><strong>Volume</strong></div>
      <div class="span3"><%= "#{@article.volume} #{@article.uom_volume}" %></div>
    </div>

    <div class="row">
      <div class="span2"><strong>Purchase price</strong></div>
      <div class="span3"><%= number_to_currency(@article.purchase_price, unit: @article.purchase_currency, precision: 3) %></div>
      <div class="span1"><strong>Price</strong></div>
      <div class="span3"><%= number_to_currency(@article.price, unit: @article.currency, precision: 3) %></div>
    </div>

    <div class="row">
      <div class="span2"><strong>High level bom</strong></div>
      <div class="span3"><%= @article.high_level_bom.internal_reference %></div>
      <div class="span1"><strong>Created by</strong></div>
      <div class="span3"><%= @article.create_user.full_name %></div>
    </div>

    <div class="row">
      <div class="span2"><strong>Non Stockable</strong></div>
      <div class="span3"><%= bootstrap_boolean(@article.non_stockable) %></div>
      <div class="span1"><strong>Active</strong></div>
      <div class="span3"><%= bootstrap_boolean(@article.active) %></div>
    </div>

    <div class="row">
      &nbsp;
    </div>

  </div>
</div>

|
<%= link_to edit_article_path(@article) do %>
  <i class="icon-edit" title="edit">&nbsp;</i>
<% end %>
|
<%= link_to :back do %>
  <i class="icon-arrow-left" title="back">&nbsp;</i>
<% end %>
|
<%= link_to articles_path do %>
  <i class="icon-arrow-up" title="overview">&nbsp;</i>
<% end %>
|
