<div class="row">
  <div class="span1">
      <div class="btn-group">
        <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
        Action
        <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to(:action => 'show',:controller => :company_abbrs, :action => 'show',:id => company_abbr.id) do %>
            <i class="icon-info-sign"></i>&nbsp;show
            <% end %>
          </li>
          <% if env_production? %>
          <li>
            <%= link_to(:action => 'edit',:controller => :company_abbrs, :action => 'edit',:id => company_abbr.id) do %>
            <i class="icon-edit"></i>&nbsp;edit
            <% end %>
          </li>
          <% end %>
        </ul>
      </div>    
  </div>
  <div class="span3"><%=h company_abbr.company_name %></div>
  <div class="span1"><%=h company_abbr.ms_abbr_3 %></div>
  <div class="span1"><%=h company_abbr.dakota_id %></div>
  <div class="span4"><%=h company_abbr.is_active.to_s %>&nbsp;</div>
</div>