<% if @company_abbr.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@company_abbr.errors.count, "error") %> prohibited this supplier from being saved:</h2>
    <ul>
      <% @company_abbr.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="row">
  <div class="span9 bounded bounded-headered">
    <div class="row bounded-header">
      <div class="span2">
        <h4><%= controller.action_name.humanize %> Supplier</h4>
      </div>
        <div class="span1 headertext pull-right">
          <strong>Revision</strong> <%= @company_abbr.version.to_i + 1 %>
        </div>
    </div>
    <%= form_for(@company_abbr) do |f| %>
    <div class="row">
      <div class="span3"><strong>Company name</strong></div>
      <div class="span3"><strong>Copyright string</strong></div>
      <div class="span1"><strong>Dakota ID</strong>&nbsp;<i class="icon icon-refresh" style="color:#008AFF" title="Generate latest ID" id="generateDakotaId"></i></div>
      <div class="span1"><strong>Abbreviation&nbsp;(3-Char)</strong></div>
    </div>
    <div class="row">
      <div class="span3"><%= f.text_field :company_name, :class => 'span3' %></div>
      <div class="span3"><%= f.text_field :copyright_name, :class => 'span3' %></div>
      <div class="span1"><%= f.number_field :dakota_id, :class => 'span1' %></div>
      <div class="span1"><%= f.text_field :ms_abbr_3, :class => "span1" %></div>
      <div class="span1"><label><%= f.check_box :is_active %> Active</label></div>
    </div>
    <div class="row">
      <div class="span3"><strong>Company relation</strong></div>
    </div>
    <div class="row">
      <div class="span3"><%= f.select :company_id, Company.active.collect{|c|[c.name,c.id]},{:include_blank => true}, {:class => 'span3'} %></div>
    </div>
    <div class="row">
      <div class="span pull-right"><%= f.submit 'Save', :class => 'btn' %></div>
    </div>
    <% end %>
  </div>

</div>

<script type="text/javascript">
  $('#generateDakotaId').hover(function() {
    $(this).css('cursor','pointer');
  });

  $("#generateDakotaId").click(function(){
    $.get( "<%= url_for(:action => :generate_dakota_id) %>", function( data ) {
      $( "#company_abbr_dakota_id" ).val( data );
    });
  });

  $("#company_abbr_company_id").select2({allowClear:true,placeholder:"Select related company"});
</script>
