<div class="row">
  <div class="span9 bounded">
    <div class="accordion" id="accordion1">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion1" name="history" href="#history-object"><h5>History</h5></a>
      <div id="history-object" class="accordion-body collapse">
        <div class="accordion-inner">
          <%= javascript_include_tag 'json-diff' %>
          <%= javascript_include_tag 'jsond' %>
          <%= stylesheet_link_tag "json-diff", :media=> "all" %>
          <% require 'DifferHistory' %>
          <% Differ.format = DifferHistory %>

          <% old_company_name = "" %>
          <% old_ms_abbr_3 = "" %>
          <% old_copyright_name = "" %>
          <% old_is_active = nil %>

          <% @company_abbr.versions.each do |company_abbr_version| %>
            <hr>
            <div class="row">
              <div class="span2"><%= "#{company_abbr_version.version}" %>&nbsp;</div>
              <div class="span2"><%= company_abbr_version.updated_by %>&nbsp;</div>
              <div class="span2"><%= company_abbr_version.updated_at.to_s %>&nbsp;</div>
            </div>

            <div class="row history">
              <div class="offset1 span2"><strong>Name</strong></div>
              <% new_company_name = company_abbr_version.company_name %>
              <div class="span8 <%= history_class old_company_name, new_company_name %>">
                <%= history_string old_company_name, new_company_name %>
              </div>
              <% old_company_name = new_company_name %>
            </div>

            <div class="row history">
              <div class="offset1 span2"><strong>Ms abbr 3</strong></div>
              <% new_ms_abbr_3 = company_abbr_version.ms_abbr_3 %>
              <div class="span8 <%= history_class old_ms_abbr_3, new_ms_abbr_3 %>">
                <%= history_string old_ms_abbr_3, new_ms_abbr_3 %>
              </div>
              <% old_ms_abbr_3 = new_ms_abbr_3 %>
            </div>

            <div class="row history">
              <div class="offset1 span2"><strong>Copyright name</strong></div>
              <% new_copyright_name = company_abbr_version.copyright_name %>
              <div class="span8 <%= history_class old_copyright_name, new_copyright_name %>">
                <%= history_string old_copyright_name, new_copyright_name %>
              </div>
              <% old_copyright_name = new_copyright_name %>
            </div>

            <div class="row history">
              <div class="offset1 span2"><strong>Active?</strong></div>
              <% new_is_active = company_abbr_version.is_active %>
              <div class="span8 <%= history_class old_is_active, new_is_active %>">
                <%= history_string old_is_active, new_is_active %>
              </div>
              <% old_is_active = new_is_active %>
            </div>

           <% end %>
        </div>
      </div>
    </div>
  </div>
</div>