<div class="row">
  <div class="span9 bounded bounded-headered">
    <div class="row bounded-header">
      <div class="span2">
        <h4>Supplier <%= @company_abbr.company_name %></h4>
      </div>
        <div class="span1 headertext pull-right">
          <strong>Revision</strong> <%= @company_abbr.version %>
        </div>
    </div>
    <div class="row">
      <div class="span3"><strong>Company name</strong></div>
      <div class="span3"><strong>Copyright string</strong></div>
      <div class="span1"><strong>Dakota ID</strong></div>
      <div class="span1"><strong>Abbreviation&nbsp;(3-Char)</strong></div>
    </div>
    <div class="row">
      <div class="span3"><%= @company_abbr.company_name %></div>
      <div class="span3"><%= @company_abbr.copyright_name %></div>
      <div class="span1"><%= @company_abbr.dakota_id %></div>
      <div class="span1"><%= @company_abbr.ms_abbr_3 %></div>
      <div class="span1"><%= bootstrap_boolean(@company_abbr.is_active,"Active") %> Active</div>
    </div>
    <div class="row">
      <div class="span3"><strong>Company relation</strong></div>
    </div>
    <div class="row">
      <div class="span3"><%= link_to @company_abbr.company.name, @company_abbr.company, :target => "_blank" if @company_abbr.company %></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span9 bounded">
    <h5>File Transfer Account(s)</h5>
    <div class="row">
      <div class="span1"><strong>Type</strong></div>
      <div class="span2"><strong>Address</strong></div>
      <div class="span1"><strong>Username</strong></div>
      <div class="span1"><strong>Password</strong></div>
      <div class="span4"><strong>Remarks</strong></div>
    </div>
    <% @file_transfer_accounts.each do |ftp| %>
    <div class="row">
      <div class="span1"><%= ftp.transfer_type %></div>
      <div class="span2"><%= ftp.address %></div>
      <div class="span1"><%= ftp.user_name %></div>
      <div class="span1">******</div>
      <div class="span4"><%= ftp.remarks %></div>
    </div>
    <% end %>
  </div>
</div>

<%= render 'history' %>
