<%= render "form" %>

<div class="row">
  <div class="span9 bounded">
    <h5>File Transfer Account(s)</h5>
    <div class="row">
      <div class="span1"><strong>Type</strong></div>
      <div class="span2"><strong>Address</strong></div>
      <div class="span1"><strong>Username</strong></div>
      <div class="span1"><strong>Password</strong></div>
      <div class="span4"><strong>Remarks</strong></div>
    </div>
    <% @file_transfer_accounts.each do |ftp| %>
    <div class="row">
      <div class="span1">
        <%= link_to edit_file_transfer_account_path(:id => ftp.id, :return_to => @company_abbr.id.to_s),:title => 'edit account' do %>
        <i class="icon icon-edit"></i>&nbsp;
        <% end %>
        <%= ftp.transfer_type %>
      </div>
      <div class="span2"><%= ftp.address %></div>
      <div class="span1"><%= ftp.user_name %></div>
      <div class="span1"><%= ftp.password %></div>
      <div class="span4"><%= ftp.remarks %></div>
    </div>
    <% end %>
    <div class="row">
      <div class="span">
        <%= link_to({:action => :new ,:controller => :file_transfer_accounts,:caid => @company_abbr.id.to_s},{:class => 'btn btn-mini'}) do %>
        <i class="icon icon-plus"></i>&nbsp;New&nbsp;account
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span">
    <%= link_to(@company_abbr,:class => 'btn',:title => 'show') do %>
      <i class="icon icon-eye-open"></i>
    <% end %>
    <%= link_to(:back,:class => 'btn',:title => 'back') do %>
      <i class="icon icon-arrow-left"></i>
    <% end %>
    <%= link_to(company_abbrs_path,:class => 'btn',:title => 'overview') do %>
      <i class="icon icon-arrow-up"></i>
    <% end %>
  </div>
</div>
