<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand"><strong>Suppliers</strong></div>
      <div class="span">
        <%= form_tag company_abbrs_path, :method => 'get' do %>
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <div class="input-prepend input-append">
            <%= link_to "New", {:action => "new"},{:class => "btn btn-info"} if env_production? %>
            <%= text_field_tag :search, params[:search], :placeholder=>" search",:class=>"span3" %>
            <%= button_tag "Search", :name => nil, :type => :submit, :class => "btn" %>
            <%= button_tag "Reset", :name => 'reset',:class=>"btn",:type=>:submit %>
          </div>
        <% end %>
      </div>
    </div>  
  </div>
</div>

<div id="endless">
  <div class="row">
    <div class="offset1 span3"><strong><%= sortable 'company_name' %></strong></div>
    <div class="span1"><strong><%= sortable 'ms_abbr_3','Abbreviation' %></strong></div>
    <div class="span1"><strong><%= sortable 'dakota_id',"Dakota ID" %></strong></div>
    <div class="span4"><strong><%= sortable 'is_active','Active' %></strong></div>
  </div>
  <%= render(:partial => "company_abbr", :collection => @company_abbrs) %>


</div>
<%= will_paginate(@company_abbrs) %>
<%= pageless(@company_abbrs.total_pages, company_abbrs_path, "#endless") %>

<div class="navbar subnav navbar-fixed-bottom">
  <div class="navbar-inner" style="min-height: 44px;">
    <div class="span2">
      <%= link_to(:action => 'index', :format => 'csv') do %>
        <i class="icon-list-alt" title="export as csv-file">&nbsp;</i>csv export
      <% end %>
    </div>
    <div class="span2"><h6>Filter on Tags</h6></div>
    <div class="span5">
      <%= form_tag({:action => 'index'}, :method => 'get', :class => 'navbar-form') do %>
        <div class="input-append">
          <%= text_field_tag 'c', params[:c],:class => 'span3',:placeholder => 'multiple tags comma-separated' %>
          <%= button_tag(:type => :submit, :class => "btn", :style => 'margin-top: 0px;') do %>
            Filter
          <% end %>
          <%= button_tag(:type => :submit, :class => "btn", :name => 'reset', :style => 'margin-top: 0px;') do %>
            Reset
          <% end %><% end %>
      </div>

    </div>
  </div>
</div>
