<%= render "form" %>

<div class="row">
  <div class="span">
    <%= link_to(:back,:class => 'btn',:title => 'back') do %>
      <i class="icon icon-arrow-left"></i>
    <% end %>
    <%= link_to(company_abbrs_path,:class => 'btn',:title => 'overview') do %>
      <i class="icon icon-arrow-up"></i>
    <% end %>
  </div>
</div>
