<%= render 'show_data' %>
<div class="row">
  <div class="span7">
    <%= link_to edit_company_abbr_path(@company_abbr), :class => "btn",:title => "edit" do %>
      <i class="icon-edit" title="edit"></i>
    <% end %>
    &nbsp;
    <%= link_to :back, :class => "btn", :title => "back" do %>
      <i class="icon-arrow-left" title="back"></i>
    <% end %>
    &nbsp;
    <%= link_to company_abbrs_path, :class => "btn",:title => "overview" do %>
      <i class="icon-arrow-up" title="overview"></i>
    <% end %>
  </div>
</div>