<% f = form_fields %>

<div class="row">
  <div class="span1"><label><%= f.check_box :active %>Active</label></div>
  <div class="span2">Created by <%=h @high_level_bom.create_user.full_name if @high_level_bom.created_by_user_id %></div>
</div>

<div class="row">
  <div class="span3"><strong>Internal reference</strong></div>
  <div class="span1"><strong>Revision</strong></div>
  <div class="span2"><strong>Status</strong></div>
</div>

<div class="row">
  <div class="span3"><%= f.text_field :internal_reference, :class => 'span3' %></div>
  <div class="span1"><%= f.text_field :revision, :class => 'span1' %></div>
  <div class="span2"><%= f.select :status, HighLevelBom.status_hash,{},{:class => 'span2'} %></div>
</div>

<%=h f.hidden_field :created_by_user_id %>
<h4>Contents</h4>

<div class="row">
  <div class="span3"><strong>Product</strong></div>
</div>

<div class="row">
  <div class="span6"><strong><%= f.select :product_id, Product.where(:removed_yn => false).order('volumeid DESC' ).collect {|p| [p.volumeid.to_s + ' ' + p.name.to_s, p.id]},{:include_blank => true},{:class => 'span6'} %></strong></div>
</div>

<div class="row">
  <div class="span3"><strong>Master file</strong></div>
</div>

<div class="row">
  <div class="span6" id="product_loc_div"><strong><%= f.select :product_location_id , ProductLocation.all.collect {|pl| [pl.product_id.to_s + ' - ' + pl.storage_path.to_s.scan(/.{0,51}\z/).join,pl.id]},{:include_blank => true} ,{:class => 'span6'} %></div>
</div>

<div class="row">
  <div class="span3"><strong>Inlay reception</strong></div>
  <div class="span3"><strong>Label reception</strong></div>
</div>

<div class="row">
  <div class="span3"><%= f.select :inlay_reception_id, Reception.where(:data_type_id => @data_type, :status => 'Completed').order('id DESC').collect {|r|[r.id.to_s + ' - ' + r.data_release.company_abbr.name + ' ' + r.region.name + ' ' + r.updated_at.strftime('%d-%m-%Y').to_s,r.id]},{:include_blank => true},{:class => 'span3'}  %></div>
  <div class="span3"><%= f.select :label_reception_id, Reception.where(:data_type_id => @data_type, :status => 'Completed').order('id DESC').collect {|r|[r.id.to_s + ' - ' + r.data_release.company_abbr.name + ' ' + r.region.name + ' ' + r.updated_at.strftime('%d-%m-%Y').to_s,r.id]},{:include_blank => true},{:class => 'span3'}  %></div>
</div>


<script type="text/javascript"> 
    $("#high_level_bom_product_id").change(function() {
      var selected = this.value;
      jQuery.get('<%=h url_for(:controller => 'high_level_boms',:action => 'get_product_locations') %>'+"?prid=" + selected, function(data){
        $("#product_loc_div").html(data);
        $("#high_level_bom_product_location_id").focus()

      });

    return false;
  });
  
  $("#high_level_bom_product_id").chosen();
</script>