<%  if !@product_locations.nil? %>
<%= select_tag "high_level_bom[product_location_id]",
  options_for_select([""] + @product_locations.collect {|pl| [pl.product_id.to_s + ' - ' + pl.internal_storage_path.to_s,pl.id]},
  :include_blank => false),:class => 'span6' %>
<% end %>