<h3>Editing BOM (highest level)</h3>

<div class="container">
  <div class="row">
    <div class="span6 well">
      <%= form_for(@high_level_bom) do |f| %>
        <% if @high_level_bom.errors.any? %>
          <ul>
            <% @high_level_bom.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        <% end %>


        <%= render :partial => 'form_fields' ,:object => f %>
        <div class="row">
          <div class="span2">
            <%= f.submit 'Update',:class => 'btn btn-primary' %><% end %>
        </div>
      </div>
    </div>
  </div>
</div>
