<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand"><strong>Highlevel bills of material</strong></div>
      <div class="span">
        <%= form_tag high_level_boms_path, :method => 'get' do %>
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <div class="input-append">
            <%= link_to new_high_level_bom_path, :class => 'btn' do %>
              <i class="icon-plus-sign">&nbsp;</i>New
            <% end %>
            <%= text_field_tag :search, params[:search], :placeholder=>" search",:class=>"span3",:size=>"16" %>
            <%= button_tag "Search", :name => nil, :type => :submit, :class => "btn" %>
            <%= button_tag "Reset", :name => 'reset',:class=>"btn",:type=>:submit %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="endless">
  <div class="row">
    <div class="offset1 span2"><strong>Internal Reference</strong></div>
    <div class="span1"><strong>Revision</strong></div>
    <div class="span2"><strong>Master product</strong></div>
    <div class="span2"><strong>Inlay</strong></div>
    <div class="span2"><strong>Label</strong></div>
    <div class="span1"><strong>Active</strong></div>
    <div class="span1"><strong>Status</strong></div>
  </div>
<% @high_level_boms.each do |bom| %>  
  <div class="row" id="row_show_<%= bom.id %>">
    <div class="span1">
      <div class="btn-group">
        <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
        Action
        <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to(bom) do %>
            <i class="icon-info-sign"></i>&nbsp;show
            <% end %>
          </li>
          <li>
            <%= link_to(:controller => :high_level_boms, :action => :edit, :id => bom.id) do %>
            <i class="icon-edit"></i>&nbsp;edit
            <% end %>
          </li>          
        </ul>
      </div>      
    </div>    
    <div class="span2"><%= bom.internal_reference %>&nbsp;</div>
    <div class="span1"><%= bom.revision %>&nbsp;</div>
    <div class="span2"><%= bom.product.volumeid %>&nbsp;</div>
    <div class="span2"><%= bom.inlay.storage_location.scan(/\/([\w\d\-\.]*\..{3}$)/ix)[0].join[0,25] if bom.inlay_reception_id %>&nbsp;</div>
    <div class="span2"><%= bom.label.storage_location.scan(/\/([\w\d\-\.]*\..{3}$)/ix)[0].join[0,25] if bom.label_reception_id %>&nbsp;</div>
    <div class="span1"><%= bootstrap_boolean(bom.active) %></div>
    <div class="span1">
      <% if bom.status < 60 
           css_status = 'label-success'
         else
           css_status = 'label-warning'
         end %>
      <span class="label <%= css_status %> "> <%= bom.status_string %> </span>
    </div>
  </div>
<% end %>  
</div>