<div class="row">
  <h4>
    <div class="span2">High level BOM</div>
    <div class="span4">
      <% if @high_level_bom.active %>
        <span style="color: green">(Active)</span>
      <% else %>
        <span style="color: red">(Inactive)</span>
      <% end %>
      <%=h @high_level_bom.internal_reference %>  Revision <%=h @high_level_bom.revision %>
    </div>
  </h4>
</div>

<div class="row">
  <div class="span9 bounded">
    <div class="row">
      <div class="span1"><strong>Status</strong></div>
      <div class="span3"><%=h @high_level_bom.status_string %></div>
      <div class="span1"><strong>Created by</strong></div>
      <div class="span3"><%=h @high_level_bom.create_user.full_name if @high_level_bom.created_by_user_id %></div>
    </div>

    <div class="row">
      &nbsp;
    </div>

    <div class="row">
      <div class="span8"><h5>Contents</h5></div>
    </div>
    <div class="row">
      <div class="span2"><strong>Product</strong></div>
      <div class="span6"><%=h @high_level_bom.product.volumeid %>&nbsp;<%=h @high_level_bom.product.name %></div>
    </div>
    <div class="row">
      <div class="span2"><strong>Master product</strong></div>
      <div class="span6">(<%=h @high_level_bom.product_location_id %>)&nbsp;<%=h ProductLocation.find(@high_level_bom.product_location_id).storage_path %></div>
    </div>
    <div class="row">
      <div class="span2"><strong>Reception Inlay</strong></div>
      <div class="span6"><%=h "#{@high_level_bom.inlay.id} - #{@high_level_bom.inlay.data_release.company_abbr.name.to_s} #{@high_level_bom.inlay.region_name.to_s} #{@high_level_bom.inlay.updated_at.strftime('%d-%m-%Y')}" if @high_level_bom.inlay %></div>
    </div>
    <div class="row">
      <div class="span2"><strong>Reception label</strong></div>
      <div class="span6"><%=h "#{@high_level_bom.label.id} - #{@high_level_bom.label.data_release.company_abbr.name.to_s} #{@high_level_bom.label.region_name.to_s} #{@high_level_bom.label.updated_at.strftime('%d-%m-%Y')}" if @high_level_bom.label %></div>
    </div>

    <div class="row">
      &nbsp;
    </div>

    <div class="row">
      <div class="span8"><h5>Licenses</h5></div>
    </div>
    <% @high_level_bom.article_licenses.each do |al| %>
      <div class="row">
        <div class="span2"><strong>Label</strong></div>
        <div class="span3"><strong>Description</strong></div>
        <div class="span3"><strong>Company</strong></div>
        <div class="span1"><strong>Fee</strong></div>
      </div>
      <div class="row">
        <div class="span2"><%=h link_to al.label, :controller => :article_licenses, :id => al.id, :action => :show %></div>
        <div class="span3"><%=h al.description %></div>
        <div class="span3"><%=h al.external_contact.company.name %></div>
        <div class="span1"><%=h number_to_currency(al.fee, :unit => al.currency)%></div>
      </div>
    <% end %>
  </div>
</div>

|
<%= link_to edit_high_level_bom_path(@high_level_bom) do %>
  <i class="icon-edit" title="edit">&nbsp;</i>
<% end %>
|
<%= link_to :back do %>
  <i class="icon-arrow-left" title="back">&nbsp;</i>
<% end %>
|
<%= link_to high_level_boms_path do %>
  <i class="icon-arrow-up" title="overview">&nbsp;</i>
<% end %>
|
