<h1>Editing asset_type_number_range</h1>

<% if @asset_type_number_range.errors.any? %>
  <ul>
    <% @asset_type_number_range.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>


<%= form_for(@asset_type_number_range) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Start range</b><br />
    <%= f.text_field :start_range %>
  </p>

  <p>
    <b>End range</b><br />
    <%= f.text_field :end_range %>
  </p>

  <p>
    <b>Asset type</b><br />
    <%= f.text_field :asset_type_id %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @asset_type_number_range %> |
<%= link_to 'Back', asset_type_number_ranges_path %>
