<h3>Listing asset type number ranges</h3>

<table>
  <tr>
    <th>Name</th>
    <th>Start range</th>
    <th>End range</th>
    <th>Asset type</th>
  </tr>

<% for asset_type_number_range in @asset_type_number_ranges %>
  <tr>
    <td><%=h asset_type_number_range.name %></td>
    <td><%=h asset_type_number_range.start_range %></td>
    <td><%=h asset_type_number_range.end_range %></td>
    <td><%=h asset_type_number_range.asset_type_id %></td>
    <td><%= link_to 'Show', asset_type_number_range %></td>
    <td><%= link_to 'Edit', edit_asset_type_number_range_path(asset_type_number_range) %></td>
    <td><%= link_to 'Destroy', asset_type_number_range, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to(new_asset_type_number_range_path, :class => 'btn btn-danger btn-mini') do %>
  <i class="icon-plus">&nbsp;</i>New asset type number range
<% end %>
