<p>
  <b>Name:</b>
  <%=h @asset_type_number_range.name %>
</p>

<p>
  <b>Start range:</b>
  <%=h @asset_type_number_range.start_range %>
</p>

<p>
  <b>End range:</b>
  <%=h @asset_type_number_range.end_range %>
</p>

<p>
  <b>Asset type:</b>
  <%=h @asset_type_number_range.asset_type_id %>
</p>


<%= link_to 'Edit', edit_asset_type_number_range_path(@asset_type_number_range) %> |
<%= link_to 'Back', asset_type_number_ranges_path %>
