<% conv = conv_que_thumbnail %>
<% if conv.priority.to_s == "High" %>
  <% xclass = 'alert-error' %>
<% end %>

  <div class="thumbnail <%= raw xclass %>" style="margin-bottom: 5px;border: 1px solid #000000;">
  <div class="row">
    <div class="pull-right muted"><small><%= link_to conv.id.to_s,{:action => :edit, :controller => :conversions, :id => conv.id.to_s}, {:target => '_blank'} %></small></div>
    <div class="span0_5">
      <div class="btn-group">
        <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
          <%= conv.id.to_s %>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <% @servers.each do |srv|%>
            <li>
              <%= link_to(:action => 'assign_to_server',:cid => conv.id.to_s,:id => srv.id) do %>
                <i class="icon-check"></i><small>&nbsp;<%= srv.server_id %></small>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="span1"><strong><%= conv.output_format %>&nbsp;<%= conv.productid %></strong></div>
  </div>
  <div class="row">
    <div class="pull-right"><%= conv.data_release.company_abbr.name if conv.data_release %>&nbsp;</div>
    <div class="span0_5"><%= conv.region.region_code if conv.region  %>&nbsp;</div>
    <div class="span1"><%= conv.data_release.name if conv.data_release %>&nbsp;</div>
  </div>
  <% if !conv.status_remark.blank? %>
    <div class="row">
      <% status_string = conv.status_remark %>
      <% conv.status_remark.scan(/[PC]R-\S+-\d+/i).each do |s|
        status_string = status_string.gsub("#{s}","<a href='#{ConfigParameter.get("cr_tool_url")}#{s.scan(/[PC]R-(\S+-\d+)/i).join}' target='_blank'>#{s}</a>")
      end %>
      <div class="span3"><small><%= raw status_string %></small></div>
    </div>
  <% end %>
</div>
