<%= form_for(@server) do |f| %>
  <div class="row">
    <div class="span5">
      <h4><%= params[:action].humanize %> server</h4>
    </div>
  </div>

  <% if @server.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@server.errors.count, "error") %> prohibited this server from being saved:</h2>

      <ul>
        <% @server.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="span7 bounded">

      <div class="row">
        <div class="span3">
          Server
        </div>
        <div class="span3">
          <%= f.text_field :server_id, :class => "span3" %>
        </div>
      </div>

      <div class="row">
        <div class="span3">
          Owned by
        </div>
        <div class="span3">
          <%= f.select :owned_by_project_id, Project.active.collect {|p| [p.name, p.id]},{},{:class => 'span3'} %>
        </div>
      </div>

      <div class="row">
        <div class="span3">
          <%= f.label :project %>
        </div>
        <div class="span3">
          <%= select_tag "project_ids[]", options_for_select(Project.active.collect{|p| [p.name, p.id]}, @server.projects.collect{|p| p.id}), {:class => "span3", :multiple=>"true"} %>
        </div>
      </div>

      <div class="row">
        <div class="span3">
          Job types
        </div>
        <div class="span3">
          <%= select_tag "job_types[]", options_for_select(JobType.job_types, @server.job_types.allowed.collect{|p| p.name}), {:class => "span3", :multiple=>"true"} %>
        </div>
      </div>

      <div class="row">
        <div class="span3">
          <%= f.label :processor %>
        </div>
        <div class="span3">
          <%= f.text_field :processor, :class => "span3" %>
        </div>
      </div>

      <div class="row">
        <div class="span3">
          Remarks
        </div>
        <div class="span3">
          <%= f.text_field :server_remark, :class => "span3" %>
        </div>
      </div>

      <div class="row">
        <div class="span3">
          Active?
        </div>
        <div class="span1">
          <%= f.check_box :active %>
        </div>
      </div>

      <div class="row">
        <div class="span6 bounded">
          <p><strong>To be used by the automatic scheduler</strong></p>

          <div class="row">
            <div class="offset1 span2">
              <%= f.label :cores %>
            </div>
            <div class="span2">
              <%= f.number_field :cores %>
            </div>
          </div>

          <div class="row">
            <div class="offset1 span2">
              Memory (MB)
            </div>
            <div class="span2">
              <%= f.number_field :memory %>
            </div>
          </div>

          <div class="row">
            <div class="offset1 span2">
              Disk capacity(MB)
            </div>
            <div class="span2">
              <%= f.number_field :diskcapacity %>
            </div>
          </div>

          <div class="row">
            <div class="offset1 span2">
              Max. concurrent jobs
            </div>
            <div class="span2">
              <%= f.number_field :max_jobs %>
            </div>
          </div>

          <div class="row">
            <div class="offset1 span2">
              Available?
            </div>
            <div class="span2">
              <%= f.check_box :scheduling_allowed_yn %>
            </div>
          </div>

          <div class="row">
            <div class="offset1 span2">
              Down?
            </div>
            <div class="span2">
              <%= f.check_box :down %>
            </div>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="span3">
          Host machine in case of a virtual server
        </div>
        <div class="span3">
          <%= f.select :virtual_host, options_for_select([:xen1, :xen2, :xen3],@server.virtual_host), { :include_blank => true} , { :class => 'span3', :data => { :placeholder => 'None' } } %>
        </div>  
      </div>

      <div class="row">
        <div class="span3">
          Additional processes
        </div>
        <div class="span3">
          <%= f.text_field :additionalprocess, :class => "span3" %>
        </div>
      </div>
      <br>
      <p><%= f.submit "Save", class: "btn" %></p>
    </div>
  </div>  
  <script>
    $("#server_owned_by_project_id").select2();
    $("#project_ids_").select2();
    $("#job_types_").select2();
    $('#server_virtual_host').select2({allowClear:true});
  </script>
<% end %>
