<% jqt = job_que_thumbnail %>
<% if jqt.status >= Job::STATUS_FAILED || jqt.status == Job::STATUS_HOLD %>
  <% xclass = 'alert-error' %>
<% elsif jqt.status == Job::STATUS_QUEUED && !jqt.run_server.blank? %>
  <% xclass = 'alert-info' %>
<% end %>
      <div class="thumbnail <%= raw xclass %>" style="margin-bottom: 5px; border: 1px solid #000000;">
        <div class="row">
          <div class="pull-right muted">
            <small>
              <% if jqt.class == ConversionJob %>
                <%= link_to jqt.conversion_id.to_s,{:action => :show, :controller => :conversions, :id => jqt.conversion_id.to_s}, {:target => '_blank'} %>
              <% elsif jqt.class == PackingJob %>
                <%= link_to jqt.packing.outbound_order, :target => '_blank' do %>
                  <%= jqt.packing.outbound_order_id %>
                <% end %>
              <% elsif jqt.class == ValidationJob %>
                <%= link_to jqt.id,jqt, :target => '_blank' %>
              <% else %>
                <%= jqt.id %>
              <% end %>
            </small>
          </div>
          <div class="span0_5">
            <div class="btn-group">
      <% if jqt.class == ConversionJob && jqt.status == Job::STATUS_FAILED && !jqt.bug_tracker_id.blank? %>
              <%= link_to edit_new_copy_conversion_job_path(jqt), :target => '_blank', :method => :post, :class => 'btn btn-mini', :title => 'edit new copy of conversion job' do %>
                <i class="icon-edit">&nbsp;</i><%= jqt.id.to_s %>
              <% end %>
      <% elsif jqt.class == ConversionJob && jqt.status == Job::STATUS_MANUAL && !jqt.bug_tracker_id.blank? %>
              <%= link_to edit_conversion_job_path(jqt), :target=> '_blank', :class => 'btn btn-mini', :title => 'edit conversion job' do %>
                <i class="icon-edit">&nbsp;</i><%= jqt.id.to_s %>
              <% end %>
      <% else %>
              <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-retweet" title="job supported">&nbsp;</i><%= jqt.id.to_s %>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <% @schedule_servers.each do |srv| %>
                  <li>
                    <%= link_to job_assign_servers_path(jid: jqt.id.to_s, id: srv.id), method: :post do %>
                      <i class="icon-check"></i><small>&nbsp;<%= srv.server_id %></small>
                    <% end %>
                  </li>
                <% end %>
              </ul>
      <% end %>
            </div>
          </div>

          <% if jqt.class == ConversionJob %>
            <div class="span1"><strong>&nbsp;&nbsp;<%= jqt.conversion.output_format %>&nbsp;<%= jqt.conversion.productid %></strong></div>
        </div>
        <div class="row">
    <% if !jqt.bug_tracker_id.blank? %>
      <% bugtracker_url = ConfigParameter.get("cr_tool_url") + jqt.bug_tracker_id %>
      <div class="pull-right"><span class="label label-warning"><small><a href="<%= bugtracker_url %>" target="_blank"><%= jqt.bug_tracker_id %></a>&nbsp;</small></span></div>
    <% end %>
    <div class="pull-right"><%= jqt.tag_list_on(:context_labelsupplier) %>&nbsp;</div>
    <% region = jqt.tag_list_on(:context_subregion) %>
    <% region = jqt.coverage_label if region.blank? %>
    <div class="span0_5"><%= region  %>&nbsp;</div>
    <div class="span1"><%= jqt.tag_list_on(:context_labelrelease) %>&nbsp;</div>
    

          <% elsif jqt.class == PackingJob %>
            <div class="span1"><strong>Packing job</strong></div>
        </div>
        <div class="row">
            <div class="span3"><%= jqt.packing.filename %>&nbsp;</div>

          <% elsif jqt.class == ValidationJob %>
            <div class="span1"><strong>Validation&nbsp;job</strong></div>
        </div>
        <div class="row">
    <% if !jqt.bug_tracker_id.blank? %>
      <% bugtracker_url = ConfigParameter.get("cr_tool_url") + jqt.bug_tracker_id %>
      <div class="pull-right"><span class="label label-warning"><small><a href="<%= bugtracker_url %>" target="_blank"><%= jqt.bug_tracker_id %></a>&nbsp;</small></span></div>
    <% end %>
    <div class="pull-right"><%= jqt.conversion_database.conversion.data_release.company_abbr.name if jqt.conversion_database %>&nbsp;</div>
    <div class="span0_5"><%= jqt.conversion_database.coverage_label if jqt.conversion_database %>&nbsp;</div>

    <div class="span1"><%= jqt.conversion_database.conversion.data_release.name if jqt.conversion_database %>&nbsp;</div>
          <% else %>
            <div class="span1"><strong><%= jqt.id %>&nbsp;</strong></div>
        </div>
        <div class="row">
            <div class="span3">&nbsp;</div>
          <% end %>
        </div>
      </div>
