<% if server.active == 'N' %>
  <% inactive_class = 'deleted' %>
<% end %>

<div class="row">
  <div class="span1 btn-group">
    <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
      Action
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li>
        <%= link_to [server] do %>
          <i class="icon-info-sign"></i>&nbsp;show
        <% end %>
      </li>
      <% if server.owned_by.id == session[:project_id] && can?(:edit, server) %>
        <li>
          <%= link_to [:edit, server] do %>
            <i class="icon-pencil"></i>&nbsp;edit
          <% end %>
        </li>
      <% end %>
      <% if server.owned_by.id == session[:project_id] && can?(:delete, server) %>
        <li>
          <%= link_to [server], method: :delete do %>
            <i class="icon-ban-circle"></i>&nbsp;destroy
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="span1 <%= inactive_class %>"><%= server.server_id %>&nbsp;</div>
  <div class="span1 <%= inactive_class %>"><%= server.owned_by.name %>&nbsp;</div>
  <div class="span1 <%= inactive_class %>"><%= server.processor %>&nbsp;</div>
  <div class="span1 <%= inactive_class %>"><%= server.diskcapacity.to_i > 0 ? number_to_human_size(server.diskcapacity.to_i * 1048576) : server.diskcapacity %>&nbsp;</div>
  <div class="span1 <%= inactive_class %>"><i class="icon <%= server.active ? 'icon-check' : 'icon-minus' %>">&nbsp;</i></div>
  <div class="span1 <%= inactive_class %>"><i class="icon <%= server.scheduling_allowed_yn ? 'icon-check' : 'icon-minus' %>">&nbsp;</i></div>
  <div class="span1 <%= inactive_class %>"><i class="icon <%= server.down ? 'icon-check' : 'icon-minus' %>">&nbsp;</i></div>
  <div class="span1 <%= inactive_class %>"><%= server.server_remark %>&nbsp;</div>
  <div class="span2 <%= inactive_class %>"><%= server.additionalprocess %>&nbsp;</div>
  <div class="span2 <%= inactive_class %>">
    <% server.projects.each do |project| %>
      <span class="label"><%= project.name %></span>
    <% end %>
  </div>

</div>