<% server = server_thumbnail %>
<div class="span4">
  <div class="thumbnail server <%= server.down ? 'server-inactive' : '' %>">
    <div class="well-small server-header <%= server.down ? 'server-header-inactive' : '' %> <%= server.owned_by_project_id != params[:project_id].to_i ? 'server-header-other-project' : '' %>">
      <strong><%= server.server_id %></strong>&nbsp;<%= server.diskcapacity.to_i > 0 ? number_to_human_size(server.diskcapacity.to_i * 1048576) : server.diskcapacity %>&nbsp;<%= server.processor %>&nbsp;
      <small>&nbsp;<%= server.server_remark %></small>
      <% if server.owned_by_project_id == params[:project_id] %>
      <a href="#" style="color:white"><i class="icon-off pull-right <%= server.down ? 'server-off' : '' %>" id="server-<%= server.id %>"></i></a>
      <a href="#" style="color:white"><i class="icon-tasks pull-right <%= server.down ? 'hidden' : '' %>  <%= server.scheduling_allowed_yn ? 'server-schedule-on' : '' %>" id="schedule-server-<%= server.id %>">&nbsp;&nbsp;</i></a>
      <% else %>
        <li class="icon-off pull-right <%= server.down ? 'server-off' : '' %>"></li>
        <li class="icon-tasks pull-right <%= server.down ? 'hidden' : '' %>  <%= server.scheduling_allowed_yn ? 'server-schedule-on' : '' %>">&nbsp;&nbsp;</li>
      <% end %>
    </div>

    <% @active_assigned_jobs.each do |aj| %>
      <% if aj.run_server.to_s == server.server_name %>
        <% if [Job::STATUS_MANUAL, Job::STATUS_FAILED, Job::STATUS_HOLD].include?(aj.status) %>
          <% xclass = (aj.project_id == params[:project_id] ? 'red_text' : 'light_red_text') %>
        <% elsif aj.project_id != params[:project_id] %>
          <% xclass = 'grey_text' %>
        <% end %>
        <div class="row" title="<%= aj.project_id == params[:project_id] ? nil : "Project '#{aj.project.name}'" %>">
          <% if aj.class == ConversionJob %>
            <% if aj.project_id == params[:project_id] %>
              <div class="span_tiny">
                <small>
                  <%= link_to aj.id, {:action => :show, :controller => :conversion_jobs, :id => aj.id}, {:target => '_blank'} %>
               </small>
              </div>
            <% else %>
              <div class="span_tiny <%= raw xclass %>"><small><%= aj.id %></small></div>
            <% end %>
            <div class="span <%= raw xclass %>"><small><%= aj.conversion.output_format if aj.conversion %></small></div>
            <div class="span <%= raw xclass %>"><small><%= aj.tag_list_on(:context_labelsupplier) %></small></div>
            <div class="span <%= raw xclass %>"><small><%= aj.tag_list_on(:context_labelrelease) %></small></div>
            <div class="span <%= raw xclass %>"><small>
                <% if aj.conversion.productid.blank? %>
                  <%= aj.conversion.purpose %>
                <% else %>
                  <%= aj.conversion.productid %>
                <% end %>
              </small>
            </div>
            <%  if aj.tagmodel["coverage"].size > 1
                area = aj.conversion.region.region_code if aj.conversion.region
               else
                area =  aj.coverage_label
               end %>
            <div class="span <%= raw xclass %>"><%= area %></div>

          <% elsif aj.class == PackingJob %>
            <div class="span_tiny">
              <small>
                <% if aj.project_id == params[:project_id] %>
                  <%= link_to aj, :target => '_blank' do %>
                    <i class="icon icon-gift"></i><%= aj.id %>
                  <% end %>
                <% else %>
                  <%= aj.id %>
                <% end %>
              </small>
            </div>
            <div class="span <%= raw xclass %>"><small><%= aj.packing.filename %></small></div>

          <% elsif aj.class == ValidationJob %>
            <div class="span_tiny <%= raw xclass %>">
              <small>
                <% if aj.project_id == params[:project_id] %>
                  <%= link_to aj, :target => '_blank' do %>
                    <%= aj.id %>
                  <% end %>
                <% else %>
                  <%= aj.id %>
                <% end %>
              </small>
            </div>
            <div class="span <%= raw xclass %>"><small><i class="icon icon-zoom-in"></i>VJ</small></div>
            <div class="span <%= raw xclass %>"><small><%= aj.conversion_database.conversion.data_release.company_abbr.ms_abbr_3 if aj.conversion_database %></small></div>
            <div class="span <%= raw xclass %>"><small><%= aj.conversion_database.conversion.data_release.name if aj.conversion_database %></small></div>
            <div class="span <%= raw xclass %>"><small><%= aj.conversion_database.coverage_label if aj.conversion_database %></small></div>
          <% elsif aj.class == TestRequestJob %>
            <div class="span"><small><%= aj.id %></small></div>
            <div class="span <%= raw xclass %>"><small>&nbsp;</small></div>
            <div class="span <%= raw xclass %>"><small><%= aj.label_test_case_name %></small></div>
            <div class="span <%= raw xclass %>"><small><%= aj.label_test_area_name %></small></div>
          <% else %>
            <div class="span"><small><%= aj.id %></small></div>
            <div class="span <%= raw xclass %>"><small>&nbsp;</small></div>
          <% end %>
          
          <% if aj.project_id == params[:project_id] %>
            <% if aj.status == Job::STATUS_PROCESSING %>
              <%= link_to job_reset_servers_path(jid: aj.id), :method => :post do %>
                <small><i class="icon-remove pull-right" id="<%= aj.id %>"></i></small>
              <% end %>
            <% elsif aj.status <= Job::STATUS_MANUAL %>
              <%= link_to job_execute_servers_path(jid: aj.id), :method => :post do %>
                <small><i class="icon-play pull-right" id="<%= aj.id %>"></i></small>
              <% end %>
            <% elsif aj.status == Job::STATUS_FAILED %>
                <% if aj.class == ConversionJob %>
                <div class="modal hide fade" id="<%= server.server_id %>_bug_tracker_modal_<%= aj.id %>">

                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4>Handle conversion job crash</h4>
                  </div>

                  <div class="modal-body">
                    <p>Please register Jira reference, and optional a reason of failure.</p>
                    <%= form_tag url_for(:action => 'crashed_job_default_action', :controller => 'servers',:id => server.id),:id => "crashed_#{aj.id}" do %>
                    <div class="row">
                      <div class="span2"><strong>Bug tracker ID</strong></div>
                      <div class="span3"><strong>Fail reason</strong></div>
                    </div>
                    <div class="row">
                      <div class="span2"><%= text_field_tag "bug_tracker_id" ,aj.bug_tracker_id, :class => 'span2 reset_to_bootstrap' %></div>
                      <div class="span3"><%= select_tag "job_fail_reason", options_for_select(JobFailReason.where(:job_type => aj.class.name).collect{|f|f.reason}),{:include_blank => true,:data=>{:placeholder => "Assign reason"},:class => 'span3'} %></div>
                    </div>
                    <div class="row">
                      <div class="span2"><strong>Move to crash dir</strong></div>
                      <div class="span3"><%=  check_box_tag 'move_to_crash_dir', true, true %> (will only be done if Bug tracker ID specified)</div>
                    </div>
                                          
                    <%= hidden_field_tag "jid",aj.id %>
                  </div>

                  <div class="modal-footer">
                    <button class="btn"  type="button" id="<%= server.server_id %>_submit_crashed_<%= aj.id %>">Proceed</button>
                <% end %>
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                  </div>
                </div>
                <% if aj.busy? %>
                  <%= link_to '/webmis/delayed_job', :target => "_blank" do %>
                    <small><i class="icon-share-alt pull-right" title="<%= aj.file_system_status_str %>"></i></small>
                  <% end %>
                <% else %>
                  <small><a href="#"><i class="icon-folder-close pull-right" id="<%= server.server_id %>_cj_handle_crashed_<%= aj.id %>"></i></a></small>
                <% end %>
              <% else %>
                <% if aj.busy? %>
                  <%= link_to '/webmis/delayed_job', :target => "_blank" do %>
                    <small><i class="icon-share-alt pull-right" title="<%= aj.file_system_status_str %>"></i></small>
                  <% end %>
                <% else %>
                  <%= link_to crashed_job_default_action_servers_path(jid: aj.id), :method => :post do %>
                    <small><i class="icon-folder-close pull-right" id="<%= aj.id %>"></i></small>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <script type="text/javascript">
      function init_server_thumbnail_buttons() {
        $("[id^=<%= server.server_id %>_cj_handle_crashed_]").click(function () {
          var aj_id = $(this).attr("id").match(/[0-9]*$/)
           alert('go :: ' + aj_id)
          clearTimeout(refreshLoop);
          $('#<%= server.server_id %>_bug_tracker_modal_' + aj_id).modal("show");
        });

        $("[id^=<%= server.server_id %>_bug_tracker_modal_]").on('hide', function () {
          refreshLoop = setTimeout(refresh, 30000);
        })

        $("[id^=<%= server.server_id %>_submit_crashed_]").click(function () {
          var aj_id = $(this).attr("id").match(/[0-9]*$/)
          $.post('<%= url_for(:action => 'crashed_job_default_action', :controller => 'servers') %>' + '?id=' + aj_id, $("#crashed_" + aj_id).serialize());
        });
      }
      init_server_thumbnail_buttons();
    </script>


    <% @active_assigned_conversions.each do |aconv| %>
      <% if aconv.server_name.to_s == server.server_id.to_s %>
        <% if aconv.project_id != params[:project_id] %>
          <% xclass = 'grey_text' %>
        <% end %>
        <div class="row">
          <% if aconv.project_id == params[:project_id] %>
            <div class="span_tiny"><small><%= link_to aconv.id,{:action => :edit, :controller => :conversions,:id => aconv.id}, {:target => '_blank'} %></small></div>
          <% else %>
            <div class="span_tiny <%= raw xclass %>"><small><%= aconv.id %></small></div>
          <% end %>
          <div class="span <%= raw xclass %>"><small><%= aconv.output_format %></small></div>
          <div class="span <%= raw xclass %>"><small><%= aconv.data_release.company_abbr.ms_abbr_3 if aconv.data_release %></small></div>
          <div class="span <%= raw xclass %>"><small><%= aconv.data_release.name if aconv.data_release %></small></div>
          <div class="span <%= raw xclass %>">
            <small>
              <% if aconv.productid.blank? %>
                <%= aconv.purpose %>
              <% else %>
                <%= aconv.productid %>
              <% end %>
            </small>
          </div>
          <div class="span <%= raw xclass %>"><small><%= aconv.region.region_code if aconv.region %>&nbsp;</small></div>
          <small>
            <% if aconv.project_id == params[:project_id] %>
              <%= link_to(:action => 'reset', :cid => aconv.id) do %>
                <i class="icon-remove pull-right"></i>
              <% end %>
            <% end %>
          </small>
        </div>
      <% end %>
    <% end %>
    <div class="row">
      <div class="span">
        <%= text_field_tag "addprocess", server.additionalprocess, :class => 'span4', :id => "addprocess-#{server.id}",:style => 'max-width:345px;' %>
      </div>
    </div>
  </div>
</div>
