<div class="row bounded-header">
  <div class="span5"><h4>Server <%= @server.server_id %></h4></div>
  <div class="span pull-right">
    <% @server.projects.each do |project| %>
      <span class="label"><%= project.name %></span>
    <% end %>
    <% @server.job_types.allowed.each do |job_type| %>
      <span class="label label-info"><%= job_type.name %></span>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="span3">
    <strong>Owned by project</strong>
  </div>
  <div class="span3">
    <%= @server.owned_by.name %>
  </div>
</div>
<div class="row">
  <div class="span3">
    <strong>Processor</strong>
  </div>
  <div class="span3">
    <%= @server.processor %>
  </div>
</div>

<div class="row">
  <div class="span3">
    <strong>Remarks</strong>
  </div>
  <div class="span7">
    <%= @server.server_remark %>
  </div>
</div>

<div class="row">
  <div class="span3">
    <strong>Active?</strong>
  </div>
  <div class="span3">
    <%= @server.active %>
  </div>
</div>

<div class="row">
  <div class="span6 bounded">
    <p><strong>To be used by the automatich scheduler</strong></p>

    <div class="row">
      <div class="offset1 span2">
        <strong>Cores</strong>
      </div>
      <div class="span3">
        <%= @server.cores %>
      </div>
    </div>

    <div class="row">
      <div class="offset1 span2">
        <strong>Memory</strong>
      </div>
      <div class="span3">
        <%= @server.memory %> MB
      </div>
    </div>

    <div class="row">
      <div class="offset1 span2">
        <strong>Disk capacity</strong>
      </div>
      <div class="span3">
        <%= @server.diskcapacity %> MB
      </div>
    </div>

    <div class="row">
      <div class="offset1 span2">
        <strong>Max. concurrent jobs</strong>
      </div>
      <div class="span3">
        <%= @server.max_jobs %>
      </div>
    </div>

    <div class="row">
      <div class="offset1 span2">
        <strong>Scheduling allowed?</strong>
      </div>
      <div class="span3">
        <%= @server.scheduling_allowed_yn %>
      </div>
    </div>

    <div class="row">
      <div class="offset1 span2">
        <strong>Down?</strong>
      </div>
      <div class="span3">
        <%= @server.down %>
      </div>
    </div>

    <div class="row">
      <div class="span3">
        <strong>Host machine in case of a virtual server</strong>
      </div>
      <div class="span3">
        <%= @server.virtual_host %>
      </div>
    </div>

    <div class="row">
      <div class="span3">
        <strong>Additional processes</strong>
      </div>
      <div class="span3">
        <%= @server.additionalprocess %>
      </div>
    </div>
  </div>
</div>
