<div class="thumbnail" style="margin-bottom: 5px;margin-top: 15px;border: 1px solid #000000;">
<% Job.totals(session[:project_id], "auto_que").to_a.each do |j| %>
  <strong><small><%=  j[0].underscore.pluralize.humanize %>:</small></strong><br />
  <% j[1].each do |k,v| %>
    <%  status = Job.status_array.index(k) %>
    <% fail_reason = nil %>
    <% if (k == "FAILED" || k == "DISK_FULL") %>
     <div style='color:red'>
     <% if k == "DISK_FULL" %>
       <% # look for jobs status = processing and with fail_reason filled %>
       <% fail_reason = '1' %>
       <% status =  Job.status_array.index("PROCESSING") %>
     <%  end %>
    <% else %>
     <div>
    <% end %>
    <small><%= k.humanize %>:&nbsp;<%= link_to v, {:controller => j[0].underscore.pluralize, :action => 'index' , :search_status => status, :fail_reason => fail_reason }, {:target => '_blank'} %></small><br />
    </div>

  <% end %>
<% end %>
       
<% v = ConversionDatabase.totals(session[:project_id], "auto_que") %>
<% unless v.empty? %>
  <strong><small>Validation of conversion databases:</small></strong><br />
  <% v.each do |k,v| %>
    <% if (k == ConversionDatabase::STATUS_HAS_ERRORS) %>
      <div style='color:red'>
    <% else%>
      <div>
    <% end %>
      <small>
        Database <%= ConversionDatabase.status_array[k].downcase %>:&nbsp;
        <% if k == ConversionDatabase::STATUS_HAS_ERRORS %>
          <%= link_to v, show_validation_errors_conversions_path, :target => '_blank' %>
        <% else %>
          <%= v %>
        <% end %>
      </small><br />
    </div>
  <% end %>
<% end %>

</div>
