<%= render 'form' %>
<div class="row">
  <div class="span12">
    <%= link_to :back, :class => 'btn', :title => 'back' do %>
      <li class="icon icon-arrow-left"></li>
    <% end %>
    <%= link_to servers_path, :class => 'btn', :title => 'overview' do %>
      <li class="icon icon-arrow-up"></li>
    <% end %>
    <%= link_to @server, :class => 'btn', :title => 'show' do %>
      <li class="icon icon-eye-open"></li>
    <% end %>
  </div>
</div>
