<div class="subnav-fixed">
  <div class="navbar-inner">
    <div class="span1">
      <h4>Servers</h4>
    </div>
    <div class="span10" style="margin-left: 75px">
      <%= form_tag url_for(action: :index), method: 'get' do %>
        <%= hidden_field_tag :direction, params[:direction] %>
        <%= hidden_field_tag :sort, params[:sort] %>
        <div class="input-append">
          <%= button_tag "New", name: 'new', :class => "btn btn-info", type: :button, id: 'btn_new' %>
          <%= select_tag("active", options_for_select({"active" => 1, "inactive" => 0}, params[:active]), include_blank: true, :class => 'span2', data: { placeholder: 'Active?'}) %>
          <%= select_tag("projects", options_for_select({"owned by #{Project.find(session[:project_id]).name}" => 0, "allocated to #{Project.find(session[:project_id]).name}" => 1, "for all projects" => 2}, params[:projects]), :class => 'span2') %>
          <%= select_tag("scheduling_allowed_yn", options_for_select({"allowed" => 1, "not allowed" => 0}, params[:scheduling_allowed_yn]), include_blank: true, :class => 'span2', data: { placeholder: 'Scheduling?'}) %>
          <%= select_tag("down", options_for_select({"yes" => 1, "no" => 0}, params[:down]), include_blank: true, :class => 'span2', data: { placeholder: 'Down?'}) %>
          <%= text_field_tag :search, params[:search], placeholder: 'Search', :class => 'span2' %>
          <%= button_tag "Search", name: nil, type: :submit, :class => "btn" %>
          <%= button_tag "Reset", name: 'reset', :class => "btn", :type => :submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div id="endless">
  <div class="row">
    <div class="offset1 span1"><strong><%= sortable "server_id", "server" %></strong></div>
    <div class="span1"><strong><%= sortable "projects.name", "Owned by" %></strong></div>
    <div class="span1"><strong><%= sortable "processor" %></strong></div>
    <div class="span1"><strong><%= sortable "diskcapacity", "disk (MB)" %></strong></div>
    <div class="span1"><strong><%= sortable "active", "active?" %></strong></div>
    <div class="span1"><strong><%= sortable "scheduling_allowed_yn", "scheduling?" %></strong></div>
    <div class="span1"><strong><%= sortable "down", "down?" %></strong></div>
    <div class="span1"><strong><%= sortable "server_remark", "remarks" %></strong></div>
    <div class="span2"><strong><%= sortable "additionalprocess", "additional processes" %></strong></div>
    <div class="span2"><strong>Allocated to projects</strong></div>
  </div>
  <%= render(partial: "server", collection: @servers) %>
</div>
<%= will_paginate(@servers) %>
<%= pageless(@servers.total_pages, url_for(controller: :process_data,action: :index), "#endless") %>

<footer class="subnav subnav-fixed" style="Bottom:0;top:auto;margin-bottom: 0px;">
  &nbsp;
</footer>

<script>
  $('#btn_new').click(function(){
    window.location.href="<%= url_for(action: :new) %>";
  })
  $('#active').chosen({allow_single_deselect:true});
  $('#projects').chosen();
  $('#scheduling_allowed_yn').chosen({allow_single_deselect:true});
  $('#down').chosen({allow_single_deselect:true});
</script>
