<% params[:project_id] = 1 if !params[:project_id] %>
<% params[:project_id] = params[:project_id].to_i %>
<div class="row">
  <div class="span0_5">
    <h4>
      <%= link_to servers_path(:projects => params[:projects]), :id => 1 do %>
        <i class="icon-wrench" title="server admin" ></i>
      <% end %>
      <%= link_to overview_servers_path(:projects => params[:projects], :project_id => params[:project_id]) do %>
        <i class="icon-refresh" title="refresh" ></i>
      <% end %>
    </h4>
  </div>
  <div class="span2"><h4>Server overview</h4></div>
</div>

<div class="row">
  <div class="span3">
    <%= select_tag("projects", options_for_select({"owned by #{Project.find(params[:project_id]).name}" => 0, "allowed for scheduling" => 1, "all active servers" => 2}, params[:projects]), class: 'span3') %><br />
 
    <div id="serverTotals"><%= render(:partial => "totals") %></div>
    <div id="serverConvQue"><%= render(:partial => "conv_que_thumbnail", :collection => @active_unassigned_conversions) %></div>
    <div id="serverJobQue"><%= render(:partial => "job_que_thumbnail", :collection => @active_unassigned_jobs + @waiting_on_bug_tracker_jobs) %></div>
  </div>
  <div class="span9" style="width: 75%">
    <div id="serverThumbs"><%= render(:partial => "server_thumbnail", :collection => @servers) %></div>
  </div>
</div>

<script type="text/javascript">
  function toggleOnOf(el){
    $(el).toggleClass( "server-off" );
    $("#schedule-" + $(el).attr('id')).toggleClass( "server-off" );
    $(el).parent().parent().parent().toggleClass( "server-inactive" );
    $(el).parent().parent().toggleClass( "server-header-inactive" );
    if ($(el).parent().parent().hasClass( "server-header-inactive" )){
      $("#schedule-" + $(el).attr('id')).addClass( "hidden" );
      $("#schedule-" + $(el).attr('id')).removeClass( "server-schedule-on" );
    }else{
      $("#schedule-" + $(el).attr('id')).removeClass( "hidden server-off" );
    }
  }

  function toggleScheduleOnOf(el){
    $(el).toggleClass( "server-schedule-on" );
  }

  $('#projects').select2();
  $('#projects').change(function(){
    window.location.href = '<%= url_for overview_servers_path %>'+'?projects='+$("#projects").val()+'&project_id='+<%= params[:project_id] %>;
  })

  $(document).on('click', '.icon-off', function() {
    var toggle = false;
    if ($("#schedule-" + $(this).attr('id')).hasClass( "server-schedule-on" ) && !$("#schedule-" + $(this).attr('id')).hasClass( "hidden" )){
      if (confirm('Server is enabled for scheduling, are you sure?')){
        toggle = true
      }
    }else if ($(this).attr('id') != undefined){
      toggle=true
    }
    if (toggle){
      $.post('<%= url_for(:action => :toggle_shutdown) %>', { sid: this.id } );
      toggleOnOf(this)
    }
  });
  
  $(document).on('click', '.icon-tasks', function() {
    if ($(this).attr('id') != undefined) {
      $.post('<%= url_for(:action => :toggle_schedule_on_off) %>', { sid: this.id } );
      toggleScheduleOnOf(this);
    }
  });

  $(document).on('change', '[id^=addprocess]', function() {
    var sid = (this.id).match(/\d+/);
    $.post('<%= url_for(:controller=>'servers', :action=>'update_serverprocess') %>?id='+sid, { addprocess: $(this).val()} );
  });

  var refreshLoop = ''
  function refresh(){
    $('#bar-spinner-message').html("refresh conversion jobs");
    $.get('<%= url_for refresh_overview_servers_path(:projects => params[:projects],:project_id => params[:project_id]) %>');

  }
  // Refresh interval in milliseconds
    //setInterval('refresh()', 30000);
refreshLoop = setTimeout(refresh,30000);

$(document)
.mouseenter(function(){clearTimeout(refreshLoop);})
.mouseleave(function(){refreshLoop = setTimeout(refresh,30000);})

</script>
