<% params[:project_id] = params[:project_id].to_i %>
<%  cache(params[:projects].to_s+','+params[:project_id].to_s, :expires_in => 1.minute) do
      if params[:projects] == "0"
      # only show the servers owned by the current project
      @servers = Server.owned_by(params[:project_id]).where('active =1').order('server_id')
    elsif params[:projects] == "2"
      # show all servers
      @servers = Server.where('active = 1').order('server_id')
    else
      # the default, params[:projects] == 1, show the servers allowed for scheduling by the current project
      @servers = Server.allocated_to(params[:project_id]).where('active = 1').order('server_id')
    end

    @schedule_servers = Server.allocated_to(params[:project_id]).where('active = 1 and scheduling_allowed_yn = 1').order('server_id')
    @active_unassigned_conversions = Conversion.active_unassigned_conversions(params[:project_id])

    @active_assigned_conversions = Conversion.running
    @queued_jobs = Job.queued

    @active_unassigned_jobs = Job.in_queue.where(project_id:params[:project_id])
    @active_assigned_jobs = Job.on_server + Job.assigned
    @waiting_on_bug_tracker_jobs = Job.waiting_on_bug_tracker.where(project_id:params[:project_id]) %>

$('#serverThumbs').html('<%= escape_javascript(render(:partial => "server_thumbnail", :collection => @servers)) %>');
$('#serverConvQue').html('<%= escape_javascript(render(:partial => "conv_que_thumbnail", :collection => @active_unassigned_conversions)) %>');
$('#serverJobQue').html('<%= escape_javascript(render(:partial => "job_que_thumbnail", :collection => @active_unassigned_jobs + @waiting_on_bug_tracker_jobs)) %>');
$('#serverTotals').html('<%= escape_javascript(render(:partial => "totals")) %>');
refreshLoop = setTimeout(refresh,30000);
<% end %>

