<div class="row">
  <div class="span7 bounded bounded-headered">
    <%= render "show_data" %>
  </div>
</div>

<div class="row">
  <div class="span7">
    <%= link_to :back, :class => 'btn', :title => 'back' do %>
      <li class="icon icon-arrow-left"></li>
    <% end %>
    <%= link_to servers_path, :class => 'btn', :title => 'overview' do %>
      <li class="icon icon-arrow-up"></li>
    <% end %>
    <%= link_to edit_server_path(@server), :class => 'btn disabled', :title => 'edit' do %>
      <li class="icon icon-edit"></li>
    <% end %>
    <%= next_prev_button("prev") %>
    <%= next_prev_button("next") %>
  </div>
</div>

<script>
  <%if @server.owned_by.id == session[:project_id] %>
    $(".disabled").removeClass("disabled");
  <% end %>
</script>
