<table>
<% @files.each do |k,v| %>
<tr>
<% if v== "dir" %>
<td><%=  link_to k, :action => 'list' , :id => k %></td>
<% else %>
<td><%=  link_to k, :action => 'select' , :id => k %></td>
</tr>
<% end %>

<% end %>
</table>


