<% icon_o,icon_s,icon_i = ['icon-minus'] * 3 %>
<% icon_o = 'icon-ok' if customer_depot.ordering_yn %>
<% icon_s = 'icon-ok' if customer_depot.shipping_yn %>
<% icon_i = 'icon-ok' if customer_depot.invoicing_yn %>

<div class="row"id="row_show_<%=customer_depot.id  %>">
    <div class="span1">
        <div class="btn-group">
          <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
          Action
          <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to(:action => 'show', :action => 'show',:id => customer_depot.id) do %>
              <i class="icon-info-sign"></i>&nbsp;show
              <% end %>
            </li>
            <li>
              <%= link_to(:action => 'edit', :action => 'edit',:id => customer_depot.id) do %>
              <i class="icon-edit"></i>&nbsp;edit
              <% end %>
            </li>          
          </ul>
        </div>    
    </div>  
    <div class="span2"><%= customer_depot.label %>&nbsp;</div>
    <div class="span3"><%= customer_depot.name %>&nbsp;</div>
    <div class="span1"><%= customer_depot.city %>&nbsp;</div>
    <div class="span1"><%= customer_depot.country %>&nbsp;</div>
    <div class="span2"><%= customer_depot.contact_name %>&nbsp;</div>
    <div class="span1"><i class="<%= icon_o %>">&nbsp;</i></div>
    <div class="span1"><i class="<%= icon_s %>">&nbsp;</i></div>
    <div class="span1"><i class="<%= icon_i %>">&nbsp;</i></div>
</div>