<% f= form_fields %>
<div class="row">
  <div class="span8 bounded bounded-headered">
    <div class="row bounded-header">
      <h4><%= params[:action].humanize %> customer depot</h4>
    </div>
    <div class="row">
      <div class="span1"><strong>Label</strong></div>
      <div class="span3"><%= f.text_field :label, :class => 'span3' %></div>
      <div class="span1"><strong>Name</strong></div>
      <div class="span3"><%= f.text_field :name, :class => 'span3' %></div>
    </div>
    <div class="row">
      <div class="span1"><strong>Supplier&nbsp;code</strong></div>
      <div class="span3"><%= f.text_field :supplier_code, :class => 'span3' %></div>
      <div class="span1"><strong>Customer&nbsp;code</strong></div>
      <div class="span3"><%= f.text_field :customer_code, :class => 'span3' %></div>
    </div>
    <div class="row">
      <div class="span1">
        <strong>Roles</strong>
      </div>
      <div class="span7">
        <label class="checkbox inline">
          <%= f.check_box :ordering_yn %>Ordering
        </label>
        <label class="checkbox inline">
          <%= f.check_box :shipping_yn %>Shipping
        </label>
        <label class="checkbox inline">
          <%= f.check_box :invoicing_yn %>Invoicing
        </label>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span8 bounded bounded-headered">
    <div class="row">
      <div class="span8 ">
        <div class="row">
          <div class="span1"><strong>Street name</strong></div>
          <div class="span3"><%= f.text_field :street_name, :class => 'span3' %></div>
          <div class="span2"><strong>House Number</strong></div>
          <div class="span1"><%= f.text_field :house_number, :class => 'span2' %></div>
        </div>
        <div class="row">
          <div class="span1"><strong>City</strong></div>
          <div class="span3"><%= f.text_field :city, :class => 'span3' %></div>
          <div class="span2"><strong>Postal code</strong></div>
          <div class="span1"><%= f.text_field :postal_code, :class => 'span2' %></div>
        </div>
        <div class="row">
          <div class="span1"><strong>Country</strong></div>
          <div class="span3"><%= f.text_field :country, :class => 'span3' %></div>
          <div class="span2"><strong>Unloading point</strong></div>
          <div class="span1"><%= f.text_field :unloading_point, :class => 'span2' %></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span8 bounded bounded-headered">
    <div class="row">
      <div class="span8">
        <div class="row">
          <div class="span1"><strong>Contact&nbsp;name</strong></div>
          <div class="span3"><%= f.text_field :contact_name, :class => 'span3' %></div>
          <div class="span2"><strong>Salution</strong></div>
          <div class="span1"><%= f.text_field :constact_salutation, :class => 'span2' %></div>
        </div>
        <div class="row">
          <div class="span1"><strong>Contact&nbsp;e-mail</strong></div>
          <div class="span3"><%= f.text_field :contact_email, :class => 'span3' %></div>
          <div class="span2"><strong>Phone&nbsp;number</strong></div>
          <div class="span1"><%= f.text_field :contact_phone, :class => 'span2' %></div>
        </div>
        <div class="row">
          <div class="span1"><strong>VAT&nbsp;ID</strong></div>
          <div class="span3"><%= f.text_field :vat_identification, :class => 'span3' %></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span8 bounded bounded-headered">
    <div class="row">
      <div class="span8">
        <div class="row">
          <div class="span1"><strong>Payment statement</strong></div>
          <div class="span3"><%= f.select :payment_statement_text_block_id, TextBlock.active.collect{|tb|[tb.name,tb.id]},{:include_blank => true},{ :class => 'span3'} %></div>
          <div class="span2"><strong>Payment&nbsp;term&nbsp;(days)</strong></div>
          <div class="span1"><%= f.text_field :payment_term, :class => 'span2' %></div>
        </div>
        <div class="row">
          <div class="span1"><strong>VAT&nbsp;statement</strong></div>
          <div class="span3"><%= f.text_area :vat_statement, :class => 'span3',:rows => '1' %></div>
          <div class="span2"><strong>VAT&nbsp;percentage</strong></div>
          <div class="span1"><%= f.text_field :vat_percentage, :class => 'span2' %></div>
        </div>
      </div>
      <div class="row">
        <div class="span8 ">
          <%= f.submit 'Save', :class => "btn pull-right" %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $("#customer_depot_payment_statement_text_block_id").select2({placeholder:"Optional text block",allowClear:true})
</script>