<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand"><strong>Customer depots</strong></div>
      <div class="span">
        <%= form_tag customer_depots_path, :method => 'get' do %>
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <div class="input-prepend input-append">
            <%= button_tag "New", :name => 'new',:class=>"btn btn-info",:type=>:button,:id => 'new_btn' %>
            <%= text_field_tag :search, params[:search], :placeholder=>" search",:class=>"span3" %>
            <%= button_tag "Search", :name => nil, :type => :submit, :class => "btn" %>
            <%= button_tag "Reset", :name => 'reset',:class=>"btn",:type=>:submit %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="endless">
  <div class="row">   
    <div class="span2 offset1"><strong>&nbsp;<%= sortable "label" %></strong></div>
    <div class="span3"><strong><%= sortable 'name' %></strong></div>
    <div class="span1"><strong><%= sortable "city" %></strong></div>
    <div class="span1"><strong><%= sortable "country" %></strong></div>
    <div class="span2"><strong><%= sortable "contact_name" %></strong></div>
    <div class="span1"><strong><%= sortable "ordering_yn","Ordering" %></strong></div>
    <div class="span1"><strong><%= sortable "shipping_yn","Shipping" %></strong></div>
    <div class="span1"><strong><%= sortable "invoicing_yn","Invoicing"%></strong></div>
  </div>

  <%= render(:partial => "customer_depot", :collection => @customer_depots) %>
</div>
<%= will_paginate(@customer_depots) %>
<%= pageless(@customer_depots.total_pages, customer_depots_path, "#endless", params) %>

<script type="text/javascript">
  $('#new_btn').click(function(){
    window.location.href="<%= url_for(:action => :new) %>";
  })
</script>