<% if @customer_depot.errors.any? %>
<div class="row">
  <div class="alert alert-error span8">
    <% @customer_depot.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
  </div>
</div>
<% end %>

<%= form_for(@customer_depot) do |f| %>
  <%= render :partial => 'form_fields' ,:object => f %>
<% end %>

<div class="row">
  <div class="span8">
    <%= link_to :back, :class => 'btn',:title => 'back to previous page' do %>
      <i class="icon icon-arrow-left"></i>
    <% end %>
    <%= link_to customer_depots_path , :class => 'btn',:title => 'back to overview' do %>
      <i class="icon icon-arrow-up"></i>
    <% end %>
  </div>
</div>