<div class="row">
  <div class="span8 bounded bounded-headered">
    <div class="row bounded-header">
      <h4>Customer Depot: <%= @customer_depot.label %></h4>
    </div>
    <div class="row">
      <div class="span8 ">
        <div class="row">
          <div class="span1"><strong>Label</strong></div>
          <div class="span3"><%= @customer_depot.label %>&nbsp;</div>
          <div class="span1"><strong>Name</strong></div>
          <div class="span3"><%= @customer_depot.name %>&nbsp;</div>
        </div>
        <div class="row">
          <div class="span1"><strong>Supplier&nbsp;code</strong></div>
          <div class="span3"><%= @customer_depot.supplier_code %>&nbsp;</div>
          <div class="span1"><strong>Customer&nbsp;code</strong></div>
          <div class="span3"><%= @customer_depot.customer_code %>&nbsp;</div>
        </div>

        <% icon_o,icon_s,icon_i = ['icon-minus'] * 3 %>
        <% icon_o = 'icon-ok' if @customer_depot.ordering_yn %>
        <% icon_s = 'icon-ok' if @customer_depot.shipping_yn %>
        <% icon_i = 'icon-ok' if @customer_depot.invoicing_yn %>

        <div class="row">
          <div class="span1">
            <strong>Roles</strong>
          </div>
          <div class="span7">
            <i class="<%= icon_o %>">&nbsp;</i><small>Ordering</small>&nbsp;&nbsp;
            <i class="<%= icon_s %>">&nbsp;</i><small>Shipping</small>&nbsp;&nbsp;
            <i class="<%= icon_i %>">&nbsp;</i><small>Invoicing</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span8 bounded">
    <div class="row">
      <div class="span1"><strong>Street name</strong></div>
      <div class="span3"><%= @customer_depot.street_name %>&nbsp;</div>
      <div class="span2"><strong>House Number</strong></div>
      <div class="span1"><%= @customer_depot.house_number %>&nbsp;</div>
    </div>
    <div class="row">
      <div class="span1"><strong>City</strong></div>
      <div class="span3"><%= @customer_depot.city %>&nbsp;</div>
      <div class="span2"><strong>Postal code</strong></div>
      <div class="span1"><%= @customer_depot.postal_code %>&nbsp;</div>
    </div>
    <div class="row">
      <div class="span1"><strong>Country</strong></div>
      <div class="span3"><%= @customer_depot.country %>&nbsp;</div>
      <div class="span2"><strong>Unloading point</strong></div>
      <div class="span1"><%= @customer_depot.unloading_point %>&nbsp;</div>
    </div>      
  </div>
</div>

<div class="row">
  <div class="span8 bounded">
    <div class="row">
      <div class="span1"><strong>Contact&nbsp;name</strong></div>
      <div class="span3"><%= @customer_depot.contact_name %>&nbsp;</div>
      <div class="span2"><strong>Salution</strong></div>
      <div class="span1"><%= @customer_depot.constact_salutation %>&nbsp;</div>
    </div>
    <div class="row">
      <div class="span1"><strong>Contact&nbsp;e-mail</strong></div>
      <div class="span3"><%= @customer_depot.contact_email %>&nbsp;</div>
      <div class="span2"><strong>Phone&nbsp;number</strong></div>
      <div class="span1"><%= @customer_depot.contact_phone %>&nbsp;</div>
    </div>
    <div class="row">
      <div class="span1"><strong>VAT&nbsp;ID</strong></div>
      <div class="span3"><%= @customer_depot.vat_identification %>&nbsp;</div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span8 bounded">
    <div class="row">
      <div class="span1"><strong>VAT&nbsp;statement</strong></div>
      <div class="span3"><%= @customer_depot.vat_statement %>&nbsp;</div>
      <div class="span2"><strong>Payment&nbsp;term&nbsp;(days)</strong></div>
      <div class="span1"><%= @customer_depot.payment_term %>&nbsp;</div>
    </div>
    <div class="row">
      <div class="span1"><strong>Payment statement</strong></div>
      <div class="span3">
        <pre class="real-pre"><%= @customer_depot.payment_statement.content if @customer_depot.payment_statement %></pre>
      </div>
      <div class="span2"><strong>VAT&nbsp;percentage</strong></div>
      <div class="span1"><%= @customer_depot.vat_percentage %>&nbsp;%</div>
    </div>    
  </div>
</div>

<div class="row">
  <div class="span12">
    <%= link_to :back, :class => 'btn',:title => 'back to previous page' do %>
      <i class="icon icon-arrow-left"></i>
    <% end %>
    <%= link_to customer_depots_path , :class => 'btn',:title => 'back to overview' do %>
      <i class="icon icon-arrow-up"></i>
    <% end %>
    <%= link_to edit_customer_depot_path(@customer_depot),:class => 'btn', :title => "edit" do %>
      <i class="icon-edit"></i>
    <% end %>
    <%= next_prev_button("prev") %>
    <%= next_prev_button("next") %>
  </div>
</div>
