<dt><label>Send to</label></dt>
<dd><%= select :record, :contact_id,  ExternalContact.find_all_dist.collect {|c| [ c.last_name.to_s + "," + c.first_name.to_s + " | " + c.company.name , c.id] }   %></dd>
