<% f = formfields %>
<% if params[:return_to_controller] && params[:return_to_action] %>
  <%= hidden_field_tag "return_to_controller", params[:return_to_controller] %>
  <%= hidden_field_tag "return_to_action", params[:return_to_action] %>
  <%= hidden_field_tag "return_to_id", params[:return_to_id] %>
<% end %>
<div class="row">
  <div class="span12 well">
    <div class="row">
      <div class="span4"><strong>Name contact</strong></div>
      <div class="span2"><strong>Type</strong></div>
      <div class="span3"><strong>Ship date</strong></div>
      <div class="span1"><strong>Courier</strong></div>
      <div class="span2"><strong>Mapscape Account</strong></div>
    </div>

    <div class="row">
      <div class="span4">
        <div class="row">
          <div class="span4">
            <% if params[:bulk] && (!params[:distribution_list_id].blank? || @outbound_order.distribution_list) %>
              <%= f.hidden_field :contact_id %>
              <%= hidden_field_tag :distribution_list_id,params[:distribution_list_id] ? params[:distribution_list_id].blank? : @outbound_order.distribution_list_id %>
              <%= hidden_field_tag :bulk,params[:bulk] %>
              <pre class="real-pre"><%= DistributionList.find(params[:distribution_list_id] ? params[:distribution_list_id].blank? : @outbound_order.distribution_list_id).distribution_list_members.collect {|dm|"#{dm.external_contact.first_name} #{dm.external_contact.last_name}\n"}.join %></pre>
            <% else %>
              <%= select :outbound_order, :contact_id, [''] + ExternalContact.active.collect {|c| [ c.last_name.to_s + "," + c.first_name.to_s + " | " + "#{c.company.name if c.company}" , c.id] },{},{:class => 'span4',:id => 'chosen'}  %>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="span4" style="margin-top: 15px;">
            <strong>Use subdirectory in mailing</strong>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <%= f.text_field :sftp_subdirectory, :class => 'span4' %>
          </div>
        </div>
      </div>
      <div class="span2"><%= select :outbound_order, :type, ShipmentType.all.collect{|x|[x.name,x.name]},{},{:class => 'span2', :id => 'shipmenttype'} %></div>
      <div class="span3 date-select"><%= f.date_select :send_date    %></div>
      <div class="span1">
        <%= select :outbound_order, :courier,['Automatic', 'DHL','Fedex','Post','TNT','Other','FTP'],{},{:class => 'span1', :id => 'courier'}  %>
      </div>
      <div class="span1">
        <%= select :outbound_order, :file_transfer_account_id,FileTransferAccount.mapscape_ftp.collect{|ftp|[ftp.user_name,ftp.id]},{:include_blank => true},{:class => 'span2 validate', :id => 'account'}  %>
      </div>
    </div>

    <div class="row">
      <div class="span6"><strong>Mailing remarks</strong></div>
    </div>
    <div class="row">
      <div class="span11">
        <%= f.text_area :mailing_remarks, rows: '2', class: 'span12' %>
      </div>
    </div>
    <div class="row">
      <div class="span6"><strong>Remarks</strong></div>
    </div>

    <div class="row">
      <div class="span11">
        <%= f.text_area :remarks ,:rows => "2",:class => 'span12'%>
        <%= f.hidden_field :id, :value => @outbound_order.id  %>
      </div>
    </div>
  </div>
</div>

<h4>Content</h4>
<% if (@outbound_order.outbound_orderlines != []) %>
  <div class="row">
    <div class="span1"><strong>ID</strong></div>
    <div class="span1"><strong>Pack/Medium</strong></div>
    <div class="span2"><strong>Product ID</strong></div>
    <div class="span3"><strong>Product Name</strong></div>
    <div class="span1"><strong>Amount</strong></div>
    <div class="span6"><strong>File name</strong></div>
  </div>
  <% @outbound_order.outbound_orderlines.where("parent_linenr is null").each do |line| %>
    <div class="row">
      <div class="span1">
        <%= link_to :controller => 'outbound_orderlines',  :action => 'edit', :id => line.id.to_s, :outbound_id => @outbound_order.id  do %>
          <i class="icon-edit" title="edit">&nbsp;</i>
        <% end %>
        <%= link_to :controller => 'outbound_orderlines',  :action => 'destroy_line', :id => line.id.to_s, :outbound_id => @outbound_order.id  do %>
          <i class="icon-remove" title="destroy line">&nbsp;</i>
        <% end %>      
        <%=  line.id %>
      </div>
      <div class="span1">&nbsp;<%=  (line.cd_no.to_s.blank? ? line.packings.map{|p| p.id}.join(",") : line.cd_no ) %></div>
      <div class="span2">&nbsp;<%=  line.product_id %></div>
      <div class="span3">&nbsp;<%=  line.product_name %></div>
      <div class="span1">&nbsp;<%= line.amount %></div>
      <div class="span6">&nbsp;<%=  line.filename %></div>
    </div>
    <% line.outbound_orderlines.each do |childline| %>
      <div class="row">
        <div class="span1">
          <small>&nbsp;&nbsp;&nbsp;
          <%= link_to :controller => 'outbound_orderlines',  :action => 'edit', :id => childline.id.to_s, :outbound_id => @outbound_order.id  do %>
            <i class="icon-edit" title="edit"></i>
          <% end %>
          <%= link_to :controller => 'outbound_orderlines',  :action => 'destroy_line', :id => childline.id.to_s, :outbound_id => @outbound_order.id  do %>
            <i class="icon-remove" title="destroy line">&nbsp;</i>
          <% end %>      
          <%=  childline.id %></small>
        </div>
        <div class="span1">&nbsp;<%=  (childline.cd_no.to_s.blank? ? childline.packings.map{|p| p.id}.join(",") : childline.cd_no ) %></div>
        <div class="span2">&nbsp;<%= childline.product_id %></div>
        <div class="span3">&nbsp;<%= childline.product_name %></div>
        <div class="span6 offset1">&nbsp;<%= childline.filename %></div>
      </div>
    <% end %>
  <% end %>
<% end %>

<div class="row">
  <div class="span3">
    <%= select_tag :input_type, options_for_select(['- new lines -','packing', 'mediums', 'products', 'manually']),
    {:onchange => "this.form.submit();",:class => 'span2',:id => 'input_type' } %>
  </div>
</div>

<script type="text/javascript">
  $('#chosen').chosen({search_contains:true});
  $('#shipmenttype').chosen();
  
  $('#account').chosen();
  $('#input_type').chosen();
  $('#outbound_order_send_date_1i').chosen();
  $('#outbound_order_send_date_2i').chosen();
  $('#outbound_order_send_date_3i').chosen();
ftp();
  function ftp(){
    if ($('#courier').val() == 'FTP' || $('#courier').val() == 'Automatic') {
      $("#account").attr("required","required").removeClass("disabled").attr('disabled', false).trigger("liszt:updated");
    } else {
      $("#account").addClass("disabled").removeAttr("required").attr('disabled', true).trigger("liszt:updated");
    }
  }

  $('#courier').change(function(){
    ftp()
  });
$('#courier').chosen();
</script>