 <% frm = manual_lines%>
    <% if params[:bulk] && !params[:distribution_list_id].blank? %>
      <%= hidden_field_tag :distribution_list_id,params[:distribution_list_id] %>
      <%= hidden_field_tag :bulk,params[:bulk] %>
    <% end %> 
<table>
  <tr>
    <td><b>CD No</b></td>
    <td><%= frm.text_field :cd_no, :size => "10" %></td>
    <td><b>File name</b></td>
    <td><%= frm.text_field :filename, :size => "70" %></td>
  </tr>
  <tr>
    <td><b>Product ID</b></td>
    <td><%= frm.text_field :product_id, :size => "10" %></td>
    <td><b>Product name</b></td>
    <td><%= frm.text_field :product_name, :size => "70" %></td>
    <td><b>Amount</b></td>
    <td><%= frm.select :amount, (1..30) %></td>
  </tr>
</table>





