<% @mediums_grid.each do |m| %>
    <% if params[:bulk] && !params[:distribution_list_id].blank? %>
      <%= hidden_field_tag :distribution_list_id,params[:distribution_list_id] %>
      <%= hidden_field_tag :bulk,params[:bulk] %>
    <% end %> 
<div class="row">
  <div class="span1"><%=  check_box_tag "mediumlines[]","#{m.id}" %>&nbsp;<%= m.id %></div>
  <div class="span1"><%=  select 'amount', m.id, (1..20),{},{:class => 'span1',:placeholder => 'hello' } %></div>
  <div class="span2"><%=  m.medium_number %></div>
  <div class="span2">&nbsp;<%=  m.product_ref %></div>
  <div class="span2">&nbsp;<%=  m.region_name %></div>
  <div class="span2">&nbsp;<%=  m.commercial_name %></div>
  <div class="span2">&nbsp;<%=  m.purpose %></div>
</div>
<% end %>
