<% if !outbound_order.release_mail_send && !outbound_order.file_transfer_account_id.nil?
  action_class = 'btn-warning'
else
  action_class = 'btn-info'
end %>

<% if outbound_order.outbound_orderlines.first.product_id != params[:lid] %>
  <% if params[:lid].to_s != "" %>
    <div class="row">
      <div class="offset1 span10"><hr /></div>
    </div>
  <% end %>
<% end %>
<div class="row" id="row_show_<%= outbound_order.id %>">
  <div class="span1">
    <div class="btn-group">
      <a class="btn btn-mini dropdown-toggle <%= action_class %>" data-toggle="dropdown" href="#">
        Action
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to(:action => 'show',:controller => :outbound_orders,:id => outbound_order.id) do %>
            <i class="icon-info-sign"></i>&nbsp;show
          <% end %>
        </li>
        <li>
          <%= link_to(:action => 'edit',:controller => :outbound_orders,:id => outbound_order.id) do %>
            <i class="icon-edit"></i>&nbsp;edit
          <% end %>
        </li>        
        <li>
          <%= link_to(:action => "html2pdf_slip",:controller => :outbound_orders,:id => outbound_order.id, :format => 'pdf') do %>
            <i class="icon-print"></i>&nbsp;pdf packing slip
          <% end %>
        </li>
        <li>
          <%= link_to(:action => "clone_line",:controller => :outbound_orders,:id => outbound_order.id) do %>
            <i class="icon-retweet"></i>&nbsp;duplicate shipment
          <% end %>
        </li>
        <% unless outbound_order.release_mail_send %>
        <li>
          <%= link_to(:action => "show_release_mail",:controller => :outbound_orders,:id => outbound_order.id) do %>
            <i class="icon-envelope"></i>&nbsp;show/send release mail
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="span1"><%= outbound_order.id %>&nbsp;</div>
  <div class="span1"><%= outbound_order.send_date %>&nbsp;</div>
  <div class="span3"><%= outbound_order.shipto_name %>&nbsp;</div>
  <div class="span1"><%= outbound_order.courier %>&nbsp;</div>
  <div class="span3"><%= outbound_order.contact_person %>&nbsp;</div>
  <div class="span2"><%= outbound_order.status_str %>&nbsp;</div>
</div>

<% params[:lid] = outbound_order.outbound_orderlines.first.product_id %>
