<% @products_grid.each do |p| %>
    <% if params[:bulk] && !params[:distribution_list_id].blank? %>
      <%= hidden_field_tag :distribution_list_id,params[:distribution_list_id] %>
      <%= hidden_field_tag :bulk,params[:bulk] %>
    <% end %> 
<div class="row">
  <div class="span2"><%= check_box_tag 'productlines[]', p.id %>&nbsp;</div>
  <div class="span2"><%= p.product_type %>&nbsp;</div>
  <div class="span2"><%= p.product_id %>&nbsp;</div>
  <div class="span2"><%= Product.find_by_volumeid(p.product_id.scan(/\A(.*-\d{4})/).join).name if Product.find_by_volumeid(p.product_id.scan(/\A(.*-\d{4})/).join) %>&nbsp;</div>
  <div class="span2"><%= p.area %>&nbsp;</div>
  <div class="span2"><%= p.conversion_id %>&nbsp;</div>
</div>
<% end %>
