<% if @productset %>
<div class="span10">
<table class="table table-striped">
<tr>
<td>

<% if @methode == "c"%>

  <% css="success"%>
<% else %>
  <h4><%= @productset.setcode %></h4>
  <% css="info"%>
<% end %>
  
<table>
<% @stock.sort.each do |s| %>
    <% pid = s[0] %>
    <% @stocks = s[1] %>
    
    <% if @stocks.size >= 1 %>
      <tr class="<%=h css %>"><td colspan="4"><strong><%= Product.find_by_volumeid("#{pid}").name %></strong></td></tr>
        <% cntr = 0 %>
        <% cnt = @stocks.size %>
        <% @stocks.each do |ss| %>
          <% cntr = cntr + 1 %>
          <tr>
          <% if cnt == cntr %>
                <td><%= check_box("#{@methode.to_s}", "#{ss.id}", :checked => true) %></td>
          <% else %>
                <td><%= check_box("#{@methode.to_s}", "#{ss.id}", :checked => false) %></td>
          <% end %>
           <td><%= ss.product_ref %></td>
           <td><%= ss.databasename %></td>
           <td><%= ss.medium_number %></td>          
          </tr>          
        <% end %>
    <% else %>
      <tr class="<%= css %>"><td colspan="1"><strong><%= Product.find_by_volumeid("#{pid}").name %></strong></td></tr>
          <tr><td><b>no medium found !</b></td></tr>
    <% end %>
<% end %>
</table></td></tr></table>
<%else%>
  <% if @methode == "c"%>
    <div id="current_div"><i>no selection</i></div>
  <% else %>
    <div id="equivalent_div"><i>no selection</i></div>
  <% end %>
<% end %>
</div>