<div class="row">
  <div class="span10">
    <span class="label label-info"><strong>Shipment to:</strong> <%= @outbound_order.contact_person %> - <%= @outbound_order.shipto_name %></span>
  </div>
  <div class="span2 label label-info">
    <%= @outbound_order.status_str %>
  </div>
</div>

<div class="row">
  <div class="bounded">
    <% unless @outbound_order.packings.empty? %>
      <div class="row">
        <div class="span6"><h4>Existing packings</h4></div>
      </div>
      <div class="row">
        <div class="span1"><strong>ID</strong></div>
        <div class="span2"><strong>Packing destination path</strong></div>
        <div class="span2"><strong>Packing specification</strong></div>
        <div class="span2"><strong>Packing source path</strong></div>
        <div class="span1"><strong>Job</strong></div>
        <div class="span2"><strong>Status (Job)</strong></div>
        <div class="span2"><strong>MD5 Checksum</strong></div>
      </div>
      <% @outbound_order.packings.each do |packing| %>
        <div class="row">
          <div class="span1">
            <% if packing.status < Packing::STATUS_CANCELLED %>
              <%= link_to cancel_packing_outbound_order_path(@outbound_order, :packing_id => packing.id), :method => :post do %>
                <i class="icon-remove" title="remove">&nbsp;</i>
              <% end %>
            <% end %>
            <%= packing.id %>
          </div>
          <div class="span2"><%= packing.subdirectory.to_s + (packing.subdirectory.blank? || packing.subdirectory.match(/\/$/) ? "" : "/")  + packing.filename.to_s %>&nbsp;</div>
          <div class="span2"><%= packing.packing_specification.name if packing.packing_specification %>&nbsp;</div>
          <div class="span2"><%= packing.path %>&nbsp;</div>
          <div class="span1">
            <% if packing.packing_jobs.active.any? %>
              <%= link_to packing.packing_jobs.active.last, :target => "_blank" do %>
                <%= packing.packing_jobs.active.last.id %>
              <% end %>
            <% end %>&nbsp;
          </div>
          <div class="span2 label label-info">
            <%= packing.status_str %>
            <% if packing.packing_jobs.active.any? %>
              (<%= packing.packing_jobs.active.last.status_str %>)
            <% end %>&nbsp;
          </div>
          <div class="span2"><%= packing.md5_checksum %>&nbsp;</div>
        </div>
      <% end %>
      <hr>
    <% end %>

    <%= form_for @packing, :url => update_packing_outbound_order_path(@outbound_order), :method => :post do |f| %>
      <div class="row">
        <div class="span6"><h4>New packing</h4></div>
      </div>
      <% if @packing.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@packing.errors.count, "error") %> prohibited this packing from being saved:</h2>

          <ul>
            <% @packing.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= f.hidden_field :status %>
      <div class="row">
        <div class="span2"><strong>Packing filename</strong></div>
        <div class="span2"><%= f.text_field :filename, :class => 'span2' %></div>
        <div class="span2"><strong>Placed in subdirectory</strong></div>
        <div class="span2"><%= f.text_field :subdirectory, :class => 'span2' %></div>
        <div class="span2"><strong>Packing specification</strong></div>
        <div class="span2"><%= f.select :packing_specification_id, PackingSpecification.option_list,{},{ :class => 'span2', :id => 'packing_specification', :data => { :placeholder => 'Select packing specification' } }  %>
        </div>
      </div>

      <div class="row">
        <div class="span1"><strong>ID</strong></div>
        <div class="span1"><strong>Product ID</strong></div>
        <div class="span2"><strong>Product Name</strong></div>
        <div class="span5"><strong>File name</strong></div>
        <div class="span3"><strong>Packed in</strong></div>
      </div>
      <% @outbound_order.outbound_orderlines.where('parent_linenr is null').each do |line| %>
        <div class="row">
          <div class="span1">
            <% # disable the auto selection of outbound_orderlines which are yet part of a packing for now %>
            <%= check_box_tag 'packinglines[]', line.id, line.packing_lines.empty? && false %>&nbsp;
            <small><%= line.id %></small>  
          </div>
          <div class="span1"><small><%=  line.product_id %>&nbsp;</small></div>
          <div class="span2"><small><%=  line.product_name %>&nbsp;</small></div>
          <div class="span5" title="<%=  line.filename %>" ><small>. . .<%=  line.filename.scan(/.*(.{75})\z/).join if line.filename %></small></div>
          <div class="span3"><small><%=  line.packings.map{|p| p.id}.join(",") %>&nbsp;</small></div>
        </div>
        <% line.outbound_orderlines.each do |childline| %>
          <div class="row">
            <div class="span1">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= check_box_tag 'packinglines[]', childline.id, childline.packing_lines.empty? %>&nbsp;
              <small><%=  childline.id %></small>  
            </div>
            <div class="span1"><small><%=  childline.product_id %>&nbsp;</small></div>
            <div class="span2"><small><%=  childline.product_name %>&nbsp;</small></div>
            <div class="span5" title="<%=  childline.filename %>" ><small>. . .<%=  childline.filename.scan(/.*(.{75})\z/).join if childline.filename %></small></div>
            <div class="span3"><small><%=  childline.packings.map{|p| p.id}.join(",") %>&nbsp;</small></div>
          </div>
        <% end %>
      <% end %>
      <div class="row">
        <div class="span2">
          <%= f.submit "Packing outbound orderlines", :class => 'btn btn-primary' %></div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="span4">
    |
    <%= link_to :back do %>
      <i class="icon-arrow-left" title="back">&nbsp;</i>
    <% end %>
    |
    <%=  link_to outbound_order_path(@outbound_order) do %>
      <i class="icon-eye-open" title="show">&nbsp;</i>
    <% end %>
    |
    <%= link_to outbound_orders_path do %>
      <i class="icon-arrow-up" title="overview">&nbsp;</i>
    <% end %>
    |
  </div>
</div>
<script>
 $("#packing_specification").chosen();
</script>