<% if @outbound_order.errors.any? %>
  <div class="alert alert-error">
    <% @outbound_order.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
  </div>
<% end %>

<div class="row">
  <div class="span10"><h3> Edit shipment</h3></div><div class="span2 label label-info"><%= @outbound_order.status_str %></div>
</div>
<%= form_for(@outbound_order, :url => {:controller => :outbound_orders,:action => :update,:id => @outbound_order.id },:method => 'put' ) do |f| %>
  <%= render :partial => "formfields", :object => f %>

  <div class="row">
    <div class="span3">
      <%= f.submit("Update shipment",:class => 'btn btn-primary') %>
    </div>
  </div>
<% end %>

<hr />
<div class="row">
  <div class="span4">
    <%= link_to :back, {:class => 'btn', :title => 'back'} do %>
      <i class="icon-arrow-left">&nbsp;</i>
    <% end %>
    <%=  link_to @outbound_order, {:class => 'btn', :title => 'show'} do %>
      <i class="icon-eye-open">&nbsp;</i>
    <% end %>
    <%= link_to outbound_orders_path, {:class => 'btn', :title => 'overview'} do %>
      <i class="icon-arrow-up">&nbsp;</i>
    <% end %>
  </div>
</div>