<% if @outbound_order.send_by.to_s != ""
    handler = @outbound_order.send_by
else
    handler = @cu
end %>

  <STYLE TYPE="text/css">
<!--
TD{font-family: Arial; font-size: 10pt;}
--->
</STYLE>


<div class="PDF" style="float:left;color:gray"><%= wicked_pdf_image_tag("mapscapelogo4docs.png", :height => '35px') %><br>www.mapscape.eu</div>
<div style="float:right"><h1 class="PDF">PACKING SLIP</h1></div>
<br><br><br><br>
<p>Luchthavenweg 34<br>
5657 EB Eindhoven<br>
The Netherlands<br>
Phone +31(0)40 711500</p>
<br>
<br>
<br>
<p><b>SHIP TO:</b></p>
<p>
  <%= @outbound_order.shipto_name %> <br>
  <%= @outbound_order.external_contact.salutation if @outbound_order.external_contact %>
  <%= @outbound_order.contact_person %> <br>
  <%= @outbound_order.external_contact.primary_address_street  if @outbound_order.external_contact %> <br>
  <%= @outbound_order.external_contact.primary_address_postalcode  if @outbound_order.external_contact %> <br>
  <%= @outbound_order.external_contact.primary_address_country  if @outbound_order.external_contact %> <br>
</p>
<br>
<br>
<br>
<br>

<table width="100%" >
  <tr BGCOLOR="#D8D8D8">
    <th>
      SHIPPING DATE
    </th>
    <th>
      SHIPPING ID
    </th>
    <th>
      HANDLER
    </th>
  </tr>
  <tr>
    <td align="center"><%= @outbound_order.send_date %></td>
    <td align="center"><%= @outbound_order.id.to_s %></td>
    <td align="center"><%= handler %></td>
  </tr>
</table>
<br>
<br>
<br>
<br>
<br><hr>
<h2 class="PDF">Content list</h2>
<table width="100%">
  <tr BGCOLOR="#D8D8D8">
    <th>Product ID</th>
    <th>Product Type</th>
    <th>Data ID/Name</th>
    <th>Name</th>    
    <th>Amount</th>
  </tr>
  <% @lines.each do |ol| %>
    <% cd_no = 'n.a.' %>  
    <% product_name = '---' %>
    <% product_id = 'n.a.' %>
    
  <% if ol.product_id.to_s != ""  
        product_id = ol.product_id 
    end %>
  
    <% if ol.product_name.to_s != ""
       product_name =  ol.product_name
    end %>
  
    <% if ol.cd_no.to_s != ""
        cd_no =  ol.cd_no
      else
        if  ol.filename.to_s != ""
        cd_no = ol.filename.split('/').last       
      end
    end %>
  
  
  <tr>
    <td align="center"><%=h product_id %></td>
    <td align="center"><%=h @outbound_order.type %></td>
    <td align="center"><%=h cd_no %></td>
    <td align="center"><%=h product_name %></td>
    <td align="center"><%=h ol.amount %></td>
  </tr>  
  <% end %>
</table>