<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand"><strong>Shipments</strong></div>
      <div class="span">
        <%= form_tag outbound_orders_path, :method => 'get' do %>
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <div class="input-prepend input-append">
            <%= button_tag "New", :name => 'new',:class=>"btn btn-info",:type=>:button,:id => 'btn_new' %>
            <%= text_field_tag :search, params[:search], :placeholder=>" Search",:class=>"span3",:size=>"16" %>
            <%= button_tag "Search", :name => nil, :type => :submit, :class => "btn" %>
            <%= button_tag "Reset", :name => 'reset',:class=>"btn",:type=>:submit %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="endless">
  <div class="row">
    <div class="offset1 span1"><strong><%= sortable 'id' %></strong></div>
    <div class="span1"><strong><%= sortable 'send_date' %></strong></div>
    <div class="span3"><strong><%= sortable 'shipto_name' %></strong></div>
    <div class="span1"><strong><%= sortable 'courier' %></strong></div>
    <div class="span3"><strong><%= sortable 'contact_person' %></strong></div>
    <div class="span2"><strong><%= sortable 'type' %></strong></div>
  </div>
  <% lid = @outbound_orders.first.outbound_orderlines.first.product_id if @outbound_orders.first %>
  <%= render(:partial => "outbound_order", :collection => @outbound_orders, :lid => lid) %>

</div>
<%= will_paginate(@outbound_orders) %>
<%= pageless(@outbound_orders.total_pages, outbound_orders_path, "#endless") %>

<script type="text/javascript">
  $('#btn_new').click(function(){
    window.location.href="<%= url_for(:action => :new) %>";
  })
</script>