<div class="container">
<div class="row">
  <div class="span6">
    <span class="label label-info"><strong>Shipment to:</strong> <%= @outbound_order.contact_person %> - <%= @outbound_order.shipto_name %></span>
  </div>
</div>

<% if (@outboundorderlines) %>
<div class="row">
  <div class="span1"><strong>ID</strong></div>
  <div class="span1"><strong>Pack/Medium</strong></div>
  <div class="span1"><strong>Product ID</strong></div>
  <div class="span2"><strong>Product Name</strong></div>
  <div class="span1"><strong>Amount</strong></div>
  <div class="span6"><strong>File name</strong></div>
</div>
  <% @outbound_order.outbound_orderlines.where('parent_linenr is null').each do |line| %>
      <div class="row">
        <div class="span1">
          <%= link_to(:controller => 'outbound_orderlines',  :action => 'destroy_line', :id => line.id.to_s, :outbound_id => @outbound_order.id) do %>
            <i class="icon-remove-sign" title="delete">&nbsp;</i>
          <% end %>
          <small><%=  line.id %></small>  
        </div>
        <div class="span1"><small><%=  (line.cd_no.to_s.blank? ? line.packings.map{|p| p.id}.join(",") : line.cd_no ) %>&nbsp;</small></div>
        <div class="span1"><small><%=  line.product_id %>&nbsp;</small></div>
        <div class="span2"><small><%=  line.product_name %>&nbsp;</small></div>
        <div class="span1"><small><%=  line.amount %>&nbsp;</small></div>
        <div class="span6" title="<%=  line.filename %>" ><small>. . .<%=  line.filename.scan(/.*(.{75})\z/).join if line.filename %></small></div>
      </div>
      <% line.outbound_orderlines.each do |childline| %>
        <div class="row">
          <div class="span1">
            &nbsp;&nbsp;&nbsp;
            <%= link_to(:controller => 'outbound_orderlines',  :action => 'destroy_line', :id => childline.id.to_s, :outbound_id => @outbound_order.id) do %>
              <i class="icon-remove-sign" title="delete">&nbsp;</i>
            <% end %>
            <small><%=  childline.id %></small>  
          </div>
          <div class="span1"><small><%= (childline.cd_no.to_s.blank? ? childline.packings.map{|p| p.id}.join(",") : childline.cd_no ) %>&nbsp;</small></div>
          <div class="span1"><small><%=  line.product_id %>&nbsp;</small></div>
          <div class="span2"><small><%=  line.product_name %>&nbsp;</small></div>
          <div class="span6 offset1" title="<%=  line.filename %>" ><small>. . .<%=  line.filename.scan(/.*(.{75})\z/).join if line.filename %></small></div>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <br>
  <% if @input_type == "mediums" %>
    <div class="row">
      <div class="span12 well real-pre">
        <%= form_for(@outbound_order,:url => {:action => 'ordr_lines', :id => @outbound_order.id},:method => 'GET') do |frm| %>
        <%= hidden_field_tag 'input_type', @input_type %>
            <% if params[:bulk] && !params[:distribution_list_id].blank? %>
              <%= hidden_field_tag :distribution_list_id,params[:distribution_list_id] %>
              <%= hidden_field_tag :bulk,params[:bulk] %>
            <% end %>
        <div class="row">
            <div class="span3"><strong>Productset</strong></div>
          </div>
    
          <div class="row">
            <div class="span3"><%= select_tag :setcode, options_for_select([''] + Productset.all.order('setcode').collect {|c| [ c.setcode, c.id ] } , params[:setcode].to_i),:class => 'span3'  %></div>
            <div class="span3"><%= submit_tag "Filter", :class => 'btn btn-info' %></div>
          </div>
    <% end %>
    <% if @mediums_grid.size > 0 %>    
    <%= form_for(@outbound_order, :url => {:action => 'get_order_lines_mediums', :id => @outbound_order.id}, :method => :get) do |frm| %>
          <%= render :partial => "medium_lines" %>
          <p><%= frm.submit "add media",:class => 'btn btn-primary'%></p>
        <% end %>
    <% end %>
      </div>
    </div>
  <% end %>

<% if @input_type == "products" %>
    <div class="row">
      <div class="span12 well real-pre">
        <%= form_for(@outbound_order,:url => {:action => 'ordr_lines', :id => @outbound_order.id},:method => 'GET') do |frm| %>
        <%= hidden_field_tag 'input_type', @input_type %>
        <% if params[:bulk] && !params[:distribution_list_id].blank? %>
          <%= hidden_field_tag :distribution_list_id,params[:distribution_list_id] %>
          <%= hidden_field_tag :bulk,params[:bulk] %>
        <% end %>        
        <div class="row">
            <div class="span3"><strong>Productset</strong></div>
          </div>
    
          <div class="row">
            <div class="span3"><%= select_tag :product_id, options_for_select([''] + ProductLocation.order('product_id DESC').all.collect {|p| [ p.product_id, p.product_id ] }.uniq , params[:setcode].to_i),:class => 'span3',:id => 'chosen_product'  %></div>
            <div class="span3"><%= submit_tag "Filter", :class => 'btn btn-info' %></div>
          </div>
    <% end %>  
      
    <%= form_for(@outbound_order, :url => {:action => 'get_order_lines_products', :id => @outbound_order.id}, :method => :get) do |frm| %>
    <%= render :partial => "product_lines" %>
    <p><%= frm.submit "add product(s)",:class => 'btn btn-primary'%></p>
    <% end %>
<% end %>

<% if @input_type == "manually" %>
  
    <%= form_for(@outbound_order_line, :url => {:action => 'get_order_lines_manually', :id => @outbound_order.id},:method => 'GET') do |frm| %>
    <%= hidden_field_tag 'input_type', @input_type %>
    <% if params[:bulk] && !params[:distribution_list_id].blank? %>
      <%= hidden_field_tag :distribution_list_id,params[:distribution_list_id] %>
      <%= hidden_field_tag :bulk,params[:bulk] %>
    <% end %>    
    <%= render :partial => "manual_lines",:object => frm %>
    <p><%= frm.submit "add line(s)",:class => 'btn btn-primary' %></p>
    <% end %>
<% end %>
<%= link_to(:action => :edit, :id => @outbound_order.id) do %>
    <i class="icon-arrow-left">&nbsp;</i>back
<% end %>

</div>




<script type="text/javascript">
  $('#setcode').attr('data-placeholder','select productset').chosen();
  $('#chosen_product').attr('data-placeholder','select product-id').chosen();
</script>