<h3>Release Notes Request Generator</h3>
<br />
<%= form_tag :action => "send_release_notes_request" do |f| %>
<div class="row">
  <div class="span5"><strong>Current product set</strong></div>
</div>
<div class="row">
  <div class="span4">
    <% if params[:po_ps_id] %>
   <%= select(:productset_c, :id,{@productset.setcode => @productset.id}) %>
   <%= render :partial => "products_for_request" %>
  <% else %>
   <%= collection_select(:productset_c, :id, @productsets, :id, :setcode,{:include_blank => "Please Select"},{:class => 'span3'}) %>
  <% end %>
  </div>
</div>
<div class="row">
  <div class="span5" id="current_div">

  </div>
</div>
<div class="row">
  <div class="span4"><strong>Previous product set</strong></div>
</div>
<div class="row">
  <div class="span5">
    <%= collection_select(:productset_e, :id, @productsets , :id, :setcode,{:include_blank => "No Predecessor"},{:class => 'span3'}) %>
  </div>
</div>
<div class="row">  
  <div class="span5" id="equivalent_div">

  </div>  
</div>
<div class="row">
  <div class="span10"><strong>Remarks</strong></div>
</div>
<div class="row">
  <div class="span10"><%= text_area_tag 'body', nil, :rows => 4, :class => 'span10' %></div>
  
</div>
<%= submit_tag 'Send Request',:class=> 'btn btn-primary' %>
<% end %>



<script type="text/javascript">
  $("#productset_c_id").change(function() {
    var selected = $('#productset_c_id').val();
    if(selected == "") selected="0";
    jQuery.get('<%=h url_for(:controller => :outbound_orders, :action => :get_products_for_request,:methode => "c") %>' + '&id=' + selected, function(data){
        $("#current_div").html(data);
    })
    return false;
  });

  $("#productset_e_id").change(function() {
    var selected = $('#productset_e_id').val();
    if(selected == "") selected="0";
    jQuery.get('<%=h url_for(:controller => :outbound_orders, :action => :get_products_for_request,:methode => "e") %>' + '&id=' + selected, function(data){
        $("#equivalent_div").html(data);
    })
    return false;
  });

  $('#productset_c_id').chosen();
  $('#productset_e_id').chosen();
</script>