<div class="row">
  <div class="span10"><h3>Order Details</h3></div><div class="span2 label label-info"><%= @outboundorder.status_str %></div>
</div>
<div class="row">
  <div class="well span6">
    <div class="row">
      <div class="span2"><strong>Contact person:</strong></div>
      <div class="span4"><%= @outboundorder.contact_person %></div>
    </div>
    <div class="row">
      <div class="span2"><strong>Courier</strong></div>
      <div class="span4"><%= @outboundorder.courier %></div>
    </div>
    <div class="row">
      <div class="span2"><strong>type</strong></div>
      <div class="span4"><%= @outboundorder.type %></div>
    </div>
    <div class="row">
      <div class="span2"><strong>Date send</strong></div>
      <div class="span4"><%= @outboundorder.send_date %></div>
    </div>
    <div class="row">
      <div class="span2"><strong>Use subdirectory in mailing</strong></div>
      <div class="span4"><%= @outboundorder.sftp_subdirectory %></div>
    </div>
    <div class="row">
      <div class="span2"><strong>Mailing remarks</strong></div>
      <div class="span4"><%= simple_format @outboundorder.mailing_remarks %></div>
    </div>
    <div class="row">
      <div class="span2"><strong>Remarks</strong></div>
      <div class="span4"><%= @outboundorder.remarks %></div>
    </div>
  </div>
</div>

<% if @outboundorder.packings.any? %>
  <div class="row">
    <div class="span6">
      <h4>Packings</h4>
    </div>
  </div>
  <div class="row">
    <div class="span1"><strong>ID</strong></div>
    <div class="span1"><strong>Status</strong></div>
    <div class="span3"><strong>Packing destination path</strong></div>
    <div class="span3"><strong>MD5 Checksum</strong></div>
    <div class="span1"><strong>Packing Job</strong></div>
    <div class="span1"><strong>Job Status</strong></div>
    <div class="span1"><strong>Shipping Job</strong></div>
    <div class="span1"><strong>Job Status</strong></div>
  </div>
  <% @outboundorder.packings.each do |packing| %>
    <div class="row">
      <div class="span1"><%= packing.id %>&nbsp;
      <% if packing.status == Packing::STATUS_SHIPPED && @outboundorder.file_transfer_account %>
        <a href="<%= packing.download_path %>">
          <i class="icon-download-alt" title="test download">&nbsp;</i>
        </a>
      <% end %>
      </div>
      <div class="span1"><%= packing.status_str %>&nbsp;</div>
      <div class="span3"><%= packing.destination_path %>&nbsp;</div>
      <div class="span3"><%= packing.md5_checksum %>&nbsp;</div>
      <div class="span1"><%= link_to(packing.packing_jobs.active.last.id, packing.packing_jobs.active.last, target: '_blank') if packing.packing_jobs && packing.packing_jobs.active.any? %>&nbsp;</div>
      <div class="span1 label label-info">
        <% if packing.packing_jobs.active.any? %>
          <%= packing.packing_jobs.active.last.status_str %>
        <% end %>&nbsp;
      </div>
      <div class="span1"><%= link_to(packing.shipping_jobs.active.last.id, packing.shipping_jobs.active.last, target: '_blank') if packing.shipping_jobs && packing.shipping_jobs.active.any? %>&nbsp;</div>
      <div class="span1 label label-info">
        <% if packing.shipping_jobs.active.any? %>
          <%= packing.shipping_jobs.active.last.status_str %>
        <% end %>
      </div>
    </div>
  <% end %>
  <br />
<% end %>

<div class="row">
  <div class="span6">
    <h4>Content</h4>
  </div>
</div>
<div class="row">
  <div class="span1"><strong>ID</strong></div>
  <div class="span1"><strong>Medium/Pack</strong></div>
  <div class="span1"><strong>Product ID</strong></div>
  <div class="span3"><strong>Product Name</strong></div>
  <div class="span1"><strong>Amount</strong></div>
  <div class="span4"><strong>File name</strong></div>
</div>
<% @outboundorder.outbound_orderlines.where("parent_linenr is null").each do |line| %>
  <div class="row">
    <div class="span1">&nbsp;<%= line.id %></div>
    <div class="span1">&nbsp;<%= (line.cd_no.to_s.blank? ? line.packings.map{|p| p.id}.join(",") : line.cd_no ) %></div>
    <div class="span1">&nbsp;<%= line.product_id %></div>
    <div class="span3">&nbsp;<%= line.product_name %></div>
    <div class="span1">&nbsp;<%= line.amount %></div>
    <div class="span4">&nbsp;<%= line.filename %></div>
    <div class="span1">&nbsp;
      <% if line.product_location %>
        <%= link_to report_outbound_orderline_path(line) do %>
          <i class="icon-th-list" title="conversion report"></i>
        <% end %>
      <% end %>
    </div>
  </div>
  <% line.outbound_orderlines.each do |childline| %>
    <div class="row">
      <div class="span1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= childline.id %></div>
      <div class="span1">&nbsp;<%= (childline.cd_no.to_s.blank? ? childline.packings.map{|p| p.id}.join(",") : childline.cd_no ) %></div>
      <div class="span1">&nbsp;<%= childline.product_id %></div>
      <div class="span3">&nbsp;<%= childline.product_name %></div>
      <div class="span4 offset1">&nbsp;<%= childline.filename %></div>
    </div>
  <% end %>
<% end %>
<hr />
<div class="row">
  <div class="span4">
    <%= link_to :back, {:class => 'btn', :title => 'back'} do %>
      <i class="icon-arrow-left">&nbsp;</i>
    <% end %>
    <%=  link_to edit_outbound_order_path(@outboundorder), {:class => 'btn', :title => 'edit'} do %>
      <i class="icon-edit">&nbsp;</i>
    <% end %>
    <%= link_to outbound_orders_path, {:class => 'btn', :title => 'overview'} do %>
      <i class="icon-arrow-up">&nbsp;</i>
    <% end %>
  </div>
</div>