<div class="row">
  <div class="span9"><strong>Subject: </strong><small><%= @outbound_order.release_mail_subject %></small></div>
</div>
<div class="row">
  <div class="span10 bounded">
    <div class="row">
      <% if @outbound_order.distribution_list_member %>
        <div class="span9"><strong>Bcc:</strong>
          <small>
            <% @outbound_order.distribution_list_member.distribution_list.distribution_list_members.each do |member|%>
              <% ec = member.external_contact %>
              <%= ec.email  %>,&nbsp;
            <% end %>
          </small>
        </div>
      <% end %>
    </div>
  </div>  
</div>

<div class="row">
  <div class="span12 bounded">
     <%= render :partial => 'postoffice/partial_product_release_mail',:layout => false %>
  </div>
</div>
<div class="row">
  <div class="<%= @possible_release_notes.empty? ? 'span6' : 'span3' %>">
    <label class="checkbox"><%= check_box_tag 'no-rn','no-rn'%>
      <% if @possible_release_notes.empty? %>
        No matching approved release notes have been found, send them separately.
      <% else %>
        Include release notes in mail
      <% end %>
    </label>
  </div>
  <div class="span9">
    <% if @possible_release_notes.size > 0 %>
      <%= select_tag 'release_note_id', options_for_select(@possible_release_notes.collect{|c| [c.document.document_object_id,c.id]}),{:id => "release_note_id", :include_blank => true, :class=>"span8", :data=>{:placeholder => 'Select the release notes to be included'}} %>
      <script>
        $('#release_note_id').chosen({allow_single_deselect: true})
      </script>
    <% else %>
      <%= select_tag 'release_note_id', options_for_select([]), {:id => 'release_note_id', :class=>"hidden"} %>
    <% end %>
  </div>
</div>
<div class="row"><div class="span1">&nbsp;</div></div>
<div class="row">
  <% if @outbound_order.distribution_list_member %>
    <% mail_text = "Send this only to #{@outbound_order.distribution_list_member.external_contact.first_name} #{@outbound_order.distribution_list_member.external_contact.last_name}" %>
    <% enable_toggle = "enabled" %>
  <% else %>
    <% mail_text = "No distribution-list member available to send mail to." %>
    <% enable_toggle = "disabled" %>
  <% end %>
  <div class="span4">
    <button type="button" id="bulk-mail" class="btn <%= enable_toggle %>">Send this mail to all members on distribution list</button>
  </div>
  <div class="span4">
    <button type="button" id="mail" class="btn <%= enable_toggle %>"><%= mail_text %></button>
  </div>
  <div class="span4">
    <button type="button" id="mail-self" class="btn">Send mail to self (<%= "#{@current_user.first_name} #{@current_user.last_name}" %>)</button>
  </div>

  <script>
    $('#release_note_id').change(function(){
      if (($(this)).attr('value') == "" && $('#no-rn').attr('checked')){
        $('#new-rn-txt').removeClass('hidden');
      }else{
        $('#new-rn-txt').addClass('hidden');
      }
    });
    $('#no-rn').change(function(){
      if (($(this)).attr('checked') && $('#release_note_id').attr('value') == ""){
        $('#new-rn-txt').removeClass('hidden');
      }else{
        $('#new-rn-txt').addClass('hidden');
      }
    });

    <% if enable_toggle == 'enabled' %>
      $('#bulk-mail').click(function(){
        if( confirm('Are you sure to send this mail to all customers?') ){
          var rn = '1'
          if (($('#no-rn')).attr('checked')){ rn = '0'; };
            jQuery.get('<%=h url_for(:controller => :outbound_orders,:action => :send_bulk_release_mail,:id => @outbound_order.id) %>'+'?rn='+rn+'&rn_id='+$('#release_note_id').attr('value'),function() {
            });
          }
      });
      $('#mail').click(function(){
          var rn = '1'
          if (($('#no-rn')).attr('checked')){ rn = '0'; };
        if( confirm('Are you sure to send this mail exclusive to ' + 
                    '<%= "#{@outbound_order.distribution_list_member.external_contact.first_name if @outbound_order.distribution_list_member} #{@outbound_order.distribution_list_member.external_contact.last_name if @outbound_order.distribution_list_member}" %>' +'?') ){
          jQuery.get('<%=h url_for(:controller => :outbound_orders,:action => :send_release_mail,:id => @outbound_order.id) %>'+'?rn='+rn+'&rn_id='+$('#release_note_id').attr('value'));
        }
      });
    <% end %>
    $('#mail-self').click(function(){
        var rn = '1'
        if (($('#no-rn')).attr('checked')){ rn = '0'; };
      if( confirm('Are you sure to send this mail to yourself?') ){
        jQuery.get('<%=h url_for(:controller => :outbound_orders,:action => :send_release_mail_to_self,:id => @outbound_order.id) %>'+'?rn='+rn+'&rn_id='+$('#release_note_id').attr('value'));
      }
    });
  </script>
</div>
<div class="row"><div class="span1">&nbsp;</div></div>
<div class="row">
  <div class="span3">
    <%= link_to :back, :class => 'btn' do %>
      <i class="icon-arrow-left" title="back"></i>
    <% end %>
    <%= link_to outbound_orders_path, :class => 'btn',:title => "overview" do %>
      <i class="icon icon-arrow-up"></i>
    <% end %>
  </div>
</div>