<%= form_for(@dashboard_grid_widget) do |f| %>
  <% if @dashboard_grid_widget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dashboard_grid_widget.errors.count, "error") %> prohibited this dashboard_grid_widget from being saved:</h2>

      <ul>
      <% @dashboard_grid_widget.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dashboard_widget_id %><br />
    <%= f.number_field :dashboard_widget_id %>
  </div>
  <div class="field">
    <%= f.label :dashboard_grid_id %><br />
    <%= f.number_field :dashboard_grid_id %>
  </div>
  <div class="field">
    <%= f.label :position %><br />
    <%= f.number_field :position %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
