<h1>Listing dashboard_grid_widgets</h1>

<table>
  <tr>
    <th>Dashboard widget</th>
    <th>Dashboard grid</th>
    <th>Position</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dashboard_grid_widgets.each do |dashboard_grid_widget| %>
  <tr>
    <td><%= dashboard_grid_widget.dashboard_widget_id %></td>
    <td><%= dashboard_grid_widget.dashboard_grid_id %></td>
    <td><%= dashboard_grid_widget.position %></td>
    <td><%= link_to 'Show', dashboard_grid_widget %></td>
    <td><%= link_to 'Edit', edit_dashboard_grid_widget_path(dashboard_grid_widget) %></td>
    <td><%= link_to 'Destroy', dashboard_grid_widget, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dashboard grid widget', new_dashboard_grid_widget_path %>
