<p id="notice"><%= notice %></p>

<p>
  <b>Dashboard widget:</b>
  <%= @dashboard_grid_widget.dashboard_widget_id %>
</p>

<p>
  <b>Dashboard grid:</b>
  <%= @dashboard_grid_widget.dashboard_grid_id %>
</p>

<p>
  <b>Position:</b>
  <%= @dashboard_grid_widget.position %>
</p>


<%= link_to 'Edit', edit_dashboard_grid_widget_path(@dashboard_grid_widget) %> |
<%= link_to 'Back', dashboard_grid_widgets_path %>
