<% f = formfields %>
<% if params[:return_to_controller] && params[:return_to_action] %>
  <%= hidden_field_tag "return_to_controller", params[:return_to_controller] %>
  <%= hidden_field_tag "return_to_action", params[:return_to_action] %>
<% end %>
<div class="row">
  <div class="span2"><strong>Medium ID</strong></div>
  <div class="span2"><strong>Product ID</strong></div>
  <div class="span3"><strong>Creation date</strong></div>
  <div class="span3"><strong>Commercial name</strong></div>
</div>
<div class="row">
  <div class="span2"><%= f.text_field :medium_number, :class => "span2" %></div>
  <div class="span2"><%= f.text_field :product_ref, :class => "span2" %></div>
  <div class="span3 date-select"><%= f.date_select :creation_date %></div>
  <div class="span3"><%= f.text_field :commercial_name, :class => "span3" %></div>
</div>
<div class="row">
  <div class="span2"><strong>Area</strong></div>
  <div class="span2"><strong>Data release</strong></div>
  <div class="span2"><strong>Supplier</strong></div>
</div>
<div class="row">
  <div class="span2"><%= f.select :region_id ,  ((@stock.region_id == nil ? [] : Region.where("id = #{@stock.region_id}"))  + Region.find_all_for_module("WebMIS")).collect {|c| [c.name,c.id] },{},{:include_blank => true, :class => 'span2'} %></div>
  <div class="span2">
    <% if @supplier_abbr_id %>
      <%= f.select :data_release_id, DataRelease.where("data_releases.company_abbr_id = #{@supplier_abbr_id}").collect {|c| [c.company_abbr.name.to_s + " " + c.name.to_s, c.id ]},{}, {:class => 'span2'} %>
    <% else %>
      <%= f.select :data_release_id, DataRelease.where("data_releases.company_abbr_id = -1").collect {|c| [c.company_abbr.name.to_s + " " + c.name.to_s, c.id ]},{}, {:class => 'span2'} %>
    <% end %>
  </div>
  <div class="span2"><%= select_tag :datasource_id, options_for_select([""] + CompanyAbbr.find_all_for_module("WebMIS").collect {|c| [c.name, c.id] }, @supplier_abbr_id) %></div>
</div>

<div class="row">
  <div class="span7"><strong>Medium request notes or features</strong></div>
</div>
<div class="row">
  <div class="span7"><%= f.text_area :request_notes, :class => 'span10' , :rows => 2, :disabled => 'disabled' %></div>
</div>

<div class="row">
  <div class="span10"><strong>Database</strong></div>
</div>
<div class="row">
  <div class="span10"><%= f.text_field :databasename, :class => "span10" %></div>
</div>

<div class="row">
  <div class="span2"><strong>Current location</strong></div>
  <div class="span2"><strong>New location</strong></div>
</div>
<div class="row">
  <div class="span2"><%= f.text_field :location,:id => 'cl', :class => "span2", :disabled => "disabled"  %></div>
  <div class="span2"><%= f.select :location, ([@stock.location] + Location.where('cd_no is null ').collect {|c| [c.locationtype + " " + c.location_code, c.locationtype + "|" + c.location_code]}) , {:order => 'location_code'},{:class => "span2"} %></div>
</div>

<div class="row">
  <div class="span2"><strong>Borrowed by</strong></div>
  <div class="span2"><strong>Borrowed on</strong></div>
</div>
<div class="row">
  <div class="span2"><%= f.select :borrby,(User.where(["job_title != 'Exit' and job_title != 'Functional Account'"]).collect {|u|u.user_name}.sort),{:include_blank => true},{:onchange => 'ChgText("stock_borron","' + Date.today.to_s + '")',:class => 'span2'} %></div>
  <div class="span2"><%= f.text_field :borron, :disabled => "disabled",:class => 'span2' %></div>
</div>
<div class="row">
  <div class="span2"><%= f.text_field :borrback, :disabled => "disabled",:class => 'span2' %></div>
  <div class="span2"><button type="button" class="btn" onclick='MediumBack()'>Return borrowed medium</button></div>
</div>
<%= f.hidden_field(:production_orderline_id) %>

<script type="text/javascript">

  $("#datasource_id").observe_field(1, function( ) {
    var selected = this.value;
    jQuery.get('<%=h url_for(:controller => 'stock',:action => 'get_data_releases') %>'+'?id=' + selected, function(data){
      $("#datarelease_div").html(data);
    });});

  
function MediumBack()
{
  currentTime = new Date();
  month = currentTime.getMonth() + 1;
  day = currentTime.getDate();
  year = currentTime.getFullYear();
  var fulldate = year + '-' + month + '-' + day

  document.getElementById("stock_borrback").value = 'Borrowed from ' + document.getElementById("stock_borron").value + ' till ' + fulldate + ' ' + " by " + document.getElementById("stock_borrby").value ;
  document.getElementById("stock_borron").value = '';
  document.getElementById("stock_borrby").value = '';
  document.getElementById("stock_borrback").disabled = false;
  document.getElementById("stock_borron").disabled = false;
  return true;
}

function ChgText(elementid,content)
{
    document.getElementById(elementid).value = content;
    document.getElementById(elementid).disabled = false;
    return true;
}

</script>