<% f = formfields_request  %>

<h3>Media request</h3>
<div class="row">
  <div class="span7 well well-small">
    <div class="input-append">
    <% if params[:return_to_controller] && params[:return_to_action] %>
      <%= hidden_field_tag "return_to_controller", params[:return_to_controller] %>
      <%= hidden_field_tag "return_to_action", params[:return_to_action] %>
      <%= hidden_field_tag "return_to_id", params[:return_to_id] %>
      <% if !params[:production_orderline_id].blank? %>
        <%=  hidden_field_tag "production_orderline_id", params[:production_orderline_id] %>
      <% end %>
    <% end %>       
    <%= f.text_field :product_ref,:class => 'span2',:placeholder => 'Product ID' %>
    <% if @cid %>
      <%= hidden_field_tag 'stock_conversion_id', @cid.to_s %>
      <script type="text/javascript"> get();</script>
    <% else%>  
      <button class="btn" type="button" id="related">Find related conversions</button>
      <button class="btn btn-danger" type="button" id="manual">Manual entry</button>
    <% end%>    
    </div>
  </div>
</div>

<span id="formdetails" >
  <span id="formdetailsinner" style="display:inline">
    <%=  render :partial => 'prod_details',:object => f %>
  </span>
</span>



<script type="text/javascript">
  $('#related').click(function(){
    related()
  })
  
  $('#manual').click(function(){
    alert('manual');
  })

$('#stock_product_ref').keydown(function(event) {
        if (event.keyCode == 13) {
            related()
            return false;
         }
})
  function related()
  {
    $('#formdetailsinner').show();
    $('#manual').hide();
    get()
  }
  
  function get()
  {
    var selected_p = $('input#stock_product_ref').val();
    var selected_c = $('select#stock_conversion_id').val();
    if(selected_p == "") selected_p="0";
    jQuery.get('<%= url_for(:controller => 'stock',:action => 'get_details') %>'+'?product_id=' + selected_p + '&conversion_id=' + selected_c, function(data){
      $("#formdetails").html(data);
    })
    return false;
  }
  
  
  function show_it()
  {
    
    $('formdetailsinner').show();
    $('button_find_conversions').hide();
    
  }
</script>

<% if @cid %>
    <script>document.getElementById('button_manual_key_entry').style.display="none"</script>
<% end%>