<%= wicked_pdf_stylesheet_link_tag "pdf/pdf" %>
<div style="border-width:thin;border-style:solid">
<h3>
  <% if (@stock.status == 'REQUESTED') %>
  &nbsp;Medium Request 
  <% else %>
  &nbsp;Medium Result
  <% end %>
  </h3></div><br />
<% if @stock.errors.any? %>
  <div class="alert alert-error">
    <% @stock.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
  </div>
<% end %>

<%= form_for(@stock) do |f| %>
<div style="border-width:thin;border-style:solid">  
<table style="border: none">
  <tr>
    <td><b>Creation date:</b></td>
    <td><pre><%= @stock.actual_delivery_date %></pre></td>
  </tr>
  <tr>
    <td><b>Product ID:</b></td>
    <td><pre><%=h  @stock.product_ref %></pre></td>
  </tr>
  <tr>
    <td><b>Commecial Name:</b></td>
    <td><pre><%=h @stock.commercial_name %></pre></td>
  </tr>
  <tr>
    <td><b>Area:</b></td>
    <td><pre><%=h Region.find_by_id(@stock.region_id).name if (@stock.region_id != '')%></pre></td>
  </tr>
  <tr>
    <td><b>Main supplier:</b></td>
    <td><pre><%=h CompanyAbbr.find_by_id(@stock.supplier_id).name if (@stock.supplier_id.to_s != '')%></pre></td>
  </tr>
<tr>
    <td><b>Data release:</b></td>
    <td><pre><%=h DataRelease.find_by_id(@stock.data_release_id).name if (@stock.data_release_id != '') %></pre></td>
  </tr>
<tr>
      <td><b>End Customer:</b></td>
      <td><pre><%=h @stock.end_customer_name.to_s %></pre></td>
  </tr>
    <tr>
      <td><b>Conversion ID:</b></td>
      <td><pre><%=h @stock.conversion_id %></pre></td>
    </tr>
    <tr>
      <td><b>Database name:</b></td>
      <td>
        <% @stock.conversion_databases.available.each do |db| %>
          <%= db.shortest %><br />
        <% end %>
      </td>
    </tr>
    <tr>
      <td VALIGN="top"><b>TPD Path:</b></td>
      <td><pre><%=h @stock.tpd_phase_2_description %></pre></td>
    </tr>
    <tr><td colspan="2">&nbsp;</td></tr>
    <tr>
      <td><b>Medium Type: </b></td>
      <td><pre><%=h @stock.cd_type.to_s %></pre></td>
    </tr>
    <tr>
      <td><b>Recognition file: </b></td>
      <td><pre><%=h @stock.recognition_file.to_s %></pre></td>
    </tr>
    <tr>
      <td><b>Requested Amount:</b></td>
      <td><%=h @stock.nr_of_copies_request %></td>
    </tr>
    <tr>
      <td><b>Requested Delivery date:</b></td>
      <td><pre><%=h @stock.requested_delivery_date.to_s %></pre></td>
    </tr>
    <tr>
      <td VALIGN="top"><b>Additional Features / Notes:</b></td>
      <td><pre><%=h @stock.request_notes %></pre></td>
    </tr>
    <tr>
      <td><b>Medium ID:</b></td>
      <td><b><%=h @stock.medium_number %></b></td>
    </tr>
  </table>
</div>
<br />
<div align="center" style="border-width:thin;border-style:solid">
<i style="font-size:9">Requested by <%=h @stock.requested_by%></i>&nbsp;&nbsp;&nbsp;
<i style="font-size:9">Print date: <%= Date.today %></i>&nbsp;&nbsp;&nbsp;
<i style="font-size:9">Request ID: <%=@stock.id%></i>&nbsp;&nbsp;&nbsp;
<i style="font-size:9">Request status: <%=@stock.status%></i>
</div>
<% end %>





