<div class="row">
  <div class="span2"><strong>Conversion</strong></div>
  <div class="span3"><strong>Area</strong></div>
  <div class="span2"><strong>Customer name</strong></div>
</div>
<div class="row">
  <div class="span2">
    <% if @cid %>
      <%= hidden_field_tag 'stock[conversion_id]', @cid.to_s %>
      <%= @cid %>
      <script type="text/javascript">get()</script>
    <% else %>
      <div><%= select_tag 'stock[conversion_id]', options_for_select([@stock.conversion_id.to_s] + [""] + @cvs.collect{|x| ["#{x.id.to_s} - #{x.status_str}", x.id.to_s]}, @stock.conversion_id.to_s), {:onchange => 'get()',:class => 'span2'} %></div>
    <% end %>
  </div>

  <div class="span3"><%= select_tag 'stock[region_id]', options_for_select(Region.active.collect{|x|[x.name,x.id]},@stock.region_id), :class => 'span3' %></div>
  <div class="span2"><%= text_field_tag 'stock[end_customer_name]', @stock.end_customer_name.to_s,:class => 'span2' %></div>
</div>

<div class="row">
  <div class="span2"><strong>Product ID</strong></div>
  <div class="span3"><strong>Supplier</strong></div>
  <div class="span2"><strong>Release</strong></div>
</div>
<div class="row">
  <div class="span2"><%= text_field_tag 'stock[product_ref]', @stock.product_ref.to_s, :class => 'span2' %></div>
  <div class="span3"><%= select_tag 'stock[supplier_id]',options_for_select(CompanyAbbr.all.collect{|x| [x.name, x.id]},@stock.supplier_id),:class => 'span3' %></div>
  <div class="span2" id="data_release_div">
    <% if @editing %>
      <%= select_tag 'stock[data_release_id]', options_for_select( @sabbr.collect{|x|[x.name, x.id]} + @datareleases.collect{|x| [x.name, x.id]}, @stock.data_release_id),:class => 'span2' %>
    <% else %>
      <%= select_tag 'stock[data_release_id]', options_for_select(@datareleases.collect{|x| [x.name, x.id]}, @stock.data_release_id),:class => 'span2' %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="span7"><strong>Database</strong></div>
</div>
<div class="row">
  <div class="span7"><%= text_field_tag 'stock[databasename]', @stock.databasename , :class => 'span7' %></div>
</div>

<div class="row">
  <div class="span7"><strong>Tpd path</strong></div>
</div>
<div class="row">
  <div class="span7"><%= text_area_tag 'stock[tpd_phase_2_description]', @stock.tpd_phase_2_description , :rows => 3, :class => 'span7' %></div>
</div>

<div class="row">
  <div class="span2">
    <div class="row">
      <div class="span2"><strong>Recognition File</strong></div>
    </div>
    <div class="row">
      <div class="span2"><%= select_tag 'stock[recognition_file]', options_for_select(['','ALL','AUDI','RENAULT-LPN'],@stock.recognition_file.to_s),:class=>'span2' %></div>
    </div>
    <div class="row">
      <div class="span3"><strong>Medium type</strong></div>
     </div>
        <div class="row">
      <div class="span2"><%= select_tag 'stock[cd_type]', options_for_select(['','CD','DVD5','DVD9'],@stock.cd_type.to_s),:class=>'span2' %></div>
    </div>
    <div class="row">     
      <div class="span2"><strong>Quantity</strong></div>
    </div>
        <div class="row">
      <div class="span2"><%= select_tag 'stock[nr_of_copies_request]', options_for_select(@amount.collect{|x| [x.to_s, x.to_s]},@copies.to_s),:class=>'span2' %></div>
    </div>

  </div>
  <div class="span5">
    <div class="row">
      <div class="span5"><strong>Request notes</strong></div>
    </div>
        <div class="row">
      <div class="span2"><%= text_area_tag 'stock[request_notes]', @stock.request_notes, :rows => 6, :class => 'span5' %></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="span2"><strong>Purpose</strong></div>
  <div class="span3"><strong>Requested date</strong></div>
  <div class="span2"><strong>Commercial name</strong></div>
</div>
<div class="row">
  <div class="span2"><%= select_tag 'stock[purpose]', options_for_select(@purpose.collect{|x| x}), :class => 'span2' %></div>
  <div class="span3 date-select"><%= select_date  @stock.requested_delivery_date, :prefix => 'stock[requested_delivery_date]' %></div>
  <div class="span2"><%= text_field_tag 'stock[commercial_name]', @stock.commercial_name.to_s , :class => 'span2 uneditable-input' %></div>
  <%= hidden_field_tag 'stock[commercial_name]', @stock.commercial_name.to_s %>
  <%= hidden_field_tag 'stock[actual_delivery_date]',@stock.requested_delivery_date.to_s %>
  <%= hidden_field_tag 'stock[tmc]',@stock.tmc.to_s %>
  <%= hidden_field_tag 'stock[tpd_phase_2]',@stock.tpd_phase_2.to_s %>
  <%= hidden_field_tag 'stock[rds_tmcfile]',@stock.rds_tmcfile.to_s %>
</div>
          

<script type="text/javascript">
  $("#stock_supplier_id").change(function() {
    var selected = $('select#stock_supplier_id').val();
    if(selected == "") selected="0";
    jQuery.get('<%=h url_for(:controller => 'stock',:action => 'get_datareleases') %>'+'?sid=' + selected, function(data){
        $("#data_release_div").html(data);
    })
    $('#data_release_div').addClass("alert-info")
    
    return false;
  });
</script>
  
        