<% stock = request  %>
<% if stock.conversion_databases.available.last.to_s != ""
     dbfilename = stock.conversion_databases.available.last.filename
   else
     dbfilename = stock.databasename
end %>
<div class="row">
  <div class="span1">
    <div class="btn-group">
      <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
      Action
      <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">       
        <li>
          <%= link_to(:action => 'show_request',:controller => :stock,:id => stock.id) do %>
          <i class="icon-info-sign"></i>&nbsp;show
          <% end %>
        </li>
        <li>
          <%= link_to(:action => 'edit_request',:controller => :stock,:id => stock.id) do %>
          <i class="icon-edit"></i>&nbsp;edit
          <% end %>
        </li>
        <li>
          <%= link_to(:action => 'clone_request',:controller => :stock,:id => stock.id) do %>
          <i class="icon-retweet"></i>&nbsp;clone
          <% end %>
        </li>    
        <%  if (stock.status.to_s == 'CREATED') %>
        <li>
          <%= link_to(:action => 'html2pdf_medium_request',:controller => :stock,:id => stock.id,:format => 'pdf') do %>
          <i class="icon-print"></i>&nbsp;print
          <% end %>
        </li>
        <li class="divider"></li>
        <li>
          <%= link_to(:action => 'medium_validated',:controller => :stock,:id => stock.id) do %>
          <i class="icon-thumbs-up"></i>&nbsp;Validated/Aprove
          <% end %>
        </li>
        <li>
          <%= link_to(:action => 'reject_medium',:controller => :stock,:id => stock.id) do %>
          <i class="icon-thumbs-down"></i>&nbsp;Reject
          <% end %>
        </li>
        <% end %>
        <%  if (stock.status.to_s == 'VALIDATED') %>
        <li class="divider"></li>
        <li>
          <%= link_to(:action => 'edit',:controller => :stock,:id => stock.id) do %>
          <i class="icon-folder-close"></i>&nbsp;Archive
          <% end %>
        </li>
        <% end %>

      </ul>
    </div>    
  </div>
  <div class="span1"><strong><%= stock.status %>&nbsp;</strong></div>
  <div class="span2"><%=h stock.medium_number %>&nbsp;</div>
  <div class="span1"><%=h stock.product_ref %>&nbsp;</div>  
  <div class="span2">
    <% if stock.data_release %>
      <%=h stock.data_release.company_abbr.name.to_s + " " + stock.data_release.name.to_s %>
    <% else %>
      stock.supplier_name
    <% end %>  
  </div>
  <div class="span2"><%=h stock.region.name %>&nbsp;</div>
  <div class="span4">
    <% stock.conversion_databases.available.each do |db| %>
      <%= db.filename %>
      <% if stock.conversion_databases.available.last != db %>
        <br />
      <% end %>
    <% end %>&nbsp;
  </div>
</div>