<% if stock.conversion_databases.to_s != ""
     dbfilename = stock.conversion_databases.collect {|x| x.filename }.uniq.join
   else
     dbfilename = stock.databasename
end %>
<div class="row">
  <div class="span1">
    <div class="btn-group">
      <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
      Action
      <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to(:action => 'show',:controller => :stock,:id => stock.id) do %>
          <i class="icon-info-sign"></i>&nbsp;show
          <% end %>
        </li>
        <li>
          <%= link_to(:action => 'edit',:controller => :stock,:id => stock.id) do %>
          <i class="icon-edit"></i>&nbsp;edit
          <% end %>
        </li>
        <% if params[:oldest_archive] && !params[:oldest_archive].blank? %>        
        <li>
          <%= link_to({:action => :move2box,:controller => :stock,:id => stock.id}, {:confirm => 'Are you sure to move this medium to a box?'}) do %>
          <i class="icon-briefcase"></i>&nbsp;move to box
          <% end %>
        </li>
        <% end %>
        <li>
          <%= link_to(stock, :confirm => 'Are you sure to permanently delete this archive ?', :method => :delete) do %>
          <i class="icon-remove"></i>&nbsp;delete
          <% end %>
        </li>          
      </ul>
    </div>    
  </div>
  <div class="span1"><strong><%=h stock.location %>&nbsp;</strong></div>
  <div class="span2"><%=h stock.medium_number %>&nbsp;</div>
  <div class="span1"><%=h stock.product_ref %>&nbsp;</div>  
  <div class="span2">
    <% if stock.data_release %>
      <%=h stock.data_release.company_abbr.name.to_s + " " + stock.data_release.name.to_s %>
    <% else %>
      stock.supplier_name
    <% end %>  
  </div>
  <div class="span2"><%=h stock.region_name %>&nbsp;</div>
  <div class="span4"><%=h dbfilename.to_s %>&nbsp;</div>
</div>