<h1>Borrowed mediums</h1>
<div class="row">
  <div class="span2"><b>Medium number</b></div>
  <div class="span3"><b>Borrowed by</b></div>
  <div class="span2"><b>Location</b></div>
</div>
<% @borrowed_grid.each do |g| %>
<div class="row">

  <div class="span2"><%=  g.medium_number %></div>
  <div class="span3"><%=  g.borrby %></div>
  <div class="span2"><%=  g.location %></div>
  <div class="span1"><%=  link_to image_tag('icons/document-edit.png', :border =>0, :alt => "edit" , :title => "edit archive"), edit_stock_path(g) %></div>
  <div class="span1"><%=  link_to image_tag('icons/emblem-notice.png', :border =>0, :alt => "show" , :title => "show archive"), g %></div>
</div>
<% end %>
<%= link_to image_tag('icons/go-home.png', :border =>0, :alt => "main menu" , :title => "main-menu"), :controller => "main", :action => "index"%> | 
<%= link_to image_tag('icons/go-previous.png', :border =>0, :alt => "back" , :title => "back to archive menu"), :controller => "stock", :action => "index", :id => 1 %> |