<h1>Editing Medium Request</h1>


<script type="text/javascript">
  function get()
  {
    var selected_p = $('input#stock_product_ref').val();
    var selected_c = $('select#stock_conversion_id').val();
    if(selected_p == "") selected_p="0";
    jQuery.get('<%=h :controller => 'stock',:action => 'get_details' %>' + '?product_id=' + selected_p + '&conversion_id=' + selected_c, function(data){
      $("#formdetails").html(data);
    })
    return false;
  }
  
  function show_it()
  {
 
    $('formdetailsinner').show();
    $('button_find_conversions').hide();
    
  }
</script>
<% if @stock.errors.any? %>
  <div class="alert alert-error">
    <% @stock.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
  </div>
<% end %>

<%= form_for(@stock) do |f| %>
 <%= render :partial => "prod_details",:object => f %>
  <p>
    <b>Medium ID</b><br />
<%= text_field_tag 'stock[medium_number]', @stock.medium_number.to_s %>
<%= hidden_field_tag 'prev_action', 'edit_request'%>
    <%= f.submit "Update", :class =>'btn', :confirm => "Are you sure?"  %>
  </p>
<% end %>
<%= link_to image_tag('icons/pdf_button.png', :border =>0, :alt => "PDF" , :title => "Create PDF request"), params.merge({:action => "html2pdf_medium_request", :id => @stock.id}) %>

<%= link_to image_tag('icons/emblem-notice.png', :border =>0, :alt => "show" , :title => "show request"), @stock %><br />
<%= link_to image_tag('icons/go-previous.png', :border =>0, :alt => "back" , :title => "back"), :action => 'requests', :id => @stock.id %><br><br>
<% if @result_previous %>
<%=link_to '<= Previous Record', :action => 'edit', :id => @previous%>
<% end %>
<% if @result_next %>
<%=link_to 'Next Record =>', :action => 'edit', :id => @next%>
<% end %>


