<h1>Editing Media List</h1>

<% if @stock.errors.any? %>
  <div class="alert alert-error">
    <% @stock.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
  </div>
<% end %>

<%= form_for(@stock) do |f| %>
 <%= render :partial => "formfields",:object => f %>
  <p>
    <%= f.submit "Update", :class=>'btn' %>
  </p>
<% end %>

<%= link_to 'Show', @stock %> |
<%= link_to 'Back', :action => 'index' %><br><br>
<% if @result_previous %>
<%=link_to '<= Previous Record', :action => 'edit', :id => @previous%>
<% end %>
<% if @result_next %>
<%=link_to 'Next Record =>', :action => 'edit', :id => @next%>
<% end %>


