<% if @external_contact %>
<p><b>Address details:</b></p>
<p>
  <%=h @external_contact.first_name %>  <%=h @external_contact.last_name %><br/>
  <%=h @external_contact.primary_address_street %><br/>
  <%=h @external_contact.primary_address_postalcode %><br/>
  <%=h @external_contact.primary_address_city %><br/>
  <%=h @external_contact.primary_address_state %><br/>
  <%=h @external_contact.primary_address_country %><br/>
  <%=h @external_contact.phone_work %><br/>
  <%=h @external_contact.phone_mobile %><br/>
  <%=h @external_contact.email.to_s %><br/>
</p>
<% end %>


