<h1>New CD</h1>

<% if @stock.errors.any? %>
  <div class="alert alert-error">
    <% @stock.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
  </div>
<% end %>

<%= form_for(@stock, :url => {:controller => 'stock' , :action => 'create'},:method => 'post') do |f| %>
   <%= render :partial => 'formfields',:object => f %>
  <p>
    <%= f.submit "Request" %>
  </p>
<% end %>

<%= link_to 'Back', :action => 'index' %>
