<% if @stock.errors.any? %>
  <div class="alert alert-error">
    <% @stock.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
  </div>
<% end %>

<%= form_for(@stock, :url => {:action => 'create_request'}) do |f| %>
  <%= render :partial => 'formfields_request',:object => f %>
  <%= f.submit "Create",:class => 'btn btn-primary' %>
<% end %>

<%= link_to :back do %>
  <i class="icon-arrow-left">&nbsp;</i>back
<% end %>
