<h3>Rejection of medium <%=h @stock.medium_number %></h3>
<div class="row">
  <div class="span3">
    <strong>
      <%=h @stock.product_ref %>&nbsp;
      <%=h Region.find_by_id(@stock.region_id).name if (@stock.region_id != '')%>&nbsp;
      <%=h @stock.commercial_name %>
    </strong>
  </div>
</div>
<br>
<div class="row">
  <div class="span3"><strong>Reason of rejection</strong></div>
</div>

<div class="row">
  <div class="span5">
    <%= form_for(@stock, :url => {:action => 'perform_medium_rejection', :id => @stock.id}) do |f| %>
    <%= f.text_area :status_remark, :class=>'span5' , :rows => 6 %>

    <%= f.submit "Update", :confirm => "Are you sure?",:class => 'btn btn-primary' %>

<% end %>
  </div>
</div>


<%= link_to @stock do %>
<i class="icon-eye-open">&nbsp;</i>show
<% end %>
|
<%= link_to :back do %>
<i class="icon-arrow-left">&nbsp;</i>back
<% end %>