<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand"><strong>Media request</strong></div>
      <div class="span">
        <%= form_tag url_for(:controller => :stock,:action =>:requests), :method => 'get' do %>
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <div class="input-append">

            <%= select_tag :setcode, options_for_select([''] + Productset.all.order('setcode').collect {|c| [ c.setcode, c.id ] } , params[:setcode].to_i) , :class => 'span3',:data=>{:placeholder => 'select productset'} %>
            <%= text_field_tag :search, params[:search], :placeholder=>" search",:class=>"span3",:size=>"16" %>
            <%= button_tag "Search", :name => nil, :type => :submit, :class => "btn" %>
            <%= button_tag "Reset", :name => 'reset',:class=>"btn",:type=>:submit %>
          </div>
        <% end %>
      </div>
      <div class="span2">
        <%= link_to :action => 'new_request' do %>
          <i class="icon-plus-sign">&nbsp;</i>New
        <% end %>
      </div>
    </div>
  </div>
</div>

<div style="padding-top: 4.5em;margin-bottom: 55px" id="endless">
  <div class="row">
    <div class="offset1 span1"><strong><%= sortable 'stock.status','Status' %></strong></div>
    <div class="span2"><strong><%= sortable 'stock.medium_number','Medium ID' %></strong></div>
    <div class="span1"><strong><%= sortable 'stock.product_id','Product ID' %></strong></div>
    <div class="span2"><strong><%= sortable 'stock.product_ref','Data release' %></strong></div>
    <div class="span2"><strong><%= sortable 'stock.region_id','Area' %></strong></div>
    <div class="span4"><strong>Filename</strong></div>
  </div>
  <%= render(:partial => "request", :collection => @stock) %>  
</div>  
<%= will_paginate(@stock) %>
<%= pageless(@stock.total_pages, url_for(:controller => :stock,:action =>:requests), "#endless") %>

<script type="text/javascript">
  $("#setcode").chosen({allow_single_deselect: true})
</script>

