<h1>Viewing stock</h1>
<% if @stock.errors.any? %>
  <div class="alert alert-error">
    <% @stock.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
  </div>
<% end %>

<%= form_for(@stock) do |f| %>
<table>
  <tr>
    <td><b>Medium number</b></td>
    <td><%= @stock.medium_number %></td>
    <td><b>Databasename</b></td>
    <td><%= @stock.databasename %></td>
  </tr>
  <tr>
    <td><b>Product Id</b></td>
    <td><%= @stock.product_ref %></td>
    <td><b>Cd type</b></td>
    <td><%= @stock.cd_type %></td>
  </tr>
  <tr>
    <td><b>Supplier name</b></td>
    <td><%= @stock.supplier_name %></td>
    <td><b>Data release</b></td>
    <% c =  DataRelease.find(@stock.data_release_id) %>
    <td><%= c.datasource.name + " " + c.name %></td>
  </tr>
  <tr>
    <td><b>Creation date</b></td>
    <td><%= @stock.creation_date %></td>
    <td><b>Coverage</b></td>
    <td><%= @stock.region_name %></td>
  </tr>

  <tr>
    <td><b>Commercial name</b></td>
    <td><%= @stock.commercial_name %></td>
  </p>
  </tr>
  </table>
<table class="noborder">
  <tr>
    <td><b>TPD</b></td>
<td><%= f.check_box :tpd_phase_2  ,:disabled=>true%></td>
    <td><%= @stock.tpd_phase_2_description%>&nbsp;<%= @stock.tpd_phase_1_description %></td>
  </p>
  </tr>
<tr>
    <td><b>TMC</b></td>
<td><%= f.check_box :tmc ,:disabled=>true %></td>
<td><pre><%= @stock.rds_tmcfile %></pre></td>
  </tr>
  <tr>
    <td ><b>Extra</b></td>
    <td></td>
    <td ><%= @stock.extra %></td>
  </tr>



  </table>
<table class="noborder">
    <td><b>Archive</b></td>
    <td><%= @stock.location %></td>

  </tr>
</table>


<%= link_to image_tag('icons/go-previous.png', :border =>0, :alt => "back" , :title => "back"), :action => 'index' %>
<% end %>
<br/>




