<span class="label label-info"><%= @stock.status %></span>
<% if (@stock.status.to_s == 'REJECTED') %>
  <div class="row">
    <div class="span2"><strong>Reason of rejection</strong></div>
    <div class="span5"><pre class="real-pre"><%=h @stock.status_remark %></pre></div>
  </div>
<% end %>
<h3>Medium request</h3>

<div class="row">
  <div class="span2"><strong>Product ID</strong></div>
  <div class="span2"><%= @stock.product_ref %></div>
  <div class="span2"><strong>Commercial name</strong></div>
  <div class="span3"><%=h @stock.commercial_name %></div>
</div>

<div class="row">
  <div class="span2"><strong>Area</strong></div>
  <div class="span2"><%=h Region.find_by_id(@stock.region_id).name if (@stock.region_id != '')%></div>
</div>

<div class="row">
   <div class="span2"><strong>Supplier & Release</strong></div>
   <div class="span2">
     <%=h CompanyAbbr.find_by_id(@stock.supplier_id).name if (@stock.supplier_id.to_s != '')%>&nbsp;
     <%=h DataRelease.find_by_id(@stock.data_release_id).name if (@stock.data_release_id != '') %>
   </div>
</div>

<div class="row">
  <div class="span2"><strong>End customer</strong></div>
  <div class="span2"><%=h @stock.end_customer_name.to_s %></div>
</div>

<br>

<div class="row">
  <div class="span2"><strong>Conversion ID</strong></div>
  <div class="span2"><%=h @stock.conversion_id %></div>
</div>

<div class="row">
  <div class="span2"><strong>Database name</strong></div>
  <div class="span8">
    <% @stock.conversion_databases.available.each do |db| %>
      <%= db.path_and_file %><br />
    <% end %>
  </div>
</div>

<div class="row">
  <div class="span2"><strong>TPD path</strong></div>
  <div class="span5"><pre class="real-pre"><%=h @stock.tpd_phase_2_description %></pre></div>
</div>

<br>

<div class="row">
  <div class="span2"><strong>Medium type</strong></div>
  <div class="span5"><%=h @stock.cd_type.to_s %></div>
</div>

<div class="row">
  <div class="span2"><strong>Recognition file</strong></div>
  <div class="span5"><%=h @stock.recognition_file.to_s %></div>
</div>

<br>



<div class="row">
  <div class="span2"><strong>Requested Delivery date</strong></div>
  <div class="span5"><%=h @stock.requested_delivery_date.to_s %></div>
</div>

<div class="row">
  <div class="span2"><strong>Quantity</strong></div>
  <div class="span5"><%=h @stock.nr_of_copies_request %></div>
</div>

<div class="row">
  <div class="span2"><strong>Additional notes</strong></div>
  <div class="span5"><pre class="real-pre"><%=h @stock.request_notes %></pre></div>
</div>

<div class="row">
  <div class="span2"><strong>Medium ID</strong></div>
  <div class="span5"><strong><%=h @stock.medium_number %></strong></div>
</div>

<div class="row">
  
</div>




<%= link_to :back do %>
<i class="icon-arrow-left">&nbsp;</i>Back
<% end %>





