<% linkcontroller = 'N/A' %>
<% linkaction = 'N/A' %>
<% linkcontroller = @business_process.line_link_controller if !@business_process.line_link_controller.blank? %>
<% linkaction = @business_process.line_link_action if !@business_process.line_link_action.blank? %>

<%= form_for(@business_process) do |f| %>
  <% if @business_process.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@business_process.errors.count, "error") %> prohibited this process from being saved:</h4>

      <ul>
        <% @design_tag.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="span6 bounded bounded-headered">
    <div class="row bounded-header">
      <h4>Business process</h4>
    </div>
    <div class="row">
      <div class="span2"><strong>Name</strong></div>
      <div class="span3"><%= f.text_field :name,:class => 'span3' %></div>
    </div>
    <div class="row">
      <div class="span2"><strong>Description</strong></div>
      <div class="span3"><%= f.text_area :description, :rows => 3,:class => 'span3' %></pre></div>
    </div>
    <div class="row">
      <div class="span2"><strong>Line&nbsp;link&nbsp;controller</strong></div>
      <div class="span3"><%= linkcontroller %></div>
    </div>
    <div class="row">
      <div class="span2"><strong>Line&nbsp;link&nbsp;action</strong></div>
      <div class="span3"><%= linkaction %></div>
    </div><br />
    <div class="row">
      <div class="span2"><strong>System support</strong></div>
      <div class="span3"><%= bootstrap_boolean(@business_process.system_support_yn) %></div>
    </div>
    <div class="row">
      <div class="span2"><strong>Core business process</strong></div>
      <div class="span3"><%= f.check_box :core_bp_yn %></div>
    </div>
    <div class="row">
      <div class="span6">
        <%= f.submit 'Save',:class => 'btn pull-right' %>
      </div>
    </div>
  </div>
</div>
<% end %>
<script type="text/javascript">
  <% if @business_process.id && @business_process.system_support_yn %>
    $('#business_process_name').attr('disabled', 'disabled')
  <% end %>
</script>
