<%= render 'form' %>
<div class="row">
  <div class="span6">
    <%= link_to business_processes_path, :class=>'btn',:title=>'back to overview' do %>
      <i class="icon-arrow-up"></i>
    <% end %>

    <%= link_to(@business_process,:class=>'btn',:title=>'show') do %>
      <i class="icon-eye-open"></i>
    <% end %>
  </div>
</div>

