<h3>Business processes</h3>
<div class="row">
  <div class="span2 offset1"><strong>Name</strong></div>
  <div class="span4"><strong>Description</strong></div>
  <div class="span2"><strong>Automation support</strong></div>
  <div class="span2"><strong>Core BP</strong></div>
</div>

<% for business_process in @business_processes %>

  <div class="row">
    <div class="span1">
      <div class="btn-group">
        <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
        Action
        <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to(business_process) do %>
            <i class="icon-info-sign"></i>&nbsp;show
            <% end %>
          </li>
          <li>
            <%= link_to(edit_business_process_path(business_process)) do %>
            <i class="icon-edit"></i>&nbsp;edit
            <% end %>
          </li>
          <% unless business_process.system_support_yn || ProcessTransition.find_by_from_bp(business_process.id) || 
                    ProcessTransition.find_by_to_bp(business_process.id) || ProcessTransition.find_by_cascade_to_bp(business_process.id) %>
            <li>
              <%= link_to(business_process, :confirm => 'Are you sure?', :method => :delete) do %>
              <i class="icon-remove"></i>&nbsp;delete
              <% end %>
            </li> 
          <% end %>          
        </ul>
      </div>
    </div>
    <div class="span2"><%= business_process.name %></div>
    <div class="span4"><%= business_process.description %>&nbsp;</div>
    <div class="span2"><%= bootstrap_boolean(business_process.system_support_yn) %></div>
    <div class="span2"><%= bootstrap_boolean(business_process.core_bp_yn) %></div>
  </div>
<% end %>
<br>
<%= link_to(new_business_process_path, :class => 'btn btn-danger btn-small') do %>
  <i class="icon-plus">&nbsp;</i>New process
<% end %>
