<% linkcontroller = 'N/A' %>
<% linkaction = 'N/A' %>
<% linkcontroller = @business_process.line_link_controller if !@business_process.line_link_controller.blank? %>
<% linkaction = @business_process.line_link_action if !@business_process.line_link_action.blank? %>

<div class="row">
  <div class="span6 bounded bounded-headered">
    <div class="row bounded-header">
      <h4>Business process</h4>
    </div>
    <div class="row">
      <div class="span2"><strong>Name</strong></div>
      <div class="span3"><%= @business_process.name %></div>
    </div>
    <div class="row">
      <div class="span2"><strong>Description</strong></div>
      <div class="span3"><pre class="real-pre"><%= @business_process.description %></pre></div>
    </div>
    <div class="row">
      <div class="span2"><strong>Line&nbsp;link&nbsp;controller</strong></div>
      <div class="span3"><%= linkcontroller %></div>
    </div>
    <div class="row">
      <div class="span2"><strong>Line&nbsp;link&nbsp;action</strong></div>
      <div class="span3"><%= linkaction %></div>
    </div><br />
    <div class="row">
      <div class="span2"><strong>System support</strong></div>
      <div class="span3"><%= bootstrap_boolean(@business_process.system_support_yn) %></div>
    </div>
    <div class="row">
      <div class="span2"><strong>Core business process</strong></div>
      <div class="span3"><%= bootstrap_boolean(@business_process.core_bp_yn) %></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <%= link_to :back, :class => 'btn',:title => 'back' do %>
      <i class="icon-arrow-left"></i>
    <% end %>
    <%= link_to business_processes_path, :class => 'btn', :title => 'overview' do %>
      <i class="icon-arrow-up"></i>
    <% end %>
    <%= link_to edit_business_process_path(@business_process), :class => 'btn', :title => 'edit' do %>
      <i class="icon-edit"></i>
    <% end %>
  </div>
</div>