<div class="row" id="row-<%= failed_shipping_job.id %>">
  <div class="span1">
    <div class="btn-group">
      <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
        Action
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to(failed_shipping_job) do %>
          <i class="icon-info-sign"></i>&nbsp;show
          <% end %>
        </li>
        <li>
          <%= link_to(edit_shipping_job_path(failed_shipping_job)) do %>
          <i class="icon-edit"></i>&nbsp;edit
          <%  end %>
        </li>
        <% if failed_shipping_job.status < Job::STATUS_CANCELLED %>
          <li>
            <%= link_to cancel_shipping_job_path(failed_shipping_job, {lock_version: failed_shipping_job.lock_version.to_s}), method: :post  do %>
            <i class="icon-off"></i>&nbsp;cancel
            <%  end %>
          </li>
         <% end  %>
      </ul>
    </div>
    <input type="checkbox" name="checked" value="<%= failed_shipping_job.id %>" class="pull-right" id="chk-<%= failed_shipping_job.id %>"/>
  </div>

  <div class="span1">
    <%= failed_shipping_job.id %>
  </div>

  <div class="span1">
    <%= failed_shipping_job.status_str %>
  </div>

  <div class="span5">
      <%= "#{failed_shipping_job.outbound_order.id} | #{failed_shipping_job.outbound_order.filename}" %>
  </div>

  <div class="span1">
    <%= link_to failed_shipping_job.outbound_order.id,failed_shipping_job.outbound_order, target: '_blank' %>
  </div>

  <div class="span1">
    <%= failed_shipping_job.run_server %>&nbsp;
  </div>

  <div class="span1 no-wrap" >
    <%= failed_shipping_job.start_time.strftime('%d-%m-%y %H:%M') if failed_shipping_job.start_time %>&nbsp;
  </div>

  <div class="span1 no-wrap">
    <%= failed_shipping_job.finish_time.strftime('%d-%m-%y %H:%M') if failed_shipping_job.finish_time %>&nbsp;
  </div>
</div>

<script type="text/javascript">
  $("[id^=chk-]").change(function(){
  toggleButton(this);
  });
</script>