<div class="row" id="row_show_<%= shipping_job.id %>">
  <div class="span1">
    <div class="btn-group">
      <%= conversion_database_action_link(shipping_job) %>
      <ul class="dropdown-menu">
        <li>
          <%= link_to(shipping_job) do %>
          <i class="icon-info-sign"></i>&nbsp;show
          <% end %>
        </li>
        <li>
          <%= link_to(edit_shipping_job_path(shipping_job)) do %>
          <i class="icon-edit"></i>&nbsp;edit
          <%  end %>
        </li>
        <% if shipping_job.status < Job::STATUS_CANCELLED %>
          <li>
            <%= link_to cancel_shipping_job_path(shipping_job, { lock_version: shipping_job.lock_version.to_s } ), method: :post  do %>
            <i class="icon-off"></i>&nbsp;cancel
            <%  end %>
          </li>
         <% end  %>
      </ul>
    </div>
  </div>

  <div class="span1">
    <%= shipping_job.id %>
  </div>

  <div class="span1">
    <%= shipping_job.status_str %>
  </div>

  <div class="span5">
      <%= "#{shipping_job.packing.id} | #{shipping_job.packing.filename}" %>
  </div>

  <div class="span1">
    <%= link_to shipping_job.packing.outbound_order_id,shipping_job.packing.outbound_order, target: '_blank' %>
  </div>

  <div class="span1">
    <%= shipping_job.run_server %>&nbsp;
  </div>

  <div class="span1 no-wrap" >
    <%= shipping_job.start_time.strftime('%d-%m-%y %H:%M') if shipping_job.start_time %>&nbsp;
  </div>

  <div class="span1 no-wrap">
    <%= shipping_job.finish_time.strftime('%d-%m-%y %H:%M') if shipping_job.finish_time %>&nbsp;
  </div>
</div>
