<% @heading = "Editing Shipping Job #{@shipping_job.id}" %>
<%= render 'form' %>
|
<%= link_to :back do %>
<i class="icon-arrow-left" title="back">&nbsp;</i>
<% end %>
|
<%= link_to @shipping_job do %>
  <i class="icon-eye-open" title="show">&nbsp;</i>
<% end %>
|
<%= link_to shipping_jobs_path do %>
  <i class="icon-arrow-up" title="overview">&nbsp;</i>
<% end %>
|
