<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand"><strong>Tagging Failed Shipping jobs</strong></div>
      <div class="span">
        <%= form_tag shipping_jobs_path, method: 'get' do %>
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <div class="input-prepend input-append">
          <%= select_tag 'job_fail_reason', options_for_select(JobFailReason.where(:job_type => @shipping_jobs.last.class.name).collect{|f|f.reason}),{ include_blank: true, data: {placeholder: 'Assign fail reason'}} %>
            <button type="button" class="btn btn-danger" id="tagSelected" disabled="disabled">Tag selected</button>
          </div>
          <% end %>
       </div>
    </div>
  </div>
</div>
<fieldset>
<div id="endless">
  <div class="row">
    <div class="span1"><strong>check all</strong><input type="checkbox" class="checkall pull-right"/></div>
    <div class="span1"><strong><%= sortable 'id' %></strong></div>
    <div class="span1"><strong><%= sortable 'status', 'Status' %></strong></div>
    <div class="span5"><strong><%= sortable 'outbound_order.id', 'Outbound order' %></strong></div>
    <div class="span1"><strong><%= sortable 'outbound_order.id', 'Order' %></strong></div>
    <div class="span1"><strong><%= sortable 'run_server', 'Server' %></strong></div>
    <div class="span1"><strong><%= sortable 'start_time', 'Started' %></strong></div>
    <div class="span1"><strong><%= sortable 'finish_time', 'Finished' %></strong></div>
  </div>

  <%= render(partial: 'failed_shipping_job', collection: @shipping_jobs) %>
</div>
</fieldset>
<%= will_paginate(@shipping_jobs) %>
<%= pageless(@shipping_jobs.total_pages, url_for(action: :failures), '#endless', params) %>

<footer class="subnav subnav-fixed" style="bottom:0;top:auto;margin-bottom: 0px;">
  &nbsp;
</footer>

<script type="text/javascript">
  $('#job_fail_reason').chosen({allow_single_deselect:true})

  $(function () {
      $('.checkall').on('click', function () {
          $(this).closest('fieldset').find(':checkbox').prop('checked', this.checked);
          toggleButton($("[id^=chk-]")[0]);
      });
  });

$("#tagSelected").click(function(){
  var allVals = [];
  ($(document)).find("input:checkbox:checked").each(function() {
       allVals.push($(this).val());
     });
  $.post("<%= url_for(:action => :tagging_fail_reason) %>",{'fail_reason':$("#job_fail_reason").val(),'ids[]':allVals});
});


$("[id^=chk-]").change(function(){
toggleButton(this);
});

$("#job_fail_reason").change(function(){
toggleButton($("[id^=chk-]")[0]);
});

function toggleButton(el) {
    if($(el).closest('fieldset').find("input:checkbox:checked").length >= 1 && $("#job_fail_reason").val() != ''){
    $("#tagSelected").removeAttr("disabled");
  }else{
    $("#tagSelected").attr("disabled", "disabled");
  }
}
</script>