<% @heading = 'New Shipping Job' %>
<%= render 'form' %>
|
<%= link_to :back do %>
<i class="icon-arrow-left" title="back">&nbsp;</i>
<% end %>
|
<%= link_to packing_jobs_path do %>
  <i class="icon-arrow-up" title="overview">&nbsp;</i>
<% end %>
|
