<div class="modal hide fade extra-large" id="action-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4><%= @shipping_job.working_dir  %></h4>
  </div>
</div>

<div class="row">
  <div class="span12">
    <div class="row">

      <div class="span2">Status &nbsp;<span class="label label-info"><%= @shipping_job.status_str %></span></div>
      <% if @shipping_job.original_job  %>
      <div class="span2">Original job&nbsp;<%= link_to @shipping_job.original_job_id, shipping_job_path(@shipping_job.original_job) %></div>
      <% end %>
      <% if @shipping_job.derived_job  %>
      <div class="span2">Derived job&nbsp;<%= link_to @shipping_job.derived_job.id, shipping_job_path(@shipping_job.derived_job) %></div>
      <% end %>
</div>
    </div>
  </div>
<div class="row">
  <div class="span3"><h4>Shipping job <%= @shipping_job.id %></h4></div>
</div>

<% if !@shipping_job.fail_reason.blank? %>
  <div class="row">
    
  <div class="alert alert-error span12" style="padding-right: 0px">
    <button type="button" class="close" data-dismiss="alert" style="right: 5px;top: -5px">&times;</button>
    <strong>Fail reason</strong><br />
    <%= @shipping_job.fail_reason %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="span12 bounded well-small">
    <div class="row">
      <div class="span1"><strong>Pack ID</strong></div>
      <div class="span2"><strong>Filename</strong></div>
      <div class="span2"><strong>Shipping Server</strong></div>
      <div class="span2"><strong>Process ID (PID)</strong></div>
      <div class="span5"><strong>Run command</strong></div>
    </div>
    <div class="row">
      <div class="span1">
        <%= link_to edit_packing_outbound_order_path( @shipping_job.packing.outbound_order_id, { target: '_blank' } ) do %>
          <%= @shipping_job.packing.id %>
        <% end %>&nbsp;
      </div>
      <div class="span2"><%= @shipping_job.packing.filename %>&nbsp;</div>
      <div class="span2"><%= @shipping_job.run_server %>&nbsp;</div>
      <div class="span2"><%= @shipping_job.run_pid %>&nbsp;</div>
      <div class="span5"><%= @shipping_job.run_command %>&nbsp;</div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
      <div class="span2 offset1"><strong>Exit code</strong></div>
      <div class="span2"><strong>Started at</strong></div>
      <div class="span2"><strong>Finished at</strong></div>
      <div class="span5"><strong>Work directory</strong></div>
    </div>
    <div class="row">
      <div class="span2 offset1"><%= @shipping_job.exitcode %>&nbsp;</div>
      <div class="span2"><%= @shipping_job.start_time.localtime.strftime('%d %b %Y %T') if @shipping_job.start_time %>&nbsp;</div>
      <div class="span2"><%= @shipping_job.finish_time.localtime.strftime('%d %b %Y %T') if @shipping_job.finish_time %>&nbsp;</div>
      <div class="span5"><%= @shipping_job.working_dir %>&nbsp;</div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
      <div class="span3 well well-small">
        <div class="row">
          <div class="span2"><strong>Schedule options</strong></div>
        </div>
        <div class="row">
          <div class="span2"><small>Cores&nbsp;scheduled:</small></div>
          <div class="span1"><small><%= @shipping_job.schedule_cores %></small></div>
        </div>
        <div class="row">
          <div class="span2"><small>Memory&nbsp;scheduled:</small></div>
          <div class="span1"><small><%= @shipping_job.schedule_memory %></small></div>
        </div>
        <div class="row">
          <div class="span2"><small>Disk&nbsp;space&nbsp;scheduled:</small></div>
          <div class="span1"><small><%= @shipping_job.schedule_diskspace %></small></div>
        </div>
        <div class="row">
          <div class="span2"><small>Manual&nbsp;scheduled:</small></div>
          <div class="span1"><small><%= bootstrap_boolean(@shipping_job.schedule_manual) %></small></div>
        </div>
        <div class="row">
          <div class="span2"><small>Exclusive&nbsp;scheduled:</small></div>
          <div class="span1"><small><%= bootstrap_boolean(@shipping_job.schedule_exclusive) %></small></div>
        </div>
        <div class="row">
          <div class="span2"><small>Virtual&nbsp;scheduled:</small></div>
          <div class="span1"><small><%= bootstrap_boolean(@shipping_job.schedule_allow_virtual,'Allow virtual scheduling?') %></small></div>
        </div>
      </div>

      <div class="span9 pull-right" style="max-width: 850px">
        <pre class="pre-scrollable" style="height: 163px">
          <%= @shipping_job.stdout_log %>
        </pre>
      </div>
    </div>

    <div class="row">
      <div class="span12"><strong>Script</strong>
        <pre class="pre-scrollable"><%= @shipping_job.job_script ? @shipping_job.job_script.to_script : @shipping_job.run_script %></pre>
      </div>
    </div>

    <br />
    <div class="row">
      <div class="span11">
        <%= link_to 'Cancel Job', cancel_shipping_job_path(@shipping_job,  lock_version: @shipping_job.lock_version), class: 'btn btn-small disabled', id: 'pj_cancel', method: :post %>

        <%= link_to 'Clean working dir', clean_working_dir_shipping_job_path(@shipping_job), class: 'btn btn-small disabled', method: :post, id: 'pj_clean_working_dir' %>

        <%= link_to 'Edit new copy', edit_new_copy_shipping_job_path(@shipping_job), class: 'btn btn-small disabled', method: :post, id: 'pj_edit_new_copy' %>

        <%= link_to 'Regenerate', regenerate_shipping_job_path(@shipping_job), class: 'btn btn-small disabled', method: :post, id: 'pj_regenerate', title: 'Regenerate packing script and job' %>

        <%= link_to 'Reschedule', reschedule_shipping_job_path(@shipping_job, lock_version: @shipping_job.lock_version), class: 'btn btn-small disabled', method: :post, id: 'pj_reschedule' %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <%= link_to :back, class: 'btn', title: 'back' do %>
      <i class="icon-arrow-left"></i>
    <% end %>
    <%= link_to shipping_jobs_path, class: 'btn', title: 'overview' do %>
      <i class="icon-arrow-up"></i>
    <% end %>
    <% if @shipping_job.allow_edit? %>
      <%=  link_to edit_shipping_job_path(@shipping_job), { class: 'btn', title: 'edit' } do %>
        <i class="icon-edit"></i>
      <% end %>
    <% end %>
    <a class="accordion-toggle btn" data-toggle="collapse" data-parent="#accordion3" href="#collapseScheduleLog" id="scheduler-log">
      <i class="icon icon-hdd" title="Scheduler log"></i>
    </a>
    <div id="collapseScheduleLog" class="accordion-body collapse">
      <div class="accordion-inner">
        <strong>Scheduler log</strong>
        <pre class="real-pre"><%= @shipping_job.scheduler_log %></pre>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  <% if @shipping_job.allow_cancel? %>
      $('#pj_cancel').removeClass("disabled");
  <% end %>
  <% if @shipping_job.done? && @shipping_job.allow_cleanup? %>
      $('#pj_move_to_crashed').removeClass("disabled");
      $('#pj_clean_working_dir').removeClass("disabled");
  <% end %>
  <% if @shipping_job.done? && !@shipping_job.end_status? %>
      $('#pj_edit_new_copy').removeClass("disabled");
      $('#pj_reschedule').removeClass("disabled");
      $('#pj_regenerate').removeClass("disabled");
  <% end %>

  $('a.disabled').click(function(e) {
    // Disable links for disabled buttons
    e.preventDefault();
    return false
  });

  $("#collapseScheduleLog").on('shown', function (){
    $('html, body').animate({scrollTop:$(document).height()}, 'slow');
    return false;
  })
</script>
