<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="badge"><%= @user.id %></span> <%= params[:action].humanize %> User <%= @user.full_name %></h3>
      </div>
    <div class="panel-body">
    <div class="row">
      <div class="col-md-4 show-label">First name</div>
      <div class="col-md-4 show-label">Last name</div>
      <div class="col-md-4 show-label">E-mail</div>
    </div>
    <div class="row">
      <div class="col-md-4"><%= @user.first_name %></div>
      <div class="col-md-4"><%= @user.last_name %></div>
      <div class="col-md-4"><%= @user.email %></div>
    </div>
    <div class="row">
      <div class="col-md-4 show-label"><strong>Phone Nr.</strong></div>
      <div class="col-md-4 show-label"><strong>Phone Ext.</strong></div>
      <div class="col-md-4 show-label"><strong>Function</strong></div>
    </div>
    <div class="row">
      <div class="col-md-4"><%= @user.phone %></div>
      <div class="col-md-4">
        <% if !@user.phone_ext.blank? && !current_user.phone_ext.blank? %>
        <button class="btn btn-xs btn-warning" id="makeCall" title="Set up a internal phone call with your phone (<%= current_user.phone_ext %>) and the phone of <%=  @user.full_name %> (<%=  @user.phone_ext %>)."><i class="icon icon-phone">&nbsp;</i><%= @user.phone_ext %></button>
        <% else %>
          <%=  @user.phone_ext %>
        <% end %>
      </div>
      <div class="col-md-4"><%= @user.job_title %></div>
    </div>
    </div>
  </div>
</div>
  </div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Role(s)</h3>
      </div>
      <div class="panel-body">
        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th class="id">ID</th>
              <th>Title</th>
              <th>Project</th>
            </tr>
          </thead>
          <tbody>
            <% RolesUser.includes(:role).where(:user_id => @user.id,:module => "MIS").order("roles.title,roles_users.project_id").each do |role_user| %>
            <tr id="rowRole-<%= role_user.id %>">
              <td><%= link_to role_user.role.id,role_user.role, target: '_blank' %></td>
              <td><%= role_user.role.title %></td>
              <td><%= role_user.project ? role_user.project.name : Project.default.name %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Mail events subscription(s)</h3>
      </div>
      <div class="panel-body">
        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th class="id">ID</th>
              <th>Mail event</th>
            </tr>
          </thead>
          <tbody>
            <% @user.mail_events.order(:name).each do |mail_event| %>
            <tr id="rowMailevent-<%= mail_event.id %>">
              <td class="id"><%= link_to mail_event.id, mail_event, target: '_blank' %></td>
              <td><%= mail_event.name.humanize %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $("#makeCall").click(function(){
    $.get( "<%= user_call_user_path(@user) %>", function( data ) {
      if (data.contains('ERROR:')){
        flash_on_demand("error","Connection failed",data);
      } else {
        flash_on_demand("success","Established connection",data);
      }
    });
  })
</script>