<tr <%=h user.active? ? '' : "class=danger" %>>
  <td>
    <div class="btn-group">
      <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Action <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="action-<%= user.id %>">
        <li>
          <%= link_to(user) do %>
            <i class="glyphicon glyphicon-eye-open"></i>&nbsp;show
          <% end %>
        </li>
        <li>
          <%= link_to(:action => 'edit',:controller => :users,:id => user.id) do %>
          <i class="glyphicon glyphicon-edit"></i>&nbsp;edit
          <% end %>
        </li>
        <% if user.job_title != 'Exit'  %>
          <li>
            <%= link_to({:action => 'exit_user', :id => user.id}, {:confirm => 'Are you sure to disable this user?'}) do %>
            <i class="glyphicon glyphicon-eject"></i>&nbsp;exit user
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </td>
  <td><%= link_to user.id, user %></td>
  <td><%= user.user_name %></td>
  <td><%= user.first_name %></td>
  <td><%= user.last_name %></td>
  <td><%= user.job_title %></td>
  <td><%= user.email %></td>
</tr>