<h1>mail-conditions</h1>
<p><b><%= @user_mail.mail_event.name %></b> for 
<%= User.find(@user_mail.user_id).first_name%>
<%= User.find(@user_mail.user_id).last_name%></p><br />
<table>
  <th>Conditions</th>
<%= form_for @user_mail_conditions, :url => { :action => :save_user_mail_event, :user_mail_id => @user_mail.id } do |f| %>

  <% @mail_conditions.each do |ufv| %>

          <% if @user_conditions %>
              <% @user_conditions.each do |x| %>
                 <% @fv = MailCondition.find(x.mail_conditions_id).field_value %>
                 <% @m = ufv.join if (@fv.to_s == ufv.join)%>
              <% end %>
         <% end%>              
        
        <% if (@m.to_s == ufv.join)%>
               <tr><td><%= ufv.join %></td><td><%= check_box_tag(ufv, ufv,:checked) %></td></tr>
        <% else %>
               <tr><td><%= ufv.join %></td><td><%= check_box_tag(ufv, ufv) %></td></tr>   
       <% end %>
  <% end %>
</table>
<br>
<td><%= f.submit "Update", :class => 'btn btn-primary' %></td>
<% end %>

