<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= params[:action].humanize %> User</h3>
      </div>
      <%= form_for(@user) do |f| %>
        <div class="panel-body">
          <div class="row">
            <div class="form-group col-md-4">
              <%= f.label :first_name %>
              <%= f.text_field :first_name, :class => 'form-control' %>
            </div>
            <div class="form-group col-md-4">
              <%= f.label :last_name %>
              <%= f.text_field :last_name, :class => 'form-control' %>
            </div>
            <div class="form-group col-md-4">
              <%= f.label :email %>
              <%= f.text_field :email, :class => 'form-control' %>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4">
              <%= f.label :phone %>
              <%= f.text_field :phone, :class => 'form-control' %>
            </div>
            <div class="form-group col-md-4">
              <%= f.label :phone_ext %>
              <%= f.text_field :phone_ext, :class => 'form-control' %>
            </div>
            <div class="form-group col-md-4">
              <%= f.label :job_title %>
              <%= f.text_field :job_title, :class => 'form-control' %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <%= f.submit "Update",:class => 'btn btn-default pull-right' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Roles</h3>
      </div>
      <div class="panel-body">
        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th class="id">&nbsp;</th>
              <th class="id">ID</th>
              <th>Title</th>
            </tr>
          </thead>
          <tbody>
            <% @user.roles_by_project(session[:project_id]).each do |role| %>
            <tr id="rowRole-<%= role.id %>">
              <td>
                <button type="button" id="role-<%= role.id %>" class="btn btn-default btn-xs" title="delete role">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </td>
              <td><%= role.id %></td>
              <td><%= role.title %></td>
            </tr>
            <% end %>
            <tr id="newRoleRow"></tr>
            <tr id="rolesSelect"><%= render :partial => 'roles_select' %></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Mail events</h3>
      </div>
      <div class="panel-body">
        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th class="id">&nbsp;</th>
              <th class="id">ID</th>
              <th>Mail event</th>
            </tr>
          </thead>
          <tbody>
            <% @user.mail_events.order(:name).each do |mail_event| %>
            <tr id="rowMailevent-<%= mail_event.id %>">
              <td class="id">
                <button id="deleteMailEvent-<%= mail_event.id %>" class="btn btn-default btn-xs" title="delete mail event">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </td>
              <td class="id"><span id="editMailEvent-<%= mail_event.id %>" title="double click to edit conditions"><%= mail_event.id %></span></td>
              <td><%= mail_event.name %></td>
            </tr>
            <% end %>
            <tr id="newMailRow"></tr>
            <tr id="mailsSelect"><%= render :partial => 'mail_events_select' %></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row footer">
  <div class="col-md-12">
    <%= link_to :back, :class => 'btn btn-default',:title => 'back to previous page' do %>
      <span class="glyphicon glyphicon-arrow-left"></span>
    <% end %>
    <%= link_to users_path , :class => 'btn btn-default',:title => 'back to overview' do %>
      <span class="glyphicon glyphicon-arrow-up"></span>
    <% end %>
    <%= link_to @user , :class => 'btn btn-default',:title => 'show' do %>
      <span class="glyphicon glyphicon-eye-open"></span>
    <% end %>
    <%= next_prev_button("prev") %>
    <%= next_prev_button("next") %>
  </div>
</div>

  <script type="text/javascript">
    $("#roles").select2({placeholder:"Add new role"})
    $("#mail_events").select2({placeholder:"Add new mail event"})

    $('body').on('click',"[id^='role-']",function(){
      var role_id = $(this).attr('id').replace ( /[^\d.]/g, '' );
      $.post('<%= url_for(delete_user_role_user_path(@user)) %>',{rid:role_id},function(data){
        if (data.contains('ERROR:')){
          flash_on_demand('error', 'failed to delete role', data);
        }else{
          $("#rowRole-"+role_id).remove();
          $("#rolesSelect").html(data);
          $("#roles").select2({placeholder:"Add new role"})
          flash_on_demand('success', 'Role removed', 'Role sucessfully removed from user');
        }
      })
    })

  $('body').on('click',"[id^='deleteMailEvent-']",function(){
    var mail_event_id = $(this).attr('id').replace ( /[^\d.]/g, '' );
    $.post('<%= url_for(delete_user_mail_user_path(@user)) %>',{umid:mail_event_id},function(data){
      if (data.contains('ERROR:')){
        flash_on_demand('error', 'failed to delete mail event', data);
      }else{
        $("#rowMailevent-"+mail_event_id).remove();
        $("#mailsSelect").html(data);
        $("#mail_events").select2({placeholder:"Add new mail event"})
        flash_on_demand('success', 'Mail event removed', 'Mail event sucessfully removed from user');
      }
    })
  })

   $('body').on('dblclick',"[id^='editMailEvent-']",function(){
     // Hidden feature to adapt user mail conditions, currently on used by one user along time ago
     var mail_event_id = $(this).attr('id').replace ( /[^\d.]/g, '' );
     window.location.href = "<%= url_for(edit_user_mail_event_user_path(@user)) %>?umid="+mail_event_id
   })

  $('body').on('change',"#mail_events",function(){
    var mail_event_id = $(this).val();
    var mail_event_name = $("#"+$(this).attr('id')+" option:selected").text();
    $.post('<%= url_for(add_user_mail_user_path(@user)) %>',{umid:mail_event_id},function(data){
      if (data.contains('ERROR:')){
        flash_on_demand('error', 'failed to add mail event', data);
      }else{
        htm = '<tr id="rowMailevent-'+mail_event_id+'">'
        htm += '<td>'
        htm += '<button id="deleteMailEvent-'+mail_event_id+'" class="btn btn-default btn-xs" title="delete mail event">'
        htm += '<span class="glyphicon glyphicon-trash"></span>'
        htm += '</button>'
        htm += '</div>'
        htm += '<td><span id="editMailEvent-'+mail_event_id+'" title="double click to edit conditions">'+mail_event_id+'</td>'
        htm += '<td>'+mail_event_name+'</td>'
        htm += '</tr>'
        $("#newMailRow").before(htm);
        $("#mailsSelect").html(data);
        $("#mail_events").select2({placeholder:"Add new mail event"})
        flash_on_demand('success', 'Mail event added', 'Mail event sucessfully added to user');
      }
    })
  })

    $('body').on('change',"#roles",function(){
      var role_id = $(this).val();
      var role_title = $("#"+$(this).attr('id')+" option:selected").text();
      $.post('<%= url_for(add_user_role_user_path(@user)) %>',{rid:$(this).val()},function(data){
        if (data.contains('ERROR:')){
          flash_on_demand('error', 'failed to add role', data);
        }else{
          var htm = '';
          htm += '<tr id="rowRole-'+role_id+'">';
          htm += '<td>';
          htm += '<button type="button" id="role-'+role_id+'" class="btn btn-xs" title="delete role">';
          htm += '<span class="glyphicon glyphicon-trash"></span>';
          htm += '</button>';
          htm += '</td>';
          htm += '<td>'+role_id+'</td>';
          htm += '<td>'+role_title+'</td>';
          htm += '</tr>';
          $("#newRoleRow").before(htm);
          $("#rolesSelect").html(data);
          $("#roles").select2({placeholder:"Add new role"})
          flash_on_demand('success', 'Role added', 'Role sucessfully added to user');
        }
      })
    })

  </script>