<nav class="navbar navbar-fixed-top content nav-subhead fix sticky no-show navbar-default hidden-sm hidden-xs" id="nav_secondary">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><%= params[:controller].humanize %></a>
    </div>

    <%= form_tag users_path, method: 'get', role: 'search', class:'navbar-form navbar-left' do %>
          <%= check_box_tag :inactive, @search_opts[:inactive],@search_opts[:inactive] != "0",{:data => {"off-text" => "Excluded","on-text" => "Including","label-text" => "Inactive"} }%>
          <script type="text/javascript">
            $("#inactive").bootstrapSwitch({"data-off-text":"active"});
          </script>
        <div class="input-group">
          <span class="input-group-btn">
            <%= link_to "New",{:action => :new}, {:class => 'btn btn-primary'} %>
          </span>
          <%= text_field_tag :search, params[:search], :placeholder=>"Search", :class => "form-control" %>
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default">Search</button>
            <button type="submit" class="btn btn-default" name="reset">Reset</button>
          </span>
        </div>
        <div class="form-group">
          <% if current_user.has_role("admin") %>
            <%= link_to({:action => 'generate_users_ldap'},{:confirm => 'Are you sure to import new users?',:class => 'btn btn-danger',:title => "Import new users from the LDAP"}) do %>
              <span class="glyphicon glyphicon-download-alt"></span>&nbsp;LDAP import
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
</nav>

<div id="index" class="table-responsive">
  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th class="id"><%= column_sort("id","ID",true) %></th>
        <th><%= column_sort("user_name","User name",true) %></th>
        <th><%= column_sort("first_name","First name",true) %></th>
        <th><%= column_sort("last_name","Last name",true) %></th>
        <th><%= column_sort("job_title","Function",true) %></th>
        <th><%= column_sort("email","E-mail",true) %></th>
      </tr>
    </thead>
    <tbody id="endless">
      <%= render(:partial => "user", :collection => @users) %>
    </tbody>
  </table>
</div>

<%= will_paginate(@users) %>
<%= pageless(@users.total_pages, users_path, "#endless") %>