<table>
<tr>
   <td>User</td>
   <td><%=@user.first_name + " "+@user.last_name%></td>
<%= form_for :roles_user, :url => { :action => :save_new_role, :user_id => params[:id] } do |f|%>
  <h3>Role information</h3>
  <tr>
	<td>Role</td>
        <td><%= select :roles_user, :role_id, Role.all.collect {|c| [c.title, c.id]}, { :include_blank => false }%></td>
  <tr>
    <td>Module</td>
    <td><%= f.text_field :module %></td>
  </tr>
  </tr>
  <tr>
    <td><%= f.submit "Update", :class => "submit" %></td>
  </tr>
<% end %>
</table>
