<div class="row">
  <div class="span4 bounded bounded-headered">
    <div class="row bounded-header">
      <div class="span3">
        <h4>Event information</h4>
        <strong>User</strong>&nbsp;<%= @user.full_name %>
      </div>
    </div>
    <div class="row">
      <div class="span1"><strong>Mail event</strong></div>
    </div>
    <%= form_for :user_mail, :url => { :action => :save_new_event, :user_id => params[:id] } do |f|%>
      <div class="row">
        <div class="span4">
          <%= select :user_mail, :mail_event_id, MailEvent.order(:name).all.collect {|c| [c.name, c.id]},{}, { :include_blank => false,:class=>"span3"} %>
          <%= f.submit "Update", :class => "submit btn pull-right" %>
        </div>
      </div>
    <% end %>
  </div>

</div>
<script type="text/javascript">
  $("#user_mail_mail_event_id").select2()
</script>