<%= render :partial => "show_data" %>

<div class="row footer">
  <div class="col-md-12">
    <%= link_to edit_user_path(@user), :class => "btn btn-default",:title => "edit" do %>
      <span class="glyphicon glyphicon-edit"></span>
    <% end %>
    <%= link_to(:back,:class=>'btn btn-default',:title=>'back') do %>
      <span class="glyphicon glyphicon-arrow-left"></span>
    <% end %>
    <%= link_to(users_path,:class=>'btn btn-default',:title=>'overview') do %>
      <span class="glyphicon glyphicon-arrow-up"></span>
    <% end %>
    <%= next_prev_button("prev") %>
    <%= next_prev_button("next") %>
  </div>
</div>
