
<div id="coverage_partial">
  <div class="row">
    <div class="span12">
      <div class="row">
        <div class="span3 bounded" style="min-height: 400px" id="regions">
          <div class="row">
            <div class="span3">
              <%= select_tag "region_selector",options_for_select(Region.product_coverage_select_tag),:include_blank => true,:class => 'span2_5',:data => {:placeholder => 'Select an Area for coverage'} %>
            </div>
          </div><br />
          <div id="region-list">
            <%= render :partial => 'region_list', :object => @product %>
          </div>
        </div>
        <div class="span8 bounded pull-right">
          <div id="world-map" style="width: 770px; height: 400px"></div>
        </div>
      </div>
    </div>
  </div> 
</div>

<script type="text/javascript">
  $('#region_selector').chosen();
  $('#region_selector').change(function(){
    jQuery.get('<%=h url_for(:controller => "products",:action => "update_coverage_view_by_select", :tmp_coverage_id => @tmp_coverage.id,:product_id => @product.id) %>' + '&region_id=' + $('#region_selector').val())
  });
  
  selected = [<%= raw(@region_coverage.collect {|a|"\"#{a.country_iso_code}\"" if a.country_iso_code != ''}.join(',').as_json) %>]
  var i = 0
  var paths = []
  $.each(jvm.WorldMap.maps['world_mill_en'].paths, function(key, obj){   
    paths[i] = key
    i=i+1
  });  
  
  for(s in selected){
    if(paths.indexOf(selected[s]) == '-1'){
      delete selected[s]
    }
    switch(selected[s])
    {
      case 'AG':      
        delete selected[s]
        break;
      case 'AQ':   
        delete selected[s]
        break;
      case 'AD':
        delete selected[s]
        break;  
      default:
    }
  }
   
  selected = selected.filter(function(){return true});
  window.localStorage.setItem('jvectormap-selected-regions',JSON.stringify(selected));
  $(function(){
    var  map = new jvm.WorldMap({
      container: $('#world-map'),
      regionsSelectable: true,
      backgroundColor: "#999999",
      regionStyle: {selected: {
          fill: '#3A87AD'
        }},
      onRegionClick: function(event, code){
        $('#product_detailedcoverage').val($('#product_detailedcoverage').val() + "\n" + map.getRegionName(code));
        jQuery.get('<%=h url_for(:controller => "products",:action => "update_coverage_view_by_map", :tmp_coverage_id => @tmp_coverage.id) %>' + '&region_code=' + code)  
      },
      onRegionSelected: function(event, code){
        if (window.localStorage) {
          window.localStorage.setItem(
          'jvectormap-selected-regions',
          JSON.stringify(map.getSelectedRegions())
        );
        }
      }
    });
    map.setSelectedRegions( JSON.parse( window.localStorage.getItem('jvectormap-selected-regions') || '[]' ) );
  });

</script>
