<div class="row hidden" id="customer_content_update">
  <div class="span3">
    <strong><i class="icon-repeat"></i>&nbsp;<a href="#" id="update_customer_content">Update customer content</a></strong>
  </div>
</div>

<div id="customer_content_partial">
  <div class="row">
    <div class="well well-small span12">
      <div class="row">
        <div class="span12">
          <h4>Customer specific content</h4>
        </div>
      </div>
      <div class="row">
        <div class="span2 offset1"><strong>Specification</strong></div>
        <div class="span4"><strong>Value</strong></div>
        <div class="span2"><strong>Output target</strong></div>
        <div class="span2"><strong>Label</strong></div>
      </div>
      <% @product.customer_contents.each do |customer_content| %>
        <% if customer_content.customer_targets.empty? %>
          <div class="row">
            <div class="span1">
              <% if customer_content.allow_editing? %>
                <div class="btn-group">
                  <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
                    Edit
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                      <li> 
                        <%= link_to({controller: :customer_contents, action: :edit, id: customer_content.id, product_id: @product.id}) do %>
                          <i class="icon-edit"></i>&nbsp;edit value
                        <% end %>
                      </li>
                  </ul>
                </div>
              <% else %>
                &nbsp;
              <% end %>
            </div>
            <div class="span2"><%= customer_content.customer_content_specification.name %>&nbsp;</div>
            <div class="span4"><%= customer_content.value.to_s.length <= 80 ? customer_content.value : customer_content.value[0, 80] + "..." %>&nbsp;</div>
          </div>
        <% else %>
          <% customer_content.customer_targets.each do |customer_target| %>
            <div class="row">
              <div class="span1">
                <div class="btn-group">
                  <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
                    Edit
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <% if customer_content.allow_editing? %>
                      <li> 
                        <%= link_to({controller: :customer_contents, action: :edit, id: customer_content.id, product_id: @product.id}) do %>
                          <i class="icon-edit"></i>&nbsp;edit value
                        <% end %>
                      </li>
                    <% end %>
                    <li> 
                      <%= link_to({controller: :customer_targets, action: :edit, id: customer_target.id, product_id: @product.id}) do %>
                        <i class="icon-edit"></i>&nbsp;edit label
                      <% end %>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="span2"><%= customer_content.customer_content_specification.name %>&nbsp;</div>
              <div class="span4">
                <% if customer_content.customer_content_specification.for_product %>
                  <%= customer_content.value.to_s.length <= 80 ? customer_content.value : customer_content.value[0, 80] + "..." %>&nbsp;
                <% else %>
                  <%= bootstrap_boolean(false, title='yes or no') %>
                <% end %>
              </div>
              <div class="span2"><%= customer_target.customer_content_definition.output_string %>&nbsp;</div>
              <div class="span2"><%= customer_target.label %>&nbsp;</div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>