<%= stylesheet_link_tag 'jquery-jvectormap-1.2.2' %>
<%= javascript_include_tag 'jquery-jvectormap-1.2.2.min' %>
<%= javascript_include_tag 'jquery-jvectormap-world-mill-en' %>


<div class="row">
  <div class="span2">
    <h4><%= controller.action_name.humanize %> Product</h4>
  </div>
  <% if controller.action_name != 'new' %>
  <div class="span1 offset9"><br />
    <span class="label label-info pull-right">version&nbsp;<%= @product.version %></span>&nbsp;
  </div>
  <% end %>
</div>

<div class="row">
  <div class="span12">
    <ul class="nav nav-tabs">
      <li><a href="#product" data-toggle="tab" id="product-tab">Product</a></li>
      <li><a href="#coverage" data-toggle="tab" id="coverage-tab">Coverage</a></li>
      <li><a href="#data" data-toggle="tab" id="data-tab">Data</a></li>
      <li><a href="#tmc" data-toggle="tab" id="tmc-tab">TMC</a></li>
      <li><a href="#additional" data-toggle="tab" id="additional-tab">Additional</a></li>
    </ul>
  </div>
</div>

<%= hidden_field_tag :set_id, params[:set_id] %>
<%= hidden_field_tag :link_id, params[:link_id].to_s %>
<%= hidden_field_tag :set_id, params[:set_id].to_s %>
<%= hidden_field_tag :tmp_coverage_id, @tmp_coverage.id %>
<%= hidden_field_tag :tmp_sec_coverage_id, @tmp_sec_coverage.id %>
<%= hidden_field_tag :start_action, params[:start_action] %>

<div class="tab-content">
  <div class="tab-pane active" id="product">
    <%= render :partial => 'tab_product_form',:object => formfields %>
  </div>
  <div class="tab-pane" id="coverage">
    <%= render :partial => 'tab_coverage_form',:object => formfields %>
  </div>
  <div class="tab-pane" id="data">
    <%= render :partial => 'tab_data_form',:object => formfields %>
  </div>
  <div class="tab-pane" id="tmc">
    <%= render :partial => 'tab_tmc_form',:object => formfields %>
  </div>
  <div class="tab-pane" id="additional">
    <%= render :partial => 'tab_additional_form',:object => formfields %>
  </div>
</div>

<div class="row">
  <hr class="span12" />
</div>
<div class="row">
  <div class="span2">
    <button id ="bw" type="button" class="btn btn-small hidden"><i class="icon icon-backward">&nbsp;</i>Previous</button>
    <button id ="fw" type="button" class="btn btn-small"><i class="icon icon-forward">&nbsp;</i>Next</button>
  </div>
  <div class="span1 offset9">
    <%= formfields.submit "Save", :class => 'btn btn-primary', :id => "frm_submit"  %>
  </div>
</div>
<div class="row">
  <hr class="span12" />
</div>

<script type="text/javascript">

  // fire chosen
  $('#product_product_design').chosen();
  $('#product_product_line_id').chosen();
  $('#product_status').chosen();
  $('#product_created_from').chosen();
  $('#product_predecessor_id').chosen({allow_single_deselect: true});
  $('#product_parent_id').chosen({allow_single_deselect: true});
  $('#product_update_region_mapping_id').chosen({allow_single_deselect: true});
  $('#product_poi_mapping_layout_id').chosen({search_contains: true, no_results_text: "No layout found for ",allow_single_deselect: true});


  $('#product_product_line_id').change(function(){
    $('#import_customer_content').addClass('hidden');
    $('#customer_content_formfields').addClass('hidden');
    $('#customer_content_update').removeClass('hidden');
  });


  $('#show_customer_content').click(function(){
    $('#import_customer_content').toggle(450, function() {
      $(this).toggleClass('hidden');
    });
  })
  
  $('.edit_product').submit(function(){
    if($('select#product_status option:selected').val() == 10){
      if (confirm("The status is still on Draft. Are you sure?")) {
        self.submit();
      } else {
        $('html, body').animate({
          scrollTop: $('#product_status_chzn').offset().top - 70
        }, 1000);
        $('#product_status').focus();
      }
      return false;
    }
  });

  $(".csc-submit").click(function(){
    $('#start_action').val('update_customer_content');
    $('#new_product').submit();
  })

  $('#update_customer_content').click(function(){
    $('#start_action').val('update_customer_content');
    $('#new_product').submit();
    $('.edit_product').submit();
  });

  $('#new_doc').click(function(){
    $('#start_action').val('new_doc');
    $('#new_product').submit();
    $('.edit_product').submit();
  });

  $('#exs_doc').click(function(){
    $('#start_action').val('exs_doc');
    $('#new_product').submit();
    $('.edit_product').submit();
  });

  // Initial first tab
  $('a[href="#product"]').tab('show');
  validateDependedFields()

  // Back from save to perform tie actions
  <% if !params[:start_action].blank? && controller.action_name == 'edit' %>
  switch($('#start_action').val())
  {
    case 'new_doc':
      window.location ='<%=  raw(url_for(:controller => 'documents', :action => 'new', :returncontroller => 'products', :returnaction => 'edit', :returnid => @product.id)) %>'
      break;
    case 'exs_doc':
      window.location ='<%= raw(url_for(:controller => 'documents', :action => 'index', :product_id => @product.id)) %>'
      break;
    case 'new_dataset':
      window.location ='<%= raw(url_for(:action => 'new' , :controller => 'product_data_set_infos', :link_id => params[:id], :set_id => params[:set_id])) %>'
      break;
    default:
      // go to desired tab
      $('a[href="#'+$('#start_action').val()+'"]').tab('show');
      break
  }
  <% end %>

  // Rotate table headers when data coverage is opened
  $('a[href="#data"]').on('shown', function (e) {
    if ($('#data-matrix .vertical').first().width() > 20) {
    //$('.gridtable').rotateTableCellContent();
    $('#data-matrix').rotateTableCellContent();
    }
    // Warn when core coverage is changed
    if (coverageChanged == true){
      coverageChanged = false;
      if(window.confirm("Coverage is changed, would you like to save and update the grid?")){
        jQuery.post('<%=h url_for(:controller => "products",:action => "save_coverage_for_data_sets",:id => @product.id) %>',$("form").serialize())
      } else { coverageChanged = false }

    }
  })
  
  // Rotate table headers when tmc data is opened
  $('a[href="#tmc"]').on('shown', function (e) {
    if ($('#tmc-matrix .vertical').first().width() > 20) {
    $('#tmc-matrix').rotateTableCellContent();
    }
    // Warn when core coverage is changed
    if (coverageChanged == true){
      coverageChanged = false;
      if(window.confirm("Coverage is changed, would you like to save and update the grid?")){
        jQuery.post('<%=h url_for(:controller => "products",:action => "save_coverage_for_data_sets",:id => @product.id) %>',$("form").serialize())
      } else { coverageChanged = false }
           
    }
  })

  //Reset rotation for recalculation
  function resetRotate(){
    $('.vertical').each(function(){
      $( this ).find('div').first().css('width', 'auto');
    })
  }
  
  // Load vector when tab coverage is opened
  $('a[href="#coverage"]').on('shown', function (e) {
    if ($('.jvectormap-container').length != 0) { $('.jvectormap-container').remove() }
    vectorize();
  })

  // warning when platform is changing and customer contents is tied
  <% if !@product.customer_contents.empty? %>
  $('#product_product_line_id_chzn').click(function() {
    if (confirm('The customer contents can be lost if you change the platform. Are you sure?')) {
            return false
        } else {
           $('#product_product_line_id').trigger('click');
           return false
        }
  });
  <% end %>

  // forward & backward buttons
  var activeTab = $('a[data-toggle="tab"]')[0];
  $('a[data-toggle="tab"]').on('shown', function (e) {
    activeTab = e.target;
    if (activeTab == $('a[data-toggle="tab"]')[0]){
      $("#bw").addClass("hidden");
    } else {$("#bw").removeClass("hidden");}
    if (activeTab == $('a[data-toggle="tab"]')[4]){
      $("#fw").addClass("hidden");
    } else {$("#fw").removeClass("hidden");}
  })

  $("#bw").click(function(){
    shift("bw")
  })
  $("#fw").click(function(){
    shift("fw")
  })

  function shift(direction){
    var tabs = $('a[data-toggle="tab"]');
    if (direction == "fw"){
      var idx = jQuery.inArray( activeTab, tabs) + 1;
      if (idx == '-1'){
        $("#fw").addClass("hidden")
      }
    }else{
      var idx = jQuery.inArray( activeTab, tabs) - 1;
      if (idx == '-1'){
        $("#bw").addClass("hidden")
      }
    }
    var link = tabs[idx];
    var anker = String(link).split('#')[1]
    if ($('a[href="#'+String(anker)+'"]').attr("class") != "disabled"){
    $('a[href="#'+String(anker)+'"]').tab('show');
  }
  }

  // Validate presence minimal required fields
  $("#product_volumeid").change(function(){validateDependedFields()});
  $("#product_name").change(function(){validateDependedFields()});

  function validateDependedFields(){
    var OpenTab = "all"
    if (($("#product_volumeid").val() == '') || ($("#product_name").val() == '')){
      OpenTab = "none"
    }
    if(OpenTab == "none") {
      $("#coverage-tab").addClass("disabled").css("color","gray").css("text-decoration","line-through").attr("title","Please fill mandatory product fields first");
      $("#data-tab").addClass("disabled").css("color","gray").css("text-decoration","line-through").attr("title","Please fill mandatory product fields first");
      $("#tmc-tab").addClass("disabled").css("color","gray").css("text-decoration","line-through").attr("title","Please fill mandatory product fields first");
      $("#additional-tab").addClass("disabled").css("color","gray").css("text-decoration","line-through").attr("title","Please fill mandatory product fields first");
      $("#frm_submit").addClass("hidden");

    }else{
      $("#coverage-tab").removeClass("disabled").css("color","#0088CC").css("text-decoration","none").attr("title","Product attributes").unbind('click');
      $("#data-tab").removeClass("disabled").css("color","#0088CC").css("text-decoration","none").attr("title","Data Coverage Matrix").unbind('click');
      $("#tmc-tab").removeClass("disabled").css("color","#0088CC").css("text-decoration","none").attr("title","TMC Matrix").unbind('click');
      $("#additional-tab").removeClass("disabled").css("color","#0088CC").css("text-decoration","none").attr("title","Additional content").unbind('click');
      $("#frm_submit").removeClass("hidden");
    }
    disableTabs();
  }

  // Disable links for disabled tabs
  function disableTabs(){
  $('a.disabled').click(function(e) {
    e.preventDefault();
    return false
  });
  }

  <%  if params[:action] == 'new' %>
  $('a[data-toggle="tab"]').on('show',function(e){
    if (($("#product_volumeid").val() != '') && ($("#product_name").val() != '')){
      $('#start_action').val( e.target.hash.substring(1) );
      $.post($('#new_product').attr('action'),$('#new_product').serialize())
      .done(function(data){
        // Save and go to edit
        if (data.length < 100){
          window.location.href = data
        }else{
          // no url received, go to 1st tab
          $('a[href="#product"]').tab('show');
          validateDependedFields();
        }

      });

    }});
  <% end %>

  // Detect changes in form
  var somethingChanged = false;
  var coverageChanged = false;
  $('input').change(function() {
    somethingChanged = true;
  });

</script>

