<% if params[:link_id] %>
<% @record.link_product_id = params[:plink_id].to_s  %> 
<dl>
<dt><label>Part of :</label></dt>
<dd><%= select :record, :link_product_id, [""] + Productset.find(params[:link_id]).major_includedproducts.collect {|c| [c.product.volumeid + " " + c.product.name.to_s, c.id.to_s] },{},{:onchange =>"showIcon('img_record[#{column.name}]');"}  %><span id=<%= "img_record[#{column.name}]" %> style="display:none"><img alt="Field was changed" src="/webmis/images/exclamation.gif" /></span></dd>
</dl>

<%= hidden_field :record, :inc_product_id, :value => params[:iid].to_s %>
<% end %>
