<div class="row" style="margin-top: 12px;">
  <a name="top"/>
  <div class="span12">
    <a id="a-details" href="#" class="btn">Product details</a>
    <a id="a-coverage" href="#" class="btn">Data & Coverage</a>
    <a id="a-poi-mapping" href="#" class="btn">POI Mapping Layout</a>
    <a id="a-customer-content" href="#" class="btn">Customer specific content</a>
    <a id="a-productset" href="#" class="btn">Related Documents</a>
    <a id="a-documents" href="#" class="btn">Related Product sets</a>
    <a id="a-version" href="#" class="btn">Version history</a>
  </div>
</div>
<div class="row">
  <div class="span12 bounded bounded-headered">
    <div class="row bounded-header">
      <div class="span10"><h4>Product details <%= record.volumeid %></h4></div>
      <div class="span1 pull-right"><a href="#" name="details" class="btn"><i class="icon icon-arrow-up">&nbsp;</i>top</a></div>
    </div>
    <div class="row">
      <div class="span1"><strong>Product ID</strong></div>
      <div class="span2"><%= record.volumeid %></div>
      <div class="span1"><strong>Name</strong></div>
      <div class="span2"><%= record.name %>&nbsp;</div>
      <div class="span2"><strong>Copyright name</strong></div>
      <div class="span2"><%= record.copyright_name %>&nbsp;</div>
      <div class="span1"><strong>Status</strong></div>
      <div class="span1"><%= record.statusstr %></div>
    </div>
    <div class="row">
      <div class="span1"><strong>Product&nbsp;design</strong></div>
      <div class="span2"><%= record.product_design.name if record.product_design %>&nbsp;</div>
      <div class="span1"><strong>FCS name</strong></div>
      <div class="span2"><%= record.nds_name %>&nbsp;</div>
      <div class="span2"><strong>Product line</strong></div>
      <div class="span2"><%= record.product_line.abbr if record.product_line %>&nbsp;</div>
   </div>
    <div class="row">
      <div class="span12"><hr /><strong>Remarks</strong></div>
    </div>
    <div class="row">
      <div class="span12"><pre class="real-pre"><%= record.remarks %></pre></div>
    </div>
    <div class="row">
      <div class="span11"><strong>Test requirement</strong></div>
    </div>
    <div class="row">
      <div class="span11"><pre class="real-pre"><%= record.test_requirement %></pre></div>
    </div>
    <div class="row">
      <div class="span12"><hr /><strong>Coverage detailed</strong>&nbsp;<i title="" class="icon-info-sign" data-original-title="<b>From Import:</b><br /><%= raw record.detailedcoverage.to_s.gsub("\n","<br/>") %>">&nbsp;</i></div>
      <div class="span12"><strong>Coverage Major roads</strong>&nbsp;<i title="" class="icon-info-sign" data-original-title="<b>From Import:</b><br /><%= raw record.hwncoverage.to_s.gsub("\n","<br/>") %>">&nbsp;</i></div>
    </div>
    <div class="row">
      <div class="span12">&nbsp;<%= record.primary_coverage_regions.collect {|pc|pc.name}.join(', ') if record.primary_coverage_regions %></div>
      <div class="span12">&nbsp;<%= record.secondary_coverage_regions.collect {|pc|pc.name}.join(', ') if record.secondary_coverage_regions %></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12 bounded bounded-headered">
    <div class="row bounded-header">
      <div class="span3"><h4>Data & Coverage</h4></div>
      <div class="span1 pull-right"><a href="#" name="coverage" class="btn"><i class="icon icon-arrow-up">&nbsp;</i>top</a></div>
    </div>
    <div class="row">
      <div class="span12">
        <table class="table table-condensed table-hover gridtable" id="data-matrix">
      <% if record.coverage %>
        <%  record.coverage.regions.each do |region| %>
            <% if record.coverage.regions[0] == region %>
              <thead>
                <tr>
                  <th>&nbsp;</th>
                  <% record.product_data_set_infos.each do |pdsi_row| %>
                      <% region_abbr = Region.active.find_by_name(pdsi_row.area_name).region_code if Region.active.find_by_name(pdsi_row.area_name) %>
                      <% header_str = "#{pdsi_row.data_type.name if pdsi_row.data_type} #{pdsi_row.filling} #{pdsi_row.company_abbr.abbr if pdsi_row.company_abbr} #{pdsi_row.data_release} #{region_abbr}" %>
                    <th class="vertical"><%= header_str %></th>
                    <% end %>
                </tr>
              </thead>
            <% end %>
            <tr>
              <th><%= region.name %> </th>
              <% record.product_data_set_infos.each do |pdsi| %>
              <td>
                <%= bootstrap_boolean(pdsi.has_region?(region.id),region.region_code) %>
              </td>
              <% end %>
            </tr>
        <% end %>
      <% end %>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="span12">
                <table class="table table-condensed">
          <tr class="grayed">
            <th>Main dataset</th>
            <th>Name</th>
            <th>Supplier</th>
            <th>Release</th>
            <th>Coverage</th>
            <th>Datatype</th>
            <th>Filling</th>
            <th>Info</th>
            <th>Remark</th>
          </tr>
          <% if record.product_data_set_infos.size > 0 %>
            <% record.product_data_set_infos.each do |dataset| %>
              <tr>
                <td><%= if dataset.major_dataset == 1 then "YES" else "NO" end %></td>
                <% if dataset.data_set %>
                  <td><%= link_to dataset.name, data_set_path(dataset.data_set),:target => '_blank',:title => "based on version #{dataset.data_set_version}" %></td>
                <% else %>
                  <td><%= dataset.name %></td>
                <% end %>
                <td><%= dataset.company_abbr.ms_abbr_3 if dataset.company_abbr %></td>
                <td><%= dataset.data_release %></td>
                <td><%= dataset.area_name %></td>
                <td><%= dataset.data_type.name  if dataset.data_type %></td>
                <td><%= dataset.filling  if dataset.data_type %></td>
                <td><%= dataset.data_info %></td>
                <td><%= dataset.remarks.to_s.gsub("\n","<br/>") %></td>
              </tr>
            <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12 bounded bounded-headered">
    <div class="row bounded-header">
      <div class="span3"><h4>POI Mapping Layout</h4></div>
      <div class="span1 pull-right"><a href="#" name="poi_mapping" class="btn"><i class="icon icon-arrow-up">&nbsp;</i>top</a></div>
    </div>
    <div class="row">
      <div class="span12">
        <% if record.poi_mapping_layout %>
          <table class="table table-condensed">
            <tr>
              <th>Record ID</th>
              <th>Definition Version</th>
              <th>Source file name</th>
              <th>CSV</th>
              <th>&nbsp;</th>
            </tr>
            <tr>
              <td><%= link_to(record.poi_mapping_layout.id,{:controller => :poi_mapping_layouts,:action =>:show,:id=>record.poi_mapping_layout.id},{:target => '_blank'}) %></td>
              <td><%= record.poi_mapping_layout.definition_version %></td>
              <td><%= record.poi_mapping_layout.source_filename %></td>
              <td><%= link_to({:controller => :poi_mapping_layouts,:action => :export_csv, :id => record.poi_mapping_layout.id},{:style => "border-bottom: none"}) do %>
                  <i class="icon-download-alt" title="Download as CSV-file">&nbsp;</i>
                  <%  end %></td>
              <td></td>
            </tr>
          </table>
        <% end %>
      </div>
    </div> 
  </div>
</div>

<div class="row">
  <div class="span12 bounded bounded-headered">
    <div class="row bounded-header">
      <div class="span3"><h4>Customer specific content</h4></div>
      <div class="span1 pull-right"><a href="#" name="customer_content" class="btn"><i class="icon icon-arrow-up">&nbsp;</i>top</a></div>
    </div>
    <div class="row">
      <div class="span12">
        <table class="table table-condensed">
          <tr>
            <th>Specification</th>
            <th>Value</th>
            <th>Output target</th>
            <th>Label</th>
          </tr>
          <% record.customer_contents.each do |customer_content| %>
            <% if customer_content.customer_targets.empty? %>
              <tr>
                <td><%= customer_content.customer_content_specification.name %></td>
                <td>
                  <% if customer_content.customer_content_specification.for_product %>
                    <%= customer_content.value.to_s.length <= 80 ? customer_content.value : customer_content.value[0, 80] + "..." %>
                  <% else %>
                    <%= bootstrap_boolean(false, title='yes or no') %>
                  <% end %>
                </td>
                <td />
                <td />
              </tr>
            <% else %>
              <% customer_content.customer_targets.each do |customer_target| %>
                <tr>
                  <td><%= customer_content.customer_content_specification.name %></td>
                  <td>
                    <% if customer_content.customer_content_specification.for_product %>
                      <%= customer_content.value.to_s.length <= 80 ? customer_content.value : customer_content.value[0, 80] + "..." %>
                    <% else %>
                      <%= bootstrap_boolean(false, title='yes or no') %>
                    <% end %>
                  </td>
                  <td><%= customer_target.customer_content_definition.output_string %></td>
                  <td><%= customer_target.label %></td>
                </tr>
              <% end %>
            <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12 bounded bounded-headered">
    <div class="row bounded-header">
      <div class="span3"><h4>Related documents</h4></div>
      <div class="span1 pull-right"><a href="#" name="documents" class="btn"><i class="icon icon-arrow-up">&nbsp;</i>top</a></div>
    </div>
    <div class="row">
      <div class="span12">
        <% if record.includeddocuments.size > 0 %>
          <table class="table table-condensed">
            <tr>
              <th>Version</th>
              <th>Documents name</th>
              <th>Documents description</th>
            </tr>
            <% record.includeddocuments.each do |doc| %>
              <tr>
                <td><%=  link_to doc.document.version.to_s, :action => 'show', :controller =>'documents', :id =>  doc.document.id %></td>
                <td>
                  <% if doc.document.document_object_id %>
                    <%=  link_to doc.document.document_object_id.to_s , :controller => 'documents', :action => 'download',:id => doc.document.id, :ver => doc.document.version %>
                  <% else %>
                    <%= link_to doc.document.filename.to_s , :controller => 'documents', :action => 'download',:id => doc.document.id, :ver => doc.document.version %>
                  <% end %>
                </td>
                <td><%=  doc.document.description.to_s  %></td>
              </tr>
            <% end %>
          </table>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12 bounded bounded-headered">
    <div class="row bounded-header">
      <div class="span3"><h4>Related product sets</h4></div>
      <div class="span1 pull-right"><a href="#" name="productsets" class="btn"><i class="icon icon-arrow-up">&nbsp;</i>top</a></div>
    </div>
    <div class="row">
      <div class="span12">
        <% if show_sets %>
          <table class="table table-condensed">
            <tr>
              <th>ID</th>
              <th>Set code</th>
              <th>Name</th>
              <th>Status</th>
            </tr>
            <% record.productsets.each do |set| %>
              <tr>
                <td>
                <% if set.status == 0 || set.status == 100 || set.removed_yn == true %>
                  <del><%= link_to set.setcode, {:controller => 'productsets', :action => 'show', :id => set.id.to_s},{:title=>Productset.statushash[set.status.to_i]} %></del>
                <% else %>
                  <%= link_to set.setcode, {:controller => 'productsets', :action => 'show', :id => set.id.to_s},{:title=>Productset.statushash[set.status.to_i]} %>
                <% end %>
                </td>
                <td><%= set.name %></td>
                <td><%= set.name %></td>
                <td><%=  Productset.statushash[set.status.to_i] %></td>
              </tr>
            <% end %>
          </table>
        <% end  %>
      </div>
    </div>
  </div>
</div>


<% if (record.thirdpartydata1 && record.thirdpartydata1.size > 0) || (record.thirdpartydata2 && record.thirdpartydata2.size > 0) %>
  <div class="row">
    <div class="span12 bounded well-small">
      <div class="row">
        <div class="span6"><strong>Third Party Data I</strong></div>
        <div class="span5"><strong>Third Party Data 2</strong></div>
      </div>
      <div class="row">
        <div class="span6"><%= raw record.thirdpartydata1.to_s.gsub("\n","<br/>") %></div>
        <div class="span5"><%= raw record.thirdpartydata2.to_s.gsub("\n","<br/>") %></div>
      </div>    
    </div>
  </div>
<% end %>
<% if (record.tmclocation && record.tmclocation.size > 0) || (record.tmcevent && record.tmcevent.size > 0) %>
  <div class="row">
    <div class="span12 bounded well-small">
      <div class="row">
        <div class="span6"><strong>TmcLocation</strong></div>
        <div class="span5"><strong>TmcEvent</strong></div>
      </div>
      <div class="row">
        <div class="span6"><%= raw record.tmclocation.to_s.gsub("\n","<br/>") %>&nbsp;</div>
        <div class="span5"><%= raw record.tmcevent.to_s.gsub("\n","<br/>") %>&nbsp;</div>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="span12 bounded well-small">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#vh-<%= record.id.to_s %>" name="version" href="#vh-<%= record.id.to_s %>">Version history</a>
    <div id="vh-<%= record.id.to_s %>" class="accordion-body collapse collapse">
      <div class="accordion-inner">
        <p>Current WebMIS version:&nbsp;<%=record.version.to_s %></p>
        <% ProductVersion.diff :exclude =>['last_change','lock_version', 'version','dateeffective','updated_at','created_at'] %>
        <% vhistory  = ProductVersion.order("version DESC").where("product_id = #{record.id}") %>
        <div class="row">
          <div class="span2"><strong>Changed at</strong></div>
          <div class="span4"><strong>Change</strong></div>
        </div>
        <% vhistory.each do |product| %>
          <div class="row">
            <div class="span2"><%= product.updated_at.strftime('%d-%m-%y %H:%M:%S') if product.updated_at %>&nbsp;</div>
            <div class="span4"><%= product.last_change %>&nbsp;</div>
            <div class="span2"><%= product.version %>&nbsp;</div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  (function ($) {
    $.fn.rotateTableCellContent = function (options) {
      var cssClass = ((options) ? options.className : false) || "vertical";

      var cellsToRotate = $('.' + cssClass, this);

      var betterCells = [];
      cellsToRotate.each(function () {
        var cell = $(this)
        , newText = cell.text()
        , height = cell.height()
        , width = cell.width()
        , newDiv = $('<div>', { height: width, width: "20" })
        , newInnerDiv = $('<div>', { text: newText, 'class': 'rotated' });

        newInnerDiv.css('-webkit-transform-origin', (width / 2 ) + 'px ' + (width / 2 + 2) + 'px');
        newInnerDiv.css('-moz-transform-origin', (width / 2 -2) + 'px ' + (width / 2 + 2) + 'px');
        newDiv.append(newInnerDiv);
        betterCells.push(newDiv);
      });

      cellsToRotate.each(function (i) {
        $(this).html(betterCells[i]);
      });
    };
  })(jQuery);

  $('#data-matrix').rotateTableCellContent();

  $("#a-productset").click(function() {
   scrollToAnchor('productsets');
  });

  $("#a-documents").click(function() {
   scrollToAnchor('documents');
  });

  $("#a-customer-content").click(function() {
   scrollToAnchor('customer_content');
  });

  $("#a-poi-mapping").click(function(){
    scrollToAnchor('poi_mapping');
  });

  $("#a-coverage").click(function(){
    scrollToAnchor('coverage');
  });

  $("#a-details").click(function(){
    scrollToAnchor('details');
  });

  $("#a-version").click(function(){
    scrollToAnchor('version');
    $(".collapse").collapse({toggle:true})
  });

  $("#icon-arrow-up").click(function(){
    scrollToAnchor('top');
  });
</script>