  <div class="row" id="row_show_<%= product.id %>">
    <div class="span1">
    <% if params[:link_id] %>
      <%= link_to(:action => :select , :id => product.id, :link_id => params[:link_id], :class => 'btn btn-info btn-small') do %>
        <span class="label label-info"><i class="icon-plus-sign"></i>&nbsp;select</span>
      <% end %>
    <% else %>  
      <div class="btn-group">
        <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
        Action
        <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to(:action => 'show',:controller => :products,:id => product.id) do %>
            <i class="icon-info-sign"></i>&nbsp;show
            <% end %>
          </li>
          <% if env_production? %>
          <li>
            <%= link_to(:action => 'edit',:controller => :products,:id => product.id) do %>
              <i class="icon-edit"></i>&nbsp;edit
            <% end %>
          </li>
          
          <li>
            <%= link_to({:action => 'clone',:controller => :products,:id => product.id},{:method => "post"}) do %>
              <i class="icon-edit"></i>&nbsp;clone
            <% end %>
          </li>
        
          <li>
            <%= link_to({:action => :disable , :id => product.id},  {:confirm => "Are you sure?"}) do %>
             <i class="icon-remove-sign" style="color:red"></i>&nbsp;delete
            <% end %>
          </li>
          <% end %>
          <li>
            <%= link_to({:controller => 'production_orders', :action => :new_from_product , :product_id => product.id},{:id => "create_po_#{product.id}"}) do %>
            <span id="<%= "label_create_po_#{product.id}" %>"><i class="icon-edit"></i>&nbsp;create production order</span>
            <% end %>
          </li>
          <li>
            <%= link_to({:controller => 'production_orders', :action => :check_from_product , :product_id => product.id},{:id => "check_po_#{product.id}"}) do %>
              <span id="<%= "label_check_po_#{product.id}" %>"><i class="icon-edit"></i>&nbsp;check production order</span>
            <% end %>
          </li>
      </div>
    <% end %>  
    </div>
    <div class="span2"><%= product.product_line.abbr if product.product_line%>&nbsp;</div>
    <div class="span2"><%= product.volumeid %>&nbsp;</div>
    <div class="span3"><%= product.name %>&nbsp;</div>
    <div class="span3">
      <% psetstring = "" %>
      <%  product.productsets.each do |set| %>
        <%  psetstring = psetstring + link_to(set.setcode.to_s + " [" + set.product_category.abbreviation.to_s + "]",{:action => 'show', :controller => 'productsets', :id => set.id , :back_id => product.id})  + "<br/>" if set.product_category %>
        <% psetstring.split('<br/>').each do |ps| %>
          <%= raw ps %><br />
        <% end %>
      <% end %>
      &nbsp;
    </div>
  </div>

  <% if !product.product_design %>
    <script type="text/javascript">
      $("#<%= "create_po_#{product.id}" %>").addClass("disabled").attr("title","No product design available");
      $("#<%= "label_create_po_#{product.id}" %>").wrap("<strike>");;
      $("#<%= "check_po_#{product.id}" %>" ).addClass("disabled").attr("title","No product design available");
      $("#<%= "label_check_po_#{product.id}" %>" ).wrap("<strike>");
       $('a.disabled').click(function(e) {
          // Disable links for disabled buttons
          e.preventDefault();
          return false
        });
    </script>
  <% end %>