<% @region_coverage.each do |region| %>
  <div class="row">
    <div class="span2"><span class="span2 label" id="<%= region.id %>"><i class="icon-trash btn btn-link" id="<%= region.id %>" title="remove area from coverage">&nbsp;</i><%= region.name %>&nbsp;(<%= region.region_code %>)</span></div>
  </div>
<% end %>

<script type="text/javascript">
    $('.icon-trash').click(function(){
     jQuery.post('<%=h url_for(:controller => "products",:action => "update_coverage_view_by_delete",:id=>@product.id) %>',$("form").serialize()+'&region_id=' + this.id)
     somethingChanged = true;
     coverageChanged = true;
  });
</script>