<% @sec_region_coverage.each do |region| %>
  <div class="row">
    <div class="span2"><span class="span2 label label-inverse" id="<%= region.id %>"><i class="icon-trash btn btn-link sec" id="<%= region.id %>" title="remove area from coverage">&nbsp;</i><%= region.name %>&nbsp;(<%= region.country_iso3_code %>)</span></div>
  </div>
<% end %>

<script type="text/javascript">
    $('.sec').click(function(){
    jQuery.get('<%=h url_for(:controller => "products",:action => "update_sec_coverage_view_by_delete", :tmp_sec_coverage_id => @tmp_sec_coverage.id) %>' + '&region_id=' + this.id)
  });
</script>