<div class="row">
  <div class="span12">
    <table class="table table-bordered table-condensed table-hover gridtable" id="data-matrix">
      <%  @region_coverage.each do |region| %>
          <% if @region_coverage[0] == region  %>
            <thead>
              <tr>
                <th>&nbsp;</th>
                <% @product.product_data_set_infos.eager_load(:data_type,:company_abbr, [:coverage => :coverages_regions]).each do |pdsi_row| %>
                    <% if pdsi_row.data_type &&  pdsi_row.data_type.name != 'TMC'%>
                    <% region_abbr = "UNKNOWN" %>
                    <% r = Region.active.find_by_name(pdsi_row.area_name) %>
                    <% region_abbr = r.region_code if r  %>
                    <% header_str = "#{pdsi_row.data_type.name} #{pdsi_row.filling} #{pdsi_row.company_abbr.ms_abbr_3} #{pdsi_row.data_release} #{region_abbr}" %>
                  <th class="vertical"><%= header_str %></th>
                  <% end %>
                <% end %>
              </tr>
            </thead>
            <tr class="grayed">
              <td><small><i>Check all</i></small></td>
            <% @product.product_data_set_infos.eager_load(:data_set,:data_type,:company_abbr, [:coverage => :coverages_regions]).each do |pdsi_row| %>
              <% if pdsi_row.data_type &&  pdsi_row.data_type.name != 'TMC'%>
              <td><input type="checkbox" id="pdsi_chk_all-<%= pdsi_row.id %>" title="Toggle check all"/></td>
              <% end %>
          <% end %>
              </tr>
          <% end %>
            
          <tr>
            <th><%= region.name %> </th>
            <% @product.product_data_set_infos.eager_load(:data_set,:data_type,:company_abbr, [:coverage => :coverages_regions]).each do |pdsi| %>
            <% if pdsi.data_type &&  pdsi.data_type.name != 'TMC'%>
            <td>
              <% if pdsi.data_set %>
                <% if pdsi.data_set.has_region?(region.id,pdsi.data_set_version) %>
                  <%= check_box_tag "pdsi[#{pdsi.id}-#{region.id}]","#{region.id}", pdsi.has_region?(region.id) %>
                <% else %>
                  n/a
                <% end %>
              <% else %>
                <%= check_box_tag "pdsi[#{pdsi.id}-#{region.id}]","#{region.id}", pdsi.has_region?(region.id) %>
              <% end %>
            </td>
            <% end %>
            <% end %>
          </tr>
      <% end %>
    </table>
  </div>

</div>


<script type="text/javascript">
  (function ($) {
    $.fn.rotateTableCellContent = function (options) {
      var cssClass = ((options) ? options.className : false) || "vertical";

      var cellsToRotate = $('.' + cssClass, this);

      var betterCells = [];
      cellsToRotate.each(function () {
        var cell = $(this)
        , newText = cell.text()
        , height = cell.height()
        , width = cell.width()
        , newDiv = $('<div>', { height: width, width: "20" })
        , newInnerDiv = $('<div>', { text: newText, 'class': 'rotated' });

        newInnerDiv.css('-webkit-transform-origin', (width / 2 ) + 'px ' + (width / 2 + 2) + 'px');
        newInnerDiv.css('-moz-transform-origin', (width / 2 -2) + 'px ' + (width / 2 + 2) + 'px');
        newDiv.append(newInnerDiv);

        betterCells.push(newDiv);
      });

      cellsToRotate.each(function (i) {
        $(this).html(betterCells[i]);
      });
    };
  })(jQuery);

  $("[id^=pdsi_chk_all-]").click(function(){
    var checkedStatus = this.checked;
    var pdsiID = "[id^=pdsi_" + this.id.split('-')[1] + '-]'
    $(pdsiID).each(function () {

      $(this).prop('checked', checkedStatus);
    });
  })
</script>
