
<div id="coverage_partial">
  <div class="row">

    <div class="span12">
      <div class="row">
        <div class="span3 bounded" style="min-height: 400px" id="regions">
          <button style="margin-bottom:5px" class="btn btn-mini" id="quick_import" type="button" ><i class="icon icon-plus">&nbsp;</i>Quick Import</button>
          <div class="row">
            <div class="span3">             
              <%= select_tag "region_selector",grouped_options_for_select(Region.product_coverage_select_tag),:include_blank => true,:class => 'span2_5',:data => {:placeholder => 'Select an Area for coverage'} %>
            </div>
          </div><br />
          <div id="region-list">
            <%= render :partial => 'region_list', :object => @product %>
          </div>          
        </div>
        <div class="span8 bounded pull-right">
          <div id="world-map" style="width: 770px; height: 400px"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#region_selector').chosen();
  $('#region_selector').change(function(){
    somethingChanged = true;
    coverageChanged = true;
    jQuery.post('<%=h url_for(:controller => "products",:action => "update_coverage_view_by_select",:id => @product.id) %>',$("form").serialize())
    toggleDataset();
  });

  function vectorize(){
    selected = [<%= raw(@region_coverage.collect {|a|"\"#{a.country_iso_code}\"" if a.country_iso_code != ''}.join(',').as_json) %>]
    var i = 0
    var paths = []
    $.each(jvm.WorldMap.maps['world_mill_en'].paths, function(key, obj){
      paths[i] = key
      i=i+1
    });

    for(s in selected){
      if(paths.indexOf(selected[s]) == '-1'){
        delete selected[s]
      }
      switch(selected[s])
      {
        case 'AG':
          delete selected[s]
          break;
        case 'AQ':
          delete selected[s]
          break;
        case 'AD':
          delete selected[s]
          break;
        default:
      }
    }

    selected = selected.filter(function(){return true});
    window.localStorage.setItem('jvectormap-selected-regions',JSON.stringify(selected));
    $(function(){
      var  map = new jvm.WorldMap({
        container: $('#world-map'),
        regionsSelectable: true,
        backgroundColor: "#999999",
        regionStyle: {selected: {
            fill: '#3A87AD'
          }},
        onRegionClick: function(event, code){
          $('#product_detailedcoverage').val($('#product_detailedcoverage').val() + "\n" + map.getRegionName(code));
          jQuery.get('<%=h url_for(:controller => "products",:action => "update_coverage_view_by_map", :tmp_coverage_id => @tmp_coverage.id) %>' + '&region_code=' + code)
          somethingChanged = true;
          coverageChanged = true;
        },
        onRegionSelected: function(event, code){
          if (window.localStorage) {
            window.localStorage.setItem(
            'jvectormap-selected-regions',
            JSON.stringify(map.getSelectedRegions())
          );
          }
        }
      });
      map.setSelectedRegions( JSON.parse( window.localStorage.getItem('jvectormap-selected-regions') || '[]' ) );    });

  }
</script>

<div class="row">
  <div class=" span12">
    <h4>Related data sets</h4>
  </div>
</div>

<div class="row hidden" id="warningMessageRow">
    <div class="span12">
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <div id="warningMessage"><strong>Warning!</strong></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="span12 hidden" id="table-product_data_set_infos">
    <%= render :partial => 'table_product_data_set_infos',:object => [@product,@tmp_coverage,@tmp_sec_coverage] %>
  </div>
</div>

<div class="modal hide fade large" id="modal_quick_import" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Quick Import</h3>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="span8">
        <div id="import_content">
          <%= text_area_tag :import_data ,nil, :rows => 2, :style => "width:100%" %>
          <div id="import_results">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" id="validate_btn" aria-hidden="true">Validate</button>
    <button class="btn" id="import_btn" aria-hidden="true" style="display:none">Import</button>
  </div>
</div>
<script type="text/javascript">
  function toggleDataset(){
    if ($('#region-list').children().children().size() >= 1){
      $("#table-product_data_set_infos").removeClass('hidden');
      $("#warningMessageRow").addClass("hidden");
      $("#data_set_defintion_selector").select2({allowClear:true});
      $("#data_set_defintion_group_selector").select2({allowClear:true});
    }else{
      $("#table-product_data_set_infos").addClass('hidden').html('');
      $("#warningMessage").html('Please create product coverage to relate data sets.');
      $("#warningMessageRow").removeClass("hidden");
    }
  }
  toggleDataset();




  $('#new_dataset').click(function(){
    $('#bar-spinner-message').html("loading new dataset form");
    $('#start_action').val('new_dataset');
    $('#new_product').submit();
    $('.edit_product').submit();
  });
  
  $("#quick_import").click(function(event){
    $("#modal_quick_import").modal('show');
    $("#import_data").attr("disabled",false);
  });

  $('#modal_quick_import').on('shown', function () {
    $('#import_data').focus();
  })

  $("#validate_btn").click(function(event){
    source = $('#import_data').val()
    $.post('<%=h url_for(:controller => :products, :action => :get_regions ) %>', {tmp_coverage_id:<%=  @tmp_coverage.id %>, data: source})
    .always(function( data ) {
      $('[id^=region_selector_modal]').chosen()
      $('#validate_btn').hide()
      $('#import_btn').show()
    });
    
    
    return false
  });

  $("#import_btn").click(function(event){
    var codes = []
    $("[id^=regioncode_]").each(function(index, elem) {
      codes.push($(elem).val());
    });
    region_codes = codes.join(',');
    $.post('<%=h url_for(:controller => :products, :action => :sync_regions, :tmp_coverage_id => @tmp_coverage.id) %>', {region_codes:region_codes});
    $('#validate_btn').show()
    $('#import_btn').hide()
    $("#modal_quick_import").modal('hide');
     somethingChanged = true;
     coverageChanged = true;
    return false
  });

$(document).on('hidden.bs.modal', function () {
    $('#validate_btn').show()
    $('#import_btn').hide()
    $('#import_data').val("")
    $('#import_results').html('')
});
</script>