<div class="row hidden" id="import_customer_content">
  <div class="span12">
    <p>Customer specific content is tied to the chosen platform. So a change in platform will result in a changed set of customer specific content.</p>
    <p>The values of some of the content can be specified here and used as default for the production orderlines. But the values at the production orderlines are the ones which will be used.</p>
  </div>
</div>
<% if controller.action_name == "new"  %>
<div class="row">
  <div class="span12 well well-small">
    <h4>Customer specific content</h4>
    <p>
      Customer specific content is tied to the chosen platform, and can only be tied if this product record is saved.<br />
      If you are sure you filled out all fields, and want to store this record, you can click <a href="#submit" class="csc-submit">here</a> to be able to edit the customer specific content.
    </p>
  </div>
</div>
<% else %>
  <%= render partial: "customer_content_formfields" %>
<% end %>
<div class="row">
  <div class="well well-small span12">
    <h4>Related documents</h4>
    <div class="row">
      <div class="span1 offset1"><strong>ID</strong></div>
      <div class="span1"><strong>Version</strong></div>
      <div class="span3"><strong>Name</strong></div>
      <div class="span4"><strong>Description</strong></div>
    </div>
    <% @product.includeddocuments.each do |doc| %>
      <div class="row">
        <div class="span1">
          <div class="btn-group">
            <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
              Edit
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to({ :controller => 'products', :action => :destroy_link_document, :id => doc.id , :product_id => @product.id, :set_id => params[:set_id]}, {:confirm => "This will remove document #{doc.document.filename} from product #{@product.volumeid}. \nAre you sure?"}) do %>
                  <i class="icon-remove-sign" style="color:red"></i>&nbsp;delete
                <% end %>
              </li>
            </ul>
          </div>
        </div>
        <div class="span1"><%=  doc.document.id.to_s  %></div>
        <div class="span1"><%=  doc.document.version.to_s  %></div>
        <div class="span3"><%=  doc.document.filename.to_s  %></div>
        <div class="span4"><%=  doc.document.description.to_s  %></div>
      </div>
    <% end %>
    <br />
    <a href="#" id="new_doc"><i class="icon-plus"></i>&nbsp;Attach document</a>
    <br />
    <a href="#" id="exs_doc"><i class="icon-repeat"></i>&nbsp;Attach existing document</a>
  </div>
</div>