<div class="row">
  <div class="span4">
    <%= select_tag "data_set_defintion_selector", options_for_select(DataSet.eager_load(:company_abbr, :region, :data_release,:data_type).order(:name).collect {|ds|[ds.label,ds.id]}), {:include_blank => true,:class => 'span4',:data => {:placeholder=>'Import from data set'}} %>
  </div>
  <div class="span4">
    <%= select_tag "data_set_defintion_group_selector", options_for_select(DataSetGroup.active.collect {|ds_g|[ds_g.name,ds_g.id]}.sort), {:include_blank => true,:class => 'span4',:data => {:placeholder=>'Import from data set Group'}} %>
  </div>
  <%#*<div class="span2">%>
    <%#*<button class="btn btn-mini" id="new_pdsi_btn" type="button"><i class="icon icon-plus">&nbsp;</i>Add data set</button>%>
  <%#*</div>%>
</div>

<table class="table table-condensed table-striped table-hover">
  <thead>
    <tr>
      <th>Main</th>
      <th>Name</th>
      <th>Supplier</th>
      <th>Release</th>
      <th>Coverage</th>
      <th>Datatype</th>
      <th>Filling</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
  <form action="#" id="newfrm_pdsi_">
    <tr id="td_newfrm_pdsi" class="info">
      <td><%= check_box_tag "new_pdsi[major_dataset]","true", false %></td>
      <td><%= select_tag("new_pdsi[datatype_id]",options_for_select(DataType.select_tag, ''),{:class => "span1"}) %></td>
      <td><div id="new_pdsi_filling_plc" class="hidden"><%= text_field_tag("new_pdsi[filling]",'',{:class => "span2"}) %></div></td>
      <td><%= text_field_tag("new_pdsi[name]",'',{:class => "span2"}) %></td>
      <td><%= select_tag("new_pdsi[area_name]",options_for_select(Region.active.order(:name).collect{|r|["#{r.name}","#{r.name}"]} << ['',''], ''),{:class => "span2"}) %></td>
      <td><%= select_tag("new_pdsi[company_abbr_id]",options_for_select(CompanyAbbr.all.order('company_name').collect {|c| [ c.name, c.id ] } << ['',''], ''),{:class => "span2"}) %></td>
      <td><%= text_field_tag("new_pdsi[data_release]",'',{:class => "span1_5"}) %></td>
      <td><button type="button" class="btn" id="create_pdsi">Create</button></td>
    </tr>
  </form>
  <% @product.product_data_set_infos.eager_load(:company_abbr, :data_type, :data_set).each do |info| %>
    <form action="#" id="frm_pdsi_<%= info.id %>">
      <tr id="td_pdsi_<%= info.id %>">
        <td><%= bootstrap_boolean(info.major_dataset) %></td>
        <td><%=  info.name  %></td>
        <td><%=  info.company_abbr.company_name if info.company_abbr  %></td>
        <td><%=  info.data_release %></td>
        <td><%=  info.area_name  %></td>
        <td><%=  info.data_type.name  if info.data_type %></td>
        <td><%=  info.filling  if info.data_type %></td>
        <td>
          <button id="edit_pdsi_<%= info.id %>" type="button" title="Edit <%= info.name %>"><i class="icon icon-edit"></i></button>
          <button id="del_pdsi_<%= info.id %>" type="button" title="Delete <%= info.name %>"><i class="icon icon-trash"></i></button>
          <% if info.data_set %>
            <button id="sync_pdsi_<%= info.id %>" type="button" title="Sync with DS <%= info.name %>"><i class="icon icon-refresh"></i></button>
          <% end %>
        </td>
      </tr>
      <tr id="tdfrm_pdsi_<%= info.id %>" class="info">
        <td><%= check_box_tag "#{info.id}[major_dataset]",info.major_dataset, info.major_dataset %></td>
        <td><%= text_field_tag("#{info.id}[name]",info.name,{:class => "span2",:disabled=>'disabled'}) %></td>
        <td><%= select_tag("#{info.id}[company_abbr_id]",options_for_select(CompanyAbbr.all.order('company_name').collect {|c| [ c.name, c.id ] } << ['',''], info.company_abbr_id),{:class => "span2",:disabled=>'disabled'}) %></td>
        <td><%= text_field_tag("#{info.id}[data_release]",info.data_release,{:class => "span1_5",:disabled=>'disabled'}) %></td>
        <td><%= select_tag("#{info.id}[area_name]",options_for_select(Region.active.order(:name).collect{|r|["#{r.name}","#{r.name}"]} << ['',''], info.area_name),{:class => "span2",:disabled=>'disabled'}) %></td>
        <td><%= select_tag("#{info.id}[datatype_id]",options_for_select(DataType.select_tag, info.datatype_id),{:class => "span1",:disabled=>'disabled'}) %></td>
        <td><div id="<%= info.id %>_pdsi_filling_plc" class="hidden">
          <%= text_field_tag("#{info.id}[filling]",info.filling,{:class => "span2",:disabled=>'disabled'}) %>
          </div>
        </td>
        <td><button type="button" class="btn" id="save_pdsi_<%= info.id %>">Save</button></td>
      </tr>

      <script type="text/javascript">
        //<% if  !info.data_set %>
          $("#<%= info.id %>_name").removeAttr("disabled");
          $("#<%= info.id %>_company_abbr_id").removeAttr("disabled");
          $("#<%= info.id %>_data_release").removeAttr("disabled");
          $("#<%= info.id %>_area_name").removeAttr("disabled");
          $("#<%= info.id %>_datatype_id").removeAttr("disabled");
          $("#<%= info.id %>_filling").removeAttr("disabled");
        //<% end %>

        function requireFilling<%= info.id %>(){
          $.post( "<%=escape_javascript( url_for(:action => :filling_necessary,:id => @product.id,:controller => :products,:product_data_set_info_id => info.id)) %>",
              {data_type_id:$("#<%=  info.id %>_datatype_id").val(),filling:$("#<%="#{info.id}_filling"%>").val()});
        }

        $("#del_pdsi_<%= info.id %>").click(function(){
          if(window.confirm("Are you sure to delete this dataset?")){
            $.post( "<%=escape_javascript( url_for(:action => :pdsi_from_product,:id => @product.id,:controller => :products)) %>", {pdsi_id:<%= info.id %>,purpose:"delete"});
          } else {
            return false;
          }
        });

        $("#edit_pdsi_<%= info.id %>").click(function(){
          requireFilling<%= info.id %>();
          $("#td_pdsi_<%= info.id %>").hide(function(){
            $("#tdfrm_pdsi_<%= info.id %>").show( 600 );
          });
        });
        $("#sync_pdsi_<%= info.id %>").click(function(){
          $.post( "<%=escape_javascript( url_for(:action => :create_data_set_from_definition,:id => @product.id,:controller => :products,:tmp_coverage => @tmp_coverage.id,:tmp_sec_coverage => nil)) %>", {pdsi_id:<%= info.id %>,data_set_id:'<%= info.data_set_id %>'})
        });

        $("#save_pdsi_<%= info.id %>").click(function(){
          var major = false;
          if ($("#<%="#{info.id}_major_dataset"%>").prop('checked')){major = true}

          $.post( "<%=escape_javascript( url_for(:action => :pdsi_from_product,:id => @product.id,:controller => :products)) %>", {pdsi_id:<%= info.id %>,from_product:{
              major_dataset: major,
              datatype_id: $("#<%="#{info.id}_datatype_id"%>").val(),
              filling: $("#<%="#{info.id}_filling"%>").val(),
              name: $("#<%="#{info.id}_name"%>").val(),
              area_name: $("#<%="#{info.id}_area_name"%>").val(),
              company_abbr_id: $("#<%="#{info.id}_company_abbr_id"%>").val(),
              data_release: $("#<%="#{info.id}_data_release"%>").val()
            },purpose: "update" });

          $("#tdfrm_pdsi_<%= info.id %>").hide(function(){
            $("#td_pdsi_<%= info.id %>").show( 500 );
          });
        });

        $("#<%="#{info.id}_datatype_id"%>").select2({placeholder: "Select a data type"});
        $("#<%="#{info.id}_company_abbr_id"%>").select2({placeholder: "Select a supplier"});
        $("#<%="#{info.id}_area_name"%>").select2({placeholder: "Choose a area"});
        $("#data_set_defintion_selector").select2({allowClear:true});
        $("#data_set_defintion_group_selector").select2({allowClear:true});

        var data_rels =[]
        function getDatareleases(){
          $.post('<%= url_for(:action => :get_data_releases_for_select,:id => info.id,:controller => :product_data_set_infos) %>',{company_abbr_id: $("#<%="#{info.id}_company_abbr_id"%>").val()},function(data){
            data_rels = data;
          })
        }

        function filling_format(item) { return item.text; }

        if ($("#<%="#{info.id}_filling"%>").val() != ""){
          var filling_placehldr = $("#<%="#{info.id}_filling"%>").val();

        } else {
          var filling_placehldr = 'Mandatory filling';
        }

        function format(item) { return item.text; }

        if ($("#<%="#{info.id}_data_release"%>").val() != ""){
          var placehldr = $("#<%="#{info.id}_data_release"%>").val();

        } else {
          var placehldr = 'Select a release';
        }

        $("#<%="#{info.id}_data_release"%>").select2({
          createSearchChoice:function(term, data) { if ($(data).filter(function() { return this.text.localeCompare(term)===0; }).length===0) {return {id:term, text:term};} },
          multiple: false,
          data:{ text: "name" },
          ajax: {
            url: '<%=escape_javascript( url_for(:action => :get_data_releases_for_select,:id => info.id,:controller => :product_data_set_infos)) %>.json',
            dataType: 'json',
            quietMillis: 100,
            data: function (term) {
              return {
                company_abbr_id: $("#<%="#{info.id}_company_abbr_id"%>").val(),
                name: term
              };
            },
            results: function (data) {
              return {results: data};
            }
          },
          formatResult: format,
          formatSelection: format

        });
        $('#s2id_<%="#{info.id}_data_release"%> span:first').text(placehldr);

        $("#tdfrm_pdsi_<%= info.id %>").hide();


        $("#<%="#{info.id}_filling"%>").select2({
          createSearchChoice:function(term, data) { if ($(data).filter(function() { return this.text.localeCompare(term)===0; }).length===0) {return {id:term, text:term};} },
          multiple: false,
          data:{ text: "name" },
          ajax: {
            url: '<%=escape_javascript( url_for(:action => :get_filling_for_select,:id => info.id,:controller => :product_data_set_infos)) %>.json',
            dataType: 'json',
            quietMillis: 100,
            data: function (term) {
              return {
                data_type_id: $("#<%="#{info.id}_datatype_id"%>").val(),
                name: term
              };
            },
            results: function (data) {
              return {results: data};
            }
          },
          formatResult: filling_format,
          formatSelection: filling_format

        });

        $('#s2id_<%="#{info.id}_filling"%> span:first').text(filling_placehldr);
        $("#<%="#{info.id}_datatype_id"%>").change(function(){
          $("#<%="#{info.id}_filling"%>").val('');
          $('#s2id_<%="#{info.id}_filling"%> span:first').text('Mandatory filling');
        });

        $("#<%=  info.id %>_datatype_id").change(function(){
          requireFilling<%= info.id %>();
        });

      </script>
    </form>
  <% end %>

  <script type="text/javascript">
    $("#create_pdsi").click(function(){
      var major = false;

      if ($("#new_pdsi_major_dataset").prop('checked')){major = true}

      $.post( "<%=escape_javascript( url_for(:action => :pdsi_from_product,:id => @product.id,:controller => :products)) %>", {pdsi_id:"new",from_product:{
          major_dataset: major,
          datatype_id: $("#new_pdsi_datatype_id").val(),
          filling: $("#new_pdsi_filling").val(),
          name: $("#new_pdsi_name").val(),
          area_name: $("#new_pdsi_area_name").val(),
          company_abbr_id: $("#new_pdsi_company_abbr_id").val(),
          data_release: $("#new_pdsi_data_release").val()
        },purpose: "new" });

      $("#td_newfrm_pdsi").remove();

    });

    $("#data_set_defintion_selector").change(function(){
      $.post( "<%=escape_javascript( url_for(:action => :create_data_set_from_definition,:id => @product.id,:controller => :products,:tmp_coverage => @tmp_coverage.id,:tmp_sec_coverage => nil)) %>", {data_set_id:$(this).val()})
    });

    $("#data_set_defintion_group_selector").change(function(){
      $.post( "<%=escape_javascript( url_for(:action => :create_data_sets_from_definition_group,:id => @product.id,:controller => :products,:tmp_coverage => @tmp_coverage.id,:tmp_sec_coverage => nil)) %>", {data_set_group_id:$(this).val()})
    });
    
    $("#td_newfrm_pdsi").hide();
    $("#new_pdsi_btn").click(function(){
      $("#warningMessageRow").addClass('hidden');
      $("#td_newfrm_pdsi").show( 600 );
    });

    $("#new_pdsi_datatype_id").select2({placeholder: "Select a data type"});
    $("#new_pdsi_company_abbr_id").select2({placeholder: "Select a supplier"});
    $("#new_pdsi_area_name").select2({placeholder: "Choose a area"});

    var ndata_rels =[]
    function getNewDatareleases(){
      $.post('<%= url_for(:action => :get_data_releases_for_select,:controller => :product_data_set_infos) %>',{company_abbr_id: $("#new_pdsi_company_abbr_id").val()},function(data){
        ndata_rels = data;
      })
    }

    function nfilling_format(item) { return item.text; }
    if ($("#new_pdsi_filling").val() != ""){
      var filling_placehldr = $("#new_pdsi_filling").val();

    } else {
      var filling_placehldr = 'Mandatory filling';
    }

    function nformat(item) { return item.text; }
    if ($("#new_pdsi_data_release").val() != ""){
      var placehldr = $("#new_pdsi_data_release").val();

    } else {
      var placehldr = 'Select a release';
    }

    $("#new_pdsi_data_release").select2({
      createSearchChoice:function(term, data) { if ($(data).filter(function() { return this.text.localeCompare(term)===0; }).length===0) {return {id:term, text:term};} },
      multiple: false,
      data:{ text: "name" },
      ajax: {
        url: '<%=escape_javascript( url_for(:action => :get_data_releases_for_select,:controller => :product_data_set_infos)) %>.json',
        dataType: 'json',
        quietMillis: 100,
        data: function (term) {
          return {
            company_abbr_id: $("#new_pdsi_company_abbr_id").val(),
            name: term
          };
        },
        results: function (data) {
          return {results: data};
        }
      },
      formatResult: nformat,
      formatSelection: nformat

    });
    $('#s2id_new_pdsi_data_release span:first').text(placehldr);

        $("#new_pdsi_filling").select2({
          createSearchChoice:function(term, data) { if ($(data).filter(function() { return this.text.localeCompare(term)===0; }).length===0) {return {id:term, text:term};} },
          multiple: false,
          data:{ text: "name" },
          ajax: {
            url: '<%=escape_javascript( url_for(:action => :get_filling_for_select,:controller => :product_data_set_infos)) %>.json',
            dataType: 'json',
            quietMillis: 100,
            data: function (term) {
              return {
                data_type_id: $("#new_pdsi_datatype_id").val(),
                name: term
              };
            },
            results: function (data) {
              return {results: data};
            }
          },
          formatResult: nfilling_format,
          formatSelection: nfilling_format

        });
        $('#s2id_new_pdsi_filling span:first').text(filling_placehldr);
        $("#new_pdsi_datatype_id").change(function(){
          $("#new_pdsi_filling").val('');
          $('#s2id_new_pdsi_filling span:first').text('Mandatory filling');
        });

        $("#new_pdsi_datatype_id").change(function(){
          $.post( "<%=escape_javascript( url_for(:action => :filling_necessary,:id => @product.id,:controller => :products)) %>",
              {data_type_id:$("#new_pdsi_datatype_id").val(),filling:$("#new_pdsi_filling").val()});
        });
  </script>
  
</tbody>
</table>