
<div class="row">
  <div class="span12">
    <table class="table table-bordered table-condensed table-hover gridtable" id="tmc-matrix">
      <%  @region_coverage.each do |region| %>
          <% if @region_coverage[0] == region  %>
            <thead>
              <tr>
                <th>&nbsp;</th>
                <% @product.product_data_set_infos.eager_load(:region, :data_type,:company_abbr, [:coverage => :coverages_regions]).where("regions.isactive = true").each do |pdsi_row| %>
                    <% if pdsi_row.data_type &&  pdsi_row.data_type.name == 'TMC'%>
                    <% header_str = "#{pdsi_row.data_type.name} #{pdsi_row.filling} #{pdsi_row.company_abbr.ms_abbr_3} #{pdsi_row.data_release} #{pdsi_row.region.region_code}" %>
                  <th class="vertical"><%= header_str %></th>
                  <% end %>
                <% end %>
              </tr>
            </thead>
            <tr class="grayed">
              <td><small><i>Check all</i></small></td>
            <% @product.product_data_set_infos.eager_load(:region, :data_type,:company_abbr,[:coverage => :coverages_regions]).each do |pdsi_row| %>
              <% if pdsi_row.data_type &&  pdsi_row.data_type.name == 'TMC'%>
              <td><input type="checkbox" id="tmc_pdsi_chk_all-<%= pdsi_row.id %>" title="Toggle check all"/></td>
              <% end %>
          <% end %>
              </tr>
          <% end %>
            
          <tr>
            <th><%= region.name %> </th>
            <% @product.product_data_set_infos.eager_load(:data_type,:company_abbr, [:coverage => :coverages_regions]).each do |pdsi| %>
            <% if pdsi.data_type &&  pdsi.data_type.name == 'TMC'%>
            <td>
              <%= check_box_tag "tmc_pdsi[#{pdsi.id}-#{region.id}]","#{region.id}", pdsi.has_region?(region.id) %>
            </td>
            <% end %>
            <% end %>
          </tr>
      <% end %>
    </table>
  </div>

</div>


<script type="text/javascript">
  $("[id^=tmc_pdsi_chk_all-]").click(function(){
    var checkedStatus = this.checked;
    var pdsiID = "[id^=tmc_pdsi_" + this.id.split('-')[1] + '-]'
    $(pdsiID).each(function () {
      $(this).prop('checked', checkedStatus);
    });
  })
</script>
