<div class="row">
  <div class="span3">
    <strong>Product ID</strong>
  </div>
  <div class="span3">
    <strong>Name</strong>
  </div>
  <div class="span3">
    <strong>Parent product</strong>
  </div>
  <div class="span3">
    <strong>Status</strong>
  </div>
</div>

<div class="row">
  <div class="span3" id="volumeidControl">
    <%= tab_product_form.text_field :volumeid,:class => 'span3',:placeholder => 'MP###-####' %>
  </div>
  <div class="span3">
    <%= tab_product_form.text_field :name,:class => 'span3' %>
  </div>
  <div class="span3">
    <%= tab_product_form.select :parent_id, Product.all.collect{|x| [x.volumeid.to_s, x.id]},{:include_blank => true},{:class => 'span3',:data => {:placeholder=>"Select a parent"}} %>
  </div>
  <div class="span3">
    <%= tab_product_form.select :status,Product.statushash,{},{:class => 'span3'} %>
  </div>
</div>

<div class="row">
  <div class="span3">
    <strong>Copyright string</strong>
  </div>
  <div class="span3">
    <strong>FCS name</strong>
  </div>
  <div class="span3">
    <strong>Product design</strong>
  </div>
  <div class="span3">
    <strong>Product line</strong>
  </div>
</div>

<div class="row">
  <div class="span3">
    <%= tab_product_form.text_field :copyright_name,:class => 'span3' %>
   </div>
  <div class="span3">
    <%= tab_product_form.text_field :nds_name,:class => 'span3' %>
  </div>
  <div class="span3">
    <%= tab_product_form.select :product_design_id, ProductDesign.all.collect{|x| [x.name.to_s + " " + x.version.to_s, x.id]},{include_blank: true},{:class => 'span3',:data => {:placeholder=>"Select a Design"}} %>
  </div>
  <div class="span3">
    <%= tab_product_form.select :product_line_id, ProductLine.option_list(@product.product_line_id),{ include_blank: true },{ class: 'span3',data: { placeholder: "Select a Product line" } } %>
    </div>
  </div>

  <div class="row">
    <div class="span3">
      <strong>POI mapping layout</strong>
    </div>
    <div class="span3">
      <strong>Content Specification</strong>
    </div>
    <div class="span3">
      <strong>File Detect Regular Expression</strong>
    </div>
    <div class="span3">
      <strong>Created From</strong>
    </div>
  </div>
  <div class="row">
    <div class="span3">
      <%= tab_product_form.select :poi_mapping_layout_id, PoiMappingLayout.all.collect{|x| [x.source_filename.to_s, x.id]},{:include_blank => true},{:class => 'span3',:data => {:placeholder=>"Select a POI Mapping Layout"}} %>
    </div>
    <div class="span3">
      <%=  tab_product_form.select :update_region_mapping_id, ProductContentSpecification.all.collect{|x| [x.name.to_s, x.id]},{:include_blank => true},{:class => 'span3',:data => {:placeholder=>"Select a Update Region Mapping"}} %>
    </div>
    <div class="span3 ">
      <%= tab_product_form.text_field :file_detect_regex,:class => 'span3' %>
    </div>
    <div class="span3">
      <%= tab_product_form.select :created_from, ['SELF','CHILDREN','PARENT'],{},{:class => 'span3'} %>
    </div>
  </div>

  <div class="row">
    <div class="span3">
      <strong>Predecessor</strong>
    </div>
  </div>

  <div class="row">
    <div class="span3">
       <%= tab_product_form.select :predecessor_id, Product.all.collect{|x| [x.volumeid.to_s, x.id]},{:include_blank => true},{:class => 'span3',:data => {:placeholder=>"Select a predecessor"}} %>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <strong>Remarks</strong>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <%= tab_product_form.text_area :remarks,:class => 'span12', :rows => 6 %>
    </div>
  </div>

  <div class="row">
    <div class="span3 offset9">
      <label class="checkbox pull-right"><%= tab_product_form.check_box :removed_yn %>Removed</label>
      <label class="checkbox pull-right"><%= tab_product_form.check_box :import_disabled %>Import disabled&nbsp;&nbsp;&nbsp;</label>
    </div>
  </div>

<script type="text/javascript">
    $("#product_volumeid").change(function(){
    $.post( '<%= url_for(:action => :validate_volumeid, :id => @product.id) %>',{volumeid:$(this).val()}, function( data ) {
      if (data != ''){
        $("#product_volumeid").popover({content:data}).popover('show');
        $("#volumeidControl").addClass("control-group error");
      } else {
        $("#product_volumeid").popover('destroy');
        $("#volumeidControl").removeClass("control-group error");
      }
    });
  })
</script>