<div>Validate Results<div>
</hr>
<form id="regions_to_sync">
  <%= hidden_field_tag  :tmp_coverage_id, @tmp_coverage.id %>
  <% @normal_results.each do |result| %>
    <div class="row" >
      <div class="span1"><%= result[:org_val] %>&nbsp;</div>
      <% result[:regions].each do |reg| %>
        <% if reg[:found] %>
          <div class="span2"><%= reg[:region_code] %>&nbsp;</div>
          <%= hidden_field_tag "regioncode_#{reg[:region_code]}", reg[:region_code] %>
        <% else %>
          <div class="span3">
            <%= select_tag "region_selector_modal_" + result[:org_val].gsub(" ","_"),grouped_options_for_select(Region.product_coverage_select_tag),:include_blank => true,:class => 'span3',:data => {:placeholder => 'Select an Area for coverage'} %>
          </div>
        <% end %>
      <% end %>
    </div>

  <% end %>
</form>
<br/>
<br/>
<br/>
<br/>
<br/>



