<div class="row">
  <div class="alert alert-error span7">
    <p><strong>Warning!</strong> There are pending production orders for product <%= @product.volumeid %>.<br />
      It's highly recommended to <strong>leave this product unchanged</strong> till the orders listed below are completed or canceled.</p>
    <p>If you desire to force a edit of this product, please use the button below, a e-mail notification will be send to the owners of these pending orders.</p>
    <%= link_to 'force editing',{:action => :edit, :id => @product.id,:force_edit => true},{:class => "btn btn-danger pull-right"} %>
  </div>
</div>

<div class="row">
  <div class="span1"><strong>&nbsp;Id</strong></div>
  <div class="span3"><strong>Order name</strong></div>
  <div class="span2"><strong>Owner</strong></div>
  <div class="span1"><strong>Status</strong></div>
</div>

<% @active_orders.each do |order| %>
<div class="row">
  <div class="span1">&nbsp;
    <%= link_to order.id, order, :target => '_blank' %>
  </div>
  <div class="span3">
    <%= order.name %>
  </div>
  <div class="span2">
    <%= order.requestor %>
  </div>
  <div class="span1">
    <%= order.status %>
  </div>

</div>
<% end %>

<div class="row"><br />
  <div class="span7">
    <%= link_to :back,:class => 'btn',:title=>"back" do %>
      <i class="icon-arrow-left"></i>
    <% end %>

    <%= link_to products_path,:class => 'btn',:title=>"overview" do %>
      <i class="icon-arrow-up"></i>
    <% end %>
      
    <%= link_to @product,:class => 'btn',:title=>"show" do %>
      <i class="icon-eye-open"></i>
    <% end %>
  </div>
</div>