$('#table-product_data_set_infos').html('<%= escape_javascript(render :partial => 'table_product_data_set_infos',:object => @product) %>');
$("#data").html('<%= escape_javascript(render :partial => 'tab_data_form',:object => @product) %>');
$("#tmc").html('<%= escape_javascript(render :partial => 'tab_tmc_form',:object => @product) %>');
resetRotate();