<% if @product.errors.any? %>
  <ul>
    <% @product.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<%= form_for(@product) do |f| %>
  <%= render :partial => 'formfields' ,:object => f %>
<% end %>

|
<%= link_to @product do %>
  <i class="icon-eye-open" title="show">&nbsp;</i>
<% end %>
|
<%= link_to :back do %>
<i class="icon-arrow-left" title="back">&nbsp;</i>
<% end %>
|
<%= link_to products_path do %>
  <i class="icon-arrow-up" title="overview">&nbsp;</i>
<% end %>
|
