<% if ( @fillings && !@fillings.empty? ) %>
  <% if @product_data_set_info %>
    $("#<%= @product_data_set_info.id %>_pdsi_filling_plc").removeClass('hidden');
  <% else %>
    $("#new_pdsi_filling_plc").removeClass('hidden');
  <% end %>

<% else %>
  <% if @product_data_set_info %>
    $("#<%= @product_data_set_info.id %>_pdsi_filling_plc").addClass('hidden');
  <% else %>
    $("#new_pdsi_filling_plc").addClass('hidden');
  <% end %>
<% end %>