$("#fillingSelect").html('<%= escape_javascript(render :partial => 'filling_select', :object =>  @datatype_fillings) %>');
$("#process_data_specification_filling").chosen({allow_single_deselect: true}).trigger('chosen:updated');
