
<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand"><strong>Products</strong></div>
      <%= form_tag products_path, :method => 'get' do %>
        <div class="span">
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>

          <div class="input-prepend input-append">
            <%= link_to("New",{:action => :new},{:class => 'btn btn-info'}) if env_production? %>
              <%= select_tag(:product_line, options_for_select([''] +  ProductLine.all.collect{|x|[x.abbr + " - " + x.name.to_s,x.id]}.sort, params[:product_line]), data: { placeholder: 'Select Product line'}, :class =>'span2') %>
              <%= text_field_tag :search, params[:search], :placeholder=>" search" %>
              <%= button_tag "Search", :name => nil, :type => :submit, :class => "btn btn_align_chosen" %>
              <%= button_tag "Reset", :name => 'reset',:class=>"btn btn_align_chosen",:type=>:submit %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>


<div id="endless">
  <div class="row">
    <div class="span2 offset1"><strong><%= sortable "product_line_id", "Product Line" %></strong></div>
    <div class="span2"><strong><%= sortable "volumeid", "Product ID" %></strong></div>
    <div class="span3"><strong><%= sortable "name" %></strong></div>
    <div class="span3"><strong><%= sortable "productsets.setcode","Related productsets" %></strong></div>
  </div>
  <%= render(:partial => "product", :collection => @products) %> 
</div>
<%= will_paginate(@products) %>
<%= pageless(@products.total_pages, products_path, "#endless") %>

<script type="text/javascript">
  $("#product_line").chosen({allow_single_deselect:true,search_contains:true,placeholder_text_single:'Select Product line'})
</script>