  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:
      </h2>
      <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for(@product) do |f| %>
<%= render :partial => 'formfields' ,:object => f %>
<% end %>


<% if params[:link_id] && !params[:link_id].blank? %>
  <%= link_to 'Back to Productset', :controller => "productsets", :action => "edit", :id => params[:link_id] %>
<% end  %>

|
<%= link_to :back do %>
<i class="icon-arrow-left" title="back">&nbsp;</i>
<% end %>
|
<% if params[:link_id] && !params[:link_id].blank? %>
  <%= link_to :controller => :productsets,  :action => :edit, :id => params[:link_id] do %>
    <i class="icon-arrow-up" title="overview">&nbsp;</i>
  <% end %>
<% else %>
  <%= link_to products_path do %>
    <i class="icon-arrow-up" title="overview">&nbsp;</i>
  <% end %>
<% end %>
|
