$("#data").html('<%= escape_javascript(render :partial => 'tab_data_form',:object => @product) %>');
$("#tmc").html('<%= escape_javascript(render :partial => 'tab_tmc_form',:object => @product) %>');

resetRotate();
$('#data-matrix').rotateTableCellContent();
$('a[href="#data"]').tab('show');