<%= render :partial => "productdetails", :locals => {:record => @record, :show_sets => true} %>
<% if env_production? %>
  |
  <%= link_to edit_product_path(@record) do %>
    <i class="icon-edit" title="edit">&nbsp;</i>
  <% end %>
<% end %>
|
<%= link_to :back do %>
  <i class="icon-arrow-left" title="back">&nbsp;</i>
<% end %>
|
<%= link_to products_path do %>
  <i class="icon-arrow-up" title="overview">&nbsp;</i>
<% end %>
|
