<%= grid(@country_conversion_productsets_grid) do |g|

    g.column :column_name => 'Status' , :attribute_name => 'status' do |ps|
      ps.status
    end

    g.column :column_name => 'Setcode' ,:attribute_name => 'setcode' do |ps|
      ps.setcode
    end

    g.column :column_name => 'Name' ,:attribute_name => 'name'
    g.column :column_name => 'Conversiontool' ,:attribute_name => 'conversiontool_name'
end -%>