<h1>Listing country_conversion_productsets</h1>


<br />

<%= grid(@country_conversion_productsets_grid) do |g|

    g.column :column_name => 'Status' , :attribute_name => 'status' do |ps|
      ps.status
    end

    g.column :column_name => 'Setcode' ,:attribute_name => 'setcode' do |ps|
      ps.setcode
    end

    g.column :column_name => 'Name' ,:attribute_name => 'name' 
    g.column :column_name => 'Conversiontool' ,:attribute_name => 'conversiontool_name'

    g.column :column_name => 'Productset' do |ps|
      link_to('Edit', edit_country_conversion_productset_path(ps))
    end
end -%>

<%= link_to 'New country_conversion_productset', new_country_conversion_productset_path %>
