<h1>New country_conversion_productset</h1>

<%= error_messages_for :country_conversion_productset %>

<%= form_for(@country_conversion_productset) do |f| %>
  <p>
    <b>Status</b><br />
    <%= f.text_field :status %>
  </p>

  <p>
    <b>Setcode</b><br />
    <%= f.text_field :setcode %>
  </p>

  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Conversiontool name</b><br />
    <%= f.text_field :conversiontool_name %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', country_conversion_productsets_path %>
