<p>
  <b>Status:</b>
  <%=h @country_conversion_productset.status %>
</p>

<p>
  <b>Setcode:</b>
  <%=h @country_conversion_productset.setcode %>
</p>

<p>
  <b>Name:</b>
  <%=h @country_conversion_productset.name %>
</p>

<p>
  <b>Conversiontool name:</b>
  <%=h @country_conversion_productset.conversiontool_name %>
</p>


<%= link_to 'Edit', edit_country_conversion_productset_path(@country_conversion_productset) %> |
<%= link_to 'Back', country_conversion_productsets_path %>
