<%= form_for(@shipping_specification, :html => {:id => 'shipping_specification'}) do |f| %>
  <br/>
  <div class="row">
    <div class="span12 well">
      <div class="row">
        <div class="span11 bounded">
          <div class="row">
            <div class="span7">
              <h4><%= @heading %></h4>
            </div>
          </div>
          <% if @shipping_specification.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@shipping_specification.errors.count, "error") %> prohibited this packing specification from being saved:</h2>

              <ul>
                <% @shipping_specification.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="span11 bounded">
          <div class="row">
            <div class="span2"><strong>Name</strong></div>
            <div class="span3"><%= f.text_field :name %></div>
            <div class="span2"><strong>Name contact</strong></div>
            <div class="span4"><%= f.select :external_contact_id, ExternalContact.find_all_dist.collect {|c| [ c.last_name.to_s + "," + c.first_name.to_s + " | " + "#{c.company.name if c.company}" , c.id] },{:include_blank => true},{:class => 'span4',:id => 'external_contact_id'}  %></div>
          </div>
          <hr>
          <div class="row">
            <div class="span2"><strong>Type</strong></div>
            <div class="span3"><strong>Courier</strong></div>
            <div class="span5"><strong>Distribution list</strong></div>
          </div>
          <div class="row">
            <div class="span2"><%= f.select :shipment_type, ShipmentType.all.collect{|x|[x.name,x.name]},{},{:class => 'span2', :id => 'shipmenttype'} %></div>
            <div class="span3"><%= f.select :courier, ShippingSpecification.courier_list, {}, {:class => 'span3', :id => 'courier'}  %></div>
            <div class="span5"><%= f.select :distribution_list_id, DistributionList.where(:active_yn => true).order(:name).collect {|dl| [ dl.name, dl.id ]}, {:include_blank => true}, {:class => 'span5', :id => 'distribution_list_id'} %></div>
          </div>
          <br />
          <div class="row">
            <div class="span2"><strong>Packing specification</strong></div>
            <div class="span3"><strong>Default filename specification</strong></div>
            <div class="span3"><strong>Default subdirectory specification</strong></div>
            <div class="span3"><strong>Mapscape account</strong></div>
          </div>
          <div class="row">
            <div class="span2"><%= f.select :packing_specification_id, PackingSpecification.option_list,{},{ :class => 'span2', :id => 'packing_specification', :data => { :placeholder => 'Select packing specification' } }  %></div>
            <div class="span3"><%= f.select :default_filename_specification, ShippingSpecification.filename_hash,{},{ :class => 'span3', :id => 'default_filename_specification'} %></div>
            <div class="span3"><%= f.select :default_subdirectory_specification, ShippingSpecification.subdirectory_hash, {}, { :class => 'span3', :id => 'default_subdirectory_specification' } %></div>
            <div class="span3"><%= f.select :file_transfer_account_id, FileTransferAccount.mapscape_ftp.collect{ |ftp| [ftp.user_name, ftp.id] }, { :include_blank => true },{ :class => 'span3', :id => 'account' }  %></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <button class="btn btn-primary pull-right" id="form-submit" type="button">Save</button>
    </div>
  </div>
<% end %>


<script>
  $('#external_contact_id').chosen();
  $('#shipmenttype').chosen();
  $('#courier').chosen();
  $('#distribution_list_id').chosen();
  $('#product_line_id').chosen();
  $('#packing_specification').chosen();
  $('#default_filename_specification').chosen();
  $('#default_subdirectory_specification').chosen();
  $('#account').chosen();
  $('#form-submit').click(function(){
    $("#shipping_specification").submit();
  });
</script>
