<div class="row" id="row_show_<%= shipping_specification.id%>" >
  <div class="span1">
      <div class="btn-group">
        <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
        Action
        <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to shipping_specification_path(shipping_specification) do %>
            <i class="icon-info-sign"></i>&nbsp;show
            <% end %>
          </li>
          <li>
            <%= link_to edit_shipping_specification_path(shipping_specification) do %>
            <i class="icon-edit"></i>&nbsp;edit
            <% end %>
          </li>          
          <li>
            <%= link_to shipping_specification_path(shipping_specification), :method => :delete do %>
            <i class="icon-ban-circle"></i>&nbsp;destroy
            <% end %>
          </li>          
        </ul>
      </div>    
  </div>
    <div class="span1"><%= shipping_specification.id %>&nbsp;</div>
    <div class="span2"><%= shipping_specification.name %>&nbsp;</div>
    <div class="span1"><%= shipping_specification.shipment_type %>&nbsp;</div>
    <div class="span1"><%= shipping_specification.courier %>&nbsp;</div>
    <div class="span2"><%= shipping_specification.distribution_list.name if shipping_specification.distribution_list %>&nbsp;</div>
    <div class="span2"><%= shipping_specification.packing_specification.name if shipping_specification.packing_specification %>&nbsp;</div>
    <div class="span2"><%= shipping_specification.file_transfer_account.user_name if shipping_specification.file_transfer_account %>&nbsp;</div>
  </div>
