<% @heading = "Editing shipping specification " + @shipping_specification.id.to_s %>
<%= render 'form' %>
|
<%= link_to :back do %>
<i class="icon-arrow-left" title="back">&nbsp;</i>
<% end %>
|
<%= link_to @shipping_specification do %>
  <i class="icon-eye-open" title="show">&nbsp;</i>
<% end %>
|
<%= link_to shipping_specifications_path do %>
  <i class="icon-arrow-up" title="overview">&nbsp;</i>
<% end %>
|
