<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand"><strong>Shipping specifications</strong></div>
      <div class="span7">
        <%= form_tag shipping_specifications_path, method: 'get' do %>
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <div class="input-prepend input-append">
            <%= link_to "New", {action: "new"},{class: "btn btn-info"} %>
            <%= text_field_tag :search, params[:search], placeholder: " search",class: "span3" %>
            <%= button_tag "Search", name: nil, type: :submit, class: "btn" %>
            <%= button_tag "Reset", name: 'reset',class: "btn",type: :submit %>
          </div> 
        <% end %>
      </div>
    </div>
  </div>
</div>

<div style="padding-top: 5em;margin-bottom: 55px" id="endless">
  <div class="row">
    <div class="offset1 span1"><strong><%= sortable "shipping_specifications.id", "Id" %></strong></div>
    <div class="span2"><strong><%= sortable "shipping_specifications.name", "Name" %></strong></div>
    <div class="span1"><strong><%= sortable "shipping_specifications.shipment_type", "Type" %></strong></div>
    <div class="span1"><strong><%= sortable "shipping_specifications.courier", "Courier" %></strong></div>
    <div class="span2"><strong><%= sortable "distribution_lists.name", "Distribution list" %></strong></div>
    <div class="span2"><strong><%= sortable "packing_specifications.name", "Packing specification" %></strong></div>
    <div class="span2"><strong><%= sortable "file_transfer_accounts.user_name", "Mapscape account" %></strong></div>
  </div>
    <%= render(:partial => "shipping_specification", :collection => @shipping_specifications) %>
</div>
<%= will_paginate(@shipping_specifications) %>
<%= pageless(@shipping_specifications.total_pages, shipping_specifications_path, "#endless") %>
