<div class="span7">
  <h4>Shipping specification <%= @shipping_specification.id %></h4>
</div>
<div class="row">
  <div class="span12 bounded">
    <div class="row">
      <div class="span2"><strong>Name</strong></div>
      <div class="span3"><%= @shipping_specification.name %>&nbsp;</div>
      <div class="span2"><strong>Name contact</strong></div>
      <div class="span4"><%= @contact_person %>&nbsp;</div>
    </div>
    <hr>
    <div class="row">
      <div class="span2"><strong>Type</strong></div>
      <div class="span3"><strong>Courier</strong></div>
      <div class="span5"><strong>Distribution list</strong></div>
    </div>
    <div class="row">
      <div class="span2"><%= @shipping_specification.shipment_type %>&nbsp;</div>
      <div class="span3"><%= @shipping_specification.courier %>&nbsp;</div>
      <div class="span5"><%= @shipping_specification.distribution_list.name if @shipping_specification.distribution_list %>&nbsp;</div>
    </div>
    <br />
    <div class="row">
      <div class="span2"><strong>Packing specification</strong></div>
      <div class="span3"><strong>Default filename specification</strong></div>
      <div class="span3"><strong>Default subdirectory specification</strong></div>
      <div class="span3"><strong>Mapscape account</strong></div>
    </div>
    <div class="row">
      <div class="span2"><%= @shipping_specification.packing_specification.name if @shipping_specification.packing_specification %>&nbsp;</div>
      <div class="span3"><%= @shipping_specification.default_filename_specification_str %>&nbsp;</div>
      <div class="span3"><%= @shipping_specification.default_subdirectory_specification_str %>&nbsp;</div>
      <div class="span3"><%= @shipping_specification.file_transfer_account.user_name if @shipping_specification.file_transfer_account %>&nbsp;</div>
    </div>
  </div>
</div>
|
<%= link_to edit_shipping_specification_path(@shipping_specification) do %>
  <i class="icon-edit" title="edit">&nbsp;</i>
<% end %>
|
<%= link_to :back do %>
  <i class="icon-arrow-left" title="back">&nbsp;</i>
<% end %>
|
<%= link_to shipping_specifications_path do %>
  <i class="icon-arrow-up" title="overview">&nbsp;</i>
<% end %>
|
