<% f = form_fields %>

<p>
  <b>Ordertype</b><br />
  <%= @process_transition.ordertype.name %>
  <%= f.hidden_field :ordertype_id, :value => @process_transition.ordertype_id.to_s %>
</p>

<div class="row">
  <div class="span3"><strong>Action label</strong></div>
  <div class="span3"><strong>Sequence</strong></div>
</div>
<div class="row">
  <div class="span3"><%= f.text_field :action_label, :class=>'span3' %></div>
  <div class="span3"><%= f.text_field :sequence, :class=>'span3' %></div>
</div>

<div class="row">
  <div class="span6"><strong>From Level/business process</strong></div>
</div>
<div class="row">
  <div class="span3"><%= f.select :from_level, ["SET","PRODUCT"],{}, {:class=>'span3'}  %></div>
  <div class="span3"><%= f.select :from_bp, BusinessProcess.all.collect {|c| [c.name, c.id]},{}, {:class=>'span3'} %></div>
  <div class="span1"><i class="icon-arrow-down"></i></div>
</div>

<div class="row">
  <div class="span6"><strong>To Level/business process</strong></div>
</div>
<div class="row">
  <div class="span3"><%= f.select :to_level, ["SET","PRODUCT"],{}, {:class=>'span3'}  %></div>
  <div class="span3"><%= f.select :to_bp, BusinessProcess.all.collect {|c| [c.name, c.id]},{}, {:class=>'span3'} %></div>
  <div class="span1"><i class="icon-arrow-down"></i></div>  
</div>

<div class="row">
  <div class="span6"><strong>CascadeTo Level/business process</strong></div>
</div>
<div class="row">
  <div class="span3"><%= f.select :cascade_to_level, [["",nil],"SET","PRODUCT"],{}, {:class=>'span3'} %></div>
  <div class="span3"><%= f.select :cascade_to_bp, ['',nil] + BusinessProcess.all.collect {|c| [c.name, c.id]},{}, {:class=>'span3'} %></div>
  <div class="span1"><i class="icon-arrow-left"></i></div>
</div>
<div class="row">
  <div class="span6"><strong>Success transition</strong></div>
</div>
<div class="row">
  <div class="span3"><%= f.check_box :succes_transition %></div>
</div>

<div class="row">
  <div class="span6"><strong>Validation</strong></div>
</div>
<div class="row">
  <div class="span6"><%= f.text_area :validation, :class=>'span6', :rows=>4 %></div>
</div>