<h3>Editing process transitions</h3>

<% if @process_transition.errors.any? %>
  <div class="alert alert-error">
    <% @process_transition.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
  </div>
<% end %>

<%= form_for(@process_transition) do |f| %>
<%= render :partial => 'form_fields', :object => f%>
 
  <p>
    <%= f.submit "Update", :class=>'btn btn-primary' %>
  </p>
<% end %>

<%= link_to :back do %>
  <i class="icon-arrow-left">&nbsp;</i>back
<% end  %>
