<h1>Listing process_transitions</h1>

<table>
  <tr>
    <th>Ordertype</th>
    <th>From bp</th>
    <th>To bp</th>
    <th>Validation</th>
    <th>From level</th>
    <th>To level</th>
    <th>Action label</th>
    <th>Sequence</th>
  </tr>

<% for process_transitions in @process_transitions %>
  <tr>
    <td><%=h process_transitions.ordertype_id %></td>
    <td><%=h process_transitions.from_bp %></td>
    <td><%=h process_transitions.to_bp %></td>
    <td><%=h process_transitions.validation %></td>
    <td><%=h process_transitions.from_level %></td>
    <td><%=h process_transitions.to_level %></td>
    <td><%=h process_transitions.action_label %></td>
    <td><%=h process_transitions.sequence %></td>
    <td><%= link_to 'Show', process_transitions %></td>
    <td><%= link_to 'Edit', edit_process_transitions_path(process_transitions) %></td>
    <td><%= link_to 'Destroy', process_transitions, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New process_transitions', new_process_transitions_path %>
