<p>
  <b>Ordertype:</b>
  <%=h @process_transitions.ordertype_id %>
</p>

<p>
  <b>From bp:</b>
  <%=h @process_transitions.from_bp %>
</p>

<p>
  <b>To bp:</b>
  <%=h @process_transitions.to_bp %>
</p>

<p>
  <b>Validation:</b>
  <%=h @process_transitions.validation %>
</p>

<p>
  <b>From level:</b>
  <%=h @process_transitions.from_level %>
</p>

<p>
  <b>To level:</b>
  <%=h @process_transitions.to_level %>
</p>

<p>
  <b>Action label:</b>
  <%=h @process_transitions.action_label %>
</p>

<p>
  <b>Sequence:</b>
  <%=h @process_transitions.sequence %>
</p>


<%= link_to 'Edit', edit_process_transitions_path(@process_transitions) %> |
<%= link_to 'Back', process_transitions_path %>
