<%= select_tag "process_data_specification[filling]",options_for_select(@datatype_fillings,@process_data_specification.filling),{:include_blank => true,:class => 'form-control disabled',:data=>{:placeholder=>"Filling"} } %>

