<% if @process_data_specification.errors.any? %>
  <div class="row">
    <div class="col-md-7">
      <div id="error_explanation">
        <h4><%= pluralize(@process_data_specification.errors.count, "error") %> prohibited this process_data_specification from being saved:</h4>

        <ul>
          <% @process_data_specification.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= params[:action].humanize %> process data specification</h3>
      </div>
      <%= form_for(@process_data_specification) do |f| %>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <%= f.label :name %>
              <%= f.text_field :name,:class =>"form-control",:placeholder => "Label of Specification" %>
            </div>
            <div class="form-group">
              <%= f.label :data_type_id %>
              <%= f.select :data_type_id,DataType.active.collect {|d| [ d.name,d.id ]},{:include_blank => true},{:class =>"form-control",:data=>{:placeholder => "Data type"} } %>
            </div>
            <div class="form-group">
              <%= f.label :filling %>
              <div id="fillingSelect"><%= render :partial => 'filling_select', :object =>  @datatype_fillings %></div>
            </div>
            <div class="form-group">
              <%= f.label :directory %>
              <%= f.text_field :directory,:class =>"form-control",:placeholder => "Location of data" %>
            </div>
            <div class="form-group">
              <label>Comma separated script tag(s)</label>
              <%= f.text_field :script_tag,:class =>"form-control",:placeholder => "Dakota tag suffix" %>
            </div>
            <div class="form-group">
              <%= f.label :split_by_key %>
              <%= f.select :split_by_key,['Region','SubRegion','ItemRegion'],{:include_blank => true},{:class =>"form-control",:data=>{:placeholder => "Split scripts by ..."}} %>
            </div>
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <%= f.label :description %>
                  <%= f.text_area :description,:class=>"form-control",:rows=>"13",:placeholder => "Additional information or instruction" %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="checkbox">
                  <label>
                    <%= f.check_box :directory_level_yn %>
                    Data should be handled on directory&nbsp;level
                  </label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="checkbox">
                  <label class="checkbox">
                    <%= f.check_box :do_not_process_yn %>
                    Do no process <small>(e.g. documentation)</small>
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="checkbox">
                  <label class="checkbox">
                    <%= f.check_box :include_in_all_regions %>
                    Include data in all (sub)regions
                  </label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="checkbox">
                  <label class="checkbox">
                    <%= f.check_box :active_yn %>
                    Active
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <%= f.submit "Save",:class => "btn btn-default pull-right" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function initFilling(){
    var data_type_id = '<%= @process_data_specification.data_type_id %>';
    getFilling(data_type_id);
  }
  initFilling();

  $('select').each(function() {
    $(this).select2({allowClear:true});
  });

  function getFilling(data_type_id){
    $.post('<%= url_for(:action => 'filling_for_data_type',:id => @process_data_specification.id) %>',{data_type_id:data_type_id})
  }

  $("#process_data_specification_data_type_id").change(function(){
    var data_type_id = $(this).val();
    if (data_type_id != ''){
      getFilling(data_type_id);
    }
  });
</script>