<tr <%=h process_data_specification.active_yn ? '' : "class=danger" %>>
  <td>
    <div class="btn-group">
      <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Action <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="action-<%= process_data_specification.id %>">
        <li>
          <%= link_to({:controller => :process_data_specifications,:action => 'show',:id => process_data_specification.id}) do %>
            <i class="glyphicon glyphicon-info-sign"></i>&nbsp;show
          <% end %>
        </li>
        <% if env_production? %>
        <li>
          <%= link_to({:controller => :process_data_specifications,:action => 'edit',:id => process_data_specification.id}) do %>
            <i class="glyphicon glyphicon-edit"></i>&nbsp;edit
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>
  </td>
  <td><%= link_to process_data_specification.id, process_data_specification %></td>
  <td><%= process_data_specification.name %></td>
  <td><%= process_data_specification.data_type.name if process_data_specification.data_type %></td>
  <td><%= process_data_specification.directory %></td>
  <td><%= process_data_specification.script_tag %></td>
  <td><%= process_data_specification.script_parameter %></td>
  <td><%= bootstrap_boolean(process_data_specification.directory_level_yn) %></td>
  <td><%= bootstrap_boolean(process_data_specification.active_yn) %></td>
</tr>
