$("#fillingSelect").html('<%= escape_javascript(render :partial => 'filling_select', :object =>  @datatype_fillings) %>');
<% if @datatype_fillings.empty? %>
  $("#process_data_specification_filling").attr('disabled','disabled');
<% else %>
  $("#process_data_specification_filling").removeAttr('disabled');
<% end %>
$("#process_data_specification_filling").select2();