<%= render :partial => 'shared/search_bar', :object => @search_opts %>

<div id="index" class="table-responsive">
  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th class="id"><%= column_sort "process_data_specifications.id", 'ID',true %></th>
        <th><%= column_sort "process_data_specifications.name", "name",true %></th>
        <th><%= column_sort "data_types.name","Data type",true, DataType.active.order(:name).collect{|d|[d.name,d.id]}.uniq.compact,"data_type_id" %></th>
        <th><%= column_sort "process_data_specifications.directory","directory",true %></th>
        <th><%= column_sort "process_data_specifications.script_tag", "Script tag",true %></th>
        <th><%= column_sort "process_data_specifications.script_parameter", "Script parameter",true %></th>
        <th><%= column_sort "process_data_specifications.directory_level_yn",'Directory-level',true,[["Yes","1"],["No","0"]] %></th>
        <th><%= column_sort "process_data_specifications.active_yn", 'Active', true,[["Yes","1"],["No","0"]] %></th>
      </tr>
    </thead>
    <tbody id="endless">
      <%= render(:partial => "process_data_specification", :collection => @process_data_specifications) %>
    </tbody>
  </table>
</div>
<%= will_paginate(@process_data_specifications) %>
<%= pageless(@process_data_specifications.total_pages, process_data_specifications_path, "#endless") %>
