
<div class="row">
  <div class="col-md-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="badge"><%= @process_data_specification.id %></span> <%= params[:action].humanize %> process data specification</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-12 show-label">
                Name
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <%= @process_data_specification.name %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 show-label">
                Data type
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <%= @process_data_specification.data_type ? @process_data_specification.data_type.name : "N/A"  %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 show-label">
                Filling
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <%= @process_data_specification.filling.blank? ? "N/A" : @process_data_specification.filling  %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 show-label">
                Directory
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <%= @process_data_specification.directory  %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 show-label">
                Comma separated script tag(s)
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <%= @process_data_specification.script_tag.blank? ? "N/A" : @process_data_specification.script_tag %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 show-label">
                Split-by key
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <%=  @process_data_specification.split_by_key.blank? ? "N/A" : @process_data_specification.split_by_key %>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-12 show-label">
                Description
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <pre class="text-pre"><%= @process_data_specification.description.blank? ? "N/A" : @process_data_specification.description  %></pre>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="checkbox">
                  <label>
                    <%= bootstrap_boolean(@process_data_specification.directory_level_yn) %>
                    Data should be handled on directory&nbsp;level
                  </label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="checkbox">
                  <label class="checkbox">
                    <%= bootstrap_boolean(@process_data_specification.do_not_process_yn) %>
                    Do no process <small>(e.g. documentation)</small>
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="checkbox">
                  <label class="checkbox">
                    <%= bootstrap_boolean(@process_data_specification.include_in_all_regions) %>
                    Include data in all (sub)regions
                  </label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="checkbox">
                  <label class="checkbox">
                    <%= bootstrap_boolean(@process_data_specification.active_yn) %>
                    Active
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row footer">
  <div class="col-md-12">
    <%= link_to :back, :class => 'btn btn-default',:title => 'back to previous page' do %>
      <span class="glyphicon glyphicon-arrow-left"></span>
    <% end %>
    <%= link_to process_data_specifications_path, :class => 'btn btn-default',:title => 'back to overview' do %>
      <span class="glyphicon glyphicon-arrow-up"></span>
    <% end %>
    <%= link_to edit_process_data_specification_path(@process_data_specification),:class => 'btn btn-default',:title => "edit" do %>
      <span class="glyphicon glyphicon-edit"></span>
    <% end %>
    <%= next_prev_button("prev") %>
    <%= next_prev_button("next") %>
  </div>
</div>
