<tr class="<%=h !data_release.production ? "danger" : '' %>">
  <td>
    <div class="btn-group">
      <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Action <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="action-<%= data_release.id %>">
        <li>
          <%= link_to(:action => 'show',:controller => :data_releases,:id => data_release.id) do %>
            <span class="glyphicon glyphicon-info-sign"></span>&nbsp;show
          <% end %>
        </li>
        <% if env_production? %>
        <li>
          <%= link_to(:action => 'edit',:controller => :data_releases,:id => data_release.id) do %>
            <span class="glyphicon glyphicon-edit"></span>&nbsp;edit
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>
  </td>
  <td><%=h link_to data_release.id, data_release %></td>
  <td><%=h data_release.name %></td>
  <td><%=h data_release.release_code %></td>
  <td><%=h data_release.company_abbr.company_name if data_release.company_abbr %>&nbsp;</td>
  <td><%=h data_release.aliases %></td>
  <td><%= bootstrap_boolean(data_release.production) %></td>
</tr>
