<div class="row">
  <div class="col-md-5">
    <% if @data_release.errors.any? %>
      <div id="error_explanation">
        <h4><%= pluralize(@data_release.errors.count, "error") %> prohibited this data release from being saved:</h4>
        <ul>
          <% @data_release.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
<%= form_for(@data_release) do |f| %>
<div class="row">
  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-9">
            <h3 class="panel-title"><%= "#{controller.action_name.humanize} #{controller.controller_name.humanize.singularize}" %></h3>
          </div>
          <div class="col-md-3">
            <%= f.check_box :production, :class => 'form-control', :data => {'on-text' => 'Enabled','off-text' => 'Disabled','label-text' => 'Production' } %>
          </div>
        </div>
        
      </div>
      <div class="panel-body">

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Supplier</label>
              <%= f.select :company_abbr_id, CompanyAbbr.where('relation_type = "Supplier"').order(:company_name).collect{|x|[x.company_name,x.id]},{:include_blank => true},{:data => {:placeholder => "Select supplier"},:class => "form-control"} %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <%= f.label :name %>
              <%= f.text_field :name,{:placeholder => "Full name",:class => "form-control"} %>
            </div>
          </div>
          <div class="col-md-4">
            <strong>Code</strong><br />
            <div class="input-group">
              <%= f.text_field :release_code,{:placeholder => "f.e. directory name",:class => "form-control"} %>
              <span class="input-group-btn">
                <button class="btn btn-medium" id="generateCode" title="generate release code" type="button">
                  <span class="glyphicon glyphicon-cog"></span>
                </button>
              </span>
  
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <%= f.label :prev_data_release_id %>
              <div id="prevDataRel"><%= render partial:'prev_data_releases_select' %></div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="form-group">
              <%= f.label :aliases %>
              <%= f.text_field :aliases,:class => "form-control",:placeholder => "alternative names for this release" %>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <%= f.submit 'Save',:class=> 'btn pull-right' %>
            </div>
          </div>
        
      </div>
    </div>
  </div>
</div>
<% end %>
<script type="text/javascript">
  $("#data_release_company_abbr_id").select2();
  $("#data_release_prev_data_release_id").select2({allowClear: true});
  $("#data_release_production").bootstrapSwitch()
  $("#data_release_aliases").select2({
    tags:[],
    maximumInputLength: 10
    });

  function fillReleaseCode() {
   $("#data_release_release_code").val( $("#data_release_name").val().replace( /[Qq]/,"_q" ).replace( '.','_' ).toLowerCase() );
  }

  $("#data_release_name").keypress(function() {
    fillReleaseCode();
    $("#data_release_name").change(function() {
      $(this).keypress();
    });
  });

  $("#generateCode").click(function(){
   fillReleaseCode()
  })

  $("#data_release_company_abbr_id").change(function(){
    $.get('<%= url_for(render_prev_data_releases_data_release_path(@data_release.id ? @data_release : DataRelease.last)) %>',{company_abbr_id:$(this).val()})
    .done(function( data ) {
      $("#prevDataRel").html(data);
    });
  })
  
</script>