<%= select_tag 'data_release[prev_data_release_id]', options_for_select(@data_release.previous_data_release_candidates.collect{|x|[x.company_abbr.company_name + " " + x.name, x.id]},@data_release.prev_data_release_id),{:include_blank => true,:data => {:placeholder => "select supplier"},:class => "form-control"} %>
<script type="text/javascript">
  $("#data_release_prev_data_release_id").select2({allowClear: true});
</script>