<div class="row">
  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-9">
            <h3 class="panel-title"><span class="badge"><%= @data_release.id %></span> <%= "#{controller.controller_name.humanize.singularize} #{@data_release.name}" %></h3>
          </div>
          <div class="col-md-3 pull-right">
            Production
            <%= bootstrap_boolean(@data_release.production) %>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-12 show-label">
                Supplier
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <%= @data_release.company_abbr.company_name %>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-12 show-label">
                Name
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <%= @data_release.name %>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-12 show-label">
                Code
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <%= @data_release.release_code %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-12 show-label">
               Previous Data release
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <%= @data_release.previous_data_release.name if @data_release.prev_data_release_id %>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-12 show-label">
                Alias(es)
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <% @data_release.aliases.to_s.split(',').each do |ali| %>
                  <span class="label label-default"><%= ali %></span>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

