<%= render :partial => 'shared/search_bar', :object => @search_opts %>
<div id="index" class="table-responsive">
  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th class="id">&nbsp;</th>
        <th class="id"><%= column_sort("data_releases.id","ID",true) %></th>
        <th><%= column_sort('data_releases.name', "Name",true) %></th>
        <th><%= column_sort('data_releases.release_code', "Code",true) %></th>
        <th><%= column_sort('company_abbrs.company_name','Supplier',true,[''] + CompanyAbbr.where('relation_type = "Supplier"').order('company_name').collect{|x| [x.company_name,x.company_name]}) %></th>
        <th><%= column_sort('data_releases.aliases', 'Aliases',true) %></th>
        <th><%= column_sort('data_releases.production','Production?') %></th>
      </tr>
    </thead>
    <tbody id="endless">
      <%= render(:partial => "data_release", :collection => @data_releases) %>
    </tbody>
  </table>
</div>
<%= will_paginate(@data_releases) %>
<%= pageless(@data_releases.total_pages, data_releases_path, "#endless") %>




