<%= render 'form' %>
<div class="row">
  <div class="col-md-12">
    <%= link_to :back,:class => 'btn btn-default', :title=>"back" do %>
    <span class="glyphicon glyphicon-arrow-left"></span>
    <% end %>
    <%= link_to data_releases_path,:class => 'btn btn-default', :title=>"overview" do %>
    <span class="glyphicon glyphicon-arrow-up"></span>
    <% end %>
  </div>
</div>
