<tr <%=h external_contact.status.to_s == "#{ExternalContact::STATUS_OBSOLETE}" ? "class=danger" : '' %>>
  <td>
    <div class="btn-group">
      <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Action <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="action-<%= external_contact.id %>">
        <li>
          <%= link_to(:action => 'show',:controller => :external_contacts,:id => external_contact.id) do %>
            <i class="icon-info-sign"></i>&nbsp;show
          <% end %>
        </li>
        <li>
          <%= link_to(:action => 'handle',:controller => :external_contacts,:id => external_contact.id) do %>
            <i class="icon-tasks"></i>&nbsp;handle
          <% end %>
        </li>
        <li>
          <%= link_to(:action => 'edit',:controller => :external_contacts,:id => external_contact.id) do %>
            <i class="icon-edit"></i>&nbsp;edit
          <% end %>
        </li>
      </ul>
    </div>
  </td>
  <td><%= link_to external_contact.id, external_contact %></td>
  <td><%= external_contact.company.name if external_contact.company  %></td>
  <td><%= external_contact.first_name %></td>
  <td><%= external_contact.last_name %></td>
  <td><%= external_contact.primary_address_city %></td>
  <td><%= external_contact.primary_address_country %></td>
</tr>