<div class="row">
  <div class="col-md-6">
    <% if @external_contact.errors.any? %>
      <div id="error_explanation">
        <h4><%= pluralize(@external_contact.errors.count, "error") %> prohibited this company from being saved:</h4>
        <ul>
          <% @company.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-3">
            <h3 class="panel-title"><%= params[:action].humanize %> external contact</h3>
          </div>
          <div class="col-md-9 text-right"><label class="label-info label" title="status"><%= @external_contact.status_string %></label></div>
        </div>
      </div>
      <%= form_for(@external_contact) do |f| %>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <%= f.label :title %>
                <%= f.text_field :title, :class => "form-control" %>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <%= f.label :salutation %>
                <%= f.select :salutation, ExternalContact.salutations,{},{ :class => "form-control" }%>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <%= f.label :first_name %>
                <%= f.text_field :first_name, :class => "form-control" %>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <%= f.label :last_name %>
                <%= f.text_field :last_name, :class => "form-control" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <%= f.label :email %>
                <%= f.text_field :email, :class => "form-control" %>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Phone office</label>
                <%= f.text_field :phone_work, :class => "form-control" %>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Phone mobile</label>
                <%= f.text_field :phone_mobile, :class => "form-control" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <label>Address</label>
                <%= f.text_field :primary_address_street, :class => "form-control" %>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Postal code</label>
                <%= f.text_field :primary_address_postalcode, :class => "form-control" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>State</label>
                <%= f.text_field :primary_address_state, :class => "form-control" %>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Country</label>
                <%= f.text_field :primary_address_country, :class => "form-control" %>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Company</label>
                <%= f.select :company_id, Company.all.collect{|c|[c.name,c.id]},{},{:class => "form-control"} %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <%= f.submit "Save", :class => "btn btn-default pull-right" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
        


<script type="text/javascript">
  $("#external_contact_salutation").select2();
  $("#external_contact_company_id").select2();
</script>