<div class="row">
  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-4">
            <h3 class="panel-title"><span class="badge"><%= @external_contact.id %></span> <%= params[:action].humanize %> external contact</h3>
          </div>
          <div class="col-md-8 text-right"><label class="label-info label" title="status"><%= @external_contact.status_string %></label></div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-2 show-label">Title</div>
          <div class="col-md-2 show-label">Salutation</div>
          <div class="col-md-4 show-label">First name</div>
          <div class="col-md-4 show-label">Last name</div>
        </div>
        <div class="row">
          <div class="col-md-2"><%=  @external_contact.title %></div>
          <div class="col-md-2"><%= @external_contact.salutation %></div>
          <div class="col-md-4"><%= @external_contact.first_name %></div>
          <div class="col-md-4"><%= @external_contact.last_name %></div>
        </div>
        <div class="row">
          <div class="col-md-4 show-label">Email</div>
          <div class="col-md-4 show-label">Phone office</div>
          <div class="col-md-4 show-label">Phone mobile</div>
        </div>
        <div class="row">
          <div class="col-md-4"><%= @external_contact.email %></div>
          <div class="col-md-4"><%= @external_contact.phone_work %></div>
          <div class="col-md-4"><%= @external_contact.phone_mobile %></div>
        </div>
        <div class="row">
          <div class="col-md-8 show-label">Address</div>
          <div class="col-md-4 show-label">Postal code</div>
        </div>
        <div class="row">
          <div class="col-md-8"><%= @external_contact.primary_address_street %></div>
          <div class="col-md-4"><%= @external_contact.primary_address_postalcode %></div>
        </div>
        <div class="row">
          <div class="col-md-4 show-label">State</div>
          <div class="col-md-4 show-label">Country</div>
          <div class="col-md-4 show-label">Company</div>
        </div>
        <div class="row">
          <div class="col-md-4"><%= @external_contact.primary_address_state %></div>
          <div class="col-md-4"><%= @external_contact.primary_address_country %></div>
          <div class="col-md-4"><%= @external_contact.company.name if @external_contact.company %></div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <% if !@external_contact.external_id.blank? %><small><%= @external_contact.external_id %></small><% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>