<%= render :partial => "form" %>
<div class="row">
  <div class="col-md-12">
    <%= link_to :back, :class => 'btn btn-default',:title => 'back to previous page' do %>
      <span class="glyphicon glyphicon-arrow-left"></span>
    <% end %>
    <%= link_to external_contacts_path , :class => 'btn btn-default',:title => 'back to overview' do %>
      <span class="glyphicon glyphicon-arrow-up"></span>
    <% end %>
    <%= link_to handle_external_contact_path(@external_contact),:class => 'btn btn-default', :title => "handle" do %>
      <span class="glyphicon glyphicon-tasks"></span>
    <% end %>
    <%= link_to @external_contact,:class => 'btn btn-default',:title => "show" do %>
      <span class="glyphicon glyphicon-eye-open"></span>
    <% end %>
    <%= next_prev_button("prev") %>
    <%= next_prev_button("next") %>
  </div>
</div>
