<%= render :partial => "show_data" %>

<div class="row footer">
  <div class="col-md-12">
    <% if @external_contact.remove_allowed? %>
      <%= link_to({:action => "change_status", :id => @external_contact.id, :status => ExternalContact::STATUS_OBSOLETE}, {:method => :post, :class => "btn btn-default",:confirm => "Are you sure to remove this contact?"}) do %>
        <i class="glyphicon glyphicon-trash">&nbsp;</i>Remove
      <% end %>
    <% else %>
      <%= link_to({:action => "change_status", :id => @external_contact.id, :status => ExternalContact::STATUS_ACTIVE},   {:method => :post, :class => "btn btn-default",:confirm => "Are you sure to restore this contact?"}) do %>
        <i class="glyphicon glyphicon-step-backward">&nbsp;</i>Restore
      <% end %>
    <% end %>
  </div>
</div>

<div class="row footer">
  <div class="col-md-12">
    <%= link_to :back, :class => 'btn btn-default',:title => 'back to previous page' do %>
      <span class="glyphicon glyphicon-arrow-left"></span>
    <% end %>
    <%= link_to external_contacts_path , :class => 'btn btn-default',:title => 'back to overview' do %>
      <span class="glyphicon glyphicon-arrow-up"></span>
    <% end %>
    <%= link_to edit_external_contact_path(@external_contact),:class => 'btn btn-default', :title => "edit" do %>
      <span class="glyphicon glyphicon-edit"></span>
    <% end %>
    <%= link_to @external_contact,:class => 'btn btn-default',:title => "show" do %>
      <i class="glyphicon glyphicon-eye-open"></i>
    <% end %>
    <%= next_prev_button("prev") %>
    <%= next_prev_button("next") %>
  </div>
</div>