<%= render :partial => 'shared/search_bar', :object => @search_opts %>
<div id="index" class="table-responsive">
  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th class="id"><%= column_sort("id","ID",true) %></th>
        <th><%= column_sort('companies.name','Company',true) %></th>
        <th><%= column_sort('first_name','First name',true) %></th>
        <th><%= column_sort('last_name','Last name',true) %></th>
        <th><%= column_sort('primary_address_city','City',true) %></th>
        <th><%= column_sort('primary_address_country','Country',true) %></th>
      </tr>
    </thead>
    <tbody id="endless">
      <%= render(:partial => "external_contact", :collection => @external_contacts) %>
    </tbody>
  </table>
</div>
<%= will_paginate(@external_contacts) %>
<%= pageless(@external_contacts.total_pages, url_for(external_contacts_path(:params => params)), "#endless") %>