<%= render :partial => "show_data" %>

<div class="row">
  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Used in distribution list(s)</h3>
      </div>
      <div class="panel-body">
        <% @external_contact.distribution_lists.active.uniq.each do |dl| %>
          <div class="row">
            <div class="col-md-8">
              <%= link_to dl.name, dl, :target => "_blank" %>
            </div>
            <div class="col-md-4">
              <%= dl.product_category.abbreviation if dl.product_category %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= link_to :back, :class => 'btn btn-default',:title => 'back to previous page' do %>
      <span class="glyphicon glyphicon-arrow-left"></span>
    <% end %>
    <%= link_to external_contacts_path , :class => 'btn btn-default',:title => 'back to overview' do %>
      <span class="glyphicon glyphicon-arrow-up"></span>
    <% end %>
    <%= link_to edit_external_contact_path(@external_contact),:class => 'btn btn-default', :title => "edit" do %>
      <span class="glyphicon glyphicon-edit"></span>
    <% end %>
    <%= link_to handle_external_contact_path(@external_contact),:class => 'btn btn-default', :title => "handle" do %>
      <span class="glyphicon glyphicon-tasks"></span>
    <% end %>
    <%= next_prev_button("prev") %>
    <%= next_prev_button("next") %>
  </div>
</div>
