<%= form_for(@test_type) do |f| %>
  <% if @test_type.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@test_type.errors.count, "error") %> prohibited this filling from being saved:</h4>
      <ul>
      <% @test_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="span7 bounded bounded-headered">
      <div class="row bounded-header">
        <h4> <%= controller.action_name.humanize %> Test type: <%= @test_type.name %></h4>
      </div>
      <div class="row">
        <div class="span1">
          <strong>Name</strong>
        </div>
        <div class="span3">
          <%= f.text_field :name, :class => 'span3' %>
        </div>
      </div>
      <div class="row">
        <div class="span1">
          <strong>Description</strong>
        </div>

        <div class="span3">
          <%=  f.text_area :description, :rows => "8", :class => "span3" %>
        </div>
      </div>
      <div class="row">
        <div class="span pull-right"><%= f.submit 'Save', {:class => 'btn'} %></div>
      </div>
    </div>
  </div>
<% end %>