<div class="row">
  <div class="span7 bounded bounded-headered">
    <div class="row bounded-header">
      <h4>Test type: <%= @test_type.name %></h4>
    </div>
    <div class="row">
      <div class="span1">
        <strong>Name</strong>
      </div>
      <div class="span3">
        <%= @test_type.name %>
      </div>
    </div>
    <div class="row">
      <div class="span1">
        <strong>Description</strong>
      </div>
      <div class="span3">
        <pre class="real-pre"><%= @test_type.description %></pre>
      </div>
    </div>
    <div class="row">
      <div class="span1">
        <%= bootstrap_boolean(@test_type.active_yn) %> Active
      </div>
    </div>
    <div class="row">
      <div class="span1">
        <%= bootstrap_boolean(@test_type.removed_yn) %> Removed
      </div>
    </div>
  </div>
</div>