<div class="row" id="line-<%= test_type.id %>">
  <div class="span1">
    <div class="btn-group">
      <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
        Action
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to({:controller => :test_types, :action => 'show', :id => test_type.id}) do %>
            <i class="icon-info-sign"></i>&nbsp;show
          <% end %>
        </li>
        <li>
          <%= link_to({:controller => :test_types, :action => 'handle', :id => test_type.id}) do %>
            <i class="icon-tasks"></i>&nbsp;handle
          <% end %>
        </li>
        <li>
          <%= link_to({:controller => :test_types, :action => 'edit', :id => test_type.id}) do %>
            <i class="icon-edit"></i>&nbsp;edit
          <%  end %>
        </li>
      </ul>
    </div>
  </div>
  <div class="span0_5"><%= test_type.id %></div>
  <div class="span3"><%=  test_type.name %></div>
  <div class="span1"><%= bootstrap_boolean(test_type.active_yn) %></div>
</div>

<% if test_type.removed_yn %>
<script type="text/javascript">
$('#line-<%= test_type.id %> [class^=span]').wrapInner('<del></del>');
</script>
<% end %>