<%= render "show_data" %>

<div class="row">
  <div class="span7">
    <% if !@test_type.removed_yn %>
      <%= link_to remove_test_type_path(@test_type), :class => "btn btn-danger", :title => "remove", :method => :post do %>
        <i class="icon-trash"></i>
      <% end %>
    <% else %>
      <%= link_to restore_test_type_path(@test_type), :class => "btn btn-primary",:title => "restore", :method => :post do %>
        <i class="icon-share"></i>
      <% end %>
    <% end %>
    &nbsp;
    <% if @test_type.active_yn %>
      <%= link_to deactivate_test_type_path(@test_type), :class => "btn btn-warning", :title => "deactivate", :method => :post do %>
        <i class="icon-folder-close"></i>
      <% end %>
    <% else %>
      <%= link_to activate_test_type_path(@test_type), :class => "btn btn-primary", :title => "activate", :method => :post do %>
        <i class="icon-folder-open"></i>
      <% end %>
    <% end %>
  </div>
</div>
<br />
<div class="row">
  <div class="span7">
    <%= link_to @test_type, :class => "btn", :title => "show" do %>
      <i class="icon-eye-open"></i>
    <% end %>
    &nbsp;
    <%= link_to edit_test_type_path(@test_type), :class => "btn",:title => "edit" do %>
      <i class="icon-edit"></i>
    <% end %>
    &nbsp;
    <%= link_to :back, :class => "btn", :title => "back" do %>
      <i class="icon-arrow-left"></i>
    <% end %>
    &nbsp;
    <%= link_to test_types_path, :class => "btn",:title => "overview" do %>
      <i class="icon-arrow-up"></i>
    <% end %>
    &nbsp;
    <%= next_prev_button("prev") %>
    <%= next_prev_button("next") %>
  </div>
</div>