<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand"><strong>Test types</strong></div>
      <div class="span">
        <%= form_tag test_types_path, :method => 'get' do %>
          <div class="span">                    <label class="checkbox">
            <%= check_box_tag 'removed', "1", @deleted,{:data => {"text-label" => "deleted","off-label" => "","on-label" => "Include",:size => "normal",:on => "success",:off => "default","off-label" => "excluded"}} %>
            </label></div>&nbsp;
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>&nbsp;
          <div class="input-append input-prepend">
            <%= link_to 'New', {:action => :new,:controller => :test_types},{:class => 'btn btn-info'} %>
            <%= text_field_tag :search, params[:search], :placeholder=>" search",:class=>"span3",:size=>"16" %>
            <%= button_tag "Search", :name => nil, :type => :submit, :class => "btn" %>
            <%= button_tag "Reset", :name => 'reset',:class=>"btn",:type=>:submit %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div id="endless">
  <div class="row">
    <div class="offset1 span0_5"><strong><%= sortable "test_types.id", 'Id' %>&nbsp;</strong></div>
    <div class="span3"><strong><%=  sortable "name" %></strong></div>
    <div class="span1"><strong><%= sortable "test_types.active_yn", 'Active' %>&nbsp;</strong></div>
  </div>

  <%= render(:partial => "test_type", :collection => @test_types) %>
</div>
<%= will_paginate(@test_types) %>
<%= pageless(@test_types.total_pages, url_for(:controller => :fillings, :action => :index), "#endless") %>

<script type="text/javascript">
  $("#removed").bootstrapSwitch();
</script>
