<%= render "show_data" %>

<div class="row">
  <div class="span7">
    <%= link_to handle_test_type_path(@test_type), :class => "btn",:title => "handle" do %>
      <i class="icon-tasks" title="handle"></i>
    <% end %>
    &nbsp;
    <%= link_to edit_test_type_path(@test_type), :class => "btn",:title => "edit" do %>
      <i class="icon-edit" title="edit"></i>
    <% end %>
    &nbsp;
    <%= link_to :back, :class => "btn", :title => "back" do %>
      <i class="icon-arrow-left" title="back"></i>
    <% end %>
    &nbsp;
    <%= link_to test_types_path, :class => "btn",:title => "overview" do %>
      <i class="icon-arrow-up" title="overview"></i>
    <% end %>
    &nbsp;
    <%= next_prev_button("prev") %>
    <%= next_prev_button("next") %>
  </div>
</div>
