<div>
  <% if @role_action.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@role_action.errors.count, "error") %> prohibited this role_action from being saved:</h2>

      <ul>
      <% @role_action.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</div>
<% if !@role_action.unused_action_names.empty? %>
<div class="row">
  <div class="span2">
  <button class="btn" title="<%= @role_action.unused_action_names.join(', ') %>" id="new_line"><i class="icon icon-plus"></i></button>
  </div>
</div>
<% end %>

<div class="row">
  <div class="span2">
    <strong>Action&nbsp;name</strong>
  </div>
  <div class="span5">
    <strong>Role(s)</strong>
  </div>
</div>

<div class="row hidden" id="new_row">
  <div class="span2">
    <%= select_tag 'new_action', options_for_select(@role_action.unused_action_names),:class => 'span2 btn_align_select2' %>
  </div>
  <div class="span5">
    <%=  select_tag "ra-sel-new", options_for_select(Role.order(:title).all.collect{|r|[r.title,r.id]}),{:multiple=>true,:class=>'span5'} %>
  </div>
  <div class="span1">
    <button class="btn btn-primary" type="button" title="save new action line" id="save_new"><i class="icon icon-save"></i></button>
  </div>
</div>
<%= form_for(@role_action) do |f| %>
<% @role_actions.each do |role_action| %>
<div class="row">
  <div class="span2">
    <% action_name = 'default' %>
    <% action_name = role_action.action_name if !role_action.action_name.blank? %>
     	<span class="label label-inverse"><%= action_name %></span>
  </div>
  <div class="span5">
  <%=  select_tag "ra-sel[#{role_action.same_action_name.join('_')}]", options_for_select(Role.order(:title).all.collect{|r|[r.title,r.id]},role_action.used_role_ids),{:multiple=>true,:class=>'span5'} %>
  </div>
  <div class="span1">
    <button class="btn" type="button" title="remove action line" id="ra-destroy-<%= role_action.same_action_name.join('_') %>"><i class="icon icon-remove"></i></button>
  </div>
</div>
<% end %>


<div class="row">

<div class="span8">
    <%= f.submit 'Save',:class => 'btn' %>
  </div>
<% end %>
</div>

<script type="text/javascript">
  $("#new_action").select2();
  $("[id^=ra-sel]").select2();
  $("#new_line").click(function(){
    $("#new_row").toggleClass("hidden");
  });
  $("[id^=ra-destroy-]").click(function(){
    $.post("<%= url_for(:action => :destroy_line,:format => 'js',:controller => 'role_actions') %>",{ids: this.id,controller_name: "<%= @role_action.controller_name %>"})
  });
  $("#save_new").click(function(){
    if ($("#ra-sel-new").val() == null){
      alert("please choose minimal 1 role.");
      return false
    }
    $.post("<%= url_for(:action => :new_line,:format => 'js',:controller => 'role_actions') %>",{action_name: $("#new_action").val(),controller_name: "<%= @role_action.controller_name %>",'role_ids': $("#ra-sel-new").val()})
  });
</script>

<style type="text/css">
  .select2-container {
    margin-top: -8px;
}
</style>