<div class="row" id="row_show_<%= role_action.id %>">
  <div class="span1">
    <div class="btn-group">
      <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
        Action
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to({:controller => :role_actions, :action => 'show', :id => role_action.id}) do %>
          <i class="icon-info-sign"></i>&nbsp;show
          <% end %>
        </li>
        <li>
          <%= link_to({:controller => :role_actions, :action => 'edit', :id => role_action.id}) do %>
          <i class="icon-edit"></i>&nbsp;edit
          <%  end %>
        </li>
      </ul>
    </div>
  </div>
  <div class="span3">
    <%= role_action.controller_name %>
  </div>
  <div class="span8">
    <%= role_action.used_action_names.join(', ') %>
  </div>
</div>