
<div class="row ">
  <div class="span9 bounded bounded-headered">
    <div class="row bounded-header">
      <h4>Editing role-action for controller: <%= @role_action.controller_name %></h4>
    </div>
    <div class="row">
      <div class="span9" id="form_render">
      <%= render 'form' %>
      </div>
    </div>
  </div>
</div>



<%= link_to @role_action ,:class=>'btn', :title => "show" do %>
<i class="icon icon-eye-open"></i>
<% end %>&nbsp;
<%= link_to role_actions_path,:class => 'btn', :title => "Back to overview" do %>
<i class="icon icon-arrow-up"></i>
<% end %>
