<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand"><strong>Role-Action matrix</strong></div>
      <div class="span7">
        <%= form_tag role_actions_path, :method => 'get' do %>
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <div class="input-append input-prepend">
            <%= link_to 'New', {:action => :new,:controller => :role_actions},{:class => 'btn btn-info'} %>
            <%= text_field_tag :q, params[:q], :placeholder=>" search",:class=>"span3",:size=>"16" %>
            <%= button_tag "Search", :name => nil, :type => :submit, :class => "btn" %>
            <%= button_tag "Reset", :name => 'reset',:class=>"btn",:type=>:submit %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="endless">
  <div class="row">
    <div class="offset1 span3"><strong><%=  sortable "controller_name" %></strong></div>
    <div class="span8"><strong>Action Name</strong></div>
  </div>

  <%= render(:partial => "role_action", :collection => @role_actions) %>
</div>
<%= will_paginate(@role_actions) %>
<%= pageless(@role_actions.total_pages, url_for(:controller => :role_actions, :action => :index), "#endless") %>
<footer class="subnav subnav-fixed" style="bottom:0;top:auto;margin-bottom: 0px;">
  &nbsp;
</footer>
