<div>
  <% if @role_action.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@role_action.errors.count, "error") %> prohibited this role_action from being saved:</h2>

      <ul>
      <% @role_action.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</div>

<div class="row ">
  <%= form_for(@role_action) do |f| %>
  <div class="span9 bounded bounded-headered">
    <div class="row bounded-header">
      <div class="span2"><h4>New controller</h4></div>

    </div>
    <div class="row">
      <div class="span9" id="form_render">
        <div class="row">
          <div class="span2"><strong>Controller</strong></div>
      <div class="span6">
        <%=  f.select :controller_name, options_for_select(RoleAction.unmapped_app_controllers),{},{:class=>'span4'} %>

      </div>
        </div>
        <div class="row">
          <div class="span2">
            <strong>Default role</strong>
          </div>
          <div class="span6">
            <%=  f.select :role_id, options_for_select(Role.select_tag),{},{:class=>'span4'} %>
          </div>
        </div>
        <div class="row">
          <div class="span2">
            <%= f.submit 'Save',:class => 'btn' %>
          </div>
        </div>
        </div>
      </div>
    </div>
  <% end %>
</div>



<%= link_to role_actions_path, :class => 'btn', :title => "back" do %>
<i class="icon icon-arrow-left"></i>
<% end %>


<script>
  $("#role_action_controller_name").select2()
  $("#role_action_role_id").select2()
</script>

<style type="text/css">
  .select2-container {
    margin-top: -8px;
}
</style>