<div class="row">
  <div class="span9 bounded bounded-headered">
    <div class="row bounded-header">
      <div class="span8"><h4>Role / Actions for controller <%= @role_action.controller_name %></h4></div>
    </div>
    <div class="row">
      <div class="span9" id="form_render">
        <div class="row">
          <div class="span2">
            <strong>Action&nbsp;name</strong>
          </div>
          <div class="span5">
            <strong>Role(s)</strong>
          </div>
        </div>
        <% @role_actions.each do |role_action| %>
        <div class="row">
          <div class="span2">
            <% action_name = 'default' %>
            <% action_name = role_action.action_name if !role_action.action_name.blank? %>
                <span class="label label-inverse"><%= action_name %></span>
          </div>
          <div class="span5">
            <% role_action.used_role_ids.each do |role_id| %>
              <span class="label"><%= Role.find(role_id).title %></span>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= link_to edit_role_action_path(@role_action),:class => 'btn',:title => "edit" do %>
<i class="icon icon-edit"></i>
<% end %>&nbsp;
<%= link_to role_actions_path,:class => 'btn',:title => "overview" do %>
<i class="icon icon-arrow-up"></i>
<% end %>
