<div class="row">
  <div class="span11">
    <% if @company_abbrs.empty? %>
      <%= select_tag 'company_abbrs_select', options_for_select(CompanyAbbr.active.collect {|un|[un.name,un.id]}),{:include_blank => true,:class => 'span3'} %>
    <% else %>
      <%= select_tag 'company_abbrs_select', options_for_select(CompanyAbbr.active.where('id not in (?)',@company_abbrs.collect{|u|u.id}).collect {|un|[un.name,un.id]}),{:include_blank => true,:class => 'span3'} %>    <% end %>
  </div>
</div>
<div class="row">
  <div class="span11">
  <% @company_abbrs.each do |company_abbr| %>
    <%= hidden_field_tag "company_abbrs[]",company_abbr.id,{:id => "company_abbr_#{company_abbr.id}"} %>
    <span class="label">
      <a href="#" id="CompanyAbbr-<%= company_abbr.id %>"<i class="icon-trash"></i></a>
      <%= company_abbr.name %>
    </span>
  <% end %>
  </div>
</div>
<script type="text/javascript">
 $("#company_abbrs_select").select2({placeholder:"Select to add new allowed supplier"});
 function updateCompanyAbbrs(func,caid){
   var values = [];
   values = $("[id^=company_abbr_]").map(function(){ return $(this).val() }).get();
   if (func == 'del'){
     values.splice($.inArray(caid, values),1);
   }else{
     values.push($('#company_abbrs_select').val());
   }
   $.post('<%= url_for(:action=>:update_company_abbrs_list) %>',{'company_abbrs':values});
 }
 $("#company_abbrs_select").change(function(){
   updateCompanyAbbrs('add',$(this).val())
 });

 $("[id^=CompanyAbbr-]").click(function(){
   var caid =/CompanyAbbr-([^\s]+)/.exec( $(this).attr('id') )[1];
   updateCompanyAbbrs('del',caid);
 });

</script>