<div class="row">
    <div class="span11">
      <div class="row">
        <div class="span7">
            <% if @product_line.parameter_setting(session[:project_id]) %>
            <%= @product_line.parameter_setting(session[:project_id]).name%>
            (<%= link_to "edit",edit_parameter_setting_path(@product_line.parameter_setting(session[:project_id]), product_line_id: @product_line.id) %>)
            <% end %>
            </span>
        </div>

      </div>
      <div class="row">
        <div class="span4"><strong>Parameter name</strong></div>
        <div class="span4"><strong>Value</strong></div>
      </div>
      <div  id="parameter-list">
        <%= render(:partial => 'parameter', :collection =>  @parameter_settings) %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span11"><hr /></div>
  </div>