
<div class="row">
  <div class="span0_5">&nbsp;</div>
  <div class="span3"><strong>Name</strong></div>
  <div class="span3"><strong>Label</strong></div>
  <div class="span3"><strong>Output target</strong></div>
</div>
<div class="row">
  <div class="span0_5">
    <button class="btn btn-mini disabled" type="button" id="addBtn">
      <i class='icon-plus'></i>
    </button>
  </div>
  <div class="span3">
    <%= select_tag "customer_content_specification_id", options_for_select([''] +CustomerContentSpecification.option_list), {:include_blank => true, :data => {:placeholder => "Select specification"}, :class => 'span3'} %>
  </div>
  <div class="span3">
    <%= text_field_tag "label", nil, :placeholder => "Defaults to Name", :class => "span3" %>
  </div>
  <div class="span2">
    <%= select_tag "outputtarget", options_for_select(['']+CustomerContentDefinition.outputhash), {:include_blank => true, :data => {:placeholder => "Select output target"}, :class => 'span3'} %>
  </div>
</div>

<% if @product_line.id %>
  <% @product_line.customer_content_definitions.each do |ccdef| %>
    <div class='row' id='ccdefRow<%= ccdef.id %>'>
      <div class='span0_5'>
        <button class='btn btn-mini' type='button' id='ccdefBtn<%= ccdef.id %>'>
          <i class='icon-remove'></i>
        </button>
      </div>
      <div class="span2"><%= ccdef.customer_content_specification.name %>&nbsp;</div>
      <div class="span2"><%= ccdef.label %>&nbsp;</div>
      <div class="span2"><%= ccdef.output_string %>&nbsp;</div>
      <input type='hidden' value='<%= ccdef.id %>' name='ccdef_ids[<%= ccdef.id %>]' />
    </div>
  <% end %>
<% end %>

<div id="pickedCustomerContent">
  <!-- Dynamically rendered -->
</div>

<script>
  var index_counter=0;

  var ID = function () {
    // Math.random should be unique because of its seeding algorithm.
    // Convert it to base 36 (numbers + letters), and grab the first 9 characters
    // after the decimal.
    return '_' + Math.random().toString(36).substr(2, 9);
  };

  function activate_addBtn(){
    if($("#customer_content_specification_id").val() != '' && $("#outputtarget").val() != ''){
      $("#addBtn").removeClass('disabled')
    } else {
      $("#addBtn").addClass('disabled')
    } 
  }

  $(function() {
    $(document).on("click", "#addBtn", function(){
      if($("#customer_content_specification_id").val() != '' && $("#outputtarget").val() != ''){
        var generated_id = ID();
        if($("#label").val() != ''){
          var label_txt = $("#label").val();
        } else {
          var label_txt = $("#customer_content_specification_id option:selected").text();
        }

        var newHtml =  "<div class='row' id='ccdefRow"+generated_id+"'>\n\
                          <div class='span0_5'>\n\
                            <button class='btn btn-mini' type='button' id='ccdefBtn"+generated_id+"'>\n\
                              <i class='icon-remove'></i>\n\
                            </button>\n\
                          </div>\n\
                          <div class='span3'>"+$("#customer_content_specification_id option:selected").text()+"&nbsp;</div>\n\
                          <div class='span3'>"+label_txt+"&nbsp;</div>\n\
                          <div class='span3'>"+$("#outputtarget option:selected").text()+"&nbsp;</div>\n\
                          <input type='hidden' value='"+$("#customer_content_specification_id").val()+"' name='ccdef_names["+index_counter+"]' id='ccdef_names["+index_counter+"]' />\n\
                          <input type='hidden' value='"+label_txt+"' name='ccdef_labels["+index_counter+"]' id='ccdef_labels["+index_counter+"]'/>\n\
                          <input type='hidden' value='"+$("#outputtarget").val()+"' name='ccdef_output_targets["+index_counter+"]' id='ccdef_output_targets["+index_counter+"]' />\n\
                        </div>";
        $("#pickedCustomerContent").append( newHtml );
        index_counter++;
        $("#customer_content_specification_id").select2("val",'');
        $("#label").val('');
        $("#outputtarget").select2("val",'');
        activate_addBtn();
      }
    });

    $(document).on("click", "[id^=ccdefBtn]", function(){
      var this_element_id = $(this).attr('id');
      var ccdef_id = this_element_id.replace('ccdefBtn', '');
      $('#ccdefRow'+ccdef_id).remove();
    })

    $(document).on("click", "[id^=testBtn]", function(){
      var this_element_id = $(this).attr('id');
      var ccdef_id = this_element_id.replace('testBtn', '');
    })
  });

  $("#customer_content_specification_id").select2();
  $("#outputtarget").select2();
  $("#customer_content_specification_id").change(function(){activate_addBtn()});
  $("#outputtarget").change(function(){activate_addBtn()});
  activate_addBtn();
</script>
