    <div class="row">
      <div class="span1">
        <div class="btn-group">
          <a class="btn dropdown-toggle btn-info btn-small" data-toggle="dropdown" href="#">
            Action
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to customer_content_specification_path(customer_content_definition.customer_content_specification, 
                :product_line_id => @product_line.id),:target => '_blank' do %>
                <i class="icon-info-sign"></i>&nbsp;show spec + content
              <% end %>
            </li>
            <li>
              <%= link_to customer_content_definition_path(customer_content_definition, product_line_id: @product_line.id),:target => '_blank' do %>
                <i class="icon-info-sign"></i>&nbsp;show definition
              <% end %>
            </li>
            <li>
              <%= link_to edit_customer_content_specification_path(customer_content_definition.customer_content_specification, :product_line_id => @product_line.id) do %>
                <i class="icon-edit"></i>&nbsp;edit spec + content
              <% end %>
            </li>
            <li>
              <%= link_to edit_customer_content_definition_path(customer_content_definition, product_line_id: @product_line.id) do %>
                <i class="icon-edit"></i>&nbsp;edit definition
              <% end %>
            </li>
            <li>
              <%= link_to customer_content_definition_path(customer_content_definition, product_line_id: @product_line.id), method: :delete do %>
                <i class="icon-ban-circle"></i>&nbsp;destroy definition
              <% end %>
            </li>
          </ul>
        </div>
      </div>
      <div class="span3" id="specification_show_<%= customer_content_definition.customer_content_specification.id %>">
        <%= customer_content_definition.customer_content_specification.name %>&nbsp;
      </div>
      <div class="span3" id="definition_show_<%= customer_content_definition.id %>"><%= customer_content_definition.label %>&nbsp;</div>
      <div class="span2" id="definition_show_<%= customer_content_definition.id %>"><%= customer_content_definition.output_string %>&nbsp;</div>
    </div>