
<% if @product_line.errors.any? %>
<div class="row">
<div class="span7">
  <div class="alert alert-error">
    <ul>
      <% @product_line.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
</div>
</div>
<% end %>
<%= form_for(@product_line,:html=>{:id => 'product_line'}) do |f| %>
<% @f = f %>
<div class="row">
  <div class="span11">
    <ul class="nav nav-tabs">
      <li><a href="#general" data-toggle="tab" id="general-tab">General</a></li>
      <li><a href="#customer_content" data-toggle="tab" id="customer_content-tab">Customer Content</a></li>
      <li><a href="#white_list" data-toggle="tab" id="white_list-tab">White lists</a></li>
    </ul>
  </div>
</div>

<div class="tab-content">
  <div class="tab-pane active" id="general">
    <%=  render :partial => "general_tab" %>
  </div>
  <div class="tab-pane" id="customer_content">
    <div class="row">
    <div class="span11">
      <%= render "customer_contents" %>
    </div>
  </div>
  </div>

  <div class="tab-pane" id="white_list">
    <%= render "white_lists_tab" %>
  </div>

  <div class="row">
    <div class="span11">
      <%= f.submit "Save", :class => "btn pull-right" %>
    </div>
  </div>
  <%end %>