<% f = @f %>
<div class="row">
    <div class="span11">
      <div class="row">
        <div class="span3"><strong>Parent Product line</strong></div>
      </div>
      <div class="row">
          <div class="span3"><%= select :product_line, :parent_id, [''] + ProductLine.all.collect {|c| [c.abbr.to_s + " " + c.name,c.id]},
                {},{ class: 'span3', data: { placeholder: 'Select a parent product line' } } %></div>
      </div>
      <div class="row">
        <div class="span2"><strong>Abbr</strong></div>
        <div class="span3"><strong>Name</strong></div>
        <div class="span3"><strong>Company</strong></div>
        <div class="span1"><strong>Active</strong></div>
      </div>
      <div class="row">
        <div class="span2"><%= f.text_field :abbr, class: 'span2' %></div>
          <div class="span3"><%= f.text_field :name, class: 'span3' %></div>
          <div class="span3"><%= select :product_line, :company_abbr_id, [''] + CompanyAbbr.active.collect {|c| [c.name,c.id]},
                {},{ class: 'span3', id: 'chosen_company', data: { placeholder: 'Select a customer' } } %></div>
          <div class="span1"><%= f.check_box :is_active %></div>
      </div>
      <div class="row">
        <div class="span3"><strong>Project members</strong></div>
      </div>
      <div id="projectMembers">
        <%= render 'project_members', :object => @project_members %>
      </div>
      <div class="row">
        <div class="span11"><hr /></div>
      </div>
      <div class="row">
        <div class="span3 offset5"><strong>Shipping specification</strong></div>
      </div>
      <div class="row">
        <div class="span5 offset5">
          <%= f.select :shipping_specification_id, [""] + ShippingSpecification.all.collect{|x| [x.name, x.id]}, {}, {:class => 'span3'} %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span11"><hr /></div>
  </div>
  
  




<script type="text/javascript">
  $('#chosen_company').select2({placeholder:"Select shipping",allowClear:true});
  $('#product_line_parent_id').select2({placeholder:"Select shipping",allowClear:true});
  $('#product_line_shipping_specification_id').select2({placeholder:"Select shipping",allowClear:true});
  $('#chosen_customer_content_specification').select2();
  $('#customer_content_definition_output_target').select2();

</script>
