
<div class="row">
  <div class="span2">
    <b>Supplier</b>
  </div>
  <div class="span3">
    <b>Datatype</b>
  </div>
 
  <div class="span3">
    <b>Region</b>
  </div>
   <div class="span3">
    <b>Filling (Opt.)</b>
  </div>
</div>

<div id="allowlist">
  <div class="row">
    <%= hidden_field_tag "allowed_data[]","0-0-0-0",{:id => "allowed_data_0-0-0-0"} %>
    <span class="span2">
    </span>
    <span class="span3">
    </span>
    <span class="span3">
    </span>
    <span class="span3" >
    </span>
      <span style="display:none" class="span1">
        <span class="label label-default">
            <a href="#" id="AllowedData-0-0-0-0" onclick="$(this).parent().parent().parent().remove()" ><i class="icon-trash"></i></a>

        </span>
    </span>
    </div>

<% @product_line_allowed_data.each do |allowed_data| %>
  <div class="row">
      <%= hidden_field_tag "allowed_data[]","#{allowed_data.company_abbr_id}-#{allowed_data.data_type_id}-#{allowed_data.region_id}",{:id => "allowed_data_#{allowed_data.company_abbr_id}-#{allowed_data.data_type_id}-#{allowed_data.region_id}-#{allowed_data.filling_id}"} %>

    <span class="span2">
      <%= allowed_data.company_abbr.name %>
    </span>
    <span class="span3">
      <%= allowed_data.data_type.name %>
    </span>
    
    <span class="span3" >
      <%= allowed_data.region.name %>
    </span>
    <span class="span3">
      <%= allowed_data.filling.name if allowed_data.filling %>
    </span>
    <div class="span1">
        <span class="label label-default">
                    <a href="#"  onclick="$(this).parent().parent().parent().remove()" id="AllowedData-#{allowed_data.company_abbr_id}-#{allowed_data.data_type_id}-#{allowed_data.filling_id}-#{allowed_data.region_id}"><i class="icon-trash"></i></a>
        </span>
    </div>
  </div>
<% end %>
</div>



<div class="row"><hr/></div>
<div class="row">

  <div class="span2">
    <%= select_tag 'company_abbr_select', options_for_select(CompanyAbbr.active.collect {|un|[un.name,un.id]}),{:include_blank => true,:class => 'span2'} %>
  </div>
  <div class="span3">
    <%= select_tag 'data_types_select', options_for_select(DataType.active.collect {|un|[un.name,un.id]}),{:include_blank => true,:class => 'span3'} %>
  </div>
  <div class="span3">
    <%= select_tag 'regions_select', options_for_select(Region.active.collect {|un|[un.name,un.id]}),{:include_blank => true,:class => 'span3'} %>
  </div>
    <div class="span3">
    <%= select_tag 'fillings_select', options_for_select(Filling.active.collect {|un|[un.name,un.id]}),{:include_blank => true,:class => 'span3'} %>
  </div>

  <div class="span1">
    <button type="button" class='btn pull-right' onclick="add_new()">Add</button>
  </div>
</div>




<script type="text/javascript">


  function add_new()
  {

    if ($("#company_abbr_select option:selected").val() == "")
    {
      message = "Supplier is required"
      subject = "Cannot add item to whitelist"

      flash_on_demand("error",subject,message)
      return
    }

    if ($("#data_types_select option:selected").val() == "")
    {
      message = "Datatype is required"
      subject = "Cannot add item to whitelist"

      flash_on_demand("error",subject,message)
      return
    }


    if ($("#regions_select option:selected").val() == "")
    {
      message = "Region is required"
      subject = "Validation failed"
      flash_on_demand("error",subject,message)
      return
    }



    var a = $("#allowlist div").first().clone()
    a.appendTo("#allowlist")
    input = a.find("input")
    input.attr("id", "allowed_data_" + $("#company_abbr_select").val() + "-" + $("#data_types_select").val()+ "-" + $("#regions_select").val() + "-" +  $("#fillings_select").val())
    input.val($("#company_abbr_select").val() + "-" + $("#data_types_select").val()+ "-" + $("#regions_select").val() + "-" +  $("#fillings_select").val())
    a.find("span:eq(0)").text($("#company_abbr_select option:selected").text())
    a.find("span:eq(1)").text($("#data_types_select option:selected").text())
    a.find("span:eq(3)").text($("#fillings_select option:selected").text())
    a.find("span:eq(2)").text($("#regions_select option:selected").text())
    a.find("span:eq(4) a").attr("id", "AllowedData-" + $("#company_abbr_select").val() + "-" + $("#data_types_select").val()+ "-" + $("#regions_select").val() + "-" +  $("#fillings_select").val())
    a.find("span:eq(4)").show()
  }


  
  $("#data_types_select").select2({allowClear:true, placeholder:"Select new allowed data type"});
  $("#company_abbr_select").select2({allowClear:true,placeholder:"Select new allowed supplier"});
  $("#fillings_select").select2({allowClear:true,placeholder:"Select new allowed filling (Opt.)"});
  $("#regions_select").select2({allowClear:true,placeholder:"Select new allowed region"});



 
  
</script>