<div class="row">
  <div class="span11">
    <% if @project_members.empty? %>
      <%= select_tag 'member_select', options_for_select(User.active.collect {|un|[un.full_name,un.id]}),{:include_blank => true,:class => 'span3'} %>
    <% else %>
      <%= select_tag 'member_select', options_for_select(User.active.where('id not in (?)',@project_members.collect{|u|u.id}).collect {|un|[un.full_name,un.id]}),{:include_blank => true,:class => 'span3'} %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="span11">
  <% @project_members.each do |member| %>
    <%= hidden_field_tag "members[]",member.id,{:id => "project_member_#{member.id}"} %>
    <span class="label">
      <a href="#" id="Member-<%= member.id %>"<i class="icon-trash"></i></a>
      <%= member.full_name %>
    </span>
  <% end %>
  </div>
</div>
<script type="text/javascript">
 $("#member_select").select2({placeholder:"Select to add new project member"});
 function updateProjectmembers(func,userid){
   var values = [];
   values = $("[id^=project_member_]").map(function(){ return $(this).val() }).get();
   if (func == 'del'){
     values.splice($.inArray(userid, values),1);
   }else{
     values.push($('#member_select').val());
   }
   $.post('<%= url_for(:action=>:update_project_members_list) %>',{'members':values});
 }
 $("#member_select").change(function(){
   updateProjectmembers('add',$(this).val())
 });

 $("[id^=Member-]").click(function(){
   var userid =/Member-([^\s]+)/.exec( $(this).attr('id') )[1];
   updateProjectmembers('del',userid);
 });
</script>