<div class="row" id="row_show_<%= product_line.id %>" >
  <div class="span1">
      <div class="btn-group">
        <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
        Action
        <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to(action: 'show',controller: 'product_lines', id: product_line.id) do %>
            <i class="icon-info-sign"></i>&nbsp;show
            <% end %>
          </li>
          <% if env_production? %>
          <li>
            <%= link_to(action: 'edit',controller: 'product_lines', id: product_line.id) do %>
            <i class="icon-edit"></i>&nbsp;edit
            <% end %>
          </li>
          <% end %>
        </ul>
      </div>    
  </div>
  <div class="span2"><%= product_line.abbr %>&nbsp;</div>
  <div class="span2"><%= link_to product_line.product_line.abbr.to_s, :action => 'show', :id => product_line.parent_id if product_line.product_line%>&nbsp;</div>
  <div class="span3"><%= product_line.name %>&nbsp;</div>
  <div class="span1"><%= product_line.company_abbr.name if product_line.company_abbr %>&nbsp;</div>
  <div class="span1">
    <% active_icon_class = product_line.is_active ? 'icon-check' : 'icon-minus' %>
    <i class="icon <%= active_icon_class %>">&nbsp;</i>
  </div>
</div>