
  
  <div class="navbar secondnav">
    <div class="navbar-inner">
      <div class="container">
        <div class="brand"><strong>Product lines</strong></div>
        <div class="span12">
          <%= form_tag product_lines_path, method: 'get' do %>
            <%= hidden_field_tag :direction, params[:direction] %>
            <%= hidden_field_tag :sort, params[:sort] %>

            <div class="input-prepend input-append">
              <%= link_to "New", {action: "new"},{class: "btn btn-info"} if env_production? %>
                  <%= select_tag("search_active", options_for_select({"active" => 1, "inactive" => 0}, params[:search_active]), include_blank: true, class: 'span2', data: { placeholder: 'Active?'}) %>
                  <%= select_tag(:product_line, options_for_select([''] +  ProductLine.order("abbr").all.collect{|x|[x.abbr,x.id]}.sort, params[:product_line]),  :class =>'span3', data: { placeholder: 'Select Product line'}) %>
                  <%= text_field_tag :search, params[:search], placeholder: " search",class: "span2" %>
                    <%= button_tag "Search", name: nil, type: :submit, class: "btn" %>
                      <%= button_tag "Reset", name: 'reset',class: "btn",type: :submit %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>

  <div id="endless">
    <div class="row">
      <div class="offset1 span2"><strong><%= sortable 'abbr', 'Abbr' %></strong></div>
      <div class="span2"><strong><%= sortable 'product_lines.parent_id', 'Parent' %></strong></div>
      <div class="span3"><strong><%= sortable 'product_lines.name', 'Name' %></strong></div>
      <div class="span1"><strong><%= sortable 'company_abbrs.company_name','Company' %></strong></div>
      <div class="span1"><strong><%= sortable 'is_active', 'Active?' %></strong></div>
    </div>
    <%= render(partial: "product_line", collection: @product_lines) %>  
  </div>
  <%= will_paginate(@product_lines) %>
  <%= pageless(@product_lines.total_pages, product_lines_path, "#endless") %>


<script>
  $('#search_active').chosen({allow_single_deselect:true});
</script>
<script type="text/javascript">
  $("#product_line").chosen({placeholder: 'Select Product line',allow_single_deselect:true, search_contains: true  })
</script>
