<% @heading = "New product line" %>
<div class="row">
  <div class="span12 bounded bounded-headered">

    <div class="row bounded-header">
      <div class="span10"><h4><%= @heading %></h4></div>
    </div>
    <%= render 'form' %>
  </div>
</div>
<div class="row">
  <div class="span8">
    <%= link_to :back, :class => 'btn', :title => 'back' do %>
      <i class="icon-arrow-left"></i>
    <% end %>
    <%= link_to product_lines_path, :class => 'btn', :title => 'overview' do %>
      <i class="icon-arrow-up"></i>
    <% end %>
  </div>
</div>

