<div class="row">
  <div class="span11 bounded bounded-headered">

    <div class="row bounded-header">
      <div class="span10"><h4>Product line <%= @product_line.abbr %></h4></div>
    </div>
    <% if @product_line.parent_id %>
      <div class="row">
        <div class="span10">
          <b>Parent Product line</b>
        </div>
      </div>
      <div class="row">
        <div class="span10">
          <% pl = ProductLine.find(@product_line.parent_id) %>
          <%= link_to pl.abbr.to_s, :action => 'show', :id => pl.id %>
        </div>
      </div>
    <% end %>

     <% if @product_line.product_lines.size > 0 %>
      <div class="row">
        <div class="span10">
          <b>Descending Product lines</b>
        </div>
      </div>
      <div class="row">
        <div class="span10">
          <%  @product_line.product_lines.each do |pl| %>
            <div class="row">
              <div class="span12">
                <%= link_to pl.abbr.to_s, :action => 'show', :id => pl.id %>
              </div>
            <div>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="span2"><strong>Abbr</strong></div>
      <div class="span3"><strong>Name</strong></div>
      <div class="span3"><strong>Company</strong></div>
      <div class="span1"><strong>Active</strong></div>
    </div>
    <div class="row">
      <div class="span2"><%= @product_line.abbr %>&nbsp;</div>
      <div class="span3"><%= @product_line.name %>&nbsp;</div>
      <div class="span3"><%= @product_line.company_abbr.name if @product_line.company_abbr %>&nbsp;</div>
      <div class="span1"><%= bootstrap_boolean(@product_line.is_active) %></div>
    </div>
    <div class="row">
      <div class="span3"><strong>Project members</strong></div>
    </div>
    <div class="row">
      <div class="span11">
        <% @product_line.users.each do |member| %>
          <span class="label">
            <%= member.full_name %>
          </span>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="span11"><hr /></div>
    </div>
    <div class="row">
      <div class="span2 lead">
        Shipping
      </div>
    </div>
    <div class="row">
      <div class="span3"><strong>Shipping specification</strong></div>
    </div>
    <div class="row">
      <div class="span6"><%= @product_line.shipping_specification.name if @product_line.shipping_specification %>&nbsp;</div>
    </div>

    <div class="row">
      <div class="span11"><hr /></div>
    </div>
    <div class="row">
      <div class="span2 lead">
        Whitelists
      </div>
    </div>
    <div class="row">
      <div class="span3"><strong>Allowed Data</strong></div>

    </div>
    <div class="row">
      <span class="span2">
        <b>Supplier</b>
      </span>

      <span class="span2">
        <b>Datatype</b>
      </span>
      <span class="span2">
        <b>Region</b>
      </span>
      <span class="span2">
        <b>Filling (optional)</b>
      </span>
    </div>
    <% @product_line.product_line_allowed_data.each do |dt| %>
      <div class="row">

        <span class="span2">
          <%= dt.company_abbr.name %>
        </span>

        <span class="span2">
          <%= dt.data_type.name %>
        </span>
        <span class="span2">
          <%= dt.region.name %>
        </span>
        <span class="span2">
          <%= dt.filling.name if dt.filling%>
        </span>

      </div>

    <% end %>




    <div class="row">
      <div class="span11"><hr /></div>
    </div>
    <div class="row">
      <div class="span2 lead">
        Parameters
      </div>
      <div class="span5 lead">
        <%= link_to "#{@product_line.parameter_setting(session[:project_id]).name} v.#{@product_line.parameter_setting(session[:project_id]).version} #{@product_line.parameter_setting(session[:project_id]).status}", parameter_setting_path(@product_line.parameter_setting(session[:project_id]), :product_line_id => @product_line.id), {:target => '_blank'} if @product_line.parameter_setting(session[:project_id]) %>.
      </div>
    </div>
    <div class="row">
      <div class="span4 offset2"><strong>Parameter name</strong></div>
      <div class="span5"><strong>Value</strong></div>
    </div>
    <% exe = '' %>
    <% @parameter_settings.each do |parameter|%>
      <% if parameter["exe"] != exe %>
        <% exe = parameter["exe"] %>
        <div class="row"><div class="span2"><strong><%= parameter["exe"] %>:</strong></div> </div>
      <% end %>
      <div class="row">
        <div class="span4 offset2"><%= parameter["name"] %></div>
        <div class="span5"><%= parameter["value"] %></div>
      </div>
    <% end %>
    <div class="row">
      <div class="span5"><a href="#myModal" role="button" class="btn" data-toggle="modal">Show as JSON</a></div>
    </div>
    <div class="row">
      <div class="span11"><hr /></div>
    </div>

    <div class="row">
      <div class="span7">
        <p class="lead">Customer content definition</p>
      </div>
    </div>
    <div class="row">
      <div class="span1"><strong>ID</strong></div>
      <div class="span2"><strong>Name</strong></div>
      <div class="span3"><strong>Label</strong></div>
      <div class="span2"><strong>Output target</strong></div>
    </div>
    <% @product_line.customer_content_definitions.each do |customer_content_definition| %>
      <div class="row">
        <div class="span1"><%=  link_to customer_content_definition.id, customer_content_specification_path(customer_content_definition.customer_content_specification, product_line_id: @product_line.id),{:target => '_blank'} %></div>
        <div class="span2" id="specification_show_<%= customer_content_definition.customer_content_specification.id %>">
          <%= customer_content_definition.customer_content_specification.name %>&nbsp;
        </div>
        <div class="span3" id="definition_show_<%= customer_content_definition.id %>"><%= customer_content_definition.label %>&nbsp;</div>
        <div class="span2" id="definition_show_<%= customer_content_definition.id %>"><%= customer_content_definition.output_string %>&nbsp;</div>
      </div>
    <% end %>

  </div>
</div>

<div id="myModal" class="modal hide fade large" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="myModalLabel"><%= @product_line.parameter_setting(session[:project_id]).name if @product_line.parameter_setting(session[:project_id]) %></h4>
  </div>
  <div class="modal-body">
    <iframe scrollbars="auto"  width=100% height="400px" src="<%= url_for controller: :parameter_settings, action: :render_settings, id: @product_line.parameter_setting(session[:project_id]).id.to_s, format:'json', :version => @product_line.parameter_setting(session[:project_id]).version if @product_line.parameter_setting(session[:project_id]) %>"></iframe>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<div class="row">
  <div class="span10">
    <%= link_to :back, :class => 'btn', :title => 'back' do %>
      <i class="icon-arrow-left"></i>
    <% end %>
    <%= link_to product_lines_path, :class => 'btn', :title => 'overview' do %>
      <i class="icon-arrow-up"></i>
    <% end %>
    <%= link_to edit_product_line_path(@product_line), :class => 'btn', :title => 'edit' do %>
      <i class="icon-edit"></i>
    <% end %>
    <%= next_prev_button("prev") %>
    <%= next_prev_button("next") %>
  </div>
</div>






