<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

$('#projectMembers').html('<%= escape_javascript(render 'project_members', :object => @project_members ) %>');
