<%= form_for(@validation_job) do |f| %>
<%= f.hidden_field :lock_version %>
<%= f.hidden_field :project_id %>
  <div class="row">
    <div class="span5">
      <h4><%= @heading %></h4>
    </div>
  </div>


  <% if @validation_job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@validation_job.errors.count, "error") %> prohibited this validation_job from being saved:</h2>

      <ul>
      <% @validation_job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="span12 bounded">
      <div class="row">
        <div class="span1">
          <strong>Server</strong>
        </div>
        <div class="span2">
          <%= f.select :run_server , Server.allocated_to(session[:project_id]).where(active: true).order(:server_id).collect {|c| [c.server_id,c.server_name]},{include_blank: true}, :class => 'span2',:data => {:placeholder => 'Choose server manually'} %>
        </div>
        <div class="span6 offset3">
          <h5>Schedule options</h5>
        </div>
      </div>
      <div class="row">
        <div class="span2 offset6">
          <strong>Cores</strong>
        </div>
        <div class="span1">
          <%= f.number_field :schedule_cores, class: 'span1' %>
        </div>
        <div class="span2">
          <strong>Schedule manual</strong>
        </div>
        <div class="span1">
          <%= f.check_box :schedule_manual %>
        </div>
      </div>
      <div class="row">
        <div class="offset6 span2">
          <strong>Memory (MB)</strong>
        </div>
        <div class="span1">
          <%= f.number_field :schedule_memory, class: 'span1' %>
        </div>
        <div class="span2">
          <strong>Exclusive server usage</strong>
        </div>
        <div class="span1">
          <%= f.check_box :schedule_exclusive %>
        </div>
      </div>
      <div class="row">
        <div class="span1">
          <strong>Log</strong>
        </div>
        <div class="offset5 span2">
          <strong>Disk space (MB)</strong>
        </div>
        <div class="span1">
          <%= f.number_field :schedule_diskspace, class: 'span1' %>
        </div>
        <div class="span2">
          <strong>Can be run on virtual server</strong>
        </div>
        <div class="span1">
          <%= f.check_box :schedule_allow_virtual %>
        </div>
      </div>
      <div class="row">
        <div class="span12">
          <pre style="overflow-y:scroll;height:150px"><%= @validation_job.stdout_log %></pre>
        </div>
      </div>
      <div class="row">
        <div class="span2">
          <strong>Script</strong>
        </div>
      </div>
      <% if @script %>

        <div class="row">
          <div class="span2"><strong>Script comments</strong></div>
          <div class="span10">
            <%= text_area_tag "comments", nil, :rows => 3, :class => "span10" %>
          </div>
        </div>
        <div class="row">
          <div class="span2"><strong>Tag list</strong></div>
          <div class="span10">
            <%= text_field_tag "taglist", @script.tag_list_string, :class => "span10" %>
          </div>
        </div>
        <div class="row">
          <div class="span2"><strong>Dakota prefix workdir</strong></div>
          <div class="span10">
            <%= text_field_tag "working_dir_prefix", @script.working_dir_prefix, :class => "span10" %>
          </div>
        </div>
        <div class="row">
          <div class="span2"><strong>NDS_NUMPROCS</strong></div>
          <div class="span10">
            <%= text_field_tag "nds_numprocs", @script.number_of_update_regions, :class => "span10" %>
          </div>
        </div>
        <div class="row">
          <div class="span1"><strong>Dakotaprocs</strong></div>
          <div class="span1"><strong>Pre impr.</strong></div>
          <div class="span3">
            <%= text_field_tag "pre_improvement_steps", @script.pre_improvement_steps.join(" "), :class => "span3" %>
          </div>
          <div class="span1"><strong>Main</strong></div>
          <div class="span2">
            <%= text_field_tag "main_executable", @script.main_executable, :class => "span2" %>
          </div>
          <div class="span1"><strong>Post impr.</strong></div>
          <div class="span3">
            <%= text_field_tag "post_improvement_steps", @script.post_improvement_steps.join(" "), :class => "span3" %>
          </div>
        </div>
        <div class="row">
          <div class="span2"><strong>Tool release</strong></div>
          <div class="span4">
            <%= text_field_tag "conversiontool_code", @script.conversiontool_code, :class => "span4" %>
          </div>
          <div class="span2"><strong>Bundle</strong></div>
          <div class="span4">
            <%= text_field_tag "cvtool_bundle_name", @script.cvtool_bundle_name, :class => "span4" %>
          </div>
        </div>
        <div class="row">
          <div class="span2"><strong>Parameters</strong></div>
          <div class="span10">
            <%= text_area_tag "parameters", @script.parameters_to_dakota, :rows => 5, :class => "span10" %>
          </div>
        </div>
        <div class="row">
          <div class="span2"><strong>Data lines</strong></div>
          <div class="span10">
            <%= text_area_tag "data", @script.data_to_dakota, :rows => 5, :class => "span10" %>
          </div>
        </div>
        <div class="row">
          <div class="span12"><strong>Generated dakota script</strong>
            <pre id="generated_script" class="pre-scrollable"></pre>
          </div>
        </div>
        <%= f.hidden_field :run_script %>

      <% else %>

        <div class="row">
          <div class="span2">
            <strong>Dakota script</strong>
          </div>
        </div>
        <div class="row">
          <div class="span12">
            <%= f.text_area :run_script, rows: 15, class: 'span12' %>
          </div>
        </div>

      <% end %>
      <p>
        <%= f.submit "Execute", class: "btn" %>
        <%= f.submit "Schedule", class: "btn" %>
        <%= f.submit "Save", class: "btn" %>
      </p>
    </div>
  </div>
<% end %>

<script>
  $('#validation_job_run_server').select2({allow_single_deselect:true});

  <% if @script %>
    $(function(){
      scriptobj = JSON.parse(unescape("<%= escape_javascript @script.to_json.html_safe %>"));
      if ($('#comments').val() == "")
      {
        scriptobj.comments = []
      } else {
        scriptobj.comments = $('#comments').val().split('\n');
      }
      scriptobj.tag_list_string = $('#taglist').val();
      scriptobj.working_dir_prefix = $('#working_dir_prefix').val();
      scriptobj.number_of_update_regions = $('#nds_numprocs').val();
      var v = $('#pre_improvement_steps').val().trim();
      scriptobj.pre_improvement_steps = str_to_array($('#pre_improvement_steps').val());
      scriptobj.main_executable = $('#main_executable').val();
      scriptobj.post_improvement_steps = str_to_array($('#post_improvement_steps').val());
      scriptobj.conversiontool_code = $('#conversiontool_code').val();
      scriptobj.cvtool_bundle_name = $('#cvtool_bundle_name').val();
      scriptobj.parameters = parameters_to_array($('#parameters').val());
      scriptobj.data = data_to_array($('#data').val());
      update_script();
    });

    $('#comments').change( function(){
      if ($(this).val() == "")
      {
        scriptobj.comments = []
      } else {
        scriptobj.comments = $(this).val().split('\n');
      }
      update_script();
    });

    $('#taglist').change(function(){
      scriptobj.tag_list_string = $(this).val();
      update_script();
    }); 

    $('#working_dir_prefix').change(function(){
      scriptobj.working_dir_prefix = $(this).val();
      update_script();
    });

    $('#nds_numprocs').change(function(){
      scriptobj.number_of_update_regions = $(this).val();
      update_script();
    });

    $('#pre_improvement_steps').change(function(){
      scriptobj.pre_improvement_steps = str_to_array($(this).val())
      update_script();
    });

    $('#main_executable').change(function(){
      scriptobj.main_executable = $(this).val();
      update_script();
    });

    $('#post_improvement_steps').change(function(){
      scriptobj.post_improvement_steps = str_to_array($(this).val());
      update_script();
    });

    $('#conversiontool_code').change(function(){
      scriptobj.conversiontool_code = $(this).val();
      update_script();
    });

    $('#cvtool_bundle_name').change(function(){
      scriptobj.cvtool_bundle_name = $(this).val();
      update_script();
    });

    $('#parameters').change(function(){
      scriptobj.parameters = parameters_to_array($(this).val());
      update_script();
    });

    $('#data').change(function(){
      scriptobj.data = data_to_array($(this).val());
      update_script();
    });

    function str_to_array(s)
    {
      var v = s.trim();
      if (v) {
        return v.split(" ");
      } else {
        return []
      }
    }

    function parameters_to_array(s)
    {
      var result = [];
      var lines = s.split('\n');
      for (var i = 0, l = lines.length; i < l; i++)
      {
        var line = lines[i].trim();
        if (line)
        {
          var m = line.match(/^(\S+)\s+(\S+)\s+(.*)$/);
          m.shift(); // the first element is the complete line, remove it
          result.push(m);
        }
      }
      return result;
    }

    function data_to_array(s)
    {
      var result = [];
      var lines = s.split('\n');
      for (var i = 0, l = lines.length; i < l; i++)
      {
        var line = lines[i].trim();
        if (line)
        {
          var m = line.match(/^(\S+)\s+(.*)$/);
          m.shift(); // the first element is the complete line, remove it
          result.push(m);
        }
      }
      return result;
    }

    function update_script()
    {
      $.post('<%= url_for(:action => :generated_script, :id => @validation_job.id) %>', {script: $.toJSON(scriptobj)},
             function(data){
        $('#run_script').val($.toJSON(scriptobj));
        $('#generated_script').html(data);
      });
    }
  <% end %>
</script>
