<div class="row" id="row_show_<%= validation_job.id %>">
  <div class="span1">
    <div class="btn-group">
      <%= conversion_database_action_link(validation_job) %>
      <ul class="dropdown-menu">
        <li>
          <%= link_to(validation_job) do %>
          <i class="icon-info-sign"></i>&nbsp;show
          <% end %>
        </li>
        <% if validation_job.allow_edit? %>
        <li>
          <%= link_to(edit_validation_job_path(validation_job)) do %>
          <i class="icon-edit"></i>&nbsp;edit
          <%  end %>
        </li>
        <% end %>
        <% if validation_job.allow_reschedule? && !validation_job.allow_edit? %>
        <li>
          <%= link_to edit_new_copy_validation_job_path(validation_job), :method => :post do %>
          <i class="icon-edit"></i>&nbsp;edit new copy
          <% end %>
        </li>
        <% end %>
        <% if validation_job.allow_cancel? %>
          <li>
            <%= link_to cancel_validation_job_path(validation_job, {:lock_version => validation_job.lock_version.to_s}), :method => :post  do %>
            <i class="icon-off"></i>&nbsp;cancel
            <%  end %>
          </li>
         <% end  %>
      </ul>
    </div>
  </div>

  <div class="span1">
    <%= validation_job.id %>
  </div>

  <div class="span2">
    <%= validation_job.status_str %>
  </div>

  <div class="span4">
    <%= link_to conversion_database_path(validation_job.conversion_database.id),:target => '_blank' do %>
      <%= "#{validation_job.conversion_database.id} | #{validation_job.conversion_database.shortest}" %>
    <% end %>
  </div>

  <div class="span1">
    <%= validation_job.run_server %>
  </div>

  <div class="span1 no-wrap" >
    <%= validation_job.start_time.strftime("%d-%m-%y %H:%M") if validation_job.start_time %>&nbsp;
  </div>

  <div class="span1 no-wrap">
    <%= validation_job.finish_time.strftime("%d-%m-%y %H:%M") if validation_job.finish_time %>&nbsp;
  </div>
</div>
