<% @heading = "New Validation Job" %>
<%= render 'form' %>
<div class="row">
  <div class="span10">
    <%= link_to :back, :class => 'btn', :title => 'back' do %>
      <i class="icon-arrow-left"></i>
    <% end %>
    <%= link_to validation_jobs_path, :class => 'btn', :title => 'overview' do %>
      <i class="icon-arrow-up"></i>
    <% end %>
  </div>
</div>
