<div class="modal hide fade extra-large" id="action-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4><%= @validation_job.working_dir  %></h4>
  </div>
</div>

<div class="row">
  <div class="span12">
    <div class="row">
      <div class="span2">Status &nbsp;<span class="label label-info"><%= @validation_job.status_str %></span></div>
      <% if @validation_job.original_job  %>
        <div class="span2">Original job&nbsp;<%= link_to @validation_job.original_job_id, validation_job_path(@validation_job.original_job) %></div>
      <% end %>
      <% if @validation_job.derived_job  %>
        <div class="span2">Derived job&nbsp;<%= link_to @validation_job.derived_job.id, validation_job_path(@validation_job.derived_job) %></div>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="span3"><h4>Validation job <%= @validation_job.id %></h4></div>
</div>

<% if !@validation_job.fail_reason.blank? %>
  <div class="row">

    <div class="alert alert-error span12" style="padding-right: 0px">
      <button type="button" class="close" data-dismiss="alert" style="right: 5px;top: -5px">&times;</button>
      <strong>Fail reason</strong><br />
      <%= @validation_job.fail_reason %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="span12 bounded well-small">
    <div class="row">
      <div class="span2"><strong>Conversion database ID</strong></div>
      <div class="span10"><strong>Filename</strong></div>
    </div>
    <div class="row">
      <div class="span2">
        <%= link_to edit_conversion_database_path(@validation_job.conversion_database.id, {:target => '_blank'}) do %>
          <%= @validation_job.conversion_database.id %>
        <% end %>&nbsp;
      </div>
      <div class="span10"><%= @validation_job.conversion_database.path_and_file %>&nbsp;</div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
      <div class="span2"><strong>Server</strong></div>
      <div class="span2"><strong>Process ID (PID)</strong></div>
      <div class="span8"><strong>Run command</strong></div>
    </div>
    <div class="row">
      <div class="span2"><%= @validation_job.run_server %>&nbsp;</div>
      <div class="span2"><%= @validation_job.run_pid %>&nbsp;</div>
      <div class="span8"><%= @validation_job.run_command %>&nbsp;</div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
      <div class="span2"><strong>Exit code</strong></div>
      <div class="span2"><strong>Started at</strong></div>
      <div class="span2"><strong>Finished at</strong></div>
      <div class="span6"><strong>Work directory</strong></div>
    </div>
    <div class="row">
      <div class="span2"><%= @validation_job.exitcode %>&nbsp;</div>
      <div class="span2"><%= @validation_job.start_time.localtime.strftime("%d %b %Y %T") if @validation_job.start_time %>&nbsp;</div>
      <div class="span2"><%= @validation_job.finish_time.localtime.strftime("%d %b %Y %T") if @validation_job.finish_time %>&nbsp;</div>
      <div class="span6"><%= @validation_job.working_dir %>&nbsp;</div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
      <div class="span3 well well-small">
        <div class="row">
          <div class="span2"><strong>Schedule options</strong></div>
        </div>
        <div class="row">
          <div class="span2"><small>Cores&nbsp;scheduled:</small></div>
          <div class="span1"><small><%= @validation_job.schedule_cores %></small></div>
        </div>
        <div class="row">
          <div class="span2"><small>Memory&nbsp;scheduled:</small></div>
          <div class="span1"><small><%= @validation_job.schedule_memory %></small></div>
        </div>
        <div class="row">
          <div class="span2"><small>Disk&nbsp;space&nbsp;scheduled:</small></div>
          <div class="span1"><small><%= @validation_job.schedule_diskspace %></small></div>
        </div>
        <div class="row">
          <div class="span2"><small>Manual&nbsp;scheduled:</small></div>
          <div class="span1"><small><%= bootstrap_boolean(@validation_job.schedule_manual) %></small></div>
        </div>
        <div class="row">
          <div class="span2"><small>Exclusive&nbsp;scheduled:</small></div>
          <div class="span1"><small><%= bootstrap_boolean(@validation_job.schedule_exclusive) %></small></div>
        </div>
        <div class="row">
          <div class="span2"><small>Virtual&nbsp;scheduled:</small></div>
          <div class="span1"><small><%= bootstrap_boolean(@validation_job.schedule_allow_virtual,'Allow virtual scheduling ?') %></small></div>
        </div>
        <div class="row">
          <div class="span2"><small>Estimated duration:</small></div>
          <div class="span1">
            <small>
              <% if  @validation_job.estimated_duration && @validation_job.estimated_duration > 0 %>
                <%= distance_of_time_in_words(Time.at(0), Time.at(@validation_job.estimated_duration * 60)) %>
              <% else %>
                Not known
              <% end %>
            </small>
          </div>
        </div>
      </div>

      <div class="span9 pull-right" style="max-width: 850px">
        <pre class="pre-scrollable" style="height: 163px">
          <%= @validation_job.stdout_log %>
        </pre>
      </div>
    </div>

    <div class="row">
      <div class="span12"><strong>Script</strong>
        <pre class="pre-scrollable"><%= @validation_job.job_script ? @validation_job.job_script.to_script("VALIDATION_JOB_ID", @validation_job.id) : @validation_job.run_script %></pre>
      </div>
    </div>

    <br />
    <div class="row">
      <div class="span11">
        <%= link_to 'Cancel Job', cancel_validation_job_path(@validation_job,  :lock_version => @validation_job.lock_version), :class => 'btn btn-small disabled',:id => 'vj_cancel', :method => :post %>

        <%= link_to 'Clean working dir', clean_working_dir_validation_job_path(@validation_job), :class => 'btn btn-small disabled', :method => :post, :id => "vj_clean_working_dir" %>

        <%= link_to 'Edit new copy', edit_new_copy_validation_job_path(@validation_job), :class => 'btn btn-small disabled', :method => :post, :id => "vj_edit_new_copy" %>

        <%= link_to 'Reschedule', reschedule_validation_job_path(@validation_job, :lock_version => @validation_job.lock_version), :class => 'btn btn-small disabled', :method=> :post, :id => "vj_reschedule" %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <%= link_to :back, :class => 'btn',:title => 'back' do %>
      <i class="icon-arrow-left"></i>
    <% end %>
    <%= link_to validation_jobs_path,:class => 'btn', :title => 'overview' do %>
      <i class="icon-arrow-up"></i>
    <% end %>
    <% if @validation_job.allow_edit? %>
      <%= link_to edit_validation_job_path(@validation_job),{:class => 'btn', :title => 'edit'} do %>
        <i class="icon-edit"></i>
      <% end %>
    <% end %>
    <a class="accordion-toggle btn" data-toggle="collapse" data-parent="#accordion2" href="#collapseLog" id="action-log">
      <i class="icon icon-list" title="Action log"></i>
    </a>
    <a class="accordion-toggle btn" data-toggle="collapse" data-parent="#accordion3" href="#collapseScheduleLog" id="scheduler-log">
      <i class="icon icon-hdd" title="Scheduler log"></i>
    </a>

    <%= next_prev_button("prev") %>
    <%= next_prev_button("next") %>
    <div id="collapseScheduleLog" class="accordion-body collapse">
      <div class="accordion-inner">
        <strong>Scheduler log</strong>
        <pre class="real-pre"><%= @validation_job.scheduler_log %></pre>
      </div>
    </div>
    <div id="collapseLog" class="accordion-body collapse">
      <div class="accordion-inner">
        <strong>Action log</strong>
        <pre class="real-pre"><%=  @validation_job.action_log %></pre>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
<% if @validation_job.allow_cancel? %>
    $('#vj_cancel').removeClass("disabled");
<% end %>
<% if @validation_job.allow_cleanup? %>
    $('#vj_move_to_crashed').removeClass("disabled");
    $('#vj_clean_working_dir').removeClass("disabled");
<% end %>
<% if @validation_job.allow_reschedule? && !@validation_job.allow_edit? %>
    $('#vj_edit_new_copy').removeClass("disabled");
    $('#vj_reschedule').removeClass("disabled");
<% end %>

  $('a.disabled').click(function(e) {
    // Disable links for disabled buttons
    e.preventDefault();
    return false
  });

  $("#collapseScheduleLog").on('shown', function() {
    $('html, body').animate({scrollTop:$(document).height()}, 'slow');
    return false;
  })
</script>
