<%= form_for(@dashboard_widget) do |f| %>
  <% if @dashboard_widget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dashboard_widget.errors.count, "error") %> prohibited this dashboard_widget from being saved:</h2>

      <ul>
      <% @dashboard_widget.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :width_css_class %><br />
    <%= f.text_field :width_css_class %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :refresh_time %><br />
    <%= f.text_field :refresh_time %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
