<h1>Listing dashboard_widgets</h1>

<table>
  <tr>
    <th>Width css class</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dashboard_widgets.each do |dashboard_widget| %>
  <tr>
    <td><%= dashboard_widget.width_css_class %></td>
    <td><%= dashboard_widget.name %></td>
    <td><%= link_to 'Show', dashboard_widget %></td>
    <td><%= link_to 'Edit', edit_dashboard_widget_path(dashboard_widget) %></td>
    <td><%= link_to 'Destroy', dashboard_widget, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dashboard widget', new_dashboard_widget_path %>
