<p id="notice"><%= notice %></p>

<p>
  <b>Width css class:</b>
  <%= @dashboard_widget.width_css_class %>
</p>

<p>
  <b>Name:</b>
  <%= @dashboard_widget.name %>
</p>


<%= link_to 'Edit', edit_dashboard_widget_path(@dashboard_widget) %> |
<%= link_to 'Back', dashboard_widgets_path %>
