<%= javascript_include_tag "dashboard_grids/jquery.flot.min" %>
<%= javascript_include_tag "dashboard_grids/jquery.flot.stack" %>
<div id="stackchart" class="center" style="height:300px;"></div>

<script type="text/javascript">
  /* ---------- Stack chart ---------- */
 (function($) {
    var series = [{
        data: [
            [0, 100],
            [1, 150],
            [2, 125],
            [3, 160],
            [4, 95]
        ],
        label: "demo 1"
    },
    {
        data: [
            ["x", 20],
            ["z", 35],
            [2, 20],
            [3, 35],
            [4, 35]
        ],
        label: "demo 2"
    }, {
        data: [
            ["x", 55],
            ["z", 40],
            [2, 60],
            [3, 10],
            [4, 20]
        ],
        label: "demo 3"
    }];

    var options = {
        xaxis: {
            minTickSize: 1
        },
        series: {
            bars: {
                show: true,
                barWidth: .9,
                align: "center"
            },
            stack: true
        }
    };

    $.plot("#stackchart", series, options);
 })(jQuery);
</script>