<style type="text/css">
  .row-fluid [class*="span"]{
    min-height: 18px;
    line-height: 12px;
  }
</style>
<% poid = 0 %>
<div style="margin-top: auto;margin-bottom: auto">
  <table class="table table-condensed table-striped table-hover"  style="font-size: smaller;vertical-align: middle;display: table-cell;">
    <% @production_order_lines.each do |pol| %>
      <% if poid != pol.production_order_id %>
        <% poid = pol.production_order_id %>
        <th colspan="3">
          <%= link_to(pol.production_order_id,{:controller => :production_orders, :id=> pol.production_order_id,:action =>:show},{:target => '_blank'}) %>
          <%=  pol.production_order.name %> -
          <small><%= pol.production_order.bp_name %></small>
        </th>
    <th>
    <% if !pol.outbound_orderlines.empty? %>
        Shipping(s)
        <% end %>
        </th>
        <th>&nbsp;</th>
      <% end %>
      <tr>
        <td><%= raw('&nbsp;'*6) %></td>
        <td>
          <small><%= pol.product_id %> <%= pol.product.name if pol.product %>&nbsp;</small>
        </td>
        <td>
          <small><%= pol.bp_name %></small>
        </td>
        <td>
          <small>
            <% pol.outbound_orderlines.each do |oo| %>
              <%= link_to(oo.outbound_order_id,{:action => :show,:controller => :outbound_orders,:id => oo.outbound_order_id},{:target => '_blank'}) %>
              <%= "#{oo.outbound_order.send_date} #{oo.outbound_order.contact_person}" %><br />
            <% end %>
            &nbsp;
          </small>
        </td>
        <td>
          <% if (pol.production_order.modified_commitment_date)&&(pol.production_order.modified_commitment_date <= Date.current - 7.days)&&(pol.bp_name != 'COMPLETE' && pol.bp_name != 'SHIPPED')  %>
            <i style="color:red" class="icon-warning-sign" title="Commited on <%= pol.production_order.modified_commitment_date.strftime("%a %d %B %Y")  %>">
              &nbsp;
            </i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

