<style type="text/css">
  .row-fluid [class*="span"]{
    min-height: 18px;
    line-height: 12px;
  }
</style>
<div style="margin-top: auto;margin-bottom: auto">
  <table class="table table-condensed table-striped table-hover"  style="font-size: smaller;vertical-align: middle;display: table-cell;" id="data-matrix">
    <thead>
      <th>Order</th>
      <th>Production orderline</th>
      <th class="vertical" style="width: 10px;">
           Queued job
       </th>
      <th class="vertical" style="width: 10px;">
          Hold job
      </th>
      <th class="vertical" style="width: 10px;">
        Manual job
      </th>
      <th class="vertical" style="width: 10px;">
          Proc. job
      </th>
      <th class="vertical" style="width: 10px;">
          Failed job
      </th>
      <th class="vertical" style="width: 10px;">
        Cancelled job
      </th>
      <th class="vertical" style="width: 10px;">
          Complete job
      </th>
      <th class="vertical" style="width: 10px;">
          Due date
      </th>
    </thead>
    <% @production_orderlines.each do |pol| %> 
      <tr>
        <td>
          <% if can?(:manage, pol.production_order) %>
            <%= link_to pol.production_order.id, manage_production_order_path(pol.production_order), {:target => '_blank'} %>
          <% else %>
            <%= link_to pol.production_order.id, production_order_path(pol.production_order), {:target => '_blank' } %>
          <% end %>
        </td>
        <td>
          <% if pol.product %>
            <small><%= link_to pol.product_id, product_path(pol.product.id), {:target => '_blank'} %> <%=pol.product.name %></small>
          <% else %>
            <small><%= pol.production_order.name %></small>
          <% end %>
        </td>
        <td>
          <%= pol.conversion_jobs.where("jobs.status <= #{Job::STATUS_QUEUED}").count %>
        </td>
        <td>
          <%= pol.conversion_jobs.where(:status => Job::STATUS_HOLD).count %>
        </td>
        <td>
          <%= pol.conversion_jobs.where(:status => Job::STATUS_MANUAL).count %>
        </td>
        <td>
          <%= pol.conversion_jobs.where(:status => Job::STATUS_PROCESSING).count %>
        </td>
        <td>
          <%= pol.conversion_jobs.where(:status => Job::STATUS_FAILED).count %>
        </td>
        <td>
          <%= pol.conversion_jobs.where(:status => Job::STATUS_CANCELLED).count %>
        </td>
        <td>
          <%= pol.conversion_jobs.where(:status => Job::STATUS_COMPLETE).count %>
        </td>
        <td>
          <% if (pol.production_order.committed_del_date)&&(pol.production_order.committed_del_date <= Date.current - 7.days)&&(pol.bp_name != 'COMPLETE' && pol.bp_name != 'SHIPPED')  %>
            <i style="color:red" class="icon-warning-sign" title="Commited on <%= pol.production_order.committed_del_date.strftime("%a %d %B %Y")  %>"></i>
          <% else %>
            &nbsp;
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<script type="text/javascript">
  (function ($) {
    $.fn.rotateTableCellContent = function (options) {
      var cssClass = ((options) ? options.className : false) || "vertical";

      var cellsToRotate = $('.' + cssClass, this);

      var betterCells = [];
      cellsToRotate.each(function () {
        var cell = $(this)
        , newText = cell.text()
        , height = cell.height()
        , width = cell.width()
        , newDiv = $('<div>', { height: width, width: "10" })
        , newInnerDiv = $('<div>', { text: newText, 'class': 'rotated' });

        newInnerDiv.css('-webkit-transform-origin', (width / 2 ) + 'px ' + (width / 2 + 2) + 'px');
        newInnerDiv.css('-moz-transform-origin', (width / 2 -2) + 'px ' + (width / 2 + 2) + 'px');
        newDiv.append(newInnerDiv);
        betterCells.push(newDiv);
      });

      cellsToRotate.each(function (i) {
        $(this).html(betterCells[i]);
      });
    };
  })(jQuery);

  $('#data-matrix').rotateTableCellContent();
</script>