<div>
  <% @arr.each do |ol| %>
    <% if !ol.nil? %>
      <% barcss = "progress-info" %>

      <% if (ol[1] <= 13) %>
        <%barcss = "progress-danger" %>
      <% elsif (ol[1] >= 75)&&(ol[1] < 99) %>
         <%barcss = "progress-warning" %>
      <% elsif (ol[1] > 99) %>
         <%barcss = "progress-success" %>
      <% end %>
      <%= ol[2] %>
      <div class="progress <%= barcss %>">
        <small style="font-size: 8px;">&nbsp;<%= ol[3] %></small>
        <div class="bar" style="width: <%= number_to_percentage(ol[1],:precision=> 0) %>"><small>&nbsp;<%= ol[0] %></small></div>
      </div>
    <%end%>
  <% end %>
</div>