<div style="margin-top: auto;margin-bottom: auto">
  <table class="table table-condensed table-striped table-hover table-bordered" style="font-size: smaller;vertical-align: middle;display: table-cell;">
    <thead class="info">
      <tr>
        <th><%= raw @serverdata.collect{|s|"#{s[0]}"}.join('</th><th>') %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @serverdata.collect{|s|s[2]}.each do |row| %>
          <td>
            <% row.each do |r| %>
              <% if !r.nil? %>
                <% r.each do |c| %>
                  <% if r[0] %>
                    <%=  link_to(c[0],{:controller => :conversions,:action => :show,:id => c[0]},{:target=>"_blank",:title=>c[1]} ) %><br />
                  <%end%>
                <% end %>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>