<%= javascript_include_tag "dashboard_grids/jquery.flot.min" %>
<%= javascript_include_tag "dashboard_grids/jquery.flot.pie.min" %>
<div id="piechart" style="height:280px"></div>
Period: <%=(Time.now - 30.days).strftime("%d %B %Y ") %> - <%= Time.now.strftime("%d %B %Y ") %>

<script type="text/javascript">
  /* ---------- Pie chart ---------- */

	var data = eval('(<%= raw @pie_data.to_json %>)');

	if($("#piechart").length)
	{
		$.plot($("#piechart"), data,
		{
			series: {
					pie: {
							show: true
					}
			},
			grid: {
					hoverable: true,
					clickable: true
			},
			legend: {
				show: false
			},
			colors: ["#4BB1CF","green","orange","red" ]
		});

		function pieHover(event, pos, obj)
		{
			if (!obj)
					return;
			percent = parseFloat(obj.series.percent).toFixed(2);
			$("#hover").html('<span style="font-weight: bold; color: '+obj.series.color+'">'+obj.series.label+' ('+percent+'%)</span>');
		}
		$("#piechart").bind("plothover", pieHover);}
</script>