<%= form_for(@purchase_order) do |f| %>
  <% if @purchase_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase_order.errors.count, "error") %> prohibited this purchase_order from being saved:</h2>

      <ul>
      <% @purchase_order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :purchase_reference %><br />
    <%= f.text_field :purchase_reference %>
  </div>
  <div class="field">
    <%= f.label :date_ordered %><br />
    <%= f.date_select :date_ordered %>
  </div>
  <div class="field">
    <%= f.label :date_paid %><br />
    <%= f.date_select :date_paid %>
  </div>
  <div class="field">
    <%= f.label :date_received %><br />
    <%= f.date_select :date_received %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.number_field :status %>
  </div>
  <div class="field">
    <%= f.label :remarks %><br />
    <%= f.text_area :remarks %>
  </div>
  <div class="field">
    <%= f.label :deleted %><br />
    <%= f.check_box :deleted %>
  </div>
  <div class="field">
    <%= f.label :external_contact_id %><br />
    <%= f.text_field :external_contact_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
