<%= wicked_pdf_stylesheet_link_tag "pdf/pdf" %>

<div class="PDF" style="float:left;color:gray"><%= wicked_pdf_image_tag("mapscapelogo4docs.png", :height => '35px') if params[:format] == "pdf" %><%= image_tag("mapscapelogo4docs.png", :height => '35px') if params[:format].nil? %><br />www.mapscape.eu</div>
<div style="float:right"><h1 class="PDF">Purchase Order</h1>
<% 5.times do %><br /><%  end %>  <!-- space for window envelope -->
  <table class="noborder">
    <tr>
      <td>PO Number:</td>
      <td><%= @purchase_order.purchase_reference %></td>
    </tr>
    <tr>
      <td>Date:</td>
      <td><%= Time.now().strftime("%d-%m-%Y") %></td>
    </tr>
    <tr>
      <td colspan="2"><i style="font-size: smaller">The P.O. number must appear<br />on all related correspondence,<br />shipping papers, and invoices.</i></td>
    </tr>
  </table>
</div>
<% 9.times do %><br /><%  end %> <!-- space for window envelope -->
<p>
<% 8.times do %>&nbsp;<% end %>
<%= @purchase_order.external_contact.company.name %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= @purchase_order.external_contact.salutation.to_s + ' ' if @purchase_order.external_contact.salutation %>
<%= @purchase_order.external_contact.first_name %>&nbsp;<%=h @purchase_order.external_contact.last_name%><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= @purchase_order.external_contact.primary_address_street %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= @purchase_order.external_contact.primary_address_postalcode %>&nbsp;
<%= @purchase_order.external_contact.primary_address_city %><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= @purchase_order.external_contact.primary_address_country %></p>
<% 3.times do %><br /><%  end %><hr />

<table class="noborder-small" align="center" >
  <tr>
    <td style="width:60pt;">INVOICE TO:</td>
    <td style="width:80pt;">Mapscape BV</td>
    <td style="width:40pt;">BUYER:</td>
    <td>Mapscape BV</td>
    <td>Telephone:</td>
    <td>+31(0)40 711500</td>
  </tr>
  <tr>
    <td />
    <td>Margo van Ooijen</td>
    <td />
    <td><%= @purchase_order.user.full_name %></td>
    <td />
    <td />
  </tr>
  <tr>
    <td />
    <td>Luchthavenweg 34</td>
    <td />
    <td>Luchthavenweg 34</td>
    <td>Supplier contact:</td>
    <td><%= @purchase_order.external_contact.email %></td>
  </tr>
  <tr>
    <td/>
    <td>5657 EB Eindhoven</td>
    <td/>
    <td>5657 EB Eindhoven</td>
    <td>Invoice contact:</td>
    <td>invoices@mapscape.eu</td>
  </tr>
  <tr>
    <td/>
    <td>The Netherlands</td>
    <td/>
    <td>The Netherlands</td>
    <td>Buyer contact:</td>
    <td>orders@mapscape.eu</td>
  </tr>
</table>
<hr />
<br />
<table class="linetable">
  <tr>
    <th>item description</th>
    <th>supplier item code</th>
    <th style="text-align:right;">quantity</th>
    <th style="text-align:right;">unit price</th>
    <th style="text-align:right;">total</th>
  </tr>
  <% total_sum = 0 %>
  <% @purchase_order.purchase_orderlines.each do |pol| %>
    <% subtotal_amount = pol.quantity %>
    <% unless (subtotal_amount == 0) %>
      <tr>
        <td style="vertical-align: top"><%= pol.item_description %><br /><%= @purchase_order.date_ordered.strftime("%B %Y") %></td>
        <td style="vertical-align: top"><%= simple_format(pol.included_article_license_purchase_orderlines.collect {|ialpo|ialpo.article.customer_reference}.uniq.join("\n")) %></td>
        <% subtotal_sum = subtotal_amount * pol.unit_price %>
        <% total_sum += subtotal_sum %>

        <td style="vertical-align: top;text-align:right;"><%=h subtotal_amount %></td>
        <td style="vertical-align: top;text-align:right;"><%=h number_to_currency(pol.unit_price, :unit => '€ ') %></td>
        <td style="vertical-align: top;text-align:right;"><%=h number_to_currency(subtotal_sum, :unit => '€ ') %></td>
      </tr>
    <% end %>
  <% end %>
  <tr>
    <td colspan="4">&nbsp;</td>
    <td><hr /></td>
  </tr>
  <tr>
    <td colspan="4">&nbsp;</td>
    <td style="text-align:right"><%= number_to_currency(total_sum, :unit => "€ ") %></td>
  </tr>
</table>

<% if @purchase_order.remarks != "" %>
  <br /><br />
  <b>Remarks</b><br />
  <pre><%=  @purchase_order.remarks %></pre><br />
<% else %>
  <br /><br />
<% end %>
<br /><br /><br />
<table class="linetable">
  <tr>
    <td style="vertical-align:top; font-size: xx-small; width: 203pt;">The general purchase conditions of Mapscape,<br />as specified on our website; www.mapscape.eu<br /> apply to this purchase.<br /><br /></td>
    <td style="vertical-align: top;border: 1px solid lightgray;">Authorized signature(s)<br />&nbsp;<br />&nbsp;<br />&nbsp;</td>
  </tr>
</table>


