<div class="row" id="row_show_<%= purchase_order.id %>">
  <div class="span1">
    <div class="btn-group">
      <a class="btn btn-mini btn-info dropdown-toggle" data-toggle="dropdown" href="#">
        Action
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to purchase_order do %>
            <i class="icon-info-sign"></i>&nbsp;show
          <% end %>
        </li>
        <li>
          <% if purchase_order.status < 30 %>
            <%= link_to(:controller => :purchase_orders,:action => :change_status,:id => purchase_order.id,:status => 30) do %>
              <i class="icon-ok-sign"></i>&nbsp;Set invoice settled
            <% end %>
          <% end %>
        </li>
        <% if purchase_order.status != 999 %>
        <li>
            <%= link_to({:controller => :purchase_orders,:action => :change_status,:id => purchase_order.id,:status => 999},data: { confirm: 'Are you sure to delete this purchase order?' }) do %>
              <i class="icon-remove"></i>&nbsp;Delete purchase
            <% end %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="span1">&nbsp;<%= purchase_order.id %></div>
  <div class="span2">&nbsp;<%= purchase_order.purchase_reference %></div>
  <div class="span3">&nbsp;<%= purchase_order.external_contact.full_name %></div>
  <div class="span1">&nbsp;<%= purchase_order.date_ordered %></div>
  <div class="span1">&nbsp;<%= purchase_order.date_paid %></div>
  <div class="span1">&nbsp;<%= purchase_order.date_received %></div>
  <div class="span1">&nbsp;<%= purchase_order.statusstr if purchase_order.status %></div>
  <div class="span1"><span class="pull-right"><%= number_to_currency(purchase_order.purchase_orderlines.collect{|pol|pol.quantity * pol.unit_price}.sum.to_f,:unit => '€ ') %></span></div>
</div>