<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand"><strong>Purchase orders</strong></div>
      <div class="span">
        <%= form_tag purchase_orders_path, :method => 'get' do %>
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <div class="input-prepend input-append">
            <!-- new-button hidden, but in code for future usage -->
            <%= link_to 'New', new_purchase_order_path,:class => 'btn btn-info hidden' %>
            <%= text_field_tag :search, params[:search],:class => 'span3',:placeholder => 'Free search' %>
            <%= button_tag "Search", :name => nil, :type => :submit, :class => "btn" %>
            <%= button_tag "Reset", :name => 'reset',:class=>"btn",:type=>:submit %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="endless">
  <div class="row">
    <div class="offset1 span1"><strong><%= sortable "purchase_orders.id", 'ID' %></strong></div>
    <div class="span2"><strong><%= sortable "purchase_orders.purchase_reference", 'Purchase reference' %></strong></div>
    <div class="span3"><strong><%= sortable "purchase_orders.external_contact_id", 'Contact' %></strong></div>
    <div class="span1"><strong><%= sortable "purchase_orders.date_ordered", 'Ordered' %></strong></div>
    <div class="span1"><strong><%= sortable "purchase_orders.date_paid", 'Paid' %></strong></div>
    <div class="span1"><strong><%= sortable "purchase_orders.date_paid", 'Received' %></strong></div>
    <div class="span1"><strong><%= sortable "purchase_orders.status", 'Status' %></strong></div>
    <div class="span1"><strong>Total&nbsp;Purchase</strong></div>
  </div>
  <%= render(:partial => "purchase_order", :collection => @purchase_orders) %>
</div>
<%= will_paginate(@purchase_orders) %>
<%= pageless(@purchase_orders.total_pages, url_for(:action => :index,:controller => :purchase_orders), "#endless") %>