<p id="notice"><%= notice %></p>
<div class="row">
  <div class="span12">
    <span class="label label-info"><%= @purchase_order.statusstr %></span>
  </div>
</div>
<div class="row">
  <div class="span9 bounded" style="padding-right: 30px;padding-left: 30px">
    <%= render(:partial => "html_and_pdf_po", :object => @purchase_order) %>
  </div>
</div>
<div class="row">
  <div class="span12">
  <%= link_to 'PDF',purchase_order_path(@purchase_order,:format => 'pdf') %> |
  <%= link_to 'Back', purchase_orders_path %>
  </div>
</div>
