<%= form_for(@update_region) do |f| %>
  <% if @update_region.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@update_region.errors.count, "error") %> prohibited this update region from being saved:</h4>
      <ul>
        <% @update_region.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="span6 bounded">
      <div class="row">
        <div class="span3"><strong>Name</strong></div>
        <div class="span1"><strong>Active</strong></div>
        <div class="span2"><strong>Ignore as DS region</strong></div>
      </div>
      <div class="row">
        <div class="span3"><%= f.text_field :name,:class => 'span3',:placeholder => "Name of Area" %></div>
        <div class="span1"><%= f.check_box :isactive %></div>
        <div class="span1"><%= f.check_box :ignore_ds_regions_yn %></div>
      </div>
      <div class="row">
        <div class="span3"><strong>Continent</strong></div>
        <div class="span1"><strong>Dakota ID</strong>&nbsp;<i class="icon icon-refresh" style="color:#008AFF" title="Generate latest ID" id="generateDakotaId"></i></div>
      </div>
      <div class="row">
        <div class="span3">
          <%= f.select :parent_id, Continent.where(:isactive => true).collect{|c|[c.name,c.id]},{:include_blank => true},{:class => 'span3',:data => {:placeholder => "Continent"}} %>
        </div>
        <div class="span1"><%= f.number_field :dakota_id,:class => 'span1',:placeholder => "Dakota ID" %></div>
      </div>

      <div class="row">
        <div class="actions span3">
          <%= f.submit 'Save',:class => 'btn' %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $('#update_region_parent_id').chosen({allow_single_deselect: true});

  $('#generateDakotaId').hover(function() {
    $(this).css('cursor','pointer');
  });

  $("#generateDakotaId").click(function(){
    $.get( "<%= url_for(:action => :generate_dakota_id) %>", function( data ) {
      $( "#update_region_dakota_id" ).val( data );
    });
  })
</script>