<div class="row">
  <div class="span1">
    <div class="btn-group">
      <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
        Action
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to({:controller => :update_regions, :action => 'show', :id => update_region.id}) do %>
          <i class="icon-info-sign"></i>&nbsp;show
          <% end %>
        </li>
        <li>
          <%= link_to({:controller => :update_regions, :action => 'edit', :id => update_region.id}) do %>
          <i class="icon-edit"></i>&nbsp;edit
          <%  end %>
        </li>
      </ul>
    </div>
  </div>  
  <div class="span2"><%= update_region.name %>&nbsp;</div>
  <div class="span2"><%= update_region.parent.name if !update_region.parent_id.blank? %>&nbsp;</div>
  <div class="span1"><%= bootstrap_boolean(update_region.isactive) %></div>
</div>