<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand"><strong>Update Regions</strong></div>
      <div class="span7">
        <%= form_tag update_regions_path, :method => 'get' do %>
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <div class="input-append input-prepend">
            <%= link_to 'New', {:action => :new,:controller => :update_regions},{:class => 'btn btn-info'} %>
            <%= text_field_tag :q, params[:q], :placeholder=>" search",:class=>"span3",:size=>"16" %>
            <%= button_tag "Search", :name => nil, :type => :submit, :class => "btn" %>
            <%= button_tag "Reset", :name => 'reset',:class=>"btn",:type=>:submit %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="endless">
  <div class="row">
    <div class="offset1 span2"><strong><%=  sortable "name" %></strong></div>
    <div class="span2"><strong><%= sortable "parent_id", 'Parent' %>&nbsp;</strong></div>
    <div class="span1"><strong><%= sortable "isactive", 'Active' %>&nbsp;</strong></div>
  </div>
  
  <%= render(:partial => "update_region", :collection => @update_regions) %>
</div>
<%= will_paginate(@update_regions) %>
<%= pageless(@update_regions.total_pages, url_for(:controller => :update_regions, :action => :index), "#endless") %>
<footer class="subnav subnav-fixed" style="bottom:0;top:auto;margin-bottom: 0px;">
  &nbsp;
</footer>
