<h4>Update Region</h4>
<div class="row">
  <div class="span6 bounded">
    <div class="row">
      <div class="span3"><strong>Name</strong></div>     
      <div class="span1"><strong>Active</strong></div>
      <div class="span2"><strong>Ignore as DS region</strong></div>
    </div>
    <div class="row">
      <div class="span3"><span class="input-xlarge uneditable-input span3"><%= @update_region.name %></span></div>
      <div class="span1"><%= bootstrap_boolean(@update_region.isactive) %></div>
      <div class="span2"><%= bootstrap_boolean(@update_region.ignore_ds_regions_yn) %></div>
    </div>
    <div class="row">
        <div class="span3"><strong>Continent</strong></div>
        <div class="span1"><strong>Dakota ID</strong></div>
    </div>
    <div class="row">
        <div class="span3"><span class="input-xlarge uneditable-input span3"><%= @update_region.parent.name if !@update_region.parent_id.blank? %>&nbsp;</span></div>
        <div class="span1"><span class="input-xlarge uneditable-input span1"><%= @update_region.dakota_id %>&nbsp;</span></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <%= link_to edit_update_region_path(@update_region), :class => "btn",:title => "edit" do %>
      <i class="icon-edit"></i>
    <% end %>
    &nbsp;
    <%= link_to(:back,:class=>'btn',:title=>'back') do %>
      <i class="icon icon-arrow-left"></i>
    <% end %>
    &nbsp;
    <%= link_to(regions_path,:class=>'btn',:title=>'Regions overview') do %>
      <i class="icon icon-arrow-up"></i>
    <% end %>
  </div>
</div>
