<div class="row">
  <% if @role.errors.any? %>
    <div class="alert alert-error">
      <% @role.errors.full_messages.each do |msg| %>
        <%= msg %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="span3 bounded bounded-headered">
    <%= form_for(@role) do |f| %>
      <div class="row bounded-header">
        <div class="span3">
          <h4><%= params[:action].humanize %> role</h4>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <strong>Name</strong>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <%= f.text_field :title, :class=> "span3" %>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <%= f.submit "Save", :class => "btn pull-right" %>
        </div>
      </div>
    <% end %>
  </div>
</div>