  <div class="row">
    <div class="span1">
      <div class="btn-group">
        <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
          Action
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to(role) do %>
              <i class="icon-info-sign"></i>&nbsp;show
            <% end %>
          </li>
        <% if env_production? %>
          <li>
            <%= link_to(edit_role_path(role)) do %>
              <i class="icon-edit"></i>&nbsp;edit
            <% end %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
    <div class="span0_5 text-right"><%= role.id.to_s.rjust(6," ").to_s %></div>
    <div class="span3"><%= role.title %></div>
  </div>