<div class="row">
  <div class="span4 bounded bounded-headered">
    <div class="row bounded-header">
      <div class="span4">
        <h4><%= params[:action].humanize %> role</h4>
      </div>
    </div>
    <div class="row">
      <div class="span4">
        <strong>Name</strong>
      </div>
    </div>
    <div class="row">
      <div class="span4">
        <%= @role.title %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="span4 bounded bounded-headered">
    <div class="row bounded-header">
      <div class="span4">
        <h4>Role owners</h4>
      </div>
    </div>
    <% RolesUser.includes(:user).where(:role_id => @role.id,:module => "MIS").order("users.last_name,roles_users.project_id").each do |role_user| %>
      <% if role_user.user.active? %>
      <div class="row">
        <div class="span2">
          <% if role_user.project == Project.default %>
            <%= link_to(role_user.user.user_name,role_user.user,:target => "_blank") %>
          <% else %>
            <%= role_user.user.user_name %>
          <% end %>
        </div>
        <div class="span1_5">
          <%= role_user.project ? role_user.project.name : Project.default.name  %>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>