<%= render :partial => "form" %>
<div class="row">
  <div class="span12">
    <%= link_to(@role, :class => "btn", :title => "show") do %>
      <i class="icon-eye-open"></i>
    <% end %>
    <%= link_to(:back, :class => 'btn', :title => "back") do %>
      <i class="icon-arrow-left"></i>
    <% end %>
    <%= link_to(roles_path, :class => 'btn', :title => 'overview') do %>
      <i class="icon-arrow-up"></i>
    <% end %>
  </div>
</div>