<%= render :partial => "form" %>
<div class="row">
  <div class="span12">
    <%= link_to(:back, :class => 'btn', :title => "back") do %>
      <i class="icon-arrow-left" title="back"></i>
    <% end %>
    <%= link_to(roles_path, :class => 'btn', :title => 'overview') do %>
      <i class="icon-arrow-up" title="overview"></i>
    <% end %>
  </div>
</div>