<%= render :partial => "show_data" %>
<div class="row">
  <div class="span12">
    <%= link_to edit_role_path(@role), :class => "btn",:title => "edit" do %>
      <i class="icon-edit"></i>
    <% end %>
    <%= link_to(:back,:class=>'btn',:title=>'back') do %>
      <i class="icon icon-arrow-left"></i>
    <% end %>
    <%= link_to(roles_path,:class=>'btn',:title=>'overview') do %>
      <i class="icon icon-arrow-up"></i>
    <% end %>
    <%= next_prev_button("prev") %>
    <%= next_prev_button("next") %>  
  </div>
</div>