<%= form_for(@warehouse_stock_adjustment) do |f| %>
<div class="row">
  <% if @warehouse_stock_adjustment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@warehouse_stock_adjustment.errors.count, "error") %> prohibited this warehouse_stock_adjustment from being saved:</h2>

      <ul>
      <% @warehouse_stock_adjustment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="span8 bounded">
    <div class="row">
      <div class="span4">
        <div class="row">
          <div class="span1"><strong>Article</strong></div>
          <div class="span3"><%= f.select 'article_id', Article.where(:active => true).collect {|a|[a.name.to_s + ' - ' + a.customer_reference,a.id]}.insert(0, '') %></div>
        </div>
        <div class="row">
          <div class="span1"><strong>Batch</strong></div>
          <div class="span3"><%= f.select 'stock_order_id', StockOrder.all.collect { |s|[s.purchase_reference,s.id]}.insert(0, '') %></div>
        </div>
        <div class="row">
          <div class="span1"><strong>Quantity</strong></div>
          <div class="span3"><%= f.number_field :quantity %></div>
        </div>
      </div>
      <div class="span4">
        <div class="row">
          <div class="span4"><%= f.text_area :reason,:rows => 5,:placeholder=> 'Reason' %></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span4"><%= f.submit"Save",{:class => 'btn btn-info'} %></div>
    </div>
  </div>
</div>
<% end %>
