<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand"><strong>Stock adjustments</strong></div>
      <div class="span">
        <%= form_tag url_for(:controller => 'warehouse_stock_adjustments', :action => 'onhand',:id => 'filter') do %>
          <div class="input-apend input-prepend">
            <%= link_to "new",{:action => "new"},{:class => 'btn btn-info'} %>
            <%= select_tag 'article_id', options_for_select(Article.where(:active => true).collect {|a|[a.name.to_s + ' - ' + a.customer_reference,a.id]}.insert(0, ''),@article.to_i),:class=>'span4' %>
            <%= select_tag 'stock_order_id', options_for_select(StockOrder.all.collect { |s|[s.purchase_reference,s.id]}.insert(0, ''),@stock_order.to_i),:class=>'span2' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div style="padding-top: 4em;margin-bottom: 55px" id="endless">
  <div class="row">
    <div class="span2 offset1"><strong>Article</strong></div>
    <div class="span2"><strong>Batch</strong></div>
    <div class="span1"><strong>Quantity</strong></div>
    <div class="span1"><strong>Reason</strong></div>
    <div class="span1"><strong>Status</strong></div>
  </div>

  <% @warehouse_stock_adjustments.each do |warehouse_stock_adjustment| %>
  <% if warehouse_stock_adjustment.stock_order_id &&  warehouse_stock_adjustment.stock_order_id.size > 0
    batch_value = StockOrder.find(warehouse_stock_adjustment.stock_order_id).purchase_reference
  else
    batch_value = 'NONE SPECIFIED'
  end %>
  <div class="row" id="row_show_<%= warehouse_stock_adjustment.id %>">
      <div class="span1">
        <div class="btn-group">
          <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
            Action
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><span style="margin-left: 15px;"><strong>Adjustment Id: <%= warehouse_stock_adjustment.id %></strong></span></li>
            <li class="divider"></li>
            <li>
              <%= link_to(warehouse_stock_adjustment) do %>
              <i class="icon-info-sign"></i>&nbsp;show
              <% end %>
            </li>
          </ul>
        </div>
      </div>
      <div class="span2"><%= Article.find(warehouse_stock_adjustment.article_id).customer_reference %></div>
      <div class="span2"><%= batch_value %></div>
      <div class="span1"><%= warehouse_stock_adjustment.quantity %></div>
      <div class="span1"><%= warehouse_stock_adjustment.reason %></div>
      <div class="span1"><%= warehouse_stock_adjustment.status_string if !warehouse_stock_adjustment.status.nil? %></div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $("#article_id").chosen({allow_single_deselect: true,placeholder_text_single: "Select Article"});
  $("#stock_order_id").chosen({allow_single_deselect: true,placeholder_text_single: "Select Batch"});
  $("#article_id").change(function(){
    $("form:first").submit();
  });
  
  $("#stock_order_id").change(function(){
    $("form:first").submit();
  });
</script>
