<p id="notice"><%= notice %></p>

<p>
  <b>Article:</b>
  <%= Article.find(@warehouse_stock_adjustment.article_id).customer_reference %>
</p>

<p>
  <b>Quantity:</b>
  <%= @warehouse_stock_adjustment.quantity %>
</p>

<p>
  <b>Reason:</b>
  <%= @warehouse_stock_adjustment.reason %>
</p>


<p>
  <div class="row">
    <div class="span2">
      Stock ID
    </div>
    <div class="span2">
      Batch Nr
    </div>
    <div class="span2">
      Quantity
    </div>
  </div>
  <% WarehouseStock.where("warehouse_stock_adjustment_id = #{@warehouse_stock_adjustment.id}").each do |stock| %>
    <div class="row">
      <div class="span2">
        <%= stock.id %>
        
      </div>
      <div class="span2">
        <%= StockOrder.find(stock.stock_order_id).purchase_reference %>
      </div>
      <div class="span2">
        <%= stock.quantity %>
      </div>
        
    </div>
  <% end %>
<p>
<%= link_to 'Back', onhand_warehouse_stock_adjustments_path %>
