<% if @mail_condition.errors.any? %>
  <ul>
    <% @mail_condition.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for(@mail_condition) do |f| %>
  <p>
    <%= f.hidden_field :field %>
  </p>

  <p>
    <b>Field value based on <%= @mail_condition.field.to_s %></b><br />
    <%= f.select :field_value,
            DataType.where(:isactive => true).order(:description).collect {|c| [ c.description, c.name ]} %>

            <% if (controller.action_name == "edit")%>
                  <%= f.submit "Update" %>
              <% else%>
                        <%= f.submit "Create" %>
        <% end %>
  </p>
<% end %>
