<h3>Listing mail-conditions</h3>

<table>
  <tr>
    <th>Field</th>
    <th>Value</th>
    <th>&nbsp;</th>
  </tr>

<% for mail_condition in @mail_conditions %>
  <tr>
    <td><%=h mail_condition.field %></td>
    <td><%=h mail_condition.field_value %>&nbsp;<i>(<%= DataType.find_by_name(mail_condition.field_value).description%>)</i></td>
    <td><%= link_to 'Destroy', mail_condition, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New mail_condition', new_mail_condition_path %>
