<p>
  <b>Field:</b>
  <%=h @mail_condition.field %>
</p>

<p>
  <b>Field value:</b>
  <%=h @mail_condition.field_value %>
</p>


<%= link_to 'Edit', edit_mail_condition_path(@mail_condition) %> |
<%= link_to 'Back', mail_conditions_path %>
