<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h5>POI Mapping line record <%= @poi_mapping.id %></h5>
</div>

<div class="modal-body">
  <div class="row">
    <div class="span2"><strong>Output&nbsp;category</strong></div>
    <div class="span1"><%= @poi_mapping.output_category %></div>
    <div class="span2"><strong>Output&nbsp;description</strong></div>
    <div class="span3"><%= @poi_mapping.output_description %></div>
  </div>
  <div class="row">
    <div class="span2 offset3"><strong>Input&nbsp;description</strong></div>
    <div class="span3"><%= @poi_mapping.input_description %></div>
  </div>
   <div class="row">
    <div class="span2"><strong>Filter type</strong></div>
    <div class="span1"><%= @poi_mapping.map_or_filter_type %></div>
    <div class="span2"><strong>Filter value</strong></div>
    <div class="span3"><%= @poi_mapping.map_or_filter_value %></div>
  </div>
   <div class="row">
    <div class="span2"><strong>Logical type</strong></div>
    <div class="span1"><%= @poi_mapping.logical_type %>&nbsp;</div>
    <div class="span2"><strong>Group Id</strong></div>
    <div class="span3"><%= @poi_mapping.group_id %>&nbsp;</div>
  </div>
   <div class="row">
    <div class="span2"><strong>Major filtering</strong></div>
    <div class="span1"><%= bootstrap_boolean(@poi_mapping.major_filtering) %>&nbsp;</div>
    <div class="span2"><strong>Invert</strong></div>
    <div class="span3"><%= bootstrap_boolean(@poi_mapping.invert) %>&nbsp;</div>
  </div>
  <div class="row">
    <div class="span2"><strong>Import hash:</strong></div>
  </div>
  <div class="row">
    <div class="span10 bounded well-small"><pre class="real-pre"><%= @poi_mapping.import_hash %></pre></div>
  </div>
  <div class="row">
    <div class="span3">
      <i><%= @poi_mapping.created_at.strftime("Created at %d-%m-%Y") %></i>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
</div>