<%= form_for(@poi_mapping) do |f| %>
  <% if @poi_mapping.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@poi_mapping.errors.count, "error") %> prohibited this poi_mapping from being saved:</h2>

      <ul>
      <% @poi_mapping.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :poi_mapping_layout_id %><br />
    <%= f.number_field :poi_mapping_layout_id %>
  </div>
  <div class="field">
    <%= f.label :map_or_filter_type %><br />
    <%= f.number_field :map_or_filter_type %>
  </div>
  <div class="field">
    <%= f.label :map_or_filter_value %><br />
    <%= f.text_field :map_or_filter_value %>
  </div>
  <div class="field">
    <%= f.label :logical_type %><br />
    <%= f.text_field :logical_type %>
  </div>
  <div class="field">
    <%= f.label :invert %><br />
    <%= f.check_box :invert %>
  </div>
  <div class="field">
    <%= f.label :group_id %><br />
    <%= f.number_field :group_id %>
  </div>
  <div class="field">
    <%= f.label :output_category %><br />
    <%= f.number_field :output_category %>
  </div>
  <div class="field">
    <%= f.label :major_filtering %><br />
    <%= f.check_box :major_filtering %>
  </div>
  <div class="field">
    <%= f.label :input_description %><br />
    <%= f.text_area :input_description %>
  </div>
  <div class="field">
    <%= f.label :output_description %><br />
    <%= f.text_area :output_description %>
  </div>
  <div class="field">
    <%= f.label :import_hash %><br />
    <%= f.text_area :import_hash %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
