<div class="row">
  <div class="span1" id="details_link_<%= poi_mapping.id %>"><a href="#" ><%= poi_mapping.id %></a>|<strong><%= Hash[@all_poi_mappings.map.with_index.to_a][poi_mapping]+1 %></strong></div>
  <div class="span1"><%= poi_mapping.output_category %>&nbsp;</div>
  <div class="span2"><%= poi_mapping.output_description %>&nbsp;</div>
  <div class="span1"><%= poi_mapping.logical_type %>&nbsp;</div>
  <div class="span1"><%= poi_mapping.map_or_filter_type %>&nbsp;</div>
  <div class="span2"><%= poi_mapping.map_or_filter_value %>&nbsp;</div>
  <div class="span3"><%= poi_mapping.input_description %>&nbsp;</div>
</div>
