<div id="details_modal" class="modal hide fade extra-large">

</div>
<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="row">
      <div class="span2">
        <strong>POI Mapping Layout <%= @poi_mapping_layout.id %></strong><br />
        <abbr title="<%= @poi_mapping_layout.input_data_type.description %>"><%= @poi_mapping_layout.input_data_type.name %></abbr>
        to
        <abbr title="<%= @poi_mapping_layout.output_data_type.description %>"><%= @poi_mapping_layout.output_data_type.name %></abbr>
      </div>
      <div class="span6">
        <strong><%= @poi_mapping_layout.definition_version %></strong><br />
        Supplier:&nbsp;<abbr title="<%= @poi_mapping_layout.supplier.name %>"><%= @poi_mapping_layout.supplier.ms_abbr_3 %></abbr>
        Region:&nbsp;<abbr title="<%= @poi_mapping_layout.regions.collect{|x| x.name}.join(',') %>"><%= @poi_mapping_layout.regions.collect{|x| x.region_code}.join(',') %></abbr>
      </div>
      <%= form_tag url_for(:action => :content_filter, :poi_mapping_layout_id => @poi_mapping_layout.id), :method => 'get' do %>
        <div class="span4">
          <%= text_field_tag '[search][free]', params[:search][:free],:class => 'span4',:placeholder => 'Free search' %>
        </div>
      </div>
      <div class="row">
        <%= hidden_field_tag :direction, params[:direction] %>
        <%= hidden_field_tag :sort, params[:sort] %>
        <%= hidden_field_tag :poi_mapping_layout_id, params[:poi_mapping_layout_id] %>
        <div class="span1">
          <%=  select_tag('[search][id]', options_from_collection_for_select(@all_poi_mappings,'id','id',params[:search][:id]),:include_blank=>true,:class => 'span1',:data=>{:placeholder => 'ID|line'}) %>
        </div>
        <div class="span1">
          <%=  select_tag("[search][output_category]", options_for_select(@all_poi_mappings.order(:output_category).collect{|oc|[oc.output_category,oc.output_category]}.uniq,params[:search][:output_category]),:include_blank=>true,:class => 'span1',:data=>{:placeholder => 'Output category'}) %>
        </div>
        <div class="span2">
          <%=  select_tag("[search][output_description]", options_for_select(@all_poi_mappings.order(:output_description).collect{|od|[od.output_description,od.output_description]}.uniq,params[:search][:output_description]),:include_blank=>true,:class => 'span2',:data=>{:placeholder => 'Description'}) %>
        </div>
        <div class="span1">
          <%=  select_tag("[search][logical_type]", options_for_select(@all_poi_mappings.order(:logical_type).collect{|lt|[lt.logical_type,lt.logical_type]}.uniq,params[:search][:logical_type]),:include_blank=>true,:class => 'span1',:data=>{:placeholder => 'Logical type'}) %>
        </div>
        <div class="span1">
          <%=  select_tag("[search][map_or_filter_type]", options_for_select(@all_poi_mappings.order(:map_or_filter_type).collect{|ft|[ft.map_or_filter_type,ft.map_or_filter_type]}.uniq,params[:search][:map_or_filter_type]),:include_blank=>true,:class => 'span1',:data=>{:placeholder => 'Filter type'}) %>
        </div>
        <div class="span2">
          <%=  select_tag("[search][map_or_filter_value]", options_for_select(@all_poi_mappings.order(:map_or_filter_value).collect{|lv|[lv.map_or_filter_value,lv.map_or_filter_value]}.uniq,params[:search][:map_or_filter_value]),:include_blank=>true,:class => 'span1',:data=>{:placeholder => 'Filter type'}) %>
        </div>
        <div class="span2">
          <%=  select_tag("[search][input_description]", options_for_select(@all_poi_mappings.order(:input_description).collect{|id|[id.input_description,id.input_description]}.uniq,params[:search][:input_description]),:include_blank=>true,:class => 'span2',:data=>{:placeholder => 'Description'}) %>
        </div>
        <div class="span2">
          <%= button_tag "Reset", :name => 'reset',:class=>"btn pull-right",:type=>:submit %>
          <%= button_tag "Search", :name => nil, :type => :submit, :class => "btn pull-right" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div style="padding-top: 8em;margin-bottom: 55px" id="endless">
  <div class="row">
    <div class="span1"><strong><%= sortable "id", 'Id|Line' %></strong></div>
    <div class="span1"><strong><%= sortable "output_category", "Output category" %></strong></div>
    <div class="span2"><strong><%= sortable "output_description", 'Output Description' %></strong></div>
    <div class="span1"><strong><%= sortable "logical_type", 'Logical type' %></strong></div>
    <div class="span1"><strong><%= sortable "map_or_filter_type", 'Filter type' %></strong></div>
    <div class="span2"><strong><%= sortable "map_or_filter_value", 'Filter value' %></strong></div>
    <div class="span4"><strong><%= sortable "input_description", 'Input Description' %></strong></div>
  </div>
  <% @seq = 0 %>
  <%= render(:partial => "poi_mapping", :collection => @poi_mappings) %>
</div>
<%= will_paginate(@poi_mappings) %>
<%= pageless(@poi_mappings.total_pages, url_for(:action => :content_filter, :poi_mapping_layout_id => @poi_mapping_layout.id), "#endless",params) %>

<script type="text/javascript">
  $("select[id^=_search_]").chosen();
  $("[id^=details_link]").click(function (){
    jQuery.get('<%=h url_for(:action => "details") %>' + '?id=' + this.id.replace(/[^0-9]/g, ''));
    $("#details_modal").modal('show');
  })
</script>