<h1>Listing poi_mappings</h1>

<table>
  <tr>
    <th>Poi mapping layout</th>
    <th>Map or filter type</th>
    <th>Map or filter value</th>
    <th>Logical type</th>
    <th>Invert</th>
    <th>Group</th>
    <th>Output category</th>
    <th>Major filtering</th>
    <th>Input description</th>
    <th>Output description</th>
    <th>Import hash</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @poi_mappings.each do |poi_mapping| %>
  <tr>
    <td><%= poi_mapping.poi_mapping_layout_id %></td>
    <td><%= poi_mapping.map_or_filter_type %></td>
    <td><%= poi_mapping.map_or_filter_value %></td>
    <td><%= poi_mapping.logical_type %></td>
    <td><%= poi_mapping.invert %></td>
    <td><%= poi_mapping.group_id %></td>
    <td><%= poi_mapping.output_category %></td>
    <td><%= poi_mapping.major_filtering %></td>
    <td><%= poi_mapping.input_description %></td>
    <td><%= poi_mapping.output_description %></td>
    <td><%= poi_mapping.import_hash %></td>
    <td><%= link_to 'Show', poi_mapping %></td>
    <td><%= link_to 'Edit', edit_poi_mapping_path(poi_mapping) %></td>
    <td><%= link_to 'Destroy', poi_mapping, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Poi mapping', new_poi_mapping_path %>
