<p id="notice"><%= notice %></p>

<p>
  <b>Poi mapping layout:</b>
  <%= @poi_mapping.poi_mapping_layout_id %>
</p>

<p>
  <b>Map or filter type:</b>
  <%= @poi_mapping.map_or_filter_type %>
</p>

<p>
  <b>Map or filter value:</b>
  <%= @poi_mapping.map_or_filter_value %>
</p>

<p>
  <b>Logical type:</b>
  <%= @poi_mapping.logical_type %>
</p>

<p>
  <b>Invert:</b>
  <%= @poi_mapping.invert %>
</p>

<p>
  <b>Group:</b>
  <%= @poi_mapping.group_id %>
</p>

<p>
  <b>Output category:</b>
  <%= @poi_mapping.output_category %>
</p>

<p>
  <b>Major filtering:</b>
  <%= @poi_mapping.major_filtering %>
</p>

<p>
  <b>Input description:</b>
  <%= @poi_mapping.input_description %>
</p>

<p>
  <b>Output description:</b>
  <%= @poi_mapping.output_description %>
</p>

<p>
  <b>Import hash:</b>
  <%= @poi_mapping.import_hash %>
</p>


<%= link_to 'Edit', edit_poi_mapping_path(@poi_mapping) %> |
<%= link_to 'Back', poi_mappings_path %>
