
    <% if @point.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@point.errors.count, "error") %> prohibited this process_data_specification from being saved:</h2>

        <ul>
          <% @point.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

<div class="row">
  <div class="span3 bounded bounded-headered">
    <%= form_for(@point) do |f| %>
      <div class="row bounded-header">
        <div class="span3">
          <h4><%= params[:action].humanize %> point</h4>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <strong>Name</strong>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <%= f.text_field :name_of_facility  %>
        </div>
      </div>
<div class="row">
        <div class="span3">
          <strong>Category</strong>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <%= f.text_field :category  %>
        </div>
      </div>
    <div class="row">
        <div class="span3">
          <strong>Street name</strong>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <%= f.text_field :street_name  %>
        </div>
      </div>
    <div class="row">
        <div class="span3">
          <strong>Postal code</strong>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <%= f.text_field :postal_code  %>
        </div>
      </div>
    <div class="row">
        <div class="span3">
          <strong>City name</strong>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <%= f.text_field :city_name  %>
        </div>
      </div>
    <div class="row">
        <div class="span3">
          <strong>Country name</strong>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <%= f.text_field :country_name  %>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <%= f.submit "Save", :class => "btn pull-right" %>
        </div>
      </div>
    <% end %>
  </div>
</div>