  <h1>Points</h1>

<table>
  <tr>
    <th>Name of facility</th>
    <th>Category</th>
    <th>Street name</th>
    <th>Postal code</th>
    <th>City name</th>
    <th>Country name</th>
    <th>Updated at</th>
  </tr>

<% for point in @points %>
  <tr>
    <td><%=h point.name_of_facility %></td>
    <td><%=h point.category %></td>
    <td><%=h point.street_name %></td>
    <td><%=h point.postal_code %></td>
    <td><%=h point.city_name %></td>
    <td><%=h point.country_name %></td>
    <td><%=h point.updated_at %></td>
    <td><%= link_to 'Show', point %></td>
    <td><%= link_to 'Edit', edit_point_path(point) %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @points %>
<br />

<%= link_to 'New point', new_point_path %>
