<div class="row">
  <div class="span3 bounded bounded-headered">
      <div class="row bounded-header">
        <div class="span3">
          <h4><%= params[:action].humanize %> point</h4>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <strong>Name</strong>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <%= @point.name_of_facility  %>
        </div>
      </div>
<div class="row">
        <div class="span3">
          <strong>Category</strong>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <%= @point.category  %>
        </div>
      </div>
    <div class="row">
        <div class="span3">
          <strong>Street name</strong>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <%= @point.street_name  %>
        </div>
      </div>
    <div class="row">
        <div class="span3">
          <strong>Postal code</strong>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <%= @point.postal_code  %>
        </div>
      </div>
    <div class="row">
        <div class="span3">
          <strong>City name</strong>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <%= @point.city_name  %>
        </div>
      </div>
    <div class="row">
        <div class="span3">
          <strong>Country name</strong>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <%= @point.country_name  %>
        </div>
      </div>
  </div>
</div>