<div class="row" id="row_show_<%= customer_target.id %>">
  <div class="span1">
      <div class="btn-group">
        <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
          Action
        <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to customer_target_path(customer_target, customer_content_id: @customer_content_id, production_orderline_id: @production_orderline_id, product_id: @product_id) do %>
            <i class="icon-info-sign"></i>&nbsp;show
            <% end %>
          </li>
          <li>
            <%= link_to edit_customer_target_path(customer_target, customer_content_id: @customer_content_id, production_orderline_id: @production_orderline_id, product_id: @product_id) do %>
            <i class="icon-edit"></i>&nbsp;edit
            <% end %>
          </li>          
          <li>
            <%= link_to customer_target_path(customer_target, customer_content_id: @customer_content_id, production_orderline_id: @production_orderline_id, product_id: @product_id), method: :delete do %>
            <i class="icon-ban-circle"></i>&nbsp;destroy
            <% end %>
          </li>          
        </ul>
      </div>    
  </div>
  <div class="span2"><%= customer_target.label %>&nbsp;</div>
  <div class="span2"><%= CustomerContentDefinition.outputarray[customer_target.output_target] %>&nbsp;</div>
  <div class="span2"><%= CustomerContentDefinition.outputarray[customer_target.customer_content_definition.output_target] if customer_target.customer_content_definition %>&nbsp;</div>
  <% unless @customer_content_id %>
    <div class="span2"><%= customer_target.customer_content.customer_content_specification.name %>&nbsp;</div>
  <% end %>
  <% unless @production_orderline_id || @product_id %>
    <div class="span2"><%= customer_target.customer_content.product_id %>&nbsp;</div>
  <% end %>
</div>