<h4><%= @heading %></h4>

<% if @customer_target.errors.any? %>
  <ul>
  <% @customer_target.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>

<%= form_for(@customer_target) do |f| %>
  <%= hidden_field_tag :production_orderline_id, @production_orderline_id %>
  <%= hidden_field_tag :product_id, @product_id %>
  <div class="row">
    <div class="span2"><strong>Label</strong></div>
    <div class="span2"><strong>Output target</strong></div>
    <div class="span2"><strong>Definition</strong></div>
    <% unless @customer_content_id %>
      <div class="span2"><strong>Customer content</strong></div>
    <% end %>
  </div>
  <div class="row">
    <div class="span2"><%= f.text_field :label, class: "span2" %></div>
    <div class="span2">
      <% if @product_id %>
        <%= CustomerContentDefinition.outputarray[@customer_target.output_target] %>
      <% else %>
        <%= f.select :output_target, [''] + CustomerContentDefinition.outputhash,{},{class: 'span2'} %>
      <% end %>
    </div>    
    <div class="span2">
      <% if @customer_target.customer_content_definition %>
        <%= CustomerContentDefinition.outputarray[@customer_target.customer_content_definition.output_target] %>
      <% else %>
        <%= select :customer_target, :customer_content_definition_id, [''] + CustomerContentDefinition.all.collect {|s| ['(' + s.customer_content_specification.name + ') ' + s.output_target, s.id]},{},
            {class: 'span2', id: 'chosen_customer_content_definition', data: { placeholder: "Select customer content definition" } } %>
      <% end %>
    </div>
    <% if @customer_content_id %>
      <%= hidden_field_tag :customer_content_id, @customer_content_id %>
    <% else %>
      <div class="span2">
        <% if @customer_target.customer_content %>
          <%= "(" + @customer_target.customer_content.product_id.to_s + ")" + @customer_target.customer_content.customer_content_specification.name %>
        <% else %>
          <%= select :customer_target, :customer_content_id, [''] + CustomerContent.all.collect {|s| ['(' + s.id.to_s + ') ' + s.name, s.id]},{},
              {class: 'span2', id: 'chosen_customer_content', data: { placeholder: "Select customer content" } } %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="span3">
      <%= f.submit "Save", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<script>
  $('#customer_target_output_target').chosen();
  $('#chosen_customer_content').chosen();
  $('#chosen_customer_content_definition').chosen();
</script>
