<% @heading = "Editing Customer content target " %>
<% @heading += @product_id.to_s if @product_id %>
<% @heading += ProductionOrderline.find(@production_orderline_id).product_id.to_s if @production_orderline_id && !@product_id %>
<% @heading += "(" + CustomerContent.find(@customer_content_id).customer_content_specification.name + ")" if @customer_content_id %>
<%= render 'form' %>
|
<%= link_to customer_target_path(@customer_target, customer_content_id: @customer_content_id, production_orderline_id:@production_orderline_id) do %>
  <i class="icon-eye-open" title="show">&nbsp;</i>
<% end %>
|
<%= link_to :back do %>
<i class="icon-arrow-left" title="back">&nbsp;</i>
<% end %>
|
<% if @customer_content_id %>
  <%= link_to customer_content_path(id: @customer_content_id, production_orderline_id: @production_orderline_id, product_id: @product_id) do %>
    <i class="icon-arrow-up" title="overview">&nbsp;</i>
  <% end %>
<% elsif @production_orderline_id %>
  <%= link_to customer_contents_path(production_orderline_id: @production_orderline_id, product_id: @product_id) do %>
    <i class="icon-arrow-up" title="overview">&nbsp;</i>
  <% end %>
<% elsif @product_id %>
  <%= link_to edit_product_path(id: @product_id) do %>
    <i class="icon-arrow-up" title="overview">&nbsp;</i>
  <% end %>
<% else %>
  <%= link_to customer_contents_path do %>
    <i class="icon-arrow-up" title="overview">&nbsp;</i>
  <% end %>
<% end %>
|
