<div class="container">
  
  <div class="navbar secondnav">
    <div class="navbar-inner">
      <div class="span6">
        <h4>
          Customer content targets 
          <%= ProductionOrderline.find(@production_orderline_id).product_id if @production_orderline_id %>
          <%= "(" + CustomerContent.find(@customer_content_id).customer_content_specification.name + ")" if @customer_content_id %>
        </h4>
      </div>
      <div class="span6">
        <%= form_tag customer_targets_path, method: 'get' do %>
          <%= hidden_field_tag :production_orderline_id, params[:production_orderline_id] %>
          <%= hidden_field_tag :product_id, params[:product_id] %>
          <%= hidden_field_tag :customer_content_id, params[:customer_content_id] %>
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <div class="input-prepend input-append">
            <%= text_field_tag :search, params[:search], placeholder: " search",class: "span3" %>
            <%= button_tag "Search", name: nil, type: :submit, class: "btn" %>
            <%= button_tag "Reset", name: 'reset',class: "btn",type: :submit %>
          </div>   
        <% end %>                  
      </div>
    </div>  
  </div>
  
  <div id="endless">
    <div class="row">
      <div class="offset1 span2"><strong><%= sortable 'customer_targets.label', 'Label' %></strong></div>
      <div class="span2"><strong><%= sortable 'customer_targets.output_target', 'Output target' %></strong></div>
      <div class="span2"><strong><%= sortable 'customer_content_definitions.label', 'Definition' %></strong></div>
      <% unless @customer_content_id %>
        <div class="span2"><strong><%= sortable 'customer_content_specifications.name', 'Specification' %></strong></div>
      <% end %>
      <% unless @production_orderline_id %>
        <div class="span2"><strong><%= sortable 'production_orderlines.product_id', 'Product' %></strong></div>
      <% end %>
    </div>
    <%= render(partial: "customer_target", collection: @customer_targets) %>  
  </div>
  <%= will_paginate(@customer_targets) %>
  <%= pageless(@customer_targets.total_pages, customer_targets_path, "#endless") %>
</div>

<% if @customer_content_id %>
  |
  <%= link_to :back do %>
  <i class="icon-arrow-left" title="back">&nbsp;</i>
  <% end %>
  |
  <%= link_to customer_contents_path(customer_content_id: @customer_content_id, production_orderline_id: @production_orderline_id, product_id: @product_id) do %>
    <i class="icon-arrow-up" title="overview">&nbsp;</i>
  <% end %>
  |
<% end %>