<div class="span7">
  <h4>
    Customer content output target 
    <%= @product_id if @product_id %>
    <%= ProductionOrderline.find(@production_orderline_id).product_id if @production_orderline_id && !@product_id %>
    <%= "(" + CustomerContent.find(@customer_content_id).customer_content_specification.name + ")" if @customer_content_id %>
  </h4>
</div>
<div class="row">
  <div class="span12 bounded">
    <div class="row">
      <div class="span2"><strong>Label</strong></div>
      <div class="span2"><strong>Output target</strong></div>
      <div class="span2"><strong>Definition</strong></div>
      <% unless @customer_content_id %>
        <div class="span2"><strong>Specification</strong></div>
      <% end %>
      <% unless @production_orderline_id %>
        <div class="span2"><strong>Production order</strong></div>
      <% end %>
    </div>
    <div class="row">
      <div class="span2"><%= @customer_target.label %>&nbsp;</div>
      <div class="span2"><%= CustomerContentDefinition.outputarray[@customer_target.output_target] %>&nbsp;</div>
      <div class="span2"><%= CustomerContentDefinition.outputarray[@customer_target.customer_content_definition.output_target] if @customer_target.customer_content_definition %>&nbsp;</div>
      <% unless @customer_content_id %>
        <div class="span2"><%= @customer_target.customer_content_definition.customer_content_specification.name if @customer_target.customer_content_definition %>&nbsp;</div>
      <% end %>
      <% unless @production_orderline_id || @product_id %>
        <div class="span2"><%= @customer_target.customer_content.product_id %>&nbsp;</div>
      <% end %>
    </div>
  </div>
</div>
<br />

|
<%= link_to edit_customer_target_path(@customer_target, customer_content_id: @customer_content_id, production_orderline_id: @production_orderline_id, product_id: @product_id) do %>
  <i class="icon-edit" title="edit">&nbsp;</i>
<% end %>
|
<%= link_to :back do %>
  <i class="icon-arrow-left" title="back">&nbsp;</i>
<% end %>
|
<% if @customer_content_id %>
  <%= link_to customer_content_path(id: @customer_content_id, production_orderline_id: @production_orderline_id, product_id: @product_id) do %>
    <i class="icon-arrow-up" title="overview">&nbsp;</i>
  <% end %>
<% elsif @production_orderline_id %>
  <%= link_to customer_contents_path(production_orderline_id: @production_orderline_id, product_id: @product_id) do %>
    <i class="icon-arrow-up" title="overview">&nbsp;</i>
  <% end %>
<% elsif @product_id %>
  <%= link_to edit_product_path(id: @product_id) do %>
    <i class="icon-arrow-up" title="overview">&nbsp;</i>
  <% end %>
<% else %>
  <%= link_to customer_contents_path do %>
    <i class="icon-arrow-up" title="overview">&nbsp;</i>
  <% end %>
<% end %>
|
