<h1>Editing stock_depot</h1>

<%= form_for(@stock_depot) do |f| %>
<% if @stock_depot.errors.any? %>
  <div class="alert alert-error">
    <% @stock_depot.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
  </div>
<% end %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :street_name %><br />
    <%= f.text_field :street_name %>
  </p>
  <p>
    <%= f.label :postal_code %><br />
    <%= f.text_field :postal_code %>
  </p>
  <p>
    <%= f.label :city_name %><br />
    <%= f.text_field :city_name %>
  </p>
  <p>
    <%= f.label :country_name %><br />
    <%= f.text_field :country_name %>
  </p>
  <p>
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </p>
  <p>
    <%= f.label :contact_name %><br />
    <%= f.text_field :contact_name %>
  </p>
  <p>
    <%= f.label :contact_email %><br />
    <%= f.text_field :contact_email %>
  </p>
  <p>
    <%= f.label :deleted %><br />
    <%= f.check_box :deleted %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @stock_depot %> |
<%= link_to 'Back', stock_depots_path %>