<h3>Listing Stock depots</h3>


<div class="row">
    <div class="span3"><strong>Name</strong></div>
    <div class="span2"><strong>Street name</strong></div>
    <div class="span1"><strong>Postal code</strong></div>
    <div class="span2"><strong>City name</strong></div>
    <div class="span2"><strong>Country name</strong></div>
    <div class="span1"><strong>Active</strong></div>
</div>

<% @stock_depots.each do |stock_depot| %>
<div class="row">
    <div class="span3"><%=h stock_depot.name %></div>
    <div class="span2"><%=h stock_depot.street_name %></div>
    <div class="span1"><%=h stock_depot.postal_code %></div>
    <div class="span2"><%=h stock_depot.city_name %></div>
    <div class="span2"><%=h stock_depot.country_name %></div>
    <div class="span1"><%=h stock_depot.active %></div>
    <div class="span1"><%= link_to 'Show', stock_depot %></div>
    <div class="span1"><%= link_to 'Edit', edit_stock_depot_path(stock_depot) %></div>
</div>
<% end %>
<%= link_to image_tag('icons/32x32/document-new.png', :border =>0, :alt => "new" , :title => "new depot"), new_stock_depot_path %>