<p>
  <b>Name:</b>
  <%=h @stock_depot.name %>
</p>

<p>
  <b>Street name:</b>
  <%=h @stock_depot.street_name %>
</p>

<p>
  <b>Postal code:</b>
  <%=h @stock_depot.postal_code %>
</p>

<p>
  <b>City name:</b>
  <%=h @stock_depot.city_name %>
</p>

<p>
  <b>Country name:</b>
  <%=h @stock_depot.country_name %>
</p>

<p>
  <b>Active:</b>
  <%=h @stock_depot.active %>
</p>

<p>
  <b>Deleted:</b>
  <%=h @stock_depot.deleted %>
</p>


<%= link_to 'Edit', edit_stock_depot_path(@stock_depot) %> |
<%= link_to 'Back', stock_depots_path %>