  <div class="row">
    <div class="span1">
      <div class="btn-group">
        <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
          Action
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to cvtool_template_path(cvtool_template) do %>
              <i class="icon-info-sign"></i>&nbsp;show
            <% end %>
          </li>
          <li>
            <%= link_to edit_cvtool_template_path(cvtool_template) do %>
              <i class="icon-edit"></i>&nbsp;edit
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <div class="span0_5 text-right"><%= cvtool_template.id %></div>
    <div class="span4"><%= cvtool_template.name %></div>
    <div class="span3"><%= cvtool_template.filename %></div>
    <div class="span1"><%= bootstrap_boolean(cvtool_template.isactive) %></div>
  </div>
