<% if @cvtool_template.errors.any? %>
  <div class="alert alert-error">
    <% @cvtool_template.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
  </div>
<% end %>

<%= form_for(@cvtool_template) do |f| %>
  <% if @cvtool_template.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@cvtool_template.errors.count, "error") %> prohibited this CV-tool template from being saved:</h4>
      <ul>
      <% @cvtool_template.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="span12 bounded bounded-headered">
      <div class="row bounded-header">
        <h4><%= controller.action_name.humanize %> CV-tool template <%= @cvtool_template.name %></h4>
      </div>
      <div class="row">
        <div class="span1">
          <strong>Name</strong>
        </div>
        </div>
        <div class="row">
          <div class="span4">
            <%= f.text_field :name, :class => 'span4' %><br />
            <%= f.check_box :isactive %> Active
          </div>
          <div class="span7">
            <%= f.text_area :description, :style => 'width:112%' %>
          </div>
      </div>
      <div class="row">
        <div class="span pull-right"><%= f.submit 'Save', :class => 'btn' %></div>
      </div>
    </div>
  </div>
<% end %>