<%= render :partial => "form" %>
<div class="row">
  <div class="span12 bounded">
    <div class="row">
      <div class="span12"><h4>Template content</h4></div>
    </div>
    <div class="row">
      <div class="span12">
        <%= form_tag({:action => 'upload_script', :id => @cvtool_template.id.to_s },{:id => 'upload_form', :enctype => "multipart/form-data"} ) do %>
          <input type="file" name="uploaded_file" class="input" />
          <input type="submit" value="Upload template" class="btn"/>
        <% end %>
        <pre class="mono">
          <%if @formatted_file_data && @formatted_file_data.size > 2 %>
            <%= CGI.escapeHTML(@formatted_file_data) %>
          <% end %>
        </pre>
      </div>
    </div>
    <% if @cvtool_template.template_by_user_id %>
    <div class="row">
      <div class="span12">
        Uploaded by:&nbsp;<%= User.find( @cvtool_template.template_by_user_id ).full_name %>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <%= link_to 'download templatefile', :action => 'sendscript', :id => @cvtool_template.id.to_s %>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="span7">
    <%= link_to @cvtool_template, :class => "btn", :title => "show" do %>
      <i class="icon-eye-open"></i>
    <% end %>

    <%= link_to :back, :class => "btn", :title => "back" do %>
      <i class="icon-arrow-left"></i>
    <% end %>

    <%= link_to cvtool_templates_path, :class => "btn", :title => "overview" do %>
      <i class="icon-arrow-up"></i>
    <% end %>

    <%= next_prev_button("prev") %>
    <%= next_prev_button("next") %>
  </div>
</div>
