<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand">
        <strong>CVtool templates</strong>
      </div>
      <%= form_tag cvtool_templates_path, :method => 'get' do %>
        <div class="span">
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <div class="input-prepend input-append">
            <%= link_to("New",{:action => :new},{:class => 'btn btn-info'}) if env_production? %>
            <%= text_field_tag :search, params[:search], :placeholder=>" search" %>
            <%= button_tag "Search", :name => nil, :type => :submit, :class => "btn" %>
            <%= button_tag "Reset", :name => 'reset',:class=>"btn",:type=>:submit %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div id="endless">
  <div class="row">
    <div class="span1">&nbsp;</div>
    <div class="span0_5 text-right"><strong><%= sortable "cvtool_templates.id", 'ID' %></strong></div>
    <div class="span4"><strong><%= sortable "cvtool_templates.name", 'Name' %></strong></div>
    <div class="span3"><strong><%= sortable "cvtool_templates.filename", 'File Name' %></strong></div>
    <div class="span1"><strong><%= sortable "cvtool_templates.isactive", 'Active' %></strong></div>
  </div>
  <%= render(:partial => "cvtool_template", :collection => @cvtool_templates,:params => params) %>
</div>

<%= will_paginate(@cvtool_templates) %>
<%= pageless(@cvtool_templates.total_pages, url_for(:controller => :cvtool_templates,:action => :index,:params => params), "#endless") %>