<div class="row">
  <div class="span12 bounded bounded-headered">
    <div class="row bounded-header">
      <h4>CV-tool template <%= @cvtool_template.name %></h4>
    </div>
    <div class="row">
      <div class="span1">
        <strong>Name</strong>
      </div>
    </div>
    <div class="row">
      <div class="span4">
        <%= @cvtool_template.name %><br /><br />
        <%= bootstrap_boolean(@cvtool_template.isactive) %> Active
      </div>
      <div class="span7">
        <pre class="real-pre"><%= @cvtool_template.description %></pre>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12 bounded">
    <div class="row">
      <div class="span12"><h4>Template content</h4></div>
    </div>
    <div class="row">
      <div class="span12">
        <pre class="mono">
          <%if @formatted_file_data && @formatted_file_data.size > 2 %>
            <%= CGI.escapeHTML(@formatted_file_data) %>
          <% end %>
        </pre>
      </div>
    </div>
    <% if @cvtool_template.template_by_user_id %>
    <div class="row">
      <div class="span12">
        Uploaded by:&nbsp;<%= User.find( @cvtool_template.template_by_user_id ).full_name %>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <%= link_to 'download templatefile', :action => 'sendscript', :id => @cvtool_template.id.to_s %>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="span7">
    <%= link_to edit_cvtool_template_path(@cvtool_template), :class => "btn", :title => "edit" do %>
      <i class="icon-edit"></i>
    <% end %>

    <%= link_to :back, :class => "btn", :title => "back" do %>
      <i class="icon-arrow-left"></i>
    <% end %>

    <%= link_to cvtool_templates_path, :class => "btn", :title => "overview" do %>
      <i class="icon-arrow-up"></i>
    <% end %>

    <%= next_prev_button("prev") %>
    <%= next_prev_button("next") %>
  </div>
</div>