<% f= form_fields %>
  <p>
    <%= f.label :stock_depot_id %><br />
    <%= f.select :stock_depot_id, StockDepot.all.collect { |s|[s.name,s.id]} %>
  </p>
<p>
    <%= f.label :org_id %><br />
    <%= f.text_field :org_id %>
  </p>
  <p>
    <%= f.label :stock_order_id %><br />
    <%= f.select :stock_order_id, StockOrder.all.collect { |s|[s.purchase_reference,s.id]}, :include_blank => true %>
  </p>
  <p>
    <%= f.label :stock_orderline_id %><br />
    <%= f.text_field :stock_orderline_id %>
  </p>
  <p>
    <%= f.label :shipping_order_id %><br />
    <%= f.text_field :shipping_order_id %>
  </p>
  <p>
    <%= f.label :shipping_orderline_id %><br />
    <%= f.text_field :shipping_orderline_id %>
  </p>
  <p>
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity %>
  </p>
  <p>
    <%= f.label :org_quantity %><br />
    <%= f.text_field :org_quantity %>
  </p>
  <p>
    <%= f.label :stock_reference %><br />
    <%= f.text_field :stock_reference %>
  </p>
  <p>
    <%= f.label :article_id %><br />
    <%= f.select :article_id, Article.where(:active => true).collect {|a|[a.name.to_s + ' - ' + a.customer_reference,a.id]}, :include_blank => true %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.select :status, WarehouseStock.status_hash %>
  </p>
  <p>
    <%= f.label :remarks %><br />
    <%= f.text_area :remarks %>
  </p>
