<h1>Editing warehouse_stock</h1>

<%= form_for([@warehouse_stock], :url => { :action => "update" }) do |f| %>
  <%= f.error_messages %>
    <%= render :partial => 'form_fields' ,:object => f %>

  
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @warehouse_stock.id %> |
<%= link_to 'Back', :controller => 'warehouse_stock', :action => 'index' %>