<h1>Warehouse Stock (on hand)</h1>

<%= form_tag url_for(:action => 'onhand',:controller => :warehouse_stock),:id => 'filter' do %>
  <%= label_tag("Article") %>
  <%= select_tag 'article_id', options_for_select(Article.where(:active => true).collect {|a|[a.name.to_s + ' - ' + a.customer_reference,a.id]}.insert(0, ''),@article.to_i) %>
  <%= label_tag("Batch") %>
  <%= select_tag 'stock_order_id', options_for_select(StockOrder.all.collect { |s|[s.purchase_reference,s.id]}.insert(0, ''),@stock_order.to_i) %>

<% end %>

<table class="noborder">
  <tr>
    <th>StockOrder</th>
    <th>Article</th>
    <th>&nbsp;</th>
    <th>Quantity</th>
  </tr>
<% @filter_result.each do |a| %>
<tr>
  <td><%=h a[2] %></td>
  <td><%=h Article.find(a[0]).name %>&nbsp;-</td>
  <td><%=h Article.find(a[0]).customer_reference %></td>
  <td align="right"><%=h a[1] %></td>
</tr>
<% end %>
<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>  
  <td><hr></td>
</tr>
<% @sum_by_article_id.each do |a| %>
<tr>
  <td>&nbsp;</td>
  <td colspan="2" align="right">In stock</td>  
  <td align="right"><b><%=h a[1] %></b></td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td colspan="2" align="right">Received unallocated</td>  
  <td align="right"><b><%=h @amount_forecast %></b></td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>  
  <td><hr></td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td colspan="2" align="right">Forecast</td>  
  <%  %>
  <% if (stock_forecast = (a[1] - @amount_forecast)) && stock_forecast < 0 %>
    <% color = "red" %>
  <% else %>
    <% color = "green" %>
  <% end %>
  <td align="right" style="color: <%=h color %>"><b><%=h stock_forecast %></b></td>
</tr>
<% end %>
</table>

<%#= observe_field "article_id", :function => "$('filter').submit();" %>
<%#= observe_field "stock_order_id", :function => "$('filter').submit();" %>

<script type="text/javascript">
  $("#article_id").change(function(){
    $("form:first").submit();
  });
  
  $("#stock_order_id").change(function(){
    $("form:first").submit();
  });
</script>
