<h1>Warehouse Stock</h1>

<%= grid(@warehouse_grid, :upper_pagination_panel => true) do |g|
    g.column :column_name => 'status' , :attribute_name => 'status', :custom_filter => WarehouseStock.status_hash do |s| 
        line = 'n.a.'    
        line = s.status_string if s.status
        linelong = s.id
        link_to line ,{:controller => :high_level_boms, :action => "show", :id => s.id},{:class => "toolTip", :title => linelong}
    end
    
    g.column :column_name => 'Id' , :attribute_name => 'id',:no_filter => false do |s| 
        line = s.id
        linelong = s.id
        link_to line ,{:controller => :high_level_boms, :action => "show", :id => s.id},{:class => "toolTip", :title => linelong}
    end
    
    g.column :column_name => 'orginal id' , :attribute_name => 'org_id',:no_filter => false do |s| 
        line = 'n.a.'    
        line = s.org_id if s.org_id
        linelong = s.org_id
        link_to line ,{:controller => :high_level_boms, :action => "show", :id => s.id},{:class => "toolTip", :title => linelong}
    end
    
    g.column :column_name => 'article' , :attribute_name => 'article_id', :custom_filter => [:article, :name] do |s| 
        line = 'n.a.'    
        line = s.article.name if s.article_id
        linelong = s.id
        link_to line ,{:controller => :high_level_boms, :action => "show", :id => s.id},{:class => "toolTip", :title => linelong}
    end
    
    g.column :column_name => 'stockorder' , :attribute_name => 'stock_order_id',:custom_filter => [:stock_order, :purchase_reference] do |s| 
        line = 'n.a.'    
        line = s.stock_order.purchase_reference if s.stock_order_id
        linelong = s.org_id
        link_to line ,{:controller => :high_level_boms, :action => "show", :id => s.id},{:class => "toolTip", :title => linelong}
    end  
    
    g.column :column_name => 'batch reference' , :attribute_name => 'stock_reference',:no_filter => false do |s| 
        line = 'n.a.'    
        line = s.stock_reference if s.stock_reference
        linelong = s.org_id
        link_to line ,{:controller => :high_level_boms, :action => "show", :id => s.id},{:class => "toolTip", :title => linelong}
    end

    g.column :column_name => 'quantity' , :attribute_name => 'quantity',:no_filter => true do |s| 
        line = 'none.'    
        line = s.quantity if s.quantity
        linelong = s.org_id
        link_to line ,{:controller => :high_level_boms, :action => "show", :id => s.id},{:class => "toolTip", :title => linelong}
    end
    
    g.column :column_name => 'original quantity' , :attribute_name => 'org_quantity',:no_filter => true do |s| 
        line = 'none'    
        line = s.org_quantity if s.org_quantity
        linelong = s.org_id
        link_to line ,{:controller => :high_level_boms, :action => "show", :id => s.id},{:class => "toolTip", :title => linelong}
    end
    
    g.column :column_name => 'stock orderline' , :attribute_name => 'stock_orderline_id',:no_filter => false do |s| 
        line = 'n.a.'    
        line = s.stock_orderline_id if s.stock_orderline_id
        linelong = s.org_id
        link_to line ,{:controller => :high_level_boms, :action => "show", :id => s.id},{:class => "toolTip", :title => linelong}
    end

    g.column :column_name => 'shipping order' , :attribute_name => 'shipping_order_id',:no_filter => false do |s| 
        line = 'n.a.'    
        line = s.shipping_order_id if s.shipping_order_id
        linelong = s.org_id
        link_to line ,{:controller => :high_level_boms, :action => "show", :id => s.id},{:class => "toolTip", :title => linelong}
    end

    g.column :column_name => 'shipping orderline' , :attribute_name => 'shipping_orderline_id',:no_filter => false do |s| 
        line = 'n.a.'    
        line = s.shipping_orderline_id if s.shipping_orderline_id
        linelong = s.org_id
        link_to line ,{:controller => :high_level_boms, :action => "show", :id => s.id},{:class => "toolTip", :title => linelong}
    end

    g.column :column_name => 'remarks' , :attribute_name => 'remarks',:no_filter => true do |s| 
        line = 'n.a.'    
        line = s.remarks if s.remarks
        linelong = s.org_id
        link_to line ,{:controller => :high_level_boms, :action => "show", :id => s.id},{:class => "toolTip", :title => linelong}
    end
    
    g.column :column_name => '' , :attribute_name => 'id',:no_filter => true do |s|
        link_to 'Edit', :action =>'edit', :controller => 'warehouse_stock',:id => s.id
    end 
end %>