<h1>New warehouse_stock</h1>

<%= form_for(@warehouse_stock) do |f| %>
  <%= f.error_messages %>
    <%= render :partial => 'form_fields' ,:object => f %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', :controller => 'warehouse_stock', :action => 'index' %>