<h4>Warehouse Stock (on hand)</h4>
<div class="row">
  <div class="span7 bounded">
    <%= form_tag url_for(:action => 'onhand',:controller => :warehouse_stock),:id => 'filter' do %>
      <div class="row">
        <div class="span4"><strong>Article</strong></div>
        <div class="span2"><strong>Batch</strong></div>
      </div>
      <div class="row">
        <div class="span4"><%= select_tag 'article_id', options_for_select(Article.where(:active => true).collect {|a|[a.name.to_s + ' - ' + a.customer_reference,a.id]}.insert(0, ''),@article.to_i),:class => 'span4' %></div>
        <div class="span2"><%= select_tag 'stock_order_id', options_for_select(StockOrder.all.collect { |s|[s.purchase_reference,s.id]}.insert(0, ''),@stock_order.to_i),:class => 'span2' %></div>
      </div>
    <% end %>

    <div class="row">
      <div class="span1"><strong>Stock order</strong></div>
      <div class="span3"><strong>Article</strong></div>
      <div class="span1"><strong>Quantity</strong></div>
      <div class="span1"><strong>Ordered</strong></div>
    </div>
    <% @filter_result.each do |a| %>
      <div class="row">
        <div class="span1"><%=h a[2] %></div>
        <div class="span3"><%=h Article.find(a[0]).name %>&nbsp;-<%=h Article.find(a[0]).customer_reference %></div>
        <div class="span1"><%=h a[1] %></div>
        <div class="span1"><%=h a[3] %></div>
      </div>
    <% end %>

    <div class="row">
      <div class="offset3 span3"><hr /></div>
    </div>
    <% @sum_by_article_id.each do |a| %>
      <div class="row">
        <div class="offset3 span1"><strong>Total in stock</strong></div>
        <div class="span1"><%=h a[1] %></div>
      </div>

      <div class="row">
        <div class="offset3 span2"><hr /></div>
      </div>
      <div class="row">
        <div class="offset3 span1"><strong>Received unallocated</strong></div>
        <div class="span1">-<%=h @amount_forecast %></div>
      </div>
      <div class="row">
        <div class="offset3 span2"><hr /></div>
      </div>
      <div class="row">
        <div class="offset3 span1"><strong>Forecast</strong></div>
        <% if (stock_forecast = (a[1] - @amount_forecast)) && stock_forecast < 0 %>
          <% color = "red" %>
        <% else %>
          <% color = "green" %>
        <% end %>
        <div class="span1" style="color:<%= color %>"><%=h stock_forecast %></div>
      </div>
    <% end %>
  </div>
</div>
|
<%= link_to(:back) do %>
<i class="icon-arrow-left">&nbsp;</i>
<% end %>
|
<script type="text/javascript">
  $('#article_id').chosen();
  $("#stock_order_id").chosen();

  $("#article_id").change(function(){
    $("form:first").submit();
  });
  
  $("#stock_order_id").change(function(){
    $("form:first").submit();
  });
</script>
