<p>
  <b>Depot:</b>
  <%=h @warehouse_stock.stock_depot.name.to_s if @warehouse_stock.stock_depot %>
</p>
<p>
  <b>Org:</b>
  <%=h @warehouse_stock.org_id %>
</p>

<p>
  <b>Stock order:</b>
  <%=h @warehouse_stock.stock_order_id %>
</p>

<p>
  <b>Stock orderline:</b>
  <%=h @warehouse_stock.stock_orderline_id %>
</p>

<p>
  <b>Shipping order:</b>
  <%=h @warehouse_stock.shipping_order_id %>
</p>

<p>
  <b>Shipping orderline:</b>
  <%=h @warehouse_stock.shipping_orderline_id %>
</p>

<p>
  <b>Quantity:</b>
  <%=h @warehouse_stock.quantity %>
</p>

<p>
  <b>Org quantity:</b>
  <%=h @warehouse_stock.org_quantity %>
</p>

<p>
  <b>Stock reference:</b>
  <%=h @warehouse_stock.stock_reference %>
</p>

<p>
  <b>Article:</b>
  <%=h @warehouse_stock.article_id %>
</p>

<p>
  <b>Status:</b>
  <%=h @warehouse_stock.status %>
</p>

<p>
  <b>Remarks:</b>
  <%=h @warehouse_stock.remarks %>
</p>


<%= link_to 'Edit', :action => :edit, :id => @warehouse_stock.id %> |
<%= link_to 'Back', :action => :index %>