<div class="row" id="row_show_<%= customer_content_value.id %>">
  <div class="span1">
      <div class="btn-group">
        <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
          Action
        <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to customer_content_value_path(customer_content_value) do %>
            <i class="icon-info-sign"></i>&nbsp;show
            <% end %>
          </li>
          <li>
            <%= link_to edit_customer_content_value_path(customer_content_value) do %>
            <i class="icon-edit"></i>&nbsp;edit
            <% end %>
          </li>          
          <li>
            <%= link_to customer_content_value_path(customer_content_value), method: :delete do %>
            <i class="icon-ban-circle"></i>&nbsp;destroy
            <% end %>
          </li>          
        </ul>
      </div>    
  </div>
  <div class="span1"><%= customer_content_value.id %>&nbsp;</div>
  <div class="span2"><%= customer_content_value.customer_content_specification.name %>&nbsp;</div>
  <div class="span2"><%= customer_content_value.customer_version %>&nbsp;</div>
  <div class="span2"><%= customer_content_value.received_date %>&nbsp;</div>
  <div class="span5"><%= customer_content_value.customer_content_specification.show_content_in_index? ? customer_content_value.value : "..." %>&nbsp;</div>
</div>