<h4><%= @heading %></h4>

<% if @customer_content_value.errors.any? %>
  <ul>
  <% @customer_content_value.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>

<%= form_for(@customer_content_value) do |f| %>
  <%= hidden_field_tag :product_line_id, @product_line_id %>
  <%= hidden_field_tag :specification_id, @specification_id %>
  <div class="row">
    <div class="span2"><strong>Specification</strong></div>
    <div class="span2">
      <% if @customer_content_value.customer_content_specification %>
        <%= @customer_content_value.customer_content_specification.name %>
      <% else %>
        <%= select :customer_content_value, :customer_content_specification_id, [''] + CustomerContentSpecification.active.collect {|s| [s.name, s.id]},{},
            {class: 'span2', id: 'chosen_customer_content_specification', data: { placeholder: "Select specification" } } %>
      <% end %>
    </div>
    <div class="span2"><strong>Customer version number</strong></div>
    <div class="span2"><%= f.text_field :customer_version, class: "span2" %></div>
    <div class="span2"><strong>Date content was received</strong></div>
    <div class="span2"><%= f.text_field :received_date, class: "span2" %></div>
  </div>
  <div class="row">
    <div class="span2"><strong>Value</strong></div>
    <div class="span10">
      <% if @customer_content_value.customer_content_specification.nil? || @customer_content_value.customer_content_specification.hash? || @customer_content_value.customer_content_specification.text? %>
        <%= f.text_area :value, rows: 8, class: "span10" %>
      <% elsif @customer_content_value.customer_content_specification.string? %>
        <%= f.text_field :value, class: "span10" %>
      <% else %>
        Content support for this customer content specification type has not been implemented yet.
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="span3">
      <%= f.submit "Save", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<script>
  $('#chosen_customer_content_specification').chosen();
  $('#customer_content_value_received_date').datepicker({
    format: 'dd-mm-yyyy'
  });
</script>
