<% @heading = "Editing Customer Content Value #{@customer_content_value.id}" %>
<%= render 'form' %>
|
<%= link_to customer_content_value_path(@customer_content_value, specification_id: @specification_id, product_line_id:@product_line_id) do %>
  <i class="icon-eye-open" title="show">&nbsp;</i>
<% end %>
|
<%= link_to :back do %>
<i class="icon-arrow-left" title="back">&nbsp;</i>
<% end %>
|
<% if @specification_id %>
  <%= link_to customer_content_specification_path(id:@specification_id, product_line_id:@product_line_id) do %>
    <i class="icon-arrow-up" title="overview">&nbsp;</i>
  <% end %>  
<% else %>
  <%= link_to customer_content_values_path do %>
    <i class="icon-arrow-up" title="overview">&nbsp;</i>
  <% end %>
<% end %>
|
