<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand"><strong>Customer content values</strong></div>
      <div class="span7">
        <%= form_tag customer_content_values_path, method: 'get' do %>
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <div class="input-prepend input-append">
            <%= link_to "New", {action: "new"},{class: "btn btn-info"} %>
              <%= select_tag("search_specification", options_for_select(CustomerContentSpecification.active.collect {|c| [c.name, c.id]}, params[:search_specification]),
                include_blank: true, class: 'span2', data: {placeholder: 'Specification'})
              %>
                <%= text_field_tag :search, params[:search], placeholder: " search",class: "span3" %>
                  <%= button_tag "Search", name: nil, type: :submit, class: "btn" %>
                    <%= button_tag "Reset", name: 'reset',class: "btn",type: :submit %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
  
  <div id="endless">
    <div class="row">
      <div class="offset1 span1"><strong><%= sortable 'id', 'Id' %></strong></div>
      <div class="span2"><strong><%= sortable 'customer_content_specifications.name', 'Name' %></strong></div>
      <div class="span2"><strong><%= sortable 'customer_version', 'Customer version' %></strong></div>
      <div class="span2"><strong><%= sortable 'received_date', 'Date received' %></strong></div>
      <div class="span4"><strong>Value</strong></div>
    </div>
    <%= render(partial: "customer_content_value", collection: @customer_content_values) %>  
  </div>
  <%= will_paginate(@customer_content_values) %>
  <%= pageless(@customer_content_values.total_pages, customer_content_values_path, "#endless") %>


<script>
  $('#search_specification').chosen({allow_single_deselect:true});
</script>
