<% @heading = "New Customer Content Value" %>
<%= render 'form' %>
|
<%= link_to :back do %>
<i class="icon-arrow-left" title="back">&nbsp;</i>
<% end %>
|
<% if @specification_id %>
  <%= link_to customer_content_specification_path(id:@specification_id, product_line_id:@product_line_id) do %>
    <i class="icon-arrow-up" title="overview">&nbsp;</i>
  <% end %>  
<% else %>
  <%= link_to customer_content_values_path do %>
    <i class="icon-arrow-up" title="overview">&nbsp;</i>
  <% end %>
<% end %>
|
