<div class="span7">
  <h4>Customer content value <%= @customer_content_value.id %></h4>
</div>
<div class="row">
  <div class="span10 bounded">
    <div class="row">
      <div class="span2"><strong>Specification</strong></div>
      <div class="span2"><strong>Customer version</strong></div>
      <div class="span2"><strong>Received date</strong></div>
    </div>
    <div class="row">
      <div class="span2">
        <%= @customer_content_value.customer_content_specification.name if @customer_content_value.customer_content_specification %>&nbsp;
      </div>
      <div class="span2"><%= @customer_content_value.customer_version %>&nbsp;</div>
      <div class="span2"><%= @customer_content_value.received_date %>&nbsp;</div>
    </div>
  </div>
</div>
<br />

<div class="row">
  <div class="span8"><strong>Customer content value</strong></div>
</div>
<div class="row">
    <div class="span8 bounded">
      <% if @customer_content_value.customer_content_specification.hash? && ! @customer_content_value.value.blank? %>
        <iframe scrollbars="auto"  width=700 height=300 src="<%= url_for action: :render_content, id: @customer_content_value.id.to_s, format:'json' %>"></iframe>
      <% else %>
        <%= @customer_content_value.value %>&nbsp;
      <% end %>
    </div>
</div>

|
<%= link_to edit_customer_content_value_path(@customer_content_value, specification_id: @specification_id, product_line_id: @product_line_id) do %>
  <i class="icon-edit" title="edit">&nbsp;</i>
<% end %>
|
<%= link_to :back do %>
  <i class="icon-arrow-left" title="back">&nbsp;</i>
<% end %>
|
<% if @specification_id %>
  <%= link_to customer_content_specification_path(id:@specification_id, product_line_id: @product_line_id) do %>
    <i class="icon-arrow-up" title="overview">&nbsp;</i>
  <% end %>  
<% else %>
  <%= link_to customer_content_values_path do %>
    <i class="icon-arrow-up" title="overview">&nbsp;</i>
  <% end %>
<% end %>
|
