body { 
    background-color:white;
    /*background-image:url(../img/dynamicAnchorBg.jpg); */
    font-family:Helvetica;
   

}

.inpeditable form input
{
    width:300px;
}

.borderdiv
{
    hseight:300px;
    margin-top:15px;
}

.impselect
{
    float:right;
    width:220px;
    padding:1em;
    position:absolute;
    left:50em;
    border: 1px solid black;
    z-index:1;
    border-radius:1em;
    border:1px solid #346789;
    box-shadow: 2px 2px 19px #e0e0e0;
    -o-box-shadow: 2px 2px 19px #e0e0e0;
    -webkit-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-border-radius:0.5em;
    border-radius:0.5em;

    cursor:move;

}

.chzn-container {
    font-size: 80%;
}

.preprocess_imp_select
{
   
    width:220px;
    padding:0.5em;
    margin-left:25px;
    position:absolute;
    border: 1px solid black;
    z-index:1;
    border-radius:1em;
    border:1px solid #346789;
    box-shadow: 2px 2px 19px #e0e0e0;
    -o-box-shadow: 2px 2px 19px #e0e0e0;
    -webkit-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-border-radius:0.5em;
    border-radius:0.5em;

    cursor:move;

}
/* docs */
.code { background-color:#e4e5ef; 
        border:1px solid black; margin:1em; padding:0.8em; 
        overflow:auto;
        font-family:courier; 
        font-size:8pt;
}
.section { border-bottom: 1px dotted black; padding:1em;font-family:helvetica;background-color:white;color:#333;}
.menu,.renderMode { 
    border-radius:0.5em;
    position:fixed; 
    right:1em; top:1em;
    background-color:#fff;
    padding:0.3em;
    opacity:0.8;
    z-index:5000;
    filter:alpha(opacity=80);
    box-shadow: 2px 2px 19px #aaa;
    -o-box-shadow: 2px 2px 19px #aaa;
    -webkit-box-shadow: 2px 2px 19px #aaa;
    -moz-box-shadow: 2px 2px 19px #aaa;

}

div.chzn-container a.chzn-single-with-drop{
    z-index:999;
}

.stepschema {
    
    height:10px;
    width:950px;
    left:300px;
    position:relative;
    border:solid 1px;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    box-shadow: 2px 2px 19px #E0E0E0;
    padding:10px;
    margin-bottom:50px;
}

._jsPlumb_connector
{
    z-index: 1;
}
.renderMode {
    left:1em;
    top:1em;
    width:13em;
    padding-top:0.1em;
    padding-bottom:0.5em;

}
.renderMode ul {
    padding-left:1em;
}
.renderMode ul li {
    list-style-type:none;
}
.renderMode h5 {
    margin-top:1em;
    margin-bottom:0.7em;
}

a {text-decoration:none;
   color:#01a3c6;
   font-weight:bold;
   font-family:helvetica;
   padding:0.3em;
   border-radius:0.2em;

}
a:hover {
    color:#1b911b;
    background-color:#f0f0f0;
}
#explanation a {
    background-color:transparent;
}
#explanation a:hover {
    text-decoration:underline;
}
.window, .label { 
    cursor:pointer;
    box-shadow: 2px 2px 19px #aaa;
    -o-box-shadow: 2px 2px 19px #aaa;
    -webkit-box-shadow: 2px 2px 19px #aaa;
    -moz-box-shadow: 2px 2px 19px #aaa;
}

#explanation { 
    cursor:drag;
    background-color:white;
    color:black;
    border:0.25em solid #ddd; 
    position:absolute;
    right:1em;
    top:4em;
    width:32em;
    font-size:90%;
    -moz-border-radius:1em;
    border-radius:1em;
    padding:1em;
    z-index:1000;
    opacity:0.9;
    filter:alpha(opacity=90); 
    font-family:helvetica;
    box-shadow: 2px 2px 19px #aaa;
    -o-box-shadow: 2px 2px 19px #aaa;
    -webkit-box-shadow: 2px 2px 19px #aaa;
    -moz-box-shadow: 2px 2px 19px #aaa;
}

.selected {
    color:rgb(189,11,11);
}


/*  these styles are what jsPlumb attaches to the various elements it creates.
._jsPlumb_connector {
border:1px solid blue;
}
._jsPlumb_endpoint {
border:1px solid green;
}
._jsPlumb_overlay {
border:1px solid yellow;
}
*/

#footer  
{
    position: absolute; 
    bottom: 0; 
    left: 0; 

}


.section li {
    list-style-type:none;
}

li.bullet {
    list-style-type:circle;
}


.section {
    padding-left:2em;
    font-size:10pt;
}
.index.section {
    padding-left:0;
}

.index {
    width:20em;
    font-size:9pt;
    float:left;
    background-color:#e4eeee;
    overflow:auto;
    padding-left:0.5em;
}

.index li {
    list-style-type:none;
}

.index ul, .index h3 {
    padding-left:1.5em;

}

#demo {
    width:100%;
    height:50em;
    position:relative;
}

.sub {
    margin-left:1em;
}

.table td {
    text-align:center;
}

path, ._jsPlumb_endpoint { cursor:pointer; }

.hover {
    box-shadow: 2px 2px 19px red;
    -o-box-shadow: 2px 2px 19px red;
    -webkit-box-shadow: 2px 2px 19px red;
    -moz-box-shadow: 2px 2px 19px red;
}

.connectbox { 
    
    width:9em;
    
    padding:0.3em;
    position:absolute;
    border: 10px solid black;
    z-index:4;
    left:17.5em;
    b/order-radius: 1em;
    border:1px solid #346789;
    box-shadow: 2px 2px 19px #e0e0e0;
    -o-box-shadow: 2px 2px 19px #e0e0e0;
    -webkit-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-border-radius:0.5em;
    border-radius:1.0em;
    opacity:0.9;
    filter:alpha(opacity=80);
    cursor:move;
}

.stepbox { 
    
    width:5em;
    padding:0.3em;
    position:absolute;
    border: 10px solid black;
    z-index:4;
    border-radius: 1em;
    border:3px solid #346789;
    box-shadow: 2px 2px 19px #e0e0e0;
    -o-box-shadow: 2px 2px 19px #e0e0e0;
    -webkit-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-border-radius:0.5em;
    border-radius:1.5em;
    opacity:0.9;
    filter:alpha(opacity=80);
    cursor:move;
}			

.w { 
    width:5em;
    
    padding:1.0em;
    position:absolute;
    border: 1px solid black;
    z-index:1;
    border-radius:1em;
    border:1px solid #346789;
    box-shadow: 2px 2px 19px #e0e0e0;
    -o-box-shadow: 2px 2px 19px #e0e0e0;
    -webkit-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-border-radius:0.5em;
    border-radius:0.5em;
    cursor:move;
    margin-bottom:5px;
    margin-top:5px;
    background-color:white;
}


.w2 { 
    width:18em;
    margin:0.5em;
    font-size:10px;
    padding:0.3em;
//    position:absolute;
    border: 1px solid black;
    z-index:4;
    border-radius:0.3em;
    border:1px solid #346789;
    box-shadow: 2px 2px 19px #e0e0e0;
    -o-box-shadow: 2px 2px 19px #e0e0e0;
    -webkit-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-border-radius:0.5em;
    border-radius:0.5em;
    opacity:0.8;
    filter:alpha(opacity=80);
    cursor:move;
}

.aLabel {
    background-color:white;
    opacity:0.8;
    padding:0.3em;				
}

.ep {
    
    width:1em;
    height:0.5em;
    background-color:#994466;
    cursor:pointer;
}

._jsPlumb_endpoint {
    z-index:1;
}
/*	._jsPlumb_connector { border:1px solid red; }*/

#DHIVE {
    left:4em;
    top:2em;
    width:7em;
}

#GPXD {
    left:4em;
    top:9em;
    width:7em;
}
#DH2HTMLD {
    left:19em;
    top:6em;
}
#GPXDO {
    left:32em;
    top:2em;
}
#HTMLD {
    left:32em;
    top:9em;
}

.dragHover { border:3px dotted red; }


 .dragHover
    {
        box-shadow: 2px 2px 19px #0064CD;
        -o-box-shadow: 2px 2px 19px #0064CD;
        -webkit-box-shadow: 2px 2px 19px #0064CD;
        -moz-box-shadow: 2px 2px 19px #0064CD;
    }

path { cursor:pointer; }


.remove_control
{
    
    cursor: pointer;
    float: right;
   
}

.imported_group
{
    background-color: lightgrey;
    width:1400px;
    padding:30px;
    margin:10px;
}