<div class="row">  
  <div class="span1">
    <div class="btn-group">
      <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
        Action
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to(:action => 'show',:controller => :config_parameters, :action => 'show',:id => config_parameter.id) do %>
            <i class="icon-info-sign"></i>&nbsp;show
          <% end %>
        </li>
        <li>
          <%= link_to(:action => 'edit',:controller => :config_parameters, :action => 'edit',:id => config_parameter.id) do %>
            <i class="icon-edit"></i>&nbsp;edit
          <% end %>
        </li>        
      </ul>
    </div>
  </div>    
  <div class="span1">&nbsp;<%= config_parameter.id %></div>
  <div class="span3">&nbsp;<%= config_parameter.cfg_name %></div>
  <div class="span3">&nbsp;<%=h truncate(config_parameter.cfg_value, :length => 40) %></div>
  <div class="span1">&nbsp;<%= config_parameter.cfg_type %></div>
  <div class="span1">&nbsp;<%= config_parameter.cfg_group %></div>
</div>
