<% if @config_parameter.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@config_parameter.errors.count, "error") %> prohibited this config_parameter from being saved:</h2>

    <ul>
      <% @config_parameter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<div class="row">
<%= form_for(@config_parameter) do |f| %>
    <div class="span7 bounded bounded-headered flat-roof">
      <div class="row bounded-header">
        <h4><%= params[:action].humanize %> config parameter</h4>
      </div>
  <div class="row">
    <div class="span3"><strong>Name</strong></div>
    <div class="span1"><strong>Type</strong></div>
    <div class="span"><strong>Group</strong></div>
  </div>

  <div class="row">
    <div class="span3"><span class="span3 uneditable-input"><%= @config_parameter.cfg_name %></span></div>
    <div class="span1"><span class="span1 uneditable-input"><%= @config_parameter.cfg_type %></span></div>
    <div class="span"><span class="span2_5 uneditable-input"><%= @config_parameter.cfg_group %></span></div>
  </div>

  <div class="row">
    <div class="span5"><strong>Value</strong></div>
  </div>

  <div class="row">
    <div class="span5"><%= f.text_area :cfg_value,{:rows => '10',:class => 'span7'} %></div>
  </div>

  <div class="row">
    <div class="span5"><strong>Description</strong></div>
  </div>

  <div class="row">
    <div class="span5"><%= f.text_area :description,{:rows => '3',:class => 'span7'} %></div>
  </div>

  <div class="actions row">
    <div class="span7">
      <%= f.submit "Save", :class => "btn pull-right" %>
    </div>
  </div>
<% end %>
</div>
</div>