<%= render 'form' %>
<div class="row">
  <div class="span12">
    <%= link_to :back, :class => 'btn',:title => 'back to previous page' do %>
      <i class="icon icon-arrow-left"></i>
    <% end %>
    <%= link_to config_parameters_path , :class => 'btn',:title => 'back to overview' do %>
      <i class="icon icon-arrow-up"></i>
    <% end %>
    <%= link_to @config_parameter,:class => 'btn',:title => "show" do %>
      <i class="icon-eye-open"></i>
    <% end %>
    <%= next_prev_button("prev") %>
    <%= next_prev_button("next") %>
  </div>
</div>