<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
    <div class="brand"><strong>Config parameters</strong></div>
    <div class="span7">
      <%= form_tag config_parameters_path, :method => 'get' do %>
        <%= hidden_field_tag :direction, params[:direction] %>
        <%= hidden_field_tag :sort, params[:sort] %>
        <div class="input-append">
          <%= text_field_tag :search, params[:search], :placeholder=>" search",:class=>"span3" %>
          <%= button_tag "Search", :name => nil, :type => :submit, :class => "btn" %>
          <%= button_tag "Reset", :name => 'reset',:class=>"btn",:type=>:submit %>
        </div>   
      <% end %>                  
    </div>
  </div>  
</div>
</div>

<div id="endless">
  <div class="row">   
    <div class="span1 offset1"><strong><%= sortable "id" %></strong></div>
    <div class="span3"><strong><%= sortable "cfg_name","Name" %></strong></div>
    <div class="span3"><strong><%= sortable "cfg_value","Value" %></strong></div>
    <div class="span1"><strong><%= sortable "cfg_type","Type" %></strong></div>
    <div class="span1"><strong><%= sortable "cfg_group","Group" %></strong></div>
  </div>
  <%= render(:partial => "config_parameter", :collection => @config_parameters) %>  
</div>

<%= will_paginate(@config_parameters) %>
<%= pageless(@config_parameters.total_pages, config_parameters_path, "#endless") %>
