<div class="row">
  <div class="span7 bounded bounded-headered">
    <div class="row bounded-header">
      <h4><%= params[:action].humanize %> config parameter</h4>
      <div class="pull-right">
        <strong>Version:</strong><%= @config_parameter.version %>
      </div>
    </div>
    <div class="row">
      <div class="span3"><strong>Name</strong></div>
      <div class="span1"><strong>Type</strong></div>
      <div class="span"><strong>Group</strong></div>
    </div>
    <div class="row">
      <div class="span3"><span class="span3 uneditable-input"><%= @config_parameter.cfg_name %></span></div>
      <div class="span1"><span class="span1 uneditable-input"><%= @config_parameter.cfg_type %></span></div>
      <div class="span"><span class="span2_5 uneditable-input"><%= @config_parameter.cfg_group %></span></div>
    </div>
    <div class="row">
      <div class="span5"><strong>Value</strong></div>
    </div>
    <div class="row">
      <div class="span5"><%= @config_parameter.cfg_value %></div>
    </div>
    <div class="row">
      <div class="span5"><strong>Description</strong></div>
    </div>
    <div class="row">
      <div class="span"><pre class="real-pre"><%= @config_parameter.description %></pre></div>
    </div>
    <div class="row">
      <div class="span7"><hr /></div>
    </div>
    <div class="row">
      <div class="span7">
        <div class="row">
          <div class="span1"><strong>Version</strong></div>
          <div class="span2"><strong>Value </strong></div>
        </div>
        <% @config_parameter.versions.order('version desc').each do |v| %>
          <div class="row">
            <div class="span1"><strong><%= v.version %></strong></div>
            <div class="span4"><small><%= v.cfg_value %></small></div>
            <div class="span1_5"><small><%= v.created_at.strftime("%d-%m-%Y %H:%M") %></small></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <%= link_to :back, :class => 'btn',:title => 'back to previous page' do %>
      <i class="icon icon-arrow-left"></i>
    <% end %>
    <%= link_to config_parameters_path , :class => 'btn',:title => 'back to overview' do %>
      <i class="icon icon-arrow-up"></i>
    <% end %>
    <%= link_to edit_config_parameter_path(@config_parameter),:class => 'btn', :title => "edit" do %>
      <i class="icon-edit"></i>
    <% end %>
    <%= next_prev_button("prev") %>
    <%= next_prev_button("next") %>
  </div>
</div>



