<%  f = formfields %>
<%= f.hidden_field :product_id  %>
<%= f.hidden_field :id  %>
<%= hidden_field_tag :set_id, params[:set_id]  %>

<div class="row">
  <div class="span9 bounded">
    <div class="row">
      <div class="span4">
        <div class="row">
          <div class="span1"><strong>Name</strong></div>
          <div class="span3"><%= f.text_field :name,:class => "span3" %></div>
        </div>
        <div class="row">
          <div class="span1"><strong>Supplier</strong></div>
          <div class="span3"><%= f.select :company_abbr_id,CompanyAbbr.all.order(:company_name).collect {|c| [ c.name, c.id ] },{ :include_blank => true},{:class => 'span3' } %></div>
        </div>
        <div class="row">
          <div class="span1"><strong>Release</strong></div>
          <div class="span3"><%= f.text_field :data_release,:class => "span3" %></div>
        </div>
        <div class="row">
          <div class="span1"><strong>Data type</strong></div>
          <div class="span3"><%= f.select :datatype_id,DataType.all.collect {|c| [ "#{c.name} - #{c.description}", c.id] },{},{:class => 'span3'} %></div>
        </div>
        <div class="row">
          <div class="span1"><strong>Data Filling</strong></div>
          <div class="span3"><%= f.select :filling,DesignTag.filling.collect{|f|["#{f.name} - #{f.description}","#{f.name}"]},{ :include_blank => true},{:class => 'span3' } %></div>
        </div>
        <div class="row">
          <div class="span1"><strong>Area</strong></div>
          <div class="span3"><%= f.select :area_name,Region.active.order(:name).collect{|r|["#{r.name}","#{r.name}"]},{ :include_blank => true},{:class => 'span3' } %></div>
        </div>
      </div>

      <div class="span5">
        <div class="row">
          <div class="span1"><strong>Remarks</strong></div>
          <div class="span4"><%= f.text_area :remarks, :style => 'width:95%', :rows => 9 %></div>
        </div>
        <div class="row">
          <div class="span1"><strong>&nbsp;</strong></div>
          <div class="span4"><label><%= f.check_box :major_dataset %> <small><strong>Main dataset</strong></small></label></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#product_data_set_info_datatype_id').select2({placeholder: "Select a data type"});
  $('#product_data_set_info_company_abbr_id').select2({placeholder: "Select a supplier"});
  $('#product_data_set_info_filling').select2({placeholder: "Select data filling",allowClear: true});
  $('#product_data_set_info_area_name').select2({placeholder: "Choose a area"});
  var data_rels =[]
  function getDatareleases(){
    $.post('<%= url_for(:action => :get_data_releases_for_select,:id => @product_data_set_info.id,:controller => :product_data_set_infos) %>',{company_abbr_id: "240"},function(data){
               data_rels = data;
                })
  }

  function format(item) { return item.text; }
    if ($('#product_data_set_info_data_release').val() != ""){
      var placehldr = $('#product_data_set_info_data_release').val();

    } else {
       var placehldr = 'Select a release';
       }

  $('#product_data_set_info_data_release').select2({
    createSearchChoice:function(term, data) { if ($(data).filter(function() { return this.text.localeCompare(term)===0; }).length===0) {return {id:term, text:term};} },
    multiple: false,
    ajax: {
      url: '<%=escape_javascript( url_for(:action => :get_data_releases_for_select,:id => @product_data_set_info.id,:controller => :product_data_set_infos)) %>.json',
        dataType: 'json',
        quietMillis: 100,
        data: function (term) {
          return {
            company_abbr_id: $("#product_data_set_info_company_abbr_id").val()
          };
        },
        results: function (data) {
          return {results: data};
        }
      },
      formatResult: format,
      formatSelection: format

  });
  $('#s2id_product_data_set_info_data_release span:first').text(placehldr);
</script>



