<div class="row">
  <div class="span1">
    <div class="btn-group">
      <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
      Action
      <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to(:action => :show , :id => product_data_set_info.id) do %>
          <i class="icon-info-sign"></i>&nbsp;show
          <% end %>
        </li>
        <li>
          <%= link_to(:action => :edit , :id => product_data_set_info.id) do %>
          <i class="icon-edit"></i>&nbsp;edit
          <% end %>
        </li>        
      </ul>
    </div>    
  </div>
  <div class="span0_5"><%= product_data_set_info.id %></div>
  <div class="span2"><%= product_data_set_info.name %></div>
  <div class="span2"><%= product_data_set_info.company_abbr.company_name if product_data_set_info.company_abbr  %>&nbsp;</div>
  <div class="span1"><%= product_data_set_info.data_release  %>&nbsp;</div>
  <div class="span2"><%= product_data_set_info.area_name %></div>
  <div class="span1"><%= product_data_set_info.data_info %></div>
  <div class="span1"><%= product_data_set_info.product.volumeid if product_data_set_info.product %></div>
</div>
