<h4>Editing product data set</h4>

<% if @product_data_set_info.errors.any? %>
  <ul>
    <% @product_data_set_info.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<%= form_for(@product_data_set_info) do |f| %>
  <%= render :partial => 'formfields' ,:object => f %>
  <p>
    <br />
    <%= f.submit "Update",:class => 'btn btn-primary' %>
  </p>
<% end %>
<% if params[:set_id] && params[:product_id] %>
  <%= link_to(:action => 'edit', :controller => 'products', :id => params[:product_id], :set_id => params[:set_id]) do %>
    <i class="icon-arrow-left"></i>&nbsp;Back to product
  <% end %>
<% elsif params[:product_id] %>
  <%= link_to(:action => 'edit', :controller => 'products', :id => params[:product_id]) do %>
    <i class="icon-arrow-left"></i>&nbsp;Back to product
  <% end %>
<% end %>