<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand"><strong>Product data sets</strong></div>
      <div class="span">
        <%= form_tag product_data_set_infos_path, :method => 'get' do %>
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <div class="input-append">
            <%= text_field_tag :search, params[:search], :placeholder=>" search",:class=>"span3",:size=>"16" %>
            <%= button_tag "Search", :name => nil, :type => :submit, :class => "btn" %>
            <%= button_tag "Reset", :name => 'reset',:class=>"btn",:type=>:submit %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="endless">
  <div class="row">
    <div class="span0_5 offset1"><strong><%= sortable 'id', 'ID' %></strong></div>
    <div class="span2"><strong><%= sortable "name" %></strong></div>
    <div class="span2"><strong><%= sortable 'company_abbr_id', 'Company' %></strong></div>
    <div class="span1"><strong><%= sortable "data_release", 'Release' %></strong></div>
    <div class="span2"><strong><%= sortable "area_name","Area" %></strong></div>
    <div class="span1"><strong><%= sortable 'data_info',"Data type" %></strong></div>
    <div class="span1"><strong><%= sortable 'products.volumeid',"Product ID" %></strong></div>
  </div>
  <%= render(:partial => "product_data_set_info", :collection => @product_data_set_infos) %>
</div>  
<%= will_paginate(@product_data_set_infos) %>
<%= pageless(@product_data_set_infos.total_pages, product_data_set_infos_path, "#endless") %>
