<h4>New Product data set</h4>
<% if @product_data_set_info.errors.any? %>
  <ul>
    <% @product_data_set_info.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for(@product_data_set_info) do |f| %>
 <%= render :partial => 'formfields' ,:object => f %>
  <p>
    <br />
    <%= f.submit "Create" ,:class => 'btn btn-primary' %>
    <%= f.submit "Create for all products on productset",:class => 'btn btn-danger' if params[:set_id] && params[:set_id].to_s.size > 0 %>
  </p>
  
<% end %>
<% if params[:set_id] && params[:link_id] %>
  <%= link_to(:action => 'edit', :controller => 'products', :id => params[:link_id], :set_id => params[:set_id]) do %>
    <i class="icon-arrow-left"></i>&nbsp;Back to product
  <% end %>
<% elsif params[:link_id] %>
  <%= link_to(:action => 'edit', :controller => 'products', :id => params[:link_id]) do %>
    <i class="icon-arrow-left"></i>&nbsp;Back to product
  <% end %>
<% end %>
