<p>
  <b>Product:</b>
  <%=h @product_data_set_info.product_id %>
</p>

<p>
  <b>Datarelease:</b>
  <%=h @product_data_set_info.data_release %>
</p>

<p>
  <b>Description:</b>
  <%=h @product_data_set_info.description %>
</p>

<p>
  <b>Remarks:</b>
  <%=h @product_data_set_info.remarks %>
</p>

<p>
  <b>Datatype:</b>
  <%=h @product_data_set_info.datatype_id %>
</p>

<p>
  <b>Area name:</b>
  <%=h @product_data_set_info.area_name %>
</p>


<%= link_to 'Edit', edit_product_data_set_info_path(@product_data_set_info) %> |
<%= link_to 'Back', product_data_set_infos_path %>
