<% f=form_fields %>
<div class="row">
  <div class="span4"><strong>Title</strong></div>
</div>

<div class="row">
  <div class="span4"><%= f.text_field :title, :class => 'span4' %></div>
</div>

<div class="row">
  <div class="span2"><strong>Product category</strong></div>
  <div class="span2"><strong>Status</strong></div>
</div>

<div class="row">
  <div class="span2"><%= f.select :status, StaticReleaseNoteTitle.status_hash,{}, {:class => 'span2'} %></div>
  <div class="span2"><%= f.select :product_category_id, ProductCategory.actives.collect {|pc|[pc.abbreviation,pc.id]}, {:include_blank => true},{:class => 'span2'} %></div>
</div>

<div class="row">
  <div class="span2">
    <label class="checkbox">
      <%= f.check_box :required_yn %> <strong>Include product-list</strong>
    </label>
  </div>
</div>
<br>
<p>
<% if controller.action_name == 'new' %>
  <%= f.submit 'Create', :class => 'btn btn-primary' %>
<% else %>
  <%= f.submit 'Update', :class => 'btn btn-primary' %>
  <% end %>
</p>