<% if static_release_note_title.required_yn == true
     lrequired = "Yes"
    else
      lrequired = "No"
    end
%>
<div class="row">
  <div class="span1">      
    <div class="btn-group">
        <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
        Action
        <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to(:action => 'show',:controller => :static_release_note_titles,:id => static_release_note_title.id) do %>
            <i class="icon-info-sign"></i>&nbsp;show
            <% end %>
          </li>
          <li>
            <%= link_to(:action => 'edit',:controller => :static_release_note_titles,:id => static_release_note_title.id) do %>
            <i class="icon-edit"></i>&nbsp;edit
            <% end %>
          </li>          
        </ul>
      </div>
  </div>
  <div class="span2"><%= static_release_note_title.status_string %>&nbsp;</div>
  <div class="span4"><%= static_release_note_title.title %>&nbsp;</div>
  <div class="span2"><%= static_release_note_title.product_category.abbreviation %>&nbsp;</div>
  <div class="span2"><%= lrequired %>&nbsp;</div>
</div>