<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="span3"><h4>Static titles for release notes</h4></div>
    <div class="span7">
      <%= form_tag static_release_note_titles_path, :method => 'get' do %>
        <%= hidden_field_tag :direction, params[:direction] %>
        <%= hidden_field_tag :sort, params[:sort] %>
        <div class="input-prepend input-append">
          <%= link_to 'New', new_static_release_note_title_path, {:class => 'btn btn-info',:title => 'new title'} %>
          <%= text_field_tag :search, params[:search], :placeholder=>" search",:class=>"span3",:size=>"16" %>
          <%= button_tag "Search", :name => nil, :type => :submit, :class => "btn" %>
          <%= button_tag "Reset", :name => 'reset',:class=>"btn",:type=>:submit %>
        </div>
      <% end %>                  
    </div>
  </div>  
</div> 
<div id="endless">
  <div class="row">
    <div class="offset1 span2"><strong><%= sortable 'status'  %></strong></div>
    <div class="span4"><strong><%= sortable 'title'  %></strong></div>
    <div class="span2"><strong><%= sortable 'product_category_id'  %></strong></div>
    <div class="span2"><strong><%= sortable 'required_yn','Required?'  %></strong></div>
  </div>
  <%= render(:partial => "static_release_note_title", :collection => @static_release_note_titles) %>  
</div>  
<%= will_paginate(@static_release_note_titles) %>
<%= pageless(@static_release_note_titles.total_pages, static_release_note_titles_path, "#endless") %>