<h3>New Static title</h3>
 
<%= form_for(@static_release_note_title) do |f| %>
<% if @static_release_note_title.errors.any? %>
  <div class="alert alert-error">
    <% @static_release_note_title.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
<% end %>
    <%= render :partial => 'form_fields' ,:object => f %>
  <% end %>

<%= link_to static_release_note_titles_path,{:title => 'Back'} do %>
    <i class="icon-arrow-left"></i>
<% end %>