<h3>Static title</h3>
<div class="row">
  <div class="span4"><h4><%=h @static_release_note_title.title %></h4></div>
</div>


<div class="row">
  <div class="span2"><strong>Product category</strong></div>
  <div class="span2"><%=h @static_release_note_title.product_category.abbreviation %></div>
  
</div>

<div class="row">
  <div class="span2"><strong>Status</strong></div>
  <div class="span2"><%=h @static_release_note_title.status_string %></div>
</div>

<div class="row">
  <div class="span2"><strong>Include product-list</strong></div>
  <div class="span2"><i class="icon-check">&nbsp;</i></div>
</div>
<br>
|
<%= link_to static_release_note_titles_path,{:title => 'Back'} do %>
  <i class="icon-arrow-left"></i>
<% end %>
|
<%= link_to edit_static_release_note_title_path(@static_release_note_title), { :title => "Edit" } do %>
  <i class="icon-edit"></i>
<% end %>
|