<tr <%= conversion.outcome_removed? ? "style=text-decoration:line-through class=danger" : "" %>>
  <td>
    <div class="btn-group">
      <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Action <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="action-<%= conversion.id %>">
      <% if conversion.status && conversion.status < Conversion::STATUS_REQUESTED %>
        <li>
          <% if conversion.production_orderline %>
            <%= link_to :controller => :conversions,:action => 'mail',:id => conversion.id, :production_orderline_id => conversion.production_orderline_id do %>
            <i class="glyphicon glyphicon-envelope"></i>&nbsp;send mail and update order
            <% end %>
          <% else %>
            <%= link_to :controller => :conversions,:action => 'mail',:id => conversion.id do %>
            <i class="glyphicon glyphicon-envelope"></i>&nbsp;send mail
            <% end %>
          <% end %>
        </li>
        <% end %>
        <li>
          <%= link_to(:action => 'show',:controller => :conversions,:id => conversion.id) do %>
          <i class="glyphicon glyphicon-info-sign"></i>&nbsp;show request
          <% end %>
        </li>
        <% if env_production? %>
        <li>
          <%= link_to(:action => 'handle',:controller => :conversions,:id => conversion.id) do %>
          <i class="glyphicon glyphicon-tasks"></i>&nbsp;handle request
          <% end %>
        </li>
        <% end %>
        <% if conversion.status != Conversion::STATUS_ENTRY %>
        <li>
          <%= link_to(:action => 'report', :controller => :conversions, :id => conversion.id) do %>
            <i class="glyphicon glyphicon-th-list"></i>&nbsp;conversion report
          <% end %>
        </li>
        <% end %>
        <% if conversion.allow_edit? %>
        <li>
          <%= link_to(:action => 'edit',:controller => :conversions, :action => 'edit',:id => conversion.id) do %>
          <i class="glyphicon glyphicon-edit"></i>&nbsp;edit request
          <% end %>
        </li>
        <% end %>
        <% if conversion.allow_edit_result %>
        <li>
          <%= link_to edit_result_conversion_path(conversion) do %>
          <i class="glyphicon glyphicon-pencil"></i>&nbsp;edit result
          <% end %>
        </li>
        <% end %>
        <% if !conversion.job_support? %>
        <li>
          <%= link_to(:action => 'cloneit',:controller => :conversions,:cloneid => conversion.id,:nopo => 'true') do %>
          <i class="glyphicon glyphicon-repeat"></i>&nbsp;clone request
          <% end %>
        </li>
        <% end %>
        <% if conversion.tpd == true && !conversion.job_support? %>
        <li>
          <%= link_to(:action => 'cloneit',:controller => :conversions,:cloneid => conversion.id, :inctpd => 1,:nopo => 'true') do %>
          <i class="glyphicon glyphicon-refresh"></i>&nbsp;clone request incl.tpd
          <% end %>
        </li>
        <li>
          <%= link_to(:action => 'tpd',:controller => :conversions,:id => conversion.id) do %>
          <i class="glyphicon glyphicon-camera"></i>&nbsp;edit tpd
          <% end %>
        </li>
        <% end %>
        <li>
          <% if conversion.status == Conversion::STATUS_FINISHED && conversion.output_format == "CAR" && conversion.allow_edit? %>
          <%= link_to(:controller => :stock,:action => 'new_request' ,:cid => conversion.id, :return_to_action => 'index', :return_to_controller => 'conversions') do %>
          <i class="glyphicon glyphicon-screenshot"></i>&nbsp;request media
          <% end %>
          <% end %>
        </li>
        <li>
          <% if conversion.status == Conversion::STATUS_FINISHED && conversion.allow_edit? %>
          <%= link_to(:controller => :test_requests,:action => :new ,:cid => conversion.id, :return_to_action => 'index', :return_to_controller => 'conversions', :remote => true) do %>
          <i class="glyphicon glyphicon-search"></i>&nbsp;request test
          <% end %>
        </li>
        <% end %>
        <li>
          <% if conversion.stock.size == 0 && !conversion.end_status? && conversion.allow_edit? %>
          <%= link_to({:controller => :conversions,:action => :to_remove ,:id => conversion.id},{:confirm => 'Are you sure to remove the request?'}) do %>
          <i class="glyphicon glyphicon-remove-sign"></i>&nbsp;Remove request
          <% end %>
        </li>
        <% end %>
        <li>
          <% if conversion.status == Conversion::STATUS_FINISHED && !conversion.outcome_persistent_yn && conversion.conversion_databases.available.size > 0 %>
          <% if conversion.product_locations.empty? %>
            <%= link_to(toggle_mark_for_removal_conversion_path(conversion), :data => {:confirm => 'Are you sure that the outcome of this conversion can be removed?'},:method => 'post') do %>
              <i class="glyphicon glyphicon-trash"></i>&nbsp;Mark outcome for removal
            <% end %>
          <% else %>
            <%= link_to(toggle_mark_for_removal_conversion_path(conversion), :data => {:confirm => 'You are marking outcome which is registered as released product, are you sure?'},:method => 'post') do %>
              <i class="glyphicon glyphicon-trash"></i>&nbsp;Mark outcome for removal
            <% end %>
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>
  </td>
  <td>
    <%= link_to conversion.id, conversion %>
    <span class="glyphicon glyphicon-<%= conversion.job_support? ? "retweet" : "hand-up" %>"></span>
    <% if conversion.outcome_persistent_yn %>
      <span class="glyphicon glyphicon-lock" title="Outcome is marked as persistent"></span>
    <% end %>
  </td>
  <td><%= conversion.input_format %></td>
  <td><%= conversion.output_format %></td>
  <td><%= conversion.region.name if conversion.region %></td>
  <td><%= conversion.data_release.company_abbr.company_name if conversion.data_release %></td>
  <td><%= conversion.data_release.name if conversion.data_release %></td>
  <td><%= conversion.status_str %></td>
  <td><%= conversion.conversiontool.code if conversion.conversiontool %></td>
  <td><%= conversion.cvtool_bundle.name if conversion.cvtool_bundle %></td>
</tr>

<script type="text/javascript">
  $("#markingremovalModal_<%= conversion.id %>").on('show', function () {
    $.get('<%= url_for fill_marking_for_removal_modal_confirm_conversion_path(conversion) %>');
  })
  $("#markingremovalModal_<%= conversion.id %>").on('hide', function () {
    $("#markingremovalModalContent").html('');
  })
</script>

