<ul class="thumbnails">
  <% c = 0 %>
  <% Date::MONTHNAMES.compact.each do |month_name| %>
    <% c += 1 %>
    <li class="span4">
      <div class="thumbnail" style="min-height: 150px">
        <strong><%= month_name %></strong>&nbsp;(<%=  @conversions_hash[month_name].size %>)
        <div id="months">
          <% @conversions_hash[month_name].each do |conversion| %>
          <div class="row">
            <div class="span4"><small><%= link_to conversion.id, conversion, :target => "_blank" %></small>|
              <small><%= conversion.input_format %><i class="icon-arrow-right"></i><%= conversion.output_format %></small>|
              <small><%= conversion.conversiontool.code %>/<%= conversion.cvtool_bundle.name %></small>|
              <small><%= conversion.productid %></small></div>
          </div>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
</ul>





