 
 
 <%= select_tag "conversion[cvtool_bundle_id]", options_for_select(@cb, params[:selected_id]), :include_blank=>true, :id => "conversion_cvtool_bundle_id", :class => "form-control", :data => { :placeholder => 'Select bundle' } %>
 <script>
   $('#conversion_cvtool_bundle_id').select2({allow_single_deselect:true});
 </script>

