<div class="modal hide fade" id="myModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <span class="label label-warning">CV-tool Warning</span>
  </div>
  <div class="modal-body">
    <% if @conversiontool.prod_released_yn == false %>
     <h4><%= @conversiontool.code %> is not released for production!</h4>
    <% end %>
    <br>
    <blockquote><p><small><%= @conversiontool.remarks %></small></p></blockquote>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>


