<%=  select_tag("search_release", options_for_select(@datareleases,params[:search_release]),:include_blank=>true,:class => 'span1_5',:data=>{:placeholder => 'Release'}) %>
<script type="text/javascript">
  $("#search_release").chosen({allow_single_deselect:true,width: "55%"})
</script>