 <%= select_tag "conversion[data_release_id]",
         options_for_select(@data_releases.collect {|c| [ c.name.to_s  , c.id ] },@conversion.data_release_id), :include_blank => true, :id => "conversion_data_release_id", :class => "form-control" %>


