<table>
  <% f = formfields_tpd %>
  <tr>
    <td><span id="productid_s" class="popup_link"><b>Product Id:</b></span></td>
   <td><%= @conversion.productid %></td>
 </tr>
 <tr>
   <td><b>Conversion Id:</b></td>
   <td><%= @conversion.id %></td>
  </tr>
  <tr>
   <td><span id="datasource_id_s" class="popup_link"><b>Map supplier</b></span</td>
   <td><%= @conversion.data_release.company_abbr.name[0..15]  %></td>
  </tr>

  <tr>
    <td><span id="region_name_s" class="popup_link"><b>Area:</b></span></td>
    <td><%= @conversion.region_name %></td>
  </tr>

  <tr>
    <td><span id="tpd_products_s" class="popup_link"><b>Tpd Product:</b></span></td>
    <td><%= f.text_area :tpd_products, :rows => 10, :cols => 50 %><button type="button" id="rejectTPD">Reject TPD</button></td>
  </tr>
  <tr>
    <td><span id="tpd_rejected_s" class="popup_link"><b>Rejected TPD:</b></span></td>
    <td><%= f.text_area :tpd_rejected , :rows=> 10 , :cols => 50 %></td>
  </tr>
  <tr>
    <td><span id="tpd_rejection_remark_s" class="popup_link"><b>Cause of rejection:</b></span></td>
    <td><%= f.text_area :tpd_rejection_remark, :rows => 10, :cols => 50 %></td>
  </tr>
</table>
<%= f.hidden_field :legacy_type %>
<%= f.hidden_field :outcome %>
<%= f.hidden_field :tpd_result_sender, :value => @current_user.first_name.to_s  + " "  + @current_user.last_name.to_s %>

<script type="text/javascript">
  $("#rejectTPD").click(function(){
    $("#conversion_tpd_rejected").val($('#conversion_tpd_products').val() + "\n" + $("#conversion_tpd_rejected").val());
    $('#conversion_tpd_products').val('');
  });
</script>
