<% f = form_fields_conversion %>
<%= f.hidden_field :request_date %>
<%= f.hidden_field :production_orderline_id %>
<% if params[:return_to_controller] && params[:return_to_action] %>
  <%= hidden_field_tag "return_to_controller", params[:return_to_controller] %>
  <%= hidden_field_tag "return_to_action", params[:return_to_action] %>
  <%= hidden_field_tag "return_to_id", params[:return_to_id] %>
<% end %>

<div class="row">
  <div class="col-md-8">
    <% if @conversion.errors.any? %>
      <div id="error_explanation">
        <h4><%= pluralize(@conversion.errors.count, "error") %> prohibited this conversion from being saved:</h4>        
        <ul>
          <% @conversion.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <div id="form_error_explanation" class="alert alert-danger hidden">
      <ul><!-- dynamic ajax errors --></ul>
    </div>    
  </div>
</div>

<% if controller.action_name == "new" && @prev_conversion && !@prev_conversion.empty? %>
<div class="row">
  <div class="col-md-8">
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>This is a re-conversion!</strong>.
      If you like to clone a previous request, please click the link(s) below.<br />
      <% @prev_conversion.each do |c| %>
        <%= link_to("Clone " + c.id.to_s,{:cloneid => c.id,:action => :cloneit,:params=>@pass_params}) %>
        <%= c.input_format %>2<%= c.output_format %> (<%= c.outcome %>)
      <% end %>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= params[:action] %> Conversion <%= @conversion.id.to_s %></h3>
        <small>
          <%= @conversion.production_orderline ? "Production order: " + @conversion.production_orderline.production_order.name : "No production order involved"  %>&nbsp;
          <%= @conversion.cloned_from_id ? "#{@conversion.id} Cloned from ID #{@conversion.cloned_from_id}" : '' %>&nbsp;
          <%= @conversion.patch_request_yn ? "PATCH REQUEST" : '' %>
        </small>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4 show-label">Get values from other conversion</div>
          <div class="col-md-4 show-label">Get values by product</div>
          <div class="col-md-4 show-label">Fill input data form by assembly</div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <%= text_field_tag "clone_from", '',:class => "form-control" %>
          </div>
           <div class="col-md-4">
            <%= f.select :productid, Product.where(:removed_yn => false).order("volumeid DESC").collect{|p|[p.to_label.strip,p.volumeid]},{:include_blank => true},:class => "form-control" %>
          </div>
           <div class="col-md-4">
            <%= f.select :assembly_id, @conversion.assembly_select_option_list, {:include_blank => true}, {:class => "form-control"} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-1 show-label">From</div>
          <div class="col-md-1 show-label">To</div>
          <div class="col-md-3 show-label">Supplier</div>
          <div class="col-md-2 show-label">Data release</div>
          <div class="col-md-3 show-label">Coverage</div>
          <div class="col-md-2 show-label">Purpose</div>
        </div>
        <div class="row">
          <div class="col-md-1">
            <%= f.select :input_format ,DataType.where(:isactive => true).order(:name).collect {|c| [c.name,c.name]},{:include_blank => true}, {:class => "form-control"} %>
          </div>
          <div class="col-md-1">
            <%= f.select :output_format,DataType.where(:isactive => true).order(:name).collect {|c| [c.name,c.name]},{:include_blank => true}, {:class => "form-control"}  %>
          </div>
          <div class="col-md-3">
            <div id="cg-supplier" class="control-group">
              <% if @conversion.data_release %>
                <%= select_tag "conversion_datasource_id",options_for_select(CompanyAbbr.find_all_for_module("WebMIS").collect {|c| [c.name, c.id.to_s] },@conversion.data_release.company_abbr.id.to_s),:include_blank => true, :id =>"conversion_datasource_id", :class => "form-control" %>
              <% else %>
                <%= select_tag "conversion_datasource_id",options_for_select(CompanyAbbr.find_all_for_module("WebMIS").collect {|c| [c.name, c.id.to_s] }), {:include_blank => true, :class => "form-control", :id =>"conversion_datasource_id"} %>
              <% end %>
            </div>
          </div>
          <div class="col-md-2">
            <div id="datarelease_div">
               <%= f.select :data_release_id,  DataRelease.production.collect {|c| [ c.name.to_s  , c.id ] }, {:include_blank => true}, :class => "form-control" %>
            </div>
          </div>
          <div class="col-md-3">
            <%= f.select :region_id, Region.active.collect {|c| ["#{c.name} - #{c.region_code}",c.id]}, {:include_blank => true}, :class => "form-control" %>
          </div>
          <div class="col-md-2">
            <%= f.select :purpose, ["Production","Test"], {}, :class => "form-control" %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 show-label">Conversion tool</div>
          <div class="col-md-3 show-label">Conversion bundle</div>
          <div class="col-md-2 show-label">Conversion environment</div>
          <div class="col-md-3 show-label">Conversion template</div>
          <div class="col-md-1 show-label">Priority</div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <%= f.select :conversiontool_id , Conversiontool.select_tag, {:include_blank => true}, :class => "form-control" %>
          </div>
          <div class="col-md-3">
            <div id="cvtool_bundle_div">
            <%= f.select :cvtool_bundle_id , CvtoolBundle.select_cvtool_bundles(@conversion.conversiontool_id, nil), { :include_blank => true }, :class => "form-control" %>
            </div>
          </div>
          <div class="col-md-2">
            <%= f.select :conversion_environment_id , ConversionEnvironment.collection_for_select, {}, :class => "form-control" %>
          </div>
          <div class="col-md-3">
            <%= f.select :template_filename, [@conversion.template_filename.to_s] +  CvtoolTemplate.where('isactive = 1').order('name').collect {|c| [c.name,c.name]},{:include_blank => true},{:class => "form-control"} %>
          </div>
          <div class="col-md-2">
            <%= f.select :priority , ['Normal','High','Low'], {}, :class => "form-control" %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 show-label">Input reference</div>
          <div class="col-md-10 show-label">Input data</div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <%= f.text_area :reference_numbers, :rows => 12, :class => "form-control"  %>
          </div>
          <div class="col-md-10">
            <%= f.text_area :data_files, :rows => 12,:class => "form-control" %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 show-label">Additional info</div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= f.text_area :additional_info, :rows => 4,:class => "form-control" %>
          </div>
        </div>
        <div class="row"><br /></div>
        <div class="row">
          <div class="col-md-2">
            <% if @conversion.id && !@conversion.design_json.blank? %>
              <button class="btn btn-default" type="button" title="create a assembly based on attached design"><span class="glyphicon glyphicon-import"></span>Create assembly from design</button>
            <% end %>
          </div>
          <div class="col-md-10">
             <%= f.submit "Save",:class => 'btn btn-default pull-right'%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function selectListItems(obj) {
    var dr = '<div class="row">';
    var cd = '</div>';
    var sp1 = '<div class="col-md-2">';
    var sp4 = '<div class="col-md-11">';
    var markup = dr;
    markup += sp1 + '<strong>' + obj['id'] + '</strong> ' + cd;
    markup += sp4 + (obj['input_format'] == null ? '' : obj['input_format']) + ' -> ' + obj['output_format'] + ' ' + obj['ms_abbr_3'] + ' ' + obj['datarelease'] + ' ' + obj['regionname'] + ' ' + (obj['productid'] == null ? '' : obj['productid'])  + cd;
    markup += cd;
    return markup;
  }

  function selectedValue(obj) {
    return ('' + obj.id.toString() + ' ' + obj.input_format == null ? '' : obj.input_format) + ' -> ' + obj.output_format + ' ' + obj.ms_abbr_3 + ' ' + obj.datarelease + ' ' + obj.regionname + ' ' + (obj.productid == null ? '' : obj.productid)
  }

  function enableSelect2() {
    $('#clone_from').select2({
      placeholder: 'Select a conversion to fill form',
      allowClear: true,
      minimumInputLength: 3,
      ajax: {
        url: "<%= escape_javascript(url_for(:action => 'conversions_for_select')) %>.json",
        dataType: 'json',
        quietMillis: 100,
        data: function (term, page) {

          return {
            q: term, // search term
            page_limit: 15,
            page: page
          };
        },
        results: function (data, page) {
          var more = (page * 15) < data.total;
          return {results: data.results, more: more};
        }
      },
      formatResult: selectListItems,
      formatSelection: selectedValue,
      dropdownCssClass: "bigdrop"
    });
    $('#conversion_productid').select2({allowClear:true,search_contains: true,placeholder:"Select product id to fill form"});
    $('#conversion_assembly_id').select2({allowClear:true,search_contains: true,placeholder:"Select assembly to fill input data"});
    $('#conversion_input_format').select2({allowClear:true,placeholder:"From"});
    $('#conversion_output_format').select2({allowClear:true,placeholder:"To"});
    $('#conversion_datasource_id').select2({allowClear:true,placeholder:"Select supplier"});
    $('#conversion_data_release_id').select2({allowClear:true,placeholder:"Select data release"});
    $('#conversion_region_id').select2({placeholder:"Select Coverage",search_contains: true,matcher: function(term, text) { return text.toUpperCase().indexOf(term.toUpperCase())==0;}});
    $('#conversion_purpose').select2({allowClear:true});
    $('#conversion_conversiontool_id').select2({placeholder:"Select tool",search_contains: false, matcher: function(term, text) {;return text.substr(0,term.length) === term}});
    $('#conversion_cvtool_bundle_id').select2({placeholder:"Select bundle",allowClear:true});
    $('#conversion_conversion_environment_id').select2({allowClear:true});
    $('#conversion_template_filename').select2({placeholder:"Select template",allowClear:true});
    $('#conversion_priority').select2();
  }
  enableSelect2();

  // Sync data_release select with data_source_select
  function get_data_releases(companyabbrID){
    jQuery.get('<%= url_for get_datareleases_conversions_path %>' + '?caid=' + companyabbrID, function(data){
      $("#datarelease_div").html(data);
      $('#conversion_data_release_id').select2({allowClear:true,placeholder:"Select data release"});
      return false
    })
  }

  // Fill fields with values from other conversion
  $('#clone_from').change(function(){
    $.get('<%= url_for(fill_cloned_attributes_conversions_path) %>', {clone_id:$(this).val()})
    .done(function( data ) {
      enableSelect2();
    });
  });

  // Fill data_release_select with releated data_source
  $("#conversion_datasource_id").change(function() {
    var selected = $('#conversion_datasource_id').val();
    if(selected == "") {selected="0"};
    get_data_releases(selected);
    return false;
  });

  // Sync data_release select with data_source_select
  $('#conversion_data_release_id').on("select2-opening", function(){
    $('#conversion_data_release_id').select2("destroy");
    get_data_releases($("#conversion_datasource_id").val());
  });

  // Fill input data fields with lines from assembly
  $("#conversion_assembly_id").change(function() {
    var productid = $('#conversion_productid').val();
    var outputformat = $('#conversion_output_format').val();
    var assemblyid = $('#conversion_assembly_id').val();
    jQuery.getScript('<%= url_for import_assembly_conversions_path %>' + '?product_id=' + productid + '&output_format=' + outputformat + '&assembly_id=' + assemblyid)
  });
  
  // Fill depended cvtool_bundle select with related bundles
  $("#conversion_conversiontool_id").change(function(){
    var selected = $('#conversion_conversiontool_id').val();
    var bundle_selected = $('#conversion_cvtool_bundle_id').val();

    jQuery.get('<%= url_for get_cvtool_bundles_conversions_path %>'+'?conversiontool_id=' + selected + "&selected_id=" + bundle_selected, function(data){
      $("#cvtool_bundle_div").html(data)
    })
    return false;
  });

  // Create assembly based on product design allocate data
  $( "#allocate_data_button" ).click(function( event ) {
      if (confirm('Assembly will be created based on production design. Are you sure?')) {
          $.post('<%= url_for :controller=>'conversions', :action=>'allocate_data', :id => params[:id] %>', {cvtool_id: '1'},function(data) {
          });
      }
  });

  // Fill fields based on product attributes
  $("#conversion_productid").change(function() {
    var productid = $('#conversion_productid').val();
    var olid = $('#conversion_production_orderline_id').val();
    jQuery.getScript('<%= url_for get_data_by_pid_conversions_path %>' +'/?productid=' + productid + '&olid=' + olid)
    .done(function( data ) {
      enableSelect2();
      flash_on_demand("info","Value search finished","relevant fields are filled from product definition");
    });
    
  });

  // Form validation
  $( "#conversionForm" ).submit(function( event ) {
    if ( $( "#conversion_data_files").val() === "" ) {
      event.preventDefault();
      $('#form_error_explanation > ul').append('<li>Input data is mandatory</li>');
      $('#form_error_explanation').removeClass('hidden');
      $(Document).scrollTop( 0 );
      
      return false;
  }});

</script>