<div class="row" id="jobThumbnails">
  <% @conversion.conversion_jobs.where("status < #{ConversionJob::STATUS_RESCHEDULED}").order(:group_value).each do |job| %>
    <% job_tagmodel = job.tagmodel(['coverage','core','filling','bundle_release'])  %>
    <div class="col-md-2">
      <div class="panel <%= job_status_to_bootstrap_panel_css(job.status) %>" style="height: 150px;">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-8">
              <h3 class="panel-title"><%= link_to job.id, job, target: "_blank" %> <small><%=  job.coverage_label if job_tagmodel['coverage'] %></small></h3>
            </div>
            <div class="col-md-4">
              <small><span class="label label-default pull-right"><%= job.status_str %></span></small>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4">
              <small><%= @conversion.server_name %><%= job.run_server.blank? ? '-' : job.run_server %></small>
            </div>
            <div class="col-md-8">
              <small class="pull-right">
                <% job.conversion_databases.each do |db| %>
                  <%= ( db.unavailable? ) ? raw("<del>") : '' %><%= link_to db.id, db, target: "_blank" %><%= ( db.unavailable? ) ? raw("</del>") : '' %>
                <% end %>
              </small>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <small>
                <%=  job_tagmodel['core'].join('').gsub('|',' ').upcase if job_tagmodel['core'] %>&nbsp;
                <%=  job_tagmodel['filling'].join(' ').upcase if job_tagmodel['filling'] %>&nbsp;
                <%=  job_tagmodel['bundle release'].join(' ').upcase if job_tagmodel['bundle release'] %>&nbsp;
              </small>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <% unless job.bug_tracker_id.to_s.blank? %>
                <%= link_to "#{job.bug_tracker_id} ", "#{ConfigParameter.get("cr_tool_url")}#{job.bug_tracker_id}",:target => "_blank" %>
              <% end %>
              <% if ( job.status == ConversionJob::STATUS_FAILED ) && params[:action] == "handle" %>
                <%= check_box_tag "restart_job_id_#{job.id}",job.id,{:checked => "checked",:class => "form-control"} %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

