<div class="row">
  <% cols = report_cols(@input_report_data, @conversion) %>

  <div class="col-md-2">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Input</h3>
      </div>
      <div class="panel-body">
        <% unless @input_report_data[:data_set].empty? %>
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Process Data</h3>
            </div>
            <div class="panel-body">
              <% @input_report_data[:data_set].each do |pd| %>
                <div class="row">
                  <div class="col-md-12">
                    <%= link_to pd.id, pd, target: "_blank" %> <small><%= ( pd.status != DataSet::STATUS_REMOVED ) ? raw('<del>') : '' %><%= pd.label(true) %><%= ( pd.status != DataSet::STATUS_REMOVED ) ? raw('</del>') : '' %></small>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
        <% unless @input_report_data[:receptions].empty? %>
          <div class="panel panel-default panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Reception</h3>
            </div>
            <div class="panel-body">
              <% @input_report_data[:receptions].each do |rc| %>
                <div class="row">
                  <div class="col-md-12">
                    <%= link_to rc.id, rc, target: "_blank" %> <small><%= ( rc.available? ) ? '' : raw('<del>') %><%= rc.core_tags.join(" ") %><%= ( rc.available? ) ? '' : raw('</del>') %></small>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
        <% unless @input_report_data[:unknown].empty? %>
          <div class="panel panel-default panel-warning">
            <div class="panel-heading">
              <h3 class="panel-title">Unmapped</h3>
            </div>
            <div class="panel-body">
              <% @input_report_data[:unknown].each do |uk| %>
                <div class="row">
                  <div class="col-md-12">
                    <small><%= uk %></small>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Legend</h3>
          </div>
          <div class="panel-body">
            <ul class="list-group">
              <li class="list-group-item list-group-item-info">Input data</li>
              <li class="list-group-item list-group-item-success">Conversion</li>
              <li class="list-group-item list-group-item-warning">Unmapped data</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% cols.each do |col| %>
    <% unless col.empty? %>
      <div class="col-md-2">

        <% col.each do |key, conversions| %>
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <span class="label"><%= key.split('|')[0] %></span>
                    <span class="glyphicon glyphicon-arrow-right"></span>
                    <span class="label"><%= key.split('|')[1] %></span></h3>
                </div>
                <div class="panel-body">
                  <% conversions.each do |conversion_id, conversion_data| %>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="panel panel-success">
                          <div class="panel-heading">
                            <h3 class="panel-title">
                              <%= link_to conversion_id, conversion_data[:self], target: '_blank' %>&nbsp;
                              <%= conversion_data[:self].outcome_removed? ? raw('<del>') : '' %><small><strong><%= conversion_data[:self].label %></strong></small><%= conversion_data[:self].outcome_removed? ? raw('</del>') : '' %>
                            </h3>
                          </div>
                          <div class="panel-body">
                            <ul class="list-group">
                              <% conversion_data[:conversions].each do |conv| %>
                                <li class="list-group-item list-group-item-success">
                                  <small><%= link_to conv.id, conv, target: '_blank' %><br />
                                    <%= conv.outcome_removed? ? raw('<del>') : '' %><%= conv.label %></small><%= conv.outcome_removed? ? raw('</del>') : '' %>
                                </li>
                              <% end %>
                              <% conversion_data[:data_set].each do |pd| %>
                                <li class="list-group-item list-group-item-info">
                                  <small><%= link_to pd.id, pd, target: "_blank" %><br />
                                    <%= ( pd.status != DataSet::STATUS_REMOVED ) ? raw('<del>') : '' %><%= pd.label(true) %><%= ( pd.status != DataSet::STATUS_REMOVED ) ? raw('</del>') : '' %></small>
                                </li>
                              <% end %>
                              <% conversion_data[:receptions].each do |reception| %>
                                <li class="list-group-item list-group-item-info">
                                  <small><%= link_to reception.id, reception, target: "_blank" %><br />
                                    <%= ( reception.available? ) ? '' : raw('<del>') %><%= reception.core_tags.join(" ") %><%= ( reception.available? ) ? '' : raw('</del>') %></small>
                                </li>
                              <% end %>
                              <% conversion_data[:unknown].each do |unknown| %>
                                <li class="list-group-item list-group-item-warning">
                                  <small><%= unknown %></small>
                                </li>
                              <% end %>
                              <% unless conversion_data[:unknown_input_data].empty? %>
                                <li class="list-group-item list-group-item-warning">
                                  <span class="badge" id="unmapped-<%= conversion_id %>"><%= conversion_data[:unknown_input_data].size %></span>
                                  <div class="hide" id="unmappedData-<%= conversion_id %>"><%= raw conversion_data[:unknown_input_data].join('<br />') %></div>
                                  <small>Unmapped input </small>
                                </li>
                              <% end %>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

<div class="modal fade" id="unmappedModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 id="unmappedModalLabel">Unmapped input files</h4>
      </div>
      <div class="modal-body" id="unmappedModalBody">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $("[id^=unmapped-]").click(function(){
    var elid = parseInt( $(this).attr('id').replace ( /[^\d.]/g, '' ) );
    $("#unmappedModalBody").html($("#unmappedData-" + elid).html());
    $("#unmappedModalLabel").text("Unmapped input files for conversion " + elid);
    $("#unmappedModal").modal("show");
  })
</script>