<% if !@conversion.rejection_remark.blank? %>
<div class="row">
  <div class="col-md-10">
    <div id="form_error_explanation" class="alert alert-danger">
      <pre class="text-pre"><strong>Request rejected</strong><br /><%=  @conversion.rejection_remark %></pre>
    </div>
  </div>
</div>
<% end %>

<div class="row">
  <div class="col-md-10" id="coreData">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-1">
            <% actionlink = ( @favorite ?:remove_tag : :favorite ) %>
            <%= link_to({:action => actionlink, :id => @conversion.id},{:title => 'toggle favorite'}) do %>
            <span class="lead glyphicon <%= @favorite ? 'glyphicon-star' : 'glyphicon-star-empty' %>"></span><span class="badge badge-inverse"><%= @conversion.id %></span>
            <% end %>
          </div>
          <div class="col-md-8">
            <h3 class="panel-title">Conversion <%= params[:action] %> <%= @conversion.label %></h3>
              <% if @conversion.production_orderline %>
                <%=  link_to "Production order " + @conversion.production_orderline.production_order.id.to_s, @conversion.production_orderline.production_order, :target => "_blank" %>
                "<%= @conversion.production_orderline.production_order.name %>"
                (line <%= @conversion.production_orderline.id %>
                -<small><%= @conversion.production_orderline.bp_status_str %></small>)
              <% end %>
          </div>
          <div class="col-md-2">
            Request by <%= @conversion.request_by %><br />
            Handled by <%= @conversion.converter.blank? ? "N/A" : @conversion.converter %>
          </div>
          <div class="col-md-1">
            <span class="label label-info"><%= @conversion.status_str %></span>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-1 show-label">Product ID</div>
          <div class="col-md-2 show-label">Supplier</div>
          <div class="col-md-1 show-label">Release</div>
          <div class="col-md-2 show-label">Coverage</div>
          <div class="col-md-1 show-label">Clone ID</div>
          <div class="col-md-3 show-label">Conversion Tool</div>
          <div class="col-md-2 show-label">Template</div>
        </div>
        <div class="row">
          <div class="col-md-1">
            <% if @conversion.production_orderline && !@conversion.productid.blank? %>
              <%=  link_to @conversion.productid, :controller => :products, :action => "show", :id => ProductionOrderline.find(@conversion.production_orderline_id).product.id %>
            <% else %>
              <%= @conversion.productid.blank? ? @conversion.purpose : @conversion.productid %>
            <% end %>
          </div>
          <div class="col-md-2"><%= CompanyAbbr.find(@conversion.data_release.company_abbr).name if @conversion.data_release  %></div>
          <div class="col-md-1"><%= DataRelease.find(@conversion.data_release_id).name if @conversion.data_release_id %></div>
          <div class="col-md-2"><%= @conversion.region.name if @conversion.region %></div>
          <div class="col-md-1">
            <% if !@conversion.cloned_from_id.blank? %>
              <%= link_to @conversion.cloned_from_id, :action => :edit, :id =>  @conversion.cloned_from_id  %>
            <% else %>
              N/A
            <% end %>
          </div>
          <div class="col-md-3"><%= @conversion.conversion_tool_release %></div>
          <div class="col-md-2"><%= @conversion.template_filename.blank? ? "N/A" :@conversion.template_filename %></div>
        </div>
        <div class="row footer">
          <div class="col-md-12">

          </div>
        </div>
        <div class="row footer">
          <div class="col-md-12">
            <ul class="nav nav-tabs" role="tablist" id="myTabs">
              <li role="presentation" class="active"><a href="#inputdata" aria-controls="inputdata" role="tab" data-toggle="tab">Input data</a></li>
              <li role="presentation"><a href="#inputref" aria-controls="inputref" role="tab" data-toggle="tab">Input Reference</a></li>
              <li role="presentation"><a href="#additionalinfo" aria-controls="additionalinfo" role="tab" data-toggle="tab">Additional info</a></li>
              <li role="presentation"><a href="#results" aria-controls="results" role="tab" data-toggle="tab">Result remark</a></li>
              <li><a href="#select" id="selectText" class="text-danger" title="select text"><span class="glyphicon glyphicon-screenshot"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="inputdata">
              <div class="col-md-12">
                <pre class="pre-scrollable" id="textInputData" style="height: 230px"><%= @conversion.data_files %></pre>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="inputref">
              <div class="col-md-12" style="height: 230px">
                <% (@conversion.reference_numbers ? @conversion.reference_numbers.split("\r\n").compact : []).each do |ref| %>
                  <% control = 'none' %>
                  <% control = 'conversions'  if ref.strip.gsub(/\r\n/,"").strip.scan(/^(conversion-id-)/)[0].to_s != "" %>
                  <% control = 'receptions'   if ref.strip.gsub(/\r\n/,"").strip.scan(/^(reception-id-)/)[0].to_s != ""  %>
                  <% control = 'data_sets'    if ref.strip.gsub(/\r\n/,"").strip.scan(/^(data_set-id-)/)[0].to_s != "" %>
                  <% if control != 'none' %>
                    <%= link_to "#{control.to_s} #{ref.strip.gsub(/\r\n/,"").strip.gsub(/\D/,'').to_s.strip}", {:action => 'show', :controller => control, :id => ref.strip.gsub(/\r\n/,"").strip.gsub(/\D/,'').to_s.strip}, {:target => '_blank'} %>
                  <% else %>
                    <%= ref.to_s.strip if ref.to_s.strip != "UNKNOWN-ID-" %>
                  <% end %><br />
                <% end %>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="additionalinfo">
              <div class="col-md-12">
                <pre class="pre-scrollable text-pre" style="height: 230px"><%= @conversion.additional_info %></pre>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="results">
              <div class="col-md-12">
                <pre class="pre-scrollable text-pre" style="height: 230px"><%= @conversion.remarks %></pre>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <table class="table table-condensed table-striped table-hover">
              <thead>
              <th>Result(s)</th>
              <th>ID</th>
              <th>Path and file</th>
              <th>Status</th>
              <th>File status</th>
              </thead>
              <tbody>
                <% @conversion.conversion_databases.each do |conversion_database| %>
                  <tr <%= ( conversion_database.file_system_status == ConversionDatabase::FILE_SYSTEM_STATUS_REMOVED ) ? "class=danger" : ( conversion_database.file_system_status == ConversionDatabase::FILE_SYSTEM_STATUS_MARKED_FOR_REMOVAL ) ? "class=warning" : '' %> >
                    <td><button class="btn btn-xs btn-default <%= ( conversion_database.unavailable? ) ? 'disabled' : '' %>" id="browse-<%= conversion_database.id %>" title="browse database folder"><i class="glyphicon glyphicon-folder-open"></i></button></td>
                    <td><%= link_to conversion_database.id, conversion_database, target: "_blank" %></td>
                    <td>
                      <%= ( conversion_database.unavailable? ) ? raw("<del>") : '' %>
                      <%= conversion_database.path_and_file %>
                      <%= ( conversion_database.unavailable? ) ? raw("</del>") : '' %>
                    </td>
                    <td><%= conversion_database.status_str %></td>
                    <td><%= conversion_database.file_system_status_str %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% if params[:action] != "report" %>
<% if !@conversion.conversion_jobs.empty? %>
<div class="row">
  <div class="col-md-10">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'job_thumbnails' %>
      </div>
    </div>
  </div>
</div>
<% end %>
<% end %>
<div id="file_tree_modal">
  <!-- will be rendered on request --->
</div>

<script type="text/javascript">
  $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    console.log(e);
    if ( e.currentTarget.hash === "#inputdata" ){
      $("#selectText").removeClass("hidden");
    } else {
      $("#selectText").addClass("hidden");
    }
  });
  $("#selectText").click(function(){
    selectText("textInputData");
  });

  $("[id^=browse]").click(function(){
    var cid = $(this).attr("id").replace ( /[^\d.]/g, '' );

  $.get('<%= url_for(:action => :render_file_tree,:controller => :conversion_databases) %>?id='+cid, function( data ) {
    $("#file_tree_modal").html(data);
    $('#myModalFileTree').modal("show");
  })});

  <% if !@conversion.remarks.blank? %>
    $('#myTabs li:eq(3) a').tab('show')
  <% end %>
</script>

