<%= select_tag "conversion[datasource_id]",
        options_for_select(@supplier + CompanyAbbr.find_all_for_module("WebMIS").collect {|c| [c.name, c.id.to_s] },@supplier[1]),{:include_blank => true}
    %>