<%= select_tag "conversion[template_filename]",
  options_for_select(@cv_templates + [""] + CvtoolTemplate.where('isactive = 1').order('filename').collect {|c| [c.name,c.name]},
  :include_blank => true) %>

