<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

  alert('<%= @errormsg %>')
<%  if @succesful %>
 //window.location.href=window.location.href
 $("#conversion_data_files").val('<%=  escape_javascript(@conversion.data_files) %>');
 $("#conversion_reference_numbers").val('<%=  escape_javascript(@conversion.reference_numbers) %>');
<% end %>
