<% if @totals_hash.empty? %>
  $("#totals").hide().html('<div class="span3 alert alert-error text-center">No conversion patch requests available.</div>').fadeIn('slow');
<% else %>
  $("#totals").hide().html('<%= escape_javascript(render :partial => "conv_patches_by_year_totals", :object => @totals_hash) %>').fadeIn('slow');
<% end %>
$("#months").hide().html('<%= escape_javascript(render :partial => "conv_patches_by_month", :object => @conversions_hash) %>').fadeIn('slow');