<div class="row">
  <div class="col-md-10">
    <% if @conversion.errors.any? %>
      <div id="error_explanation">
        <h4><%= pluralize(@conversion.errors.count, "error") %> prohibited this conversion result from being saved:</h4>
        <ul>
          <% @conversion.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-10">
    <div id="form_error_explanation" class="alert alert-danger hidden">
      <ul><!-- dynamic ajax errors --></ul>
    </div>
  </div>
</div>

<%= form_for @conversion, url: {action: "update_result"}, :html => {:class => "", :id=> "resultForm", :method => "post"} do |f| %>
  <div class="row">
    <div class="col-md-10">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-1">
              <span class="badge badge-inverse"><%= @conversion.id %></span>
            </div>
            <div class="col-md-8">
              <h3 class="panel-title">Conversion result <%= @conversion.label %></h3>
              <% if !@conversion.converter.blank? %>
              <small>Handled by <%= @conversion.converter %></small>
              <% end %>
            </div>
            <div class="col-md-2">
              Request by <%= @conversion.request_by %>
            </div>
            <div class="col-md-1">
              <span class="label label-info"><%= @conversion.status_str %></span>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-1 show-label">Product ID</div>
            <div class="col-md-2 show-label">Supplier</div>
            <div class="col-md-1 show-label">Release</div>
            <div class="col-md-2 show-label">Coverage</div>
            <div class="col-md-1 show-label">Clone ID</div>
            <div class="col-md-3 show-label">Conversion Tool</div>
            <div class="col-md-2 show-label">Template</div>
          </div>
          <div class="row footer">
            <div class="col-md-1"><%= @conversion.productid.blank? ? @conversion.purpose : @conversion.productid %></div>
            <div class="col-md-2"><%= CompanyAbbr.find(@conversion.data_release.company_abbr).name if @conversion.data_release  %></div>
            <div class="col-md-1"><%= DataRelease.find(@conversion.data_release_id).name if @conversion.data_release_id %></div>
            <div class="col-md-2"><%= @conversion.region.name if @conversion.region %></div>
            <div class="col-md-1">
              <% if !@conversion.cloned_from_id.blank? %>
                <%= link_to @conversion.cloned_from_id, :action => :edit, :id =>  @conversion.cloned_from_id  %>
              <% else %>
                N/A
              <% end %>
            </div>
            <div class="col-md-3"><%= @conversion.conversion_tool_release %></div>
            <div class="col-md-2"><%= @conversion.template_filename.blank? ? "N/A" :@conversion.template_filename %></div>
          </div>
          <div class="row footer">
            <div class="col-md-12">
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#inputdata" aria-controls="inputdata" role="tab" data-toggle="tab">Input data</a></li>
                <li role="presentation"><a href="#inputref" aria-controls="inputref" role="tab" data-toggle="tab">Input Reference</a></li>
                <li role="presentation"><a href="#additionalinfo" aria-controls="additionalinfo" role="tab" data-toggle="tab">Additional info</a></li>
                <li><a href="#select" id="selectText" class="text-danger" title="select text"><span class="glyphicon glyphicon-screenshot"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="row">     
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="inputdata">
                  <div class="col-md-12">
                    <pre class="pre-scrollable" id="textInputData" style="height: 230px"><%= @conversion.data_files %></pre>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="inputref">
                  <div class="col-md-12" style="height: 230px">
                    <% (@conversion.reference_numbers ? @conversion.reference_numbers.split("\r\n").compact : []).each do |ref| %>
                      <% control = 'none' %>
                      <% control = 'conversions'  if ref.strip.gsub(/\r\n/,"").strip.scan(/^(conversion-id-)/)[0].to_s != "" %>
                      <% control = 'receptions'   if ref.strip.gsub(/\r\n/,"").strip.scan(/^(reception-id-)/)[0].to_s != ""  %>
                      <% control = 'data_sets'    if ref.strip.gsub(/\r\n/,"").strip.scan(/^(data_set-id-)/)[0].to_s != "" %>
                      <% if control != 'none' %>
                        <%= link_to "#{control.to_s} #{ref.strip.gsub(/\r\n/,"").strip.gsub(/\D/,'').to_s.strip}", {:action => 'show', :controller => control, :id => ref.strip.gsub(/\r\n/,"").strip.gsub(/\D/,'').to_s.strip}, {:target => '_blank'} %>
                      <% else %>
                        <%= ref.to_s.strip if ref.to_s.strip != "UNKNOWN-ID-" %>
                      <% end %><br />
                    <% end %>
                </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="additionalinfo">
                  <div class="col-md-12">
                    <pre class="pre-scrollable text-pre" style="height: 230px"><%= @conversion.additional_info %></pre>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label>CVENV</label>
                <%= f.text_field :cvtoolenv, :class => "form-control" %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Size bytes</label>
                <%= f.text_field :size_bytes, :class => "form-control" %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <%= f.label :outcome %>
                <%= f.select :outcome, options_for_select([''] + Conversion.outcome_select_hash.collect{|o|o[0]}.sort,@conversion.default_selection_outcome), {},{:class => "form-control"} %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <%= f.label :status_remark %>
                <%= f.text_field :status_remark, :class => "form-control" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <%= f.label :result_files %>
                <%= f.text_area :result_files , :rows => 2,:class => 'form-control' %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <%= f.label :remarks %>
                <%= f.text_area :remarks, :rows => 2, :class => "form-control" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-11">
              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#rejectModal" disabled id="btnReject">
                  Reject request
              </button>
              <%= link_to 'Reset Outcome',{:action => :reset_outcome,:controller => :conversions}, {:class => 'btn btn-warning disabled',:id => "btnReset"} %>
            </div>
            <div class="col-md-1">
              <%= f.submit "Save", :class => "pull-right btn btn-default" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header danger">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Reject request</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <p class="text-primary"> What is the reason for rejecting this request?</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <%= f.text_area :rejection_remark,{:rows => 10,:class => "form-control"} %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit "Reject", :class => "pull-right btn btn-danger", :name => "reject" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <%= link_to :back, :class => 'btn btn-default',:title => 'back to previous page' do %>
      <span class="glyphicon glyphicon-arrow-left"></span>
    <% end %>
    <%= link_to conversions_path, :class => 'btn btn-default',:title => 'back to overview' do %>
      <span class="glyphicon glyphicon-arrow-up"></span>
    <% end %>
    <%= link_to conversion_path(@conversion),:class => 'btn btn-default',:title => "show" do %>
      <span class="glyphicon glyphicon-eye-open"></span>
    <% end %>
    <%= link_to handle_conversion_path(@conversion),:class => 'btn btn-default',:title => "handle" do %>
      <span class="glyphicon glyphicon-tasks"></span>
    <% end %>
    <%= next_prev_button("prev") %>
    <%= next_prev_button("next") %>
  </div>
</div>

<script type="text/javascript">
  $("#conversion_outcome").select2();
  <% if @conversion.status == Conversion::STATUS_FINISHED && @conversion.production_orderline_id.blank? %>
    $("#btnReset").removeClass("disabled");
  <% end %>
  <% if @conversion.status != Conversion::STATUS_FINISHED %>
   $("#btnReject").removeAttr("disabled")
  <% end %>

  $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    console.log(e);
    if ( e.currentTarget.hash === "#inputdata" ){
      $("#selectText").removeClass("hidden");
    } else {
      $("#selectText").addClass("hidden");
    }
  });
  $("#selectText").click(function(){
    selectText("textInputData");
  });

  // Form validation
  $( "#resultForm" ).submit(function( event ) {
    if ( ( $( "#conversion_result_files").val() === "" ) && ( $("#conversion_outcome").val() == "Correct" ) ) {
      event.preventDefault();
      $('#form_error_explanation > ul').append('<li>Result files are mandatory</li>');
      $('#form_error_explanation').removeClass('hidden');
      $(Document).scrollTop( 0 );
      return false;
  }});
</script>