<%= form_for @conversion, :html => {:class => "form-horizontal", :params=> params, :id=> "conversionForm"} do |f| %>
  <%= hidden_field_tag :production_orderline_id,params[:production_orderline_id] if params[:return_to_id] %>
  <%= hidden_field_tag :return_to_action,params[:return_to_action] if params[:return_to_id] %>
  <%= hidden_field_tag :return_to_controller,params[:return_to_controller] if params[:return_to_id] %>
  <%= hidden_field_tag :return_to_id,params[:return_to_id]  if params[:return_to_id] %>
  <%= render :partial => "form_fields_conversion", :object => f %>
<% end %>

<div class="row footer">
  <div class="col-md-12">
    <%= link_to :back, :class => 'btn btn-default',:title => 'back to previous page' do %>
      <span class="glyphicon glyphicon-arrow-left"></span>
    <% end %>
    <%= link_to conversions_path, :class => 'btn btn-default',:title => 'back to overview' do %>
      <span class="glyphicon glyphicon-arrow-up"></span>
    <% end %>
    <%= link_to conversion_path(@conversion),:class => 'btn btn-default',:title => "show" do %>
      <span class="glyphicon glyphicon-eye-open"></span>
    <% end %>
    <%= link_to handle_conversion_path(@conversion),:class => 'btn btn-default',:title => "handle" do %>
      <span class="glyphicon glyphicon-tasks"></span>
    <% end %>
    <%= link_to edit_result_conversion_path(@conversion),:class => 'btn btn-default',:title => "edit result" do %>
      <span class="glyphicon glyphicon-pencil"></span>
    <% end %>
    <%= next_prev_button("prev") %>
    <%= next_prev_button("next") %>
  </div>
</div>