<% @conversion.product_locations.each do |pl| %>
$("#markingremovalModalContent_<%= @conversion.id %>").append('<div class="row"><div class="span1"><%= pl.product_id %></div><div class="span4"><%= pl.storage_path %></div></div>');
<% end %>
