$("#conversion_datasource_id").val('<%= @conversion_clone.data_release ? @conversion_clone.data_release.company_abbr.id.to_s : '' %>');

var inputs = $('#conversionForm :input');
var frmIds = [];
inputs.each(function (index){
  frmIds.push($(this).attr('id'));
});

var obj = <%= raw @conversion_clone.attributes.to_json %>;
var controller = '<%= params[:controller].singularize %>';

$.each( obj, function( key, value ){
//console.log( key + " >> " + value );
  if($.inArray( controller + '_' + key,frmIds ) != -1) {
    if ((value != null) && (key != 'datasource_id') && (key != 'production_orderline_id')) {
      $('#'+controller + '_' + key).val(value);
    };
}
});
$("#conversion_additional_info").val('Initial values copied from conversion <%= @conversion_clone.id %>' + "\r\n" + $("#conversion_additional_info").val());


