$(".has-error").removeClass("has-error");
<%  @attrs.each do |k,v| %>
  <% if v.nil? %>
    $("#conversion_<%=h k.to_s %>").val("").parent().addClass("has-error");
  <% else %>
    <% if k.to_s == "assembly_id" %>
      $('#conversion_assembly_id')
      .append($("<option></option>")
      .attr("value",'<%= v %>')
      .text('<%= escape_javascript(AssemblyHeader.find(v).name) %>'));
    <% end %>
    $("#conversion_<%=h k.to_s %>").val("<%=h escape_javascript(v.to_s) %>");
  <% end %>
<% end %>
    
// TPD select
<% if !@product.thirdpartydata2.blank? && @product.thirdpartydata2.downcase != "no" %>
  $("#conversion_tpd").attr('checked', true);
<% else %>
  $("#conversion_tpd").attr('checked', false);
<% end %>

// Conversion template
<% @cv_templates.each do |cvt| %>    
  $('#conversion_template_filename').append(new Option('<%=  escape_javascript(cvt[0]) %>','<%= escape_javascript(cvt[0]) %>', true, true));
<% end %>

