<div id="showData"><%= render "show_data" %></div>

<% clone_it_css = remove_css = request_css = restart_css = persistent_css = 'disabled' %>
<% toggle_outcome_persistent_label = 'set outcome persistent' %>
<div class="row footer">
  <div class="col-md-12">
    <% if @conversion.status == Conversion::STATUS_ENTRY %>
      <% request_css = '' %>
    <% end %>
    <%= link_to mail_conversion_path(@conversion), {:class => "btn btn-default #{request_css}"} do %>
      <i class="glyphicon glyphicon-envelope"></i>&nbsp;request
    <% end %>

    <% unless @conversion.job_support?  %>
      <% clone_it_css = '' %>
    <% end %>
    <%= link_to cloneit_conversions_path(:cloneid => @conversion.id,:nopo => 'true'), {:class => "btn btn-default #{clone_it_css}"} do %>
      <i class="glyphicon glyphicon-repeat"></i>&nbsp;clone
    <% end %>

    <% if @conversion.stock.size == 0 && !@conversion.end_status? && @conversion.allow_edit? %>
      <% remove_css = '' %>
    <% end %>
    <%= link_to to_remove_conversion_path(@conversion), {:confirm => 'Are you sure to remove the request?',:class => "btn btn-default #{remove_css}"} do %>
      <i class="glyphicon glyphicon-remove-sign"></i>&nbsp;remove
    <% end %>

    <% if @conversion.outcome_persistent_yn  %>
      <% toggle_outcome_persistent_label = 'unset outcome persistence' %>
    <% end %>
    <% unless @conversion.outcome_removed?  %>
      <% persistent_css = '' %>
    <% end %>
    <button class="btn btn-default <%= persistent_css %>" type="button" id="toggle_outcome_persistent">
      <i class="glyphicon glyphicon-lock">&nbsp;</i><span id="toggle_outcome_persistent_label"><%= toggle_outcome_persistent_label %></span>
    </button>
    <button class="btn btn-default" <%= @mark_for_removal_values[:enabled] ? '' : 'disabled' %> type="button" id="toggle_mark_for_removal">
      <i class="glyphicon glyphicon-trash">&nbsp;</i><span id="toggle_mark_for_removal_label"><%= @mark_for_removal_values[:button] %></span>
    </button>

    <% if !@conversion.conversion_jobs.failures_on_server.empty? %>
      <% restart_css = '' %>
    <% end %>
    <button class="btn btn-danger <%= restart_css %>" type="button" id="restartfailedJobs">
      <i class="glyphicon glyphicon-retweet">&nbsp;</i>restart selected failed jobs
    </button>
  </div>
</div>

<div class="row footer">
  <div class="col-md-12">
    <%= link_to(:back,{:class => 'btn btn-default',:title => 'back'}) do %>
      <span class="glyphicon glyphicon-arrow-left"></span>
    <% end %>
    <%= link_to(conversions_path,{:class => 'btn btn-default',:title => 'conversion overview'}) do %>
      <span class="glyphicon glyphicon-arrow-up"></span>
    <% end %>

    <%= link_to @conversion, {:class => 'btn btn-default',:title => 'show conversion request'} do %>
      <span class="glyphicon glyphicon-eye-open"></span>
    <% end %>
    <% if @conversion.allow_edit? %>
      <%= link_to edit_conversion_path(@conversion), {:class => 'btn btn-default', :title => "edit"} do %>
        <i class="glyphicon glyphicon-edit"></i>
      <% end %>
    <% end %>

    <%= next_prev_button("prev") %>
    <%= next_prev_button("next") %>
  </div>
</div>

<div class="modal fade" id="choose_cvtoolsModal" tabindex="-1" role="dialog" aria-labelledby="choose_cvtoolsModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="choose_cvtoolsModalLabel">Conversion tool for restarting selected jobs</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">Select desired conversion tool and bundle to restart the conversion job(s).<br /><br /></div>
        </div>
        <div class="row">
          <div class="col-md-6"><strong>CV-Tool</strong></div>
          <div class="col-md-6"><strong>CV-Bundle</strong></div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <%= select_tag "conversiontool_id" ,options_for_select(Conversiontool.select_tag << ["#{@conversion.conversiontool.code if @conversion.conversiontool}","#{@conversion.conversiontool_id}"],"#{@conversion.conversiontool_id}"), {:class => "form-control"} %>
          </div>
          <div class="col-md-6">
            <%= select_tag "cvtool_bundle_id" , options_for_select(CvtoolBundle.select_cvtool_bundles(@conversion.conversiontool_id, nil) << ["#{@conversion.cvtool_bundle.name if @conversion.cvtool_bundle}","#{@conversion.cvtool_bundle_id}"],@conversion.cvtool_bundle_id), {:class => "form-control"} %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button class="btn btn-primary" id="submitToolsforrestart">Restart job(s)</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="marking_removalModal" tabindex="-1" role="dialog" aria-labelledby="marking_removalModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 id="marking_removalModalLabel"><%= @mark_for_removal_values[:label] %></h4>
      </div>
      <div class="modal-body" id="marking_removalModalBody">
        <div class="row">
          <div id="marking_removalModalQuestion" class="col-md-12">
            <p class="text-primary"><%= raw @mark_for_removal_values[:question] %></p>
          </div>
        </div>
        <% @conversion.product_locations.each do |pl| %>
          <div class="row">
            <div class="col-md-2"><%= pl.product_id %></div>
            <div class="col-md-10"><%= pl.storage_path %></div>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button class="btn btn-primary" id="submit_marking_removal">Yes</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#restartfailedJobs').click(function(){
    if ( $(this).hasClass( "disabled") == false ){
      $("#conversiontool_id").select2();
      $("#cvtool_bundle_id").select2();
      $('#choose_cvtoolsModal').modal('show');
    }
  });

  $("[id^=restart_job_id_]").change(function(){toggleRestartjobBtn()});

  function toggleRestartjobBtn(){
    if( selectedIds().length === 0 ){
      $('#restartfailedJobs').attr("disabled","disabled");
    } else {
      $('#restartfailedJobs').removeAttr("disabled");
    }
  }

  function selectedIds(){
    var selected = [];
    $("[id^=restart_job_id_]:checked").each(function() {
      selected.push($(this).val());
    });
    return selected
  }

  $('#submitToolsforrestart').click(function(){
    var selected = selectedIds();
    $('#choose_cvtoolsModal').modal('hide');
    $.post('<%= url_for(restart_failed_and_crashed_conversion_jobs_conversion_path) %>',{restart_job_ids:selected,conversiontool_id:$("#conversiontool_id").val(),cvtool_bundle_id:$("#cvtool_bundle_id").val()})
  });

  $("#toggle_outcome_persistent").click(function(){
    var record_val = $("#conversion_outcome_persistent_yn").val();
    var new_record_val;
    if ( record_val == "false" ){
      new_record_val = "true";
    } else {
      new_record_val = "false";
    }
    $(this).val(new_record_val);
    $.post('<%= url_for(toggle_outcome_persistence_conversion_path(@conversion.id)) %>',{value:new_record_val})
  });

  $('#toggle_mark_for_removal').click(function(){
    $("#marking_removalModal").modal("show");
  });

  $("#submit_marking_removal").click(function(){
    $("#marking_removalModal").modal("hide");
    $.post('<%= url_for toggle_mark_for_removal_conversion_path(@conversion) %>', {toggle:'true'})
  });
</script>
