<% if !@process_data.nil? %>
 <%  ctrlclass = 'success' %>
<% else %>
 <%  ctrlclass = 'error' %>
<% end %>


$("#conversion_data_files").val('<%= raw @process_data.storage_location %>');
$("#conversion_reference_numbers").val('process_data-id-<%= raw @process_data.id %> :<%= raw @process_data.name %>');
$("#files,#refs").addClass("<%= ctrlclass %>");
function removeIt() {
  $("#files,#refs").removeClass("<%= ctrlclass %>");
}
setTimeout(removeIt, 1800);


