 <%= hidden_field_tag :refs, @refs, :rows => 8, :cols => 10,:class => "ui-corner-all",:style => 'width:13%;' %></td>
 <%= hidden_field_tag :files, @datafiles, :rows => 8,:class => "ui-corner-all",:style => 'width:86%;' %></td>