<% if @datafiles.size > 0 %>
 <%  ctrlclass = 'success' %>
<% else %>
 <%  ctrlclass = 'error' %>
<% end %>

<% if @assembly_header %>
  $('<option value="<%= @assembly_header.id %>">'+'<%= @assembly_header.name %>'+'</option>').appendTo('#conversion_assembly_id');
  $('#conversion_assembly_id').select2('val',"<%= @assembly_header.id %>"); // select the new term
<% end %>
$("#conversion_data_files").val(<%= raw @datafiles.inspect %>);
$("#conversion_reference_numbers").val(<%= raw @refs.inspect %>);
$("#files,#refs").addClass("<%= ctrlclass %>");
function removeIt() {
  $("#files,#refs").removeClass("<%= ctrlclass %>");
}
setTimeout(removeIt, 1800);


