<%= render :partial => 'shared/search_bar', :object => @search_opts %>

<div id="index" class="table-responsive">
  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th class="id"><%= column_sort "conversions.id", 'ID',true %></th>
        <th><%= column_sort "conversions.input_format", 'From format', true, DataType.where(:isactive => true).order('name').collect{|dt|dt.name}, nil,"11" %></th>
        <th><%= column_sort "conversions.output_format", 'To format', true, DataType.where(:isactive => true).order('name').collect{|dt|dt.name}, nil,"10" %></th>
        <th><%= column_sort "conversions.region_id",'Coverage', true, Conversion.select("distinct region_id").includes("region").map{|x| [x.region.name,x.region_id] if x.region && x.region.name != nil}.compact.sort, nil,"11" %></th>
        <th><%= column_sort "company_abbrs.id", 'Supplier', true, CompanyAbbr.where(:is_active => true).order('company_name').collect{|ca|[ca.company_name,ca.id]}, nil,"11" %></th>
        <th><%= column_sort "conversions.data_release_id",'Data Release', true %></th>
        <th><%= column_sort "conversions.status", "Status", true, Conversion.status_hash, nil,"11" %></th>
        <th><%= column_sort "conversiontools.code", "CV-Tool", true %></th>
        <th><%= column_sort "cvtool_bundles.name", "CV-Bundle", true %></th>
      </tr>
    </thead>
    <tbody id="endless">
      <% if @favorites %>
        <% @favorites.each do |conversion| %>
          <tr <%= conversion.outcome_removed? ? "style=text-decoration:line-through class=danger" : "" %>>
            <td class="text-center">
              <span class="glyphicon glyphicon-star" title="favorite"></span>
            </td>
            <td>
              <%= link_to conversion.id, conversion %>
                <span class="glyphicon glyphicon-<%= conversion.job_support? ? "retweet" : "hand-up" %>"></span>
                <% if conversion.outcome_persistent_yn %>
                  <span class="glyphicon glyphicon-lock" title="Outcome is marked as persistent"></span>
                <% end %>
            </td>
            <td><%= conversion.input_format %></td>
            <td><%= conversion.output_format %></td>
            <td><%= conversion.region.name if conversion.region %></td>
            <td><%= conversion.data_release.company_abbr.company_name if conversion.data_release %></td>
            <td><%= conversion.data_release.name if conversion.data_release %></td>
            <td><%= conversion.status_str %></td>
            <td><%= conversion.conversiontool.code if conversion.conversiontool %></td>
            <td><%= conversion.cvtool_bundle.name if conversion.cvtool_bundle %></td>
          </tr>
        <% end %>
      <% end %>
      <%= render(:partial => "conversion", :collection => @conversions) %>
    </tbody>
  </table>
</div>
<%= will_paginate(@conversions) %>
<%= pageless(@conversions.total_pages, conversions_path, "#endless",params) %>

