<h1>New TPD</h1>

<%= error_messages_for :conversiontool %>

<%= form_for :conversion, :url => { :action => :create } do |f| %>
  <table>
  <tr>
   <td><b>Product</b></td>
  <td>
  <%= f.text_field :productid
  %></td>
 </tr>
  <tr>
   <td><b>Map supplier:</b></td>
  <td><%= f.select :data_release_id , DataRelease.all.includes(:company_abbr).order('company_abbrs.company_name, data_releases.name').collect {|c| [c.company_abbr.name + " - " + c.name.to_s,c.id] if (c && c.company_abbr)}, :include_blank => true %></td>
</tr>
  <%=hidden_field_tag 'hidden_type', 'DummyConversion'%>
  <tr>
    <td><b>Area:</b></td>
  <td>
  <%= f.select :region_id,Region.find_all_for_module("WebMIS").collect {|c| [c.name,c.id]}, :include_blank => true %> <%= Region.find(@conversion.region_id.to_s).name if @conversion.region_id %></td>
  </tr>
  <tr>
    <td><b>Tpd Product:</b></td>
    <td><%= f.text_area :tpd_products, :rows => 10, :cols => 50 %><button type="button" id="rejectTPD">Reject TPD</button></td></td>

  </tr>
  <tr>
    <td><b>Rejected TPD:</b></td>
    <td><%= f.text_area :tpd_rejected , :rows=> 10 , :cols => 50 %></td>
  </tr>
  <tr>
    <td><b>Cause:</b></td>
    <td><%= f.text_area :tpd_rejection_remark, :rows => 10, :cols => 50 %></td>
  </tr>
  <tr>
    <td><%= f.submit "Create" %></td>
  </tr>
</table>
<% end %>

<script type="text/javascript">
  $("#rejectTPD").click(function(){
    $("#conversion_tpd_rejected").val($('#conversion_tpd_products').val() + "\n" + $("#conversion_tpd_rejected").val());
    $('#conversion_tpd_products').val('');
  });
</script>
