
<div class="navbar secondnav">
  <div class="navbar-inner ">
    <div class="container">
      <div class="brand visible-desktop"><strong>Conversion patch requests</strong></div>
      <div class="span">
        <%= select_tag 'year', options_for_select(@years_for_select),{:class => "span1"} %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div id="endless">
    <div class="row" id="totals">
      <% if @totals_hash.empty? %>
        <div class="span3 alert alert-error text-center">No conversion patch requests available.</div>
      <% else %>
        <%= render :partial => "conv_patches_by_year_totals", :object => @totals_hash %></div>
      <% end %>
  </div>
  <div class="row">
    <div class="span12" id="months">
      <%= render :partial => "conv_patches_by_month", :object => @conversions_hash %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $("#year").select2();
  $("#year").change(function(){
    $.post('<%= url_for(:action => :change_year_patch_requests_report) %>',{year:$(this).val()})
  });
</script>