<div class="row">
  <div class="col-md-10">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#report" aria-controls="report" role="tab" data-toggle="tab">Report</a></li>
      <li role="presentation"><a href="#show" aria-controls="show" role="tab" data-toggle="tab">Conversion</a></li>
    </ul>
  </div>
</div>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="report">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="row">
              <div class="col-md-12">
                <h3 class="panel-title">
                  <span class="badge"><%= @conversion.id %></span>&nbsp;&nbsp;
                  Production Report <%= @conversion.label %> <%= @conversion.productid %></h3>
              </div>
            </div>

          </div>
          <div class="panel-body">
            <%= render "report" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="show">
    <%= render partial: "show_data" %>
  </div>
</div>

<div class="row footer">
  <div class="col-md-12">
    <%= link_to :back, {:class => 'btn btn-default', :title => 'back'} do %>
      <span class="glyphicon glyphicon-arrow-left"></span>
    <% end %>
    <%= link_to conversions_path, {:class => 'btn btn-default', :title => 'conversion overview'} do %>
      <span class="glyphicon glyphicon-arrow-up"></span>
    <% end %>
    <%= link_to @conversion, {:class => 'btn btn-default',:title => 'show conversion request'} do %>
      <span class="glyphicon glyphicon-eye-open"></span>
    <% end %>
    <%= link_to handle_conversion_path(@conversion), {:class => 'btn btn-default',:title => 'handle conversion request'} do %>
      <i class="glyphicon glyphicon-tasks"></i>
    <% end %>
    <% if @conversion.allow_edit? %>
      <%= link_to edit_conversion_path(@conversion), {:class => 'btn btn-default', :title => "edit"} do %>
        <span class="glyphicon glyphicon-edit"></span>
      <% end %>
    <% end %>
    <%= next_prev_button("prev") %>
    <%= next_prev_button("next") %>
  </div>
</div>