<div class="row">
  <div class="col-md-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Active conversions with databases with unhandled validation errors</h3>
      </div>
      <div class="panel-body">
        <% @conversions.each do |conversion| %>
          <% unless conversion.validation_errors.unhandled.empty? %>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><%= link_to conversion.id, conversion, target: "_blank" %> <%= conversion.label %></h3>
              </div>
              <div class="panel-body">
                <div class="row footer">
                  <div class="col-md-3">
                    <%= conversion.conversion_tool_release %>
                  </div>
                  <div class="col-md-6">
                    <% if conversion.production_orderline && conversion.production_orderline.production_order %>
                      <%= link_to conversion.production_orderline.production_order.id, conversion.production_orderline.production_order, target: '_blank' %>
                      <%= conversion.production_orderline.production_order.name %>
                    <% end %>
                  </div>
                  <div class="col-md-3">
                    Outstanding jobs: Conv:<%= conversion.conversion_jobs.outstanding.count %>/Val:<%= conversion.validation_jobs.outstanding.count %>
                  </div>
                </div>
                <% error_name,ticketText  = nil %>
                <% id = 0 %>
                <% conversion.validation_errors.unhandled.map{|m| m.name}.uniq.sort.each do |error_name| %>
                  <% id += 1 %>
                  <div class="row">
                        <div class="col-md-12">
                          <div class="panel panel-default">
                            <div class="panel-body">
                              <div class="row">
                                <div class="col-md-8" id="ticketText_<%= conversion.id.to_s + '_' + id.to_s %>">
                                  <%= error_name %>
                                </div>
                              </div>
                              <% conversion.validation_errors.unhandled.where(:name => error_name).each do |validation_error| %>
                              <div class="row">
                                <div class="col-md-8">
                                  <input id="<%= validation_error.id %>" type="checkbox" name="<%= validation_error.conversion_database_id %>" title="move database to crash directory">
                                  <%= link_to validation_error.conversion_database.shortest, handle_conversion_database_path(validation_error.conversion_database), :target => '_blank', :id => "dbTicketText-#{conversion.id.to_s + '_' + id.to_s}-#{validation_error.conversion_database.id}" %>
                                  <span class="badge badge-info"><%= validation_error.count %></span>
                                </div>
                              </div>
                              <% end %>
                              <div class="row">
                                <div class="col-md-12 text-right">
                                  <button type="button" class="btn btn-xs btn-default" id="dataBtn_<%= conversion.id.to_s + '_' + id.to_s %>" title="Select text for problem ticket"><i class="glyphicon glyphicon-copy"></i></button>
                                  <%= link_to(handle_validation_errors_conversions_path(:handle_id => conversion.id, :handle_error_name => error_name, :handle_ok => true, :accept_validation_error => true, :handle_selected_db_ids => "", :handle_ticket_nr => nil), :class => 'btn btn-xs btn-success', :title => "Accept validation outcome", :method => :post) do %>
                                    <span class="glyphicon glyphicon-thumbs-up"></span>
                                  <% end %>
                                  <a href="#" class="btn btn-xs btn-warning" id="investigateBtn_<%= conversion.id.to_s + '_' + id.to_s %>" title="Investigate validation outcome"><i class="glyphicon glyphicon-question-sign"></i></a>
                                  <a href="#" class="btn btn-xs btn-danger" id="rejectBtn_<%= conversion.id.to_s + '_' + id.to_s %>" title="Reject validation outcome"><i class="glyphicon glyphicon-thumbs-down"></i></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <script type="text/javascript">
                        $("#dataBtn_<%= conversion.id.to_s + '_' + id.to_s %>").click(function(){
                                selectText("ticketText_<%= conversion.id.to_s + '_' + id.to_s %>");
                                $("[id^=dbTicketText-<%= conversion.id.to_s + '_' + id.to_s %>]").each(function( index ) {
                                  selectText($(this).attr("id"),true);
                                });
                              });
                          function fill_bugtracker_<%= conversion.id.to_s + '_' + id.to_s %>(ok_value)
                          {
                            $('#handle_id').val('<%= conversion.id %>');
                            $('#handle_error_name').val('<%= error_name %>');
                            $('#handle_ok').val(ok_value);
                            selected_db_ids = [];
                            $('#copy_to_crash_<%= conversion.id.to_s + '_' + id.to_s %> input:checked').each(function() {
                              selected_db_ids.push($(this).attr('name'));
                            });
                            $('#handle_selected_db_ids').val(selected_db_ids);
                            $('#handle_bug_tracker_modal').modal('show');
                            if (ok_value)
                            {
                              $('#show_accept').removeClass('hidden');
                            } else {
                              $('#show_accept').addClass('hidden');
                            }
                          }
                          $("#investigateBtn_<%= conversion.id.to_s + '_' + id.to_s %>").click(function(){
                            fill_bugtracker_<%= conversion.id.to_s + '_' + id.to_s %>(true);
                          })
                          $("#rejectBtn_<%= conversion.id.to_s + '_' + id.to_s %>").click(function(){
                            fill_bugtracker_<%= conversion.id.to_s + '_' + id.to_s %>(false);
                          })
                      </script>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="handle_bug_tracker_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4>Database validation error requiring further investigation</h4>
      </div>
      <div class="modal-body">
        <p>Please register Jira reference.</p>
        <%= form_tag('handle_validation_errors') do |f| %>
          <%= hidden_field_tag "handle_id" %>
          <%= hidden_field_tag "handle_error_name" %>
          <%= hidden_field_tag "handle_ok" %>
          <%= hidden_field_tag "handle_selected_db_ids" %>
          <div class="row">
            <div class="col-md-12 show-label">Bug tracker ID</div>
          </div>
          <div class="row">
            <div class="col-md-4"><%= text_field_tag "handle_ticket_nr", "", :class => 'form-control reset_to_bootstrap', :required => true %></div>
          </div>
          <div class="row hidden" id="show_accept">
            <div class="col-md-12"><label><%= check_box_tag "accept_validation_error", "true" %></label> Accept these errors</div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary"  type="submit">Proceed</button>
        <% end %>
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Open tickets for validation errors</h3>
      </div>
      <div class="panel-body">
        <% @ticket_hash.each do |ticket_nr,valerrors| %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><a href="<%= ConfigParameter.get("cr_tool_url") + ticket_nr.to_s.strip %>" target="_blank"><%= ticket_nr %></a></h3>
            </div>
            <div class="panel-body">
              <% valerrors.each do |error_name,databases| %>
              <div class="row">
                <div class="col-md-12">
                  <p class="text-info"><%= error_name %></p>
                </div>
              </div>
                <% databases.each do |conversion_database| %>
                  <div class="row">
                    <div class="col-md-1">
                      <%= link_to conversion_database.id, handle_conversion_database_path(conversion_database), :target => '_blank' %>
                    </div>
                    <div class="col-md-10">
                      <%= conversion_database.file_system_status >= ConversionDatabase::FILE_SYSTEM_STATUS_MARKED_FOR_REMOVAL ? raw('<del>') : '' %>
                      <%= conversion_database.shortest %>
                      <%= conversion_database.file_system_status >= ConversionDatabase::FILE_SYSTEM_STATUS_MARKED_FOR_REMOVAL ? raw('</del>') : '' %>
                    </div>
                    <div class="col-md-1">
                      <%= link_to conversion_database.conversion_id, conversion_database.conversion, :target => '_blank' %>
                    </div>
                  </div>
                <% end %>
                <div class="row"><br /></div>
                <div class="row">
                  <div class="col-md-12">
                    <%= link_to(close_validation_errors_conversions_path(:close_ticket_nr => ticket_nr, :close_ok => true, :close_conversiontool_id => nil, :close_cvtool_bundle_id => nil), :class => 'btn btn-xs btn-success', :title => "Accept validation outcome", :method => :post) do %>
                      <span class="glyphicon glyphicon-thumbs-up"></span>
                    <% end %>
                    <a href="#" class="btn btn-warning btn-xs" id="rerunBtn_<%= ticket_nr %>" title="Redo conversions with new bundle"><i class="glyphicon glyphicon-repeat"></i></a>
                    <%= link_to(close_validation_errors_conversions_path(:close_ticket_nr => ticket_nr, :close_ok => false, :close_conversiontool_id => nil, :close_cvtool_bundle_id => nil), :class => 'btn btn-xs btn-danger', :title => "Reject validation outcome", :method => :post) do %>
                      <span class="glyphicon glyphicon-thumbs-down"></span>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <script>
            $("#rerunBtn_<%= ticket_nr %>").click(function(){
              $('#close_ticket_nr').val('<%= ticket_nr %>');
              $('#close_conversiontool_id').val('<%= conversiontool_id %>');
              $('#close_cvtool_bundle_id').val('<%= cvtool_bundle_id %>');
              $('#close_select_bundle_modal').modal('show');
            })
          </script>
         <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="close_select_bundle_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4>Rebuild databases with validation errors</h4>
      </div>
      <div class="modal-body">
        <p>Please select the conversion tooling to rebuild the databases:</p>
        <%= form_tag('close_validation_errors', :id => "close_validation_errors") do |f| %>
        <%= hidden_field_tag "close_ticket_nr" %>
        <%= hidden_field_tag "close_ok", false %>
        <p id="error_explanation" class="hidden alert-error">Both the conversion tool and the tool bundle must be selected.</p>
        <div class="row">
          <div class="col-md-6 show-label">Conversion tool</div>
          <div class="col-md-6 show-label">Tool bundle</div>
        </div>
        <div class="row">
          <div class="col-md-6"><%= select_tag "conversiontool_id", options_for_select(Conversiontool.select_tag), :include_blank => true, :class => 'form-control', :data => {:placeholder => "Select conversion tool"} %></div>
          <div class="col-md-6" id="cvtool_bundle_div"><%= select_tag "cvtool_bundle_id", [], :class => 'form-control' %></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button class="btn btn-primary"  type="submit">Proceed</button>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $("#conversiontool_id").select2();
  $("#cvtool_bundle_id").select2();

  $("#conversiontool_id").change(function(){
    var selected = $('#conversiontool_id').val();
    if(selected == "") selected="0";
    jQuery.get('<%= url_for get_cvtool_bundles_cvtool_bundles_path %>'+'?conversiontool_id=' + selected + "&tag=cvtool_bundle_id", function(data){
      $("#cvtool_bundle_div").html(data);
    })
    return false;
  });

  $("#conversiontool_id").trigger("change");

  $("#close_validation_errors").submit(function(event) {
    if ($('#conversiontool_id').val() == "" || $('#cvtool_bundle_id').val() == "") {
      $("#error_explanation").removeClass("hidden");
      event.preventDefault();
    }
  });
</script>

<div class="row footer">
  <div class="col-md-12">
    <%= link_to :back, {:class => 'btn btn-default',:title => 'back'} do %>
      <i class="glyphicon glyphicon-arrow-left"></i>
    <% end %>
    <%= link_to conversions_path,{:class => 'btn btn-default',:title => 'conversion overview'} do %>
      <i class="glyphicon glyphicon-arrow-up"></i>
    <% end %>
  </div>
</div>