<%= render "show_data" %>

<div class="row footer">
  <div class="col-md-12">
    <%= link_to :back, {:class => 'btn btn-default',:title => 'back'} do %>
      <i class="glyphicon glyphicon-arrow-left"></i>
    <% end %>
    <%= link_to conversions_path,{:class => 'btn btn-default',:title => 'conversion overview'} do %>
      <i class="glyphicon glyphicon-arrow-up"></i>
    <% end %>

    <%= link_to handle_conversion_path(@conversion), {:class => 'btn btn-default',:title => 'handle conversion request'} do %>
      <i class="glyphicon glyphicon-tasks"></i>
    <% end %>
    <% if @conversion.allow_edit? %>
      <%= link_to edit_conversion_path(@conversion), {:class => 'btn btn-default', :title => "edit"} do %>
        <i class="glyphicon glyphicon-edit"></i>
      <% end %>
    <% end %>
    <% if @conversion.allow_edit_result? %>
      <%= link_to edit_result_conversion_path(@conversion), {:class => 'btn btn-default', :title => "edit result"} do %>
        <i class="glyphicon glyphicon-pencil"></i>
      <% end %>
    <% end %>

    <%= next_prev_button("prev") %>
    <%= next_prev_button("next") %>
  </div>
</div>