var recordval = '<%=  @conversion.outcome_persistent_yn.to_s %>'
    if ( recordval == "true" ){
       $("#labelPersistent").html("PERSISTENT");
       $("#labelPersistent").removeClass("hidden");
       $("#toggle_outcome_persistent_label").html("unset outcome persistence")
    }else {
       $("#labelPersistent").addClass("hidden");
       $("#toggle_outcome_persistent_label").html("set outcome persistent")
    }
flash_on_demand(<%= raw @flash_msg.map{ |s| "\"#{s}\"" }.join(',') %>)
