$("#toggle_mark_for_removal_label").html("<%= @mark_for_removal_values[:button] %>");
$("#marking_removalModalLabel").html("<%= @mark_for_removal_values[:label] %>");
$("#marking_removalModalQuestion").html("<%= raw @mark_for_removal_values[:question] %>");
<% if @mark_for_removal_values[:enabled] %>
  $("#toggle_mark_for_removal").removeClass('disabled')
<% else %>
  $("#toggle_mark_for_removal").addClass('disabled')
<% end %>
flash_on_demand(<%= raw @flash_msg.map{ |s| "\"#{s}\"" }.join(',') %>);
