<h1>TPD Results</h1>

<% if @conversion.errors.any? %>
  <ul>
    <% @conversion.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>


<%= form_for(@conversion) do |f| %>
<%= render :partial => "formfields_tpd", :object => f %>
    <%= f.submit "Update" %></td>
<% end %>
<% params[:action] = 'index' %>
<%= link_to 'Show', @conversion %> |
<%= link_to 'Back', conversions_path(params) %>
