<div class="row">
  <div class="col-md-4">
    <% if @process_data_sub_event.errors.any? %>
      <div id="error_explanation">
        <h4><%= pluralize(@process_data_sub_event.errors.count, "error") %> prohibited this process_data_sub_event from being saved:</h4>
        <ul>
          <% @process_data_sub_event.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
  
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-10">
            <h3 class="panel-title">Process data event <%= @process_data_sub_event.name %></h3>
          </div>
          <div class="col-md-2">
            <span class="label label-info pull-right"><%= @process_data_sub_event.status_string %></span>
          </div>
        </div>
      </div>
      <%= form_for(@process_data_sub_event) do |f| %>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12 show-label">Name</div>
        </div>
        <div class="row footer">
          <div class="col-md-12"><%= f.text_field :name, :class => 'form-control' %></div>
        </div>
        <div class="row">
          <div class="col-md-12 show-label">Main event</div>
        </div>
        <div class="row footer">
          <div class="col-md-12"><%= f.select :process_data_event_id, @process_data_events.collect{|pde|[pde.name,pde.id]},{},{:class => "form-control"} %></div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= f.submit 'Save', :class => 'btn btn-default pull-right' %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $("#process_data_sub_event_process_data_event_id").select2()
</script>