<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-10">
            <h3 class="panel-title"><span class="badge"><%= @process_data_sub_event.id %></span> <%= params[:action].humanize %> Process data sub event <%= @process_data_sub_event.name %></h3>
          </div>
          <div class="col-md-2">
            <span class="label label-info pull-right"><%= @process_data_sub_event.status_string %></span>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12 show-label">Name</div>
        </div>
        <div class="row">
          <div class="col-md-12"><%= @process_data_sub_event.name %></div>
        </div>
        <div class="row">
          <div class="col-md-12 show-label">Main event</div>
        </div>
        <div class="row">
          <div class="col-md-1">
            <%= link_to @process_data_sub_event.process_data_event.id,@process_data_sub_event.process_data_event, {target: "_blank"} if @process_data_sub_event.process_data_event %>
          </div>
          <div class="col-md-8">
           <%= @process_data_sub_event.process_data_event ? @process_data_sub_event.process_data_event.name : "N/A"  %>
          </div>
          <div class="col-md-3">
           <span class="label label-info pull-right"><%= @process_data_sub_event.process_data_event.status_string if @process_data_sub_event.process_data_event %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
