<%= render :partial => 'shared/search_bar', :object => @search_opts %>

<div id="index" class="table-responsive">
  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th class="id">&nbsp;</th>
        <th class="id"><%= column_sort("process_data_sub_events.id","ID",true) %></th>
        <th><%= column_sort("process_data_events.name","Main event",true) %></th>
        <th><%= column_sort("process_data_sub_events.name","Name",true) %></th>
        <th><%= column_sort("process_data_sub_events.status","Status",true,ProcessDataSubEvent.status_hash) %></th>
      </tr>
    </thead>
    <tbody id="endless">
      <%= render(:partial => "process_data_sub_event", :collection => @process_data_sub_events) %>
    </tbody>
  </table>
</div>
<%= will_paginate(@process_data_sub_events) %>
<%= pageless(@process_data_sub_events.total_pages, url_for(:controller => :process_data_sub_events,:action => :index), "#endless") %>
