<div class="row">
  <div class="col-md-12">
    <% if @shipping_order.errors.any? %>
      <div id="error_explanation">
        <h4><%= pluralize(@shipping_order.errors.count, 'error') %> prohibited this shipping order from being saved:</h4>
        <ul>
          <% @shipping_order.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>

<%= form_for @shipping_order do |f| %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-9">
              <h3 class="panel-title"><span class="badge"><%= @shipping_order.id %></span> <%= "#{controller.action_name.humanize} #{controller.controller_name.humanize.singularize}" %></h3>
            </div>
            <div class="col-md-3"><span class="label label-primary pull-right"><%= @shipping_order.status_str %></div>
          </div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Order type</label>
                <%= f.select :source, ['Purchase Order','Call-off','SMB'], { include_blank: true }, { data: { placeholder: 'Select order type' }, class: 'form-control' } %>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>PO reference</label>
                <%= f.text_field :po_reference, {placeholder: 'Reference', class: 'form-control'} %>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Article</label>
                <%= f.select :article_id, (Article.where(active: true).collect { |a| [a.name.to_s + ' - ' + a.customer_reference,a.id] } << ([@shipping_order.article.name + ' - ' + @shipping_order.article.customer_reference,@shipping_order.article.id] if @shipping_order.article && !@shipping_order.article.active)).compact,
                             { include_blank: true },{ data: { placeholder: 'Select Article' }, class: 'form-control' } %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Ordered by</label>
                <%= f.select :ordering_customer_depot_id, CustomerDepot.orderers.collect { |c| [c.label.to_s, c.id] }, { include_blank: true }, { data: { placeholder: 'Select customer' }, class: 'form-control' } %>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Ship to</label>
                <%= f.select :shipping_customer_depot_id, CustomerDepot.shippers.collect { |c| [c.label.to_s, c.id] }, { include_blank: true }, { data: { placeholder: 'Select customer' }, class: 'form-control' } %>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Invoice to</label>
                <%= f.select :invoicing_customer_depot_id, CustomerDepot.invoicers.collect { |c| [c.label.to_s, c.id] }, { include_blank: true }, { data: { placeholder: 'Select customer'}, class: 'form-control' } %>
              </div>
            </div>
          </div>

          <% unless @shipping_order.id.blank? %>
            <div class="row">
              <div class="col-md-12">
                <h4>
                  Shipping orderlines
                  <%= link_to new_retroaction_shipping_orderlines_path(shipping_order_id: @shipping_order.id), class: 'btn btn-default btn-xs', title: 'New shipping orderline' do %>
                    <span class="glyphicon glyphicon-plus"></span>
                  <% end %>
                </h4>
              </div>
            </div>
          <% end %>
          <% unless @shipping_order.shipping_orderlines.empty? %>
            <div class="row">
              <div class="col-md-1 show-label">Status</div>
              <div class="col-md-2 show-label">External reference</div>
              <div class="col-md-1 show-label">Req. Date</div>
              <div class="col-md-1 show-label">Stock order</div>
              <div class="col-md-1 show-label">Call of ref.</div>
              <div class="col-md-1 show-label">Transp. ref.</div>
              <div class="col-md-1 show-label">Invoice ref.</div>
              <div class="col-md-1 show-label">Quantity</div>
              <div class="col-md-3 show-label">Remarks</div>
            </div>
            <% @shipping_order.shipping_orderlines.each do |l| %>
              <div class="row">
                <div class="col-md-1"><%= l.status_str %>&nbsp;</div>
                <div class="col-md-2"><%= l.extern_reference %>&nbsp;</div>
                <div class="col-md-1"><%= l.delivery_date %>&nbsp;</div>
                <div class="col-md-1"><%= l.stock_order.purchase_reference if l.stock_order %>&nbsp;</div>
                <div class="col-md-1"><%= l.call_off_reference %>&nbsp;</div>
                <div class="col-md-1"><%= l.transport_reference %>&nbsp;</div>
                <div class="col-md-1"><%= l.invoice_id ? l.invoice.reference : l.invoice_reference %>&nbsp;</div>
                <div class="col-md-1"><%= l.amount %>&nbsp;</div>
                <div class="col-md-3"><%= l.remarks %>&nbsp;</div>
              </div>
            <% end %>
            <div class="row">
              <div class="col-md-offset-7 col-md-2"><hr /></div>
            </div>
            <div class="row">
              <div class="col-md-offset-7 col-md-1 show-label">Total</div>
              <div class="col-md-1"><%=  @shipping_order.shipping_orderlines.sum(:amount) %></div>
            </div>
          <% end %>
          <div class="row">
            <div class="col-md-12">
              <%= f.submit 'Save', class: 'btn btn-default pull-right' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<script>
  $("#shipping_order_source").select2();
  $("#shipping_order_article_id").select2();
  $("#shipping_order_ordering_customer_depot_id").select2();
  $("#shipping_order_shipping_customer_depot_id").select2();
  $("#shipping_order_invoicing_customer_depot_id").select2();
</script>