<tr id="row_show_<%= shipping_order.id %>">
  <td>
    <div class="btn-group">
      <button type="'button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Action <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="action-<%= shipping_order.id %>">
        <li>
          <%= link_to shipping_order do %>
            <span class="glyphicon glyphicon-info-sign"></span>&nbsp;show
          <% end %>
        </li>
        <li>
          <%= link_to edit_shipping_order_path(shipping_order) do %>
            <span class="glyphicon glyphicon-edit"></span>&nbsp;edit
          <% end %>
        </li>
        <% if shipping_order.shipping_orderlines.where(status: ShippingOrder::STATUS_SHIPPED, invoice_id: nil).count() > 0 %>
          <li>
            <%= link_to new_invoice_path(shipping_order_id: shipping_order.id) do %>
              <i class="glyphicon glyphicon-shopping-cart"></i>&nbsp;invoice
            <% end %>
          </li>
        <% end %>
        <% if shipping_order.status < ShippingOrder::STATUS_PAID %>
          <li>
            <%= link_to cancel_shipping_order_path(shipping_order), method: :post do %>
              <i class="glyphicon glyphicon-remove"></i>&nbsp;cancel
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </td>
  <td><%= shipping_order.id %></td>
  <td><%= shipping_order.status_str %></td>
  <td><%= shipping_order.ordering_customer_depot.label %></td>
  <td><%= shipping_order.shipping_customer_depot.label %></td>
  <td><%= shipping_order.invoicing_customer_depot.label %></td>
  <td><%= shipping_order.po_reference %></td>
  <td><%= shipping_order.article.customer_reference %></td>
  <td><a href="#" class="btn" data-toggle="modal" data-target="#linesModal_<%= shipping_order.id %>"><%= shipping_order.shipping_orderlines.sum(:amount).to_s %></a></td>
  <td><%= shipping_order.shipping_orderlines.where(status: ShippingOrder::STATUS_SHIPPED, invoice_id: nil).sum(:amount).to_s %></td>
</tr>

<div class="modal fade" id="linesModal_<%= shipping_order.id %>" tabindex="-1" role="dialog" aria-labelledby="linesModalLabel_<%= shipping_order.id %>">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="linesModalLabel_<%= shipping_order.id %>"><%= shipping_order.ordering_customer_depot.label %>-<%= shipping_order.po_reference %></h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4"><strong>Status</strong></div>
          <div class="col-md-4"><strong>External reference</strong></div>
          <div class="col-md-2"><strong>Deliver</strong></div>
          <div class="col-md-2"><strong>Quantity</strong></div>
        </div>
        <% shipping_order.shipping_orderlines.each do |sol| %>
          <div class="row">
            <div class="col-md-4"><%= sol.status_str %>&nbsp;</div>
            <div class="col-md-4"><%= sol.extern_reference %>&nbsp;</div>
            <div class="col-md-2"><%= sol.delivery_date.strftime( '%d-%m-%Y' ) if sol.delivery_date %>&nbsp;</div>
            <div class="col-md-2"><%= sol.amount %>&nbsp;</div>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
