<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-9"><h4><span class="badge"><%= @shipping_order.id %></span> <%= params[:action].humanize %> shipping order (<%= @shipping_order.ordering_customer_depot.name %>)</h4></div>
          <div class="col-md-3"><span class="label label-primary pull-right"><%= @shipping_order.status_str %></div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3 show-label">Article</div>
          <div class="col-md-2 show-label">Ordered by</div>
          <div class="col-md-2 show-label">Ship to</div>
          <div class="col-md-2 show-label">Invoice to</div>
          <div class="col-md-2 show-label">Handler</div>
        </div>
        <div class="row">
          <div class="col-md-3"><%= @shipping_order.article.name %>&nbsp;</div>
          <div class="col-md-2"><%= @shipping_order.ordering_customer_depot.label %>&nbsp;</div>
          <div class="col-md-2"><%= @shipping_order.shipping_customer_depot.label %>&nbsp;</div>
          <div class="col-md-2"><%= @shipping_order.invoicing_customer_depot.label %>&nbsp;</div>
          <div class="col-md-2"><%= @shipping_order.init_user.full_name if @shipping_order.init_user %>&nbsp;</div>
        </div>
        <br />
        <div class="row">
          <div class="col-md-12">
            <h4><strong>Shipping orderlines</strong></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 show-label">Status</div>
          <div class="col-md-2 show-label">External reference</div>
          <div class="col-md-1 show-label">Req. Date</div>
          <div class="col-md-1 show-label">Stock order</div>
          <div class="col-md-1 show-label">Call of ref.</div>
          <div class="col-md-1 show-label">Transp. ref.</div>
          <div class="col-md-1 show-label">Invoice ref.</div>
          <div class="col-md-1 show-label">Quantity</div>
          <div class="col-md-3 show-label">Remarks</div>
        </div>
        <% @shipping_order.shipping_orderlines.each do |l| %>
          <div class="row">
            <div class="col-md-1"><%= l.status_str %>&nbsp;</div>
            <div class="col-md-2"><%= l.extern_reference %>&nbsp;</div>
            <div class="col-md-1"><%= l.delivery_date %>&nbsp;</div>
            <div class="col-md-1"><%= l.stock_order.purchase_reference if l.stock_order %>&nbsp;</div>
            <div class="col-md-1"><%= l.call_off_reference %>&nbsp;</div>
            <div class="col-md-1"><%= l.transport_reference %>&nbsp;</div>
            <div class="col-md-1"><%= l.invoice_id ? l.invoice.reference : l.invoice_reference %>&nbsp;</div>
            <div class="col-md-1"><%= l.amount %>&nbsp;</div>
            <div class="col-md-3"><%= l.remarks %>&nbsp;</div>
          </div>
        <% end %>
        <div class="row">
          <div class="col-md-offset-7 col-md-2"><hr /></div>
        </div>
        <div class="row">
          <div class="col-md-offset-7 col-md-1 show-label">Total</div>
          <div class="col-md-1"><%=  @shipping_order.shipping_orderlines.sum(:amount) %></div>
        </div>
      </div>
    </div>
  </div>
</div>
