<%= render 'form_fields' %>

<div class="row">
  <div class="col-md-12">
    <%= link_to :back, class: 'btn btn-default', title: 'back' do %>
      <span class="glyphicon glyphicon-arrow-left"></span>
    <% end %>
    <%= link_to shipping_orders_path, class: 'btn btn-default', title: 'overview' do %>
      <span class="glyphicon glyphicon-arrow-up"></span>
    <% end %>
    <%= link_to @shipping_order, class: 'btn btn-default', title: 'overview' do %>
      <span class="glyphicon glyphicon-eye-open"></span>
    <% end %>
    <%= next_prev_button 'prev' %>
    <%= next_prev_button 'next' %>
  </div>
</div>