<%= render partial: 'shared/search_bar', object: @search_opts %>
<div id="index" class="table-responsive">
  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th class="id"><%= column_sort 'shipping_orders.id', 'ID', true %></th>
        <th><%= column_sort 'shipping_orders.status', 'Status', true, ShippingOrder.status_array.compact %></th>
        <th><%= column_sort 'customer_depots.label', 'Order by', true, CustomerDepot.select('distinct label').collect{ |c| c.label }.compact.sort %></th>
        <th><%= column_sort 'shipping_customer_depots_shipping_orders.label','Ship to', true, CustomerDepot.select('distinct label').collect{ |c| c.label }.compact.sort %></th>
        <th><%= column_sort 'invoicing_customer_depots_shipping_orders.label','Invoice to', true, CustomerDepot.select('distinct label').collect { |c| c.label }.compact.sort %></th>
        <th><%= column_sort 'shipping_orders.po_reference','Order', true, ShippingOrder.select('distinct po_reference').collect{ |c| c.po_reference }.compact.sort %></th>
        <th><%= column_sort 'articles.customer_reference','Article ID', true, Article.select('distinct customer_reference').collect{ |c| c.customer_reference }.compact.sort %></th>
        <th>Quantity</th>
        <th>Invoice?</th>
      </tr>
    </thead>
    <tbody id="endless">
      <%= render partial: 'shipping_order', collection: @shipping_orders %>
    </tbody>
  </table>
</div>
<%= will_paginate @shipping_orders %>
<%= pageless @shipping_orders.total_pages, shipping_orders_path, '#endless' %>
