<div class="row">
  <div class="col-md-6">
    <% if @shipping_order.errors.any? %>
      <div id="error_explanation">
        <h4><%= pluralize(@shipping_order.errors.count, 'error') %> prohibited this shipping order from being saved:</h4>
        <ul>
          <% @shipping_order.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
<%= render :partial => 'form_fields' %>

<div class="row">
  <div class="col-md-12">
    <%= link_to :back, class: 'btn btn-default', title: 'back' do %>
      <span class="glyphicon glyphicon-arrow-left"></span>
    <% end %>
    <%= link_to shipping_orders_path, class: 'btn btn-default', title: 'overview' do %>
      <span class="glyphicon glyphicon-arrow-up"></span>
    <% end %>
  </div>
</div>
