<%= form_for(@region_alias) do |f| %>
  <% if @region_alias.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@region_alias.errors.count, "error") %> prohibited this alias from being saved:</h4>
      <ul>
        <% @region_alias.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="span4 bounded">
      <div class="row">
        <div class="span3"><strong>Alias</strong></div>
        <div class="span1"><strong>Active</strong></div>
      </div>
      <div class="row">
        <div class="span3"><%= f.text_field :name,:class => 'span3',:placeholder => "Name of Area" %></div>
        <div class="span1"><%= f.check_box :isactive %></div>
      </div>
      <div class="row">
        <div class="span3"><strong>Region</strong></div>
      </div>
      <div class="row">
        <div class="span3">
          <%= f.select :region_id, grouped_options_for_select(Region.real_area_grouped_for_select,@region_alias.region_id),{:include_blank => true},{:class => 'span3',:data => {:placeholder => 'Alias for region'}} %>
        </div>
      </div>

      <div class="row"><br />
        <div class="actions span4">
          <%= f.submit 'Save',:class => 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $('#region_alias_region_id').chosen();
</script>