<div class="row">
  <div class="span1">
    <div class="btn-group">
      <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
        Action
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to({:controller => :region_aliases, :action => 'show', :id => region_alias.id}) do %>
          <i class="icon-info-sign"></i>&nbsp;show
          <% end %>
        </li>
        <li>
          <%= link_to({:controller => :region_aliases, :action => 'edit', :id => region_alias.id}) do %>
          <i class="icon-edit"></i>&nbsp;edit
          <%  end %>
        </li>
      </ul>
    </div>
  </div>  
  <div class="span2"><%= region_alias.name %>&nbsp;</div>
  <div class="span1"><%= region_alias.region_code %>&nbsp;</div>
  <div class="span2"><%= region_alias.region.name if !region_alias.region_id.blank? %>&nbsp;</div>
  <div class="span1"><%= bootstrap_boolean(region_alias.isactive) %></div>
</div>