<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand"><strong>Region aliases</strong></div>
      <div class="span">
        <%= form_tag region_aliases_path, :method => 'get' do %>
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <div class="input-append input-prepend">
            <%= link_to 'New', {:action => :new,:controller => :region_aliases},{:class => 'btn btn-info'} %>
            <%= text_field_tag :q, params[:q], :placeholder=>" search",:class=>"span3",:size=>"16" %>
            <%= button_tag "Search", :name => nil, :type => :submit, :class => "btn" %>
            <%= button_tag "Reset", :name => 'reset',:class=>"btn",:type=>:submit %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="endless">
  <div class="row">
    <div class="offset1 span2"><strong><%=  sortable "name" %></strong></div>
    <div class="span1"><strong><%= sortable "country_iso3_code","Code" %>&nbsp;</strong></div>
    <div class="span2"><strong><%= sortable "regions.region_id", 'Region' %>&nbsp;</strong></div>
    <div class="span1"><strong><%= sortable "isactive", 'Active' %>&nbsp;</strong></div>
  </div>
  
  <%= render(:partial => "region_alias", :collection => @region_aliases) %>
</div>
<%= will_paginate(@region_aliases) %>
<%= pageless(@region_aliases.total_pages, url_for(:controller => :region_aliases, :action => :index), "#endless") %>
<footer class="subnav subnav-fixed" style="bottom:0;top:auto;margin-bottom: 0px;">
  &nbsp;
</footer>
