<h4>Region alias</h4>
<div class="row">
  <div class="span6 bounded">
    <div class="row">
      <div class="span3"><strong>Alias</strong></div>
      <div class="span1"><strong>Code</strong></div>

      <div class="span1"><strong>Active</strong></div>
    </div>
    <div class="row">
      <div class="span3"><span class="input-xlarge uneditable-input span3"><%= @region_alias.name %></span></div>
      <div class="span1"><span class="input-xlarge uneditable-input span1"><%= @region_alias.region_code %></span></div>
      <div class="span1">
        <% if @region_alias.isactive
          active_icon_class = 'icon-check'
        else
          active_icon_class = 'icon-minus'
        end %>
        <i class="icon <%= active_icon_class %>">&nbsp;</i>
      </div>
    </div>
    <div class="row">
      <div class="span3"><strong>Region</strong></div>
    </div>
    <div class="row">
      <div class="span3"><span class="input-xlarge uneditable-input span3"><%= @region_alias.region.name if !@region_alias.region.blank? %>&nbsp;</span></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <%= link_to edit_region_alias_path(@region_alias), :class => "btn",:title => "edit" do %>
      <i class="icon-edit"></i>
    <% end %>
    &nbsp;
    <%= link_to(:back,:class=>'btn',:title=>'back') do %>
      <i class="icon icon-arrow-left"></i>
    <% end %>
    &nbsp;
    <%= link_to(regions_path,:class=>'btn',:title=>'Regions overview') do %>
      <i class="icon icon-arrow-up"></i>
    <% end %>
  </div>
</div>
