<% if conversion_database.file_system_status == ConversionDatabase::FILE_SYSTEM_STATUS_REMOVED
     xtrastyle = 'style="text-decoration: line-through"' 
   elsif conversion_database.file_system_status == ConversionDatabase::FILE_SYSTEM_STATUS_MARKED_FOR_REMOVAL
     xtrastyle = 'style="text-decoration: line-through; -moz-text-decoration-style: dashed"'
   else
     xtrastyle = ""
   end %>


<div class="row" id="rowId-<%= conversion_database.id %>">
  <div class="span1">
    <% if params[:removal_index].blank? %>
        <div class="btn-group">
      <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
        Action
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to(:action => 'show',:controller => :conversion_databases, :action => 'show',:id => conversion_database.id) do %>
          <i class="icon-info-sign"></i>&nbsp;show database
          <% end %>
        </li>
        <% if false # don't use anymore %>
          <li>
            <%= link_to(:action => 'edit',:controller => :conversion_databases, :action => 'edit',:id => conversion_database.id) do %>
            <i class="icon-edit"></i>&nbsp;edit database
            <% end %>
          </li>
        <% end %>
        <% if conversion_database.status == ConversionDatabase::STATUS_HAS_ERRORS %>
        <li>
          <%= link_to({:action => 'change_status', :controller => 'conversion_databases',:id => conversion_database.id, :status => ConversionDatabase::STATUS_ACCEPTED},{:title => "Accept validation outcome",:method => :post}) do %>
            <i class="icon-thumbs-up">&nbsp;</i>Accept validation outcome
          <% end %>
        </li>
        <li>
          <%= link_to({:action => 'change_status', :controller => 'conversion_databases',:id => conversion_database.id, :status => ConversionDatabase::STATUS_REJECTED},{:title => "Reject validation outcome", :method => :post}) do %>
            <i class="icon-thumbs-down">&nbsp;</i>Reject validation outcome
          <% end %>
        </li>
        <% end %>
        <li>
          <%= link_to({:action => 'handle', :controller => 'conversion_databases',:id => conversion_database.id},{:title => "Handle"}) do %>
            <i class="icon-tasks">&nbsp;</i>Handle
          <% end %>
        </li>
      </ul>
    </div>
    <% else %>
      &nbsp;&nbsp;&nbsp;<%= check_box_tag("check[databases][]",conversion_database.id, nil) %>
    <% end %>
  </div>  
  <div class="span0_5">
    &nbsp;<%= conversion_database.id %>
  </div>
  <div class="span2">
    &nbsp;<%= conversion_database.coverage %>
  </div>
  <div class="span1">
    &nbsp;<%= conversion_database.conversion.data_release.name if conversion_database.conversion &&  conversion_database.conversion.data_release %>
  </div>
  <div class="span1">
    &nbsp;<%= conversion_database.conversion.data_release.company_abbr.company_name if conversion_database.conversion && conversion_database.conversion.data_release %>
  </div>
  <div class="span1">
    &nbsp;<%= conversion_database.db_type %>
  </div>
  <div class="span1">
    &nbsp;<%= conversion_database.product_id %>
  </div>  
  <div class="span4" <%= raw xtrastyle %>>
    &nbsp;<%= conversion_database.shortest %>
  </div>
  <div class="span1_5">
    &nbsp;<small><%= conversion_database.status_str %></small>
  </div>
</div>
  
    