<% labelclass = 'label-info' %>
<% case @conversion_database.status %>
  <% when ConversionDatabase::STATUS_HAS_ERRORS
                 labelclass = 'label-important' %>
  <% when ConversionDatabase::STATUS_HAS_WARNINGS
                 labelclass = 'label-warning' %>
  <% when ConversionDatabase::STATUS_ACCEPTED
                 labelclass = 'label-success' %>
  <% when ConversionDatabase::STATUS_NOT_VALIDATED
                 labelclass = 'label-success' %>
  <% when ConversionDatabase::STATUS_CANCELLED
                 labelclass = '' %>
  <% when ConversionDatabase::STATUS_REJECTED
                 labelclass = 'label-inverse' %>
<% end %>

<%= form_for(@conversion_database) do |f| %>
  <% if @conversion_database.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@conversion_database.errors.count, "error") %> prohibited this country from being saved:</h4>
      <ul>
        <% @conversion_database.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="span8">
      <span class="label <%= labelclass %>"><%= @conversion_database.status_str %></span>
      <% if @conversion_database.file_system_status == ConversionDatabase::FILE_SYSTEM_STATUS_REMOVED %>
        <span class="label label-important">DATABASE IS REMOVED!</span>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="span12 bounded bounded-headered">
      <div class="row bounded-header">
        <div class="span4"><h4><%= controller.action_name %> conversion database <%= @conversion_database.id.to_s %></h4></div>
      </div>
    <div class="row">
      <% if !@conversion_database.product_id.blank? %>
      <div class="span2"><strong>Product ID</strong></div>
      <% end %>
      <div class="span2"><strong>Conversion</strong></div>
      <div class="span2"><strong>Conversion job</strong></div>
      <div class="span2"><strong>Validation job(s)</strong></div>
    </div>
    <div class="row">
      <% if !@conversion_database.product_id.blank? %>
      <div class="span2"><%= @conversion_database.product_id %></div>
      <% end %>
      <div class="span2"><%= link_to @conversion_database.conversion_id, {:controller => "conversions", :action => "show", :id => @conversion_database.conversion_id},{:target => '_blank'} if @conversion_database.conversion %>&nbsp;</div>
      <div class="span2"><%= link_to @conversion_database.conversion_job_id, {:controller => "conversion_jobs", :action =>  "show", :id => @conversion_database.conversion_job_id},{:target => '_blank'} if @conversion_database.conversion_job %>&nbsp;</div>
      <div class="span2">
        <% @conversion_database.validation_jobs.each do |vjob| %>
          <%= link_to(vjob.id,validation_job_path(vjob),:target => '_blank') %>&nbsp;
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="span2"><strong>Coverage</strong></div>
      <div class="span2"><strong>Data supplier</strong></div>
      <div class="span2"><strong>Data release</strong></div>
      <div class="span2"><strong>Conversion tool</strong></div>
    </div>
    <div class="row">
      <div class="span2"><%= @conversion_database.coverage %></div>
      <div class="span2"><%=@conversion_database.data_supplier if @conversion_database.data_supplier %></div>
      <div class="span2"><%=@conversion_database.data_release if @conversion_database.data_release %></div>
      <div class="span2"><%= @conversion_database.conversion.conversion_tool_release if @conversion_database.conversion %></div>
    </div>
    <div class="row"><div class="span">&nbsp;</div></div>
    <div class="row">
      <div class="span2"><strong>Path &amp; File name:</strong></div>
      <div class="span"><%= @conversion_database.path_and_file if @conversion_database.path_and_file %></div>
    </div>
    <div class="row">
      <div class="span2"><strong>Detected as path:</strong></div>
      <div class="span7"><%= @conversion_database.path if @conversion_database.path %></div>
    </div>
    <div class="row">
      <div class="span2"><strong>Detected as file:</strong></div>
      <div class="span7"><%= @conversion_database.filename if @conversion_database.filename %></div>
    </div>
    <div class="row">
      <div class="span2"><strong>Size:</strong></div>
      <div class="span7"><%= @conversion_database.size_bytes %>&nbsp; bytes</div>
    </div>
    <div class="row">
      <div class="span2"><strong>Remark</strong></div>
    </div>
     <div class="row">
      <div class="span11"><%= f.text_area :remarks, :class => 'span12',:rows => '10' %></div>
    </div>
    <div class="row">
      <div class="span2"><strong>File system status:</strong></div>
      <div class="span7">
        <%= f.select :file_system_status, @conversion_database.file_system_status_hash, {}, {:class => 'span7'} %>
      </div>
    </div>
    <div class="row">
      <div class="span0_5 pull-right">
        <%= f.submit 'Save', :class => 'btn' %>
      </div>
    </div>
    </div>
  </div>


<% end %>


<% if @conversion_database.conversion && !@conversion_database.conversion.product_locations.empty? %>
  <div id="markingremovalModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h4 id="markingremovalModalLabel">Product registration found</h4>
    </div>
  <div class="modal-body" id="markingremovalModalBody">
    <div class="row">
      <div class="span5">
        <strong>Warning: You marked outcome which is registered as released product!</strong>
      </div>

    </div>
  <% @conversion_database.conversion.product_locations.each do |pl| %>
  <div class="row">
    <div class="span1"><%= pl.product_id %></div>
    <div class="span4"><%= pl.storage_path %></div>
  </div>
  <% end %>
  </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $("#conversion_database_file_system_status").select2({placeholder: "The status of the conversion database on the file system"});
  <% if @conversion_database.file_system_status < ConversionDatabase::FILE_SYSTEM_STATUS_MARKED_FOR_REMOVAL %>
    $("#conversion_database_file_system_status").change(function(){
      if ($("#markingremovalModal").length && $(this).val() == <%= ConversionDatabase::FILE_SYSTEM_STATUS_MARKED_FOR_REMOVAL %>){
        $("#markingremovalModal").modal("show");
      }
    });
  <% end %>
</script>
