<% labelclass = 'label-info' %>
<% case @conversion_database.status %>
  <% when ConversionDatabase::STATUS_HAS_ERRORS
                 labelclass = 'label-important' %>
  <% when ConversionDatabase::STATUS_HAS_WARNINGS
                 labelclass = 'label-warning' %>
  <% when ConversionDatabase::STATUS_ACCEPTED
                 labelclass = 'label-success' %>
  <% when ConversionDatabase::STATUS_NOT_VALIDATED
                 labelclass = 'label-success' %>
  <% when ConversionDatabase::STATUS_CANCELLED
                 labelclass = '' %>
  <% when ConversionDatabase::STATUS_REJECTED
                 labelclass = 'label-inverse' %>
<% end %>

<div class="row">
  <div class="span8">
    <span class="label <%= labelclass %>"><%= @conversion_database.status_str %></span>
    <% if @conversion_database.file_system_status == ConversionDatabase::FILE_SYSTEM_STATUS_MARKED_FOR_REMOVAL %>
      <span class="label label-important">DATABASE MARKED FOR REMOVAL</span>
    <% end %>
    <% if @conversion_database.file_system_status == ConversionDatabase::FILE_SYSTEM_STATUS_REMOVED %>
      <span class="label label-important">DATABASE REMOVED</span>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="span12 bounded bounded-headered flat-roof">
    <div class="row bounded-header">
      <div class="span4">
        <h4><%= @conversion_database.db_type %> conversion database <%= @conversion_database.id %></h4>
      </div>
    </div>
    <div class="row">
      <% if !@conversion_database.product_id.blank? %>
      <div class="span2"><strong>Product ID</strong></div>
      <% end %>
      <div class="span2"><strong>Conversion</strong></div>
      <div class="span2"><strong>Conversion job</strong></div>
      <div class="span2"><strong>Validation job(s)</strong></div>
      <div class="span2"><strong>STD out-log conversion</strong></div>
    </div>
    <div class="row">
      <% if !@conversion_database.product_id.blank? %>
      <div class="span2"><%= @conversion_database.product_id %></div>
      <% end %>
      <div class="span2"><%= link_to @conversion_database.conversion_id, {:controller => "conversions", :action => "show", :id => @conversion_database.conversion_id},{:target => '_blank'} if @conversion_database.conversion %>&nbsp;</div>
      <div class="span2"><%= link_to @conversion_database.conversion_job_id, {:controller => "conversion_jobs", :action =>  "show", :id => @conversion_database.conversion_job_id},{:target => '_blank'} if @conversion_database.conversion_job %>&nbsp;</div>
      <div class="span2">
        <% @conversion_database.validation_jobs.each do |vjob| %>
          <%= link_to(vjob.id,validation_job_path(vjob),:target => '_blank') %>&nbsp;
        <% end %>
      </div>
      <div class="span2">
        <% if @conversion_database.stdout_log.blank? %>
        <i>Not available</i>
        <% else %>
        <%= link_to(:action => :download_stdout_log, :id => @conversion_database.id ) do %>
          <i class="icon icon-file">&nbsp;</i>download log
        <% end %>
        &nbsp;|&nbsp;
        <a href="#stdModal" id="viewSTD" role="button" data-toggle="modal"><i class="icon icon-eye-open">&nbsp;</i>view log</a>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="span2"><strong>Coverage</strong></div>
      <div class="span2"><strong>Data supplier</strong></div>
      <div class="span2"><strong>Data release</strong></div>
      <div class="span2"><strong>Conversion tool</strong></div>
    </div>
    <div class="row">
      <div class="span2"><%= @conversion_database.coverage %></div>
      <div class="span2"><%=@conversion_database.data_supplier if @conversion_database.data_supplier %></div>
      <div class="span2"><%=@conversion_database.data_release if @conversion_database.data_release %></div>
      <div class="span2"><%= @conversion_database.conversion.conversion_tool_release if @conversion_database.conversion %></div>
    </div>
    <div class="row"><div class="span">&nbsp;</div></div>
    <div class="row">
      <div class="span2"><strong>Path &amp; File name:</strong></div>
      <div class="span"><%= @conversion_database.path_and_file if @conversion_database.path_and_file %></div>
    </div>
    <div class="row">
      <div class="span2"><strong>Detected as path:</strong></div>
      <div class="span7"><%= @conversion_database.path if @conversion_database.path %></div>
    </div>
    <div class="row">
      <div class="span2"><strong>Detected as file:</strong></div>
      <div class="span7"><%= @conversion_database.filename if @conversion_database.filename %></div>
    </div>
    <div class="row">
      <div class="span2"><strong>Size:</strong></div>
      <div class="span7"><%= @conversion_database.size_bytes %>&nbsp; bytes</div>
    </div>
    <div class="row">
      <div class="span7">
        <button class="btn btn-small" title="browse database folder" id="browse"><i class="icon-folder-open">&nbsp;</i>browse database folder</button>
        <button class="btn btn-small" title="show tag model" id="tagmodel"><i class="icon-tags">&nbsp;</i>show tag model</button>
      </div>
    </div>
    <div class="row">
      <div class="span2"><strong>Remark</strong></div>
    </div>
     <div class="row">
      <div class="span11"><pre class="pre-scrollable" style="height: 270px;width: 107%"><%=@conversion_database.remarks %></pre></div>
    </div>
    <div class="row">
      <div class="span2"><strong>Conversion result remark</strong></div>
    </div>
    <div class="row">
      <div class="span11"><pre style="width: 107%"><%= @conversion_database.conversion.remarks %></pre></div>
    </div>
    <div class="row">
      <div class="span2"><strong>File system status:</strong></div>
      <div class="span7"><%= @conversion_database.file_system_status_str %></div>
    </div>
    <% if @conversion_database.file_system_status >= ConversionDatabase::FILE_SYSTEM_STATUS_MARKED_FOR_REMOVAL %>
      <div class="row">
        <div class="span2"><strong>Removal remarks</strong></div>
      </div>
      <div class="row">
        <div class="span11"><pre style="width: 107%"><%= @conversion_database.removal_remark %></pre></div>
      </div>
    <% end %>
  </div>
</div>

<div id="file_tree_modal"></div>

<div id="stdModal" class="modal large hide fade" tabindex="-1" role="dialog" aria-labelledby="stdModalLabel" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h4 id="stdModalLabel">Conversion STDout-log for <%= @conversion_database.shortest %></h4>
</div>
<div class="modal-body">
<pre class="real-pre pre-scrollable"><%= @conversion_database.stdout_log %></pre>
</div>
<div class="modal-footer">
<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
</div>
</div>

<div id="tagModal" class="modal large hide fade" tabindex="-1" role="dialog" aria-labelledby="tagModalLabel" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h4 id="tagModalLabel">Tag Model for <%= @conversion_database.shortest %></h4>
</div>
<div class="modal-body">
<%= raw hash_to_html(@conversion_database.tagmodel,nil) %>
</div>
<div class="modal-footer">
<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
</div>
</div>

<script type="text/javascript">
    $("#browse").click(function(){
    $.get('<%= url_for(:action => :render_file_tree,:controller => :conversion_databases,:id => @conversion_database.id) %>', function( data ) {
      $("#file_tree_modal").html(data);
      $('#myModalFileTree').modal("show");
    })});
    $("#tagmodel").click(function(){
      $('#tagModal').modal("show");
    });
</script>