<script type="text/javascript">
function SelectAll(id)
{
    document.getElementById(id).focus();
    document.getElementById(id).select();
}
</script>
<h3>Conversion database removal</h3>
<div class="row">
  <div class="span12"><p>All selected databases are marked as "removed". To sync the status, please delete the databases below.</p></div>
</div>
<div class="row">
  <div class="span12">
    <textarea id="script" onclick="SelectAll('script');" rows="30" class="span12">
      <%= ConversionDatabase.manual_removal_script(@conversion_databases.collect{|db|db.id}) %>
    </textarea>
  </div>
</div>
<%= link_to(:action => :index) do %>
<i class="icon-arrow-left" title="conversion databases">&nbsp;</i>|
<% end %>
<%= link_to(:action => :download_db_remove_script, :dbs => @conversion_databases.collect{|d|d.id}) do %>
<i class="icon-download-alt" title="download shell script">&nbsp;</i>
<% end %>

