<%= render 'form_fields' %>

<div class="row">
  <div class="span12">
    <%= link_to(@conversion_database, :class => 'btn', :title => "Show") do %>
      <i class="icon-eye-open"></i>
    <% end %>&nbsp;
    <%= link_to(handle_conversion_database_path(@conversion_database, :validation_results_view => @validation_results_view), :class => 'btn', :title => "Handle") do %>
      <i class="icon-tasks"></i>
    <% end %>&nbsp;
    <%= link_to(conversion_databases_path,:class => 'btn',:title => 'Overview') do %>
      <i class="icon-arrow-up"></i>
    <% end %>&nbsp;
  </div>
</div>