<%= render 'show_data' %>
<div class="row">
  <div class="span12">
    <%= link_to({:action => 'change_status', :controller => 'conversion_databases', :status => ConversionDatabase::STATUS_ACCEPTED, :validation_results_view => @validation_results_view},{:class => 'btn btn-success disabled',:title => "Accept validation outcome",:id => 'acceptValidation', :method => :post}) do %>
      <i class="icon-thumbs-up"></i>
    <% end %>&nbsp;
    <%= link_to({:action => 'change_status', :controller => 'conversion_databases', :status => ConversionDatabase::STATUS_REJECTED, :validation_results_view => @validation_results_view},{:class => 'btn btn-danger disabled',:title => "Reject validation outcome",:id => 'rejectValidation', :method => :post}) do %>
      <i class="icon-thumbs-down"></i>
    <% end %>&nbsp;
    <% if @conversion_database.allow_unmark_for_removal?  %>
      <%= link_to(unmark_for_removal_conversion_database_path(@conversion_database),{:class => 'btn',:title => "Unmark for removal",:id => 'unmarkRemoval', :method => :post}) do %>
        <i class="icon-remove-circle">&nbsp;</i>Unmark for removal
      <% end %>&nbsp;
    <% else %>
      <%= link_to(mark_for_removal_conversion_database_path(@conversion_database),{:class => 'btn disabled',:title => "Mark for removal",:id => 'markRemoval', :method => :post}) do %>
        <i class="icon-trash">&nbsp;</i>Mark for removal
      <% end %>&nbsp;
    <% end %>
  </div>  
</div>

<div class="row">
  <div class="span12">&nbsp;</div>
</div>
<div class="row">
  <div class="span">
    <%= link_to(:back,:class => 'btn',:title => "Back") do %>
      <i class="icon-arrow-left"></i>
    <% end %>&nbsp;
    <%= link_to(conversion_databases_path,:class => 'btn',:title => 'Overview') do %>
      <i class="icon-arrow-up"></i>
    <% end %>&nbsp;
    <%= link_to(conversion_database_path(@conversion_database, :validation_results_view => @validation_results_view),:class => 'btn',:title => 'Show') do %>
      <i class="icon-eye-open"></i>
    <% end %>&nbsp;
    <%= next_prev_button("prev") %>&nbsp;
    <%= next_prev_button("next") %>
  </div>
</div>
<div class="row">
  <div class="span12">&nbsp;</div>
</div>

<script type="text/javascript">
  <% if @conversion_database.status == ConversionDatabase::STATUS_HAS_ERRORS %>
    $('#acceptValidation').removeClass("disabled");
    $('#rejectValidation').removeClass("disabled");
  <% end %>

  <% if @conversion_database.allow_mark_for_removal? %>
    $('#markRemoval').removeClass("disabled");
  <% end %>

  $('a.disabled').click(function(e) {
    // Disable links for disabled buttons
    e.preventDefault();
    return false
  });
</script>