<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand">
        <strong>
          <% if !params[:removal_index].blank? %>
          Select 
          <% end %>
          Conversion Databases
        </strong>
      </div>
      
        <%= form_tag conversion_databases_path, :method => 'get' do %>
        <div class="span">
          <div class="input-bar">
          <% if params[:removal_index].blank? %>
          <label class="checkbox">
            <%= check_box_tag :removed, "1", @removed,{:data => {"text-label" => "removed","off-label" => "","on-label" => "Include",:size => "normal",:on => "success",:off => "default","off-label" => "excluded"}} %>
          <% else %>
            <button type="button" class="btn btn-danger" title="submit selected" id="Postselected"><i class="icon-check"></i> Mark selected</button>
          <% end %>
          </label>
          </div>
      </div>
      <div class="span">
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <%= hidden_field_tag :removal_index, params[:removal_index] %>
          <div class="input-prepend input-append">
            <%= select_tag("search_status", options_for_select(ConversionDatabase.status_hash,params[:search_status]), include_blank: true, class: 'span2', data: {placeholder: 'Status'}) %>
            <%= text_field_tag :start_date, params[:start_date], :placeholder =>"creation date 1",:style => "width:95px" %>
            <%= text_field_tag :finish_date, params[:finish_date], :placeholder =>"creation date 2",:style => "width:95px" %>
            <%= text_field_tag :search, params[:search], :placeholder=>" search" %>
            <%= button_tag "Search", :name => nil, :type => :submit, :class => "btn" %>
            <%= button_tag "Reset", :name => 'reset',:class=>"btn",:type=>:submit %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<fieldset id="lineChecks">
<div id="endless">  
  <div class="row">
    <div class="span1">
      <% if params[:removal_index].blank? %>
        &nbsp;
      <% else %>
        <button type="button" class="btn btn-small" title="Select all" id="checkAll"><i class="icon-share"></i></button>
      <% end %>
    </div>
    <div class="span0_5"><strong>&nbsp;<%= sortable "conversion_databases.id", 'Id',true, [], "exact conversion_databases.id" %></strong></div>
    <div class="span2"><strong><%= sortable "regions.name", 'Coverage',true, Region.active.collect{|x| [x.name, x.id]}, "select regions.id" %></strong></div>
    <div class="span1"><strong><%= sortable "data_releases.name", 'Release', true, Conversion.select("distinct data_release_id").includes("data_release").reject{|x|!x.data_release}.collect{|x|[x.data_release.name, x.data_release.id]}, "select conversions.data_release_id" %></strong></div>
    <div class="span1"><strong><%= sortable "company_abbrs.company_name", 'Supplier', true, CompanyAbbr.order('company_name').collect{|x|[x.company_name,x.id]}, "select company_abbrs.id" %></strong></div>
    <div class="span1"><strong><%= sortable "conversion_databases.db_type", 'Type', true, DataType.active.collect{|dt|[dt.name,dt.name]}.compact.uniq, "select conversion_databases.db_type" %></strong></div>
    <div class="span1"><strong><%= sortable "conversion_databases.product_id", 'ProdID',true %></strong></div>
    <div class="span4"><strong><%= sortable "conversion_databases.path_and_file", 'Database',true %></strong></div>
    <div class="span1_5"><strong><%= sortable "conversion_databases.status", 'Status',true,ConversionDatabase.status_hash.sort, "select conversion_databases.status" %></strong></div>
  </div>
  
  <%= render(:partial => "conversion_database", :collection => @conversion_databases,:params => params) %>

</div>
    </fieldset>
<%= will_paginate(@conversion_dabases) %>
<%= pageless(@conversion_databases.total_pages, url_for(:controller => :conversion_databases,:action => :index,:params => params), "#endless") %>

<script type="text/javascript">
  $('#search_status').chosen({allow_single_deselect:true})
  $('select').filter(".column_search").chosen({allow_single_deselect:true})
  $("#removed").bootstrapSwitch();
  $('#start_date').datepicker({ format: 'dd-mm-yyyy'});
  $('#finish_date').datepicker({format: 'dd-mm-yyyy'});
  checkall();

  function checkall() {
    $('#checkAll').on('click', function () {
      $("#lineChecks").find(':checkbox').attr('checked', true);
      $(this).attr("id","uncheckAll").attr("title","uncheck all");
      uncheckall();

    })
  };
  function uncheckall() {
    $('#uncheckAll').on('click', function () {
      $("#lineChecks").find(':checkbox').removeAttr('checked');
      $(this).attr("id","checkAll").attr("title","check all");
      checkall();
    });
  };

  $("#Postselected").click(function(){
    var checkedValues = $("input[name='check[databases][]']:checked").map(function() {
      return this.value;
    }).get();
    $.post( "<%= url_for(:action=>:batch_mark_for_removal) %>", {
      databases: checkedValues } );

    $.each( checkedValues, function( index, value ) {
      $( "#rowId-"+value ).fadeOut( "slow", function() {
        $("#rowId-"+value).remove();
      });

    });
  });


    $(".chzn-drop").css({width: '300px'})
    $(".chzn-search input").css({width: '265px'})
    $(".chzn-container-single .chzn-single abbr").css({right: '14px'})
</script>

  