<h3>Conversion databases marked for removal</h3>

<div class="row">
  <div class="span1"><a href="#" id='sa'>Select all</a></div>
  <div class="span1"><strong>Conversion&nbsp;ID</strong></div>
  <div class="span1"><strong>Data type</strong></div>
  <div class="span1"><strong>Supplier</strong></div>
  <div class="span1"><strong>Data&nbsp;release</strong></div>  
  <div class="span1"><strong>Area coverage</strong></div>
  <div class="span2"><strong>Removal remark</strong></div>
  <div class="span4"><strong>Database</strong></div>
</div>

<%= form_tag({:action => 'db_remove_script'},{:name => 'selector',:id => 'selector'}) do -%>
<% @conversion_databases.each do |conversion_database| %>
<div class="row">
  <div class="span1">
    <label>
      <%= check_box_tag name ='selected[]', value = conversion_database.id %>&nbsp;|&nbsp;
      <%= link_to(conversion_database,:target => '_blank') do %>
      <li class="icon-eye-open">&nbsp;</li>show
      <% end %>
    </label>
  </div>
  <div class="span1">&nbsp;
    <%= conversion_database.conversion_id %>
  </div>
  <div class="span1">&nbsp;
    <%= conversion_database.db_type %>
  </div>
  <div class="span1">&nbsp;
    <%= conversion_database.conversion.data_release.company_abbr.company_name if conversion_database.conversion && conversion_database.conversion.data_release  %>
  </div>
  <div class="span1">&nbsp;
    <%= conversion_database.conversion.data_release.name if conversion_database.conversion && conversion_database.conversion.data_release %>
  </div>  
  <div class="span1">&nbsp;
    <%= conversion_database.conversion.region_name if conversion_database.conversion %>
  </div>
  <div class="span2">&nbsp;
    <%= conversion_database.removal_remark %>
  </div>
  <div class="span4">&nbsp;
    <% db= conversion_database.filename
       if db == ""     
          db = conversion_database.path_and_file
       end
       if db == ""     
          db = conversion_database.path
       end %>
    <small><%= db %></small>
  </div>  
  
</div>

<% end %>

<% if @conversion_databases.size != 0 %>
<div class="row">
  <div class="span8">
      <%= submit_tag 'Remove selected',:name => 'remove_selected',:class => 'btn',:id => 'remove-selected' %>
      <%= submit_tag 'Delete selected (RM command)',:name => 'delete_selected',:class => 'btn btn-danger',:id => 'delete-selected', :confirm => 'This will access the file system and physically remove the selected files. Are you sure?' %>
      <%= submit_tag 'Remove ALL', :name => 'remove_all',:class => 'btn btn-info',:id => 'remove-all' %>
  </div>
</div>

<% end -%>
<% end %>

<script>
  $('#sa').click(function () {
        $('#selector').find(':checkbox').attr('checked', 'checked');

      $('html, body').animate({
      scrollTop: $('#remove-selected').offset().top - 60
    }, 1000);
    $('#remove-selected').addClass('btn-danger');
    
          });
</script>