<h1>New conversion_database</h1>

<%= form_for(@conversion_database) do |f| %>
<% if @conversion_database.errors.any? %>
  <ul>
    <% @conversion_database.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', conversion_databases_path %>