<%= render 'show_data' %>

<div class="row">
  <div class="span12 bounded bounded-headered">
    <div class="row bounded-header">
      <div class="span4"><h4>Data sets</h4></div>
    </div>
    <div class="row">
      <div class="span1"><strong>Id</strong></div>
      <div class="span1"><strong>Version</strong></div>
      <div class="span4"><strong>Name</strong></div>
      <div class="span4"><strong>Tags</strong></div>
    </div>
    <% @conversion_database.used_data_sets.each do |k,v| %>
    <% ds = DataSet.find(v['id']) %>
    <div class="row">
      <div class="span1"><%= link_to( v['id'].to_s,{:action => :show, :controller => :data_sets, :id => v['id']},{:target => '_blank'} ) %></div>
      <div class="span1"><%= v['version'] %></div>
      <div class="span4"><%= ds.name %></div>
      <div class="span4"><%= ds.company_abbr.name %> | <%= ds.region.name %> | <%= ds.data_release.name %> | <%= ds.data_type.name %> | <%= ds.filling.name if ds.filling %></div>
    </div>
    <% end %>
  </div>
</div>

<% if @conversion_database.db_type == "dHive--DISABLED4NOW--" && !@conversion_database.tag_list_on(:internal_metatags).empty? %>
  <div class="row">
    <div class="span12 bounded bounded-headered">
      <div class="row bounded-header">
        <h4>dHive Meta data</h4>
      </div>
      <%  @conversion_database.tag_list_on(:internal_metatags).each do |tag| %>
        <div class="row">
          <div class="span2"><strong>Meta tag:</strong></div>
          <div class="span2"><%= tag %></div>
        </div>
        <div class="row">
          <div class="span2"><strong>Meta value:</strong></div>
          <div class="span8"><pre class="real-pre"><%=  @conversion_database.tag_list_on(tag).to_s %></pre></div>
        </div>
      <% end %>
    </div>
  </div>
<%  end %>

<div class="row">
  <div class="span12 bounded bounded-headered">
    <div class="row bounded-header">
      <div class="span4"><h4>All databases on conversion <%= @conversion_database.conversion_id %></h4></div>
    </div>
    <div class="row">
      <div class="span0_5"><strong>ID</strong></div>
      <div class="span1_5"><strong>Coverage</strong></div>
      <div class="span7"><strong>Path &amp; File name</strong></div>
    </div>
    <% @related_databases.each do |conversion_database|  %>
    <div class="row">
      <div class="span0_5"><%= link_to conversion_database.id, {:controller => :conversion_databases, :id => conversion_database.id, :action => 'show'},{:target => '_blank'} %></div>
      <div class="span1_5"><%= conversion_database.coverage %></div>
      <div class="span"><%= conversion_database.path_and_file if conversion_database.path_and_file %></div>
    </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="span12">
    <%= link_to(conversion_databases_path,:class => 'btn',:title => 'Overview') do %>
      <i class="icon-arrow-up"></i>
    <% end %>&nbsp;
    <%= link_to(handle_conversion_database_path(@conversion_database, :validation_results_view => @validation_results_view), :class => 'btn', :title => "Handle") do %>
      <i class="icon-tasks"></i>
    <% end %>&nbsp;
    <%= next_prev_button("prev") %>&nbsp;
    <%= next_prev_button("next") %>
  </div>
</div>

<div class="row">
  <div class="span12">&nbsp;</div>
</div>


