<div class="row">
  <div class="span5 well">

<%= form_for(@release_note_attachment) do |f| %>
  <% if @release_note_attachment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@release_note_attachment.errors.count, "error") %> prohibited this release_note_attachment from being saved:</h2>

      <ul>
      <% @release_note_attachment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="span3"><strong>Title</strong></div>
</div>

<div class="row">
  <div class="span3"><%= f.text_field :title ,:class => 'span3'%></div>
  <div class="span1 offset1">
     <label class="checkbox">
       <%= f.check_box :active_yn %> Active
     </label>
  </div>
</div>

<div class="row">
  <div class="span3"><strong>Description</strong></div>
  <div class="span2"><strong>Package directory</strong></div>
</div>

<div class="row">
  <div class="span3"><%= f.text_field :description ,:class => 'span3'%></div>
  <div class="span2"><%= f.text_field :package_directory ,:class => 'span2'%></div>
</div>

  <div class="actions">
    <%= f.submit "Save", :class => 'btn' %>
  </div>
<% end %>
    
  </div>
</div>