<% if !@product_categories.empty? %>

  <div class="row">
    <div class="span5 bounded">
      <div class="row">
        <div class="span4"><h5>Related product categories</h5></div>
      </div>
      <div class="row">
        <div class="span2"><strong>Product category</strong></div>
        <div class="span1 offset1"><strong>Mandatory</strong></div>
      </div>

      <% for pc in @product_categories %>
        <div class="row">
          <div class="span2">
            <%=  select_tag "pc-product_category-#{pc.id}", options_for_select(ProductCategory.where(:active => true).collect{|prc|[prc.abbreviation,prc.id]},pc.product_category_id) , :include_blank => true,:class => 'span2' %>
          </div>
          <div class="span1 offset1">
            <%= check_box_tag "pc-mandatory-#{pc.id}", pc.mandatory_yn, pc.mandatory_yn %>
          </div>
        </div>
      <% end %>
<% end %>
      <div class="row">
        <div class="span2">
          <%=  select_tag "new-pc-product_category", options_for_select(ProductCategory.where(:active => true).collect{|prc|[prc.abbreviation,prc.id]}) , :include_blank => true,:class => 'span2',:data=>{:placeholder => 'New product category'} %>
        </div>
      </div>    
    </div>
  </div>

  <script type="text/javascript">
    $("input,select").change(function () {
      var cid = (this.id).match(/\d+/);
      if(this.id != 'release_note_attachment_active_yn' && this.id != 'release_note_attachment_title' && this.id != 'new-pc-product_category' && this.id != 'new-pc-mandatory'){
        if ($('#pc-mandatory-'+cid).attr('checked')){var mandatory = '1'} else {var mandatory = '0'}
        
        $.post('<%= url_for(:controller=>'release_note_attachments', :action=>'update_line',:id => @release_note_attachment.id) %>', { 
          pcid: cid,
          mandatory_yn: mandatory,
          product_category: $('#pc-product_category-'+cid).val()
        } );
      }
    })
    
    $("#new-pc-product_category").change(function () {
      $.post('<%= url_for(:controller=>'release_note_attachments', :action=>'new_line',:id => @release_note_attachment.id) %>', { 
        product_category: $("#new-pc-product_category").val()
      } )
    })
    
    $('select').chosen({allow_single_deselect: true})
  </script>

