<% if release_note_attachment.active_yn 
    icon_class = 'icon-check'
   else
    icon_class = 'icon-minus'
   end %>

<div class="row">
  <div class="span1">
      <div class="btn-group">
        <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
        Action
        <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to({:controller => :release_note_attachments,:action => 'show',:id => release_note_attachment.id}) do %>
            <i class="icon-info-sign"></i>&nbsp;show
            <% end %>
          </li>
          <li>
            <%= link_to({:controller => :release_note_attachments,:action => 'edit',:id => release_note_attachment.id}) do %>
            <i class="icon-edit"></i>&nbsp;edit
            <% end %>
          </li>
          <li>
            <%= link_to({:controller => :release_note_attachments,:action => 'remove',:id => release_note_attachment.id}) do %>
            <i class="icon-remove"></i>&nbsp;remove
            <% end %>
          </li>          
        </ul>
      </div>
  </div>  
  <div class="span2"><%= release_note_attachment.title %></div>
  <div class="span1"><%= bootstrap_boolean(release_note_attachment.active_yn) %></div>
  <div class="span3"><%= ReleaseNoteAttachment.find(release_note_attachment.id).release_note_attachments_product_categories.active.collect {|pc|ProductCategory.find(pc.product_category_id).abbreviation}.uniq.sort.join(' - ') if release_note_attachment.release_note_attachments_product_categories %></div>
</div>

