<h4>Editing release note attachment title</h4>

<%= render 'form' %>
<div id="pclines">
<%= render("lines") %>
</div>

<%= link_to 'Show', @release_note_attachment %> |
<%= link_to 'Back', release_note_attachments_path %>