<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="span3"><strong>Release note attachment titles</strong><br><small>Required attachements for the release note editor</small></div>
    <div class="span7" style="margin-left: 75px">
      <%= form_tag release_note_attachments_path, :method => 'get' do %>
        <%= hidden_field_tag :direction, params[:direction] %>
        <%= hidden_field_tag :sort, params[:sort] %>
        <div class="input-append input-prepend">
          <%= button_tag "New", :id => 'new', :type => :button, :class => "btn btn-info" %>
          <%= text_field_tag :search, params[:search],:class => 'span3',:placeholder => 'Search title' %>
          <%=  select_tag("search_product_category", options_for_select(ProductCategory.all.collect{|p|[p.abbreviation,p.id]}.uniq.sort.reverse,params[:search_product_category]),:include_blank=>true,:class => 'span2',:data=>{:placeholder => 'Product category'}) %>        
          <%= button_tag "Search", :name => nil, :type => :submit, :class => "btn" %>
          <%= button_tag "Reset", :name => 'reset',:class=>"btn",:type=>:submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div id="endless">
    <div class="row">
    <div class="span2 offset1"><strong><%= sortable "title" %></strong></div>
    <div class="span1"><strong><%= sortable "active_yn","Active" %></strong></div>
    <div class="span3"><strong>Product categories</strong></div>       
  </div>
  <%= render(:partial => "release_note_attachment", :collection => @release_note_attachments) %>
</div>
<%= will_paginate(@release_note_attachments) %>
<%= pageless(@release_note_attachments.total_pages, release_note_attachments_path, "#endless") %>


<script type="text/javascript">
  $('#search_product_category').chosen()
  $('#new').click(function(){
    window.location.href="<%= url_for(:action => :new) %>";
  })
</script>