<% if @release_note_attachment.active_yn 
    icon_class = 'icon-check'
   else
    icon_class = 'icon-minus'
   end %>

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="span5 well">

<div class="row">
  <div class="span3"><strong>Title</strong></div>
</div>

<div class="row">
  <div class="span3"><%= @release_note_attachment.title %></div>
  <div class="span1">
     <label class="checkbox">
       <i class="<%= icon_class %>">&nbsp;</i><small>Active</small>
     </label>
  </div>
</div>

<div class="row">
  <div class="span3"><strong>Description</strong></div>
  <div class="span2"><strong>Package directory</strong></div>
</div>
    
<div class="row">
  <div class="span3"><%= @release_note_attachment.description %></div>
  <div class="span2"><%= @release_note_attachment.package_directory %></div>
</div>

   
  </div>
</div>

<% if !@product_categories.empty? %>

  <div class="row">
    <div class="span5 bounded">
      <div class="row">
        <div class="span4"><h5>Related product categories</h5></div>
      </div>
      <div class="row">
        <div class="span2"><strong>Product category</strong></div>
        <div class="span1 offset1"><strong>Mandatory</strong></div>
      </div>

      <% for pc in @product_categories %>
      <% if pc.mandatory_yn 
           icon_class = 'icon-check'
         else
           icon_class = 'icon-minus'
        end %>
        <div class="row">
          <div class="span2">
            <%= ProductCategory.find(pc.product_category_id).abbreviation %>
          </div>
          <div class="span1 offset1">
            &nbsp;<i class="<%= icon_class %>">&nbsp;</i>
          </div>
        </div>
      <% end %>
<% end %>
    </div>
  </div>

<%= link_to 'Edit', edit_release_note_attachment_path(@release_note_attachment) %> |
<%= link_to 'Back', release_note_attachments_path %>
