$('#pclines').html('<%= escape_javascript(render(:partial => "lines")) %>');
<% if @msg %>
  $('#pclines').prepend('<div class="row"><div class="alert alert-error span4"><%= escape_javascript(@msg) %></div></div>');
<% end %>