<% content_line = "n.a."
   content_line = default_content_release_note.content if default_content_release_note.content != ""
   content_line.slice!(60..9999)
   content_line = content_line + " ...." if content_line.size >= 60 %>

<% product_icon_class_pl = "icon-minus"
   product_icon_class_pl = "icon-ok" if default_content_release_note.product_list %>

<% product_icon_class_ar = "icon-minus"
   product_icon_class_ar = "icon-ok" if default_content_release_note.addition_required_yn %>

<% product_icon_class_cc = "icon-minus"
   product_icon_class_cc = "icon-ok" if default_content_release_note.use_customer_content_yn %>

<% status_label_class = "label-info"
   status_label_class = "" if default_content_release_note.status == 0
   status_label_class = "label-success" if default_content_release_note.status == 10
   status_label_class = "label-inverse" if default_content_release_note.status == 30
   status_label_class = "label-important" if default_content_release_note.status == 100
%>

<div class="row">
  <div class="span1">
    <div class="btn-group">
      <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
      Action
      <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to(:action => 'show',:controller => :default_content_release_notes,:id => default_content_release_note.id) do %>
          <i class="icon-info-sign"></i>&nbsp;show
          <% end %>
        </li>
        <li>
          <%= link_to(:action => 'edit',:controller => :default_content_release_notes,:id => default_content_release_note.id) do %>
          <i class="icon-edit"></i>&nbsp;edit
          <% end %>
        </li>        
      </ul>
    </div>    
  </div>
  <div class="span2"><strong><%= default_content_release_note.title %></strong>&nbsp;</div>
  <div class="span1"><%= default_content_release_note.product_category.abbreviation if default_content_release_note.product_category_id %>&nbsp;</div>
  <div class="span4"><%= content_line %>&nbsp;</div>
  <div class="span1"><i class="<%= product_icon_class_pl %>">&nbsp;</i></div>
  <div class="span1"><i class="<%= product_icon_class_ar %>">&nbsp;</i></div>
  <div class="span1"><i class="<%= product_icon_class_cc %>">&nbsp;</i></div>
  <div class="span1"><span class="label <%= status_label_class %>"><%= default_content_release_note.status_string %></span></div>
</div>