<% f=formfields_edit_new %>
<div class="row">
  <div class="span4"><strong>Title</strong></div>
  <div class="span2"><strong>Product category</strong></div>
  <div class="span2"><strong>Status</strong></div>
</div>

<div class="row">
  <div class="span4"><%= f.text_field :title,:class => 'span4' %></div>
  <div class="span2"><%= f.select :product_category_id, ProductCategory.actives.collect {|pc|[pc.abbreviation,pc.id]}, {:include_blank => true}, {:class =>'span2', id: "chosen_product_category", data: { placeholder: "Select prod.category" } } %></div>
  <div class="span2"><%= f.select :status, DefaultContentReleaseNote.status_hash,{},{:class => 'span2', id: "chosen_status", data: { placeholder: "Select status" } } %></div>
</div>

<div class="row">
  <div class="span8"><strong>Content</strong></div>
</div>

<div class="row">
  <div class="span12"><%= f.text_area :content, :class => 'span12' %></div>
</div>

<div class="row">
  <div class="span1"><strong>Options</strong></div>
  <div class="span2"><label><%= f.check_box :product_list %>&nbsp;Include product list</label></div>
  <div class="span2"><label><%= f.check_box :start_on_new_page %>&nbsp;Start on new page</label></div>
  <div class="span2"><label><%= f.check_box :addition_required_yn %>&nbsp;Addition required</label></div>
  <div class="span2"><label><%= f.check_box :use_customer_content_yn %>&nbsp;Use customer content</label></div>
  <div class="span2"><label><%= f.check_box :allow_jira_import_yn %>&nbsp;Allow Jira import</label></div>
</div>

<script>
  $('#chosen_product_category').chosen();
  $('#chosen_status').chosen();
</script>