<% if ranked.start_on_new_page
     icon_class_np = 'icon-check'
   else
     icon_class_np = 'icon-minus'
   end %>
<% if ranked.product_list
     icon_class_pl = 'icon-check'
   else
     icon_class_pl = 'icon-minus'
   end %>
<% if ranked.addition_required_yn
     icon_class_ar = 'icon-check'
   else
     icon_class_ar = 'icon-minus'
   end %>  
<% if ranked.use_customer_content_yn
     icon_class_cc = 'icon-check'
   else
     icon_class_cc = 'icon-minus'
   end %>  

<div class="row">
  <div class="span1">
    <div class="btn-toolbar">
      <div class="btn-group">
        <% if !ranked.subrank.nil? %>
          <a class="btn btn-mini" id="left-<%= ranked.id %>"  href="#"><i class="icon-arrow-left"></i></a>
        <% end %>
        <% if ranked.subrank.nil? %>
          <a class="btn btn-mini" id="up-<%= ranked.id %>" href="#"><i class="icon-arrow-up"></i></a>
          <a class="btn btn-mini" id="down-<%= ranked.id %>"  href="#"><i class="icon-arrow-down"></i></a>
          <% unless ranked.use_customer_content_yn %>
            <a class="btn btn-mini" id="right-<%= ranked.id %>"  href="#"><i class="icon-arrow-right"></i></a>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="span3">
    <% if ranked.subrank.nil? %>
    <h5>
    <% end %>
      <%= ranked.rank %>.<%=  ranked.subrank %>&nbsp;&nbsp;<%= ranked.title %>
    <% if ranked.subrank.nil? %>  
    </h5>
    <% end %>
  </div>
  <div class="span1"><i class="<%= icon_class_np %>">&nbsp;</i></div>    
  <div class="span1"><i class="<%= icon_class_pl %>">&nbsp;</i></div>    
  <div class="span1"><i class="<%= icon_class_ar %>">&nbsp;</i></div>
  <div class="span2"><i class="<%= icon_class_cc %>">&nbsp;</i></div>
</div>

<script type="text/javascript">
  $('#up-<%= ranked.id %>').click(function(){
      jQuery.get('<%=h url_for(:controller => "default_content_release_notes",:action => "rank_it", :direction => 'up' ,:id => ranked.id) %>')
  })
  $('#down-<%= ranked.id %>').click(function(){
      jQuery.get('<%=h url_for(:controller => "default_content_release_notes",:action => "rank_it", :direction => 'down' ,:id => ranked.id) %>')
  })
  $('#right-<%= ranked.id %>').click(function(){
      jQuery.get('<%=h url_for(:controller => "default_content_release_notes",:action => "rank_it", :direction => 'right' ,:id => ranked.id) %>')
  })
  $('#left-<%= ranked.id %>').click(function(){
      jQuery.get('<%=h url_for(:controller => "default_content_release_notes",:action => "rank_it", :direction => 'left' ,:id => ranked.id) %>')
  })    
</script>