<div class="row">
  <div class="span3"><h3>Edit default content</h3></div>
</div>

<div class="container">
  <%= form_for(@default_content_release_note) do |f| %>
    
    <% if @default_content_release_note.errors.any? %>
      <div class="alert alert-error">
        <% @default_content_release_note.errors.full_messages.each do |msg| %>
          <%= msg %>
        <% end %>
      </div>
    <% end %>
    
    <%= render :partial => 'formfields_edit_new' ,:object => f %>
    <div class="row">
      <div class="span6">
        <%= link_to "sort content",{:action => :ranking, :controller => :default_content_release_notes,:pcid => @default_content_release_note.product_category_id, :bckid => @default_content_release_note.id},{:class => "btn"} %>
        <%= f.submit 'Update' ,:class => 'btn btn-primary'%>     
      </div>
    </div>
  <% end %>
</div>

|
<%= link_to @default_content_release_note do %>
  <i class="icon-eye-open" title="show">&nbsp;</i>
<% end %>
|
<%= link_to :back do %>
<i class="icon-arrow-left" title="back">&nbsp;</i>
<% end %>
|
<%= link_to default_content_release_notes_path do %>
  <i class="icon-arrow-up" title="overview">&nbsp;</i>
<% end %>
|
