<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
    <div class="brand"><strong>Default content for release notes</strong></div>
    <div class="span7">
      <%= form_tag default_content_release_notes_path, :method => 'get' do %>
        <%= hidden_field_tag :direction, params[:direction] %>
        <%= hidden_field_tag :sort, params[:sort] %>
          <div class="input-append input-prepend ">
          <%= link_to "New", {:action => :new ,:name => 'new'}, {:class => 'btn btn-info'} %>
          <%= select_tag 'c', options_for_select([['product category',0]] + ProductCategory.all.collect{|pc|[pc.abbreviation,pc.id]}, params[:c].to_i),:class => 'span2'   %>
          <%= text_field_tag :search, params[:search], :placeholder=>" search",:class=>"span3",:size=>"16" %>
          <%= button_tag "Search", :name => nil, :type => :submit, :class => "btn" %>
          <%= button_tag "Reset", :name => 'reset',:class=>"btn",:type=>:submit %>
          </div>
      <% end %>                  
    </div>
  </div>  
</div>
</div>

<div id="endless">
  <div class="row">
    <div class="span2 offset1"><strong><%= sortable 'title' %></strong></div>
    <div class="span1"><strong><%= sortable 'product_categories.abbreviation','Prod.cat.' %></strong></div>
    <div class="span4"><strong><%= sortable 'content' %></strong></div>
    <div class="span1"><strong><%= sortable 'product_list', "Prod.list" %></strong></div>
    <div class="span1"><strong><%= sortable 'addition_required_yn','Add.req.' %></strong></div>
    <div class="span1"><strong><%= sortable 'use_customer_content_yn', 'Cust.cont.' %></strong></div>
    <div class="span1"><strong><%= sortable 'status' %></strong></div>
  </div>
  
  <%= render(:partial => "default_content_release_note", :collection => @default_content_release_notes) %>
</div>
<%= will_paginate(@default_content_release_notes) %>
<%= pageless(@default_content_release_notes.total_pages, default_content_release_notes_path, "#endless") %>

<script>
$('#c').chosen();
</script>