<h4>Sort content for product category: <%= ProductCategory.find(params[:pcid]).abbreviation %></h4>  
<div class="row" style="padding-top: 1.5em">
    <div class="span3 offset1"><strong>Title</strong></div>
    <div class="span1"><strong>New page</strong></div>    
    <div class="span1"><strong>Product list</strong></div>
    <div class="span1"><strong>Add.req.</strong></div>
    <div class="span2"><strong>Use cust.content</strong></div>
  </div>
<div id="ranker"> 
  <%= render(:partial => "ranked", :collection => @default_content_release_notes) %>
</div>

|
<%= link_to edit_default_content_release_note_path(params[:bckid]) do %>
  <i class="icon-edit" title="edit">&nbsp;</i>
<% end %>
|
<%= link_to :back do %>
  <i class="icon-arrow-left" title="back">&nbsp;</i>
<% end %>
|
<%= link_to default_content_release_notes_path do %>
  <i class="icon-arrow-up" title="overview">&nbsp;</i>
<% end %>
|
