<div class="row">
  <div class="span3"><h3>Show default content</h3></div>
</div>

<div class="row">
  <div class="span9 bounded">


    <div class="row">
      <div class="span4"><strong>Title</strong></div>
      <div class="span2"><strong>Product category</strong></div>
      <div class="span2"><strong>Status</strong></div>
    </div>

    <div class="row">
      <div class="span4"><%= @default_content_release_note.title %></div>
      <div class="span2"><%= @default_content_release_note.product_category.abbreviation %></div>
      <div class="span2"><%= @default_content_release_note.status_string %></div>
    </div>
    
    <div class="row">
      <div class="span9"><hr></div>
    </div>  
    
    <div class="row">
      <div class="span9"><strong>Content</strong></div>
    </div>

    <div class="row">
      <div class="span9"><pre class="real-pre"><%= @default_content_release_note.content %></pre></div>
    </div>
    
    <div class="row">
      <div class="span9"><hr></div>
    </div>    

    <% if @default_content_release_note.product_list
      icon_class_pl = 'icon-check'
    else
      icon_class_pl = 'icon-minus'
    end %>

    <% if @default_content_release_note.start_on_new_page
      icon_class_np = 'icon-check'
    else
      icon_class_np = 'icon-minus'
    end %>

    <% if @default_content_release_note.addition_required_yn
      icon_class_ar = 'icon-check'
    else
      icon_class_ar = 'icon-minus'
    end %>

    <% if @default_content_release_note.use_customer_content_yn
      icon_class_cc = 'icon-check'
    else
      icon_class_cc = 'icon-minus'
    end %>

    <div class="row">
      <div class="span1"><strong>Options</strong></div>
      <div class="span2"><i class="<%= icon_class_pl %>">&nbsp;</i>Include product list</div>
      <div class="span2"><i class="<%= icon_class_np %>">&nbsp;</i>Start on new page</div>
      <div class="span2"><i class="<%= icon_class_ar %>">&nbsp;</i>Addition required</div>
      <div class="span2"><i class="<%= icon_class_cc %>">&nbsp;</i>Use customer content</div>
    </div>
  </div>

</div>  

|
<%= link_to edit_default_content_release_note_path(@default_content_release_note) do %>
  <i class="icon-edit" title="edit">&nbsp;</i>
<% end %>
|
<%= link_to :back do %>
  <i class="icon-arrow-left" title="back">&nbsp;</i>
<% end %>
|
<%= link_to default_content_release_notes_path do %>
  <i class="icon-arrow-up" title="overview">&nbsp;</i>
<% end %>
|
