<tr <%=h process_data_event.status == ProcessDataEvent::STATUS_REMOVED ? "class=danger" : process_data_event.status == ProcessDataEvent::STATUS_DISABLED ? "class=warning" : '' %>>
  <td>
    <div class="btn-group">
      <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Action <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="action-<%= process_data_event.id %>">
        <li>
          <%= link_to(:action => 'show',:controller => :process_data_events,:id => process_data_event.id) do %>
          <span class="glyphicon glyphicon-info-sign"></span>&nbsp;show
          <% end %>
        </li>
         <li>
          <%= link_to(edit_process_data_event_path(process_data_event)) do %>
          <span class="glyphicon glyphicon-edit"></span>&nbsp;edit
          <% end %>
        </li>
      </ul>
    </div>
  </td>
  <td><%=h link_to process_data_event.id, process_data_event %></td>
  <td><%= process_data_event.name %></td>
  <td><%= process_data_event.status_string %></td>
</tr>