<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-10">
            <h3 class="panel-title"><span class="badge"><%= @process_data_event.id %></span> <%= params[:action].humanize %> Process data event <%= @process_data_event.name %></h3>
          </div>
          <div class="col-md-2">
            <span class="label label-info pull-right"><%= @process_data_event.status_string %></span>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12 show-label">Name</div>
        </div>
        <div class="row">
          <div class="col-md-12"><%= @process_data_event.name %></div>
        </div>
        <div class="row">
          <div class="col-md-12 show-label">Child sub-events</div>
        </div>
        <% @process_data_event.process_data_sub_events.each do |sub| %>
        <div class="row">
          <div class="col-md-9">
           <%= sub.name %>
          </div>
          <div class="col-md-3">
           <span class="label label-info pull-right"><%= sub.status_string %></span>
          </div>        
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
