<%= render :partial => "show_data" %>

<div class="row footer">
  <div class="col-md-12">
      <%= link_to({:action => "change_status", :id => @process_data_event.id, :status => ProcessDataEvent::STATUS_DISABLED}, {:method => :post, :class => "btn btn-default",:confirm => "Are you sure to disable this event?",:disabled=>"disabled",:id=>'btnDisable'}) do %>
        <span class="glyphicon glyphicon-pause"></span> Disable
      <% end %>

      <%= link_to({:action => "change_status", :id => @process_data_event.id, :status => ProcessDataEvent::STATUS_ACTIVE},   {:method => :post, :class => "btn btn-default",:disabled=>"disabled",:id=>'btnActivate'}) do %>
        <span class="glyphicon glyphicon-ok"></span> Activate
      <% end %>

      <%= link_to({:action => "change_status", :id => @process_data_event.id, :status => ProcessDataEvent::STATUS_REMOVED}, {:method => :post, :class => "btn btn-default",:confirm => "Are you sure to remove this event?",:disabled=>"disabled",:id=>'btnRemove'}) do %>
        <span class="glyphicon glyphicon-trash"></span> Remove
      <% end %>

      <%= link_to({:action => "change_status", :id => @process_data_event.id, :status => ProcessDataEvent::STATUS_ACTIVE},   {:method => :post, :class => "btn btn-default",:confirm => "Are you sure to restore this event?",:disabled=>"disabled",:id=>'btnRestore'}) do %>
        <span class="glyphicon glyphicon-step-backward"></span> Restore
      <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= link_to :back, :class => 'btn btn-default',:title => 'back to previous page' do %>
      <span class="glyphicon glyphicon-arrow-left"></span>
    <% end %>
    <%= link_to process_data_events_path, :class => 'btn btn-default',:title => 'back to overview' do %>
      <span class="glyphicon glyphicon-arrow-up"></span>
    <% end %>
    <%= link_to process_data_event_path(@process_data_event),:class => 'btn btn-default',:title => "show" do %>
      <span class="glyphicon glyphicon-eye-open"></span>
    <% end %>
    <%= link_to edit_process_data_event_path(@process_data_event),:class => 'btn btn-default',:title => "edit" do %>
      <span class="glyphicon glyphicon-edit"></span>
    <% end %>
    <%= next_prev_button("prev") %>
    <%= next_prev_button("next") %>
  </div>
</div>

<script type="text/javascript">
  <% if @process_data_event.removal_allowed? %>
    $("#btnRemove").removeAttr('disabled');
  <% end %>
  <% if @process_data_event.restore_allowed? %>
    $("#btnRestore").removeAttr('disabled');
  <% end %>
  <% if @process_data_event.deactivation_allowed? %>
    $("#btnDisable").removeAttr('disabled');
  <% end %>
  <% if @process_data_event.activation_allowed? %>
    $("#btnActivate").removeAttr('disabled');
  <% end %>
</script>