<%= select_tag("reception[data_release_id]",options_for_select(@dr.collect {|c| [ c.name.to_s  , c.id ] }),{:class => 'form-control',:data => {:placeholder => 'No release available'}}) %>
<script type="text/javascript">
  $('#reception_data_release_id').select2();
</script>



