<% if !@reception %>
  <% obj_id = "x" %>
<% else %>
  <% obj_id = "#{@reception.filling_id}" %>
<% end %>
<% if @pre_selected_filling_id %>
  <% obj_id = @pre_selected_filling_id.to_s %>
<% end %>

<%= select_tag "reception_filling_id", options_for_select(@datatype_fillings,obj_id),{:include_blank => true,:class => 'form-control validate',:data=>{:placeholder=>"Filling"},:name => "reception[filling_id]",:required => 'required' } %>
