<% if params[:request] == '1' && !@reception.request_remarks.blank? %>
  <div class="row">
    <div class="col-md-12 bounded">
      <span class="glyphicon glyphicon-retweet" title="Use as reception remark" id="cp_remark">&nbsp;</span>
      <pre class="real-pre" id="request_remarks"><%= @reception.request_remarks.lstrip %></pre>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  function removed(){
    <% if @reception.removed_yn || @reception.can_be_removed_yn %>
        document.getElementById('reception_persistent_yn').disabled=true;
    <% else %>
        document.getElementById('reception_persistent_yn').disabled=false;
    <% end %>
  }
</script>

<%= form_for(@reception) do |f| %>
  <% params.each do |key,value| %>
    <%= hidden_field_tag key,value %>
  <% end %>
  <%= f.hidden_field :data_set_id %>
  <%= f.hidden_field :data_set_version %>
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-5"><h4><%= params[:action].humanize %> reception <%= @reception.id %></h4></div>
            <div class="col-md-7"><span class="label label-primary pull-right"><%=  @reception.status %></span></div>
          </div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <%= f.label :references %>
                <%= f.text_field :references, :class => 'form-control' %>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <%= f.label :persistent_yn %><br />
                <%= f.check_box :persistent_yn %>
              </div>
            </div>
            <div class="col-md-2">
              <strong>Removal candidate</strong><br />
              <%= bootstrap_boolean(@reception.can_be_removed_yn) %>
            </div>
            <div class="col-md-2">
              <strong>Removed</strong><br />
              <%= bootstrap_boolean(@reception.removed_yn) %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <%= f.label :reception_date %>
                <% if @reception.reception_date %>
                   <%= f.text_field :reception_date, :class => 'form-control',:value => @reception.reception_date.strftime('%d-%m-%Y') %>
                <% else %>
                   <%= f.text_field :reception_date, :class => 'form-control',:value => DateTime.now.strftime('%d-%m-%Y') %>
                <% end %>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>Usability</label>
                <%= f.select :purpose, [['Production Data',"production"],['Sample Data',"test"]],{},{:class => 'form-control'} %>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>Medium</label>
                <%= f.select :data_medium_id, DataMedium.all.order(:name).collect {|c| [ c.name, c.id ] },{ :include_blank => true},{:class => 'form-control'}%>
              </div>
            </div>
            <div class="col-md-1">
              <div class="form-group">
                <%= f.label :dataversion %>
                <%= f.number_field :dataversion,:class => 'form-control' %>
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-group">
                <label>Additional tag(s)</label>
                <%= text_field_tag 'free_tags',@reception.tags.collect {|t|t.name}.join(','),:class => 'form-control' %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <label>Supplier</label>
                <% if @reception.data_release %>
                  <%= select_tag "reception_datasource_id", options_for_select((CompanyAbbr.select_tag << [ @reception.data_release.company_abbr.company_name,@reception.data_release.company_abbr.id]).uniq, @reception.data_release.company_abbr.id.to_s), {:include_blank => true,:class => 'form-control'}%>
                <% else %>
                  <%= select_tag "reception_datasource_id", options_for_select(CompanyAbbr.select_tag), {:include_blank => true,:class => 'form-control',:data => {:placeholder => 'Choose supplier'}}%>
                <% end %>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>Data release</label>
                <div id="datarelease_div">
                <% if @reception.data_release %>
                  <% releases = DataRelease.where("(id = #{@reception.data_release.id}) or (production = 1 and company_abbr_id = '#{@reception.data_release.company_abbr_id.to_s}' and data_releases.name is not null)").order('data_releases.updated_at desc').uniq %>
                  <%= f.select :data_release_id,releases.collect {|c| [ c.name.to_s  , c.id ] },{}, {:include_blank => true ,:class => 'form-control'}%>
                <% else %>
                  <%= f.select :data_release_id, [],{},{:class => 'form-control'} %>
              <% end %>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Coverage</label>
                <%= f.select :area_id,Region.active.collect {|c| [ c.name, c.id ] },{ :include_blank => true},{:class => 'form-control',:data => {:placeholder => 'Choose Area'} } %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <%= f.label :data_type_id %>
                <%= f.select :data_type_id, DataType.where('isactive = 1').order('name').collect {|c| [ c.name.to_s + " - " + c.description.to_s, c.id.to_s] },{ :include_blank => true},{:class => 'form-control',:data => {:placeholder => 'Choose type of data'}}%>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group"  id="fillingSelect">
                <%= f.label :filling %>
                <%= f.number_field :dataversion,:class => 'form-control' %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <%= f.label :remarks %>
                <%= f.text_area :remarks, :rows => 2 , :class=>'form-control' %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <%= f.label :storage_location %>
                <%= f.text_area :storage_location, :rows => 7 , :class=>'form-control' %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <% if @reception.status.nil? || @reception.status == "INPROGRESS" %>
                <%= f.submit "Save and send Mail", :class=> 'btn btn-default pull-right',:name => "send_mail",:style=>"margin-left:10px" %>
              <% end %>
              <%= f.submit "Save" , :class=> 'btn btn-default pull-right' %>
            </div>
          </div>
          <% if params[:parent_link_id] %>
            <div class="row">
              <div class="col-md-3">
                <span class="label label-default">Parent reception id <%= params[:parent_link_id].to_s %></span>
                <%= hidden_field_tag :parent_link_id, params[:parent_link_id] %>
              </div>
            </div>
          <% else %>
            <% if controller.action_name != "new" %>
                <div class="row">
                      <div class="col-md-1">
                        <strong>Related&nbsp;ID</strong>
                      </div>
                      <div class="col-md-3">
                        <div class="input-group">
                          <%= text_field_tag :parent_id ,'',
                            :onkeydown => 'if (event.keyCode == 13) {add_parent(document.getElementById("parent_id").value)}',:class => 'form-control' %>
                          <span class="input-group-btn">
                            <button class="btn btn-small btn-info" id="addRelation" type="button">Add relation</button>
                          </span>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <strong>Type:</strong>
                          <% [ 'Related', 'Replacement', 'Child' ].each do |rel_type| %>
                          <%= radio_button_tag 'rel_type', rel_type, rel_type == "Related" %>
                          <%= rel_type %>
                        <% end %>
                      </div>
                      <div class="col-md-2">
                        <button class="btn btn-small" id="selectReception" type="button">Select reception</button>
                      </div>
       

                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div id="parents"><%= render :partial => 'show_parent_receptions', :object => @parents %></div>
                  </div>
                </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>



<script type="text/javascript">
   $("#reception_references").select2({
     tags:[<%= raw @reception.references.to_s.split(',').collect{|r|"'#{r}'"}.join(',') %>],
     placeholder:"Reference IDs from supplier"
   });

  $("#free_tags").select2({
    tags:<%= raw(free_tags) %>,maximumInputLength:10
  });
  $('#reception_reception_date').datepicker({
    todayBtn: "linked",
    clearBtn: true,
    calendarWeeks: true,
    todayHighlight: true,
    format: 'dd-mm-yyyy'});
  $("#reception_purpose").select2();
  $("#reception_data_medium_id").select2();
  $("#reception_datasource_id").select2();
  $("#reception_data_release_id").select2();
  $("#reception_area_id").select2();
  $("#reception_data_type_id").select2();

  $("#reception_datasource_id").change(function() {
    var selected = $('select#reception_datasource_id :selected').val();
      if(selected == "") selected="0";
      jQuery.get('<%=h url_for(:controller => 'receptions',:action => 'get_datareleases') %>'+'?sid=' + selected, function(data){
        $("#datarelease_div").html(data);
      })
      return false;
  });
 
  function add_parent(id)
  {
    var rel_type = get_radio_value();

    $.ajax({url: '<%= url_for :action => :add_parent, :id => @reception.id.to_s, :remote => true %>',
      data: 'parent_id=' + id + '&rel_type='+escape(rel_type),
      success: function(data){
        $('#parents').html(data);
      }})
  }

  function delete_parent(id)
  {
    $.ajax({url: '<%= url_for :action => :delete_parent, :id => @reception.id.to_s, :remote => true %>',
      data: 'parent_id=' + id,
      success: function(data){
        $('#parents').html(data);
      }})
  }

  function get_radio_value()
  {

    var rad_val = "NONE";
    for (var i=0; i < document.forms[0].rel_type.length; i++)
    {
      if (document.forms[0].rel_type[i].checked)
      {

   
        rad_val = document.forms[0].rel_type[i].value;
       
      }
    }
  
    return rad_val;
  }


  function select_parent()
  {
    var rad_val = get_radio_value();
    var url = "<%=  url_for  :action => 'index', :link_id => params[:id],:return_action => controller.action_name %>&rel_type=" + rad_val;
    window.location.href = url;
  
  }

  removed();

  $('#cp_remark').click(function(){
    $('#reception_remarks').val($('#request_remarks').text());
    $('#reception_remarks').focus();
  });

  function renderFilling(data_type_val){
    $.post('<%= url_for(:action => 'filling_for_data_type',:id=>@reception.id,:controller => 'receptions') %>',{data_type_val:data_type_val,pre_filling_id:'<%= @reception.filling_id %>'});
    $("select.validate").attr('style','display:block')
  }

  $("#reception_data_type_id").change(function(){
    var data_type_val = $(this).val();
    renderFilling(data_type_val);
    $("select.validate").attr('style','display:block')
  });

  renderFilling("<%= @reception.data_type_id %>")

  $("#addRelation").click(function(){
    add_parent($("#parent_id").val());
  });
  $("#selectReception").click(function(){
    select_parent();
  });
</script>
