<%= form_tag({:action => 'update_removal'},{:id => 'update_removal'}) %>
<table class="span10 table-bordered table-condensed table-striped table">

  <th>Reception ID</th>
  <th>Type</th>
  <th>Supplier</th>
  <th>Release</th>
  <th>&nbsp;Area</th>
  <th>&nbsp;Purpose</th>
  <th>Remove</th>
<% @receptions.each do |r|%>
  <tr>    

    <td><%= r.id %></td>
    <td>&nbsp;<%= r.data_type.name %></td>
    <td>&nbsp;<%= DataRelease.find(r.data_release_id).company_abbr.name %>&nbsp;</td>
    <td>&nbsp;<%= DataRelease.find(r.data_release_id).name %>&nbsp;</td>
    <td>&nbsp;<%= r.region_name %>&nbsp;</td>
    <td>&nbsp;<%= r.purpose %>&nbsp;</td>
    <td align="center"><%= check_box_tag "[rm][#{r.id}]" %></td>
    
  </tr>
    
<% end %>
    <tr><td colspan="5"><%= submit_tag "Start Removal",:class => 'btn btn-danger' %></td>
      <td align="right"><i>select all:</i></td>
      <td align="center"><%= check_box_tag('check_all', 'check_all', false)%></td>
</tr>
</table>


<script type="text/javascript" charset="utf-8">
  $('#check_all').click(function(){
    var status = this.checked;
    $("[id^=_rm]").prop('checked', status);
  })
</script>