<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-5"><h4><%= params[:action].humanize %> reception <%= @reception.id %></h4></div>
          <div class="col-md-7"><span class="label label-primary pull-right"><%=  @reception.status %></span></div>
        </div>
      </div>
      <div class="panel-body">
        <%= form_for(@reception) do |f| %>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <%= f.label :references %>
                <%= f.text_field :references, :class => 'form-control' %>
              </div>
            </div>
            <div class="col-md-1">
              <div class="form-group">
                <%= f.label :dataversion %>
                <%= f.number_field :dataversion,:class => 'form-control' %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <%= f.label :priority %><br />
                <%= label_tag :priority_test, "Low",:class => "radio-inline" do %>
                  <%=  f.radio_button(:priority, "Low") %> Low
                <% end %>
                <%= label_tag :priority_production, "Medium" ,:class => "radio-inline" do %>
                  <%=  f.radio_button :priority, "Medium" %> Medium
                <% end %>
                <%= label_tag :priority_test, "High",:class => "radio-inline" do %>
                  <%=  f.radio_button(:priority, "High") %> High
                <% end %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Usability</label><br />
                <%= label_tag :purpose_production, "Production data" ,:class => "radio-inline" do %>
                  <%=  f.radio_button(:purpose, "production") %> Production Data
                <% end %>
                <%= label_tag :purpose_test, "Sample data",:class => "radio-inline" do %>
                  <%=  f.radio_button(:purpose, "test") %> Sample data
                <% end %>
              </div>
            </div>
            <div class="col-md-1">
              <div class="form-group">
                <label>Persistent</label><br />
                <%= f.check_box :persistent_yn %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <label>Supplier</label>
                <% if @reception.data_release %>
                  <%= select_tag "reception_datasource_id", options_for_select((CompanyAbbr.select_tag << [ @reception.data_release.company_abbr.company_name,@reception.data_release.company_abbr.id]).uniq, @reception.data_release.company_abbr.id.to_s), {:include_blank => true,:class => 'form-control'}%>
                <% else %>
                  <%= select_tag "reception_datasource_id", options_for_select(CompanyAbbr.select_tag), {:include_blank => true,:class => 'form-control',:data => {:placeholder => 'Choose supplier'}}%>
                <% end %>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>Data release</label>
                <div id="datarelease_div">
                  <% if @reception.data_release %>
                    <% releases = DataRelease.where("(id = #{@reception.data_release.id}) or (production = 1 and company_abbr_id = '#{@reception.data_release.company_abbr_id.to_s}' and data_releases.name is not null)").order('data_releases.updated_at desc').uniq %>
                    <%= f.select :data_release_id,releases.collect {|c| [ c.name.to_s  , c.id ] },{}, {:include_blank => true ,:class => 'form-control'}%>
                  <% else %>
                    <%= f.select :data_release_id, [],{},{:class => 'form-control'} %>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Coverage</label>
                <%= f.select :area_id,Region.active.collect {|c| [ c.name, c.id ] },{ :include_blank => true},{:class => 'form-control',:data => {:placeholder => 'Choose Area'} } %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <%= f.label :data_type_id %>
                <%= f.select :data_type_id, DataType.where('isactive = 1').order('name').collect {|c| [ c.name.to_s + " - " + c.description.to_s, c.id.to_s] },{ :include_blank => true},{:class => 'form-control',:data => {:placeholder => 'Choose type of data'}}%>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group"  id="fillingSelect">
                <%= f.label :filling %>
                <%= f.number_field :dataversion,:class => 'form-control' %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                      <%= f.label :request_remarks %>
                      <%= f.text_area :request_remarks, :rows => 2 , :class=>'form-control' %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                      <%= f.label :source_location %>
                      <%= f.text_area :source_location, :rows => 4 , :class=>'form-control' %>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <label>Relation(s)</label>
              <div class="panel panel-default">
                <div class="panel-body" style="min-height:210px">
                  <%= render 'relate_receptions_form' %>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <%= f.submit "Save" , :class=> 'btn btn-primary pull-right' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $("#reception_datasource_id").select2();
  $("#reception_data_release_id").select2();
  $("#reception_area_id").select2();
  $("#reception_data_type_id").select2();

  $("#reception_datasource_id").change(function() {
    var selected = $('select#reception_datasource_id :selected').val();
      if(selected == "") selected="0";
      jQuery.get('<%=h url_for(:controller => 'receptions',:action => 'get_datareleases') %>'+'?sid=' + selected, function(data){
        $("#datarelease_div").html(data);
      })
      return false;
  });

  function renderFilling(data_type_val){
    $.post('<%= url_for(:action => 'filling_for_data_type',:id=>@reception.id,:controller => 'receptions') %>',{data_type_val:data_type_val,pre_filling_id:'<%= @reception.filling_id %>'});
    $("select.validate").attr('style','display:block')
  }

  $("#reception_data_type_id").change(function(){
    var data_type_val = $(this).val();
    renderFilling(data_type_val);
    $("select.validate").attr('style','display:block')
  });

  renderFilling("<%= @reception.data_type_id %>")

  $("#reception_references").select2({
     tags:[<%= raw @reception.references.to_s.split(',').collect{|r|"'#{r}'"}.join(',') %>],
     placeholder:"Reference IDs from supplier"
   });
</script>