<tr class="<%=h reception.can_be_removed_yn && !reception.removed_yn ? "warning" : reception.removed_yn ? "danger" : '' %>">
  <% if params[:link_id].blank? %>
    <td>
      <div class="btn-group">
        <button type="button" class="btn <%=h reception.sendto.nil? ? 'btn-warning' : 'btn-default' %> btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Action <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="action-<%= reception.id %>">
          <li>
            <%= link_to({:controller => :receptions,:action => 'show',:id => reception.id}) do %>
              <i class="glyphicon glyphicon-info-sign"></i>&nbsp;show
            <% end %>
          </li>
          <% if env_production? %>
            <li>
              <%= link_to({:controller => :receptions,:action => 'edit',:id => reception.id}) do %>
                <i class="glyphicon glyphicon-edit"></i>&nbsp;edit
              <% end %>
            </li>
            <% if reception.mark_for_removal_allowed? %>
              <li>
                <%= link_to({:controller => :receptions,:action => 'can_be_removed',:id => reception.id}) do %>
                  <i class="glyphicon glyphicon-trash"></i>&nbsp;mark for removal
                <% end %>
              </li>
            <% end %>
            <% if reception.removal_allowed? %>
              <li>
                <%= link_to({:controller => :receptions,:action => 'mark_as_removed',:id => reception.id}) do %>
                  <i class="glyphicon glyphicon-trash" style=></i>&nbsp;mark as removed
                <% end %>
              </li>
            <% end %>
            <li>
              <% if reception.sendto.nil? %>
                <%= link_to({:controller => :receptions,:action => 'mail',:id => reception.id}) do %>
                  <i class="glyphicon glyphicon-envelope"></i>&nbsp;send notification
                <% end %>
              <% elsif reception.mark_for_removal_allowed? %>
                <%= link_to({:controller => :receptions,:action => 'mail',:id => reception.id,:rs =>1}) do %>
                  <i class="glyphicon glyphicon-envelope"></i>&nbsp;re-send notification
                <% end %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </td>
  <% else %>
  <td>
    <%= link_to 'Select', {:controller => :receptions, :action => :add_parent, :id =>  params[:link_id], :relate => '1',:full => '1', :parent_id => reception.id,:rel_type => params[:rel_type],:return_action => params[:return_action]},{:class => 'btn btn-small btn-info'} %>
  </td>
  <% end %>
  <td>
    <%= link_to reception.id, reception %>
    <% if reception.persistent_yn %>
      &nbsp;<i class="icon glyphicon glyphicon-lock" title="reception is persistent"></i>
    <% end %>
  </td>
  <td><%= reception.purpose %></td>
  <td><%= reception.data_type.name  if reception.data_type %></td>
  <td><%= reception.region.name if reception.region %>&nbsp;</td>
  <td><%= reception.data_release.company_abbr.company_name if reception.data_release %>&nbsp;</td>
  <td><%= reception.data_release.name if reception.data_release %>&nbsp;</td>
  <td><%= reception.status %>&nbsp;</td>
  <td><%= reception.updated_at.strftime("%Y-%m-%d")  %></td>
</tr>
