<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <%= text_field_tag 'related_reception' ,'',:class => 'form-control' %>
    </div>
  </div>
  <div class="col-md-12">
    <button class="btn btn-small disabled" type="button" id="btnrcptrelChild">as child</button>
    <button class="btn btn-small disabled" type="button" id="btnrcptrelReplacement">as replacement</button>
    <button class="btn btn-small disabled" type="button" id="btnrcptrelRelated">as generic</button>
  </div>
</div><br />

<% if @reception.id %>
  <% @reception.parents.each do |rel| %>
  <div class='row' id='relRow<%= rel.parent_reception_id %>'>
    <div class='col-md-2'><button class='btn btn-default btn-xs' type='button' id='relBtn<%= rel.parent_reception_id %>'><span class='glyphicon glyphicon-remove'></span></button></div>
    <div class='col-md-2 text-label'><%= rel.parent_reception_id %></div>
    <div class='col-md-3'><%= rel.type %></div>
    <input type='hidden' value='<%= rel.type %>' name='relations[<%= rel.parent_reception_id %>]'></input>
  </div>
  <% end %>
<% end %>

<div id="pickedRelations">
  <!--Dynamically rendered-->
</div>

<script type="text/javascript">
  function selectListItems(obj) {
    if ( obj.region.country_iso3_code != null) {var countrylabel = obj.region.country_iso3_code}
    else {var countrylabel = obj.region.area_code }
    var cd = '</div>';
    var markup = '<div class="row">';
      markup += '<div class="col-md-2 text-label"><small>' +  obj['id']+ '</small>' + cd;
      markup += '<div class="col-md-2"><small>' + obj.data_type.name+ '</small>'  + cd;
      markup += '<div class="col-md-3"><small>' + obj.data_release.company_abbr.company_name+ '</small>' + cd;
      markup += '<div class="col-md-1"><small>' + countrylabel+ '</small>' + cd;
      markup += '<div class="col-md-1"><small>' + obj.data_release.name + '</small>' + cd;
    markup += cd;
    return markup;
  }

  function selectedValue(obj) {
    return (obj.id);
  }

  function RelatedReceptionSelect(){
    $("#related_reception").select2({
      placeholder: 'Find related reception',
      allowClear: true,
      minimumInputLength: 3,
      ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
        url: "<%= escape_javascript(url_for(:action => 'receptions_for_select')) %>.json",
        dataType: 'json',
        quietMillis: 100,
        data: function (term, page) {

          return {
            q: term, // search term
            page_limit: 50,
            page: page
          };
        },
        results: function (data, page) {
          var more = (page * 50) < data.total;
          //// parse the results into the format expected by Select2.
          // since we are using custom formatting functions we do not need to alter remote JSON data
          //return {results: function(data, page) { return data; } };
          return {results: data, more: more};
        }
      },
      formatResult: selectListItems,
      formatSelection: selectedValue,
      dropdownCssClass: "bigdrop"
    });
  }

  $("#related_reception").change(function(){
    if($(this).val() != ''){
      $("[id^=btnrcptrel]").removeClass('disabled');
    }
  });

  $(function() {
    $('body').on("click","[id^=btnrcptrel]",function(){
      var this_element_id = $(this).attr('id');
      if( $("#related_reception").val() != ''){
        var related_reception_id = $("#related_reception").val();
        var relation_type = this_element_id.replace('btnrcptrel','');
        var newHtml = "<div class='row' id='relRow"+related_reception_id+"'>\n\
                     <div class='col-md-2'><button class='btn btn-default btn-xs' type='button' id='relBtn"+related_reception_id+"'><span class='glyphicon glyphicon-remove'></span></button></div>\n\
                     <div class='col-md-2'><strong>"+related_reception_id+"</strong></div>\n\
                     <div class='col-md3'>"+relation_type+"</div>\n\
                     <input type='hidden' value='"+relation_type+"' name='relations["+related_reception_id+"]'></input></div>"
        $("#pickedRelations").append( newHtml );
        $("#related_reception").val('');
        RelatedReceptionSelect();
        $("[id^=btnrcptrel]").addClass('disabled');
      }
    });
    $('body').on('click',"[id^=relBtn]",function(){
      var this_element_id = $(this).attr('id');
      var related_reception_id = this_element_id.replace('relBtn','');
      $("#relRow"+related_reception_id).remove();
    });

  });
  
  RelatedReceptionSelect();
</script>
