<tr class="<%=h request.status == 'REJECTED' ? "danger" : '' %>">
  <td>
    <div class="btn-group">
      <button type="button" class="btn <%=h request.sendto.nil? ? 'btn-warning' : 'btn-default' %> btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Action <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="action-<%= request.id %>">
         <li>
            <%= link_to(:controller => :receptions,:action => 'show_request',:id => request.id) do %>
            <span class="glyphicon glyphicon-info-sign"></span>&nbsp;show
            <% end %>
          </li>
          <li>
          <% if request.status == 'REQUESTED' %>
            <%= link_to(:controller => :receptions,:action => 'edit_request',:id => request.id) do %>
              <span class="glyphicon glyphicon-edit"></span>&nbsp;edit
            <% end %>
          <% end %>
          </li>
          <% if request.status != 'REJECTED' && request.status != 'INPROGRES' %>
          <li>
            <%= link_to(:controller => :receptions,:action => 'reject_request',:id => request.id) do %>
              <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;reject
            <% end %>
          </li>
          <% end %>
          <% if request.status != 'REJECTED' || request.status == 'INPROGRES' %>
          <li>
            <%= link_to(:controller => :receptions,:action => 'edit',:id => request.id, :request => 1) do %>
              <span class="glyphicon glyphicon-share-alt"></span>&nbsp;perform/update reception
            <% end %>
          </li>
          <% end %>
      </ul>
    </div>
  </td>

  <td>
    <%= link_to request.id, request %>
    <% if request.persistent_yn %>
      &nbsp;<i class="icon glyphicon glyphicon-lock" title="reception is persistent"></i>
    <% end %>
  </td>
  <td><%= request.purpose %></td>
  <td><%= request.data_type.name  if request.data_type %></td>
  <td><%= request.region.name if request.region %>&nbsp;</td>
  <td><%= request.data_release.company_abbr.company_name if request.data_release %>&nbsp;</td>
  <td><%= request.data_release.name if request.data_release %>&nbsp;</td>
  <td><%= request.status %>&nbsp;</td>
  <td><%= request.updated_at.strftime("%Y-%m-%d")  %></td>
</tr>
