<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-5"><h4><span class="badge"><%= @reception.id %></span> <%= params[:action].humanize %> reception <%= @reception.core_tags.join(' ').downcase %></h4></div>
          <div class="col-md-7"><span class="label label-primary pull-right"><%= @reception.status %></span></div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6 show-label">References</div>
          <div class="col-md-2 show-label">Persistent yn</div>
          <div class="col-md-2 show-label">Removal candidate</div>
          <div class="col-md-2 show-label">Removed</div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <%= @reception.references %>
          </div>
          <div class="col-md-2">
            <%= bootstrap_boolean(@reception.persistent_yn) %>
          </div>
          <div class="col-md-2">
            <%= bootstrap_boolean(@reception.can_be_removed_yn) %>
          </div>
          <div class="col-md-2">
            <%= bootstrap_boolean(@reception.removed_yn) %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 show-label">Reception date</div>
          <div class="col-md-2 show-label">Usability</div>
          <div class="col-md-2 show-label">Medium</div>
          <div class="col-md-2 show-label">Dataversion</div>
          <div class="col-md-4 show-label">Additional tag(s)</div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <%= @reception.reception_date.strftime('%d-%m-%Y') if @reception.reception_date %>
          </div>
          <div class="col-md-2">
            <%= @reception.purpose %>
          </div>
          <div class="col-md-2">
            <%= @reception.data_medium.name if @reception.data_medium %>
          </div>
          <div class="col-md-2">
            <%= @reception.dataversion %>
          </div>
          <div class="col-md-4">
            <% @reception.tags.collect {|t|t.name}.each do |tag| %>
            <small><span class="label label-default"><%=h tag %></span></small>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 show-label">Supplier</div>
          <div class="col-md-2 show-label">Data release</div>
          <div class="col-md-2 show-label">Coverage</div>
          <div class="col-md-2 show-label">Data type</div>
          <div class="col-md-2 show-label">Filling</div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <%= @reception.data_release.company_abbr.company_name %>
          </div>
          <div class="col-md-2">
            <%= @reception.data_release.name %>
          </div>
          <div class="col-md-2">
            <%= @reception.region.name %>
          </div>
          <div class="col-md-2">
            <%= @reception.data_type.name %>
          </div>
          <div class="col-md-2">
            <%= @reception.filling ? @reception.filling.name : 'n.a.' %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 show-label">
            <strong>Remarks</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <pre class="text-pre"><%= @reception.remarks %></pre>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 show-label">Storage&nbsp;location<br />
            <button class="btn btn-default btn-xs" id="storageLocationBtn" title="select text storage location"><span class="glyphicon glyphicon-screenshot"></span></button>
            <button class="btn btn-default btn-xs" id="browse" title="browse storage location directory"><span class="glyphicon glyphicon-folder-open"></span></button></div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <pre id="storageLocation"><%= @reception.storage_location %></pre>
          </div>
        </div>
        <% if params[:parent_link_id] %>
          <div class="row">
            <div class="col-md-3">
              <span class="label label-default">Parent reception id <%= params[:parent_link_id].to_s %></span>
            </div>
          </div>
        <% else %>
          <% if controller.action_name != "new" %>
            <div class="row">
              <div class="col-md-12">
                <div id="parents"><%= render :partial => 'show_parent_receptions', :object => @parents %></div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Related datasets</h3>
      </div>
      <div class="panel-body">
        <% @reception.related_datasets.each do |data_set| %>
          <div class="row">
            <div class="col-md-1">
              <%= link_to data_set.id, data_set, target: "_blank" %>
            </div>
            <div class="col-md-4">
              <%= data_set.name %>
            </div>
            <div class="col-md-4">
              <%= data_set.label(true) %>
            </div>
             <div class="col-md-2 pull-right">
               <small><span class="label label-info"><%= data_set.status_string %></span></small>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="file_tree_modal">
  <!-- will be rendered on request --->
</div>

<script type="text/javascript">
  $('#storageLocationBtn').click(function(){
    selectText('storageLocation');
  });

<% if @reception.removed_yn %>
    $("#storageLocation").wrap("<del></del>");
    $("#browse").addClass("disabled");
<% end %>

  $("#browse").click(function(){
    $.get('<%= url_for(:action => :render_file_tree,:id => @reception.id) %>', function( data ) {
      $("#file_tree_modal").html(data);
      $('#myModalFileTree').modal("show");
    })});
</script>