<br />
<% rpt = 'Related..' %>
<% rid = '' %>
<% if controller.action_name != 'new_request' &&  controller.action_name != 'create_request'  && controller.action_name != 'new' && controller.action_name !='create' %>
  <% @reception.parents.each do |parent| %>
    <% if parent.parent_reception_id == params[:id] %>
      <% rid = parent.reception_id.to_s %>
      <% if parent.type.to_s == 'Related' %>
        <% rpt = "Has a releation to "%>
      <% elsif parent.type.to_s == 'Child' %>
        <% rpt = "Parent of "%>
      <% elsif parent.type.to_s == 'Parent' %>
        <% rpt = "Child of "%>
      <% elsif parent.type.to_s == 'Replacement' %>
        <% rpt = "Replaced by "%>
      <% else %>
        <% rpt = parent.type.to_s.downcase + " to " %>
      <% end %>

    <% else %>
      <% rid = parent.parent_reception_id.to_s %>
      <% if parent.type.to_s == 'Related' %>
        <% rpt = "Is related to " %>
      <% elsif parent.type.to_s == 'Child' %>
        <% rpt = "Is " + parent.type.to_s.downcase + " of " %>
      <% elsif parent.type.to_s == 'Parent' %>
        <% rpt = "Parent of "%>
      <% elsif parent.type.to_s == 'Replacement' %>
        <% rpt = "Replacement of "%>
      <% else %>
        <% rpt = parent.type.to_s.downcase + " of " %>
      <% end %>
    <% end %>

    <div class="row">
      <span style="color:red"><%= @message %></span>
        <div class="col-md-2"><%=  rpt %></div>
        <div class="col-md-1"><%=  link_to rid, {:action => 'show', :id => rid, :controller => 'receptions'},:target => "_blank" %></div>
        <div class="col-md-1"><%=  parent.parent_reception.data_type.name.to_s %></div>
        <div class="col-md-2"><%=  parent.parent_reception.data_release.company_abbr.name.to_s if parent.parent_reception.data_release %></div>
        <div class="col-md-1"><%=  parent.parent_reception.data_release.name.to_s if parent.parent_reception.data_release %></div>
        <div class="col-md-1"><%=  parent.parent_reception.region_name.to_s %></div>
        <div class="col-md-1">
          <% if params[:action] == "edit" || params[:action] == "edit_request" || controller.action_name == "add_parent" %>
            <a href="#" id="deleteParent-<%= parent.parent_reception_id %>">Delete</a>
          <% end %>
        </div>
      </div>
  <% end  %>
<% end %>

<script type="text/javascript">
  $("[id^=deleteParent-]").click(function(){
    var recid = $(this).attr("id").replace ( /[^\d.]/g, '' );
    delete_parent(recid);
  })
</script>