<div class="row">
  <div class="col-md-6">
    <% if @reception.errors.any? %>
      <div id="error_explanation">
        <h4><%= pluralize(@reception.errors.count, "error") %> prohibited this filling from being saved:</h4>
        <ul>
          <% @reception.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
<%= form_for(@reception, :url => {:action => 'update_request', :id => params[:id]},:method => :put) do |f| %>
  <%= render :partial => 'formfields_request' ,:object => f %>
<% end %>

<div class="row">
  <div class="col-md-12">
    <%= link_to({:action => :show_request,:id => @reception.id},{:class =>'btn btn-default',:title => "show request"}) do %>
      <span class="glyphicon glyphicon-eye-open"></span>
    <% end %>
    <%= link_to(:back,:class =>'btn btn-default',:title => "back") do %>
      <span class="glyphicon glyphicon-arrow-left"></span>
    <% end %>
    <%= link_to({:action => 'requests'},{:class =>'btn btn-default',:title => "request overview"}) do %>
      <span class="glyphicon glyphicon-arrow-up"></span>
    <% end %>
  </div>
</div>

  