<script type="text/javascript">
  function copy_remarks() {
    var $x = "<%=j @reception.request_remarks %>";
    var $y = document.getElementById('reception_remarks');
    $y.value = $y.value + '\n' + $x
  }
</script>

<div class="row">
  <div class="col-md-6">
    <% if @reception.errors.any? %>
      <div id="error_explanation">
        <h4><%= pluralize(@reception.errors.count, "error") %> prohibited this filling from being saved:</h4>
        <ul>
          <% @reception.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>

<%= render :partial => "formfields"%>

<div class="row">
  <div class="col-md-6">
    <%= link_to(:back,:class=>"btn btn-default",:title=>"Back") do %>
      <span class="glyphicon glyphicon-arrow-left"></span>
    <% end %>
    <%= link_to(receptions_path,:class=>"btn btn-default",:title=>"Overview") do %>
      <span class="glyphicon glyphicon-arrow-up"></span>
    <% end %>
    <%= link_to(@reception,:class=>"btn btn-default",:title=>"Show") do %>
      <span class="glyphicon glyphicon-eye-open"></span>
    <% end %>
  </div>
</div>





