<% if @datatype_fillings.empty? %>
$("#fillingSelect").html('<label>Filling</label><input class="form-control" type="text" placeholder="N.A." readonly>');
<% else %>
  $("#fillingSelect").html('<label>Filling</label><%= escape_javascript(render :partial => 'filling_select', :object =>  [@datatype_fillings,@reception,@pre_selected_filling_id]) %>');
  $("#reception_filling_id").select2({allowClear:true});
  //$("select.validate").attr('style','display:block');
<% end %>
