<div class="row">
  <div class="span12"><h4>Reception data removal </h4></div>
</div>
<% if @receptions.size == 0 %>
<div class="row">
    <div class="alert alert-error span7">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>There are no receptions marked as "removal candidate".</strong> Please mark specific receptions first.
    </div>
</div>
<% else %>
  <%= render :partial => "formfields_to_be_removed" %>
<% end %>

<div class="row">
  <div class="span12">
    <%= link_to(receptions_path) do %>
      <i class="icon-arrow-left">&nbsp;</i>Back
    <% end %>
  </div>
</div>