<div class="row">
  <div class="col-md-6">
    <% if @reception.errors.any? %>
      <div id="error_explanation">
        <h4><%= pluralize(@reception.errors.count, "error") %> prohibited this filling from being saved:</h4>
        <ul>
          <% @reception.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
<%= render :partial => 'formfields' %>

<div class="row">
  <div class="span12">
    <%= link_to(:back,:class=>"btn",:title=>"Back") do %>
      <i class="icon-arrow-left"></i>
    <% end %>&nbsp;
    <%= link_to(receptions_path,:class=>"btn",:title=>"Overview") do %>
      <i class="icon-arrow-up"></i>
    <% end %>&nbsp;
  </div>
</div>