<div class="row">
  <div class="col-md-6">
    <% if @reception.errors.any? %>
      <div id="error_explanation">
        <h4><%= pluralize(@reception.errors.count, "error") %> prohibited this filling from being saved:</h4>
        <ul>
          <% @reception.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
<%= form_for(@reception, :url => {:action => :create_request}) do |f| %>
  <%= render :partial => 'formfields_request' ,:object => f %>
<% end %>

<div class="row">
  <div class="col-md-12">
    <%= link_to(:back,:class=>"btn btn-default",:title=>"Back") do %>
      <span class="glyphicon glyphicon-arrow-left"></span>
    <% end %>&nbsp;
    <%= link_to(requests_receptions_path,:class=>"btn btn-default",:title=>"Overview") do %>
      <span class="glyphicon glyphicon-arrow-up"></span>
    <% end %>&nbsp;
  </div>
</div>

