
<p><h1>Reject Reception Request</h1></p>
<br/>

<table class="noborder">
  <tr>
    <td>Status</td>
    <td><%=  @reception.status.to_s %></td>
  </tr>
  <tr>
    <td>Reception Id</td>
    <td><%=  @reception.id.to_s %></td>
  </tr>
  <tr>
    <td>Reference</td>
    <td><%=  @reception.referenceid %></td>
  </tr>
  <tr>
    <tr>
    <td>Requested by</td>
    <td><%=  @reception.requested_by.to_s %></td>
  </tr>


  
    <tr>
      <td>Priority</td>
      <td><%=  @reception.priority %></td>
    </tr>
    <tr>
      <td>Usability</td>
      <td><%=  @reception.formatted_purpose %></td>
    </tr>
    <tr>
      <td>Medium</td>
      <td><%=  @reception.data_medium.name %></td>
    </tr>
    <tr>
      <td>Source location</td>
      <td><%=  @reception.source_location %></td>
    </tr>
    <tr>
      <td>Data Type</td>
      <td><%=  @reception.data_type.name %></td>
    </tr>
    <tr>
      <td>CVTool</td>
      <td><%=  @reception.conversiontool if @reception.conversiontool %></td>
    </tr>
    <% if @reception.data_release %>
    <tr>
      <td>Supplier</td>
      <td><%=  @reception.data_release.company_abbr.ms_abbr_3.to_s %> <%=  @reception.data_release.company_abbr.name %></td>
    </tr>

    <tr>
      <td>Data Release</td>
      <td><%=  @reception.data_release.name %></td>
    </tr>
    <% end %>    
    <tr>
      <td>Data Version</td>
      <td><%=  @reception.dataversion %></td>
    </tr>
  </tr>
  <tr>
    <td>Area</td>
    <td><%=  @reception.region.name %></td>
  </tr>
  <tr>
    <td>Reception Remarks</td>
    <td style="white-space:normal"><pre><%=  @reception.request_remarks %></pre></td>
  </tr>
  
  <tr>
    <td>Data Intake requested</td>
    <td><%= @reception.formatted_data_intake_requested.to_s %></td>
  </tr>
  
  <tr>
    <td>Data Validation requested</td>
    <td><%= @reception.formatted_validation_requested.to_s %></td>
  </tr>
  

</table>
<br/>
<p><b>Rejection Remark:</b></p>
<%= form_for(@reception, :url => {:action => :reject, :id => params[:id]}) do |f| %>
<%= f.text_area :rejection_remark, :rows => 6, :columns => 15 %>
  <p>
    <%= f.submit "Send" %>
  </p>
<% end %>




<%= link_to 'Back', :action => 'requests' %>
