<%= render :partial => 'shared/search_bar', :object => @search_opts %>

<div id="index" class="table-responsive">
  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th class="id"><%= column_sort "receptions.id", 'ID',true %></th>
        <th><%= column_sort "purpose", 'Usability',true, [['Production Data',"production"],['Sample Data',"test"]] %></th>
        <th><%= column_sort "receptions.data_type_id", 'Data type',true,DataType.select_tag %></th>
        <th><%= column_sort "regions.name",'Region',true, Reception.select("distinct area_id").all.collect{|c| [c.region.name] if c.region}.flatten.uniq.compact.sort %></th>
        <th><%= column_sort "company_abbrs.company_name", 'Supplier',true, CompanyAbbr.find_all_for_module('MIS').collect{|c|[c.company_name]}.compact %></th>
        <th><%= column_sort "data_releases.name",'Release',true, Reception.connection.execute("select distinct name from receptions, data_releases where status = 'COMPLETED' and data_releases.id = receptions.data_release_id ").collect{|x|x[0].to_s}.uniq.sort.reverse %></th>
        <th><%= column_sort "receptions.status", 'Status',true,Reception.status_array %></th>
        <th><%= column_sort "receptions.updated_at", 'Last change' %></th>
      </tr>
    </thead>
    <tbody id="endless">
      <% if @favorites %>
        <% @favorites.each do |reception| %>
          <tr>
            <td><%= link_to "",{:controller => :receptions,:action => 'show',:id => reception.id},{:class => 'icon-star',:title => 'show favorite'} %></td>
            <td><%= reception.id %></td>
            <td><%= reception.purpose %></td>
            <td><%= reception.data_type.name %></td>
            <td><%= reception.region_name %></td>
            <td><%= reception.data_release.company_abbr.company_name if reception.data_release %></td>
            <td><%= reception.data_release.name if reception.data_release %></td>
            <td><%= reception.status %></td>
            <td><%= reception.reception_date %></td>
          </tr>
        <% end %>
      <% end %>
      <%= render(:partial => "request", :collection => @receptions) %>
    </tbody>
  </table>
</div>

<%= will_paginate(@receptions) %>
<%= pageless(@receptions.total_pages, url_for(receptions_path(:params => params)), "#endless") %>

<script type="text/javascript">
  $("#column_select_field_purpose").select2({allowClear:true});
  $("#column_select_field_receptions-data_type_id").select2({allowClear:true});
  $("#column_select_field_regions-name").select2({allowClear:true});
  $("#column_select_field_company_abbrs-company_name").select2({allowClear:true});
  $("#column_select_field_data_releases-name").select2({allowClear:true});
  $("#column_select_field_receptions-status").select2({allowClear:true});
</script>