<%= render "show_data" %>

<div class="row">
  <div class="col-md-12">
    <%= link_to :back,{:class => 'btn btn-default',:title => 'back'} do %>
      <span class="glyphicon glyphicon-arrow-left"></span>
    <% end %>
    <%= link_to receptions_path,{:class => 'btn btn-default',:title => 'overview'} do %>
      <span class="glyphicon glyphicon-arrow-up"></span>
    <% end %>
    <%= link_to({:action => 'show_request', :id => @reception.id},{:class => 'btn btn-default',:title => 'show reception-request details'}) do %>
      <span class="glyphicon glyphicon-question-sign"></span>
    <% end %>
    <%= next_prev_button("prev") %>
    <%= next_prev_button("next") %> <br /><br />
  </div>
</div>