<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-5"><h4><%= params[:action].humanize %> reception <%= @reception.id %></h4></div>
          <div class="col-md-7"><span class="label label-primary pull-right"><%= @reception.status %></span></div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-2 show-label">Requested by</div>
          <div class="col-md-10 show-label">Directory name advice</div>
        </div>
        <div class="row">
          <div class="col-md-2"><%= @reception.requested_by.to_s.blank? ? 'n.a.' : @reception.requested_by.to_s %></div>
          <div class="col-md-10"><pre><%= @dir_advice %></pre></div>
        </div>
        <div class="row">
          <div class="col-md-6 show-label">References</div>
          <div class="col-md-2 show-label">Persistent yn</div>
          <div class="col-md-2 show-label">Removal candidate</div>
          <div class="col-md-2 show-label">Removed</div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <%= @reception.references %>
          </div>
          <div class="col-md-2">
            <%= bootstrap_boolean(@reception.persistent_yn) %>
          </div>
          <div class="col-md-2">
            <%= bootstrap_boolean(@reception.can_be_removed_yn) %>
          </div>
          <div class="col-md-2">
            <%= bootstrap_boolean(@reception.removed_yn) %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 show-label">Reception date</div>
          <div class="col-md-2 show-label">Usability</div>
          <div class="col-md-2 show-label">Medium</div>
          <div class="col-md-2 show-label">Dataversion</div>
          <div class="col-md-4 show-label">Additional tag(s)</div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <%= @reception.reception_date.strftime('%d-%m-%Y') if @reception.reception_date %>
          </div>
          <div class="col-md-2">
            <%= @reception.purpose %>
          </div>
          <div class="col-md-2">
            <%= @reception.data_medium.name if @reception.data_medium %>
          </div>
          <div class="col-md-2">
            <%= @reception.dataversion %>
          </div>
          <div class="col-md-4">
            <% @reception.tags.collect {|t|t.name}.each do |tag| %>
              <small><span class="label label-default"><%=h tag %></span></small>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 show-label">Supplier</div>
          <div class="col-md-2 show-label">Data release</div>
          <div class="col-md-2 show-label">Coverage</div>
          <div class="col-md-2 show-label">Data type</div>
          <div class="col-md-2 show-label">Filling</div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <%= @reception.data_release.company_abbr.company_name %>
          </div>
          <div class="col-md-2">
            <%= @reception.data_release.name %>
          </div>
          <div class="col-md-2">
            <%= @reception.region.name %>
          </div>
          <div class="col-md-2">
            <%= @reception.data_type.name %>
          </div>
          <div class="col-md-2">
            <%= @reception.filling ? @reception.filling.name : 'n.a.' %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 show-label">
            <strong>Request remarks</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <pre class="text-pre"><%= @reception.request_remarks %></pre>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 show-label">Source&nbsp;location<br />
            <button class="btn btn-default btn-xs" id="sourceLocationBtn" title="select text storage location"><span class="glyphicon glyphicon-screenshot"></span></button>
          </div>
          <div class="row">
            <div class="col-md-12">
              <pre id="sourceLocation"><%= @reception.source_location %></pre>
            </div>
          </div>
          <% if params[:parent_link_id] %>
            <div class="row">
              <div class="col-md-3">
                <span class="label label-default">Parent reception id <%= params[:parent_link_id].to_s %></span>
              </div>
            </div>
          <% else %>
            <% if controller.action_name != "new" %>
              <div class="row">
                <div class="col-md-12">
                  <div id="parents"><%= render :partial => 'show_parent_receptions', :object => @parents %></div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="row">
          <div class="col-md-12">
            <% if @reception.status == 'REQUESTED' && env_production? %>
              <%= link_to({:action => 'set_inprogress', :id => @reception.id},{:method => :post, :class => 'btn btn-primary'}) do %>
                <span class="glyphicon glyphicon-check">&nbsp;</span>Set In progress
              <% end %>
            <% else %>
              <a href="#" class="btn btn-default disabled" title="Request is in status <%= @reception.status %>"><span class="glyphicon glyphicon-check">&nbsp;</span>Set In progress</a>
            <% end  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#sourceLocationBtn').click(function(){
    selectText('sourceLocation');
  });
</script>

<div class="row">
  <div class="col-md-12">
      <%= link_to(:back, {:class => 'btn btn-default',:title => 'Back'}) do %>
        <span class="glyphicon glyphicon-arrow-left"></span>
      <% end %>

      <%= link_to({:action => 'requests'}, {:class => 'btn btn-default',:title => 'Request overview'}) do %>
        <span class="glyphicon glyphicon-arrow-up"></span>
      <% end %>

      <%= next_prev_button("prev") %>
      <%= next_prev_button("next") %>
  </div>
</div>




