<div class="row">
  <div class="span12"><h4>Reception data removal </h4></div>
</div>
<div class="row">
    <div class="alert alert-info span7">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>All receptions are updated as "removed".</strong> Please remove the following directories to be in sync with the database.
    </div>
</div>

<div class="row">
  <div class="span7">
    <textarea class="span8" rows="30" cols="">
    <% @collection.each do |c| %>
    <%= c["remark_header"] %>
    <%= "rm -rf " + c["removal_dir"].uniq.collect{|r|r + "\n"}.join %>
    <% end %>
    </textarea>
  </div>
</div>

<div class="row">
  <div class="span12">
    <%= link_to(receptions_path) do %>
      <i class="icon-arrow-left">&nbsp;</i>Back
    <% end %>
  </div>
</div>
