<%= select_tag 'line_data_release', options_for_select(@data_releases_collection,[]),{:include_blank => true,:class => 'span3',:data=>{:placeholder => 'Select data release'}} %>
<script type="text/javascript">
  $('#line_data_release').chosen()
</script>



