<script type="text/javascript">
  function advice_name(){
    document.getElementById('production_order_name').value = document.getElementById('production_order_productset_id').getElementsByTagName('option')[document.getElementById('production_order_productset_id').selectedIndex].firstChild.nodeValue;
  }
</script>
      <% otype = ''%>
<% f = formfields_edit_new %>

<div class="row">
  <div class="well span11">
    <div class="row">
      <div class="span1">
        <strong>Product set</strong>
      </div>
      <div class="span3" id="productset_div">
        <%= select_tag "production_order[productset_id]" ,
          options_for_select([""] + Productset.order(:setcode).collect {|c| [ c.id.to_s + " " + c.setcode,c.id ] }, @production_order.productset_id ),{:class => 'span3 validate', :required=>'required', :placeholder=>'Select product set'}%>
      </div>
      <div class="span1">
        <strong>Name</strong>
      </div>
      <div class="span3">
        <%= f.text_field :name,{:class => 'span3',:required => true, :placeholder => 'Specify name'} %>
      </div>  
      <div class="span1">
        <strong>Order type</strong>
      </div>
      <div class="span2" id="ordertype_div">
        <% if @productset.nil? || @productset.product_category.nil? %>
          <%= f.select :ordertype_id, Ordertype.active.collect {|c| [c.name, c.id]},{:include_blank => true},{:class => 'span2 validate', :required => 'required', :placeholder => 'Select order type'} %>
        <% else %>
          <%= f.select :ordertype_id, ['',''] + @productset.product_category.ordertypes.active.collect {|c| [c.name, c.id]},{:include_blank => true},{:class => 'span2 validate', :required => 'required', :placeholder => 'Select order type'} %>
        <% end %>
      </div>
      
      
      
    </div>
     <div class="row">
      <div class="span1">
        <strong>Distribution&nbsp;list</strong>
      </div>
      <div class="span3">
        <%= f.select :distribution_list_id,
            DistributionList.where(:active_yn => true).order(:name).collect {|dl| [ dl.name, dl.id ]},{:include_blank => true},{:class => 'span3', :placeholder => 'Select distribution list'} %>
      </div>
      <div class="span1">
        <strong>Tool&nbsp;Release</strong>
      </div>
      <div class="span3">
        <%= select_tag :conversiontool_id, options_for_select(Conversiontool.find_active.collect {|c| [c.code,c.id] },params[:conversiontool_id]), :include_blank => true, :class => 'span3', :data => { :placeholder => "Select tool release" } %>
      </div>      
    

      <div class="span1">
        <strong>Tool Bundle</strong>
      </div>
      <div class="span2" id="cvtool_bundle_div">
        <%= select_tag :cvtool_bundle_id, options_for_select(CvtoolBundle.select_cvtool_bundles(params[:conversiontool_id]||Conversiontool.find_active.first.id), params[:cvtool_bundle_id]), :include_blank => true, :class => 'span2', :data => { :placeholder => "Select CV tool bundle"} %>
      </div>      
    </div>
  </div>  
</div>

<div class="row">
  <div class="span3 bounded">
    <div class="row">
      <div class="span3"><strong>Commitment</strong></div>
    </div>
    <div class="row">
      <div class="span1"><strong>Baseline</strong></div>
      <div class="span2">
        <% if controller.action_name == 'edit' && !@production_order.baseline_commitment_date.nil? %>
          <%= @production_order.baseline_commitment_date.strftime('%d-%m-%Y') %>
        <% else %>
         <%= f.text_field :baseline_commitment_date, {:placeholder => "dd-mm-yyyy",:style => "width:120px"} %>&nbsp;<i class="icon-remove-sign" id="clean-0">&nbsp;</i>
       <% end %>
      </div>
    </div>
    <div class="row">
      <div class="span1"><strong>Modified</strong></div>
      <div class="span2">
        <% if controller.action_name == 'edit' && !@production_order.modified_commitment_date.nil? %>
          <%= @production_order.modified_commitment_date.strftime('%d-%m-%Y') %>
        <% else %>
          <%= f.text_field :modified_commitment_date, {:placeholder => "dd-mm-yyyy",:style => "width:120px"} %>&nbsp;<i class="icon-remove-sign" id="clean-1">&nbsp;</i>
        <% end %>
      </div>
    </div>
    <div class="row">
      <% if @production_order.project.supports_expiry? %>
         <div class="span1"><strong>Expired</strong></div>
       <% end %>
      <div class="span2">
        <% if @production_order.project.supports_expiry? %>
          <% if controller.action_name == "edit" && !@production_order.expiry_date.nil? %>
            <%= f.text_field :expiry_date, {:value => @production_order.expiry_date.strftime('%d-%m-%Y'), :placeholder => 'dd-mm-yyyy', :style => 'width:120px'} %>&nbsp;<i class="icon-remove-sign" id="clean-expire">&nbsp;</i>
          <% else %>
            <%= f.text_field :expiry_date, {:placeholder => 'dd-mm-yyyy',:style => 'width:120px'} %>&nbsp;<i class="icon-remove-sign" id="clean-expire">&nbsp;</i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
    <div class="span6">
      <div class="row">
        <div class="span8" style="padding-top: 15px">
          <%= f.text_area :comments, :rows => "7", :class=>"span8",:placeholder => 'Comments' %>
        </div>
      </div>
    
  </div>
</div>

<div class="row">
  <div class="span3 bounded">
    <div class="row">
      <div class="span2"><strong>Permissions</strong></div>
    </div>
    <div class="row">
      <div class="span2">

        <%= f.check_box :allow_planning %>&nbsp;&nbsp;Allow planning<br />
        <%= f.check_box :allow_production %>&nbsp;&nbsp;Allow production<br />
        <%= check_box_tag :force_create,params[:force_create],params[:force_create] %>&nbsp;&nbsp;Allow recreate<br/>
        <%= f.check_box :allow_shipment %>&nbsp;&nbsp;Allow shipment<br/>
        <% if @production_order.productset.nil? || @production_order.productset.has_design? %>
          <%= f.check_box :create_frontend_order_yn %>&nbsp;&nbsp;Create Frontend Order<br/>
          <%= check_box_tag :create_outbound_order,params[:create_outbound_order],params[:create_outbound_order] %>&nbsp;&nbsp;Create shipment<br/>
          <%= f.check_box :allocate_by_update_region_yn %>&nbsp;&nbsp;Allocate by update region<br/>
          <%= f.check_box :use_test_versions_yn %>&nbsp;&nbsp;Use test versions<br />
          <%= f.check_box :use_dakota_simulator_yn %>&nbsp;&nbsp;Use dakota simulator<br />
        <% end %>
      </div>
    </div>
  </div>
    <div class="span6">
      <div class="row">
        <div class="span8" style="padding-top: 15px">
  
            <%= f.text_area :test_requirement, :rows => "7", :class=>"span8",:placeholder => 'Test requirements' %>
           <div class="span1.5">
              <strong>Test Strategy</strong>
           </div>
           <div class="span2"><%= select_tag 'test_strategy' , options_for_select(['None', 'All', 'Final Result'], params[:test_strategy]),  :class => 'span2' %></div>
        </div>
      </div>
    
  </div>
</div>

<script>

  $("#conversiontool_id").change(function(){
    var selected = $('#conversiontool_id').val();
    jQuery.get('<%= url_for get_cvtool_bundles_cvtool_bundles_path %>'+'?conversiontool_id=' + selected + "&tag=cvtool_bundle_id", function(data){
      $("#cvtool_bundle_div").html(data);
    })
    return false;
  });

  <% if params[:allow_production].blank? %>
    if ($("#production_order_allow_shipment").attr('checked')){
       $("#production_order_allow_production").attr('disabled', 'disabled');
       $("#production_order_allow_planning").attr('disabled', 'disabled');
    }

    if($("#production_order_distribution_list_id").val() == ''){
      $("#production_order_allow_shipment").attr('disabled', 'disabled').removeAttr('checked');
      $("#create_outbound_order").attr('disabled', 'disabled').removeAttr('checked');
    }
  <% end %>
  $('#production_order_baseline_commitment_date').datepicker({
    format: 'dd-mm-yyyy'
  });
  $('#production_order_modified_commitment_date').datepicker({
    format: 'dd-mm-yyyy'
  });
  $('#production_order_expiry_date').datepicker({
      format: 'dd-mm-yyyy'
  });
  $("#test_strategy").select2({ search_contains: true })
  $("#production_order_ordertype_id").select2({ search_contains: true })
  $("#production_order_productset_id").select2({ search_contains: true })
  $("#production_order_distribution_list_id").select2({ search_contains: true,allow_single_deselect: true })
  $("#conversiontool_id").select2({ search_contains: true })
  $("#cvtool_bundle_id").select2({ search_contains: true })

  $("#production_order_modified_commitment_date").datepicker()
    .on('changeDate', function(){
      if ($('#production_order_baseline_commitment_date').val() == ''){
        $('#production_order_baseline_commitment_date').val($('#production_order_modified_commitment_date').val());
      }
    });

  $("#production_order_distribution_list_id").change(function(){
    if($(this).val() != ''){
      $("#production_order_allow_shipment").removeAttr('disabled');
      $("#create_outbound_order").removeAttr('disabled');
    }else{
      $("#production_order_allow_shipment").attr('disabled', 'disabled').removeAttr('checked');
      $("#create_outbound_order").attr('disabled', 'disabled').removeAttr('checked');
    }
  });
  
  $("#production_order_allow_shipment").change(function(){
    if($("#production_order_allow_shipment").attr('checked')){
      if(!$("#production_order_allow_production").attr('checked')){
        $("#production_order_allow_production").attr('checked',true);
        
      }
      if(!$("#production_order_allow_planning").attr('checked')){
        $("#production_order_allow_planning").attr('checked',true);
      }
     $("#production_order_allow_production").attr('disabled', 'disabled');
     $("#production_order_allow_planning").attr('disabled', 'disabled');
    } else {
     $("#production_order_allow_production").removeAttr('disabled');
     $("#production_order_allow_planning").removeAttr('disabled');
    }
  })
  $("[id^=clean-]").click(function(){
    $(this).prev().val('');
  })

<% if @production_order.expiry_date_passed? %>
  $("#production_order_expiry_date").attr("disabled", "disabled").attr("title","Expire date passed");
  $("#clean-expire").addClass("hidden");
<% end %>
 
</script>
