<% if @ordertype.no_pds_yn %>
  <div class="bounded span11" id="x">
    <div class="row">
      <div class="span1">
        <strong>Data type</strong>
      </div>
      <div class="span2">
        <%= select_tag 'line_data_type', options_for_select(DataType.select_tag),{:class => 'span2'} %>
      </div>
      <div class="span1">
        <strong>Supplier</strong>
      </div>
      <div class="span3">
        <%= select_tag 'line_supplier', options_for_select(CompanyAbbr.select_tag),{:class => 'span3'} %>
      </div>
      <div class="span1">
        <strong>Data&nbsp;release</strong>
      </div>
      <div class="span2" id="data_release_select">
        <%= select_tag 'line_data_release', options_for_select([],[]),{:include_blank => true,:class => 'span3',:data=>{:placeholder => 'Select supplier first'}} %>
      </div>       
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $('#line_data_type').chosen()
  $('#line_supplier').chosen()
  $('#line_data_release').chosen()
  
  $("#line_supplier").change(function() {
    var selected = $('select#line_supplier :selected').val();
    if(selected == "") selected="0";
    jQuery.get('<%=h url_for(:controller => "production_orders",:action => "get_data_releases") %>' + '?caid=' + selected, function(data){
        $("#data_release_select").html(data);
    })
    return false;
  });  
</script>