<% @production_order.production_orderlines.each do |line| %>
   <!-- Relation modal -->
  <div class="modal hide fade extra-large" id="action-modal-<%= line.id %>">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4><%= line.product_id %> <%= line.bp_name %></h4>
    </div>
    <div class="modal-body">
      <% if !line.customer_contents.empty? %>
      <div class="row">
        <div class="span3">
          <%= link_to({controller: :customer_contents, action: :index, production_orderline_id: line.id.to_s}, {target: "_blank"}) do %>
            <i class="icon icon-list"></i>&nbsp;View Customer specific content
          <% end %>
        </div>
      </div>
      <% end %>

      <div class="row">
        <div class="span10">
          <table class="table table-striped table-condensed">
            <thead>
            <th>Conversion</th>
            <th>Test request</th>
            <th>Medium request</th>
            <th>Product registration</th>
            <th>Shipment</th>
            </thead>
            <tbody>
          <% conversion_tests = [] %>
          <% line.conversions.each do |conversion| %>
            <tr>
              <td>
                <% if conversion.status == Conversion::STATUS_ENTRY %>
                  <%= link_to(conversion.id,{:action => :edit,:id => conversion.id,:controller => :conversions,:return_to_controller => controller.controller_name,
                      :return_to_action => controller.action_name, :return_to_id => @production_order.id},{:title => conversion.status_str}) %>
                <% else %>
                <% if conversion.outcome_removed? %>
                  <del>
                <% end %>
                  <%= link_to(conversion.id,conversion,{:target => "_blank",:title => conversion.status_str}) %>
                <% end %>&nbsp;
                <%= conversion.input_format %> - <%= conversion.output_format %> <%= conversion.status_str %>
                                <% if conversion.outcome_removed? %>
                  </del>
                <% end %>
              </td>
              <td>
                <% line.test_requests.each do |test_request| %>
                  <% if test_request.test_db && test_request.test_db.conversion.id.to_s == conversion.id.to_s %>
                    <% conversion_tests << test_request %>
                    <%= link_to(test_request.id,test_request, {:target => "_blank",:title => test_request.status}) %>&nbsp;
                    <%= test_request.status %>
                  <% end %>
                <% end %>
              </td>
              <td>
                <% conversion.stock.each do |medium| %>
                  <%= link_to(medium.id,show_request_stock_path(medium), {:target => "_blank",:title => medium.status}) %>&nbsp;
                  <%= medium.medium_number %> / <%=  medium.status %>
                <% end %>
              </td>
              <td>
                <% conversion.product_locations.each do |product_location| %>
                 <%= link_to(product_location.id,product_location, {:target => "_blank",:title => product_location.registration_date}) %>&nbsp;
                 <%= product_location.product_id %> R.<%= product_location.release_sequence %>
                <% end %>
              </td>
              <td>
                <% conversion.product_locations.each do |product_location| %>
                 <% product_location.outbound_orderlines.each do |outbound_orderline| %>
                   <%= link_to(outbound_orderline.outbound_order.id,outbound_orderline.outbound_order, {:target => "_blank",:title => outbound_orderline.filename}) %>&nbsp;
                   <%= outbound_orderline.outbound_order.shipto_name %>, <%= outbound_orderline.outbound_order.contact_person %> on <%= outbound_orderline.outbound_order.send_date %><br />
                 <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="span9">
          <% if line.product_design %>
            <% pd = ProductDesign.find_object_by_design(JSON.parse(line.product_design)) %>
            <% if pd %>
              <%= link_to({:action => :show,:controller => :product_designs,:id => pd.id,:version => pd.version},{:target => '_blank',:class => 'btn btn-small'}) do %>
                <i class="icon icon-eye-open"></i>&nbsp;Product design <%= pd.id %> version: <%= pd.version %> <%= pd.name %>
              <% end %>
            <% end %>
            <%= link_to({:controller => :product_designs, :action => :render_model ,:id => line.id.to_s + ".json", :source => 'pol',
                :return_to_controller => controller.controller_name,
                :return_to_action => controller.action_name, :return_to_id => @production_order.id },{:class => 'btn btn-small'}) do %>
              <i class="icon icon-wrench"></i>&nbsp;View design hash
            <% end %>
          <% end %>

          <% if !line.end_bp? && !@production_order.ordertype.no_pds_yn && @production_order.ordertype.job_support_yn && params[:action] == "manage" %>
            <% if line.product_release_note.nil? %>
              <%= link_to({:controller => :product_release_notes,:action => :create_from_production_orderline, :production_orderline_id => line.id},{:class => 'btn btn-small'}) do %>
                <i class="icon-comment">&nbsp;</i>create release note
              <% end %>
            <% else %>
                <%= link_to({:controller => :product_release_notes,:action => :edit, :id => line.product_release_note.id},{:class => 'btn btn-small'}) do %>
                  <i class="icon-edit">&nbsp;</i>edit release note
                <% end %>
                <% if line.product_release_note.status < 10 %>
                <%= link_to ({:controller => :product_release_notes,:action => :to_status, :id => line.product_release_note.id, :status => 10}) do %>
                  <i class="icon-adjust">&nbsp;</i>set to review
                <% end %>
              <% end %>
              <% if line.product_release_note.status == 10 %>
                <%= link_to ({:controller => :product_release_notes,:action => :to_status, :id => line.product_release_note.id, :status => 30})  do %>
                  <i class="icon-thumbs-up">&nbsp;</i>set to approved
                <% end %>
              <% end %>
              <% if line.product_release_note.status == 30 %>
                <%= link_to ({:controller => :product_release_notes,:action => :package, :id => line.product_release_note.id}) do  %>
                  <i class="icon-gift">&nbsp;</i>create package
                <% end %>
              <% end %>
              <% if line.product_release_note.document && line.product_release_note.status == 40 %>
                <%= link_to :action => :download , :id => line.product_release_note.document_id, :controller => :documents, :version => DocumentVersion.where(line.product_release_note.document_id).last.version do %>
                  <i class="icon-download-alt">&nbsp;</i>download latest package
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="row"><div class="span9"><br /></div></div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="span12">
    <span id="countdown" class="label"></span><br />
    <table class="table table-condensed table-striped table-bordered" style="max-width: 102%;width: 102%">
      <% c = 0 %>
      <% if params[:action].match("manage") %>
      <th>Line Action</th>
      <% end %>
      <% if @production_order.ordertype.no_pds_yn %>
        <th>Conversion</th>
      <% else %>
        <th>Product</th>
      <% end %>
      <th>Business process</th>
      <th>Status process</th>
      <th>Message</th>
      <th>Owner</th>
      <th>Relations</th>
      <% @production_order.production_orderlines.each do |line| %>
        <% bpm = line.bp_message.to_s.gsub("\r\n","<br/>") %>
        <% if line.bp_name != "DELETED" %>
          <tr>
            <% if params[:action].match("manage") %>
            <td>
              <% if !@production_order.end_bp? %>
                <% if ProcessTransition.can_cancel_work?(line.bp_name) %>
                  <%= link_to({:action => :cancel_product, :lid => line.id} ,
                    {:confirm => 'Are you you want to cancel this product on this production order? ',:class => 'btn btn-mini btn-danger',
                      :title => 'cancel orderline', :method => :post}) do %>
                    <i class="icon icon-off "></i>
                  <% end %>
                  <%= link_to({:action => :terminate_product, :lid => line.id} ,
                    {:confirm => 'Are you you want to terminate all processes for this line? All created (half)products will be removed.',:class => 'btn btn-mini btn-danger',
                      :title => 'terminate all processes for this line', :method => :post}) do %>
                    <i class="icon icon-trash"></i>
                  <% end %>
                <% end %>

                <% if (line.product_accepted == 'Unknown' || line.product_accepted.to_s == "") && ProcessTransition.can_reactivate_work?(line.bp_name) %>
                  <%= link_to({:action => :activate_product, :lid => line.id, :id => @production_order.id},{:class => 'btn btn-mini',:title => 'activate orderline'}) do %>
                    <i class="icon icon-play"></i>
                  <% end %>
                <% end %>

                <% if ProcessTransition.can_cancel_work?(line.bp_name) %>
                  <% if ProcessTransition.can_complete_work?(line.bp_name,@production_order.ordertype_id) %>
                    <% if line.action_link.nil? %>
                      <%= link_to({:action => :complete_work_product, :poid => line.id,:id => @production_order.id},{:class=>"btn btn-mini",:title => "complete work"}) do %>
                        <i class="icon icon-forward"></i>
                      <% end %>
                    <% else !line.action_link.nil? %>
                      <%= link_to(line.action_link[:options],{:class=>"btn btn-mini",:title => "complete work"}) do  %>
                        <i class="icon icon-forward ">&nbsp;</i><%= line.action_link[:body] %>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>

                <% if (line.product_accepted == 'Unknown' || line.product_accepted.to_s == "")  &&  line.product_design && ProcessTransition.can_reset_work?(line.bp_name) && @production_order.ordertype.job_support_yn %>
                  <a href="#resetModal-<%= line.id %>" role="button" data-toggle="modal" class="btn btn-mini btn-warning" title="reset complete orderline"><i class="icon icon-repeat" title="reset orderline">&nbsp;</i></a>
                <% end %>

                <% if !line.conversion_jobs.failures_on_server.empty? && ProcessTransition.can_reset_work?(line.bp_name) %>
                  <button class="btn btn-mini" id="restartModal-<%= line.id %>" type="button">
                    <i class="icon icon-retweet" title="restart all failed jobs"></i>
                  </button>
                <% end %>
              <% end %>
            </td>
            <% end %>
            <% if @production_order.ordertype.no_pds_yn %>
              <td>
                <% line_details = {} %>
                <% line_details = JSON.parse(line.product_design)["conversion_steps"][line.design_sequence] if line.product_design %>
                <abbr title="<%= line_details["description"] %>"><%=  line_details["name"] %></abbr>
              </td>
            <% else %>
              <td><%= "#{line.product_id}" if line.product %>&nbsp;<i><%= "#{line.product.name}" if line.product %></i></td>
            <% end %>
            <td><%= line.bp_name %></td>
            <td><%= line.bp_status_str %></td>
            <td><span style="font-size:10px"><%= raw bpm %></span></td>
            <td><%= line.owner %></td>
            <td><button type="button" class="btn btn-mini icon icon-info-sign" id="action-<%= line.id %>">&nbsp;Show</button></td>
          </tr>

          

          <!-- Reset Modal -->
          <div id="resetModal-<%= line.id %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="resetModalLabel-<%= line.id %>" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h4 id="resetModalLabel-<%= line.id %>">Reset order-line</h4>
            </div>
            <div class="modal-body" style="overflow: hidden">
              <p>Previous conversion was requested with the following conversion tooling:</p>
              <p id="error_explanation-<%= line.id %>" class="hidden alert-error">Both the conversion tool and the tool bundle must be selected.</p>
              <%= form_tag(url_for(:action => :reset_product, :lid => line.id, :controller => :production_orders), :id => "reset-production_orderline-#{line.id}") do %>
                <div class="row">
                  <!-- TODO: Fix the cvtool_bundle_id_workaround, after changing the conversiontool_id, the cvtool_bundle_id is no longer posted, solved for now by setting the value in a hidden field, which will be posted, but this is clearly an ugly workaround -->
                  <%= hidden_field_tag :cvtool_bundle_id, line.used_cv_tooling[1][0], :id => "hidden-cvtool_bundle_id-#{line.id}" %>
                  <div class="span2">
                    <%= select_tag :conversiontool_id, options_for_select(Conversiontool.select_tag << line.used_cv_tooling[0],line.used_cv_tooling[0]), :id => "reset-conversiontool_id-#{line.id}",:class=>"span2" %>
                  </div>
                  <div class="span2" id="cvtool_bundle_div-<%= line.id %>">
                    <%= select_tag :cvtool_bundle_id_workaround, options_for_select(CvtoolBundle.select_cvtool_bundles(params[:conversiontool_id],line), line.used_cv_tooling[1]), :id => "reset-cvtool_bundle_id-#{line.id}", :class=>"span2", :data => { :placeholder => "Select CV tool bundle" } %>
                  </div>
                </div>

                <p>You may overwrite the previous selection, or use the same tooling.</p><br />
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button class="btn hidden" type="button" id="restartConfirm-<%= line.id %>">Restart</button>
                <button class="btn btn-danger" type="submit" id="resetConfirm-<%= line.id %>">Reset</button>
              </div>
            <% end %>
          </div>

          <script type="text/javascript">
            $('#action-<%= line.id %>').click(function(){
              $('#action-modal-<%= line.id %>').modal('show');
            });
            $("#reset-conversiontool_id-<%= line.id %>").select2();
            $("#reset-cvtool_bundle_id-<%= line.id %>").select2();
            $("#reset-conversiontool_id-<%= line.id %>").change(function(){
              var selected = $('select#reset-conversiontool_id-<%= line.id %> :selected').val();
              if(selected == "") selected="0";
              jQuery.get('<%= url_for get_cvtool_bundles_cvtool_bundles_path %>'+'?conversiontool_id=' + selected + "&tag=reset-cvtool_bundle_id-<%= line.id %>&useworkaround=1", function(data){
                $("#cvtool_bundle_div-<%= line.id %>").html(data);
              })
              return false;
            });

            $('#resetModal-<%= line.id %>').on('shown', function () {
              $('body').css("overflow", "hidden");
              clearRefresh();
            });
            $('#resetModal-<%= line.id %>').on('hidden', function () {
              $('body').css("overflow", "visible");
              $('.modal-backdrop').remove();
            });

            $("#reset-production_orderline-<%= line.id %>").submit(function(event) {
              if ($('#reset-conversiontool_id-<%= line.id %>').val() == "" || $('#reset-cvtool_bundle_id-<%= line.id %>').val() == "") {
                $("#error_explanation-<%= line.id %>").removeClass("hidden");
                 event.preventDefault();
              }
              cvtool_bundle_value = $('#reset-cvtool_bundle_id-<%= line.id %>').val();
              $('#hidden-cvtool_bundle_id-<%= line.id %>').val(cvtool_bundle_value);
            });

            $("#restartModal-<%= line.id %>").click(function(){
              $("#resetModalLabel-<%= line.id %>").html("Restart all crashed & failed conversion jobs");
              $("#restartConfirm-<%= line.id %>").removeClass("hidden");
              $("#resetConfirm-<%= line.id %>").addClass("hidden");
              $("#resetModal-<%= line.id %>").modal("show");
            });

            $("#resetModal-<%= line.id %>").on('hidden', function () {
              $("#resetModalLabel-<%= line.id %>").html("Reset order-line");
              $("#restartConfirm-<%= line.id %>").addClass("hidden");
              $("#resetConfirm-<%= line.id %>").removeClass("hidden");
              refreshLines();
            })
            $("#restartConfirm-<%= line.id %>").click(function(){
              $('#bar-spinner-message').html("restarting jobs");
              $.post('<%= url_for(:controller => "production_orders", :action => "restart_failed_and_crashed_conversion_jobs", :lid => line.id) %>',
              {conversiontool_id:$("#reset-conversiontool_id-<%= line.id %>").val(),cvtool_bundle_id:$("#reset-cvtool_bundle_id-<%= line.id %>").val()})
            });

            $('#action-modal-<%= line.id %>').on('show', function(){
              <% if !@production_order.end_bp? %>
                clearRefresh();
              <% end %>
            });
            $('#action-modal-<%= line.id %>').on('hide', function(){
              <% if !@production_order.end_bp? %>
                  refreshLines();
              <% end %>
            });

          </script>
        <% end %>

      <% end %>
    </table>

  </div>

</div>

<script type="text/javascript">
  function refreshLines(){
    refresh = setTimeout(function() {
      <% if params[:action].to_s.match("manage") %>
          <% url_str = url_for(:action => :refresh_lines_from_manage, :id => @production_order.id) %>
      <% else %>
          <% url_str = url_for(:action => :refresh_lines_from_show, :id => @production_order.id) %>
      <% end %>
      $.get('<%= url_str %>',function(data){
        $( "#line_partial" ).html( data );
        $("#countdown").html("refresh in 60 seconds");
      })
    }, 60000);

    var timeToWaitInSeconds = 60;

    function countdown(){
      $("#countdown").html("refresh in " + timeToWaitInSeconds + " seconds");
      timeToWaitInSeconds -= 1;

      if (timeToWaitInSeconds>0){
        counter = setTimeout(countdown,1000);
      }
    }

    counter = setTimeout(countdown,1000);
  }

  function clearRefresh(){
    clearTimeout(refresh);
    clearTimeout(counter);
    $("#countdown").html("");
  }
  refreshLines()
<% if @production_order.end_bp? %>
  clearRefresh();
  $("#countdown").html("<%= @production_order.bp_name %>")
<% end %>
</script>