<%= select_tag 'product_design_id',options_for_select(@product_designs_for_select.collect{|pd|[pd.name,pd.id]},@selected_product_design),{:include_blank => true,:class => "span3"} %>
<script type="text/javascript">
  $("#product_design_id").select2({ search_contains: true });

  function renderstepsList(){
    var selected = $('#product_design_id').val();
    jQuery.get('<%= url_for :action => 'get_conversion_steps_from_design' %>'+'?product_design_id=' + selected, function(data){
      $("#steps_list").html(data);
    });
  }
  renderstepsList();
  setFrontend();
  $("#product_design_id").change(function(){
    renderstepsList();
    setFrontend();
  });
  
</script>
