    <% if production_order.ordertype && production_order.ordertype.product_category_id
         l_product_category = production_order.ordertype.product_category.abbreviation.to_s     
       else
       l_product_category = "n.a."
       end %>
  
    <% if production_order.productset
         l_product_set = production_order.productset.setcode.to_s
         if production_order.productset.status != "20"
           ps_not_approved = true
         end
       else
         l_product_set = "n.a."
       end %>
  
    <% if production_order.baseline_commitment_date
          
         if production_order.baseline_commitment_date.past?
           l_baseline_commitment = '<i class="icon-exclamation-sign" style="color:#B94A48" title="planned date is in the past!"></i>&nbsp;'+production_order.baseline_commitment_date.strftime("%d-%m '%y")
         else
           l_baseline_commitment = '&nbsp;&nbsp;&nbsp;'+production_order.baseline_commitment_date.strftime("%d-%m '%y")
         end
         
       else
         l_baseline_commitment = '<i class="icon-minus" ></i>&nbsp;'
       end %>

    <% if production_order.modified_commitment_date
          
         if production_order.modified_commitment_date.past?
           l_modified_commitment = '<i class="icon-exclamation-sign" style="color:#B94A48" title="committed date is in the past!"></i>&nbsp;'+production_order.modified_commitment_date.strftime("%d-%m '%y")
         else
           l_modified_commitment = '&nbsp;&nbsp;&nbsp;'+production_order.modified_commitment_date.strftime("%d-%m '%y")
         end
         
       else
         l_modified_commitment = '<i class=" icon-minus" ></i>&nbsp;'
       end %>

    <% if production_order.expiry_date

         if production_order.expiry_date.past?
           l_expired = '<i class="icon-exclamation-sign" style="color:#B94A48" title="production order has expired"></i>&nbsp;'+production_order.expiry_date.strftime("%d-%m '%y")
         else
           l_expired = '&nbsp;&nbsp;&nbsp;'+production_order.expiry_date.strftime("%d-%m '%y")
         end

        else
         l_expired = '<i class="icon-minus" ></i>&nbsp;'
       end %>

   <% if production_order.rel_notes_send_date
        l_rel_notes_s = '<i class="icon icon-ok"></i>'
      else
        l_rel_notes_s = '<i class="icon"></i>'
      end %>  

   <div class="row" id="row_show_<%= production_order.id %>">
    <div class="span1">
      <div class="btn-group">
        <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
          Action
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to(:action => 'trace',:controller => :production_orders,:id => production_order.id) do %>
            <i class="icon-zoom-in"></i>&nbsp;trace order
            <% end %>
          </li>             
          <li>
            <%= link_to(:action => 'show',:controller => :production_orders,:id => production_order.id) do %>
            <i class="icon-info-sign"></i>&nbsp;show order
            <% end %>
          </li>
          <li>
            <%= link_to(:action => 'manage', :controller => :production_orders,:id => production_order.id) do %>
            <i class="icon-road"></i>&nbsp;handle order
            <% end %>
          </li>
          <% if production_order.allow_edit? %>
          <li>
            <%= link_to(:action => 'edit', :controller => :production_orders,:id => production_order.id) do %>
            <i class="icon-edit"></i>&nbsp;edit order
            <% end %>
          </li>
          <% end %>
          <li>
            <%= link_to edit_baseline_commitment_production_order_path production_order do %>
              <i class="icon-calendar"></i>&nbsp;edit baseline commitment
            <% end %>
          </li>
          <li>
            <%= link_to edit_modified_commitment_production_order_path production_order do %>
              <i class="icon-calendar"></i>&nbsp;edit modified commitment
            <% end %>
          </li>
          <% if !production_order.expiry_date_passed? && production_order.project.supports_expiry? %>
          <li>
            <%= link_to(:action => 'edit_expiry_date', :controller => :production_orders,:id => production_order.id) do %>
            <i class="icon-calendar"></i>&nbsp;edit expiry date
            <% end %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="span1" title="Id">
      <%=  link_to production_order.id,:id => production_order.id,:action => :show %>
    </div>    

    <div class="span1">
      <%=  raw l_baseline_commitment %>
    </div>    
    
    <div class="span1">
      <%=  raw l_modified_commitment %>
    </div>

     <div class="span1">
       <%=  raw l_expired %>
     </div>

     <div class="span3">
      <strong><%=  production_order.name %></strong>
    </div>
    
    
    <div class="span1">
      <%=  production_order.bp_name %>
    </div>
    
    <div class="span1">
      <%=  l_product_category %>
    </div>
    
    <div class="span1">
      <%=  bootstrap_boolean(production_order.ordertype && production_order.ordertype.is_frontend) %>
    </div>
    
    <div class="span3">
      <%  if ps_not_approved %>
        <i class="icon-warning-sign" style="color:#B94A48" title="Not approved"></i>
      <% end %>
      <%=  l_product_set %>
    </div>
    
    <div class="span1">
      <%=  raw l_rel_notes_s %>
    </div>    
  </div>
