<div class="row">
<div class="well span3">
  <strong>Tag(s)</strong><br>
<% if( @production_order.tag_list.size > 0 ) %>
    <% @production_order.tags.sort_by{ |t| t.name }.each do |tag| %>
      <span class="label">
      <i class="icon-tag">&nbsp;</i><%= tag.name %></span>
      <i class="icon-trash" id="<%= tag.name %>">&nbsp;</i>
    <% end %>  

<% else %>
  <p><i>No tag(s) available.</i></p><br>
<% end %>
  <br>
<div class="input-append" style="margin-top: 5px">
<%= form_tag :url => { :action => :add_tags, :id => @production_order.id },:remote => true,:update => 'tagsshow',:id => 'thisid' do %>
<%= text_field( 'tags', '', { :class => 'span2',:id => 'new_tag' } ) %>
  <button class="btn" id="tags_submit" type="button">Add</button>
<% end %>
</div>

</div>
  <script type="text/javascript">  
  $('.icon-trash').click(function() {
    $.get("<%= url_for(:action => :remove_tag, :id => @production_order.id) %>?tag=" + $(this).attr('id'), function(data) {
      
    });
    
  });
  
  $('#tags_submit').click(function(){
     $.get("<%= url_for(:action => :add_tag, :id => @production_order.id) %>?new_tag=" + $('#new_tag').val(), function(data) {
       
      });
      
  });
  
  
  </script>
  
  
  