<% if !@production_order.ordertype.no_pds_yn %>
  <% if @production_order.productset && @production_order.productset.status != "20"
    ps_status_label = '&nbsp;<span class="badge badge-warning"><small>' + @production_order.productset.readable_status.to_s + '</small></span>'
  else
    ps_status_label = '&nbsp;<span class="badge"><small>' + @production_order.productset.readable_status.to_s + '</small></span>' if @production_order.productset
  end %>
<% end %>

<div class="row">
  <div class="span1"><span class="label label-info"><%= @production_order.bp_name %></span></div>
  <div class="span10">
    <% if @production_order.tags  %>
      <%  @production_order.tag_list.each do |tag| %>
        <span class="label"><i class="icon-tag">&nbsp;</i><%= tag %></span>
      <% end %>
    <% end %>
  </div>

</div>

<div class="row">
  <div class="span12 bounded bounded-headered flat-roof">

    <div class="row bounded-header">
      <div class="span12">
        <div class="row">
          <div class="span12">
            <h4><%= @production_order.name %></h4>
          </div>
        </div>
        <div class="row">
          <div class="span3"><strong>Requested&nbsp;by</strong></div>
          <div class="span3"><strong>Product set</strong></div>
          <div class="span3"><strong>Order&nbsp;type</strong></div>
          <div class="span3"><strong>Distribution&nbsp;list</strong></div>
        </div>
        <div class="row">
          <div class="span3">&nbsp;<%=h @production_order.requestor %></div>
          <div class="span3">
            <% if @production_order.productset && !@production_order.ordertype.no_pds_yn %>
              <%=h link_to @production_order.productset.setcode.to_s, {:action => 'show' , :controller => 'productsets', :id => @production_order.productset_id}, {:target => "_blank"} %>
              <%= raw ps_status_label %>
            <% else %>
              <i>Intermediate product</i>
            <% end %>
          </div>
          <div class="span3"><%= @production_order.ordertype.name %> <%= "(Frontend)" if @production_order.ordertype && @production_order.ordertype.is_frontend %></div>
          <div class="span3"><%= link_to @production_order.distribution_list.name.to_s, {:action => :show, :controller => 'distribution_lists', :id => @production_order.distribution_list_id} if @production_order.distribution_list %></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="span3 bounded" style="height:143px">
        <div class="row"><div class="span2"><strong>Planning</strong></div></div>
        <div class="row">
          <%  bd= md= ed= '<i class=" icon-minus" ></i>&nbsp;' %>
          <% bd =  @production_order.baseline_commitment_date.strftime("%d-%m-%Y") if @production_order.baseline_commitment_date %>
          <% md =  @production_order.modified_commitment_date.strftime("%d-%m-%Y") if @production_order.modified_commitment_date %>
          <% ed =  @production_order.expiry_date.strftime("%d-%m-%Y") if @production_order.expiry_date %>

          <div class="span2">
            Baseline commitment
            <% if @production_order.baseline_commitment_date %>
              <button type="button" class="btn btn-mini icon icon-info-sign" id="baseline-reasons"></button>
            <% end %>
          </div>
          <div class="span0_5">
            <%=  raw bd %>
          </div>
        </div>
        <div class="row">
          <div class="span2">
            Modified commitment
            <% if @production_order.modified_commitment_date %>
              <button type="button" class="btn btn-mini icon icon-info-sign" id="modified-reasons"></button>
            <% end %>
          </div>
          <div class="span0_5">
            <%= raw md %>
          </div>
        </div>
        <div class="row">
          <div class="span2">Expiry date</div>
          <div class="span0_5">
            <%= raw ed %>
          </div>
        </div>
      </div>
      <div class="span8" style="padding-top: 15px;">
        <%= text_area_tag 'comments', @production_order.comments,:class => "span8", :rows => "6", :placeholder => 'Comments', :disabled => 'disabled',:style => 'padding-bottom: 12px;min-height:143px;width:109%' %>
      </div>
    </div>

    <div class="row">
      <div class="span3 bounded" style="height:140px">
        <div class="row">
          <div class="span2"><strong>Permissions</strong></div>
        </div>
        <div class="row">
          <div class="span3">
            <%= bootstrap_boolean(@production_order.allow_planning) %>&nbsp;&nbsp;Allow planning<br />
            <%= bootstrap_boolean(@production_order.allow_production) %>&nbsp;&nbsp;Allow production<br />
            <%= bootstrap_boolean(@production_order.allow_shipment) %>&nbsp;&nbsp;Allow shipment<br />
            <%= bootstrap_boolean(@production_order.create_frontend_order_yn) %>&nbsp;&nbsp;Create Front-end order<br />
            <%= bootstrap_boolean(@production_order.allocate_by_update_region_yn) %>&nbsp;&nbsp;dHive by update region (Pdhive)
          </div>
        </div>
      </div>
      <div class="span8" style="padding-top: 15px">
        <%= text_area_tag 'test_requirement', @production_order.test_requirement, :rows => "5", :class=>"span8",:placeholder => 'Test requirements', :disabled => 'disabled',:style => 'height:150px;width:109%' %>
      </div>
    </div>

  </div>
</div>

<div id="baselineModal" class="modal large hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="myModalLabelBaseline">Baseline commitments</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="span1"><strong>New date</strong></div>
      <div class="span3"><strong>Reason</strong></div>
      <div class="span2"><strong>Updated by</strong></div>
      <div class="span1"><strong>Updated at</strong></div>
    </div>
    <% @production_order.commitment_dates.where(:commitment_type => ProductionOrder::COMMITMENT_BASELINE).each do |cd| %>
      <div class="row">
        <div class="span1"><%= cd.new_date.strftime('%d-%m-%Y') %></div>
        <div class="span3"><%= cd.commitment_change_reason.reason %></div>
        <div class="span2"><%= cd.updated_by %></div>
        <div class="span1"><%= cd.updated_at.strftime('%d-%m-%Y') %></div>
      </div>
    <% end %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<div id="modifiedModal" class="modal large hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="myModalLabelModified">Modified commitments</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="span1"><strong>New date</strong></div>
      <div class="span3"><strong>Reason</strong></div>
      <div class="span2"><strong>Updated by</strong></div>
      <div class="span1"><strong>Updated at</strong></div>
    </div>
    <% @production_order.commitment_dates.where(:commitment_type => ProductionOrder::COMMITMENT_MODIFIED).each do |cd| %>
      <div class="row">
        <div class="span1"><%= cd.new_date.strftime('%d-%m-%Y') %></div>
        <div class="span3"><%= cd.commitment_change_reason.reason %></div>
        <div class="span2"><%= cd.updated_by %></div>
        <div class="span1"><%= cd.updated_at.strftime('%d-%m-%Y') %></div>
      </div>
    <% end %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<script>
  $('#baseline-reasons').click(function(){
    $('#baselineModal').modal('show');
  });
  $('#modified-reasons').click(function(){
    $('#modifiedModal').modal('show');
  });
</script>
