<div class="row">
  <div class="span12">
     <div id="collapseOne" class="accordion-body collapse" style="max-width: 102%;width: 102%">
      <table class="table table-condensed table-bordered" style="max-width: 100%;width: 100%">
        <tr>
          <th>Timestamp</th>
          <th>Status</th>
          <th>Sequence</th>
          <th>User</th>
          <th>Level</th>
          <th>Reference</th>
          <th>Remarks</th>
        </tr>
        <% @production_order.orderstatuslogs.each do |log| %>
          <tr>
            <td><%= log.completion_date.strftime('%d-%m-%y %H:%M:%S') %></td>
            <td><%= log.status %></td>
            <td><%= log.sequence %></td>
            <td><%= log.user %></td>
            <td><%= log.level %></td>
            <td><%= log.reference %></td>
            <td><%= log.remarks %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>