<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<% if @conversion_steps && @conversion_steps.size > 0 %>

  <div id="force_details">
    <div class="row">
      <div class="span12">
        <h4>Designed conversion steps</h4>
      </div>

    </div>
    <div class="row">
      <div class="span table-responsive" style="width: 99%">
        <table class="table table-bordered table-condensed">
          <thead>
            <tr>
              <th>Step</th>
              <th>Main executable</th>
              <th>Filling</th>
              <th>Force create</th>

            </tr>
          </thead>
          <tbody>
            <% step = 0 %>
            <% @conversion_steps.each do |conv_step| %>
              <tr>
                <td><%= step.to_s %></td>
                <td><%= conv_step["name"]  %></td>
                <td><%= conv_step["connections"].collect{|x|x["filling"]}.join(" ") %></td>
                <%  if params["force_create_#{step}"] %>
                  <td><%= check_box_tag "force_create_#{step}", {},{ :checked => true}  %></td>
                <% else %>
                  <td><%= check_box_tag "force_create_#{step}"  %></td>
                <% end %>
                <% step = step + 1 %>
              </tr>
            <% end %>

          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $("#force_create").change(function(){
    $(".table").find(':checkbox').attr('checked', this.checked);
  });

  $("[id^=force_create_]").change(function(){
    if ( $(".table").find(':checkbox').is(':checked') ){
      $("#force_create").attr('checked', 'checked');
    } else {
      $("#force_create").attr('checked', this.checked);
    }
  });
</script>