<h1>Complete work</h1>


<%= error_messages_for :production_order %>

<%= form_for(@production_order, :url => {:action => 'confirm_assign', :id => @production_order.id}) do |f| %>
  <p>
    <b>Assign to:</b><br />
    <%= f.select :owner, User.all.collect{|x|[x.last_name,x.first_name + " " + x.last_name]} %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Back', production_orders_path %>
<%= link_to 'Back', production_orders_path %>
