<h1>Complete work Product_level</h1>
<%= error_messages_for :production_orderline %>

<%= form_for(@production_orderline, :url => {:action => 'confirm_assign_product', :id => @production_orderline.id}) do |f| %>
  <p>
    <b>Assign to:</b><br />
    <%= f.select :owner, User.all.collect{|x|[x.last_name + ", " + x.first_name ,x.first_name + " " + x.last_name]}.sort %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
    
<% end %>

