<h1>Overrule status</h1>


<%= error_messages_for :production_order %>

<%= form_for(@production_order) do |f| %>
  <p>
    <b>Status</b><br />
    <%= f.select :bp_name, ProcessTransition.where("ordertype_id = '#{@production_order.ordertype_id}'").select('distinct from_bp').collect{|x|[x.from_process.name,x.from_process.name]} %>
  </p>

  <p>
    <b>Assignee</b><br />
    <%= f.select :owner, User.all.collect{|x|[x.last_name,x.first_name + " " + x.last_name]} %>
  </p>

  <p>
    <b>Priority</b><br />
  <%=f.select :priority, [1,2,3,4,5] %></p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>
<%= link_to 'Back', :action => 'show' , :id => @production_order.id %>
