<%= form_for(@production_order, :url => { :action => :checked_from_product }, :method => :post) do |f| %>

<div class="row">
  <div class="span12 bounded bounded-headered">
    <div class="row bounded-header">
      <div class="span10"><h4>Check production order from product</h4></div>
    </div>
    <%= render :partial => "formfields_edit_new_product", :object => f %>
  </div>
</div>

<div class="row">
  <div class="span6">
    <%= link_to( { :controller => :production_orders }, { :class => 'btn', :title => 'Back' } ) do %>
      <li class="icon-arrow-left"></li>
    <% end %>
    <%= f.submit "Check",:class => 'btn',:title=> 'Check production order' %>
  </div>
</div>

<% end %>


<script type="text/javascript">
  var myApp;
  myApp = myApp || (function () {
    var pleaseWaitDiv = $('<div class="modal hide" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false"><div class="modal-header"><h4>Processing...</h4></div><div class="modal-body"><div class="progress progress-striped active"><div class="bar" style="width: 100%;"></div></div></div></div>');
    return {
      showPleaseWait: function() {
        pleaseWaitDiv.modal();
      },
      hidePleaseWait: function () {
        pleaseWaitDiv.modal('hide');
      }
    };
  })();

  $("#new_production_order").submit(function( event ) {
    myApp.showPleaseWait();
  });
</script>

 
