<div class="container">
  <div class="row">
    <div class="span9">
      <h3>Checking production order from product</h3>
    </div>
    <div class="span1">
      <strong>Log level</strong>
    </div>
    <div class="span2">
      <%= select_tag "loglevel", options_for_select(Checklog.loglevel_hash, @checklog_level), :class => 'span2' %>
    </div>
  </div>

  <div class="row">
    <div class="span12 bounded">
      <%= render(:partial => "checked", :locals => {:heading => @heading, :checklog => @checklog, :level => 0}) %>
    </div>
  </div>

  <div class="row">
    <div class="alert alert-error span6 hidden" id="errorDiv">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Error </strong><span id="errorMsg">error</span>
    </div>
  </div>

  <!---
  <br/>
  <form id="conversion_steps_form">
    <% params.each do |k,v| %>
      <% hidden_field_tag k, v %>
    <% end %>
    <% render :partial => 'steps_list_force_create' %>
  </form>
--->
  <div class="row">
    <div class="span6">
      <button id="create_action" class="btn">Create production order</button>
       <%= link_to(  :back , { :class => 'btn hidden', :id => 'back_btn' } ) do %>
        <i class="icon-arrow-left">&nbsp;</i>Back
      <% end %>
      <%= link_to( { :controller => :production_orders }, { :class => 'btn' } ) do %>
        <i class="icon-arrow-up"></i>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">

/*
  function submitf(action, method, values) {
    var form = $('<form/>', {
      action: action,
      method: method
    });
    console.log(values)
    $.each(values, function() {
      console.log($(this))
      form.append($('<input/>', {
        type: 'hidden',
        name: this.name,
        value: this.value
      }));
    });
    console.log(form)
    form.appendTo('body').submit();
  }
*/

  $('#create_action').click(function(){
    var production_order_params = '<%=  params.to_json.html_safe %>'
    console.log(JSON.parse(production_order_params));
    $('#bar-spinner-message').html("Creating production order");
    $('#create_action').attr('disabled',true);
    $('#create_action').html('Creation order....');
    myApp.showPleaseWait();
    $.post("<%=  url_for(:action => :create_from_product,:controller => :production_orders) %>",JSON.parse(production_order_params))
     .done(function( data ) {
        if ($.isNumeric( data )){
          window.location = '<%= url_for(:action => :dynamic_id_show) %>?id='+data
        } else {
          $(".modal").modal('hide');
          $('#create_action').addClass('hidden');
          $('#back_btn').removeClass('hidden');
          $('#errorMsg').html(data);
          $('#errorDiv').removeClass('hidden');
          flash_on_demand("error","Creating production order failed",data);
        }
      })
     .always(function( data ){
       toggleBarSpinner("")
     })
    return false
  })

  var myApp;
  myApp = myApp || (function () {
    var pleaseWaitDiv = $('<div class="modal hide" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false"><div class="modal-header"><h4>Processing...</h4></div><div class="modal-body"><div class="progress progress-striped active"><div class="bar" style="width: 100%;"></div></div></div></div>');
    return {
      showPleaseWait: function() {
        pleaseWaitDiv.modal();
      },
      hidePleaseWait: function () {
        pleaseWaitDiv.modal('hide');
      }
    };
  })();


  function set_loglevel(loglevel) {
    $('div[data-logging_level]').each(function(){
      if ((parseInt($(this).attr('data-logging_level'))) > loglevel) {
        $(this).addClass('hidden')
      }
      else
      {
        $(this).removeClass('hidden')
      }
    })
  }
  $("#loglevel").select2();
  $("#loglevel").change(function(){
    var selected = parseInt($("#loglevel").val());
    set_loglevel(selected);
  })
  set_loglevel(parseInt($("#loglevel").val()));

</script>
