<div class="container">
  <div class="row">
    <div class="span9">
      <h3>Checking production order</h3>
    </div>
    <div class="span1">
      <strong>Loglevel</strong>
    </div>
    <div class="span2">
      <%= select_tag "loglevel", options_for_select(Checklog.loglevel_hash, @checklog_level), :class => 'span2' %>
    </div>
  </div>

  <div class="row">
    <div class="span12 bounded">
      <%= render(:partial => "checked", :locals => {:heading => @heading, :checklog => @checklog, :level => 0}) %>
    </div>
  </div>

  <div class="row">
    <div class="span6">
      <%= link_to({:action => :new,:controller => :production_orders, :params=>params,:conversiontool_id=>params[:conversiontool_id],:cvtool_bundle_id => params[:cvtool_bundle_id]},{:class => 'btn btn-primary'}) do %>
        <i class="icon-barcode"></i>&nbsp;Create production order
      <% end %>
      <%= link_to({:controller => :production_orders},{:class => 'btn'}) do %>
        <i class="icon-arrow-up"></i>
      <% end %>
    </div>
  </div>

</div>

<script>
  function set_loglevel(loglevel) {
    $('div[data-logging_level]').each(function(){
      if ((parseInt($(this).attr('data-logging_level'))) > loglevel) {
        $(this).addClass('hidden')
      }
      else
      {
        $(this).removeClass('hidden')
      }
    })
  }
  $("#loglevel").select2();
  $("#loglevel").change(function(){
    var selected = parseInt($("#loglevel").val());
    set_loglevel(selected);
  })
  set_loglevel(parseInt($("#loglevel").val()));

</script>
