<h3>Check production order</h3>
<%= form_for(@production_order, :url => { :action => :checked }, :method => :post) do |f| %>
  <%= render :partial => "formfields_edit_new", :object => f %>

<script type="text/javascript">
jQuery(function($) {
  $("#production_order_ordertype_id").change(function() {
    var selected = $('select#production_order_ordertype_id :selected').val();
    if(selected == "") selected="0";
    jQuery.get('<%=h url_for(:controller => 'production_orders',:action => 'get_productsets_by_type') %>'+'?ordertype_id=' + selected, function(data){
        $("#productset_div").html(data)
        $("#production_order_productset_id").chosen()
    })
       
    return false;
  });
})
</script>  

  <div class="row">
    <div class="span6">
      <%= link_to({:controller => :production_orders},{:class => 'btn',:title => 'Back'}) do %>
        <li class="icon-arrow-left"></li>
      <% end %>
        <%= f.submit "Check",:class => 'btn',:title=> 'Check production order' %>
    </div>
  </div>

<% end %>




 
