<div class="row">
  <div class="span4 bounded bounded-headered">
    <div class="row bounded-header">
      <div class="span4">
        <h4>Complete work product level</h4>
      </div>
    </div>
    <%= form_for(@production_orderline, :url => {:action => 'confirm_work_product', :id => @production_orderline.production_order.id, :poid => @production_orderline.id },:html => {:class => "form-inline"}) do |f| %>
      <% bp_id = @production_orderline.process_transition.to_process %>
    <div class="row">
      <div class="span0_5">&nbsp;</div>
      <div class="span input-append">
        <%= f.select :bp_name, ProcessTransition.where("from_bp = #{bp_id.id} and from_level = 'PRODUCT' and ordertype_id = #{@production_orderline.production_order.ordertype_id}").collect{|x|[x.action_label,x.id]},{},{:class => "span2"} %>
        <%= f.submit "Update order",:class => "btn btn-info", :style=>"margin-top:0px;" %>
      </div>
    </div>
    <% end %>
  </div>
</div>


<%= link_to(manage_production_order_path(@production_order), :class => "btn", :title => "back") do %>
 <i class="icon icon-arrow-left"></i>
<% end %>

<script type="text/javascript">
  $("#production_orderline_bp_name").chosen();
</script>

