<div class="row">
  <div class="span4 bounded bounded-headered">
    <div class="row bounded-header">
      <div class="span4">
        <h4>Complete work</h4>
      </div>
    </div>
    <%= form_for(@production_order, :url => {:action => 'confirm_work', :id => @production_order.id},:html => {:class => "form-inline"}) do |f| %>
      <% bp_id = BusinessProcess.find_by_name("#{@production_order.bp_name}") %>
    <div class="row">
      <div class="span0_5">&nbsp;</div>
      <div class="span input-append">
        <%= f.select :bp_name, ProcessTransition.where("from_bp = #{bp_id.id} and from_level = 'SET' and ordertype_id = #{@production_order.ordertype_id}").collect{|x|[x.action_label,x.id]},{},{:class => "span2"} %>
        <%= f.submit "Update order",:class => "btn btn-info", :style=>"margin-top:0px;" %>
      </div>
    </div>
    <% end %>
  </div>
</div>


<%= link_to(manage_production_order_path(@production_order), :class => "btn", :title => "back") do %>
 <i class="icon icon-arrow-left"></i>
<% end %>

<script type="text/javascript">
  $("#production_order_bp_name").chosen();
</script>