<% if @production_order.errors.any? %>
  <ul>
    <% @production_order.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<div class="row">
  <div class="span10 bounded bounded-headered">
    <div class="row bounded-header">
      <h4 class="text-center">Edit baseline commitment of production order<br />"<%= @production_order.name %>"</h4>
    </div>
      <%= form_for(@production_order, :url => {:action => :update_baseline_commitment}) do |f| %>
        <div class="span9">
          <div class="input-prepend input-append bounded-headered-align">
            <button type="button" id="cleanDate" class="btn" title="clear date field"><i class="icon-remove-sign"></i></button>
            <%= f.text_field :baseline_commitment_date, { :placeholder => 'dd-mm-yyyy', :required => 'required', :class => 'span2'} %>
            <%= select_tag 'commitment_reason_id', options_for_select(CommitmentChangeReason.where(:commitment_type => ProductionOrder::COMMITMENT_BASELINE).collect{|r| [r.reason, r.id]}),{:include_blank => true, :class => 'span3 ', :data => {:placeholder => 'Assign reason' }} %>
            <%= f.submit 'Update baseline commitment', :class => 'btn' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="span10">
    <%= link_to :back, :class => 'btn', :title => 'back' do %>
      <i class="icon-arrow-left"></i>
    <% end %>

    <%= link_to production_orders_path, :class => 'btn', :title => 'overview' do %>
      <i class="icon-arrow-up"></i>
    <% end %>

    <%= link_to @production_order,:class => 'btn', :title => 'show' do %>
      <i class="icon-eye-open"></i>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $('#commitment_reason_id').chosen({allow_single_deselect: true});
  $('#production_order_baseline_commitment_date').datepicker({
    format: 'dd-mm-yyyy'
  });
  $("#cleanDate").click(function(){
    $(this).next().val('');
  })
</script>
