<div class="row">
  <div class="span3"><h4>Editing production order</h4></div>
</div>

<% if @production_order.errors.any? %>
  <ul>
    <% @production_order.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for(@production_order) do |f| %>
  <%= render :partial => "formfields_edit_new", :object => f %>

  
  <div id="tagsshow">
    <%= render( :partial => 'show_tags' ) %>
  </div>


  <div class="row">
    <div class="span1"><%= f.submit "Update",:class => 'btn btn-primary' %></div>
  </div>
  
<% end %>

