<% if @production_order.errors.any? %>
  <ul>
    <% @production_order.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<div class="row">
  <div class="span4 bounded bounded-headered">
    <div class="row bounded-header">
      <h4 class="text-center">Edit expiry date of production order<br />"<%= @production_order.name %>"</h4>
    </div>
    <div class="row">
      <%= form_for(@production_order,:url => {:action => :update_expiry_date}) do |f| %>
        <div class="span4">
          <div class="input-prepend input-append">
            <button type="button" id="cleanDate" class="btn" title="clear date field"><i class="icon-remove-sign"></i></button>
            <%= f.text_field :expiry_date, {:placeholder => "dd-mm-yyyy",:required => 'required',:class=>"span2"} %>
            <%= f.submit "Update expiry date",:class => 'btn' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= link_to :back,:class => 'btn',:title => "back" do %>
<i class="icon-arrow-left"></i>
<% end %>

<%= link_to products_path,:class => 'btn',:title => "overview" do %>
  <i class="icon-arrow-up"></i>
<% end %>

<%= link_to @product,:class => 'btn',:title => "show" do %>
  <i class="icon-eye-open"></i>
<% end %>

<script type="text/javascript">
  $('#production_order_expiry_date').datepicker({
    format: 'dd-mm-yyyy',
    startDate: Date()
  });
    $("#cleanDate").click(function(){
    $(this).next().val('');
  })
</script>