<h4>Production orders</h4>
<div class="row">
<% BusinessProcess.order('name DESC').core_bp.each do |core| %>
  <div class="span6 bounded" style="padding: 5px;min-height: 500px;">
    <div class="row">
      <div class="span4"><strong><%= link_to core.name, {:action => :index,:status_filter => core.name},{:target => '_blank'} %></strong></div>
    </div>
    <div class="row">
      <div class="span6">
        <table class="table table-condensed table-striped">
          <% @order = ProductionOrder.where(:bp_name => "#{core.name}",:project_id => session[:project_id]).order('updated_at DESC').paginate(:per_page => 13,:page=> params["#{sanitize(core.name)}"]).each do |order|  %>
          <tr>
            <td>
              <%= link_to({:action => :index, :id_filter => order.id},{:target => '_blank',:title => 'show'}) do %>
                <%= order.id %>
              <% end %>
            </td>
            <td><span id="<%= order.id %>"><%= order.name %></span></td>
            <% popover = '' %>
            <% order.production_orderlines.collect{|ol|[ol.product_id,ol.bp_status,ol.bp_name]}.each do |ol|
              popover = popover + "<strong>#{ol[0]}</strong> #{ol[1]} #{ol[2]} <br />"
            end %>
            <script type="text/javascript">
              $('#<%= order.id %>').popover({title:'Orderlines',html:true,trigger:'hover',content:'<%= raw popover %>',template: '<div class="popover span4"><div class="arrow"></div><div class="popover-inner myclass"><h3 class="popover-title"></h3><div class="popover-content"><p></p></div></div></div>'});
            </script>
            <td>
              <% if !order.ordertype.nil? %>
              <%= order.ordertype.name %>
              <% end %>
            </td>
            <td>
            <%= link_to({:action => :manage, :id => order.id},{:target => '_blank'}) do %>
              <i class="icon icon-edit" title="handle order">&nbsp;</i>
            <% end %>
            <%= link_to({:action => :trace, :id => order.id},{:target => '_blank'}) do %>
              <i class="icon icon-zoom-in" title="show details">&nbsp;</i>
            <% end %>
            </td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="span4"><%= will_paginate @order,:param_name =>  sanitize(core.name),:class => 'pagination pagination-mini'  %></div>
      <div class="span2"><%= page_entries_info @order %></div>
    </div>
  </div>
<% end %>
</div>