<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand">
        <strong>Production orders</strong>
      </div>
      <%= form_tag production_orders_path, :method => 'get', :class => "form-inline", :style => 'max-height: 35px' do %>
          <div class="span">
            <div class="input-bar">
              <%= check_box_tag 'finished', "1", @finished,{:data => {"text-label" => "finished","off-label" => "","on-label" => "Include",:size => "normal",:on => "success",:off => "default","off-label" => "excluded"}} %>
            </div>
          </div>
          <div class="span">
            <%= select_tag(:product_line, options_for_select([''] + ProductLine.all.collect{|x|[x.abbr.to_s ,x.id]}.sort, params[:product_line]), {:include_blank => true, :data => {:placeholder=>"Select Product line"}, :class => 'span2'}) %>
          </div>
          <div class="span">
            <%= hidden_field_tag :direction, params[:direction] %>
            <%= hidden_field_tag :sort, params[:sort] %>
            <div class="input-prepend input-append">
              <%= button_tag "new", :name => nil, :type => :button, :class => "btn btn-info",:id => 'new' %>
              <%= text_field_tag :search, params[:search],{:placeholder => 'Product-ID / Order name'} %>
              <%= button_tag "Search", :name => nil, :type => :submit, :class => "btn" %>
              <%= button_tag "Reset", :name => 'reset',:class=>"btn",:type=>:submit,:value=>'reset' %>
            </div>            
          </div>
         
          <label>
            <div class="control-group">
              <% if @tags %>
              <% @tags.each do |tag| %>
                <% if tag.to_s == params[:tag].to_s
                  tagclass= 'btn btn-mini btn-success'
                else
                  tagclass= 'btn btn-mini'
                end %>
                <label><%= button_to tag, {:tag => tag}, {:class => tagclass,:method => :get,:name => 'tag'} %></label>
              <% end %>
              <% end %>
            </div>
          </label>
      <% end %>

    </div>
  </div>
</div>

<div id="endless">
  <div class="row">
    <div class="span1 offset1"><strong><%= sortable "production_orders.id","Id" %></strong></div>
    <div class="span1"><strong><%= sortable "production_orders.baseline_commitment_date","Baseline" %></strong></div>
    <div class="span1"><strong><%= sortable "production_orders.modified_commitment_date","Modified" %></strong></div>
    <div class="span1"><strong><%= sortable "production_orders.expiry_date","Expired" %></strong></div>
    <div class="span3"><strong><%= sortable "production_orders.name","Order name" %></strong></div>
    <div class="span1"><strong><%= sortable "production_orders.bp_name", "Status" %></strong></div>
    <div class="span1"><strong><%= sortable "ordertypes.name","Type" %></strong></div>
    <div class="span1"><strong><%= sortable "ordertypes.is_frontend", "Frontend?" %></strong></div>
    <div class="span3"><strong><%= sortable "productsets.setcode","Product set" %></strong></div>
  </div>

  <%= render(:partial => "production_order", :collection => @production_orders) %>
</div>

<%= will_paginate(@production_orders) %>
<%= pageless(@production_orders.total_pages, production_orders_path, "#endless", params) %>

<script type="text/javascript">
  $('#new').click(function(){
    window.location.href="<%= url_for(:action => :new) %>";
  });

  $("#product_line").chosen({allow_single_deselect:true,placeholder: 'select Product line', search_contains: true})
  $("#finished").bootstrapSwitch();
</script>



