<%= render :partial => "show_data" %>
<% bp_id = BusinessProcess.find_by_name("#{@production_order.bp_name}") %>

<div class="row">
  <div class="span12">
    <div class="row">
      <div class="span10">&nbsp;
        <% if @production_order.bp_name != ProductionOrder::BP_NAME_CANCELLED &&  @production_order.bp_name != ProductionOrder::BP_NAME_COMPLETE && @production_order.bp_name != ProductionOrder::BP_NAME_DELETED %>
          <%= link_to({:action => :cancel, :id => @production_order.id} , {:class => 'btn btn-small btn-danger',:confirm => 'Are you sure?'}) do %>
            <i class="icon-off">&nbsp;</i>Cancel order
          <% end %>
          <%= link_to({:action => :terminate, :id => @production_order.id} ,
            {:class => 'btn btn-small btn-danger',:confirm => 'Are you sure to kill all processes for this order? All created (half)products will be removed!',
              :title => 'kill all processes for this order and remove created (half)products',:method => :post}) do %>
            <i class="icon-trash">&nbsp;</i>Terminate order
          <% end %>
            <% if @production_order.ordertype.job_support_yn && !@production_order.production_orderlines.where("product_design is not null").empty? %>
            <a href="#resetOrdermodal" role="button" class="btn btn-small btn-warning" data-toggle="modal"><i class="icon-refresh">&nbsp;</i>Reset order</a>
            <% else %>
            <%= link_to(force_complete_production_order_path(@production_order),{:confirm => "Are you to overrule the workflow, and set this order to complete?",:class => 'btn btn-small btn-danger',:method => :post}) do %>
              <i class="icon-fast-forward">&nbsp;</i>Force Complete
            <% end %>
            <% end %>
          <% if @production_order.bp_name == "ORDERENTRY" %>
            <%= link_to 'Complete order entry', {:action => :order_entry, :id => @production_order.id}, {:class => 'btn btn-small', :style => 'border-style:solid;border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba (0, 0, 0, 0.25);'} %>
          <% elsif  ProcessTransition.where("from_bp = #{bp_id.id} and from_level = 'SET' and ordertype_id = #{@production_order.ordertype_id}").size > 0 %>
            <%= link_to 'Next phase', {:action => :complete_work, :id => @production_order.id}, {:class => 'btn btn-small',:style=>'border-style:solid;border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);'} %>
          <% end %>
        <% end %><br /><br />
      </div>
    </div>
  </div>
</div>

<div id="line_partial">
  <%= render :partial => "order_lines", :object => [@production_order,@action=params[:action] ]%>
</div>

<% if !@production_order.ordertype.no_pds_yn %>
  <div class="row">
    <div class="span12 bounded" style="padding-top: 2px">
      <h5>Release note editor</h5>
      <div class="row">
        <% if @product_release_note.nil? %>
          <div class="span2">
            <%= link_to ({:controller => :product_release_notes,:action => :create_from_production_order, :production_order_id => @production_order.id}) do %>
              <i class="icon-comment">&nbsp;</i>create release note
            <% end %>
          </div>
        <% else %>
          <div class="span2">
            <%= link_to ({:controller => :product_release_notes,:action => :show, :id => @production_order.product_release_note.id}) do %>
              <i class="icon-edit">&nbsp;</i>edit release note
            <% end %>
          </div>
          <div class="span8">
            <% if @product_release_note.status < 10 %>
              <%= link_to ({:controller => :product_release_notes,:action => :to_status, :id => @production_order.product_release_note.id, :status => 10}) do %>
                <i class="icon-adjust">&nbsp;</i>set to review
              <% end %>
            <% end %>
            <% if @product_release_note.status == 10 %>
              <%= link_to ({:controller => :product_release_notes,:action => :to_status, :id => @production_order.product_release_note.id, :status => 30})  do %>
                <i class="icon-thumbs-up">&nbsp;</i>set to approved
              <% end %>
            <% end %>
            <% if @product_release_note.status == 30 %>
              <%= link_to ({:controller => :product_release_notes,:action => :package, :id => @production_order.product_release_note.id}) do  %>
                <i class="icon-gift">&nbsp;</i>create package
              <% end %>
            <% end %>
            <% if @product_release_note.document && @product_release_note.status == 40 %>
              <%= link_to :action => :download , :id => @product_release_note.document_id, :controller => :documents, :version => DocumentVersion.where(:document_id => @product_release_note.document_id).last.version do %>
                <i class="icon-download-alt">&nbsp;</i>download latest package
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="row">
      <% if @product_release_note && @product_release_note.document %>
      <% versions = DocumentVersion.select('id,document_id,document_object_id,filename,version').where("document_id = #{@product_release_note.document.id}").order('version DESC') %>
        <% if !versions.empty? %>
        <table class="table table-condensed span12">
        <tr>
          <th>Filename</th>
          <th>Version</th>
          <th>&nbsp;</th>
        </tr>
        <% versions.each do |ver| %>
        <tr>
          <td><%= ver.filename %></td>
          <td><%= ver.version %></td>
          <td>
            <%= link_to(:action => :download , :id => ver.document_id, :ver => ver.version, :controller => :documents) do %>
              <i class="icon-download-alt">&nbsp;</i>
            <% end %>
          </td>
        </tr>
        <% end %>
        </table>
        <% end %>
      <% end %>
    </div>
    <% if !@production_order.rel_notes_requested_date.blank? %>
      <div class="row">
        <div class="span6">
          <% if  !@production_order.rel_notes_send_date.blank? && !@production_order.rel_notes_requested_date.blank? %>
            <%= @production_order.rel_notes_send_date %> send by <%= @production_order.rel_notes_send_user.first_name.to_s %>  <%= @production_order.rel_notes_send_user.last_name.to_s %>
          <% else %>
            <%= link_to 'Register release notes as send', {:action => :release_notes_send, :id => @production_order.id} , {:confirm => 'Are you sure the releasenotes are send to the customer?'} %>
          <% end %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
<% end %>

<%= render "status_log" %>

<div class="row">
  <div class="span3">
    <%= link_to(:back,:class => "btn",:title => "back") do %>
      <i class="icon-arrow-left"></i>
    <% end %>
    <%= link_to(production_orders_path,:class => "btn",:title => "overview") do %>
      <i class="icon-arrow-up"></i>
    <% end %>
    <%= link_to(production_order_path(@production_order),:class => "btn",:title => "show") do %>
      <i class="icon-eye-open"></i>
    <% end %>
    <a class="accordion-toggle btn" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne" title="status log">
      <i class="icon-time"></i>
    </a>
    <%= link_to(edit_production_order_path(@production_order),:class => 'btn',:id => 'btnEdit', :title => "edit") do %>
      <i class="icon-edit"></i>
    <% end %>
  </div>
</div>

<!-- Reset Modal for whole order -->
<div id="resetOrdermodal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="resetOrdermodalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="resetOrdermodalLabel">Reset whole order</h4>
  </div>
  <div class="modal-body" style="overflow: hidden">
    <p>Previous last conversion was requested with the following conversion tooling:</p>
    <p id="error_explanation" class="hidden alert-error">Both the conversion tool and the tool bundle must be selected.</p>
    <%= form_tag(url_for(:action => :reset_order, :id => @production_order.id, :controller => :production_orders), :id => "reset-production_order") do %>
      <div class="row">
        <!-- TODO: Fix the cvtool_bundle_id_workaround, after changing the conversiontool_id, the cvtool_bundle_id is no longer posted, solved for now by setting the value in a hidden field, which will be posted, but this is clearly an ugly workaround -->
        <%= hidden_field_tag :cvtool_bundle_id, @production_order.production_orderlines.last.used_cv_tooling[1][0], :id => "hidden-cvtool_bundle_id" %>
        <div class="span2">
          <%= select_tag :conversiontool_id, options_for_select(Conversiontool.select_tag << @production_order.production_orderlines.last.used_cv_tooling[0],@production_order.production_orderlines.last.used_cv_tooling[0]), :id => "reset-conversiontool_id",:class=>"span2" %>
        </div>
        <div class="span2" id="cvtool_bundle_div">
          <%= select_tag :cvtool_bundle_id_workaround, options_for_select(CvtoolBundle.select_cvtool_bundles(params[:conversiontool_id],@production_order.production_orderlines.last), @production_order.production_orderlines.last.used_cv_tooling[1]), :id => "reset-cvtool_bundle_id", :class=>"span2", :data => { :placeholder => "Select CV tool bundle" } %>
        </div>
      </div>

      <p>You may overwrite the previous selection, or use the same tooling.</p><br />
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button class="btn hidden" type="button" id="restartConfirm">Restart</button>
      <button class="btn btn-danger" type="submit" id="resetConfirm">Reset</button>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $("#reset-conversiontool_id").select2();
  $("#reset-cvtool_bundle_id").select2();
  $("#reset-conversiontool_id").change(function(){
    var selected = $('select#reset-conversiontool_id :selected').val();
    if(selected == "") selected="0";
    jQuery.get('<%= url_for get_cvtool_bundles_cvtool_bundles_path %>'+'?conversiontool_id=' + selected + "&tag=reset-cvtool_bundle_id&useworkaround=1", function(data){
      $("#cvtool_bundle_div").html(data);
    })
    return false;
  });

  $('#resetModal').on('shown', function () {
    $('body').css("overflow", "hidden");
    clearRefresh();
  });
  $('#resetModal').on('hidden', function () {
    $('body').css("overflow", "visible");
    $('.modal-backdrop').remove();
  });

  $("#reset-production_order").submit(function(event) {
    if ($('#reset-conversiontool_id').val() == "" || $('#reset-cvtool_bundle_id').val() == "") {
      $("#error_explanation").removeClass("hidden");
      event.preventDefault();
    }
    var cvtool_bundle_value = $('#reset-cvtool_bundle_id').val();
    $('#hidden-cvtool_bundle_id').val(cvtool_bundle_value);
  });

  $("#resetModal").on('hidden', function () {
    $("#resetModalLabel").html("Reset order-line");
    $("#restartConfirm").addClass("hidden");
    $("#resetConfirm").removeClass("hidden");
    refreshLines();
  })

  <% if !@production_order.allow_edit? %>
    $("#btnEdit").addClass("disabled").attr("title","editing not allowed")
  <% end %>
</script>