<h1>Listing production orders</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Productset</th>
    <th>Status</th>
    <th>Requestor</th>
    <th>Owner</th>
    <th>Baseline commitment</th>
    <th>Priority</th>
  </tr>

<% for production_order in @production_orders %>
  <tr>
    <td><%=h production_order.id.to_s %></td>
    <td><%=h production_order.setname %></td>
    <td><%=h production_order.bp_name %></td>
    <td><%=h production_order.requestor %></td>
    <td><%=h production_order.owner %></td>
    <td><%=h production_order.baseline_commitment_date.strftime("%d/%m/%Y") %></td>
    <td><%=h production_order.priority %></td>
    <td><%= link_to 'Show', production_order %></td>
  </tr>
<% end %>
</table>

<br />
<%= will_paginate @production_orders %>
<%= link_to 'New production_order', new_production_order_path %>
