<h3>New production order</h3>

  <% if @production_order.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@production_order.errors.count, "error") %> prohibited this order from being saved:</h4>
      <ul>
        <% @production_order.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<%= form_for(@production_order) do |f| %>

  <%= render :partial => "formfields_edit_new", :object => f %>

<script type="text/javascript">
jQuery(function($) {
  $("#production_order_ordertype_id").change(function() {
    var selected = $('select#production_order_ordertype_id :selected').val();
    var preselected_productset_id = $('select#production_order_productset_id :selected').val();
    if(selected == "") selected="0";
    jQuery.get('<%= url_for(:controller => 'production_orders',:action => 'get_productsets_by_type') %>'+'?ordertype_id=' + selected, function(data){
        $("#productset_div").html(data)
        $('#production_order_productset_id').val(preselected_productset_id);
        $("#production_order_productset_id").select2({search_contains: true, required: 'required'})
    })
    return false;
  });
})
</script>  

  <p><%= f.submit "Create",:class => 'btn' %></p>

<% end %>

<%= link_to(:controller => :production_orders) do %>
  <li class="icon-arrow-left">&nbsp;back</li>
<% end %>


 
