<% if @production_order.errors.any? %>
  <div id="error_explanation">
    <h4><%= pluralize(@production_order.errors.count, "error") %> prohibited this order from being saved:</h4>
    <ul>
      <% @production_order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@production_order, :url => {:action => 'create_from_product'}) do |f| %>

<div class="row">
  <div class="span12 bounded bounded-headered">
    <div class="row bounded-header">
      <div class="span10"><h4>Create production order from product</h4></div>
    </div>
    <%= render :partial => "formfields_edit_new_product", :object => f %>
  </div>
</div>

<div class="row">
  <div class="span6">
    <%= link_to({:controller => :production_orders},{:class => 'btn', :title => 'Back'}) do %>
      <li class="icon-arrow-left"></li>
    <% end %>
    <%= f.submit "Create",:class => 'btn', :title => 'Create production order' %>
  </div>
</div>
  
<% end %>
