$("#resetModal-<%= @production_orderline.id %>").modal('hide');
<% if @production_order.ordertype.no_pds_yn %>
  $('#line_partial').html('<%= escape_javascript(render "manage_product_lines", :object => @production_order) %>');
<% else %>
  $('#line_partial').html('<%= escape_javascript(render "manage_half_product_lines", :object => @production_order) %>');
<% end %>


$.delay(1800).$('#bar-spinner-message').html('<%= @mesg[1] %>');
