<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<h1>Select product to add</h1>
<%= form_tag(:action => 'add_product')  %>
  <p>
    <%= hidden_field_tag :po_id, params[:id] %>
    <%= select_tag :product_id, options_for_select(@products.collect {|x| [x.volumeid + " " + x.name.to_s,x.id]}) %>
    <%= submit_tag 'Add' %>
  </p>
</form>

