<%= render :partial => "show_data" %>
<div id="line_partial">
  <%= render :partial => "order_lines", :object => [ @production_order,@action=params[:action] ] %>
</div>
<%= render :partial => "status_log" %>

<div class="row">
  <div class="span3">
    <%= link_to(:back,:title => "back",:class => "btn",:title => "back") do %>
      <i class="icon-arrow-left"></i>
    <% end %>
    <%= link_to(production_orders_path,:class => "btn",:title => "overview") do %>
      <i class="icon-arrow-up"></i>
    <% end %>
    <%= link_to({:action => :manage, :id => @production_order.id},{:class => "btn",:title => "handle"}) do %>
      <i class="icon-tasks"></i>
    <% end %>
    <a class="accordion-toggle btn" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne" title="status log">
      <i class="icon-time"></i>
    </a>
    <%= link_to(edit_production_order_path(@production_order),:class => "btn", :title => "edit",:id => "btnEdit") do %>
      <i class="icon-edit"></i>
    <% end %>
  </div>
</div>

<script type="text/javascript">
    <% if !@production_order.allow_edit? %>
    $("#btnEdit").addClass("disabled").attr("title","editing not allowed")
  <% end %>
</script>