<div class="row">
  <div class="span1"><span class="label label-info"><%= @production_order.bp_name %></span></div>
</div>
<div class="row">
  <div class="span12 bounded bounded-headered flat-roof">
    <div class="row bounded-header">
      <div class="span12"><h4>Production order Trace: <%= @production_order.id %> <%= @production_order.name %></h4></div>
    </div>
    <div class="row">
      <div class="span12">
        <% if @product_release_note = ProductReleaseNote.find_by_production_order_id(@production_order.id) %>
          <% versions = DocumentVersion.select('id,document_id,document_object_id,filename,version').where("document_id = #{@product_release_note.document.id}").order('version DESC') %>
          <% if !versions.empty? %><br />
            <table class="table table-condensed table-striped">
              <tr>
                <th>Product release note</th>
                <th>Version</th>
                <th>download</th>
              </tr>
              <% versions.each do |ver| %>
                <tr>
                  <td><%= ver.filename %></td>
                  <td><%= ver.version %></td>
                  <td>
                    <%= link_to(:action => :download , :id => ver.document_id, :ver => ver.version, :controller => :documents) do %>
                      <i class="icon-download-alt">&nbsp;</i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </table>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="span10"><h4>Product(s)</h4></div>
    </div>
    <div class="row">
      <div class="span12">
        <table class="table table-striped table-condensed">
          <thead>
          <th>Conversion</th>
          <th>Test request</th>
          <th>Medium request</th>
          <th>Product registration</th>
          <th>Shipment</th>
          </thead>
          <tbody>
            <% @production_order.production_orderlines.each do |line| %>
              <tr><td colspan="5"><strong><%= line.product_id %></strong></td></tr>
              <% conversion_tests = [] %>
              <% line.conversions.each do |conversion| %>
                <tr>
                  <td>
                    <% if conversion.status == Conversion::STATUS_ENTRY %>
                      <%= link_to(conversion.id,{:action => :edit,:id => conversion.id,:controller => :conversions,:return_to_controller => controller.controller_name,
                          :return_to_action => controller.action_name, :return_to_id => @production_order.id},{:title => conversion.status_str}) %>
                    <% else %>
                      <%= link_to(conversion.id,conversion,{:target => "_blank",:title => conversion.status_str}) %>
                    <% end %>&nbsp;
                    <%= conversion.input_format %> - <%= conversion.output_format %> <%= conversion.status_str %>
                  </td>
                  <td>
                    <% line.test_requests.each do |test_request| %>
                      <% if test_request.first_test_db && test_request.first_test_db.conversion.id.to_s == conversion.id.to_s %>
                        <% conversion_tests << test_request %>
                        <%= link_to(test_request.id,test_request, {:target => "_blank",:title => test_request.status}) %>&nbsp;
                        <%= test_request.status %>
                      <% end %>
                    <% end %>
                  </td>
                  <td>
                    <% conversion.stock.each do |medium| %>
                      <%= link_to(medium.id,show_request_stock_path(medium), {:target => "_blank",:title => medium.status}) %>&nbsp;
                      <%= medium.medium_number %> / <%=  medium.status %>
                    <% end %>
                  </td>
                  <td>
                    <% conversion.product_locations.each do |product_location| %>
                      <%= link_to(product_location.id,product_location, {:target => "_blank",:title => product_location.registration_date}) %>&nbsp;
                      <%= product_location.product_id %> R.<%= product_location.release_sequence %>
                    <% end %>
                  </td>
                  <td>
                    <% conversion.product_locations.each do |product_location| %>
                      <% product_location.outbound_orderlines.each do |outbound_orderline| %>
                        <%= link_to(outbound_orderline.outbound_order.id,outbound_orderline.outbound_order, {:target => "_blank",:title => outbound_orderline.filename}) %>&nbsp;
                        <%= outbound_orderline.outbound_order.shipto_name %>, <%= outbound_orderline.outbound_order.contact_person %> on <%= outbound_orderline.outbound_order.send_date %><br />
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              <% end %>


            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="span3">
    <%= link_to(:back,:title => "back",:class => "btn",:title => "back") do %>
      <i class="icon-arrow-left"></i>
    <% end %>
    <%= link_to(production_orders_path,:class => "btn",:title => "overview") do %>
      <i class="icon-arrow-up"></i>
    <% end %>
    <%= link_to(production_order_path(@production_order),:class => "btn",:title => "show") do %>
      <i class="icon-eye-open"></i>
    <% end %>
    <%= link_to({:action => :manage, :id => @production_order.id},{:class => "btn",:title => "handle"}) do %>
      <i class="icon-tasks"></i>
    <% end %>
  </div>
</div>

