<div class="row">
  <div class="span1">
    <div class="btn-group">
      <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
        Action
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to outbound_order_path(outbound_orderline.outbound_order) do %>
            <i class="icon-info-sign"></i>&nbsp;show shipment
          <% end %>
        </li>
        <li>
          <%= link_to report_outbound_orderline_path(outbound_orderline) do %>
            <i class="icon-th-list"></i>&nbsp;conversion report
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <div class="span1"><%= outbound_orderline.id %>&nbsp;</div>
  <div class="span2"><%= outbound_orderline.product_id %>&nbsp;</div>
  <div class="span3"><%= outbound_orderline.filename %>&nbsp;</div>
  <div class="span2"><%= outbound_orderline.outbound_order.shipto_name %>&nbsp;</div>
  <div class="span2"><%= outbound_orderline.outbound_order.send_date %>&nbsp;</div>
</div>