<div class="row">
  <div class="span10"><h3>Editing orderline</h3></div>
</div>

<% if @outbound_orderline.errors.any? %>
  <div class="alert alert-error">
    <% @outbound_orderline.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
  </div>
<% end %>

<%= form_for(@outbound_orderline) do |f| %>
  <% if @outbound_orderline.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@outbound_orderline.errors.count, "error") %> prohibited this outbound orderline from being saved:</h2>

      <ul>
      <% @outbound_orderline.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
  <div class="span2"><strong>Part of order line</strong></div>
    <% if ! @outbound_orderline.cd_no.to_s.blank? %>
      <%= f.hidden_field :parent_linenr, :value => @outbound_orderline.parent_linenr %>
      <div class="span4">Medium can not be part of another outbound orderline.</div>
    <% elsif @outbound_orderline.outbound_orderlines.empty? %>
      <div class="span4">
        <%= f.select :parent_linenr, @outbound_order.outbound_orderlines.where("parent_linenr is null").collect {|c| [ "#{c.product_id} (#{c.product_name})", c.id ] }, {:include_blank => true}, {:class => "span4", :data => {:placeholder => "Select an order line in which it will be packaged"}}  %>
      </div>
    <% else %>
      <%= f.hidden_field :parent_linenr, :value => @outbound_orderline.parent_linenr %>
      <div class="span4">Contains outbound orderlines itself.</div>
    <% end %>
  </div>

  <div class="row">
    <div class="span2"><strong>Cd no</strong></div>
    <div class="span4"><%= f.text_field :cd_no %></div>
  </div>

  <div class="row">
    <div class="span2"><strong>Amount</strong></div>
    <div class="span4"><%= f.text_field :amount %></div>
  </div>

  <div class="row">
    <div class="span2"><strong>Product</strong></div>
    <div class="span4"><%= f.text_field :product_id %></div>
  </div>

  <div class="row">
    <div class="span2"><strong>Filename</strong></div>
    <div class="span4"><%= f.text_field :filename %></div>
  </div>

  <div class="row">
    <div class="span2"><strong>Product name</strong></div>
    <div class="span4"><%= f.text_field :product_name %></div>
  </div>

  <%= f.hidden_field :outbound_order_id %>

  <div class="row">
    <div class="span2">
      <%= f.submit "Update" %>
    </div>
  </div>
<% end %>

<script>
  $('#outbound_orderline_parent_linenr').chosen({allow_single_deselect:true});
</script>

