<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand"><strong>Shipment lines of archived products</strong></div>
      <div class="span">
        <%= form_tag outbound_orderlines_path, :method => 'get' do %>
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <div class="input-prepend input-append">
            <%= text_field_tag :search, params[:search], :placeholder=>" Search",:class=>"span3",:size=>"16" %>
            <%= button_tag "Search", :name => nil, :type => :submit, :class => "btn" %>
            <%= button_tag "Reset", :name => 'reset',:class=>"btn",:type=>:submit %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="endless">
  <div class="row">
    <div class="offset1 span1"><strong><%= sortable 'outbound_orderlines.id', 'Id' %></strong></div>
    <div class="span2"><strong><%= sortable 'outbound_orderlines.product_id', 'Product id' %></strong></div>
    <div class="span3"><strong><%= sortable 'outbound_orderlines.filename', 'Filename' %></strong></div>
    <div class="span2"><strong><%= sortable 'outbound_orders.shipto_name', 'Shipment name' %></strong></div>
    <div class="span2"><strong><%= sortable 'outbound_orders.send_date', 'Shipment date' %></strong></div>
  </div>
  <%= render(:partial => 'outbound_orderline', :collection => @outbound_orderlines) %>
</div>
<%= will_paginate @outbound_orderlines %>
<%= pageless(@outbound_orderlines.total_pages, outbound_orderlines_path, '#endless') %>
