<h1>New outbound_orderline</h1>

<% if @outbound_order_line.errors.any? %>
  <div class="alert alert-error">
    <% @outbound_order_line.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
  </div>
<% end %>

<%= form_for(@outbound_orderline) do |f| %>
  <p>
    <b>Map no</b><br />
    <%= f.text_field :map_no %>
  </p>

  <p>
    <b>Cd no</b><br />
    <%= f.text_field :cd_no %>
  </p>

  <p>
    <b>Amount</b><br />
    <%= f.text_field :amount %>
  </p>

  <p>
    <b>Product</b><br />
    <%= f.text_field :product_id %>
  </p>

  <p>
    <b>Stock</b><br />
    <%= f.text_field :stock_id %>
  </p>

  <p>
    <b>Filename</b><br />
    <%= f.text_field :filename %>
  </p>

  <p>
    <b>Product name</b><br />
    <%= f.text_field :product_name %>
  </p>

  <p>
    <b>Outbound order</b><br />
    <%= f.text_field :outbound_order_id %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', outbound_orderlines_path %>
