<div class="row">
  <div class="span12 bounded bounded-headered">
    <div class="row bounded-header">
      <h4>Production Report Registered Product <%= link_to @product_location.product_id, @product_location %> in shipment <%= link_to @outbound_orderline.outbound_order_id, @outbound_orderline.outbound_order %></h4>
    </div>
    <div class="row">
      <div class="span1_5"><strong>Product format</strong></div>
      <div class="span2"><%= @product_location.product_format %></div>
      <div class="span1_5"><strong>Area</strong></div>
      <div class="span2"><%= @product_location.area %></div>
      <div class="span2"><strong>Product id</strong></div>
      <div class="span2_5">
        <% if @product_location.product_id && product = Product.find_by_volumeid(@product_location.product_id) %>
          <%= link_to @product_location.product_id, product %>
        <% else %>
          <%= @product_location.product_id.blank? ? "n.a." : @product_location.product_id %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="span1_5"><strong>Product type</strong></div>
      <div class="span2"><%= @product_location.product_type %></div>
      <div class="span1_5"><strong>Data release</strong></div>
      <div class="span2"><%= @product_location.data_release %></div>
      <div class="span2"><strong>Conversion</strong></div>
      <div class="span2_5">
        <% if @product_location.conversion %>
          <%= link_to @product_location.conversion_id, @product_location.conversion %>
        <% else %>
          n.a.
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="span1_5"><strong>Release seq.</strong></div>
      <div class="span2"><%= @product_location.release_sequence %></div>
      <div class="span1_5"><strong>Supplier</strong></div>
      <div class="span2"><%= @product_location.supplier %></div>
      <div class="span2"><strong>checksum</strong></div>
      <div class="span2_5"><%= @product_location.checksum_storage_file %></div>
    </div>
    <div class="row">
      <div class="span1_5"><strong>Registration date</strong></div>
      <div class="span2"><%= @product_location.registration_date %></div>
      <div class="span1_5"><strong>Production order</strong></div>
      <div class="span2">
        <% if @production_order %>
          <%= link_to @production_order.id, @production_order %>
        <% else %>
          n.a.
        <% end %>
      </div>
      <div class="span2"><strong>Conversion tool</strong></div>
      <div class="span2_5"><%= @product_location.conversiontool %></div>
    </div>
    <div class="row">
      <div class="span1_5"><strong>Commercial&nbsp;product&nbsp;file</strong></div>
      <div class="span8"><%= @product_location.storage_path %></div>
    </div>
    <div class="row">
      <div class="span1_5"><strong>Remarks</strong></div>
      <div class="span10">
        <pre class="real-pre"><%= @product_location.remarks %></pre>
      </div>
    </div>
  </div>
</div>

<%= render "conversions/report" %>

<div class="row">
  <div class="span12">
    <%= link_to :back, {:class => 'btn', :title => 'back'} do %>
      <i class="icon-arrow-left"></i>
    <% end %>
    <%= link_to outbound_orders_path, {:class => 'btn', :title => 'registered products overview'} do %>
      <i class="icon-arrow-up"></i>
    <% end %>
  </div>
</div>
