<p>
  <b>Map no:</b>
  <%=h @outbound_orderline.map_no %>
</p>

<p>
  <b>Cd no:</b>
  <%=h @outbound_orderline.cd_no %>
</p>

<p>
  <b>Amount:</b>
  <%=h @outbound_orderline.amount %>
</p>

<p>
  <b>Product:</b>
  <%=h @outbound_orderline.product_id %>
</p>

<p>
  <b>Stock:</b>
  <%=h @outbound_orderline.stock_id %>
</p>

<p>
  <b>Filename:</b>
  <%=h @outbound_orderline.filename %>
</p>

<p>
  <b>Product name:</b>
  <%=h @outbound_orderline.product_name %>
</p>

<p>
  <b>Outbound order:</b>
  <%=h @outbound_orderline.outbound_order_id %>
</p>


<%= link_to 'Edit', edit_outbound_orderline_path(@outbound_orderline) %> |
<%= link_to 'Back', outbound_orderlines_path %>
