<h3>Listing area types</h3>

<table>
  <tr>
    <th>Name</th>
    <th>Code</th>
    <th>Description</th>
  </tr>

<% for area_type in @area_types %>
  <tr>
    <td><%=h area_type.name %></td>
    <td><%=h area_type.code %></td>
    <td><%=h area_type.description %></td>
    <td><%= link_to 'Show', area_type %></td>
    <td><%= link_to 'Edit', edit_area_type_path(area_type) %></td>
    <td><%= link_to 'Destroy', area_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New area_type', new_area_type_path %>
