<p>
  <b>Name:</b>
  <%=h @area_type.name %>
</p>

<p>
  <b>Code:</b>
  <%=h @area_type.code %>
</p>

<p>
  <b>Description:</b>
  <%=h @area_type.description %>
</p>


<%= link_to 'Edit', edit_area_type_path(@area_type) %> |
<%= link_to 'Back', area_types_path %>
