<div id="jsFlash" style="margin-top: 10px;float:right;margin-right: 0px;position:absolute;right:0px;z-index: 9" class="span4 alert alert-block" data-dismiss="alert">
  <a class="close" data-dismiss="alert" href="#">×</a>
  <h4 class="alert-heading" id="jsFlashHeader">Flash on demand</h4>
  <div id="jsFlashContent">Custom content</div>
</div>