<li class="dropdown" >
  <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#" id="archive">
    Archive
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to(product_locations_path) do %>
        <i class="icon-barcode"></i>&nbsp;Registered products
      <% end %>
    </li>
    <li><%= link_to(assets_path) do %>
        <i class="icon-file"></i>&nbsp;Registered documents
      <% end %>
    </li>
    <li><%= link_to(:controller => :stock, :action => :index) do %>
        <i class="icon-fire"></i>&nbsp;Created Media
      <% end %>
    </li>
    <li class="divider"></li>
    <li><%= link_to(:controller => :product_locations, :action => :new) do %>
        <i class="icon-plus-sign"></i>&nbsp;Register product
      <% end %>
    </li>
    <li><%= link_to(:controller => :asset_types, :action => :create_number) do %>
        <i class="icon-plus-sign"></i>&nbsp;New document ID
      <% end %>
    </li>
    <li class="divider"></li>
    <li><%= link_to(asset_types_path) do %>
        <i class="icon-wrench"></i>&nbsp;Asset types
      <% end %>
    </li>
    <li><%= link_to(asset_type_number_ranges_path) do %>
        <i class="icon-wrench"></i>&nbsp;Asset type -number range
      <% end %>
    </li>
    <li><%= link_to(documents_path) do %>
        <i class="icon-wrench"></i>&nbsp;Documents
      <% end %>
    </li>
    <li><%= link_to(inbound_orderlines_path) do %>
        <i class="icon-wrench"></i>&nbsp;Received hardcopy data
      <% end %>
    </li>
  </ul>
</li>