<li class="dropdown" id="mine">
  <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">
    <% project_name = "Project(s)" %>
    <% project_name = Project.find(session[:project_id]).name if Project.find(session[:project_id]).name != "#{ConfigParameter.get("default_project_name")}" %>
    <strong><%= project_name %></strong>
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <% User.find(session[:user_id]).projects.active.each do |project| %>
    <li>
      <%= link_to(:action => :change_project, :project_id => project.id, :controller => :main) do %>
      <i class="icon  icon-arrow-right">&nbsp;</i><%= project.name %>
      <% end %>
    </li>
    <% end %>
    <li class="divider"></li>
    <li><%= link_to(projects_path) do %>
        <i class="icon-leaf"></i>&nbsp;Projects
      <% end %>
    </li>
    <li>
      <%= link_to(:controller => 'logout', :action => :index) do %>
        <i class="icon icon-off">&nbsp;</i>Logout
      <% end %>
    </li>
  </ul>
</li>