<li class="dropdown" id="configuration">
  <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">
    Configuration
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to(company_abbrs_path) do %>
        <i class="icon-wrench"></i>&nbsp;Company Abbreviations
      <% end %>
    </li>
    <li><%= link_to(regions_path) do %>
        <i class="icon-globe"></i>&nbsp;Regions
      <% end %>
    </li>
    <% if env_production? %>
    <li><%= link_to(area_types_path) do %>
        <i class="icon-wrench"></i>&nbsp;Area types
      <% end %>
    </li>
    <li><%= link_to(ordertypes_path) do %>
        <i class="icon-barcode"></i>&nbsp;Order types
      <% end %>
    </li>
    <% end %>
    <li><%= link_to(product_lines_path) do %>
        <i class="icon-barcode"></i>&nbsp;Product lines
      <% end %>
    </li>
    <% if env_production? %>
    <li><%= link_to(customer_content_specifications_path) do %>
        <i class="icon-barcode"></i>&nbsp;Customer content specifications
      <% end %>
    </li>
    <li><%= link_to(customer_content_definitions_path) do %>
        <i class="icon-barcode"></i>&nbsp;Customer content definitions
      <% end %>
    </li>
    <li><%= link_to(customer_content_values_path) do %>
        <i class="icon-barcode"></i>&nbsp;Customer content values
      <% end %>
    </li>
    <li><%= link_to(business_processes_path) do %>
        <i class="icon-barcode"></i>&nbsp;Business processes
      <% end %>
    </li>
    <li><%= link_to(packing_specifications_path) do %>
        <i class="icon-barcode"></i>&nbsp;Packing specifications
      <% end %>
    </li>
    <li><%= link_to(shipping_specifications_path) do %>
        <i class="icon-barcode"></i>&nbsp;Shipping specifications
      <% end %>
    </li>
    <li><%= link_to(commitment_change_reasons_path) do %>
        <i class="icon-wrench"></i>&nbsp;Commitment Change Reasons
      <% end %>
    </li>
      <li><%= link_to(job_fail_reasons_path) do %>
          <i class="icon-wrench"></i>&nbsp;Job fail Reasons
        <% end %>
      </li>
    <% end %>
    <% if env_production? %>
    <li><%= link_to(data_media_path) do %>
        <i class="icon-wrench"></i>&nbsp;Data media types
      <% end %>
    </li>
    <li><%= link_to(:controller => :productsets, :action => :show_import) do %>
        <i class="icon-upload"></i>&nbsp;PDS import
      <% end %>
    </li>
    <% end %>
    <li><%= link_to(:controller => :poi_mapping_layouts,:action => :upload_new) do %>
        <i class="icon-upload"></i>&nbsp;Import POI Mapping Layout
      <% end %>
    </li>
    <li><%= link_to(:controller => :company_abbrs,:action => :dakota_supplier_ids_file) do %>
        <i class="icon-download-alt"></i>&nbsp;SUPPLIER_IDS.TXT
      <% end %>
    </li>
    <li><%= link_to(:controller => :regions,:action => :dakota_region_ids_file) do %>
        <i class="icon-download-alt"></i>&nbsp;REGION_IDS.TXT
      <% end %>
    </li>
    <li><%= link_to(:controller => :regions,:action => :dakota_names_file) do %>
        <i class="icon-download-alt"></i>&nbsp;NAMES.TXT
      <% end %>
    </li>
    <% if env_production? %>
    <li><%= link_to(roles_path) do %>
        <i class="icon-user"></i>&nbsp;Roles
      <% end %>
    </li>
    <li><%= link_to(users_path) do %>
        <i class="icon-user"></i>&nbsp;Users
      <% end %>
    </li>
    <li><%= link_to(role_actions_path) do %>
        <i class="icon-lock"></i>&nbsp;Role-Action matrix
      <% end %>
    </li>
    <li><%= link_to(text_blocks_path) do %>
        <i class="icon-text-height"></i>&nbsp;Text blocks
      <% end %>
    </li>
    <% end %>
    <li><%= link_to(config_parameters_path) do %>
        <i class="icon-wrench"></i>&nbsp;Config parameters
      <% end %>
    </li>
  </ul>
</li>