<% puts "#####" + Rails.env.to_s %>




<%  if Rails.env == "staging" %>
  <div style="background-color:yellow;text-align: center" ><b>TEST ENVIRONMENT</b><hr/></div>
<% end  %>
<%  if Rails.env == "development" %>
  <div style="background-color:chartreuse;text-align: center"><b>DEVELOPMENT ENVIRONMENT</b><hr/></div>
<% else %>

<% end  %>
  
<div class="ui-tabs ui-widget  " style="font-size: 0.9em;">


</div>
  
