<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#" id="conversion">
    Conversion
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li>
      <%= link_to(conversions_path) do %>
        <i class="icon-question-sign"></i>&nbsp;Requests overview
      <% end %>
    </li>
    <li>
      <%= link_to(conversion_jobs_path) do %>
        <i class="icon-qrcode"></i>&nbsp;Conversion jobs overview
      <% end %>
    </li>
    <li>
      <%= link_to(validation_jobs_path) do %>
        <i class="icon-zoom-in"></i>&nbsp;Validation jobs overview
      <% end %>
    </li>
    <li>
      <%= link_to(patch_requests_report_conversions_path) do %>
        <i class="icon-adjust"></i>&nbsp;Patch requests report
      <% end %>
    </li>
    <li>
      <%= link_to(show_validation_errors_conversions_path) do %>
        <i class="icon-exclamation-sign"></i>&nbsp;Validation errors overview
      <% end %>
    </li>
    <li>
      <%= link_to(conversion_databases_path) do %>
        <i class="icon-file"></i>&nbsp;Databases overview
      <% end %>
    </li>
    <li>
      <%= link_to(:action => 'overview', :controller => 'servers', :project_id => session[:project_id]) do %>
        <i class="icon-th-list"></i>&nbsp;Server overview
      <% end %>
    </li>
    <li class="divider"></li>
    <li>
      <%= link_to(:action => 'failures', :controller => 'conversion_jobs') do %>
      <i class="icon icon-tags">&nbsp;</i>Tagging failed conversion jobs
      <% end %>
    </li>
    <li>
      <%= link_to(:action => 'failures', :controller => 'validation_jobs') do %>
      <i class="icon icon-tags">&nbsp;</i>Tagging failed validation jobs
      <% end %>
    </li>
    <li>
      <%= link_to(:controller => :conversion_databases,:action => :index,:removal_index => "true" ) do %>
        <i class="icon  icon-map-marker">&nbsp;</i>Mark databases for removal
      <% end %>
    </li>
    <% if env_production? %>
    <li class="divider"></li>
    <li>
      <%= link_to(:action => :new, :controller => :conversions) do %>
        <i class="icon  icon-plus-sign">&nbsp;</i>New conversion-request
      <% end %>
    </li>
    <li>
      <%= link_to(:action => :new_request, :controller => :stock) do %>
        <i class="icon  icon-plus-sign">&nbsp;</i>New medium-request
      <% end %>
    </li>
    <% end %>
    <li class="divider"></li>
    <% if env_production? %>
    <li><%= link_to(assembly_headers_path ) do%>
        <i class="icon-wrench"></i>&nbsp;Assemblies
      <% end %>
    </li>
    <% end %>
    <li><%= link_to(poi_mapping_layouts_path ) do%>
        <i class="icon-camera"></i>&nbsp;POI Mapping Layouts
      <% end %>
    </li>
    <% if env_production? %>
    <li>
      <%= link_to(:controller => :assembly_headers, :action => :new ) do%>
        <i class="icon-wrench"></i>&nbsp;New assembly
      <% end %>
    </li>
    <% end %>
    <li><%= link_to(conversiontools_path ) do%>
        <i class="icon-wrench"></i>&nbsp;Conversion tools
      <% end %>
    </li>
    <li><%= link_to(cvtool_bundles_path ) do%>
        <i class="icon-wrench"></i>&nbsp;Conversion tool bundles
      <% end %>
    </li>
    <li><%= link_to(conversion_environments_path ) do%>
        <i class="icon-wrench"></i>&nbsp;Conversion environments
      <% end %>
    </li>
    <% if env_production? %>
    <li><%= link_to(cvtool_templates_path ) do%>
        <i class="icon-wrench"></i>&nbsp;Conversion templates
      <% end %>
    </li>
    <% end %>
    <li><%= link_to(:action => :marked_for_removal_index, :controller => :conversion_databases) do%>
        <i class="icon-trash"></i>&nbsp;Database cleanup
      <% end %>
    </li>
  </ul>
</li>