<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#" id="reception">
    Reception
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li>
      <%= link_to receptions_path do %>
        <i class="icon-inbox"></i>&nbsp;Reception overview
      <% end %>
    </li>
    <li>
      <%= link_to( :action => :requests, :controller => :receptions ) do %>
         <i class="icon-question-sign"></i>&nbsp;Requests overview
      <% end %>
    </li>
    <li>
       <%= link_to(:controller => 'data_sets',:action => :index) do %>
         <i class="icon-briefcase"></i>&nbsp;Data sets
       <% end %>
    </li>
    <li><%= link_to(data_set_groups_path ) do %>
        <i class=" icon-folder-close"></i>&nbsp;Data set Groups
      <% end %>
    </li>
    <li class="divider"></li>
    <% if env_production? %>
    <li>
      <%= link_to( :action => :new, :controller => :receptions ) do %>
        <i class="icon-plus-sign"></i>&nbsp;New reception
      <% end %>
    </li>
    <% end %>
    <li>
      <%= link_to( :action => :new_request, :controller => :receptions ) do %>
        <i class="icon-plus-sign"></i>&nbsp;New reception-request
      <% end %>
    </li>
    <li class="divider"></li>
    <li><%= link_to(data_releases_path ) do%>
        <i class="icon-wrench"></i>&nbsp;Data releases
      <% end %>
    </li>
    <li><%= link_to(data_types_path ) do%>
        <i class="icon-wrench"></i>&nbsp;Data types
      <% end %>
    </li>
    <li><%= link_to(fillings_path ) do%>
        <i class="icon-wrench"></i>&nbsp;Fillings
      <% end %>
    </li>
    <li><%= link_to(process_data_specifications_path ) do%>
        <i class="icon-wrench"></i>&nbsp;Process data Specifications
      <% end %>
    </li>
  <% if env_production? %>
    <li><%= link_to(process_data_events_path ) do%>
        <i class="icon-wrench"></i>&nbsp;Process data Main events
      <% end %>
    </li>
    <li><%= link_to(process_data_sub_events_path ) do%>
        <i class="icon-wrench"></i>&nbsp;Process data Events
      <% end %>
    </li>
    <li><%= link_to(:action => :index_can_be_removed, :controller => :receptions) do%>
        <i class="icon-trash"></i>&nbsp;Receptions cleanup
      <% end %>
    </li>
  <% end %>
  </ul>
</li>
