<li class="dropdown" id="logistics">
  <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#" id="logistics">
    Logistics
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to(:action => :license_fee_report, :controller =>  :article_licenses) do  %>
        <i class="icon-leaf"></i>&nbsp;License fee report
      <% end %>
    </li>
    <li>
      <%= link_to(action: 'index', controller: :shipping_orders, uninvoiced: true) do %>
        <i class="icon-leaf"></i>&nbsp;Uninvoiced contracts
      <% end %>
    </li>
    <li>
      <%= link_to(action: 'index', controller: :invoices, unpaid_invoices_overview: true) do %>
        <i class="icon-leaf"></i>&nbsp;Unpaid invoices
      <% end %>
    </li>
    <li class="divider"></li>
    <li><%= link_to(shipping_orders_path) do  %>
        <i class="icon-shopping-cart"></i>&nbsp;Contracts
      <% end %>
    </li>
    <li><%= link_to(:action => :new_retroaction, :controller =>  :shipping_orderlines) do  %>
        <i class="icon-shopping-cart"></i>&nbsp;New shipment order
      <% end %>
    </li>
    <li><%= link_to(shipping_orderlines_path) do  %>
        <i class="icon-shopping-cart"></i>&nbsp;Delivery overview
      <% end %>
    </li>
    <li><%= link_to(stock_orders_path) do  %>
        <i class="icon-briefcase"></i>&nbsp;Stock orders
      <% end %>
    </li>
    <li><%= link_to(:action => :onhand,:controller=>:warehouse_stock) do  %>
        <i class="icon-home"></i>&nbsp;On hand stock
      <% end %>
    </li>
    <li><%= link_to(:action => :onhand,:controller=>:warehouse_stock_adjustments) do  %>
        <i class="icon-home"></i>&nbsp;Stock Adjustments
      <% end %>
    </li>
    <li><%= link_to(:action => :index,:controller=>:invoices) do  %>
        <i class="icon-leaf"></i>&nbsp;Invoices
      <% end %>
    </li>
    <li><%= link_to(:action => :index,:controller=>:purchase_orders) do  %>
        <i class="icon-leaf"></i>&nbsp;Purchase orders
      <% end %>
    </li>
    <li class="divider"></li>
    <li><%= link_to(articles_path) do %>
        <i class="icon-wrench"></i>&nbsp;Articles
      <% end %>
    </li>
    <li><%= link_to(article_licenses_path) do %>
        <i class="icon-wrench"></i>&nbsp;Article licenses
      <% end %>
    </li>
    <li><%= link_to(high_level_boms_path) do %>
        <i class="icon-wrench"></i>&nbsp;High level bom
      <% end %>
    </li>
    <li><%= link_to(customer_depots_path) do %>
        <i class="icon-wrench"></i>&nbsp;Customer depots
      <% end %>
    </li>
    <li><%= link_to(stock_depots_path) do %>
        <i class="icon-wrench"></i>&nbsp;Stock depots
      <% end %>
    </li>
  </ul>
</li>