<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#" id="production">
    Production
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li>
      <%= link_to(:action => :index_blocks, :controller => :production_orders) do %>
        <i class="icon-barcode"></i>&nbsp;Production orders
      <% end %>
    </li>
    <li>
      <%= link_to(production_orders_path) do %>
        <i class="icon-barcode"></i>&nbsp;Production orders index
      <% end %>
    </li>
    <li>
      <%= link_to(productsets_path) do %>
        <i class="icon-qrcode"></i>&nbsp;Product sets
      <% end %>
    </li>
    <li>
      <%= link_to(products_path) do %>
        <i class="icon-qrcode"></i>&nbsp;Products
      <% end %>
    </li>
  <% if env_production? %>
    <li class="divider"></li>
    <li>
      <%= link_to(:action => :new, :controller => :production_orders) do %>
        <i class="icon-plus-sign"></i>&nbsp;New production order
      <% end %>
    </li>
    <li>
      <%= link_to(:action => :new_from_product, :controller => :production_orders) do %>
        <i class="icon-plus-sign"></i>&nbsp;New production order (from product)
      <% end %>
    </li>
    <li>
      <%= link_to(:action => :new, :controller => :productsets) do %>
        <i class="icon-plus-sign"></i>&nbsp;New product set
      <% end %>
    </li>
    <li>
      <%= link_to(:action => :new, :controller => :products) do %>
        <i class="icon-plus-sign"></i>&nbsp;New product
      <% end %>
    </li>
    
    <li>
      <%= link_to(:action => :release_notes_request, :controller => :outbound_orders) do %>
        <i class="icon-book"></i>&nbsp;Request CARiN release-notes
      <% end %>
    </li>
  <% end %>
    <li class="divider"></li>
    <li>
      <%= link_to(:action => :check, :controller=> :production_orders) do %>
        <i class="icon-barcode"></i>&nbsp;Check production order
      <% end %>
    </li>
    <li>
      <%= link_to(:action => :check_from_product, :controller=> :production_orders) do %>
        <i class="icon-barcode"></i>&nbsp;Check production order (from product)
      <% end %>
    </li>
    <% if env_production? %>
    <li class="divider"></li>
    <li>
      <%= link_to(product_content_specifications_path ) do%>
        <i class="icon-barcode"></i>&nbsp;Product Content Specifications
      <% end %>
    </li>

    <li>
      <%= link_to(product_data_set_infos_path) do %>
        <i class="icon-wrench"></i>&nbsp;Product data sets
      <% end %>
    </li>
    <li>
      <%= link_to(product_categories_path) do %>
        <i class="icon-wrench"></i>&nbsp;Product categories
      <% end %>
    </li>
    <li>
      <%= link_to(release_note_attachments_path) do %>
        <i class="icon-wrench"></i>&nbsp;Release-note attachements
      <% end %>
    </li>
    <li><%= link_to(default_content_release_notes_path) do %>
        <i class="icon-wrench"></i>&nbsp;Default content release notes
      <% end %>
    </li>
   
    <% end %>
    <li class="divider"></li>
    <li>
      <%= link_to(on_time_delivery_report_production_orderlines_path) do %>
        <i class="icon-info-sign"></i>&nbsp;On time delivery report
      <% end %>
    </li>
    <li>
      <%= link_to(tagged_failed_jobs_report_jobs_path) do %>
        <i class="icon-info-sign"></i>&nbsp;Tagged Failed jobs report
      <% end %>
    </li>
  </ul>
</li>
