<li class="dropdown" >
  <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#" id="shipping">
    Shipping
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to(outbound_orders_path) do  %>
        <i class="icon icon-road">&nbsp;</i>Shipments
      <% end %>
    </li>
    <li>
      <%= link_to(:action => :mastering_index, :controller => :production_orderlines) do %>
        <i class="icon icon-question-sign">&nbsp;</i>Mastering requests
      <% end %>
    </li>
    <li>
      <%= link_to(:action => :shipment_index, :controller => :production_orderlines) do %>
        <i class="icon icon-question-sign">&nbsp;</i>Shipment requests
      <% end %>
    </li>
    <li>
        <%= link_to(distribution_lists_path) do  %>
          <i class="icon icon-envelope">&nbsp;</i>Distribution lists
        <% end %>
    </li>
    <li>
      <%= link_to(packing_jobs_path) do %>
        <i class="icon icon-gift">&nbsp;</i>Packing jobs overview
      <% end %>
    </li>
    <li>
      <%= link_to(shipping_jobs_path) do %>
        <i class="icon icon-gift">&nbsp;</i>Shipping jobs overview
      <% end %>
    </li>
    <li class="divider"></li>
    <li>
      <%= link_to(:action => 'failures', :controller => 'packing_jobs') do %>
      <i class="icon icon-tags">&nbsp;</i>Tagging failed packing jobs
      <% end %>
    </li>
    <li>
      <%= link_to(:action => 'failures', :controller => 'shipping_jobs') do %>
        <i class="icon icon-tags">&nbsp;</i>Tagging failed shipping jobs
      <% end %>
    </li>
    <li class="divider"></li>
    <li>
      <%= link_to(companies_path) do  %>
        <i class="icon  icon-home">&nbsp;</i>Companies
      <% end %>
    </li>
    <li>
      <%= link_to(external_contacts_path) do  %>
        <i class="icon icon-user">&nbsp;</i>External contacts
      <% end %>
    </li>
    <li>
      <%= link_to(new_distribution_list_path) do %>
        <i class="icon-wrench"></i>&nbsp;New distribution list
      <% end %>
    </li>
    <li>
      <%= link_to(shipment_types_path) do %>
        <i class="icon-wrench"></i>&nbsp;Shipment types
      <% end %>
    </li>
    <li>
      <%= link_to(outbound_orderlines_path) do %>
        <i class="icon-th-list"></i>&nbsp;Product shipment list
      <% end %>
    </li>
    <li>
      <%= link_to '/webmis/delayed_job', :target => "_blank" do %>
        <i class="icon-wrench"></i>&nbsp;Delayed Job Overview
      <% end %>
    </li>
  </ul>
</li>