<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#" id="testing">
    Testing
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li>
      <%= link_to(test_requests_path) do %>
        <span class="glyphicon glyphicon-zoom-in"></span>&nbsp;Requests overview
      <% end %>
    </li>
    <li>
      <%= link_to(:action => 'requests', :controller => 'stock') do %>
        <span class="glyphicon glyphicon-fire"></span>&nbsp;Medium requests
      <% end %>
    </li>
    <li>
      <%= link_to(test_request_jobs_path) do %>
        <span class="glyphicon glyphicon-qrcode"></span>&nbsp;Test request jobs overview
      <% end %>
    </li>
    <li class="divider"></li>
    <li>
      <%= link_to(:action => :new, :controller => :test_requests) do %>
        <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;New test-request
      <% end %>
    </li>
    <li class="divider">Admin</li>
    <li>
      <%= link_to test_plans_path,:title => "test plans" do %>
        <span class="glyphicon glyphicon-wrench"></span>&nbsp;Test plans
      <% end %>
    </li>
    <li><%= link_to(test_types_path) do %>
        <span class="glyphicon glyphicon-wrench"></span>&nbsp;Test types
      <% end %>
    </li>
    <li><%= link_to(test_tool_releases_path) do %>
        <span class="glyphicon glyphicon-wrench"></span>&nbsp;Test tool releases
      <% end %>
    </li>
  </ul>
</li>