<li class="dropdown" id="configuration">
  <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">
    Design
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to(product_designs_path) do %>
        <span class="glyphicon glyphicon-wrench"></span>&nbsp;Product Designs
      <% end %>
    </li>
    <li><%= link_to(product_features_path) do %>
        <span class="glyphicon glyphicon-wrench"></span>&nbsp;Product Features
      <% end %>
    </li>
    <li><%= link_to(executables_path) do %>
        <span class="glyphicon glyphicon-wrench"></span>&nbsp;Executables
      <% end %>
    </li>
    <li><%= link_to(parameter_settings_path) do %>
        <span class="glyphicon glyphicon-wrench"></span>&nbsp;Parameter Settings
      <% end %>
    </li>
    <% if env_production? %>
    <li><%= link_to(design_tags_path) do %>
        <span class="glyphicon glyphicon-wrench"></span>&nbsp;Design Tags
      <% end %>
    </li>
    <% end %>
    <li><%= link_to(api_logs_path) do %>
        <span class="glyphicon glyphicon-wrench"></span>&nbsp;API Log
      <% end %>
    </li>
  </ul>
</li>