<li class="dropdown" id="mine">
  <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">
    My settings
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li>
      <%= link_to(:controller => 'logout', :action => :index) do %>
        <span class="icon glyphicon glyphicon-off">&nbsp;</span>Logout
      <% end %>
    </li>
    <li class="divider"></li>
    <% current_dashboards.each do |dashboard| %>
      <li><%= link_to(dashboard) do %>
          <span class="glyphicon glyphicon-th"></span>&nbsp;<%= dashboard.name %>
        <% end %>
      </li>
    <% end %>
    <li><%= link_to(:action => :my_dashboards,:controller => :dashboard_grids) do %>
        <span class="glyphicon glyphicon-th-large"></span>&nbsp;Dashboard control
      <% end %>
    </li>
  </ul>
</li>