<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#" id="conversion">
    Conversion
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li>
      <%= link_to(conversions_path) do %>
        <span class="glyphicon glyphicon-question-sign"></span>&nbsp;Requests overview
      <% end %>
    </li>
    <li>
      <%= link_to(conversion_jobs_path) do %>
        <span class="glyphicon glyphicon-qrcode"></span>&nbsp;Conversion jobs overview
      <% end %>
    </li>
    <li>
      <%= link_to(validation_jobs_path) do %>
        <span class="glyphicon glyphicon-zoom-in"></span>&nbsp;Validation jobs overview
      <% end %>
    </li>
    <li>
      <%= link_to(patch_requests_report_conversions_path) do %>
        <span class="glyphicon glyphicon-adjust"></span>&nbsp;Patch requests report
      <% end %>
    </li>
    <li>
      <%= link_to(show_validation_errors_conversions_path) do %>
        <span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;Validation errors overview
      <% end %>
    </li>
    <li>
      <%= link_to(conversion_databases_path) do %>
        <span class="glyphicon glyphicon-file"></span>&nbsp;Databases overview
      <% end %>
    </li>
    <li>
      <%= link_to(:action => 'overview', :controller => 'servers', :project_id => session[:project_id]) do %>
        <span class="glyphicon glyphicon-th-list"></span>&nbsp;Server overview
      <% end %>
    </li>
    <li class="divider"></li>
    <li>
      <%= link_to(:action => 'failures', :controller => 'conversion_jobs') do %>
      <span class="icon glyphicon glyphicon-tags">&nbsp;</span>Tagging failed conversion jobs
      <% end %>
    </li>
    <li>
      <%= link_to(:action => 'failures', :controller => 'validation_jobs') do %>
      <span class="icon glyphicon glyphicon-tags">&nbsp;</span>Tagging failed validation jobs
      <% end %>
    </li>
    <li>
      <%= link_to(:controller => :conversion_databases,:action => :index,:removal_index => "true" ) do %>
        <span class="icon  glyphicon glyphicon-map-marker">&nbsp;</span>Mark databases for removal
      <% end %>
    </li>
    <% if env_production? %>
    <li class="divider"></li>
    <li>
      <%= link_to(:action => :new, :controller => :conversions) do %>
        <span class="icon  glyphicon glyphicon-plus-sign">&nbsp;</span>New conversion-request
      <% end %>
    </li>
    <li>
      <%= link_to(:action => :new_request, :controller => :stock) do %>
        <span class="icon  glyphicon glyphicon-plus-sign">&nbsp;</span>New medium-request
      <% end %>
    </li>
    <% end %>
    <li class="divider"></li>
    <% if env_production? %>
    <li><%= link_to(assembly_headers_path ) do%>
        <span class="glyphicon glyphicon-wrench"></span>&nbsp;Assemblies
      <% end %>
    </li>
    <% end %>
    <li><%= link_to(poi_mapping_layouts_path ) do%>
        <span class="glyphicon glyphicon-camera"></span>&nbsp;POI Mapping Layouts
      <% end %>
    </li>
    <% if env_production? %>
    <li>
      <%= link_to(:controller => :assembly_headers, :action => :new ) do%>
        <span class="glyphicon glyphicon-wrench"></span>&nbsp;New assembly
      <% end %>
    </li>
    <% end %>
    <li><%= link_to(conversiontools_path ) do%>
        <span class="glyphicon glyphicon-wrench"></span>&nbsp;Conversion tools
      <% end %>
    </li>
    <li><%= link_to(cvtool_bundles_path ) do%>
        <span class="glyphicon glyphicon-wrench"></span>&nbsp;Conversion tool bundles
      <% end %>
    </li>
    <li><%= link_to(conversion_environments_path ) do%>
        <span class="glyphicon glyphicon-wrench"></span>&nbsp;Conversion environments
      <% end %>
    </li>
    <% if env_production? %>
    <li><%= link_to(cvtool_templates_path ) do%>
        <span class="glyphicon glyphicon-wrench"></span>&nbsp;Conversion templates
      <% end %>
    </li>
    <% end %>
    <li><%= link_to(:action => :marked_for_removal_index, :controller => :conversion_databases) do%>
        <span class="glyphicon glyphicon-trash"></span>&nbsp;Database cleanup
      <% end %>
    </li>
  </ul>
</li>