<li class="dropdown" >
  <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#" id="shipping">
    Shipping
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to(outbound_orders_path) do  %>
        <span class="icon glyphicon glyphicon-road">&nbsp;</span>Shipments
      <% end %>
    </li>
    <li>
      <%= link_to(:action => :mastering_index, :controller => :production_orderlines) do %>
        <span class="icon glyphicon glyphicon-question-sign">&nbsp;</span>Mastering requests
      <% end %>
    </li>
    <li>
      <%= link_to(:action => :shipment_index, :controller => :production_orderlines) do %>
        <span class="icon glyphicon glyphicon-question-sign">&nbsp;</span>Shipment requests
      <% end %>
    </li>
    <li>
        <%= link_to(distribution_lists_path) do  %>
          <span class="icon glyphicon glyphicon-envelope">&nbsp;</span>Distribution lists
        <% end %>
    </li>
    <li>
      <%= link_to(packing_jobs_path) do %>
        <span class="icon glyphicon glyphicon-gift">&nbsp;</span>Packing jobs overview
      <% end %>
    </li>
    <li>
      <%= link_to(shipping_jobs_path) do %>
        <span class="icon glyphicon glyphicon-gift">&nbsp;</span>Shipping jobs overview
      <% end %>
    </li>
    <li class="divider"></li>
    <li>
      <%= link_to(:action => 'failures', :controller => 'packing_jobs') do %>
      <span class="icon glyphicon glyphicon-tags">&nbsp;</span>Tagging failed packing jobs
      <% end %>
    </li>
    <li>
      <%= link_to(:action => 'failures', :controller => 'shipping_jobs') do %>
        <span class="icon glyphicon glyphicon-tags">&nbsp;</span>Tagging failed shipping jobs
      <% end %>
    </li>
    <li class="divider"></li>
    <li>
      <%= link_to(companies_path) do  %>
        <span class="icon  glyphicon glyphicon-home">&nbsp;</span>Companies
      <% end %>
    </li>
    <li>
      <%= link_to(external_contacts_path) do  %>
        <span class="icon glyphicon glyphicon-user">&nbsp;</span>External contacts
      <% end %>
    </li>
    <li>
      <%= link_to(new_distribution_list_path) do %>
        <span class="glyphicon glyphicon-wrench"></span>&nbsp;New distribution list
      <% end %>
    </li>
    <li>
      <%= link_to(shipment_types_path) do %>
        <span class="glyphicon glyphicon-wrench"></span>&nbsp;Shipment types
      <% end %>
    </li>
    <li>
      <%= link_to(outbound_orderlines_path) do %>
        <span class="glyphicon glyphicon-th-list"></span>&nbsp;Product shipment list
      <% end %>
    </li>
    <li>
      <%= link_to '/webmis/delayed_job', :target => "_blank" do %>
        <span class="glyphicon glyphicon-wrench"></span>&nbsp;Delayed Job Overview
      <% end %>
    </li>
  </ul>
</li>