<li class="dropdown" id="logistics">
  <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#" id="logistics">
    Logistics
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to(:action => :license_fee_report, :controller =>  :article_licenses) do  %>
        <span class="glyphicon glyphicon-leaf"></span>&nbsp;License fee report
      <% end %>
    </li>
    <li>
      <%= link_to(action: 'index', controller: :shipping_orders, uninvoiced: true) do %>
        <span class="glyphicon glyphicon-leaf"></span>&nbsp;Uninvoiced contracts
      <% end %>
    </li>
    <li>
      <%= link_to(action: 'index', controller: :invoices, unpaid_invoices_overview: true) do %>
        <span class="glyphicon glyphicon-leaf"></span>&nbsp;Unpaid invoices
      <% end %>
    </li>
    <li class="divider"></li>
    <li><%= link_to(shipping_orders_path) do  %>
        <span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;Contracts
      <% end %>
    </li>
    <li><%= link_to(:action => :new_retroaction, :controller =>  :shipping_orderlines) do  %>
        <span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;New shipment order
      <% end %>
    </li>
    <li><%= link_to(shipping_orderlines_path) do  %>
        <span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;Delivery overview
      <% end %>
    </li>
    <li><%= link_to(stock_orders_path) do  %>
        <span class="glyphicon glyphicon-briefcase"></span>&nbsp;Stock orders
      <% end %>
    </li>
    <li><%= link_to(:action => :onhand,:controller=>:warehouse_stock) do  %>
        <span class="glyphicon glyphicon-home"></span>&nbsp;On hand stock
      <% end %>
    </li>
    <li><%= link_to(:action => :onhand,:controller=>:warehouse_stock_adjustments) do  %>
        <span class="glyphicon glyphicon-home"></span>&nbsp;Stock Adjustments
      <% end %>
    </li>
    <li><%= link_to(:action => :index,:controller=>:invoices) do  %>
        <span class="glyphicon glyphicon-leaf"></span>&nbsp;Invoices
      <% end %>
    </li>
    <li><%= link_to(:action => :index,:controller=>:purchase_orders) do  %>
        <span class="glyphicon glyphicon-leaf"></span>&nbsp;Purchase orders
      <% end %>
    </li>
    <li class="divider"></li>
    <li><%= link_to(articles_path) do %>
        <span class="glyphicon glyphicon-wrench"></span>&nbsp;Articles
      <% end %>
    </li>
    <li><%= link_to(article_licenses_path) do %>
        <span class="glyphicon glyphicon-wrench"></span>&nbsp;Article licenses
      <% end %>
    </li>
    <li><%= link_to(high_level_boms_path) do %>
        <span class="glyphicon glyphicon-wrench"></span>&nbsp;High level bom
      <% end %>
    </li>
    <li><%= link_to(customer_depots_path) do %>
        <span class="glyphicon glyphicon-wrench"></span>&nbsp;Customer depots
      <% end %>
    </li>
    <li><%= link_to(stock_depots_path) do %>
        <span class="glyphicon glyphicon-wrench"></span>&nbsp;Stock depots
      <% end %>
    </li>
  </ul>
</li>