<!DOCTYPE html>
<html>
  <head>
    <title>Src</title>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag(:application) %>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
          <% flash.each do |key, value| %>
        <div id="flash" style="margin-top: 20px;float:right;margin-right: 5px" class="span4 alert alert-block alert-<%= key == :notice ? "success" : key %>" data-dismiss="alert">
          <a class="close" data-dismiss="alert" href="#">×</a>
          <h4 class="alert-heading"><%= key.capitalize %>:</h4>
          <%= value %>
        </div>
        <%= content_tag :script, :type => "text/javascript" do -%>
            $(function() {
              $('#flash').delay(500).fadeIn('normal', function() {
                $(this).delay(2500).animate({opacity: "0", left: "0", width: "0"}, "normal",function(){
                  $('#flash').delay(1).fadeOut('normal')})
                });              
            });
        <% end %>  
    <% end %>    
  </body>
</html>
