<!DOCTYPE html>
<html lang="en">
  <head>
    <%= csrf_meta_tag %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title><%= controller.action_name.humanize %>&nbsp;<%= controller.controller_name.humanize %> - WebMIS</title>
    <%= stylesheet_link_tag "bootstrap.min-3.3.4", :media => "all", 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag "select2-3.5.2", :media => "all", 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag "select2-bootstrap", :media => "all", 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag "application", :media => "all", 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag "bootstrap-switch.min-3.3.2", :media => "all", 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag "bootstrap-datepicker.min-1.4.0", :media => "all", 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag "jqtree", :media => "all", 'data-turbolinks-track' => true %>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <div class="navbar-header">
            <button class="navbar-toggle collapsed" aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" type="button">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <small><%= link_to release_version , {:controller => :main, :action => :index}, {:class => "navbar-brand version"} %></small>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <%= render :partial => "/layouts/navbar_production" %>
              <%= render :partial => "/layouts/navbar_reception" %>
              <%= render :partial => "/layouts/navbar_conversion" %>
              <%= render :partial => "/layouts/navbar_testing" %>
              <%= render :partial => "/layouts/navbar_shipping" if session[:environment] == "production" %>
              <%= render :partial => "/layouts/navbar_logistics" if session[:environment] == "production" %>
              <%= render :partial => "/layouts/navbar_archive" if session[:environment] == "production" %>
              <%= render :partial => "/layouts/navbar_design" %>
              <%= render :partial => "/layouts/navbar_configuration" %>
              <%= render :partial => "/layouts/navbar_my_settings" %>
              <%= render :partial => "/layouts/navbar_my_project" %>
            </ul>
            <span class="navbar-brand glyphicon glyphicon-refresh animate-rotate pull-right hidden" id="barSpinner"></span>
          </div>
        </div>
      </div>
    </nav>

    <%= javascript_include_tag 'jquery','jquery_ujs', :media => "all", 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'bootstrap.min-3.3.4', :media => "all", 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'select2.min-3.5.2', :media => "all", 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'bootstrap-bar_tincture', :media => "all", 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'bootstrap-switch.min-3.3.2', :media => "all", 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'jquery.pageless.bs-3.3.4', :media => "all", 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'bootstrap-datepicker.min-1.4.0','bootstrap-datepicker.en-GB.min', :media => "all", 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'tree.jquery', :media => "all", 'data-turbolinks-track' => true %>

    <div id="customFlash"></div>
    <% flash.each do |type, message| %>
      <div id="flash-<%= type %>" class="flash-alert alert <%= alert_class_for(type) %> alert-dismissible fade in col-md-2">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <%= message %>
      </div>
      <%= content_tag :script, :type => "text/javascript" do -%>
        $('#flash-<%= type %>').delay(6500).fadeOut("slow", function() {
          $(this).remove();
        });
      <% end %>
    <% end %>
    
  
    <div id="yield" class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>

<script type="text/javascript">
  // navbar color depending on projects
  tinctureBar('<%= session[:color_profile] %>');

  // double click actions for each menu entry
  $('a#production.dropdown-toggle').dblclick(function() {
      window.open('<%=h escape_javascript(url_for(:action => :index, :controller => :production_orders)) %>');
    });
    $('a#reception.dropdown-toggle').dblclick(function() {
      window.open('<%=h escape_javascript(url_for(:action => :index, :controller => :receptions)) %>');
    });
    $('a#conversion.dropdown-toggle').dblclick(function() {
      window.open('<%=h escape_javascript(url_for(:action => :index, :controller => :conversions)) %>');
    });
    $('a#testing.dropdown-toggle').dblclick(function() {
      window.open('<%=h escape_javascript(url_for(:action => :index, :controller => :test_requests)) %>');
    });
    $('a#shipping.dropdown-toggle').dblclick(function() {
      window.open('<%=h escape_javascript(url_for(:action => :index, :controller => :outbound_orders)) %>');
    });
    $('a#logistics.dropdown-toggle').dblclick(function() {
      window.open('<%=h escape_javascript(url_for(:action => :new_retroaction, :controller => :shipping_orderlines)) %>');
    });
    $('a#archive.dropdown-toggle').dblclick(function() {
      window.open('<%=h escape_javascript(url_for(:action => :index, :controller => :product_locations)) %>');
  })

  // loading spinner on event
  $( document ).ajaxStart(function() {
    $('#barSpinner').removeClass('hidden');
  });

  $( document ).ajaxError(function() {
    $('#barSpinner').removeClass('hidden');
  });

  $( document ).ajaxStop(function() {
    $('#barSpinner').addClass('hidden');
  });

  $("form").submit(function (e) {
    $('#barSpinner').removeClass('hidden');
  });

  $( window ).load(function() {
    $('#barSpinner').addClass('hidden');
  });

  $("a:not([href^='#']):not([href='javascript:void(0)'])").click(function(){
    $('#barSpinner').removeClass('hidden');
  });

  // disable links for with css class disabled
  $('a.disabled').click(function(e) {
    e.preventDefault();
    return false
  });

  function flash_on_demand(type,subject,message){
    // types: error = red, success = green, info = blue
    var msg = '<h4>' + subject + '</h4>';
    msg += message;
    if ( type === "error" ){
      var alertClass = "alert-danger"
    }else {
      var alertClass = "alert-"+type
    }
    
    $("#customFlash").addClass('col-md-2 alert flash-alert ' + alertClass);
    $("#customFlash").fadeIn( 400 ).html(msg).delay(6500).fadeOut("slow");
  }

  // enable select2 for dynamic column search
  $("[id^=column_select_field_]").select2({allowClear:true});

</script>
<%= javascript_include_tag 'webmis', :media => "all", 'data-turbolinks-track' => true %>