<!-- patch -->
<style type="text/css">
  .row-fluid .span12 {
    width: 98%;
}
</style>

<div class="box <%= @dashboard_widget.width_css_class if @dashboard_widget %>" id="widget-id-<%= @dashboard_widget.id %>" style="margin-left: 20px;">
  <div class="box-header">
    <h2 rel="popover" data-content="<%= @dashboard_widget.description %>"><%= @dashboard_widget.name if @dashboard_widget %></h2>
    <div class="box-icon">
      <a class="btn-minimize" href="#"><i class="icon-chevron-up"></i></a>
      <a class="btn-close" href="#"><i class="icon-remove"></i></a>
    </div>
  </div>
  <div class="box-content" id="box-for-yield-<%= @dashboard_widget.id %>">
    <%= yield %>
  </div>
</div>

<script type="text/javascript">
  $('[class^=\"popover\"]').remove();
  h = {}
  h['span1'] =  100
  h['span2'] =  100
  h['span3'] =  300
  h['span4'] =  300
  h['span5'] =  300
  h['span6'] =  300
  h['span7'] =  400
  h['span8'] =  400
  h['span9'] =  500
  h['span12'] = 200
  $("#box-for-yield-<%= @dashboard_widget.id %>").css({
    height: h["<%= @dashboard_widget.width_css_class %>"]
  });

  $("#widget-id-<%= @dashboard_widget.id %>").find('.btn-close').click(function(e){
    e.preventDefault();
    $(this).parent().parent().parent().fadeOut(function(){
      this.remove();
    });
    $.get('<%=url_for(:action => :drop_widget_from_grid, :controller => :dashboard_widgets, :id => @dashboard_widget.id.to_s)%>', function(data){
      select_unused_widgets();
    });
  });

  $("#widget-id-<%= @dashboard_widget.id %>").find('.btn-minimize').click(function(e){
    e.preventDefault();
    var $target = $(this).parent().parent().next('.box-content');
    if($target.is(':visible')) $('i',$(this)).removeClass('icon-chevron-up').addClass('icon-chevron-down');
    else 					   $('i',$(this)).removeClass('icon-chevron-down').addClass('icon-chevron-up');
    $target.slideToggle();
  });

  $("#widget-id-<%= @dashboard_widget.id %> h2").popover({
    html: true,
    placement: 'bottom',
    title: 'Widget description'});