<html>
  <head>
        <%= csrf_meta_tag %>
    <style type="text/css"> 
      /* Special for firefox => Prevent dotted border afgter click */
      .ui-tabs .ui-tabs-nav li a {
        outline: 0;
        float: left;
        padding: .5em 1em;
        text-decoration: none; 
      }
    </style>
    
    <%= javascript_include_tag 'jquery-1.6.2.min.js','jquery-ui-1.8.16.custom.min.js' %>
    <%= stylesheet_link_tag 'dsm', :media => "all" %>
    <%= stylesheet_link_tag session[:dynamic_css] %>
    <%= stylesheet_link_tag 'backoffice.css' %>
    
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag 'popup.js' %>
    <%= include_wice_grid_assets %>
    <%= javascript_include_tag 'tooltip2' %>
    <% if @page_title %>
      <title><%= @page_title.to_s %></title>
    <% else %>
      <title><%= controller.controller_name.humanize %>-<%= controller.action_name.humanize -%></title>
    <% end %>
    <%= stylesheet_link_tag 'windowfiles/dhtmlwindow.css', :media => "all"  %>
    <link rel="shortcut icon" href="/webmis/images/favicon.ico" type="image/x-icon" />

    <script type="text/javascript">
      jQuery(document).ready(function() {
        jQuery('.toolTip').hover(
          function() {
          this.tip = this.title;
            jQuery(this).append(
           '<div style="position: absolute;z-index:1;"  id="current-tooltip">'
              +'<div class="ui-state-highlight ui-corner-all" style="padding:5px;margin-left: 10px;">'
                +this.tip
              +'</div>'
            +'</div>'
          );
          this.title = "";
          this.width = jQuery(this).width();
          jQuery.(this).fadeIn(9900);
        },
          function() {
            jQuery('current-tooltip').fadeOut(1000);
            jQuery(this).children().remove();            
              this.title = this.tip;
            }
        );
      });
    </script>
    
<script type="text/javascript">
	jQuery(function() {
            jQuery('div#button').hover(
		function() { jQuery(this).addClass('ui-state-hover'); }, 
		function() { jQuery(this).removeClass('ui-state-hover'); }
	      );        
        });
</script>    
    
    <SCRIPT LANGUAGE="JavaScript">
      <!--
      function showHide(elementid){
        if (document.getElementById(elementid).style.display == 'none'){
          document.getElementById(elementid).style.display = '';
        } else {
          document.getElementById(elementid).style.display = 'none';
        }
      }

      function showIcon(elementid){
        if (document.getElementById(elementid).style.display == 'none'){
          document.getElementById(elementid).style.display = '';
        }
      }
      //-->

    

function ChgText(elementid,content)
{
    document.getElementById(elementid).value = content;
    document.getElementById(elementid).disabled = false;
    return true;
}
</SCRIPT>

  </head>

  <% if params[:nomenu] %>
    <body class = "nomenu">
    <% else %>
    <body class = "menu">
    <% end %>
    <div id="wrapper" >
      <div id="container">

        <% if !params[:nomenu]%>
          
          
<div style="font-size:0.7em; position:absolute; right:15px;z-index: 999">
  Last deploy time : <%= ENV['last_deploy'] %>&nbsp;
  <%= link_to 'profile', :controller => :users, :action => 'edit_profile', :id => current_user.id %>
</div>

            <%= render :partial => "/layouts/menu" %>

      <% end %>

        <div class="main">
          <div  class="content">
            <% if flash[:notice] %>
              <div id = "notice">
                <%= flash[:notice] %>
              </div>
            <% end %>
            <% if flash[:error] %>
              <div id = "error">
                <%= flash[:error] %>
              </div>
            <% end %>
            
            <%= yield  %>
          </div>
        </div>

      </div>
    </div>
  </body>
</html>
