<!DOCTYPE html>
<html lang="en">
  <head>
    <%= csrf_meta_tag %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Backoffice - WebMIS</title>
    <%= stylesheet_link_tag "bootstrap.min-3.3.4", :media => "all", 'data-turbolinks-track' => true %>
  </head>
  <body>
    <div id="yield" class="container-fluid">
    <%= yield %>
    </div>
  </body>
</html>
