<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />      
    <style type="text/css">
      body {
        font-family: "Arial","sans-serif";
        margin: 20px;
        color: #333333;
      }
      pre {
        font-family: "Arial","sans-serif";
        font-variant: normal;
      }

      a {
        -moz-text-blink: none;
        -moz-text-decoration-color: -moz-use-text-color;
        -moz-text-decoration-line: none;
        -moz-text-decoration-style: solid;
        color: #0088CC;
      }
      table {
        padding: 5px;
      }

      table.bordered {
                margin-left: 20px;
      }

      table.bordered, td.bordered, th.bordered {
        border: 0.5px solid #e3e3e3;
        border-collapse: collapse;
        padding: 5px;
      }

      h1  {
        font-size: 24.5px;
        margin-top: 10px;
        margin-bottom: 5px;
      }

      h2  {
        font-size: 21.5px;
        margin-top: 10px;
      }

      h3  {
        font-size: 18.5px;
        margin-top: 10px;
      }

      h4  {
        font-size: 15.5px;
        margin-top: 10px;
        margin-bottom: 5px;
      }

      h5  {
        font-size: 12.5px;
        margin-top: 10px;
      }

      h6  {
        font-size: 9.5px;
        margin-top: 10px;
      }      


      td {
        padding-left: 15px;
      }

      .header,.footer{
        background-color: #f5f5f5;
        padding: 15px;
        min-height: 20px;
      }

      .header {
        -webkit-border-top-left-radius: 10px;
        -webkit-border-top-right-radius: 10px;
        -moz-border-radius-topleft: 10px;
        -moz-border-radius-topright: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }

      .footer {     
        font-size: 10px;
        -webkit-border-bottom-right-radius: 10px;
        -webkit-border-bottom-left-radius: 10px;
        -moz-border-radius-bottomright: 10px;
        -moz-border-radius-bottomleft: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
      }

      .content{
        background-color: #ffffff;
        border: 1px solid #f5f5f5;
        padding: 15px;
      }

      .logging {
         font-size: 11px;
      }

      #note {
        font-size: 10px;
        color: #9DA0A4;
        padding: 5px;
      }

    </style>
  </head>
  <body leftmargin="5" marginwidth="5" topmargin="5" marginheight="5" offset="5">
    <div class="yield">
      <%= yield %>
    </div>

    <div id="note">
      This is an automatic generated e-mail by Mapscape WebMIS, please do not reply to this message.<br>
        This e-mail and any attachment may contain corporate proprietary information and may only be read, 
        copied and used by the intended recipient. If you have received it by mistake, please notify us immediately by reply e-mail and delete this e-mail and its attachments from your system. We believe but do not warrant that this message and any attachments are virus free. Mapscape B.V. is registered at the Kamer van Koophandel Oost-Brabant located in Eindhoven, The Netherlands number 17210210.
    </div>      
  </body>
</html>