<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <%= wicked_pdf_stylesheet_link_tag 'bootstrap.css', :media => "all" %>
      <%= wicked_pdf_stylesheet_link_tag 'webmis.css', :media => "all" %>
      <%= wicked_pdf_stylesheet_link_tag 'pdf/pdf.css', :media => "all" %>
      <%= wicked_pdf_javascript_include_tag 'jquery' %>
  </head>
  <body>
    <div id="yield">
      <%= yield %>
    </div>
  </body>
</html>
