<html>
<head>
      <%= csrf_meta_tag %>
    <% if @page_title %>
      <title><%= @page_title.to_s %></title>
    <% else %>
      <title>WebMIS - Product Definition -</title>
    <% end %>
      
<style type="text/css"> 
  /* Special for firefox => Prevent dotted border afgter click */
  .ui-tabs .ui-tabs-nav li a {
    outline: 0;
    float: left;
    padding: .5em 1em;
    text-decoration: none;
  }
</style>

<%= javascript_include_tag 'jquery-1.6.2.min.js', 'jquery-ui-1.8.16.custom.min.js' %>


<%= stylesheet_link_tag 'backoffice.css' %>
<%= stylesheet_link_tag session[:dynamic_css] %>
<%= stylesheet_link_tag 'dsm', :media => "all"  %>
<%= javascript_include_tag :defaults, 'popup.js' %>
    <%= include_wice_grid_assets %>

<script type="text/javascript">
	jQuery(function() {
            jQuery('div#button').hover(
		function() { jQuery(this).addClass('ui-state-hover'); }, 
		function() { jQuery(this).removeClass('ui-state-hover'); }
	      );        
        });
</script>

<SCRIPT LANGUAGE="JavaScript">
<!--
function showHide(elementid){
if (document.getElementById(elementid).style.display == 'none'){
document.getElementById(elementid).style.display = '';
} else {
document.getElementById(elementid).style.display = 'none';
}
}

function showIcon(elementid){
if (document.getElementById(elementid).style.display == 'none'){
document.getElementById(elementid).style.display = '';
}
}
//-->
</SCRIPT>

</head>
<% if params[:nomenu] %>
<body class = "nomenu">
<% else %>
<body class = "menu">
<% end %>
<div id="wrapper" >
  <div id="container">

  <% if !params[:nomenu]%>
    <div style="font-size:0.7em; position:absolute; right:15px;z-index: 999">Last deploy time : <%= ENV['last_deploy'] %>&nbsp;
    <%= link_to 'profile', :controller => :users, :action => 'edit_profile', :id => current_user.id %></div>
    <%= render :partial => "/layouts/menu" %>
  <% end %>

  <% tabnav :ppf do %>
      <div class="main" >
       <div  class="content">
        <% if flash[:notice] %>
            <div id = "notice">
              <%= flash[:notice] %>
           </div>
        <% end %>
        <% if flash[:error] %>
            <div id = "error">
              <%= flash[:error] %>
            </div>
        <% end %>
        <%= yield  %>
       </div>
    </div>
    <% end %>
  </div>
</div>
</body>
</html>
