<!DOCTYPE html>
<html>
  <title>Failure</title>
  <head>
    <%= stylesheet_link_tag    "webmis", :media => "all" %>
    <%= stylesheet_link_tag    "bootstrap_and_overrides", :media => "all" %>
  </head>
</html>

<div class="alert alert-error span12"><h4>Failure !</h4></div>
<div class="span12 alert alert-error">
  <small><%= yield %></small>
</div>