<html>
<head>
<%= stylesheet_link_tag 'dsm' %>
<%= javascript_include_tag :defaults %>
    <% if @page_title %>
      <title><%= @page_title.to_s %></title>
    <% else %>
      <title><%= controller.controller_name %>-<%= controller.action_name -%></title>
    <% end %>
</head>
<div id="wrapper">
<div id="container">
<% if params[:nomenu] %>
<body class = "nomenu">
<% else %>
<body class = "menu">
<% end %>
<div class="title">	
	<h1><a href="/main"><font color = "#C32A1F">Map</font>scape Backoffice: WebMIS System</a> <img alt="spinner" id="spinner" src="images/spinner.gif" style="display:none;" /></h1>

</div>


<div class="navigation">
   <%= render :partial => "/layouts/menu" %>
</div>
<div class="main">
	<div align="center" class="content">
	  <% if flash[:notice] %>
	  <div id = "notice">
	  <%= flash[:notice] %>
	  </div>
	  <% end %>
		<%= yield  %>
	</div>
</div>
</div>
</div>
</body>
</html>
