<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tag %>
    <%= favicon_link_tag "/favicon.ico" %>
    <title><%= controller.action_name.humanize %>&nbsp;<%= controller.controller_name.humanize %> - WebMIS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= stylesheet_link_tag  "chosen", :media => "all" %>
    <%= stylesheet_link_tag "bootstrap", :media => "all", 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag "bootstrap-responsive", :media => "all", 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag "bootstrap-switch", :media => "all" %>
    <%= stylesheet_link_tag  'webmis', media: 'all', 'data-turbolinks-track' => true %>
    <% stylesheet_link_tag "bootstrap_2_3_2", :media => "all" %>
    <%= stylesheet_link_tag "select2", :media => "all" %>
    <%= stylesheet_link_tag "jquery.fileupload-ui", :media => "all" %>
    <%= stylesheet_link_tag "jqtree", :media => "all" %>

    <% if params[:controller].to_s == "product_designs" and params[:action] == 'edit_model' %>
      <%= stylesheet_link_tag 'product_designs/edit_model' %>
    <% end  %>

    <%= javascript_include_tag 'jquery','jquery_ujs' %>
    <%= javascript_include_tag 'twitter/bootstrap/bootstrap-transition' %>
    <%= javascript_include_tag 'twitter/bootstrap/bootstrap-alert' %>
    <%= javascript_include_tag 'twitter/bootstrap/bootstrap-modal' %>
    <%= javascript_include_tag 'twitter/bootstrap/bootstrap-dropdown' %>
    <%= javascript_include_tag 'twitter/bootstrap/bootstrap-scrollspy' %>
    <%= javascript_include_tag 'twitter/bootstrap/bootstrap-tab' %>
    <%= javascript_include_tag 'twitter/bootstrap/bootstrap-tooltip' %>
    <%= javascript_include_tag 'twitter/bootstrap/bootstrap-popover' %>
    <%= javascript_include_tag 'twitter/bootstrap/bootstrap-button' %>
    <%= javascript_include_tag 'twitter/bootstrap/bootstrap-collapse' %>
    <%= javascript_include_tag 'twitter/bootstrap/bootstrap-carousel' %>
    <%= javascript_include_tag 'twitter/bootstrap/bootstrap-typeahead' %>
    <%= javascript_include_tag 'twitter/bootstrap/bootstrap-affix' %>
    <%= javascript_include_tag 'chosen.jquery' %>
    <%= javascript_include_tag 'select2_3.2' %>
    <%= javascript_include_tag 'jquery.observe_field' %>
    <%= javascript_include_tag 'jquery.pageless' %>
    <%= javascript_include_tag 'wice_grid' %>
    <%= javascript_include_tag 'bootstrap' %>
    <%= javascript_include_tag 'jquery.form' %>
    <%= javascript_include_tag 'bootstrap-datepicker' %>

    <%= javascript_include_tag 'jquery.formparams' %>
    <%= javascript_include_tag 'jquery-fileupload' %>
    <%= javascript_include_tag 'tree.jquery' %>

    <%= javascript_include_tag 'jquery.json-2.3.min' %>
    <%= javascript_include_tag 'bootstrap-switch.js' %>
    <% if params[:controller].to_s == "product_designs" and params[:action] == 'edit_model' %>
      <%= javascript_include_tag 'jquery-ui.min' %>
      <%= javascript_include_tag 'jquery.jsPlumb-1.3.16-all.js' %>
      <%= javascript_include_tag 'product_designs/edit_model' %>
    <% end  %>

    <%  if Rails.env != "development" %>
      <% javascript_include_tag('twitter/bootstrap') %>
    <% end %>
    <%= javascript_include_tag 'jquery-migrate-1.0.0.js' %>
    
    <%= javascript_include_tag 'bootstrap-bar_tincture' %>
  </head>
  <body>
    <div id="fixed-nav" style="position: fixed;width: 100%;z-index: 2">
    <div class="navbar navbar-static-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <small><%= link_to release_version , {:controller => :main, :action => :index}, {:class => "brand version"} %></small>

          <div class="nav-collapse navbar-responsive-collapse collapse">
            <ul class="nav webmis-menu">
              <%= render :partial => "/layouts/menu_production" %>
              <%= render :partial => "/layouts/menu_reception" %>
              <%= render :partial => "/layouts/menu_conversion" %>
              <%= render :partial => "/layouts/menu_testing" %>
              <%= render :partial => "/layouts/menu_shipping" if session[:environment] == "production" %>
              <%= render :partial => "/layouts/menu_logistics" if session[:environment] == "production" %>
              <%= render :partial => "/layouts/menu_archive" if session[:environment] == "production" %>
              <%= render :partial => "/layouts/menu_design" %>
              <%= render :partial => "/layouts/menu_configuration" %>
              <%= render :partial => "/layouts/menu_my_settings" %>
              <%= render :partial => "/layouts/menu_my_project" %>
            </ul>
            <div id="bar-spinner" class="">
              <div class="bar-spinner">
                <div class="spinner-container container1">
                  <div class="circle1"></div>
                  <div class="circle2"></div>
                  <div class="circle3"></div>
                  <div class="circle4"></div>
                </div>
                <div class="spinner-container container2">
                  <div class="circle1"></div>
                  <div class="circle2"></div>
                  <div class="circle3"></div>
                  <div class="circle4"></div>
                </div>
                <div class="spinner-container container3">
                  <div class="circle1"></div>
                  <div class="circle2"></div>
                  <div class="circle3"></div>
                  <div class="circle4"></div>
                </div>
              </div>
              <div class="bar-spinner-message" id="bar-spinner-message"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>

  <script type="text/javascript">
    tinctureBar('<%= session[:color_profile] %>')

    $('a#production.dropdown-toggle').dblclick(function() {
      window.open('<%=h escape_javascript(url_for(:action => :index, :controller => :production_orders)) %>');
    });
    $('a#reception.dropdown-toggle').dblclick(function() {
      window.open('<%=h escape_javascript(url_for(:action => :index, :controller => :receptions)) %>');
    });
    $('a#conversion.dropdown-toggle').dblclick(function() {
      window.open('<%=h escape_javascript(url_for(:action => :index, :controller => :conversions)) %>');
    });
    $('a#testing.dropdown-toggle').dblclick(function() {
      window.open('<%=h escape_javascript(url_for(:action => :index, :controller => :test_requests)) %>');
    });
    $('a#shipping.dropdown-toggle').dblclick(function() {
      window.open('<%=h escape_javascript(url_for(:action => :index, :controller => :outbound_orders)) %>');
    });
    $('a#logistics.dropdown-toggle').dblclick(function() {
      window.open('<%=h escape_javascript(url_for(:action => :new_retroaction, :controller => :shipping_orderlines)) %>');
    });
    $('a#archive.dropdown-toggle').dblclick(function() {
      window.open('<%=h escape_javascript(url_for(:action => :index, :controller => :product_locations)) %>');
    });
  </script>

    <% flash.sort.each do |key, value| %>
      <div id="flash-<%= key %>" style="margin-top: 10px;float:right;margin-right: 0px;position:absolute;right:0px;z-index: 9" class="span4 alert alert-block alert-<%= key == :notice ? "success" : key %>" data-dismiss="alert">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4 class="alert-heading"><%= key.capitalize %>:</h4>
        <%= raw value %>
      </div>
      <%= content_tag :script, :type => "text/javascript" do -%>
        $(function() {
          $('#flash-<%= key %>').delay(6500).fadeIn('normal', function() {
            $(this).delay(1200).animate({opacity: "0", right: "0", width: "0"}, "normal",function(){
              $('#flash-<%= key %>').delay(1800).fadeOut('normal')})
            });
        });
      <% end %>
    <% end %>

    <div id="customFlash"></div>

    <div id="yield" class="container" style="padding-top: 50px;width: 1600px;padding-bottom: 15px;">
      <%= yield %>
    </div>
    <script type="text/javascript">
      function flash_on_demand(type,subject,message){
        // types: error = red, success = green, info = blue
        var subj = subject
        if (subject === ''){
          subj = type
        }
        var alertClass = "alert-"+type
        $("#customFlash").html('<%= escape_javascript(render "layouts/flash_on_demand") %>');
        $('#jsFlash').css("top",positionView() + "px");
        $('#jsFlash').addClass(alertClass);
        $("#jsFlashHeader").html(subj);
        $("#jsFlashContent").html(message);


          $('#jsFlash').delay(6500).fadeIn('normal', function() {
            $(this).delay(1200).animate({opacity: "0", right: "0", width: "0"}, "normal",function(){
              $('#jsFlash').delay(1800).fadeOut('normal',function(){
                $("#customFlash").html('');
              })})
          });
      }

      function positionView()
      {
        return (window.pageYOffset) ?
          window.pageYOffset :
          (document.documentElement.scrollTop) ?
            document.documentElement.scrollTop :
            document.body.scrollTop;
      }
      
      function rowShow(){
        $('[id^=row_show_]').children().hover(function(){
          if(typeof $(this).find('a')[0] === 'undefined'){
            $(this).css( 'cursor', 'pointer' );
            var rid = $(this).parent()[0].id.replace(/[^0-9]/g, '');
            $(this).click(function(){window.location.href = '<%= url_for(:controller => controller.controller_name)  %>'+'/'+rid;})
          }
        });}
      rowShow();

      function scrollToAnchor(aid){
        var aTag = $("a[name='"+ aid +"']");
        $('html,body').animate({scrollTop: aTag.offset().top -60},'slow');
      }

      $(".secondnav").appendTo($("#fixed-nav"));


      function selectText(element) {
        var doc = document
            , text = doc.getElementById(element)
            , range, selection
        ;
        if (doc.body.createTextRange) { //ms
            range = doc.body.createTextRange();
            range.moveToElementText(text);
            range.select();
        } else if (window.getSelection) { //all others
            selection = window.getSelection();
            range = doc.createRange();
            range.selectNodeContents(text);
            selection.removeAllRanges();
            selection.addRange(range);
        }
      }

      function isFunction(possibleFunction) {
        return typeof(possibleFunction) === typeof(Function);
      }

      if (isFunction("addColumnSearchtoForm")){
        // script already loaded
      } else {
        function addColumnSearchtoForm(){
          var elarr = $("[id^=column_search_field]");
          $("select[id^=column_select_field]").change(function(){
            var new_id = $(this).attr('id').replace("select","search");
            $("#"+new_id).val($(this).val());
            // Auto submit selects
            $("form:first").submit()
          })
          $("input[id^=column_search_field]").keyup(function(event){
            if(event.which == 13){
              
              $("form:first").submit();
              }
          });
          if (elarr.length > 0){
            $("form:first").submit(function( event ) {
              elarr.clone(true).appendTo("form:first").hide();
              //console.log( $( this ).serializeArray() );
              //event.preventDefault();
            });
          }
        }
        addColumnSearchtoForm();
      }

      $( document ).ready(function() {
      // monkey patch for select2 and html5 validation required attribute
      $("select.validate").attr('style','display:block')
      });
      
      $('a.disabled').click(function(e) {
        // Disable links for disabled buttons
        e.preventDefault();
        return false
      });

      // Catch paste and trigger as keypress event
      jQuery( ":input" ).on('paste', function () {
        var element = this;
        setTimeout(function () {
           // for chosen
           var e = jQuery.Event("keydown", { which: 39 });
           $(element).trigger("keyup");
           $(element).focus().trigger(e);
           // For select2
           $(element).trigger("keyup-change");
        }, 100);
      });

      // loading spinner on event
      $( document ).ajaxStart(function() {
        $('#bar-spinner').removeClass('hidden');
      });

      $( document ).ajaxError(function() {
        $('#bar-spinner').removeClass('hidden');
        $('#bar-spinner-message').html("load error")
      });
      
      $( document ).ajaxStop(function() {
        $('#bar-spinner-message').html("");
        $('#bar-spinner').addClass('hidden');
      });

      $("form").submit(function (e) {
        $('#bar-spinner').removeClass('hidden');
      });

      $( window ).load(function() {
        $('#bar-spinner-message').html("");
        $('#bar-spinner').addClass('hidden');
      });

      $("a:not([href^='#']):not([href='javascript:void(0)'])").click(function(){
        $('#bar-spinner').removeClass('hidden');
      });
    </script>
  </body>
</html>
