<div class="modal fade"id="myModalFileTree" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 id="myModalLabelFileTree"><%= @path %></h4>
      </div>
      <div class="modal-body">
        <div class="progress">
          <div id="modelLoader" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">LOADING</div>
        </div>
        <div class="row">
          <div class="col-md-12" id="myModalTree"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
  $('#myModalFileTree').on('show.bs.modal', function () {
    var progress = setInterval(function() {
      var $bar = $('#modelLoader');

      if ($bar.width()>=530) {
        clearInterval(progress);
      } else {
        $bar.width($bar.width()+18);
      }
    }, 560);});

  $('#myModalFileTree').on('shown.bs.modal', function () {
    $.get('<%= url_for(:controller => :main, :action => :get_json_file_tree,:path => @path) %>',function(data){
      $('.progress-bar').width(530);
      $('.progress-bar').text("File structure loaded, building tree....");
      $('.progress-bar').removeClass('active');
      setTimeout(function(){
        $(".progress").addClass("hidden");
        $('#myModalTree').tree({
          data: [data],
          selectable: false,
          onCreateLi: function(node, $li) {
            $li.find('.jqtree-title').attr("title","Created: " + node.creation_date + " Size: " + node.file_size);
          }
        });
      },500);
    });
  });
</script>