<div id="myModalFileTree" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="myModalLabelFileTree"><%= @path %></h4>
  </div>
  <div class="modal-body">
    <div id="modelLoader" class="progress progress-striped active"><div class="bar" style="width: 0%;">LOADING</div></div>
    <div class="row">
      <div class="span5 col-md-5" id="myModalTree"></div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<script type="text/javascript">
  $('#myModalFileTree').on('show', function () {

    var progress = setInterval(function() {
      var $bar = $('.bar');

      if ($bar.width()>=530) {
        clearInterval(progress);
      } else {
        $bar.width($bar.width()+18);
      }
      //$bar.text($bar.width()/4 + "%");
    }, 560);});

  $('#myModalFileTree').on('shown', function () {
    $.get('<%= url_for(:controller => :main, :action => :get_json_file_tree,:path => @path) %>',function(data){
      $('.bar').width(530);
      $('.bar').text("File structure loaded, building tree....");
      $('.progress').removeClass('active');
      setTimeout(function(){
        $("#modelLoader").addClass("hidden");
        $('#myModalTree').tree({
          data: [data],
          selectable: false,
          onCreateLi: function(node, $li) {
            $li.find('.jqtree-title').attr("title","Created: " + node.creation_date + " Size: " + node.file_size);
          }
        });
      },500);
    });
  });
</script>