<nav class="navbar navbar-fixed-top content nav-subhead fix sticky no-show navbar-default hidden-sm hidden-xs" id="nav_secondary">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><%= params[:controller].humanize %></a>
    </div>

    <%= form_tag request.env['PATH_INFO'], method: 'get', role: 'search', class:'navbar-form navbar-left' do %>
        <% if @search_opts && @search_opts[:inactive] %>
        <%= check_box_tag :inactive, @search_opts[:inactive],@search_opts[:inactive] != "0",{:data => {"off-text" => "Excluded","on-text" => "Including","label-text" => "Inactive"} }%>
        <script type="text/javascript">
          $("#inactive").bootstrapSwitch({"data-off-text":"active"});
        </script>
        <% end %>
        <div class="input-group">
          <span class="input-group-btn">
            <%= link_to "New",{:action => :new}, {:class => 'btn btn-primary'} %>
          </span>
          <%= text_field_tag :search, params[:search], :placeholder=>"Search", :class => "form-control" %>
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default">Search</button>
            <button type="submit" class="btn btn-default" name="reset">Reset</button>
          </span>
        </div>
      <% end %>
    
    </div>
  </nav>