<% if versioned_object_warning.latest_approved && versioned_object_warning.latest_approved.version != versioned_object_warning.version   %>
<div class="row">
  <div class="span6">
    <div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Other approved version detected !</strong> This version <%= versioned_object_warning.version %> is not used by the system.<br />
            <%= link_to "Version #{versioned_object_warning.latest_approved.version}",:action => :approved ,:id => versioned_object_warning.id %> is approved.
    </div>
  </div>
</div>
<% end %>
<% if versioned_object_warning.versions.last.version != versioned_object_warning.version   %>
<div class="row">
  <div class="span6">
    <div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Newer version detected !</strong> This is not the latest version.<br />
            <%= link_to "Version #{versioned_object_warning.versions.last.version}",versioned_object_warning %> is newer, but not approved yet.
    </div>
  </div>
</div>
<% end %>