<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand">
        <strong><%= header %></strong>
      </div>
      <%= form_tag send(form_path), { :method=> 'get' } do %>
         <div class="span">
          <div class="input-bar">
          <label class="checkbox">
            <%= check_box_tag 'obsolete', 0, params[:obsolete],{:data => {"text-label" => "obsolete","on-label" => "Include",:size => "normal",:on => "success",:off => "default","off-label" => "excluded"}} %>
          </label>
          </div>
        </div>
        <div class="span">
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <div class="input-prepend input-append">
            <% if content_for?(:search_parameters) %>
              <%= yield :search_parameters %>
            <% end %>
            <%= link_to("New",{:action => :new},{:class => 'btn btn-info'}) if env_production? %>
            <%= select_tag("search_status", options_for_select(HandleVersioning.statusarray.compact,params[:search_status]), include_blank: true, class: 'span2', data: {placeholder: 'Status'}) %>
            <%= text_field_tag :search, params[:search],:class => 'span2', :placeholder => 'Free search'%>
            <%= button_tag "Search", :name => nil, :type => :submit, :class => "btn" %>
            <%= button_tag "Reset", :name => 'reset',:class=>"btn",:type=>:submit %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#search_status').chosen({allow_single_deselect:true})
  $("#obsolete").bootstrapSwitch();
</script>
