
<div class="btn-group">
  <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
  Action
  <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <% if versioned_object.approved && versioned_object.approved.version != versioned_object.version %>
      <li>
        <%= link_to [:approved, versioned_object] do %>
        <i class="icon-info-sign"></i>&nbsp;show approved
        <% end %>
      </li>
    <% end %>

      <li>
        <%= link_to [versioned_object] do %>
        <i class="icon-info-sign"></i>&nbsp;show
        <% end %>
      </li>
<% if (env_production?) || (params[:controller] != "data_types" && !env_production?) %>
    <li>
      <%= link_to [:handle, versioned_object] do %>
        <i class="icon-calendar"></i>&nbsp;handle
      <% end %>
    </li>
    <% if versioned_object.valid_status?('draft') %>
      <li>
        <%= link_to [:edit, versioned_object] do %>
          <i class="icon-pencil"></i>&nbsp;edit
        <% end %>
      </li>
    <% end %>

    <% if controller.controller_name == 'product_designs' %>
      <li>
        <%= link_to :action => 'edit_model', :id => versioned_object.id.to_s do %>
          <i class="icon-pencil"></i>&nbsp;edit process flow
        <% end %>
      </li>
    <% end %>
    <% if controller.controller_name == 'product_designs' %>
      <li>
        <%= link_to :action => 'clone_it', :id => versioned_object.id.to_s do %>
          <i class="icon-pencil"></i>&nbsp;clone design
        <% end %>
      </li>
<% end %>
    <% end %>
  </ul>
</div>
