<div class="row">
  <div class="span1">
    <div class="btn-group">
      <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
        Action
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to({:controller => :areas, :action => 'show', :id => area.id}) do %>
          <i class="icon-info-sign"></i>&nbsp;show
          <% end %>
        </li>
        <li>
          <%= link_to({:controller => :areas, :action => 'edit', :id => area.id}) do %>
          <i class="icon-edit"></i>&nbsp;edit
          <%  end %>
        </li>
      </ul>
    </div>
  </div>  
  <div class="span2"><%= area.name %>&nbsp;</div>
  <div class="span1"><%= area.area_code %>&nbsp;</div>
  <div class="span1"><%= area.country_iso_code %>&nbsp;</div>
  <div class="span1"><%= area.country_iso3_code %>&nbsp;</div>
  <div class="span2"><%= area.parent.name if !area.parent_id.blank? %>&nbsp;</div>
  <%  c = CompanyAbbr.where("id = '#{area.supplier_id}'").first if !area.supplier_id.blank?%>
  <div class="span3"><%= c.name if c %>&nbsp;</div>
  <div class="span1">
    <% if area.isactive 
      active_icon_class = 'icon-check'
    else 
      active_icon_class = 'icon-minus'
    end %>
    <i class="icon <%=  active_icon_class %>">&nbsp;</i>
  </div>
</div>