<%= form_for(@area) do |f| %>
  <% if @area.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@area.errors.count, "error") %> prohibited this area from being saved:</h4>
      <ul>
        <% @area.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="span8 bounded">
      <div class="row">
        <div class="span3"><strong>Name</strong></div>
        <div class="span1"><strong>Code</strong></div>
        <div class="span1"><strong>Dakota ID</strong>&nbsp;<i class="icon icon-refresh" style="color:#008AFF" title="Generate latest ID" id="generateDakotaId"></i></div>
        <div class="span1"><strong>Active</strong></div>
        <div class="span2"><strong>Ignore as DS region</strong></div>
      </div>
      <div class="row">
        <div class="span3"><%= f.text_field :name,:class => 'span3',:placeholder => "Name of Area" %></div>
        <div class="span1"><%= f.text_field :area_code,:class => 'span1',:placeholder => "Code" %></div>
        <div class="span1"><%= f.number_field :dakota_id,:class => 'span1',:placeholder => "Dakota ID" %></div>
        <div class="span1"><%= f.check_box :isactive %></div>
        <div class="span1"><%= f.check_box :ignore_ds_regions_yn %></div>
      </div>
      <div class="row">
        <div class="span3"><strong>Parent</strong></div>
        <div class="span3"><strong>Supplier</strong></div>
      </div>
      <div class="row">
        <div class="span3">
          <%= f.select :parent_id, grouped_options_for_select(@parents,@area.parent_id),{:include_blank => true},{:class => 'span3',:data => {:placeholder => 'Parent Area'}} %>
        </div>
        <div class="span3"><%= select :area, :supplier_id, CompanyAbbr.active.collect {|c| [ c.name, c.id ] },{:include_blank => true}, {:class=>'span3',:data => {:placeholder => 'Select a Supplier (optional)'} } %></div>
      </div>

      <div class="row">
        <div class="actions span3">
          <%= f.submit 'Save',:class => 'btn' %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">

  $('#area_supplier_id').chosen({allow_single_deselect: true});
  $('#area_parent_id').chosen({allow_single_deselect: true});
  
  $('#generateDakotaId').hover(function() {
    $(this).css('cursor','pointer');
  });

  $("#generateDakotaId").click(function(){
    $.get( "<%= url_for(:action => :generate_dakota_id) %>", function( data ) {
      $( "#area_dakota_id" ).val( data );
    });
  })
</script>