<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand"><strong>Custom Areas</strong></div>
      <div class="span">
        <%= form_tag areas_path, :method => 'get' do %>
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <div class="input-append input-prepend">
            <%= link_to 'New', {:action => :new,:controller => :areas},{:class => 'btn btn-info'} %>
            <%= text_field_tag :q, params[:q], :placeholder=>" search",:class=>"span3",:size=>"16" %>
            <%= button_tag "Search", :name => nil, :type => :submit, :class => "btn" %>
            <%= button_tag "Reset", :name => 'reset',:class=>"btn",:type=>:submit %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="endless">
  <div class="row">
    <div class="offset1 span2"><strong><%=  sortable "name" %></strong></div>
    <div class="span1"><strong><%= sortable "area_code" %>&nbsp;</strong></div>
    <div class="span1"><strong><%= sortable "country_iso_code","ISO-2" %>&nbsp;</strong></div>
    <div class="span1"><strong><%= sortable "country_iso3_code","ISO-3" %>&nbsp;</strong></div>
    <div class="span2"><strong><%= sortable "parent_id", 'Parent' %>&nbsp;</strong></div>
    <div class="span3"><strong><%= sortable "suppliers.name", 'Supplier' %>&nbsp;</strong></div>
    <div class="span1"><strong><%= sortable "isactive", 'Active' %>&nbsp;</strong></div>
  </div>
  
  <%= render(:partial => "area", :collection => @areas) %>
</div>
<%= will_paginate(@areas) %>
<%= pageless(@areas.total_pages, url_for(:controller => :areas, :action => :index), "#endless") %>
<footer class="subnav subnav-fixed" style="bottom:0;top:auto;margin-bottom: 0px;">
  &nbsp;
</footer>
