<h4>Custom Area</h4>
<div class="row">
  <div class="span8 bounded">
    <div class="row">
      <div class="span3"><strong>Name</strong></div>
      <div class="span1"><strong>Code</strong></div>
      <div class="span1"><strong>Dakota ID</strong></div>
      <div class="span1"><strong>Active</strong></div>
      <div class="span2"><strong>Ignore as DS region</strong></div>
    </div>
    <div class="row">
      <div class="span3"><span class="input-xlarge uneditable-input span3"><%= @area.name %></span></div>
      <div class="span1"><span class="input-xlarge uneditable-input span1"><%= @area.area_code %></span></div>
      <div class="span1"><span class="input-xlarge uneditable-input span1"><%= @area.dakota_id %></span></div>
      <div class="span1"><%= bootstrap_boolean(@area.isactive) %></div>
      <div class="span1"><%= bootstrap_boolean(@area.ignore_ds_regions_yn) %></div>
    </div>
    <div class="row">
        <div class="span3"><strong>Parent</strong></div>
        <div class="span3"><strong>Supplier</strong></div>
    </div>
    <div class="row">
        <div class="span3"><span class="input-xlarge uneditable-input span3"><%= @area.parent.name if !@area.parent_id.blank? %>&nbsp;</span></div>
        <div class="span3"><span class="input-xlarge uneditable-input span3"><%= @area.company_abbr.company_name if @area.company_abbr %>&nbsp;</span></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <%= link_to edit_area_path(@area), :class => "btn",:title => "edit" do %>
      <i class="icon-edit"></i>
    <% end %>
    &nbsp;
    <%= link_to(:back,:class=>'btn',:title=>'back') do %>
      <i class="icon icon-arrow-left"></i>
    <% end %>
    &nbsp;
    <%= link_to(regions_path,:class=>'btn',:title=>'Regions overview') do %>
      <i class="icon icon-arrow-up"></i>
    <% end %>
  </div>
</div>
