<% f = form_fields %>

<div class="row">
  <div class="span3"><strong>Name</strong></div>
  <div class="span3"><strong>Product category</strong></div>
</div>

<div class="row">
  <div class="span3"><%= f.text_field :name, :class => 'span3' %></div>
  <div class="span3"><%= f.select :product_category_id, 
  ProductCategory.where(:active => true).collect {|pc|[pc.abbreviation,pc.id]},{:include_blank => true}, {:class => 'span3'} %></div>
</div>

<div class="row">
  <div class="span6"><strong>Description</strong></div>
</div>

<div class="row">
  <div class="span6"><%= f.text_area :description, :class => 'span6', :rows => 3 %></div>
</div>

<div class="row">
  <div class="span6">
    <label><%= f.check_box :is_frontend %>Front end conversion</label>
  </div>
</div>

<div class="row">
  <div class="span6">
    <label><%= f.check_box :no_pds_yn %>No Product definition</label>
  </div>
</div>

<div class="row">
  <div class="span6">
    <label><%= f.check_box :job_support_yn %>Automatic job support</label>
  </div>
</div>

<script type="text/javascript">
  $('#ordertype_no_pds_yn').change(function(){
    if (this.checked){
      $("#ordertype_product_category_id").val('');
    }
  });
</script>
