<div class="row" id="line-<%= ordertype.id %>">
  <div class="span1">
    <div class="btn-group">
      <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
        Action
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to(:action => 'show',:controller => :ordertypes,:id => ordertype.id) do %>
            <i class="icon-info-sign"></i>&nbsp;show
          <% end %>
        </li>
        <li>
          <%= link_to(:action => 'edit',:controller => :ordertypes,:id => ordertype.id) do %>
            <i class="icon-edit"></i>&nbsp;edit
          <% end %>
        </li>
        <li>
          <%= link_to(:action => 'edit_workflow',:controller => :ordertypes,:id => ordertype.id) do %>
            <i class="icon-pencil"></i>&nbsp;edit work flow
          <% end %>
        </li>
        <li>
          <%= link_to(:action => 'clone',:controller => :ordertypes,:id => ordertype.id) do %>
            <i class="icon-repeat"></i>&nbsp;Clone
          <% end %>
        </li>
        <li>
          <%= link_to({:action => :change_status,:controller => :ordertypes,:id => ordertype.id,:status => Ordertype::STATUS_OBSOLETE},{:method => 'post',:confirm => "Are you sure to remove this order type?"}) do %>
            <i class="icon-trash"></i>&nbsp;Remove
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <div class="span2"><%=h ordertype.product_category.abbreviation if ordertype.product_category_id %></div>
  <div class="span2"><%=h ordertype.name %></div>
  <div class="span1"><%= bootstrap_boolean(ordertype.is_frontend) %></div>
  <div class="span1"><%= bootstrap_boolean(ordertype.no_pds_yn) %></div>
  <div class="span1"><%= bootstrap_boolean(ordertype.job_support_yn) %></div>
  <div class="span4"><%=h ordertype.description %></div>
</div>

<% if ordertype.status == Ordertype::STATUS_OBSOLETE %>
  <script type="text/javascript">
    $('#line-<%= ordertype.id %> [class^=span]').wrapInner('<del></del>');
  </script>
<% end %>