<h3>Editing ordertype</h3>

<% if @ordertype.errors.any? %>
<div class="row">
  <div class="alert alert-error span3">
    <% @ordertype.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
  </div>
</div>
<% end %>

<%= form_for(@ordertype) do |f| %>
<%= render :partial => 'form_fields', :object => f%>
  
  <p>
    <%= f.submit "Update", :class => 'btn btn-primary' %>
  </p>
<% end %>

<%= link_to 'Show', @ordertype %> |
<%= link_to 'Back', ordertypes_path %>
