<div class="container">
  <h3>Order type</h3>
<div class="row">
  <div class="span12">
    <div class="well well-small">   <p>
  <b>Name:</b>
  <%=h @ordertype.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @ordertype.description %>
</p></div>
 
  </div>
</div>


  <h4>Workflow</h4>
<div class="row">
  <table class="table table-condensed table-striped table-bordered span12 table-hover">
    <tr>
      <th>&nbsp;</th>
      <th>Sequence</th>
      <th>Action label</th>
      <th>Start level</th>
      <th>Process transition</th>
      <th>Finish level</th>
    </tr>
    <% @ordertype.sorted_process_transitions.each do |transition| %>
      <tr>
        <td>  <div class="btn-group">
            <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
              action
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><strong>&nbsp;<%= transition.action_label %></strong></li>
              <li class="divider"></li>
              <li>
                <%= link_to :controller => 'process_transitions', :action => 'edit' , :id => transition.id,  :otid => @ordertype.id do %>
                  <i class="icon-edit"></i>&nbsp;edit
                <% end %>
              </li>
              <li>
                <%= link_to({:controller => 'process_transitions' , :action => 'delete', :id => transition.id, :otid => @ordertype.id}, {:confirm => 'Are you sure?'}) do %>
                  <i class="icon-remove"></i>&nbsp;destroy
                <% end %>
              </li>          
            </ul>
          </div> </td>
        <td><%= transition.sequence %></td>
        <td>
          <%= transition.action_label %>
        </td>
        <td><%= transition.from_level %></td>
        <td><%= transition.from_process.name %>
          <i class="icon-arrow-right">&nbsp;</i><span rel="popover" id="popover-<%= transition.id %>" ><%= transition.to_process.name %></span>
        </td>
        <td><%= transition.to_level %></td>
      </tr>
      <script type="text/javascript">
      $('#popover-<%= transition.id %>').popover({
        title: '<h5>Line action link</h5>',
        html:true,
        content: '<strong>Controller:&nbsp;</strong><%= transition.to_process.line_link_controller %><br /><strong>Action:&nbsp;</strong><%= transition.to_process.line_link_action %>',
        trigger: "hover"
      })
      </script>
    <% end %>
  </table>
</div>
<%= link_to :controller => 'process_transitions' , :action => 'new', :ot_id => @ordertype.id,:class => 'btn' do %>
  <i class="icon-random">&nbsp;</i>Add workflow transition
<% end %> <br>
<%= link_to :controller => 'business_processes', :action => 'new' do %>
  <i class="icon-plus">&nbsp;</i>Add Business process
<% end %>
<br/>
<%= link_to ordertypes_path do %>
  <i class="icon-arrow-left">&nbsp;</i>Back
<% end %>
</div>

