<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand"><strong>Order types</strong></div>
      <div class="span">
        <%= form_tag ordertypes_path, method: 'get' do %>
          <div class="span3">
            <div class="input-bar">
              <label class="checkbox">
                <%= check_box_tag :removed, "1", @removed,{:data => {"text-label" => "removed","off-label" => "","on-label" => "Include",:size => "normal",:on => "success",:off => "default","off-label" => "excluded"}} %>
              </label>
            </div>
          </div>
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <div class="input-prepend input-append">
            <% select_tag("search_status", options_for_select(Ordertype.status_hash,params[:search_status]), :include_blank => true, :class => 'span2', :data => {:placeholder => 'Status'}) %>
            <%= link_to("New",{:action => :new},{:class => 'btn btn-info'}) if env_production? %>
            <%= text_field_tag :search, params[:search], placeholder: " search", class: "span3", size: "16" %>
              <%= button_tag "Search", name: nil, type: :submit, class: "btn" %>
                <%= button_tag "Reset", name: 'reset',class: "btn", type: :submit %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

<div id="endless">
<div class="row">
  <div class="offset1 span2"><strong>Product category</strong></div>
  <div class="span2"><strong>Name</strong></div>
  <div class="span1"><strong>Front-end</strong></div>
  <div class="span1"><strong>No PDS</strong></div>
  <div class="span1"><strong>Job sup.</strong></div>
  <div class="span4"><strong>Description</strong></div>
</div>
<%= render(:partial => "ordertype", :collection => @ordertypes,:params => params) %>
</div>
<%= will_paginate(@ordertypes) %>
<%= pageless(@ordertypes.total_pages, url_for(:controller => :ordertypes,:action => :index,:params => params), "#endless") %>
<script type="text/javascript">
  $("#removed").bootstrapSwitch();
</script>