<h3>New ordertype</h3>

<% if @ordertype.errors.any? %>
  <div class="alert alert-error">
    <% @ordertype.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
  </div>
<% end %>

<%= form_for(@ordertype) do |f| %>
<%= render :partial => 'form_fields', :object => f%>

  <p>
    <%= f.submit "Create", :class => 'btn btn-primary' %>
  </p>
<% end %>

<%= link_to 'Back', ordertypes_path %>
