<div class="row">
  <div class="span5 bounded bounded-headered">
    <div class="row bounded-header">
      <div class="span4"><h4>Order type <%=h @ordertype.name %></h4></div>
    </div>
    <div class="row">
      <div class="span2"><strong>Name</strong></div>
      <div class="span2"><%=h @ordertype.name %></div>
    </div>
    <div class="row">
      <div class="span2"><strong>Product category</strong></div>
      <div class="span2"><%=h @ordertype.product_category.abbreviation if @ordertype.product_category %></div>
    </div>
    <div class="row">
      <div class="span2"><strong>Description</strong></div>
      <div class="span2"><pre class="real-pre"><%=h @ordertype.description %></pre></div>
    </div>
    <div class="row">
      <div class="span2"><%= bootstrap_boolean(@ordertype.no_pds_yn,"Allow without product definition") %>&nbsp;Without product definition</div>
    </div>
    <div class="row">
      <div class="span2"><%= bootstrap_boolean(@ordertype.is_frontend,"Use only for front-end production orders") %>&nbsp;Front-end production order</div>
    </div>
    <div class="row">
      <div class="span2"><%= bootstrap_boolean(@ordertype.job_support_yn,"Use automatic jobs where available.") %>&nbsp;Automatic job support</div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">|
    <%= link_to edit_ordertype_path(@ordertype) do %>
      <i class="icon icon-edit" title="edit">&nbsp;</i>
    <% end %>|
    <%= link_to ordertypes_path do %>
      <i class="icon icon-arrow-up" title="back to index">&nbsp;</i>
    <% end %>|
  </div>
</div>
