<div class="row"><br /><br />
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default ">
      <div class="panel-heading ">
        <%= image_tag "backoffice_logo_login.png",:class => "center-block " %>
        <h2 class="text-center">WebMIS</h2>
      </div>
      <div class="panel-body text-center">
        <%= form_for(:login, :url => { :action => :do_login },:html => {:class => "form-inline"}) do |f|%>
          <div class="form-group">
            <%= f.text_field :username, :class =>  "form-control",:placeholder => "Username",:autofocus => '' %>
          </div>
          <div class="form-group">
            <%= f.password_field :password, :class =>  "form-control", :placeholder => "Password" %>
          </div>
          <%= submit_tag "Sign in", {:class => "btn btn-default"} %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <% flash.each do |key, value| %>
      <div class="alert alert-danger text-center" role="alert">
        <%= value %>
      </div>
    <% end %>
  </div>
</div>
