<div class="row">
  <div class="col-md-8">
    <% if @test_request.errors.any? %>
      <div id="error_explanation">
        <h4><%= pluralize(@test_request.errors.count, "error") %> prohibited this test request from being saved:</h4>
        <ul>
          <% @test_request.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-6"><h3 class="panel-title"><%= params[:action].humanize %> test request</h3></div>
          <div class="col-md-1 pull-right"><label class="label label-info"><%=  @test_request.status %></label></div>
        </div>
        
      </div>
      <%= form_for(@test_request) do |f| %>

      <%= f.hidden_field :production_orderline_id %>
      <%= hidden_field_tag :return_to_controller, params[:return_to_controller] %>
      <%= hidden_field_tag :return_to_action, params[:return_to_action] %>
      <%= hidden_field_tag :return_to_id, params[:return_to_id] %>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-2">
            <div class="form-group">
              <label>Requester</label>
              <%= f.select :requested_by_user_id, User.active.collect {|u|[u.first_name.to_s + " " + u.last_name.to_s,u.id]},{:class => 'form-control'} %>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label>Assigned to</label>
              <%= f.select :assigned_to_user_id, User.active.collect {|u|[u.first_name.to_s + " " + u.last_name.to_s,u.id]},{:class => 'form-control'} %>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label>Test type</label>
              <%= f.select :test_type_id, TestType.active.collect {|t| [t.name.to_s,t.id] }, {:include_blank => true}, {:class => 'form-control'} %>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <%= f.label :product_id %>
              <%= f.text_field :product_id, :class=>"form-control" %>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <%= f.label :start_date %>
              <%= f.text_field :start_date, {:value => @test_request.start_date.strftime("%d-%m-%Y"), :placeholder => 'dd-mm-yyyy', :class => "form-control"} %>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <%= f.label :finish_date %>
              <%= f.text_field :finish_date, {:value => @test_request.finish_date.strftime("%d-%m-%Y"), :placeholder => 'dd-mm-yyyy', :class => "form-control"} %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <%= f.label :request_remarks %>
              <%= f.text_area :request_remarks, :rows => 3, :class => 'form-control' %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Test database</label>
              <%= f.text_field :test_db_conversion_databases_id,{:class => "form-control"} %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Reference database</label>
              <%= f.text_field :ref_db_conversion_databases_id,{:class => "form-control"} %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5"><br />
              <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Automatic Test job support</h3>
                    <small>- leave empty for manual tests</small>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-7">
                        <div class="form-group">
                          <%= f.label :test_plan_id %>
                          <%= f.select :test_plan_id, TestPlan.option_list, {:include_blank => true} ,  {:class => 'form-control'}%>
                        </div>
                      </div>
                      <div class="col-md-5">
                        <div class="form-group">
                          <%= f.label :test_tool_release_id %>
                          <%= f.select :test_tool_release_id, options_for_select(TestToolRelease.active.collect{|ttr|[ttr.release_name,ttr.id]},@test_request.test_tool_release_id),{:include_blank => true},{:class => "form-control"} %>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 pull-right"><%= f.submit 'Save', :class => "btn btn-default pull-right" %></div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
 $('#test_request_test_db_conversion_databases_id').select2({
      placeholder: 'test database',
      allowClear: false,
      minimumInputLength: 3,
      ajax: {
        url: "<%= escape_javascript(url_for(:action => 'conversion_databases_for_select')) %>.json",
        dataType: 'json',
        quietMillis: 100,
        data: function (term, page) {

          return {
            q: term, // search term
            page_limit: 15,
            page: page
          };
        },
        results: function (data, page) {
          var more = (page * 15) < data.total;
          return {results: data.results, more: more};
        }
      },
      formatResult: selectListItems,
      formatSelection: selectedValue,
      dropdownCssClass: "bigdrop"
      <% if @test_request.test_db %>
      ,initSelection: function (element, callback) {
            var obj = <%= raw @test_request.test_db.to_json %>
            callback(obj);}
      <% end %>
    });

    
 $('#test_request_ref_db_conversion_databases_id').select2({
      placeholder: 'reference database',
      allowClear: true,
      minimumInputLength: 3,
      ajax: {
        url: "<%= escape_javascript(url_for(:action => 'conversion_databases_for_select')) %>.json",
        dataType: 'json',
        quietMillis: 100,
        data: function (term, page) {

          return {
            q: term, // search term
            page_limit: 15,
            page: page
          };
        },
        results: function (data, page) {
          var more = (page * 15) < data.total;
          return {results: data.results, more: more};
        }
      },
      formatResult: selectListItems,
      formatSelection: selectedValue,
      dropdownCssClass: "bigdrop"
      <% if @test_request.ref_db %>
      ,initSelection: function (element, callback) {
            var obj = <%= raw @test_request.ref_db.to_json %>
            callback(obj);}
      <% end %>

    });

  function selectListItems(obj) {
    var dr = '<div class="row">';
    var cd = '</div>';
    var sp1 = '<div class="col-md-1">';
    var sp4 = '<div class="col-md-11">';
    var markup = dr;
    markup += sp1 + '<strong>' + obj['conversion_id'] + '</strong>' + cd;
    markup += sp4 + obj.path_and_file  + cd;
    markup += cd;


    return markup;
  }

  function selectedValue(obj) {
    return (obj.conversion_id + ' ' + obj.path_and_file);
  }

$('#test_request_start_date').datepicker({
    format: 'dd-mm-yyyy'
  });
$('#test_request_finish_date').datepicker({
    format: 'dd-mm-yyyy'
  });

  $("#test_request_test_type_id").select2({ search_contains: true })
  $("#test_request_test_plan_id").select2({ search_contains: true, placeholder:"Select to enable job support",allowClear: true  })
  $("#test_request_assigned_to_user_id").select2({ search_contains: true })
  $("#test_request_requested_by_user_id").select2({ search_contains: true})
  $("#test_request_test_tool_release_id").select2({ search_contains: true, placeholder:"Test tool release", allowClear: true})
</script>

