<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-6"><h3 class="panel-title"><span class="badge"><%= @test_request.id %></span> <%= params[:action].humanize %> test request for <%= @test_request.test_type.name %></h3></div>
          <div class="col-md-1 pull-right"><label class="label label-info"><%=  @test_request.status %></label></div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-2 show-label">
            Requester
          </div>
          <div class="col-md-2 show-label">
            Assigned to
          </div>
          <div class="col-md-2 show-label">
            Test type
          </div>
          <div class="col-md-2 show-label">
            Product
          </div>
          <div class="col-md-2 show-label">
            Start date
          </div>
          <div class="col-md-2 show-label">
            Finish date
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <%= @test_request.request_user.full_name %>
          </div>
          <div class="col-md-2">
            <%= @test_request.assigned_user.full_name %>
          </div>
          <div class="col-md-2">
            <%= @test_request.test_type.name %>
          </div>
          <div class="col-md-2">
            <%= @test_request.product.volumeid if @test_request.product  %>
          </div>
          <div class="col-md-2">
            <%= @test_request.start_date.strftime("%d-%m-%Y") %>
          </div>
          <div class="col-md-2">
            <%= @test_request.finish_date.strftime("%d-%m-%Y") %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 show-label">
            Request remarks
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <pre class="text-pre"><%= @test_request.request_remarks.blank? ? 'N/A' : @test_request.request_remarks %></pre>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 show-label">
            Test database
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button id="browseTest" class="btn btn-default btn-xs disabled" title="browse database folder"><span class="glyphicon glyphicon-folder-open"></span></button>
            <%= link_to @test_request.test_db.conversion_id, @test_request.test_db.conversion, target: "_blank" if @test_request.test_db %>&nbsp;
            <%= link_to @test_request.test_db.id, @test_request.test_db, target: "_blank" if @test_request.test_db %>
            <%= @test_request.test_db ? @test_request.test_db.path_and_file : 'N/A'  %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 show-label">
            Reference database
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button id="browseRef" class="btn btn-default btn-xs disabled" title="browse database folder"><span class="glyphicon glyphicon-folder-open"></span></button>
            <%= link_to @test_request.ref_db.conversion_id, @test_request.ref_db.conversion, target: "_blank" if @test_request.ref_db %>&nbsp;
            <%= link_to @test_request.ref_db.id, @test_request.ref_db, target: "_blank" if @test_request.ref_db %>
            <%= @test_request.ref_db ? @test_request.ref_db.path_and_file : 'N/A'  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% if @test_request.product %>
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Product information</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-2 show-label">
              Product
            </div>
            <div class="col-md-4 show-label">
              Name
            </div>
            <div class="col-md-1 show-label">
              Status
            </div>
            <div class="col-md-4 show-label">
              Product-set
            </div>
            <div class="col-md-1 show-label">
              Set status
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <%= link_to @test_request.product.id, @test_request.product, target: '_blank' %>
              <%= @test_request.product.volumeid %>
            </div>
            <div class="col-md-4">
              <%= @test_request.product.name %>
            </div>
            <div class="col-md-1">
              <%= @test_request.product.status_str %>
            </div>
            <div class="col-md-4">
              <% @test_request.product.productsets.each do |set| %>
                <%= link_to set.id,set,target: "_blank" %>
                <%= set.setcode %>
              <% end %>
            </div>
            <div class="col-md-1">
              <% @test_request.product.productsets.each do |set| %>
                <%= set.status_str %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if @test_request.conversion %>
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Conversion information</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-2 show-label">
              Conversion request
            </div>
            <div class="col-md-4 show-label">
              Conversion tool
            </div>
            <div class="col-md-2 show-label">
              Assembly file
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <%= link_to @test_request.conversion.id, @test_request.conversion, target: "_blank"  %>
            </div>
            <div class="col-md-4">
              <%= @test_request.conversion.conversion_tool_release %>
            </div>
            <div class="col-md-2">
              <%  if @test_request.conversion.assembly %>
                <%= link_to 'assembly_'+@test_request.conversion.productid.to_s+".csv" , :controller => "assembly_headers", :action => "create_csv",:format => 'csv', :id => @test_request.conversion.assembly.id %>
              <% else %>
                N/A
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if @test_request.status != "CREATED" && @test_request.status != "REQUESTED" %>
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Remarks from test engineer</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-2">
              <div class="row">
                <div class="col-md-12 show-label">
                  Actual start date
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <%= @test_request.actual_start_date.blank? ? 'N/A' : @test_request.actual_start_date.strftime("%d-%m-%Y") %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 show-label">
                  Actual finish date
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <%= @test_request.actual_finish_date.blank? ? 'N/A' : @test_request.actual_finish_date.strftime("%d-%m-%Y") %>
                </div>
              </div>
            </div>
            <div class="col-md-10">
              <div class="row">
                <div class="col-md-12 show-label">Remarks</div>
              </div>
              <div class="col-md-12">
                <pre class="text-pre"><%=  @test_request.result_remarks.blank? ? 'N/A' : raw(@test_request.result_remarks) %></pre>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if @test_request.use_scheduler? && params[:action] != 'handle' %>
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-6"><h3 class="panel-title">Automatic Test job support</h3></div>
            <div class="col-md-3"><strong>Test plan</strong>&nbsp;<%= link_to @test_request.test_plan.name,@test_request.test_plan, :target => "_blank"  if @test_request.test_plan %></div>
            <div class="col-md-3"><strong>Test tool release</strong>&nbsp;<%= @test_request.test_tool_release.release_name if  @test_request.test_tool_release %></div>
          </div>
        </div>
        <div class="panel-body">
          <div class="row">
            <% @test_request.test_request_jobs.each do |job| %>
            <div class="col-md-3">
              <div class="<%= job_status_to_bootstrap_panel_css(job.status) %>">
                <div class="panel-heading">
                  <h3 class="panel-title"><%= link_to job.id, job, :target => "_blank" %>&nbsp;<%= job.run_server %><span class="pull-right"><small><%= job.status_str %></small></span></h3>
                </div>
                <div class="panel-body">
                  <p><%= job.label_test_case_name %><span class="pull-right"><%= job.label_test_area_name %></span></p>
                </div>
              </div>
            </div>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div id="file_tree_modal"></div>

<script type="text/javascript">
  $("#browseTest").removeClass("disabled");
<%  if @test_request.test_db %>
    $("#browseTest").click(function(){
      $.get('<%= url_for(:action => :render_file_tree,:conversion_database_id => @test_request.test_db.id) %>', function( data ) {
      $("#file_tree_modal").html(data);
      $(".modal-dialog").addClass("modal-lg");
      $('#myModalFileTree').modal("show");
      })});
<% end %>

<% if @test_request.ref_db %>
    $("#browseRef").removeClass("disabled");
    $("#browseRef").click(function(){
      $.get('<%= url_for(:action => :render_file_tree,:conversion_database_id => @test_request.ref_db.id) %>', function( data ) {
      $("#file_tree_modal").html(data);
      $(".modal-dialog").addClass("modal-lg");
      $('#myModalFileTree').modal("show");
      })});
<% end %>
</script>



