<tr <%= (test_request.status == TestRequest::STATUS_CREATED) ? 'class=warning' : (test_request.status == TestRequest::STATUS_CANCELLED || test_request.status == TestRequest::STATUS_FINISHED) ? 'class=danger' : '' %>>
  <td>
    <div class="btn-group">
      <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Action <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="action-<%= test_request.id %>">
        <li>
          <%= link_to(:action => 'show',:controller => :test_requests, :action => 'show',:id => test_request.id) do %>
            <i class="icon-info-sign"></i>&nbsp;show request
          <% end %>
        </li>
        <li>
          <%= link_to(:action => 'handle',:controller => :test_requests, :action => 'handle',:id => test_request.id) do %>
            <i class="icon-tasks"></i>&nbsp;handle request
          <% end %>
        </li>
        <% if test_request.edit_allowed? %>
          <li>
            <%= link_to(edit_test_request_path(test_request)) do %>
              <i class="icon-edit"></i>&nbsp;edit request
            <% end %>
          </li>
        <% end %>
        <%  if test_request.status_requested_allowed? %>
          <li>
            <%= link_to(:action => "change_status", :id => test_request.id, :status => TestRequest::STATUS_REQUESTED,
              :confirm => 'Are you sure to send this request?') do %>
              <i class="icon-envelope"></i>&nbsp;send request notification
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </td>
  <td class="id"><%= link_to test_request.id, test_request %></td>
  <td><%= test_request.status %></td>
  <td><%= test_request.test_type.name %></td>
  <td><%= test_request.product_id %></td>
  <td>
    <% if Product.where(:volumeid => "#{test_request.product_id.strip}").size > 0 %>
      <%= Product.where(:volumeid => "#{test_request.product_id.strip}").first.name %>
    <% else %>
      <span class="glyphicon glyphicon-minus">&nbsp;</span>
    <% end %>
  </td>
  <td>
    <%= test_request.conversions.last.output_format if !test_request.conversions.empty? %>
  </td>
  <td>
    <%= test_request.regions.last.name if !test_request.regions.empty? %>
  </td>
  <td>
    <%= test_request.assigned_user.user_name %>
  </td>
</tr>