<%= render :partial => "form_fields", :object => @test_request %>

<div class="row footer">
  <div class="col-md-12">
    <%= link_to :back ,:class => "btn btn-default", :title => "back" do %>
      <i class="glyphicon glyphicon-arrow-left"></i>
    <% end %>
    <%= link_to test_requests_path ,:class => "btn btn-default", :title => "overview" do %>
      <i class="glyphicon glyphicon-arrow-up"></i>
    <% end %>
    <%= link_to handle_test_request_path(@test_request) ,:class => "btn btn-default", :title => "handle" do %>
      <i class="glyphicon glyphicon-tasks"></i>
    <% end %>
    <%= link_to @test_request ,:class => "btn btn-default", :title => "show" do %>
      <i class="glyphicon glyphicon-eye-open"></i>
    <% end %>
    <%= next_prev_button("prev") %>
    <%= next_prev_button("next") %>
  </div>
</div>