<%= render "show_data" %>

<div class="row footer">
  <div class="col-md-12">
    <%= link_to "Cancel Test",{:action => "change_status",
      :id => @test_request.id,:status => TestRequest::STATUS_CANCELLED}, {:class => 'btn btn-danger disabled',:id=>"btnCancel",:confirm => "Are you sure to cancel this request?"} %>

    <%= link_to "Start Test",{:action => "change_status",
      :id => @test_request.id,:status => TestRequest::STATUS_RUNNING}, {:class => 'btn btn-primary disabled',:id=>"btnStart"} %>

    <%= link_to "Finish Test",{:action => "change_status",
      :id => @test_request.id,:status => TestRequest::STATUS_FINISHED}, {:class => 'btn btn-primary disabled',:id => "btnFinish"} %>

    <a href="#remarkModal" role="button" class="btn btn-info disabled" id="btnUpdateResult" data-toggle="modal">Update result</a>

  </div>
</div>


<div class="modal fade" id="remarkModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Remarks from test engineer</h4>
      </div>
        <div class="modal-body">
          <%= form_for(@test_request) do |f| %>
            <div class="row">
              <div class="col-md-12 show-label">Remarks result</div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <%= f.text_area :result_remarks, :rows => 6, :class => 'form-control' %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 show-label">Actual Start date</div>
              <div class="col-md-3 show-label">Actual Finish date</div>
            </div>
            <div class="row">
              <div class="col-md-3"><%= f.text_field :actual_start_date,{:value => @test_request.actual_start_date.strftime("%d-%m-%Y"), :placeholder => 'dd-mm-yyyy', :class => "form-control"} %></div>
              <div class="col-md-3"><%= f.text_field :actual_finish_date,{:value => @test_request.actual_finish_date.strftime("%d-%m-%Y"), :placeholder => 'dd-mm-yyyy', :class => "form-control"} %></div>
            </div>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit 'Save', :class => 'btn btn-default' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row footer">
  <div class="col-md-12">
    <%= link_to :back ,:class => "btn btn-default", :title => "back" do %>
      <span class="glyphicon glyphicon-arrow-left"></span>
    <% end %>
    <%= link_to test_requests_path ,:class => "btn btn-default", :title => "overview" do %>
      <span class="glyphicon glyphicon-arrow-up"></span>
    <% end %>
    <%= link_to @test_request ,:class => "btn btn-default", :title => "show" do %>
      <span class="glyphicon glyphicon-eye-open"></span>
    <% end %>
    <%= link_to edit_test_request_path(@test_request) ,:class => "btn  btn-default disabled", :title => "edit", :id => 'btnEdit' do %>
      <span class="glyphicon glyphicon-edit"></span>
    <% end %>
    <%= next_prev_button("prev") %>
    <%= next_prev_button("next") %>
  </div>
</div>

<script type="text/javascript">
  $("#test_request_actual_start_date").datepicker({
    format: 'dd-mm-yyyy'
  });
  $("#test_request_actual_finish_date").datepicker({
    format: 'dd-mm-yyyy'
  });

  <% if @test_request.status_running_allowed? %>
     $("#btnStart").removeClass("disabled");
  <% end %>

  <% if @test_request.edit_allowed? %>
    $("#btnEdit").removeClass("disabled");
  <% end %>

  <% if @test_request.status_finished_allowed? %>
    $("#btnFinish").removeClass("disabled");
  <% end %>

  <% if @test_request.update_result_allowed? %>
    $("#btnUpdateResult").removeClass("disabled");
  <% end %>

  <% if @test_request.status_cancelled_allowed? %>
    $("#btnCancel").removeClass("disabled");
  <% end %>
</script>