<nav class="navbar navbar-fixed-top content nav-subhead fix sticky no-show navbar-default hidden-sm hidden-xs" id="nav_secondary">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><%= params[:controller].humanize %></a>
    </div>

    <%= form_tag test_requests_path, method: 'get', role: 'search', class:'navbar-form navbar-left' do %>
          <%= check_box_tag :inactive, @search_opts[:inactive],@search_opts[:inactive] != "0",{:data => {"off-text" => "Excluded","on-text" => "Including","label-text" => "Completed"} }%>
          <script type="text/javascript">
            $("#inactive").bootstrapSwitch({"data-off-text":"active"});
          </script>
        <div class="input-group">
          <span class="input-group-btn">
            <%= link_to "New",{:action => :new}, {:class => 'btn btn-primary'} %>
          </span>
          <%= text_field_tag :search, params[:search], :placeholder=>"Search", :class => "form-control" %>
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default">Search</button>
            <button type="submit" class="btn btn-default" name="reset">Reset</button>
          </span>
        </div>
        <div class="form-group">
          <%= link_to 'Assigned to me',{:action => "index", :me_myself_and_i => "1"},{:class => 'btn btn-default'} %>
        </div>
      <% end %>
    </div>
</nav>

<div id="index" class="table-responsive">
  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th class="id"><%= column_sort("id","ID",true) %></th>
        <th><%= column_sort("test_requests.status", 'Status',true,TestRequest.statusarray) %></th>
        <th><%= column_sort("test_types.name", 'Test',true,TestType.active.collect{|tt|[tt.name,tt.id]},"test_type_id") %></th>
        <th><%= column_sort("test_requests.product_id", 'Product ID',true) %></th>
        <th><%= column_sort("products.name", 'Product name',true) %></th>
        <th class="id"><%= column_sort("conversions.output_format", 'Data type',true) %></th>
        <th><%= column_sort("regions.name", 'Region',true) %></th>
        <th><%= column_sort("users.user_name", 'Assigned to',true,RolesUser.user_names_by_role("test engineer",session[:project_id])) %></th>
      </tr>
    </thead>
    <tbody id="endless">
      <%= render(:partial => "test_request", :collection => @test_requests) %>
    </tbody>
  </table>
</div>
<%= will_paginate(@test_requests) %>
<%= pageless(@test_requests.total_pages, test_requests_path, "#endless") %>
