<%= render :partial => "form_fields", :object => @test_request %>

<div class="row footer">
  <div class="col-md-12">
    <%= link_to :back ,:class => "btn btn-default", :title => "back" do %>
      <i class="glyphicon glyphicon-arrow-left"></i>
    <% end %>
    <%= link_to test_requests_path ,:class => "btn btn-default", :title => "overview" do %>
      <i class="glyphicon glyphicon-arrow-up"></i>
    <% end %>
  </div>
</div>