<%= render "show_data" %>

<div class="row footer">
  <div class="col-md-12">
    <%= link_to :back ,:class => "btn btn-default", :title => "back" do %>
      <span class="glyphicon glyphicon-arrow-left"></span>
    <% end %>
    <%= link_to test_requests_path ,:class => "btn btn-default", :title => "overview" do %>
      <span class="glyphicon glyphicon-arrow-up"></span>
    <% end %>
    <%= link_to handle_test_request_path(@test_request) ,:class => "btn btn-default", :title => "handle" do %>
      <span class="glyphicon glyphicon-tasks"></span>
    <% end %>
    <%= link_to edit_test_request_path(@test_request) ,:class => "btn  btn-default disabled", :title => "edit", :id => 'btnEdit' do %>
      <span class="glyphicon glyphicon-edit"></span>
    <% end %>
    <%= next_prev_button("prev") %>
    <%= next_prev_button("next") %>
  </div>
</div>

<% if @test_request.edit_allowed? %>
<script type="text/javascript">
  $("#btnEdit").removeClass("disabled");
</script>
<% end %>