<div class="row">
    <div class="span1">&nbsp;<%= check_box_tag "chk_#{conversion_database.id}" %></div>
    <div class="span2">&nbsp;<%= conversion_database.id %></div>
    <div class="span3"><%= conversion_database.tags.join(" ") %></div>
    <div class="span2"><%= conversion_database.status_str %></div>
    <div class="span4">&nbsp;<%= conversion_database.path_and_file %></div>
</div>