<% a_stock_id = '' %>
<% v_stock_id = '' %>
<% btn_class = '' %>
<% ship = false %>

<% if mastering_production_orderline.chosen_conversion %>

    <% mastering_production_orderline.chosen_conversion.stock.each do |stock|
      if stock.status.to_s == 'ARCHIVED'
        a_stock_id = stock.id
        btn_class='btn-info'
        ship = true
      end
    end %>

  <% if a_stock_id == '' %>
    <% mastering_production_orderline.chosen_conversion.stock.each do |stock|
      if stock.status.to_s == 'VALIDATED'
        v_stock_id = stock.id
        btn_class='btn-danger'
        ship = false
      end
    end %>
  <% end %>

  <% if a_stock_id == '' && v_stock_id == '' #No stock so is product_location %>
    <% if mastering_production_orderline.product_location.nil?
        btn_class='btn-warning'
      else
        btn_class='btn-info'
      end %>
  <% end %>

<% end %>

<div class="row">
  <div class="span1">
        <div class="btn-group">
          <a class="btn btn-mini dropdown-toggle <%= btn_class %>" data-toggle="dropdown" href="#">
        Action
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li class="divider"></li>
        <li>
          <% if mastering_production_orderline.product_location.nil? %>
          <%= link_to({:action => 'new',:controller => :product_locations,:conversion_id => mastering_production_orderline.chosen_conversion_id, :production_orderline_id => mastering_production_orderline.id},{:target => '_blank'}) do %>
            <i class="icon-folder-close"></i>&nbsp;Master single product
          <% end %>
          <% else
            ship = true
          end %>
        </li>
         <li>
          <%= link_to :controller => :product_locations,:action => 'new',:production_order_id => mastering_production_orderline.production_order.id,:multiline => "1" do %>
            <i class="icon-road"></i>&nbsp;Master all products on this order
          <% end %>
        </li>
      </ul>
    </div>
</div>
    <div class="span1">&nbsp;<%= mastering_production_orderline.production_order.id.to_s %></div>
    <div class="span3">&nbsp;<%= mastering_production_orderline.production_order.name %></div>
    <div class="span3"><%= mastering_production_orderline.product_id %></div>
    <div class="span3"><%= Product.find_by_volumeid(mastering_production_orderline.product_id).name %></div>
    <div class="span2"><%= mastering_production_orderline.production_order.modified_commitment_date.strftime("%d %b %Y") if  mastering_production_orderline.production_order.modified_commitment_date %></div>
  </div>
