<div id="polModal" class="modal extra-large hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="myModalLabelPol">On time delivery <%= ProductLine.find(params[:product_line_id]).name rescue '-' %> (<%= params[:use_baseline_commitment] ? 'baseline' : 'modified'%> commitment): <%= params[:date_range_a] %> - <%= params[:date_range_b] %></h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="span1"><strong>Id</strong></div>
      <div class="span2"><strong>Name</strong></div>
      <div class="span1"><strong>Status</strong></div>
      <div class="span2"><strong>Product</strong></div>
      <div class="span1"><strong>Line</strong></div>
      <div class="span1"><strong><%= params[:use_baseline_commitment] ? 'Baseline' : 'Modified'%></strong></div>
      <div class="span1"><strong>Shipped</strong></div>
      <div class="span1"><strong>Reported</strong></div>
    </div>
    <% @production_orderlines.each do |pol| %>
      <div class="row">
        <div class="span1"><%= link_to pol.production_order.id, pol.production_order, :target => '_blank' %></div>
        <div class="span2"><%= pol.production_order.name %></div>
        <div class="span1"><%= pol.production_order.bp_name %></div>
        <div class="span2"><%= pol.product.name rescue '-' %></div>
        <div class="span1"><%= pol.bp_name %></div>
        <div class="span1">
          <%= if params[:use_baseline_commitment]
                pol.production_order.baseline_commitment_date.to_date rescue '-'
              else
                pol.production_order.modified_commitment_date.to_date rescue '-'
              end
          %>
        </div>
        <div class="span1"><%= pol.ship_date || '-' %></div>
        <div class="span1"><%= ProductionOrderline.delivery_categories[pol.on_time_delivery_category(params[:use_baseline_commitment])] %></div>
      </div>
    <% end %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
