<% btn_style = shipment_request_button_style(production_orderline) %>
<div class="row">
  <div class="span1">
    <div class="btn-group">
      <a class="btn btn-mini dropdown-toggle <%= btn_style['btnclass'] %>" data-toggle="dropdown" href="#">
        Action
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to :action => 'show_shipment_request',:id => production_orderline.id do %>
            <i class="icon-eye-open"></i>&nbsp;show
          <% end %>
        </li>
        <li class="divider"></li>
        <li>
          <%= link_to shipment_request_link_params(production_orderline), {:title => btn_style['title'] } do %>
            <i class="<%= btn_style['iconclass'] %>"></i>&nbsp;<%= btn_style['label'] %>
          <% end %>
        </li>
        <% if (production_orderline.production_order.production_orderlines.where(:bp_name => 'SHIPMENT REQUESTED').size > 1) && production_orderline.define_pre_process_for_manual_shipment_registration[0].match(/^ship_/) %>
          <li>
            <%= link_to shipment_request_link_params(production_orderline,true), {:title => btn_style['title'] } do %>
              <i class="<%= btn_style['iconclass'] %>"></i>&nbsp;Ship all available products within order
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="span3">&nbsp;<%= production_orderline.production_order.name %></div>
  <div class="span3"><%= production_orderline.product_id %></div>
  <div class="span2"><%= Product.find_by_volumeid(production_orderline.product_id).name %></div>
  <div class="span2"><%= production_orderline.production_order.modified_commitment_date.strftime("%d %b %Y") if  production_orderline.production_order.modified_commitment_date %></div>
</div>
