<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<%= "Used conversion databases in this product" %>



<%= form_tag(url_for(:action => :release_or_reset, :id => @production_orderline.id, :controller => :production_orderlines)) do %>
  <div class="navbar secondnav">
    <div class="navbar-inner">
      <div class="container">
        <div class="brand"><strong>Used conversion databases in this product</strong></div>
      </div>
    </div>
  </div>

  <div style="padding-top: 4.5em;margin-bottom: 55px" id="endless">

    <div class="row">
      <div class="span1"><strong>&nbsp;<%= 'Reject database' %></strong></div>
      <div class="span2"><strong>&nbsp;<%= sortable "id", 'Conversion Database Id ' %></strong></div>
      <div class="span3"><strong><%= sortable 'tags','tags' %></strong></div>
      <div class="span2"><strong><%= sortable 'status','Validation Status' %></strong></div>
      <div class="span4"><strong><%= sortable 'path_and_file','Path & File' %></strong></div>
    </div>

    <%= render(:partial => "conversion_database", :collection => @databases) %>

  </div>
  <a href="#resetModal-<%= @production_orderline.id %>" role="button" data-toggle="modal" class="btn">Reject product and reset</a>
  <a href="#approveModal-<%= @production_orderline.id %>" role="button" data-toggle="modal" class="btn">Release product</a>

  <footer class="subnav subnav-fixed" style="bottom:0;top:auto;margin-bottom: 0px;">
    &nbsp;
  </footer>

  <!-- Reset Modal -->
  <div id="resetModal-<%= @production_orderline.id %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="resetModalLabel-<%= @production_orderline.id %>" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="resetModalLabel-<%= @production_orderline.id %>">Reset order-line</h3>
    </div>
    <div class="modal-body" style="overflow: hidden">
      <p>Previous conversion was requested with the following conversion tooling:</p>
      <p id="error_explanation" class="hidden alert-error">Both the conversion tool and the tool bundle must be selected.</p>
      <div class="row">
        <div class="span2">
          <%= select_tag :conversiontool_id, options_for_select(Conversiontool.select_tag << @production_orderline.used_cv_tooling[0], @production_orderline.used_cv_tooling[0]), :include_blank => true, :id => "reset-conversiontool_id-#{@production_orderline.id}", :class=>"span2", :data => {:placeholder => "Selection conversion tool"}  %>
        </div>
        <div class="span2" id="cvtool_bundle_div-<%= @production_orderline.id %>">
          <%= select_tag :cvtool_bundle_id, [], :id => "reset-cvtool_bundle_id-#{@production_orderline.id}", :class => "span2" %>
        </div>
      </div>

      <p>You may overwrite the previous selection, or use the same tooling.</p><br />
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button class="btn btn-danger" type="submit" id="resetConfirm-<%= @production_orderline.id %>">Reset</button>
    </div>

    
</div>


<div id="approveModal-<%= @production_orderline.id %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="resetModalLabel-<%= @production_orderline.id %>" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="resetModalLabel-<%= @production_orderline.id %>">Release</h3>
  </div>
  <div class="modal-body" style="overflow: hidden">
    <p>Please confirm you want to release this product</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-succes" type="button" id="approveConfirm-<%= @production_orderline.id  %>" onclick="$('#release_status').val('RELEASE');document.forms[0].submit();" >Release</button>
  </div>

</div>
    <%= hidden_field_tag :release_status, '' %>
<% end %>

<script>
  $("#reset-conversiontool_id-<%= @production_orderline.id %>").select2();
  $("#reset-cvtool_bundle_id-<%= @production_orderline.id %>").select2();

  $("#reset-conversiontool_id-<%= @production_orderline.id %>").change(function(){
    var selected = $('#reset-conversiontool_id-<%= @production_orderline.id %> :selected').val();
    if(selected == "") selected="0";
      jQuery.get('<%= url_for get_cvtool_bundles_cvtool_bundles_path %>'+'?conversiontool_id=' + selected + "&tag=cvtool_bundle_id-#{@production_orderline.id}", function(data){
      $("#cvtool_bundle_div-<%= @production_orderline.id %>").html(data);
    })
    return false;
  });

  $("#reset-conversiontool_id-<%= @production_orderline.id %>").trigger("change");
</script>
