<div class="navbar secondnav">
  <div class="navbar-inner">
        <div class="container">
    <div class="brand"><strong>Mastering overview</strong></div>
  </div>  
</div>
</div>
<div style="padding-top: 4.5em;margin-bottom: 55px" id="endless">  
  
  <div class="row">
    <div class="span1 offset1"><strong>&nbsp;<%= sortable "production_orders.id", 'Id' %></strong></div>
    <div class="span3"><strong>&nbsp;<%= sortable "production_orders.name", 'Production order' %></strong></div>
    <div class="span3"><strong><%= sortable 'product_id','Product ID' %></strong></div>
    <div class="span3"><strong><%= sortable 'product_id','Product Name' %></strong></div>
    <div class="span2"><strong><%= sortable 'production_orders.modified_commitment_date', 'Delivery date' %></strong></div>
  </div>
    
  <%= render(:partial => "mastering_production_orderline", :collection => @production_orderlines) %>

</div>
<%= will_paginate(@production_orderlines) %>
<%= pageless(@production_orderlines.total_pages, mastering_index_production_orderlines_path, "#endless", params) %>

<footer class="subnav subnav-fixed" style="bottom:0;top:auto;margin-bottom: 0px;">
  &nbsp;
</footer>