<%= javascript_include_tag 'dashboard_grids/jquery.flot.min' %>
<%= javascript_include_tag 'dashboard_grids/jquery.flot.axislabels' %>
<% color_mapping = Hash[ProductionOrderline::DELIVERY_PLUS_ONE_WEEK => 'orange',
                        ProductionOrderline::DELIVERY_PLUS_TWO_WEEKS => '#FF6600',
                        ProductionOrderline::DELIVERY_PLUS_THREE_WEEKS => 'purple',
                        ProductionOrderline::DELIVERY_PLUS_FOUR_WEEKS => 'fuchsia',
                        ProductionOrderline::DELIVERY_PLUS_FIVE_WEEKS => '#4BB1CF',
                        ProductionOrderline::DELIVERY_PLUS_SIX_WEEKS => '#336600',
                        ProductionOrderline::DELIVERY_NO_COMMIT_DATE => 'blue',
                        ProductionOrderline::DELIVERY_NOT_SHIPPED => 'red',
                        ProductionOrderline::DELIVERY_ON_TIME => '#00CC33',
                        ProductionOrderline::DELIVERY_ERROR => 'maroon']
%>

<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand">
        <strong>
          On time delivery report
        </strong>
      </div>
      <%= form_tag on_time_delivery_report_production_orderlines_path, :method => 'get' do %>
        <div class="span">
          <div class="input-bar">
            <%= check_box_tag :use_baseline_commitment, '1', params[:use_baseline_commitment], {:data => {'text-label' => 'commitment', 'off-label' => 'Modified', 'on-label' => 'Baseline', :size => 'normal', :on => true, :off => false}} %>
<div class="input-prepend input-append">
            <%= text_field_tag :date_range_a, params[:date_range_a], :placeholder => 'Date range A', :style => 'width:95px' %>
            <%= text_field_tag :date_range_b, params[:date_range_b], :placeholder => 'Date range B', :style => 'width:95px' %>
            <%= select_tag 'product_lines[]', options_for_select([''] + ProductLine.option_list, params[:product_lines]), {:multiple => true, :style => 'width:360px'} %>
            <%= button_tag 'Generate', :name => nil, :type => :submit, :class => 'btn' %>
            <%= button_tag 'Reset', :name => 'reset', :class => 'btn' , :type => :submit %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div id="endless">
  <% max_count = @production_orderlines.group(:product_line_id).count(distinct: true).inject(0){|max,(_,c)| max > c ? max : c} %>
  <% @production_orderlines.group(:product_line_id).count(distinct: true).each do |product_line_id, count| %>
    <% data_hash = Hash[@production_orderlines.where(:product_line_id => product_line_id).group_by{ |x| x.on_time_delivery_category(params[:use_baseline_commitment]) }.map{ |k, v| [k, v.size] }] %>
    <div class="row">
      <div class="span10 bounded bounded-headered flat-roof">
        <div class="row bounded-header">
          <div class="span9">
            <h4>
              <%= ProductLine.find(product_line_id).name rescue '-' %>:&nbsp;
              <a id="all_<%= product_line_id || '-'%>"><%= count %></a>
              <script type="text/javascript">
                $("#all_<%= product_line_id || '-'%>").click(function(){
                  $.get('<%= url_for(:action => :on_time_delivery_report, :controller => :production_orderlines, :product_line_id => product_line_id, :use_baseline_commitment => params[:use_baseline_commitment], :date_range_a => params[:date_range_a], :date_range_b => params[:date_range_b] ) %>', function( data ) {
                    $("#pol_modal").html(data);
                    $("#polModal").modal('show');
                  })
                });
              </script>
            </h4>
          </div>
          <div class="span1">
            <%= link_to({:controller => :production_orderlines, :action => :on_time_delivery_report, :product_line_id => (product_line_id || '-'), :use_baseline_commitment => params[:use_baseline_commitment], :date_range_a => params[:date_range_a], :date_range_b => params[:date_range_b],
                         :format => :csv},{:class => 'btn pull-right',:title => 'Export CSV file'}) do %>
              <i class="icon icon-th-list"></i>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="span10">
            <div class="span4">
              <% color_mapping.each_key do |on_time_delivery_category| %>
                <% if data_hash[on_time_delivery_category].to_i > 0 %>
                  <div class="row">
                    <div class="span2">
                      <strong><%= ProductionOrderline.delivery_categories[on_time_delivery_category] %></strong>
                    </div>
                    <div class="span1">
                      <%= data_hash[on_time_delivery_category] %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
            <div class="span6">
              <div id="<%= ProductLine.find(product_line_id).name.strip.gsub(' ','_') rescue '-' %>" style="height:170px"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= content_tag :script, :type => 'text/javascript' do -%>
      $.plot($("#<%= ProductLine.find(product_line_id).name.strip.gsub(' ','_') rescue '-' %>"), eval('(<%= raw data_hash.map{|k,v| { 'label' => k, 'data' => [[v,k]], 'color' => color_mapping[k]}}.to_json %>)'),
      {
      series: {
      bars: {
      show: true
      }
      },
      bars: {
      align: 'center',
      barWidth: 1,
      horizontal: true,
      lineWidth: 1
      },
      xaxis: {
      axisLabel: "On time delivery <%= ProductLine.find(product_line_id).name rescue '-' %> (<%= params[:use_baseline_commitment] ? 'baseline commitment' : 'modified commitment' %>): <%= params[:date_range_a] %> - <%= params[:date_range_b] %>",
      axisLabelUseCanvas: false,
      axisLabelFontSizePixels: 12,
      max: <%= max_count %>,
      },
      yaxis: {
      ticks: <%= raw ProductionOrderline.delivery_categories.collect{ |x| [ProductionOrderline.delivery_categories.index(x),x] } %>,
      },
      legend: {
      show: false
      },
      grid: {
      hoverable: false,
      clickable: false
      }
      });
    <% end %>
  <% end %>

  <div class="row">
    <div class="span12">
      <%= link_to :back, :class => 'btn',:title => 'back to previous page' do %>
        <i class="icon icon-arrow-left"></i>
      <% end %>
    </div>
  </div>
</div>

<div id="pol_modal"></div>

<script type="text/javascript">
  $('#use_baseline_commitment').bootstrapSwitch();
  $('#use_baseline_commitment').on('switch-change', function(){
    $("form:first").submit()
  });
  $('#date_range_a').datepicker({ format: 'dd-mm-yyyy'});
  $('#date_range_b').datepicker({format: 'dd-mm-yyyy'});
  $('#product_lines_').chosen({placeholder_text_multiple:"Product line",allow_single_deselect:true});
  $('a').hover(function() {
    $(this).css('cursor','pointer')
  });
</script>
