<div class="row">
  <div class="span12 bounded bounded-headered">
    <div class="row bounded-header">
      <div class="span10">
        <h4>Production order shipment request</h4>
        <strong><%= @production_orderline.product_id %>
        <%= @production_orderline.product.name if @production_orderline.product %></strong><br />
        <i><%= shipment_request_button_style(@production_orderline)['title'] %></i>
      </div>
    </div>

    <div class="row">
      <div class="span3"><strong>Production order</strong></div>
      <div class="span2"><strong>Delivery date</strong></div>
      <div class="span2"><strong>Conversion&nbsp;id</strong></div>
      <% if @production_orderline.product_location %>
        <div class="span4"><strong>Product&nbsp;location</strong></div>
      <% end %>
      <% if @production_orderline.stock %>
          <div class="span4"><strong>Medium</strong></div>
      <% end %>
    </div>
    <div class="row">
      <div class="span3"><%= link_to(@production_orderline.production_order.name,@production_orderline.production_order,:target => '_blank') %></div>
      <div class="span2"><%= @production_orderline.production_order.modified_commitment_date.strftime("%d %b %Y") if  @production_orderline.production_order.modified_commitment_date %></div>
      <div class="span2"><%= link_to(@production_orderline.chosen_conversion_id ,@production_orderline.chosen_conversion,:target => '_blank') %></div>
      <% if @production_orderline.product_location %>
        <div class="span4"><%= link_to(@production_orderline.product_location.storage_path ,@production_orderline.product_location,:target => '_blank') %></div>
      <% end %>
      <% if @production_orderline.stock %>
        <div class="span4"><%= link_to("#{@production_orderline.stock.medium_number} #{@production_orderline.stock.commercial_name} #{@production_orderline.stock.location}" ,@production_orderline.stock,:target => '_blank') %></div>
      <% end %>
    </div>

    <% if !@production_orderline.remarks.blank? %>
      <div class="row">
        <div class="span10"><strong>General production remarks:<br /></strong><pre class="real-pre"><%= @production_orderline.remarks %></pre></div>
      </div>
    <% end %>



    <div class="row">
      <div class="span10">
        <%= link_to :back, :class => 'btn', :title => 'back' do %>
          <i class="icon-arrow-left"></i>
        <% end %>
        <% if @production_orderline.chosen_conversion %>
          <% btn_style = shipment_request_button_style(@production_orderline) %>
          <%= link_to btn_style['label'], shipment_request_link_params(@production_orderline) ,
            {:class => "btn #{btn_style['btnclass']}",:title => btn_style['title']} %>
          <% if (@production_orderline.production_order.production_orderlines.where(:bp_name => 'SHIPMENT REQUESTED').size > 1) && @production_orderline.define_pre_process_for_manual_shipment_registration[0].match(/^ship_/) %>
            <% btn_style = shipment_request_button_style(@production_orderline) %>
            <%= link_to "Ship all available products within order", shipment_request_link_params(@production_orderline,true) ,
              {:class => "btn #{btn_style['btnclass']}",:title => btn_style['title']} %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

