<div class="row">
  <div class="span1">
    <%= link_to data_set_line.id,data_set_line, :target => '_blank'  %>
  </div>
  <div class="span4">
    <%= data_set_line.name %>
  </div>
  <div class="span1">
    <%= data_set_line.status_string  %>
  </div>
</div>


