<div class="row" id="rowId-<%= data_set_group.id %>">
  <div class="span1">
    <div class="btn-group">
      <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
        Action
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to(:action => 'show',:controller => :data_set_groups,:id => data_set_group.id) do %>
            <i class="icon-info-sign"></i>&nbsp;show
          <% end %>
        </li>
        <% if env_production? %>
          <li>
            <%= link_to(:action => 'handle',:controller => :data_set_groups,:id => data_set_group.id) do %>
              <i class="icon-tasks"></i>&nbsp;handle
            <% end %>
          </li>
          <li>
            <%= link_to(:action => 'edit',:controller => :data_set_groups,:id => data_set_group.id) do %>
              <i class="icon-edit"></i>&nbsp;edit
            <% end %>
          </li>
          <li>
            <%= link_to(:action => 'clone',:controller => :data_set_groups,:id => data_set_group.id) do %>
              <i class="icon-copy"></i>&nbsp;clone
            <% end %>
          </li>
        <% end %>
        <li>
          <%= link_to(:action => 'check_production_order',:controller => :data_set_groups,:id => data_set_group.id) do %>
            <i class="icon-barcode"></i>&nbsp;create production order
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <div class="span0_5"><%= data_set_group.id %></div>
  <div class="span1"><%= data_set_group.company_abbr %></div>
  <div class="span1"><%= data_set_group.data_release %></div>
  <div class="span1"><%= data_set_group.region_code %></div>
  <div class="span1"><%= data_set_group.data_type %></div>
  <div class="span2"><%= data_set_group.filling %></div>
  <div class="span2"><%= data_set_group.suffix %></div>
</div>

<% if data_set_group.status == DataSetGroup::STATUS_REMOVED %>
  <script type="text/javascript">
    $('#rowId-<%= data_set_group.id %> [class^=span]').wrapInner('<del></del>');
  </script>
<% end %>