<% if !@data_set_group %>
  <% obj_id = "" %>
<% else %>
  <% obj_id = "#{@data_set_group.filling}" %>
<% end %>
<%= select_tag "data_set_group_filling", options_for_select(@datatype_fillings,obj_id),{:include_blank => true,:class => 'span2 validate',:data=>{:placeholder=>"Filling"},:name => "data_set_group[filling]",:required => 'required' } %>
