<%= form_for(@data_set_group) do |f| %>
  <% if @data_set_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@data_set_group.errors.count, "error") %> prohibited this data_set_group from being saved:</h2>

      <ul>
      <% @data_set_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="span12 bounded bounded-headered">
    <div class="row bounded-header">
      <h4><%= params[:action].humanize %> data set Group</h4>
    </div>
    <div class="row">
      <div class="span3">
        <strong>Supplier</strong>
      </div>
      <div class="span2">
        <strong>Data release</strong>
      </div>
      <div class="span2">
        <strong>Coverage</strong>
      </div>
      <div class="span1">
        <strong>Data type</strong>
      </div>
      <div class="span2">
        <strong>Filling</strong>
      </div>
      <div class="span2">
        <strong>Suffix</strong>
      </div>
    </div>
    <div class="row">
      <div class="span3">
        <%= f.select :company_abbr, CompanyAbbr.active.collect{|c|[c.company_name,c.ms_abbr_3]},{:include_blank => true}, { :class => 'span3 validate', :required => 'required'} %>
      </div>
        <div class="span2" id="releaseSelect">
          <%= render "release_select", :object => @company_abbr_data_releases = DataType.find_by_name(params[:data_type]).fillings.active.order(:name).collect {|f| [ "#{f.name}","#{f.name}" ] } if !params[:data_type_val].blank? %>
        </div>
      <div class="span2">
        <%= f.select :region_code, Region.active.collect {|r|["#{r.name} - #{r.region_code.to_s.upcase}","#{r.region_code}"]},{:include_blank => true}, {:class => 'span2 validate', :required => 'required'} %>
      </div>
      <div class="span1">
        <%= f.select :data_type, DataType.active.collect {|dt|[dt.name,dt.name]},{:include_blank => true}, {:class => 'span1 validate', :required => 'required'} %>
      </div>
      <div class="span2" id="fillingSelect">
      </div>
      <div class="span2">
        <%= f.text_field :suffix,:class => 'span2' %>
      </div>
    </div>
    <div class="row">
      <div class="span12"><strong>Description</strong></div>
    </div>
    <div class="row">
      <div class="span12">
        <%= f.text_area :description,:class => 'span12',:rows => 1,:style => "width:94%" %>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <%= select_tag 'data_sets', options_for_select(DataSet.active.collect{|ds|[ds.name,"#{ds.id}|#{ds.name}"] if !ds.data_set_groups.collect{|rds|rds.id}.include?(@data_set_group.id) }),:include_blank => true,:class => 'span4' %>
      </div>
    </div>
    <div class="row">
       <div class="span12" id="relatedDss">
        <% @data_set_group.data_sets.each do |ds| %>
         <div class="row" id="dsLine-<%= ds.id %>">
           <input type="hidden" id="dsId-<%= ds.id %>" name="dss[]" value="<%= ds.id %>"></input>
           <div class="span1">
             <button type="button" class="btn btn-mini" title="Remove DS relation" id="btnRm-<%= ds.id %>|<%= ds.name %>"><i class="icon-trash"></i></button>
           </div>
           <div class="span1">
             <%= ds.id %>
           </div>
           <div class="span4">
             <%= ds.name %>
           </div>

         </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <%= f.submit 'Save', :class => 'btn pull-right' %>
      </div>
    </div>

  </div>
</div>
<% end %>

<script type="text/javascript">
  $("#data_set_group_company_abbr").select2({allowClear:true});
  $("#data_set_group_region_code").select2({allowClear:true});
  $("#data_set_group_data_type").select2({allowClear:true});
  $("#data_sets").chosen({allow_single_deselect:true,placeholder_text_single: "Relate data sets"});

  function renderRelease(company_abbr){
    $.post('<%= url_for(:action => 'release_for_company_abbr',:id=>@data_set_group.id) %>',{company_abbr:company_abbr});
    $("select.validate").attr('style','display:block')
  }
  renderRelease("<%= @data_set_group.company_abbr %>")

  function renderFilling(data_type){
    $.post('<%= url_for(:action => 'filling_for_data_type',:id=>@data_set_group.id) %>',{data_type:data_type});
    $("select.validate").attr('style','display:block')
  }
  renderFilling("<%= @data_set_group.data_type %>")

  $("#data_set_group_company_abbr").change(function(){
    var company_abbr_val = $(this).val();
    renderRelease(company_abbr_val)
    $("select.validate").attr('style','display:block')
  });

  $("#data_set_group_data_type").change(function(){
    var data_type_val = $(this).val();
    renderFilling(data_type_val);
    $("select.validate").attr('style','display:block')
  });

  $('[id^=btnRm-]').click(function(){
    console.log("start")
    var dsVal = $(this).attr('id').replace('btnRm-','');
    console.log(dsVal)
    removeDsLine(dsVal);
  });

  $("#data_sets").change(function(){
    appendDsLines($(this).val());
  });

  function removeDsLine(dsVal){
    var dsId = dsVal.split('|',1)
    var dsName = dsVal.replace(dsId+'|','')
    $("#data_sets").append($('<option></option>').val(dsId+'|'+dsName).html(dsName));
    $('#data_sets').val('').trigger('liszt:updated');
    $('#dsLine-'+dsId).remove();
  }

  function appendDsLines(dsVal){
    var dsId = dsVal.split('|',1)
    var dsName = dsVal.replace(dsId+'|','')
    var row_template = ''
    row_template += '<div class="row" id="dsLine-'+dsId+'">'
    row_template += '<input type="hidden" id="dsId-'+dsId+'" name="dss[]" value="'+dsId+'"></input>'
    row_template += '<div class="span1"><button type="button" class="btn btn-mini" title="Remove DS relation" id="btnRm-'+dsId+'"><i class="icon-trash"></i></button></div>'
    row_template += '<div class="span1">'+dsId+'</div><div class="span4">'+dsName+'</div></div>'
    $("#relatedDss").append(row_template);
    $('#data_sets option[value=\''+dsVal+'\']').remove();
    $('#data_sets').val('').trigger('liszt:updated');
    $('#btnRm-'+dsId).click(function(){
      removeDsLine(dsVal);
    });
  }

</script>