<% if !@data_set %>
  <% obj_id = "" %>
<% else %>
  <% obj_id = "#{@data_set.data_release}" %>
<% end %>
<%= select_tag "data_set_group_data_release", options_for_select(@company_abbr_data_releases,obj_id),{:include_blank => true,:class => 'span2 validate',:required => 'required',:data=>{:placeholder=>"Release"},:name => "data_set_group[data_release]" } %>
