<div class="row">
  <div class="span3">
    <% if @data_set_group.status == DataSetGroup::STATUS_REMOVED %>
    <span class="label label-important">
    <% else %>
    <span class="label label-inverse">
    <% end %>
      <%= @data_set_group.status_string %></span>
  </div>
</div>

<div class="row">
  <div class="span12 bounded bounded-headered flat-roof">
    <div class="row bounded-header">
      <h4><%= params[:action].humanize %> data set Group</h4>
    </div>
    <div class="row">
      <div class="span3">
        <strong>Supplier</strong>
      </div>
      <div class="span2">
        <strong>Data release</strong>
      </div>
      <div class="span2">
        <strong>Coverage</strong>
      </div>
      <div class="span1">
        <strong>Data type</strong>
      </div>
      <div class="span2">
        <strong>Filling</strong>
      </div>
      <div class="span2">
        <strong>Suffix</strong>
      </div>
    </div>
    <div class="row">
      <div class="span3">
        <%=  @data_set_group.company_abbr %>
      </div>
      <div class="span2">
        <%=  @data_set_group.data_release %>
      </div>
      <div class="span2">
        <%=  @data_set_group.region_code %>
      </div>
      <div class="span1">
        <%=  @data_set_group.data_type %>
      </div>
      <div class="span2">
        <%=  @data_set_group.filling %>
      </div>
      <div class="span2">
        <%=  @data_set_group.suffix %>
      </div>
    </div>
    <div class="row">
      <div class="span12"><strong>Description</strong></div>
    </div>
    <div class="row">
      <div class="span12">
        <pre class="real-pre"><%= @data_set_group.description %></pre>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <h4>Related data sets</h4>
      </div>
      <%= render :partial => 'data_set_line', :collection => @data_set_group.data_sets %>
    </div>
  </div>
</div>