<% @submit_str = "Check" %>
<div class="row">
  <div class="span12 bounded bounded-headered">
    <div class="row bounded-header">
      <div class="span7"><h4>Check production order for the data set group <%= @data_set_group.name %></h4></div>
    </div>
    <div class="row">
      <%= form_tag(url_for(:action => :checked_production_order,:controller => :data_sets, :id => @data_set_group.data_sets.first.id),{:id => 'create_order'}) do %>

  <div class="span12">
    <div class="row">
       <div class="span3"><strong>Order type</strong></div>
       <div class="span3"><strong>CV-tool Release</strong></div>
       <div class="span3"><strong>CV-tool Bundle</strong> </div>
       <div class="span3"><strong>CVE</strong></div>
       </div>
    <div class="row">
      <div class="span3"><%= select_tag 'order_type_id', options_for_select(Ordertype.active.where(:is_frontend => true).collect{|ot|["#{ot.name}",ot.id]},params[:order_type_id]),:class => 'span3 validate', :required => 'required' %></div>
      <div class="span3"><%= select_tag 'conversiontool_id', options_for_select(Conversiontool.select_tag,params[:conversiontool_id]),:include_blank => true, :class => 'span3 validate', :required => 'required' %></div>
      <div class="span3" id="cvtool_bundle_div">
        <%= select_tag('cvtool_bundle_id',options_for_select(CvtoolBundle.select_tag,params[:cvtool_bundle_id]),:include_blank => true, :class => 'span3 validate',:required => :required,:data => {:placeholder => 'Select CV tool bundle'}) %>
      </div>
      <input type="hidden" id="fallback_cvtool_bundle_id"></input>
      <div class="span3"><%= select_tag 'conversion_environment_id', options_for_select(ConversionEnvironment.collection_for_select,params[:conversion_environment_id]),:class => 'span3' %></div>
    </div>
    <div class="row">
      <div class="span3"><strong>Test Strategy</strong></div>
      <div class="span3"><strong>Dakota simulator</strong></div>
      <div class="span3"><strong>Use test versions</strong></div>
      <div class="span3"><strong>Product design</strong></div>
    </div>
    <div class="row">
      <div class="span3"><%= select_tag 'test_strategy' , options_for_select(['None', 'All', 'Final Result'], params[:test_strategy]),  :class => 'span3' %></div>
      <div class="span3"><%= check_box_tag 'simulate_dakota', "1",nil,{:data => {"text-label" => "Dakota Sim",:on => "success",:off => "default"}}  %></div>
      <div class="span3"><%= check_box_tag 'use_test_versions_yn', @use_test_versions, @use_test_versions,{:data => {"text-label" => "Test versions",:on => "success",:off => "default"}} %></div>
      <div class="span3"><%= select_tag 'product_design_id', options_for_select(ProductDesign.frontend.where(:project_id => session[:project_id]).option_list,params[:product_design_id]),:class => 'span3 validate',:include_blank => true, :required => 'required' %></div>
    </div>
    <div id="datasets">
    <div class="row">
      <div class="span12">
        <strong>Data sets</strong>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <% @data_set_group.data_sets.includes(:regions).order("regions.name").each do |dataset| %>
           <span class="label" id="Dataset-<%= dataset.id %>">
             <i class="icon-trash" id="delDataset-<%= dataset.id %>" title="remove dataset for processing"></i>
             <%= dataset.label(true) %>&nbsp;&nbsp;
             <input id="field-<%= dataset.id %>" name="datasets[<%= dataset.id %>]" type="hidden" value="<%= dataset.processable_regions.collect{|r|r.region.region_code}.join(',') %>"></input>
           </span>        
        <% end %>
        </div>
    </div>
    </div>
    <div class="row"><br />
      <div class="span5 alert alert-error" id="form-val" style="display: none;"><strong>All fields</strong> are mandatory! Please select an option for the empty fields. </div>
      <div class="span2 pull-right">
        <br /><%= submit_tag "#{@submit_str}",:class => 'btn btn-primary pull-right' %>
        <%= link_to("Reset form",check_production_order_data_set_group_path(@data_set_group),:class => "btn") %>
      </div>
    </div>
  </div>
     <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="span1">
    <%= link_to({:action => :index},{:class => 'btn',:title => "Back to data set groups"}) do %>
      <i class="icon icon-arrow-left">&nbsp;</i>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $("#simulate_dakota").bootstrapSwitch();
  $("#use_test_versions_yn").bootstrapSwitch();
  $(".has-switch").css("min-width", "254px")

  function get_cvtool_bundles(conversiontool_id){
    jQuery.get('<%= url_for get_cvtool_bundles_cvtool_bundles_path %>'+'?conversiontool_id=' + conversiontool_id + "&cvtool_bundle_id=<%= params[:cvtool_bundle_id].to_s %>&tag=cvtool_bundle_id", function(data){
      $("#cvtool_bundle_div").html(data);
      $("#cvtool_bundle_id").select2("val",$("#fallback_cvtool_bundle_id").val());
    })
    return false;
  }

  $("#conversiontool_id").change(function(){
    var selected = $('select#conversiontool_id :selected').val();
    if(selected == "") selected="0";
    get_cvtool_bundles(selected);
  });

  $('#product_design_id').select2({placeholder:"Select product design"});
  $('#order_type_id').select2();
  $('#conversiontool_id').select2({placeholder:"Select CV tool release"});
  $('#test_strategy').select2();

  $('#cvtool_bundle_id').select2();
  $('body').on('change',"#cvtool_bundle_id",function(){
    $("#fallback_cvtool_bundle_id").val($(this).val());
  })

  $("#conversion_environment_id option:first").attr('selected','selected');
  $("#conversion_environment_id").select2();

  $('body').on('click',"[id^=delDataset]",function(){
    var id = $(this).attr('id').match(/\d+/);
    var gsub = "delDataset-" + id + "-"
    var step = $(this).attr('id').replace(gsub,'')
    $("#sel-"+step).select2("destroy");
    $("#sel-"+step)
    .append($("<option></option>")
    .attr("value",id)
    .text($("#Dataset-"+id).text().trim())
  );
    $("#sel-"+step).select2();
    $("#Dataset-"+id).remove();
  });

  <% if @err || params[:error] %>
    $('#form-val').html('<%= @err.to_s + params[:error] %>')
    $('#form-val').fadeIn();
  <% end %>

  $('body').on('hover',"[id^=delDataset-]",function(){
    $(this).css( 'cursor', 'pointer' );
  });

  // When user is using "back" these depended selects needs to be filled again
  $("#conversiontool_id").trigger("change");
   
  var myApp;
  myApp = myApp || (function () {
    var pleaseWaitDiv = $('<div class="modal hide" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false"><div class="modal-header"><h4>Processing...</h4></div><div class="modal-body"><div class="progress progress-striped active"><div class="bar" style="width: 100%;"></div></div></div></div>');
    return {
      showPleaseWait: function() {
        pleaseWaitDiv.modal();
      },
      hidePleaseWait: function () {
        pleaseWaitDiv.modal('hide');
      }
    };
  })();

  $("#create_order").submit(function( event ) {
    if ( $("#cvtool_bundle_id").val() == '' ){
      event.preventDefault();
      $('#form-val').html('Fails');
      $('#form-val').fadeIn();
      return false
    }
    myApp.showPleaseWait();
  });
</script>