<%= render :partial => 'show_data' %>
<div class="row">
  <div class="span12">
    <% if @data_set_group.status != DataSetGroup::STATUS_REMOVED %>
      <%= link_to remove_data_set_group_path(@data_set_group),:method => :post,:class => 'btn pull-right btn-danger' do %>
        <i class="icon-trash" title="Remove">&nbsp;</i>Remove group
      <% end %>
    <% end %>
    <% if @data_set_group.status == DataSetGroup::STATUS_REMOVED %>
      <%= link_to restore_data_set_group_path(@data_set_group),:method => :post,:class => 'btn pull-right btn-warning' do %>
        <i class="icon-repeat" title="Restore">&nbsp;</i>Restore group
      <% end %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="span12">
    <%= link_to :back, :class => 'btn',:title => 'back' do %>
      <i class="icon icon-arrow-left"></i>
    <% end %>
    <%= link_to data_set_groups_path, :class => 'btn',:title => 'back',:title => "overview" do %>
      <i class="icon icon-arrow-up"></i>
    <% end %>
    <%= link_to data_set_group_path(@data_set_group),:class => 'btn', :title => "show" do %>
      <i class="icon-eye-open"></i>
    <% end %>
    <%= link_to edit_data_set_group_path(@data_set_group),:class => 'btn',:title => "edit" do %>
      <i class="icon-edit"></i>
    <% end %>
    <%= next_prev_button("prev") %>
    <%= next_prev_button("next") %>
  </div>
</div>
