<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand">
        <strong>
          Data set groups
        </strong>
      </div>
        <%= form_tag data_set_groups_path, :method => 'get' do %>
        <div class="span">
          <div class="input-bar">
          <label class="checkbox">
            <%= check_box_tag :removed, "1", @removed,{:data => {"text-label" => "removed","off-label" => "","on-label" => "Include",:size => "normal",:on => "success",:off => "default","off-label" => "excluded"}} %>
          </label>
          </div>
      </div>
      <div class="span">
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <div class="input-prepend input-append">
            <%= link_to("New",new_data_set_group_path,{:class => 'btn btn-info'}) if env_production? %>
            <%= text_field_tag :search, params[:search], :placeholder=>" search" %>
            <%= button_tag "Search", :name => nil, :type => :submit, :class => "btn" %>
            <%= button_tag "Reset", :name => 'reset',:class=>"btn",:type=>:submit %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div id="endless">
  <div class="row">
    <div class="span1">&nbsp;</div>
    <div class="span0_5"><strong><%= sortable "data_set_groups.id", 'Id',true %></strong></div>
    <div class="span1"><strong><%= sortable "data_set_groups.company_abbr", 'Supplier',true,DataSetGroup.all.collect{|d| [d.company_abbr] if d.company_abbr && d.company_abbr != ''}.uniq.compact.sort %></strong></div>
    <div class="span1"><strong><%= sortable "data_set_groups.data_release", 'Data release',true,DataSetGroup.all.collect{|d| [d.data_release] if d.data_release && d.data_release != ''}.uniq.compact.sort %></strong></div>
    <div class="span1"><strong><%= sortable "data_set_groups.region_code", 'Region',true,DataSetGroup.all.collect{|d| [d.region_code] if d.region_code && d.region_code != ''}.uniq.compact.sort %></strong></div>
    <div class="span1"><strong><%= sortable "data_set_groups.data_type", 'Data type',true,DataSetGroup.all.collect{|d| [d.data_type] if d.data_type && d.data_type != ''}.uniq.compact.sort %></strong></div>
    <div class="span2"><strong><%= sortable "data_set_groups.filling", 'Filling',true,DataSetGroup.all.collect{|d| [d.filling] if d.filling && d.filling != ''}.uniq.compact.sort %></strong></div>
    <div class="span2"><strong><%= sortable "data_set_groups.suffix", 'Suffix',true %></strong></div>
  </div>
  <%= render(:partial => "data_set_group", :collection => @data_set_groups,:params => params) %>
</div>
<%= will_paginate(@data_set_groups) %>
<%= pageless(@data_set_groups.total_pages, url_for(:controller => :data_set_groups,:action => :index,:params => params), "#endless") %>

<script type="text/javascript">
  $("#removed").bootstrapSwitch();
  $('select').filter(".column_search").chosen({allow_single_deselect:true})
  $("#removed").on('switch-change', function() {
    $("form:first").submit()
  });
</script>
