<% if @company_abbr_data_releases.empty? %>
  $("#releaseSelect").html('N/A');
<% else %>
  $("#releaseSelect").html('<%= escape_javascript(render :partial => 'release_select', :object =>  [@company_abbr_data_releases,@data_set_group]) %>');
  $("#data_set_group_data_release").select2({allowClear:true});
  $("select.validate").attr('style','display:block');
<% end %>
