<%= render :partial => 'show_data' %>
<div class="row">
  <div class="span12">
    <%= link_to :back, :class => 'btn',:title => 'back to previous page' do %>
      <i class="icon icon-arrow-left"></i>
    <% end %>
    <%= link_to data_set_groups_path, :class => 'btn',:title => 'back to overview' do %>
      <i class="icon icon-arrow-up"></i>
    <% end %>
    <%= link_to handle_data_set_group_path(@data_set_group),:class => 'btn',:title => "handle" do %>
      <i class="icon-tasks" title="Handle"></i>
    <% end %>
    <%= link_to edit_data_set_group_path(@data_set_group),:class => 'btn',:title => "edit" do %>
      <i class="icon-edit" title="Edit"></i>
    <% end %>
    <%= next_prev_button("prev") %>
    <%= next_prev_button("next") %>
  </div>
</div>
