<tr>
  <td><a href="#filesModal-<%= assembly_picker.source %>-<%= assembly_picker.referenceid%>" role="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#filesModal-<%= assembly_picker.source %>-<%= assembly_picker.referenceid %>"><i class="icon-map-marker">&nbsp;</i>Select</a></td>
  <td><%= assembly_picker.source %></td>
  <td><a id="<%= assembly_picker.id %>" data-placement="right" rel="tooltip" href="#" title="<%=h assembly_picker.remarks %>"><%= assembly_picker.referenceid %></a></td>
  <td><%= assembly_picker.data_release.company_abbr.company_name if assembly_picker.data_release %></td>
  <td><%= assembly_picker.data_release.name if  assembly_picker.data_release %></td>
  <td><%= assembly_picker.datatype %></td>
  <td>
    <%= assembly_picker.region.name %>
    <div class="modal fade" id="filesModal-<%= assembly_picker.source %>-<%= assembly_picker.referenceid %>">
      <div class="modal-dialog">
        <%= form_tag({:action => :add_checked ,:id => @assembly_header.id},{:id => "form-#{assembly_picker.source }-#{assembly_picker.referenceid}",:remote => true}) do %>
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"><%= assembly_picker.source %>&nbsp;<%= assembly_picker.referenceid %></h4>
          </div>
          <div class="modal-body">
            <fieldset>
              <div class="checkbox">
                <label>
                  <input type="checkbox" class="checkall" value=""/>
                  Check all
                </label>
              </div>
              <% @storage_location_ar = assembly_picker.storage_location.to_s.split("\n") %>
              <% @storage_location_ar.each do |f|
                idx = @storage_location_ar.index { |s| s == "#{f}" }
                if f.to_s.strip.scan(/\/.*\/(.*[[\.gz][.sq3]]$)/).join != ''
                  # first is for sorting on filename ['filename','path and file']
                  @storage_location_ar[idx] = [f.strip.scan(/\/.*\/(.*[[\.gz][.sq3]]\z)/).join,f]
                else
                  @storage_location_ar[idx] = [f,f]
                end

              end %>
              <% @storage_location_ar.uniq.sort.each do |file| %>
                <% if !file[1].blank? %>
                  <% status,label = '' %>
                  <% conversion_databases = ConversionDatabase.available.where("path_and_file = '#{file[0]}'") %>
                  <% unless conversion_databases.empty? %>
                    <% status = conversion_databases.last.status_str %>
                    <% iconclass = conversion_database_icon_class(conversion_databases.last.status) %>
                    <% label = "<span class='glyphicon #{iconclass}' title='#{status}'>&nbsp;</span>" %>
                    <% end %>
                    <div class="checkbox">
                      <label>
                        <%=  check_box_tag("check_#{file[1].strip}_reception_#{assembly_picker.referenceid}_#{assembly_picker.source}_#{assembly_picker.uniqid}",'on',false) %>
                        <small><%= file[0] %>&nbsp<%= raw label %></small>
                      </label>
                    </div>
                <% end %>
              <% end %>
            </fieldset>

          </div>
          <div class="modal-footer">
            <button class="btn btn-default " data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary " type="submit" name="filesmodel">Add lines</button>
            <button class="btn btn-inverse rplc" type="button"  id="<%= "rplcbtn-#{assembly_picker.source}-#{assembly_picker.referenceid}" %>">Replace</button>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <script type="text/javascript">
      $(function ($) {
        $('.checkall').click(function () {
          $(this).parents('fieldset:eq(0)').find(':checkbox').attr('checked', this.checked);
        });
      });

      $('#<%= "rplcbtn-#{assembly_picker.source}-#{assembly_picker.referenceid}" %>').click(function (){
        $(this).parents('fieldset:eq(0)').find(':checkbox').attr('checked', 'checked');
        $('#filesModal-<%= assembly_picker.source %>-<%= assembly_picker.referenceid %>').modal('hide');
        jQuery.get('<%=h url_for(replace_data_assembly_header_path(@assembly_header)) %>',{sid: <%=h assembly_picker.id %>, s_name: '<%=h assembly_picker.source %>' } );
      });
    </script>
  </td>
</tr>