<% lmsg = assembly_line.not_uniq? ? 'repeated' : '' %>
<tr id="<%= assembly_line.id %>" class="<%= assembly_line.not_uniq? ? 'danger' : '' %>">
  <td><small><strong>[<%= @assembly_lines.index(assembly_line)+1 %>]</strong>&nbsp;&nbsp;<%= assembly_line.reference_id %>-<%= assembly_line.data_release.name.to_s if assembly_line.data_release %></small></td>
  <td><small><%= assembly_line.area %></small></td>
  <td><small><%= assembly_line.data_type_and_filling %></small></td>
  <td id="fileName-<%= assembly_line.id %>"><small><%= assembly_line.file_name %>&nbsp;</small></td>
  <% if params[:action] != 'show' %>
  <td>
    <% if assembly_line.file_name.to_s != '' %>
      <% if assembly_line.file_name.to_s.scan(/\stag4mre/)[0] || assembly_line.file_name.to_s.reverse.split(' ')[1] %>
        <%=  link_to({:action => 'remove_mre_tag', :line_id => assembly_line.id,  :id => assembly_line.assembly_header_id},{:remote => true}) do %>
          <span class="glyphicon glyphicon-refresh" title="remove tag"></span>
        <% end %>
      <% else %>
        <% if !@update_region_tags || @update_region_tags.empty? %>
          <%=  link_to({:action => 'add_tag4mre', :line_id => assembly_line.id,  :id => assembly_line.assembly_header_id},{:remote => true}) do %>
            <span class="glyphicon glyphicon-road" title="add tag4mre"></span>
          <% end %>
        <% else %>
          <span class="glyphicon glyphicon-tag" style="cursor: pointer" title="add selected update-region" id="ur-<%= assembly_line.id %>"></span>
        <% end %>
      <% end %>
    <% end %>
    <a id="destroy_line_<%= assembly_line.id %>" href="#">
      <span id="destroy_line_icon_<%= assembly_line.id %>" class="glyphicon glyphicon-trash" title="remove line"></span>
    </a>
    <span class="" id="message-<%= assembly_line.id %>"><%= lmsg %></span>
  </td>
  <% end %>
</tr>

<script type="text/javascript">
  $('#ur-<%= assembly_line.id %>').click(function(){
    if ($('#update_regions').val() != ''){
      jQuery.get('<%=h url_for(:controller => "assembly_headers",:action => "add_update_region_tag", :line_id => assembly_line.id ,:id => assembly_line.assembly_header_id) %>' + '&update_region=' + $('#update_regions').val())
    }else {
      alert('No update region selected!')
    }
  })

  $('#destroy_line_<%= assembly_line.id %>').click(function(){
    $("#<%= assembly_line.id %>").contents().find("small").addClass("danger");
    $("#message-<%= assembly_line.id %>").html('deleting').addClass("label label-important");
    $("#destroy_line_icon_<%= assembly_line.id %>").hide();
    $.post('<%=h url_for({:action => 'destroy_line', :line_id => assembly_line.id, :id => assembly_line.assembly_header_id})%>')
    return false
  })

  <% if !assembly_line.available? %>
    $("#fileName-<%= assembly_line.id %>").wrapInner("<del></del>")
  <% end %>

</script>