<tr>
  <td>
    <div class="btn-group">
      <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Action <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="action-<%= assembly_header.id %>">
        <li>
          <%= link_to(:action => 'show',:action => 'show',:id => assembly_header.id) do %>
            <span class="glyphicon glyphicon-info-sign"></span>&nbsp;show
          <% end %>
        </li>
        <li>
          <%= link_to(edit_assembly_header_path(assembly_header)) do %>
            <span class="glyphicon glyphicon-edit"></span>&nbsp;manage
          <% end %>
        </li>
        <li>
          <%= link_to(:action => 'create_csv', :id => assembly_header.id, :format => 'csv') do %>
            <span class="glyphicon glyphicon-list-alt"></span>&nbsp;export csv
          <% end %>
        </li>
        <li>
          <%= link_to(:action => 'create_csv', :id => assembly_header.id, :format => 'xml') do %>
            <span class="glyphicon glyphicon-th-list"></span>&nbsp;export xml
          <% end %>
        </li>
        <li>
          <%= link_to(assembly_header, :confirm => 'Are you sure?', :method => :delete) do %>
            <span class="glyphicon glyphicon-trash"></span>&nbsp;delete
          <% end %>
        </li>
        <li>
          <%= link_to(:action => 'cloneit', :id => assembly_header.id) do %>
            <span class="glyphicon glyphicon-repeat"></span>&nbsp;clone
          <% end %>
        </li>
      </ul>
    </div>
  </td>
  <td><%= link_to assembly_header.id,assembly_header  %></td>
  <td><%= assembly_header.version %></td>
  <td><%= assembly_header.name %></td>
  <td><%= assembly_header.product_id %></td>
  <td><%= assembly_header.output_format %></td>
</tr>