<% f = form %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= params[:action].humanize %> assembly</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :product_id %>
          <%= f.select :product_id, Product.where("status = 20").collect{|c| [c.volumeid,c.volumeid] },{:include_blank => true},{:class => 'form-control'}  %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, :class => 'form-control' %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :output_format %>
          <%= f.select :output_format ,  DataType.all.order('name').collect {|c| [c.name,c.name] },{:include_blank => true},{:class => 'form-control'} %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= f.label :remarks %>
          <%= f.text_area :remarks, :rows => 3, :class => "form-control" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= f.submit "Save", :class => 'btn btn-default pull-right' %>
      </div>
    </div>
  </div>
</div>