$('#form<%= escape_javascript(@div_id) %>')[0].reset(); 
$('#filesModal<%= escape_javascript(@div_id) %>').modal('hide');

$('#assembly_lines').addClass("info").delay(1500).html('<%= escape_javascript(render(:partial => "assembly_line", :collection => @assembly_lines)) %>');
$('#assembly_lines').removeClass("alert-info");