$('#assembly_lines').html('<%= escape_javascript(render(:partial => "assembly_line", :collection => @assembly_lines)) %>');
$("#<%= escape_javascript(@divid) %>").addClass("info");
$("#message-<%= escape_javascript(@divid) %>").html('<%= escape_javascript(@message) %>').addClass("label label-info");
$('#<%= escape_javascript(@divid) %>').fadeTo('slow',0.8, function() {
    $('#<%= escape_javascript(@divid) %>').fadeTo('slow',1, function() { });
    $("#<%= escape_javascript(@divid) %>").delay(3000).removeClass("info");
    $("#message-<%= escape_javascript(@divid) %>").html('').removeClass("label info");
  });
