$("#message-<%= escape_javascript(@divid) %>").html('deleting').addClass("label label-danger");
$("#<%= escape_javascript(@divid) %>").addClass("danger");
$('#<%= escape_javascript(@divid) %>').animate({
  opacity: 0.25,
  left: '+=50',
  height: 'toggle'
}, 150, function() {
    $('#assembly_lines').html('<%= escape_javascript(render(:partial => "assembly_line", :collection => @assembly_lines)) %>');
});

