<% if @assembly_header.errors.any? %>
  <div class="row">
    <div class="col-md-12">
      <div id="error_explanation">
        <h4><%= pluralize(@assembly_header.errors.count, "error") %> prohibited this assembly from being saved:</h4>
        <ul>
          <% @assembly_header.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-<%= !@assembly_pickers.nil? && !@update_region_tags.empty? ? '11' : '12'%>">
    <ul class="nav nav-tabs" role="tablist" id="tab">
      <li role="presentation" class="active"><a href="#assembly" aria-controls="assembly" role="tab" data-toggle="tab">Assembly</a></li>
      <li role="presentation"><a href="#header" aria-controls="header" role="tab" data-toggle="tab">Header</a></li>
    </ul>
  </div>
</div>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="assembly">
    <div class="row">
      <div class="col-md-<%= !@assembly_pickers.nil? && !@update_region_tags.empty? ? '11' : '12'%>">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="row">
              <div class="col-md-1"><strong>ID</strong>&nbsp;<%= @assembly_header.id %></div>
              <div class="col-md-2"><strong>Product ID</strong>&nbsp;<%= @assembly_header.product_id %></div>
              <div class="col-md-4"><strong>Name</strong>&nbsp;<%= @assembly_header.name %></div>
              <div class="col-md-1"><strong>Version</strong>&nbsp;<%= @assembly_header.version %></div>
            </div>
          </div>
          <div class="panel-body">
            <div class="row">
              <%= form_tag edit_assembly_header_path(@assembly_header), :method => 'get', class:'navbar-form navbar-left' do %>
                  <div class="input-group">
                    <%= hidden_field_tag :direction, params[:direction] %>
                    <%= hidden_field_tag :sort, params[:sort] %>
                    <%= text_field_tag :search, params[:search], :placeholder=>"conversions,data sets,receptions",:class=>"form-control" %>
                    <span class="input-group-btn">
                      <%= button_tag "Search ID", :name => nil, :type => :submit, :class => "btn btn-default" %>
                      <%= button_tag "Reset", :name => 'reset',:class=>"btn btn-default",:type=>:submit %>
                    </span>
                  </div>
                <% end %>
              </div>
              <div id="index2">
                <table class="table table-condensed table-hover">
                  <thead>
                    <tr>
                      <th class="id">&nbsp;</th>
                      <th class="id"><%= column_sort("source","Source") %></th>
                      <th style="width: 8%"><%= column_sort('view_receptions_and_conversiondbs.referenceid','Reference ID') %></th>
                      <th><%= column_sort('company_abbrs.company_name','Supplier') %></th>
                      <th><%= column_sort('data_releases.name','Release') %></th>
                      <th><%= column_sort('datatype','Type') %></th>
                      <th><%= column_sort('regions.name','Coverage') %></th>
                    </tr>
                  </thead>
                  <tbody id="endless">
                    <%= render(:partial => "assembly_picker", :collection => @assembly_pickers) %>
                  </tbody>
                </table>
              </div>
              <%= will_paginate(@assembly_pickers) %>
              <%= pageless(@assembly_pickers.total_pages,url_for(:action => :edit),"#endless-shell" ) %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="header">
      <div class="row">
        <div class="col-md-<%= !@assembly_pickers.nil? && !@update_region_tags.empty? ? '11' : '12'%>">
          <%= form_for(@assembly_header) do |f| %>
            <% render :partial => "form", :object => f %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="" role="alert" id="message-gen">
        <!-- message body -->
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-<%= !@assembly_pickers.nil? && !@update_region_tags.empty? ? '11' : '12'%>">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Assembly content</h3>
        </div>
        <div class="panel-body">
          <div>
            <table class="table table-condensed table-hover">
              <tbody id="assembly_lines">
                <%= render :partial => "assembly_line" ,:collection => @assembly_lines %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <% if  !@assembly_pickers.nil? && !@update_region_tags.empty? %>
      <div class="col-md-1">
        <div id="myAffix" data-spy="affix" data-offset-bottom="200">
          <%= select_tag("update_region_tag",options_for_select(@update_region_tags),:class => 'form-control',:id => 'update_regions',:data=>{:placeholder => 'region tag'}) %>
          <script type="text/javascript">
            $("#update_regions").select2();
          </script>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row footer">
    <div class="col-md-12">
      <%= link_to :back, :class => 'btn btn-default',:title => 'back to previous page' do %>
        <span class="glyphicon glyphicon-arrow-left"></span>
      <% end %>
      <%= link_to assembly_headers_path, :class => 'btn btn-default',:title => 'back to overview' do %>
        <span class="glyphicon glyphicon-arrow-up"></span>
      <% end %>
      <%= link_to assembly_header_path(@assembly_header),:class => 'btn btn-default',:title => "show" do %>
        <span class="glyphicon glyphicon-eye-open"></span>
      <% end %>
      <%= next_prev_button("prev") %>
      <%= next_prev_button("next") %>
    </div>
  </div>

  <script type="text/javascript">
    $('#assembly_header_product_id').select2({placeholder:"select product ID",allowClear:true});
    $('#assembly_header_output_format').select2({placeholder:"select data type",allowClear:true});
  </script>