<%= render :partial => 'shared/search_bar', :object => @search_opts %>

<div id="index" class="table-responsive">
  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th class="id"><%= column_sort("id","ID",true) %></th>
        <th style="width: 8%"><%= column_sort("version","Version",true) %></th>
        <th><%= column_sort("name","Name",true) %></th>
        <th><%= column_sort("product_id","Product ID",true) %></th>
        <th><%= column_sort("output_format","to Format",true,DataType.all.order('name').collect {|c| [c.name,c.name] }) %></th>
      </tr>
    </thead>
    <tbody id="endless">
      <%= render(:partial => "assembly_header", :collection => @assembly_headers) %>
    </tbody>
  </table>
</div>
<%= will_paginate(@assembly_headers) %>
<%= pageless(@assembly_headers.total_pages, assembly_headers_path, "#endless") %>