<% if @assembly_header.errors.any? %>
  <div class="row">
    <div class="col-md-6">
      <div id="error_explanation">
        <h4><%= pluralize(@assembly_header.errors.count, "error") %> prohibited this assembly from being saved:</h4>

        <ul>
          <% @assembly_header.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-6">
    <%= form_for(@assembly_header) do |f| %>
    <% render :partial => "form", :object => f %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= link_to :back, :class => 'btn btn-default',:title => 'back to previous page' do %>
      <span class="glyphicon glyphicon-arrow-left"></span>
    <% end %>
    <%= link_to assembly_headers_path, :class => 'btn btn-default',:title => 'back to overview' do %>
      <span class="glyphicon glyphicon-arrow-up"></span>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  $('#assembly_header_product_id').select2({placeholder:"select product ID",allowClear:true});
  $('#assembly_header_output_format').select2({placeholder:"select data type",allowClear:true});
</script>