$('#assembly_lines').html('<%= escape_javascript(render(:partial => "assembly_line", :collection => @assembly_lines)) %>');
$("#message-<%= escape_javascript(@divid) %>").html('<%= escape_javascript(@message) %>').addClass("label label-info");
$("#<%= escape_javascript(@divid) %>").contents().find("small").addClass("alert-success");
$('#<%= escape_javascript(@divid) %>').fadeTo('slow',0.8, function() {
    $('#<%= escape_javascript(@divid) %>').fadeTo('slow',1, function() { });
    $("#<%= escape_javascript(@divid) %>").contents().find("small").delay(2000).removeClass("alert-success");
    $("#message-<%= escape_javascript(@divid) %>").html('').removeClass("label label-info");    
  });
