$('#assembly_lines').html('<%= escape_javascript(render(:partial => "assembly_line", :collection => @assembly_lines)) %>');
$("#message-gen").html('<%= raw escape_javascript(@message[:notice]) %>').addClass("alert alert-info");
