<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
          <div class="panel-heading">
            <div class="row">
              <div class="col-md-1"><span class="badge"><%= @assembly_header.id %></span></div>
              <div class="col-md-2"><strong>Product ID</strong>&nbsp;<%= @assembly_header.product_id %></div>
              <div class="col-md-4"><strong>Name</strong>&nbsp;<%= @assembly_header.name %></div>
              <div class="col-md-1"><strong>Version</strong>&nbsp;<%= @assembly_header.version %></div>
            </div>
          </div>
      <div class="panel-body">
          <div>
            <table class="table table-condensed table-hover">
              <tbody id="assembly_lines">
                <%= render :partial => "assembly_line" ,:collection => @assembly_lines %>
              </tbody>
            </table>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <pre class="text-pre"><%=h @assembly_header.remarks %></pre>
      </div>
    </div>
  </div>
</div>

<div class="row footer">
  <div class="col-md-12">
    <%= link_to :back, :class => 'btn btn-default',:title => 'back to previous page' do %>
      <span class="glyphicon glyphicon-arrow-left"></span>
    <% end %>
    <%= link_to assembly_headers_path, :class => 'btn btn-default',:title => 'back to overview' do %>
      <span class="glyphicon glyphicon-arrow-up"></span>
    <% end %>
    <%= link_to edit_assembly_header_path(@assembly_header),:class => 'btn btn-default',:title => "edit" do %>
      <span class="glyphicon glyphicon-edit"></span>
    <% end %>
    <%= link_to({:action => 'create_csv', :id => @assembly_header.id, :format => 'csv'}, {:class => 'btn btn-default',:title => 'export as CSV'}) do %>
      <span class="glyphicon glyphicon-list-alt"></span>
    <% end %>
    <%= link_to({:action => 'create_csv', :id => @assembly_header.id, :format => 'xml'}, {:class => 'btn btn-default',:title => 'export as XML'}) do %>
      <span class="glyphicon glyphicon-list"></span>
    <% end %>
    <%= next_prev_button("prev") %>
    <%= next_prev_button("next") %>
  </div>
</div>