<div id="search_help" style="display:none">
  <div class="row">
    <div class="col-md-6"><h4 class="text-primary">Global search Help</h4></div>
  </div>
  <div class="row">
    <div class="col-md-12"><p class="text-primary">
       WebMIS will search all text fields and id's of all content.
       You can search for content in dakota scripts*, result logs,files  assemblies etc. (*if conversion is run by Webmis)
       The results will preview the content and provide a link to the related info screen for more information.
       The results will be ordered by the time of registration. (most recent first)
       It is possible to filter the results by providing an entity name. See examples below.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4 class="text-primary">Examples:</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-primary">Search for pdhive of region run/used with particular tool release</div>
  </div>
  <div class="row">
    <div class="col-md-12 text-muted">ConversionJob dhMerge IND1 prod garmin_ntg5e</div>
  </div>
  <div class="row">
    <div class="col-md-12 text-primary">Search for context of particular conversion database by full file path</div>
  </div>
  <div class="row">
    <div class="col-md-12 text-muted">Conversion database /data/output/nds/prod/nsa/asi/ind/ind_nsa_201102_20130425p_dtm/ROOT.NDS</div>
  </div>
  <div class="row">
    <div class="col-md-12 text-primary">Lookup dakota script for a particuar NDS database on the network</div>
  </div>
  <div class="row">
    <div class="col-md-12 text-muted">ConversionDatabase /data/output/nds/prod/nsa/asi/ind/ind_nsa_201102_20130425p_dtm/ROOT.NDS</b><br/>Click Detail for.. <br/>Click link next to ConversionJob. Webmis will jump to job details and show dakota script</div>
  </div>
  <div class="row">
    <div class="col-md-12 text-primary">Lookup conversion database with a particular id</div>
  </div>
  <div class="row">
    <div class="col-md-12 text-muted">Conversion database 15837</div>
  </div>
  <div class="row">
    <div class="col-md-12 text-primary">Lookup product design for volkswagen</div>
  </div>
  <div class="row">
    <div class="col-md-12 text-muted">ProductDesign VW MIB STD</div>
  </div>
</div>


