<% if Project.project_associated?(search_result) %>
  <% allow_show = Project.project_associated?(search_result,session[:project_id]) %>
<% else %>
  <% allow_show = true %>
<% end %>

<% if search_result.class.name == "ConversionDatabase" %>
  <% if search_result.conversion_job && search_result.conversion_job.project_id != session[:project_id] %>
    <% allow_show = false %>
  <% end %>
<% end %>

<% if search_result.class.name == "Conversion" && search_result.job_support? %>
  <% if search_result.conversion_jobs && search_result.conversion_jobs.last.project_id != session[:project_id] %>
    <% allow_show = false %>
  <% end %>
<% end %>

<% if search_result.class.name == "ProductionOrderline"  %>
  <% if search_result.production_order && search_result.production_order.project_id != session[:project_id] %>
    <% allow_show = false %>
  <% end %>
<% end %>

<% if allow_show %>
<div class="span12 well"  >
  <div class="row">
    <div class="span10">
      <% if search_result.class.name == "ProductionOrderline" && search_result.production_order %>
        <%  classname = "ProductionOrder" %>
        <%  searchid =  search_result.production_order.id%>
      <% else %>
        <%  classname = search_result.class.name %>
        <%  searchid =  search_result.id%>
      <% end %>

      <%  chash = app_action_controllers_hash %>
      <% #if Object::const_get(classname.pluralize.camelcase + "Controller") && Object::const_get(classname.pluralize.camelcase + "Controller").new.respond_to?('show')   %>
      <% if chash[classname.tableize] && chash[classname.tableize].index("show") %>
        <h4><%= link_to "Details for #{classname} #{search_result.id}",:controller => classname.tableize ,:action => 'show',:id => searchid %></h4>

      <% end %>
    </div>
    <div class="span10 search_result">
      <% types = {} %>
      <% search_result.class.columns.each{|x| types[x.name] = x.type} %>
      <% search_result.attributes.each do |k1,v1| %>
        <% exc = "" %>
        <% if (types[k1] == :string || types[k1] == :integer  || types[k1] == :text) && k1 != "sendto" %>
          <%  params[:search].split(" ").each do |searchword| %>
            <% exci = excerpt(v1.to_s, searchword, :radius => 500) %>
            <% next if !exci || exci.size == 0 %>
            <% exc = exc + exci %>
          <% end %>
           <% next if !exc || exc.size == 0 %>
          <%=  k1.to_s %>

          <pre class="real-pre"><%= highlight(exc,params[:search],:highlighter => '<mark>\1</mark>') %></pre><br/>
        <% end %>
      <% end %>
    </div>


  </div>
  <div class="row">
    <div class="span10">
      <%= link_to "More",:controller => classname.tableize ,:action => 'show',:id => searchid %>
    </div>
    <div class="span2">
      created at: <%=  search_result.created_at.strftime('%Y-%m-%d %H:%M') %>
      <% if search_result.respond_to?("status_str") %>
        <%= search_result.status_str %>
      <% end %>
    </div>
  </div>
  <% if @search_results[-1] == search_result && @search_results.total_pages == params[:page].to_i %>
    <hr/>
    End of results
    <hr/>
  <% end %>
</div>
<% end %>

