<h1>Admin menu</h1>
<div align='center' id="menu2">
<br/>
<br/>
<br/>
<table>
  <tr>
    <td>&nbsp;</td>
    <td>
      <p><h2>Conversion</h2></p>
      <li><%= link_to "Conversion templates" ,:class => 'link' ,:controller => :cvtool_templates, :action => :index, :type => "on" %> </li>
      <li><%= link_to "CV Tool release" ,:class => 'link' ,:controller => :conversiontools, :action => :index, :isactive => '1' %></li>
      <li><%= link_to "CV Tool bundles" ,:controller => :cvtool_bundles, :action => :index %></li>
      <li><%= link_to "Product Assembly" ,:class => 'link' ,:controller => :assembly_headers, :action => :index %> </li>
      <li><%= link_to "Database Cleanup" ,:class => 'link' ,:controller => :conversion_databases, :action => :marked_for_removal_index %> </li>
    </td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>
      <p><h2>Suppliers/Release</h2></p>
      <li><%= link_to "Company Abbreviation" ,:class => 'link' ,:controller => :company_abbrs, :action => :index %> </li>
      <li><%= link_to "Data Types" ,:class => 'link' ,:controller => :data_types, :action => :index %> </li>
      <li><%= link_to "Data Releases" ,:class => 'link' ,:controller => :data_releases, :action => :index %> </li>
    </td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>
      <p><h2>System</h2></p>
      <li><%= link_to "DSM Admin", "/dsm/administration", :target => '_blank' %> </li>
      <li><%= link_to "Mail Events" ,:class => 'link' ,:controller => :mail_events, :action => :index %></li>
      <li><%= link_to "E-mail conditions" ,:class => 'link' ,:controller => :mail_conditions, :action => :index %> </li>
      <li><%= link_to "User Configuration" ,:class => 'link' ,:controller => :users, :action => :index %> </li>      
    </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>
      <p><h2>Release notes</h2></p>
      <li><%= link_to "Default content" ,:class => 'link' ,:controller => :default_content_release_notes, :action => :index %> </li>
      <li><%= link_to "Static required titles" ,:class => 'link' ,:controller => :static_release_note_titles, :action => :index %> </li>
    
    </td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>
      <p><h2>Shipment</h2></p>
      <li><%= link_to "Shipment Types" ,:class => 'link' ,:controller => :shipment_types, :action => :index %> </li>
      <li><%= link_to "View addresses" ,:class => 'link' ,:controller => :external_contacts, :action => :index %></li>
    </td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>
      <p><h2>Other</h2></p>
      <li><%= link_to "Document ID generation" ,:class => 'link' ,:controller => :assets, :action => :index %></li>
      <li><%= link_to "Asset Types setup" ,:class => 'link' ,:controller => :asset_types, :action => :index %></li>
      <li><%= link_to "Reception cleanup" ,:class => 'link' ,:controller => :receptions, :action => :index_can_be_removed %></li>
      <li><%= link_to "Test-Types" ,:class => 'link' ,:controller => :test_types, :action => :index %></li>
      <li><%= link_to "Order types", :controller => 'ordertypes', :action => 'index' %></li>
      <li><%= link_to "Places", :controller => 'places', :action => 'index' %></li>
    </td>
    <td>&nbsp;</td>
    <tr><td colspan="7">&nbsp;</td></tr>
</table>
</div>
<br>
<%= link_to 'Back to Main Menu', :controller => "main", :action => "index"%>

