<h1>Archive menu</h1>
<div align='center' id="menu2" >
<br/>
<br/>
<br/>
<table>
<tr>
  <td><%= link_to "Received Media" ,:class => 'link' ,:controller => :inbound_orderlines, :action => :index %> </td>
</tr>
<tr>
  <td><%= link_to "Created Media" ,:class => 'link' ,:controller => :stock, :action => :index %> </td>
</tr>
<tr>
  <td><%= link_to "Product Registration" ,:class => 'link' ,:controller => :product_locations, :action => :index %> </td>
</tr>
<tr>
  <td><%= link_to "Document overview" ,:class => 'link' ,:controller => :documents, :action => :index %></td>
</tr>
<tr>
  <td><%= link_to "Request/View Document [ID]", :controller => 'assets', :action => 'index' %></td>
</tr>
<tr>
<td><% link_to "Asset types", :controller => 'asset_types', :action => 'index' %></td>
</tr>
<tr>
<td><% link_to "Asset types Ranges", :controller => 'asset_type_number_ranges', :action => 'index' %></td>
</tr>
</table>
</div>
<br>
<%= link_to image_tag('icons/go-home.png', :border =>0, :alt => "main menu" , :title => "main-menu"), :controller => "main", :action => "index"%>
