<h1>WebMis Access denied</h1>
<br/>
<br/>
<br/>
<table>
<tr>
</tr>
<tr/>
<tr/>
<tr/>
<tr/>
<tr/>
<tr>
 <td><%= link_to "Back", @backlink   %></td>
</tr>
<tr>
</tr>
<tr/>
<tr/>
<tr/>
<tr/>
<tr/>
<tr/>
<tr/>
<tr/>
<tr/>
<tr/>
<tr/>
</table>
</div>
