
<div class="row" style="padding-top: 40px;">
  
  <div class="col-md-3">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Welcome to WebMIS</h3>
      </div>
      <div class="panel-body" style="min-height: 150px;">
        <%= image_tag("backoffice_logo_login.png", :style => "max-height:100px;") %>&nbsp;Logged in as:&nbsp;<strong class="text-success"><%= current_user.full_name %></strong>
      </div>  
    </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">WebMIS&nbsp;<%= Project.find(session[:project_id]).name %></h3>
      </div>
      <div class="panel-body" style="min-height: 150px;">
        <%= select_tag 'project',options_for_select(User.find(session[:user_id]).projects.active.collect{|p|[p.name,p.id]},session[:project_id]),{:class => "form-control",:onChange=>"changeProject();"} %>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Global text search</h3>
      </div>
      <div class="panel-body" style="min-height: 150px;">
        <div class="row">
        <%= form_tag({:action => :searchit}, {:method => :get,:class=>"form-horizontal"}) do %>
          <div class="col-md-9">
            <%= text_field_tag 'search','', :class => 'form-control',:placeholder => "Search" %>
          </div>
          <div class="col-md-3">
            <%= button_tag 'Search', :class => 'btn btn-default' %><%= button_tag 'Help', :id => 'link_hlp', :class => 'btn'%>
          </div>
        <% end %>
        </div>
        <div class="row">
          <div class="col-md-11 centerspan">
            <%= render :partial => 'search_help'  %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<% if session[:environment] == "production" %>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="glyphicon glyphicon-barcode"></span>&nbsp;Production</h3>
      </div>
      <div class="panel-body">
        <small><%= link_to "product sets",:action => :index,:controller => :productsets %></small>&nbsp;
        <small><%= link_to "orders",:action => :index,:controller => :production_orders %></small>&nbsp;
        <small><%= link_to "products",:action => :index,:controller => :products %></small>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="glyphicon glyphicon-inbox"></span>&nbsp;Reception</h3>
      </div>
      <div class="panel-body">
        <small><%= link_to "receptions",:action => :index,:controller => :receptions %></small>&nbsp;
        <small><%= link_to "requests",:action => :requests,:controller => :receptions %></small>&nbsp;
        <small><%= link_to "new-request",:action => :new_request,:controller => :receptions %></small>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="glyphicon glyphicon-random"></span>&nbsp;Conversion</h3>
      </div>
      <div class="panel-body">
        <small><%= link_to "databases",:action => :index,:controller => :conversion_databases %></small>&nbsp;
        <small><%= link_to "jobs",:action => :index,:controller => :conversion_jobs %></small>&nbsp;
        <small><%= link_to "requests",:action => :index,:controller => :conversions %></small>&nbsp;
        <small><%= link_to "new-request",:action => :new,:controller => :conversions %></small>&nbsp;
        <small><%= link_to "servers",:action => :overview,:controller => :servers, :project_id => session[:project_id] %></small>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="glyphicon glyphicon-search"></span>&nbsp;Testing</h3>
      </div>
      <div class="panel-body">
        <small><%= link_to "requests",:action => :index,:controller => :test_requests %></small>&nbsp;
        <small><%= link_to "new-request",:action => :new,:controller => :test_requests %></small>&nbsp;
        <small><%= link_to "medium-requests",:action => :requests,:controller => :stock %></small>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="glyphicon glyphicon-road"></span>&nbsp;Shipping</h3>
      </div>
      <div class="panel-body">
        <small><%= link_to "shipments",:action => :index,:controller => :outbound_orders %></small>&nbsp;
        <small><%= link_to "shipping-requests", :action => :shipment_index, :controller => :production_orderlines %></small>&nbsp;
        <small><%= link_to "contacts",:action => :index,:controller => :external_contacts %></small>&nbsp;
        <small><%= link_to "distribution-list",:action => :index,:controller => :distribution_lists %></small>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;Logistics</h3>
      </div>
      <div class="panel-body">
        <small><%= link_to "new shipment order",:action => :new_retroaction,:controller => :shipping_orderlines %></small>&nbsp;
        <small><%= link_to "stock",:action => :onhand,:controller => :warehouse_stock %></small>&nbsp;
        <small><%= link_to "license-fee",:action => :license_fee_report,:controller => :article_licenses %></small>&nbsp;
        <small><%= link_to "uninvoiced",:action => :index,:controller => :shipping_orders, :uninvoiced => true %></small>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="glyphicon glyphicon-folder-open"></span>&nbsp;Archive</h3>
      </div>
      <div class="panel-body">
        <small><%= link_to "products",:action => :index,:controller => :product_locations %></small>&nbsp;
        <small><%= link_to "documents",:action => :index,:controller => :assets %></small>&nbsp;
        <small><%= link_to "media",:action => :index,:controller => :stock %></small>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="glyphicon glyphicon-wrench"></span>&nbsp;Configuration</h3>
      </div>
      <div class="panel-body">
        <small>Webmis configuration settings</small>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-md-3">
    <small>*This page contains only the frequently used items.<br />&nbsp;For more items check the top-menu.</small>
  </div>
</div>
<% end %>


    




<script type="text/javascript">
  helpdown = false
  $( "#link_hlp" ).click(function() {
    if (helpdown == false)
    {
      $( "#search_help" ).slideDown( "slow", function() {
        // Animation complete.
        helpdown = true
      });
    }
    else
    {
      $( "#search_help" ).slideUp( "slow", function() {
        // Animation complete.
        helpdown = false
      });
    }

    return false;
  });

  $("#project").select2();

  function changeProject(){
    location.href='<%= url_for(:action => :change_project) %>?project_id='+$("#project").val()
  }

  $("#click").click(function(){
    $("#target").html('<%= raw escape_javascript(render_file_tree_modal("/volumes1/dakota/")[0].html_safe) %>')
    $("#myModalFileTree").modal("show");
  });
</script>
