<script type="text/javascript">
	jQuery(function() {
		jQuery( "#accordion" ).accordion({
                  collapsible: true,
                  navigation: true
                });
	});
</script>
<div style="width: 500px;">
  <div id="accordion">
    <p><a href="#">Order handling</a></p>
    <div>
      <ul>
        <li><%=  link_to 'Retroaction shipping order', :controller => 'shipping_orderlines', :action => 'new_retroaction' %></li>
        <li><%=  link_to 'Shipping orders', :controller => 'shipping_orders', :action => 'index' %></li>
        <li><%=  link_to '2 weeks shipping orders forecast', :action => 'call_of_list', :controller => 'shipping_orderlines' %></li>
        <li><%=  link_to 'Shipping Order items', :controller => 'shipping_orderlines', :action => 'index' %></li>
        <li><%=  link_to 'Customer Depots', :controller => 'customer_depots', :action => 'index' %></li>
      </ul>
    </div>
    <p><a href="#">Financial</a></p>
    <div>
      <ul>
<!--
         <li><%=  link_to 'Uninvoiced shipped orders', :action => 'uninvoiced_shipped_list', :controller => 'shipping_orderlines' %></li>
        <li><%=  link_to 'Unpaid invoiced orders', :action => 'unpaid_shipped_list', :controller => 'shipping_orderlines' %></li>
-->
        <li><%=  link_to 'Uninvoiced contracts', action: 'index', controller: 'shipping_orders', uninvoiced: true %></li>
        <li><%=  link_to 'Unpaid invoices', action: 'index', controller: 'invoices', unpaid_invoices_overview: true %></li>
        <li><%= link_to 'License fee Report', :action => 'license_fee_report', :controller => 'article_licenses' %></li>
      </ul>
    </div>
    <p><a href="#">Article configuration</a></p>
    <div>
      <ul>
        <li><%=  link_to 'High-level BOM', :controller => 'high_level_boms', :action => 'index' %></li>
        <li><%=  link_to 'Article lincenses', :controller => 'article_licenses', :action => 'index' %></li>
        <li><%=  link_to 'Articles', :controller => 'articles', :action => 'index' %></li>
      </ul>
    </div>
    <p><a href="#">Stock</a></p>
    <div>
      <ul>
        <li><%=  link_to 'Stock Orders', :controller => 'stock_orders', :action => 'index' %></li>
        <li><%=  link_to 'Warehouse Stock', :controller => 'warehouse_stock', :action => 'index' %></li>
        <li><%=  link_to 'Stock Depots', :controller => 'stock_depots', :action => 'index' %></li>
      </ul>
    </div>
  </div>
</div>

<br>
<%= link_to 'Back to Main Menu', :controller => "main", :action => "index"%>

