<h1>Media menu</h1>
<div align='center' id="menu2" >
<br/>
<br/>
<br/>
<table>
<tr>
<td><%= link_to "Media Request Overview" ,:class => 'link' ,:controller => :stock, :action => :requests, :id => 1 %></td>
</tr>
<tr>
<td><%= link_to "New Media Request" ,:class => 'link' ,:controller => :stock, :action => :new_request,:id => 1 %></td>
</tr>
<tr>
<td><%= link_to "Media Archive" ,:class => 'link' ,:controller => :stock, :action => :index %></td>
</tr>
</table>
</div>