<h1>Miscellaneous tools</h1>
<div align='center' id="menu2" >
<br/>
<br/>
<br/>
<table>
<tr>
<td><%= link_to "Request/View Document [ID]", :controller => 'assets', :action => 'index' %>
</tr>
<tr>
<td><% link_to "Asset types", :controller => 'asset_types', :action => 'index' %>
</tr>
<tr>
<td><% link_to "Asset types Ranges", :controller => 'asset_type_number_ranges', :action => 'index' %>
</tr>
<tr>
<td><%= link_to "Business Processes", :controller => 'business_processes', :action => 'index' %>
</tr> 
<tr>
<td><%= link_to "Ordertypes", :controller => 'ordertypes', :action => 'index' %>
</tr> 
</table>
</div>
<br>
<%= link_to 'Back to Main Menu', :controller => "main", :action => "index"%>

