<h1>Product Admin menu</h1>
<div align='center' id="menu2" >
<br/>
<br/>
<br/>
<table>
<tr>
<td><%= link_to "Productsets" ,:class => 'link' ,:controller => :productsets, :action => :index %></td>
</tr>
<tr>
<td><%= link_to "Products" ,:class => 'link' ,:controller => :products, :action => :index %></td>
</tr>
<tr>
<td><%= link_to "Overview Production Orders", :controller => 'production_orders', :action => 'index' %></td>
</tr>
<tr>
<td><%= link_to "Business Processes", :controller => 'business_processes', :action => 'index' %></td>
</tr>
<tr>
<td><%= link_to "Order types", :controller => 'ordertypes', :action => 'index' %></td>
</tr>
</table>
</div>
<br>
<%= link_to 'Back to Main Menu', :controller => "main", :action => "index"%>

