<h1><span id="generic" class="popup_link">Reception menu</span></h1>
<div id=generic_pop class="popup popup_draghandle">
  <h2>Reception</h2>
    <%= document_description :type => "long", :object_name => "Reception"%>
</div>
<%= javascript_tag "new Popup('generic_pop','generic')" %>



<div align='center' id="menu2">
<br/>
<br/>
<table>
<tr>
<td><%= link_to "Reception Request Overview" ,:class => 'link' ,:controller => :receptions, :action => :requests, :id => 1 %></td>
</tr>
<tr>
<td><%= link_to "New Reception Request" ,:class => 'link' ,:controller => :receptions, :action => :new_request,:id => 1 %></td>
</tr>
<tr>
<td><%= link_to "Reception Overview" ,:class => 'link' ,:controller => :receptions, :action => :index %></td>
</tr>
</table>
</div>





