<h3>Total of <%= @search_results.total_entries %> results</h3>
<h4>Query: "<%= params[:search] %>"</h4>

<div id="endless">
    <%= render(:partial => "search_result", :collection => @search_results) %>
</div>
