<h1>Shipping menu</h1>
<div align='center' id="menu2" >
<br/>
<br/>
<br/>
<table>
<tr>
<td><%= link_to "Distribution lists" ,:class => 'link' ,:controller => :distribution_lists , :action => :index %></td>  
</tr>
<tr>
<td><%= link_to "View addresses" ,:class => 'link' ,:controller => :external_contacts, :action => :index %></td>
</tr>
<tr>
  <td><%= link_to "Documentation" ,:class => 'link' ,:controller => :stock, :action => :documents %> </td>
</tr>
<tr>
  <td><%= link_to "Shipments" ,:class => 'link' ,:controller => :outbound_orders, :action => :index %> </td>
</tr>
<tr>
  <td><%= link_to "CARiN Release Notes Request" ,:class => 'link' ,:controller => :outbound_orders, :action => :release_notes_request %> </td>
</tr>
</table>
</div>
<br>
<%= link_to 'Back to Main Menu', :controller => "main", :action => "index"%>

