<h1>Testing</h1>
<div align='center' id="menu2" >
<br/>
<br/>
<br/>
<table>
<tr>
<td><%= link_to "Test Requests", :controller => 'test_requests', :action => 'index' %>
</tr>
</table>
</div>
<br>
<%= link_to 'Back to Main Menu', :controller => "main", :action => "index"%>

