<% if cvtool_bundle.active_yn == true
  attext='Deactivate'
  atclass='icon-thumbs-down'
else
  attext='Activate'
  atclass='icon-thumbs-up'
end %>

<div class="row" id="row_show_<%=  cvtool_bundle.id %>">
  <div class="span1">
    <div class="btn-group">
      <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
        Action
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to cvtool_bundle_path(cvtool_bundle) do %>
            <i class="icon-info-sign"></i>&nbsp;show
          <% end %>
        </li>
        <li>
          <%= link_to edit_cvtool_bundle_path(cvtool_bundle) do %>
            <i class="icon-edit"></i>&nbsp;edit
          <% end %>
        </li>
        <li>
          <%= link_to toggle_active_yn_cvtool_bundle_path(cvtool_bundle), :method => :post do %>
          <i class="<%= atclass %>"></i>&nbsp;<%= attext %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <div class="span1"><%= cvtool_bundle.id %></div>
  <div class="span2"><%= cvtool_bundle.name %>&nbsp;</div>
  <div class="span4"><%= truncate(cvtool_bundle.remarks.to_s, :length => 63, :omission => '...') %>&nbsp;</div>
  <div class="span1"><%= bootstrap_boolean(cvtool_bundle.active_yn) %></div>
</div>
