<%= select_tag(@name,options_for_select(@cb, @cvtool_bundle_id.to_i),:include_blank => true, :id => @tag, :class => 'span3 validate',:required => :required,:data => {:placeholder => 'Select CV tool bundle'}) %>
<script>
  $('#<%= @tag %>').select2();
</script>