<%= form_for(@cvtool_bundle) do |f| %>
  <% if @cvtool_bundle.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@cvtool_bundle.errors.count, "error") %> prohibited this CV-tool bundle from being saved:</h4>
      <ul>
      <% @cvtool_bundle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="span7 bounded bounded-headered">
      <div class="row bounded-header">
        <h4><%= controller.action_name.humanize %> CV-tool bundle: <%= @cvtool_bundle.name %></h4>
      </div>
      <div class="row">
        <div class="span1">
          <strong>Name</strong>
        </div>
        <div class="span2">
          <%= f.text_field :name, :class => 'span2' %>
        </div>
      </div>
      <div class="row">
        <div class="span2">
          <strong>Remarks</strong>
        </div>
      </div>
      <div class="row">
        <div class="span6">
          <%= f.text_area :remarks, :class => 'span6', :rows => 7 %>
        </div>
      </div>
      <div class="row">
        <div class="span2">
          <%= f.check_box :active_yn %> Active
        </div>
      </div>
      <div class="row">
        <div class="span pull-right"><%= f.submit 'Save CV-tool bundle', :class => 'btn' %></div>
      </div>
    </div>
  </div>
<% end %>
