<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand"><strong>CV-tool bundles</strong></div>
      <div class="span">
        <%= form_tag cvtool_bundles_path, :method => :get do %>
          <div class="span">
            <div class="input-bar">
              <%= link_to new_cvtool_bundle_path, :class => 'btn btn-info' do %>
                <i class="icon-plus">&nbsp;</i>new
              <% end %>
            </div>
          </div>
          <div class="span">
            <label class="checkbox">
              <%= check_box_tag 'inclinactive', "1", @include_inactive,{:data => {"text-label" => "inactive","off-label" => "","on-label" => "Include",:size => "normal",:on => "success",:off => "default","off-label" => "excluded"}} %>
            </label>
          </div>&nbsp;
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <div class="input-append input-prepend">
             <%= text_field_tag :search, params[:search],:class => 'span2', :placeholder => 'Name or Description'%>
            <%= button_tag "Search", :name => nil, :type => :submit, :class => "btn" %>
            <%= button_tag "Reset", :name => 'reset',:class=>"btn",:type=>:submit %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div id="endless">
  <div class="row">
    <div class="span1 offset1"><strong>&nbsp;<%= sortable "cvtool_bundles.id", 'Id'%></strong></div>
    <div class="span2"><strong><%= sortable "cvtool_bundles.name", "name" %></strong></div>
    <div class="span4"><strong><%= sortable "cvtool_bundles.remarks", "remarks" %></strong></div>
    <div class="span1"><strong><%= sortable "cvtool_bundles.active_yn", "active" %></strong></div>
  </div>

  <%= render(partial: "cvtool_bundle", :collection => @cvtool_bundles) %>
</div>
<%= will_paginate(@cvtool_bundles) %>
<%= pageless(@cvtool_bundles.total_pages, cvtool_bundles_path, "#endless", params) %>
<script type="text/javascript">
  $("#inclinactive").bootstrapSwitch();
</script>
