<h3><%= controller.action_name.capitalize %> CV-tool bundle</h3>
<div class="row">
  <div class="bounded span7">

    <div class="row">
      <div class="span1"><strong>Name</strong></div>
      <div class="span2"><%= @cvtool_bundle.name %></div>
    </div>

    <div class="row">
      <div class="span6"><strong>Remarks</strong></div>
    </div>
    <div class="row">
      <div class="span6"><pre><%= @cvtool_bundle.remarks %></pre></div>
    </div>

    <div class="row">
      <div class="span6">
        <div class="accordion" id="accordion1">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse1">
                Conversiontools containing this bundle
              </a>
            </div>
            <div id="collapse1" class="accordion-body collapse">
              <div class="accordion-inner">
                <table>
                  <tr>
                    <th>id</th>
                    <th>code</th>
                    <th>description</th>
                    <th>active</th>
                    <th>released</th>
                  </tr>
                  <% @cvtool_bundle.cvtool_bundle_releases.active.each do |cvtool_bundle_release| %>
                    <% conversiontool = cvtool_bundle_release.conversiontool %>
                    <tr>
                      <td><%= link_to conversiontool.id, conversiontool %></td>
                      <td><%= conversiontool.code %></td>
                      <td><%= conversiontool.description %></td>
                      <td><%= conversiontool.isactive %></td>
                      <td><%= conversiontool.prod_released_yn %></td>
                    </tr>
                  <% end %>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="span6">
        <div class="accordion" id="accordion2">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse2">
                Conversions requested with this bundle
              </a>
            </div>
            <div id="collapse2" class="accordion-body collapse">
              <div class="accordion-inner">
                <table>
                  <tr>
                    <th>ID</th>
                    <th>Region</th>
                    <th>In / Out</th>
                    <th>CV Bundle</th>
                    <th>Product ID</th>
                  </tr>
                  <% @cvtool_bundle.conversions.each do |conversion| %>
                    <tr>
                      <td>
                        <%= link_to conversion.id, conversion %>
                      </td>
                      <td><%= conversion.region.name if conversion.region %></td>
                      <td><%= conversion.input_format %>2<%= conversion.output_format %></td>
                      <td><%= conversion.cvtool_bundle.name if conversion.cvtool_bundle %></td>
                      <td><%= conversion.productid %></td>
                    </tr>
                  <% end %>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="span6">
        <% if @cvtool_bundle.active_yn == true %>
          <span class="label label-info">Active</span>
        <% else %>
          <span class="label label-important">Inactive</span>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span6">
    <%= link_to edit_cvtool_bundle_path(@cvtool_bundle), :class => "btn",:title => "edit" do %>
      <i class="icon-edit" title="edit"></i>
    <% end %>
    &nbsp;
    <%= link_to :back, :class => "btn", :title => "back" do %>
      <i class="icon-arrow-left" title="back"></i>
    <% end %>
    &nbsp;
    <%= link_to cvtool_bundles_path, :class => "btn",:title => "overview" do %>
      <i class="icon-arrow-up" title="overview"></i>
    <% end %>
  </div>
</div>
