<% if conversion_environment.active_yn == true
  attext='Deactivate'
  atclass='icon-thumbs-down'
else
  attext='Activate'
  atclass='icon-thumbs-up'
end %>

<div class="row">
  <div class="span1">
    <div class="btn-group">
      <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
        Action
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to(conversion_environment) do %>
            <i class="icon-info-sign"></i>&nbsp;show
          <% end %>
        </li>
        <li>
          <%= link_to(edit_conversion_environment_path(conversion_environment)) do %>
            <i class="icon-edit"></i>&nbsp;edit
          <% end %>
        </li>
        <li>
         <%= link_to(:action => 'toggle_active_yn',:controller => :conversion_environments, :id => conversion_environment.id) do %>
           <i class="<%= atclass %>"></i>&nbsp;<%= attext %>
         <% end %>
        </li>
        </ul>
      </div>
    </div>
    <div class="span1"><%= conversion_environment.id %></div>
    <div class="span2"><%= conversion_environment.name %></div>
    <div class="span2"><%= bootstrap_boolean(conversion_environment.active_yn) %></div>
    <div class="span6"><i><%= conversion_environment.remarks %></i></div>
  </div>
