<div class="row">
  <div class="span8"><h4><%= "#{controller.action_name.humanize} #{controller.controller_name.humanize.singularize}" %></h4></div>
</div>
<div class="row">
<%= form_for(@conversion_environment) do |f| %>
  <% if @conversion_environment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@conversion_environment.errors.count, "error") %> prohibited this conversion_environment from being saved:</h2>

      <ul>
      <% @conversion_environment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="span5 bounded">
    <div class="row">
      <div class="span3"><strong>Name</strong></div>
    </div>
    <div class="row">
      <div class="span3"> <%= f.text_field :name, :class => 'span3',:placeholder => 'CVE_4.0_yyyymmdd' %></div>
      <div class="span1"><label><%= f.check_box :active_yn %> Active</label></div>
    </div>
     <div class="row">
      <div class="span5"><strong>Remark</strong></div>
    </div>
     <div class="row">
      <div class="span5"><%= f.text_area :remarks,:rows => '5', :class => 'span5' %></div>
    </div>
     <div class="row">
      <div class="span1 pull-right"><%= f.submit 'Save',:class=> 'btn btn-primary' %></div>
    </div>
  </div>
  <% end %>
</div>