<%= render 'form' %>
<div class="row">
  <div class="span5">|
    <%= link_to @conversion_environment do %>
    <i class="icon icon-eye-open" title="show">&nbsp;</i>
    <% end %>|
    <%= link_to conversion_environments_path do %>
    <i class="icon icon-arrow-left" title="back">&nbsp;</i>
    <% end %>|
  </div>
</div>
