<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand"><strong>Conversion environments</strong></div>
      <div class="span">
        <%= form_tag conversion_environments_path, :method => 'get' do %>
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <div class="input-append input-prepend">
            <%= link_to({:action => :new, :controller => :conversion_environments},{:class => 'btn btn-info'}) do %>
              new
            <% end %>
            <%= text_field_tag :search,  params[:search] %>
            <%= button_tag "Search", :name => nil, :type => :submit, :class => "btn" %>
            <%= button_tag "Reset", :name => 'reset',:class=>"btn",:type=>:submit %>
          </div>
        </div>
        <div class="span">
          <label class="checkbox">Include inactive
            <%= check_box_tag 'incl_inactive', params[:incl_inactive], params[:incl_inactive] %>&nbsp;
            &nbsp;
          </label>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div id="endless">
  <div class="row">
    <div class="span1 offset1"><strong>&nbsp;<%= sortable "id", 'Id' %></strong></div>
    <div class="span2"><strong><%= sortable "name" %></strong></div>
    <div class="span2"><strong><%= sortable "active_yn",'Active' %></strong></div>
    <div class="span6"><strong>Remarks</strong></div>
  </div>
  <%= render(:partial => "conversion_environment", :collection => @conversion_environments) %>

</div>
<%= will_paginate(@conversion_environments) %>
<%= pageless(@conversion_environments.total_pages, url_for(:action => :index, :controller => :conversion_environments, :inclinactive => params[:inclinactive]), "#endless") %>

