<div class="row">
  <div class="span8"><h4><%= "#{controller.action_name.humanize} #{controller.controller_name.humanize.singularize}" %></h4></div>
</div>
<div class="row">
  <div class="span5 bounded">
    <div class="row">
      <div class="span3"><strong>Name</strong></div>
      <div class="span1"><strong>Active</strong></div>
    </div>
    <div class="row">
       <div class="span3"><%= @conversion_environment.name %></div>
      <div class="span1"><%= bootstrap_boolean(@conversion_environment.active_yn) %></div>
    </div>
      <div class="row">
      <div class="span5"><strong>Remark</strong></div>
    </div>
     <div class="row">
      <div class="span5"><pre style="min-height: 10em;"><%= @conversion_environment.remarks %></pre></div>
    </div>

  </div>
</div>
<div class="row">
  <div class="span5">|
    <%= link_to edit_conversion_environment_path(@conversion_environment) do %>
    <i class="icon icon-edit" title="edit">&nbsp;</i>
    <% end %>|
    <%= link_to conversion_environments_path do %>
    <i class="icon icon-arrow-left" title="back">&nbsp;</i>
    <% end %>|
  </div>
</div>
