<% if @product_feature.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@product_feature.errors.count, "error") %> prohibited this product_feature from being saved:</h2>

    <ul>
    <% @product_feature.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@product_feature) do |f| %>
  <div class="row">
    <div class="span10 bounded bounded-headered">
      <div class="row bounded-header">
        <div class="span5">
          <h4><%= @heading %></h4>
        </div>
        <div class="span2 pull-right">
          <strong>Revision</strong>
          <%= @product_feature.version.to_i + 1 %>&nbsp;
          <strong>Status</strong>
          <%= @product_feature.status %>
        </div>
      </div>
      <div class="row">
        <div class="span3"><strong>Name</strong></div>
        <div class="span1"><strong>Abbr code</strong></div>
        <div class="span3"><strong>Product line</strong></div>
      </div>
      <div class="row">
        <div class="span3"><%= f.text_field :name, :class => 'span3' %></div>
        <div class="span1"><span class="span1 uneditable-input" title="auto generated"><%= @product_feature.abbr_code %></span></div>
        <div class="span3"><%= f.select :product_line_id, @product_line_selection_list,{}, {:class => 'span3'} %></div>
      </div>
      <div class="row">
        <div class="span10"><strong>Description</strong></div>
      </div>
      <div class="row">
        <div class="span10"><%= f.text_area :description, :rows => 5, :class => "span10" %></div>
      </div>
    </div>
  </div>

  <h5>Parameter(s)</h5>
  <div class="row">
    <div class="span10 bounded">
      <div id="system_translation_div"  class="span10">
        <%= f.hidden_field :system_translation %>
        <div id="translation_row" class="row" style="display:none">
          <div class="span5"><!-- dynamic paramname --></div>
          <div  class="span4"><!-- dynamic execname --></div>
          <div class="span1 pull-right">
            <a href="#" class="icon-trash remove" >&nbsp;</a>
          </div>
        </div>

      </div>
      <div class="row">
        <div  class="span10"><br />
          <button id="add_new_translation" type="button" class='btn btn-small'>Add new translation</button>
          <button id="clear_translations" type="button" class='btn btn-small'>Clear translations</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span10">
      <%= f.submit :class => 'btn btn-primary pull-right' %></div>
    </div>
<% end %>

<div class="modal hide fade" id="newElementModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">
      Add new translation
    </h3>
  </div>
  <div class="modal-body">
    <div id="params_row" style="display:none" >
      <div class="span1">
      </div>
      <div class="span10">
        paramname
      </div>
      <div class="span1">
        value
      </div>
    </div>
    <div class="row">
      <div class="span1">
        <strong>Name</strong>
      </div>
      <div class="span4">
        <%= select_tag :executable, options_for_select(Executable.parameters_option_list.sort), {:include_blank => true, :onchange => 'add_param_to_translation($(this).find("option:selected").text(),$(this).val(), "param_name")',:class => 'hidden'} %>
        <% select_tag :param_name,  options_for_select(Executable.param_list.collect{|x|["#{x['name']} #{x['exe']}","#{x['name']}@#{x['exe']}"]}.sort),{:include_blank => true,:class => 'span4'} %>
        <select id="param_name" class="span4"></select>
      </div>
    </div>
    <div class="row">
      <div class="span1">
        <strong>Value</strong>
      </div>
      <div class="span4">
        <%= text_field_tag :param_value,'',{:class => 'span4'} %>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button> <button class="btn btn-primary" id="createbutton" name="createElement">Add Translation</button>
  </div>
</div>
  
<script type="text/javascript">
  $("#product_feature_product_line_id").chosen({search_contains: true, no_results_text: "No Product line found for "});
  $("#status").chosen({search_contains: true, no_results_text: "No status found for "});
  $("#param_name").select2({placeholder:"Select a parameter"});
  
  translation = new Object()
  listrow = ""
  current_part = ""
  no_of_parts = 0
  if ($('#product_feature_system_translation').val() != "")
  {
    translation = eval('(' + $('#product_feature_system_translation').val() + ')')
    if (translation.parts == undefined)
    {
      translation.parts = []
    }
  
    current_part = ""
    params = ""
  }
  else
  {
    translation.parts = []
  }

  function update_param_select_list(){
    $.each( $.parseJSON($('#product_feature_system_translation').val()).parts,function( k,v ){
      var option_string = v.parameter_name + '@' + v.executable
      $("#param_name option[value='"+option_string+"']").remove();
      $('#param_name').trigger('change');
    } )
  }

  function populate_param_option_list(){
      var optionlist_html = '<%= escape_javascript(options_for_select(Executable.param_list.collect{|x|["#{x['name']} #{x['exe']}","#{x['name']}@#{x['exe']}"]}.sort)) %>';
      $('#param_name').html('<option value=""></option>');
      $('#param_name').append(optionlist_html);
      $('#param_name').trigger('change');
    }
  populate_param_option_list();
  
  $("#param_name").change(function(){
    var paramExec = $(this).val()
    var subparamExec = paramExec.split('@')
    var paramName = subparamExec[0]
    var exceName = subparamExec[1]
    add_param_to_translation(exceName)
  });

  function remove_from_model( obj,elemname, design_id){
    obj[elemname] = $.grep(obj[elemname], function(value) {
        return value.design_id != design_id
    });

    no_of_parts = obj[elemname].length
    encoded = $.toJSON( translation );
    $('#product_feature_system_translation').val(encoded);
    populate_param_option_list();
    update_param_select_list();
  }

  function append_to_list(listdiv, objadd,obj, elemname){
    listrow = $('#rowtemplate').clone()
    listrow.attr("id",objadd.design_id)
    listrow.find("div").first().text(unescape(obj_to_string(objadd)))
    listdiv.append(listrow)
    unique_control_id = "select_tag_" + listdiv.attr('id') + objadd.design_id
    listrow.find("select").first().attr("id", unique_control_id)
    if (objadd["tags"] != undefined)
    {
      listrow.find("select").first().val(objadd["tags"])
    }

    listrow.find("select").first().chosen({allow_single_deselect: true})
  }
  render_list($('#system_translation_div'),translation,"parts")

  function render_list(destinationdiv, obj, elemname){
    if (obj[elemname] == undefined){
      return
    }
    for(var i=0; i<obj[elemname].length; i++) {
      current_part = obj[elemname][i];

      append_to_list()
      no_of_parts = no_of_parts +1
      update_param_select_list();
    }
  }

  function obj_to_string(obj){
    s = ""
    for(var prop in obj){
      if (prop != "design_id" && prop != 'type'){
        if (typeof obj[prop] === 'object'){
          s = s +  " <br/> " + prop + " <br/> " + obj_to_string(obj[prop])
        }
        else {
          s = s + " " +prop + " : " + obj[prop] + " <br/> "
        }
      }
    }
    return s
  }

  function add_param_to_translation(executable){
    if (typeof executable != "undefined") {
      current_part.executable = executable
      var newexecutablejson = $.getJSON('<%= url_for(:action => :render_exe_as_json) %>?exe_name='+executable, function() {
        exec= $.parseJSON(newexecutablejson.responseText);
        current_part.executable_id = exec.id
        paramsjson = exec.parameters
        if (paramsjson != ""){
          params = eval('(' + paramsjson + ')');
          for(var i=0; i<params.parameters.length; i++) {
            paramname = params.parameters[i].name;
          }
        }
      });
    }
  }

  function  add_translation(){
    current_part = new Object();
    current_part.type = "PARAMETER";
    $('#translation_type').val("");
    $('#executable').val('');
    $('#newElementModal').modal('show');
    $('#executable').trigger("chosen:updated");
  }

  function clear_translations(){
    $('#product_feature_system_translation').val("")
    $("#system_translation_div div").each(function(index, value) {
      if (index > 1 ) {
        $(this).fadeOut()
      }
    })
  }

  function append_to_list(){
    listrow = $('#params_row').clone()
    listrow.attr("id","content_" + current_part.design_id)
    listrow.find("div:eq(1)").html('Executable ' + current_part.executable_id + ': ' + current_part.executable)
    listrow.find("div:eq(2)").text("")

    translation_row = $('#translation_row').clone();
    translation_row.attr("id", current_part.design_id)
    translation_row.addClass("data")
    translation_row.find("div:eq(0)").html('<strong>'+current_part.parameter_name + '</strong> ' + current_part.parameter_value)
    translation_row.find("div:eq(1)").html(listrow.html())

    $('#system_translation_div').append(translation_row)
    translation_row.show()


    $("#" + current_part.design_id + " .remove").click(function(){
      remove_from_model(translation, "parts" , $(this).parent().parent().attr("id"))
      $(this).parent().parent().fadeOut();
      return false
    })
  }

  $("#createbutton").click(function(){
    var paramExec = $('#param_name').val()
    var subparamExec = paramExec.split('@')
    var paramName = subparamExec[0]
    var exceName = subparamExec[1]

    current_part.executable = exceName
    current_part.type = "PARAMETER"
    no_of_parts = no_of_parts +1

    current_part.design_id = "part_" + no_of_parts
    current_part.parameter_name = paramName
    current_part.parameter_value = $('#param_value').val()

    translation.parts.push(current_part)
    encoded = $.toJSON( translation );

    $('#product_feature_system_translation').val(encoded);
    append_to_list()
    current_part = new Object();
    $('#newElementModal').modal('hide')

    return false;
  });

  $('#newElementModal').on('hidden',function(){
    $('#param_value').val('');
    $('#param_name').val('');
    update_param_select_list()
  })

  $("#add_new_translation").click(function(){
    
    add_translation()
  })

  $("#clear_translations").click(function(){
    
    clear_translations()
  })


</script>
