<div class="row">
  <div class="span10 bounded">
    <div class="accordion" id="accordion1">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion1" name="history" href="#history-object"><h5>History</h5></a>
      <div id="history-object" class="accordion-body collapse">
        <div class="accordion-inner">
          <%= javascript_include_tag 'json-diff' %>
          <%= javascript_include_tag 'jsond' %>
          <%= stylesheet_link_tag "json-diff", :media=> "all" %>

          <% old_name = "" %>
          <% old_abbr_code = "" %>
          <% old_product_line = "" %>
          <% old_description = "" %>
          <% old_translation_type = "" %>
          <script type="text/javascript">
            old_system_translation = JSON.parse("[]");
          </script>
          <% @product_feature.versions.each do |product_feature_version| %>
            <hr />
            <div class="row">
              <div class="span2"><%= "#{product_feature_version.version} (#{product_feature_version.status})" %>&nbsp;</div>
              <div class="span2"><%= product_feature_version.updated_by %>&nbsp;</div>
              <div class="span2"><%= product_feature_version.updated_at.to_s %>&nbsp;</div>
              <div class="span1"><%= link_to_if(product_feature_version.bug_tracker_id, product_feature_version.bug_tracker_id, "#{ConfigParameter.get("cr_tool_url")}#{product_feature_version.bug_tracker_id}") %>&nbsp;</div>
              <div class="span4"><%= product_feature_version.comment%>&nbsp;</div>
            </div>
            <div class="row history">
              <div class="offset1 span2"><strong>Name</strong></div>
              <% new_name = product_feature_version.name %>
              <div class="span8 <%=  history_class old_name, new_name %>">
                <%= history_string old_name, new_name %>
              </div>
              <% old_name = new_name %>
            </div>
            <div class="row history">
              <div class="offset1 span2"><strong>Abbr code</strong></div>
              <% new_abbr_code = product_feature_version.abbr_code %>
              <div class="span8 <%=  history_class old_abbr_code, new_abbr_code %>">
                <%= history_string old_abbr_code, new_abbr_code %>
              </div>
              <% old_abbr_code = new_abbr_code %>
            </div>
            <div class="row history">
              <div class="offset1 span2"><strong>Product line</strong></div>
              <% new_product_line = if product_feature_version.product_line
                                  product_feature_version.product_line.abbr
                                else
                                  ""
                                end
              %>
              <div class="span8 <%= history_class old_product_line, new_product_line %>">
                <%= history_string old_product_line, new_product_line %>
              </div>
              <% old_product_line = new_product_line %>
            </div>
            <div class="row history">
              <div class="offset1 span2"><strong>Description</strong></div>
              <% new_description = product_feature_version.description %>
              <div class="span8 <%=  history_class old_description, new_description %>">
                <%= history_string old_description, new_description %>
              </div>
              <% old_description = new_description %>
            </div>
            <div class="row history">
              <div class="offset1 span2"><strong>System translation</strong></div>
              <div id ="system_translation_<%= product_feature_version.version %>" class="span8">
                <div id="place-json-<%= product_feature_version.version %>">
                  <script type="application/json">
                    [<%= raw(product_feature_version.system_translation) %>]
                  </script>
                </div>
                <script type="application/javascript">
                  new_system_translation_json = $('#place-json-<%= product_feature_version.version %> script').text();
                  new_system_translation = JSON.parse(new_system_translation_json);
                  results=document.getElementById('system_translation_<%= product_feature_version.version %>');
                  jsond.compare(old_system_translation, new_system_translation, "root", results);
                  old_system_translation = new_system_translation;
                </script>
              </div>
            </div>
            <div class="row history">
              <div class="offset1 span2"><strong>Translation type</strong></div>
              <% new_translation_type = product_feature_version.translation_type %>
              <div class="span8 <%=  history_class old_translation_type, new_translation_type %>">
                <%= history_string old_translation_type, new_translation_type %>
              </div>
              <% old_translation_type = new_translation_type %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>