<% if product_feature.status == 'obsolete' %>
 <% obsolete_class = 'deleted' %>
<%end%>
  <div class="row" id = "row_show_<%= product_feature.id %>">
    <div class="span1">
      <%= render(:partial => "shared/versioned_object", :object => product_feature) %>
    </div>
    <div class="span2 <%= obsolete_class %>"><%= product_feature.name %>&nbsp;</div>
    <div class="span1 <%= obsolete_class %>"><%= product_feature.abbr_code %>&nbsp;</div>
    <div class="span3 <%= obsolete_class %>"><%= product_feature.description %>&nbsp;</div>
    <div class="span2 <%= obsolete_class %>"><%= product_feature.product_line.abbr if product_feature.product_line %>&nbsp;</div>
    <div class="span1 <%= obsolete_class %>"><%= product_feature.latest_approved.version if product_feature.latest_approved %>&nbsp;</div>
    <div class="span1 <%= obsolete_class %>"><%= product_feature.version %>&nbsp;</div>
    <div class="span1 <%= obsolete_class %>"><%= product_feature.status %>&nbsp;</div>
  </div>
