<%= render(:partial => "shared/versioned_object_warning", :object => @product_feature_version) %>
<div class="row">
  <div class="span10 bounded bounded-headered">
    <div class="row bounded-header">
      <div class="span5">
        <h4>Product feature <%= @product_feature_version.name %></h4>
      </div>
      <div class="span2 pull-right">
        <strong>Revision</strong>
        <%= @product_feature.version.to_i + 1 %>&nbsp;
        <strong>Status</strong>
        <%= @product_feature.status %>
      </div>
    </div>
    <div class="row">
      <div class="span3"><strong>Name</strong></div>
      <div class="span1"><strong>Abbr code</strong></div>
      <div class="span3"><strong>Product line</strong></div>
    </div>
    <div class="row">
      <div class="span3"><%= @product_feature_version.name %></div>
      <div class="span1"><%= @product_feature_version.abbr_code %></div>
      <div class="span3"><%= @product_feature_version.product_line.abbr if @product_feature_version.product_line %></div>
    </div>
    <div class="row">
      <div class="span10"><strong>Description</strong></div>
    </div>
    <div class="row">
      <div class="span10"><pre class="real-pre"><%= @product_feature_version.description %></pre></div>
    </div>
  </div>
</div>
<h5>Parameter(s)</h5>
<div class="row">
  <div class="span10 bounded">
    <% if @product_feature_version.system_translation != '' %>
  <%  JSON.parse(@product_feature_version.system_translation)["parts"].each do |parameter| %>
    <div class="row">
      <div class="span5"><strong><%= parameter["parameter_name"] %></strong>&nbsp;<%= parameter["parameter_value"] %></div>
      <div class="span3"><% if !parameter["executable_id"].blank? %>
        Executable:&nbsp;<%= parameter["executable_id"] %>&nbsp;<%= parameter["executable"] %>
        <%= link_to(Executable.find(parameter["executable_id"]),:target => '_blank') do %>
          <i class="icon icon-eye-open"></i>
        <% end %>
          <% end %>
      </div>
    </div>
  <% end %>
    <% end %>
  </div>
</div>
<%= render 'history' %>