<% @heading = "Editing product feature" %>
<%= render 'form' %>
<div class="row">
  <div class="span7">
    <%= link_to @product_feature, :class => "btn", :title => "show" do %>
      <i class="icon-eye-open"></i>
    <% end %>
    &nbsp;
    <%= link_to handle_product_feature_path(@product_feature), :class => "btn", :title => "back" do %>
      <i class="icon-tasks"></i>
    <% end %>
    &nbsp;
    <%= link_to :back, :class => "btn", :title => "back" do %>
      <i class="icon-arrow-left"></i>
    <% end %>
    &nbsp;
    <%= link_to product_features_path, :class => "btn",:title => "overview" do %>
      <i class="icon-arrow-up"></i>
    <% end %>
  </div>
</div>