<%= render 'show_data' %>

<div class="row">
  <div class="span12">
    <%= link_to "Set to draft", [:draft, @product_feature], { :class => "btn #{@product_feature.allowed_status?("draft", @current_user.user_name) && can?(:draft, @product_feature) ? 'enabled' : 'disabled'}", :method => :post } %>&nbsp;
    <%= link_to "Request review", [:review, @product_feature], { :class => "btn #{@product_feature.allowed_status?("review", @current_user.user_name) && can?(:review, @product_feature) ? 'enabled' : 'disabled'}", :id => "request_review", :method => :post } %>&nbsp;
    <%= link_to "Approve", [:approve, @product_feature], { :class => "btn #{@product_feature.allowed_status?("approved", @current_user.user_name) && can?(:approve, @product_feature) ? 'enabled' : 'disabled'}", :method => :post } %>&nbsp;
    <%= link_to "Revert to latest approved", [:revert, @product_feature], {:class => "btn #{@product_feature.status != "approved" && @product_feature.latest_approved && can?(:revert, @product_feature) ? 'enabled' : 'disabled'}", :method => :post } %>&nbsp;
    <%= link_to "Mark as obsolete", [:obsolete, @product_feature], {:class => "btn #{@product_feature.allowed_status?("obsolete", @current_user.user_name) && can?(:obsolete, @product_feature) ? 'enabled' : 'disabled'}", :method => :post } %>&nbsp;
    <%= link_to "Destroy", [@product_feature], {:class => "btn #{(@product_feature.status.nil? || @product_feature.status == 'new') && can?(:destroy, @product_feature) ? 'enabled' : 'disabled'}", :method => :delete } %>
  </div>
</div>
<div class="row"><div class="span12"><hr /></div></div>
<div class="row">
  <div class="span7">
    <%= link_to @product_feature, :class => "btn", :title => "show" do %>
      <i class="icon-eye-open"></i>
    <% end %>
    &nbsp;
    <%= link_to edit_product_feature_path(@product_feature), :class => "btn",:title => "edit" do %>
      <i class="icon-edit"></i>
    <% end %>
    &nbsp;
    <%= link_to :back, :class => "btn", :title => "back" do %>
      <i class="icon-arrow-left"></i>
    <% end %>
    &nbsp;
    <%= link_to product_features_path, :class => "btn",:title => "overview" do %>
      <i class="icon-arrow-up"></i>
    <% end %>
  </div>
</div>

<script>
  $('a.disabled').click(function(e) {
    // Disable links for disabled buttons
    e.preventDefault();
    return false
  });
  review_request_sent = false;
  $('#request_review').click(function(e) {
    if(review_request_sent){
      e.preventDefault();
      return false;
    } else {
      review_request_sent = true;
      $('#request_review').removeClass('enabled');
      $('#request_review').addClass('disabled');
    }
  });
</script>
