<div class="container">
  <% content_for :new_button do %>
    <%= link_to "New", url_for(:action => :new), :method => 'get',:type => 'button',:class => "btn btn-info" %>
  <% end %>
  <% content_for :search_parameters do %>
    <%= select_tag("search_product_line", options_for_select(@used_product_lines,params[:search_product_line]), :include_blank => true, :class => 'span2', :data => {:placeholder => 'Product line'}) %>
    <script>
      $('#search_product_line').chosen({allow_single_deselect:true})
    </script>
  <% end %>

  <%= render(:partial => "shared/versioned_objects", :object => @product_features, :locals => {:header => "Product features", :form_path => "product_features_path"}) %>

  <div id="endless">
    <div class="row">
      <div class="offset1 span2"><strong><%= sortable "product_features.name", "Name" %></strong></div>
      <div class="span1"><strong><%= sortable "abbr_code", "Abbr code" %></strong></div>
      <div class="span3"><strong><%= sortable "description", "Description" %></strong></div>
      <div class="span2"><strong><%= sortable "product_line", "Product line" %></strong></div>
      <div class="span1"><strong><%= sortable "latest_approved", "Latest Approved" %></strong></div>
      <div class="span1"><strong><%= sortable "version", "Latest Revision" %></strong></div>
      <div class="span1"><strong><%= sortable "status", "Latest Status" %></strong></div>
    </div>
      <%= render( :partial => "product_feature", :collection => @product_features) %>
  </div>
  <%= will_paginate(@product_features) %>
  <%= pageless(@product_features.total_pages, product_features_path, "#endless") %>
</div>