  <div class="row">
    <div class="span1">
      <% if params[:product_id] %>
        <%= link_to :action => :select , :id => document.id, :product_id =>     params[:product_id] do %>
          <button class="btn btn-success">select</button>
        <% end %>
      <% elsif params[:productset_id] %>
        <%= link_to :action => :select , :id => document.id,:productset_id => params[:productset_id] do %>
          <button class="btn btn-success">select</button>
        <% end %>
      <% else %>
      <div class="btn-group">
        <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
        Action
        <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to(:action => 'show',:controller => :documents,:id => document.id) do %>
            <i class="icon-info-sign"></i>&nbsp;show record
            <% end %>
          </li>
          <li>
            <%= link_to(:action => 'edit',:controller => :documents,:id => document.id) do %>
            <i class="icon-edit"></i>&nbsp;edit record
            <% end %>
          </li>          
          <li>
            <%= link_to(:action => 'download',:controller => :documents,:id => document.id) do %>
            <i class="icon-download-alt"></i>&nbsp;download document
            <% end %>
          </li>
        </ul>
      </div>
      <% end %>
    </div>
    <div class="span1"><%= document.id %></div>
    <div class="span3"><%= document.filename %>&nbsp;</div>
    <div class="span3"><%= document.description %>&nbsp;</div>
    <div class="span1"><%= document.version %>&nbsp;</div>
    <div class="span3"><small><%= "....." + document.sync_filepath[document.sync_filepath.size-30,document.sync_filepath.size] if document.sync_filepath %></small></div>
  </div>