  <% if @document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% @document.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<h4><%= controller.action_name.capitalize %> Document <% if params[:production_order_id] %> for Release note<% end %></h4>
<% f=form_fields %>
<%= hidden_field_tag :returncontroller, params[:returncontroller] %>
<%= hidden_field_tag :returnaction, params[:returnaction] %>
<%= hidden_field_tag :returnid, params[:returnid] %>
<%= hidden_field_tag :includeddocumentid, params[:includeddocumentid] %>
<div class="row">
  <div class="span7 bounded">
    <div class="row">
      <div class="span2"><strong>Name</strong><small> (not filename)</small></div>
      <div class="span5"><%= f.text_field :document_object_id,:class => 'span5' %></div>
    </div>
    <div class="row">
      <div class="span2"><strong>Description</strong></div>
      <div class="span5"><%= f.text_field :description,:class => 'span5' %></div>
    </div>
    <div class="row">
      <div class="span2"><strong>Data file</strong></div>
      <div class="span5"><%= f.file_field :data_file ,:class => 'span5',:required => true %></div>
    </div>
    <% if params[:production_order_id] %>
      <%= f.hidden_field :production_order_id %>
      <div class="row">
        <div class="span2"><strong>Package directory</strong></div>
        <div class="span5"><%= f.text_field :package_directory %></div>
      </div>
    <% end %>
    <div class="row">
      <div class="span7">
        <% if controller.action_name == 'new' %>
          <%= f.submit 'Create',:class => 'btn btn-primary pull-right' %>
        <% else %>
          <%= f.submit 'Update',:class => 'btn btn-primary pull-right' %>
        <% end %>
      </div>
    </div>
  </div>
</div>