<% if @document.errors.any? %>
  <div class="alert alert-error">
    <% @document.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
  </div>
<% end %>

<%= form_for(@document, :html => {:multipart=>true}) do |f| %>
  <%= render :partial => 'form_fields' ,:object => f %>
<% end %>
  
<%= link_to 'Show', @document %> |
<%  if params[:returncontroller] %>
  <%= link_to 'Back', :controller => params[:returncontroller],  :action => params[:returnaction], :id => params[:returnid] %>
<% else %>
  <%= link_to 'Back', documents_path %>
<% end  %>