<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="span3"><h4>Documents</h4></div>
    <div class="span7">
      <%= form_tag documents_path, :method => 'get' do %>
        <%= hidden_field_tag :direction, params[:direction] %>
        <%= hidden_field_tag :sort, params[:sort] %>
        <div class="input-append">
          <%= text_field_tag :search, params[:search], :placeholder=>" search",:class=>"span3",:size=>"16" %>
          <%= button_tag "Search", :name => nil, :type => :submit, :class => "btn" %>
          <%= button_tag "Reset", :name => 'reset',:class=>"btn",:type=>:submit %>
        </div>   
      <% end %>                  
    </div>
  </div>  
</div>

<div id="endless">
  <div class="row">
    <div class="span1 offset1"><strong><%= sortable 'id' %></strong></div>
    <div class="span3"><strong><%= sortable 'filename' %></strong></div>
    <div class="span3"><strong><%= sortable 'description' %></strong></div>
    <div class="span1"><strong><%= sortable 'version' %></strong></div>
    <div class="span3"><strong><%= sortable 'sync_filepath' %></strong></div>
  </div> 
  <%= render(:partial => "document", :collection => @documents) %>  
</div>  
<%= will_paginate(@documents) %>
<%= pageless(@documents.total_pages, url_for(documents_path(:params => params)), "#endless") %>

