<%= form_for(@document, :html => {:multipart=>true}) do |f| %>
  <%= render :partial => 'form_fields' ,:object => f %>
<% end %>

<%  if params[:returncontroller] && params[:returncontroller].to_s.size > 0 %>
  <%= link_to(:controller => params[:returncontroller],  :action => params[:returnaction], :id => params[:returnid]) do %>
<i class="icon icon-arrow-left" title="Back to <%= params[:returncontroller].singularize %>">&nbsp;</i>Back to <%= params[:returncontroller].singularize %>
  <% end %>
<% else %>
  <%= link_to(documents_path) do %>
    <i class="icon icon-arrow-left" title="back">&nbsp;</i>Back
  <% end %>
<% end  %>
