
<p>
This document is related to some products and or productsets
Please specify whether the products or productsets need to be updated
to use the updated document
</p>

<%= form_tag({:action => 'update_pds'}) %>
<table>
  <tr>
    <th>Select</th>
    <th>Type</th>
    <th>Id</th>
    <th></th>
  </tr>
<% @rel_productsets.each do |set|  %>
  <tr>
    <td><%= check_box_tag "PRODUCTSET-" + set.id.to_s  %></td>
    <td>PRODUCTSET</td>
    <td><%= set.productset.setcode %></td>
    <td><% set.productset.major.to_i.to_s %>.<% set.productset.minor.to_i.to_s %></td>
  </tr>
<% end %>

<% @rel_products.each do |product|  %>
  <tr>
    <td><%=  check_box_tag "PRODUCT-" +product.id.to_s  %></td>
    <td>PRODUCT</td>
    <td><%= product.product.volumeid %></td>
    <td><% product.product.version %></td>
  </tr>
<% end %>

</table>
<%= submit_tag 'Confirm' %>
<%= hidden_field_tag 'new_doc_id', @dv.id %>
</form>