<% versions = DocumentVersion.where("document_id = #{@document.id}").select('id,document_id,document_object_id,filename,version,binary_data,created_at').order("version DESC") %>
<div class="row">
  <div class="span8 bounded bounded-headered flat-roof">
    <div class="row bounded-header">
      <h4><%= params[:action].humanize %> document</h4>
    </div>

    <div class="row">
      <div class="span1"><strong>Content type</strong></div>
      <div class="span3"><%=h @document.content_type %></div>
    </div>
    <div class="row">
      <div class="span1"><strong>Name</strong></div>
      <div class="span3"><%= @document.document_object_id %></div>
    </div>
    <div class="row">
      <div class="span1"><strong>Description</strong></div>
      <div class="span3"><%=h @document.description %></div>
    </div>
    <div class="row">
      <div class="span1"><strong>Filename</strong></div>
      <div class="span3"><%=h @document.filename %></div>
    </div>
    <div class="row">
      <div class="span1"><strong>Created</strong></div>
      <div class="span3"><%=h @document.created_at.strftime("%d-%m-%Y %H:%M") %></div>
    </div>
    <div class="row">
      <div class="span1"><strong>Updated</strong></div>
      <div class="span3"><%=h @document.updated_at.strftime("%d-%m-%Y %H:%M") %></div>
    </div>
    <% if @document.sync_filepath %>
    <div class="row">
      <div class="span1"><strong>Sync file</strong></div>
      <div class="span"><%=h @document.sync_filepath %></div>
    </div>
    <% end %>
    <div class="row">
      <div class="span7"><br /><strong>Download version(s)</strong></div>
    </div>
    <div class="row">
      <div class="span" style="max-width: 100%;width: 100%">
        <table class="table table-condensed table-striped table-hover" style="max-width: 100%;width: 100%">
          <tr>
            <th>Version</th>
            <th>File name</th>
            <th>Created</th>
            <th><i class="icon icon-download-alt"></i></th>
          </tr>
          <% versions.each do |ver| %>
          <tr>
            <td><%= ver.version %></td>
            <td><%= ver.filename %></td>
            <td><%= ver.created_at.strftime("%d-%m-%Y %H:%M") %></td>
            <td>
              <% if ver.binary_data %>
                <%=  link_to( {:action => :download , :id => ver.document_id, :ver => ver.version}, {:title => "download version #{ver.version}"} ) do %>
                  <i class="icon icon-download-alt"></i>
                <% end %>
              <% else %>
                <i>No binary data</i>
              <% end %>
            </td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <%= link_to :back, :class => 'btn',:title => 'back to previous page' do %>
      <i class="icon icon-arrow-left"></i>
    <% end %>
    <%= link_to documents_path , :class => 'btn',:title => 'back to overview' do %>
      <i class="icon icon-arrow-up"></i>
    <% end %>
    <%= link_to edit_document_path(@document),:class => 'btn', :title => "edit" do %>
      <i class="icon-edit"></i>
    <% end %>
    <%= next_prev_button("prev") %>
    <%= next_prev_button("next") %>
  </div>
</div>
