<% if customer_content_specification.status == 'obsolete' %>
  <% obsolete_class = 'deleted' %>
<% end %>
  <div class="row" id="row_show_<%= customer_content_specification.id %>" >
    <div class="span1">
      <%= render(:partial => "shared/versioned_object", :object => customer_content_specification) %>
    </div>
    <div class="span3 <%= obsolete_class %>"><%= customer_content_specification.name %>&nbsp;</div>
    <div class="span1 <%= obsolete_class %>"><%= customer_content_specification.type_string %>&nbsp;</div>
    <div class="span1 <%= obsolete_class %>"><%= bootstrap_boolean(customer_content_specification.mandatory, title='yes or no') %></div>
    <div class="span1 <%= obsolete_class %>"><%= bootstrap_boolean(customer_content_specification.manual, title='yes or no') %></div>
    <div class="span1 <%= obsolete_class %>"><%= bootstrap_boolean(customer_content_specification.is_active, title='yes or no') %></div>
    <div class="span1 <%= obsolete_class %>"><%= customer_content_specification.latest_approved.version if customer_content_specification.latest_approved %>&nbsp;</div>
    <div class="span1 <%= obsolete_class %>"><%= customer_content_specification.version %>&nbsp;</div>
    <div class="span1 <%= obsolete_class %>"><%= customer_content_specification.status %>&nbsp;</div>
  </div>