<div class="row">
  <div class="span1">
    <div class="btn-group">
      <a class="btn btn-small dropdown-toggle btn-info" data-toggle="dropdown" href="#">
        Action <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to customer_content_value_path(customer_content_value, :specification_id => @customer_content_specification.id, :product_line_id => @product_line_id), :target => '_blank' do %>
            <i class="icon-info-sign"></i>&nbsp;show
          <% end %>
        </li>
        <li>
          <%= link_to edit_customer_content_value_path(customer_content_value, :specification_id => @customer_content_specification.id, :product_line_id => @product_line_id), :target => '_blank' do %>
            <i class="icon-edit"></i>&nbsp;edit
          <% end %>
        </li>
        <li>
          <%= link_to customer_content_value_path(customer_content_value, :specification_id => @customer_content_specification.id, :product_line_id => @product_line_id), method: :delete do %>
            <i class="icon-ban-circle"></i>&nbsp;destroy
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <div class="span2" id="content_show_<%= customer_content_value.id %>"><%= customer_content_value.customer_version %>&nbsp;</div>
  <div class="span2" id="content_show_<%= customer_content_value.id %>"><%= customer_content_value.received_date %>&nbsp;</div>
  <% if @customer_content_specification.show_content_in_index? %>
    <div class="span4" id="content_show_<%= customer_content_value.id %>"><%= customer_content_value.value %> &nbsp;</div>
  <% end %>
</div>
