<%= form_for(@customer_content_specification, :html => {:id => 'customer_content_specification'}) do |f| %>
  <%= hidden_field_tag :product_line_id, @product_line_id %>
  <br/>
  <div class="row">
    <div class="span11 well">
      <div class="row">
        <div class="span6">
          <h4><%= @heading %></h4>
        </div>
        <div class="span1 headertext">
          <strong>Revision</strong>
        </div>
        <div class="span1 headertext">
          <%= @customer_content_specification.version + 1 %>
        </div>
        <div class="span1 headertext">
          <strong>Status</strong>
        </div>
        <div class="span2 headerselect">
          <%= @customer_content_specification.status %>
        </div>
      </div>
      <hr>
      <% if @customer_content_specification.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@customer_content_specification.errors.count, "error") %> prohibited this customer content specification from being saved:</h2>

          <ul>
            <% @customer_content_specification.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row">
        <div class="span3"><strong>Name</strong></div>
        <div class="span2"><strong>Content type</strong></div>
        <div class="span1"><strong>Mandatory?</strong></div>
        <div class="span2"><strong>Allow manual entry</strong></div>
        <div class="span2"><strong>Set in product?</strong></div>
        <div class="span1"><strong>Active</strong></div>
      </div>
      <div class="row">
        <div class="span3"><%= f.text_field :name, class: 'span3' %></div>
        <div class="span2">
          <% if @customer_content_specification.content_type %>
            <%= @customer_content_specification.type_string %>&nbsp;
          <% else %>
            <%= f.select :content_type, CustomerContentSpecification.typehash,{},{class: 'span2'} %>
          <% end %>
        </div>
        <div class="span1"><%= f.check_box :mandatory %></div>
        <div class="span2"><%= f.check_box :manual %></div>
        <div class="span2"><%= f.check_box :for_product %></div>
        <div class="span1"><%= f.check_box :is_active %></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span11 bounded">
      <div class="row">
        <div class="span2"><strong>Description</strong></div>
        <div class="span9"><%= f.text_area :description, rows: 3, class: "span9" %></div>
      </div>  
      <div class="row" id="generation_code">
        <div class="span2"><strong>Generation code</strong></div>
        <div class="span9"><%= f.text_area :generation_code, rows: 6, class: "span9" %></div>
      </div>
      <div class="row">
        <div class="span2"><strong>Validation code</strong></div>
        <div class="span9"><%= f.text_area :validation_code, rows: 6, class: "span9" %></div>
      </div>
    </div>
  </div>
<% end %>

<div id="show-content-values" class="row hidden">
  <div class="span11 bounded">
    <div class="row">
      <div class="span11">
        <p class="lead">Customer content value</p>
      </div>
    </div>
<% if controller.action_name != 'new' %>
    <div class="row">
      <div class="span2 offset1"><strong>Customer version</strong></div>
      <div class="span2"><strong>Date received</strong></div>
      <% if @customer_content_specification.show_content_in_index? %>
        <div class="span4"><strong>Values</strong></div>
      <% end %>
    </div>

    <div id="customer-content-value-list">
      <%= render(:partial => 'customer_content_value', :collection => @customer_content_specification.customer_content_values) %>
    </div>
    <div class="row">
      <%= form_for CustomerContentValue.new(:customer_content_specification_id => @customer_content_specification.id), :remote => true, :html => {:id => 'customer-value-form'}  do |sf| %>
        <%= sf.hidden_field :customer_content_specification_id %>
        <div class="span1">
          <button id="subform-submit" class="btn btn-primary btn-small" type="button">&nbsp;&nbsp;&nbsp;Save&nbsp;&nbsp;&nbsp;&nbsp;</button>
        </div>
        <div class="span2"><%= sf.text_field :customer_version %></div>
        <div class="span2"><%= sf.text_field :received_date %></div>
        <div class="span4"><%= sf.text_field :value, :class => "span4" %></div>
      <% end %>
    </div>
<% else %>
    <div class="row">
      <div class="alert span11">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Warning!</strong> Customer content values can only be added when the customer content specification is saved.
      </div>
    </div>
<% end %>
  </div>
</div>


  <div class="row">
    <div class="span11 well">
      <button class="btn btn-primary pull-right" id="form-submit" type="button">Save</button>
    </div>
  </div>


<script type="text/javascript">
  function show_content_values()
  {
    if ($("#customer_content_specification_generation_code").val().length > 0 || $("#customer_content_specification_manual").is(":checked")) {
      $('#show-content-values').addClass("hidden");
    } else {
      $('#show-content-values').removeClass("hidden");
    };
  };

 

  $(function(){
    show_content_values();
  });

  $("#customer_content_specification_manual").change(function(){
    show_content_values();
    return false;
  });

  $("#customer_content_specification_generation_code").on('input propertychange', function(){
    show_content_values();
    return false;
  });

  $('#customer_content_specification_content_type').chosen();
  $('#status').chosen();

  $('#form-submit').click(function(){
    $("#customer_content_specification").submit();
  });

  $('#subform-submit').click(function(){
    $("#customer-value-form").submit();
    $.post("<%= url_for(:action => :customer_content_values ) %>", {id: '<%= @customer_content_specification.id %>'})
    .done(function(data){
      $('#customer-content-value-list').html(data);
      $('#customer_content_value_customer_version').val('');
      $('#customer_content_value_received_date').val('');
      $('#customer_content_value_value').val('');
    });
  });
</script>
