<div class="row">
  <div class="span12 bounded">
    <div class="accordion" id="accordion1">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion1" name="history" href="#history-object"><h5>History</h5></a>
      <div id="history-object" class="accordion-body collapse">
        <div class="accordion-inner">
          <%= javascript_include_tag 'json-diff' %>
          <%= javascript_include_tag 'jsond' %>
          <%= stylesheet_link_tag "json-diff", :media=> "all" %>
          <% require 'DifferHistory' %>
          <% Differ.format = DifferHistory %>

          <div class="row">
            <div class="span2"><strong>Revision</strong></div>
            <div class="span2"><strong>Updated by</strong></div>
            <div class="span2"><strong>Updated at</strong></div>
            <div class="span1"><strong>Jira</strong></div>
            <div class="span4"><strong>Save comment</strong></div>
          </div>

          <% old_name = "" %>
          <% old_type_string = "" %>
          <% old_description = "" %>
          <% old_generation_code = "" %>
          <% old_validation_code = "" %>
          <% old_mandatory = nil %>
          <% old_is_active = nil %>
          <% old_manual = nil %>
          <% old_for_product = nil %>

          <% @customer_content_specification.versions.each do |customer_content_specification_version| %>
            <hr>
            <div class="row">
              <div class="span2"><%= "#{customer_content_specification_version.version} (#{customer_content_specification_version.status})" %>&nbsp;</div>
              <div class="span2"><%= customer_content_specification_version.updated_by %>&nbsp;</div>
              <div class="span2"><%= customer_content_specification_version.updated_at.to_s %>&nbsp;</div>
              <div class="span1"><%= link_to_if(customer_content_specification_version.bug_tracker_id, customer_content_specification_version.bug_tracker_id, "#{ConfigParameter.get("cr_tool_url")}#{customer_content_specification_version.bug_tracker_id}") %>&nbsp;</div>
              <div class="span4"><%= customer_content_specification_version.comment %>&nbsp;</div>
            </div>

            <div class="row history">
              <div class="offset1 span2"><strong>Name</strong></div>
              <% new_name = customer_content_specification_version.name %>
              <div class="span8 <%= history_class old_name, new_name %>">
                <%= history_string old_name, new_name %>
              </div>
              <% old_name = new_name %>
            </div>

            <div class="row history">
              <div class="offset1 span2"><strong>Content type</strong></div>
              <% new_type_string = customer_content_specification_version.content_type ? CustomerContentSpecification.typearray[customer_content_specification_version.content_type] : "" %>
              <div class="span8 <%= history_class old_type_string, new_type_string %>">
                <%= history_string old_type_string, new_type_string %>
              </div>
              <% old_type_string = new_type_string %>
            </div>

            <div class="row history">
              <div class="offset1 span2"><strong>Mandatory?</strong></div>
              <% new_mandatory = customer_content_specification_version.mandatory %>
              <div class="span8 <%= history_class old_mandatory, new_mandatory %>">
                <%= history_string old_mandatory, new_mandatory %>
              </div>
              <% old_mandatory = new_mandatory %>
            </div>

            <div class="row history">
              <div class="offset1 span2"><strong>Is active?</strong></div>
              <% new_is_active = customer_content_specification_version.is_active %>
              <div class="span8 <%= history_class old_is_active, new_is_active %>">
                <%= history_string old_is_active, new_is_active %>
              </div>
              <% old_is_active = new_is_active %>
            </div>

            <div class="row history">
              <div class="offset1 span2"><strong>Use manual entry?</strong></div>
              <% new_manual = customer_content_specification_version.manual %>
              <div class="span8 <%= history_class old_manual, new_manual %>">
                <%= history_string old_manual, new_manual %>
              </div>
              <% old_manual = new_manual %>
            </div>

            <div class="row history">
              <div class="offset1 span2"><strong>Set in product?</strong></div>
              <% new_for_product = customer_content_specification_version.for_product %>
              <div class="span8 <%= history_class old_for_product, new_for_product %>">
                <%= history_string old_for_product, new_for_product %>
              </div>
              <% old_for_product = new_for_product %>
            </div>

            <div class="row history">
              <div class="offset1 span2"><strong>Description</strong></div>
              <% new_description = customer_content_specification_version.description.to_s %>
              <div class="span8">
                <%= simple_format raw Differ.diff_by_word(new_description, old_description) %>
              </div>
              <% old_description = new_description %>
            </div>

            <div class="row history">
              <div class="offset1 span2"><strong>Generation code</strong></div>
              <% new_generation_code = customer_content_specification_version.generation_code.to_s %>
              <div class="span8">
                <%= simple_format raw Differ.diff_by_word(new_generation_code, old_generation_code) %>
              </div>
              <% old_generation_code = new_generation_code %>
            </div>

            <div class="row history">
              <div class="offset1 span2"><strong>Validation code</strong></div>
              <% new_validation_code = customer_content_specification_version.validation_code.to_s %>
              <div class="span8">
                <%= simple_format raw Differ.diff_by_word(new_validation_code, old_validation_code) %>
              </div>
              <% old_validation_code = new_validation_code %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>