<%= render(:partial => "shared/versioned_object_warning", :object => @customer_content_specification) %>
<div class="row">
  <div class="span11 well">
    <div class="row">
      <div class="span7">
        <h4>Customer content specification <%= @customer_content_specification.name %> <%= "for Product line " + ProductLine.find(@product_line_id).name unless @product_line_id.to_s.blank? %></h4>
      </div>
      <div class="span2 headertext">
        <strong>Revision</strong>&nbsp;&nbsp;<%= @customer_content_specification.version %>
      </div>
      <div class="span1 headertext">
        <strong>Status</strong>
      </div>
      <div class="span1 headertext">
        <%= @customer_content_specification.status %>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="span3"><strong>Name</strong></div>
      <div class="span2"><strong>Content type</strong></div>
      <div class="span1"><strong>Mandatory?</strong></div>
      <div class="span2"><strong>Allow manual entry</strong></div>
      <div class="span2"><strong>Set in product?</strong></div>
      <div class="span1"><strong>Active</strong></div>
    </div>
    <div class="row">
      <div class="span3"><%= @customer_content_specification.name %>&nbsp;</div>
      <div class="span2"><%= @customer_content_specification.type_string %>&nbsp;</div>
      <div class="span1"><%= bootstrap_boolean(@customer_content_specification.mandatory,title='yes or no') %></div>
      <div class="span2"><%= bootstrap_boolean(@customer_content_specification.manual,title='yes or no') %></div>
      <div class="span2"><%= bootstrap_boolean(@customer_content_specification.for_product,title='yes or no') %></div>
      <div class="span1"><%= bootstrap_boolean(@customer_content_specification.is_active,title='yes or no') %></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span11 bounded">
    <div class="row">
      <div class="span2"><strong>Description</strong></div>
      <% if @customer_content_specification.description.blank? %>
        <div class="span9"><%= bootstrap_boolean(false) %></div>
      <% else %>
        <div class="span9">
          <%= simple_format @customer_content_specification.description %>
        </div>
      <% end %>
    </div>

    <div class="row">
      <div class="span2"><strong>Generation code</strong></div>
      <% if @customer_content_specification.generation_code.blank? %>
        <div class="span9"><%= simple_format bootstrap_boolean(false) %></div>
      <% else %>
        <div class="span9">
          <%= simple_format @customer_content_specification.generation_code %>
        </div>
      <% end %>
    </div>

    <div class="row">
      <div class="span2"><strong>Validation code</strong></div>
      <% if @customer_content_specification.validation_code.blank? %>
        <div class="span9"><%= simple_format bootstrap_boolean(false) %></div>
      <% else %>
        <div class="span9">
          <%= simple_format @customer_content_specification.validation_code %>
        </div>
      <% end %>
    </div>

    <div class="row">
      <div class="span2"><strong>Content</strong></div>

      <% if @customer_content_specification.use_selection_list? %>
        <div class="span2"><strong>Customer version</strong></div>
        <div class="span2"><strong>Date received</strong></div>
        <% if @customer_content_specification.show_content_in_index? %>
          <div class="span4"><strong>Values</strong></div>
        <% end %>
        <% @customer_content_specification.customer_content_values.each do |customer_content| %>
          </div>
          <div class="row">
            <div class="span2 offset2"><%= customer_content.customer_version %>&nbsp;</div>
            <div class="span2"><%= customer_content.received_date %>&nbsp;</div>
            <% if @customer_content_specification.show_content_in_index? %>
              <div class="span4"><%= customer_content.value %> &nbsp;</div>
            <% end %>
        <% end %>
      <% elsif @customer_content_specification.generated? %>
        <div class="span9">will be generated.</div>
      <% elsif @customer_content_specification.manual? %>
        <div class="span9">will be manually entered.</div>
       <% end %>
    </div>

  </div>
</div>
<%= render 'history' %>