<% @heading = "Editing Customer Content Specification"  + (@product_line_id.to_s.blank? ? "" : " for Product line " + ProductLine.find(@product_line_id).name) %>
<%= render 'form' %>
<div class="row">
  <div class="span7">
    <%= link_to customer_content_specification_path(@customer_content_specification, product_line_id: @product_line_id), :class => "btn", :title => "show" do %>
      <i class="icon-eye-open"></i>
    <% end %>
    &nbsp;
    <%= link_to handle_customer_content_specification_path(@customer_content_specification, product_line_id: @product_line_id), :class => "btn", :title => "handle" do %>
      <i class="icon-tasks"></i>
    <% end %>
    &nbsp;
    <%= link_to :back, :class => "btn", :title => "back" do %>
    <i class="icon-arrow-left"></i>
    <% end %>
    &nbsp;
    <% if @product_line_id.to_s.blank? %>
      <%= link_to customer_content_specifications_path, :class => "btn", :title => "overview" do %>
        <i class="icon-arrow-up"></i>
      <% end %>
    <% else %>
      <%= link_to product_line_path(id:@product_line_id), :class => "btn", :title => "overview" do %>
        <i class="icon-arrow-up"></i>
      <% end %>  
    <% end %>
  </div>
</div>
