<%= render 'show_data' %>

<div class="row">
  <div class="span12">
    <%= link_to "Set to draft", draft_customer_content_specification_path(@customer_content_specification, :product_line_id => @product_line_id), { :class => "btn #{@customer_content_specification.allowed_status?("draft", @current_user.user_name) && can?(:draft, @customer_content_specification) ? 'enabled' : 'disabled'}", :method => :post } %>&nbsp;
    <%= link_to "Request review", review_customer_content_specification_path(@customer_content_specification, :product_line_id => @product_line_id), { :class => "btn #{@customer_content_specification.allowed_status?("review", @current_user.user_name) && can?(:review, @customer_content_specification) ? 'enabled' : 'disabled'}", :id => "request_review", :method => :post } %>&nbsp;
    <%= link_to "Approve", approve_customer_content_specification_path(@customer_content_specification, :product_line_id => @product_line_id), { :class => "btn #{@customer_content_specification.allowed_status?("approved", @current_user.user_name,session[:project_id]) && can?(:approve, @customer_content_specification) ? 'enabled' : 'disabled'}", :method => :post } %>&nbsp;
    <%= link_to "Revert to latest approved", revert_customer_content_specification_path(@customer_content_specification, :product_line_id => @product_line_id), {:class => "btn #{@customer_content_specification.status != "approved" && @customer_content_specification.latest_approved && can?(:revert, @customer_content_specification) ? 'enabled' : 'disabled'}", :method => :post } %>&nbsp;
    <%= link_to "Mark as obsolete", obsolete_customer_content_specification_path(@customer_content_specification, :product_line_id => @product_line_id), {:class => "btn #{@customer_content_specification.allowed_status?("obsolete", @current_user.user_name) && can?(:obsolete, @customer_content_specification) ? 'enabled' : 'disabled'}", :method => :post } %>&nbsp;
    <%= link_to "Destroy", customer_content_specification_path(@customer_content_specification, :product_line_id => @product_line_id), {:class => "btn #{(@customer_content_specification.status.nil? || @customer_content_specification.status == 'new') && can?(:destroy, @customer_content_specification) ? 'enabled' : 'disabled'}", :method => :delete } %>
  </div>
</div>
<div class="row"><div class="span12"><hr /></div></div>
<div class="row">
  <div class="span11">
    <%= link_to customer_content_specification_path(@customer_content_specification, :product_line_id => @product_line_id) do %>
      <i class="icon-eye-open" title="show"></i>
    <% end %>
    &nbsp;
    <%= link_to edit_customer_content_specification_path(@customer_content_specification, :product_line_id => @product_line_id) do %>
      <i class="icon-edit" title="edit"></i>
    <% end %>
    &nbsp;
    <%= link_to :back do %>
      <i class="icon-arrow-left" title="back"></i>
    <% end %>
    &nbsp;
    <% if @product_line_id.to_s.blank? %>
      <%= link_to customer_content_specifications_path do %>
        <i class="icon-arrow-up" title="overview"></i>
      <% end %>
    <% else %>
      <%= link_to product_line_path(:id => @product_line_id) do %>
        <i class="icon-arrow-up" title="overview"></i>
      <% end %>  
    <% end %>
  </div>
</div>

<script>
  $('a.disabled').click(function(e) {
    // Disable links for disabled buttons
    e.preventDefault();
    return false
  });
  review_request_sent = false;
  $('#request_review').click(function(e) {
    if(review_request_sent){
      e.preventDefault();
      return false;
    } else {
      review_request_sent = true;
      $('#request_review').removeClass('enabled');
      $('#request_review').addClass('disabled');
    }
  });
</script>
