<div class="container">
  <% content_for :search_parameters do %>
    <%= select_tag("search_active", options_for_select({"active" => 1, "inactive" => 0}, params[:search_active]), :include_blank => true, :class => 'span2', :data => {:placeholder => 'Active?'}) %>
    <script>
      $('#search_active').chosen({allow_single_deselect: true});
    </script>
  <% end %>

  <%= render(:partial => "shared/versioned_objects", :object => @customer_content_specifications, 
             :locals => {:header => "Cust.content specs", :form_path => "customer_content_specifications_path"}) %>

  <div id="endless">
    <div class="row">
      <div class="offset1 span3"><strong><%= sortable 'name', 'Name' %></strong></div>
      <div class="span1"><strong><%= sortable 'content_type', 'Content type' %></strong></div>
      <div class="span1"><strong><%= sortable 'mandatory', 'Mandatory?' %></strong></div>
      <div class="span1"><strong><%= sortable 'manual', 'Use manual entry' %></strong></div>
      <div class="span1"><strong><%= sortable 'is_active', 'Is active?' %></strong></div>
      <div class="span1"><strong><%= sortable "latest_approved", "Latest Approved" %></strong></div>
      <div class="span1"><strong><%= sortable "version", "Latest Revision" %></strong></div>
      <div class="span1"><strong><%= sortable "status", "Latest Status" %></strong></div>
    </div>
    <%= render(partial: "customer_content_specification", collection: @customer_content_specifications) %>  
  </div>
  <%= will_paginate(@customer_content_specifications) %>
  <%= pageless(@customer_content_specifications.total_pages, customer_content_specifications_path, "#endless") %>
</div>
