<%= render 'show_data' %>
<div class="row">
  <div class="span11">
    <%= link_to handle_customer_content_specification_path(@customer_content_specification, :product_line_id => @product_line_id) do %>
      <i class="icon-tasks" title="handle"></i>
    <% end %>
    &nbsp;
    <%= link_to edit_customer_content_specification_path(@customer_content_specification, :product_line_id => @product_line_id) do %>
      <i class="icon-edit" title="edit"></i>
    <% end %>
    &nbsp;
    <%= link_to :back do %>
      <i class="icon-arrow-left" title="back"></i>
    <% end %>
    &nbsp;
    <% if @product_line_id.to_s.blank? %>
      <%= link_to customer_content_specifications_path do %>
        <i class="icon-arrow-up" title="overview"></i>
      <% end %>
    <% else %>
      <%= link_to product_line_path(:id => @product_line_id) do %>
        <i class="icon-arrow-up" title="overview"></i>
      <% end %>  
    <% end %>
  </div>
</div>
