<%= form_for(@release_note_attachments_product_category) do |f| %>
  <% if @release_note_attachments_product_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@release_note_attachments_product_category.errors.count, "error") %> prohibited this release_note_attachments_product_category from being saved:</h2>

      <ul>
      <% @release_note_attachments_product_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :release_note_attachment_id %><br />
    <%= f.number_field :release_note_attachment_id %>
  </div>
  <div class="field">
    <%= f.label :product_category_id %><br />
    <%= f.number_field :product_category_id %>
  </div>
  <div class="field">
    <%= f.label :mandatory_yn %><br />
    <%= f.check_box :mandatory_yn %>
  </div>
  <div class="field">
    <%= f.label :removed_yn %><br />
    <%= f.check_box :removed_yn %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
