<h1>Editing release_note_attachments_product_category</h1>

<%= render 'form' %>

<%= link_to 'Show', @release_note_attachments_product_category %> |
<%= link_to 'Back', release_note_attachments_product_categories_path %>
