<h1>Listing release_note_attachments_product_categories</h1>

<table>
  <tr>
    <th>Release note attachment</th>
    <th>Product category</th>
    <th>Mandatory yn</th>
    <th>Removed yn</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @release_note_attachments_product_categories.each do |release_note_attachments_product_category| %>
  <tr>
    <td><%= release_note_attachments_product_category.release_note_attachment_id %></td>
    <td><%= release_note_attachments_product_category.product_category_id %></td>
    <td><%= release_note_attachments_product_category.mandatory_yn %></td>
    <td><%= release_note_attachments_product_category.removed_yn %></td>
    <td><%= link_to 'Show', release_note_attachments_product_category %></td>
    <td><%= link_to 'Edit', edit_release_note_attachments_product_category_path(release_note_attachments_product_category) %></td>
    <td><%= link_to 'Destroy', release_note_attachments_product_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Release note attachments product category', new_release_note_attachments_product_category_path %>
