<p id="notice"><%= notice %></p>

<p>
  <b>Release note attachment:</b>
  <%= @release_note_attachments_product_category.release_note_attachment_id %>
</p>

<p>
  <b>Product category:</b>
  <%= @release_note_attachments_product_category.product_category_id %>
</p>

<p>
  <b>Mandatory yn:</b>
  <%= @release_note_attachments_product_category.mandatory_yn %>
</p>

<p>
  <b>Removed yn:</b>
  <%= @release_note_attachments_product_category.removed_yn %>
</p>


<%= link_to 'Edit', edit_release_note_attachments_product_category_path(@release_note_attachments_product_category) %> |
<%= link_to 'Back', release_note_attachments_product_categories_path %>
