<%= form_for(@packing_specification, :html => {:id => 'packing_specification'}) do |f| %>
  <br/>
  <div class="row">
    <div class="span12 well">
      <div class="row">
        <div class="span11 bounded">
          <div class="row">
            <div class="span7">
              <h4><%= @heading %></h4>
            </div>
            <div class="span1 headertext">
              <strong>Revision</strong> <%= @packing_specification.version + 1 %>
            </div>
            <div class="span1 headertext">
              <strong>Status</strong>
            </div>
            <div class="span2 headertext">
              <%= @packing_specification.status %>
            </div>
            <%= f.hidden_field :bug_tracker_id %>
            <%= f.hidden_field :comment %>
          </div>
          <% if @packing_specification.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@packing_specification.errors.count, "error") %> prohibited this packing specification from being saved:</h2>

              <ul>
                <% @packing_specification.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="span11 bounded">
          <div class="row">
            <div class="span2"><strong>Name</strong></div>
            <div class="span3"><%= f.text_field :name, class: 'span3' %></div>
            <div class="span2"><strong>Packing manually?</strong></div>
            <div class="span1"><%= f.check_box :manual_yn %></div>
          </div>
          <div class="row">
            <div class="span2"><strong>Description</strong></div>
            <div class="span9"><%= f.text_area :description, rows: 3, class: "span9" %></div>
          </div>  
          <div class="row" id="run_script">
            <div class="span2"><strong>Packing script</strong></div>
            <div class="span9"><%= f.text_area :run_script, rows: 6, class: "span9" %></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="span11 bounded">
          <h5>Automatic scheduling data</h5>
          <div class="row">
            <div class="span2">
              <strong>Schedule only manual</strong>
            </div>
            <div class="span3">
              <%= f.check_box :schedule_manual %>
            </div>
            <div class="span3">
              <strong>Base memory (MB)</strong>
            </div>
            <div class="span2">
              <%= f.number_field :schedule_memory_base, class: "span1" %>
            </div>
          </div>
          <div class="row">
            <div class="span2">
              <strong>Use machine exclusively</strong>
            </div>
            <div class="span3">
              <%= f.check_box :schedule_exclusive %>
            </div>
            <div class="span3">
              <strong>Memory times size input files</strong>
            </div>
            <div class="span2">
              <%= f.number_field :schedule_memory_times_input, class: "span1" %>
            </div>
          </div>
          <div class="row">
            <div class="span2">
              <strong>Virtual machine allowed</strong>
            </div>
            <div class="span3">
              <%= f.check_box :schedule_allow_virtual %>
            </div>
            <div class="span3">
              <strong>Base diskspace (MB)</strong>
            </div>
            <div class="span2">
              <%= f.number_field :schedule_diskspace_base, class: "span1" %>
            </div>
          </div>
          <div class="row">
            <div class="span2">
              <strong>Number of cores</strong>
            </div>
            <div class="span3">
              <%= f.number_field :schedule_cores, class: "span1" %>
            </div>
            <div class="span3">
              <strong>Diskspace times size input files</strong>
            </div>
            <div class="span2">
              <%= f.number_field :schedule_diskspace_times_input, class: "span1" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <button class="btn btn-primary pull-right" id="form-submit" type="button">Save</button>
    </div>
  </div>
<% end %>


<script type="text/javascript">
  $('#status').chosen();
  $('#form-submit').click(function(){
    $("#packing_specification").submit();
  });
</script>
