<div class="row">
  <div class="span12 bounded">
    <div class="accordion" id="accordion1">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion1" name="history" href="#history-object"><h5>History</h5></a>
      <div id="history-object" class="accordion-body collapse">
        <div class="accordion-inner">
          <%= javascript_include_tag 'json-diff' %>
          <%= javascript_include_tag 'jsond' %>
          <%= stylesheet_link_tag "json-diff", :media=> "all" %>
          <% require 'DifferHistory' %>
          <% Differ.format = DifferHistory %>

          <% old_name = "" %>
          <% old_manual_yn = nil %>
          <% old_description = "" %>
          <% old_run_script = "" %>
          <% old_schedule_manual = true.to_s %>
          <% old_schedule_exclusive = "" %>
          <% old_schedule_allow_virtual = "" %>
          <% old_schedule_cores = "" %>
          <% old_schedule_memory_base = "" %>
          <% old_schedule_memory_times_input = "" %>
          <% old_schedule_diskspace_base = "" %>
          <% old_schedule_diskspace_times_input = "" %>

          <% @packing_specification.versions.each do |packing_specification_version| %>
            <hr>
            <div class="row">
              <div class="span2"><%= "#{packing_specification_version.version} (#{packing_specification_version.status})" %>&nbsp;</div>
              <div class="span2"><%= packing_specification_version.updated_by %>&nbsp;</div>
              <div class="span2"><%= packing_specification_version.updated_at.to_s %>&nbsp;</div>
              <div class="span1"><%= link_to_if(packing_specification_version.bug_tracker_id, packing_specification_version.bug_tracker_id, "#{ConfigParameter.get("cr_tool_url")}#{packing_specification_version.bug_tracker_id}") %>&nbsp;</div>
              <div class="span4"><%= packing_specification_version.comment %>&nbsp;</div>
            </div>

            <div class="row history">
              <div class="offset1 span2"><strong>Name</strong></div>
              <% new_name = packing_specification_version.name %>
              <div class="span8 <%= history_class old_name, new_name %>">
                <%= history_string old_name, new_name %>
              </div>
              <% old_name = new_name %>
            </div>

            <div class="row history">
              <div class="offset1 span2"><strong>Package manually?</strong></div>
              <% new_manual_yn = packing_specification_version.manual_yn %>
              <div class="span8 <%= history_class old_manual_yn, new_manual_yn %>">
                <%= history_string old_manual_yn, new_manual_yn %>
              </div>
              <% old_manual_yn = new_manual_yn %>
            </div>

            <div class="row history">
              <div class="offset1 span2"><strong>Description</strong></div>
              <% new_description = packing_specification_version.description.to_s %>
              <div class="span8">
                <%= simple_format raw Differ.diff_by_word(new_description, old_description) %>
              </div>
              <% old_description = new_description %>
            </div>

            <div class="row history">
              <div class="offset1 span2"><strong>Run script</strong></div>
              <% new_run_script = packing_specification_version.run_script.to_s %>
              <div class="span8">
                <% puts raw Differ.diff_by_word(new_run_script, old_run_script) %>
                <%= simple_format raw Differ.diff_by_word(new_run_script, old_run_script) %>
              </div>
              <% old_run_script = new_run_script %>
            </div>

            <hr>
            <div class="row">
              <div class="span9"><strong>Automatic scheduling data</strong></div>
            </div>

            <div class="row history">
              <div class="offset1 span2"><strong>Schedule only manual</strong></div>
              <% new_schedule_manual = packing_specification_version.schedule_manual.to_s %>
              <div class="span8 <%=  history_class old_schedule_manual, new_schedule_manual %>">
                <%= history_string old_schedule_manual, new_schedule_manual %>
              </div>
              <% old_schedule_manual = new_schedule_manual %>
            </div>

            <div class="row history">
              <div class="offset1 span2"><strong>Use machine exclusively</strong></div>
              <% new_schedule_exclusive = packing_specification_version.schedule_exclusive %>
              <div class="span8 <%=  history_class old_schedule_exclusive, new_schedule_exclusive %>">
                <%= history_string old_schedule_exclusive, new_schedule_exclusive %>
              </div>
              <% old_schedule_exclusive = new_schedule_exclusive %>
            </div>

            <div class="row history">
              <div class="offset1 span2"><strong>Virtual machine allowed</strong></div>
              <% new_schedule_allow_virtual = packing_specification_version.schedule_allow_virtual %>
              <div class="span8 <%=  history_class old_schedule_allow_virtual, new_schedule_allow_virtual %>">
                <%= history_string old_schedule_allow_virtual, new_schedule_allow_virtual %>
              </div>
              <% old_schedule_allow_virtual = new_schedule_allow_virtual %>
            </div>

            <div class="row history">
              <div class="offset1 span2"><strong>Number of cores</strong></div>
              <% new_schedule_cores = packing_specification_version.schedule_cores %>
              <div class="span8 <%=  history_class old_schedule_cores, new_schedule_cores %>">
                <%= history_string old_schedule_cores, new_schedule_cores %>
              </div>
              <% old_schedule_cores = new_schedule_cores %>
            </div>

            <div class="row history">
              <div class="offset1 span2"><strong>Base memory (MB)</strong></div>
              <% new_schedule_memory_base = packing_specification_version.schedule_memory_base %>
              <div class="span8 <%=  history_class old_schedule_memory_base, new_schedule_memory_base %>">
                <%= history_string old_schedule_memory_base, new_schedule_memory_base %>
              </div>
              <% old_schedule_memory_base = new_schedule_memory_base %>
            </div>

            <div class="row history">
              <div class="offset1 span2"><strong>Memory times size input files</strong></div>
              <% new_schedule_memory_times_input = packing_specification_version.schedule_memory_times_input %>
              <div class="span8 <%=  history_class old_schedule_memory_times_input, new_schedule_memory_times_input %>">
                <%= history_string old_schedule_memory_times_input, new_schedule_memory_times_input %>
              </div>
              <% old_schedule_memory_times_input = new_schedule_memory_times_input %>
            </div>

            <div class="row history">
              <div class="offset1 span2"><strong>Base diskspace (MB)</strong></div>
              <% new_schedule_diskspace_base = packing_specification_version.schedule_diskspace_base %>
              <div class="span8 <%=  history_class old_schedule_diskspace_base, new_schedule_diskspace_base %>">
                <%= history_string old_schedule_diskspace_base, new_schedule_diskspace_base %>
              </div>
              <% old_schedule_diskspace_base = new_schedule_diskspace_base %>
            </div>

            <div class="row history">
              <div class="offset1 span2"><strong>Diskapce times size input files</strong></div>
              <% new_schedule_diskspace_times_input = packing_specification_version.schedule_diskspace_times_input %>
              <div class="span8 <%=  history_class old_schedule_diskspace_times_input, new_schedule_diskspace_times_input %>">
                <%= history_string old_schedule_diskspace_times_input, new_schedule_diskspace_times_input %>
              </div>
              <% old_schedule_diskspace_times_input = new_schedule_diskspace_times_input %>
            </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>