<% if packing_specification.status == 'obsolete' %>
 <% obsolete_class = 'deleted' %>
<%end%>
  <div class="row">
    <div class="span1">
      <%= render(partial: "shared/versioned_object", object: packing_specification) %>
    </div>
    <div class="span2 <%= obsolete_class %>"><%= packing_specification.name %>&nbsp;</div>
    <div class="span4 <%= obsolete_class %>"><%= packing_specification.description %>&nbsp;</div>
  
    <div class="span1 <%= obsolete_class %>"><%= packing_specification.latest_approved.version if packing_specification.latest_approved %>&nbsp;</div>
    <div class="span1 <%= obsolete_class %>"><%= packing_specification.version %>&nbsp;</div>
    <div class="span1 <%= obsolete_class %>"><%= packing_specification.status %>&nbsp;</div>
  </div>
