<%= render(:partial => "shared/versioned_object_warning", :object => @packing_specification) %>
<div class="row">
  <div class="span12 well">
    <div class="row">
      <div class="span11 bounded">
        <div class="row">
          <div class="span7">
            <h4>Packing specification <%= @packing_specification.name %></h4>
          </div>
          <div class="span2 headertext">
            <strong>Revision</strong> <%= @packing_specification.version %>
          </div>
          <div class="span1 headertext">
            <strong>Status</strong>
          </div>
          <div class="span1 headertext">
            <%= @packing_specification.status %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="span11 bounded">
        <div class="row">
          <div class="span2"><strong>Name</strong></div>
          <div class="span3"><%= @packing_specification.name %>&nbsp;</div>
          <div class="span2"><strong>Package manually?</strong></div>
          <div class="span1"><%= bootstrap_boolean(@packing_specification.manual_yn,title="yes or no") %></div>
        </div>
        <div class="row">
          <div class="span2"><strong>Description</strong></div>
          <% if @packing_specification.description.blank? %>
            <div class="span9"><%= bootstrap_boolean(false) %></div>
          <% else %>
            <div class="span9"><%= simple_format @packing_specification.description %></div>
          <% end %>
        </div>
        <div class="row">
          <div class="span2"><strong>Run script</strong></div>
          <% if @packing_specification.run_script.blank? %>
            <div class="span9"><%= simple_format bootstrap_boolean(false) %></div>
          <% else %>
            <div class="span9">
              <%= simple_format @packing_specification.run_script %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="span11 bounded">
        <h5>Automatic scheduling data</strong></h5>
        <div class="row">
          <div class="span2">
            <strong>Schedule only manual</strong>
          </div>
          <div class="span3">
            <%= bootstrap_boolean(@packing_specification.schedule_manual,title='yes or no') %>
          </div>
          <div class="span3">
            <strong>Base memory (MB)</strong>
          </div>
          <div class="span2">
            <%= @packing_specification.schedule_memory_base %>
          </div>
        </div>
        <div class="row">
          <div class="span2">
            <strong>Use machine exclusively</strong>
          </div>
          <div class="span3">
            <%= bootstrap_boolean(@packing_specification.schedule_exclusive, title='yes or no') %>
          </div>
          <div class="span3">
            <strong>Memory times size input files</strong>
          </div>
          <div class="span2">
            <%= @packing_specification.schedule_memory_times_input %>
          </div>
        </div>
        <div class="row">
          <div class="span2">
            <strong>Virtual machine allowed</strong>
          </div>
          <div class="span3">
            <%= bootstrap_boolean(@packing_specification.schedule_allow_virtual,title='yes or no') %>
          </div>
          <div class="span3">
            <strong>Base diskspace (MB)</strong>
          </div>
          <div class="span2">
            <%= @packing_specification.schedule_diskspace_base %>
          </div>
        </div>
        <div class="row">
          <div class="span2">
            <strong>Number of cores</strong>
          </div>
          <div class="span3">
            <%= @packing_specification.schedule_cores %>&nbsp;
          </div>
          <div class="span3">
            <strong>Diskspace times size input files</strong>
          </div>
          <div class="span2">
            <%= @packing_specification.schedule_diskspace_times_input %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'history' %>