<% @heading = "Editing packing specification" %>
<%= render 'form' %>
<div class="row">
  <div class="span7">
    <%= link_to packing_specification_path(@packing_specification), :class => "btn", :title => "show" do %>
      <i class="icon-eye-open"></i>
    <% end %>
    &nbsp;
    <%= link_to handle_packing_specification_path(@packing_specification), :class => "btn", :title => "handle" do %>
      <i class="icon-tasks"></i>
    <% end %>
    &nbsp;
    <%= link_to :back, :class => "btn", :title => "back" do %>
    <i class="icon-arrow-left"></i>
    <% end %>
    &nbsp;
    <%= link_to packing_specifications_path, :class => "btn", :title => "overview" do %>
      <i class="icon-arrow-up"></i>
    <% end %>
  </div>
</div>
