<%= render 'show_data' %>

<div class="row">
  <div class="span12">
    <%= link_to "Set to draft", [:draft, @packing_specification], { :class => "btn #{@packing_specification.allowed_status?("draft", @current_user.user_name) && can?(:draft, @packing_specification) ? 'enabled' : 'disabled'}", :method => :post } %>&nbsp;
    <%= link_to "Request review", [:review, @packing_specification], { :class => "btn #{@packing_specification.allowed_status?("review", @current_user.user_name) && can?(:review, @packing_specification) ? 'enabled' : 'disabled'}", :id => "request_review", :method => :post } %>&nbsp;
    <%= link_to "Approve", [:approve, @packing_specification], { :class => "btn #{@packing_specification.allowed_status?("approved", @current_user.user_name,session[:project_id]) && can?(:approve, @packing_specification) ? 'enabled' : 'disabled'}", :method => :post } %>&nbsp;
    <%= link_to "Revert to latest approved", [:revert, @packing_specification], {:class => "btn #{@packing_specification.status != "approved" && @packing_specification.latest_approved && can?(:revert, @packing_specification) ? 'enabled' : 'disabled'}", :method => :post } %>&nbsp;
    <%= link_to "Mark as obsolete", [:obsolete, @packing_specification], {:class => "btn #{@packing_specification.allowed_status?("obsolete", @current_user.user_name) && can?(:obsolete, @packing_specification) ? 'enabled' : 'disabled'}", :method => :post } %>&nbsp;
    <%= link_to "Destroy", [@packing_specification], {:class => "btn #{(@packing_specification.status.nil? || @packing_specification.status == 'new') && can?(:destroy, @packing_specification) ? 'enabled' : 'disabled'}", :method => :delete } %>
  </div>
</div>
<div class="row"><div class="span12"><hr /></div></div>
<div class="row">
  <div class="span7">
    <%= link_to @packing_specification, :class => "btn", :title => "show" do %>
      <i class="icon-eye-open"></i>
    <% end %>
    &nbsp;
    <%= link_to edit_packing_specification_path(@packing_specification), :class => "btn",:title => "edit" do %>
      <i class="icon-edit"></i>
    <% end %>
    &nbsp;
    <%= link_to :back, :class => "btn", :title => "back" do %>
      <i class="icon-arrow-left"></i>
    <% end %>
    &nbsp;
    <%= link_to packing_specifications_path, :class => "btn",:title => "overview" do %>
      <i class="icon-arrow-up"></i>
    <% end %>
  </div>
</div>
<script>
  $('a.disabled').click(function(e) {
    // Disable links for disabled buttons
    e.preventDefault();
    return false
  });
  review_request_sent = false;
  $('#request_review').click(function(e) {
    if(review_request_sent){
      e.preventDefault();
      return false;
    } else {
      review_request_sent = true;
      $('#request_review').removeClass('enabled');
      $('#request_review').addClass('disabled');
    }
  });
</script>
