<%= render(partial: "shared/versioned_objects", object: @packing_specifications, locals: {header: "Packing spec.", form_path: "packing_specifications_path"}) %>

<div id="endless">
  <div class="row">
    <div class="offset1 span2"><strong><%= sortable "name", "Name" %></strong></div>
    <div class="span4"><strong><%= sortable "description", "Description" %></strong></div>
    <div class="span1"><strong><%= sortable "latest_approved", "Latest Approved" %></strong></div>
    <div class="span1"><strong><%= sortable "version", "Latest Revision" %></strong></div>
    <div class="span1"><strong><%= sortable "status", "Latest Status" %></strong></div>
  </div>
    <%= render(:partial => "packing_specification", :collection => @packing_specifications) %>
</div>
<%= will_paginate(@packing_specifications) %>
<%= pageless(@packing_specifications.total_pages, packing_specifications_path, "#endless") %>
