<%= form_for(@file_transfer_account) do |f| %>
  <table>
    <tr>
    
  
      <% if ((controller.action_name == "new") && (@compknow)) %>
        <td><b><%= CompanyAbbr.find(@compknow).name %></b></td>
        <td><%= f.hidden_field :company_abbrs_id, :value => @compknow %></td>
        <%= hidden_field_tag :current_company, @compknow %>
      <%else %>
        <td><b>Company:</b></td> 
        <td><%= f.select :company_abbrs_id,
            CompanyAbbr.all.collect {|c| [ c.name, c.id ]} %>
        </td>
      <% end %>
  <% if (@edit_by_company) %>
      <%= hidden_field_tag :current_company, @edit_by_company %>
    <% end %>
    </tr>
    <tr>
      <td>
        <b>Transfer type:</b>
      </td>
      <td>
        <%= f.select :transfer_type,
             @file_transfer_account.transfer_types.collect {|c| [ c, c ] }, {:include_blank => true}
    %>
      </td>
    </tr>
    <tr>
      <td>
        <b>Address</b>
      </td>
    <td>&nbsp;</td></tr>
    <tr>
      <td colspan="2">
        <%= f.text_field :address, :size => 65 %>
      </td>
    </tr>
    <tr>
      <td>
        <b>User name</b>
      </td>
      <td><b>Password</b></td>
    </tr>
    <td>
      <%= f.text_field :user_name %>
    </td>
    <td>
      <%= f.text_field :password %>
    </td>
    <tr>
    
      <td colspan="2">
        <b>Remarks</b>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <%= f.text_area :remarks, :cols => 66, :rows => 6 %>
      </td>
    </tr>
    <tr>
    
      <td colspan="2">
        <b>Active</b>
      </td>
    </tr>
    <tr>
    <td>
      <% if (controller.action_name == "new") %> 
        <%= f.check_box :active, :checked => true  %>
      <% else %>
          <%= f.check_box :active, :checked => true  %>
        <% end %>
    </td>
    <td align="right">
    
        <% if (controller.action_name == "edit")%>
                  <%= f.submit "Update" %>
              <% else%>
                        <%= f.submit "Create" %>
        <% end %>
    </td>
  </table>

<% end %>
