<h1>Editing File-transfer account</h1><br />

<% if @file_transfer_account.errors.any? %>
  <ul>
    <% @file_transfer_account.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for(@file_transfer_account) do |f| %>
<%= render :partial => 'formfields' ,:object => f %>

<% end %>

<%= link_to 'Show', @file_transfer_account %> |
<%= link_to 'Back', file_transfer_accounts_path %>
