<h1>File Transfer Accounts</h1>

<table>
  <tr>
    <th>Transfer type</th>
    <th>Address</th>
    <th>User name</th>
    <th>Password</th>
    <th>Company name</th>
    <th>Active</th>
  </tr>

<% for file_transfer_account in @file_transfer_accounts %>
  <tr>
    <td><%=h file_transfer_account.transfer_type %></td>
    <td><pre><%=h file_transfer_account.address %></pre></td>
    <td><%=h file_transfer_account.user_name %></td>
    <td><%=h CompanyAbbr.find(file_transfer_account.company_abbrs_id).name %></td>
    <td><%=h file_transfer_account.active %></td>
    <td><%= link_to 'Show', file_transfer_account %></td>
    <td><%= link_to 'Edit', edit_file_transfer_account_path(file_transfer_account) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New file_transfer_account', new_file_transfer_account_path %>
