<h1>New File-transfer account</h1><br />

<% if @file_transfer_account.errors.any? %>
  <ul>
    <% @file_transfer_account.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>


<%= render :partial => 'formfields' %>


<% if (@compknow) %>
<%= link_to 'Back', edit_company_abbr_path(@compknow) %>
  <% else%>
<%= link_to 'Back', file_transfer_accounts_path %>
<% end%>