<h1> Tranfers Account for <%=h CompanyAbbr.find(@file_transfer_account.company_abbrs_id).name %></h1>
<br />
<table class="noborder">
<tr>
<td><b>Transfer type:</b></td>
<td>  
<%=h @file_transfer_account.transfer_type %>
</td>
</tr>
<tr>
<td><b>User name:</b></td>
<td>  
<%=h @file_transfer_account.address %>
</td>
</tr>
<tr>
<td><b>User name:</b></td>
<td>  
<%=h @file_transfer_account.user_name %>
</td>
</tr>
<tr>
<td><b>Password:</b></td>
<td>  
<%=h @file_transfer_account.password %>
</td>
</tr>
<tr>
<td><b>Remarks:</b></td>
<td>  
<%=h @file_transfer_account.remarks %>
</td>
</tr>
<tr>
<td><b>Active:</b></td>
<td>
  <%=h @file_transfer_account.active %>
</td>
</tr>
</table>

<%= link_to 'Edit', edit_file_transfer_account_path(@file_transfer_account) %> |
<%= link_to 'Back', file_transfer_accounts_path %>
