<div class="row" id="row_show_<%= customer_content_definition.id%>" >
  <div class="span1">
      <div class="btn-group">
        <a class="btn btn-mini dropdown-toggle btn-info" data-toggle="dropdown" href="#">
        Action
        <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to customer_content_definition_path(customer_content_definition) do %>
            <i class="icon-info-sign"></i>&nbsp;show
            <% end %>
          </li>
          <li>
            <%= link_to edit_customer_content_definition_path(customer_content_definition) do %>
            <i class="icon-edit"></i>&nbsp;edit
            <% end %>
          </li>          
          <li>
            <%= link_to customer_content_definition_path(customer_content_definition), method: :delete do %>
            <i class="icon-ban-circle"></i>&nbsp;destroy
            <% end %>
          </li>          
        </ul>
      </div>    
  </div>
  <div class="span2"><%= customer_content_definition.label %>&nbsp;</div>
  <div class="span2"><%= customer_content_definition.customer_content_specification.name if customer_content_definition.customer_content_specification %>&nbsp;</div>
  <div class="span2"><%= customer_content_definition.product_line.name if customer_content_definition.product_line %>&nbsp;</div>
  <div class="span2"><%= customer_content_definition.output_string %>&nbsp;</div>
</div>