<h4><%= @heading %></h4>

<% if @customer_content_definition.errors.any? %>
  <ul>
  <% @customer_content_definition.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>

<%= form_for(@customer_content_definition) do |f| %>
  <%= hidden_field_tag :product_line_id, @product_line_id %>
  <div class="row">
    <div class="span2"><strong>Label</strong></div>
    <div class="span2"><strong>Name</strong></div>
    <div class="span2"><strong>Product line</strong></div>
    <div class="span2"><strong>Output target</strong></div>
  </div>
  <div class="row">
    <div class="span2"><%= f.text_field :label, class: 'span2' %></div>
    <div class="span2">
      <%= select :customer_content_definition, :customer_content_specification_id, [''] + CustomerContentSpecification.all.collect {|s| [s.name, s.id]},{},
          {class: 'span2', id: 'chosen_customer_content_specification', data: { placeholder: "Select specification" } } %>
    </div>
    <div class="span2">
      <% if @product_line_id %>
        <%= ProductLine.find(@product_line_id).name %>&nbsp;
      <% else %>
        <%= select :customer_content_definition, :product_line_id, [''] + ProductLine.active?.collect {|s| [s.name, s.id]},{},
            {class: 'span2', id: 'chosen_product_line', data: { placeholder: "Select Product line" } } %>
      <% end %>
    </div>
    <div class="span2">
      <%= f.select :output_target, [''] + CustomerContentDefinition.outputhash,{},{class: 'span2'} %>
    </div>
  </div>
  <div class="row">
    <div class="span3">
      <%= f.submit "Save", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<script>
  $('#chosen_customer_content_specification').chosen();
  $('#chosen_product_line').chosen();
  $('#customer_content_definition_output_target').chosen();
</script>
