 
<div class="navbar secondnav">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand"><strong>Customer content definitions</strong></div>
      <div class="span7">
        <%= form_tag customer_content_definitions_path, method: 'get' do %>
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <div class="input-prepend input-append">
            <%= link_to "New", {action: "new"},{class: "btn btn-info"} %>
              <%= select_tag("search_product_line", options_for_select(ProductLine.all.collect {|p| [p.name, p.id]}, params[:search_product_line]),
                include_blank: true, class: 'span2', data: {placeholder: 'Product line'})
              %>
                <%= text_field_tag :search, params[:search], placeholder: " search",class: "span3" %>
                  <%= button_tag "Search", name: nil, type: :submit, class: "btn" %>
                    <%= button_tag "Reset", name: 'reset',class: "btn",type: :submit %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

  <div id="endless">
    <div class="row">
      <div class="offset1 span2"><strong><%= sortable 'label', 'Label' %></strong></div>
      <div class="span2"><strong><%= sortable 'customer_content_specifications.name', 'Name' %></strong></div>
      <div class="span2"><strong><%= sortable 'product_lines.name', 'Product line' %></strong></div>
      <div class="span2"><strong><%= sortable 'output_target', 'Output target' %></strong></div>
    </div>
    <%= render(partial: "customer_content_definition", collection: @customer_content_definitions) %>  
  </div>
  <%= will_paginate(@customer_content_definitions) %>
  <%= pageless(@customer_content_definitions.total_pages, customer_content_definitions_path, "#endless") %>


<script>
  $('#search_product_line').chosen({allow_single_deselect:true});
</script>
