<% @heading = "New Customer Content Definition" + (@product_line_id ? " for Product line " + ProductLine.find(@product_line_id).name : "") %>
<%= render 'form' %>
|
<%= link_to :back do %>
<i class="icon-arrow-left" title="back">&nbsp;</i>
<% end %>
|
<% if @product_line_id %>
  <%= link_to product_line_path(id:@product_line_id) do %>
    <i class="icon-arrow-up" title="overview">&nbsp;</i>
  <% end %>  
<% else %>
  <%= link_to customer_content_definitions_path do %>
    <i class="icon-arrow-up" title="overview">&nbsp;</i>
  <% end %>
<% end %>
|
