<div class="span7">
  <h4>Customer content definition <%= @customer_content_definition.label %></h4>
</div>
<div class="row">
  <div class="span10 bounded">
    <div class="row">
      <div class="span2"><strong>Label</strong></div>
      <div class="span2"><strong>Specification</strong></div>
      <div class="span2"><strong>Product line</strong></div>
      <div class="span2"><strong>Output target</strong></div>
    </div>
    <div class="row">
      <div class="span2"><%= @customer_content_definition.label %>&nbsp;</div>
      <div class="span2"><%= @customer_content_definition.customer_content_specification.name if @customer_content_definition.customer_content_specification %>&nbsp;</div>
      <div class="span2"><%= @customer_content_definition.product_line.name if @customer_content_definition.product_line %>&nbsp;</div>
      <div class="span2"><%= @customer_content_definition.output_string %>&nbsp;</div>
    </div>
  </div>
</div>
|
<%= link_to edit_customer_content_definition_path(@customer_content_definition, product_line_id: @product_line_id) do %>
  <i class="icon-edit" title="edit">&nbsp;</i>
<% end %>
|
<%= link_to :back do %>
  <i class="icon-arrow-left" title="back">&nbsp;</i>
<% end %>
|
<% if @product_line_id %>
  <%= link_to product_line_path(id:@product_line_id) do %>
    <i class="icon-arrow-up" title="overview">&nbsp;</i>
  <% end %>  
<% else %>
  <%= link_to customer_content_definitions_path do %>
    <i class="icon-arrow-up" title="overview">&nbsp;</i>
  <% end %>
<% end %>
|
