<div class="row">
  <div class="span11 bounded">
    <div class="row">
      <div class="span11">
        <h4 style="color:red">Internal server error</h4>
      </div>
    </div>
    <div class="row">
      <div class="span11">
        <strong>We are sorry, something went wrong. Please report this error with the content below.<br />
        You can use the buttons to select the complete text.</strong>
      </div>
    </div>
    <div class="row">
      <div class="span11"><br />
        <button class="btn btn-small" id="subjectBtn" title="click to select subject-text"><strong>Subject</strong></button>
      </div>
    </div>
    <div class="row">
      <div class="span11">
        <span id="subject"><%= @subject %></span>
      </div>
    </div>
    <div class="row">
      <div class="span11"><br />
        <button class="btn btn-small" id="detailsBtn" title="click to select details-text"><strong>Details</strong></button>
      </div>
    </div>
    <div class="row">
      <div class="span11">
        <pre class="real-pre" id="details"><%=  @details %>
        <%=  @trace %></pre>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span11">
    <%= link_to :back,:class => 'btn' do %>
      <i class="icon-arrow-left"></i>&nbsp;Back
    <% end %>
  </div>
</div>

<script type="text/javascript">
 $('#subjectBtn').click(function(){
   selectText('subject');
 });
 $('#detailsBtn').click(function(){
   selectText('details');
 });
 </script>