<div class="row">
  <div class="span5 bounded">
    <div class="row">
      <div class="span5">
        <h4 style="color:red">The page you were looking for does not exist</h4>
      </div>
    </div>
    <div class="row">
      <div class="span5">
        <small><%= @exception %></small>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span5">
    <%= link_to :back,:class => 'btn' do %>
      <i class="icon-arrow-left"></i>&nbsp;Back
    <% end %>    
  </div>
</div>




